doctype html
html
  head
    title 关于网利宝
    include include/app_header.jade
  body
    article.client-us-banner
      img(src="/static/imgs/app/about/us_banner_05_03.jpg")

    section.client-us-decs
      //img(src='/static/imgs/app/about/us_wljr.jpg').ct-us-log
      //.ct-us-dec 网利金融是一家中国领先的综合性互联网金融机构，核心业务涵盖互联网金融、投资银行、私募基金、财富管理等全金融产业链。我们的核心团队来自高盛、摩根斯坦利、美银美林、淡马锡、中金、华夏基金等国内外著名金融机构，拥有丰富的行业经验，致力于为企业及私人客户提供优质、创新、可信赖的金融服务。

      img(src='/static/imgs/app/about/us_logo.jpg').ct-us-log
      .ct-us-dec 网利宝是北京网利科技有限公司旗下的互联网金融平台。网利宝在业内创立“产融结合”的业务模式，联合中国领先的金融机构、产业龙头企业进行战略合作，不断为投资用户提供多元化、低风险、快捷方便、优质灵活的理财产品。

    section.client-us-company
      .ct-company-title
        span.tit-blue
        span.tit-text 公司展示
      img(src="/static/imgs/app/about/us_huanjing.png").ct-company-mg.ct-company-img
      img(src="/static/imgs/app/about/us_build.jpg").ct-company-img

      .ct-company-title
        span.tit-blue
        span.tit-text 网利宝分布图
      img(src="/static/imgs/app/about/us_map.jpg").ct-company-img-map
      .ct-compant-adress 北京 | 上海 | 天津 | 沈阳 | 鞍山 | 石家庄 | 西安 | 郑州 | 武汉 | 长沙 | 南京 | 莆田 | 仙游 | 广州 | 深圳 | 贵阳 | 昆明 | 海口
        br
        |....
    include include/discover_footer