.area-item.area-milepost
  mixin list()
    .area-list
      .area-ac-head 网利宝B轮融资携手IDG
      .area-ac-banner
        img(src='/static/imgs/app/area/default_banner.png')
      .area-ac-milepost-footer
        .area-milepost-time 2015-10-08
        .area-milepost-link 立即查看
  +list()
  +list()
  +list()
  +list()
  +list()

