doctype html
html(style='background:#f5f5f5;')
  head
    title 发现活动
    include include/app_header.jade
  body(style='overflow:hidden')
    .area-warp
      .area-nav
        nav.tab-nav
          ul
            li.active
              a(href="javascript:void(0)") 最新活动
            li
              a(href="javascript:void(0)") 里程碑
          .slide-bottom

      .swiper-container.area-container
        .swiper-wrapper
          .area-latest.swiper-slide.area-scroll
            .area-item.area-latest-push
              include include/ajax/ajax_area_latest
            .area-latest-more
              .area-latest-btn 查看更多
          .area-milepost.swiper-slide.area-scroll
            .area-item.area-milepost-push
              include include/ajax/ajax_area_milepost
              .area-milepost-more 查看更多

    // banner javascript
    script(src="/static/scripts/mobile/swiper/swiper.min.js")
    script(src='/static/scripts/app/area.js', data-init='area')
    script.
      var myswiper = new Swiper('.swiper-container', {
          loop: false,
          lazyLoading: false,
          onSliderMove: function (swiper) {
            var translateX = -(swiper.getWrapperTranslate()/2)
            $('.slide-bottom').css('-webkit-transform', 'translate3d('+translateX+'px, 0, 0)')
          },
          onTouchEnd: function(swiper){
            var translateX = 100 * swiper.activeIndex + '%';
            $('.slide-bottom').css('-webkit-transform', 'translate3d('+translateX+', 0, 0)')
          },
          onSlideChangeStart: function(swiper){
            var translateX = 100 * swiper.activeIndex + '%';
            $('.slide-bottom').css('-webkit-transform', 'translate3d('+translateX+', 0, 0)')
          }
      });
      $('.tab-nav li').on('touchend click', function(){
        var index = $(this).index();
        $(this).addClass('active').siblings().removeClass('active')
        myswiper.slideTo(index, 400);
      });
