doctype html
html(style='background:#f5f5f5;')
  head
    title 发现活动
    include include/app_header.jade
  body
    .area-warp
      .area-nav
        nav.tab-nav
          ul
            li.active
              a(href="javascript:void(0)") 最新活动
            li
              a(href="javascript:void(0)") 大事记
          .slide-bottom

      .area-container
        .area-latest.area-scroll
          .area-item.area-latest-push
            include include/ajax/ajax_area_latest
          if page < all_page
            .area-latest-more
              .area-latest-btn 查看更多
        .area-milepost.area-scroll(style='display:none;')
          .area-item.area-milepost-push
            .area-milepost-loading.unactivty 加载中..
            //include include/ajax/ajax_area_milepost
          .area-milepost-more(style='display:none')
            .area-milepost-btn 查看更多

    // banner javascript
    script(src='/static/scripts/app/dist/area.js?v=20151218', data-init='area')


