doctype html
html(style='background:#f5f5f5;')
  head
    title 发现活动
    include include/app_header.jade
  body
    .area-warp
      .area-nav
        nav.tab-nav
          ul
            li.active
              a(href="/api/m/explore/") 最新活动
            li
              a(href="/api/m/milepost/") 大事记
          //.slide-bottom

      .swiper-container.area-container
        .swiper-wrapper
          .area-latest.swiper-slide.area-scroll
            .area-item.area-latest-push
              include include/ajax/ajax_area_latest
            if page < all_page
              .area-latest-more
                .area-latest-btn 查看更多


    script(src='/static/scripts/app/dist/area.js?v=20151214', data-init='area')

