-load formatters
doctype html
html(style='background: #FFE9D0')
  head
    include include/app_header.jade
  body

    img(src='/static/imgs/app/checkin/banner.jpg').check-in-banner


    section.check-in-operation
      .checkin-op-status
        i.checkin-op-icon.icon-status
        .checkin-op-dec
          include include/app_loading
          //.op-dec-title 今日已签到
          //.op-dec-detail.op-detail-orange ＋800体验金

      .checkin-op-share
        i.checkin-op-icon.icon-share
        .checkin-op-dec
          include include/app_loading
          //.op-dec-title 今日未分享
          //.op-dec-detail 分享得双倍
    section.check-in-bar
      .bar-layout
        .bar-content 距离神秘礼包还有4天
        .bar-before
        .bar-after

    section.check-in-process
      include include/app_loading
      .check-in-process-line
      .check-in-flag-lists
        mixin items(day, active)
          .flag-items(class=active)
            .circle-item-warp
              .circle-item
                .circle-min
                .circle-animate
                .check-in-flag
            .text-item=day

        +items('1天', 'active-did')
        +items('2天', 'active-did')
        +items('3天', 'active-did active-doing')
        +items('4天', '')
        +items('5天', '')
        +items('6天', '')
        +items('7天', 'active-gift')
    section.check-in-rules-layout
      .check-rules-title 详细规则:
      .check-rules-detail  GIF 图片作为一种主流的文件格式，贯穿于我们的生活。由于其体积小巧，又以动态图片的形式展示，GIF 图片被广泛用于即时通讯以及社交网络之中，最常见的就是各种搞笑的表情包。
      .check-rules-detail  但是，GIF 图片的应用场景绝不仅限于此，对大多人来说它更多是娱乐用途，而对于像我这样经常需要在文章穿插应用演示图的写作者来说，GIF 动态演示无疑是最直观的方式。可这样的 GIF 展示往往需要保证图像质量，更好的画质意味着更大的体积，这不利于读者的阅读体验。因此，我对 GIF 制作有着更高的需求，我需要兼顾文章里 GIF 图的画质和体积，这并不容易。

    section.check-in-alert-layout
      .check-alert-mask
        .check-alert-body
          .check-body-overflow-icon.overflow-gift
          img(src='/static/imgs/app/checkin/alert_leo.png').check-body-leo
          .check-body-gift-information 今日签到成功！获得888元体验金
          .check-body-where-information 在(我的账户－体验金)中查看
          .check-body-opeartion-btn 我知道了

    script(src="/static/src/mobile/lib/weixin/wx.js")
    script(src='/static/scripts/app/check_in.js?v=2015122181')


