doctype html
html
  head
    title 关于网利宝
    include include/app_header.jade
  body
    article.client-us-banner
      img(src="/static/imgs/app/about/us_banner.jpg")

    section.client-us-decs
      img(src='/static/imgs/app/about/us_wljr.jpg').ct-us-log
      .ct-us-dec 网利金融是一家创新型的多元化互联网金融机构，目标发展成为中国领先的综合性新型金融服务品牌，核心业务涵盖互联网金融、投资银行、私募基金、财富管理等全金融产业链。我们的核心团队来自高盛、摩根斯坦利、美银美林、淡马锡、中金、华夏基金等国内外著名金融机构，拥有丰富的行业经验，致力于为客户提供优质、创新的金融服务。

      img(src='/static/imgs/app/about/us_logo.jpg').ct-us-log
      .ct-us-dec 网利宝（www.wanglibao.com）是网利金融旗下的在线理财平台，中国第一家互联网私人银行。网利宝凭借丰富的金融行业经验及互联网优势，联合中国领先的金融机构及产业龙头企业产融结合战略合作，为投资用户提供高收益、安全透明、期限灵活的理财产品。网利宝的金融产品研发团队目前已经涵盖全国十余个省市，全方位执行360度风险控制，确保我们的理财产品安全可靠，为投资者的财富增值保驾护航。

    section.client-us-company
      .ct-company-title
        span.tit-blue
        span.tit-text 公司展示
      img(src="/static/imgs/app/about/us_huanjing.png").ct-company-mg.ct-company-img
      img(src="/static/imgs/app/about/us_build.jpg").ct-company-img

      .ct-company-title
        span.tit-blue
        span.tit-text 网利金融分公司布局图
      img(src="/static/imgs/app/about/us_map.jpg").ct-company-img-map
      .ct-compant-adress 北京｜上海｜天津｜沈阳｜鞍山｜石家庄｜西安｜郑州｜武汉 | 长沙｜南京｜莆田｜仙游｜广州｜深圳｜贵阳｜昆明｜海口
        br
        |....
    include include/discover_footer