-load formatters
doctype html
html
  head
    title 年终奖
    include include/app_header.jade
  body
    section.client-praise-body
      .client-praise-sumbit-warp
        .client-praise-submit 立即领取

    section.praise-mask-warp
      img(src='/static/imgs/app/praise/mask.png?v=20150202').praise-mask-body
    script(src="/static/scripts/mobile/swiper/swiper.min.js")
    script(src="/static/scripts/component/dist/webview.js")
    script(src='/static/scripts/app/praise.js?v=25228221')

