-load formatters
doctype html
html(style='background: #4e7cda')
  head
    include include/app_header.jade
    style.
      .display-dec{
        color: #fff;
        font-size: .7rem;
        text-align: center;
        margin: 4rem;
      }
  body
    .display-dec 新版攻略，敬请期待！