doctype html
html(style='background:#f5f5f5;')
  head
    title 发现活动
    include include/app_header.jade
  body
    .area-warp
      .area-nav
        nav.tab-nav
          ul
            li
              a(href="/api/m/explore/") 最新活动
            li.active
              a(href="/api/m/milepost/") 大事记
          //.slide-bottom

      .area-container
        .area-milepost.swiper-slide.area-scroll
          .area-item.area-milepost-push
            include include/ajax/ajax_area_milepost
          if page < all_page
            .area-milepost-more
              .area-milepost-btn 查看更多

    script(src='/static/scripts/app/dist/area.js?v=20151214', data-init='milepost')
