-load formatters
doctype html
html(style='background: #FFE9D0')
  head
    title 签到
    include include/app_header.jade
    script(src='/static/scripts/mobile/fast/rogue.js')
    script.
      if("addEventListener" in document){document.addEventListener("DOMContentLoaded",function(){var a=Origami.fastclick;a(document.body)},false)};
  body

    img(src='/static/imgs/app/checkin/banner.jpg').check-in-banner


    section.check-in-operation
      .checkin-op-status
        i.checkin-op-icon.icon-status
        .checkin-op-dec.checIn-status
          include include/app_loading
          .op-dec-title
          .op-dec-detail.op-detail-orange.flipInX

      .checkin-op-share
        i.checkin-op-icon.icon-share
        .checkin-op-dec.share-status
          include include/app_loading
          .op-dec-title
          .op-dec-detail.op-detail-blue.flipInX
    section.check-in-bar
      .bar-layout
        .bar-content 距离神秘礼包还有天
        .bar-before
        .bar-after

    section.check-in-process
      include include/app_loading

    section.check-in-rules-layout
      .check-rules-title 详细规则:
      .check-rules-detail  1.每天签到领体验金，金额随机
      .check-rules-detail  2.分享后点击返回网利宝，体验金方可翻倍
      .check-rules-detail  3.连续签到每满7天，可拆一次体验金礼包
      .check-rules-detail  4.连续签到每满28天，可拆一次神秘大礼包

    section.check-in-alert-layout
      .check-alert-mask
        .check-alert-body
          #check-body-overflow-icon.overflow-gift
          img(src='/static/imgs/app/checkin/alert_leo.png').check-body-leo
          .check-body-gift-information 今日签到成功！获得888元体验金
          .check-body-where-information 在(我的账户－体验金)中查看
          .check-body-opeartion-btn 我知道了


    script(src="/static/scripts/component/webview.js?v=2222")
    script(src='/static/scripts/app/check_in.js?v=2016022315')


