//
   Created by zhanghe on 15-7-15.

-load formatters
doctype html
html
  head
  include include/admin_head_meta
  body(role="document")
    include include/admin_menu
    #wrapper
      nav.navbar.navbar-default.navbar-static-top(role="navigation", style="margin-bottom:0px")
        .navbar-header
          a.navbar-brand(href="?") 网利宝统计数据
        - with '查询和设置推荐标的' as activeItem
        include include/admin_menu
        - endwith
      #page-wrapper
        .row
          .col-lg-12
            h1.page-header 推荐标的
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading 推荐中
                if messages
                  for message in messages
                    h3(style="text-align: center; color: red;") {{ message }}
              .panel-body
                .row
                  form.navbar-form.navbar-left(method="POST" action='/{{ "" | admin_address}}/app/recommend_manager')
                    - csrf_token
                    .form-group
                      input(type="text",name="product_id",placeholder="标的id").form-control
                    .form-group
                      button(type="submit", name="manager", value='add').btn.btn-primary 增加
                .table-responsive
                  table.table.table-striped.table-bordered.table-hover
                    thead
                      tr
                        th(rowspan="1") 标id
                        th(rowspan="1") 标名
                        th(rowspan="1") 额度
                        th(rowspan='1') 操作
                    tbody
                      for p2p in p2p_list
                        tr
                          td {{ p2p.id }}
                          td {{ p2p.name }}
                          td {{ p2p.total_amount }}
                          td
                            form(method="POST" action='/{{ "" | admin_address}}/app/recommend_manager')
                              - csrf_token
                              input(type="hidden",name="product_id",value="{{p2p.id}}").form-control
                              button(type="submit", name="manager", value="del").btn.btn-primary 删除
