- load formatters
doctype html
head
    - with '还款计划计算器' as title
    include include/common_head
    - endwith
    body
        .panel
            .well
                .panel-title-bar__no-border
                    .panel-title 还款计划计算器
                .space-vertical-s
                .panel-content.padding-l-r-sm
                    .space-vertical-l
                    a(href='/{{ "" | admin_address}}')
                        button.button-home-action(type='submit') 返回
                    .space-vertical-l
                    .space-vertical-l
                    .row
                        form.form.span5(method="GET" action='')
                            .form-row
                                .span3(style="line-height:40px")
                                  label 还款方式
                                .span9-omega
                                  select(name="paymethod")
                                    option(value=0) 等额本息
                                    option(value=1) 按月付息到期还本
                                    option(value=2) 到期还本付息
                                    option(value=3) 按季度付息
                            .form-row
                                .span3(style="line-height:40px")
                                  label 借款总额
                                .span9-omega
                                  input(type="text", name="amount", placeholder="请输入借款总额")
                            .form-row
                                .span3(style="line-height:40px")
                                  label 还款期数
                                .span9-omega
                                  input(type="text", name="period", placeholder="请输入还款期数")
                            .form-row
                                .span3(style="line-height:40px")
                                  label 年化率
                                .span9-omega
                                  input(type="text", name="period", placeholder="请输入年化率（13 表示13%）")
                            .form-row
                                button#validate_id_button.button-primary.prefix3.span9-omega(type="submit") 查询
