- load formatters

doctype html

html
  head
    title p2p 产品审核页面
    include include/common_head

  body
    .container
      .panel
        .panel-title-bar
          .panel-title 产品详情

        table.table
          thead
            tr
              th 名字
              th 产品总金额
              th 产品已募集金额

          tbody
            tr
              td {{p2p.name}}
              td {{p2p.total_amount}}
              td {{p2p.ordered_amount}}

    .panel
      .panel-title-bar
        .panel-title 动作
      .well
        form(method="POST", action="{{request.url}}").pull-left
          -csrf_token
          button.button-primary(type="submit") 审核通过

        a.button-primary.margin-left-m(href='/{{ "" | admin_address}}/wanglibao_p2p/p2pproduct/') 返回
