- load formatters

doctype html

html
  head
    title p2p 产品审核页面
    include include/common_head

  body
    .container

      .panel
        .panel-title-bar
          .panel-title 用户还款计划详情
          h2 {{p2p_amortization.term_date | date:"Y-m-d"}} &nbsp;&nbsp;
        table.table
          thead
            tr
              th 用户id
              th 用户手机号
              th 姓名
              th 身份证
              th 本金
              th 利息
              th 罚息
          tbody
            for user_amort in user_amortizations
              tr
                td {{user_amort.user.id}}
                td {{user_amort.user.wanglibaouserprofile.phone}}
                td {{user_amort.user.wanglibaouserprofile.name}}
                td {{user_amort.user.wanglibaouserprofile.id_number}}
                td {{user_amort.principal}}
                td {{user_amort.interest}}
                td {{user_amort.penal_interest}}

