-load formatters
product = equity.product
doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title 应收账款转让及回购协议
    style.
      h1 {
        text-align: center;
      }
      h2 {
        margin-top: 1em;
        text-align: center;
      }
      table{
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%
      }
      td{
        border: 1px solid lightgray;
        text-align: center;
        height: 40px;
      }
      li{
        padding-left: 1em;
        margin-left: 1em;
        line-height: 2;
      }
      ul{
        list-style: none;
        padding-left: 0;
      }
      ul>li{
        padding-left: 0;
        margin-left: 0;
      }
  body
    h1 应收账款转让及回购协议({{product.contract_serial_number}})
    p 甲方（投资人）：
    table
      tbody
        tr
          td 网利宝用户名
          td 投资金额
          td 应收账款转让期限
        equities = equity.product.equities.all()
        for e in equities
          tr
            if e.user.id == equity.user.id
              td {{e.user.wanglibaouserprofile.phone}}
            else
              td {{e.user | safe_phone}}
            td ￥{{ e.equity }}元
            td {{ e.product.period }}个月
        tr
          td 合计
          td ￥{{ equity.product.total_amount }}元
          td ——
    br
    p 乙方（转让人）：{{ product.borrower_name }}
    p 身份证号/法定代表人：{{ product.borrower_id_number }}
    p 地址：{{ product.borrower_address }}
    br
    p 丙方（见证方/服务方）：北京网利科技有限公司
    p 法定代表人：杨华
    p 地址：北京市海淀区花园路5号2幢二层215室
    br
    p 现经以上各方协商一致，于{{now|date:"【Y】年【m】月【d】日"}}签订协议，约定如下：
    p 鉴于：
    ol
      li 丙方系一家合法设立并有效存续的有限责任公司，依法运营管理“网利宝平台”（包括但不限于网利宝网站——网址：www.wanglibao.com；网利宝移动APP客户端），有权以网利宝平台为媒介为具有应收账款转让需求的企业和具有自有闲散资金的自然人提供订立应收账款转让及回购协议的居间服务。
      li 乙方系在网利宝平台注册的具有完全民事行为能力的法人，其具有应收账款转让需求并在网利宝平台发布应收账款转让信息。
      li 甲方系在网利宝平台注册的具有完全民事行为能力的自然人，其具有合法所得的自有闲散资金，并在网利宝平台寻求机会。
      li 乙方有应收账款转让需求，甲方亦同意应收账款转让，双方有意成立应收账款转让关系。
    h2 第一条   定义
    p 如上下文无其他解释，本文相关定义如下：
    ol
      li 原债权人：指基于基础交易而取得债权的独立法人。
      li 原债务人：指基于接受基础交易中的服务或货物而应当支付对价的独立法人。
      li 保理公司/应收账款转让人：指在工商管理部门登记的，拥有商业保理资质的独立法人，即乙方。
      li 基础交易关系：指原债权人与原债务人签署的编号为【{{product.baoli_original_contract_number}}】的【{{product.baoli_original_contract_name}}】而建立的【{{product.baoli_trade_relation}}】交易关系。
      li 保理合同：指原债权人与乙方签署的编号为【{{product.baoli_original_contract_number}}】的【{{product.baoli_original_contract_name}}】，约定由乙方为原债权人提供国内保理服务。
      li 投资人/应收账款受让人：指受让保理公司保理的应收账款的合格投资人，即甲方。
      li 转让价款支付日：指甲方向乙方支付本协议项下应收账款转让价款之日，为本协议成立之日的次日（如遇法定节假日，顺延至节后第一个工作日）。
      li 回购日：指乙方根据本协议第四条约定，应当向甲方支付回购价款之日。
      li 转让价款：指甲方应向乙方支付的应收账款转让金额之和。
      li 回购价款：指乙方应向甲方支付的应收账款回购金额之和，回购价款=转让价款+收益。
      li 逾期回购：指乙方违反本协议第四条之约定，超过回购日3个自然日未向甲方支付收益及/或转让价款的情形。
      li 甲方账户：指甲方通过在网利宝平台注册而获得的网利宝平台虚拟资金账户，该账户作为虚拟资金账户。该账户专门用于甲方在网利宝平台进行充值、出借、收款、提现等资金操作。
      li 乙方账户：指乙方用于接收本协议项下应收账款转让价款以及支付本协议项下回购价款的资金账户。乙方授权并委托丙方以乙方之名义在第三方支付平台开设的资金托管账户，作为乙方账户。
      li 保密信息提供方：指为签署及履行本协议，向本协议其他一方或多方提供保密信息的一方当事人。
      li 保密信息接收方：指为签署及履行本协议，从保密信息提供方处接收保密信息的一方当事人。
    h2 第二条    应收账款转让基本信息
    ol
      li 应收账款转让价款：共计人民币[{{product.total_amount | number_to_chinese}}]（￥[{{product.total_amount}}]）。（若甲方投资人为多人的，各投资人受让的应收账款对应的转让价款数额详见本协议文首表格投资金额）
      li 应收账款转让期限：[{{product.period}}]个月，自{{now|date:"【Y】年【m】月【d】日"}}至{{now|add_months:product.period|date:"【Y】年【m】月【d】日"}}止。
      li 应收账款回购年化收益率：回购价款溢价率为年化[{{product.expected_earning_rate}}]%。月收益率=年化收益率/12，日收益率=年化收益率/365。
    h2 第三条    应收账款转让价款支付
    ol
      li 甲方应按本协议约定的转让价款支付日将足额的应收账款转让价款支付给乙方。
      li 甲方授权并委托丙方通过第三方支付平台下发支付指令，从甲方账户向乙方账户按时足额划转应收账款转让价款。
      li 本协议项下，资金划转的手续费（包括但不限于第三方支付平台、银行）由乙方承担。
    h2 第四条    应收账款回购 
    ol
      li 回购资金来源：[{{product.repaying_source}}]
      li
        if product.pay_method == '按月付息'
          p 还款方式及计划：本协议项下的借款采用以下第[1]种还款方式：
        if product.pay_method == '按季度付息'
          p 还款方式及计划：本协议项下的借款采用以下第[2]种还款方式：
        if product.pay_method == '到期还本付息'
          p 还款方式及计划：本协议项下的借款采用以下第[3]种还款方式：
        ul
          li （1）按月付息，应收账款转让到期一次性支付转让价款。
            p ①乙方每月应还收益=转让价款×月收益率。
            p ②收益分期次数为[{{product.amortization_count}}]次，当期回购日为自{{now|date:"【Y】年【m】月【d】日"}}起，每月{{now|date:"【d】日"}}（若当月没有该日，则当期回购日为当月最后一天；若当期回购日遇法定节假日的，顺延至节后第一个工作日）。
            table
              thead
                tr
                  td 借款期数
                  td 还款日期
                  td 还款本息
                  td 还款本金
                  td 还款利息
              tbody
                if product.pay_method == '按月付息'
                  amortizations = equity.amortizations.all()
                  for amortization in amortizations
                    tr
                      td 第{{amortization.term}}期
                      td {{amortization.term_date|date:"Y年m月d日"}}
                      total = amortization.principal + amortization.interest
                      td ￥{{total}}元
                      td ￥{{amortization.principal}}元
                      td ￥{{amortization.interest}}元
                else
                  td(colspan=5)
          li （2）按季度付息，应收账款转让到期一次性支付转让价款。
            p ①乙方每季度应还收益=转让价款×月收益率×3。
            p ②回购分期次数为[{{product.amortization_count}}]次，当期回购日为自{{now|date:"【Y】年【m】月【d】日"}}起，每三个月的最后一个月的{{now|date:"【d】日"}}（若当月没有该日，则当期回购日为当月最后一天；若当期回购日遇法定节假日的，顺延至节后第一个工作日）。
            table
              thead
                tr
                  td 借款期数
                  td 还款日期
                  td 还款本息
                  td 还款本金
                  td 还款利息
              tbody
                if product.pay_method == '按季度付息'
                  amortizations = equity.amortizations.all()
                  for amortization in amortizations
                    tr
                      td 第{{amortization.term}}期
                      td {{amortization.term_date|date:"Y年m月d日"}}
                      total = amortization.principal + amortization.interest
                      td ￥{{total}}元
                      td ￥{{amortization.principal}}元
                      td ￥{{amortization.interest}}元
                else
                  td(colspan=5)
          li （3）应收账款转让到期一次性支付转让价款及收益。
            p ①乙方到期时应付转让价款及收益=转让价款+转让价款×月收益率×应收账款转让月数
            p ②当期回购日为{{now|add_months:product.period|date:"【Y】年【m】月【d】日"}}。
            table
              thead
                tr
                  td 借款期数
                  td 还款日期
                  td 还款本息
                  td 还款本金
                  td 还款利息
              tbody
                if product.pay_method == '到期还本付息'
                  amortizations = equity.amortizations.all()
                  for amortization in amortizations
                    tr
                      td 第{{amortization.term}}期
                      td {{amortization.term_date|date:"Y年m月d日"}}
                      total = amortization.principal + amortization.interest
                      td ￥{{total}}元
                      td ￥{{amortization.principal}}元
                      td ￥{{amortization.interest}}元
                else
                  td(colspan=5)
      li 乙方授权并委托丙方通过第三方支付平台下发支付指令，从乙方账户向甲方账户按时足额的划转当期应付收益和/或其他各项费用给甲方和/或丙方。
      li 乙方支付的各项费用（如有）均应按照如下顺序清偿：
        ul
          li （1）提前回购违约金-丙方部分；
          li （2）提前回购违约金-甲方部分；
          li （3）逾期回购违约金；
          li （4）逾期管理费；
          li （5）逾期回购价款-收益部分；
          li （6）逾期回购价款-转让价款部分；
          li （7）回购价款-当期收益部分；
          li （8）回购价款-转让价款部分。
    h2 第五条    逾期回购
    ol
      li 若乙方出现逾期回购时，应向甲方支付逾期回购违约金。逾期回购违约金总额 = 逾期转让价款及收益总额×0.05%×逾期天数。
      li 若乙方出现逾期回购时，应向丙方支付逾期管理费，直至甲方收到乙方支付的全部拖欠金额为止。逾期管理费总额 = 逾期转让价款及收益总额×0.2%×逾期天数。
    h2 第六条    提前回购
    ol
      li 当以下情形之一出现时，甲乙丙三方一致同意，丙方有权单独决定有权决定本协议项下应收账款转让提前回购：
        ul
          li （1）乙方逾期支付任何一期收益超过30日；
          li （2）乙方连续逾期三期以上（含三期），或累计逾期达五期以上（含五期）；
          li （3）甲方/丙方发现乙方出现逃避、拒绝沟通或拒绝承认欠款事实、故意转让资金、信用情况恶化等危害本协议应收账款回购的情形。
      li 提前回购日的确认方式：
        ul
          li （1）应收账款转让因本条第1款第（1）项之原因提前回购的，提前回购日为当期应付转让价款及收益逾期回购的第[31]日（如遇法定节假日，顺延至节后第一个工作日）；
          li （2）应收账款转让因本条第1款第（2）项之原因提前回购的，提前回购日为连续逾期的第三期回购日之次日，或累计逾期第五期的回购日之次日（如遇法定节假日，顺延至节后第一个工作日）；
          li （3）应收账款转让因本条第1款第（3）项之原因提前回购的，发现方应立即通过[电子邮件/律师函]等方式向乙方发出书面通知并抄送本协议其他各方，提前回购日为书面通知发出之日。
      li 当本协议项下应收账款转让提前回购时，逾期回购违约金、逾期管理费计算至提前回购日当日为止，乙方应立即清偿截止提前回购日本协议下全部的拖欠总额。
      li 乙方逾期支付拖欠总额的，应当按拖欠总额的0.2%分别向甲方、丙方支付提前回购违约金，直至乙方清偿全部拖欠总额及违约金为止。违约金的计算方式为：
        ul
          li （1）应当向甲方支付的违约金总额=拖欠总额（甲方部分）×0.2%×逾期期限；
          li （2）应当向丙方支付的违约金总额=拖欠总额（丙方部分）×0.2%×逾期期限。
    h2 第七条    各方权利和义务
    p （一）甲方权利义务
    ol
      li 甲方应保证在本协议签订前，其甲方账户中的余额大于/等于本协议项下应收账款转让价款，并按约在转让价款支付日将足额的应收账款转让价款支付给乙方。
      li 甲方应保证其所用于受让应收账款的资金来源合法，甲方是该资金的合法所有人，如果第三人对资金归属、合法性问题发生争议，由甲方负责解决，否则应承担由此对其他各方所造成的全部损失。
      li 甲方享有其所支付的转让价款所带来的收益收益，并应主动缴纳由收益所得带来的可能的税费。
      li 在本协议有效期内，甲方应保证其网利宝平台注册用户的身份。
      li 若甲方投资人为多人的，如出现乙方资金不足以支付其应向所有甲方支付的约定转让价款、收益、逾期回购违约金之情形的，甲方同意各自按照其应收账款转让价款比例收取相应款项。
      li 本协议中的所有甲方与乙方之间的应收账款转让均是相互独立的，一旦乙方逾期回购的，甲方中的任何一方均有权单独向乙方追索或者提起诉讼。
      li 甲方应保证不利用网利宝平台进行信用卡套现、洗钱或其他任何违法行为。
      li 甲方清楚可能面临的投资风险。甲方在此确认，乙方可能因为经营不善、丧失商业信誉等因素，存在着部分或全部应收账款转让不能回收的风险，甲方已充分了解并认识到了本次应收账款转让的特殊性、风险的不确定性以及回收该等应收账款转让可能面临的困难，经独立慎重判断后仍做出投资决定，自愿签署本协议。
      li 如乙方违约，甲方有权要求丙方提供其已获得的乙方信息；且甲方保证采取合法的手段和方式向乙方主张权利；并且保证不得因未实现预期投资收益或者投资受损而对丙方及其关联机构提出任何诉讼、仲裁或索赔，丙方不承担任何责任。
      li 如出现以下情形，甲方保留向原债权人和原债务人代位行使追偿权的权利：
        ol
          li （1）本协议约定回购期到期，乙方未能向甲方溢价回购应收账款。
          li （2）乙方被相关国家行政、司法机关宣告注销、破产等情形。
          li （3）原债务人应付账款到期后，乙方怠于行使债权而影响到甲方的合法权利。
      li 本协议约定的其他权利义务。
    p （二）乙方权利义务
    ol
      li 乙方必须按时足额履行本协议项下支付转让价款及收益的义务。
      li 乙方应确保其为签署、履行本协议所提供的信息和资料的真实性、完整性、合法性、有效性，不得提供虚假信息或隐瞒重要事实，并承诺其转让应收账款所得款项不用于任何违法用途，不会利用网利宝平台进行诈骗、非法集资或其他违法行为，否则应依法独立承担法律责任。
      li 乙方承诺并保证基础交易关系真实、合法且有效，没有禁止或限制本协议项下的应收账款转让，约定基础交易关系的合同中不存在任何不利于甲方行使应收账款项下权利的条款。
      li 乙方承诺并保证保理合同真实、合法且有效，保理合同没有禁止或限制该合同项下应收账款的再次转让，保理合同中不存其他任何不利于甲方行使应收账款项下权利的条款；
      li 乙方承诺并保证在本协议成立之日，向原债务人通知应收账款转让的相关事实。否则，承担由此产生的全部法律责任及损失。
      li 乙方承诺并保证按照约定履行保理合同项下的保理预付款支付义务和其他义务。
      li 在乙方违约的情况下，如果甲方要求，乙方无条件授权丙方向甲方披露其此前向丙方提供的信息和资料。
      li 乙方不得将本协议项下的任何权利义务转让给任何第三方。
      li 乙方保证本协议约定的当期回购日的前一日[24]时前将足额当期应还转让价款及收益存入乙方账户，且同意并授权丙方于当期回购日将当期应还转让价款及收益划至相应账户。如乙方未依约按时回购或者支付其他费用，则应依本协议之约定承担违约责任及由此而产生的各项费用。
      li 乙方承诺，乙方因授权和/或委托丙方根据本协议所采取的全部行动和措施的法律后果均归属于乙方本人。
      li 乙方保证在清偿其在本协议项下的全部债务之前如进行对外投资、实质性增加债务融资，以及用于反担保（如有）的经营组织进行合并、分立、减资、股权转让、资产转让、申请停业整顿、申请解散、申请破产等足以引起本协议之债权、债务关系变化或者可能足以影响甲方权益的行动时，应提前[30]个工作日以书面形式通知丙方，同时落实债务清偿责任或者提前清偿责任，未经丙方书面同意，不得进行上述行动。
      li 在本协议有效期间内，未经丙方书面同意，乙方不得为其他企业法人、其他组织或个人承担足以影响乙方偿还本协议项下应收账款转让能力的债务，或提供足以影响乙方偿还本协议项下应收账款转让能力的担保。如出现下列对其履行本协议项下回购义务构成威胁的任何情况时，应当立即书面通知丙方，并积极按丙方的要求落实好本协议项下的应收账款转让及其他一切应付款项按期足额偿还的保障措施或应丙方之要求予以提前清偿：
        ol
          li （1）乙方在与银行等金融机构签订的应收账款转让合同、授信额度合同及其项下授信合同、担保合同或与其他任何债权人所签订的融资合同项下发生任何违约事项；
          li （2）乙方发生违法或被索赔事件；
          li （3）乙方经营出现严重困难和财务状况发生恶化；
          li （4）在本协议项下的债务未清偿前，乙方已承担或将要承担重大债务或有债务；
          li （5）乙方发生重大债权债务纠纷引起诉讼、仲裁等事件；
          li （6）其他可能影响乙方财务状况和偿债能力的情况。
      li 本协议约定的其他权利义务。
    p （三）丙方权利义务
    ol
      li 丙方有权通过网利宝平台对外发布乙方的应收账款转让信息，包括但不限于乙方应收账款转让金额、期限、收益率、用途、回购方式、身份证明文件（身份证、企业法人营业执照或其他）、担保情况、应收账款转让用途相关证明文件等。
      li 丙方接受本协议其他各方的委托行为所产生的法律后果由相应委托方承担。如因本协议其他各方或任何第三方原因（包括但不限于技术问题）造成的延误或错误，丙方不承担任何责任。
      li 甲方授权并委托丙方，在乙方发生逾期回购或违约回购的情形下，丙方有权通过包括但不限于电话通知、邮件通知、发律师函、提起诉讼等方式，对乙方进行应收账款转让的违约提醒及催收工作，其他各方应对丙方上述工作予以积极配合。丙方可将上述工作转委托他方进行，本协议各方对于上述委托事项均已知晓，并负有积极配合的义务。为免疑问，丙方没有任何义务进行前述违约提醒及催收工作。
      li 在任何情形下，丙方不是本协议项下任何应收账款转让或债务的债务人或需要以其自有资产偿还本协议项下的任何应收账款转让或债务。丙方亦不需要以其自有资产承担本协议项下的担保责任。
      li 丙方有权审核本协议其他各方的具体信息（包括但不限于资产情况、商业信誉、负债情况，偿还能力等），并有权在合同履行期间监督其他各方的合同履行情况，其他各方应予以配合。丙方保留对可疑交易、非法交易、高风险交易或交易纠纷的独立判断，并有权依法采取暂停交易、终止交易、向有关单位报告等必要处理措施或依有关单位合法指示行事。
      li 如乙方逾期支付逾期管理费、提前回购违约金的，丙方有权单独向乙方追索或者提起诉讼。
      li 本协议约定的其他权利义务。
    h2 第八条    保密义务
    ol
      li 除本协议约定以外，任何一方未经其他各方同意，均不得向第三方披露本协议。同时，保密信息接收方因对在履行本协议过程中所知悉的其他各方的商业秘密承担保密义务，未经保密信息提供方的书面同意，均不得向第三方披露。否则由此所产生的一切损失均由违约方承担。
      li 保密信息接收方对以下信息不具有保密义务：
        ul
          li （1）已为公众所知的该等信息；
          li （2）在任何诉讼、仲裁或其他法律程序中需要披露的信息；
          li （3）法律要求披露的信息；
          li （4）任何有权机关要求披露的信息；
          li （5）需要向其董事、管理人员、员工（包括外聘人员）、代理人或专业顾问披露的信息，前提是被披露方已经承诺遵守本条规定的保密义务；
          li （6）保密信息提供方同意披露的信息。
      li 本协议项下的保密义务不因本协议的无效、提前终止、解除或不具操作性而失效。保密义务的期限为永久。
    h2 第九条    违约责任
    ol
      li 合同各方均应严格履行合同义务，非经各方协商一致或依照本协议约定，任何一方不得解除本协议。
      li 任何一方违约，违约方应承担因违约使得其他各方产生的费用和损失，包括但不限于调查、诉讼费、律师费等。如违约方为乙方的，甲方有权立即解除本协议，并要求乙方立即偿还未偿还的转让价款、收益、罚息、违约金及其他费用。
      li 如本协议提前解除时，乙方在乙方账户里有任何余款，乙方授权并委托丙方按照本协议第四条4款的清偿顺序将乙方的余款用于清偿，并要求乙方支付因此产生的相关费用。
    h2 第十条    法律适用及争议解决
    ol
      li 本协议适用中华人民共和国法律（本法律仅限中国大陆地区法律，不含港、澳、台）。
      li 与本协议有关的一切纠纷，各方均有权向丙方所在地有管辖权的法院提起诉讼。
    h2 第十一条    其他
    ol
      li 本协议各方确认本协议签署成立方式如下：本协议及其配套协议、文件采用线上线下相结合的方式进行签署，甲方同意在线签署本协议并确认其按照网利宝平台要求所填写的确认信息是其合法有效的电子签名，并保存在丙方为此设立的专用服务器上备查，乙方、丙方同意以线下方式签署本协议，各方均认可该形式的协议效力。
      li 本协议自各方按照本协议约定以线上线下相结合方式签订之日成立，自应收账款转让价款扣除第三方支付平台手续费（￥2元/笔）后款项到达乙方收款银行账户之日起生效。
      li 本协议签订成立之日起至乙方全额回购转让价款及收益之日止，甲方或乙方的基本信息（包括但不限于：本人、本人的家庭联系人及紧急联系人、联系电话、地址、手机号码、电子邮箱、银行账户）如发生变更的，应当在变更之日起[3]日内将更新后的信息提供给丙方，若因不及时提供上述变更信息而带来的损失或额外费用应由该方承担。
      li 如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。
      li 本协议一旦生成，表示各方均已详细阅读了丙方在其网利宝平台所发布的有关交易规则及协议等全部内容，已充分知悉和了解了本协议项下的全部内同及各方的权利义务并予接受，且于本协议项下的全部意思表示真实、合法、有效。
      li 本合同一式  3  份，各方各执  1  份，具有同等法律效力。

    br

    h1 连带责任保证担保合同

    p 保证人（甲方）： 赵秦荣
    p 身份证号码： 513026197402202974
    p 债权人（乙方）：
    table
      tbody
        tr
          td 网利宝用户名
          td 投资金额
          td 应收账款转让期限
        equities = equity.product.equities.all()
        for e in equities
          tr
            if e.user.id == equity.user.id
              td {{e.user.wanglibaouserprofile.phone}}
            else
              td {{e.user | safe_phone}}
            td ￥{{ e.equity }}元
            td {{ e.product.period }}个月
        tr
          td 合计
          td ￥{{ equity.product.total_amount }}元
          td ——

    br
    p 鉴于：
    p 为保障乙方债权权益的实现，甲方愿意为乙方及债务人所形成的一系列债权提供最高额保证。根据有关法律法规和规章，甲乙双方经协商一致，订立本合同以资遵守。
    ul
      li 一、本合同所称“主合同”是指大秦商业保理有限公司（作为转让人/债务人）与乙方（作为投资人）、北京网利科技有限公司（作为见证方/服务方）签署的编号【{{product.contract_serial_number}}】的《应收账款转让及回购协议》。
      li 二、甲方愿意为大秦商业保理有限公司在主合同项下的债务提供保证担保；

    h2 第一条 主债权的基本情况
    ul
      li 1.1 本合同主债权为主合同项下应收账款回购价款，总金额为人民币【{{product.total_amount | number_to_chinese}}】（RMB 【{{product.total_amount}}】），其中包括转让价款人民币【壹佰伍拾】万元整（RMB 【1,500,000.00】）、收益人民币【肆万伍仟圆整】 （RMB 【45，000.00】）。
      li 1.2 主债权其他基本情况以主合同约定为准。

    h2 第二条 保证范围
    p 本合同的保证范围为主合同项下全部债权，包括但不限于全部转让价款、收益收益、违约金、赔偿金、债务人应支付的其他款项、实现债权与担保权利而发生的费用。

    h2 第三条 保证方式
    p 甲方在本合同项下提供的保证为连带责任保证担保。

    h2 第四条 保证期间
    ul
      li 4.1 自主合同项下债务履行期限届满之日起两年止。
      li 4.2 如债务人根据主合同的约定提前回购的，保证期间自债务人根据主合同条款确定的提前回购日之次日起两年。
      li 4.3 如主债权展期的，保证期间延展至展期协议重新约定的最后一期收益或回购价款支付之次日起两年。

    h2 第五条 合同条款的独立性
    p 如本合同的某条款或某条款的部分内容现在是或将来成为无效，该无效条款或该无效部分并不影响本合同及本合同其它条款或该条款其它内容的有效性。

    h2 第六条 主合同变更
    ul
      li 6.1  如果主合同条款变更，变更后的主合同项下债务承担担保责任需取得甲方同意。
      li 6.2  债务人发生改制、合并、兼并、分立、增减资本、合资、联营、更名等情形，甲方的担保责任不发生减免。
      li 6.3  主合同项下债权转移给第三人的，甲方继续履行本合同项下连带担保责任。

    h2 第七条 保证责任
    ul
      li 7.1  如果主合同项下债务到期，或者乙方或北京网利科技有限公司根据主合同的约定或法律规定宣布债务提前到期（即提前回购），债务人未按时足额履行，或者债务人违反主合同的其他约定，甲方应在保证范围内立即承担保证责任。
      li 7.2  无论主合同项下的债权是否拥有其他担保（包括但不限于保证、抵押、质押、保函、备用信用证等担保方式），不论上述其他担保何时成立、是否有效、是否向其他担保人提出权利主张，也不论是否有第三方同意承担主合同项下的全部或部分债务，也不论其他担保是否由债务人自己所提供，甲方在本合同项下的保证责任均不因此减免，乙方可直接要求甲方依照本合同约定在其保证范围内承担保证责任。
      li 7.3  甲方同意，即使因债务人清偿、乙方实现其他担保权利或任何其他原因导致主合同项下的债务部分消灭，甲方仍应按照本合同的约定在保证范围内对尚未消灭的债务承担保证责任。
      li 7.4  如甲方承担保证责任后主合同项下的债务仍未获完全清偿，则甲方承诺，其向债务人或其他担保人主张（包括预先行使）代位权或追偿权，不应使乙方利益受到任何损害，并同意主合同项下债务的清偿优先于甲方代位权或追偿权的实现。

    p 具体而言，在主合同项下债权未被全部清偿前：
      ul
        li （1）甲方同意不向债务人或其他担保人主张代位权或追偿权；如因任何原因，甲方实现了上述权利，则应将所获款项优先用于清偿主合同项下尚未获偿的债权；
        li （2）主合同项下的债务如有物权的担保，甲方同意不以行使代位权为由或任何其他原因对该担保物或其处分后所得价款提出权利主张，上述担保物权及所得价款应优先用于清偿主合同项下尚未获偿的债权；
        li （3）若债务人或其他担保人为甲方提供了反担保，则甲方基于上述反担保而获得的款项应优先用于清偿主合同项下尚未获偿的债权。


    h2 第八条 甲方的其他义务
    ul
      li 8.1  甲方应对债务人借款使用情况（包括用途）进行监督，并接受乙方或北京网利科技有限公司对甲方财产的监督，根据乙方或北京网利科技有限公司的要求提供有关信息、文件、资料，并保证其准确、真实、完整与有效。
      li 8.2  如债务人发生承包、托管（接管）、租赁、股份制改造、减少注册资本金、投资、联营、合并、兼并 、收购重组、分立、合资、（被）申请停业整顿、申请解散、被撤销、（被）申请破产、控股股东/实际控制人变更或重大资产转让、停产、歇业、被有权机关施以高额罚款、被注销登记、被吊销营业执照、涉及重大法律纠纷、生产经营出现严重困难或财务状况恶化、法定代表人或主要负责人无法正常履行职责，或者因任何原因丧失或可能丧失担保能力，甲方应立即书面通知乙方及北京网利科技有限公司，并按照乙方或北京网利科技有限公司要求落实本合同项下保证责任的承担、转移或承继，或者为主合同的履行提供乙方或北京网利科技有限公司认可的新担保。
      li 8.3  甲方应向乙方和北京网利科技有限公司提供真实有效的能够证明其合法身份的法律文件，债务人发生名称、法定代表人（负责人）、住所、经营范围、注册资本金或公司（企业）章程等工商登记事项变更的，应当在变更后及时书面通知乙方和北京网利科技有限公司，并附变更后的相关材料。

    h2 第九条  甲方的声明与承诺
    p 甲方向乙方作出如下的声明与承诺：
    ul
      li 9.1  甲方系中国籍自然人，具有完全的民事行为能力，依据中国法律具有保证人主体资格，可以对外提供保证担保。
      li 9.2  甲方确认自己合法有效持有债务人出资额【人民币14700万】元，占债务人注册资本的【49】%，且，对债务人的资产、债务、经营、信用、信誉等情况、是否具备签订主合同的主体资格和权限以及主合同的所有内容已经充分了解。
      li 9.3  甲方有权签订本合同并充分履行其在本合同项下的每一项义务。签署本合同并履行其在本合同项下的义务，不会导致保证人违反任何适用的法律法规、或对其具有约束力的义务。
        ul
          li 9.3.1 甲方签订本合同时已经取得其配偶和其他家庭成员的书面同意。
          li 9.3.2甲方履行本合同约定义务时不会受到其配偶和其他家庭成员的干预或妨碍，不会损害其配偶和其他家庭成员的合法权益。
      li 9.4  甲方为本合同项下义务而向乙方提供的所有文件、资料、报表和凭证等是准确、真实、完整和有效的。
      li 9.5  除已书面向乙方披露的情况之外，甲方未隐瞒任何已发生或即将发生的可能导致保证能力明显下降或丧失的事件。
      li 9.6  不论甲方已经或将与主合同项下的债务人或其他担保人签订反担保协议或类似协议，该协议在法律上或事实上将不会损害乙方在本合同项下的任何权利和利益。
      li 9.7  甲方同意乙方向中国人民银行及信贷征信主管部门批准建立的信用数据库或有关单位、部门查询甲方的信用状况，并同意乙方将甲方信息提供给中国人民银行及信贷征信主管部门批准建立的信用数据库。甲方并同意，乙方为业务需要也可以合理使用并披露甲方信息。
      li 9.9  甲方充分了解并同意主合同的全部条款，自愿为主合同债务人提供担保，其在本合同项下的全部意思表示是真实的。
      li 9.10 发生以下任意情形的，无需经甲方同意，甲方应继续履行保证责任：
        ul
          li （1）主合同发生变更的，甲方不因此免除其承担保证责任。为避免疑义，如主债权展期或增加债权金额，甲方应对变更后的主债权承担连带责任保证；
          li （2）债权人将主合同项下的全部或部分债权转让给第三人的，或者债务人经债权人同意将全部或部分债务转让给第三人的，甲方应对全部债权承担连带责任保证。
          li （3）保证期间届满之前，甲方涉及或可能涉及重大经济纠纷、诉讼、仲裁，或财产被依法查封、扣押或监管的，甲方应立即通知债权人。

    h2 第十条  违约责任
    ul
      li 10.1  甲方违反本合同任一约定或违反任何法定义务，或明确表示或以其行为表明将不履行本合同项下的任一义务的，或甲方在本合同第九条中的声明与承诺为不真实、不准确、不完整或故意使人误解，乙方可书面通知甲方纠正其违约行为，如果甲方于乙方发出上述通知之日起【5】个工作日内仍未对违约行为予以纠正，则乙方有权单独或一并行使下述权利：
        ul
          li （1）要求甲方限期纠正违约行为；
          li （2）要求甲方提供新的担保；
          li （3）要求甲方赔偿损失；
          li （4）法律许可的其他救济措施。
    p 因甲方违约给乙方造成经济损失的，甲方应赔偿乙方实际损失。
    ul
      li 10.2  如因甲方过错造成本合同无效的，甲方应在保证范围内赔偿乙方全部损失。
      li 10.3  在本合同有效期内，发生下列情形之一的，乙方有权要求甲方承担保证责任或对甲方或甲方财产或财产权利采取相应的法律措施：
        ul
          li （1）主合同债务履行期限届满，或法律、法规规定或主合同的约定或者主合同双方协议主合同债务提前到期，而主合同项下债务未受清偿的；
          li （2）甲方出现第8.2款情形，未按照乙方要求落实本合同项下保证责任的承担、转移或承继，或者为主合同的履行提供乙方认可的新担保。
      li 10.4 除约定解除或法定解除本合同外，甲方未经乙方书面同意而擅自终止或解除本合同的，仍须按照本合同约定承担保证责任，并赔偿乙方由此造成的全部损失。

    h2 第十一条  法律适用及争议的解决
    p 本合同在履行过程中发生争议，可以通过协商解决，协商不成，进行北京市海淀区人民法院诉讼。

    h2 第十二条 其他条款
    ul
      li 12.1  义务的连续性
        p 本合同项下甲方的一切义务和连带责任均具有连续性，对其继承人、接管人、受让人及其合并、改组、更改名称等后的主体均具有完全的约束力，不受任何争议、索赔和法律程序及上级单位任何指令和主合同债务人与任何自然人或法人签订的任何合同、文件的影响，也不因主合同债务人破产、无力偿还债务、丧失企业资格、更改组织章程以及发生任何本质上的变更而有任何改变。
      li 12.2  债务人解散或破产
        p 甲方知道债务人进入解散或破产程序后，应当立即通知乙方和北京网利科技有限公司申报债权。
        p 在债务人破产程序中，如果经乙方与债务人达成和解协议，或者同意重整计划，本合同项下乙方的权利不因和解协议或重整计划而受到损害，甲方的保证责任不予以减免。甲方不得以和解协议、重整计划规定的条件对抗乙方的权利主张。
      li 12.3 通知事项
        ul
          li （1）除非本合同另有约定，本合同项下双方之间的一切通知均可通过传真、邮递、电子邮件、快递，或双方同意的其他方式送达以下地址：
            ul
              li 甲方： 大秦商业保理有限公司
              li 电话：010-64404491
              li 电子邮件： jb_jiang@dqbl.org
              li 乙方指定联系人： 陈保康
              li 电话：18810521035
              li 电子邮件： chenbaokang@wanglibank.com
          li （2）一方的通讯地址或联系方式如发生变动，应立即书面通知对方，因未及时通知而造成的损失由通讯地址或联系方式变动方自行承担。
            ul
              li 12.7  双方对获取的对方商业秘密或者个人信息负有保密义务，未经对方允许不得向第三方披露以及用于任何其他目的。
              li 12.8  本合同自甲、乙双方法定代表人（负责人）或授权代理人签字或签章并加盖公章后生效。
              li 12.9  本合同未尽事宜，甲乙双方可另行达成书面协议，作为本合同附件。本合同的任何附件、修改或补充均构成本合同不可分割的组成部分，与本合同具有同等法律效力。
              li 12.8  本合同正本一式肆份，甲、乙双方各执贰份，其余用于办理相关手续。
              li 12.9  甲方已阅读本合同所有条款。应甲方要求，乙方已经就本合同做了相应的条款说明。甲方对本合同条款的含义及相应的法律后果已全部通晓并充分理解。
              li 12.10 甲方确认：在本合同生效后，对本合同的实际履行（全部或部分）、债务催收、诉讼/仲裁、执行等事宜，乙方有权在相关的材料或凭证上加盖乙方的公章、相关业务专用章或合同专用章。
    p 如本条约定与其他条款约定冲突的，应以本条约定为准。
