-load formatters

product = equity.product

doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title 网利宝借款协议
    style.
      h1,h2 {
        text-align: center;
      }
      p {
        margin: 0;
        padding: 0;
        line-height: 2
      }
      table{
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%
      }
      td,th{
        border: 1px solid lightgray;
        text-align: center;
        height: 40px;
      }
      li{
        padding-left: 1em;
        margin-left: 1em;
        line-height: 2;
      }
      ul{
        list-style: none;
        padding-left: 0;
      }
      ul>li{
        padding-left: 0;
        margin-left: 0;
      }
      .align-left{
        text-align: left;
      }
      .align-left td{
        text-align: left;
        padding-left: 10px;
      }
      .align-right{
        text-align: right;
      }
      .align-center {text-align: center;}
      .bold {font-weight: bold}
      .border-bot {
        border-bottom: solid 1px #000000;
        display: inline-block;
        padding: 0 10px;
        line-height: normal;
      }

  body
    h2 借款协议
    //.align-right 协议编号：
      span.border-bot {{product.contract_serial_number}}
      | 号

    p 本协议由以下四方于
      span.border-bot {{now|date:"Y"}}
      | 年
      span.border-bot {{now|date:"m"}}
      | 月
      span.border-bot {{now|date:"d"}}
      | 日签署：
    br
    p.bold 甲方（出借方）：
    table
      tbody
        tr
          th 网利宝平台用户
          th 借出金额
          th 借款期限
        equities = equity.product.equities.all()
        for e in equities
          tr
            if e.user.id == equity.user.id
              td {{e.user.wanglibaouserprofile.phone}}
            else
              td {{e.user | safe_phone}}

            td ￥{{ e.equity }}元
            td {{ e.product.period }}个月
        tr
          th 合计
          th ￥{{ equity.product.total_amount }}元
          th ——
    br
    p.bold 乙方（借款方）：{{ product.borrower_name|safe_name_last }}
    p 法定代表人：{{ product.borrower_id_number|safe_name_last}}
    p 地址：{{ product.borrower_address|safe_address }}
    p 网利宝平台用户名：
    br

    p.bold 丙方（推荐方/服务方/代偿方）： 湖南恒大投资信用担保有限责任公司
    p 法定代表人：刘德军
    p 地址：长沙市芙蓉区芙蓉中路二段89号华天新城15楼15-g房
    br

    p.bold 丁方（见证方/服务方）：北京网利科技有限公司
    p 法定代表人：杨华
    p 地址：北京市海淀区花园路5号2幢二层215室 
    br

    h3 鉴于：
    ol
      li 丁方系一家合法设立并有效存续的有限责任公司，依法运营管理“网利宝平台”（包括但不限于网利宝平台网站——网址：www.wanglibao.com），有权以网利宝平台为媒介为具有借款需求的自然人/企业和具有自有闲散资金的自然人提供订立民间借贷性质借款协议的居间服务。
      li 乙方系在网利宝平台注册的具有完全民事行为能力的自然人或法人，其具有借款需求并在网利宝平台发布借款信息。
      li 丙方系合法成立并有效存续、具有代偿能力的机构，为乙方提供融资咨询服务，将经其审核、筛选的乙方借款信息推荐至丁方，并为本协议项下借款债权提供回收管理、代偿等服务。
      li 甲方系在网利宝平台注册的具有完全民事行为能力的自然人，其具有合法所得的自有闲散资金，并在网利宝平台寻求出借机会。
      li 乙方有借款需求，甲方亦同意借款，双方有意成立借贷关系。
      p.bold 现经以上各方协商一致，约定如下：

    h3 第一条  释义
    ol
      li 本金支付日：指甲方向乙方支付本协议项下借款本金之日，为本协议成立之日的次日（如遇法定节假日，顺延至节后第一个工作日）。
      li 当期还款日：指乙方根据本协议第四条约定，应当向甲方支付本金和/或利息之日。
      li 本金：指甲方应向乙方支付的借款本金之和。
      li 利息：指乙方应向甲方支付的利息，利息=本金×利率×期限。
      li 提前还款：借款期限届满[30]日之前，乙方申请将剩余全部本金提前偿还给甲方，从而使甲方的出借资金比约定的计划时间提前收回。
      li 提前还款违约金：指乙方提前还款时，应当向甲方支付的违约金。
      li 逾期还款：指若在某当期还款日的[18]时，乙方账户内的实时资金额度小于当期应付本息的，视为乙方逾期还款。
      li 逾期本息：指乙方当期应当向甲方支付而尚未支付的本金和利息金额之和。
      li 逾期罚息：指乙方逾期还款时，应向甲方支付的罚息。
      li 逾期管理费：指乙方逾期还款时，应向丁方支付的管理费。
      li 提前到期：指因乙方出现本协议第七条第1款约定之情形而导致本协议项下借款提前到期。
      li 提前到期日：指本协议项下借款提前到期之日。
      li 提前到期违约金：指乙方在提前到期日后，因逾期支付拖欠总额而应当向甲方和/或丁方支付的违约金。
      li 居间服务费：指丁方为甲乙双方提供居间撮合服务而收取的费用。。
      li 当期应还本息：指乙方在某当期还款日应当向甲方支付本金（如有）、利息（如有）金额之和。
      li 拖欠金额：指乙方根据本协议约定，截止某时间点，应当向甲方或/和丁方支付而尚未支付的本金、利息、逾期罚息、逾期管理费（如有）之和。
      li 拖欠总额：指乙方根据本协议约定，截止某时间点，应当向甲方或/和丁方支付而尚未支付的所有费用之和，包括：本金、利息、提前还款违约金、逾期罚息、逾期管理费。
      li 第三方支付平台：指丁方指定的、具有《支付业务许可证》等相应业务资质的、独立于交易各方的第三方非金融机构，为本协议项下货币资金转移提供网络支付等相关服务。
      li 甲方账户：指甲方通过在网利宝平台注册而获得的网利宝平台虚拟资金账户，该账户作为虚拟资金账户。该账户专门用于甲方在网利宝平台进行充值、出借、收款、提现等资金操作。
      li 乙方账户：指乙方用于收取本协议项下借款本金以及支付本协议项下到期应付本息及各项费用的资金账户。若乙方是法人的，则在丁方指定的第三方支付平台开设的资金收款账户，作为乙方账户；若乙方是自然人的，则乙方账户为其书面指定的个人名下的银行账户。
      li 丙方账户：指丙方用于代为收取、支付本协议项下到期应付本息，在丁方指定第三方支付平台开设的资金账户。
      li 指定第三人：指由乙方另行委托，为其履行本协议项下还本付息、支付居间服务费之义务提供连带保证责任担保的第三人。
      li 保密信息提供方：指为签署及履行本协议，向本协议其他一方或多方提供保密信息的一方当事人。
      li 保密信息接收方：指为签署及履行本协议，从保密信息提供方处接收保密信息的一方当事人。

    h3 第二条  借款基本信息
    ol
      p 借款表格（若甲方出借人为多人的，各出借人借款本金数额详见本协议文首表格）
      table.align-left
          tbody
            tr
              td 借款用途
              td 【{{product.usage}}】
            tr
              td 还款来源
              td 【{{product.repaying_source}}】
            tr
              td 借款本金数额（小写）
              td 【￥{{product.total_amount}}】
            tr
              td 借款本金数额（大写）
              td 【{{product.total_amount | number_to_chinese}}】
            tr
              td 借款年化利率
              td 【{{product.expected_earning_rate}}】%
            tr
              td 借款期限
              td 【{{product.period}}个月】
            tr
              td 借款起止日期
              td {{now|date:"【Y】年【m】月【d】日"}}至{{now|add_months:product.period|date:"【Y】年【m】月【d】日"}}
            //tr
              td 还款日期
              td 【{{now|date:"d日"}}】
            tr
              td 总还款本息
              total = reduce(lambda v, i: v + i, [amort.principal + amort.interest for amort in product.amortizations.all()])
              td 【￥{{total}}】

    h3 第三条  借款支付
    ol
      li 甲方应按本协议约定的起息日将足额的借款本金支付给乙方。
      li 甲方授权并委托丁方自收到居间服务费后一个工作日内通过第三方支付平台下发支付指令，从甲方账户向乙方账户按时足额划转借款本金。
      li 乙方指定收款银行账户
        p 账&nbsp;&nbsp;&nbsp;&nbsp;号：
          span.border-bot {{product.borrower_bankcard}}
        p 账户名：
          span.border-bot {{product.borrower_name}}
        p 开户行：
          span.border-bot {{product.borrower_bankcard_bank_name}}
        p （支持开户行：工行、招行、民生银行）
        p 如居间服务费支付主体逾期支付居间服务费的，甲乙双方在此授权并同意丁方于逾期支付居间服务费下一工作日扣除相应居间服务费后通过第三方支付平台下发支付指令，从甲方账户向乙方账户划转剩余借款本金数额。乙方收到扣除居间服务费的剩余借款本金款项后，视为乙方代居间服务费支付主体支付相应居间服务费用，乙方有权依据法律法规规定或乙方与居间服务费支付主体约定代位追偿相应居间服务费用，并要求丙方赔偿因逾期支付居间服务费给乙方造成的相应损失。


    h3 第四条  还款
    ol
      if product.pay_method == '按月付息'
        p 还款方式及计划：本协议项下的借款采用以下第（1）种还款方式：
      if product.pay_method == '到期还本付息'
        p 还款方式及计划：本协议项下的借款采用以下第（2）种还款方式：
      if product.pay_method == '等额本息'
        p 还款方式及计划：本协议项下的借款采用以下第（3）种还款方式：
      p 按月付息到期还本
      p 乙方每月应还利息=本金×月利率。
      table
          thead
            tr
              td 借款期数
              td 还款日期
              td 还款本息
              td 还款本金
              td 还款利息
          tbody
            if product.pay_method == '按月付息'
              amortizations = equity.amortizations.all()
              for amortization in amortizations
                tr
                  td 第{{amortization.term}}期
                  td {{amortization.term_date|date:"Y年m月d日"}}
                  total = amortization.principal + amortization.interest
                  td ￥{{total}}元
                  td ￥{{amortization.principal}}元
                  td ￥{{amortization.interest}}元
            else
              tr
                td(colspan=5)
      br
      p 到期还本付息
      p 利息＝借款金额*借款年利率/12*借款期限（月），到期一次性偿还本金及利息。
      table
          thead
            tr
              td 借款期数
              td 还款日期
              td 还款本息
              td 还款本金
              td 还款利息
          tbody
            if product.pay_method == '到期还本付息'
              amortizations = equity.amortizations.all()
              for amortization in amortizations
                tr
                  td 第{{amortization.term}}期
                  td {{amortization.term_date|date:"Y年m月d日"}}
                  total = amortization.principal + amortization.interest
                  td ￥{{total}}元
                  td ￥{{amortization.principal}}元
                  td ￥{{amortization.interest}}元
            else
              td(colspan=5)
      br
      p 按月等额本息
      p 乙方每月应还本息=[贷款本金×月利率×（1+月利率）^还款期数]÷[（1+月利率）^还款期数－1]
      table
          thead
            tr
              td 借款期数
              td 还款日期
              td 还款本息
              td 还款本金
              td 还款利息
          tbody
            if product.pay_method == '等额本息'
              amortizations = equity.amortizations.all()
              for amortization in amortizations
                tr
                  td 第{{amortization.term}}期
                  td {{amortization.term_date|date:"Y年m月d日"}}
                  total = amortization.principal + amortization.interest
                  td ￥{{total}}元
                  td ￥{{amortization.principal}}元
                  td ￥{{amortization.interest}}元
            else
              tr
                td(colspan=5)
      br
      li 乙方保证按本协议约定的借款用途使用借款，并保证在本协议约定的当期还款日前将足额当期应还本息及当期应付其他相关费用支付给丙方。具体支付方式由乙方、丙方另行签署协议约定。如乙方未依约按时还款或者支付其他相关费用，则应依本协议之约定承担违约责任及由此而产生的各项费用。
      li 丙方保证在本协议约定的当期还款日当日[16]时前将足额当期乙方应还本息及当期乙方应付其他相关费用存入丙方账户，且同意并授权丁方通过向第三方支付平台发出指令于当期还款日将当期乙方应还本息及当期乙方应付其他相关费用划扣至甲方账户。如丙方未依约按时还款或者支付其他相关费用，则应依本协议之约定承担违约责任及由此而产生的各项费用。
      li 甲乙双方同意并授权丙方将代为收取的本息向丁方支付完成后，即视为乙方已经履行本协议项下对甲方的相应还款义务，丁方须根据其与甲方之间的约定向甲方支付对等资金。
      li 如果还款日遇到法定假日或公休日，还款日期顺延至节后第一个工作日。
      li 如果还款日为每月30或31日，则遇到无还款日对应日的月份，还款日为应还款当月的最后一日。
      li 乙方支付的各项费用（如有）均应按照如下顺序清偿：
        p （1）逾期罚息；
        p （2）逾期管理费；
        p （3）拖欠利息；
        p （4）拖欠本金；
        p （5）当期利息；
        p （6）当期本金。

    h3 第五条  提前还款
    ol
      li 乙方可在借款期限内向丁方申请提前还款，但若提前还款申请日至借款期限届满之日间小于或等于[30]日的，乙方不得再申请提前还款。
      li 乙方申请提前还款，应向丁方提交书面申请，丁方在收到申请后10个工作日内予以办理。
      li 乙方提前还款的，应按提前还款本金的1%，在提前还款日向甲方一次性支付提前还款违约金。当提前还款日为当期还款日时,提前还款本金不包括当期应付本金；当提前还款日为非当期还款日时，提前还款本金包括当期应付本金。
      li 乙方提前还款的，甲方对乙方提前还款前已计收的借款利息不作调整，乙方提前归还的借款本金，从前一还款日或起息日至提前还款日按日计收利息。
      li 乙方提前还款的，丁方对已经收取的居间服务费不作退还。

    h3 第六条  逾期还款
    ol
      li 若乙方出现逾期还款时，应向甲方支付逾期罚息，直至甲方收到乙方和/或丙方和/或指定第三人支付的全部拖欠金额为止。自逾期开始之后，逾期本金的利息正常计算。逾期罚息总额 =逾期本息总额×0.05%×逾期天数；
      li 若乙方出现逾期还款时，应向丁方支付逾期管理费，直至甲方收到乙方和/或丙方和/或指定第三人支付的全部拖欠金额为止。逾期管理费总额 = 逾期本息总额×0.2%×逾期天数。

    h3 第七条  提前到期
    ol
      li 当以下情形之一出现时，甲乙丙丁四方一致同意，丁方有权单独决定有权决定本协议项下借款提前到期：
        p （1） 乙方累计逾期三期以上（含三期）；
        p （2） 甲方/丁方/丙方发现乙方出现逃避、拒绝沟通或拒绝承认欠款事实、故意转让资金、信用情况恶化等危害本协议借款的情形。
      li 提前到期日的确认方式：
        p （1） 借款因本条第1款第（1）项之原因提前到期的，提前到期日为当期应付本息逾期还款第[31]日；
        p （2） 借款因本条第1款第（2）项之原因提前到期的，提前到期日为连续逾期的第三期还款日之次日，或累计逾期第五期的还款日之次日；
        p （3） 借款因本条第1款第（3）项之原因提前到期的，发现方应立即通过[电子邮件/律师函]等方式向乙方发出书面通知并抄送本协议其他各方，提前到期日为书面通知发出之日。
      li 当本协议项下借款提前到期时，原逾期罚息、逾期管理费计算至提前到期日当日为止，乙方应立即清偿截止提前到期日本协议下全部的拖欠总额。
      li 乙方逾期支付拖欠总额的，应当按拖欠总额的2‰/日分别向甲方、丁方支付提前到期违约金，直至乙方和/或丙方和/或指定第三人清偿全部拖欠总额及违约金为止。违约金的计算方式为：
        p （1） 应当向甲方支付的违约金总额=拖欠总额（甲方部分）×2‰×逾期期限；
        p （2） 应当向丁方支付的违约金总额=拖欠总额（丁方部分）×2‰×逾期期限。

    h3 第八条  代偿
    ol
      li 丙方同意为本协议下甲、乙双方的债权债务提供咨询服务和贷后管理工作，并在乙方未能按时足额偿还债务时立刻承担代偿责任。如在本协议约定还款日乙方未能将足额当期应还本息及当期应付其他相关费用支付给丙方，丙方须在本协议约定还款日当日[16]时前在丙方账户中存入等同于乙方当期应还的借款本息及当期应付其他相关费用。自丁方成功划扣前述费用后，丙方即受让甲方对乙方相应代偿金额债权。
      li 如乙方违反本协议第七条约定时，甲方在此不可撤销的授权丁方作为其代表，在前述情形下向丙方发起提前到期通知要求乙方提前清偿，要求丙方承担本协议约定的代偿责任。丙方须在收到丁方发出要求后的1个工作日内在丙方账户中存入等同于乙方全部应还的借款本息，以及根据本协议约定计算的逾期罚息和逾期违约金的金额，以履行其在本协议下的代偿责任。
      li 丙方根据上述约定完全履行代偿义务后，甲方在本协议项下的所有权利视为已经得到满足和实现，甲方不再对乙方提出任何请求或主张，甲方在本协议项下所享的全部权利和主张，包括但不限于对借款本息、逾期罚息、违约金、赔偿金等所享有权利和主张，均由丙方享有，丙方有权向乙方代位追偿，甲方须提供合理及必要的协助。
      li 丙方代乙方向甲方清偿债务后，有权向乙方追索债务。丙方有权以诉讼、债权转让等方式处理丙方对乙方的债权。丙方以债权转让方式处理债权，无需就该债权转让另行通知乙方，乙方保证继续按照本协议及/或新债权人指令履行乙方在本协议项下的义务。

    h3 第九条  居间服务费及其他税费
    ol
      li 丙方有权就为本协议借款所提供的咨询、推荐、代偿等服务向乙方收取咨询、推荐、代偿费、催收费等费用，上述费用的收取方式由乙、丙双方另行协商约定。
      li 丁方有权就为本协议借款所提供的居间服务向居间服务费支付主体收取居间服务费，上述费用的收取方式由丁方于居间服务费支付主体另行协商约定。
      li 甲方应负担并主动缴纳因利息所得带来的可能的税费。

    h3 第十条  各方权利和义务
    ol
      p.bold （一）甲方权利义务
    ol
      li 甲方应保证在本协议签订前，其甲方账户中的余额大于/等于本协议项下出借本金，并按约在本金支付日将足额的借款本金支付给乙方。
      li 甲方应保证其所用于出借的资金来源合法，甲方是该资金的合法所有人，如果第三人对资金归属、合法性问题发生争议，由甲方负责解决，否则应承担由此对其他各方所造成的全部损失。
      li 甲方享有其所出借本金所带来的利息收益，并应主动缴纳由利息所得带来的可能的税费。
      li 在本协议有效期内，甲方应保证其网利宝平台注册用户的身份。
      li 若甲方出借人为多人的，如出现乙方还款不足以偿还约定本金、利息、提前还款违约金、逾期罚息之情形的，甲方同意各自按照其借款本金比例收取还款。
      li 本协议中的所有甲方与乙方之间的借款均是相互独立的，一旦乙方逾期还款的，甲方中的任何一方均有权单独向乙方追索或者提起诉讼。
      li 甲方应保证不利用网利宝平台进行信用卡套现、洗钱或其他任何违法行为。
      li 甲方清楚可能面临的出借风险。甲方在此确认，乙方或丙方或指定第三人可能因为经营不善、丧失商业信誉等因素，存在着部分或全部借款不能回收的风险，甲方已充分了解并认识到了本次借款的特殊性、风险的不确定性以及回收该等借款可能面临的困难，经独立慎重判断后仍做出出借决定，自愿签署本协议。
      li 如乙方违约，甲方有权要求丙方、丁方提供其已获得的乙方信息；且甲方保证采取合法的手段和方式向乙方或丙方或指定第三人主张权利；并且保证不得因未实现预期投资收益或者投资受损而对丁方及其关联机构提出任何诉讼、仲裁或索赔，丁方不承担任何责任。
      li 本协议约定的其他权利义务。

    ol
      p.bold （二）乙方权利义务
    ol
      li 乙方必须按时足额履行本协议项下还本付息、支付其他相关费用的义务，并于甲方转让债权后对债权受让人继续履行本协议下的还款义务。
      li 乙方应确保其为签署、履行本协议所提供的信息和资料的真实性、完整性、合法性、有效性，不得提供虚假信息或隐瞒重要事实，并承诺其所借款项不用于任何违法用途，不会利用网利宝平台进行诈骗、非法集资或其他违法行为，否则应依法独立承担法律责任。
      li 在乙方违约的情况下，如果甲方要求，乙方无条件授权丙方和丁方向甲方披露其此前向丙方和丁方提供的信息和资料。
      li 乙方不得将本协议项下的任何权利义务转让给任何第三方。
      li 乙方保证按本协议约定的借款用途使用借款。
      li 乙方承诺，乙方因授权和/或委托丙方、丁方根据本协议所采取的全部行动和措施的法律后果均归属于乙方本人。
      li 乙方保证在清偿其在本协议项下的全部债务之前如进行对外投资、实质性增加债务融资，以及用于反担保（如有）的经营组织进行合并、分立、减资、股权转让、资产转让、申请停业整顿、申请解散、申请破产等足以引起本协议之债权、债务关系变化或者可能足以影响甲方权益的行动时，应提前[30]个工作日以书面形式通知丁方和丙方，同时落实债务清偿责任或者提前清偿责任，未经丁方和丙方书面同意，不得进行上述行动。
      li 在本协议有效期间内，未经丁方及丙方书面同意，乙方不得为其他企业法人、其他组织或个人承担足以影响乙方偿还本协议项下借款能力的债务，或提供足以影响乙方偿还本协议项下借款能力的担保。如出现下列对其履行本协议项下还款义务构成威胁的任何情况时，应当立即书面通知丁方和丙方，并积极按丁方的要求落实好本协议项下的借款及其他一切应付款项按期足额偿还的保障措施或应丁方之要求予以提前到期清偿本协议项下债务：
        p （1） 乙方在与银行等金融机构签订的借款合同、授信额度合同及其项下授信合同、担保合同或与其他任何债权人所签订的融资合同项下发生任何违约事项；
        p （2） 乙方发生违法或被索赔事件；
        p （3） 乙方经营出现严重困难和财务状况发生恶化；
        p （4） 在本协议项下的债务未清偿前，乙方已承担或将要承担重大债务或有债务；
        p （5） 乙方发生重大债权债务纠纷引起诉讼、仲裁等事件；
        p （6） 其他可能影响乙方财务状况和偿债能力的情况。
      li 本协议约定的其他权利义务。

    ol
      p.bold （三）丙方权利义务
    ol
      li 丙方承诺保证其向丁方提供的乙方信息真实性、完整性、合法性、有效性，并与乙方向其提供的信息一致。
      li 丙方保证其具有就本协议项下所提供服务及承诺所应具有的相应资质。
      li 丙方应负责就乙方的借款申请、主体资格资质、资信情况、偿还能力等与本借款相关的一切信息进行审核并出具《风险评估报告》，且有权随时核查乙方的资金持有情况和负债情况，以保证乙方有能力按期偿还借款，乙方应予以配合。丙方应将其发现的可能涉及乙方无法清偿债务的一切风险及时告知其他各方。
      li 丙方保证按照本协议约定按时足额将当期乙方应还本息及当期乙方应付其他相关费用存入丙方账户。
      li 丙方有权就为本协议借款所提供的咨询服务向乙方收取咨询服务费，及其他费用，具体收取款项及方式由乙丙双方另行约定。
      li 丙方承诺在发生乙方逾期还款的情况下依本协议第八条之约定履行代偿义务。
      li 本协议约定的其他权利义务。

    ol
      p.bold （四）丁方权利义务
    ol
      li 丁方有权收取居间服务费。非因丁方原因导致乙方违约的，对于丁方已经收取的居间服务费不予退还。
      li 丁方有权通过网利宝平台对外发布乙方的借款信息，包括但不限于乙方借款金额、期限、利率、用途、还款方式、身份证明文件（身份证、企业法人营业执照或其他）、担保情况 、丙方对乙方出具的《风险评估报告》、借款用途相关证明文件等。
      li 丁方接受本协议其他各方的委托行为所产生的法律后果由相应委托方承担。如因本协议其他各方或任何第三方原因（包括但不限于技术问题）造成的延误或错误，丁方不承担任何责任。
      li 甲方授权并委托丁方，在乙方发生逾期还款或违约还款的情形下，丁方有权通过包括但不限于电话通知、邮件通知、发律师函、提起诉讼等方式，对乙方、丙方进行借款的违约提醒及催收工作，其他各方应对丁方上述工作予以积极配合。丁方可将上述工作转委托他方进行，本协议各方对于上述委托事项均已知晓，并负有积极配合的义务。为免疑问，丁方没有任何义务进行前述违约提醒及催收工作。
      li 在任何情形下，丁方不是本协议项下任何借款或债务的债务人或需要以其自有资产偿还本协议项下的任何借款或债务。丁方亦不是本协议项下的丙方或需要以其自有资产承担本协议项下的担保责任。
      li 丁方有权审核本协议其他各方的具体信息（包括但不限于资产情况、商业信誉、负债情况，偿还能力等），并有权在合同履行期间监督其他各方的合同履行情况，其他各方应予以配合。丁方保留对可疑交易、非法交易、高风险交易或交易纠纷的独立判断，并有权依法采取暂停交易、终止交易、向有关单位报告等必要处理措施或依有关单位合法指示行事。
      li 如乙方逾期支付居间费、逾期管理费、提前到期违约金的，丁方有权单独向乙方追索或者提起诉讼。
      li 本协议约定的其他权利义务。

    h3 第十一条  保密义务
    ol
      li 除本协议约定以外，任何一方未经其他各方同意，均不得向第三方披露本协议。同时，保密信息接收方因对在履行本协议过程中所知悉的其他各方的商业秘密承担保密义务，未经保密信息提供方的书面同意，均不得向第三方披露。否则由此所产生的一切损失均由违约方承担。
      li 保密信息接收方对以下信息不具有保密义务：
        p （1） 已为公众所知的该等信息；
        p （2） 在任何诉讼、仲裁或其他法律程序中需要披露的信息；
        p （3） 法律要求披露的信息；
        p （4） 任何有权机关要求披露的信息；
        p （5） 需要向其董事、管理人员、员工（包括外聘人员）、代理人或专业顾问披露的信息，前提是被披露方已经承诺遵守本条规定的保密义务；
        p （6） 保密信息提供方同意披露的信息。


    h3 第十二条  违约责任
    ol
      li 合同各方均应严格履行合同义务，非经各方协商一致或依照本协议约定，任何一方不得解除本协议。
      li 任何一方违约，违约方应承担因违约使得其他各方产生的费用和损失，包括但不限于调查、诉讼费、律师费等。如违约方为乙方的，甲方有权立即解除本协议，并要求乙方立即偿还未偿还的本金、利息、罚息、违约金及其他费用。
      li 如本协议提前解除时，乙方在乙方账户里有任何余款，乙方授权并委托丁方按照本协议第四条4款的清偿顺序将乙方的余款用于清偿，并要求乙方支付因此产生的相关费用。

    h3 第十三条  法律适用及争议解决
    ol
      li 本协议适用中华人民共和国法律（本法律仅限中国大陆地区法律，不含港、澳、台）。
      li 与本协议有关的一切纠纷，各方均有权向丁方所在地有管辖权的法院提起诉讼。

    h3 第十四条  其他
    ol
      li 本协议各方确认本协议签署成立方式如下：本协议及其配套协议、文件采用线上线下相结合的方式进行签署，甲方同意在线签署本协议并确认其按照网利宝平台要求所填写的确认信息是其合法有效的电子签名，并保存在丁方为此设立的专用服务器上备查，乙方、丙方、丁方同意以线下方式签署本协议，各方均认可该形式的协议效力。
      li 本协议自文本最终生成之日成立，自借款本金到达乙方账户之日起生效。
      li 本协议签订之日起至借款全部清偿之日止，甲方或乙方的基本信息（包括但不限于：本人、本人的家庭联系人及紧急联系人、联系电话、地址、手机号码、电子邮箱、银行账户）如发生变更的，应当在变更之日起【3】日内将更新后的信息提供给丁方，若因不及时提供上述变更信息而带来的损失或额外费用应由该方承担。
      li 如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。
      li 本协议一旦生成，表示各方均已详细阅读了丁方在其网利宝平台所发布的有关交易规则及协议等全部内容，已充分知悉和了解了本协议项下的全部内同及各方的权利义务并予接受，且于本协议项下的全部意思表示真实、合法、有效。
      li 本合同一式
        span.border-bot 4
        | 份，各方各执
        span.border-bot 1
        | 份，具有同等法律效力。
      p.align-center （以下无正文）
