-load formatters

product = equity.product

doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title 网利宝借款协议
    style.
      h1,h2 {
        text-align: center;
      }
      p {
        margin: 0;
        padding: 0;
        line-height: 2
      }
      table{
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%
      }
      td,th{
        border: 1px solid lightgray;
        text-align: center;
        height: 40px;
      }
      li{
        padding-left: 1em;
        margin-left: 1em;
        line-height: 2;
      }
      ul{
        list-style: none;
        padding-left: 0;
      }
      ul>li{
        padding-left: 0;
        margin-left: 0;
      }
      .align-left{
        text-align: left;
      }
      .align-left td{
        text-align: left;
        padding-left: 10px;
      }
      .align-right{
        text-align: right;
      }
      .align-center {text-align: center;}
      .bold {font-weight: bold}
      .border-bot {
        border-bottom: solid 1px #000000;
        display: inline-block;
        padding: 0 10px;
        line-height: normal;
      }

  body
    h2 借款协议
    .align-right 协议编号：
      span.border-bot {{product.contract_serial_number}}
      | 号
    br
    p 本协议由以下四方于
      span.border-bot {{now|date:"Y"}}
      | 年
      span.border-bot {{now|date:"m"}}
      | 月
      span.border-bot {{now|date:"d"}}
      | 日签署：
    br
    p.bold 甲方（出借方）：
    table
      tbody
        tr
          th 网利宝平台用户
          th 借出金额
          th 借款期限
        equities = equity.product.equities.all()
        for e in equities
          tr
            if e.user.id == equity.user.id
              td {{e.user.wanglibaouserprofile.phone}}
            else
              td {{e.user | safe_phone}}

            td ￥{{ e.equity }}元
            td {{ e.product.period }}个月
        tr
          th 合计
          th ￥{{ equity.product.total_amount }}元
          th ——
    br
    p.bold 乙方（借款方）：{{ product.borrower_name|safe_name_last }}
    p 法定代表人：{{ product.borrower_id_number|safe_name_last}}
    p 地址：{{ product.borrower_address|safe_address }}
    br

    p.bold 丙方（质物监管方/仓储方）：福建省联信汇业仓储有限责任公司
    p 法定代表人：田雷
    p 地址：福建省仙游县宝泉工业园区
    br

    p.bold 丁方（平台方）：北京网利科技有限公司
    p 法定代表人：杨华
    p 地址：北京市海淀区花园路5号2幢二层215室 
    br

    h3 鉴于：
    ol
      li 甲方为网利宝平台注册的具有完全民事行为能力的自然人，通过网利宝平台提供的借款信息，自愿选择借款方出借资金。
      li 乙方系在网利宝平台注册的具有完全民事行为能力的自然人或法人，其具有借款需求并授权网利宝平台发布其借款信息。
      li 丙方系一家合法设立并有效存续的有限责任公司，其具有提供木材原材料仓储服务的资质与能力。
      li 丁方系一家合法设立并有效存续的有限责任公司，依法运营管理“网利宝平台”（包括但不限于网利宝平台网站——网址：www.wanglibao.com等客户终端平台）。
      li 乙方有借款需求，甲方亦同意向乙方出借资金。乙方同意质押其拥有完全处分权的动产为本协议项下所有乙方所负债务提供担保。丙方接受甲方的委托，对质押的财产提供配套仓储保管、价格监控等服务。丁方根据乙方授权以网利宝平台为媒介发布乙方借款需求信息、促成甲乙双方民间借贷交易、并与丙方联合为甲方提供还款监督、质物管理等服务。
      p.bold 甲乙丙丁四方就上述借款、质押、配套仓储服务、居间服务等事项协商一致达成以下一致意见：

    h3 第一条  释义
    ol
      li 本金支付日：指甲方向乙方支付本协议项下借款本金之日，为本协议成立之日的次日（如遇法定节假日，顺延至节后第一个工作日）。
      li 当期还款日：指乙方根据本协议约定，应当向甲方支付本金和/或利息之日。
      li 本金：指甲方应向乙方支付的借款本金之和。
      li 利息：指乙方应向甲方支付的利息，利息=本金×利率×期限。
      li 提前还款：借款期限届满[30]日之前，乙方申请将剩余全部本金提前偿还给甲方，从而使甲方的出借资金比约定的计划时间提前收回。
      li 提前还款违约金：指乙方提前还款时，应当向甲方支付的违约金。
      li 逾期还款：指若在某当期还款日的[16]时，乙方账户内的实时资金额度小于当期应付本息的，视为乙方逾期还款。
      li 逾期本息：指乙方当期应当向甲方支付而尚未支付的本金和利息金额之和。
      li 逾期罚息：指乙方逾期还款时，应向甲方支付的罚息。
      li 逾期管理费：指乙方逾期还款时，应向丁方支付的管理费。
      li 提前到期：指因乙方出现本协议约定之情形而导致本协议项下借款提前到期。
      li 提前到期日：指本协议项下借款提前到期之日。
      li 提前到期违约金：指乙方在提前到期日后，因逾期支付拖欠总额而应当向甲方和/或丁方支付的违约金。
      li 居间服务费：指丁方为甲乙双方提供居间撮合服务而收取的费用。
      li 当期应还本息：指乙方在某当期还款日应当向甲方支付本金（如有）、利息（如有）金额之和。
      li 拖欠金额：指乙方根据本协议约定，截止某时间点，应当向甲方或/和丁方支付而尚未支付的本金、利息、逾期罚息、逾期管理费（如有）之和。
      li 拖欠总额：指乙方根据本协议约定，截止某时间点，应当向甲方或/和丁方支付而尚未支付的所有费用之和，包括：本金、利息、提前还款违约金、逾期罚息、逾期管理费。
      li 第三方支付平台：指丁方指定的、具有《支付业务许可证》等相应业务资质的、独立于本协议各方，为本协议项下货币资金支付、划扣相关服务的第三方非金融机构。
      li 甲方注册账户：指甲方在指定第三方支付平台注册而获得的资金账户，该账户专门用于甲方在第三方支付平台进行充值、出借、收款、提现等资金操作。
      li 乙方注册账户：指乙方在第三方支付平台开设的资金收款账户，用于接收本协议项下借款本金以及支付本协议项下的本息及各项费用。
      li 丙方注册账户：指丙方用于收取、支付本协议项下产生的各项费用的资金账户。丙方自本协议成立后应在丁方指定的第三方支付平台开设资金收款账户。
      li 指定第三人：指由乙方另行委托，为其履行本协议项下还本付息、支付居间服务费之义务提供连带保证责任担保的第三人。
      li 保密信息提供方：指为签署及履行本协议，向本协议其他一方或多方提供保密信息的一方当事人。
      li 保密信息接收方：指为签署及履行本协议，从保密信息提供方处接收保密信息的一方当事人。

    h3 第二条  借款信息
    ol
      li 借款表格（若甲方出借人为多人的，各出借人借款本金数额详见本协议文首表格）
        table.align-left
          tbody
            tr
              td 借款用途
              td 【{{product.usage}}】
            tr
              td 还款来源
              td 【{{product.repaying_source}}】
            tr
              td 借款本金数额（小写）
              td 【￥{{product.total_amount}}】
            tr
              td 借款本金数额（大写）
              td 【{{product.total_amount | number_to_chinese}}】
            tr
              td 借款年化利率
              td 【{{product.expected_earning_rate}}】%
            tr
              td 借款期限
              td 【{{product.period}}个月】
            tr
              td 借款起止日期
              td {{now|date:"【Y】年【m】月【d】日"}}至{{now|add_months:product.period|date:"【Y】年【m】月【d】日"}}
            //tr
              td 还款日期
              td 【{{now|date:"d日"}}】
            tr
              td 总还款本息
              total = reduce(lambda v, i: v + i, [amort.principal + amort.interest for amort in product.amortizations.all()])
              td 【￥{{total}}】

      li 乙方指定收款银行账户
        p 账&nbsp;&nbsp;&nbsp;&nbsp;号：
          span.border-bot {{product.borrower_bankcard|bank_card}}
        p 账户名：
          span.border-bot {{product.borrower_name|safe_name_last}}
        p 开户行：
          span.border-bot {{product.borrower_bankcard_bank_name|safe_address}}
        p （请在工商银行，招商银行、民生银行开户。）
      li 甲方授权并委托丁方在以下条件全部满足时，代为向乙方支付本协议项下借款本金：
        p （1） 质物入库并以质押标签（见附件）标示；
        p （2） 《动产质押仓单》（正本）交丁方保存；
        p （3） 乙方开通指定第三方支付公司账户；
        p （4） 按照乙丙丁三方协议约定，乙方已全额支付仓储费、居间服务费；
        p （5） 经丙方或丁方工商查询质物无在先抵押登记记录；
        p （6） 质物办理保险证明。
      li 甲方授权并委托丁方自本协议约定放款条件成就后一个工作日内向第三方支付平台发出支付指令，实时将借款本金在扣除第三方支付平台手续费（￥2元/笔）后，划扣至上述乙方指定收款银行账户。
      li 本协议约定放款条件成就后若乙方未按时收到借款，每逾期一日，丁方向乙方承担相当于借款本金0.2%的违约金。

    h3 第三条  还款
    ol
      if product.pay_method == '按月付息'
        p 还款方式及计划：本协议项下的借款采用以下第（1）种还款方式：
      if product.pay_method == '到期还本付息'
        p 还款方式及计划：本协议项下的借款采用以下第（2）种还款方式：
      if product.pay_method == '等额本息'
        p 还款方式及计划：本协议项下的借款采用以下第（3）种还款方式：
      li 按月付息到期还本
        p 乙方每月应还利息=本金×月利率。
        table
          thead
            tr
              td 借款期数
              td 还款日期
              td 还款本息
              td 还款本金
              td 还款利息
          tbody
            if product.pay_method == '按月付息'
              amortizations = equity.amortizations.all()
              for amortization in amortizations
                tr
                  td 第{{amortization.term}}期
                  td {{amortization.term_date|date:"Y年m月d日"}}
                  total = amortization.principal + amortization.interest
                  td ￥{{total}}元
                  td ￥{{amortization.principal}}元
                  td ￥{{amortization.interest}}元
            else
              tr
                td(colspan=5)
        br
      li 到期还本付息
        p 利息＝借款金额*借款年利率/12*借款期限（月），到期一次性偿还本金及利息。
        table
          thead
            tr
              td 借款期数
              td 还款日期
              td 还款本息
              td 还款本金
              td 还款利息
          tbody
            if product.pay_method == '到期还本付息'
              amortizations = equity.amortizations.all()
              for amortization in amortizations
                tr
                  td 第{{amortization.term}}期
                  td {{amortization.term_date|date:"Y年m月d日"}}
                  total = amortization.principal + amortization.interest
                  td ￥{{total}}元
                  td ￥{{amortization.principal}}元
                  td ￥{{amortization.interest}}元
            else
              td(colspan=5)
      br
      li 按月等额本息
        p 乙方每月应还本息=[贷款本金×月利率×（1+月利率）^还款期数]÷[（1+月利率）^还款期数－1]
        table
          thead
            tr
              td 借款期数
              td 还款日期
              td 还款本息
              td 还款本金
              td 还款利息
          tbody
            if product.pay_method == '等额本息'
              amortizations = equity.amortizations.all()
              for amortization in amortizations
                tr
                  td 第{{amortization.term}}期
                  td {{amortization.term_date|date:"Y年m月d日"}}
                  total = amortization.principal + amortization.interest
                  td ￥{{total}}元
                  td ￥{{amortization.principal}}元
                  td ￥{{amortization.interest}}元
            else
              tr
                td(colspan=5)

    h3 第四条  还款支付方式
    ol
      li 乙方保证按本协议约定的借款用途使用借款，并保证在本协议约定的当期还款日[16]时前将足额当期应还本息及当期应付其他相关费用存入乙方注册账户，且同意并授权丁方通过向第三方支付平台发出指令于当期还款日将当期乙方应还本息及当期乙方应付其他相关费用划扣至甲方账户及其他收款方账户。乙方将款项足额存入乙方注册账户即视为乙方完成还款义务。
      li 如果还款日遇到法定假日或公休日，还款日期顺延至节后第一个工作日。
      li 如果还款日为每月30或31日，则遇到无还款日对应日的月份，还款日为应还款当月的最后一日。
      li 乙方或丙方支付的各项费用（如有）均应按照如下顺序清偿：
        p （1） 逾期罚息；
        p （2） 逾期管理费；
        p （3） 拖欠的利息；
        p （4） 拖欠的本金。

    h3 第五条  提前还款
    ol
      li 乙方可在借款期限内向丁方书面申请提前还款，但若提前还款申请日至借款期限届满之日间小于或等于[30]日的，乙方不得再申请提前还款。
      li 乙方申请提前还款，应向丁方提交书面申请，丁方在收到申请后10个工作日内予以办理。
      li 乙方提前还款的，应在约定提前还款日前当日或之前将当月应还款项、剩余本金及相当于提前还款本金1%的提前还款违约金及其他应当支付的费用存入乙方注册账户，并授权委托第三方支付机构划扣。
      li 乙方提前还款的，甲方对乙方提前还款前已计收的借款利息不作调整，乙方提前归还的借款本金，从前一还款日至提前还款日按日计收利息。
      li 当提前还款日为当期还款日时,提前还款本金不包括当期应付本金；当提前还款日为非当期还款日时，提前还款本金包括当期应付本金。
      li 乙方提前还款的，丙方、丁方对已经收取的监管费用、居间服务费不作退还。

    h3 第六条  逾期还款
    ol
      li 若乙方出现逾期还款时，应向甲方支付逾期罚息，直至甲方收到乙方和/或丙方和/或指定第三人支付的全部拖欠金额为止。自逾期开始之后，逾期本金的正常利息停止计算。逾期罚息总额 =逾期本息总额×0.05%×逾期天数；
      li 若乙方出现逾期还款时，应向丁方支付逾期管理费，直至甲方收到乙方和/或丙方和/或指定第三人支付的全部拖欠金额为止。逾期管理费总额 = 逾期本息总额×0.2%×逾期天数。

    h3 第七条  提前到期
    ol
      li 当以下情形之一出现时，甲乙丙丁四方一致同意，丁方有权单独决定本协议项下借款提前到期：
        p （1） 乙方连续逾期三期以上（含三期），或累计逾期达五期以上（含五期）；
        p （2） 甲方/丁方/丙方发现乙方出现逃避、拒绝沟通或拒绝承认欠款事实、故意转移资金、信用情况恶化等危害本协议借款的情形。
      li 提前到期日的确认方式：
        p （1） 借款因本条第1款第（1）项之原因提前到期的，提前到期日为连续逾期的第三期还款日之次日，或累计逾期第五期的还款日之次日；
        p （2） 借款因本条第1款第（2）项之原因提前到期的，发现方应立即通过[电子邮件/律师函]等方式向乙方发出书面通知并抄送本协议其他各方，提前到期日为书面通知发出之日。
      li 按照本协议第十一条约定，乙方应当追加质物/保证金而逾期追加的，则借款自动提前到期，丁方无需向乙方发出提前到期通知。
      li 当本协议项下借款提前到期时，原逾期罚息、逾期管理费计算至提前到期日当日为止，乙方应立即清偿截止提前到期日本协议下全部的拖欠总额。
      li 乙方逾期支付拖欠总额的，应当按拖欠总额的2‰/日分别向甲方、丁方支付提前到期违约金，直至乙方和/或丙方和/或指定第三人清偿全部拖欠总额及违约金为止。违约金的计算方式为：
        p （1） 应当向甲方支付的违约金总额=拖欠总额（甲方部分）×2‰×逾期期限；
        p （2） 应当向丁方支付的违约金总额=拖欠总额（丁方部分）×2‰×逾期期限。

    h3 第八条  质押
    ol
      li 为保证乙方履行本协议项下的还本付息、支付其他费用之义务，乙方以其拥有所有权和完全处分权的动产提供质押担保。
      li 乙方用以质押动产为：15吨大红酸枝原材
        table
          thead
            tr
              th 入库日期
              th 磅单号
              th 名称
              th 规格
              th 重量
              th 数量
              th 损耗
              th 货物编号
              th 货位
              th 车号
          tbody
            tr
              td 2014年9月1日
              td /
              td 红酸枝
              td 长200厘米；木材直径30-40厘米的，8根；直径40厘米以上29根
              td 15吨
              td 共计37根
              td 按合同约定
              td /
              td /
              td /
            tr
              td 合计
              td(colspan="9").align-left 红木总净重为15吨，总根数为37根。
      li 动产质押担保范围为：甲方的借款本金及利息、及其提前还款违约金、逾期罚息、逾期管理费，质物保管费用，质权人为实现质权而发生的费用（包括但不限于债权人或其委托方为追索债权而发生的律师费、诉讼费、委托第三人追索费用等）。本合同项下质押动产评估价：
        p 人民币￥
          span.border-bot ￥6,000,000.00
          |（大写
          span.border-bot 陆佰万元正整
          | 元整），质押率为
          span.border-bot 50
          | ％。
      li 甲方委托丙方占有、监管质物，质权自质物交付丙方占有时成立。因本协议签订时质物已在丙方仓库保管，视为已转移占有，故质权自本协议签订时成立。
      li 本协议成立当日，丙方向甲方签发《动产质押专用仓单》。乙、丙两方应收回、注销质押动产原存货凭据（如有）和其他单据（如有）。
      li 甲方在此授权委托丁方监管、督促乙方按照本协议约定按期足额偿还借款本息，出现下列情形之一时解除本协议项下质物质押：
        p （1） 如本协议到期乙方完全履行本协议项下所负债务，丁方应于三个工作日内向丙方发出《解除质押通知书》（见附件），并向丙方归还《动产质押专用仓单（正本）》。
        p （2） 如乙方违反本协议约定，丁方有权按照本协议约定向丙方发出《债权及质权转让通知书》（附件 ）。自丙方全额支付转让价款后三个工作日内，丁方向丙方归还《动产质押专用仓单（正本）》。

    h3 第九条  债权转让
    ol
      li 当以下情形之一出现时，丁方有权向乙方、丙方发送《债权及质权转让通知书》，将本协议项下甲方对乙方的剩余债权转让给丙方。丙方应自收到丁方发出的《债权及质权转让通知书》次日（如遇非工作日延长至下一个工作日），将转让价款存入丙方注册账户：
        p （1） 乙方违反本协议约定逾期还款超过1日的。
        p （2） 乙方违反本协议约定，丁方按照本协议第七条约定决定本协议项下借款提前到期的。
      li 债权转让
        p 甲乙丙丁四方同意，当丙方收到《债权及质权转让通知书》时，甲方的全部债权和对应质权即转让给丙方，转让价格等于丙方受让债权金额。
      li 丙方全额支付债权转让金额后，立即取得债权和对应质权，丙方有权对质物进行处置。

    h3 第十条  质物的监管
    ol
      p.bold （一）动产质押专用仓单
    ol
      li 本协议项下丙方出具的《动产质押专用仓单》是依附于本协议，由丙方根据质物实际情况出具的，表明质物已由丙方实际占有和控制的凭证。《动产质押专用仓单》不得转让。
      li 丙方在签发《动产质押专用仓单》前应对质物的情况进行查核，并根据查核结果签发《动产质押专用仓单》。丙方保证《动产质押专用仓单》的记载与质物相符以及《动产质押专用仓单》的真实性和唯一性。
      li 如果丙方事前已为乙方保管该批货物的，乙方应先交还原存货凭证（如有）和其他单据（如有）并注销作废后，丙方方可向甲方签发《动产质押专用仓单》。
      li 如果《动产质押专用仓单》遗失或毁损，甲方应向丙方出具书面说明，丙方可据此重新签发《动产质押专用仓单》，原《动产质押专用仓单》自动注销。
      li 甲方应在相应《动产质押专用仓单》项下质物全部被提取后向丙方归还该《动产质押专用仓单》正本。 甲方在此授权委托丁方代为保管《动产质押专用仓单（正本）》并全权代表甲方随时了解、监督质物保管情况和价格变动情况。
    ol
      p.bold （二）质物监管
    ol
      li 本协议成立后，甲方委托丙方监管质物的监管期间为《动产质押专用仓单》开具之日至丁方按照本协议约定出具《债权及质权转让通知书》或《解除质押通知书》之日止。监管期间，丙方应按照合同法及相关法律规定妥善、谨慎处理监管的质物，保证质物的安全，防止质物毁损或灭失。
      li 丙方保证将本协议项下质物存放于特定标示、独立区域，提供包括但不限于技术、人员等全方位、实时监控。监管期间内，未经丁方书面同意不得变更质物存放区域、摆放位置等。如因客观条件或丁方书面通知需变更质物存放区域的，协议各方应严格遵守丙方仓储监管规定办理出仓、入仓登记手续。
      li 如果对质物的保管有特殊的要求，甲方应当在本协议签订后三个工作日内书面告知丙方。
      li 监管期间，因各种原因质物发生短少、损毁、变质、灭失等可能影响甲方权益的情形，丙方应当在24小时内通知乙方和丁方，并采取适当的应急措施。仓储期间货物的合理损耗为：重量
        span.border-bot 10
        | %以内，在损耗标准内货物发生短少的，丙方不承担责任。
      li 监管期间，国家有权机关要求丙方协助冻结、查封或处置质物或除本协议三方外任何他人就质物主张任何权利的，丙方应当立即通知乙方和丁方。
      li 监管期间，丙方应当接受丁方对质物及相关单证的查询，接受丁方对质物的检查。
      li 监管期间，丙方应当建立质物登记统计制度，定期对质物进行查验、核对种类、清点数目、检查包装和标识，对质物的出入库的时间、数量、去向以及质物的现状进行记录。
      li 丙方应当在甲方享有质权的质物上明显标识甲方的标签或指示（见附件）。如乙方增加质物的，丙方应保证增加的质物与同一质押借款合同项下的原质物同存一处。若因丙方未能在质物上设置明显标识引致甲方在本协议项下的质权存在瑕疵，丙方应承担因此而给甲方引致的相关损失。
      li 丙方保证，其对存放监管质物的场地或者仓库拥有完全的，排他的所有权或使用权，不存在任何法律上的瑕疵。若由于存放监管质物的场地或者仓库的权属存在法律上的瑕疵影响丙方监管责任的履行，丙方应承担相应的赔偿责任。

    ol
      p.bold （三）查询查验
    ol
      li 监管期间，丙方应当积极协助丁方查验质物。
      li 甲方在此委托丁方有权就《动产质押专用仓单》以及《动产质押专用仓单》记载事项的真实性向丙方进行查询，丙方应当及时查核并于3个工作日内给予答复。
      li 丙、丁任何一方在质物转移占有前可以要求有资质的检验机构对质物进行检验，检验费等合理费用由乙方承担。
      li 丙方应当定期向甲方提交质物状况报告，提交频率为每二周一次，版本为本协议第十一条第（一）款第1项约定的《市场价格调研报告》。
      li 监管期间，丁方有权查询质物，接到丁方的书面查询后，丙方应当就丁方的查询事项进行核实，并在3个工作日内书面如实回复查询。
      li 甲方在此委托丁方有权查验质物，丙方应当给予丁方必要协助。

    ol
      p.bold （四）提取质物
    ol
      li 甲方在此授权丁方处理乙方提取质物事宜。监管期间，乙方向丁方申请签发《提货通知书》（见附件）时，必须事先在丁方存入等值于提货价值的保证金或提前归还相应融资或追加与提货价值相当的商品作为新的质物，并提交《提货申请书》（见附件），经丁方审核同意后，乙方指定的提货人凭丁方签发的《提货通知书》原件到丙方办理提货。
      li 丙方收到乙方提交的《提货通知书》原件后传真至丁方，经丁方审核确认并在传真件上再次加盖预留印章后传真回复丙方（双方必须使用指定传真机，传真号码见附件），丙方方可放货。在乙方实际向丙方提取货物时，丙方应向乙方交付解除质押的货物。其余由丙方占有、监管的未解除质押货物，丙方不得向乙方交付。
      li 《提货通知书》是提取质物的唯一有效凭证。未有丁方签发的《提货通知书》，丙方无权将质物放予任何他人。《提货通知书》非加盖丁方预留的印章且经丁方指定人员亲笔签字（见附件），并经上述规定的审核确认程序，质物不得提取。丙方必须按照《提货通知书》上注明的各项要素办理提货。
      li 质物提取后，丙方向丁方签发相应的《提货通知书(回执)》（见附件）。

    ol
      p.bold （五）费用及支付方式
    ol
      p 丙方有权收取质物的监管费、仓储费、运杂费、装卸费、检验费等因质物监管产生的相关费用，该费用由乙方承担。具体由乙、丙双方另行协议约定。

    ol
      p.bold （六）保险
    ol
      li 乙方应当就质物向丁方认可的保险人购置保险，投保的险种、金额、期限应符合丁方要求，乙方应指定第一受益人为丙方，保单正本交由丙方保管、复印件交丁方存管。
      li 保险事故发生时，乙方和丙方应当协助保险公司办理事故审查以及理赔事宜，并立即通知丁方。
      li 保险公司赔付后、还款日期届满前，丙方应提前与丁方联系确定办理提前还款事宜。如不符合本协议约定的提前还款条件，丙丁两方应将到期本息金额相当款项提存，丁方按照本协议约定到期支付给甲方。


    h3 第十一条  质物的价格监控和质物处置
    ol
      p.bold （一）质物的价格监控
    ol
      li 质物的现时市场价格由丙方负责监控。通常情况下，丙方应当每【半月】向丁方书面报告现时市场价格，报告形式为《市场价格调研报告》（格式见附件13）。丙方定期对主要地区红木市场价格进行调研，各方同意丙方所调研的平均价格视为质物的“现时市场价格”。
      li 质物的“初始价格”为动产质押成立前丙方确认的价值。各方同意，当质物的现时市场价格与初始价格相比较跌幅达到【10%（百分之十）】，则甲、丁方在此共同委托丙方有权在【2】日内向乙方发出《追加质物／保证金通知书》（格式见附件14）。
      li 乙方应当于收到《追加质物／保证金通知书》之日起【7】日内追加与跌幅比率同等价值质物，或追加按质押率折算后的保证金。若乙方选择追加保证金，应当于收到《追加质物／保证金通知书》之日起【7】日内将保证金打入乙方注册账户；若乙方选择追加质物，应当于收到《追加质物／保证金通知书》之日起【7】日内将追加的质物运送至丁方指定的丙方仓库，并经丙方核实价值、确认质物合格。
      li 若乙方未在上述期限内追加保证金或合格质物，视为乙方在本协议项下违约，借款自动提前到期，乙方应当于上述期限届满后次日偿还全部借款本息。

    ol
      p.bold （二）乙方违约情形下的债权转让
    ol
      p 当乙方出现本协议项下违约情形，甲、丙方根据本协议第九条的约定进行债权转让。为便于监管人处置质物，出质人应于本协议签订的同时向监管人出具《处置质物委托书》（格式见附件16）。当监管人受让债权后，监管人即有权根据《物权法》的规定，委托拍卖公司对质物进行拍卖或者在红木市场按照公开价格予以变卖，而无需请求人民法院实现。

    ol
      p.bold （三）质物处置
    ol
      li 乙方同意，丙方受让债权后即有权持本协议和《债权及质权转让通知书》（格式见附件15），委托任一合法拍卖机构对质物进行公开拍卖，或者在红木市场按照公开价格予以变卖，无需请求人民法院实现。
      li 采取公开拍卖方式处置的，由拍卖公司按照拍卖规则对质物进行整体或单个拍卖。拍卖成交的，在扣除拍卖佣金、应付丙方的监管费和仓储费后，剩余成交价款应偿还对丙方的债务（包括本金、利息、罚息、付息、维权费用等），不足部分由乙方补足；如有剩余，返还给乙方。
      li 如果流拍，则可以再次拍卖。仍流拍的，丙方有权要求乙方将质物按照第二次起拍价扣除拍卖佣金、应付丙方的监管费和仓储费后抵债给丙方，不足部分由乙方补足；如有剩余，返还给乙方。丙方要求抵债的，自丙方向乙方发出《抵债通知书》（见附件17）之日，质物所有权自动转移给丙方。
      li 拍卖成交或抵债的，丙方已收取的监管费、仓储费等费用无须退还。
      li 采取在红木市场公开变卖的，丙方应当比较市场价格，不得故意低价处置质物。丙方确定买受人和价格后，应当与买受人签订买卖合同，并将价格通知乙方，所得款项扣除变卖费用、应付丙方的监管费和仓储费后，多退少补。

    h3 第十二条  各方权利和义务
    ol
      p.bold （一）甲方权利义务
    ol
      li 甲方应保证在本协议签订前，其甲方账户中的余额大于/等于本协议项下出借本金，并按约在本金支付日将足额的借款本金支付给乙方。
      li 甲方应保证其所用于出借的资金来源合法，甲方是该资金的合法所有人，如果第三人对资金归属、合法性问题发生争议，由甲方负责解决，否则应承担由此对其他各方所造成的全部损失。
      li 甲方享有其所出借本金所带来的利息收益，并应主动缴纳由利息所得带来的可能的税费。
      li 在本协议有效期内，甲方应保证其网利宝平台注册用户的身份。
      li 若甲方出借人为多人的，如出现乙方还款不足以偿还约定本金、利息、提前还款违约金、逾期罚息之情形的，甲方同意各自按照其借款本金比例收取还款。
      li 本协议中的所有甲方与乙方之间的借款均是相互独立的，一旦乙方逾期还款的，甲方中的任何一方均有权单独向乙方追索或者提起诉讼。
      li 甲方应保证不利用网利宝平台进行信用卡套现、洗钱或其他任何违法行为。
      li 甲方清楚可能面临的出借风险。甲方在此确认，乙方或丙方或指定第三人可能因为经营不善、丧失商业信誉等因素，存在着部分或全部借款不能回收的风险，甲方已充分了解并认识到了本次借款的特殊性、风险的不确定性以及回收该等借款可能面临的困难，经独立慎重判断后仍做出出借决定，自愿签署本协议。
      li 如乙方违约，甲方有权要求丙方、丁方提供其已获得的乙方信息；且甲方保证采取合法的手段和方式向乙方或丙方或指定第三人主张权利；并且保证不得因未实现预期投资收益或者投资受损而对丁方及其关联机构提出任何诉讼、仲裁或索赔，丁方不承担任何责任。
      li 本协议约定的其他权利义务。

    ol
      p.bold （二）乙方权利义务
    ol
      li 乙方承诺并保证对质押动产享有充分处分权，质押动产上未设定任何其他在先担保物权。
      li 乙方必须按时足额履行本协议项下还本付息、支付居间费的义务，并于丙方受让债权后对丙方继续履行本协议下的还款义务。
      li 乙方应确保其为签署、履行本协议所提供的信息和资料的真实性、完整性、合法性、有效性，不得提供虚假信息或隐瞒重要事实，并承诺其所借款项不用于任何违法用途，不会利用网利宝平台进行诈骗、非法集资或其他违法行为，否则应依法独立承担法律责任。
      li 在乙方违约的情况下，如果甲方要求，乙方无条件授权丙方和丁方向甲方披露其此前向丙方和丁方提供的信息和资料。
      li 乙方不得将本协议项下的任何权利义务转让给任何第三方。
      li 乙方保证按本协议约定的借款用途使用借款，并保证在本协议约定的当期还款日的前一日[24]时前将足额当期应还本息及当期应付居间费存入乙方账户，且同意并授权丁方于当期还款日将当期应还本息及当期应付居间费划至相应账户。如乙方未依约按时还款或者支付居间费或其他费用，则应依本协议之约定承担违约责任及由此而产生的各项费用。
      li 乙方承诺，乙方因授权和/或委托丁方根据本协议所采取的全部行动和措施的法律后果均归属于乙方本人。
      li 乙方保证在清偿其在本协议项下的全部债务之前如进行对外投资、实质性增加债务融资，以及用于反担保（如有）的经营组织进行合并、分立、减资、股权转让、资产转让、申请停业整顿、申请解散、申请破产等足以引起本协议之债权、债务关系变化或者可能足以影响甲方权益的行动时，应提前[30]个工作日以书面形式通知丁方和丙方，同时落实债务清偿责任或者提前清偿责任，未经丁方和丙方书面同意，不得进行上述行动。
      li 在本协议有效期间内，未经丁方及丙方书面同意，乙方不得为其他企业法人、其他组织或个人承担足以影响乙方偿还本协议项下借款能力的债务，或提供足以影响乙方偿还本协议项下借款能力的担保。如出现下列对其履行本协议项下还款义务构成威胁的任何情况时，应当立即书面通知丁方和丙方，并积极按丁方的要求落实好本协议项下的借款及其他一切应付款项按期足额偿还的保障措施或应丁方之要求予以提前清偿：
        p （1） 乙方在与银行等金融机构签订的借款合同、授信额度合同及其项下授信合同、担保合同或与其他任何债权人所签订的融资合同项下发生任何违约事项；
        p （2） 乙方发生违法或被索赔事件；
        p （3） 乙方经营出现严重困难和财务状况发生恶化；
        p （4） 在本协议项下的债务未清偿前，乙方已承担或将要承担重大债务或有债务；
        p （5） 乙方发生重大债权债务纠纷引起诉讼、仲裁等事件；
        p （6） 其他可能影响乙方财务状况和偿债能力的情况。
      li 本协议约定的其他权利义务。

    ol
      p.bold （三）丙方权利义务
    ol
      li 丙方保证其具有就本协议项下所提供服务所应具有的相应资质。
      li 丙方有权向乙方收取监管费、仓储费，及其他费用，具体收取款项及方式由乙丙双方另行约定。
      li 丙方承诺并保证在发生乙方违约情况下，丙方自收到丁方发出的《债权及质权转让通知书》（附件）次日支付转让价款。
      li 本协议约定的其他权利义务。

    ol
      p.bold （四）丁方权利义务
    ol
      li 丁方有权按约向乙方收取居间费。非因丁方原因导致乙方违约的，对于乙方已经缴纳的居间费不予退还。
      li 丁方有权通过网利宝平台对外发布乙方的借款信息，包括但不限于乙方借款金额、期限、利率、用途、还款方式、身份证明文件（身份证、企业法人营业执照或其他）、担保情况 、丙方对乙方出具的《风险评估报告》、借款用途相关证明文件等。
      li 丁方接受本协议其他各方的委托行为所产生的法律后果由相应委托方承担。如因本协议其他各方或任何第三方原因（包括但不限于技术问题）造成的延误或错误，丁方不承担任何责任。
      li 甲方授权并委托丁方，在乙方发生逾期还款或违约还款的情形下，丁方有权通过包括但不限于电话通知、邮件通知、发律师函、提起诉讼等方式，对乙方、丙方进行借款的违约提醒及催收工作，其他各方应对丁方上述工作予以积极配合。丁方可将上述工作转委托他方进行，本协议各方对于上述委托事项均已知晓，并负有积极配合的义务。为免疑问，丁方没有任何义务进行前述违约提醒及催收工作。
      li 在任何情形下，丁方不是本协议项下任何借款或债务的债务人或需要以其自有资产偿还本协议项下的任何借款或债务。丁方亦不是本协议项下的丙方或需要以其自有资产承担本协议项下的担保责任。
      li 丁方有权审核本协议其他各方的具体信息（包括但不限于资产情况、商业信誉、负债情况，偿还能力等），并有权在合同履行期间监督其他各方的合同履行情况，其他各方应予以配合。丁方保留对可疑交易、非法交易、高风险交易或交易纠纷的独立判断，并有权依法采取暂停交易、终止交易、向有关单位报告等必要处理措施或依有关单位合法指示行事。
      li 如乙方逾期支付居间费、逾期管理费、提前到期违约金的，丁方有权单独向乙方追索或者提起诉讼。
      li 本协议约定的其他权利义务。

    h3 第十三条  保密义务
    ol
      li 除本协议约定以外，任何一方未经其他各方同意，均不得向第三方披露本协议。同时，保密信息接收方因对在履行本协议过程中所知悉的其他各方的商业秘密承担保密义务，未经保密信息提供方的书面同意，均不得向第三方披露。否则由此所产生的一切损失均由违约方承担。
      li 保密信息接收方对以下信息不具有保密义务：
        p （1） 已为公众所知的该等信息；
        p （2） 在任何诉讼、仲裁或其他法律程序中需要披露的信息；
        p （3） 法律要求披露的信息；
        p （4） 任何有权机关要求披露的信息；
        p （5） 需要向其董事、管理人员、员工（包括外聘人员）、代理人或专业顾问披露的信息，前提是被披露方已经承诺遵守本条规定的保密义务；
        p （6） 保密信息提供方同意披露的信息。


    h3 第十四条  违约责任
    ol
      li 合同各方均应严格履行合同义务，非经各方协商一致或依照本协议约定，任何一方不得解除本协议。
      li 任何一方违约，违约方应承担因违约使得其他各方产生的费用和损失，包括但不限于调查、诉讼费、律师费等。如违约方为乙方的，甲方有权立即解除本协议，并要求乙方立即偿还未偿还的本金、利息、罚息、违约金及其他费用。
      li 如本协议提前解除时，乙方在乙方账户里有任何余款，乙方授权并委托丁方按照本协议第四条4款的清偿顺序将乙方的余款用于清偿，并要求乙方支付因此产生的相关费用。

    h3 第十五条  法律适用及争议解决
    ol
      li 本协议适用中华人民共和国法律（本法律仅限中国大陆地区法律，不含港、澳、台）。
      li 与本协议有关的一切纠纷，各方均有权向丁方所在地有管辖权的法院提起诉讼。

    h3 第十六条  通知与送达
    ol
      li 本协议规定的各项通知，通知方均有权选择专人递送、电子邮箱、特快专递、传真、挂号信、手机短信等方式送达。各方的联络信息以本协议载明信息为准，若有变更，应当在变更后3个工作日书面告知其他方，在告知之前，其他方按原信息送达通知仍为有效。
      li 通知在下列日期视为送达日：
        p 专人递送：通知方取得的被通知方签收回执所示日；
        p 电子邮件：自发出通知方的邮件进入收件方信箱之日；
        p 特快专递：自发出通知方持有的发送凭证上邮戳日起第4日；
        p 传真：发出通知方成功发送传真之日；
        p 挂号信：自发出通知方持有的国内挂号函件收据所示日起第6日；
        p 手机短信：发出通知方的手机成功发出短信之日。
      li 通知方按上述规定送达即视为有效。若受送达方未实际收到，或者未签收回执的（除专人递送外），均不影响送达效力。

    h3 第十七条  其他
    ol
      li 本协议附件
        p 附件1：承诺函
        p 附件2：动产质押专用仓单
        p 附件3：提货申请书（适用解除部分质押监管）
        p 附件4：提货通知书（适用解除部分质押监管）
        p 附件5：提货申请书（适用解除全部质押监管）
        p 附件6：提货通知书（适用解除全部质押监管）
        p 附件7：质物标签
        p 附件8：预留印鉴及签字样式
        p 附件9：解除质押通知书
        p 附件10：债权及质权转让通知书
        p 附件11：抵债通知书
        p 附件12：提前到期通知书
        p 附件13：市场价格调查报告
        p 附件14：追加质物／保证金通知书
        p 附件15：债权及质权转让通知书
        p 附件16：处置质物委托书
        p 附件17：抵债通知书
      li 本协议各方确认本协议签署成立方式如下：本协议及其配套协议、文件采用线上线下相结合的方式进行签署，甲方同意在线签署本协议并确认其按照网利宝平台要求所填写的确认信息是其合法有效的电子签名，并保存在丁方为此设立的专用服务器上备查，乙方、丙方、丁方同意以线下方式签署本协议，各方均认可该形式的协议效力。
      li 本协议自各方按照本协议约定以线上线下相结合方式签订之日成立，自借款本金扣除第三方支付平台手续费（￥2元/笔）后款项到达乙方收款银行账户之日起生效。
      li 本协议签订成立之日起至借款全部清偿之日止，甲方或乙方的基本信息（包括但不限于：本人、本人的家庭联系人及紧急联系人、联系电话、地址、手机号码、电子邮箱、银行账户）如发生变更的，应当在变更之日起【3】日内将更新后的信息提供给丁方，若因不及时提供上述变更信息而带来的损失或额外费用应由该方承担。
      li 如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。
      li 本协议一旦生成，表示各方均已详细阅读了丁方在其网利宝平台所发布的有关交易规则及协议等全部内容，已充分知悉和了解了本协议项下的全部内同及各方的权利义务并予接受，且于本协议项下的全部意思表示真实、合法、有效。
      li 本合同一式
        span.border-bot 4
        | 份，各方各执
        span.border-bot 1
        | 份，具有同等法律效力。
      p.align-center （以下无正文）
    br
  h2 委托协议
  p 协议编号：
    span.border-bot {{ product.borrower_name|safe_name_last }}
  p 委托人（出借人/质权人）：以下称“委托人”
  table
        tr
          th 网利宝平台用户
          th 借出金额
          th 借款期限
        equities = equity.product.equities.all()
        for e in equities
          tr
            if e.user.id == equity.user.id
              td {{e.user.wanglibaouserprofile.phone}}
            else
              td {{e.user | safe_phone}}

            td ￥{{ e.equity }}元
            td {{ e.product.period }}个月
        tr
          th 合计
          th ￥{{ equity.product.total_amount }}元
          th ——
      p 受托人（平台方/居间方）：北京网利科技有限公司，以下称“受托人”
      p 委托人因与借款人
        span.border-bot {{ product.borrower_name|safe_name_last }}
        | 企业经营需要向委托人借款，借款人为了保证还款，以《借款协议》（编号：
        span.border-bot {{product.contract_serial_number}}
        | ）所列货物出质向所有出借人担保还款。为便于质押权利行使及委托人债权有效实现，委托人特授权委托受托人代为办理质押相关事项，经平等协商一致，达成如下协议：
  h3 一、授权具体事项：
  ol
    li 授权委托受托人以自己名义（或受托人转委托的第三方）代为办理《借款协议》项下质物质押手续；
    li 授权委托受托人向借款人、仓储监管机构等其他相关方确认《借款协议》项下全体出借人名单；
    li 授权委托受托人代为行使和主张《借款协议》项下质权；
    li 授权委托受托人代为保管《动产质押专用仓单》（正本）；
    li 授权委托受托人代为签发《借款协议》项下需由质权人签署的相关法律文书、通知等；
    li 针对因《借款协议》约定事项引起的纠纷，代为向借款人、债权受让人追究逾期违约责任；
    li 针对因《借款协议》约定事项引起的纠纷，代为实现或转委托第三方实现质权；
    li 针对因《借款协议》约定事项引起的纠纷，代为进行诉讼（包括承认、变更、放弃诉讼请求；代为和解、上诉和反诉），代为签署诉讼相关法律文书。
  h3 二、委托事项行为后果承担
  ol
    p 委托人对于受托人在上述授权范围内所进行的民事行为后果承担法律责任。受托人代为签署相关文书、代为行使质权、诉权等行为的法律后果及权利、义务由委托人自行承担。
  h3 三、授权不可撤销及转委托
  ol
    p 委托人的上述委托行为在委托期限内是不可变更和撤销的。受托人有权转委托。
  h3 四、授权期限
  ol
    p 上述委托事项委托权限自委托人在受托人网站平台确认委托之时开始至委托人出借资金本息及其它相关费用全额得到清偿或实现质权之日止。
  h3 五、争议处理
  ol
    p 因本委托协议引起的纠纷，不能协商解决的，由受托人所在地人民法院诉讼管辖。