-load formatters
-load mathfilters
-load widget_tweaks

doctype html
html
  head
    title = p2p.name
    include include/common_head
    meta(name="keywords", content="网利宝")
    meta(name="description", content="网利宝是针对中国中产阶级人群的一站式网络理财服务平台，网利宝把国外传统的“私人银行”模式引入中国，我们通过独有的用户投资专业评估体系和个人理财数据分析算法，利用PC和移动互联网等方式，为客户提供个性化投资产品推荐，降低理财门槛，提高投资者的理财收益水平。")

  body
    include include/header
    include include/navigation
    .space-m
    .full-container-home.clearfix
      .p2p-container.dark-gray.border-all
        .span8.p2p-detail-container
          .p2p-detail-bar.clearfix
            .row
              .span7
                span.p2p-detail-title {{p2p.short_name}}
                span.p2p-warrant-way
                  span.icon-check-shield
                  | 100%本息担保
              .span5-omega.p2p-detail-endtime.align-right(data-role="countdown", data-left="{{p2p.end_time | timedelta_now}}", data-target="#countdown") 剩余时间：
                span#countdown{{p2p.end_time | timedelta_now }}
          .p2p-detail-content.clearfix
            .row
              .span4
                p.dark-gray.font-xxl {{p2p.total_amount | money_format}}
                p 投资金额（元）
              .span5
                p.dark-gray
                  span.font-xxl {{p2p.period}}
                  span.font-xl 个月
                p 还款期限
              .span3-omega
                p.highlight
                  span.font-xxl {{p2p.expected_earning_rate}}
                  span.font-xl %
                p 年化收益
          .p2p-detail-footer
            .row
              .span7
                |还款方式：
                span.dark-gray {{p2p.pay_method}}
              .span5-omega
                span 进度：
                  .progress-container
                    percent = float(p2p.ordered_amount) / p2p.total_amount * 100
                    .progress-indicator(style="width:{{percent | percentage}}")
                  span.highlight &nbsp;&nbsp; {{percent | percentage}}

          dl.p2p-detail-intro.clearfix
            dt 项目用途：
            dd
              | {{p2p.short_usage}}
              a.blue(href="") [详情]

        .span4-omega.invest-form.border-left
          h1 我要投资
          if status == 'open'
            form#purchase-form
              {{form.product}}
              .row
                span.span4 可投资金额
                span.span8-omega
                  span.dark-gray.font-m {{p2p.remain | money_format}}
                  | 元
              .row
                span.span4 投资金额
                span.span8-omega
                  period = p2p.period * 30
                  user_limit = u"请输入50-%d的整数" % p2p.current_limit
                  -render_field form.amount class+="span12" placeholder=user_limit data-role="earning-calculator" data-rate=p2p.expected_earning_rate data-period=period data-target="#expected_income" data-unit="1"
              .row
                span.span4 预期收益
                span.span8-omega
                  span.highlight.font-m#expected_income 00.00
                  | 元
              .row
                span.span4 输入验证码
                span.span8-omega
                  -render_field form.captcha
              .row
                span.span4
                span.span8-omega
                  a.submit-button.span12.button-primary.button-middle(href='javascript:void(0)') 抢&nbsp;&nbsp;&nbsp;&nbsp;购
          if status == 'finished'
            .sold-out
              p.align-center
                button.button-large.disabled(type="button")
                  span.font-xl 已售完
              p.align-center.padding-s {{end_time|date:"m-d H:i:s"}} 售完
              p
                | 新的投资产品将在工作日
                span.highlight 17:30
                | 固定时间发布，请查看网站<a href="/">首页</a>。
          if status == 'not_started'
            p 还没有开始

    .space-m
    .full-container-home.clearfix
      .p2p-container
        .span8.p2p-detail-container
          if p2p.extra_data
            r = p2p.extra_data.items()
            for section_name, section_values in r
              .p2p-detail-list.clearfix
                h1 {{section_name}}
                dl
                  for item_name in section_values
                    dd {{item_name}}

                if user.is_authenticated
                  ul
                    for item_name in section_values
                      item_value = section_values[item_name]
                      li {{item_value}}
                else
                  ul.p2p-no-login
                    li
                      | 只有
                      span.blue 注册用户
                      |才能看到，现在
                      a.login-modal.blue(href="#login-modal") 登陆
        .span4-omega.border-left.clearfix
          .p2p-detail-container.guarantee-company
            h1 担保机构
            table
              caption {{p2p.warrant_company.name}}
              tbody
                warrants = p2p.warrant_set.all()
                tr
                  for warrant in warrants
                    td {{warrant.name}}
                tr
                  for warrant in warrants
                    td
                      span
                        span.icon.icon-approve
                        | 已认证
          .clearfix
            .p2p-detail-container
              h1 投资记录
              table.invest-history-table
                thead
                  tr
                    th 申购时间
                    th 投资人
                    th 金额
                tbody
                  trade_records = p2p.p2precord_set.filter(catalog=u'申购')[:40]
                  top = trade_records[:15]
                  rest = trade_records[15:]
                  for trade in top
                    tr
                      td
                        p {{trade.create_time | date:"Y-m-d"}}
                        p {{trade.create_time | date:"h:m:s"}}
                      td
                        em {{trade.user | safe_phone}}
                      td
                        span.money-highlight {{trade.amount}}
                        span 元
                tbody(style="display:none")
                  for trade in rest
                    tr
                      td
                        p {{trade.create_time | date:"Y-m-d"}}
                        p {{trade.create_time | date:"h:m:s"}}
                      td
                        em {{trade.user | safe_phone}}
                      td
                        span.money-highlight {{trade.amount}}
                        span 元

    script.
      require(['/static/js/p2p_detail.js'])
    include include/footer
    include include/tracking
