-load formatters
-load mathfilters
doctype html
html
  head
    - with '【理财】-理财产品排行-理财小知识-网上投资理财' as title
    include include/common_head
    - endwith
    meta(name="keywords", content="理财，理财产品排行，理财小知识，网上投资理财，网利宝")
    meta(name="description", content="网利宝理财频道是国内专业的理财网站，网利宝理财提供专业的理财产品排行、理财小知识、网上投资理财等理财信息服务。")
  body.white-background
    - with '理财专区' as activeItem
    include global/g_nav
    - endwith

    include announcement_block

    .space-vertical-l
    .container
      .row
        .span8
          for product in p2p_products
            status = product['display_status']
            .panel-p2p-product
              .shadow-inner
                .panel-title-bar
                  if product.category == '票据'
                    .bill-icon.di 票
                  elif product.warrant_company
                    .warrant-icon.di 担
                  a(href="/p2p/detail/{{product.id}}")
                    if product.category == '新手标'
                        .new-user 新手福利
                    | {{product.name}}
                  if product.category == '证大速贷'
                    span.tip 满标后持满180天即可债权转让
                .panel-content
                  if product.is_taojin
                    .goldIcon
                  .row
                    .span2.align-center
                      p
                        em {{product.total_amount | money_format_int}}
                      p 融资金额(元)
                    .span2.align-center
                      p
                        em {{product.period}}
                        span.font-l {{product.pay_method|period_unit}}
                      p 还款期限
                    .span3.align-center
                      p
                        earning_rate = str(product['expected_earning_rate'])
                        //if product.excess_earning_rate > 0
                        //  earning_rate = str(product.expected_earning_rate - product.excess_earning_rate) + '+' + str(product.excess_earning_rate)
                        em.highlight {{earning_rate}}
                        span.highlight.font-m %
                        if product.activity
                          em.highlight +
                          span.xunlei-vip-rate(title="{{product.activity.activity_name}}") {{product.activity.activity_rule_percent_text}}%
                            span.xunlei-vip-tip(title="{{product.activity.activity_name}}") {{product.activity.activity_name}}
                      p 年化收益
                    .span2.align-center
                      p
                        amount = product['total_amount'] - product['ordered_amount']
                        em {{amount | money_format_int}}
                      p 可投资金额(元)
                    .span3-omega.align-right
                      p
                        if status == '抢购中'
                          a.button-home(href="/p2p/detail/{{product.id}}/")
                            span.icon-p2p-home.purcharsing
                            {{status}}
                        else
                          a.button-home-disabled(href="javascript:void(0)", disabled)
                            if status == '已还款'
                              span.icon-p2p-home.finished
                            elif status == '还款中'
                              span.icon-p2p-home.payment
                            else
                              span.icon-p2p-home.audit

                            {{status}}

                      if status == '抢购中'
                        p(data-role="countdown", data-left="{{product.end_time | timedelta_now}}", data-target="#counter_{{product.id}}") 剩余：
                          span(id="counter_{{product.id}}") {{product.end_time | timedelta_now_day }}
                      else
                        p

                .panel-p2p--footer
                  .row
                    .span4
                      span 进度：
                      .progress-container
                        percent = float(product['ordered_amount']) / product['total_amount'] * 100
                        if status == '抢购中' or status == '满标审核'
                          .progress-indicator(style="width:{{percent | percentage}}")
                        else
                          .progress-indicator(style="width:{{percent | percentage}}")

                      if status == '抢购中' or status == '满标审核'
                        span.highlight &nbsp;&nbsp; {{percent | percentage}}
                      else
                        span &nbsp;&nbsp; {{percent | percentage}}

                    .span4.align-left
                      if product.category == '证大速贷'
                        span 本息保障: &nbsp;&nbsp;
                        span.d3-text {{product.warrant_company_name}}
                      elif product.category == '票据'
                        span 承兑行: &nbsp;&nbsp;
                        span.red-text {{product.warrant_company_name}}
                        span &nbsp;&nbsp;无条件兑付
                      else
                        span 合作机构: &nbsp;&nbsp;
                        span.d3-text {{product.warrant_company_name}}

                    .span4-omega.align-right
                      span 还款方式: &nbsp;&nbsp;
                      span.d3-text {{product.display_payback_method}}
                if status == '还款中'
                  .panel-p2p-stamp
                if status == '已还款'
                  .panel-p2p-finished
            .space-vertical-sm
          .row
            - with data=p2p_products uri='/p2p/list/'
            include include/pager
            - endwith

        .span4-omega
          if show_slider
            .panel.news-list-container
              .panel-title-bar__border-gray
                .panel-title-b.earning 收益最高
              .panel-content-container
                if p2p_earning
                  ul.p2pinfo-ul-box
                    for p2p in p2p_earning

                      li.p2pinfo-list-box
                        .p2pinfo-list-title
                          if forloop.counter == 1
                            span.p2pinfo-title-number.highlight {{ forloop.counter }}
                            h3.p2pinfo-title-content
                             a(href="/p2p/detail/{{p2p.id}}") {{ p2p.short_name }}
                          elif 1 < forloop.counter and forloop.counter < 4
                            span.p2pinfo-title-number-2-3 {{ forloop.counter }}
                            h3.p2pinfo-title-content
                              a(href="/p2p/detail/{{p2p.id}}") {{ p2p.short_name }}
                          else
                            span.p2pinfo-title-number-4-5 {{ forloop.counter }}
                            h3.p2pinfo-title-content
                              a(href="/p2p/detail/{{p2p.id}}") {{ p2p.short_name }}

                        .row.p2pinfo-list
                          .span4.p2pinfo-ceil
                            if p2p.activity
                              activity_earning = p2p.activity.rule.percent_text
                            else
                              activity_earning = 0
                            earning_total = p2p.expected_earning_rate + float(activity_earning)
                            em.p2pinfo-active.highlight.font-weight  {{ earning_total }}%
                            | &nbsp;收益
                          .span3.p2pinfo-ceil
                            em.font-weight {{ p2p.period }}
                            span.font-l {{p2p.pay_method|period_unit}}
                          .span5-omega.p2pinfo-ceil
                            em {{ p2p.available_amount | money_format_int }} 元可投

                        .p2pinfo-flow(id="earing_{{ forloop.counter }}")
                          .row.p2pinfo-flow-top
                            .span6
                              span.font-weight {{ p2p.total_amount | money_format_int }}
                              | 元总金额
                            if p2p.category == '证大速贷'
                              .span6-omega(title="本息保障：{{ p2p.warrant_company.name }}") 本息保障：{{ p2p.warrant_company.name }}
                            else
                              .span6-omega(title="担保公司：{{ p2p.warrant_company.name }}") 担保公司：{{ p2p.warrant_company.name }}

                          .row.p2pinfo-flow-foot
                            .span6
                              span 进度：
                              .progress-container
                                percent = float(p2p.ordered_amount) / p2p.total_amount * 100

                                if p2p.display_status == '抢购中' or p2p.display_status == '满标审核'
                                  .progress-indicator(style="width:{{percent | percentage}}")
                                else
                                  .progress-indicator(style="width:{{percent | percentage}}")

                              if p2p.display_status == '抢购中' or p2p.display_status == '满标审核'
                                span.highlight.font-xs {{percent | percentage}}
                              else
                                span.font-xs {{percent | percentage}}
                            .span6-omega 还款方式：{{ p2p.display_payback_method }}
                else
                  p.p2pinfo-message 没有记录
            .space-vertical-m
            .panel.news-list-container
              .panel-title-bar__border-gray
                .panel-title-b.period  期限最短
              .panel-content-container
                if p2p_period
                  ul.p2pinfo-ul-box
                    for p2p in p2p_period
                      li.p2pinfo-list-box
                        div.p2pinfo-list-title
                          if forloop.counter == 1
                            span.p2pinfo-title-number {{ forloop.counter }}
                            h3.p2pinfo-title-content
                              a(href="/p2p/detail/{{p2p.id}}") {{ p2p.short_name }}
                          elif 1 < forloop.counter and forloop.counter < 4
                            span.p2pinfo-title-number-2-3 {{ forloop.counter }}
                            h3.p2pinfo-title-content
                              a(href="/p2p/detail/{{p2p.id}}") {{ p2p.short_name }}
                          else
                            span.p2pinfo-title-number-4-5 {{ forloop.counter }}
                            h3.p2pinfo-title-content
                              a(href="/p2p/detail/{{p2p.id}}") {{ p2p.short_name }}

                        .row.p2pinfo-list
                          .span4.p2pinfo-ceil
                            if p2p.activity
                              activity_earning = p2p.activity.rule.percent_text
                            else
                              activity_earning = 0
                            earning_total = p2p.expected_earning_rate + float(activity_earning)
                            em.font-weight  {{ earning_total }}%
                            | &nbsp;收益
                          .span3.p2pinfo-ceil
                            em.p2pinfo-active.highlight.font-weight {{ p2p.period }}
                            span.font-l {{p2p.pay_method|period_unit}}
                          .span5-omega.p2pinfo-ceil
                            em {{ p2p.available_amount | money_format_int }} 元可投

                        .p2pinfo-flow(id="period_{{ forloop.counter }}")
                          .row.p2pinfo-flow-top
                            .span6
                              span.font-weight {{ p2p.total_amount | money_format_int }}
                              | 元总金额
                            if p2p.category == '证大速贷'
                              .span6-omega(title="本息保障：{{ p2p.warrant_company.name }}") 本息保障：{{ p2p.warrant_company.name }}
                            else
                              .span6-omega(title="担保公司：{{ p2p.warrant_company.name }}") 担保公司：{{ p2p.warrant_company.name }}
                          .row.p2pinfo-flow-foot
                            .span6
                              span 进度：
                              .progress-container
                                percent = float(p2p.ordered_amount) / p2p.total_amount * 100
                                if p2p.display_status == '抢购中' or p2p.display_status == '满标审核'
                                  .progress-indicator(style="width:{{percent | percentage}}")
                                else
                                  .progress-indicator(style="width:{{percent | percentage}}")

                              if p2p.display_status == '抢购中' or p2p.display_status == '满标审核'
                                span.highlight.font-xs {{percent | percentage}}
                              else
                                span.font-xs {{percent | percentage}}
                            .span6-omega 还款方式：{{ p2p.display_payback_method }}
                else
                  p.p2pinfo-message 没有记录
            .space-vertical-m

            .panel.news-list-container
              .panel-title-bar__border-gray
                .panel-title-b.amount  即将满标
              .panel-content-container
                if p2p_amount
                  ul.p2pinfo-ul-box
                    for p2p in p2p_amount
                      li.p2pinfo-list-box
                        div.p2pinfo-list-title
                          if forloop.counter == 1
                            span.p2pinfo-title-number {{ forloop.counter }}
                            h3.p2pinfo-title-content
                              a(href="/p2p/detail/{{p2p.id}}") {{ p2p.short_name }}
                          elif 1 < forloop.counter and forloop.counter < 4
                            span.p2pinfo-title-number-2-3 {{ forloop.counter }}
                            h3.p2pinfo-title-content
                              a(href="/p2p/detail/{{p2p.id}}") {{ p2p.short_name }}
                          else
                            span.p2pinfo-title-number-4-5 {{ forloop.counter }}
                            h3.p2pinfo-title-content
                              a(href="/p2p/detail/{{p2p.id}}") {{ p2p.short_name }}
                        .row.p2pinfo-list
                          .span4.p2pinfo-ceil
                            if p2p.activity
                              activity_earning = p2p.activity.rule.percent_text
                            else
                              activity_earning = 0
                            earning_total = p2p.expected_earning_rate + float(activity_earning)
                            em.font-weight  {{ earning_total }}%
                            | &nbsp;收益
                          .span3.p2pinfo-ceil
                            em.font-weight {{ p2p.period }}
                            span.font-l {{p2p.pay_method|period_unit}}
                          .span5-omega.p2pinfo-ceil
                            em.p2pinfo-active.highlight {{ p2p.available_amount | money_format_int }}
                            | &nbsp;元可投

                        .p2pinfo-flow(id="amount_{{ forloop.counter }}")
                          .row.p2pinfo-flow-top
                            .span6
                              span.font-weight {{ p2p.total_amount | money_format_int }}
                              | 元总金额
                            if p2p.category == '证大速贷'
                              .span6-omega(title="本息保障：{{ p2p.warrant_company.name }}") 本息保障：{{ p2p.warrant_company.name }}
                            else
                              .span6-omega(title="担保公司：{{ p2p.warrant_company.name }}") 担保公司：{{ p2p.warrant_company.name }}
                          .row.p2pinfo-flow-foot
                            .span6
                              span 进度：
                              .progress-container
                                percent = float(p2p.ordered_amount) / p2p.total_amount * 100
                                if p2p.display_status == '抢购中' or p2p.display_status == '满标审核'
                                  .progress-indicator(style="width:{{percent | percentage}}")
                                else
                                  .progress-indicator(style="width:{{percent | percentage}}")

                              if p2p.display_status == '抢购中' or p2p.display_status == '满标审核'
                                span.highlight.font-xs {{percent | percentage}}
                              else
                                span.font-xs {{percent | percentage}}
                            .span6-omega 还款方式：{{ p2p.display_payback_method }}
                else
                  p.p2pinfo-message 没有记录

    .space-vertical-xl
    script.
      require(["/static/js/p2p_list.js"])

    include global/g_footer

    include include/tracking
