-load formatters

product = equity.product

doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title 网利宝借款协议
    style.
      h1 {
        text-align: center;
      }
      h2 {
        margin-top: 1em;
        text-align: left;
      }
      table{
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%
      }
      td{
        border: 1px solid lightgray;
        text-align: center;
        height: 40px;
      }
      li{
        padding-left: 1em;
        margin-left: 1em;
        line-height: 2;
      }
      ul{
        list-style: none;
        padding-left: 0;
      }
      ul>li{
        padding-left: 0;
        margin-left: 0;
      }
      .align-right{
        text-align: right;
      }

  body
    h1 网利宝平台借款协议
    .align-right 协议编号：【{{product.baoli_original_contract_number}}】
    .align-right 网利宝平台编号：【{{product.contract_serial_number}}】
    p 本网利宝平台借款协议（“本协议”）由以下各方于{{now|date:"【Y】年【m】月【d】日"}}签订：
    br
    p 甲方（小额借款客户）：【{{ product.borrower_name }}】
    p 身份证号码：{{ product.borrower_id_number }}
    br
    p 乙方（出借人）：
    table
      tbody
        tr
          td 网利宝平台用户名
          td 出借金额（人民币元）
          td 借款期限（月）
          td 每月应收本息（人民币元）
        equities = equity.product.equities.all()
        for e in equities
          tr
            if e.user.id == equity.user.id
              td {{e.user.wanglibaouserprofile.phone}}
            else
              td {{e.user | safe_phone}}

            td ￥{{ e.equity }}元
            td {{ e.product.period }}个月
            if e.product.pay_method == '等额本息'
              total = e.amortizations.first().principal + e.amortizations.first().interest
              td {{total}}元
    br

    p 丙方：深圳市证大速贷小额贷款股份有限公司
    p 法定代表人：戴志康
    p 住所：福田区金田路与福中路交界东南荣超经贸中心B4501
    br

    p 丁方（平台服务商）：北京网利科技有限公司（具有提供互联网信息服务资质并拥有网利宝平台独立经营权。）
    p 法定代表人：杨华
    p 地址：北京市海淀区花园路5号2幢二层215室 
    br

    h2 定义
    ol
      p 除非本协议另有规定，以下词语在本协议中定义如下：
      p a、 小额借款客户（甲方）：指有一定的资金需求，经过丙方信用评估后筛选推荐至丁方网利宝平台，由丁方推荐给出借人并得到出借人资金，且具有完全民事行为能力的自然人。
      p b、 出借人（乙方）：指通过丁方网利宝平台成功注册账户的会员，可参考丁方的推荐、自主选择出借一定数量资金给小额借款客户，且具有完全民事行为能力的自然人。
      p c、 小额借款：出借人拟向小额借款客户提供的借款。
      p d、 网利宝平台：指丁方独立运营管理的网站，域名为：https://www.wanglibao.com/。
      p e、 第三方支付平台：指具有《支付业务许可证》等相应业务资质的、独立于交易各方的第三方非金融机构，为本协议项下货币资金转移提供网络支付等相关服务。
      p f、 网利宝平台账户：指出借人以自身名义在网利宝平台注册后系统自动产生的虚拟账户，可以通过第三方支付机构及/或其他通道进行充值或提现。
      p 就丙方向丁方平台进行推荐，甲方通过丁方运营管理的网利宝平台向乙方借款等事宜，各方根据平等、自愿的原则，达成本协议如下：
    br

    h2 一、	借款金额及期限
    ol
      p 甲方同意通过网利宝平台向乙方借款如下，乙方同意通过网利宝平台向甲方发放该等借款：
      table
        tr
          td 借款详细用途
          td 【{{product.usage}}】
        tr
          td 借款年化利率
          td 【{{product.expected_earning_rate}}】
        tr
          td 借款本金数额
          td 【￥{{product.total_amount}}】
        //tr
          td 借款本金数额（大写）
          td 【{{product.total_amount | number_to_chinese}}】
        tr
          td 月偿还本息数额
          month_amount = product.amortizations.first().principal + product.amortizations.first().interest
          td 【{{month_amount}}】
        tr
          td 还款分期月数
          td 【{{product.period}}个月】
        tr
          td 每月还款日（15：00前，节假日顺延）
          td 【{{now|date:"d日"}}】
        tr
          td 还款起止日期
          td {{now|date:"【Y】年【m】月【d】日"}}至{{now|add_months:product.period|date:"【Y】年【m】月【d】日"}}

    h2 二、	借款流程
    ol
      li 本协议成立：乙方按照网利宝平台的规则，通过在网利宝平台上对甲方发布的借款需求点击“投资”按钮确认。
      li 出借资金冻结：乙方点击“投资”按钮即视为其已经向丁方发出不可撤销的授权指令，授权丁方委托相应的第三方支付机构在乙方网利宝平台用户名项下的虚拟账户（“乙方网利宝平台账户”）中，冻结金额等同于本协议第一条所列的“借款本金数额”的资金。
      li 出借资金划转：甲方即不可撤销地授权丁方委托相应的第三方支付平台，将金额等同于本协议第一条所列的“借款本金数额”的资金，从乙方网利宝平台账户由丁方授权第三方支付平台划转至甲方的个人银行账户，划转完毕即视为借款发放成功，借款利息及相关费用开始计算。

    h2 三、	借款资金来源保证
    ol
      p 乙方保证其所用于出借的资金来源合法，乙方是该资金的合法所有人，如果第三方对资金归属、合法性问题提出异议，由乙方自行解决。如乙方未能解决，则放弃享有其所出借资金所带来的利息等收益。

    h2 四、	收费及税费
    ol
      li 丙方及其关联方有权就为本协议借款所提供的服务向甲方收取咨询手续费和服务费、催收费等费用，上述费用的收取方式由甲、丙双方另行约定。
      li 丁方有权就为本合同借款所提供的居间服务向甲方收取居间服务费。
      li 乙方应自行负担并主动缴纳因利息所得带来的可能的税费。

    h2 五、	偿还方式
    ol
      li 甲方必须按照本协议的约定按时、足额偿还对乙方的借款本金和利息，乙方授权丙方及丁方按如下方式代为收取上述费用：甲方同意，丙方在每月还款日当日（不得迟于15:00）根据乙方的授权代为向甲方收取甲方当期应支付的本息，金额等同于本协议第一条所列的“月偿还本息数额”的资金。同时，甲方应按时偿还对丁方的当期居间服务费，具体代收方式由甲丙双方另行约定。
      li 丙方将代为收取的本息金额及丁方居间服务费充值至丙方第三方支付平台开立的账户后，由丁方委托第三方支付平台扣划至丁方在第三方支付平台的账户，扣划成功即视为甲方已经履行本协议项下对乙方的相应还款义务。收到上述本息后，丁方委托第三方支付平台从丁方的第三方支付平台账户上划扣当期应还本息款项至出借人的银行账户，再划扣丁方的居间服务费至其账户。
      li 如果还款日遇到法定假日或公休日，还款日期顺延。
      li 还款日为每个工作日。
      li 若因丙方的原因导致丁方未能按时收到上述款项，由此产生的各种纠纷与丁方无关，丙方应按本协议约定的逾期情况，支付相应的逾期罚息及逾期违约金。若因丁方原因或第三方支付平台的原因导致乙方未能按时收到上述款项，由此产生的纠纷由丁方自行处理，由此产生的需支付给乙方的逾期罚息及逾期违约金由丁方承担，且不可向丙方追偿。

    h2 六、	代偿及服务
    ol
      li 乙方委托丁方作为其合法代理人，在本协议项下协助办理借款增信相关事宜，以保证乙方借款资金安全。
      li 丙方同意为本协议下甲、乙双方的债权债务提供咨询服务和贷后管理工作，在甲方未按时偿还债务时承担代偿责任。如在约定还款日甲方未还款，丙方应立即向其在第三方支付平台开立的账户充值，并由丁方委托第三方支付平台扣划至丁方在第三方支付平台的账户，等同于甲方当期应还的借款本息的金额及甲方应向丁方支付的当期居间服务费，以及根据本协议第9.2款计算的逾期罚息（定义见下）和逾期违约金（定义见下），即此时代偿方已受让乙方对甲方的债权。
      li 代偿方根据上述规定承担代偿责任后，乙方同意在本协议项下的所有权利已经得到满足和实现，即乙方债权已成功转让给丙方，乙方不得再对甲方提出任何请求或主张，否则应承担相应的违约责任。乙方、丁方在本协议下所享的全部权利和主张，包括但不限于对借款本息、逾期罚息、违约金、补偿金、综合服务费等所享有权利和主张，均由丙方享有。
      p 此时，丙方有权基于上述权利和主张通过诉讼或其它方式向甲方进行再追索。在丙方行使追索权利时，乙方、丁方应予以配合，向丙方提供相关的证据、资料。

    h2 七、	提前还款
    ol
      li 甲方提出提前偿还全部剩余本金时，丙方根据丁方的委托决定是否同意甲方提出的提前还款申请。若甲方提前还款申请得到允许的，甲方应向乙方支付当月应还款及剩余全部本金，同时应向乙方支付提前结清补偿金（全部剩余本金的1%），以及向丁方支付当期居间服务费，丙方应协助处理提前结清的相关事项。因提前结清所产生的提前结清居间服务费由甲丙双方另行约定，与乙方无关。提前还款的款项划转方式与第五条约定正常还款的方式相同。
      li 本协议项下的借款不允许提前部分还款。

    h2 八、	逾期还款
    ol
      li 如约定还款日24:00前，丁方委托第三方支付平台未能从丙方在第三方支付平台账户上划扣当期应还本息款项的，应及时通知丙方在3个工作日内对第三方支付平台开立的账户进行充值，否则视为逾期还款。
      li 逾期还款的，应按照甲方尚未清偿的全部剩余本金与利息之和，自逾期之日按【0.05%】/日的利率按日计收逾期罚息（“逾期罚息”），直至清偿完毕之日止，逾期罚息不计复利。同时，应按照甲方尚未清偿的全部剩余本金与利息之和，自逾期之日按【0.05%】/日的利率按日计收逾期违约金（“逾期违约金”），逾期违约金不计复利。以上逾期罚息、逾期违约金均由乙、丁授权委托丙方向甲方收取。逾期罚息由乙方收取，逾期违约金由丁方收取。
      li 逾期款项中的利息不计利息。

    h2 九、	违约
    ol
      li 如果甲方擅自改变本协议第一条规定的借款用途、严重违反本协议义务、提供虚假资料、故意隐瞒重要事实或未经乙方同意擅自转让本协议项下借款债务的视为甲方恶意违约，乙方有权提前终止本协议；同时，甲方应向乙方支付借款本金总额10%的金额作为恶意违约金。甲方须在乙方提出终止本协议之日起3日内，向丙方还款专用账户一次性支付余下的所有本金、利息和恶意违约金，由丙方收取后对丙方在第三方支付平台开立的账户进行充值，再由丁方委托第三方支付平台从丙方的该账户进行划扣相应的所有本金、利息和恶意违约金至出乙方的银行账户。构成犯罪的，乙方有权向相关国家机关报案，追究甲方刑事责任。
      li 发生下列任何一项或几项情形的，视为甲方严重违约：
        p (1)甲方的任何财产遭受没收、征用、查封、扣押、冻结等可能影响其履约能力的不利事件，且不能及时提供有效补救措施的；
        p (2)甲方的财务状况出现影响其履约能力的不利变化，且不能及时提供有效补救措施的。

      li 若发生9.2款所述情形，或根据乙方合理判断甲方可能发生9.2款所述的违约事件的，乙方有权自行或委托丙方、丁方采取下列任何一项或几项救济措施：
        p (1)立即暂缓、取消发放全部或部分借款；
        p (2)宣布已发放借款全部提前到期，甲方应立即偿还所有应付款；
        p (3)提前终止本协议；
        p (4)采取法律、法规以及本协议约定的其他救济措施。

      li 乙方保留将甲方违约失信的相关信息在媒体披露的权利。因甲方未还款而带来的调查及诉讼费用将由甲方承担。

    h2 十、	变更通知
    ol
      li 本协议签订之日至借款全部清偿之日期间，若丙方向丁方提供的有关小额借款的任何信息（包括但不限于甲方姓名、身份证号码、住址、电子邮件等信息的变更）发生变更，则丙方应在发生变更之日起的3天内通过网利宝平台提供更新后的信息给乙方，并提交相应的证明文件。
      li 若因甲方未及时提供上述变更信息而导致的乙方及/或丁方的调查及诉讼费用应由甲方承担。

    h2 十一、	债权转让
    ol
      li 各方同意并确认，乙方可将本协议项下全部借款的债权转让予第三方，但该第三方必须为网利宝平台的注册用户。
      li 乙方根据本协议转让借款债权时，甲方不可撤销地授权丙方代为接收该等转让通知（通知方式包括但不限于更新文尾《附：债权转让记录表》）；债权受让人依法承接乙方在本协议项下的权利和义务。债权转让后，甲方需对债权受让人在剩余借款期限继续履行本协议下其对乙方的还款义务。丁方为本次小额借款引入的代偿方将继续在原代偿范围内承担代偿责任。
      li 相关债权转让情况详见文尾《附：债权转让记录表》，此表格仅供各方查阅之用，并应作为本协议附件。

    h2 十二、	债务转让
    ol
      p 未经乙方事先书面（包括但不限于电子邮件等方式）同意，甲方不得将本协议项下的任何权利义务转让给任何第三方。
    h2 十三、	其他
    ol
      li 本协议以电子文本形式生成。
      li 甲方发布的相应借款需求未在2个工作日内被全部满足并已经适当冻结相应拟出借资金的，则自第2个工作日24：00起，本协议自动终止；或者甲方将本协议下全部本金、利息、催收费、违约金及其他相关费用全部偿还完毕之时，本协议亦自动终止。
      li 本协议的任何修改、补充均须以网利宝平台电子文本形式作出。
      li 各方均确认，本协议的签订、生效和履行以不违反法律为前提。如果本协议中的任何一条或多条违反适用的法律，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。
      li 如果各方在本协议履行过程中发生任何争议，应友好协商解决；如协商不成，则须提交丙方所在地人民法院进行诉讼。
      li 各方委托网利宝平台保管所有与本协议有关的书面文件或电子信息，但丁方每月定期应将电子版四方借款合同原件发送至丙方。
      li 本协议中所使用的相关用语，除非在上下文中另有定义外，应具有网利宝平台最新公布的《网利宝用户注册协议》（ 网利宝）中定义的含义。
      p （以下无正文）
