{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> {% block title %} 网利宝-首页 {% endblock %} </title>

    {% block stylesheet %}
      <link href="{% static "wanglibao/stylesheets/screen.css" %}" media="screen, projection" rel="stylesheet" type="text/css">
      <link href="{% static "wanglibao/stylesheets/print.css" %}" media="print" rel="stylesheet" type="text/css">
      <!-- if IElink(href="{% static "wanglibao/stylesheets/ie.css"  %}", media="screen, projection", rel="stylesheet", type="text/css")
      -->
    {% endblock %}
  </head>

<body>
    <div class="top-bar">
      <div class="top-bar-container">
        <div class="top-bar-phone"><i class="header-phone-icon images-original-logo"></i><span class="header-phone-text">400-123-8888</span></div>

        {% if user.is_authenticated %}
          <div class="user-info">
            <span>欢迎您，</span>
            <a href="#" class="username">
              {%  if user.email %}
                {{ user.email }}
              {% else %}
                {{ user.wanglibaouserprofile.phone }}
              {% endif %}
            </a>
            <span class="white-v-line"></span>
            <a href="/accounts/logout?next={{ request.path }}" class="logout">退出</a>
          </div>
        {% else %}
          <div class="user-info">
            <a href="/accounts/login?next={{ request.path }}">登录</a>
            <span class="white-v-line"></span>
            <a href="/accounts/register?next={{ request.path }}">注册</a>
          </div>
        {% endif %}
      </div>
    </div>

    {% block content %}

    {% endblock %}

    <!--页尾 start-->
    <div class="footer">
      <div class="footer--container">
        <dl class="footer--section">
          <dt class="section--title">关于理财</dt>
          <dd class="section--item">怎么选择合适的理财产品？</dd>
          <dd class="section--item">为什么需要资产配置？</dd>
          <dd class="section--item">如何做资产配置？</dd>
        </dl>
        <dl class="footer--section">
          <dt class="section--title">关于网利宝</dt>
          <dd class="section--item">关于我们</dd>
          <dd class="section--item">顾问团队</dd>
          <dd class="section--item">媒体报道</dd>
        </dl>
        <dl class="footer--section__last">
          <dt class="section--title">联系方式</dt>
          <div class="section--row">
            <dd class="contact-location section--column"><i class="i-location"></i><span>北京市霄云路40号10-1000</span></dd>
            <dd class="contact-phone section--column"><i class="i-pad"></i><span>13810250118</span></dd>
          </div>
          <div class="section--row">
            <dd class="contact-tel section--column"><i class="i-phone-icon"></i><span>010-67873388</span></dd>
            <dd class="contact-email section--column"><i class="i-mail"></i><span>master@wanglibao.com</span></dd>
          </div>
        </dl>
      </div>
    </div>

    {% block ko-template %}
    {% endblock %}

    {% block javascript %}
      <!--页尾 end-->
      <script src="{% static "wanglibao/js/jquery.min.js" %}"></script>
    {% endblock %}
  </body>
</html>