{% extends "navigation_base.html" %}

{% load static %}

{% block content %}
  {{ block.super }}

  <div class="sub-navbar">
    <div class="sub-navbar--list">
      <ul>
        <li class="sub-navbar--list-item"><a href="#" class="sub-navbar--anchor active">基金首页</a></li>
        <li class="sub-navbar--list-item"><a href="#" class="sub-navbar--anchor">基金产品</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="ad-panel"></div>
  </div>
  <div class="space-vertical-s"></div>
  <div class="panel">
    <div class="panel-title-bar">
      <div data-bind="foreach: tabTree" class="panel-tabs">
        <div class="panel-tab"><a data-bind="text:name, click:$root.selectedTab($data), css:{active:$root.selectedTab() === $data}">全部</a></div>
      </div>
    </div>
    <div class="panel-content">
      <!-- ko template: {name: 'fund-table', data: products}-->
      <!-- /ko-->
    </div>
  </div>
  <div class="space-vertical-m"></div>

{% endblock %}

{% block ko-template %}
  {% include 'templates.html' %}
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static "wanglibao/js/underscore-min.js" %}"></script>
  <script src="{% static "wanglibao/js/knockout-3.0.0.js" %}"></script>
  <script src="{% static "wanglibao/javascripts/fund_home.js" %}"></script>
{% endblock %}