{% extends "html/base.html" %}

{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% url 'auth_password_reset' as auth_pwd_reset_url %}

{% block title %} 用户注册 - 网利宝 {% endblock %}

{% block content %}

  <div class="l-activity-panel">
      <div class="clearfix"><a href="/" title="网利宝" class="pull-left logo"> </a></div>
      <div class="well clearfix">
        <div class="pull-left account-background"></div>
        <div class="pull-right">
          <form id="register-form" class="form login-form" method="post" action="/accounts/register/?next={{ next }}">
            {{  form.password.errors }}
            {{  form.email.errors }}
            {{  form.username.errors }}
            {% csrf_token %}
            <div class="form-title">
              <label class="font-l">注册用户</label>
            </div>
            <div class="form-row">
              <!-- id_identifier use the same name as django form id-->
              {% render_field form.identifier class+="input-large" placeholder="请输入邮箱或手机" %}
            </div>
            <div id="validate-code-container" class="form-row">
              {% render_field form.validate_code class+="table-cell clear-margin" placeholder="请输入验证码" autocomplete='off' %}
              <div class="space-s"></div>
              <button id="button-get-validate-code" href="#" class="button button-error button-mini">获取</button>
            </div>
            <div class="form-row">
              {% render_field form.password class+="input-large" placeholder="请输入密码" autocomplete='off' %}
            </div>
            <div class="form-row form-bottom-bar"><span>已有账户请直接</span><a href="/accounts/login/?next=/">登录</a>
              <button type="submit" id="button-submit" class="pull-right button-error button-large">注 册</button>
            </div>
          </form>
        </div>
      </div>
    </div>
<!--用户登录 start-->
{% endblock %}

{% block javascript %}
  {{  block.super }}
  <script src="{% static "wanglibao/js/jquery.min.js" %}"></script>
  <script src="{% static "wanglibao/js/jquery.validate.min.js" %}"></script>
  <script src="{% static "wanglibao/javascripts/register.js" %}"></script>
{% endblock %}
