{% extends "navigation_base.html" %}

{% block content %}
  {{ block.super }}
  <div class="sub-navbar">
    <div class="sub-navbar--list">
      <ul>
        {% url 'trust_home' as home_url%}
        {% url 'trust_products' as products_url %}

        <li class="sub-navbar--list-item">
          <a href="{% url 'trust_home' %}"
             class=" {% if home_url == request.get_full_path  %} active {% endif %} sub-navbar--anchor">信托首页</a>
        </li>

        <li class="sub-navbar--list-item">
          <a href="{% url 'trust_products' %}"
             class="{% if products_url == request.get_full_path %}active{% endif %} sub-navbar--anchor">信托产品</a></li>
        <li class="sub-navbar--list-item"><a href="#" class="sub-navbar--anchor">信托公司</a></li>
      </ul>
    </div>
  </div>
{% endblock %}