
.confirm-warp
  .confirm-body-warp
    .confirm-body
      .confirm-cont
        .confirm-text 充值成功
      .confirm-touch
        .confirm-cancel.confirm-btn 取消
        .confirm-certain.confirm-btn 好
