$colore: #ec5615
$color3: #333333
$color6: #666666
$color8: #808080
.banner
    width: 100%
    height: 500px
    background: url("/static/imgs/pc_activity/airport_operation/banner.jpg") no-repeat center center
.air_title_h3
    width: 300px
    margin: 58px auto 0 auto
    text-align: center
    span
        font-size: 18px
        color: $color3
.air_text
    width: 1110px
    margin: 0 auto
    text-align: center
    color: $color6
    line-height: 46px
.air_title_h2
    width: 1110px
    font-size:  32px
    color: $colore
    margin: 0 auto
    line-height: 100px
    text-align: center
.air_datails





