.banner
  width: 100%
  height: 700px
#main
  width: 100%
  background: url(/static/imgs/pc_activity/april_mobilization/web_bg.jpg)
#main_center
  width: 1100px
  display: block
  margin: 0 auto

  .title_img
    width: 100%
    display: block
    text-align: center
    color: #fff
    font-size: 40px
  .title_img_1
    height: 104px
    background: url(/static/imgs/pc_activity/april_mobilization/title_img_1.png)
    padding: 18px 338px 0 213px
    line-height: 86px
  .title_small
    width: 100%
    text-align: center
    line-height: 30px
    color: #587d00
    font-size: 18px
  .title_small_1
    padding: 23px 0 24px
  .table
    width: 100%
    position: relative
    thead
      width: 100%
      height: 68px
      th
        height: 68px
        line-height: 68px
        text-align: center
        color: #FFFFFF
        font-size: 22px
        background: #a8ba3f
        width: 550px
      th:nth-child(odd)
        background: #a3b43d
    tbody
      tr
        height: 60px
        background: #e9e9e9
        td
          width: 550px
          height: 60px
          line-height: 60px
          color: #587d00
          font-size: 18px
          padding: 0 0 0 268px
          text-align: left
        td:nth-child(odd)
          padding: 0 0 0 175px
      tr:nth-child(odd)
        background: #f7f7f7
    .grass
      position: absolute
      z-index: 2
      width: 85px
      height: 39px
      display: block
      background: url(/static/imgs/pc_activity/april_mobilization/grass.png)
    .grass_1
      left: -127px
      top: 285px
    .grass_2
      right: -112px
      top: 453px
  .rule
    width: 100%
    padding: 35px 0 83px
    color: #587d00
    dt
      font-size: 20px
      line-height: 26px
      padding-bottom: 16px
    dd
      font-size: 14px
      line-height: 26px
  .title_img_2
    height: 86px
    background: url(/static/imgs/pc_activity/april_mobilization/title_img_2.png)
    padding: 0px 223px 0 329px
    line-height: 86px
  .title_big
    width: 100%
    text-align: center
    line-height: 36px
    color: #587d00
    font-size: 24px
  .title_big_1
    padding-top: 23px
  .condition_wrap
    width: 100%
    padding: 22px 1px 0
    display: inline-block
    .box
      float: left
      width: 187px
      display: block
      height: 572px
      .top_text
        width: 100%
        text-align: center
        line-height: 24px
        font-size: 16px
        color: #587d00
      .gold_img
        width: 98px
        height: 97px
        background: url(/static/imgs/pc_activity/april_mobilization/gold_img.png)
        display: block
        margin: 0 auto 21px
        font-size: 24px
        line-height: 97px
        text-align: center
        color: #e3483d
      .column
        width: 187px
        text-align: center
        margin-bottom: 30px
        .text_box
          width: 100%
          text-align: center
          color: #7d4e0c
          position: absolute
          bottom: 154px
          left: 0
          z-index: 2
          .text_1
            line-height: 26px
            font-size: 14px
          .text_2
            line-height: 20px
            font-size: 14px
      .condition_footer
        margin-top: 30px
        color: #5b7100
        .text_1
          font-size: 18px
          line-height: 26px
        .text_2
          font-size: 18px
          line-height: 22px





