.clear
  clear: both
.body_wrap
  .banner
    background: url("/static/imgs/pc_activity/august_phone/banner.jpg") no-repeat center top
    width: 100%
    height: 1042px
    padding-top: 735px
    .text
      width: 100%
      text-align: center
      line-height: 24px
      color: #fff
      font-size: 18px
  .banner_bottom
    width: 100%
    height: 94px
    background: url("/static/imgs/pc_activity/august_phone/banner_bottom.jpg") no-repeat center top
    display: block
  .title_img
    width: 100%
    height: 54px
    clear: both
  .title_img_1
    background: url("/static/imgs/pc_activity/august_phone/title_img_1.jpg") no-repeat center top
  .discount_adopt
    width: 1000px
    margin: 33px auto 38px
    height: 260px
    display: block
    background: url("/static/imgs/pc_activity/august_phone/discount_adopt.jpg") no-repeat center top
    .box
      width: 220px
      float: left
      height: 260px
      padding-top: 70px
      display: block
      .img
        margin: 0 auto
        display: block
        width: 60px
        height: 60px
      p
        text-align: center
        line-height: 28px
        font-size: 24px
        color: #532a1b
        margin-top: 10px
        span
          font-weight: bold
    .box_1
      margin-right: 172px
    .box_3
      float: right
  .title_img_2
    background: url("/static/imgs/pc_activity/august_phone/title_img_2.jpg") no-repeat center top
  .adopt_raiders
    width: 1000px
    display: block
    margin: 0 auto
    position: relative
    padding-top: 38px
    font-size: 0
    .adopt_raiders_main
      width: 100%
      display: inline-block
      .step_box
        float: left
        width: 500px
        display: block
        .step_ico
          float: left
          display: block
          width: 32px
          height: 32px
          margin-right: 7px
        dl
          float: left
          width: 461px
          display: block
          dt
            font-size: 30px
            color: #463e3e
            line-height: 32px
            font-weight: bold
          dd
            line-height: 24px
            font-size: 18px
            color: #ea3934
            font-weight: bold
        .show_1
          width: 493px
          clear: both
          display: block
          padding-top: 15px
      .step_box_2
        float: right
      .button
        width: 178px
        height: 54px
        display: block
        margin: 28px auto 0
        border: 1px #fff solid
        outline: 1px #be330b solid
        color: #fff
        font-size: 24px
        text-align: center
        background: #be330b
        line-height: 54px
      .adopt_raiders_title
        width: 100%
        text-align: center
        font-size: 24px
        line-height: 28px
        height: 28px
        margin-top: 16px
        color: #7a2d2b
        span
          border-bottom: 1px #7a2d2b solid
      .text_box
        padding: 42px 0 52px
        width: 750px
        display: inline-block
        dl
          clear: both
          width: 750px
          dt
            line-height: 36px
            font-size: 18px
            color: #262525
            float: left
            width: 20px
            display: block
          dd
            line-height: 36px
            font-size: 18px
            color: #262525
            float: left
            width: 730px
            display: block
      #show_list
        display: none
        width: 100%
        overflow: hidden
        .show_list_main
          width: 100%
          position: relative
          display: inline-block
      .small_title
        width: 100%
        text-align: center
        height: 28px
        margin-top: 16px
        color: #7a2d2b
        span
          border-bottom: 1px #7a2d2b solid
          font-size: 24px
          line-height: 28px
          cursor: pointer
        span.open
          color: #be330b
          border-bottom: 1px #be330b solid
      .money_pot
        position: absolute
        right: 66px
        top: -38px
        z-index: -1
        display: block
        width: 156px
        height: 304px
        background: url("/static/imgs/pc_activity/august_phone/money_pot.png") no-repeat center top

      .adopt_raiders_title
        width: 100%
        height: 160px
        background: url("/static/imgs/pc_activity/august_phone/adopt_raiders_title.png") no-repeat center top
        display: block
        padding-bottom: 40px
      .adopt_raiders_banner
        width: 493px
        height: 340px
        display: block
        float: left
        position: relative
        .text_1
          position: absolute
          left: 56px
          top: 0px
          width: 40px
          padding: 11px 5px 0
          height: 106px
          color: #fff
          background: #af3130
          font-size: 20px
          text-align: center
          line-height: 22px
        .text_2
          position: absolute
          right: 50px
          bottom: 38px
          width: 120px
          padding-left: 8px
          height: 34px
          color: #fff
          background-color: #af3130
          font-size: 18px
          line-height: 34px
          background-image: url("/static/imgs/pc_activity/august_phone/address.png")
          background-position: 88px center
          background-repeat: no-repeat
          border: 1px #fff solid
          outline: 1px #af3130 solid
      .adopt_raiders_banner_1
        background: url("/static/imgs/pc_activity/august_phone/adopt_raiders_1.png") no-repeat center top
      .adopt_raiders_banner_2
        background: url("/static/imgs/pc_activity/august_phone/adopt_raiders_2.png") no-repeat center top
        float: right
        .text_1
          left: 400px
      .adopt_raiders_act
        width: 1000px
        height: 271px
        background: url("/static/imgs/pc_activity/august_phone/adopt_raiders_3.png") no-repeat center top
        display: block
        padding: 104px 0 0 465px
        p
          color: #313131
          font-size: 24px
        p.one
          line-height: 30px
        p.two
          line-height: 44px
          font-weight: bold
          font-size: 40px
        p.three
          line-height: 30px
          margin-bottom: 2px
        p.four
          line-height: 34px
          background: #357272
          width: 160px
          text-align: center
          color: #ffd200
  .title_img.title_img_3
    background: url("/static/imgs/pc_activity/august_phone/title_img_3.jpg") no-repeat center top
    margin: 40px 0 0
  .line
    clear: both
    width: 1000px
    margin: 0 auto
    display: block
    height: 5px
    background: url("/static/imgs/pc_activity/august_phone/line.png") no-repeat

  .main_center
    width: 1000px
    margin: 0 auto
    display: block
    dl.title_box
      width: 1000px
      display: block
      margin: 34px auto 12px
      color: #7a2d2b
      dt
        font-size: 24px
        line-height: 28px
        font-weight: bold
      dd
        font-size: 12px
        line-height: 16px
    .prize_box
      padding: 26px 0
      display: inline-block
      .box
        float: left
        width: 500px
        img
          width: 110px
          height: 110px
          display: block
          float: left
          margin-right: 21px
        dl
          padding-top: 3px
          display: block
          float: left
          dt
            color: #7a2d2b
            font-size: 24px
            font-weight: bold
            line-height: 40px
          dd
            line-height: 30px
            font-size: 18px
            color: #303030
            span
              font-weight: bold
    .prize_box_2
      .box
        width: 1000px
        dl
          padding-top: 23px

    .explain_text
      line-height: 30px
      color: #262525
      font-size: 18px
      padding-bottom: 27px
    .explain_text_2
      padding-top: 23px
  .title_img_4
    background: url("/static/imgs/pc_activity/august_phone/title_img_4.jpg") no-repeat center top
    margin: 17px 0 0
  .explain_text_4
    padding-top: 20px
  .main_footer
    width: 100%
    text-align: center
    padding: 48px 0
    p.text_1
      font-size: 24px
      line-height: 48px
      color: #393838
    p.text_2
      font-size: 12px
      line-height: 14px
      color: #262525
.popup_box
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 999
  display: none
  .main
    width: 400px
    position: absolute
    left: 50%
    top: 50%
    margin: -50px 0 0 -200px
    float: none
    background: #fff
    border-radius: 40px
    z-index: 99
    padding-bottom: 10px
    .text
      width: 100%
      text-align: center
      line-height: 20px
      font-size: 18px
      padding: 30px 0 20px
    .popup_button
      width: 100px
      height: 30px
      line-height: 30px
      text-align: center
      margin: 0 auto 10px
      display: block
      background: #ed2b4e
      border-radius: 10px
      color: #fff
      font-size: 18px
      cursor: pointer
  .popup_bg
    width: 100%
    height: 100%
    background: #000
    filter: alpha(opacity=70)
    opacity: 0.7
    position: fixed
    left: 0
    top: 0
    z-index: 9
