.clear
  clear: both
.banner
  width: 100%
  background: url("/static/imgs/pc_activity/broken_million/banner.png") no-repeat center top
  display: block
  height: 800px
  position: relative
  padding-top: 523px
  .text
    width: 1020px
    display: block
    margin: 0 auto
    p
      width: 100%
      font-size: 15px
      color: #fff
      line-height: 24px
  .down_ico
    width: 22px
    height: 10px
    display: block
    position: absolute
    left: 50%
    margin-left: -11px
    bottom: 15px
    z-index: 2
    background: url("/static/imgs/pc_activity/broken_million/down_ico.png") no-repeat
#body_wrap
  width: 100%
  background: url("/static/imgs/pc_activity/broken_million/body_bg.jpg") no-repeat
  background-size: 100% 100%
.white_title
  width: 342px
  height: 123px
  display: block
  margin: 0 auto
  padding-bottom: 25px
.white_main
  width: 1100px
  background: url("/static/imgs/pc_activity/broken_million/white_main_bg.png") no-repeat center top
  height: 1218px
  display: block
  margin: 0 auto
  position: relative
  dl
    position: absolute
    z-index: 2
    dt
      color: #484949
      font-size: 18px
      line-height: 22px
    dd
      padding-left: 16px
      color: #303030
      font-size: 15px
      line-height: 20px
    .first
      background: url("/static/imgs/pc_activity/broken_million/white_ico.png") no-repeat left center
  dl.big
    dt
      font-size: 20px
      line-height: 26px
    dd
      line-height: 22px
    dt.space
      padding-left: 28px
  .one
    text-align: right
    left: 185px
    top: 22px
  .two
    left: 644px
    top: 14px
  .three
    text-align: right
    left: 274px
    top: 134px
  .four
    left: 758px
    top: 169px
  .five
    left: 844px
    top: 308px
  .six
    text-align: right
    left: 106px
    top: 334px
  .seven
    text-align: right
    left: 68px
    top: 500px
  .eight
    left: 506px
    top: 536px
  .nine
    left: 122px
    top: 750px
  .ten
    left: 783px
    top: 738px
  .eleven
    left: 776px
    top: 872px
  .twelve
    left: 562px
    top: 1074px
    dt.last
      font-size: 22px
      color: #8f3422
.black_wrap
  width: 100%
  background: #414753
  padding-bottom: 12px
  .black_main
    width: 940px
    margin: 0 auto
    display: block
    background: url("/static/imgs/pc_activity/broken_million/black_main_bg.png") no-repeat
    background-position: center 471px
    padding: 0 0 30px 12px
    .down_ico
      width: 80px
      height: 22px
      margin: 0 auto
      display: block
      position: relative
      background: url("/static/imgs/pc_activity/broken_million/black_down_bg.jpg") no-repeat
      .ico
        background: url("/static/imgs/pc_activity/broken_million/black_down_ico.png") no-repeat
        width: 22px
        height: 9px
        display: block
        position: absolute
        top: 2px
        left: 29px
    .big_title
      width: 318px
      height: 117px
      margin: 0 auto
      padding: 30px 0
      display: block
      background: url("/static/imgs/pc_activity/broken_million/black_main_big_titile.png") no-repeat center center
    .title
      width: 100%
      display: block
      height: 61px
      padding-bottom: 34px
      line-height: 27px
    .title_one
      background: url("/static/imgs/pc_activity/broken_million/black_main_titile_1.png") no-repeat
    .big_people_wrap
      width: 100%
      padding-bottom: 40px
    dl.people_wrap
      width: 100%
      height: 87px
      dt
        width: 131px
        height: 87px
        display: block
        float: left
        font-size: 31px
        font-weight: bold
        line-height: 87px
      dd
        margin: 0 17px 0 27px
        width: 34px
        height: 97px
        display: block
        float: left
    .man
      color: #7bc3ef
      dd.man_1
        background: url("/static/imgs/pc_activity/broken_million/man_img1.png") no-repeat
      dd.man_2
        background: url("/static/imgs/pc_activity/broken_million/man_img2.png") no-repeat
    .woman
      color: #d94d4d
      dd.woman_1
        background: url("/static/imgs/pc_activity/broken_million/woman_img1.png") no-repeat
      dd.woman_2
        background: url("/static/imgs/pc_activity/broken_million/woman_img2.png") no-repeat
    .black_box_top
      width: 100%
      display: inline-block
      position: relative
      height: 378px
    .box
      position: absolute
      .left_info
        float: left
        margin-right: 14px
        display: block
      .right_info
        float: left
        display: block
        li
          width: 214px
          height: 27px
          background: #292e35
          border-radius: 5px
          margin-bottom: 4px
          position: relative
          span.long
            height: 27px
            border-radius: 5px
            float: left
          span.num
            position: absolute
            right: 0px
            top: 0px
            z-index: 3
            font-size: 16px
            padding-right: 11px
            color: #ffffff
            line-height: 27px
        li
          .long
            background: #d94d4d
        li.two
          .long
            background: #d9824d
        li.three
          .long
            background: #eba538
        li.four
          .long
            background: #a6a538
        li.five
          .long
            background: #87ab66
        li.six
          .long
            background: #87abad
        li.seven
          .long
            background: #69c7ff
        li.eight
          .long
            background: #69c7ff
    .box_one
      left: 0
      top: 0
      .left_info
        background: url("/static/imgs/pc_activity/broken_million/black_main_img_1.png") no-repeat
        width: 107px
        height: 179px
        background-size: cover
      li.one
        .long
          width: 8px
      li.two
        .long
          width: 100px
      li.three
        .long
          width: 59px
      li.four
        .long
          width: 37px
      li.five
        .long
          width: 29px
      li.six
        .long
          width: 21px
    .box_two
      left: 0
      top: 215px
      .left_info
        background: url("/static/imgs/pc_activity/broken_million/black_main_img_2.png") no-repeat
        width: 149px
        height: 115px
        background-size: cover
      li.one
        .long
          width: 27px
      li.two
        .long
          width: 144px
      li.three
        .long
          width: 37px
      li.four
        .long
          width: 5px
    .box_three
      right: 20px
      top: 0
      width: 360px
      height: 272px
      .box_three_main
        width: 360px
        height: 272px
        position: relative
      .left_info
        background: url("/static/imgs/pc_activity/broken_million/black_main_img_3.png") no-repeat
        width: 156px
        height: 272px
        background-size: cover
      .right_info
        position: absolute
        right: 0
        top: 0
        z-index: 2
        li
      li.one
        .long
          width: 80px
      li.two
        .long
          width: 40px
      li.three
        .long
          width: 37px
      li.four
        .long
          width: 29px
      li.five
        .long
          width: 5px
      li.six
        .long
          width: 3px
      li.seven
        .long
          width: 9px
      li.eight
        .long
          width: 46px
    .box_wrap
      width: 100%
      display: inline-block
      clear: both
      .title
        height: 18px
        width: 100%
      .box
        height: 310px
        position: relative
      .box_left
        width: 411px
        float: left
        display: block
      .box_right
        width: 443px
        float: right
        display: block
      .box_four
        .title
          background: url("/static/imgs/pc_activity/broken_million/black_main_titile_2.png") no-repeat
        .img
          width: 294px
          height: 203px
          margin: 37px 0 0 53px
          display: block
          background: url("/static/imgs/pc_activity/broken_million/black_box_img_1.png") no-repeat
      .box_five
        .title
          background: url("/static/imgs/pc_activity/broken_million/black_main_titile_4.png") no-repeat
        .img
          width: 292px
          height: 203px
          margin: 37px 0 0 53px
          display: block
          background: url("/static/imgs/pc_activity/broken_million/black_box_img_2.png") no-repeat
      .box_six
        .title
          background: url("/static/imgs/pc_activity/broken_million/black_main_titile_6.png") no-repeat
        .img
          width: 411px
          height: 222px
          margin: 33px 0 0 0px
          display: block
          background: url("/static/imgs/pc_activity/broken_million/black_box_img_3.png") no-repeat
      .box_seven
        .title
          background: url("/static/imgs/pc_activity/broken_million/black_main_titile_3.png") no-repeat
          margin-bottom: 76px
        .left_info
          width: 214px
          height: 118px
          background: url("/static/imgs/pc_activity/broken_million/black_box_img_4.png") no-repeat
        .right_info
          li
            width: 205px
          li.one
            .long
              width: 50px
          li.two
            .long
              width: 38px
          li.three
            .long
              width: 98px
          li.four
            .long
              width: 48px
      .box_eight
        .title
          background: url("/static/imgs/pc_activity/broken_million/black_main_titile_5.png") no-repeat
        dl
          padding: 27px 0 9px
          height: 123px
          width: 100%
          dt
            width: 204px
            height: 87px
            float: left
            display: block
          dt.one
            background: url("/static/imgs/pc_activity/broken_million/black_box_img_5.png") no-repeat
          dt.two
            background: url("/static/imgs/pc_activity/broken_million/black_box_img_6.png") no-repeat
          dd
            width: 200px
            float: left
            height: 87px
            display: block
            color: #69c7ff
            font-size: 28px
            padding-left: 17px
            line-height: 87px
      .box_nine
        .title
          background: url("/static/imgs/pc_activity/broken_million/black_main_titile_7.png") no-repeat
        .best_people
          float: left
          width: 221px
          height: 135px
          padding: 38px 0 7px
          display: block
          .img
            width: 73px
            height: 90px
            display: block
            float: left
          ul
            padding-top: 2px
            float: left
            padding-left: 10px
            width: 148px
            display: block
            li
              font-size: 14px
              color: #69c7ff
              line-height: 24px
        .best_people_one
          .img
            background: url("/static/imgs/pc_activity/broken_million/black_box_img_7.png") no-repeat
        .best_people_two
          .img
            background: url("/static/imgs/pc_activity/broken_million/black_box_img_8.png") no-repeat
        .best_people_three
          .img
            background: url("/static/imgs/pc_activity/broken_million/black_box_img_9.png") no-repeat
        .best_people_four
          .img
            background: url("/static/imgs/pc_activity/broken_million/black_box_img_10.png") no-repeat
.bottom_text_main
  width: 1010px
  padding-bottom: 20px
  margin: 0 auto
  .down_bg
    width: 80px
    height: 22px
    background: url("/static/imgs/pc_activity/broken_million/bottom_down_bg.png") no-repeat
    margin: 0 auto 30px
    display: block
    .down_ico
      width: 24px
      height: 11px
      margin: 0 auto
      background: url("/static/imgs/pc_activity/broken_million/bottom_down_ico.png") no-repeat
      display: block
  p
    color: #292e35
    font-size: 15px
    line-height: 20px
    padding-bottom: 17px








