.clear
  clear: both
.body_wrap
  font-size: 0
  width: 100%
  .banner
    width: 100%
    height: 451px
    background: url("/static/imgs/pc_activity/car_house_loan/banner.png") no-repeat center center
    display: block
    .banner_main
      width: 1000px
      margin: 0 auto
      display: block
      height: 451px
      padding: 128px 0 0 138px
      .text_1
        font-size: 24px
        line-height: 32px
        color: #fff
        padding-left: 2px
      .text_2
        margin-top: 148px
        display: inline-block
        padding: 0 18px
        font-size: 18px
        height: 26px
        line-height: 26px
        border: 1px #fc6722 solid
        color: #fc6722
        border-radius: 3px
  .section_section_white
    background: #fff
  .section_grey
    background: #f6f6f6
  .section
    width: 100%
    display: inline-block
    .section_main
      width: 1000px
      display: block
      margin: 0 auto
      .big_title
        font-size: 40px
        line-height: 46px
        color: #585757
        width: 100%
        text-align: center
        padding: 44px 0 15px
      .big_title_line
        width: 40px
        height: 4px
        background: #717171
        display: block
        margin: 0 auto
      .small_title
        font-size: 14px
        line-height: 22px
        color: #585757
        width: 100%
        text-align: center
        padding: 13px 0 0
  .section_1
    .project_wrap
      width: 820px
      margin: 0 auto
      display: block
      .project_box
        width: 820px
        height: 173px
        box-shadow: 0 5px 5px #b1b1b1


        background: #fff
        border-radius: 5px
        display: block
        position: relative
        padding: 28px 60px 0 50px
        margin-bottom: 30px

        .title_text
          width: 100%
          color: #3d3a39
          font-size: 20px
          line-height: 26px
          padding-bottom: 10px
        .add_num
          font-size: 50px
          line-height: 60px
          color: #d94a44
          width: 345px
          float: left
          display: block
          height: 60px
        .project_data
          float: left
          display: block
          height: 53px
          width: 200px
          padding-top: 9px
          .data_1
            width: 100%
            line-height: 20px
            color: #939494
            font-size: 13px
            padding-bottom: 3px
            span
              font-size: 17px
              color: #585757
              margin-left: 10px
        .project_wrap_2
          width: 545px
          clear: both
          height: 28px
          padding-top: 5px
          .project_bar
            float: left
            position: relative
            top: 7px
            left: 0
            width: 400px
            height: 5px
            background: #e3e3e3
            display: block
            span
              height: 5px
              background: #d94a44
              display: block
          .percentage_num
            float: left
            display: block
            height: 18px
            line-height: 18px
            font-size: 11px
            color: #808080
            margin-left: 12px
        .footer_b
          width: 100%
          clear: both
          font-size: 11px
          color: #939494
          line-height: 19px
          position: relative
          top: -8px
          left: 0
          span
            float: left
          .footer_b_1
            width: 290px
          .footer_b_2
            width: 220px
          span.footer_b_3
            float: right
            text-align: right

        .button_buy
          position: absolute
          right: 60px
          width: 152px
          height: 40px
          display: block
          top: 78px
          z-index: 2
          color: #fff
          font-size: 15px
          text-align: center
          line-height: 40px
          border-radius: 5px
        .blue_button
          background: #199bfc
          box-shadow: 0 0 5px #199bfc
        .orange_button
          background: #fc6722
          box-shadow: 0 0 5px #fc6722
        .gray_button
          background: #a9a9aa
          box-shadow: 0 0 5px #a9a9aa
        .meng_layer
          width: 100%
          height: 173px
          background: url("/static/imgs/pc_activity/six_billion/meng_layer.png") no-repeat center center

          display: block
          position: absolute
          left: 0
          top: 0
          z-index: 99
          span
            width: 242px
            height: 34px
            display: block
            margin: 70px auto 0
            text-align: center
            line-height: 34px
            color: #fc6722
            font-size: 20px
            border-radius: 15px
            border: 1px #fc6722 solid
    .project_title
      padding: 26px 0 9px
      height: 59px
      font-size: 16px
      color: #585757
      width: 820px
      display: block
      margin: 0 auto
      span
        float: left
      a
        float: right
    .footer_text
      color: #585757
      font-size: 16px
      line-height: 24px
      padding: 8px 0 40px
      text-align: center
  .section_2
    .luck_draw_title
      width: 100%
      padding: 40px 0 20px
      color: #585757
      line-heihgt: 24px
      font-size: 16px
    table
      background: url("/static/imgs/pc_activity/car_house_loan/cj_big_bg.png") no-repeat center center
      background-size: 100% 105%
      padding: 6px 7px
      width: 497px
      height: 317px

    .choujiang
      width: 138px
      height: 46px
      display: block
      text-align: center
      background: #ff891c
      margin: 23px 0 0 7px
      border-radius: 10px
      color: #fff
      line-height: 46px
      font-size: 20px
      box-shadow: 2px 2px 30px #888

    td
      width: 153px
      height: 92px
      margin: 0 8px 10px 0
      display: inline-block

      .cj
        width: 153px
        height: 92px
        display: block
        background: url("/static/imgs/pc_activity/car_house_loan/cj_bg.png") no-repeat center center
        .big_text
          font-size: 48px
          line-height: 65px
          padding-top: 2px
          text-align: center
          color: #ff891c
          height: 65px

          span
            font-size: 14px
            line-height: 60px

        .small_text
          padding-top: 4px
          line-height: 22px
          font-size: 14px
          text-align: center
          color: #ff891c
      .cj.cur
        background: url("/static/imgs/pc_activity/car_house_loan/cj_bg_h.png") no-repeat center center
        .big_text
          color: #fff
        .small_text
          color: #fff






































