.clear
  clear: both
.body_wrap
  width: 100%
  background: url("/static/imgs/pc_activity/january_reward/body_bg.jpg")
  .banner
    width: 100%
    background: url("/static/imgs/pc_activity/january_reward/banner_bg.png") no-repeat center center
    height: 758px
    padding-top: 600px
    .title
      width: 100%
      text-align: center
      font-size: 24px
      line-height: 30px
      color: #fff
      text-shadow: 2px 3px #810812
    .text
      background: url("/static/imgs/pc_activity/january_reward/banner_img.png")
      width: 546px
      height: 95px
      padding: 35px 37px 0 9px
      text-align: center
      font-size: 30px
      color: #fff
      text-shadow: 1px 1px #810812
      line-height: 60px
      margin: 19px auto 0
      display: block
.main_wrap
  width: 1100px
  margin: 0 auto
  display: block
  background: none
  .title_top
    padding: 32px 0 36px
    line-height: 24px
    font-size: 18px
    text-align: center
    width: 100%
    color: #fff
    text-shadow: 1px 1px #980700
  .red_wrap
    width: 100%
    height: 250px
    padding-bottom: 30px
    .red_box
      width: 302px
      height: 220px
      background: #fff
      border-radius: 10px
      float: left
      margin-right: 97px
      .title
        padding: 17px 0 5px
        width: 100%
        text-align: center
        color: #a80017
        font-size: 18px
      .ico
        width: 40px
        height: 40px
        text-align: center
        line-height: 40px
        color: #fff
        background: url("/static/imgs/pc_activity/january_reward/red_ico.png") no-repeat
        font-size: 24px
        border-radius: 50%
        display: block
        margin: 0 auto 6px
      dl
        width: 263px
        height: 115px
        margin: 0 auto
        display: block
        background: url("/static/imgs/pc_activity/january_reward/red_bg.png") no-repeat
        position: relative
        left: 0
        top: 0
        dt
          position: absolute
          left: 52px
          top: 10px
          z-index: 2
          width: 134px
          text-align: center
          line-height: 86px
          color: #fed03b
          font-size: 29px
          span
            font-size: 20px
            line-height: 86px
        dd
          width: 22px
          position: absolute
          left: 188px
          z-index: 3
          top: 18px
          line-height: 24px
          font-size: 20px
          color: #fff
    .no_margin
      margin-right: 0
  .button
    width: 285px
    height: 64px
    background: url("/static/imgs/pc_activity/january_reward/button.png") no-repeat left top
    display: block
    margin: 0 auto
    text-align: center
    font-size: 24px
    padding: 0 0 4px
    line-height: 60px
    color: #a80017
    cursor: pointer
    font-weight: bold
  .button:hover
    background: url("/static/imgs/pc_activity/january_reward/button.png") no-repeat left bottom
    padding: 2px 0
  .title_bottom
    width: 100%
    line-height: 18px
    padding: 18px 0 19px
    text-align: center
    font-size: 14px
    color: #fff
    span
      cursor: pointer
      color: #00ffb4
    span:hover
      color: #fff
.rule_wrap
  width: 1062px
  background: #bc0a00
  border-radius: 10px
  padding: 0 15px
  display: block
  margin: 0 auto 19px
  height: 0
  overflow: hidden
  .title
    padding-top: 16px
    font-size: 18px
    color: #fff
    line-height: 26px
  p
    font-size: 16px
    color: #fff
    line-height: 28px
  .last
    height: 25px
.title_img
  width: 387px
  height: 95px
  background: url("/static/imgs/pc_activity/january_reward/title_bg.png") no-repeat
  padding: 36px 40px 0 15px
  text-align: center
  color: #fff
  font-size: 30px
  line-height: 59px
  display: block
  margin: 0 auto
  text-shadow: 1px 1px #810812
.reward_wrap
  width: 100%
  height: 290px
  margin-bottom: 50px
  .reward_box
    width: 260px
    height: 291px
    display: block
    float: left
    background: #fff
    border-radius: 10px
    margin-right: 20px
    .title
      line-height: 46px
      font-size: 18px
      color: #b90800
      text-align: center
    .ico
      width: 40px
      height: 40px
      text-align: center
      line-height: 40px
      color: #fff
      background: url("/static/imgs/pc_activity/january_reward/red_ico.png") no-repeat
      font-size: 24px
      border-radius: 50%
      display: block
      margin: 0 auto 6px
    .reward_img
      background: url("/static/imgs/pc_activity/january_reward/send_reward_img.png") no-repeat
      width: 220px
      height: 147px
      display: block
      margin: 24px auto 0
      position: relative
      .left
        position: absolute
        left: 19px
        top: 47px
        z-index: 2
        width: 65px
        text-align: center
        dt
          line-height: 26px
          color: #f6d564
          font-size: 22px
          font-weight: bold
          width: 100%
          text-align: center
        dd
          line-height: 24px
          color: #fff
          font-size: 18px
          font-weight: bold
          width: 100%
          text-align: center
      .right
        position: absolute
        left: 136px
        top: 60px
        z-index: 2
        width: 72px
        text-align: center
        dt
          line-height: 26px
          color: #f6d564
          font-size: 22px
          width: 100%
          text-align: center
        dd
          line-height: 18px
          color: #fff
          font-size: 13px
          width: 100%
          text-align: center
  .last
    margin-right: 0px
.act_rule
  width: 100%
  padding: 4px 0 50px
  .title
    width: 100%
    text-align: center
    font-size: 24px
    color: #fff
    font-weight: bold
    padding-bottom: 21px
  p
    width: 100%
    line-height: 24px
    font-size: 16px
    color: #fff
.code_wrap
  width: 100%
  height: 245px
  clear: both
  position: relative
  left: 0
  top: 0
  .bg
    width: 100%
    height: 245px
    background: #333
  .main
    width: 1100px
    display: block
    height: 245px
    margin: 0 auto
    position: absolute
    left: 50%
    margin-left: -550px
    top: 0
    z-index: 2
    background: url("/static/imgs/pc_activity/january_reward/code_wrap_bg.jpg") no-repeat
  .code
    position: absolute
    right: 7px
    top: 36px
    width: 152px
    height: 152px
    z-index: 2
    display: block
  .text
    width: 152px
    height: 30px
    line-height: 30px
    position: absolute
    right: 7px
    top: 190px
    z-index: 2
    text-align: center
    font-size: 12px
    color: #fff
.down
  position: relative
  top: 0
  border: none
#go_experience
  cursor: pointer
  color: #00ffb4
#go_experience:hover
  color: #fff
