.lifestyle
  background: #fff
  .banner
    background: url("/static/imgs/pc_activity/lifestyle/banner.jpg") center top no-repeat
    width: 100%
    height: 606px
  .part-item
    padding: 80px 0
    width: 1018px
    margin: 0 auto
    .part-tit
      text-align: center
      font-size: 28px
      color: #994522
      line-height: 24px
      margin-bottom: 30px
      span
        display: inline-block
        vertical-align: middle
      .lft, .rht
        width: 69px
        height: 10px
        background: url("/static/imgs/pc_activity/lifestyle/top_icon.png") center top no-repeat
      .lft
        background-position: 0 0
      .rht
        background-position: right 0
      .mid
        padding: 0 35px
    .part-tab
      overflow: hidden
      height: 50px
      ul
        height: 100%
        overflow: hidden
        margin-right: -2px
      .tab-item
        cursor: pointer
        font-size: 16px
        margin-right: 2px
        width: 338px
        float: left
        color: #999
        background: #f0eae6
        text-align: center
        height: 44px
        line-height: 44px
        position: relative
        .arr-box
          display: none
          position: absolute
          bottom: -12px
          left: 50%
          margin-left: -3px
          height: 0
          width: 0
          overflow: hidden
          border: 6px dashed transparent
          border-top: 6px solid #f08022
        &.active
          color: #fff
          background: #f08022
          .arr-box
            display: block
    .part-cont
      padding-top: 60px
      .bit-tit
        font-size: 18px
      .cont-mian
        font-size: 14px
        color: #666
        line-height: 28px
        margin-top: 30px
        .bold-font
          font-weight: bold
        .ml10
          margin-left: 10px
      .cont-item
        display: none
        &.active
          display: block
  .part-item2
    background: #faf7f5
    .part-tab
      .tab-item1
        width: 230px
      .tab-item2
        width: 275px
      .tab-item3
        width: 255px
      .tab-item4
        width: 248px
    .cont-item
      margin-top: -40px
    .people-img
      float: left
      margin-right: 30px
      width: 133px
      height: 125px
      background: url("/static/imgs/pc_activity/lifestyle/head_img.png") left center no-repeat
      &.people-img1
        background-position: 0 0
      &.people-img2
        background-position: 0 -137px
      &.people-img3
        background-position: 0 -273px
      &.people-img4
        background-position: 0 -410px
  .part-item3
    .part-cont
      margin-top: -30px
    .part-tab
      .tab-item1
        width: 265px
      .tab-item2
        width: 411px
      .tab-item3
        width: 334px
  .part-item4
    background: url("/static/imgs/pc_activity/lifestyle/video-bg.jpg") center center no-repeat
    background-size: cover
    padding-bottom: 40px
    .part-item
      width: 1082px
    .part-tit
      color: #fff
      .lft, .rht
        background-image: url("/static/imgs/pc_activity/lifestyle/top_icon2.png")
    .video-lft, .video-rht
      width: 520px
      background: #992900
      padding: 5px
    .tv-box
      height: 355px
    .video-lft
      float: left
    .video-rht
      float: right
    .video-name
      height: 40px
      line-height: 40px
      margin-top: 5px
      text-align: center
      color: #fff
      font-size: 18px
    .really-cool-video-dimensions
      width: 100%
      height: 100%
    .video-js
      width: 100%
      height: 100%
      .vjs-big-play-button
        background: none
        border-radius: 60px
        width: 112px
        height: 112px
        line-height: 102px
        border-width: 5px
        margin: -56px 0 0 -56px
        &:before
          font-size: 60px


