.clear
  clear: both
.body_wrap
  
  .popup_wrap
    width: 100%
    height: 100%
    position: fixed
    left: 0
    top: 0
    z-index: 9999
    display: none


    .popup_bg
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      background: #000000
      opacity: 0.4
      z-index: 2
    .popup_box
      width: 380px
      padding: 30px 22px 28px

      background: #fff
      border-radius: 5px
      position: absolute
      left: 50%
      top: 50%
      z-index: 3
      margin: -86px 0 0 -190px

      margin-top: -86px
      .popup_main
        position: relative
        width: 100%
        height: 100%
        display: block
      .close_ico
        position: absolute
        right: -12px
        top: -12px
        width: 24px
        height: 24px
        display: block
        cursor: pointer

      dl
        width: 100%
        text-align: center
        dt
          font-size: 18px
          line-height: 26px
          color: #585757
        dd
          font-size: 16px

          line-height: 26px
          color: #585757
      p.popup_text
        text-align: center
        font-size: 24px
        line-height: 52px
        color: #585757

      .popup_button
        width: 138px
        display: block
        margin: 14px auto 0
        text-align: center
        line-height: 46px
        background: #FF891C
        border-radius: 5px
        color: #fff
        font-size: 20px
        cursor: pointer



