.clear
  clear: both
.body_wrap
  .banner
    width: 100%
    height: 464px
    background: url("/static/imgs/pc_activity/love_on_july/banner.png") no-repeat center center
    display: block
    .banner_main
      width: 1000px
      margin: 0 auto
      display: block
      height: 464px
      padding-top: 349px
      padding-left: 253px

      .act_time
        line-height: 22px
        color: #e26659
        font-size: 14px
  .section
    width: 100%
    .section_main
      width: 1000px
      margin: 0 auto
      display: block
  .section_1
    background: #fdf1e7
    .title_img
      width: 238px
      height: 131px
      margin: 0 auto
      display: block
      padding: 45px 0 34px

    .section_img
      display: block
      margin: 0 auto
      width: 52px
      height: 21px
    .section_1_text
      width: 100%
      text-align: center
      line-height: 24px
      color: #f26b6b
      font-size: 14px
      padding-bottom: 16px
  .section_2
    width: 100%
    background: url("/static/imgs/pc_activity/love_on_july/section_2.jpg") no-repeat center center
    height: 481px
    display: block
    .section_2_text
      width: 100%
      line-height: 24px
      color: #f26b6b
      font-size: 14px
      padding-top: 153px
      text-align: center
  .section_3
    width: 100%
    background: url("/static/imgs/pc_activity/love_on_july/section_3.jpg") no-repeat center top
    padding-bottom: 20px

    .title_img
      width: 518px
      display: block
      margin: 0 auto
    .section_3_text1
      padding: 7px 0 4px
      font-size: 14px
      color: #ef6565
      line-height: 22px
      text-align: center

    .two_biao
      width: 518px
      margin: 0 auto
      display: block
      height: 358px
      .biao
        width: 242px
        display: block
        height: 358px
        padding: 115px 41px 0 46px
      .left_biao
        float: left
        background: url("/static/imgs/pc_activity/love_on_july/section_3_img2.png") no-repeat center center
      .right_biao
        float: right
        background: url("/static/imgs/pc_activity/love_on_july/section_3_img3.png") no-repeat center center
      .title_text
        width: 100%
        color: #fd5655
        font-size: 14px
        line-height: 22px
        padding-bottom: 90px
        text-align: center
      .biao_text
        font-size: 13px
        line-height: 20px
        color: #ed7251

      .investment_wrap
        width: 100%
        font-size: 13px
        color: #ed7251
        line-height: 20px
        text-indent: 2em
        span
          font-weight: bold
    .rule_wrap
      width: 806px
      padding: 0 28px 0 28px
      display: block
      margin: 0 auto
      .title_text
        width: 100%
        color: #e5574c
        font-size: 14px
        line-height: 22px
      dl
        color: #e5574c
        font-size: 14px
        width: 100%
        position: relative

        dt
          width: 20px
          position: absolute
          left: 0
          top: 0
          line-height: 20px
          display: block
        dd
          padding-left: 20px
          width: 100%
          line-height: 20px
    .line
      width: 518px
      height: 16px
      display: block
      margin: 20px auto 30px
      background: url("/static/imgs/pc_activity/love_on_july/section_3_img4.png") no-repeat center center
    .section_3_text2
      padding: 14px 0 20px
    .act_ranking
      width: 518px
      margin: 0 auto
      display: block
      .box
        width: 100%
        display: block
        height: 166px
        padding-bottom: 16px
        position: relative
        dl
          width: 111px
          display: block
          position: absolute
          left: 68px
          top: 43px
          color: #ef6565
          text-align: center

          dt
            font-size: 65px
            line-height: 60px
            font-weight: 100
            height: 65px
            span
              font-size: 18px
              line-height: 60px
              padding-left: 2px


          dd
            font-size: 13px
            line-height: 20px
        .act_text
          width: 158px
          position: absolute
          left: 206px
          top: 55px
          font-size: 14px
          line-height: 20px
          text-align: center

      .box_1
        background: url("/static/imgs/pc_activity/love_on_july/section_3_img6.png") no-repeat center center
        .act_text
          color: #fb8ba1
      .box_2
        background: url("/static/imgs/pc_activity/love_on_july/section_3_img7.png") no-repeat center center
        .act_text
          color: #5a99ff
      .box_3
        background: url("/static/imgs/pc_activity/love_on_july/section_3_img8.png") no-repeat center center
        .act_text
          color: #ff6666
          top: 73px
    .now_ranking
      width: 644px
      display: block
      margin: 0 auto
      height: 332px
      background: url("/static/imgs/pc_activity/love_on_july/section_3_img9.png") no-repeat center center
      .title_text
        width: 100%
        line-height: 36px
        color: #fff
        font-size: 24px
        text-align: center
        padding-left: 7px
      .act_time
        color: #ef6565
        font-size: 14px
        line-height: 22px
        width: 100%
        text-align: center
        padding-top: 10px
      .now_main
        width: 100%
        padding-left: 79px
        padding-top: 13px
        .box
          width: 165px
          float: left
          display: block
          .name_text
            width: 100%
            text-align: center
            color: #fff
            font-size: 18px
            line-heihgt: 25px
          img
            width: 100%
            display: block
          .phone_num
            width: 100%
            text-align: center
            color: #fff
            font-size: 14px
            line-heihgt: 20px
            padding-bottom: 12px
          .money_num

            margin: 0 auto
            height: 25px
            text-align: center
            display: block
            width: 100%
            span
              display: inline-block
              height: 25px
              line-height: 25px

              color: #fff
              font-size: 14px
              padding: 0 10px
              max-width: 165px
              min-width: 117px
              border-radius: 15px
              overflow: hidden
          span.money_num1
            background: url("/static/imgs/pc_activity/love_on_july/section_3_img13.png") no-repeat center center
            background-size: 100% 100%
          span.money_num2
            background: url("/static/imgs/pc_activity/love_on_july/section_3_img14.png") no-repeat center center
            background-size: 100% 100%
          span.money_num3
            background: url("/static/imgs/pc_activity/love_on_july/section_3_img15.png") no-repeat center center
            background-size: 100% 100%
    .rule_wrap2
      padding: 26px 0
    .investment_wrap
      border-left: 1px #ff2c50 solid
      border-right: 1px #fa8e5b solid
      width: 499px
      display: block
      margin: 0 auto
      font-size: 0
      .investmen_tline
        width: 100%
        height: 1px
        background: url("/static/imgs/pc_activity/love_on_july/img16_39.png") no-repeat center
        background-size: 100%
        display: block
      .box
        width: 100%
        position: relative
        height: 35px
        .div
          width: 50%
          line-height: 35px
          font-size: 15px
          color: #ef5043
          float: left
          display: block
          height: 35px
          text-align: center
        .shu_line
          position: absolute
          left: 50%
          top: 0
          width: 1px
          height: 100%
          background: #fa5b52
          opacity: 0.4
      .first_box
        background: url("/static/imgs/pc_activity/love_on_july/img16_40.png") repeat-y center
        background-size: 100%
        .div
          color: #fff
    .rule_wrap3
      width: 500px
      padding: 17px 0 26px 0
    .go_list
      width: 204px
      height: 62px
      background: url("/static/imgs/pc_activity/love_on_july/section_3_img18.png") no-repeat center center
      line-height: 60px
      display: block
      margin: 0 auto 20px

      
      text-align: center
      font-size: 21px
      color: #fff
      text-space: 5px
    .go_list:hover
      opacity: 0.8

    .rule_last
      width: 100%
      line-height: 18px
      color: #f45151
      font-size: 12px
      text-align: center
      padding-bottom: 34px
    .rule_text
      color: #e5574c
      font-size: 14px
      line-height: 20px

  .popup_wrap
    width: 100%
    height: 100%
    position: fixed
    left: 0
    top: 0
    z-index: 9999
    display: none
    .popup_bg
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      background: #000000
      opacity: 0.4
      z-index: 2
    .popup_box
      width: 380px
      padding: 30px 22px 28px

      background: #fff
      border-radius: 5px
      position: absolute
      left: 50%
      top: 50%
      z-index: 3
      margin: -86px 0 0 -190px

      margin-top: -86px
      .popup_main
        position: relative
        width: 100%
        height: 100%
        display: block
      .close_ico
        position: absolute
        right: -12px
        top: -12px
        width: 24px
        height: 24px
        display: block
        cursor: pointer

      dl
        width: 100%
        text-align: center
        dt
          font-size: 18px
          line-height: 26px
          color: #585757
        dd
          font-size: 16px

          line-height: 26px
          color: #585757
      p.popup_text
        text-align: center
        font-size: 24px
        line-height: 52px
        color: #585757

      .popup_button
        width: 138px
        display: block
        margin: 14px auto 0
        text-align: center
        line-height: 46px
        background: #FF891C
        border-radius: 5px
        color: #fff
        font-size: 20px
        cursor: pointer



