.mid-autumn-banner
   background: url("/static/imgs/pc_activity/mid-autumn/banner.jpg") no-repeat center center
   height: 750px

.autumn-gold
   width: 1100px
   height: auto
   margin: 0 auto
   margin-bottom: 40px
   h1
      background: url("/static/imgs/pc_activity/mid-autumn/tit1.jpg") no-repeat center center
      height: 122px
   h2
      background: url("/static/imgs/pc_activity/mid-autumn/tit2.jpg") no-repeat center center
      height: 122px
      margin-top: 30px
   .autumn-main1,.autumn-main2
      width: 100%
      background: #273071 url("/static/imgs/pc_activity/mid-autumn/money.png") no-repeat center 25px
      border-radius: 15px
      margin-top: 30px
      padding-bottom: 30px
      position: relative
      .autumn-txt
         width: 253px
         font-size: 19px
         color: #5c168a
         position: relative
         top: 77px
         left: 209px
         b
            font-weight: normal
            color: #faea58
         span
            color: #ea463a
      .btn
         width: 233px
         height: 59px
         background: #ea463a
         color: #fff
         font-size: 22px
         line-height: 59px
         text-align: center
         display: inline-block
         border-radius: 35px
         font-weight: bold
         box-shadow: 0px 5px 0px #c2150b
         position: relative
         margin: 125px 0 10px 0
         left: 451px
      .autumn-rule
         width: 93px
         height: 45px
         color: #ee790f
         display: inline-block
         font-size: 18px
         background: url("/static/imgs/pc_activity/mid-autumn/biao.jpg") no-repeat 36px bottom
         position: relative
         left: 294PX
         margin-bottom: 40px
         top: 53px
      .ul-rule
         margin: 0 auto
         width: 716px
         margin-top: 35px
         display: none
         li
            font-size: 12px
            color: #b66626
            line-height: 24px
            span
               font-size: 16px
   .autumn-main2
      width: 100%
      background: #273071
      border-radius: 15px
      margin-top: 30px
      padding: 1px 0px 30px 0px
      dl
         width: 547px
         height: 280px
         border-right: 1px solid #9398b8
         margin-top: 32px
         display: inline-block
         .quan2
            background: url("/static/imgs/pc_activity/mid-autumn/quan2.jpg") no-repeat center 55px
         dt
            height: 218px
            background: url("/static/imgs/pc_activity/mid-autumn/quan1.5.jpg") no-repeat center 55px
            h3
               font-size: 18px
               color: #ea463a
               text-align: center
               span
                  color: #f8d754
         dd
            a
               width: 233px
               height: 59px
               background: #ea463a
               color: #fff
               font-size: 22px
               line-height: 59px
               text-align: center
               display: inline-block
               border-radius: 35px
               font-weight: bold
               box-shadow: 0px 5px 0px #c2150b
               position: relative
               left: 158px
      p
         font-size: 14px
         color: #fff
         text-align: center
         margin-top: 40px
      .autumn-rule
         left: 500px
         top: 20px
         margin-bottom: 0px
      #seven-center
         width: 235px
         height: 50px
         border-radius: 10px
         background: #1c256a
         margin: 0 auto
         font-size: 24px
         color: #f1472d
         line-height: 50px
         text-align: center
         margin-top: 30px
      #xl-triangle-center
         width: 149px
         .center-cont
            background: #999999
         .center-cont:after
            border-left: 12px solid #9c9e88
      #triangle-start
         .start-cont
            background: #999999
         .start-cont:after
            border-left: 12px solid #9c9e88
      #triangle-end
         .end-cont
            background: #999999
         .end-cont:after
            border-left: 12px solid #9c9e88
      #process-list
         margin-left: 50px
         .circle
            .circle-txt
               color: #fff
               width: 154px
               margin-left: -24px
            .circle-body
               background: #fff url("/static/images/pptv/liucheng11.png") no-repeat
               &:hover
                  background-color: #ea5153
                  border: 4px solid #ea5153
            .free
               background-position: 10px 10px
               &:hover
                  background-position: 10px -63px
            .atte
               background-position: 10px -138px
               &:hover
                  background-position: 10px -207px
            .recharge
               background-position: 12px -280px
               &:hover
                  background-position: 12px -350px
            .tender
               background-position: 10px -423px
               &:hover
                  background-position: 10px -495px
            .collec
               background-position: 10px -566px
               &:hover
                  background-position: 10px -637px
      .autumn-act-rule
         margin: 0 auto
         margin-top: 35px
         width: 855px
         li
            font-size: 14px
            color: #b66626
            line-height: 24px
            span
               font-size: 16px
            a
               color: #929296
               text-decoration: underline
      .p-style
         font-size: 12px
         width: 855px
         text-align: right
         margin: 0 auto
         color: #929296
         margin-top: 30px
.autumn-footer
   //height: 280px
   background: #263071
   .footer-img
      width: 1101px
      margin:  0 auto
      height: 305px
      background: url("/static/imgs/pc_activity/mid-autumn/footer2.jpg") no-repeat center center
      position: relative
      top: -43px


#small-zc
   width: 100%
   height: 100%
   position: absolute
   background: rgba(52, 47, 95, 0.55)
   top: 0
   z-index: 99
   #seven-success
      width: 400px
      height: 200px
      position: fixed
      top: 50%
      left: 50%
      margin-top: -100px
      margin-left: -200px
      border-radius: 10px
      background: #fff
      .first-xl-off2
         border-radius: 15px
         background: #fff
         font-weight: bold
         color: #999
         position: absolute
         font-size: 21px
         right: 3px
         top: 2px
         cursor: default
         padding: 0 8px
      .seven-happy
         font-size: 24px
         color: #ea463a
         text-align: center
         margin-top: 30px
         position: relative
         span
            display: inline-block
            width: 21px
            height: 26px
            background: url("/static/imgs/pc_activity/mid-autumn/success.jpg") no-repeat center center
            position: absolute
            left: 108px
            top: 5px

      .txt
         font-size: 17px
         color: #738289
         text-align: left
         margin: 30px auto
         width: 274px





