.pnation_continer
    height: 830px
    background: url("/static/imgs/pc_activity/img_national/banner.jpg") no-repeat center center
.pnation_titles
    width: 396px
    height: 55px
    margin: 45px auto 0 auto
.titles1
    background: url("/static/imgs/pc_activity/img_national/2.png") no-repeat
.titles2
    background: url("/static/imgs/pc_activity/img_national/10.png") no-repeat
.titles3
    background: url("/static/imgs/pc_activity/img_national/11.png") no-repeat
.pnation_text
    text-align: center
    color: #fff
    line-height: 86px
    font-size: 17px
.pnation_box
    width: 1100px
    height: 470px
    margin: 0 auto
    .pna_minbox
        width: 363px
        height: 468px
        float: left
        .pna_img
            width: 367px
            height: 80px
        .pna_img1
            background: url("/static/imgs/pc_activity/img_national/6.jpg") no-repeat
        .pna_img2
            background: url("/static/imgs/pc_activity/img_national/7.jpg") no-repeat
        .pna_img3
            background: url("/static/imgs/pc_activity/img_national/8.jpg") no-repeat
        .pan_con
            width: 367px
            height: 387px

            h5
                line-height: 60px
                font-size: 22px
                color: #fff
                text-align: center
            span
                line-height: 60px
                font-size: 22px
                color: #fff
                text-align: center
                display: block
            .pna_quan
                width: 280px
                height: 135px
                margin: 0 auto
            .pan_quanbtn
                width: 225px
                height: 46px
                border-radius: 30px
                background: #fccd29
                display: block
                padding-top: 10px
                margin: 30px auto
                img
                    margin: auto
                    display: block
        .pan_con1
            background: #af34e7
            .pna_quan
                background: url("/static/imgs/pc_activity/img_national/3.png") no-repeat
        .pan_con2
            background: #d82cbe
            .pna_quan
                background: url("/static/imgs/pc_activity/img_national/4.png") no-repeat
        .pan_con3
            background: #e20064
            .pna_quan
                background: url("/static/imgs/pc_activity/img_national/5.png") no-repeat
.pnation_dbtn
    width: 100px
    height: 50px
    font-size: 20px
    color: #ffd725
    line-height: 24px
    text-align: center
    display: block
    margin: 0 auto
    span
        width: 15px
        height: 14px
        background: url("/static/imgs/pc_activity/img_national/12.jpg") no-repeat
        display: block
        margin: 5px auto
.pantion_dluo
    width: 715px
    height: auto
    margin: 0 auto
    display: none
    span
        font-size: 14px
        line-height: 24px
        color: #ffd725
.national_flow
    width:  1100px
    height: 155px
    margin: 0 auto
    margin-top: 70px
    .flow1
        width: 275px
        height: 110px
        float: left
        position: relative
        border-top: 3px solid #989898
        .flow_border
            width: 0
            height: 0
            border: 13px transparent solid
            border-left: 13px #989898 solid
            position: absolute
            top: -13px
        .flow_border2
            width: 0
            height: 0
            border: 13px transparent solid
            border-left: 13px #989898 solid
            position: absolute
            top: -13px
            right: -15px
        .flow_xian
            width: 100%
            height: 0.075rem
            background: #989898
        .flowbox
            width: 100px
            height: 100px
            -webkit-border-radius: 50%
            -moz-border-radius: 50%
            -ms-border-radius: 50%
            -o-border-radius: 50%
            border-radius: 50%
            margin-top: -50px
            margin-left: 80px

        .flowbox1
            background: #fbcc28 url("/static/imgs/pc_activity/img_national/13.jpg") no-repeat center center
        .flowbox2
            background: #fbcc28 url("/static/imgs/pc_activity/img_national/14.jpg") no-repeat center center
        .flowbox3
            background: #fbcc28 url("/static/imgs/pc_activity/img_national/15.jpg") no-repeat center center
        .flowbox4
            background: #fbcc28 url("/static/imgs/pc_activity/img_national/16.jpg") no-repeat center center
        .flowtext
            font-size: 16px
            color: #fbcc28
            width: 275px
            text-align: center
            margin-top: 32px
            display: block
.pantion_dluo2
    width: 715px
    height: auto
    margin: 20px auto
    span
        font-size: 14px
        line-height: 24px
        color: #ffd725
    .ashref
        color: #ffffff
        text-decoration: underline
.wlbqu
    width: 715px
    text-align: right
    color: #98948b
    margin: 15px auto
.pnation_footer
    height: 303px
    background: url("/static/imgs/pc_activity/img_national/17.jpg") no-repeat center center