.banner
    width: 100%
    height: 437px
    background: url("/static/imgs/pc_activity/open_house/banner.jpg") no-repeat center center
.hd_intro
    width: 170px
    height: auto
    margin: 0 auto
    h2
        width: 100%
        height: 38px
    h2.intro_tle1
        margin-top: 47px
        background: url("/static/imgs/pc_activity/open_house/hdtitle.jpg") no-repeat
    h2.intro_tle2
        background: url("/static/imgs/pc_activity/open_house/hd_arrange.jpg") no-repeat
    h2.intro_tle3
        background: url("/static/imgs/pc_activity/open_house/diatle.png") no-repeat
    p
        text-align: center
        font-size: 14px
        color: #585757
        line-height: 48px
    p.diaps
        color: #fff
    span
        width: 50px
        height: 4px
        background: #f85e5e
        display: block
        margin: 0 auto

.hd_intro2
    width: 231px
    height: auto
    margin: 43px auto 0 auto
    h2
        width: 100%
        height: 38px
        background: url("/static/imgs/pc_activity/open_house/wlb_intro.jpg") no-repeat
    p
        text-align: center
        font-size: 14px
        color: #585757
        line-height: 48px
    span
        width: 50px
        height: 4px
        background: #f85e5e
        display: block
        margin: 0 auto
.intro_text
    width: 575px
    text-align: center
    line-height: 24px
    font-size: 16px
    color: #585757
    margin: 38px auto
.introbox
    width: 800px
    height: 178px
    margin: 60px auto 0 auto
    dl
        float: left
        dt
            text-align: center
            margin: 0 auto
        dd
            font-size: 14px
            text-align: center
    dl.intro_dls1
        width: 175px
    dl.intro_dls2
        width: 225px
    dl.intro_dls3
        width: 127px
    span
        width: 106px
        height: 23px
        background: url("/static/imgs/pc_activity/open_house/hd_intro5.jpg") no-repeat
        display: block
        float: left
        margin-top: 45px
.intro_dls
    width: 185px
    margin: 35px auto 38px auto
    dt
        text-align: center
        margin: 0 auto
    dd
        font-size: 14px
        text-align: center
.triangle
    width: 28px
    height: 10px
    background: url("/static/imgs/pc_activity/open_house/triangle.png") no-repeat
    margin: 0 auto
    display: block
.triangle2
    margin-top: 36px
.arrange
    width: 100%
    height: 360px
    background: #F0F0F0
    padding-top: 38px

    ul
        width: 480px
        margin: 38px auto 0 auto
        li
            width: 480px
            font-size: 16px
            color: #585757
            a
                width: 85px
                display: inline-block
            span
                width: 390px
                display: inline-block
            .span2
                margin-left: 85px

.hd_dialog
    width: 100%
    height: 520px
    background: url("/static/imgs/pc_activity/open_house/hd_dialog.jpg") no-repeat center center
    padding-top: 38px
.hd_login
    width: 600px
    height: 300px
    background: rgba(0,0,0,0.7)
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    -ms-border-radius: 10px
    margin: 20px auto
    ul
        width: 300px
        margin: 0 auto
        padding-top: 45px
        li
            width: 300px
            height: 34px
            border-bottom: 1px solid #988c89
            span
                width: 20px
                height: 25px
                display: block
                float: left
                margin-left: 5px
            span.lg_spans1
                background: url("/static/imgs/pc_activity/open_house/hd_login.png") no-repeat 0 5px
            span.lg_spans2
                background: url("/static/imgs/pc_activity/open_house/hd_login.png") no-repeat 0 -20px
            span.lg_spans3
                background: url("/static/imgs/pc_activity/open_house/hd_login.png") no-repeat 0 -45px
            input
                width: 250px
                height: 25px
                margin-left: 20px
                margin-top: 2px
                border: none
                color: #ffffff
                background: transparent
    .login_btn
        width: 162px
        height: 31px
        background: #f85e5e
        border-radius: 15px
        display: block
        text-align: center
        color: #ffffff
        font-size: 18px
        margin: 38px auto 0 auto
    .login_text
        font-size: 14px
        color: #ffffff
        padding: 0 40px
        line-height: 26px
        margin-top: 20px
        
.wlb_intro
    width: 900px
    line-height: 24px
    font-size: 16px
    color: #585757
    margin: 25px auto 0 auto
    text-indent: 32px
.wlb_box
    width: 970px
    height: 150px
    margin: 50px auto 0 auto
    dl
        float: left
        dt
            height: 70px
            text-align: center
            line-height: 70px
        dd
            h6
                text-align: center
                font-size: 20px
            p
                text-align: center
                font-size: 18px
    span
        width: 15px
        height: 17px
        background: url("/static/imgs/pc_activity/open_house/wlb_intro5.jpg") no-repeat
        display: block
        float: left
        margin: 30px 31px
.footer
    width: 100%
    height: 58px
    background: #303030
    text-align: center
    color: #ffffff
    line-height: 58px
    font-size: 16px
    margin-top: 22px






