.clear
  clear: both
#body_wrap
  width: 100%
  font-size: 0
  #banenr
    width: 100%
    background: url("/static/imgs/pc_activity/wangli_vip/banner_bg.jpg") no-repeat top center
    .banner_main
      width: 1100px
      display: block
      margin: 0 auto
      height: 536px
      background: url("/static/imgs/pc_activity/wangli_vip/banner_img.png") no-repeat
      position: relative
      .num
        position: absolute
        z-index: 2
        font-size: 16px
        color: #fff
      .num_two
        left: 282px
        top: 398px
      .num_one
        left: 126px
        top: 406px
      .num_three
        left: 446px
        top: 386px
      .num_four
        left: 576px
        top: 358px
      .num_five
        left: 734px
        top: 158px
      .level
        height: 19px
        position: absolute
        z-index: 2
        padding-left: 25px
        color: #fff
        font-size: 16px
        line-height: 19px
        top: 452px
      .level_one
        background: url("/static/imgs/pc_activity/wangli_vip/level_ico_1.png") no-repeat left center
        left: 100px
      .level_two
        background: url("/static/imgs/pc_activity/wangli_vip/level_ico_2.png") no-repeat left center
        left: 352px
      .level_three
        background: url("/static/imgs/pc_activity/wangli_vip/level_ico_3.png") no-repeat left center
        left: 515px
      .level_four
        background: url("/static/imgs/pc_activity/wangli_vip/level_ico_4.png") no-repeat left center
        left: 677px
      .level_five
        background: url("/static/imgs/pc_activity/wangli_vip/level_ico_5.png") no-repeat left center
        left: 886px
        padding-left: 40px
      .view
        color: #ffea00
        font-size: 18px
        line-height: 24px
        position: absolute
        left: 0
        top: 485px
        z-index: 2
        border-bottom: 1px #ffea00 solid
        cursor: pointer
      .view:hover
        color: #fff
        border-bottom: 1px #fff solid
  .slide_bottom
    width: 100%
    display: none
    .main
      width: 1100px
      display: block
      margin: 0 auto
      float: none
      padding-bottom: 19px
      position: relative
      dl
        width: 520px
        display: block
        float: left
        dt
          font-size: 14px
          color: #fff
          line-height: 20px
          width: 100%
        dd
          font-size: 14px
          color: #fff
          line-height: 20px   
          width: 100%
          display: block
      dl.two
        float: right
      .bottom_arrow
        height: 19px
        margin: 45px auto 0
        width: 80px
        line-height: 19px
        background: url("/static/imgs/pc_activity/wangli_vip/bottom_arrow.png") no-repeat left center
        padding-left: 37px
        color: #ffea00
        font-size: 17px
        clear: both
        display: block
        cursor: pointer
      .bottom_arrow:hover
        opacity: 0.8
  .big_title_1
    width: 100%
    line-height: 40px
    font-size: 36px
    padding: 58px 0 38px
    text-align: center
    color: #666
  .privilege
    width: 1100px
    display: block
    margin: 0 auto 60px
    height: 440px
    .privilege_box
      float: left
      margin-right: 33px
      height: 440px
      display: block
      .border_top
        height: 6px
        width: 100%
      .main
        background: #f6f6f6
        height: 374px
        width: 100%
        float: none
        .title
          width: 100%
          text-align: center
          line-height: 24px
          padding: 22px 0
        .box
          width: 100px
          float: left
          display: block
          height: 134px
          margin: 0 34px 10px 20px
          img
            width: 100px
            height: 100px
            display: block
          p
            width: 100%
            text-align: center
            line-height: 34px
            font-size: 14px
            color: #666
        .last
          margin: 0 0 10px 20px
    .privilege_one
      width: 600px
      .border_top
        background: url("/static/imgs/pc_activity/wangli_vip/border_top_1.png") no-repeat
    .privilege_two
      width: 294px
      .border_top
        background: url("/static/imgs/pc_activity/wangli_vip/border_top_2.png") no-repeat
    .privilege_three
      width: 140px
      margin-right: 0
      .border_top
        background: url("/static/imgs/pc_activity/wangli_vip/border_top_3.png") no-repeat
  .vip_explain
    width: 100%
    background: #f6f6f6
    padding: 60px 0
    .main
      width: 1100px
      display: block
      margin: 0 auto
      float: none
      .title
        width: 100%
        border: 1px #aaaaaa solid
        text-align: center
        line-height: 60px
        color: #666
        font-size: 36px
      table
        width: 100%
        border: 1px solid #aaa
        border-top: none
        border-left: none
        thead
          background: #fff
          height: 38px
          th
            height: 38px
            width: 183px
            font-size: 20px
            line-height: 38px
            color: #666
            text-align: center
            border-bottom: 1px solid #aaa
            border-left: 1px solid #aaa
        tbody
          background: #f8edfb
          tr
            height: 38px
            border-bottom: 1px solid #aaa
            td
              height: 38px
              text-align: center
              line-height: 38px
              color: #666
              font-size: 20px
              border-left: 1px solid #aaa
          tr.white
            background: #FFFFFF
  .privilege_box
    width: 1100px
    margin: 0 auto
    display: block
    padding: 60px 0
    .privilege_tab
      width: 100%
      height: 50px
      cursor: pointer
      .tab
        margin-right: 1px
        float: left
        width: 366px
        display: block
        height: 50px
        background: url("/static/imgs/pc_activity/wangli_vip/tab.png") no-repeat
        text-align: center
        color: #fff
        font-size: 18px
        line-height: 42px
        padding-bottom: 8px
      .last
        margin-right: 0
      .tab_choose
        background: url("/static/imgs/pc_activity/wangli_vip/tab_choose.png") no-repeat
  .privilege_main
    width: 100%
    padding: 30px 0 0
    display: inline-block
    .box_main
      width: 100%
      clear: both
      display: none
      .box
        width: 100%
        clear: both
        span
          height: 30px
          line-height: 30px
          font-size: 16px
          color: #666
          float: left
          display: block
          width: 27px
        .right
          float: left
          width: 1073px
          display: block
          p
            height: 30px
            line-height: 30px
            font-size: 16px
            color: #666
            width: 100%
    .box_one
      display: block
  .question_box
    width: 100%
    padding: 58px 0 52px
    background: #f6f6f6
    .question_main
      width: 1100px
      margin: 0 auto
      display: block
      .title
        font-size: 24px
        line-height: 28px
        color: #666
        text-align: left
        padding-bottom: 20px
      dl
        width: 830px
        display: block
        clear: both
        padding-top: 16px
        dt
          background: url("/static/imgs/pc_activity/wangli_vip/q_ico.png") no-repeat
          padding-left: 26px
          line-height: 18px
          width: 100%
          font-size: 14px
          color: #666
          margin-bottom: 15px
        dd
          padding-left: 26px
          line-height: 24px
          width: 100%
          font-size: 14px
          color: #666
  .vip_bottom
    width: 100%
    height: 480px
    background: url("/static/imgs/pc_activity/wangli_vip/vip_bottom.jpg") no-repeat top center
    padding-top: 103px
    p
      line-height: 36px
      color: #fff
      font-size: 18px
      color: #fff
      text-align: center
    p.small
      color: #edc7ff
      font-size: 14px
      span
        color: #f6ff01