/*
Syntax error: File to import not found or unreadable: partials/pan_gold.
              Load paths:
                /home/qijinjin/projects/wanglibao-backend/static/sass
                /var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/blueprint/stylesheets
                /var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets
                /var/lib/gems/1.9.1/gems/susy-1.0.5/sass
                /var/lib/gems/1.9.1/gems/font-icons-1.0.5.beta/stylesheets
                Compass::SpriteImporter
        on line 1 of /home/qijinjin/projects/wanglibao-backend/static/sass/pangold.sass

1: /home/qijinjin/projects/wanglibao-backend/static/sass/pangold.sass

Backtrace:
/home/qijinjin/projects/wanglibao-backend/static/sass/pangold.sass:1
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/import_node.rb:67:in `rescue in import'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/import_node.rb:45:in `import'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/import_node.rb:28:in `imported_file'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/import_node.rb:37:in `css_import?'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/var/lib/gems/1.9.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/var/lib/gems/1.9.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:139:in `block in compile'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/logger.rb:45:in `red'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:138:in `compile'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:118:in `compile_if_required'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `each'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `block in run'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:100:in `run'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/commands/update_project.rb:45:in `perform'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/1.9.1/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/1.9.1/gems/compass-0.12.3/bin/compass:30:in `block in <top (required)>'
/var/lib/gems/1.9.1/gems/compass-0.12.3/bin/compass:44:in `call'
/var/lib/gems/1.9.1/gems/compass-0.12.3/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: partials/pan_gold.\A               Load paths:\A                 /home/qijinjin/projects/wanglibao-backend/static/sass\A                 /var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/blueprint/stylesheets\A                 /var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets\A                 /var/lib/gems/1.9.1/gems/susy-1.0.5/sass\A                 /var/lib/gems/1.9.1/gems/font-icons-1.0.5.beta/stylesheets\A                 Compass::SpriteImporter\A         on line 1 of /home/qijinjin/projects/wanglibao-backend/static/sass/pangold.sass\A \A 1: /home/qijinjin/projects/wanglibao-backend/static/sass/pangold.sass"; }
