- load formatters
doctype html
- with '基金产品详情' as title
include include/head
- endwith
body
  include include/header
  - with '基金产品' as activeItem
  include include/navigation
  - endwith
  .sub-navbar
    .sub-navbar--list
      ul
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{%url 'fund_home'%}") 基金首页
        li.sub-navbar--list-item
          a.sub-navbar--anchor.active(href="{% url 'fund_products' %}") 基金产品
  .container
    .span8.panel.panel-header
      .row
        .span8
          .panel-bar-s
            .panel-title-l {{ fund.name }}
          .well
            .row
              .span8
                dl.span6.key-value
                  dt 基金全名：
                  dd {{ fund.full_name }}
                dl.span6-omega.key-value
                  dt 基金公司：
                  dd {{ fund.issuer.name }}
            .row
              .span8
                dl.span6.key-value
                  dt 基金类型：
                  dd {{ fund.type }}
                dl.span6-omega.key-value
                  dt 交易状态：
                  dd {{ fund.status }}
        .span4-omega
          .span6
            .card-icon
              dl
                dt 7日年化收益
                dd {{fund.rate_7_days | percentage}}
          .span6-omega
            .card-icon
              dl
                dt 产品期限
                dd 50天
        .row.panel-footer
          .well
            p.pull-left 客服电话: {{fund.issuer.phone}}
            if is_favorited != 1
              a#addToFavorite.pull-right(href="#", data-id="{{fund.id}}", data-is-favorited="{{is_favorited}}")收藏
            else
              a#addToFavorite.pull-right(href="#", data-id="{{fund.id}}", data-is-favorited="{{is_favorited}}")取消收藏
    .span4-omega.panel.panel-header
      .panel-title-bar-s
        span.panel-title 收益计算器
      form
        .form-row
          label.span3.form-row-label 投资额度
          input.span8(type="text")

  .panel
    .panel-title-bar
      .panel-title 产品详情
    .well
      table.bordered-table
        tbody
          tr
            th 基金经理
            td {{fund.manager}}
            th 托管银行
            td {{fund.hosting_bank}}
          tr
            th 基金管理费
            td {{fund.management_fee}}
            th 基金托管费
            td {{fund.hosting_fee}}
          tr
            th 成立日期
            td {{fund.found_date | na_if_none}}
            th 最新份额
            td {{fund.latest_shares | na_if_none}}
          tr
            th 首募规模
            td {{fund.init_scale | na_if_none}}
            th 最新规模
            td {{fund.latest_scale | na_if_none}}

  .panel
    .panel-title-bar
      .panel-title 投资目标

    p.well {{fund.investment_target | linebreaksbr}}

  .panel
    .panel-title-bar
      .panel-title 投资范围

    p.well {{fund.investment_scope | linebreaksbr}}

  .panel
    .panel-title-bar
      .panel-title 投资策略
    p.well {{fund.investment_strategy | linebreaksbr}}

  .panel
    .panel-title-bar
      .panel-title 风险收益特征
    p.well {{fund.risk_character | linebreaksbr}}

  .space-vertical-s
  include include/footer
  script.
    require(['/static/js/fund_detail.js'])
  include include/tracking
