- load formatters
- load mathfilters
doctype html
- with '基金产品详情' as title
include include/head
- endwith
body
  include include/header
  - with '基金产品' as activeItem
  include include/navigation
  - endwith
  .sub-navbar
    .sub-navbar--list
      ul
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{%url 'fund_home'%}") 基金首页
        li.sub-navbar--list-item
          a.sub-navbar--anchor.active(href="{% url 'fund_products' %}") 基金产品
  .container
    .span8.panel-nopadding.panel-header
      .panel-product-title-bar
        .panel-product-title {{ fund.name }}
          if is_favorited != 1
            a#addToFavorite.button.button-mini.button-pink.pull-right(href="#", data-id="{{fund.id}}", data-is-favorited="{{is_favorited}}")收藏
          else
            a#addToFavorite.button.button-mini.button-pink.pull-right(href="#", data-id="{{fund.id}}", data-is-favorited="{{is_favorited}}")取消收藏
      .row
        .span6
          .well
            .row
              dl.span6.key-value
                dt 基金全名：
                dd {{ fund.full_name }}
              dl.span6-omega.key-value
                dt 基金公司：
                dd {{ fund.issuer.name }}
            .row
              dl.span6.key-value
                dt 基金类型：
                dd {{ fund.type }}
              dl.span6-omega.key-value
                dt 交易状态：
                dd {{ fund.status }}
            .row
              dl.span6.key-value
                dt 客服电话：
                dd {{fund.issuer.phone}}
        .span3-omega
          .span12
            .card-icon
              dl
                dt 7日年化收益
                dd.highlight {{fund.rate_7_days | percentage}}

    .span4-omega.panel-nopadding.panel-header
      .panel-product-title-bar
        .panel-product-title 收益计算器
      form(data-period="50", data-rate="5")
        .form-row-m.padding-left-s.margin-top-s
          label.form-row-label 投资金额：
          span.ispan4.relative-pos
            input.ispan12(type="text", data-rate="{{fund.rate_7_days}}",  /
              data-period="30", data-target="#earning", data-role="earning-calculator")
            span.absolute-pos.pos-r-s 万
          span &nbsp;&nbsp;&nbsp;月预期收益：
          span#earning.highlight 0.0
          span 元

  .panel-nopadding
    .panel-product-title-bar
      .panel-product-title 产品详情
    table.bordered-table.margin-top-m1
      tbody
        tr
          th 基金经理
          td {{fund.manager}}
          th 托管银行
          td {{fund.hosting_bank}}
        tr
          th 基金管理费
          td {{fund.management_fee}}
          th 基金托管费
          td {{fund.hosting_fee}}
        tr
          th 成立日期
          td {{fund.found_date | na_if_none}}
          th 最新份额
          td {{fund.latest_shares | na_if_none}}
        tr
          th 首募规模
          td {{fund.init_scale | na_if_none}}
          th 最新规模
          td {{fund.latest_scale | na_if_none}}

  .panel-nopadding
    .panel-product-title-bar
      .panel-product-title 投资目标

    p.well {{fund.investment_target | linebreaksbr}}

  .panel-nopadding
    .panel-product-title-bar
      .panel-product-title 投资范围

    p.well {{fund.investment_scope | linebreaksbr}}

  .panel-nopadding
    .panel-product-title-bar
      .panel-product-title 投资策略
    p.well {{fund.investment_strategy | linebreaksbr}}

  .panel-nopadding
    .panel-product-title-bar
      .panel-product-title 风险收益特征
    p.well {{fund.risk_character | linebreaksbr}}

  include include/footer
  script.
    require(['/static/js/fund_detail.js'])
  include include/tracking
