- load formatters
- load mathfilters
doctype html
- with '基金产品详情' as title
include include/head
- endwith
body
  include include/header
  - with '基金产品' as activeItem
  include include/navigation
  - endwith
  
  .space-vertical-ssm

  include include/inform

  .container
    .span8.panel.panel-header
      .panel-product-title-bar
        .panel-product-title
          .product-title.ispan11 {{ fund.name }} ({{fund.product_code}})
          if is_favorited != 1
            a#addToFavorite.button.button-small.button-white.pull-right(href="#", data-id="{{fund.id}}", data-is-favorited="{{is_favorited}}") 收藏
          else
            a#addToFavorite.button.button-small.button-white.pull-right(href="#", data-id="{{fund.id}}", data-is-favorited="{{is_favorited}}") 取消
      .row
        .span6
          .well
            .row
              dl.span12.key-value
                dt 基金全名：
                dd {{ fund.full_name }}
            .row
              dl.span6.key-value
                dt 基金公司：
                dd {{ fund.issuer.name }}
              dl.span6-omega.key-value
                dt 基金类型：
                dd {{ fund.type }}
            .row
              dl.span6.key-value
                dt 交易状态：
                dd {{ fund.status }}
              dl.span6-omega.key-value
                dt 客服电话：
                dd {{fund.issuer.phone}}
        .span3-omega
          .span12
            .card-icon
              dl
                if fund.rate_7_days
                  dt 七日年化收益
                  dd.highlight {{fund.rate_7_days | percentage}}
                  amount = fund.rate_7_days + fund.rate_7_days
                  dd.highlight {{amount}}
                else
                  dt 当日涨幅
                  dd.highlight {{fund.rate_today | percentage}}

    .span4-omega.panel.panel-header
      .panel-product-title-bar
        .panel-product-title 收益计算器
      form(data-period="50", data-rate="5")
        .form-row-m.padding-left-s.margin-top-s
          label.form-row-label 投资金额：
          span.ispan4.relative-pos
            if fund.rate_7_days
              input.ispan12(type="text", data-rate="{{fund.rate_7_days}}",  /
                data-period="30", data-target="#earning", data-role="earning-calculator")
            else
              input.ispan12(type="text", data-rate="{{fund.rate_1_year}}",  /
                data-period="30", data-target="#earning", data-role="earning-calculator")
            span.absolute-pos.pos-r-s 万
          span &nbsp;&nbsp;&nbsp;月预期收益：
          span#earning.highlight 0.0
          span 元

  .panel
    .panel-product-title-bar
      .panel-product-title 产品详情
    table.bordered-table.margin-top-m1
      tbody
        tr
          th 基金经理
          td {{fund.manager}}
          th 托管银行
          td {{fund.hosting_bank}}
        tr
          th 基金管理费
          td {{fund.management_fee}}
          th 基金托管费
          td {{fund.hosting_fee}}
        tr
          th 成立日期
          td {{fund.found_date | date:"Y年n月j日" | na_if_none}}
          th 最新份额
          td {{fund.latest_shares | na_if_none}}
        tr
          th 首募规模
          td {{fund.init_scale | na_if_none}}
          th 最新规模
          td {{fund.latest_scale | na_if_none}}
        tr
          th 近一月收益率
          td {{fund.rate_1_month | percentage}}
          th 近三月收益率
          td {{fund.rate_3_months| percentage}}
        tr
          th 近半年收益率
          td {{fund.rate_6_months | percentage}}
          th 近一年收益率
          td {{fund.rate_1_year | percentage}}
  .panel
    .panel-product-title-bar
      .panel-product-title 投资目标

    p.well {{fund.investment_target | linebreaksbr}}

  .panel
    .panel-product-title-bar
      .panel-product-title 投资范围

    p.well {{fund.investment_scope | linebreaksbr}}

  .panel
    .panel-product-title-bar
      .panel-product-title 投资策略
    p.well {{fund.investment_strategy | linebreaksbr}}

  .panel
    .panel-product-title-bar
      .panel-product-title 风险收益特征
    p.well {{fund.risk_character | linebreaksbr}}

  include include/footer
  script.
    require(['/static/js/fund_detail.js'])
  include include/tracking
