doctype html
- with '基金产品' as title
include include/head
- endwith
body
  include include/header

  - with '基金产品' as activeItem
  include include/navigation
  - endwith

  .space-vertical-s

  include include/hot_funds

  .panel-nopadding
    .panel-title-bar
      .panel-title 基金产品

    .panel-content
      // ko template: {name: 'data-table', data: fundTable}
      // /ko

    // ko template: {name: 'pager', data: pager}
    // /ko

  include include/footer
  include include/templates

  script.
    require(['/static/js/fund_products.js'])
  include include/tracking