doctype html
- with '【基金】-基金净值查询-基金理财投资-基金怎么买-基金查询' as title
include include/head
- endwith
meta(name="keywords", content="基金，基金净值查询，基金净值，基金理财，基金查询，网利宝")
meta(name="description", content="网利宝基金频道是国内专业的基金网站，网利宝基金提供专业的基金净值查询、基金理财、基金怎么买、基金查询、基金净值等基金信息服务。")

body
  include include/header


  - with '基金' as activeItem
  include include/navigation
  - endwith

  include announcement_block

  .space-vertical-ssm

  include include/hot_funds

  .panel
    .panel-title-bar
      .panel-title 基金产品

    .panel-content
      // ko template: {name: 'data-table', data: fundTable}
      // /ko

    // ko template: {name: 'pager', data: pager}
    // /ko

  include include/footer
  include include/templates

  script.
    require(['/static/js/fund_products.js'])
  include include/tracking