- load formatters
- load mathfilters
doctype html
- with '基金产品详情' as title
include include/head
- endwith
body
  include include/header
  - with '基金产品' as activeItem
  include include/navigation
  - endwith
  .container
    .span8.panel-nopadding.fund-panel-header
      .panel-product-title-bar
        .panel-product-title
            if is_favorited != 1
              a#addToFavorite.favorite.pull-right(href="#", data-id="{{fund.id}}", data-is-favorited="{{is_favorited}}")
                span.star
                添加到我的收藏
            else
              a#addToFavorite.favorite.pull-right(href="#", data-id="{{fund.id}}", data-is-favorited="{{is_favorited}}")取消

            {{ fund.name }}
      .row
        .span4
          .span12
            .card-icon.fund-card-icon
              p.padding-left-s 是银行活期利率的
              p.padding-left-s
                span.hot-list-num-s {{fund.rate_7_days | current_deposit_times}}
                span.font-l.light-gray-text 倍
        .span4
          .well-m
            .card-list
              p
                七日年化收益：
                span.highlight.font-xxl {{fund.rate_7_days | percentage}}
              p
                起购金额：
                {{fund.investment_threshold | money}}
              p
                随买随卖

        .span4-omega
          .well-m.make-money
            if user.is_authenticated
              a.button.button-round-large.button-red(href="/shumi/oauth/check_oauth_status/?fund_code={{fund.product_code}}&action=purchase" target='_blank') 立即赚钱
            else
              a.button.button-round-large.button-red(href="/accounts/register/?next=/fund/detail/{{fund.id}}") 立即赚钱
            p 申请人数{{fund.bought_count}}人

    .span4-omega.panel-nopadding.fund-panel-header
      .panel-product-title-bar
        .panel-product-title 收益计算器
      form(data-period="50", data-rate="5")
        .form-row-m.padding-left-s.margin-top-l
          label.form-row-label &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投资金额：
          span.ispan4.relative-pos
            if fund.rate_7_days
              input.ispan12(type="text", data-rate="{{fund.rate_7_days}}",  /
                data-period="30,1", data-target="#earning,#earning-day", data-role="earning-calculator", value='10')
            else
              input.ispan12(type="text", data-rate="{{fund.rate_1_year}}",  /
                data-period="30,1", data-target="#earning,#earning-day", data-role="earning-calculator")
            span.absolute-pos.pos-r-s 万
          p
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月预期收益：
            span#earning.highlight 0.0
            span 元 &nbsp;&nbsp;&nbsp;&nbsp;
            日预期收益：
            span#earning-day.highlight 0.0
            span 元

  .panel-nopadding
    .panel-product-title-bar
      .panel-product-title 产品详情
    table.bordered-table.margin-top-m1
      tbody
        tr
          th 基金经理
          td {{fund.manager}}
          th 托管银行
          td {{fund.hosting_bank}}
        tr
          th 成立日期
          td {{fund.found_date | date:"Y年n月j日" | na_if_none}}
          th 最新份额
          td {{fund.latest_shares | convert_to_10k |na_if_none}}
        tr
          th 首募规模
          td {{fund.init_scale | convert_to_10k | na_if_none}}
          th 最新规模
          td {{fund.latest_scale | convert_to_10k | na_if_none}}
        tr
          th 近一月收益率
          td {{fund.rate_1_month | percentage}}
          th 近三月收益率
          td {{fund.rate_3_months| percentage}}
        tr
          th 近半年收益率
          td {{fund.rate_6_months | percentage}}
          th 近一年收益率
          td {{fund.rate_1_year | percentage}}
  .panel-nopadding
    .panel-product-title-bar
      .panel-product-title 投资目标

    p.well {{fund.investment_target | linebreaksbr}}

  .panel-nopadding
    .panel-product-title-bar
      .panel-product-title 投资范围

    p.well {{fund.investment_scope | linebreaksbr}}

  .panel-nopadding
    .panel-product-title-bar
      .panel-product-title 投资策略
    p.well {{fund.investment_strategy | linebreaksbr}}

  .panel-nopadding
    .panel-product-title-bar
      .panel-product-title 风险收益特征
    p.well {{fund.risk_character | linebreaksbr}}

  include include/footer
  script.
    require(['/static/js/fund_detail.js'])
  include include/tracking
