//-load formatters
doctype html
html.service-redpacket-grey
  head
    title 活动登录
    include include/service_head.jade
  body.service-redpacket-login
    input(type="hidden", name="next", class="next-url", value="{{ next }}")
    .logo-leo.mt70
      img(src="/static/imgs/sub_weixin/redpack_activity/iconfont_logo4@2x.png")
    .invite-bind.js-invite-bind
      .mian-protome.mt20 快输入手机号，领取奖励啊！
      .input-box
        .wx-input-public
          .wx-input-icon.inp-icon-box
            .phone
          input(type="tel", autocomplete="off", placeholder="请输入手机号", name="identifier", data-icon="wx-input-icon", data-target2="inp-icon-box", data-target="identifier-edit", data-val="icon-show", data-empty="").wx-input-main.tel-inp
          .form-edit-icon.identifier-edit

      .service-btn-box
        button(type="submit", disabled="true").service-login-btn.js-bind-btn 下一步

    .invite-login.js-invite-login(style="display:none")
      .mian-protome.mt20 输入密码，登录186****8908账户
      .input-box
        .wx-input-public
          .wx-input-icon.inp-icon-box
            .password
          input(type="password", autocomplete="off", placeholder="输入登录密码", name="password", data-icon="wx-input-icon", data-target2="inp-icon-box").wx-input-main.first-pwd
          .hide-password.wx-password-operation.password-handle
      .service-btn-box
        button(type="submit", disabled="true").service-login-btn.js-login-btn 登录并绑定微信

    .invite-regist.js-invite-regist(style="display:none")
      .mian-protome.mt20 输入密码，登录186****8908账户
      .input-box
        .wx-input-public
          .wx-input-icon.inp-icon-box
            .captcha
          input(type="tel", autocomplete="off", placeholder="请输入计算结果", name="captcha_1", data-icon="wx-input-icon", data-target2="inp-icon-box", data-other="wx-validation-btn").wx-input-main.captcha-inp
          input(type="hidden", name="captcha_0")
          .wx-validation
            img(src="", alt="", width="100%", height="100%")#captcha.captcha-img
        .wx-input-public
          .wx-input-icon.inp-icon-box
            .captcha
          input(type="tel", autocomplete="off", placeholder="请输入短信验证码", name="validate_code", data-icon="wx-input-icon", data-target2="inp-icon-box").wx-input-main.validate_inp
          .wx-validation
            button(type="button",name='validate_operation',disabled='true').wx-validation-btn 点击获取
        .wx-input-public
          .wx-input-icon.inp-icon-box
            .password
          input(type="password", autocomplete="off", placeholder="请设置密码", name="password", data-icon="wx-input-icon", data-target2="inp-icon-box").wx-input-main.first-pwd
          .hide-password.wx-password-operation.password-handle
      p.agree-box 同意
        span.agreement 网利宝注册协议
      .service-btn-box
        button(type="submit", disabled="true").service-login-btn.js-regist-btn 注册并绑定服务号
      //协议内容
      section.regist-protocol-div
        header.xieyi-headgist
          hgroup 注册协议
          a(href="javascript:void(0)").cancel-xiyie
            span 返回
        article.xieyi-cont
          include include/weixin_xieyiFixed
    .safe-box
      i.safe-icon
      | 账户资金安全由阳光保险承保

    script(data-init='redpacket_bind', src="/static/scripts/subMobile/mobile.js?20160419")
