//-load formatters
doctype html
html.service-redpacket-bg1
  head
    title 首页
    include include/service_head.jade
  body.service-redpack-activity
    .top-tit
      .top-photo
        img(src="/static/imgs/sub_weixin/redpack_activity/iconfont_popup.png")
      .top-tit 红包雨天天下 接多少看自己

    .redpacket
      .cloud-top
      .cloud-btm
      .main-box
        .price-box 1~10000元
        .price-tit 现金红包
        .price-btn 打开红包雨

    .activity-rule
      .rule-tit 活动规则
      .rule-list
        p 1.活动规则活动规则活动规则活动规则
        p 2.活动规则活动规则活动规则活动规则活动规则
        p 3.活动规则活动规则活动规则活动规则活动规则
        p 4.活动规则活动规则活动规则活动规则活动规则