doctype html
html(style="background: #f5f5f5")
    head
        title 注册网利宝
        include include/service_head.jade
    body
        input(type="hidden",value="{{ next_url }}").next_url
        .oauth_data(style="display:none;") {{ oauth_data }}

        //script(src='/static/src/mobile/lib/zepto/zepto.js')
        //script(src='/static/src/mobile/lib/Bsy-Oauth.min.1.0.js')
        //script.
        //    var next_url = $("input.next_url").val(),
        //        oauth_data = $('.oauth_data').html();
        //    window.location.href = next_url;
        //    BSY.Oauth(oauth_data)