-load formatters
doctype html
html(style='background: #FFE9D0')
  head
    title 签到
    include include/service_head.jade

  body
    .checIn-share-warp
      .checIn-share-body
        img(src='/static/imgs/sub_weixin/checkin/wx_erweima.png?v=20160309').checIn-share-erweima

        .checIn-rules
          .checIn-rules-max-title 领取细则：
          .checIn-rules-min-title 1.关注网利宝微信公众号
          img(src='/static/imgs/sub_weixin/checkin/weixin_gongzhong.jpg').checIn-rules-cont.gongzhong1
          .checIn-rules-min-title 2.今日微信公众号再[热门活动－每日签到]领取体验金
          img(src='/static/imgs/sub_weixin/checkin/weixin_gongzhong2.jpg').checIn-rules-cont.gongzhong2