//-load formatters
doctype html
html.hight-total
  head
    title 我的账户
    include include/service_head.jade
  body.account-body
    .account-new
      .account-rechange
        a(href='/weixin/sub_recharge/').account-recharge 充值
      .account-main
        .account-leo
        p.tit 总资产 (元)
        p.total-money
          a(href="/weixin/sub_account_old/") {{total_asset}}
        .account-detail.cl
          .item
            p.tit 余额 （元）
            p.l-money {{margin}}
          .item
            p.tit 待收收益 (元)
            p.l-money {{total_unpaid_interest}}
    .account-body-main
      .repack-box
        .redpace-item.cl
          .item-tit
            span 体验金
          .item-main
            .item-main-cont
              p <span class="font72">{{ experience_amount }}</span> 元
              p <a href="/weixin/sub_experience/account/">查看详情 >></a>
          .item-go
            a(href="{{ fetch_experience_url }}") 马上<br />增加
      .repack-box
        .redpace-item.cl
          .item-tit
            span 理财券
          .item-main
            .item-main-cont
              p <span class="font72">{{ coupon_num }}</span> 个未使用
              p <a href="/weixin/sub_reward/unused/">查看详情 >></a>
          .item-go
            a(href="{{ fetch_coupon_url }}") 马上<br />投资
    //暂时隐藏
    //.account-btm
    //  .arr-box
    //  a(href="#").ad-banner
    //    img(src="/static/imgs/sub_weixin/account/ad-ban.png")