doctype html
html(style='background:#f5f5f5;')
  head
    title 银行卡绑定
    include include/service_head.jade
  body
    - with '2' as processnum
    include include/service_registProcess
    - endwith
    //表单
    section.form-box.regist-process-form
      input(type='hidden', name='order_id', value='')
      input(type='hidden', name='token', value='')
      //表单单个模版
      .form-list
        .form-icon.binding-bank.bank-icon
        .form-input
          select(name="bank", type='select', data-target2='binding-bank', data-icon='bank-icon', data-sign= '请选择银行').default-val
            option(value = '')  请选择银行

      .form-list
        .form-icon.binding-bankcard.bankcard-icon
        .form-input
          input(type="tel",name='bankcard',value='', data-sign= '银行卡号错误', placeholder="请输入银行卡号", data-target2='binding-bankcard', data-icon='bankcard-icon')

      .form-list
        .form-icon.binding-bankphone.bankphone-icon
        .form-input
          input(type="tel",name='bankphone',value='', data-sign= '手机号错误', placeholder="请输入银行预留手机号", data-target2='binding-bankphone', data-icon='bankphone-icon', data-target = 'regist-validation', data-empty='regist-validation-disable', data-val='')

      .form-list
        .form-icon.binding-amount.amount-icon
        .form-input
          input(type="tel",name='money',value='', data-sign= '请输入正确的金额', placeholder="请输入充值金额", data-target2='binding-amount', data-icon='amount-icon')

      .form-code
        .form-list.form-validation
          .form-icon.binding-validation.validation-icon
          .form-input
            input(type="tel",name="validation", data-sign= '验证码错误', placeholder="请输入短信验证码",data-target2='binding-validation', data-icon='validation-icon')
        .login-validation
          button(type="button", disabled=true).request-check.regist-validation.regist-validation-disable 获取验证码
      .form-mg-first
      section#shiming.login-submit
        button(type="submit", disabled=true) 绑卡并充值

      //账户安全
      section.regist-safe
        span 账户资金安全由阳光保险承保

    include include/confirm
    section.sign-main
      .sign-body
        img(src="/static/imgs/mobile/sign/sign_icon.png")
        p.sign-tit 恭喜您，充值成功！
        p.balance-tit 本次充值金额：
          em.balance-sign
        a(href="/weixin/sub_regist_three/").next-btn 下一步

    script(data-init='processSecond', src="/static/scripts/subMobile/mobile.js?201511065")