重置后撤出暂存区的变更：
M	wanglibao/settings.py
M	weixin/templates/sub_login.jade
M	weixin/templates/sub_regist.jade
D	weixin/templates/weixin_login_bind.jade
D	weixin/templates/weixin_regist_bind.jade
M	weixin/views.py
