- load formatters
doctype html
html(style="background:#f8f1d1")
  head
    title 全民淘金
    meta(charset="utf-8")
    meta(name="format-detection" content="telephone=no,email=no")
    meta(content="telephone=no,email=no" ,name="format-detection")
    meta(content="yes" ,name="apple-mobile-web-app-capable")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no")
    link(href="/static/styles/mobile_activity/app_invite_result.css", rel="stylesheet")
  body
    input(type='hidden', name='url', value='{{callback_host}}/aws/?p={{url}}&promo_token=fwh')
    //input(type='hidden', name='url', value='/aws/?p=MTg4MTAyNDA4NTY')

    .invite-banner-server
      img(src='/static/imgs/mobile_activity/app_invite/logo.png').logo
      img(src='/static/imgs/mobile_activity/app_invite/banner_server.png').server-banner
    .invite-server-message
      .messahe-head 获得佣金（元）
      .messahe-cont {{earning}}
    .tly-mod.invite-server-mb
      .invite-result-touch
        .invite-server-btn.invite-result-btn 立即邀请
    img(src='/static/imgs/mobile_activity/app_invite/grep_logo.png').invite-bottom-logo

    .invite-mask-share
      .invite-icon-warp
        img(src='/static/imgs/mobile_activity/app_invite/share_sign.png').invite-mask-icon
      .invite-mask-dec 给好友发送300元新手红包<br>每一位好友成功领取<br>你最高可获得100元红包奖励<br>还能坐享好友投资收益

    script(src='/static/scripts/mobile_activity/lib/js-base64.min.js')
    script(src="/static/src/mobile/lib/weixin/wx.js")
    script(data-init='invite_error', src="/static/scripts/mobile_activity/dist/app_invite.js?v=201511272")