<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
<form action="" id="login">
    {% csrf_token %}
    <input name="openid" type="hidden" value="{{ openid }}"/>
    <div>用户名：<input type="text" name="identifier"></div>
    <div>密码：<input type="password" name="password"></div>
    <div><button type="submit" disabled="disabled">登陆</button></div>
</form>
<script src="/static/js/lib/jquery.min.js"></script>
<script>
    getCookie = function (name) {
        var cookie, cookieValue, cookies, i;
        cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            cookies = document.cookie.split(";");
            i = 0;
            while (i < cookies.length) {
                cookie = $.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
                i++;
            }
        }
        return cookieValue;
    };

    csrfSafeMethod = function (method) {
        return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
    };

    sameOrigin = function (url) {
        var host, origin, protocol, sr_origin;
        host = document.location.host;
        protocol = document.location.protocol;
        sr_origin = "//" + host;
        origin = protocol + sr_origin;
        return (url === origin || url.slice(0, origin.length + 1) === origin + "/") || (url === sr_origin || url.slice(0, sr_origin.length + 1) === sr_origin + "/") || !(/^(\/\/|http:|https:).*/.test(url));
    };

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            }
        }
    });

    $(function() {
        var $form = $('#login');
        var $submit = $form.find('button[type=submit]');
        $submit.attr('disabled', false);
        $submit.on('click', function() {
            var url = '{% url 'weixin_login_api' %}';
            var data = {
                'identifier': $form.find('input[name=identifier]').val(),
                'password': $form.find('input[name=password]').val(),
                'openid': $form.find('input[name=openid]').val()
            };
            $submit.attr('disabled', true);
            $.ajax({
                'type': 'post',
                'url': url,
                'data': data,
                'dataType': 'json',
                'success': function(res) {
                    console.log(res);
                    alert(res);
                },
                'complete': function() {
                    $submit.attr('disabled', false);
                }
            });
            return false;
        });
    });
</script>
</body>
</html>