doctype html
html
  head
    include include/weixin_head.jade
  body
    header
      hgroup 已投项目
      a(href="/weixin/account/")
        span 返回
    nav.transaction-nav
      ul
        li.active 回款中
        li 投标中
        li 已完成
      .tab-line
    section#transaction-left.transaction-main
    include include/ajax/ajax_transaction
    section#transaction-center.transaction-main
    section#transaction-right.transaction-main
