doctype html
html
  head
    include include/weixin_head.jade
  body
    header
      hgroup 已投项目
      a(href="/weixin/account/")
        span 返回
    nav.tab-nav
      ul
        li.active
          a(href="/weixin/transaction/repaying/") 未使用
        li
          a(href="/weixin/transaction/buying/") 已使用
        li
          a(href="/weixin/transaction/finished/") 已过期
    section#transaction-repaying.transaction-main
      include include/ajax/ajax_transaction
    include include/tracking
