-load formatters
doctype html
html(style="background: url('/static/imgs/mobile/detail/loginback.png');")
    head
        title weixin-login
        include include/weixin_head.jade
    body
        header
            hgroup 登录
            section
              a(href="javascript:history.back()") 返回
        .login-top
            .login-top-top
            .login-top-main
                .login-top-circle
                    img(src="/static/imgs/mobile/detail/login.png", alt="").img-one
                img(src="/static/imgs/mobile/detail/loginsize.png", alt="").img-two
        from(action="")#login.login-farom
            input(name="openid", type="hidden", value="{{ openid }}")
            .login-from-one
                input(type="text", name="identifier", placeholder="请输入手机号")
            .login-from-two
                input(type="password", name="password", placeholder="请输入密码")
            .login-from-three
                input(type="text", name="captcha_1", placeholder="点击验证码刷新").login-refresh
                .login-validation
                    img(src="", alt="")#captc
            .login-from-four
                button(type="submit", disabled="disabled") 登入
            .login-footer
                p.login-left
                    a(href="#") 免费注册
                    a(href="javascript:void(0)") &nbsp;&nbsp;|&nbsp;&nbsp;
                    a(href="#") 忘记密码


    script(src="/static/src/mobile/mobile.js")
    script(src="/static/js/lib/jquery.min.js")
    script.
        getCookie = function (name) {
        var cookie, cookieValue, cookies, i;
        cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            cookies = document.cookie.split(";");
            i = 0;
            while (i < cookies.length) {
                cookie = $.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
                i++;
            }
        }
        return cookieValue;
        };

        csrfSafeMethod = function (method) {
            return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
        };

        sameOrigin = function (url) {
            var host, origin, protocol, sr_origin;
            host = document.location.host;
            protocol = document.location.protocol;
            sr_origin = "//" + host;
            origin = protocol + sr_origin;
            return (url === origin || url.slice(0, origin.length + 1) === origin + "/") || (url === sr_origin || url.slice(0, sr_origin.length + 1) === sr_origin + "/") || !(/^(\/\/|http:|https:).*/.test(url));
        };

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                }
            }
        });

        //获取QueryString的数组
        function getQueryString(){
             var result = location.search.match(new RegExp("[\?\&][^\?\&]+=[^\?\&]+","g"));
             if(result == null){
                 return "";
             }
             for(var i = 0; i < result.length; i++){
                 result[i] = result[i].substring(1);
             }
             return result;
        }

        //根据QueryString参数名称获取值
        function getQueryStringByName(name){
             var result = location.search.match(new RegExp("[\?\&]" + name+ "=([^\&]+)","i"));
             if(result == null || result.length < 1){
                 return "";
             }
             return result[1];
        }

        $(function() {
            var captcha_refresh_url = '/captcha/refresh/?v=' + new Date().getTime();
            var $captcha_img = $('img#captcha');
            var $captcha_key = $('input[name=captcha_0]');

            function captcha_refresh() {
                $.get(captcha_refresh_url, function(res) {
                    $captcha_img.attr('src', res['image_url']);
                    $captcha_key.val(res['key']);
                });
            }

            $captcha_img.on('click', function() {
                captcha_refresh();
            });

            $captcha_img.click();

            var $form = $('#login');
            var $submit = $form.find('button[type=submit]');

            $('input[name=identifier], input[name=password]').on('focus', function() {
                $('.error-__all__').hide();
            });

            $('input[name=captcha_1]').on('focus', function() {
                $('.error-captcha').hide();
            });

            $submit.attr('disabled', false);
            $submit.on('click', function() {
                var url = '{% url 'weixin_login_api' %}';
                $submit.attr('disabled', true);
                $.ajax({
                    'type': 'post',
                    'url': url,
                    'data': $form.serialize(),
                    'success': function(res) {
                        alert('登录成功');
                        var next = getQueryStringByName('next');
                        if (next) {
                            window.location.href = next;
                        }
                    },
                    'error': function(res) {
                        if (res['status'] == 403) {
                            alert('请勿重复提交');
                            return false;
                        }
                        var data = res['responseJSON'];
                        var key;
                        for (key in data) {
                            $('.error-' + key).text(data[key]).show();
                        }
                    },
                    'complete': function() {
                        $submit.attr('disabled', false);
                    }
                });
                return false;
            });
        });
