-load formatters
doctype html
html(style="background: #f5f5f5")
    head
        include include/weixin_head.jade
    body
        .succees
            .wanglibao
                p 你已成功注册网利宝
                p 拥有580元新人现金红包
            p.bonus-style
                img(src='/static/imgs/mobile_activity/share/bonus.png')
            p.total-font 和全国400个城市的60万小伙伴们一起赚钱
            .haddle
                p
                    a(href='/weixin/list/') 立即体验
                p
                    a(href='javascript:void(0)')#more 更多红包
        .alertWin(style='display:none')
            .share-icon
            .share-content
                p 给好友发
                  span 580
                  | 元新人现金红包
                p 每一位好友成功领取
                p 你最高可获得
                  span 80元
                  | 的红包奖励
        .page(style='display:none')
        script(src="/static/src/mobile/lib/weixin/wx.js")
        script(data-init='shareFun',src="/static/scripts/mobile_activity/dist/weixin_share.js?v=201510301")
        include include/tracking
