-load formatters
-load mathfilters
-load widget_tweaks
doctype html
html
  head
    include include/weixin_head.jade
  body
    header
      hgroup 收益计算器
      a(href="/weixin/view/detail/{{p2p.id}}/")
        span 返回
    earning_rate = float(p2p['expected_earning_rate'])
    if p2p.activity
      earning_rate = earning_rate + float(p2p['activity']['activity_rule_percent_text'])
    .calculator-head
      .head-profit
        p.profit-numbe {{earning_rate}}
          em %
        p.profit-txt 年化收益
      .head-time
        p.time-number {{p2p.period}}
          em {{p2p.pay_method|period_unit}}
        p.time-txt 还款期限
    .calculator-body
      .calculator-count
        .count-txt-left 投资金额
        input(type="tel",placeholder="输入100的整数被金额",p2p-type="{{p2p.category}}",data-max="{{orderable_amount}}",data-role="p2p-calculator", data-target="#expected_income", data-existing="0", data-rate="{{earning_rate}}", data-period="{{p2p.period}}", data-paymethod="{{p2p.pay_method}}", activity-rate="{{p2p.activity.rule.percent_text}}", maxlength="8").count-input
        .count-txt-right 元
      .calculator-result 预期收益：
        em#expected_income 0.00
        |元

    a(href="javascript:void(0)",data-productId="{{p2p.id}}").calculator-buy 立即购买
    include include/ui_model/mobile_errorsign
    include include/tracking
    script(src='/static/scripts/mobile/dev/vendor.zepto.js')
    script(src='/static/scripts/mobile/dev/calculator.js')
    //script(data-init="calculator" src="/static/scripts/mobile/mobile.js")




