doctype html
html(style='background:#f5f5f5;')
  head
    include include/weixin_head.jade
  body
    header
      hgroup 银行卡绑定{{recharge}}
    - with '2' as processnum
    include include/weixin_registProcess
    - endwith
    //表单
    section.regist-process-form
      input(type='hidden', name='order_id', value='')
      input(type='hidden', name='token', value='')
      //表单单个模版
      .wx-input-public.wx-input-space
        .wx-input-icon
          .bank
        select(name="bank", type='select', data-icon='wx-input-icon')
          option(value = '')  请选择银行


      include include/limit_alert

      .wx-input-public.wx-input-space
        .wx-input-icon
          .card
        input(type='text', name='bankcard', placeholder= '请输入银行卡号', data-icon='wx-input-icon', data-operation='wx-clear-input', autocomplete='off').wx-input-main
        .wx-operation-icon.wx-clear-input

      .wx-input-public.wx-input-space
        .wx-input-icon
          .phone
        input(type='text', name='bankphone', placeholder= '请输入银行预留手机号', data-icon='wx-input-icon',  autocomplete='off').wx-input-main

      if not recharge
        .wx-input-public.wx-input-space
          .wx-input-icon
            .money
          input(type="tel",name='money',value='', placeholder="请输入充值金额",  data-icon='wx-input-icon').wx-input-main

      .wx-input-double.wx-input-space
        .wx-input-public
          .wx-input-icon
            .validation
          input(type="tel",name="validation",placeholder="请输入短信验证码", data-icon='wx-input-icon').wx-input-main
        .wx-validation
          button(type="button",name='validation_btn', disabled=true).request-check.regist-validation 获取验证码

      //账户安全
      section.regist-safe
        span 账户资金安全由阳光保险承保
      if not recharge

        button(type="submit", disabled=true, data-recharge='true').public-submit 绑卡并充值
      else

        button(type="submit", disabled=true, data-recharge='false').public-submit 立即绑卡

    section.sign-main
      .sign-body
        img(src="/static/imgs/mobile/sign/sign_icon.png")
        p.sign-tit 恭喜您，充值成功！
        p.balance-tit 本次充值金额：
          em.balance-sign
        a(href="/weixin/regist/three/") 下一步
    section.back-index-warp
      a(href='/weixin/list/').back-index 暂不认证，返回首页

    include include/ui_model/mobile_alert
    include include/ui_model/mobile_errorsign
    include include/ui_model/mobile_confirm
    script(src='/static/scripts/mobile/dev/vendor.zepto.js')
    script(src='/static/scripts/mobile/dev/process_addbank.js')
    //script(data-init='processSecond', src="/static/scripts/mobile/mobile.js?v=20152072")
