-load formatters
doctype html
html
    head
        include include/weixin_head.jade
    body
        header
            hgroup 购买
            if next = ''
              a(href="/weixin/view/detail/{{p2p.id}}/")
                span 返回
            else
              a(href="{{next}}")
                span 返回
        .buy-invest
            a(href="/weixin/view/detail/{{p2p.id}}/").invest-one(data-protuctid="{{p2p.id}}") {{p2p.name}}
            h2 ￥{{orderable_amount|money_format}}
            p.invest-two 可投资金额
        .buy-balance
            .buy-balance-one
                p.balance-left 可用余额
                .balance-middle(data-value="{{margin}}")#balance {{margin|money_format}}
                a(href="#").balance-right 元
            .buy-balance-two
                p.balance-left 投资金额
                amount = int(amount)
                if amount == 0
                  amount = ''
                input(type="tel",value="{{amount}}",placeholder="输入100的整数倍金额",p2p-type="{{p2p.category}}", activity-jiaxi='0', data-max="{{orderable_amount}}",data-role="p2p-calculator",fee-target="",data-target="#expected_income", data-existing="0", data-rate="{{p2p.expected_earning_rate}}", data-period="{{p2p.period}}", data-paymethod="{{p2p.pay_method}}", activity-rate="{{p2p.activity.rule.percent_text}}", maxlength="8").amount.balance-middle
                p.balance-right 元
            .buy-balance-three
              p.balance-left 理财券
              .balance-middle
                .balance-middle-select
                  select(name="redpack", type='select')#gifts-package.balance-middle-select-select
                    //amount 金额（可能百分比） ，method（红包类型  “-” 直抵 /  “*”  百分比）
                    //投资门槛investamount
                    //百分比有个最高抵扣金额highest_amount
                    if redpacks
                      option(value = '')  不使用理财券
                      redpack_num = len(redpacks)
                      each redpack in redpacks
                        if redpack.method == "-"
                          pack_unit = '元'
                          red_amountSet = redpack['amount']
                        else
                          red_amountSet = redpack['amount'] * 100
                          pack_unit = '%'
                        option(value="{{redpack.id}}", data-amount="{{redpack.amount}}", data-method="{{redpack.method}}", data-investamount='{{redpack.invest_amount}}', data-highest_amount="{{redpack.highest_amount}}") {{redpack.name}}/{{red_amountSet}}{{pack_unit}}/{{redpack.invest_amount}}元起投
                    else
                      option(value = '')  无可用理财券

        .buy-earnings
            p.redpack-already *您已使用过
              span.already-amount
              |加息券，继续享有加息，不可使用其他理财券
            p.redpack-investamount * 未达到红包使用门槛
            p.redpack-for-amount * 请输入投资金额
            p.redpack-sign 红包使用
              em.redpack-amount
              |元，实际支付
              em.need-amount
              |元
            p.earnings 预期收益：
              em#expected_income {{amount_profit}}
              |元
        if user.is_authenticated and p2p.category == '新手标' and user.wanglibaouserprofile.is_invested
          .buy-snap-up
              P.invested-btn 确认抢购
          .is_invested-sign 只有未进行投资的用户才可以购买
        else
          .buy-snap-up
              a(href="#").snap-up 确认抢购
        .buy-sufficient
          p
           |余额不足，
           a(href="/weixin/recharge/?rechargeNext=/weixin/view/buy/{{p2p.id}}/") 立即充值
        .sign-main
          .sign-body
            img(src="/static/imgs/mobile/sign/sign_icon.png")
            p.sign-tit 恭喜您，购买成功！
            p.balance-tit 您目前账户余额：
              em.balance-sign
            .callban-url
              a(href="/weixin/list/") 返回首页
              a(href="/weixin/account/") 查看账户
    include include/tracking
    script(data-init="buy", src="/static/scripts/mobile/dist/mobile.js?v=20150910")
