-load formatters
-load mathfilters
doctype html
html
  head
    include include/weixin_head.jade
  body
    include include/app_down
    .logo
      img(src='/static/imgs/mobile/list/logo.png')
      if user.is_authenticated
        .head-right
          a(href="/weixin/account/") 我的账户
      else
        .head-right
          a(href="/weixin/regist/") 免费注册
          |&nbsp|&nbsp
          a(href="/weixin/login/") 登录
    .list-banner
      .swiper-container
        .swiper-wrapper
          for item in banner
            if item.link
              linkURL = item.link
            else
              linkURL = "javascript:void(0)"
            a(href="{{linkURL}}").swiper-slide
              img(data-src="/media/{{item.image}}", class="swiper-lazy")
              .swiper-lazy-help
        .swiper-pagination
    .list-body#list-body
      include include/ajax/ajax_list.jade
    .list-load
      .load-body
        p.load-text 点击查看更多项目
        p.load


    - with 'list' as state
    include include/weixin_footer
    - endwith

    script(src="/static/scripts/mobile/swiper/swiper.min.js")
    script(src='/static/scripts/mobile/pro/vendor.zepto.js')
    script(src='/static/scripts/mobile/pro/list.js')
    script(type="text/javascript", name="baidu-tc-cerfication", data-appid="6548828", src="https://ss0.bdstatic.com/9_QWf8Sm1A5BphGlnYG/cloudaapi/lightapp.js")
