doctype html
html
  head
    include include/weixin_head.jade
  body
    header
      hgroup 充值
      if next == ''
        a(href="/weixin/account/")
          span 返回
      else
        a(href="{{next}}")
          span 返回
    //是否实名认证
    if user.wanglibaouserprofile.id_is_valid
      .recharge-loding
        p 正在加载...
        include  include/weixin_loading
      section.recharge-main(style="display:none")
        input(type="hidden",name="card_no_hidden")
        input(type='hidden', name='order_id', value='')
        input(type='hidden', name='token', value='')
        .recharge-bank-edit
          .bank-count.bank-list-btn
            .bank-txt-left 银行卡号
            .card-warp
              input(type="tel", name="card_no", placeholder="输入银行卡号", disabled)#card-val.bank-input
          .bank-count.card-have.bank-select
            .bank-txt-left 开户银行
            .bank-txt-name.bank-input

        .value-main
          .value-input-main
            .value-input-body
              .value-input-name 充值金额
              input(placeholder="该银行单笔限额5万元", type="tel", id="phone", name="amount").recharge-input
              input(type="hidden", name="maxamount", value="200000")

          .value-submit
              button(type="submit", name='submit')#recharge.value-submit-body 确认充值


      .no-authentication-sign.bankcard(style='display:none;') 为保证您的资金安全，请先选择进行绑卡
        .take-dec-list(style='text-align:left;')
          p 温馨提示
          p 1. 绑卡成功后，将自动为您开通快捷支付功能，方便您进行快速充值。
          p 2. 绑卡成功后，您的提现资金将统一打到该银行卡。
          p 3. 出于账号安全性考虑，每个账户，只能绑定一张银行卡，实行同卡进出原则。
          p 4. 如需取消绑卡或者更换银行卡，可通过线上申请，或联系客服4008-588-066进行咨询。
        a(href="/weixin/account/bankcard/").authentication-sign-btn 立即去绑卡


      .no-authentication-sign.unbankcard(style='display:none;') 你还没有绑定银行卡。
        .take-dec-list(style='text-align:left;')
          p 温馨提示
          p 1. 绑卡成功后，将自动为您开通快捷支付功能，方便您进行快速充值。
          p 2. 绑卡成功后，您的提现资金将统一打到该银行卡。
          p 3. 出于账号安全性考虑，每个账户，只能绑定一张银行卡，实行同卡进出原则。
          p 4. 如需取消绑卡或者更换银行卡，可通过线上申请，或联系客服4008-588-066进行咨询。
        if recharge
          a(href="/weixin/regist/second/?next=/weixin/recharge/").authentication-sign-btn 立即去绑卡
        else
          a(href="/weixin/regist/second/").authentication-sign-btn 立即去绑卡

    else
      .no-authentication-sign 为保证您的资金安全，请先进行实名认证
          a(href="/weixin/regist/first/").authentication-sign-btn 去实名认证

    .sign-main
        .sign-body
          img(src="/static/imgs/mobile/sign/sign_icon.png")
          p.sign-tit 恭喜您，充值成功！
          p.balance-tit 本次充值金额：
            em.balance-sign
          a(href="/weixin/list/") 立即购买
    section.recharge-bank
    include include/tran_password
    include include/confirm
    script(data-init="recharge", src="/static/scripts/mobile/dist/mobile.js?v=20160302")


