-load formatters
-load mathfilters
-load widget_tweaks
doctype html
html
  head
    include include/weixin_head.jade
  body
    header
      hgroup 产品详情
      a(href="/weixin/list/")
        span 返回
    .detail-animate
      earning_rate = float(p2p.expected_earning_rate)
      percent = float(p2p.ordered_amount) / p2p.total_amount * 100
      if p2p.activity
        earning_rate = earning_rate + float(p2p.activity.rule.percent_text)
      span.circle-profit
        .profit-txt(data-earn="{{earning_rate}}")
          em {{earning_rate}}
            i %
          br
          |年化收益
      span.circle-time
        .time-txt(data-period="{{p2p.period}}{{p2p.pay_method|period_unit}}")
          em {{p2p.period}}
            i {{p2p.pay_method|period_unit}}
          br
          |还款期限
      span.circle-progress
        .percent-txt {{percent | percentage}}
        .progress-body
          .progress-percent(data-percent='{{percent}}')
    .detail-title
      h4.product-name(data-name="{{p2p.name}}",data-productID="{{p2p.id}}") {{p2p.name}}
      .product-money
        .all-money
          p
            em {{p2p.total_amount | money_format_int}}
            |元
          p 融资金额
        .surplus-money
          p
            amount = p2p.total_amount - p2p.ordered_amount
            em {{amount | money_format_int}}
            |元
          p 剩余可投金额
    .detail-table
      ul
        li
          span 合作机构
          span {{p2p.warrant_company.name}}
        li
          span 还款方式
          span {{p2p.display_payback_method}}
        if p2p.display_status == '抢购中'
          li
            span 剩余时间
            span#countDown(data-left="{{p2p.end_time}}") {{p2p.end_time | timedelta_now_day }}
        li
          span 购买人数
          span
            em {{total_buy_user}}
            |人参与
    .detail-toggle
      if p2p.extra_data
        r = p2p.extra_data.items()
        for section_name, section_values in r
          .detail-toggle-list
            h4.toggleTab {{section_name}}
              span
            for item_name in section_values
              dl.toggleDl
                dt
                 span
                 |{{item_name}}
                item_value = section_values[item_name]
                dd {{item_value|linebreaksbr}}
    status = p2p.display_status
    if status == '抢购中'
      statusClass = 'footerBtn-buy'
    elif status == '已还款'
      statusClass = 'footerBtn-grey'
    elif status == '还款中'
      statusClass = 'footerBtn-lightblue'
    else
      statusClass = 'footerBtn-red'

    .detail-footerBtn(class=statusClass)
      if status == '抢购中'
        a(href="/weixin/calculator/{{p2p.id}}/").icon
        a(href="/weixin/buy/{{p2p.id}}/").new-pay {{status}}
        //p.new-pay-sign 开发中，请到pc或app中购买!
      else
        p {{status}}
  script(src="/static/src/mobile/lib/weixin/wx.js")
  script(data-init='detail', src="/static/scripts/mobile/dist/mobile.js")



