-load formatters
doctype html
html
  head
    include include/weixin_head.jade
  body
    header
      hgroup 我的账户
    .account-assets
      .account-assets-list
        p.assets-one-monery 总资产(元)
        p.assets-one-yuan {{total_asset|money_format}}
      .account-assets-list
        p.earning-name.mg-bot 累计收益：
        p.earning-val.mg-bot {{p2p_total_paid_interest|money_format}}
        p.line.mg-bot
        p.earning-name.mg-bot 待收收益：
        p.earning-val.mg-bot {{p2p_total_unpaid_interest|money_format}}
    .account-balance.account-ma-bt
      .account-balance-body
        p.balance-name 账户余额 （元）
        p.balance-num {{p2p_margin|money_format}}
      .account-balance-recharge
        a(href='/weixin/recharge/?rechargeNext=/weixin/account/').account-recharge 充值

    .account-item
      mixin item(img, title, url)
        a(href=url).account-card-list
          i.i-ma-rt
            img(src=img)
          .card-title=title
          .arrow-right
      +item('/static/imgs/mobile/account/project.png', '已投项目', '/weixin/transaction/repaying/')
      +item('/static/imgs/mobile/account/project.png', '回款计划', '/weixin/received/all/')
      +item('/static/imgs/mobile/account/reward.png', '理财券', '/weixin/reward/unused/')
      +item('/static/imgs/mobile/account/safe.png', '账户安全', '/weixin/security/')

    .account-logou
      a(href="/accounts/logout?next=/weixin/list/").account-exit 安全退出
  - with 'account' as state
  include include/weixin_footer
  - endwith