doctype html
html(style='background:#f5f5f5;')
  head
    include include/weixin_head.jade
  body
    header
      hgroup 实名认证

    - with '1' as processnum
    include include/weixin_registProcess
    - endwith

    //表单
    section.regist-process-form
      //表单单个模版
      .wx-input-public.wx-login-input-space
        .wx-input-icon
          .name
        input(type='text', name='name', placeholder= '请输入您的姓名', data-icon='wx-input-icon', data-operation='wx-clear-input', autocomplete='off').wx-input-main
        .wx-operation-icon.wx-clear-input

      .wx-input-public
        .wx-input-icon
          .card
        input(type='text', name='idcard', placeholder= '请输您的身份证号', data-icon='wx-input-icon', data-operation='wx-clear-input', autocomplete='off').wx-input-main
        .wx-operation-icon.wx-clear-input

      //账户安全
      section.regist-safe.regist-process-safe
        span 账户资金安全由阳光保险承保

      button(type="submit", disabled=true).public-submit 实名认证

    section.back-index-warp
      a(href='/weixin/list/').back-index 暂不认证，返回首页
    include include/ui_model/mobile_alert
    include include/ui_model/mobile_errorsign
    script(src='/static/scripts/mobile/pro/vendor.zepto.js?20160322')
    script(src='/static/scripts/mobile/pro/process_authentication.js?20160322')
    //script(data-init='processFirst', src="/static/scripts/mobile/dist/mobile.js?v=2021521207")

