-load formatters
doctype html
html
    head
        include include/weixin_head.jade
    body
        header
            hgroup 充值
            if next = ''
              a(href="/weixin/recharge/")
                span 返回
            else
              a(href="/weixin/recharge/?rechargeNext={{next}}")
                span 返回
        .value-information
            p.information-one
                | 姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名
                label {{user.wanglibaouserprofile.name | safe_name}}
            .line
            p.information-one
                | 身&nbsp;&nbsp;份&nbsp;&nbsp;证
                label {{user.wanglibaouserprofile.id_number | safe_id}}
            .line
            p.information-one
                | 银行名称
                label {{bank.name}}
            .line
            p.information-one
                | 银行卡号
                label {{card_no}}
        .value-main
            .value-input-main
                .value-input-body
                  .value-input-name 手机号
                  input(placeholder="请输入银行预留手机号", type="tel", id="phone", name="phone").value-input-public
            .value-input-main.value-input-check-main
              .value-input-body.value-input-check-body
                .value-input-name 验证码
                input(placeholder="请输入短信验证码", type="tel", name="vcode").value-input-public
              .value-input-check
                button(type="button").request-check 获取验证码
            .value-submit
                button(type="button")#secondBtn.value-submit-body 确认充值
        .sign-main
          .sign-body
            img(src="/static/imgs/mobile/sign/sign_icon.png")
            p.sign-tit 恭喜您，充值成功！
            p.balance-tit 本次充值金额：
              em.balance-sign
            a(href="/weixin/accounts/") 立即购买
        input(type="hidden", name="card_no", value="{{card_no}}")
        input(type="hidden", name="gate_id", value="{{gate_id}}")
        input(type="hidden", name="amount", value="{{amount}}")
        input(type="hidden", name="order_id", value="")
        input(type="hidden", name="token", value="")

    script(data-init="recharge_second", src="/static/scripts/mobile/dist/mobile.js")
