-load formatters
-load mathfilters
doctype html
html
  head
    link(rel="prefetch", href="/static/imgs/mobile/detail/detail_banner.jpg")
    include include/weixin_head.jade
  body
    .logo
      img(src='/static/imgs/mobile/list/logo.jpg')
      .head-right
        a(href="/weixin/login/") 免费注册
        |&nbsp|&nbsp
        a(href="/weixin/regist/") 登录
    .list-banner
      a(href="{{banner.link}}")
        img(src="/media/{{banner.image}}")
    .list-body#list-body
      include include/ajax/ajax_list.jade
    include include/weixin_loading
    include include/weixin_footer
    script(data-init='list', src="/static/scripts/mobile/dist/mobile.js")

