-load formatters
doctype html
html(style="background: #f5f5f5")
  head
    include include/weixin_head.jade
  body
    header
      hgroup  下载网利宝客户端
    .regist-succees-head
      img(src="/static/imgs/mobile/regist/regist_s_money.png").succees-icon
      .succees-text-redpack 恭喜您获得1000元红包｜完成首次体验即
      .succees-text-link 在“我的资产”中查看
    .regist-succees-table
      img(src="/static/imgs/mobile/regist/regist_s_table.jpg")
    .regist-succees-buttons
      a(href="/weixin/list/").succees-button-list 立即赚钱
      a(href="javascript:void(0)").succees-button-list#download-app 下载网利宝客户端
    script.
      document.getElementById('download-app').onclick = function(e){
        var userAgent = navigator.userAgent;
            os = {};
            os.weixin = userAgent.match(/MicroMessenger\/([\d.]+)/) ? true : false;
            os.android = userAgent.match(/(Android)\s+([\d.]+)/) || userAgent.match(/Silk-Accelerated/) ? true : false;
            os.ipad = userAgent.match(/(iPad).*OS\s([\d_]+)/) ? true : false;
            os.iphone = !os.ipad && userAgent.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false;
            os.ios = os.ipad || os.iphone;
          if (os.ios){
              window.location.href = 'https://itunes.apple.com/cn/app/id881326898';
          }else if(os.android){
              window.location.href = 'http://a.app.qq.com/o/simple.jsp?pkgname=com.wljr.wanglibao';
          }else{
              alert("请在手机中打开该页面进行下载！")
          }
      }


