doctype html
html(style='background:#f5f5f5;')
  head
    include include/weixin_head.jade
  body
    header
      hgroup 实名认证
    - with '3' as processnum
    include include/weixin_registProcess
    - endwith
    .regist-process-leo
      p.red 恭喜您，成功完成新手任务
      p.grey 奖励已经放入您的帐户，<br>请查收首次投资还有红包送哦

    .regist-process-btns
      a(href="/weixin/account/") 我的账户
      a(href="/weixin/list/") 投资抢红包
