-load formatters
doctype html
html
    head
        link(rel="prefetch", href="/media/{{banner.image}}")
        include include/weixin_head.jade
    body
        header
            hgroup 我的账户
            //a(href="javascript:history.back()")
               span 返回
        .account-assets
            .account-assets-one
                p.assets-one-monery 总资产(元)
                p.assets-one-yuan ￥{{total_asset|money_format}}



        .account-assets-earnings
            .account-assets-earnings-one
                p.assets-one-earnings(style="width:100%;")
                 strong 累计收益：
                    span ￥{{p2p_total_paid_interest|money_format}}
                 strong(style="position: absolute;right:0.705rem;") 待收收益：
                    span ￥{{p2p_total_unpaid_interest|money_format}}
            //.account-assets-two
            //    p.assets-two-earning
        .account-balance
            .account-balance-one
                p.balance-one-money 账户余额（元）
                p.balance-one-yuan ￥{{p2p_margin|money_format}}
            //.account-balance-two
                a(href='#').account-withdrawal 提现
            .account-balance-three
                a(href='/weixin/recharge/?rechargeNext=/weixin/account/').account-top-up 充值
        .account-project
            a(href="/weixin/transaction/repaying/").project-one
             |已投项目
             span
              .project-one-angle
            .line
            a(href="/weixin/security/").project-one
             |账户安全
             span
              .project-one-angle
        .account-exit
            a(href="/accounts/logout?next=/weixin/list/").account-exit-exit 退出登录
        .account-pop-up
            .account-pop-up-up
                form
                    p
                     |尚未完成，
                     span 实名认证
                     |，填写以下信息
                    input(type="text", placeholder="&nbsp;&nbsp;姓名")
                    br
                    label 错误提示：姓名和身份证不匹配
                    input(type="text", placeholder="&nbsp;&nbsp;身份证")
                    br
                    label 错误提示：身份证错误无效证件
                    .account-footer
                        a(href="#") 取消
                        .line-line
                        a(href="#") 确定
    include include/weixin_footer
    script( src="/static/scripts/mobile/dist/mobile.js")