-load formatters
-load mathfilters
-load widget_tweaks
doctype html
html
  head
    include include/weixin_head.jade
  body
    header
      hgroup 收益计算器
      a(href="javascript:history.back()")
        span 返回
    .calculator-head
      .head-profit
        earning_rate = float(p2p.expected_earning_rate)
        percent = float(p2p.ordered_amount) / p2p.total_amount * 100
        if p2p.activity
          earning_rate = earning_rate + float(p2p.activity.rule.percent_text)
        p.profit-numbe {{earning_rate}}
          em %
        p.profit-txt 年化收益
      .head-time
        p.time-number {{p2p.period}}
          em {{p2p.pay_method|period_unit}}
        p.time-txt 还款期限
    .calculator-body
      .calculator-count
        .count-txt-left 投资金额
        input(type="tel",placeholder="输入100的整数被金额").count-input
        .count-txt-right 元
      .calculator-result 预期收益：
        em 125
        |元
      .calculator-table
        table
          tr.table-th
            td(rowspan="2") 月/份
            td(colspan="2") 6个月
          tr.table-th
            td 本金
            td 本收
          tr
            td 本金2
            td 本收2
            td 本金1
    .calculator-buy 立即购买



