-load formatters
doctype html
html
    head
        include include/weixin_head.jade
    body
        header
            hgroup 购买
            if next = ''
              a(href="/weixin/view/detail/{{p2p.id}}/")
                span 返回
            else
              a(href="{{next}}")
                span 返回
        .buy-invest
            a(href="/weixin/view/detail/{{p2p.id}}/").invest-one(data-protuctid="{{p2p.id}}") {{p2p.name}}
            h2 ￥{{orderable_amount|money_format}}
            p.invest-two 可投资金额
        .buy-balance
            .buy-balance-one
                p.balance-left 可用余额
                .balance-middle(data-value="{{margin}}")#balance {{margin|money_format}}
                a(href="#").balance-right 元
            .buy-balance-two
                p.balance-left 投资金额
                amount = int(amount)
                if amount == 0
                  amount = ''
                input(type="tel",value="{{amount}}",placeholder="输入100的整数倍金额",p2p-type="{{p2p.category}}",data-max="{{orderable_amount}}",data-role="p2p-calculator",fee-target="#xunlei-vip-income-head",data-target="#expected_income", data-existing="0", data-rate="{{p2p.expected_earning_rate}}", data-period="{{p2p.period}}", data-paymethod="{{p2p.pay_method}}", activity-rate="{{p2p.activity.rule.percent_text}}", maxlength="8").amount.balance-middle
                p.balance-right 元
            if redpack
              .buy-balance-three
                p.balance-left 可用红包
                .balance-middle
                    .balance-middle-select
                      redpack_num = len(redpack['packages']['available'])
                      select(name="type")#gifts-package.balance-middle-select-select
                        option(value = '')  不使用红包
                        option(value = '')  不使用红包不使用 30元 5000起用
                        for redpack in redpack.packages.available
                          option(value='{{redpack.id}}',data-amount='{{redpack.amount}}') {{redpack.name}}  {{redpack.amount}}元
        .buy-earnings
            p.redpack-for-amount * 请输入投资金额
            p.redpack-sign 红包使用
              em.redpack-amount
              |元，实际支付
              em.need-amount
              |元
            p.earnings 预期收益：
              em#expected_income {{amount_profit}}
              |元
        if user.is_authenticated and p2p.category == '新手标' and user.wanglibaouserprofile.is_invested
          .buy-snap-up
              P.invested-btn 确认抢购
          .is_invested-sign 只有未进行投资的用户才可以购买
        else
          .buy-snap-up
              a(href="#").snap-up 确认抢购
        .buy-sufficient
          p
           |余额不足，
           a(href="/weixin/recharge/?rechargeNext=/weixin/view/buy/{{p2p.id}}/") 立即充值
        .sign-main
          .sign-body
            img(src="/static/imgs/mobile/sign/sign_icon.png")
            p.sign-tit 恭喜您，购买成功！
            p.balance-tit 您目前账户余额：
              em.balance-sign
            .callban-url
              a(href="/weixin/list/") 返回首页
              a(href="/weixin/account/") 查看账户
    script(data-init="buy", src="/static/scripts/mobile/mobile.js")
