-load formatters
-load mathfilters
doctype html
html
  head
    include include/weixin_head.jade
  body
    .logo
      img(src='/static/imgs/mobile/list/logo.jpg')
      if user.is_authenticated
        .head-right
          a(href="/accounts/logout?next=/weixin/list/") 退出登录
      else
        .head-right
          a(href="/weixin/regist/") 免费注册
          |&nbsp|&nbsp
          a(href="/weixin/login/") 登录
    .list-banner
      .swiper-container
        .swiper-wrapper
          for item in banner
            if item.link
              linkURL = item.link
            else
              linkURL = "javascript:void(0)"
            a(href="{{linkURL}}").swiper-slide
              img(data-src="/media/{{item.image}}", class="swiper-lazy")
              .swiper-lazy-help
        .swiper-pagination
    .list-body#list-body
      include include/ajax/ajax_list.jade
    include include/weixin_loading
    include include/weixin_footer
    script(src="/static/scripts/mobile/swiper/swiper.min.js")
    script(data-init='list', src="/static/scripts/mobile/dist/mobile.js?v=20150707")
    //script(type="text/javascript", name="baidu-tc-cerfication", data-appid="6548828", src="https://apps.bdimg.com/cloudaapi/lightapp.js")
    script.
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript name='baidu-tc-cerfication' data-appid='6548828' src='" + _bdhmProtocol + "apps.bdimg.com/cloudaapi/lightapp.js' type='text/javascript'%3E%3C/script%3E"));
