-load formatters
-load mathfilters
-load widget_tweaks
doctype html
html
  head
    title weixin-detail
    include include/weixin_head.jade
  body
    header
      hgroup 注册
      section
        a(href="javascript:history.back()") 返回