-load formatters
-load mathfilters
doctype html
html
    head
        - with '网利宝' as title
        include global/g_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/experience_gold.css?v=20151106")
    body(style="background:#fc9300")
        - csrf_token
        include global/g_nav
        .experience_gold
            .banner
                .experience_gold_sum
                    .experience_gold_sum_s 28888元体验金
                .draw_btn
                  if user.is_authenticated
                    if experience_count == 0
                      if p2p_record_count == 0
                        a(href='javascript:void(0)').no_invest
                      else
                        a(href='javascript:void(0)').invested
                    else
                      a(href='javascript:void(0)').draw_btn_ed  已领取体验金{{experience_all | money_format_int}}元
                  else
                    a(href='/accounts/register/?next=/activity/experience/gold/')
            .content.clearfix
                .experience_title
                    span 我的体验金
                ul.account_detail.clearfix
                    li
                        p.experience_name 总资产（元）
                        p.experience_money.zzc {{total_experience_amount | money_format}}
                    li
                        p.experience_name 体验金余额（元）
                        p.experience_money.tyjye {{experience_amount | money_format}}
                    li
                        p.experience_name 到账收益（元）
                        p.experience_money {{paid_interest | money_format}}
                    li.last
                        p.experience_name 待收收益（元）
                        p.experience_money {{unpaid_interest | money_format}}
                .experience_project.clearfix
                    .project_div.clearfix
                        .project_left
                            h5 {{product.name}}
                            ul.project_detail.clearfix
                                li.li_one
                                  if experience_amount == 0
                                    label.rzje 28,888元
                                  else
                                    label {{experience_amount}}元
                                  span 融资金额
                                li.li_two
                                    label {{product.expected_earning_rate}}%
                                    span 年化收益
                                li.li_three
                                    label {{product.period}}天
                                    span 投资期限
                        .project_right
                          img(src='/static/imgs/pc_activity/experience_gold/app_download.png')
                          //if experience_amount > 0
                          //  a(href='javascript:void(0)').investBtn 立即投资
                          //else
                          //  a.invest_ed 立即投资
                          //p.income_fonts(style='display:none')
                if user.is_authenticated and experience_amortization
                  .look_more_detail
                    .more_btn
                        label 查看历史投资项目
                        span
                  .project_list.clearfix(style='display:none')
                    .project_top
                    .project_box.clearfix
                        .project_ul_pre.clearfix
                          table
                            thead
                              tr
                                th 投标时间
                                th 产品名称
                                th 投资金额（元）
                                th 年化收益
                                th 项目天数
                                th.th_w 已收益／预期收益（元）
                            tbody
                              for amo in experience_amortization
                                tr
                                  td {{amo.created_time}}
                                  td {{amo.product.name}}
                                  td {{amo.principal | money_format_int}}
                                  td {{amo.product.expected_earning_rate}}%
                                  td {{amo.product.period}}
                                  if amo.settled
                                    td {{amo.interest}}/{{amo.interest}}（（元）
                                  else
                                    td 0.00/{{amo.interest}}（元）
                .explain_box
                    .explain_box_img
                        .explain_content_box
                            p.title_ex 体验金领取及使用说明
                            ul
                                li.clearfix
                                    span
                                    .explain_content
                                        p.name 如何领取？
                                        p 1、新用户通过注册（老用户通过邀请等活动奖励）获得体验金后，体验金自动放入相应账户并发送站内信通知。
                                li.clearfix
                                    span
                                    .explain_content
                                        p.name 如何使用？
                                        p 1、体验金只能在相关活动页投资体验标，投资时不能使用其它理财券。体验金有效期自发放日起15天内有效。
                                        p 2、体验金需要用户手动投资，投资时系统将自动按体验金总额一次性投资完毕。例如，用户A注册获得10000元体验金，未使用，之后该用户通过参与活动获得5000元体验金，此时用户选择投资体验标时（两笔体验金均在有效期内），系统默认将15000元体验金全部投资。
                                li.clearfix
                                    span
                                    .explain_content
                                        p.name 体验金是否可提现？
                                        p 1、体验金投资项目，17点前投资当日计息，17点后投资次日计息，项目到期日17点回款。还款本金系统自动收回，利息收益自动以余额形式发放至投资人的理财专区账户。例如，新手28888元体验金，计息日为1天（含节假日），今天16：50分投资，项目立即计息，今天17：00体验金投资收益会发放到您个人账户。
                                        p 2、体验金利息收益与正常账户余额一样，可用来投资和提现。
                                        p.mt40 部分合作渠道来源用户无法享受此活动奖励，网利宝对此活动享有最终解释权。
        #receiveSuccess(style='display:none')
            .receiveSuccess
                p.money_count 28888
                p 恭喜您获得
                p.money_counts 28,888元体验金
                p
                    a(href='javascript:void(0)')#goBtn 领完可以在这里投资呦！
        #oldUser(style='display:none')
            .oldUser
                p 体验金由系统自动发放，
                p 请继续关注网利宝最新活动。
                p.tc
                    span
                p.tc
                    a(href='javascript:void(0)')#closeBtn 我知道了！
        #success(style='display:none')
            .successBox
                p
                    span
                p.succeesFonts 恭喜您投资成功！
                p 到期后体验金自动收回
                p 收益自动发放
        include global/g_footer
        script.
            require(['/static/src/pc/experience_gold.js?v=2015121011'])

