- load formatters
doctype html
html
    head
        meta(name="format-detection" content="telephone=no,email=no")
        title 网利宝
        meta(charset="utf-8")
        meta(content="telephone=no,email=no" ,name="format-detection")
        meta(content="yes" ,name="apple-mobile-web-app-capable")
    body(style="background:#efeff4")
