- load formatters
doctype html
- with '现金类理财产品详情' as title
include include/head
- endwith
body
  include include/header
  - with '现金类理财产品' as activeItem
  include include/navigation
  - endwith
  .container
    .span8.panel-nopadding.panel-header
      .panel-product-title-bar
        .panel-product-title {{ cash.name }}
          if is_favorited != 1
            a#addToFavorite.button-mini.button-pink.pull-right(href="#", data-id="{{cash.id}}", data-is-favorited="{{is_favorited}}")收藏
          else
            a#addToFavorite.button-mini.button-pink.pull-right(href="#", data-id="{{cash.id}}", data-is-favorited="{{is_favorited}}")取消收藏

      .row
        .span7
          .well
            .row
              dl.span6.key-value
                dt 发行机构：
                dd {{ cash.issuer.name }}
              dl.span6-omega.key-value
                dt 销售状态：
                dd {{ cash.status }}
            .row
              dl.span6.key-value
                dt 每万份收益：
                dd {{ cash.profit_10000 }}元
              dl.span6-omega.key-value
                dt 购买方式：
                dd
                  a(href="{{cash.buy_url}}") {{cash.buy_text}}
        .span5-omega
          .span6
            .card-icon
              dl
                dt 7日年化收益
                dd.highlight {{cash.profit_rate_7days}}%
          .span6-omega
            .card-icon
              dl
                dt 投资期限
                if cash.period > 0
                  dd {{cash.period}}个月
                else
                  dd 活期
        .row.panel-footer
          .well
            p.pull-left 银行客服电话: {{cash.issuer.phone}}

    .span4-omega.panel-nopadding.panel-header
      .panel-product-title-bar
        .panel-product-title 收益计算器
      form
        .form-row-m.padding-left-s.margin-top-s
          label.form-row-label 投资金额：
          span.ispan4.relative-pos
            input.ispan12(type="text", data-rate="{{cash.profit_rate_7days}}",  /
              data-period="30", data-target="#earning", data-role="earning-calculator")
            span.absolute-pos.pos-r-s 万
          span &nbsp;&nbsp;&nbsp;一个月预期收益：
          span#earning.highlight 0.0
          span 元

  .panel-nopadding
    .panel-product-title-bar
      .panel-product-title 产品信息
    table.bordered-table.margin-top-m1
      tbody
        tr
          th(colspan="1") 产品说明
          td(colspan="5") {{cash.brief | linebreaksbr}}
        tr
          th(colspan="1") 收益说明
          td(colspan="5") {{cash.profit_brief | linebreaksbr}}
        tr
          th(colspan="1") 购买说明
          td(colspan="5") {{cash.buy_brief | linebreaksbr}}
        tr
          th(colspan="1") 赎回说明
          td(colspan="5") {{cash.redeem_brief | linebreaksbr}}
        tr
          th(colspan="1") 投资风险说明
          td(colspan="5") {{cash.safe_brief | linebreaksbr}}


  include include/footer
  script.
    require(['/static/js/cash_detail.js'])

  include include/tracking