
.pc_download-warp
  padding: 0 .75rem

.pc-dw-logo
  img
    display: block
    width: 2.125rem
    height: auto

.pc-dw-page
  width: 100%
  margin: .5rem 0
  img
    display: block
    width: 100%


.pc-dw-button
  padding: 1rem 1rem 1.2rem 1rem
  a
    display: block
    width: 100%
    margin-bottom: .75rem
    font-size: .8rem
    height: 2.5rem
    line-height: 2.5rem
    text-align: center
    background: $color-db493f
    color: #fff
    border-radius: .2rem
    &:active
      background: #C33228

.pc-dw-explan
  position: relative
  border: 1px dotted #F5A623
  padding: .5rem 1rem
  font-size: .6rem
  .dw-sign
    position: absolute
    top: -.4rem
    left: .3rem
    display: inline-block
    color: #fff
    border-radius: 1rem
    background: #F5A623
    height: .8rem
    line-height: .8rem
    text-align: center
    padding: 0 .4rem
  p
    color: #F5A623
    line-height: 1rem
    text-align: center