.app-eight-two
  height: 1.5rem
  width: 100%
  background: url("/static/imgs/mobile_activity/app_eight_gift_two/app_eight_two_lv.png") no-repeat
  background-size: 100% 100%
  .app_eight_gift_two_onefont
    font-size: 0.75rem
    line-height: 1.5rem
    text-align: center
    font-weight: bolder
    color: #ffcd07
.app_eight_gift_two_twofont
  font-size: 0.45rem
  line-height: 0.8rem
  text-align: center
  color: #3f6a24
  margin-top: 0.5rem
  span
    color: #ffcd07
.app_eight_gift_two_one
  width: 100%
  img
    display: block
    width: 100%
.app_eight_gift_two_two
  width: 52%
  background: url("/static/imgs/mobile_activity/app_eight_gift_two/eight_qiantree.png") no-repeat left center
  background-size: 1.32rem
  margin-left: 24%
  text-align: center
  color: #3f6a24
  margin-top: 0.51rem
  .app_eight_gift_two_twosize
    display: inline-block
    width: 65%
    line-height: 1.35rem
    border: 2px dashed #3f6a24
    font-size: 0.55rem
    border-radius: 0.3rem
.app_eight_gift_two_three
  background: url("/static/imgs/mobile_activity/app_eight_gift_two/eight_shuangtree.png") no-repeat left center
  background-size: 1.55rem
  .app_eight_gift_two_threesize
    font-size: 0.45rem
    color: #3f6a24
    text-align: center
    line-height: 1rem
    margin-top: 1rem
    padding: 0 8% 0 8%
    span
      color: #ffcd07
.app-eightfive-app
  background: none
  h3
    background: url("/static/imgs/mobile_activity/app_eight_gift_two/eight_shentree.png") no-repeat left
    background-size: 1.1rem
    padding-left: 8%
    color: #3f6a24
  .app_eight_backone
    color: #3f6a24
.app_eight_gift_two_two1
  width: 100%
  margin-top: 1rem
  img
    width: 72%
    margin-left: 14%
