.xingmei-warp
  .xingmei-main
    width: 90%
    margin: 0 auto
    .one
      width: 11.7rem
      height: 26rem
      margin: 0 auto
      position: relative
      top: -5rem
      .prize
        width: 100%
        height: 8.025rem
        border-radius: 1rem
        background: rgba(255,255,255,0.3)
        text-align: center
        margin-bottom: 1.25rem
        .prize-one
          margin: 0 auto
          display: inline-block
          width: 52%
          height: 3.625rem
          background: url("/static/imgs/mobile_activity/app_xm/icon1.png") center center no-repeat
          background-size: cover
          margin-top: 1.325rem
        .prize-two
          margin: 0 auto
          display: inline-block
          width: 62%
          height: 4rem
          background: url("/static/imgs/mobile_activity/app_xm/icon2.png") center center no-repeat
          background-size: cover
          margin-top: 1.325rem
        .prize-three
          margin: 0 auto
          display: inline-block
          width: 59%
          height: 3.625rem
          background: url("/static/imgs/mobile_activity/app_xm/icon3.png") center center no-repeat
          background-size: cover
          margin-top: 1.325rem
        p
          font-size: 0.65rem
          color: #fff
          line-height: 1rem
          padding-top: 0.2rem
          span
            color: #e7d243
      .xm-error
        font-size: 0.5rem
        color: #fff
        text-align: center
        display: none
      .reg-btn
        width: 7.75rem
        height: 2.15rem
        border-radius: 0.2rem
        font-size: 0.65rem
        color: #fff
        text-align: center
        line-height: 2.15rem
        margin: 0 auto
        background: #fa5c5d
        margin-top: .5rem

    h1
      font-size: .85rem
      color: #fff
      margin-bottom: 1rem
      .rules-ol
        li
          color: #666666
          font-size: .625rem
    .ele-liucheng
      width: 100%
      height: 5.5rem
      background: url("/static/imgs/mobile_activity/app_xm/liucheng.jpg") no-repeat center center
      margin: 0.5rem auto
      background-size: 100%
  .xm-liucheng
    width: 100%
    height: 5.6rem
    margin: 0.5rem auto
    background: url("/static/imgs/mobile_activity/app_xm/prize_liucheng.jpg") no-repeat center center
    background-size: 100%
  p
    color: #eb4256
    font-size: .6rem
    text-align: center
    line-height: 1rem
#extension-footer .footer-item p
  color: #fff
#rules-ol li
  color: #fff
