.xingmei-warp
  .xingmei-main
    width: 15.075rem
    margin: 0 auto
    .one
      width: 14.075rem
      height: 28rem
      margin: 0 auto
      img
        width: 100%
    h1
      font-size: .85rem
      color: #2F2C2C
      .rules-ol
        li
          color: #666666
          font-size: .625rem
    .ele-liucheng
      width: 14.075rem
      height: 4.75rem
      background: url("/static/imgs/mobile_activity/app_xingmei/liucheng.jpg") no-repeat center center
      margin: 0.5rem auto
      background-size: 100%
  p
    color: #eb4256
    font-size: .6rem
    text-align: center
    line-height: 1rem
