.request-time
  font-size: 0.6rem
  text-align: center
  color: #e75a2d
.request-reward
  font-size: 0.75rem
  line-height: 86px
  color: #e75a2d
.request-p
  font-size: 0.5rem
  line-height: 1rem
.request-img
  img
    width: 40%
  .img1
    margin-right: 20%
.footer
  text-align: center
  font-size: 0.6rem
  color: #f52821
  margin-bottom: 1rem
.request-text-main
  margin-bottom: .5rem
  h2
    font-size: 0.75rem
    line-height: 86px
    color: #e75a2d
  p
    display: -webkit-box
    span
      display: block
      font-size: .5rem
    .item-list
      line-height: 1rem
      -webkit-box-flex: 1
      text-align: Justify