body
  background: #fffbf4
.ele-p
  height: 1.1rem
  width: 100%
  background: #efe5cd
  font-size: 0.65rem
  color: #ff5a5a
  text-align: center
  line-height: 1rem
.ele-main
  width: 100%
  h1
    color: #0080cc
    font-size: 0.8rem
    margin: 1rem 0 0 1.075rem
  .ele-sorry
    width: 14.075rem
    height: 6.8rem
    background: url("/static/imgs/mobile_activity/ele/bj.jpg") no-repeat center center
    margin: 0 auto
    margin-top: 1rem
    background-size: 100%
    .ku
      margin: 1.875rem 0 0 2.775rem
      display: inline-block
      width: 1.85rem
      height: 1.825rem
    span
      font-size: 0.65rem
      color: #666666
      text-align: center
      display: inline-block
      width: 7.975rem
      line-height: 1rem
    p
      font-size: 0.6rem
      color: #0080cc
      text-align: center
      margin-top: 1rem
  .ele-meat
    width: 14.075rem
    height: 26.7rem
    background: url("/static/imgs/mobile_activity/ele/prize.jpg") no-repeat center center
    margin: 0.45rem auto
    background-size: 100%
  .ele-phone
    width: 14.075rem
    margin: 0 auto
    #submit-url
      background: #007fcc
      -webkit-box-shadow: 0 .3rem 0 #046eaa
      &:active
        background: #007fcc
    p
      font-size: 0.4rem
      color: #0b82bc
  .ele-liucheng
    width: 14.075rem
    height: 4.325rem
    background: url("/static/imgs/mobile_activity/ele/liucheng.jpg") no-repeat center center
    margin: 0.5rem auto
    background-size: 100%
