.qixi-main
  background: #fff
  padding: 1rem 1rem
  h3
    font-size: 1rem
    color: #626262
    margin-top: 1rem
  .qixi-btn
    display: inline-block
    width: 40%
    height: 1.95rem
    background: #ff80b7
    font-size: 0.75rem
    color: #fff
    line-height: 1.95rem
    text-align: center
    border-radius: 10px
    margin-left: 30%
    margin-bottom: 1rem
  ul
    margin: 0.85rem 0
    li
      font-size: 0.6rem
      color: #656565
      line-height: 1rem
  .qixi-liucheng
    width: 14.1rem
    height: 5.625
    margin: 0 auto
    img
      width: 100%
  .qixi-time
    width: 14.1rem
    height: 25.175rem
    margin: 0 auto
    background: #ff80b7
    img
      width: 100%
  .qixi-sao
    width: 14.1rem
    height: 14.695rem
    margin: 0 auto
    background: #ff80b7
    padding-top: 0.6rem
    .qixi-zhu
      font-size: 0.6rem
      color: #fff
      text-align: center
      span
        display: inline-block
        text-align: left
        width: 7.8rem
    .qixi-er
      width: 13.125rem
      height: 11.55rem
      background: #0c4ea4
      margin: 0.2rem auto
      padding-top: 0.6rem
      .text
        font-size: 0.6rem
        color: #fff
        text-align: center
      .qixi-ma
        width: 5.9rem
        height: 5.95rem
        margin: 0.2rem auto
        img
          width: 100%
