.mobilization-box
  padding: 0 .5rem
  .describe
    text-align: center
    color: #587d00
    font-size: .6rem
  .reward-list
    display: -webkit-box
    li
      height: 1.5rem
      line-height: 1.5rem
      font-size: .3rem
      color: #587d00
    .reward-left
      -webkit-box-flex: 1
      background: #f7f7f7
      li
        text-indent: 10%
      li:nth-child(odd)
        background: #e9e9e9
      li.th
        background: #a3b43d
        text-align: center
        color: #fff
        text-indent: 0
    .reward-right
      -webkit-box-flex: 1
      background: #fff
      li
        text-indent: 30%
      li:nth-child(odd)
        background: #f1f1f1
      li.th
        background: #a8ba3f
        text-align: center
        color: #fff
        text-indent: 0
  .min-list
    .reward-left
      li
        text-indent: 0
    .reward-right
      li
        text-indent: 0
    .tc
      text-align: center
  .rule
    color: #587d00
    h3
      font-size: .6rem
    p
      font-size: .35rem
  .transaction
    color: #587d00
    font-size: .9rem
    text-align: center
  .transaction-time
    font-size: .5rem
    color: #a3b43d
    text-align: center
  .ranking-list
    background: #a8ba3f
    padding: .35rem .5rem
    .ranking-box
      background: #fff
      padding: .65rem .8rem
      h3
        color: #e1342f
        font-size: .6rem
        background: #f1f1f1
        border: 1px solid #e3e3e3
        border-radius: 1rem
        text-align: center
      table
        width: 100%
        tr
          th
            font-size: .5rem
            text-align: center
          td
            font-size: .45rem
            text-align: center
      p.explain
        color: #cccccc
        border-top: 1px solid  #e5e5e5
        font-size: .3rem



