
.lottery-banner
  img
    width: 100%
    height: auto
    display: block



.lottery-content
  position: relative
  width: 100%
  left: 0
  .lottery-cont-from-warp
    position: relative
    padding: 0 .875rem
    width: 100%
  .lottery-cont-from
    position: relative
    width: 100%
    background: url("/static/imgs/mobile_activity/app_lottery/lottery_from.png") repeat-x left top #fff
    z-index: 2
    padding-bottom: 4.5rem
  .lottery-circle
    padding: 1.5rem 1.5rem 1rem 1.5rem
    img
      width: 100%
      display: block
  .lottery-from-sign
    text-align: right
    margin-bottom: 1rem
    span
      display: inline-block
      padding: .5rem 2rem .5rem .375rem
      margin-right: .55rem
      background: url("/static/imgs/mobile_activity/app_lottery/lottery_sign.png") no-repeat
      background-size: cover
      text-align: left
      color: #fff
      font-size: .75rem
      line-height: 1rem

  .lotter-from-btn
    padding: 0 .8rem
    .lottery-submit
      -webkit-appearance: none
      width: 100%
      padding: .8rem .7rem
      color: #fff
      background: #DB493F
      text-align: center
      border-radius: .2rem
      margin-top: .75rem
      font-size: .75rem
      border: none
    input
      @extend .lottery-submit
      display: block
      border: 1px solid #E5E5E5
      background: none
      color: #666
      text-align: left
  .lotter-from-rules
    display: block
    color: #ccc
    font-size: $font-size12
    text-align: center
    margin-top: 1rem

  .lottery-cont-bg
    position: fixed
    left: 0
    bottom: 0
    height: 11rem
    width: 100%
    background: #CD4238
    border-top-left-radius: 2rem
    border-top-right-radius: 2rem
    z-index: 1
  .lottery-cont-logo
    pointer-events: none
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    z-index: 3
    img
      width: 100%
      height: auto
      display: block

