.two-novice-banner
  width: 100%
  background: #666766
  img
    display: block
    width: 100%
.two-novice-title
  width: 80%
  margin-left: 10%
  background: url("/static/imgs/mobile_activity/app_two_novice/app_two_title.png") no-repeat
  background-size: 100% 100%
  height: 1.8rem
  h1
    font-size: 0.8rem
    color: #c42521
    line-height: 1.8rem
    text-align: center
    font-weight: bold
.two-novice-title1
  width: 80%
  height: 2rem
  margin-left: 10%
  position: relative
  .title1
    width: 100%
    position: absolute
    top: 1rem
    border-bottom: 0.06rem solid #c42521
  .title2
    width: 50%
    margin-left: 25%
    background: #ffd9b4
    position: absolute
    text-align: center
    top: .6rem
    p
      font-size: 0.65rem
      color: #c42521
.two-novice-main
  max-height: 99999rem
  width: 90%
  margin-left: 5%
  background: url("/static/imgs/mobile_activity/app_two_novice/app_two_kuang.png") no-repeat
  background-size: 100% 100%
  padding-bottom: 2rem
  h2
    font-size: 0.8rem
    color: #c42521
    line-height: 1.8rem
    text-align: center
    font-weight: bold
    padding-top: 1rem
    span
      display: inline-block
      background: url("/static/imgs/mobile_activity/app_two_novice/app_two_tit.png") no-repeat
      background-size: 100% 100%
      color: #FFFFFF
      width: 3.35rem
      height: 1.325rem
      line-height: 1.325rem
  p
    font-size: 0.65rem
    color: #c42521
    text-align: center
    line-height: 1rem
  img
    width: 40%
    margin: 1rem 0 0 30%
  .two-button1
    display: block
    width: 40%
    margin-left: 30%
    height: 2rem
    background: url("/static/imgs/mobile_activity/app_two_novice/app_two_button.png") no-repeat
    background-size: 100% 100%
    text-align: center
    line-height: 1.8rem
    color: #FFFFFF
    font-size: 0.65rem
  .beizhu
    width: 90%
    margin: .6rem 0 0 5%
    p
      font-size: 0.6rem
      color: #c42521
      text-align: center
      line-height: 1rem
  .im
    width: 80%
    margin: 1.3rem 0 0 10%
.two-novice-title2
  margin-top: 2rem
.two-novice-title00
  height: 1rem
.two-novice-footer
  width: 100%
  img
    display: block
    width: 100%
    margin-top: 1rem
#two-mov-ice
  width: 100%
  position: absolute
  background: rgba(0, 0, 0, 0.69)
  top: 0
  z-index: 9
  //display: none
  .mov-ice
    width: 360px
    height: 200px
    position: fixed
    background: #fff
    border-radius: 10px
    top: 50%
    left: 50%
    margin: -100px 0 0 -180px

