.app-recom-banner
  width: 100%
  img
    display: block
    width: 100%
.app-recom-main
  width: 100%
  background: url("/static/imgs/mobile_activity/app-recommended/app-recom-xingqiu.jpg") no-repeat
  background-size: 100%
  .hong
    display: block
    width: 80%
    margin-left: 10%
  h3
    font-size: 0.9rem
    color: #55b87b
    text-align: center
    line-height: 1.5rem
    font-weight: bold
  p
    text-align: center
    font-size: 0.55rem
    color: #6899c1
    line-height: 1rem
    max-height: 99999rem
    span
      color: #c08d27
  .app-recom-piao1
    margin-top: 20%
    background: url("/static/imgs/mobile_activity/app-recommended/app-recom-huojian.jpg") no-repeat bottom
    background-size: 100%
    width: 100%
    img
      width: 100%
    h3
      font-size: 0.9rem
      color: #46aaff
      line-height: 1.5rem
      font-weight: bold
      text-align: center
    p
      font-size: 0.55rem
      color: #6899c1
      text-align: center
      padding-bottom: 5rem
      max-height: 99999rem
  .app-recom-liu
    width: 100%
    padding: 2rem 0 2rem 0
    img
      display: block
      width: 100%
      margin-left: 0
.app-recom-wai
  width: 100%
  img
    display: block
    width: 100%

.app-recom-di
  width: 100%
  background: url("/static/imgs/mobile_activity/app-recommended/app-recom-di.jpg") no-repeat
  background-size: 100% 100%
  padding-bottom: 1rem
  .recom-di-zhanlue
    margin: 1.5rem 0 0 1%
    width: 98%
    background: url("/static/imgs/mobile_activity/app-recommended/app-rexom-zhanlue.png") no-repeat
    background-size: 100% 100%
    h3
      font-size: 0.75rem
      font-weight: bold
      color: #ac8f18
      text-align: center
      line-height: 2rem
      max-height: 99999rem
    ul
      padding: 0 1rem 1.4rem 1.5rem
      max-height: 99999rem
      li
        font-size: 0.5rem
        line-height: 1rem
        color: #ac8f18
        max-height: 99999rem
        p
          span
            font-size: 0.7rem
            font-weight: bold
  .recom-di-guizhe
    margin: 1.5rem 0 0 5%
    width: 90%
    background: url("/static/imgs/mobile_activity/app-recommended/app-rexom-liucheng.png") no-repeat
    background-size: 100% 100%
    h3
      font-size: 0.75rem
      font-weight: bold
      color: #FFFFFF
      text-align: center
      line-height: 2rem
      padding-top: 0.2rem
      max-height: 99999rem
    ul
      padding: 0 1rem 1.4rem 1.5rem
      max-height: 99999rem
      li
        font-size: 0.5rem
        line-height: 1rem
        color: #588eb9