.app-eight
  background: #fde6c8
  padding: 0 1.5rem 1rem 3rem
  position: relative
  h3
    font-size: 0.825rem
    color: #ed2d53
    line-height: 1.1rem
  .app_eight_backone
    font-size: 0.65rem
    color: #ed2d53
    line-height: 1rem
  .app-eight-img1
    position: absolute
    left: 0.5rem
    top: -0.5rem
  .line
    height: 100rem
    border-left: 2px dashed #ed2d53
    position: absolute
    left: 1.5rem
    top: 1.5rem
  .app_eight_backzhong
    background: #ed2d53
    margin: .6rem 0 .6rem 0
    p
      color: #fff
      padding: 2% 2% 2% 2%
      line-height: 1rem
      font-size: .6rem
  .app-eight-img2
    width: 100%
  .app_eight_backzhong1
    text-align: center
    font-size: 0.65rem
    color: #ed2d53
  .button-eight
    background: #ed2d53
    font-size: 0.65rem
    width: 50%
    display: block
    text-align: center
    color: #fff
    line-height: 1.5rem
    margin: 1rem 0 1rem 25%
.app-eighttwo
  background: #5ccfc5 url("/static/imgs/mobile_activity/app_eight_gift/lan.jpg") no-repeat
  background-size: 100%
  padding: 3rem 1.5rem 1rem 3rem
  position: relative
  h3
    font-size: 0.825rem
    color: #FFFFFF
    line-height: 1.1rem
  .app_eight_backone
    font-size: 0.65rem
    color: #FFFFFF
    line-height: 1rem
  .app-eight-img1
    position: absolute
    left: 0.5rem
    top: 2.5rem
    z-index: 1
  .line
    height: 40rem
    border-left: 2px dashed #ed2d53
    position: absolute
    left: 1.5rem
    top: -0.5rem
  .app-eight-img2
    width: 100%
  .app_eight_gift_backzhong1
    text-align: center
    font-size: 0.65rem
    color: #FFFFFF
  .button-eight
    background: #ed2d53
    font-size: 0.65rem
    width: 50%
    display: block
    text-align: center
    color: #fff
    line-height: 1.5rem
    margin: 1rem 0 1rem 25%
.app-eightthree
  background: #fd716a url("/static/imgs/mobile_activity/app_eight_gift/hong.jpg") no-repeat
  background-size: 100%
  padding: 3rem 1.5rem 1rem 3rem
  position: relative
  h3
    font-size: 0.825rem
    color: #FFFFFF
    line-height: 1.1rem
  .app_eight_backone
    font-size: 0.65rem
    color: #FFFFFF
    line-height: 1rem
  .app-eight-img1
    position: absolute
    left: 0.5rem
    top: 2.5rem
    z-index: 1
  .line
    height: 40rem
    border-left: 2px dashed #ed2d53
    position: absolute
    left: 1.5rem
    top: -0.5rem
  .app_eight-countdown
    font-size: 0.875rem
    color: #FFFFFF
    text-align: center
  .eight-time
    font-size: 1.7rem
    text-align: center
    span
      background:  url("/static/imgs/mobile_activity/app_eight_gift/time.png") no-repeat
      background-size: 100% 100%
      font-size: 1.7rem
      line-height: 1.7rem
      padding-left: 0.3rem
      letter-spacing: 0.5rem
  .button-eight
    background: #979797
    width: 50%
    font-size: 0.65rem
    display: block
    text-align: center
    color: #fff
    line-height: 1.5rem
    margin: 1rem 0 1rem 25%
.app-eightfour
  background: #fd9900 url("/static/imgs/mobile_activity/app_eight_gift/huang.jpg") no-repeat
  background-size: 100%
  padding: 3rem 1.5rem 1rem 3rem
  position: relative
  h3
    font-size: 0.825rem
    color: #FFFFFF
    line-height: 1.1rem
  .app_eight_backone
    font-size: 0.65rem
    color: #FFFFFF
    line-height: 1rem
  .app-eight-img1
    position: absolute
    left: 0.5rem
    top: 2.5rem
    z-index: 1
  .line
    height: 40rem
    border-left: 2px dashed #ed2d53
    position: absolute
    left: 1.5rem
    top: -0.5rem
  .app-eight-img2
    width: 100%
  .app_eight_gift_backzhong1
    text-align: center
    font-size: 0.65rem
    color: #FFFFFF
  .button-eight
    background: #ed2d53
    width: 50%
    font-size: 0.65rem
    display: block
    text-align: center
    color: #fff
    line-height: 1.5rem
    margin: 1rem 0 1rem 25%
.app-eightfive
  background: #fde6c8
  position: relative
  z-index: 2
  padding: 1rem 1rem 1rem 1rem
  h3
    font-size: 0.825rem
    color: #101010
    line-height: 1.1rem
  .app_eight_backone
    font-size: 0.6rem
    color: #101010
    line-height: 1rem


