.colorpage-banner
  width: 100%
  img
    display: block
    width: 100%
.app-colorpage
  width: 100%
  img
    display: block
    width: 100%
  h3
    font-size: 0.8rem
    line-height: 2.5rem
    text-align: center
    font-weight: bolder
    color: #666666
.colorpage-er
  width: 70%
  margin-left: 15%
  img
    width: 100%
  p
    text-align: center
    font-size: 0.55rem
    line-height: 1.1rem
    color: #666666
  h2
    font-size: 0.65rem
    line-height: 1rem
    color: #666666
.colorpage-liu
  width: 100%
  h1
    font-size: 0.8rem
    line-height: 1.3rem
    text-align: center
    color: #f35b47
    font-weight: bolder
  p
    font-size: 0.6rem
    line-height: 1.1rem
    text-align: center
    color: #666666
  img
    width: 88%
    margin: 0.625rem 0 0.5rem 6%
.colorpage-rules
  width: 88%
  margin: 0 0 1rem 6%
  h3
    font-size: 0.8rem
    color: #666666
    font-weight: bolder
    line-height: 1.95rem
  p
    font-size: 0.6rem
    color: #666666
    line-height: 0.9rem
