body

.mobilization-box
  background: #c6d560 url(/static/imgs/mobile_activity/app_april_mobilization/bg.jpg) bottom repeat-x
  height: 100%
  width: 100%
  max-height: 99999999px
  .banner
    width: 100%
  .c-box
    padding: 0 .5rem
    overflow: hidden
    //max-height: 99999999rem
    .activity
      position: relative
      text-align: center
      margin-bottom: 1.35rem
      .activity-t
        a
          width: 9.2rem
          height: 2.6rem
          line-height: 2.6rem
          display: inline-block
          background: #f5504f
          color: #fff
          font-size: 1.2rem
          border-radius: .4rem
      .activity-c
        span
          position: relative
          width: 8.6rem
          height: 4.075rem
          line-height: 4.075rem
          display: inline-block
          background: #fefdff
          border-radius: .4rem
          label
            width: 7.8rem
            height: 3.15rem
            line-height: 3.15rem
            display: inline-block
            background: #ffcecf
            border-radius: .5rem
            color: #f5504f
            font-size: .75rem
            vertical-align: middle
            p
              line-height: 1.3rem
            p.mt2
              margin-top: .2rem
      .activity-b
        position: absolute
        width: 100%
        bottom: -.4rem
        span
          bottom: -.1rem
          left: -.175rem
          width: 8.9rem
          height: .25rem
          background: url(/static/imgs/mobile_activity/app_april_mobilization/bottom.png) center no-repeat
          background-size: cover
          display: inline-block
    .activity-title
      text-align: center
      span
        background: url(/static/imgs/mobile_activity/app_april_mobilization/title.png) center no-repeat
        background-size: 100% 100%
        width: 85%
        height: 2.15rem
        display: inline-block
        line-height: 2.15rem
        color: #fff
        font-size: .9rem
    .activity-time
      text-align: center
      color: #587d00
      font-size: .75rem
      margin: .4rem 0 1rem
    .bt0
      margin-bottom: 0
    .it-s
      color: #587d00
      font-size: .55rem
      text-align: center
      margin-top: .2rem
    .table
      width: 100%
      margin-top: 1rem
    .describe
      text-align: center
      color: #587d00
      font-size: .55rem
      padding-top: .375rem
    .reward-list
      display: -webkit-box
      margin-top: 1rem
      li
        height: 1.5rem
        line-height: 1.5rem
        font-size: .6rem
        color: #587d00
      .reward-left
        -webkit-box-flex: 1
        background: #f7f7f7
        width: 8.35rem
        li
          text-indent: 10%
        li:nth-child(odd)
          background: #e9e9e9
        li.th
          background: #a3b43d
          text-align: center
          color: #fff
          text-indent: 0
          font-size: .6rem
      .reward-right
        -webkit-box-flex: 1
        background: #fff
        width: 8.35rem
        li
          text-indent: 30%
        li:nth-child(odd)
          background: #f1f1f1
        li.th
          background: #a8ba3f
          text-align: center
          color: #fff
          text-indent: 0
          font-size: .6rem
    .min-list
      .reward-left
        li
          text-indent: 0
          height: auto
          text-align: center
      .reward-right
        li
          text-indent: 0
      .tc
        text-align: center
        li
          line-height: 3rem
          height: 3rem
        li.th
          height: 1.5rem
          line-height: 1.5rem
    .rule
      color: #587d00
      margin: 1.5rem 0
      max-height: 99999rem
      h3
        font-size: .6rem
        font-weight: bold
      p
        font-size: .6rem
        margin-top: .2rem
    .gs
      margin-top: .5rem
      p
        font-size: .5rem
    .transaction
      color: #587d00
      font-size: .9rem
      text-align: center
    .transaction-time
      font-size: .5rem
      color: #a3b43d
      text-align: center
    .transaction-counts
      text-align: center
      padding-top: .5rem
      .num_1
        background: url(/static/imgs/mobile_activity/app_april_mobilization/num1.png)  center no-repeat
        width: 1rem
        height: 1.275rem
        display: inline-block
        background-size: cover
        text-align: center
        font-size: .5rem
        color: #587d00
        line-height: 1.275rem
        font-weight: bold
      .num_2,.num_3
        background: url(/static/imgs/mobile_activity/app_april_mobilization/num2.png)  center no-repeat
        width: 1rem
        height: 1.275rem
        display: inline-block
        background-size: cover
        text-align: center
        vertical-align: middle
      .num_3
        background: url(/static/imgs/mobile_activity/app_april_mobilization/num3.png)  center no-repeat
    .ranking-list
      background: #a8ba3f
      padding: .35rem .5rem
      border-radius: .2rem
      .ranking-box
        background: #fff
        padding: .65rem 0
        border-radius: .2rem
        h3
          color: #e1342f
          font-size: .6rem
          background: #f1f1f1
          border: 1px solid #e3e3e3
          border-radius: 1rem
          text-align: center
          padding: .2rem 0
          margin: 0 .8rem
        table
          width: 100%
          tbody
            tr:nth-child(odd)
              background: #f1f1f1
          tr
            th
              font-size: .6rem
              text-align: center
              color: #333333
              padding: .675rem 0
            td
              font-size: .45rem
              text-align: center
              height: 1.25rem
              line-height: 1.25rem
              span
                width: .8rem
                height: .8rem
                line-height: .8rem
                border-radius: 50%
                background: #dddddd
                color: #fff
                font-size: .5rem
                display: inline-block
                vertical-align: middle
                margin-right: .35rem
            td.tl
              //text-align: left
          tr.red
            td
              color: #ff4300
              span
                text-indent: 99999rem
                width: .625rem
                height: .8rem
                display: inline-block
              span.icon1
                background: url(/static/imgs/mobile_activity/app_april_mobilization/icon1.png)
                background-size: cover
              span.icon2
                background: url(/static/imgs/mobile_activity/app_april_mobilization/icon2.png)
                background-size: cover
              span.icon3
                background: url(/static/imgs/mobile_activity/app_april_mobilization/icon3.png)
                background-size: cover
        .explain
          color: #666666
          border-top: 1px solid  #e5e5e5
          font-size: .45rem
          text-align: left
          padding: .5rem
          p
            padding-top: .2rem
          span
            float: left
          label
            float: left
  .botto-img
    width: 100%
    background: url(/static/imgs/mobile_activity/app_april_mobilization/bottom_bg.png) no-repeat
    height: 4.575rem
    background-size: cover
    margin-top: 1rem
  .tz-btn
    position: fixed
    bottom: 0
    text-align: center
    width: 100%
    background: #000
    opacity: .8
    padding: .5rem 0
    img
      width: 89%



