.xunleibanner
  width: 100%
  img
    display: block
    width: 100%
.xunleimain
  @extend .xunleibanner
.xunleidraw
  @extend .xunleibanner
  max-height: 99999rem
  .xunltitle
    width: 54%
    background: url("/static/imgs/mobile_activity/app_xunleithree/app_titlexunlei.png") no-repeat
    background-size: 100% 100%
    height: 2rem
    margin: 1rem 0 0 23%
    p
      font-size: .9rem
      text-align: center
      line-height: 1.8rem
      color: floralwhite
  .fanzhuan
    max-height: 99999rem
    font-size: .9rem
    text-align: center
    color: #e7a129
    line-height: 3.25rem
.xunleifanpai
  width: 100%
  height: 5rem
.xunleifuli
  width: 100%
  .xunltitle
    width: 54%
    background: url("/static/imgs/mobile_activity/app_xunleithree/app_titlexunlei.png") no-repeat
    background-size: 100% 100%
    height: 2rem
    margin: 2rem 0 2rem 23%
    p
      font-size: .9rem
      text-align: center
      line-height: 1.8rem
      color: floralwhite
  h1
    font-size: .9rem
    text-align: center
    color: #f24642
    line-height: 2.7rem
  img
    width: 56%
    margin: 0 0 1rem 22%
  .xunleibutton
    display: block
    width: 56%
    height: 3rem
    background: url("/static/imgs/mobile_activity/app_xunleithree/app_button.png") no-repeat
    background-size: 100% 100%
    margin-left: 22%
    text-align: center
    line-height: 3rem
    color: #FFFFFF
.huodongxunlei
  width: 90%
  margin: 0 0 1rem 5%
  ul
    max-height: 99999rem
    li
      font-size: .6rem
      line-height: 1rem
      color: #e7a129

