.xunleibanner
  width: 100%
  img
    display: block
    width: 100%
.xunleimain
  @extend .xunleibanner
.xunleidraw
  @extend .xunleibanner
  max-height: 99999rem
  .xunltitle
    width: 54%
    background: url("/static/imgs/mobile_activity/app_xunleithree/app_titlexunlei.png") no-repeat
    background-size: 100% 100%
    height: 2rem
    margin: 1rem 0 0 23%
    p
      font-size: .9rem
      text-align: center
      line-height: 1.8rem
      color: floralwhite
  .fanzhuan
    max-height: 99999rem
    font-size: .9rem
    text-align: center
    color: #e7a129
    line-height: 3.25rem
    .signxun
      display: inline-block
      color: #f24642
      background: url("/static/imgs/mobile_activity/app_xunleithree/xunleiheng.png") center bottom no-repeat
      background-size: 4rem 0.3rem
      height: 2.45rem
.xunleifanpai
  width: 100%
  height: 21rem
  .brand
    a
      display: block
      float: left
      margin: 0.5rem 0 0.5rem 0
      width: 50%
      height: 10rem
      text-align: center
      position: relative
      .imgg
        width: 7rem
        height: 10rem
      .info
        display: none
        img
          width: 7rem
          height: 10rem
  #vertical
    .info
      width: 0
      height: 10rem
      margin: 0 auto
.xunleifuli
  width: 100%
  .xunltitle
    width: 54%
    background: url("/static/imgs/mobile_activity/app_xunleithree/app_titlexunlei.png") no-repeat
    background-size: 100% 100%
    height: 2rem
    margin: 2rem 0 0 23%
    p
      font-size: .9rem
      text-align: center
      line-height: 1.8rem
      color: floralwhite
  h1
    font-size: .9rem
    text-align: center
    color: #f24642
    line-height: 2.7rem
  img
    width: 56%
    margin: 0 0 1rem 22%
  .xunleibutton
    display: block
    width: 56%
    height: 3rem
    background: url("/static/imgs/mobile_activity/app_xunleithree/app_button.png") no-repeat
    background-size: 100% 100%
    margin-left: 22%
    text-align: center
    line-height: 3rem
    color: #FFFFFF
.huodongxunlei
  width: 90%
  margin: 0 0 1rem 5%
  ul
    margin-top: 2rem
    max-height: 99999rem
    li
      font-size: .6rem
      line-height: 1rem
      color: #e7a129

