.gold-main
  background: #fed03b
  height: 38.725rem
  .bottom-body
    font-size: 0.5rem
    text-align: center
    margin-top: 1rem
    padding: 0 0.5rem
    color: #5d4738
  h3
    font-size: 1rem
    color: #6a2b00
    text-align: center
    padding-top: 2.775rem
  ul
    margin-top: 0.775rem
    padding: 0 0.775rem
    li
      font-size: 0.525rem
      color: #5d4738
      line-height: 1.35rem
  .gold-tit
    font-size: 0.925rem
    color: #6a2b00
    padding: 1.5rem 0 1rem 0
    text-align: center
    font-weight: bold
  .tu1
    width: 13rem
    margin: 0 auto
    img
      width: 100%
  .box1
    width: 14.825rem
    height: 5.525rem
    border: 1px dashed #fff
    margin: 2.375rem auto
    margin-bottom: 0
    border-radius: 5px

    p
      margin-top: 1rem
      span
        font-size: .7rem
        color: #404980
        margin-left: 1rem
        b
          font-size: 1.15rem
    a
      display: inline-block
      width: 13.5rem
      height: 1.725rem
      background: #fb6d0d
      border-radius: 5px
      font-size: .85rem
      color: #fff
      font-weight: bold
      line-height: 1.725rem
      text-align: center
      margin: 1rem 0 0 0.5rem
.gold-main2
  background: #fb6e0c
  h1
    font-size: 0.925rem
    color: #fff
    text-align: center
    font-weight: bold
    padding-top: 2.375rem
  p
    font-size: .7rem
    color: #681300
    margin-top: 0.2rem
    text-align: center
  .tu2
    width: 14.325rem
    margin: 1rem auto
    margin-bottom: 0
    img
      width: 100%
