.banner
  width: 100%
  position: relative
  img
    width: 100%
    display: block
  .xinlei-rule
    display: block
    position: absolute
    font-size: 0.6rem
    bottom: 0
    right: 10%
    background: #efb6ac
    width: 35%
    height: 1.5rem
    border-radius: 10px 10px 0 0
    text-align: center
    line-height: 1.5rem
    color: #cf483d
.main
  margin-top: 2rem
  .xunmeng3
    .xunmeng3-moidle
      width: 100%
      color: #d04a3f
      text-align: center
      font-size: 0.9rem
      line-height: 2rem
      margin-top: 2rem
      p
        font-size: .9rem
        text-align: center
        line-height: 2rem
        color: #d04a3f
    .xunmeng3-bottom
      padding: 0rem 2rem 2rem
      .xunleiwangli1
        display: block
        width: 80%
        height: 2rem
        text-align: center
        line-height: 2rem
        background: #d04a3f
        color: #FFFFFF
        font-size: .8rem
        border-radius: 10px
        margin: 2rem 0 0 10%
      .xunlei1
        display: block
        width: 100%
        text-align: center
        span
          max-height: 99999rem
          display: inline-block
          color: #60abdf
          border-bottom: 0.05rem solid #60abdf
          line-height: 0.6rem
          font-size: .6rem
  .maimai-form
    //display: none
    padding: 0rem 2rem 2rem
    .maimai-phone,.maimai-load
      color: #b3b3b7
  .maimai-check-body
    .maimai-form-margin
    .phone-check
      .check-submit,.check-img
        background: #bcc500
        color: #fff
  .maimai-form-sign
    color: #ea5352
  .maimai-form-btn2
    display: block
    width: 100%
    height: 2.1rem
    line-height: 2.1rem
    text-align: center
    font-size: .8rem
    border-radius: .3rem
    background: #ea5352
    color: #fff
    margin: 0 auto
    border: 0
    -webkit-appearance: none
  .maimai-form-btn1
    background: #ea5352
    &:disabled
      background: #ff7772
  .xunleibangding,.xunleipeople
    font-size: 0.6rem
    text-align: center
    color: #999999
    line-height: 1.5rem
    a
      display: inline-block
      color: #60abdf
      border-bottom: 0.05rem solid #60abdf
      line-height: 0.6rem

  .xunlei-main
    width: 100%
    height: 2rem
    background-color: #e9c1b3
    p
      text-align: center
      line-height: 2rem
      color: #666766
      span
        background: url("/static/imgs/mobile_activity/app_xunlei/appxunyuan.png") no-repeat center
        background-size: 0.85rem 0.85rem
  ul
    max-height: 99999rem
    width: 90%
    margin: 1rem 0 0 5%
    li
      font-size: 0.6rem
      line-height: 1rem
      color: #666766
.mian1
  margin: 0
  background: #efded6
  padding-bottom: 1rem
.regist-propagate
  ul
    li
      .title1
        color: #cf483d
        font-size: .7rem
        margin: .5rem 0
      .bodyTxt5,.bodyTxt5
        color: #cf483d
        font-size: .6rem
.erwei
  clear: both
  width: 100%
  background: #FFFFFF
  padding-bottom: 2rem
  img
    width: 40%
    margin: 2rem 0 0 30%
  p
    font-size: .6rem
    color: #cf483d
    text-align: center
    line-height: 1rem


.xunmeng
  position: absolute
  width: 100%
  background: rgba(0, 0, 0, 0.72)
  top: 0
  z-index: 1
  display: none
  .xunjiang-zong
    width: 94%
    height: 18rem
    background: #FFFFFF
    border-radius: 10px
    margin: 2rem 0 0 3%
    position: relative
    span
      display: block
      position: absolute
      right: 5px
      top: 5px
      width: 1.15rem
      height: 1.15rem
      background: url("/static/imgs/mobile_activity/app_xunlei/xunguan.png") no-repeat center
      background-size: 100% 100%
    h2
      font-size: 1.2rem
      color: #666766
      text-align: center
      line-height: 4rem
    .xunjiang
      position: absolute
      width: 14rem
      left: 50%
      top: 4rem
      margin-left: -7rem
      height: 12.775rem
      background: url("/static/imgs/mobile_activity/app_xunlei/xunleijiang.png") no-repeat center
      background-size: 100% 100%
      .xushu
        clear: both
        height: 4.3rem
        .xushu-left
          float: left
          width: 8rem
          font-size: 0.85rem
          text-align: center
          line-height: 1.2rem
          color: #FFFFFF
          margin-top: 1rem
        .xushu-right
          float: left
          width: 5.8rem
          font-size: 0.7rem
          text-align: center
          line-height: 1.2rem
          color: #FFFFFF
          margin-top: 1rem
.xunmeng2
  position: absolute
  top: 0
  width: 100%
  background: #FFFFFF
  z-index: 1
  display: none
  .xunmeng2-top
    width: 100%
    height: 2rem
    background: #d04a3f
    color: #FFFFFF
    text-align: center
    font-size: 0.9rem
    line-height: 2rem
  .xunmeng2-moidle
    width: 100%
    color: #d04a3f
    text-align: center
    font-size: 0.9rem
    line-height: 2rem
    margin-top: 2rem
  .xunmeng2-moidle2
    width: 100%
    color: #666766
    text-align: center
    font-size: 0.9rem
    line-height: 2rem
    margin-top: 2rem
  .xunmeng2-bottom
    width: 100%
    .xunleiwangli
      display: block
      width: 80%
      height: 2rem
      text-align: center
      line-height: 2rem
      background: #d04a3f
      color: #FFFFFF
      font-size: .8rem
      border-radius: 10px
      margin: 2rem 0 0 10%
    p
      font-size: .6rem
      text-align: center
      line-height: 2rem
      color: #666766
