
.weChat-head
  position: relative
  img
    display: block
    width: 100%
$submit-height: 2.25rem
.public-style
  display: block
  width: 100%
  height: $submit-height
  line-height: $submit-height
  font-size: .75rem
  text-align: center
  border-radius: .2rem
.webchat-input,.webchat-input-code
  @extend .public-style
  border: 1px solid #BF9551
  background: #fff
  -webkit-appearance: none
  padding: .3rem
  line-height: normal
  text-align: left
  &::-webkit-input-placeholder
    color: #5C5C5C

.webpack-btn-red
  @extend .public-style
  border: 1px solid #FF4A33
  background: #FF4A33
  color: #fff
  margin: .5rem 0
  &:link, &:visited
    color: #fff
  &:active
    background: #F73C25
.webpack-btn-blue
  background: none
  color: #5DB5F2
  text-align: center
  width: 100%
  display: inline-block
  font-size: .6rem
  &:link, &:visited
    color: #5DB5F2
.webchat-button
  width: 5rem
  height: 2.25rem
  float: right
  border: 0 none
  font-size: .75rem
  color: #ffffff
  border-radius: .2rem
.webchat-button-disable
  background: #cccccc
.webchat-button-right
  background: #50B143
//start page
.default-user
  display: -webkit-box
  -webkit-box-align: center
  padding: .65rem .8rem

  .default-img
    display: block
    width: 2.275rem
    height: 2.275rem
    margin-right: .5rem

  .default-message
    -webkit-box-flex: 1
    position: relative

    .message-icon
      position: absolute
      top: 1rem
      left: 0
      width: .275rem
      height: .75rem
      background: url("/static/imgs/mobile_activity/app_wechat/message_bg.png") no-repeat center
      background-size: 100%

    .message-body
      position: relative
      z-index: 2
      background: #fffce9
      font-size: .6rem
      color: #FF7500
      line-height: 1rem
      margin-left: .275rem
      padding: .5rem  .6rem
      border-radius: .3rem

.webchat-redpack
  .redpack-bg
    width: 9.875rem
    height: 8.975rem
    background: url("/static/imgs/mobile_activity/app_wechat/fudai.png") no-repeat
    background-size: 100%
    margin: 0 auto
.phone-sign-warp
  height: .8rem
.phone-sign,.code-sign,.phone-code-sign
  font-size: .6rem
  color: #ff7500
  display: none
  height: .8rem
  line-height: .5rem
.webchat-submit
  padding: 1.5rem 1.95rem 1rem 1.95rem
  @media screen and (max-device-width: 320px)
    padding: .5rem 1.95rem 1rem 1.95rem
.code-content
  height: 0
  overflow: hidden

.code
  padding-top: .5rem
  display: -webkit-box
  .webchat-input-code
    -webkit-box-flex: 2
    width: auto
    float: none
  .webchat-button,.captcha
    -webkit-box-flex: 1
    width: 4rem
    float: none
    margin-left: .5rem



//detail page
.webchat-redpack-detail
  width: 100%
  .webchat-bg,.webchat-tyj-bg
    position: relative
    background: url(/static/imgs/mobile_activity/app_wechat/jiaxiquan.png) no-repeat center center
    background-size: 100% 100%
    width: 14.5rem
    height: 4.7rem
    margin: 2rem auto 1rem
    .redpack-message
      position: absolute
      left: 4.4rem
      top: 0
      color: #fff
      text-align: center
      width: 10rem
      height: 4.7rem
      em
        font-style: normal
        color: #DB493F
        line-height: 4.7rem
      #amount
        font-size: 2.5rem
      .baifen
        font-size: 1.5rem
  .webchat-tyj-bg
    background: url(/static/imgs/mobile_activity/app_wechat/tiyanjin.png) no-repeat center center

.webchat-submit-end
  padding: 1.65rem 1.95rem 1.875rem 1.95rem
.receive-peoples
  font-size: .75rem
  color: #F5A623
  text-align: center
  margin-bottom: 1.875rem
.webchat-redpack-result
  color: #FF7500
  text-align: center
  .result-amount
    font-size: .75rem
    margin-bottom: .25rem
  .result-phone
    font-size: .6rem
.webchar-friend-list
  color: #F5A623
  padding: 0 .75rem
  overflow: hidden
  .webchar-list-head
    position: relative
    text-align: center
    margin-bottom: .5rem
    span
      position: relative
      z-index: 2
      display: inline-block
      font-size: .8rem
      padding: 0 .5rem
      background: #FFF6B7
    &:after
      content: ''
      position: absolute
      top: .65rem
      left: 0
      background: #FF751C
      height: 2px
      width: 100%
  dl
    display: -webkit-box
    -webkit-box-align: center
    margin-bottom: .75rem
  dt
    img
      display: block
      height: 2rem
      width: 2rem
      margin-right: .5rem
  dd
    .friend-warp
      font-size: .7rem
      margin-bottom: .2rem
    .take-time, .jiaxi-text
      font-size: .5rem
    .friend-taking
      font-size: .6rem
      line-height: 1
    .friend-list
      font-size: 1rem
      font-style: normal
  .item-cont
    -webkit-box-flex: 1
.webchar-deatil-footer
  width: 100%
  img
    display: block
    width: 100%
//end page
.webchat-redpack-end
  .redpack-bg
    width: 5rem
    height: 5rem
    background: url("/static/imgs/mobile_activity/app_wechat/people.png") no-repeat
    background-size: 100%
    margin: 1rem auto .4rem
.void
  color: #F5A623
  font-size: .6rem
  text-align: center
.weChat-footer
  width: 100%
  text-align: center
  img
    width: 3.3rem
    height: 1rem
    margin: 0 auto
.captcha
  width: 5rem
  float: right
  height: 2.2rem

.error-sign
  position: fixed
  left: 0
  top: 2.2rem
  width: 100%
  height: 2.2rem
  line-height: 2.2rem
  text-align: center
  background: rgba(93,181,242,.8)
  color: #fff
  font-size: $font-size14
  display: none
  opacity : 0
  -webkit-transition: opacity 300ms ease-out
  -webkit-transform: translateZ(0)


