$pageMainColor: #bb103c
$pageMainColor2: #bf0d43
$pageMainColorHui: #333


.m-gold-banner
  width: 100%
  img
    display: block
    width: 100%
.m-gold-body
  padding: 0 .55rem
  .gold-body-date
    color: $pageMainColor
    font-size: $font-size16
    padding: .75rem 0
    text-align: center
  .gold-body-btn
    background: $pageMainColor
    color: #fff
    border-radius: $boder-radius
    font-size: 1.2rem
    height: 2.25rem
    display: -webkit-box
    -webkit-box-pack: center
    -webkit-box-align: center
    margin-bottom: .75rem
    span
      background: url("/static/imgs/mobile_activity/people_gold/gold_btn_icon.jpg") no-repeat center center
      display: block
      width: 1.15rem
      height: 1.35rem
      background-size: 100%
      margin-right: .25rem


.rule-img-title
  font-size: $font-size16
  border-bottom: 2px solid $pageMainColor
  text-align: left
  padding-bottom: .25rem
  color: $pageMainColor2
.rule-img-title2
  font-size: $font-size14
  color: $pageMainColorHui
  text-align: center
  padding: .75rem 0
.gold-body-rule-img
  margin-bottom: 1.4rem
  img
    width: 100%
    display: block
    &:last-child
      margin-top: 1.4rem

.rule-text-main
  padding: 0 1rem 0 .4rem
  font-size: $font-size14
  margin-bottom: .9rem
  h2
    font-weight: normal
    font-size: $font-size14
    color: $pageMainColor2
    margin: .5rem 0
  p
    display: -webkit-box
    span
      display: block
    .item-list
      line-height: 1rem
      -webkit-box-flex: 1
      text-align: Justify
.gold-body-explam
  border: 3px solid $pageMainColor
  padding: .8rem
  font-size: $font-size12
  color: $pageMainColor2
  margin-bottom: .75rem
  .explam-gle
    margin-top: 1.2rem
  h2
    font-weight: normal
    font-size: $font-size14
    margin-bottom: .5rem
  p
    line-height: 1.2rem
    text-align: Justify
.gold-body-rule-end
  .rule-end
    margin-bottom: .4rem
  p
    color: #666
    font-size: $font-size14
    line-height: 1.1rem
    margin-bottom: .3rem
.m-gold-footer
  background: $pageMainColor
  font-size: .5rem
  color: #fff
  height: 3rem
  .up-body
    display: -webkit-box
    -webkit-box-align: center
    -webkit-box-pack: center
    width: 100%
    padding: 0.5rem 0
    .logo
      background: url("/static/imgs/mobile_activity/people_gold/footer_logo.jpg") no-repeat left center
      background-size: 3rem
      padding-left: 3.4rem
      margin-right: .5rem
    span
      height: 1rem
      line-height: 1rem
      text-align: left
      display: block
  .bottom-body
    text-align: center



