@import "./from"

@mixin inviteButton($background, $color, $height)
  display: block
  width: 100%
  height: $height
  line-height: $height
  background: $background
  font-size: 1.05rem
  text-align: center


.tly-mod
  padding: 0 .5rem

.invite-banner-tly
  position: relative
  display: -webkit-box
  -webkit-box-pack: center
  -webkit-box-align: center
  height: 7rem
  background: url('/static/imgs/mobile_activity/app_invite/banner.png') no-repeat center
  background-size: cover

  .logo
    position: absolute
    top: -.25rem
    left: .7rem
    width: 2.1rem

  .data-item
    position: relative
    color: #fff
    font-size: .7rem
    text-align: center

.invite-message
  display: -webkit-box
  -webkit-box-align: center
  .ivt-use
    width: 1.75rem
    height: 1.75rem
    margin-right: .5rem
    img
      display: block

  .ivt-message-body
    display: -webkit-box
    -webkit-box-align: center
    height: 2.625rem
    width: 13rem
    background: url("/static/imgs/mobile_activity/app_invite/message.png") no-repeat center
    background-size: 100%
    color: #fff
    font-size: .7rem
    padding-left: 1.7rem
    padding-top: .4rem


