.banner
  width: 100%
.banner img
  width: 100%
  display: block
.talk_wrap
  padding: .85rem .625rem
  background: #46cddd
  .user_talk2
    padding-top: .45rem
  img
    width: 100%
    display: block
.raiders
  width: 100%
  position: relative
  padding: 0 0 .8rem
  background: #2abbcc
  .main
    width: 100%
    position: relative
    top: -0.125rem
  .label_img
    width: 100%
    display: block
  .raiders_img
    padding: 0 .375rem
    width: 100%
    display: block
.act_welfare
  width: 100%
  position: relative
  background: url('/static/imgs/mobile_activity/app_july_act_two/act_welfare_bg.jpg') repeat-x
  background-size: 100% 100%
  .label_img
    width: 100%
    display: block
  .main
    width: 100%
    display: inline-block
    a.left
      margin-left: 1.1rem
    a.right
      margin-right: 1.1rem
      float: right
    a:active
      box-shadow: 0 0 2px 5px #d5d6d3
    a
      margin: .85rem 0 0
      display: block
      float: left
      background: #fff
      position: relative
      border: 1px #d5d6d3 solid
      -webkit-border-radius: .2rem
      -moz-border-radius: .2rem
      -ms-border-radius: .2rem
      -o-border-radius: .2rem
      border-radius: .2rem
      width: 40%
      -webkit-transition: all 0.5s
      -moz-transition: all 0.5s
      -ms-transition: all 0.5s
      -o-transition: all 0.5s
      transition: all 0.5s
      .img
        display: block
        width: 100%
      .label
        position: absolute
        left: 0
        top: 0
        z-index: 2
        display: block
        -webkit-border-top-left-radius: .2rem
        -moz-border-top-left-radius: .2rem
        -ms-border-top-left-radius: .2rem
        -o-border-top-left-radius: .2rem
        border-top-left-radius: .2rem
        width: 44%
p.footer
  clear: both
  width: 100%
  font: normal .65rem Microsoft YaHei,'微软雅黑'
  color: #b22621
  text-align: center
  padding-top: .15rem
  height: 2rem
  line-height: 2rem
@media screen and (min-width: 768px)
  p.footer
    font: normal 1.3rem Microsoft YaHei,'微软雅黑'
    height: 4rem
    line-height: 4rem










