
//字体大小
$font-size10: .6rem
$font-size12: .6rem
$font-size14: .7rem
$font-size16: .8rem
$font-size18: .9rem
$font-size20: 1rem
$font-size22: 1.1rem
$font-size24: 1.2rem
$font-size26: 1.3rem

//灰色背景
$color-grey-fbfbfb: #fbfbfb
$color-grey-f0f0f0: #f0f0f0
$color-grey-e8e8e8: #e8e8e8
$color-grey-dcdcdc: #dcdcdc
$color-grey-efeff4: #efeff4
$color-grey-3e3e3e: #3e3e3e
$color-grey-6b6b6b: #6b6b6b
$color-grey-989898: #989898
$color-grey-b6b6b6: #b6b6b6
$color-grey-dadada: #dadada

//其他颜色
$color-bfe0ff: #bfe0ff
$color-abccf7: #abccf7
$color-f26a6a: #f26a6a
$color-aee4f0: #aee4f0
$color-4e7cda: #4e7cda
$color-356cc2: #356cc2
$color-468aef: #468aef
$color-c675a5: #c675a5
$color-6c98c9: #6c98c9
$color-e37554: #e37554
$color-72bf64: #72bf64
$color-db493f: #db493f

//下边距
$margin-bottom: 0.5rem
//active
$active-color:  rgba(0,0,0,.1)
$active-shadow: 0px 10px 200px rgba(0,0,0,0.2) inset
//边框颜色
$border-color: $color-grey-e8e8e8
//圆角大小
$boder-radius: .2rem

//页面字体大小，背景颜色
$body-fontSize: $font-size12
$body-backgroundColor: $color-grey-efeff4


//头部颜色、高度、字体大小
$head-backgroundColor: $color-db493f
$head-fontColo: #fff
$header-height: 2.2rem
$header-fontSize: 0.85rem

//list 进度条颜色
$progress-backgroundColor: $color-abccf7
$list-titColor: $color-grey-6b6b6b

//list页四种状态颜色
$protucd-blue: $color-abccf7 //抢购中
$protucd-red: #fac3c3 //满标审核
$protucd-lightblue: $color-aee4f0 //还款中
$protucd-grey: $color-grey-dadada //已还款

//detail
$borderColor: $color-grey-e8e8e8
$toggleTabColor: $color-grey-6b6b6b
//四种状态颜色
$footerBtn-buy: $color-db493f //抢购中
$footerBtn-red: #fac3c3 //满标审核
$footerBtn-lightblue: $color-aee4f0 //还款中
$footerBtn-grey: $color-grey-dadada //已还款







