.new-year-feast
  .banner
    width: 100%
  .title
    text-align: center
    margin: .5rem 0 .2rem
    span
      background: url(/static/imgs/mobile_activity/feast/title.png) center top no-repeat
      width: 17.025rem
      height: 1.825rem
      display: inline-block
  .title-fonts
    text-align: center
    color: #da1315
    font-size: .6rem
    line-height: 1rem
  .pot-div
    position: relative
    padding: .4rem
    .pot-s
      background: url(/static/imgs/mobile_activity/feast/pot.png) center center no-repeat
      background-size: 100% 100%
      width: 47%
      height: 6.675rem
      text-align: center
      color: #ffc935
      font-weight: bold
      margin-top: 2rem
      .award-name
        font-size: .75rem
        padding-top: 2.15rem
      .award-content
        font-size: .6rem
        padding-top: 1.25rem
    .pot-one,.pot-three
      float: left
    .pot-two,.pot-four
      float: right
    .arrow
      background: url(/static/imgs/mobile_activity/feast/pot.png) center center no-repeat
      background-size: 100% 100%
      width: 2.235rem
      height: 3rem
      position: absolute
      right: 10%
