.new-year-feast
  padding-bottom: 1.25rem
  .banner
    width: 100%
  .title
    text-align: center
    margin: .5rem 0 .2rem
    span
      background: url(/static/imgs/mobile_activity/feast/title.png) center top no-repeat
      background-size: 100% 100%
      width: 90%
      height: 1.825rem
      display: inline-block
  .title2
    margin-top: 1rem
    span
      background: url(/static/imgs/mobile_activity/feast/title2.png) center top no-repeat
      height: 1rem
  .title-fonts
    text-align: center
    color: #da1315
    font-size: .6rem
    line-height: 1rem
    max-height: 9999rem
  .pot-div
    position: relative
    padding: .4rem
    margin-top: 2rem
    .top-div
      margin-bottom: .4rem
      display: -webkit-box
    .bottom-div
      margin-top: .4rem
      display: -webkit-box
    .middle-fonts
      font-size: .95rem
      color: #da1315
      text-align: center
      position: absolute
      top: 50%
      left: 50%
      margin-left: -3.2rem
      max-height: 9999rem
    .pot-s
      background: url(/static/imgs/mobile_activity/feast/pot.png) center center no-repeat
      background-size: 100% 100%
      height: 6.675rem
      text-align: center
      color: #ffc935
      font-weight: bold
      -webkit-box-flex: 1
      -webkit-box-align: center
      -webkit-box-pack: center
      .award-name
        font-size: .75rem
        padding-top: 2.15rem
      .award-content
        font-size: .6rem
        padding-top: 1.1rem
    .mr5
      margin-right: .4rem
    .arrow
      background: url(/static/imgs/mobile_activity/feast/arrow.png) center center no-repeat
      background-size: 100% 100%
      width: 2.235rem
      height: 3rem
      position: absolute
      //right: 20%
      //top : -2rem
  .rule-content
    text-align: center
    font-size: .6rem
    color: #da1315
    margin-top: .5rem
    max-height: 99999rem
  .rule-btn
    text-align: center
    span
      color: #2a00ff
      font-size: .6rem
      text-decoration: underline
      border-bottom: 1px solid #2a00ff
      padding-bottom: 5px
  .moreInfo
    height: 0
    overflow: hidden
  .rule-div
    color: #da1315
    font-size: .45rem
    max-height: 999999rem
    padding: 0 .5rem
    line-height: .75rem
    .rule-title
      text-align: center
      span
        background: url(/static/imgs/mobile_activity/feast/min_title.png) center center no-repeat
        background-size: 100% 100%
        width: 50%
        height: 1.575rem
        line-height: 1.575rem
        display: inline-block
        font-size: .6rem
        color: #ffc935
        margin: 1rem 0
    a
      color: #2a00ff
      text-decoration: underline
  .packets-feast
    padding: 0 .1rem
    text-align: center
    .packets-div
      margin-top: 1rem
      background: url(/static/imgs/mobile_activity/feast/card.png) center center no-repeat
      background-size: 100% 100%
      height: 6.925rem
      text-align: center
      display: inline-block
      width: 28%
      .packets-num
        color: #ffdc15
        font-size: .7rem
        padding-top: .5rem
      .packets-btn
        font-size: .45rem
        color: #721806
        margin-top: .2rem
        a
          width: 2.6rem
          height: 2.6rem
          display: inline-block
          line-height: 2.6rem
      .packets-used
        color: #ffdc15
        font-size: .45rem
        margin-top: .5rem
      .packets-icon
        span
          height: 1.1rem
          text-align: center
          width: 90%
          display: inline-block
          margin-top: .4rem
      .icon0
        span
          background: url(/static/imgs/mobile_activity/feast/icon0.png) center center no-repeat
          background-size: 100% 100%
      .icon1
        span
          background: url(/static/imgs/mobile_activity/feast/icon1.png) center center no-repeat
          background-size: 100% 100%
      .icon2
        span
          background: url(/static/imgs/mobile_activity/feast/icon2.png) center center no-repeat
          background-size: 100% 100%
      .icon3
        span
          background: url(/static/imgs/mobile_activity/feast/icon3.png) center center no-repeat
          background-size: 100% 100%
      .icon4
        span
          background: url(/static/imgs/mobile_activity/feast/icon4.png) center center no-repeat
          background-size: 100% 100%
    .mr13
      margin-right: .5rem
  .w75
    width: 68%
    margin: 1rem  auto .5rem
.packets
  position: fixed
  top: 35%
  left: 50%
  width: 15rem
  margin: -2.75rem 0 0 -7.5rem
  z-index: 1000001
  font-size: .6rem
  text-align: center
  .packets-bg
    width: 100%
    height: 15.725rem
    background: url(/static/imgs/mobile_activity/feast/packets.png) center center no-repeat
    background-size: 100% 100%
  .packets-content
    padding-top: 9.6rem
    color: #ffffff
    width: 3.5rem
    text-align: left
    margin: 0 auto
    line-height: .925rem
  p.yellow-fonts
    color: #fad732
  .close-min
    position: absolute
    right: 1rem
    top: 0
    background: url(/static/imgs/mobile_activity/feast/close.png) center center no-repeat
    background-size: 100% 100%
    width: 1.3rem
    height: 1.3rem
  .close-max
    position: absolute
    right: 0
    top: 0
    background: url(/static/imgs/mobile_activity/feast/close-max.png) center center no-repeat
    background-size: 100% 100%
    width: 1.7rem
    height: 1.7rem
    z-index: 1000001
  .alert-style
    height: 3.875rem
    background: url(/static/imgs/mobile_activity/feast/alert.png) center top no-repeat
    background-size: 100% 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 100000
  .alert-bg
    height: 5.4rem
    border-radius: .2rem
    color: #ffffff
    background: #e64431
    position: absolute
    width: 90%
    top: 1.2rem
    left: 50%
    margin-left: -6.75rem
  .title-s
    font-size: .7rem
    margin: 1.5rem 0 0.3rem
  .pop-fonts
  font-size: .525rem
.alertT30
  top: 25%

