- load formatters

if announcements
  .space-vertical-s
  .container
    .announcement-block
      .announcement-block-bar
        .row
          .span10
            for announce in announcements
              .announcement-block-title
                a(href="/announcement/detail/{{announce.id}}", target="_blank", id="announcement-block-title") {{announce.title}}
                span {{announce.updatetime|date:'Y-m-d'}}
          .span2-omega.align-right
              a.button.button-default(href="/announcement") 更多公告