-load formatters

doctype html
- with '网站公告' as title
include include/common_head
- endwith
body
  include global/g_nav
  .container.margin-bottom-xxl
    .siderbar-div
      - with '网站公告' as title
      include include/about_sidebar
      - endwith
    .panel-padding.span9-omega
      .row.announce-content-title
        .span10
          h2 网站公告
      ul.announce-content-list
        for announce in announcements
          li
            a.span10(href="/announcement/detail/{{announce.id}}", target="_blank") &bull; {{announce.title}}
            .span2-omega.align-center {{announce.createtime | date:'Y-m-d'}}
      .space-vertical-l
      .row
        - with data=announcements uri='/announcement/'
        include include/pager
        - endwith


  include global/g_footer
  include include/tracking
