-load formatters
doctype html
html
  head
    title 网利宝在界面“2015年度快公司100”评选活动中入选百强创业企业
    include include/app_header.jade
  body
    .announce-warp
      .announce-title P2P受新兴中产人群认可 网利宝入选百强创业企业
      .announce-content
        p 近日，由界面新闻主办、上海报业集团全程支持的“2015年度快公司100”评选活动落下帷幕，国内知名在线理财平台网利宝从1000多家企业中脱颖而出，荣登TOP100榜单。
        p 据了解，此次评选活动经过界面用户网络投票和专家推荐，先从1000余家参与评选的企业中推选出了200家入围企业，又从成长速度、商业模式、融资规模、社会价值、成立时间、公众形象等7个维度进行综合评价，最终评选出了100家优秀的创业企业，网利宝、积木盒子、陆金所等知名P2P平台一同入围。
        p 作为中国第一家互联网私人银行，网利宝2014年8月正式上线，去年2月获得IDG千万美元A轮投资，今年5月获得百亿市值上市公司鸿利光电(300219,股吧)拟共4000万美元的B轮融资，如今上线刚满一年，网利宝已拥有70多万用户，达成30多亿交易额。
        p 与同期诞生的平台相比，网利宝的发展速度和综合实力遥遥领先。
        p 作为中国第一家互联网私人银行，网利宝打破“与担保小贷公司合作”的传统方式，独创“产融结合”的业务模式，在垂直细分领域深耕、与产业龙头进行战略合作，以龙头企业为支点，快速切入产业内部，为优质的、有融资需求的中小企业提供贷款服务。通过一年的积累，网利宝已先后在艺术品、黄金、物流货运、金融仓储、车房抵押、电商等多个产业进行布局，累计推出了2000多个优质产品，为全国1000多个中小企业解决了融资难题。
        p 上线至今，网利宝在多次行业评选中载誉而归，荣获中国财经峰会2014年度最佳创新典范、“金鼎奖”中国十佳互联网金融机构、中国互联网行业百强企业等多项大奖，近期还以49.04的发展指数获得“发展速度排行榜”第九名，入围“北上广前十名P2P平台”。
        p 作为85后创业领袖，网利宝CEO赵润龙不仅上榜福布斯2015年中国30位30岁以下创业者，还作为中国互联网金融行业的唯一受邀代表参加新加坡高峰论坛“2015慧眼中国环球论坛”，进行现场演讲。在刚刚闭幕的第十一届北京国际金融博览会上，赵润龙携手网利宝董事、美银美林前中国区主席、著名金融家刘二飞一同亮相网利宝展区，受到多家媒体的采访。
        p 赵润龙说，此次评选活动是由“界面”创立的，界面作为新一代财经商业新闻网站，其用户主要是中国新兴的、善于独立思考的中产人群，在投资界、主流商圈有着很好的用户基础和信赖度。网利宝通过重重审核，不仅得到了“界面”用户的支持，还获得了专家的认可。网利宝与陆金所、积木盒子等P2P平台同时入选榜单，不仅让他看到了用户对网利宝的肯定，更让他看到了其对互联网金融发展前景的认可。
        p 文章来源：http://tech.hexun.com/2015-11-13/180550749.html
        p.content-bootm-right 北京网利科技有限公司
        p.content-bootm-right 2015年11月13日
