-load formatters
doctype html
html
  head
    title 网利宝用户规模突破百万大关
    include include/app_header.jade
  body
    .announce-warp
      .announce-title 突破100万用户后，网利宝怎么看P2P行业的未来?
      .announce-content
        p 最近，P2P行业很不太平。有一定经验的投资人都会知道，每年这个时候，P2P都会出现一波严重的“跑路潮”，但未能预料到的是，今年这种情况将会更加严重。数据显示，11月新增问题平台79家，行业累计问题平台达到1157家，11月13-19日一周甚至有17家平台出现问题。
        p 但一方面，也有越来越多的P2P平台，不断夯实资产，在品牌层面获得了用户越来越多的认可，开始走上了飞速发展的快车道。网利宝就是其中一家，其最近的注册用户数刚好突破了100万，投资额接近40亿。在“年关”这个时点，P2P观察网与网利宝展开了一番交流，主题是探讨P2P行业未来的资产端情况及可能走向。
        p 在分析网利宝快速发展的原因时，网利宝相关人士认为，相比于浮夸的品牌投放和线下拉人头的营销模式，网利宝一直专注于资产端的做深。获得用户的认可，只是网利宝金融端长期厚积薄发的最终结果。
        p P2P观察网注意到，已经有越来越多的行业巨头开始倾向于减弱声量级，更注意修炼内功，以抵抗经济下行可能带来的坏账冲击。
        p 网利宝的金融端资产类型主要是供应链金融。简单来说，供应链金融就是各行业龙头企业应付其上下游企业的债权。由于还款能力、可持续性强，很受平台欢迎。
        p 网利宝一直号称要打造一家互联网“产业银行”。在网利宝的设想中，公司以产业为切入点，筛选发展前景好的“朝阳产业”，与其中的的龙头企业进行战略合作，共同在垂直细分领域深耕来做供应链金融，既针对资产端挖掘具有融资需求的中小企业，又针对投资端开发具有行业特色的优质产品。
        p 资产端的积累决定了一家P2P平台最终能走多远，处于朝阳行业的企业，其现金流和盈利状况普遍好于许多夕阳产业，其受到经济下行的冲击也必然更小。P2P观察网认为，对于资产端的抉择，将成为决定平台长期发展前景的关键因素。
        p 目前网利宝已经涉足了物流货运、金融仓储、车房抵押贷、艺术品、珠宝贷等8个行业，每个行业的风控方式、风控体系虽然有所不同，但都通过数据积累实现了风险的最小化、最低化。
        p 另外，网利宝金融产品研发团队已覆盖了全国二十多个城市，他们负责与网利宝精心筛选的行业龙头企业、借款企业进行直接对接、深入了解、排查风险并洽谈合作。这种由平台的线下团队直接对接资产端的方式，是业内所鲜有的，也能在现阶段行业整体“资产荒”的环境下，保证其不急不躁、稳步发展。

        p 网利宝CEO赵润龙向P2P观察网表示：“互联网金融是传统金融的重要补充，目前行业正处于发展初期，未来的市场前景非常广阔。互联网金融的作用重在服务实体经济，因此对实体经济发展越有帮助的企业市场发展前景大。网利宝是专注于企业信贷的平台，通过“产融结合”的业务模式专门为产业中小游优质的、有借款需求的中小企业提供融资服务，可以有效盘活产业资金链，促进整个产业、实体经济的健康发展。”
        p 文章来源：http://news.ifeng.com/a/20151219/46743114_0.shtml
        p.content-bootm-right 北京网利科技有限公司
        p.content-bootm-right 2015年12月13日
