-load formatters
doctype html
html
    head
        title {{announce.page_title}}
        meta(charset="utf-8")
        meta(name="format-detection" content="telephone=no,email=no")
        meta(content="telephone=no,email=no" ,name="format-detection")
        meta(content="yes" ,name="apple-mobile-web-app-capable")
        meta( name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no")
        link(href="/static/styles/app/webview.css?v=20160201", rel="stylesheet")
        style.
          img{
            width: 100%;
            height: auto;
          }
          .announce-warp{
            overflow: hidden;
          }

    body
        .announce-warp
            .announce-title {{announce.title}}
            .announce-content
                | {{announce.content|safe}}


        script.
          window.onload = function () {
              var imgList = document.getElementsByTagName('img');
              var screenWidth = document.body.clientWidth;
              for(var i=0;i< imgList.length;i++){
                  render(imgList[i])
              }

              function render(target){
                if(target.width > screenWidth){
                  target.style.cssText = 'width: 100%; height: auto; display:block; margin: 0 auto;'
                }else{
                  target.style.cssText = 'height:'+target.width + 'px; height: auto; display:block; margin: 0 auto;'
                }

              }
          };
