-load formatters
doctype html
html
  head
    title 网利宝上榜“亚洲财经2015年中国互联网金融十佳机构”
    include include/app_header.jade
  body
    .announce-warp
      .announce-title  网利宝上榜“亚洲财经2015年中国互联网金融十佳机构”
      .announce-content
        p 随着互联网金融的不断壮大与发展，投资项目的增多，投资者往往会挑花了眼。那么，2016买理财，我们该如何选择一个稳健的理财机构呢?
        p 在万众创新的时代，跨界营销不是新鲜事儿，但要说玩的够HIGH，做的够漂亮，恐怕非网利宝莫属。就在1月16日晚，由国内知名的在线理财平台网利宝携手国内创新的娱乐营销平台大麦网，共同打造的“UP——网利宝金融摇滚演唱会”在北京举行。在这场专属投资精英的摇滚演唱会上，资本和娱乐的跨界融合再次炫出高亢的回响，奏出2016年P2P创新驱动、跨界营销的新篇章。
        p 这一切在亚洲财经网2月3日公布的“网聚民声 智投有道·2015年互联网金融十佳机构（http://www.asiafinance.cn/topic/selectionResult.jspx）”获奖名单出炉的这天有了结果。据悉，本次活动是根据投资者的有效投票、结合亚洲财经金融机构评选标准得出的结果，最终红岭创投、积木盒子、陆金所、网利宝、宜人贷等十家机构获得了“2015年中国互联网金融十佳机构”的荣誉。
        img(src='/static/imgs/app/announce/top10_1.jpg',style='width:100%;height:auto').risk-december
        p 据了解，本次活动是亚洲财经网（www.asiafinance.cn）主办的，旨在激励互联网金融企业的自律诚信建设，发掘互联网金融行业内具有承担社会责任、稳定金融秩序发展理念的平台，以树立行业标杆，推动互联网金融行业的健康、规范发展。活动自1月15日启动以来，得到了全国投资者的热情参与，累计投票数万次。
        p 本着公开、公平、公正的原则，本活动全程是以亚洲财经金融评级体系做为参考标准，由投资人自已票选最青睐的互联网金融十佳机构，为更多的投资人提供的一份靠谱的投资参考名单。在本次评选中，投资者分别票选出了”最具实力十强机构“、”风控最强十佳机构“、”用户体验最好十佳机构“，其中荣获2015年中国互联网金融十佳机构有：红岭创投、积木盒子、陆金所、网利宝、宜人贷、投哪网、开鑫贷、银票网、易贷网、微贷网。
        p 从此次获奖名单中，我们可以看出2015年中国互联网金融十佳机构的实力不光体现在背景上、同时在风控能力及用户体验上都备受投资者的信赖与认可。
        img(src='/static/imgs/app/announce/top10_2.jpg',style='width:100%;height:auto').risk-december
        p(style='text-align:center') 2015互联网金融十佳评选活动各机构亚洲财经金融评级分数统计表（图）
        img(src='/static/imgs/app/announce/top10_3.jpg',style='width:100%;height:auto').risk-december
        p(style='text-align:center') 2015互联网金融十佳评选活动各机构综合得分数统计表（图）
        p 在本次评选活动，红岭创投、积木盒子、陆金所、网利宝、宜人贷等数十家互联网金融机构搅动了整个中国金融圈的热情与活力，证明了各自实力。他们敢于接受挑战，用数据说话、以实力服众，为行业交上了一份年终成绩单，里面满载“金融人”一整年的坎坷与收获，泪水与欢笑!
        p 我们相信，2016年的互联网金融行业在国家政府的政策规范指导下，将会更加健康的发展。同时，亚洲财经网也会不断地对平台进行优化与升级,与众多的互联网金融机构携手、共同为投资者打造一个安全、可靠、合规、健康的互联网金融环境，维护投资者的共同利益，共建互联网金融行业美好的明天。
        p 媒体报道：http://roll.sohu.com/20160225/n438450374.shtml
        p.content-bootm-right 北京网利科技有限公司
        p.content-bootm-right 2016年2月3日
