-load formatters
doctype html
html
  head
    title 网利宝荣获“21世纪中国最佳商业模式单项奖”
    include include/app_header.jade
  body
    .announce-warp
      .announce-title 网利宝荣获“21世纪中国最佳商业模式单项奖”
      .announce-content
        p 2015年12月29日，在《二十一世纪商业评论》、《南方日报》、《21世纪经济报道》联合主办的2015年度中国最佳商业模式高峰论坛暨 “21世纪中国最佳商业模式评选颁奖典礼”上，网利宝荣获“21世纪中国最佳商业模式单项奖”，载誉而归！
        img(src='/static/imgs/app/announce/december.jpg').risk-december
        p 作为《二十一世纪商业评论》的品牌项目，“21世纪中国最佳商业模式评选”从项目启动到榜单公布历时半年，坚持“公开、公平、公正”的原则对参评的600多家企业进行层层筛选、逐级审核，最终网利宝、中信银行、万科、58赶集、搜狗、Uber中国等39家优质的创新企业与个人通过了组委会的严格评选，其中荣获“21世纪中国最佳商业模式金融类单项奖”的仅有9个互联网金融平台。
        p 此次论坛以“创新·汇聚商业变革力”为主题展开多方交流，诚挚邀请了南方报业传媒集团副总编辑、21世纪报系党委书记王义军，《二十一世纪商业评论》发行人吴伯凡，中信银行信用卡中心副总裁王宁桥，如家酒店集团CEO孙坚，FIIL耳机CEO彭锦洲，喜马拉雅FM CEO余建军、网利宝CEO赵润龙等众多行业大咖、权威专家、资深媒体、产业龙头的共同参与。
        p 作为福布斯2015年中国30位30岁以下创业者，网利宝CEO赵润龙受邀登台领奖，受到诸多媒体的关注。在采访中，赵润龙表示，作为最佳商业模式金融类单项奖的获得者，网利宝的最大不同是在中国互联网金融同质化竞争愈加严重的背景下，把美国、韩国做产业银行的思路引入中国，独创了“产融结合”的业务模式，即以产业为切入点，与龙头企业合作，共同挖掘优质资产，并进行信贷产品的设计与发行，以全力打造中国式产业银行。
        p 在“数据为王”的时代，网利宝商业模式的优越之处还在于具有强大的数据积累功能。赵润龙说：“凭借自主研发的IT数据风控系统，网利宝不仅可以积累产业数据，还能打造各行业的信贷标准，不断提升平台风控能力，更好地服务优质的中小企业。”
        img(src='/static/imgs/app/announce/december.jpg').risk-december
        p 当前，中国商业环境变化巨大，商业竞争的活力越来越多地取决于商业模式不断推陈创新。万众创新时代，只有具有创新基因的商业模式才能激发企业持续成长的动力。此次，网利宝在“21世纪中国最佳商业模式”评选中载誉而归，不仅是对网利宝商业模式的重大表彰，更是对其一年来创新发展的极大肯定，意味着网利宝在互联网时代走出了值得肯定的、创新发展的新思路。
        p 自2014年9月上线以来，网利宝虽然先后获得中国财经峰会2014年度最佳创新典范、 “金鼎奖”中国十佳互联网金融机构、"中国互联网行业百强企业"、中国最具竞争力领军品牌等众多荣誉，但在《网络借贷信息中介机构业务活动管理暂行办法(征求意见稿)》刚刚发布之时网利宝再获行业认可，无疑具有特殊的意义。
        p “这不仅给网利宝未来的创新发展给予了强大的鼓励，还大大提升了用户对网利宝、对行业的信任。”赵润龙表示，未来，网利宝定将以监管细则为指引、以市场需求为中心、以用户利益为根本不断创新发展、砥砺前行，不辜负每一份荣誉和信任！
        p 文章来源：<br>http://www.heb.chinanews.com/shijiazhuang/html/tzlc/201512/3113449.html

        p.content-bootm-right 北京网利科技有限公司
        p.content-bootm-right 2015年12月03日
