-load formatters
doctype html
html
  head
    title 网利宝引领跨界营销 P2P金融提振市场信心
    include include/app_header.jade
  body
    .announce-warp
      .announce-title 广州市鸿利光电股份有限公司 关于设立子公司暨对外投资的公告(2015-05-05)
      .announce-content
        p 本公司及董事会全体人员保证信息披露的内容真实、准确和完整，没有虚假记载、误导性陈述或者重大遗漏。
        p(style='font-weight:bold;') 重要内容及风险提示：
        p 1、公司计划以 1000 万美元在香港设立全资子公司香港鸿利，同时，香港鸿利以 1000 万元美元在英属维尔京群岛设立 BVI 鸿利，由 BVI 鸿利以 1000 万美元向开曼网利增资，增资完成后 BVI 鸿利占开曼网利的股权比例为 10%。
        p 2、开曼网利及其协议控制的公司均属于互联网金融产业，互联网金融属于互联网与传统金融的融合与创新。并 且，我国金融牌照严格管制、行业垄断明显、利率市场化进程缓慢、多层次金融监管体系尚未建立；因此，整个金融市场环境的不完善，会给互联网金融业务带来一定风险。
        p 3、开曼网利通过协议控制网利科技的安排存在被无效的风险。首先，在开曼网利协议控制网利科技被认定无效的情况下，BVI 鸿利有权要求开曼网利按本次投资额加 10%年利率的价格回购其向 BVI 鸿利本次发行的 15,625,879 股 B类优先股。其次，无论开曼网利通过协议控制网利科技的安排是否有效，BVI鸿利及其指定方均有权以 1 元人民币向网利科技现有股东购买网利科技 10%的股权。
        p 4、本次对外投资已经第二届董事会第二十二次会议审议通过，无需股东大会审议批准。尚须商务主管部门和外汇主管部门的审批。
        p 5、本次对外投资不构成关联交易。
        p(style='font-weight:bold;') 一、对外投资概述
        p 公司作为国内白光 LED 封装的领军企业，在 LED 行业已树立了品牌形象，为了进一步抓住产业发展机遇，公司计划涉足互联网金融行业，通过互联网金融平台与供应链金融结合，使得 LED 产业链上的中小企业可以更高效地获得低成本融资，极大缓解资金紧张局面。因此，公司计划以 1000 万美元在香港设立全资子公司香港鸿利投资有限公司（暂定名，具体以注册审批后的名称为准，以下简称“香港鸿利”），主要作为公司以香港为依托，面向国外的投融资平台。同时，香港鸿利以 1000 万元美元在英属维尔京群岛设立全资子公司HONGLITRONIC Corporation （暂定名，具体以注册后的名称为准，以下简称“ BVI 鸿利”），并由 BVI 鸿利以 1000 万美元向 Wang Li Finance Corporation（以下简称“开曼网利”）增资，增资完成后 BVI 鸿利占开曼网利的股权比例为 10%。
        p 本次对外投资不构成关联交易，也不构成《上市公司重大资产重组管理办法》规定的重大资产重组。根据公司相关制度规定，本次对外投资额度在董事会决定权限范围内，已经第二届董事会第二十二次会议审议通过，无需股东大会审议批准。尚须商务主管部门和外汇主管部门的审批。
        p(style='font-weight:bold;') 二、投资标的的基本情况
        p 1、在香港设立全资子公司
        p 为了更好地满足公司未来发展的需要，更好地把握境外投资机会，公司拟用自有资金1000万美元以现金出资的方式在香港设立全资子公司香港鸿利投资 有限公司（暂定名，具体名称以注册审批后的名称为准），主要作为公司以香港为依托，面向海外的投融资平台，实施公司在国外的并购战略。
        p 2、在英属维尔京群岛设立全资孙公司
        p 香港鸿利拟用自有资金1000万美元以现金出资的方式在英属维尔京群岛设立全资子公司HONGLITRONIC Corporation （暂定名，具体以注册审批后的名称为准）。
        p 3、Wang Li Finance Corporation 的基本情况
        p Wang Li Finance Corporation（以下简称“开曼网利”）为一家依开曼群岛法律设立并存续的有限公司， 设立时间2014年2月12日。
        p 开曼网利通过在香港设立的网利金融有限公司在中国北京市设立全资子公司北京网利信息技术有限公司（以下简称”网利信息“，设立时间为 2014年5月12日， 注册资本100万美元）， 网利信息通过协议控制北京网利科技有限公司（以下简称“网利科技”，设立时间为 2014年1月27日，注册资本 5,000万元人民币）。
        p 开曼网利及其协议控制的境内公司网利科技主营业务为互联网金融网贷业务，以行业资产证券化为核心，与国内各行业核心企业合作进行信贷产品设计及发行，为各行业优质的中小企业提供金融服务，目前主要覆盖的行业包括：汽车、房屋、物流、红木等。网利科技通过与行业核心企业、担保公司等合作机构合作进行资产证券化、开发信贷理财产品，并通过网利宝平台（包括但不限于网利宝网站与移动APP客户端）向大众投资人进行线上销售。网利宝平台作为信息中介平台，只提供信息与咨询服务，不介入资金交易环节，公司收入主要来源于向借款人收取的居间服务费。
        p 网利科技互联网金融贷款业务于2014年8月正式上线，截至2015年3月31日，网利宝平台已积累了超过25万注册投资人。
        p 截至 2015 年3月31日，开曼网利协议控制的境内公司网利科技总资产526.08万元人民币，净资产-60.47万元人民币； 2015年1月-3月实现营业总收入406.29万元人民币，净亏损371.88万元人民币（以上数据已经中汇会计师事务审计）。
        p 开曼网利及其协议控制的境内公司与本公司无关联关系。
        p 公司拟由BVI鸿利以1000万美元向开曼网利进行增资，增资完成后，开曼鸿利占开曼网利的股权比例为10%。
        p 增资前开曼网利的股权结构如下：
        p 序号 	股东名称 	普通股(股) 	A 类优先股(股) 	持股比例(%)
        p 1	Dragon Long Limited 	89,440,000 	--	63.60
        p 2	Luna Magnet Limited 	5,560,000 	--	3.95
        p &nbsp  Mighty Sino
        p 3 Investments Limited   5,000,000  --	3.56
        p 4	ESOP	11,100,000	--	7.89
        p &nbsp  IDG Technology
        p 5 Venture Investment -- 29,533,105 	21.00
        p &nbsp V,L.P.
        p 合计 	 	111,100,000	29,533,105 	100.00
        p 增资后开曼网利的股权结构如下：
        p 序号 	股东名称 	普通股(股)	A 类优先股(股)  B 类优先股(股)  持股比例(%)
        p 1	Dragon Long Limited	89,440,000	--	 	57.24
        p 2	Luna Magnet Limited/Mighty Sino  	5,560,000	--	 	3.56
        p 3 Investments Limited  5,000,000 	--	 	3.20
        p 4 ESOP / IDG Technology 11,100,000 	--	 	7.10
        p 5 Venture Investment / V,L.P. 	--	29,532,911	 	18.90
        p 6	HONGLITRONIC / Corporation  -- 15,625,879 	10.00%
        p 合计	 	111,100,000 	29,532,911 	15,625,879 	100.00
        p(style='font-weight:bold;') 三、对外投资合同的主要内容
        p 1 、 协 议 签 署 方 ： Wang Li Finance Corporation 、 IDG Technology Venture Investment V, L.P. 、 Dragon Long Limited 、 Luna Magnet Limited、Mighty Sino Investments Limited、公司、网利金融有限公司、网利信息、网利科技。协议签署时间为2015年5月4日。
        p 2、本次投资后开曼网利估值1亿美元，公司通过BVI鸿利以现金1000万美元认购开曼网利增发的15,625,879股B类优先股，占开曼网利全部已发行股份(含普通股、A类优先股和B类优先股)的10%。
        p 3、本次投资款1000万美元将在开曼网利向BVI鸿利交割B类优先股的当日支付。
        p 4、BVI鸿利及其指定方有权以1元人民币向网利科技现有股东购买网利科技10%的股权。
        p 5、开曼网利的董事会将由4名董事构成，BVI鸿利有权指定1名董事，A类优先股股东有权指定1名董事，剩余2名董事由普通股股东指定。其中，普通股股东指定的1名董事享有2票投票权，其他董事享有1票投票权。
        p 6、如开曼网利通过协议控制网利科技的安排被认定无效或不可执行，BVI鸿利有权要求开曼网利按本次投资额加10%年利率的价格回购其向BVI鸿利本次发行的15,625,879股B类优先股。
        p 7、BVI鸿利作为开曼网利B类优先股股东，享有优先清算权利。
        p 8、BVI鸿利享有在本次投资实施后6个月内以3000万美元购买占开曼网利总股本10%的B类优先股的期权。
        p(style='font-weight:bold;') 四、对外投资的目的、存在的风险和对公司的影响
        p 1、对外投资的目的
        p 公司作为国内白光LED封装的领军企业，在LED行业已树立了品牌形象，通过向开曼网利增资，公司将进入互联网金融领域，率先与开曼网利及其协议控制的网利科技在LED行业战略合作并开展LED产业金融服务，力争成为LED行业金融服务的领跑者。同时，LED行业的中小企业可以更高效地获得融资支持，极大缓解资金紧张局面，有利于LED产业发展，也有助于公司更快拓展LED业务，提高公司综合竞争力。逐步建立公司LED主业＋互联网融＋车联网的生态平台。
        p 2、对外投资存在的风险
        p （1）标的公司的估值风险
        p 公司拟使用1000万美元向开曼网利投资，开曼网利目前估值10000万美元（投资后估值）。本公司提醒投资者，虽然本公司在本次投资过程中遵循谨慎原则，履行了勤勉、尽职的职责，但公司未来经营仍然受多方面因素影响，可能出现标的资产价值与实际情况不符的情形。
        p （2）标的公司的经营风险
        p 根据《互联网信息服务管理办法》的规定，网利科技尚须取得《互联网信息服务增值电信业务经营许可证》，根据网利科技的说明，网利科技尚在筹备申请该经营许可证。网利科技存在未取得经营许可证而被行政处罚的法律风险。
        p （3）标的公司的业务风险
        p 开曼网利及其协议控制的公司均属于互联网金融产业，互联网金融属于互联网与传统金融的融合与创新。并且，我国金融牌照严格管制、行业垄断明显、利率市场化进程缓慢、多层次金融监管体系尚未建立；因此，整个金融市场环境的不完善，会给互联网金融业务带来一定风险。
        p （4）政府部门审批的风险
        p 本次对外投资尚须商务主管部门和外汇主管部门的审批，存在审批未通过的风险。
        p （5）标的公司协议控制无效的风险
        p 开曼网利通过协议控制网利科技的安排存在被认定无效的风险。首先，在开曼网利协议控制网利科技被认定无效的情况下，BVI鸿利有权要求开曼网利按本次投资额加10%年利率的价格回购其向BVI鸿利本次发行的15,625,879股B类优先股。其次，无论开曼网利通过协议控制网利科技的安排是否有效，BVI鸿利及其指定方均有权以1元人民币向网利科技现有股东购买网利科技10%的股权。
        p 3、对外投资对公司的影响
        p 本次投资有利于拓展公司业务，提高公司综合竞争力，为公司增加新的利润增长点，符合公司的发展战略和全体股东的利益。
        p(style='font-weight:bold;') 五、本次投资不构成关联交易。
        p(style='font-weight:bold;') 六、其他
        p 关于上述对外投资的最新进展情况，公司将会及时披露
        p(style='font-weight:bold;') 七、备查文件
        p 1、第二届董事会第二十二次会议决议
        p 2、《股权收购协议》
        p 特此公告。
        p.content-bootm-right 广州市鸿利光电股份有限公司董事会
        p.content-bootm-right 2015 年 5 月 4 日
