-load formatters
doctype html
html
  head
    title 网利宝签约中诚信征信，为用户安全投资再添利器
    include include/app_header.jade
  body
    .announce-warp
      .announce-title 网利宝签约中诚信征信 为用户安全投资再添利器
      .announce-content
        p 不论是被纳入两会议题，还是被编入十三五规划，政府重视互联网金融的信号越来越强烈。近日，在行业健康发展的背景下，国内知名在线理财平台网利宝签约国内领先的信用服务机构“中诚信征信有限公司”，为用户的安全投资再添利器，成为互联网金融平台与征信机构合作的又一成功范例。
        p 自央行下发《关于做好个人征信业务准备工作的通知》开启中国征信市场化闸门，网利宝便积极与首批获准开展个人征信业务准备的8家机构进行对接，最终与“中诚信征信”签订战略合作协议。
        p 网利宝表示，签约后平台不仅会更加了解客户，给优质客户提供更佳的金融服务，还能及时发现有不良信用记录的客户，加强平台风险的防范与管理，尽早规避欺诈风险，提前做出更加合理的风控决策。
        p 互联网金融在频繁的跑路、逾期事件中蓬勃发展，不仅将我国征信不健全的问题推向焦点，更让各个平台看到“安全”才是影响用户投资最关键的问题。作为国内知名的在线理财平台，网利宝独创“产融结合”的业务模式在垂直细分领域深耕，执行360度全方位风险控制，将风险控制在贷前、打造风险闭环，保证用户投资安全。网利宝透露，平台为防范风险早就研发了IT数据风控系统，在诸多行业里有了较深的数据积累，与中诚信签约后，将借助其在征信方面的专业能力，提高平台对借款企业的信用审核能力、平台对融资项目的风险把控能力，增强平台的整体风控水平。
        p “征信产业的发展不仅能有效防范金融风险，更能有效改善贷款质量。”网利宝CEO赵润龙说，当前征信体系信息不对称，且相对滞后，平台通过在每个深耕的产业内部建立更强大、更精准的数据库，不仅能实现信息的实时共享、风险的及时提示，更有利于形成行业的风控标准，推动中国征信体制建设。
        p 文章来源：http://news.ifeng.com/a/20151116/46260550_0.shtml
        p.content-bootm-right 北京网利科技有限公司
        p.content-bootm-right 2015年11月16日
