-load formatters
doctype html
html
  head
    title 网利宝亮相第十一届北京国际金融博览会
    include include/app_header.jade
  body
  .announce-warp
      .announce-title 网利宝亮相“第11届北京金博会” CEO指路行业未来
  .announce-content
    p 11月1日，被誉为“中国金融业风向标”的第十一届北京国际金融博览会历经4天展期圆满落下帷幕。在此次国内规模最大、最具影响力、国际化程度最高的金融博览会上，以网利宝为代表的P2P平台受到各界关注。
    p 据悉，本届博览会是由北京市人民政府主办，中国人民银行、中国银监会、中国证监会、中国保监会为支持单位的金融盛会，以“新常态、新功能、新金融”为主题，重点展示了我国金融业改革、创新的重大成果。

    p 在当前中国经济持续疲软的环境下，对于投资者而言，选择一种合适的理财方式尤为重要。展览会现场，一家名叫“网利宝”的在线理财平台吸引了众多参展人员的驻足观看，工作人员就大家感兴趣的业务模式、风控手段、主打产品、组织架构等问题进行了耐心解答，不少粉丝现场注册投资。

    p 在29日下午举办的，由创业精英参与的“当互联网遇上金融”分论坛上，网利宝CEO赵润龙针对时下较为火热的“互联网金融行业发展过快，是否存在资产泡沫趋势”“央行双降对P2P行业发展有什么影响”等问题，提出了独到的观点。
    p 赵润龙说，互联网金融未来还有几十倍的成长空间，对于平台而言，不要用自己的短处去打别人的长处，重要的是选好自己的商业模式，从最擅长的领域切入，确立自己的主营业务，然后以此为中心延伸、扩展，提升平台的综合竞争力。
    p 时下，互联网金融在政府的引导下发展得愈加规范、稳定，连资本市场也变得更加理性，没有上半年那样火热。在这样的环境下，P2P平台该如何自处?赵润龙认为，“环境好的时候，资本蜂拥而来，稳健的平台会得到健康的发展;环境不好的时候，犹如大浪淘沙，虽然鱼龙混杂、鱼目混珠，但潮水退却后，只有好的平台会被剩下。”所以，企业最终要考虑的是不烧钱能不能走下去的问题，不要过度关注资本市场的情况，应练好内功。

    p 2015年互联网金融不仅得到李克强总理的支持，更迎来了监管上的鼓励，“第十一届北京国际金融博览会”为各金融机构提供了一个交流、学习的平台。网利宝表示，参加此次盛会不仅向客户充分展示了平台的创新成果，更看到了整个金融行业的发展状况。未来，平台将紧跟党和国家的战略部署，积极践行“互联网金融服务实体经济”的理念，不断提升平台为中小企业服务的能力
    p 文章来源：http://gb.cri.cn/44571/2015/11/02/7872s5151970.htm
    p.content-bootm-right 北京网利科技有限公司
    p.content-bootm-right 2015年10月29日
