-load formatters
doctype html
html
  head
    include include/app_header.jade
  body
    .announce-warp
      .announce-title 平台风险准备金公示（2015年12月）

      .announce-content
        p 尊敬的网利宝用户您好：
        p 风险准备金是指公司针对风险业务计提的一项准备金，专款专用，用于风险业务出险而带来损失的一项弥补。 随着业务规模的不断发展，为满足用户对投资更安全、更透明的需求，特将平台风险准备金进行公示。
        p 风险准备金的用途：
        p 1、流动性备付：应对流动性风险，先行垫付逾期贷款；
        p 2、核销坏账，对未收回的逾期贷款进行核销。
        p 网利宝平台风险准备金将由银行进行监管，以确保风险准备金账户的独立性，相关信息如下：
        p 账户名称：北京网利科技有限公司
        p 开户银行：中信银行
        p 账   号：7117810182600013212
        p 风险准备金额度：10,032,286.14元
        img(src='/static/imgs/app/announce/december.jpg').risk-december
        p.content-bootm-right 北京网利科技有限公司
        p.content-bootm-right 2015年12月03日



