-load formatters
doctype html
html
  head
    title 网利宝获“2015年度中国互联网金融最具竞争力企业”
    include include/app_header.jade
  body
    .announce-warp
      .announce-title 网利宝获“2015年度中国互联网金融最具竞争力企业”
      .announce-content
        img(src='/static/imgs/app/announce/announce_qiye.jpg',width='357',height='469').risk-december
        p(style='text-align:center') 网利宝荣获“2015年度中国互联网金融最具竞争力企业”
        p 近日，在中关村互联网金融研究院、中国互联网金融三十人论坛(cif30)主办的以“助力‘供给侧改革’服务实体经济”为主题的“2016中关村互联网金融论坛暨第三届普惠金融论坛”上，国内知名在线理财平台“网利宝”斩获“2015年度中国互联网金融最具竞争力企业”奖。
        p 据了解，在《征求意见》刚刚落地之际举办的此次论坛不仅得到了银行机构、互联网金融企业和众多中小微企业的高度关注，还得到了监管层的高度重视。全国政协委员、中国银行业监督管理委员会原副主席蔡鄂生，全国政协委员、中国经济社会理事会理事、著名经济学家、中关村互联网金融院院长贾康，中国人民银行金融研究所所长姚余栋等共同出席盛会，与企业代表就行业发展方向、平台发展战略等话题展开深入探讨。
        p 作为业界最高规格的盛会，此次论坛不仅为互联网金融、小微金融与传统金融机构的深耕细作、战略转型、创业创新和投资合作提供了新鲜智慧和前沿指导，还重点表彰了网利宝、人人贷等2015年在P2P行业以及小微金融行业中具有卓越贡献的P2P平台，授予“2015年度中国互联网金融最具竞争力企业”的殊荣。
        p 如今，互联网金融作为实体经济的服务者正在经历着一场史无前例的变革，在供给侧改革的浪潮之下，网利宝作为创新服务与创新产品的供给方，以打造“产业银行”为方向，在产业内部深耕，始终以创新、安全和优质服务为理念，不断加强自身修炼，不断给用户提供多元化的理财产品。仅在上线一年多的时间里，网利宝便服务近2000家中小企业，获得100多万用户的信赖，把40多亿资金源源不断地输入到了实体经济的发展中去，有效助推了经济的持续增长。
        p 作为普惠金融的见证者和亲历者，网利宝专注企业信贷，更以“产融结合”的业务模式践行着“服务实体经济”的重任。对于此次获奖，网利宝CEO赵润龙说，无论在《指导意见》发布之前，还是在《征求意见》落地之后，平台各项工作仅仅围绕用户需求展开，始终把创新发展、安全至上放在各项工作的首位。2015年年末获此殊荣不仅是对网利宝的鼓励，更是对用户投资选择的肯定。
        p 随着互联网金融全面合法化和监管主体明确化，行业必然重新洗牌。
        p 作为“2014最佳创新典范奖”、“中国十佳互联网金融机构”、“中国互联网金融行业百强企业”、“中国最具竞争力领军品牌”、“21世纪中国最佳商业模式金融类单项奖”等多项行业大奖的获得者，网利宝表示，未来会紧跟政府“供给侧改革”的方向和各项方针政策，以多元化优质产品与服务不断刺激用户投资需求，帮助实体经济更快、更健康地发展。
        p 文章来源：http://house.chinadaily.com.cn/2016-01/12/content_23047672.htm
        p.content-bootm-right 北京网利科技有限公司
        p.content-bootm-right 2015年1月8日
