-load formatters
doctype html
html
  head
    title 网利宝通过CECA“可信网站”资质认证并通过安全联盟验证
    include include/app_header.jade
  body
    .announce-warp
      .announce-title 网利宝再获双重资质认可
      .announce-content
        p 近日，国内知名在线理财平台网利宝顺利通过中国电子商务协会（CECA）“可信网站”的资质认证，及品牌宝荣誉档案。
        p 获得“可信网站”资质认证，网利宝通过了中国电子商务协会针对“网站信用信息、ICP备案信息、域名注册信息、工商登记信息、身份证明信息”等多项网站信息进行的全面审核。
        img(src='/static/imgs/app/announce/ceca_1.png',style='width:100%;height:auto').risk-december
        p(style='text-align:center') 网利宝通过中国电子商务协会（CECA）“可信网站”的资质认证


        p 据了解，中国电子商务协会是由信息产业部申请，经国务院批准、民政部核准2000年登记注册的全国性社团组织，而“可信网站”认证服务是中国电子商务协会为了推动我国电子商务行业网络诚信建设专门设立的认证体系，其业务活动受工信部的指导和国家民政部的监督管理。目前，获得“可信网站”认证的已有阿里巴巴、网易、京东商城、苏宁、电信、小米、淘宝、支付宝等知名网站。
        p “可信网站”资质认证是权威部门对平台诚信经营的认可，对平台整体资质、实力的肯定，不仅能提升平台诚信品牌的展示能力，还能有效提高广大用户辨别网站真伪的能力。通过认证的网站就会得到“可信网站”的认证标识，该标识目前已放在网利宝官网底端位置，用户点击标识就可链接至认证页面，查看平台的认证信息和安全信息。
        p 网利宝获准通过“品牌宝荣誉档案”，标志着网利宝官网、网利宝官方认证微信、网利宝APP等全部通过了品牌宝的全方位审核。
        img(src='/static/imgs/app/announce/ceca_2.png',style='width:100%;height:auto').risk-december
        p(style='text-align:center') 网利宝获准通过品牌宝荣誉档案
        p 据了解，品牌宝是安全联盟验证唯一指定的验证审核服务平台，其审核标准以国家法律法规为基础，以国家网址审核标准为依据，根据不同行业的细分审核标准对网站进行全方位审核。目前，品牌宝合作客户已经覆盖百度、腾讯、招商银行等近800家机构或企业。
        p 通过验证后，网利宝已被收录至品牌宝（安全联盟）信誉档案库，正式获得了权威验证标识及信誉档案证明，开始接受全国用户的公开查询。
        p 作为互联网金融行业协会会员，自2014年9月上线，网利宝始终坚持“安全第一”的原则诚信经营，先后获得“中国最具竞争力领军品牌”“中国财经峰会2014年度最佳创新典范奖 ”“2014年度最具创新活力互联网金融企业奖 ” “‘金鼎奖’中国十佳互联网金融机构称号”等众多荣誉，不仅通过了“iTrust互联网信用评价中心”的良好认证，还被评为“中国互联网诚信龙头单位”，深受用户认可。目前，网利宝完成近40亿交易额无一例坏账。
        p 如今，在大量钓鱼、仿冒、欺诈的不诚信网站频繁引发互联网金融行业安全事件的背景下，网利宝顺利通过“可信网站”认证、进入“品牌宝荣誉档案”无疑会提升该平台在用户心中的信誉度，提振用户对行业的信心。
        p 文章来源：http://mt.sohu.com/20151225/n432585403.shtml
        p.content-bootm-right 北京网利科技有限公司
        p.content-bootm-right 2015年12月24日
