-load formatters
doctype html
html
  head
    title A轮融资
    include include/app_header.jade
  body
    .announce-warp
      .announce-title A轮融资
      .announce-content
        img(src='/static/imgs/app/announce/trading_a.jpg',style='width:100%;height:auto').risk-december

        p.content-bootm-right 北京网利科技有限公司
        p.content-bootm-right 2014年2月27日
