-load formatters
doctype html
html
  head
    title 网利宝农行卡用户专享福利
    include include/app_header.jade
  body
    .announce-warp
      .announce-title 网利宝农行卡用户专享福利

      .announce-content
        p 尊敬的网利宝农行卡用户：
        p 近日，网利宝接第三方支付通道通知：应中国农业银行要求将暂停所有P2P交易接口功能。且由于第三方支付通道要求用户资金必须同卡进出，以保证用户资金安全。
        p 目前网利宝农行卡用户提现功能不受影响，由此给您带来了多种不便，我们深表歉意！为了不影响您未来的充值、投资，我们建议您尽早更换平台支持的其他银行卡。如需解绑农行卡，用户可在APP端自行解绑，或发送解绑邮件至邮箱jiesuan@wanglibank.com或致电客服4008-588-066，由工作人员为您解绑。
        p 为回馈农行卡用户对网利宝一直以来的支持、信赖与理解，农行卡用户在1月29日至2月21日期间在APP端重新绑定非农行卡并用新卡充值5000元将获赠50元红包（1%比例抵扣投资额，限投3月及以上标，使用有效期至3月31日），网利宝近日会以短信形式告知相关农行卡用户。
        p 如有相关疑问，欢迎致电客服：4008588066。
        p 值新春佳节到来之际，恭祝广大用户新春如意，合家欢乐！
        p.content-bootm-right 北京网利科技有限公司
        p.content-bootm-right 2016年2月3日
