-load formatters
doctype html
html
  head
    include include/app_header.jade
  body
    .announce-warp
      .announce-title 阳光保险对资金账户承保

      .announce-content 交易资金损失险保障网利宝平台交易的的个人客户账户在充值、提现、申购、赎回交易过程中的资金被他人盗转、盗用等保险事故造成的个人账户资金损失，由此造成的直接经济损失，保险公司将按照保险合同约定及时赔付。
