-load formatters
doctype html
html
  head
    title 网利宝引领跨界营销 P2P金融提振市场信心
    include include/app_header.jade
  body
    .announce-warp
      .announce-title 网利宝引领跨界营销 P2P金融提振市场信心
      .announce-content
        p 在万众创新的时代，跨界营销不是新鲜事儿，但要说玩的够HIGH，做的够漂亮，恐怕非网利宝莫属。就在1月16日晚，由国内知名的在线理财平台网利宝携手国内创新的娱乐营销平台大麦网，共同打造的“UP——网利宝金融摇滚演唱会”在北京举行。在这场专属投资精英的摇滚演唱会上，资本和娱乐的跨界融合再次炫出高亢的回响，奏出2016年P2P创新驱动、跨界营销的新篇章。
        img(src='/static/imgs/app/announce/rock_1.jpg',style='width:100%;height:auto').risk-december
        p(style='text-align:center') 中国朋克元老级组合“反光镜”登台表演
        p 中国朋克元老级组合“反光镜”登台表演
        p 跨界营销：发挥协同效应提升品牌认同
        p 中国P2P行业经过近三年的迅猛发展，至今已经拥有3400多家P2P平台，行业累计历史成交额高达1万多亿元。随着P2P平台的激增，行业竞争加剧，洗牌加速。而P2P提供的又是虚拟服务，传统的营销和获客方式无法建立与投资人群的情感沟通，缺乏品牌黏稠度和忠诚度。在此背景下，各家P2P平台开始升级自己的营销策略，开启跨界营销之旅。
        p “跨界营销”的难点在于，看似并无关联的双方，如何能够玩转跨界?
        p 网利宝作为在线理财平台，其主要客户群是具有互联网思维、对生活充满热爱和激情的中青年投资精英;而酷爱摇滚的也是在生活中非常热情、奔放，充满活力、积极向上的群体。二者在目标群体和精神内涵上具有明显的一致性。
        p 此次，网利宝与大麦网的合作之所以能够成功，就在于双方找准了基于目标群体的核心契合点。网利宝有关负责人表示，“牵手大麦网等第三方合作伙伴，开展跨界营销，能借助其广阔的客户资源，增强潜在客户对于网利宝理财产品的了解，让网利宝更加贴近目标客户群，拓展新的获客渠道、盈利渠道。”
        p 网利宝打造的“资本+娱乐”的跨界营销模式受到业内人士的高度评价。业内人士认为，一方面，双方可以共同分享各自领域的优势资源，在进一步扩大对方受众群体的同时，为自身的进一步营销铺路，形成双赢乃至多赢的局面，发挥1+1>2的协同效应。另一方面，跨界营销有助于网利宝加速对品牌的塑造，在提升品牌知名度的同时，增加品牌黏稠度和认同度，在P2P市场中占领先机。
        img(src='/static/imgs/app/announce/rock_2.jpg',style='width:100%;height:auto').risk-december
        p(style='text-align:center') 网利宝金融摇滚音乐会现场
        p 网利宝金融摇滚音乐会现场
        p 创新驱动：确保安全稳健助推行业发展
        p 从2015年国家出台的一系列P2P相关政策可以看出，国家对于P2P行业是持支持发展与规范发展并重的态度，可以预见，2016年P2P行业定会更加健康有序。但在现阶段，尤其在营销方面，不少平台采取烧钱、红海式地推的方式获客，果真是有钱任性，但这样做的后果往往是加大公司成本，导致借款成本变相增加，这对创业平台的长期发展来讲是非常不利的。
        p 与上述营销方法不同，网利宝的推广手段极具互联网特色，做跨界营销的手段也非常老辣。为保持自身可持续发展，该平台紧抓其业内金融属性最强的本质，以风控为核心，打破传统，谋求创新式营销。从2014年起，网利宝就深入互联网领域，与迅雷、爱奇艺、车联网等网站开展跨界合作。此次，网利宝开展“UP——金融摇滚夜”更是找到了金融与摇滚的核心契合点。
        p 在网利宝看来，跨界营销纵然可以增强平台的知名度，但通过活动导入流量、吸引用户、为用户提供安全、稳健、高收益的投资机会只是第一步，最重要的是希望用户通过理财享受多彩人生。
        p 或许正式凭借这样独特的发展理念，从诞生第一天起，网利宝就在业内独树一帜，发力“产融结合”，以产业为切入点深耕垂直细分领域，通过与“行业龙头”进行战略合作，打造“产业银行”。目前，网利宝已经凭借其独创的业务模式，建立了一个稳定的、获取优质资产的渠道，赢得了“差异化与精细化发展”的市场先机。
        p 如今，在竞争日趋激烈、同质化竞争日益凸显的背景下，P2P更需要把业务创新、产品创新、商业模式和营销创新相结合，以创新驱动发展，这样才能在角逐中脱颖而出，进入良性发展的快车道。业内专家指出，网利宝的跨界营销模式对整个行业将产生积极的借鉴意义。
        p 文章来源：http://www.yangtse.com/jdnews/csnews/2016/01/2211659.html
        p.content-bootm-right 北京网利科技有限公司
        p.content-bootm-right 2016年1月16日
