style.
  .confirm-warp{position: fixed; top: 0; bottom: 0; width: 100%;  z-index: 1000;display: none}
  .confirm-body-warp {
      position: relative; width: 100%; height: 100%; display: -webkit-box;-webkit-box-pack: center;-webkit-box-align:center; background: rgba(0,0,0,.5);
  }
  .confirm-body{
    width: 14rem;
    background: #fff;
    border-radius: 0.3rem;
    font-size: .9rem;
  }
  .confirm-cont{
    padding: 1.25rem .75rem;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  .confirm-touch{
    display: -webkit-box;
    color: #4391da;
  }
  .confirm-btn{
    -webkit-box-flex: 1;
    text-align: center;
    padding: .5rem 0;
  }
  .confirm-btn:first-child{
    border-right: 1px solid #e5e5e5;
  }
.confirm-warp
  .confirm-body-warp
    .confirm-body
      .confirm-cont
        .confirm-text 充值成功
      .confirm-touch
        .confirm-cancel.confirm-btn 取消
        .confirm-certain.confirm-btn 好

