.regist-process-img
  if processnum == '1'
    img(src='/static/imgs/mobile/process/first.png')
    .regist-process-dec 首次充值成功，即可获得80元红包
  if processnum == '2'
    img(src='/static/imgs/mobile/process/second.png')
    .regist-process-dec 首次充值成功，即可获得80元红包
  if processnum == '3'
    img(src='/static/imgs/mobile/process/three.png')
