
.tran-warp
  .tran-mask
    .tran-main
      .tran-loading
        include  include/weixin_loading
      .tran-head
        .head-title 设置交易密码
        .tran-close
      .tran-sign 请设置6位数字作为交易密码
      .tran-input
        .six-digt-password
          i.test
            b.circle
            b.line
          i
            b.circle
            b.line
          i
            b.circle
            b.line
          i
            b.circle
            b.line
          i
            b.circle
            b.line
          i
            b.circle
            b.line
          span.blue

.tran-alert-error
  .tran-alert-mask
    .alert-main
      .tran-dec
        .error
          img(src='/static/imgs/mobile/password/error.png')
          p 两次交易密码输入不正确，请重新输入
        .success
          img(src='/static/imgs/mobile/password/success.png')
          p 交易密码找回成功，请牢记！
      .alert-bottom 知道了

.tran-alert-entry
  .tran-alert-mask
    .alert-main
      .tran-dec.tran-dec-entry
         p 交易密码输入不正确，您还可以输入<span class='count_pwd'>2</span>次
      .alert-bottom 重新输入

.tran-alert-lock
  .tran-alert-mask
    .alert-main
      .tran-dec.tran-dec-entry
         p 您尚未绑定银行卡<br>如需找回交易密码，请先绑定银行卡
      .lock-bottom
        .lock-close 取消
        .lock-back 找回密码