
.tran-warp
  .tran-mask
    .tran-main
      .tran-head
        .head-title 设置交易密码
        .tran-close
      .tran-sign 请设置6位数字作为交易密码
      .tran-input
        input(type='tel',name='password',id='password', oncontextmenu="return false", onpaste="return false", oncopy="return false", oncut="return false", autocomplete="off", value="", maxlength="6", minlength="6")
        .six-digt-password
          i.test
            b.circle
            b.line
          i
            b.circle
            b.line
          i
            b.circle
            b.line
          i
            b.circle
            b.line
          i
            b.circle
            b.line
          i
            b.circle
            b.line
          span.blue
