title 网利宝
meta(charset="utf-8")
meta(content="telephone=no,email=no" name="format-detection")
meta(content="yes" name="apple-mobile-web-app-capable")
script.
  (function(){var c=1;var a=1;if(window.devicePixelRatio>=2){c*=0.5;a*=2}var b='<meta name="viewport" content="initial-scale='+c+", maximum-scale="+c+", minimum-scale="+c+', width=device-width, user-scalable=no" />';document.write(b);document.documentElement.style.fontSize=20*a+"px"})();
link(href="/static/styles/mobile/mobile.css", rel="stylesheet")
- csrf_token

