-load formatters
//header
//    //hgroup 赚钱哪里好 就在网利宝
//    a(href="javascript:;").back-weixin
//        span 返回
//    span.people-box
//        if user.is_authenticated
//            span.sub-name {{user | display_name}}, 您好!
//            a(href="/accounts/logout?next=/").sub-logout 退出
