-load formatters
-load mathfilters
html
    head
        link(rel="stylesheet",href="/static/stylesheets/activity-template.css")
        link(rel="stylesheet",href="/static/css/bootstrap.min.css")
    body
        .box(style='width:1100px;border:1px solid #000')
            h3.avariety 多种选择
              .avariety-a
                .avariety-s
                  .tu-one
                    .font-zi
                  div.avariety-tu
                      .avariety-tu1
                         .circle
                            p 7%
                         .circle.circle-two
                            p 10%
                         .circle.circle-three
                            p 11%
                         .circle.circle-four
                            p 13%
                         .circle.circle-five
                            p 15%
                    p
                      span
                        img(src="/static/images/xunlei-denglu/xunlei-anquan.png")
                      |100%本息保障
                .avariety-s
                  .tu-one.tu-two
                    .font-zi.zi-on
                  div.avariety-tu
                      .avariety-tu1
                         img(style='padding:17px 0 0 2px')(src="/static/images/xunlei-denglu/zhou1.png")
                    p
                      span
                        img(src="/static/images/xunlei-denglu/xunlei-anquan.png")
                      |100%本息保障
                .avariety-s
                  .tu-one.tu-three
                    .font-zi.zi-oa
                  div.avariety-tu
                      .avariety-tu1
                         img(src="/static/images/xunlei-denglu/hui-tu.png")
                    p
                      span
                        img(src="/static/images/xunlei-denglu/xunlei-anquan.png")
                      |100%本息保障
                .avariety-s
                  .tu-one.tu-four
                    .font-zi.zi-ob
                  div.avariety-tu
                      .avariety-tu1
                         img(src="/static/images/xunlei-denglu/men-tu.png")
                    p
                      span
                        img(src="/static/images/xunlei-denglu/xunlei-anquan.png")
                      |100%本息保障