-load formatters
-load mathfilters

html
  head
    link(rel="stylesheet",href="/static/stylesheets/activity-template.css")
    link(rel="stylesheet",href="/static/css/bootstrap.min.css")
  body
    // 顶部 和 logo
    include include/activityTop
    // banner
    .wrap(style="width:100%;background:url('/media/{{result.banner}}') no-repeat center center;height:500px")
      if result.is_login
        .login(style="width:1100px;margin:0 auto;height:500px;position:relative")
          include include/activityLogin

    // 模块盒子
    .gold(style='width:1100px;margin:0 auto;padding-right:0;')

      // 活动时间和描述模块
      if result.is_activity_desc != 0
          if result.is_activity_desc == 1
            include include/activity_time
          else
            .activity_time
              p.time_texta {{result.desc_time}}
              p.time_text {{result.desc}}
            // 荣誉图标
            if result.desc_img
              .activity_time_row
              for img in result.desc_img
                .time-span
                  dl
                    dt.time-com(style="background: url('/media/{{img.img}}') no-repeat")
                    dd.time-zi
                      h3 {{img.name}}
                      p {{img.desc_one}}
                      p {{img.desc_two}}

      // 奖品展示模块
      if result.is_reward != 0
        if result.is_reward == 1
          include include/activity_prize
        else
          .prize-all
            .span6
              img(src="/media/{{result.reward_img}}").prize-jiangli
            if result.reward_desc
              .span5-omega
                ul.prize-all-right
                  for des in result.reward_desc
                    li {{des}}

      // 邀请好友模块
      if result.is_introduce != 0
        if result.is_introduce == 1
          .invitation
        else
          .invitation(style="background:url('/media/{{result.introduce_img}}') center center no-repeat")

        .invitation-container
          a(href="/accounts/invite/").invitation-btn 邀请好友

      // 新手注册流程模块
      if result.is_teacher != 0
        if result.is_teacher == 1
          include include/activity_process
        else
          include include/activity_process

      // 使用规则模块
      if result.is_rule_use != 0
        .wry-act-rule
          h1.wry-act-rule-h 使用规则
          ul.wry-act-rule-ul
            if result.is_rule_use == 1
              li 1.网利宝账户以身份证号为唯一识别标识。
              li 2.P2P理财年化收益活动奖励将随P2P理财项目还款发放。
              li 3.每个网利宝账户仅限一次使用该理财红包，新用户需投资300元即可使用100元直抵红包，实际支付200元。
              li 4.老用户需投资5000元即可使用100元直抵红包，实际支付4900元。
              li 5.网利宝账户以身份证号为唯一识别标识。
              li 6.P2P理财年化收益活动奖励将随P2P理财项目还款发放。
              li 7.每个网利宝账户仅限一次使用该理财红包，新用户需投资300元即可使用100元直抵红包，实际支付200元。
              li 8.老用户需投资5000元即可使用100元直抵红包，实际支付4900元。
            else
              for record in result.rule_use
                li {{ record }}

      // 活动规则模块
      if result.is_rule_activity != 0
        .wry-act-rule
          h1.wry-act-rule-h 活动规则
          ul.wry-act-rule-ul
            if result.is_rule_activity == 1
              li 1.网利宝账户以身份证号为唯一识别标识。
              li 2.P2P理财年化收益活动奖励将随P2P理财项目还款发放。
              li 3.每个网利宝账户仅限一次使用该理财红包，新用户需投资300元即可使用100元直抵红包，实际支付200元。
              li 4.老用户需投资5000元即可使用100元直抵红包，实际支付4900元。
              li 5.网利宝账户以身份证号为唯一识别标识。
              li 6.P2P理财年化收益活动奖励将随P2P理财项目还款发放。
              li 7.每个网利宝账户仅限一次使用该理财红包，新用户需投资300元即可使用100元直抵红包，实际支付200元。
              li 8.老用户需投资5000元即可使用100元直抵红包，实际支付4900元。
            else
              for record in result.rule_activity
                li {{ record }}

      // 奖品发放规则模块
      if result.is_rule_reward != 0
        .wry-act-rule
          h1.wry-act-rule-h 奖品发放
          ul.wry-act-rule-ul
            if result.is_rule_reward == 1
              li 1.网利宝账户以身份证号为唯一识别标识。
              li 2.P2P理财年化收益活动奖励将随P2P理财项目还款发放。
              li 3.每个网利宝账户仅限一次使用该理财红包，新用户需投资300元即可使用100元直抵红包，实际支付200元。
              li 4.老用户需投资5000元即可使用100元直抵红包，实际支付4900元。
              li 5.网利宝账户以身份证号为唯一识别标识。
              li 6.P2P理财年化收益活动奖励将随P2P理财项目还款发放。
              li 7.每个网利宝账户仅限一次使用该理财红包，新用户需投资300元即可使用100元直抵红包，实际支付200元。
              li 8.老用户需投资5000元即可使用100元直抵红包，实际支付4900元。
              li 9.老用户需投资5000元即可使用100元直抵红包，实际支付4900元。
            else
              for record in result.rule_reward
                li {{ record }}

    // 底部模块
    if result.is_footer != 0
      if result.is_footer == 1
        .footer(style='background:#A70DC0;margin-top:40px')
          include include/activityFooter
      else
        .footer(style='background:{{result.footer_color}};margin-top:40px')
          include include/activityFooter