-load formatters
-load mathfilters
doctype html
html
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        meta(name="keywords", content="网利宝")
        meta(name="description", content="网利宝是针对中国中产阶级人群的一站式网络理财服务平台，网利宝把国外传统的“私人银行”模式引入中国，我们通过独有的用户投资专业评估体系和个人理财数据分析算法，利用PC和移动互联网等方式，为客户提供个性化投资产品推荐，降低理财门槛，提高投资者的理财收益水平。")
        //link(rel="stylesheet",href="/static/stylesheets/day.css")
        link(rel="stylesheet",href="/static/stylesheets/activity.css")
    body
      .footer(style='background:#f7f7f7')
          include include/activityFooterTwo
