
if DEBUG == 'dev'
  script(src='/static/scripts/mobile_fuelcard/dev/vendor.zepto.js')
elif DEBUG == 'pro'
  script(src='/static/scripts/mobile_fuelcard/pro/vendor.zepto.js')
else
  script(src='/static/scripts/mobile_fuelcard/dev/vendor.zepto.js')



