.wei_kehuduan
    img(src='/static/m_images/weixin_img/loginn.png')
    label
     a(href='/mobile/weixin_app/' style='color:#ffffff') 网利宝手机客户端
    a X
//script(src="/static/m_js/m_lib/jquery.min.js")
//script(src="/static/m_js/weixin.js")

