


.client-us-banner
  img
    display: block
    width: 100%
    height: auto

.client-us-decs
  padding: 0 1rem
  .logo-wljr
    background: url("/static/imgs/app/about/us_wljr.jpg") no-repeat left center
    background-size: auto
    height: 3rem
    width: 100%
  .logo-wlb
    @extend .logo-wljr
    background: url("/static/imgs/app/about/us_logo.jpg") no-repeat left center
  .ct-us-dec
    color: #999
    font-size: $font-size12
    line-height: 1.2
    text-align: justify


.ct-company-title
  padding-left: 1rem
  margin: 1rem 0
  display: -webkit-box
  -webkit-box-align: center
  span
    display: block
  .tit-blue
    width: .55rem
    height: .75rem
    background: #5DB5F2
    margin-right: .2rem
  .tit-text
    color: #666
    font-size: $font-size14

.ct-company-mg
  margin-bottom: .75rem
.ct-company-img
  display: block
  width: 100%
  height: auto

.ct-company-img-map
  width: 15rem
  display: block
  margin: 0 auto

.ct-compant-adress
  color: #999
  font-size: $font-size12
  text-align: center
  padding: 1.5rem 1rem
  line-height: 1.4

