@-webkit-keyframes rightS
  0%
    right: -100%
  100%
    right: 0

@keyframes rightS
  0%
    right: -100%
  100%
    right: 0
@-webkit-keyframes leftS
  0%
    left: -100%
  100%
    left: 0

@keyframes leftS
  0%
    left: -100%
  100%
    left: 0

.account_top
  background: #4a90e2
  .asset_content,.income_content
    display: -webkit-box
    padding: 1.525rem 0
    border-bottom: 1px dashed #ffffff
    .asset
      -webkit-box-flex: 1
      -webkit-box-align: center
      p
        width: 100%
        text-align: center
        color: #ffffff
      .asset_title
        font-size: $font-size10
      .asset_count
        font-size: 1.2rem
        font-weight: bold
        margin-top: .5rem
  .income_content
    padding: .95rem 0
    border: 0 none
    p
      .asset_count
        margin-top: .4rem
    .border_right
      border-right: 1px dashed #ffffff
.account_no_list
  text-align: center
  color: #9b9b9b
  font-size: .6rem
  line-height: 1rem
  img
    width: 10.5rem
    height: 10.5rem
    margin: 2.675rem 0 .75rem

.tip_style
  font-size: .6rem
  color: #666666
  padding: .5rem 1rem
.transaction_list
  margin-top: .3rem
  background: #ffffff
  position: relative
  .transaction_tit
    padding: .75rem .5rem .625rem
    border-bottom: 1px solid #E5E5E5
    display: -webkit-box
    line-height: .775rem
    .tit_name
      -webkit-box-flex: 1
      font-size: .75rem
      color: #666666
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      width: 5.75rem
      .tit_name_div
        display: inline-block
        font-size: 0.7rem
        background: #5db5f2
        margin-right: .2rem
    .icon
      -webkit-box-flex: 1
      i
        background: url(/static/imgs/mobile_activity/app_experience/icon_time.png) center center no-repeat
        background-size: cover
        display: inline-block
        vertical-align: middle
        margin-right: .175rem
        width: .75rem
        height: .75rem
      em
        font-size: .5rem
        color: #CCCCCC
        font-style: normal
    .tit_time
      -webkit-box-flex: 1
      font-size: .5rem
      color: #cccccc
      line-height: .775rem
      height: .775rem
      display: inline-block
  .transaction_cont
    display: -webkit-box
    padding: .7875rem 0 .925rem
    .cont_money
      -webkit-box-flex: 1
      margin-left: 1rem
    p:first-child
      color: #666666
      font-size: .75rem
      margin-bottom: 0.35rem
    p:last-child
      color: #cccccc
      font-size: .6rem
    .cont_money_center
      p:first-child
        color: #FF4C2E
  .investment_btn
    margin: 1.2rem .5rem 1rem
    height: 2.25rem
    line-height: 2.25rem
    font-size: .825rem
    color: #ffffff
    background: #4a90e2
    text-align: center
    border-radius: .2rem
.investment_list
  .transaction_list:nth-child(odd)
    -webkit-animation: rightS 1s 1
    animation: rightS 1s 1
  .transaction_list:nth-child(even)
    -webkit-animation: leftS 1s 1
    animation: leftS 1s 1






