

.announce-warp
  padding: .5rem
  font-size: rem(28)
.announce-title
  border-bottom: 1px solid #e5e5e5
  padding-bottom: .5rem

.announce-content
  padding: .5rem
  line-height: 1.4
  p
    font-size: .6rem
    margin-bottom: .5rem
  .risk-december
    display: block
    margin: .5rem auto

  .content-bootm-right
    text-align: right