@import "./tab_nav"

.area-warp
  width: 100%
.area-container
  width: 100%

.area-scroll
  padding: rem(30) rem(20) rem(42) rem(20)
  //overflow-y: auto
  //-webkit-overflow-scrolling: touch

.area-list
  display: block
  padding: 0 rem(20)
  background: #fff
  border: 1px solid #E7E7E7
  margin-bottom: rem(12)
  .area-ac-head
    color: #666666
    font-size: rem(30)
    line-height: 2
  .area-ac-banner
    position: relative

    .area-ac-time
      position: absolute
      top: rem(14)
      left: 0
      height: 1.1rem
      line-height: 1.1rem
      background: url("/static/imgs/app/area/icon_time.png") no-repeat left center
      background-size: rem(26)
      background-color: rgba(0,0,0,.2)
      background-position-x: rem(8)
      font-size: rem(18)
      color: #fff
      padding: 0 .8rem 0 1.05rem
      border-bottom-right-radius: 2rem
      border-top-right-radius: 2rem
    img
      display: block
      width: 100%
      height: rem(382)

  .area-ac-dec
    color: #9B9B9B
    font-size: rem(20)
    line-height: 1.5
    margin: rem(10) 0

  .area-ac-line
    width: 100%
    height: 1px
    background: #E5E5E5

  .area-ac-footer
    display: block
    height: rem(70)
    line-height: rem(70)
    font-size: rem(24)
    color: #9B9B9B
    background: url("/static/imgs/app/area/arrow.png") no-repeat right center
    background-size: rem(12)

  .area-ac-milepost-footer
    display: -webkit-box
    height: rem(70)
    line-height: rem(70)
    font-size: rem(24)
    color: #9B9B9B
    .area-milepost-time
      -webkit-box-flex: 1

    .area-milepost-link
      background: url("/static/imgs/app/area/arrow.png") no-repeat right center
      background-size: rem(12)
      padding-right: .6rem
.area-latest-more,.area-milepost-more
  text-align: center
  padding: .5rem
  font-size: .7rem
  color: #706E6E
.unactivty
  text-align: center
  color: #A4A1A1
  font-size: .7rem
  padding: .5rem

.img-responsive
  display: block
  max-width: 100%
  width: 750px
  height: 250px
  background: url('/static/imgs/app/area/default.jpg') no-repeat center
.lazy
  width: 100%
  height: 0
  padding-top: 33%
  background-size: 100%
