



.secure-head
  position: relative
  background: #5DB7F2
  background-size: .75rem
  padding: 1.15rem 3rem 1rem 2rem
  +center
  -webkit-box-pack: end
  .secure-head-img
    background: #4A90E2
    background: url('/static/imgs/app/secure/safe_man.png') no-repeat center center
    background-size: 100%
    width: 7.875rem
    height: 7.075rem
  .secure-head-explain
    font-size: 1.2rem
    color: #fff
    text-shadow: 0 2px 4px 0
    p
      &:last-child
        margin: .25rem 0 0 .75rem

.secure-item
  padding: 1.75rem 1.375rem
  +center
  .secure-item-img
    width: 4.45rem
    height: 4.45rem
    background-image: url("/static/imgs/app/secure/safe_icon.png?2")
    background-size: 100%
    background-repeat: no-repeat
  h4
    color: #fff
    font-size: $font-size18
    font-weight: normal
    margin-bottom: .375rem
  p
    color: #2B5C83
    font-size: $font-size12
  .secure-item-explain
    margin-left: 1.6rem
    text-align: left
    -webkit-box-flex: 1
.buleLeft
  -webkit-box-pack: start
  background: url('/static/imgs/app/secure/safe_wave1.jpg') repeat-x left top #4A90E2
  border-bottom: 1px solid #4a90e2
  .secure-item-img
    background-position: 0 0
  p
    color: #2B5C83
.greenRight
  -webkit-box-pack: start
  background: url('/static/imgs/app/secure/safe_wave2.jpg') repeat-x left top #31B6AE
  border-bottom: 1px solid #31B6AE
  .secure-item-img
    background-position: 0 -4.5rem
  .secure-item-explain
    margin-right: 1.6rem
    margin-left: 0
    text-align: right
  p
    color: #187B7A

.orginLeft
  -webkit-box-pack: start
  background: url('/static/imgs/app/secure/safe_wave3.jpg') repeat-x left top #EAC052
  border-bottom: 1px solid #EAC052
  .secure-item-img
    background-position: 0 -9rem
  p
    color: #8F7839
.brownRight
  -webkit-box-pack: start
  background: url('/static/imgs/app/secure/safe_wave4.jpg') repeat-x left top #B4805B
  border-bottom: 1px solid #B4805B
  .secure-item-img
    background-position: 0 -13.5rem
  .secure-item-explain
    margin-right: 1.6rem
    margin-left: 0
    text-align: right
  p
    color: #6D4B32

.greenLeft
  -webkit-box-pack: start
  background: url('/static/imgs/app/secure/safe_wave5.jpg') repeat-x left top #97C966
  border-bottom: 1px solid #97C966
  .secure-item-img
    background-position: 0 -18rem
  p
    color: #79A849
.writeNone
  padding: 0
  background: url('/static/imgs/app/secure/safe_wave6.jpg') repeat-x left top #fff
  .secure-item-img
    background: none
    height: 1rem