


.download-app-main
  padding: .75rem
  text-align: center
  .APP-title
    font-size: $font-size18
    color: $color-db493f
    margin: .75rem 0
    letter-spacing: .4rem
  .APP-title-h2
    font-size: $font-size16
    color: $color-db493f
    line-height: 1.5rem
    text-align: center
    margin: .75rem 0
  .APP-image
    width: 100%
    img
      margin: 0 auto

  .APP-btn
    a
      background: $color-db493f
      border-radius: $boder-radius
      color: #fff
      height: 2.2rem
      line-height: 2.2rem
      text-align: center
      margin-bottom: .75rem
      display: block
      &:active
        box-shadow: $active-shadow