
.tab-nav
  position: relative
  .slide-bottom
    position: absolute
    top: 100%
    left: 0
    width: 50%
    height: .2rem
    margin-top: -.2rem
    background: #5DB5F2
    transform: translate3d(0, 0, 0)
    -webkit-transform: translate3d(0, 0, 0)
  ul
    display: -webkit-box
    display: -ms-flexbox
    position: relative
    li
      position: relative
      width: 50%
      -webkit-box-flex: 1
      -ms-flex: 1
      font-size: rem(28)
      color: #9B9B9B
      text-align: center
      background: #fff
      &:nth-child(1),&:nth-child(2)
        &:after
          content: ''
          position: absolute
          top: 50%
          right: 0
          width: 1px
          height: .8rem
          margin-top: -.4rem
          background: #E5E5E5
      &:last-child
        border-right: 0
    a
      display: block
      height: 2.2rem
      line-height: 2.2rem
      text-align: center
      border-bottom: 1px solid #e8e8e8
    li.active
      color: #5DB5F2
      a
        border-bottom: 4px solid #5db5f2