.about-title
  border-bottom: 1px solid $color-gainsboro
  text-align: left
  color: $color-text-d3
  padding: .3em 0
  font-size: $font-xl
  margin-bottom: $space-s
  line-height: 30px

.about-sub-title
  color: $color-pomegranate
  font-size: $font-l
  padding-top: 0
  padding-bottom: 5px


.about-partner-container
  background: url('/static/images/partner2.jpg') no-repeat center
  height: 420px

.contact-map
  background: url('/static/images/map.jpg') no-repeat center
  width: 767px
  height: 347px
  margin: auto

#validate_id_button
  &.disabled
    background-color: $color-alto
    

.companies
  table
    width: 100%
    td
      width: 50%
      text-align: center
      padding-top: 20px
      padding-bottom: 20px

      span
        line-height: 30px
        font-size: 14px

      img
        width: 350px
        clear: both
        display: block
        outline: none
        margin: 0px auto

