.about-title
  border-bottom: 1px solid $color-gainsboro
  text-align: left
  color: $color-text-d3
  padding: .3em 0
  font-size: $font-xl
  margin-bottom: $space-s

.about-partner-container
  background: url('/static/images/partner2.jpg') no-repeat center
  height: 420px
