.act-money
  position: relative
  width: 1100px
  margin: 20px auto
  .act-money-black
    color: #000
  .act-money-select
    position: relative
    background: #fff
    .act-money-ul
      width: 414px
      position: absolute
      top: 24px
      border: 1px solid #ccc
      border-bottom: none

      li
        line-height: 40px
        border-bottom: 1px solid #ccc
        .act-money-hight
          background: #e9573f
          color: #fff
        span
          color: #e9573f
          font-size: 16px
          display: inline-block
          width: 206px
          text-align: center

  .act-money-tit
    width: 1070px
    background: url(/static/images/xunlei-denglu/xl-zc-h-bj.jpg) bottom center no-repeat
    padding-bottom: 15px
    margin: 0 auto
    .act-money-le,
    .act-money-r
      display: inline-block
      .act-money-yell
        color: #e9573f
      p
        line-height: 26px
        font-size: 14px
    .act-money-le
      h2
        margin-bottom: 5px

    .act-money-r
      float: right
      margin-top: 28px