.activity-header
  width: $content-width
  font-size: $font-s
  padding: $space-l 0

.back-home
  padding-top: $space-l

.icon-home
  width: 19px
  height: 16px
  margin-right: 5px
  top: -1px
  background: url("/static/images/activity/bg.png") no-repeat -71px 0

.activity-container
  height: 392px
  background: url("/static/images/activity/header_bg.png") repeat-x

.activity-banner
  background: url("/static/images/activity/banner.jpg") no-repeat center center
  height: 392px

  a.buying
    +inline-block
    width: 240px
    height: 54px
    margin-top: 300px
    background: url("/static/images/activity/buying.png") no-repeat

.activity-text
  border-top: solid 2px #ef4a58
  position: relative
  margin-top: $space-xxl
  text-align: center
  height: 25px

  span
    display: inline-block
    position: relative
    top: -18px
    background: #ffffff
    padding: 0 $space-sm

.activity-title
  font-size: $font-xl
  color: #ef4a58
  font-weight: normal
  text-align: center

.activity-list
  padding: $space-l 0
  position: relative
  height: 300px

  .highlight
    color: #ef4a58

  li
    line-height: 47px
    height: 47px
    font-size: $font-s
    text-indent: 15px

    &.active
      background: #fdf7f8

.activity-statement
  font-size: $font-s
  line-height: 30px
  text-indent: 18px
  color: $color-text-d4

  dt
    font-weight: 800

.trumpet-tip
  position: relative
  right: 5px
  text-align: right
  z-index: 10
  top: -100px

.icon-box-arrow
  width: 16px
  height: 16px
  margin-right: 10px
  background: url("/static/images/activity/bg.png") no-repeat -74px -16px

.invite-friend
  display: block
  text-align: center
  background: #ef4a58
  margin-top: $space-l
  padding-top: $space-sm
  padding-bottom: $space-ssm
  @include border-radius(5px)

.invite-text
  text-align: center
  padding: $space-l 0
  font-size: $font-m
  line-height: 30px

.make-money-guide
  height: 315px
  background: #ef4a58 url("/static/images/activity/bg.png") repeat-x 0 -97px

  .container
    text-align: center
    padding-top: $space-xxxl

.activity-footer
  margin-top: $space-xxl * 3
  text-align: center
  background: #ef4a58
  color: #ffffff
  position: relative
  height: $space-xxl * 9

  .weixin-img
    position: relative
    top: -80px
    font-size: $font-m

    img
      border: solid 3px #1ca0dd

  p
    font-size: $font-m

  .wanglibao-logo
    position: relative
    top: -50px

.share-icons
  position: relative
  top: -20px

  span
    margin: 0 $space-sm

.icon-share-weibo
  width: 31px
  height: 31px
  background: url("/static/images/activity/bg.png") no-repeat 0 0

.icon-share-weibo-qq
  width: 31px
  height: 31px
  background: url("/static/images/activity/bg.png") no-repeat -31px 0

.icon-share-qzone
  width: 31px
  height: 31px
  background: url("/static/images/activity/bg.png") no-repeat 0 -31px

.icon-share-renren
  width: 31px
  height: 31px
  background: url("/static/images/activity/bg.png") no-repeat -31px -31px

.icon-share-email
  width: 31px
  height: 31px
  background: url("/static/images/activity/bg.png") no-repeat 0 -62px

.icon-share-weixin
  width: 28px
  height: 23px
  margin-right: $space-s
  background: url("/static/images/activity/bg.png") no-repeat -62px -73px

.icon-share-qq
  width: 17px
  height: 20px
  margin-right: $space-s
  background: url("/static/images/activity/bg.png") no-repeat -73px -32px

.icon-share-hotline
  width: 13px
  height: 21px
  margin-right: $space-s
  background: url("/static/images/activity/bg.png") no-repeat -77px -52px

.weixin-qq-hotline
  font-size: $font-m
  padding-bottom: $space-s

  span
    +inline-block
    padding: $space-s $space-s*3

.xunlei-background
  background: #d4dfe3 url("/static/images/activity/xunlei_background.jpg") no-repeat center top

.xunlei-button
  +inline-block
  @include border-radius(10px)
  border: solid 1px #cd1d68
  background: #fd4b97
  font-size: $font-xxl
  width: 255px
  color: #ffffff
  line-height: 57px

.shadow-images
  position: relative
  height: 1px

.left-shadow
  background: url("/static/images/activity/left_shadow.png") no-repeat
  width: 45px
  height: 826px
  position: relative
  top: -30px
  left: -85px

.right-shadow
  background: url("/static/images/activity/right_shadow.png") no-repeat
  width: 45px
  height: 826px
  position: relative
  top: -857px
  left: 639px

.xunlei-content-box
  margin: $space-xl auto
  width: 680px
  height: 825px
  padding: $space-l $space-xl
  border: solid 1px #b3b4b6
  background: #ffffff
  font-size: $font-s
  line-height: 2

  h2
    line-height: 0
    padding-top: $space-xs
    padding-bottom: $space-m

  .highlight
    color: #ff4b94

  table
    border-left: solid 1px $color-text-d5
    border-top: solid 1px $color-text-d5
    width: 100%

    th,td
      border-right: solid 1px $color-text-d5
      border-bottom: solid 1px $color-text-d5
      width: 50%
      text-align: center
      font-size: $font-s
      padding: $space-s
    th
      color: #ff4b94
      font-size: $font-m
      background: #f6f7f9

  ul
    font-size: $font-xs
    line-height: 1.8
    background: #f6f7f9
    text-indent: 15px
    padding: $space-s 0
    margin-top: $space-l


.xunlei-flow
  background: url("/static/images/activity/xunlei_flow.png") no-repeat left top
  height: 110px
  margin: $space-m auto
  padding-top: $space-xxxl
  line-height: 1.5

  p
    font-size: $font-s
    float: left
    width: 155px
    text-align: center
    color: $color-dusty-gray

    &:nth-child(2)
      margin-left: 65px
      margin-right: 48px

.xunlei-footer
  background: none
  margin-top: $space-l
  color: #b6c4c7

  .wanglibao-logo
    top: 0
    margin-top: $space-xl

  .weixin-img
    top: 0

    img
      border: solid 3px #b4c3c8

.scroll-gif
  position: absolute
  top: 340px
  right: 10%
  z-index: 9
  cursor: pointer