

.wry-act-rule
  width: 1100px
  margin-top: 45px
  .wry-act-rule-h
    font-size: 28px
    font-weight: normal
    line-height: 60px
    margin-left: 30px
  .wry-act-rule-ul
    margin-left: 30px
    li
      width: 1000px
      list-style: none
      line-height: 30px