.act-iphone
  background: #f0f
  height: 700px
  .full-com
    background: #2c335d url("/static/images/full-img/full-phone.png") no-repeat
  .full-com2
    background: url("/static/images/full-img/full-phone.png") no-repeat
  .full-one
    background-position: -104px 10px
  .full-two
    background-position: -320px 10px
  .full-three
    background-position: -536px 20px
  .full-four
    background-position: -762px 20px
  .full-song
    font-size: 18px
    color: #999999
    text-align: center
  .full-jiang
    width: 240px
    height: 340px
    border: 1px solid #ccc
    margin-left: 10px
    position: relative
    background: #fff
    .full-huang
      display: inline-block
      width: 50px
      height: 50px
      position: absolute
      background: url("/static/images/full-img/full-phone.png") no-repeat
      background-position: -16px -8px
      top: -22px
      left: -17px
    .full-h
      width: 150px
      height: 27px
      background: #ce0004
      border-radius: 5px
      color: #fff
      font-size: 16px
      text-align: center
      margin: 10px auto
      line-height: 27px
    .full-h2
      width: 150px
      height: 27px
      background: #e9573f
      border-radius: 5px
      color: #fff
      font-size: 16px
      text-align: center
      margin: 10px auto
      line-height: 27px
    dt
      width: 225px
      height: 225px
      margin: 0 auto
    dd
      width: 225px
      text-align: center
      font-size: 16px
      color: #f22373
      span
        display: block
        width: 30px
        height: 30px
        background: #ce0004
        color: #fff
        font-size: 16px
        text-align: center
        margin: 5px auto
        border-radius: 15px
        line-height: 30px