.wry-act-footer
  width: 1100px
  height: 290px
  background: #f0f
  margin: 0 auto
  .wry-act-copy
    width: 700px
    height: 100%
    background: #71cc2e
  .wry-act-img
    width: 140px
    height: 100px
    background: #cc1511
  .wry-act-sao
    width: 270px
    height: 100%
    background: #ff0084
