.announcement-block
  background: #fafafa
  padding: 5px 5px 5px 0
  font-size: $font-s

  .announcement-block-title
    border-left: solid 2px $color-red
    line-height: 22px
    text-indent: 10px

    span
      +inline-block
      margin-left: 20px

  .announcement-block-content
    padding: $space-s
    font-size: $font-s