*,p, img,h1,h2,h3
  margin: 0
  padding: 0

ul,ol
  list-style: none
a
  text-decoration: none
.acartiety-top
  margin-top: 45px
  .avariety
    margin: 17px 0 17px 15px
  .avariety-a
    .avariety-s
      margin-left: 7px
      display: inline-block
      vertical-align: top
      border: 1px solid #cbcbcb
      border-radius: 8px
      width: 260px
      .tu-one
        position: relative
        width: 260px
        height: 76px
        background: url("/static/images/moban/bolang.png") no-repeat,#f65b42
        background-position: 1px 39px
        border-radius: 7px 7px 0 0
        .font-zi
          width: 80px
          height: 26px
          position: absolute
          top: 31%
          left: 35%
          background: url("/static/images/moban/font.png") center
          background-position: -6px -14px
        .zi-on
          background-position: -82px -14px
        .zi-oa
          background-position: -164px -14px
        .zi-ob
          background-position: -247px -14px
      .tu-two
        background: url("/static/images/moban/bolang.png") no-repeat,#8271ff
        background-position: 1px 39px
      .tu-three
        background: url("/static/images/moban/bolang.png") no-repeat,#42b3fc
        background-position: 1px 39px
      .tu-four
        background: url("/static/images/moban/bolang.png") no-repeat,#ff9d21
        background-position: 1px 39px


      .avariety-tu
        .avariety-tu1
          position: relative
          height: 275px
          border-bottom: 1px solid #cbcbcb
          .circle
            position: absolute
            width: 70px
            height: 70px
            top: 26px
            left: 20px
            background: url("/static/images/moban/quan.png") no-repeat
            background-position: -5px -122px
            p
              text-align: center
              line-height: 70px
          .circle-two
            top: 26px
            left: 173px
            background-position: -236px -122px
          .circle-three
            top: 180px
            left: 20px
            background-position: -80px -124px
          .circle-four
            top: 180px
            left: 173px
            background-position: -156px -124px
          .circle-five
            width: 120px
            height: 120px
            top: 80px
            left: 69px
            background-position: -244px -2px
            p
              line-height: 120px
              font-size: 18px
              color: #de4b39
              font-weight: bold
          .datea
            width: 260px
            height: 214px
            p
              display: inline-block
              width: 50%
              height: 111px
              line-height: 111px
              border-bottom: 1px solid #dedede
              margin: 0
              float: left

              span
                color: #e9573f
                font-size: 25px
                font-weight: bold
            dl
              display: inline-block
              width: 50%
              height: 111px
              //line-height: 111px
              border-bottom: 1px solid #dedede
              margin: 0
              float: left
              dt
                width: 47px
                height: 47px
                background: url("/static/images/moban/quan.png") no-repeat
                background-position: -14px -17px
                margin: 12px auto
              .dt-one
                background-position: -69px -17px
              .dt-two
                background-position: -126px -17px
              .dt-three
                background-position: -186px -17px
              .dt-onea
                background-position: -16px -69px
              .dt-oneb
                background-position: -130px -65px
              .dt-twoa
                background-position: -68px -68px
              .dt-threea
                background-position: -187px -66px
              dd
                font-size: 16px
                text-align: center
          .xia
            text-align: center
            line-height: 46px
      p
        font-size: 14px
        text-align: center
        line-height: 40px
        span
          margin: 0 6px 0 0