body .wrap
  background: #f8f2ce url("/static/imgs/pc_activity/baidu/banner.jpg") center
  height: 681px
.baidu-content
  background: url("/static/imgs/pc_activity/baidu/bg.png") center
  width: 1101px
  height: 1263px
  margin: -306px auto 0
  position: relative
  z-index: 3
  +clearfix
  .activity-one,.activity-two
    margin-top: 88px
    padding-left: 126px
    position: relative
    +clearfix
    .activity-one-img
      background: url("/static/imgs/pc_activity/baidu/baiduIcon.png") 0 0
      width: 322px
      height: 140px
    .activity-two-img
      background: url("/static/imgs/pc_activity/baidu/baiduIcon.png") -371px 0
      width: 322px
      height: 140px
    span
      font-size: 18px
      color: #7a744e
      position: absolute
      top: 98px
      left: 238px
  .activity-two
    margin-top: 25px
  .one-prize
    margin-top: 10px
    .prize-one,.prize-two,.prize-three
      background: url("/static/imgs/pc_activity/baidu/baiduIcon.png") no-repeat
      width: 240px
      height: 272px
      float: left
      a
        color: #ffffff
        font-size: 18px
        width: 152px
        height: 32px
        display: inline-block
        margin: 16px 0 0 40px
        text-align: center
    .prize-one
      background-position: -3px -141px
    .prize-two
      background-position: -256px -141px
      margin: 0 190px
    .prize-three
      background-position: -511px -141px
    +clearfix
  .two-prize
    margin-top: 20px
    +clearfix
    .receiveBtns
      cursor: pointer
    li
      width: 252px
      height: 238px
      background: #ffffff
      border: 1px solid #cccccc
      border-radius: 8px
      float: left
      margin: 0 30px 30px 0
      position: relative
      overflow: hidden
      label
        font-size: 16px
        color: #dc1a38
        position: absolute
        top: 11px
        right: 10px
        letter-spacing: 1px
      label.w126
        width: 126px
        display: inline-block
        text-align: left
      span
        background: url("/static/imgs/pc_activity/baidu/status.png") -9px -140px
        width: 154px
        height: 98px
        display: inline-block
      span.selected
        background: url("/static/imgs/pc_activity/baidu/status.png") -162px -121px
        width: 166px
        height: 117px
        display: inline-block
        position: absolute
        left: 60px
        top: 50px
      .activity-over
        background: url("/static/imgs/pc_activity/baidu/status.png") -162px -16px
        width: 154px
        height: 98px
        display: inline-block
      em
        background: url("/static/imgs/pc_activity/baidu/baiduIcon.png") no-repeat
        display: inline-block
        position: absolute
      .em1
        background-position: -6px -440px
        width: 209px
        height: 104px
        left: 19px
        top: 90px
      .em2
        background-position: -223px -450px
        width: 124px
        height: 169px
        top: 48px
        left: 66px
      .em3
        background-position: -357px -442px
        width: 210px
        height: 104px
        top: 90px
        left: 22px
      .em4
        background-position: -10px -563px
        width: 172px
        height: 84px
        top: 90px
        left: 40px
      .em5
        background-position: -364px -571px
        width: 172px
        height: 84px
        top: 90px
        left: 40px
      .em6
        background-position: -574px -436px
        width: 210px
        height: 104px
        top: 90px
        left: 22px
      .em7
        background-position: -580px -560px
        width: 200px
        height: 96px
        top: 103px
        left: 20px
    li.mr0
      margin-right: 0
  .xl-backtop
    width: 50px
    height: 251px
    //background: #00f
    position: fixed
    right: 0px
    bottom: 100px
    z-index: 999
    cursor: default
    display: none
    span
      display: inline-block
      width: 100%
      height: 64px
    .backtop
      background: #b22621
      width: 27px
      color: #fff
      text-align: center
      padding: 10px 0
      margin: 10px 0 10px 10px
      border-radius: 15px
    .sev-backtop
      background: #ff5252
      font-size: 14px
    .erweima
      width: 146px
      height: 186px
      position: absolute
      top: 73px
      left: -158px
      background: url("/static/images/xunlei/erweima.png") no-repeat center center
      display: none
    a
      display: inline-block
    .seven-ten
      background: url("/static/imgs/pc_activity/xunlei/seven/sev_com5.png") no-repeat -952px -95px
      display: inline-block
      width: 100%
      height: 64px
#aug-form-row-eroor
  color: red
.gjw-rule
  h4
    font-size: 24px
    color: #cf0027
  li
    font-size: 14px
    color: #918958
    line-height: 23px
#ganjiwang-model
  background: #000
  opacity: 0.4
  filter: alpha(opacity=40)
  top: 72px
  width: 320px
  height: 256px
  position: absolute
  right: 0
#ganjiwang-welcome
  top: 50px
.baiduAlert
  width: 315px
  height: 190px
  text-align: center
  border: 1px solid #ea5152
  border-radius: 6px
  .alertFont,.alertFontFirst
    font-size: 24px
    color: #ff5252
    margin: 60px 0 40px
  .alertFontFirst
    margin: 30px 0 5px
    padding: 0 55px
  .alertFontBack
    font-size: 18px
    color: #738289
  .alertBtn,.alertBtnHref
    width: 85%
    display: inline-block
    height: 40px
    line-height: 40px
    background: #ff5252
    font-size: 18px
    color: #ffffff
    border-radius: 4px
  .alertBtn:hover
    text-decoration: none
  a.close-modal
    right: 0
    top: 0
    font-weight: bolder

.baidu-activity
  background: #f8f2ce
  .baidu-div
    width: 1101px
    margin: 0 auto
  .content-process
    .content-pptv
      .process-list
        .triangle-start
          width: 126px
        #xl-triangle-center
          width: 149px
        .circle
          .circle-txt
            position: relative
            width: 200px
            left: -44px
            color: #999162
          .circle-body
            width: 100px
            height: 100px
            border: 4px solid #dedede
            //+border-radius(50px)
            background: #fff url("/static/images/pptv/liucheng11.png") no-repeat
            -webkit-transition: all 3s
            -o-transition: all .3s ease-in-out
            transition: all .3s ease-in-out
            &:hover
              background-color: #ea5153
              border: 4px solid #ea5153
          .free
            background-position: 10px 10px
            &:hover
              background-position: 10px -63px
          .atte
            background-position: 10px -138px
            &:hover
              background-position: 10px -207px
          .recharge
            background-position: 12px -280px
            &:hover
              background-position: 12px -350px
          .tender
            background-position: 10px -423px
            &:hover
              background-position: 10px -495px
          .collec
            background-position: 10px -566px
            &:hover
              background-position: 10px -637px
.biaoyu
  color: #ff5252
  font-size: 24px
  text-align: center
.san-span b
  color: #ea5152
  font-weight: normal
