@import compass/typography/links
@import "variables"

$button-border-radius:   5px         // Button border radius
$button-padding:         0.5em 0.5em  // Button padding

.button
  +unstyled-link()
  line-height: 1 //Work around the line-height make it 1 to have precious control on button size
  border: 0
  text-align: center
  +border-radius($button-border-radius)

  &:focus
    outline: 0

.button-square
  +border-radius(0)

.button-mini, a.button-mini
  @extend .button
  font-size: 12px
  padding: $button-padding

.button-small, a.button-small
  @extend .button
  font-size: $font-xs
  padding: $button-padding

.button-middle, a.button-middle
  @extend .button
  font-size: $font-s
  padding: $button-padding

.button-large, a.button-large
  @extend .button
  font-size: $font-m
  padding: ((50- $font-m)/2/$font-m)+em 1em

// Colored buttons
.button-red, a.button-red
  background: $red
  color: white

  &:hover, &:active
    background: darken($red, 10%)

.button-orange, a.button-orange
  background: $orange

  &:hover, &:active
    background: $red
    color: white

.button-yellow, a.button-yellow
  background: $light-yellow
  color: white

  &:hover, &:active
    background: $red
    color: white
