@import compass/typography/links
@import "variables"

.button
  line-height: 1 //Work around the line-height make it 1 to have precious control on button size
  border: 0
  text-align: center
  display: inline-block
  cursor: pointer
  position: relative

  &:focus
    outline: 0

.button-small, a.button-small
  @extend .button
  line-height: 20px
  font-size: $font-xs
  padding: 0 1em

.button-small-round, a.button-small-round
  @extend .button-small
  +border-radius(10px)

.button-middle, a.button-middle
  @extend .button
  font-size: $font-s
  padding: .5em .5em

.button-large, a.button-large
  @extend .button
  font-size: $font-m
  line-height: 40px
  padding: 0 1em

.button-large-round, a.button-large-round
  @extend .button-large
  +border-radius(20px)

.button-red, a.button-red
  background: $color-pomegranate
  color: white

  &:hover, &:active
    background: darken($color-pomegranate, 10%)

.button-pink, a.button-pink
  background: $color-pink
  color: $color-white

  &:hover
    background: $color-pomegranate

.button-orange, a.button-orange
  background: $color-orange
  color: $color-white

  &:hover
    background: #f67313

.button-gray, a.button-gray
  background: $color-alto
  color: $color-text-d6

.button-white, a.button-white
  background: white
  color: #DC8883
  border: 1px solid #DC8883
  border-radius: 10px

  &:hover
    color: $color-pomegranate
    border-color: $color-pomegranate

.button-no-border, a.button-no-border
  border: 0
  background: transparent

.button-primary
  @extend .button
  @extend .button-red
  padding: 8px 28px
  font-size: $font-m
  cursor: pointer

.button-disabled
  @extend .button
  @extend .button-gray

  padding: 8px 28px
  font-size: $font-m
  cursor: default

.button-home-action
  @extend .button
  color: $color-text-d3
  background: $color-cinderella
  font-size: $font-m
  padding: 8px 30px

.button-account
  @extend .button-primary
  font-size: $font-xl
  padding: 10px

.button-alert-ok
  @extend .button-primary
  width: 150px
  margin: 0px auto
  display: block

.button-confirm-ok
  @extend .button-primary

.button-confirm-cancel
  @extend .button-gray
  padding: 8px 28px
  font-size: $font-m
  cursor: pointer

.button-radius
  +border-radius(5px)

.button-home
  @extend .button
  @extend .button-red
  +border-radius(5px)
  text-align: left
  padding: 5px 0px
  font-size: 14px
  font-weight: normal
  line-height: 24px

  width: 130px
  vertical-align: top

.button-home-disabled
  @extend .button
  +border-radius(5px)
  text-align: left
  padding: 5px 0px
  font-size: 14px
  font-weight: normal
  background-color: #f9f9f9
  border: 1px solid #f2f2f2
  line-height: 24px
  width: 130px
  vertical-align: top
  &:hover
    color: #626972

.icon-p2p-home
  width: 28px
  height: 23px
  background-image: url(/static/images/icon-public.png)
  background-repeat: no-repeat
  margin-right: 10px
  margin-left: 15px
  display: inline-block
  zoom: 1
  position: relative
  vertical-align: middle


  &.purcharsing
    background-position: -322px -159px
  &.audit
    background-position: -357px -159px
  &.payment
    background-position: -425px -159px
  &.finished
    background-position: -390px -159px

