#caipiao-container
  .table
    .caipiao-left
      border-left: none
    .caipiao-right
      border-right: none
      .caipiao-btn
        display: inline-block
        width: 64px
        height: 22px
        background: #f2484b
        color: #fff
        line-height: 22px
        &:hover
          background: #e3371f
      .caipiao-btn2
        display: inline-block
        width: 64px
        height: 22px
        border: 1px solid #f4474b
        color: #f4474b
        line-height: 22px
        &:hover
          color: #fff
          background: #e3371f

    thead
      tr
        th
          background: #fafafa
          border: 1px solid #ebebeb
          color: #a6a6a6
    tbody
      tr
        td
          border: 1px solid #ebebeb

