#caipiao-container
  .table
    .caipiao-left
      border-left: none
    .caipiao-right
      border-right: none
      .caipiao-btn
        display: inline-block
        width: 64px
        height: 22px
        background: #f2484b
        color: #fff
        line-height: 22px
        &:hover
          background: #e3371f
      .caipiao-btn2
        display: inline-block
        width: 64px
        height: 22px
        border: 1px solid #f4474b
        color: #f4474b
        line-height: 22px
        &:hover
          color: #fff
          background: #e3371f

    thead
      tr
        th
          background: #fafafa
          border: 1px solid #ebebeb
          color: #a6a6a6
    tbody
      tr
        td
          border: 1px solid #ebebeb

.caipiao-detail-main
  width: 630px
  height: 495px
  margin-top: 20px
  margin-left: 233px
  .detail-tit
    font-size: 16px
    color: #404040
  .detail-num
    margin-top: 15px
    li
      width: 40px
      height: 40px
      background: #f2484b
      border-radius: 20px
      font-size: 18px
      line-height: 40px
      text-align: center
      color: #fff
      display: inline-block
      margin-right: 20px
    .hight
      background: #3a9bfc
  .caipiao-jiang
    margin-top: 90px
    b
      display: inline-block
      width: 60px
      height: 27px
      border: 1px solid #ff9a9c
      text-align: center
      line-height: 27px
      color: #f2484b
      border-radius: 30px
      font-weight: bold
    span
      color: #f2484b
      font-size: 16px
      margin-left: 22px
      display: inline-block
      font-weight: bold
    .caipiao-blank
      color: #b3b3b3
    .caipiao-blue
      color: #3a9bfc
  .list
    margin-top: 30px
    li
      font-size: 15px
      color: #999999
      line-height: 33px
      span
        color: #7a7a7a
  .go-btn
    width: 123px
    height: 40px
    display: inline-block
    background: #e4371f
    color: #fff
    text-align: center
    line-height: 40px
    font-size: 16px
    margin-top: 30px
    &:hover
      background: #cc311d
  .talk
    color: #bcbcbc
    margin-top: 15px
    span
      color: #707070


