@import "compass/css3"
@import "images"

.card
  min-width: 260px
  max-width: 260px
  margin-left: 10px
  margin-top: 10px
  margin-bottom: 10px
  background-color: white
  padding: 10px
  color: #868686

  display: block
  position: relative
  +box-shadow(0px 0px 3px gray)
  +float-left

.card-top-container
  padding: 10px

.card-title
  color: $orange
  font-size: $font-l

.card-product-name
  color: black
  padding-bottom: 10px

.bank-logo
  min-width: 125px
  max-width: 125px
  min-height: 30px
  max-height: 30px

.card-detail-box
  padding: 10px

  >dt
    float: left
    clear: left
    margin-right: 5px


.profit-text
  color: $red
  font-size: $font-xl
  clear: both

.card-annotation
  position: absolute
  right: 1px
  top: 1px

.card-left
  float: left
  width: 33%

.card-right
  display: table-cell
  width: 9999999px
  padding: .5em 0

a.card-orderlink
  position: absolute
  bottom: 10px
  left: -3px
  color: white
  text-indent: 1em

  @extend .order-yellow-background

  &:hover
    @extend .order-red-background

  +unstyled-link
  +link-colors(white)

.card-icon
  padding: .5em
  width: 100%

  dt
    background: $gray-card-info-head
    font-size: 13px
    text-align: center
    padding: .2em 0
    color: white

  dd
    background: $light-gray-card-info-bg
    font-size: 13px
    text-align: center
    color: $red
    padding: .8em 0

.card-right
  dt
    +float-left
    clear: left

  dd
    display: inline
    padding-left: .8em
