@import "compass/css3"
@import "images"

.card-icon
  padding: 0 1em
  margin: 13px 0
  width: 100%
  border-left: 1px solid $color-silver

  dt
    font-size: 13px
    padding: .2em 0
    color: $color-mine-shaft

  dd
    font-size: 30px
    font-weight: bolder
    color: $color-mine-shaft

  .highlight
    color: $color-pomegranate

.card-list
  line-height: 25px
  padding-left: 30px
  width: 240px
  border-left: solid 1px #d3d3d3
  border-right: solid 1px #d3d3d3
  position: relative
  left: -50px
  margin-top: 15px

.fund-card-icon
  border-left: 0
  margin-top: 20px

.add-card-form
  width: 450px