@import "compass/css3"
@import "images"

.card
  display: block
  +float-left
  background: white
  border: 1px solid lightgray
  position: relative
  margin-right: 1em
  margin-bottom: 1em

  &:hover
    +box-shadow($red 0 0 3px)

.card-trust
  min-width: 324px
  max-width: 324px
  min-height: 150px
  max-height: 150px

.card-left
  float: left
  width: 33%

.card-right
  display: table-cell
  width: 9999999px
  padding: .5em 0

.card-title
  font-size: 1.1em

a.card-orderlink
  position: absolute
  bottom: 10px
  left: -3px
  color: white
  text-indent: 1em

  @extend .order-yellow-background

  &:hover
    @extend .order-red-background

  +unstyled-link
  +link-colors(white)

.card-icon
  padding: 0 1em
  margin: 13px 0
  width: 100%
  border-left: 1px solid $light-gray-bar

  dt
    font-size: 13px
    padding: .2em 0
    color: $black

  dd
    font-size: 30px
    font-weight: bolder
    color: $black

  .highlight
    color: $red

.card-right
  dt
    +float-left
    clear: left

  dd
    display: inline
    padding-left: .8em
