@import compass/css3
@import variables

.card-financing
  min-width: 260px
  max-width: 260px
  min-height: 260px
  max-height: 260px
  margin-left: 10px
  margin-top: 10px
  margin-bottom: 10px

  padding: 10px

  display: block
  position: relative

  +box-shadow(0px 0px 3px gray)

  +float-left

.card-top-container
  padding: 10px

.card-financing-title
  color: $orange
  font-size: $font-l

.bank-logo
  min-width: 125px
  max-width: 125px
  min-height: 30px
  max-height: 30px

.card-detail-box
  background: lighten($light-gray-card-info-bg, 10%)
  padding: 10px

  >dt
    float: left
    clear: left
    margin-right: 5px

.card-annotation
  position: absolute
  right: 1px
  top: 1px
