.full-container-cjdao
  padding: $space-l 0
  background: #F6F7F9
  height: 100%
  .container-cjdao
    background: $color-white
    .cjdao-logo
      border-bottom: dashed 1px #DDDDDD
      padding: $space-l
      h3
        margin-top: 30px
      p
        font-size: $font-s
    .cjdao-form
      padding: $space-sm 0 $space-xl 0

      .form-login-title
        position: relative
        height: 80px

        .cjdao-form-item
          display: inline-block
          position: relative
          left: -10px
          top: 0
          background: url("/static/images/cjdao_item_bg.png") no-repeat
          width: 204px
          height: 48px
          text-align: center
          line-height: 42px
          font-size: $font-xl
          color: $color-white

        .login-now
          display: inline-block
          position: relative
          top: 8px
          margin-left: 15px
          font-size: $font-s
          line-height: normal

      .form-row
        position: relative
        .span1
          font-size: $font-s
          width: 110px
          line-height: 38px

        .button-account
          +border-radius(5px)

        .form-row-error
          padding: 8px 0 0 0px
          color: #999999

        .error
          //padding: 8px 0 0 10px
          color: $color-red

      .forget-password
        position: absolute
        left: 600px
        top: 20px

    .form-left-line
      background: url("/static/images/cjdao_line.png") no-repeat left 0
      padding-top: 30px
      height: 550px

      .form-login-title
        padding-top: 40px
        .cjdao-form-item
          left: 6px

    .cjdao-product-info
      padding: $space-l

      .row
        font-size: $font-s
        line-height: 36px
