.tan
  width: 246px
  height: 146px
  background: #ffffff
  position: absolute
  z-index: 3
  display: none
  border-radius: 5px
  border: 1px solid #cccccc
  left: 745px
  top: 217px
  p
    text-align: center
    font-size: 18px
    color: #000000
    line-height: 89px
  .ct-shi
    border: none
    background: #ff4c2c
    width: 57px
    height: 35px
    color: #FFFFFF
    line-height: 35px
    float: left
    margin-left: 55px
  .ct-fou
    background: #ff4c2c
    width: 57px
    height: 35px
    color: #FFFFFF
    text-align: center
    line-height: 35px
    float: left
    margin-left: 20px



.ct-back
  width: 100%
  position: absolute
  z-index: 1
  background: rgba(29, 29, 29, 0.62)