#eight_gift_two_banner
  width: 100%
  height: 724px
  background: url("/static/imgs/pc_activity/eight_gift_two/eight_gift_two_banner.jpg") no-repeat center

.eight_gift_two-content
  width: 1100px
  margin: 0 auto
  .eight_gift_two_one
    width: 100%
    height: 63px
    background: url("/static/imgs/pc_activity/eight_gift_two/eight_gift_two_lv.png") no-repeat
    margin-top: 50px
    
    .eight_gift_two_onefont
      font-size: 25px
      line-height: 63px
      text-align: center
      font-weight: bolder
      color: #ffcd07
  .eight_gift_two_two
    width: 100%
    height: 80px
    position: relative
    .eight_gift_two_tree
      position: absolute
      width: 50px
      height: 60px
      top: -19px
      left: 7px
      background: url("/static/imgs/pc_activity/eight_gift_two/tree.png") -48px -29px
    .eight_gift_two_twofont
      font-size: 14px
      line-height: 46px
      text-align: center
      color: #3f6a24
      span
        color: #ffcd07
  .eight_gift_two_three
    width: 100%
    height: 468px
    position: relative
    .eight_gift_two_tree
      position: absolute
      width: 50px
      height: 60px
      top: 202px
      left: 7px
      background: url("/static/imgs/pc_activity/eight_gift_two/tree.png") 4px -29px
    .eight_gift_two_treeq
      position: absolute
      width: 50px
      height: 90px
      top: 338px
      left: 1057px
      background: url("/static/imgs/pc_activity/eight_gift_two/tree.png") -107px 2px
    dl
      float: left
      height: 432px
      margin-left: 82px
      dt
        margin-top: 127px
        width: 180px
        height: 107px
        background: url("/static/imgs/pc_activity/eight_gift_two/zhu.png") 17px 0px
        text-align: center
        padding-top: 36px
        color: #e3483d
      dd
        width: 184px
        height: 198px
        background: url("/static/imgs/pc_activity/eight_gift_two/zhu.png") -133px -109px
        text-align: center
        padding-top: 91px
        color: #FFFFFF
    .eight_gift_two_three_oneone
      dt
        margin-top: 86px
      dd
        padding-top: 118px
        height: 239px
        background: url("/static/imgs/pc_activity/eight_gift_two/zhu.png") -331px -68px
    .eight_gift_two_three_onetwo
      dt
        margin-top: 42px
      dd
        padding-top: 136px
        height: 283px
        background: url("/static/imgs/pc_activity/eight_gift_two/zhu.png") -532px -24px
    .eight_gift_two_three_onethree
      dt
        margin-top: 9px
      dd
        padding-top: 156px
        height: 330px
        background: url("/static/imgs/pc_activity/eight_gift_two/zhu.png") -741px 9px
  .eight_gift_two_four
    width: 100%
    height: 437px
    position: relative
    .eight_gift_two_treeq
      position: absolute
      width: 50px
      height: 90px
      top: 315px
      left: 198px
      background: url("/static/imgs/pc_activity/eight_gift_two/tree.png") -107px 2px
    .eight_gift_two_four_oneone
      text-align: center
      line-height: 45px
      color: #3f6a24
    .eight_gift_two_four_onetwo
      color: #3f6a24
      text-align: center
      margin-top: 332px
      span
        color: #ffcd07

    .eight_gift_two_four_one
      width: 350px
      height: 358px
      position: absolute
      left: 50%
      margin-left: -175px
      background: url("/static/imgs/pc_activity/eight_gift_two/erweima1.png") no-repeat
      p
        color: #a1d33f
        text-align: center
        margin-top: 324px
  .eight_gift_two_five
    position: relative
    padding-right: 41px
    .eight_gift_two_tree
      position: absolute
      width: 50px
      height: 60px
      top: 15px
      left: 1044px
      background: url("/static/imgs/pc_activity/eight_gift_two/tree.png") 4px -29px
    h3
      font-size: 20px
      color: #3f6a24
    p
      color: #3f6a24
      line-height: 28px

.footer
  .footer_eight
    position: relative
    width: 1100px
    margin: 0 auto
    .wry-act-img
      width: 140px
      height: 62px
      position: absolute
      left: 695px
      top: 140px




