body
  background: #FFFFFF
.activity-nav .act-container-login-nav .login-nav .nav-items ul li
  line-height: 90px
.wanglibaologo
  margin-top: 20px
.father-banner
  width: 100%
  height: 500px
  background: #97d2ff url(/static/images/father_day/logo.jpg) no-repeat center
.father-content
  width: 1101px
  margin: 0 auto
  .m50
    margin: 50px 0
    .father-detail
      background: #97d2ff
      width: 345px
      height: 424px
      position: relative
      float: left
      margin-right: 33px
      span
        position: absolute
        background: url(/static/images/father_day/icon.png) no-repeat
        display: inline-block
      .detail-icon1
        width: 152px
        height: 34px
        line-height: 34px
        background-position: -3px -2px
        font-size: 18px
        color: #ffffff
        top: 40px
        left: -5px
        text-align: center
      .chapter
        width: 106px
        height: 93px
        background-position: -1px -204px
        right: 14px
        top: 19px
      .people1
        width: 216px
        height: 295px
        background-position: 0 -304px
        top: 90px
        left: 53px
      .people2
        width: 272px
        height: 295px
        background-position: -236px -304px
        top: 94px
        left: 41px
      .people3
        width: 272px
        height: 299px
        background-position: -236px 0
        top: 92px
        left: 34px
      .detail-content
        position: absolute
        top: 220px
        left: 30px
        p
          font-size: 14px
          color: #2f67be
          line-height: 24px
          font
            color: #eb1300
            font-size: 14px
    .mr0
      margin-right: 0
  .level
    width: 1101px
    border: 1px solid #2f67be
    position: relative
    height: 289px
    border-radius: 6px
    .number-style
      background: url(/static/images/father_day/icon.png) no-repeat
      width: 65px
      height: 49px
      display: inline-block
      position: absolute
      left: 56px
      top: 38px
    .number1
      background-position: -3px -45px
    .number2
      background-position: -79px -48px
    .level-people
      background: url(/static/images/father_day/icon2.png) no-repeat
      width: 114px
      height: 113px
      position: absolute
      left: 137px
      top: 89px
    .level-people1
      background-position: 0 -58px
    .level-people2
      background-position: 0 -257px
    .level-content
      position: absolute
      left: 280px
      top: 100px
      p
        line-height: 24px
        color: #2f67be
        font-size: 14px
        font
          color: #eb1300
    .red-style
      p
        color: #ec304a
    .money-style
      background: url(/static/images/father_day/icon2.png) no-repeat
      width: 227px
      height: 194px
      position: absolute
      right: 149px
      top: 9px
    .money-style1
      background-position: -131px 0
    .money-style2
      background-position: -131px -212px
    .money-font
      width: 206px
      text-align: center
      position: absolute
      right: 149px
      top: 209px
      p
        font-size: 14px
        color: #666666
        line-height: 24px
        font
          color: #eb1300
  .mt50
    margin: 50px 0
    border: 1px solid #ec304a
  .three-div
    border-top: 1px solid #d6d6d6
    position: relative
    width: 100%
    height: 30px
    text-align: center
    span
      position: absolute
      left: 386px
      padding: 0 26px
      color: #757575
      font-size: 18px
      top: -13px
      background: #ffffff
  .img-div
    width: 100%
    margin-top: 20px
    text-align: center
    .three-img
      background: url(/static/images/father_day/icon.png) 0 -113px
      width: 226px
      height: 57px
      display: inline-block
  .three-title
    text-align: center
    color: #2f67be
    font-size: 14px
  .th-style
    background: #2f67be
    height: 49px
    margin-top: 15px
    label
      border-right: 1px solid #ebebeb
      height: 49px
      line-height: 49px
      display: inline-block
      width: 368px
      float: left
      font-size: 18px
      color: #ffffff
      text-align: center
    span
      display: inline-block
      width: 733px
      float: left
      font-size: 18px
      color: #ffffff
      text-align: center
      height: 49px
      line-height: 49px
  .list-ul
    border: 1px solid #d6d6d6
    li
      span
        color: #2f67be
        line-height: 49px
        width: 366px
        text-align: center
        font-size: 16px
        float: left
      span.li-span2
        color: #eb1300
        border-left: 1px solid #ebebeb
        border-right: 1px solid #ebebeb
    .even-style
      background: #97d2ff
      height: 49px
  .rule-style
    position: relative
    p
      color: #2f67be
      font-size: 14px
      line-height: 36px
      font
        color: #eb1300
    p.h-style
      font-size: 24px
      color: #2f67be
      margin: 50px 0 10px
    p.text-indent
      text-indent: 16px
    .logo-style
      background: url(/static/images/father_day/bottom.png) 0 0
      width: 157px
      height: 177px
      position: absolute
      right: 0
      top: 75px
.bottom-div
  width: 1101px
  margin: 50px auto 0
  position: relative
  span.bottom-logo
    background: url(/static/images/father_day/bottom.png) -183px 0
    width: 154px
    height: 79px
    display: inline-block
    margin-bottom: 50px
  .about-wanglibao
    span
      width: 266px
      display: inline-block
      float: left
      font-size: 14px
      color: #727272
      vertical-align: bottom
    span i
      background: url(/static/images/father_day/bottom.png) no-repeat
      display: inline-block
      margin-right: 13px
    span.bottom-weixin i
      width: 26px
      height: 21px
      background-position: -275px -103px
    span.bottom-qq i
      width: 17px
      height: 20px
      background-position: -232px -99px
    span.bottom-tel i
      width: 13px
      height: 22px
      background-position: -188px -97px
  .copyright
    font-size: 14px
    color: #727272
    margin: 16px 0 88px
  .bottom-icon
    background: url(/static/images/father_day/bottom.png) -183px -141px
    width: 133px
    height: 48px
    display: inline-block
    position: absolute
    top: 124px
    right: 0