@import "icons"

.footer
  background: #464646
  color: #BBBBBB
  margin-top: $space-s

  a
    +link-colors(darken(white, 40%), white)

.footer-no-margin
  @extend .footer
  margin-top: 0

.footer-section--container
  @extend .row
  padding: 25px 0
  height: 220px
  overflow: visible

.footer-section
  +float-left
  width: 20%
  height: 100%
  position: relative
  padding-left: 30px

  &:before
    border: 1px solid
    border-left-color: #5C5C5C
    border-right-color: #383838
    content: " "
    border-top: 0
    border-bottom: 0
    position: absolute
    left: 0
    height: 100%

  &:first-child:before
    display: none


.section--title
  font-size: $font-m
  line-height: 25px
  color: darken(white, 10%)
  margin-top: 10px
  margin-bottom: 10px

.section--item
  font-size: $font-xs
  line-height: 25px

%contact-item
  padding-right: 10px
  min-width: 150px
  color: #7c7c7c

  span
    padding-left: 10px
    +inline-block()

.footer-line
  width: 100%
  border-bottom: 1px solid #525050
  border-top: 1px solid #383838

.footer-copyright
  text-align: center
  padding: 1em
  color: #7c7c7c

.footer-bottom
  background: #3b3b3b

%footer-button-base
  +link-colors($color-text-d4, $color-text-d6)
  font-size: 40px

.weibo-button
  @extend %footer-button-base
  @extend .icon-weibo-circle

.weixin-button
  @extend %footer-button-base
  @extend .icon-weixin-circle
  position: relative

.footer--weixin-qr-code
  position: absolute
  bottom: 100%
  left: -120px
  z-index: 1

.footer--phone
  font-size: $font-xl
  color: darken(white, 10%)

.contact-section
  text-align: center

.icon-phone-footer, .icon-weibo-circle, .icon-weixin-circle
  line-height: 1

.icon-phone-footer
  color: $color-text-d6

#login-modal
  width: 520px