@import "icons"

.footer
  background: #696969
  color: #BBBBBB
  margin-top: $space-s

  a
    +link-colors(#BBBBBB, white)

.footer-no-margin
  @extend .footer
  margin-top: 0

.section--title
  font-size: $font-s
  line-height: 25px
  text-align: center
  @extend .span4

.section--item
  font-size: $font-xs
  line-height: 25px
  @extend .span8-omega

%contact-item
  padding-right: 10px
  min-width: 150px

  span
    padding-left: 10px
    +inline-block()

.footer-line
  width: 100%
  border-top: 1px solid #565656
  border-bottom: 2px solid #747474

.footer-copyright
  text-align: center
  padding: 1em
