@import variables
@import compass/css3

$row-height: 40px


.form
  background: $form-background-color
  padding: 10px 35px
  +border-radius(5px)
  border: 1px solid $border-color

.login-form
  width: 250px
  background: $form-background-color
  margin: 0 auto

  input
    height: 35px

  button
    height: 35px

.form-title
  color: $red
  margin-top: 10px
  margin-bottom: 10px

.form-login-title
  margin: 10px 0
  line-height: 34px
  vertical-align: middle

.form-row
  margin-top: $space-s
  overflow: visible
  text-align: left
  position: relative

.form-row-m
  line-height: 40px

.form-row-label
  line-height: $row-height
  text-align: center

.form-bottom-bar
  line-height: $row-height

.order-form
  width: 370px

  .form-row-label
    line-height: 30px

  .form-row
    margin-top: $space-xs
    line-height: 30px

  input
    height: 30px

.search-form-row
  line-height: 40px
  padding: 5px 30px
  overflow: auto

#passwordChangeForm
  width: 300px
  margin: 0 auto

  input
    min-height: 25px
    width: 170px

  table
    td
      padding: 5px 10px
      text-align: left

#passwordChangeButton
  width: 170px
  background-color: $red
  border: 0
  color: white
  border-radius: 2px

.password-strength-container
  position: absolute
  left: 103%
  top: 25%
  height: 10px
  width: 160px

  &.low
    .password-strength-1
      background: #ED4509

    .password-strength-2, .password-strength-3
      background: #D5D5D5

  &.soso
    .password-strength-1, .password-strength-2
      background: #EEA332
    .password-strength-3
      background: #D5D5D5

  &.strong
    .password-strength-1, .password-strength-2, .password-strength-3
      background: #92D81C

.password-strength-1, .password-strength-2, .password-strength-3
  display: inline-block
  min-width: 30px
  min-height: 10px
  max-height: 10px
  margin-right: 2px
  overflow: hidden
  text-indent: -1000px
