@import variables
@import compass/css3

$row-height: 40px


.form
  background: $form-background-color
  padding: 10px 35px
  +border-radius(5px)
  border: 1px solid $border-color

.login-form
  width: 350px
  background: $form-background-color
  margin: 0 auto

  input
    height: 45px
    font-size: $font-m

  label
    line-height: 30px

  button
    height: 45px
    font-size: $font-xl

.form-title
  color: $red
  margin-top: 10px
  margin-bottom: 10px

.form-login-title
  margin: 10px 0
  line-height: 34px
  vertical-align: middle

.form-row
  //margin-top: $space-s
  overflow: visible
  text-align: left
  position: relative

.form-row-m
  line-height: 40px

.form-row-label
  line-height: $row-height
  text-align: center

.form-bottom-bar
  line-height: $row-height

.order-form
  width: 370px

  .form-row-label
    line-height: 30px

  .form-row
    margin-top: $space-xs
    line-height: 30px

  input
    height: 30px

.search-form-row
  line-height: 40px
  padding: 5px 30px
  overflow: auto

#passwordChangeForm
  width: 450px
  margin: 0 auto

  input
    min-height: 25px
    width: 170px

  table
    td
      padding: 5px 10px
      text-align: left

#passwordChangeButton
  width: 170px
  background-color: $red
  border: 0
  color: white
  border-radius: 2px

.password-strength-container
  position: absolute
  left: 70%
  top: 23%
  height: 10px
  width: 160px

  &.low
    .password-strength-1
      background: #ED4509

    .password-strength-2, .password-strength-3
      background: #D5D5D5

  &.soso
    .password-strength-1, .password-strength-2
      background: #EEA332
    .password-strength-3
      background: #D5D5D5

  &.strong
    .password-strength-1, .password-strength-2, .password-strength-3
      background: #92D81C

.password-strength-1, .password-strength-2, .password-strength-3
  display: inline-block
  min-width: 30px
  min-height: 10px
  max-height: 10px
  margin-right: 2px
  overflow: hidden
  text-indent: -1000px

.captcha
  vertical-align: middle

input.captcha
  width: 160px
  margin-right: 10px

.captcha-img
  width: 140px
  height: 45px

.refresh-button
  cursor: pointer
  width: 33px
  height: 43px
  border: 0
  background: url("/static/images/refresh.png") no-repeat
  position: relative
  top: 5px

.login-modal-tab
  font-size: $font-l
  border-bottom: solid 1px #cccccc
  margin: 10px 30px 20px 30px
  padding: 0 32px
  height: 45px

  li
    float: left
    position: relative
    background: $white
    width: 175px
    height: 45px
    line-height: 45px
    text-align: center
    bottom: 1px
    overflow: hidden
    cursor: pointer

  li.active
    color: $red
    border: solid 1px #cccccc
    border-bottom: solid 1px #ffffff
    bottom: -1px
    border-radius: 3px 3px 0 0

.remember-me,
.agreement
  font-size: $font-s
  color: $dark-gray
  text-align: center
  line-height: normal
  clear: both
  padding-top: 15px
  margin: 0 auto

  input
    height: 16px