@import susy
@import compass/typography/links
@import compass/css3
@import variables
@import layout

*
  margin: 0
  padding: 0

.act-full-container
  width: 100%
  height: 40px
  border-bottom: 1px solid #cccccc
  background: #fff
  .act-topbar
    width: 1100px
    height: 100%
    margin:  0 auto
    line-height: 40px
    .container
      .act-user-div
        position: relative
        .act-weibo-qr-code
          position: absolute
          bottom: 100%
          top: 20px
          left: 212px
          z-index: 9
          padding-top: 15px

        .act-weixin-qr-code
          position: absolute
          bottom: 100%
          top: 20px
          left: 266px
          z-index: 9
          width: 164px
          height: 223px
          padding-top: 15px

        .act-icon-phone,
        .act-icon-weibo,
        .act-icon-mobile-app,
        .act-icon-weixin
          display: inline-block
          overflow: hidden
          width: $space-m
          height: $space-m
          line-height: $space-m
          background: url("/static/images/cum-tu2.png") no-repeat
          +border-radius(13px)
          +transition(all .3s ease-in-out)
          margin-left: 20px
          position: relative
          top: -5px
        .act-icon-phone
          background-position: 5px 3px
          top: 6px
          left: -10px
        .act-icon-weibo
          background-position: -27px 3px
          top: 6px
          left: -10px

        .act-weibo-container:hover
          .icon-weibo
            background-position: 0 -200px
            background-color: #d94a39

        .act-icon-weibo:hover
          background-position: -27px 3px
          background-color: #d94a39

        .act-icon-weixin
          background-position: -60px 1px
          top: 6px
          left: -10px
        .act-weixin-container:hover
          .act-icon-weixin
            background-position: -60px 1px
            background-color: #0ca001

        .act-icon-weixin:hover
          background-position: -60px 1px
          background-color: #0ca001

        .act-margin-left-m
          margin-left: 30px
        .act-mobile-app-top
          float: right
        .act-icon-mobile-app
          background-position: -99px 1px
          top: 6px
          left: -10px

        .act-mobile-app-top-prompt
          width: 320px
          height: 200px
          background: url("/static/images/app_prompt_bg.png") no-repeat -5px -197px
          position: absolute
          top: 40px
          right: -15px
          z-index: 999
          display: none

        .act-mobile-app-apple
          width: 130px
          height: 40px
          background: url("/static/images/app_prompt_bg.png") no-repeat -157px -400px
          display: block
          margin-top: 30px
          margin-left: 160px
          margin-bottom: 10px

          &:hover
            background-position: -157px -445px
        .act-mobile-app-android
          width: 130px
          height: 40px
          background: url("/static/images/app_prompt_bg.png") no-repeat -16px -400px
          display: block
          margin-left: 160px

          &:hover
            background-position: -16px -445px
.activity-nav
  width: 100%
  height: 90px
  background: #fff
  .act-container-login-nav
    width: 1100px
    height: 90px
    margin: 0 auto
    .act-logo
      +inline-block()
      background: image-url('logo.png')
      background-repeat: no-repeat
      background-position: center
      height: 75px
      width: 350px
      display: inline-block
      .svg &
        background: image-url('logo.png') no-repeat center middle
    .login-nav
      display: inline-block
      float: right
      .nav-items
        ul
          li
            float: left
            list-style: none
            line-height: 90px
            text-align: center
            a
              text-decoration: none
              font-size: 16px
              margin-left: 20px
            a:hover
              color: $color-pomegranate
            a.button-red
              background: $color-pomegranate
              color: white
            a.button-account-nav
              color: #ffffff
              +border-radius(5px)

              &:hover
                background: #bf320d
                color: #ccc


$full-getNEW-color: #f54337
$full-getNEW-Fsize: 18px
$full-getNEW-Fcolor: #999
body
  .gold
    .full-getNewBanner
      background: url("/static/images/gold/fullNew_banner.jpg") left center no-repeat
    .full-songNew
      margin-top: 20px
    .highlight-fullNew
      color: $full-getNEW-color
    .full-jiang
      .btnBg-fullNew
        background: $full-getNEW-color
      dd
        @extend .highlight-fullNew
    .invite-container
      .invite-btn
        background: $full-getNEW-color
    .fullNew-footer
      height: 230px
      img
        width: 100%
        height: 100%
  .full-emhighlight
    color: $full-getNEW-color
    font-style: normal
    font-size: $full-getNEW-Fsize
  .full-footEmhighlight
    color: $full-getNEW-color
    font-style: normal
  .full-newtabletit
    text-align: center
    font-size: $full-getNEW-Fsize
    color: $full-getNEW-Fcolor
    em
      @extend .full-emhighlight

  .full-newTable
    position: relative
    max-width: 710px
    margin: 0 auto
    table
      width: 100%
      th
        width: 50%
        text-align: center
        background: #7fcec1
        color: #fff
        font-size: $full-getNEW-Fsize
        padding: 9px 0
        &:first-child
          border-right: 1px solid #d6d6d6
      td
        width: 50%
        text-align: center
        font-size: 16px
        color: #666
        background: #fff
        padding: 9px 0
        border: 1px solid #d6d6d6
    .table-right-icon
      position: absolute
      right: -80px
      top: -57px
      img
        width: 165px
        height: 153px
  .full-count-icon
    text-align: center
    margin: 30px 0
    img
      width: 244px
      height: 40px
  .full-count-tit
    text-align: center
    font-size: $full-getNEW-Fsize
    color: $full-getNEW-Fcolor
    em
      background: url("/static/images/full-img/full-count-iconD.png") no-repeat left center
      @extend .full-emhighlight
      padding: 5px 0 0 40px
  .full-count-liucheng
    text-align: center
    font-size: $full-getNEW-Fsize
    color: $full-getNEW-Fcolor
    img
      width: 714px
      height: 528px
    .aShouyi
      margin: 20px 0 10px 0

#summer
  background: #3fd3fd url("/static/images/summer/banner2.jpg") no-repeat center center
  height: 649px
  .gold2
    .sum-time
      font-size: 36px
      color: #fff
      position: absolute
      bottom: 20px
      left: 206px

.san-new
  #sum-song
    background: #fff
    dd
      width: 240px
  .sum
    width: 1100px
    margin: 0 auto
    .sum-com
      background: url("/static/images/summer/common.png") no-repeat
    .sum-one
      background-position: -6px -244px
      top: -14px
    .sum-two
      background-position: -114px -244px
      top: -14px
      left: 281px
    .sum-three
      background-position: -19px -312px
      top: -14px
    .sum-four
      background-position: -119px -312px
      top: -14px
      left: 281px
    .sum-five
      background-position: -269px -181px
    .sum-six
      background-position: -276px -1px
      height: 178px
      margin-bottom: 52px
    .sum-seven
      background-position: -527px 26px
    .sum-eight
      background-position: -768px 30px
      height: 178px
      margin-bottom: 51px
    .sum-nine
      background-position: 29px -17px
      width: 210px
    .sum-ten
      background-position: -508px -161px
    .sum-ele
      background-position: -171px -7px
      width: 100px
    .sum-tw
      background-position: -773px -146px
      height: 200px
    #sum-liucheng
      color: #fff
      background: none
      font-size: 24px
      font-weight: bold
      position: relative
      span
        display: block
        width: 100px
        height: 64px
        //background: #ff0
        position: absolute
        //border: 1px solid #ccc
    #sum-jiang
      dl
        dd
          color: #003d59
          line-height: 37px
#sum-bottom
  background: url("/static/images/summer/footer.jpg") no-repeat center center
  width: 100%
  background-position-y: -1px
  img
    position: relative
    top: 50px






