.gjw-font-com
  background: url("/static/imgs/pc_activity/ganjiwang/font.png") no-repeat
.gjw-font-one
  background-position: -12px -20px
.gjw-font-two
  background-position: -12px -97px
.gjw-prize-com
  background: url("/static/imgs/pc_activity/ganjiwang/no1.png") no-repeat
.gjw-prize-one
  background-position: 9px 0
.gjw-prize-two
  background-position: -296px 0
.gjw-prize-three
  background-position: -5px -322px
.gjw-prize-four
  background-position: -295px -322px
.gjw-people-com
  background: url("/static/imgs/pc_activity/ganjiwang/people.png") no-repeat
.gjw-people-one
  background-position: -39px -45px
.gjw-tit-com
  background: url("/static/imgs/pc_activity/ganjiwang/no2.png") no-repeat
.gjw-tit-one
  background-position: -29px -41px
.gjw-tit-two
  background-position: -218px -41px
.gjw-center-one
  background-position: -388px -21px
.gjw-center-two
  background-position: -696px 7px
.gjw-center-three
  background-position: -415px -191px
.gjw-center-four
  background-position: -686px -191px
.gjw-center-five
  background-position: -430px -349px
.gjw-center-six
  background-position: -697px -349px
#ganjiwang-banner
  background: url("/static/imgs/pc_activity/ganjiwang/banner.jpg") no-repeat center center
  height: 502px

.gjw-wrap
  height: 2100px
  background: #f8f2ce
  position: relative
  .gjw-big
    background: url("/static/imgs/pc_activity/ganjiwang/small-bj.jpg") no-repeat center center
    height: 240px
    position: relative
  .gjw-gold
    width: 1106px
    height: 2100px
    background: url("/static/imgs/pc_activity/ganjiwang/big-bj.png") no-repeat left center
    margin: 0 auto
    position: relative
    top: -274px
    border: 1px solid #00f
    .gjw-h
      font-size: 24px
      color: #df3146
      text-align: center
      line-height: 50px
      position: relative
      top: 50px
    .gjw-p
      font-size: 17px
      color: #7a744e
      position: relative
      left: 230px
      top: 70px
      span
        display: inline-block
        width: 305px
        height: 50px
    .gjw-number-one
      width: 100%
      height: 300px
      .gjw-prize
        display: inline-block
        width: 241px
        height: 275px
        position: relative
        top: 82px
        margin-right: 42px
        a
          font-size: 20px
          color: #fff
          display: inline-block
          width: 100px
          line-height: 24px
          position: absolute
          left: 71px
          top: 17px
        p
          font-size: 12px
          position: absolute
          bottom: 15px
          left: 42px
          color: #fff
          b
            font-weight: normal
            color: #fff003
    .gjw-girl
      width: 116px
      height: 167px
      position: absolute
      top: 490px
      left: 510px
    .gjw-number-two
      width: 100%
      height: 500px
      position: relative
      top: 150px
      .gjw-recharge
        width: 253px
        height: 241px
        border: 1px solid #ccc
        border-radius: 10px
        background: #fff
        overflow: hidden
        position: relative
        display: inline-block
        margin: 10px 165px 0 0
        .gjw-title1,.gjw-title2
          width: 115px
          height: 89px
          //border: 1px solid #f0f
        .gjw-title2
          position: relative
          top: -90px
          display: none
        .gjw-h2
          font-size: 20px
          color: #dc1a38
          position: absolute
          top: 0
          left: 105px
        .gjw-center
          width: 211px
          height: 169px
          margin: 0 auto
          position: relative
          top: -35px
