.gjw-font-com
  background: url("/static/imgs/pc_activity/ganjiwang/font.png") no-repeat
.gjw-font-one
  background-position: -12px -20px
.gjw-font-two
  background-position: -12px -97px
.gjw-font-three
  background-position: -12px -169px
.gjw-prize-com
  background: url("/static/imgs/pc_activity/ganjiwang/no1.png") no-repeat
.gjw-prize-one
  background-position: -1px 0
.gjw-prize-two
  background-position: -300px 0
.gjw-prize-three
  background-position: -5px -322px
.gjw-prize-four
  background-position: -295px -322px
.gjw-people-com
  background: url("/static/imgs/pc_activity/ganjiwang/people.png") no-repeat
.gjw-people-one
  background-position: -39px -45px
.gjw-people-two
  background-position: -265px -16px
.gjw-people-three
  background-position: -67px -307px
.gjw-tit-com
  background: url("/static/imgs/pc_activity/ganjiwang/no2.png") no-repeat
.gjw-tit-one
  background-position: -29px -41px
.gjw-tit-two
  background-position: -218px -41px
.gjw-center-one
  background-position: -388px -21px
.gjw-center-two
  background-position: -696px 7px
.gjw-center-three
  background-position: -415px -191px
.gjw-center-four
  background-position: -686px -191px
.gjw-center-five
  background-position: -430px -349px
.gjw-center-six
  background-position: -697px -349px
.gjw-center-seven
  background-position: 0px -178px
.gjw-small-com
  background: url("/static/imgs/pc_activity/ganjiwang/no3-4.png") no-repeat
.gjw-small-one
  background-position: -5px -2px
.gjw-small-two
  background-position: -5px -27px
.gjw-small-three
  background-position: -31px -2px
.gjw-small-four
  background-position: -55px -2px
#ganjiwang-banner
  background: url("/static/imgs/pc_activity/ganjiwang/banner.jpg") no-repeat center center
  height: 453px
#ganjiwang-welcome
  background: rgba(0, 0, 0, 0.66)
  top: 50px
.gjw-wrap
  height: auto
  background: #f8f2ce
  position: relative
  .gjw-big
    background: url("/static/imgs/pc_activity/ganjiwang/small-bj.jpg") no-repeat center center
    height: 211px
    position: relative
  .gjw-gold
    width: 1106px
    height: 2113px
    background: url("/static/imgs/pc_activity/ganjiwang/big-bj4.png") no-repeat left center
    margin: 0 auto
    position: relative
    top: -268px
    .xl-backtop
      width: 50px
      height: 251px
      //background: #00f
      position: fixed
      right: 0px
      bottom: 100px
      z-index: 999
      cursor: default
      display: none
      span
        display: inline-block
        width: 100%
        height: 64px
      .backtop
        background: #b22621
        width: 27px
        color: #fff
        text-align: center
        padding: 10px 0
        margin: 10px 0 10px 10px
        border-radius: 15px
      .sev-backtop
        background: #ff5252
      .erweima
        width: 146px
        height: 186px
        position: absolute
        top: 73px
        left: -158px
        background: url("/static/images/xunlei/erweima.png") no-repeat center center
        display: none
      a
        display: inline-block
    .gjw-h
      font-size: 24px
      color: #df3146
      text-align: center
      line-height: 50px
      position: relative
      top: 90px
    .gjw-p
      font-size: 17px
      color: #7a744e
      position: relative
      left: 230px
      top: 96px
      span
        display: inline-block
        width: 305px
        height: 50px
    .gjw-number-one
      width: 100%
      height: 300px
      .gjw-prize
        display: inline-block
        width: 241px
        height: 275px
        position: relative
        top: 102px
        margin-right: 42px
        a
          font-size: 20px
          color: #fff
          display: inline-block
          width: 100px
          line-height: 24px
          position: absolute
          left: 71px
          top: 17px
        p
          font-size: 12px
          position: absolute
          bottom: 15px
          left: 42px
          color: #fff
          b
            font-weight: normal
            color: #fff003
    .gjw-girl
      width: 116px
      height: 167px
      position: absolute
      top: 490px
      left: 510px
    .gjw-number-two
      width: 100%
      height: 500px
      position: relative
      top: 150px
      .gjw-recharge
        width: 253px
        height: 241px
        border: 1px solid #ccc
        border-radius: 10px
        background: #fff
        overflow: hidden
        position: relative
        display: inline-block
        margin: 10px 165px 0 0
        .gjw-over
          width: 168px
          height: 119px
          position: absolute
          z-index: 100
          top: 46px
          left: 64px
          display: none
        .gjw-title1,.gjw-title2
          width: 115px
          height: 89px
          //border: 1px solid #f0f
        .gjw-title2
          position: absolute
          top: 0px
          display: none
        .gjw-h2
          font-size: 20px
          color: #dc1a38
          position: absolute
          top: 0
          left: 105px
        .gjw-center
          width: 211px
          height: 169px
          margin: 0 auto
          position: relative
          top: -35px
    .gjw-number-three
      width: 100%
      height: 300px
      position: relative
      top: 265px
      dl
        width: 253px
        height: 290px
        border: 1px solid #aaa86b
        padding: 8px 0 0 7px
        background: #fff
        display: inline-block
        margin-right: 160px
        dt
          width: 240px
          height: 194px
          background: url("/static/imgs/pc_activity/ganjiwang/no3-1.jpg") no-repeat center center
        .yunnan
          background: url("/static/imgs/pc_activity/ganjiwang/no3-2.jpg") no-repeat center center
        .hainan
          background: url("/static/imgs/pc_activity/ganjiwang/no3-3.jpg") no-repeat center center
        dd
          h3
            color: #d7002d
            font-size: 18px
            margin: 10px 0
            span
              float: right
              font-size: 16px
              color: #82845d
              display: inline-block
              position: relative
              top: -5px
              right: 10px
              b
                display: inline-block
                width: 18px
                height: 18px
                position: relative
                top: 5px

          a
            display: inline-block
            width: 221px
            height: 42px
            margin-left: 10px
    .gjw-number-four
      width: 100%
      height: 292px
      background: url("/static/imgs/pc_activity/ganjiwang/no3-5.png") no-repeat center center
      position: relative
      top: 287px
      h1
        font-size: 22px
        color: #d70023
        text-align: center
        padding: 30px 0
        a
          color: #d70023
          text-decoration: underline
      p
        font-size: 16px
        list-style: 26px
        color: #fff
        margin-left: 240px
      .man
        width: 165px
        height: 239px
        position: absolute
        top: 102px
        right: -1px
        z-index: 999
  .bj
    width: 1106px
    height: 50px
    background: #f8f2ce
    margin: 0 auto
    position: relative
    top: -300px
  .gjw-tour
    width: 1106px
    margin: 0 auto
    height: 300px
    position: relative
    top: -396px
    display: none
    .jiao
      width: 142px
      height: 49px
      background: url("/static/imgs/pc_activity/ganjiwang/jiao.jpg") no-repeat center center
      position: relative
      left: 963px
      top: 9px
    .tour-big
      width: 100%
      height: 100%
      background:  #c2b775
      border-radius: 15px
      padding: 10px
      position: relative
      //top: -100px
      .tour-small
        width: 100%
        height: 100%
        background:  #f8f2ce
        border-radius: 15px
        padding: 43px 35px
        position: relative
        .tour-erwm
          width: 140px
          height: 140px
          position: absolute
          background: url("/static/imgs/pc_activity/ganjiwang/tour-ewm.jpg") no-repeat center center
          right: 92px
          top: 23px
        ul
          width: 800px
          li
            display: inline-block
            color: #7f7e77
            font-size: 16px
            margin-right: 60px
            line-height: 30px
            font-weight: bold
            a
              color: #d53e49
              text-decoration: underline
        p
          font-size: 15px
          color: #666666
        h1
          font-size: 18px
          color: #cf0027
          text-align: center
  .xl-box1
    width: 1100px
    margin: 0 auto
    position: relative
    top: -85px
    .san-new
      .san-new-content
        .row
          .san-span
            dl
              .pp-zi
                b
                  font-weight: normal
                  color: #ea5152
    .content-process
      .content-pptv
        .process-list
          .triangle-start
            width: 126px
          #xl-triangle-center
            width: 149px
          .circle
            .circle-txt
              position: relative
              width: 200px
              left: -44px
              color: #999162
            .circle-body
              width: 100px
              height: 100px
              border: 4px solid #dedede
              //+border-radius(50px)
              background: #fff url("/static/images/pptv/liucheng11.png") no-repeat
              -webkit-transition: all 3s
              -o-transition: all .3s ease-in-out
              transition: all .3s ease-in-out
              &:hover
                background-color: #ea5153
                border: 4px solid #ea5153
            .free
              background-position: 10px 10px
              &:hover
                background-position: 10px -63px
            .atte
              background-position: 10px -138px
              &:hover
                background-position: 10px -207px
            .recharge
              background-position: 12px -280px
              &:hover
                background-position: 12px -350px
            .tender
              background-position: 10px -423px
              &:hover
                background-position: 10px -495px
            .collec
              background-position: 10px -566px
              &:hover
                background-position: 10px -637px
  .gjw-rule
    width: 1100px
    height: 300px
    margin: 0 auto
    position: relative
    top: -165px
    h4
      font-size: 30px
      color: #cf0027
    ul
      margin-top: 20px
      li
        font-size: 14px
        color: #918958
        line-height: 25px
#small-zc
  z-index: 99
  #activity-over
    width: 400px
    height: 200px
    position: fixed
    top: 50%
    left: 50%
    margin-top: -100px
    margin-left: -200px
    border-radius: 10px
    background: #fff
    display: none
    .first-xl-off2
      border-radius: 15px
      background: #fff
      font-weight: bold
      color: #999
      position: absolute
      font-size: 21px
      right: 3px
      top: 2px
      cursor: default
      padding: 0 8px
    h1
      height: 80px
      b
        color: #ff5252
        font-size: 24px
        text-align: center
        font-weight: normal
        display: inline-block
        position: absolute
        left: 156px
        top: 42px
      span
        width: 60px
        height: 69px
        display: inline-block
        position: absolute
        left: 83px
    p
      color: #7f8c93
      font-size: 18px
      text-align: center
      line-height: 30px
  #gjw-success
    width: 400px
    height: 200px
    position: fixed
    top: 50%
    left: 50%
    margin-top: -100px
    margin-left: -200px
    border-radius: 10px
    background: #fff
    display: none
    .first-xl-off2
      border-radius: 15px
      background: #fff
      font-weight: bold
      color: #999
      position: absolute
      font-size: 21px
      right: 3px
      top: 2px
      cursor: default
      padding: 0 8px
    p
      font-size: 24px
      margin-top: 50px
      text-align: center
    a
      display: inline-block
      padding: 8px 59px
      font-size: 20px
      background: #ff5252
      cursor: default
      border-radius: 5px
      color: #fff
      position: absolute
      bottom: 0
      left: 100px
      display: none

    ul
      position: absolute
      bottom: -10px
      li
        line-height: 20px
        display: inline-block
        padding: 10px 59px
        font-size: 20px
        background: #ff5252
        cursor: default
        border-radius: 5px
        color: #fff
        &:hover
          background: #c93131
          color: #fff



