body
  background: #ffe6a6
  .bold
    font-weight: bold
  .clear
    clear: both
  .wanglibaologo
    margin-top: 15px
  .activity-nav
    .act-container-login-nav
      .login-nav
        .nav-items
          ul
            li
              line-height: 90px
  .goldSeason
    display: block
    .goldSeasonBanner
      width: 100%
      display: block
    .rankingList
      width: 1100px
      padding-top: 107px
      display: block
      margin: 0 auto
      background: url(/static/imgs/pc_activity/gold_season/rankingListBg1.png)
      height: 618px
      .table
        width: 765px
        margin: 0 auto
        li
          float: left
          font-size: 22px
          color: #666
          height: 40px
          line-height: 40px
          text-align: center
        li.one
          padding: 0 70px 0 110px
          width: 240px
        li.two
          width: 258px
        li.three
          width: 242px
      .list
        clear: both
        width: 765px
        margin: 0 auto
        padding-top: 15px
        ul
          float: left
          li
            width: 100%
            height: 40px
            line-height: 40px
            text-align: center
            color: #333
            font-size: 15px
          li:nth-child(odd)
            background-color: #eee
          li.front
            color: #ff4300
          li.back
            color: #999
        ul.two
          width: 258px
        ul.three
          width: 242px
        ul.one
          width: 240px
          span
            display: block
            margin: 0 90px 0 130px
            width: 20px
          span.one
            background: url(/static/imgs/pc_activity/gold_season/ico.png) no-repeat 0 0
            height: 32px
            position: relative
            top: 4px
          span.two
            background: url(/static/imgs/pc_activity/gold_season/ico.png) no-repeat 0 -32px
            height: 32px
            position: relative
            top: 4px
          span.three
            background: url(/static/imgs/pc_activity/gold_season/ico.png) no-repeat 0 -64px
            height: 32px
            position: relative
            top: 4px
          .round
            text-align: center
            border-radius: 50%
            background: #ccc
            position: relative
            top: 10px
            color: #fff
            height: 20px
            line-height: 20px
    img.label
      margin: 40px auto
      display: block
    .order
      background: url(/static/imgs/pc_activity/gold_season/orderBg.png) no-repeat 0 0
      width: 1099px
      height: 1529px
      margin: 0 auto
      position: relative
      .text
        font-size: 18px
        color: #666
        line-height: 30px
        position: absolute
      .title
        font-size: 18px
        color: #a8471b
        line-height: 30px
        position: absolute
      .text1
        left: 550px
        top: 130px
      .title1
        left: 88px
        top: 320px
      .text2
        left: 330px
        top: 555px
      .title2
        left: 896px
        top: 736px
      .text3
        left: 466px
        top: 914px
      .title3
        left: 94px
        top: 1086px
      .text4
        left: 180px
        top: 1318px
      .title4
        left: 922px
        top: 1500px
    .button
      margin: 20px auto 40px
      width: 246px
      height: 56px
      background: #ec551d
      color: #fff
      font-size: 18px
      display: block
      line-height: 56px
      border-radius: 8px
      -webkit-transition: all 0.3s ease
      -moz-transition: all 0.3s ease
      -ms-transition: all 0.3s ease
      -o-transition: all 0.3s ease
      transition: all 0.3s ease
    .button:hover
      background: #274FB4
    .explainImg
      width: 1100px
      margin: 0 auto 80px
      display: block
    .explain
      background: url(/static/imgs/pc_activity/gold_season/explainBg.png) no-repeat 0 0
      width: 1104px
      padding: 55px 0 0 94px
      margin-left: -552px
      display: inline-block
      position: relative
      left: 50%
      .main
        border: 10px #fa742d solid
        border-top: none
        width: 904px
        border-bottom-left-radius: 8px
        border-bottom-right-radius: 8px
        background: #fff
        padding: 16px 0 26px
        dt,dd
          line-height: 30px
          color: #666
          padding: 0 8px
          font-size: 14px
          span
            color: #ec551d
    .example
      clear: both
      border: 6px #f0651f solid
      border-radius: 14px
      width: 1088px
      margin: 38px auto 0
      display: block
      height: 202px
      .leftImg
        float: left
        display: block
        position: relative
        top: 41px
        left: -1px
      .rightMain
        float: left
        display: block
        margin-left: 12px
        width: 892px
        p.title
          padding-top: 16px
          line-height: 26px
          font-size: 14px
          text-align: left
        p.text
          font-size: 18px
          line-height: 40px
          font-weight: bold
        .number
          span
            float: left
            display: block
            font-size: 24px
            color: #666
            line-height: 24px
          dl
            float: left
            display: block
            text-align: center
            position: relative
            left: -3px
            dt
              font-size: 24px
              color: #666
              line-height: 24px
              font-weight: bold
            dd
              padding-top: 5px
              font-size: 12px
              color: #f0651f
              line-height: 18px
        .example1
          float: left
          width: 500px
          .number
            margin-left: 26px
        .example2
          float: left
          width: 350px
          dl
            float: none
            margin: 0 auto
    .rule
      clear: both
      margin: 36px auto 28px
      width: 1088px
      dt
        font-size: 26px
        color: #666
        line-height: 34px
      dd
        line-height: 24px
        font-size: 12px

