body
  background-color: #e3e3e3
  .gold
    background-color: #f1f1f1
    max-width: 1100px
    min-width: 1100px
    margin: 0px auto

    .note
      color: red

    .banner
      height: 550px
      background: url(/static/images/gold/gold_banner.jpg) center center no-repeat

      .inner
        position: relative

        .home
          position: absolute
          top: 15px
          right: 20px
          display: block
          width: 100px
          height: 30px



        .get-money
          background-color: #fff
          color: #b21b14
          position: absolute
          width: 386px
          height: 60px
          text-align: center
          top: 418px
          left: 350px
          @include border-radius(5px)

          h2
            color: #b21b14
            line-height: 64px
            height: 60px
            font-size: 36px

          span
            font-size: 14px
            position: absolute
            top: 30px
            right: 20px
            font-weight: normal

    h1
      color: #ff5d33
      text-align: center
      font-size: 30px
      height: 80px
      line-height: 80px

    .content-title
      height: 50px
      line-height: 50px
      .title-inner-line
        height: 25px
        overflow: visible
        border-bottom: 1px solid #ccc

        text-align: center
        h2
          padding: 0 20px
          background-color: #f1f1f1
          display: block
          width: 400px
          margin: 0px auto
          font-weight: normal

    .content-desc
      p
        text-align: center
        font-size: 16px
        line-height: 25px

    .xunlei-01

      height: 200px
      background: url(/static/images/gold/xunlei_01.jpg) center center no-repeat
      margin: 20px 0

    .xunlei-levels

      padding: 30px 0

      table
        width: 500px
        margin: 0px auto

        td
          text-align: left
          line-height: 30px
          font-size: 14px

    .xunlei-02
      height: 300px
      background: url(/static/images/gold/xunlei_02.jpg) center center no-repeat
      margin-top: 20px

    .invite-container
      text-align: center
      padding: 20px 0
      .invite-btn
        width: 150px
        height: 40px
        background: #ff5d33
        display: block
        margin: 0px auto
        color: #fff
        line-height: 40px
        font-size: 18px
        @include border-radius(5px)

    .investment-process-container
      background-color: inherit

    .gold-footer
      background-color: #ebebeb
      padding: 30px 20px

      .gold-declare
        border-bottom: 1px solid #ccc
        padding-bottom: 20px
        padding-left: 20px
        padding-right: 20px
        dl
          dt
            font-size: 24px
          dd
            line-height: 30px
            font-size: 14px

      .gold-version

        background: url(/static/images/gold/xunlei_footer.jpg) left top no-repeat
        height: 230px

