body
  .bold
    font-weight: bold
  .clear
    clear: both
  .wanglibaologo
    margin-top: 15px

  .activity-nav
    .act-container-login-nav
      .login-nav
        .nav-items
          ul
            li
              line-height: 90px
  .goldSeason
    display: block
    .goldSeasonBanner
      width: 100%
      display: block
    .rankingList
      width: 1100px
      padding-top: 107px
      display: block
      margin: 0 auto
      background: url(/static/imgs/pc_activity/gold_season/rankingListBg.png)
      height: 628px
      .table
        width: 765px
        margin: 0 auto
        li
          float: left
          font-size: 22px
          color: #666
          height: 40px
          line-height: 40px
          text-align: center
        li.one
          padding: 0 70px 0 110px
          width: 240px
        li.two
          width: 258px
        li.three
          width: 242px
      .list
        clear: both
        width: 765px
        margin: 0 auto
        padding-top: 15px
        ul
          float: left
          li
            width: 100%
            height: 40px
            line-height: 40px
            text-align: center
            color: #333
            font-size: 15px
          li:nth-child(odd)
            background-color: #eee
          li.front
            color: #ff4300
          li.back
            color: #999
        ul.two
          width: 258px
        ul.three
          width: 242px
        ul.one
          width: 240px
          span
            display: block
            margin: 0 90px 0 130px
            width: 20px
            position: relative
            z-index: 1
          span.one
            background: url(/static/imgs/pc_activity/gold_season/ico.png) no-repeat 0 0
            height: 32px
            top: 4px
          span.two
            background: url(/static/imgs/pc_activity/gold_season/ico.png) no-repeat 0 -32px
            height: 32px
            top: 4px
          span.three
            background: url(/static/imgs/pc_activity/gold_season/ico.png) no-repeat 0 -64px
            height: 32px
            top: 4px
          .round
            text-align: center
            border-radius: 50%
            background: #ccc
            top: 10px
            color: #fff
            height: 20px
            line-height: 20px
    img.label
      margin: 40px auto
      display: block
    .order
      width: 1100px
      margin: 0 auto
      height: 298px
      .box
        width: 191px
        display: block
        float: left
        img
          padding-bottom: 7px
          margin: 0 auto
          display: block
        dl
          width: 100%
          text-align: center
          dt
            font-size: 16px
            line-height: 34px
          dd
            color: #e8471b
            font-size: 12px
            line-height: 18px
      .arrow
        margin: 0 45px
        float: left
        width: 22px
        padding-top: 68px
        height: 104px
        background: url(/static/imgs/pc_activity/gold_season/orderArrow.png) no-repeat 0 bottom
    .fixBox
      width: 100%
      position: relative
      left: 0
      bottom : 0px
      padding: 20px 0
      z-index: 9999
      height: 76px
      background: rgba(255,255,255,0.8)
      .button
        position: absolute
        left: 50%
        bottom: 10px
        margin: 0px 0 0 -123px
        width: 246px
        height: 56px
        background: #ec551d
        color: #fff
        font-size: 18px
        display: block
        line-height: 56px
        border-radius: 8px
        -webkit-transition: all 0.3s ease
        -moz-transition: all 0.3s ease
        -ms-transition: all 0.3s ease
        -o-transition: all 0.3s ease
        transition: all 0.3s ease
      .button:hover
        background: #274FB4
    .explain
      background: url(/static/imgs/pc_activity/gold_season/explainBg.png) no-repeat 0 0
      width: 1104px
      padding: 55px 0 0 94px
      margin-left: -552px
      display: inline-block
      position: relative
      left: 50%
      z-index: 1
      .main
        border: 10px #fa742d solid
        border-top: none
        width: 904px
        border-bottom-left-radius: 8px
        border-bottom-right-radius: 8px
        background: #fff
        padding: 16px 0 26px
        dt,dd
          line-height: 30px
          color: #666
          padding: 0 8px
          font-size: 14px
          span
            color: #ec551d
    .example
      clear: both
      border: 6px #f0651f solid
      border-radius: 14px
      width: 860px
      margin: 6px auto
      display: block
      height: 202px
      .leftImg
        float: left
        display: block
        position: relative
        top: 41px
        left: -1px
        z-index: 1
      .rightMain
        float: left
        display: block
        margin-left: 12px
        width: 660px
        p.title
          padding-top: 16px
          line-height: 26px
          font-size: 14px
          text-align: left
        p.text
          font-size: 16px
          line-height: 40px
          font-weight: bold
        .number
          span
            float: left
            display: block
            font-size: 24px
            color: #666
            line-height: 24px
          span.add
            position: relative
            left: -10px
            z-index: 1
          dl
            float: left
            display: block
            text-align: center
            position: relative
            left: -10px
            z-index: 1
            dt

              font-size: 24px
              color: #666
              line-height: 24px
              font-weight: bold
              padding: 0
            dd
              padding-top: 5px
              font-size: 12px
              color: #f0651f
              line-height: 18px
              padding: 0
          dl.right
            position: relative
            left: 30px
            width: 180px
            z-index: 1
        .example1
          float: left
          width: 400px
          .number
            margin-left: 26px
        .example2
          float: left
          width: 260px
          dl
            float: none
            margin: 0 auto

    .cheats
      background: url(/static/imgs/pc_activity/gold_season/cheatsBg.png) no-repeat 0 0
      width: 1100px
      margin: 0 auto
      height: 716px
      position: relative
      z-index: 1
      .title
        width: 256px
        text-align: center
        height: 54px
        position: absolute
        right: 176px
        top: 105px
        color: #fff
        font-size: 18px
        padding: 0
        line-height: 54px
      .text
        position: absolute
        color: #ec551d
        font-size: 18px
        height: 30px
        line-height: 30px
      .text1
        left: 238px
        top: 76px
      .text2
        left: 180px
        top: 148px
      .rule
        padding: 560px 0 0 110px
        width: 980px
        p
          color: #666
          line-height: 18px
          font-size: 12px
        .calculation
          color: #ec551d
  .g-footer-warp
    margin-top: 15px
