.job-list
  list-style: none
  padding-top: 5px

.job-item
  @extend .span3
  color: black
  font-size: $font-s
  margin: 5px 0

  &:before
    content: " "
    border-left: 7px $color-pomegranate solid
    border-top: 5px solid transparent
    border-bottom: 5px solid transparent
    margin-right: 10px

    display: inline-block

  a
    +link-colors(black, $color-pomegranate)

.job-modal
  width: 760px
  font-size: $font-s

.hiring-container
  padding: 2em
  line-height: 2

.button-hiring
  @extend .button-middle
  @extend .button-red
  padding: 3em

.hiring-position
  color: $color-pomegranate
  font-size: $font-s

  li
    color: lighten(black, 20%)

.hiring-requirement
  @extend .hiring-position

  li
    color: lighten(black, 20%)