.home-product-fund
  height: $fund-height
  background-color: $white

.fund-img
  width: $fund-img-width

.fund-content
  height: $fund-height
  width: $fund-width-content
  overflow: hidden
  border: solid 1px $fund-border-color
  border-left: 0

.fund-content-buy
  height: $fund-height-content
  border-bottom: solid 1px $fund-border-color

.fund-content-icon
  text-align: center
  padding-top: 5px

.fund-buy-hot
  float: left
  width: $fund-width-hot

.fund-buy-normal
  width: $fund-width-normal
  height: $fund-height-content
  overflow: hidden
  float: left
  padding-left: 20px
  padding-top: $space-s

  h1
    font-size: $font-l
    color: $orange
    padding-bottom: $space-s

  h3
    font-size: $font-m
    padding-bottom: $space-xs

  p
    line-height: normal
    padding: $space-xs 0
    color: $gray-text

.dark-gray
  color: $dark-gray

.red-new
  color: $red-new

.red-bg, a
  &.red-bg
    background-color: $red-new
    color : $white
  &.gray-bg
    background-color: $dark-ddd
    color : $dark-gray
  &.fund-button-l
    width: $width-150
    margin-top: $space-xs
  &.fund-button-m
    width: $width-85

.fund-button-l
  width: $width-150

.fund-num-large
  color: $red-new
  font-size: $font-xxxxxl
  font-family: Arial
  font-weight: bold
  padding-bottom: $space-m

.fund-border-left
  border-left: solid 1px $fund-border-color