.full-container-home
  @extend .full-container
  position: relative

$home-banner-height: image-height('home0.jpg')

.home-banner
  $file: 'home0.jpg'
  height: $home-banner-height
  background-position: center
  background-repeat: no-repeat
  position: absolute
  top: 0
  width: 100%
  display: none

.home-banner-1
  @extend .home-banner
  background-image: url('/static/images/home0.jpg')
  display: block

.home-banner-2
  @extend .home-banner
  background-image: url('/static/images/home1.jpg')

.full-container-white
  @extend .full-container
  background-color: white
  border-bottom: solid 1px $color-alto

.container-home
  @extend .container
  height: $home-banner-height

.banner-form
  @extend .pie-element
  position: relative
  float: right
  margin-top: 60px
  background: #8B867F
  background: rgba(80, 80, 80, .7)
  padding: 30px
  font-size: $font-m
  color: white
  z-index: 11
  height: 265px

  em
    font-size: $font-xxxl

  a.login-button
    +link-colors($color-text-d5, $color-pomegranate)
    text-decoration: underline

.banner-form--title
  font-size: $font-l

.banner-form--row
  margin-bottom: 10px

.banner-form--button
  @extend .button-primary
  margin-bottom: 10px

.sales-data-container
  @extend .container
  padding-top: 30px
  padding-bottom: 30px
  line-height: 30px
  font-size: $font-m
  color: $color-text-d4

  em
    font-size: $font-xl
    color: $color-text-d3

    &.highlight
      color: $color-pomegranate

.container-card-holder
  width: $content-width
  margin: 0 auto
  position: relative
  padding-left: 10px
  padding-bottom: 0
  border-bottom: 1px solid $color-pomegranate

.container-search
  width: 950px
  margin: 0 auto

.check-more
  float: right
  +clearfix
  padding-right: 5px
  padding-bottom: 30px

.hot-list
  height: $hot-list-height
  background-color: $color-white

.hot-list-picture-title
  +float-left
  width: $hot-list-img-width

.hot-list-container
  +float-left
  height: $hot-list-height
  width: $hot-list-width-content
  overflow: hidden
  border: solid 1px $color-mercury
  border-left: 0

.hot-list-content
  height: $hot-list-height-content
  border-bottom: solid 1px $color-mercury

  >:nth-child(2)
    border-right: solid 1px $color-mercury
    border-left: solid 1px $color-mercury

.hot-item-normal
  width: $hot-list-width-normal
  height: $hot-list-height-content
  overflow: hidden
  float: left
  padding-top: $space-s

.hot-item-title
  font-size: $font-l
  font-weight: bold
  color: $color-pomegranate
  padding-left: $space-s

.hot-item-list
  font-size: $font-s
  margin-top: $space-xs
  margin-left: $space-s
  color: $color-dusty-gray

  dl
    +float-left
    width: 200px

    dt
      font-size: $font-s
      padding-bottom: $space-xs

    dd
      line-height: 1.2
      padding: $space-xs 0

  ul
    +float-left
    width: 190px

    li
      border-bottom: dotted 1px $color-mercury
      line-height: 33px

    li.no-border-bottom
      border-bottom: 0


.hot-trust-info-container
  height: 170px

.hot-item-comments
  border-top: dotted 1px $color-mercury
  margin: $space-xs $space-s 0 $space-s
  padding-top: 7px
  color: $color-dusty-gray
  font-size: $font-xs
  text-align: justify
  line-height: normal

.hot-item-highlight
  float: left
  position: relative
  width: $hot-list-width-highlight
  height: $hot-list-height-content
  overflow: hidden
  padding-top: $space-s
  padding-left: $space-s

  dl
    width: 250px

  .hot-item-comments
    width: 440px

.hot-item-highlight-icon
  background: url("/static/images/home_recomment.png")
  width: 72px
  height: 72px
  position: absolute
  top: 1px
  right: 1px

.trust-hot-list-content
  height: 290px

  .hot-item-normal
    height: 290px

.buy_process
  text-align: center
  padding-top: 5px

.dark-gray
  color: $color-emperor

.button-m
  width: 85px

.button-l
  width: 150px

.button-xl
  width: 250px
  font-size: $font-m

.hot-list-num-m
  color: $color-pomegranate
  font-size: $font-xxxl
  font-family: Arial
  font-weight: bold
  line-height: 43px

.hot-list-num-l
  color: $color-pomegranate
  font-size: $font-xxxxxl
  font-family: Arial
  font-weight: bold

.hot-list-num-s
  color: $color-pomegranate
  font-size: $font-xxxxl
  font-family: Arial
  font-weight: bold

a.hot-item-title-link
  +unstyled-link
  &:link, &:visited
    color: $color-pomegranate
  &:hover, &:active
    background: $color-pomegranate
    color: $color-white

.hot-item-list-title
  position: relative
  top: 5px

.invest-history-table
  table-layout: fixed
  width: 100%
  color: $color-text-d4

  thead
    background: #ECF1F5
    line-height: 25px

  td, th
    text-align: center

  tbody tr
    border-bottom: 1px solid lightgray
    height: 60px

    em
      color: $color-text-d2

    .money-highlight
      color: $color-sea-green

    &:last-child
      border-bottom: 0

.media-item
  padding: 5px 0
  font-size: $font-m

.media-caption
  display: inline-block
  width: 20px
  height: 20px
  text-align: center
  margin-right: 10px
  font-size: $font-s
  background: $color-text-d3
  color: white

  &.highlight
    background: $color-pomegranate
