.full-container-home
  @extend .full-container
  position: relative

.home-banner
  $file: 'home0.jpg'
  height: image-height($file)
  background-position: center
  background-repeat: no-repeat
  position: absolute
  top: 0
  width: 100%
  display: none

.home-banner-1
  @extend .home-banner
  background-image: url('http://wanglibao.oss-cn-hangzhou.aliyuncs.com/images/home0.jpg')
  display: block

.home-banner-2
  @extend .home-banner
  background-image: url('http://wanglibao.oss-cn-hangzhou.aliyuncs.com/images/home1.jpg')
  cursor: pointer

.home-banner-3
  @extend .home-banner
  background-image: url('http://wanglibao.oss-cn-hangzhou.aliyuncs.com/images/home2.jpg')

.full-container-white
  @extend .full-container
  background-color: white


.container-home
  @extend .container

.portfolio-container
  @extend .pie-element
  position: relative
  float: right
  margin-top: 20px
  background: #8B867F
  background: rgba(#8B867F, .7)
  padding: 10px 20px 20px 20px
  font-size: $font-s
  color: white
  z-index: 11

  span
    position: absolute
    color: $dark-gray
    right: 25px
    top: 5px
    font-size: $font-s

  td
    padding: 10px 0
    text-align: right

.portfolio-input
  border: 1px
  width: 190px
  border-radius: 3px
  font-size: $font-s
  background-color: white

.portfolio-thead
  font-size: $font-xl
  color: white
  border-bottom: 1px dashed black

.portfolio-td-last
  padding-right: 20px
  position: relative

.portfolio-submit
  width: 94%
  background-color: $red
  border: 0
  color: white
  padding: 7px
  border-radius: 2px

  &:hover
    cursor: pointer

.container-card-holder
  width: $content-width
  margin: 0 auto
  position: relative
  padding-left: 10px
  padding-bottom: 0
  border-bottom: 1px solid $red

.container-search
  width: 950px
  margin: 0 auto

.check-more
  float: right
  +clearfix
  padding-right: 5px
  padding-bottom: 30px


//new style
.hot-list
  height: $fund-height
  background-color: $white

.fund-picture-title
  +float-left
  width: $fund-img-width

.fund-container
  +float-left
  height: $fund-height
  width: $fund-width-content
  overflow: hidden
  border: solid 1px $fund-border-color
  border-left: 0

.fund-content
  height: $fund-height-content
  border-bottom: solid 1px $fund-border-color

  >:first-child
    border-right: solid 1px $fund-border-color

  >:last-child
    border-left: solid 1px $fund-border-color

.fund-icon
  text-align: center
  padding-top: 5px

.hot-item-highlight
  float: left
  position: relative
  width: $fund-width-hot
  height: $fund-height-content
  overflow: hidden
  padding-top: $space-s
  padding-left: $space-s

.hot-item-highlight-icon
  background: url("/static/images/home_recomment.png")
  width: 72px
  height: 72px
  position: absolute
  z-index: 99
  top: 1px
  right: 1px

.hot-item-normal
  width: $fund-width-normal
  height: $fund-height-content
  overflow: hidden
  float: left
  padding-top: $space-s

.fund-title
  font-size: $font-l
  font-weight: bold
  color: $orange
  padding-left: $space-s

.hot-item-list
  font-size: $font-s
  margin-top: $space-xs
  margin-left: $space-s
  color: $gray-text

  dl
    +float-left
    width: 200px

    dt
      font-size: $font-s
      padding-bottom: $space-xs

    dd
      line-height: normal
      padding: $space-xs 0

  ul
    +float-left
    width: 190px

    li
      border-bottom: dotted 1px $fund-border-color
      line-height: 33px

    li.no-border-bottom
      border-bottom: 0

.hot-item-highlight

  dl
    width: 250px

.hot-item-comments
  border-top: dotted 1px $fund-border-color
  padding: $space-xs $space-s
  color: $gray-text
  margin-top: 10px
  font-size: $font-s

.dark-gray
  color: $dark-gray

.button-m
  width: 85px

.button-l
  width: 150px

.fund-num-m
  color: $red
  font-size: $font-xxxl
  font-family: Arial
  font-weight: bold
  line-height: 43px

.fund-num-l
  color: $red
  font-size: $font-xxxxxl
  font-family: Arial
  font-weight: bold
  padding-bottom: $space-m

.fund-border-left
  border-left: solid 1px $fund-border-color

.no-border
  border: 0
