@import compass/css3
@import "font-icons"
@include font-icon-family(entypo)

@mixin icon-base($family)
  @include font-icon-base($family, $font-size: 1em, $width: 1em, $margin: 0)

.icon
  +inline-block()
  position: relative
  vertical-align: middle

.icon-info
  @include icon-base(entypo)
  @extend %entypo-info-circle

.icon-cancel
  @include icon-base(entypo)
  @extend %entypo-cancel
  color: $color-text-d4
  &:hover
    color: $color-text-d3

.icon-right-dir
  @include icon-base(entypo)
  @extend %entypo-right-dir
