@import compass/css3
@import compass/utilities/sprites
@import ../sprites/images-original

// Icons
%i-search-form-title-icon
  width: 21px
  height: 23px
  vertical-align: middle
  display: inline-block

.i-search-personal
  @extend %i-search-form-title-icon
  @include images-original-sprite(people)

.i-search-product
  @extend %i-search-form-title-icon
  @include images-original-sprite(search)

%i-12
  width: 12px
  height: 12px
  vertical-align: middle
  +inline-block()

.i-search-question-mark
  @extend %i-12
  @include images-original-sprite(help)

%small-icon
  width: 13px
  height: 13px
  +inline-block()

.header-phone-icon
  @extend %small-icon
  @include images-original-sprite(phone_small)


@each $name in location, mail, phone-icon, pad, people-white, lock
  .i-#{$name}
    +images-original-sprite-dimensions($name)
    +inline-block()
    @include images-original-sprite($name)