@import compass/css3
@import lemonade

.big-background
  width: 100%
  height: 490px

.big-background-container
  position: absolute
  width: 100%
  z-index: -1

.background-anchors
  position: absolute
  bottom: 10px
  text-align: center
  width: 100%
  z-index: 1
  li
    display: inline-block

.background-anchor
  display: inline-block
  width: 16px
  height: 16px
  +border-radius(8px)
  background: #d3d3d3
  text-indent: 9000em
  margin: 0 3px

  &.active
    background: $red

.logo
  +inline-block()
  background: image-url('logo.png')
  width: 130px
  height: 60px

  .svg &
    background: image-url('logo.svg')
