@charset "utf-8"
@import compass/css3
@import lemonade

.big-background
  width: 100%
  height: 490px

.big-background-container
  position: absolute
  width: 100%
  z-index: -1

.background-anchors
  position: absolute
  bottom: 10px
  text-align: center
  width: 100%
  z-index: 1
  li
    display: inline-block

.background-anchor
  overflow: hidden
  display: inline-block
  width: 16px
  height: 16px
  +border-radius(8px)
  background: #d3d3d3
  text-indent: 9000em
  margin: 0 3px

  &.active
    background: $color-pomegranate

.it-partners
  background-image: image-url('it_partners.png')
  background-repeat: no-repeat
  display: inline-block
  width: 120px
  height: 50px

.baidu
  @extend .it-partners
  background-position: -120px 0

.qq
  @extend .it-partners
  background-position: -120px -50px

.xunlei
  @extend .it-partners
  background-position: -120px -100px

.ctrip
  @extend .it-partners
  background-position: -120px -150px

.zhy
  @extend .it-partners
  background-position: -120px -200px

.sohu
  @extend .it-partners
  background-position: -120px -250px

.baofeng
  @extend .it-partners
  background-position: -120px -300px

.hc
  @extend .it-partners
  background-position: -120px -350px
