.common-inform
  background-color: #fff
  border: 1px solid #f9b1a2
  padding: 20px 60px 30px 55px
  line-height: 30px
  p
    font-size: 14px
    color: #cd0603
    background: url(/static/images/inform/icon_inform.png) no-repeat
    text-indent: 50px
    padding-top: 5px