#invite-banner
  background: url("/static/imgs/pc_activity/invite/banner.jpg") no-repeat center center
  height: 651px
#inivte-gold
  position: relative
  top: -157px
.full-gold-declare
  dl
    dd
      b
        color: #e75a2d