.wlb-logo
  background: url("/static/images/logo.png") no-repeat center center
  height: 59px
  margin-top: 12px
  width: 350px
.present-content
  padding: 30px 0 25px
  max-width: 1100px
  min-width: 1100px
  margin: 0 auto
  .register-present
    float: left
    width: 311px
    height: 403px
    border: 1px solid #dedede
    border-radius: 5px
    .register-h,.invest-h,.invitation-h
      height: 66px
      width: 309px
      background: #448aff
      text-align: center
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      .register-title
        background: url(/static/images/ko/icon.png) center no-repeat
        display: inline-block
        margin-top: 20px
      .icon1
        background-position: -4px 0
        width: 92px
        height: 23px
    .register-image
      margin: 12px 0 8px
      text-align: right
      width: 309px
      .register-span
        background: url(/static/images/ko/redPacket.jpg) center no-repeat
        width: 248px
        height: 262px
        display: inline-block
    .register-font
      font-size: 14px
      color: #666
      padding: 0 28px
      line-height: 20px
      b
        font-weight: normal
        color: #eb4256
    .invitation-h
      background: #fca11c
      .icon3
        width: 129px
        height: 23px
        background-position: -262px 0
    .telephone-charge
      text-align: center
      margin: 80px 0 75px
      .telephone-img
        background: url(/static/images/ko/icon.png) center no-repeat
        background-position: -2px -49px
        width: 242px
        height: 125px
        display: inline-block
    .invitation-welfare
      font-size: 14px
      color: #666
      padding: 0 15px
      b
        color: #eb4256
  .second-content
    margin: 0 77px
    .invest-h
      background: #8bc34a
      .icon2
        background-position: -128px 0
        width: 92px
        height: 23px
    .second-font
      text-align: center
      color: #666
      font-size: 14px
      padding: 7px 0
      b
        color: #eb4256
    .invest-image
      text-align: center
      .invest-money
        background: url(/static/images/ko/icon.png) center no-repeat
        display: inline-block
        width: 143px
        height: 70px
      .money10
        background-position: -1px -185px
      .money20
        background-position: -153px -185px
      .money50
        background-position: -306px -185px

