@import susy
@import variables

// Susy configuration
$total-columns: 12
$column-width: 4rem
$gutter-width: 1rem
$grid-padding: 0

$container-style: static
$container-width: 1104px

$container-style: magic

.l-activity-panel
  +container

.well
  +container
  padding: 20px 20px

.well-s
  +container
  padding: 10px 10px

.full-container
  width: 100%

.full-container-home
  $file: 'home.jpg'
  background-image: image-url($file)
  height: image-height($file)
  background-position: center

.full-container-white
  @extend .full-container
  background-color: white

.container
  +container
  width: $content-width
  clear: both
  margin: 0 auto

.container-home
  @extend .container

.container-login-nav
  @extend .container
  width: 900px
  padding-top: 15px
  background-color: white

.container-login
  @extend .container
  width: 900px
  margin-top: 30px
  background-color: white

.login-div
  border-right: 1px solid $background-color
  padding: 15px 0

.portfolio-container
  float: right
  margin-top: 20px
  background: rgba(#8B867F, .7)
  padding: 10px 20px 20px 20px
  font-size: $font-s
  color: white

  span
    position: absolute
    color: $dark-gray
    right: 25px
    top: 13px
    font-size: $font-s

  td
    padding: 10px 0
    text-align: right
    position: relative

.portfolio-input
  min-height: $font-s
  border: 1px
  width: 190px
  border-radius: 1
  font-size: $font-s
  background-color: white

.portfolio-thead
  font-size: $font-xl
  color: white
  border-bottom: 1px dashed black

td.portfolio-td-last
  padding-right: 20px

.portfolio-submit
  width: 94%
  background-color: $red
  border: 0
  color: white
  padding: 7px
  border-radius: 2px

.container-card-holder
  width: $content-width
  margin: 0 auto
  position: relative
  padding-left: 10px
  padding-bottom: 0
  border-bottom: 1px solid $red

.container-search
  width: 950px
  margin: 0 auto

.row
  +container
  +clearfix

@for $i from 1 to $total-columns + 1
  .span#{$i}
    +span-columns($i, $total-columns)
  .span#{$i}-omega
    +span-columns($i omega, $total-columns)
  .prefix#{$i}
    +pre($i)


@for $i from 1 to $total-columns + 1
  .ispan#{$i}
    display: inline-block
    width: percentage($i/$total-columns)

@mixin full-height
  height: 100%
  min-height: 100%

@mixin box
  +full-height

.table
  display: table

.table-row
  display: table-row

.table-cell
  display: table-cell

.relative-pos
  position: relative

.absolute-pos
  position: absolute

.pos-r-s
  right: $space-s
