*
  margin: 0
  padding: 0
.clearfix
  *zoom: 1
.clearfix:before,.clearfix:after
  display: table
  line-height: 0
  content: ""
.clearfix:after
  clear: both
.list-banner
  width: 100%
  height: 651px
  background: url("/static/images/activity/level/banner.jpg") no-repeat center center
.list-content-div
  background: #18bd9b
  margin: -30px auto 0
  width: 100%
  .list-content
    width: 1104px
    margin: 0 auto
    text-align: center
    h1
      font-size: 24px
      color: #FFFFFF
      background: none
    .level-prize
      padding: 25px 0
      .level-prize-left
        width: 281px
        height: 551px
        background: url("/static/images/activity/level/qi.jpg") no-repeat center center
        float: left
      .level-prize-right
        float: left
        margin-left: 37px
        .prize-title
          dt
            float: left
            width: 101px
            height: 111px
            background: url("/static/images/activity/level/icon.png") -102px -117px
          dd
            float: left
            width: 685px
            .pdiv
              width: 320px
              margin-left: 5px
              float: left
              p
                text-align: left
                font-size: 14px
                color: #333
                line-height: 23px
                font
                  color: #b22621
              p.titlep
                font-size: 18px
                color: #fff
                padding: 3px 0
            span
              float: right
              width: 269px
              height: 103px
              background: url("/static/images/activity/level/icon.png") -95px 0
        .active-pop
          font-size: 16px
          color: #fff
          text-align: left
        ul
          width: 786px
          li
            margin: 10px 21px 0 0
            float: left
            width: 140px
            span
              width: 140px
              height: 143px
              display: inline-block
              position: relative
              background: url("/static/images/activity/level/jinbi.png") no-repeat
              font
                font-size: 14px
                color: #fff
                position: absolute
                bottom: 10px
                left: 48px
            label
              font-size: 16px
              color: #333
            span.jinbi1
              background-position: 0 0
            span.jinbi2
              background-position: -161px 0
            span.jinbi3
              background-position: -322px 0
            span.jinbi4
              background-position: -482px 0
            span.jinbi5
              background-position: -643px 0
            span.jinbi6
              background-position: 0 -180px
            span.jinbi7
              background-position: -161px -180px
            span.jinbi8
              background-position: -322px -180px
            span.jinbi9
              background-position: -482px -180px
            span.jinbi10
              background-position: -643px -180px
          li.lastli
            margin-right: 0
        .mt8
          margin-top: 8px
        .notes
          font-size: 14px
          color: #333333
          line-height: 25px
          font
            color: #b22621
    .ring-list
      width: 1100px
      height: 774px
      background: url("/static/images/activity/level/list.jpg") no-repeat center
      padding-top: 104px
      .min-nav
        width: 418px
        height: 46px
        line-height: 46px
        color: #f9e6c1
        font-size: 16px
        margin: 0 auto
        span
          text-align: center
          width: 208px
          display: inline-block
          background: #ff514b
          cursor: pointer
        .day-list
          border-top-left-radius: 6px
          border-bottom-left-radius: 6px

        .history-list
          border-top-right-radius: 6px
          border-bottom-right-radius: 6px
        span.curr
          background: #b22621
          color: #ffe300
      .day-list-div
        .red-font
          color: #ce403b
          font-size: 18px
          margin: 10px 0  6px
        .black-font
          font-size: 14px
          color: #666666
          font
            color: #b22621
        .list-content
          width: 466px
          margin: 0 auto
          padding-top: 5px
          position: relative
          ul li.mb10
            margin-bottom: 6px
          ul span
            display: inline-block
            color: #b22621
            font-size: 14px
            line-height: 40px
          ul span.f16
            font-size: 16px
            line-height: 30px
          .list-span1
            width: 129px
            text-align: left
          .list-span2
            width: 166px
            text-align: center
          .list-span3
            width: 170px
            text-align: right
          span.list-img
            width: 133px
            height: 138px
            background: url("/static/images/activity/level/icon.png") -226px -121px
            display: inline-block
            position: absolute
            top: 30px
            left: -187px
          span.level-img
            width: 33px
            height: 402px
            background: url("/static/images/activity/level/icon.png") 0 0
            display: inline-block
            position: absolute
            top: 29px
            left: 0
          span.back-span
            color: #333333
          span.grey-span
            color: #666666
      .history-list-div
        .day-right
          width: 369px
          margin: 18px 0 0 170px
          h1.history-title
            font-size: 18px
            color: #b22621
            line-height: 18px
            position: static
          .day-tap
            margin-top: 35px
            width: 369px
            .tap-top
              width: 100%
              background: none
              height: 20px
              .mon
                line-height: 20px
                font-size: 18px
                color: #b22621
              .left-btn
                display: inline-block
                position: absolute
                width: 0
                height: 0
                border-top: 10px solid transparent
                border-bottom: 10px solid transparent
                border-right: 10px solid #b22621
                top: 0px
                left: 0
              .right-btn
                display: inline-block
                position: absolute
                width: 0
                height: 0
                border-top: 10px solid transparent
                border-bottom: 10px solid transparent
                border-left: 10px solid #b22621
                top: 0
                left: 357px
            .tap-view
              width: 100%
              background: none
              .day-long
                width: 2583px
                .day-yue
                  width: 369px
                  ul li
                    text-align: left
                  .tab-hight
                    background: none
                    color: #b22621
                  span
                    width: 52px
        .day-left
          width: 270px
          margin: 18px 0 0 90px
          left: 538px
          h1.history-title
            font-size: 18px
            color: #b22621
            line-height: 18px
            position: static
          .left-ul
            background: none
            margin-top: 35px
            margin-left: 0
            position: relative
            .num-style
              width: 17px
              height: 283px
              background: url("/static/images/activity/level/icon.png") -64px -21px
              display: inline-block
              position: absolute
              left: 0
              top: 29px
            .dan
              border: 0 none
              width: 270px
              li
                line-height: 30px
                color: #333333
                font-size: 12px
                span.span-one
                  width: 36px
                span.span-two
                  width: 160px
                  text-align: center
                span.span-three
                  width: 74px
                  text-align: right
              li.day-user-hight
                line-height: 20px
                color: #b22621
                span
                  font-size: 16px
              li.color6
                color: #666666
              li.color9
                color: #999999
    p a.my-invest
      width: 252px
      height: 63px
      background: url("/static/images/activity/level/icon.png") -54px -326px
      display: inline-block
      margin-top: 29px
    .rule-style
      font-size: 24px
      color: #ffffff
      padding: 46px 0 20px
      text-align: left
    .rule-content
      font-size: 14px
      color: #333333
      text-align: left
      line-height: 26px
      margin-bottom: 40px
      p
        padding-bottom: 10px
        font-size: 14px
        text-align: left
        font
          color: #b22621
        span
          background: #b22621
          color: #ffffff
          border-radius: 50px
          width: 26px
          height: 26px
          display: inline-block
          line-height: 26px
          text-align: center
          margin-right: 3px
.back-top
  width: 29px
  height: 132px
  background: url("/static/images/activity/level/icon.png") -335px -280px
  display: inline-block
  position: fixed
  bottom: 20px
  right: 10px
  cursor: pointer
  display: none


