@import layout

.full-container-top-bar
  @extend  .full-container
  background: $dark-gray
  height: $top-bar-height
  line-height: $top-bar-height
  font-size: $font-s
  color: $white

.full-container-login
  @extend .full-container
  $file: 'login.jpg'
  background-image: image-url($file)
  height: image-height($file)
  background-position: center
  padding-top: 80px

.container-login-nav
  @extend .container
  width: $content-width
  padding: 15px 0
  background-color: white

.container-login
  @extend .container
  width: 900px
  padding: 0
  background-color: #f0f0f0
  +clearfix

.container-register
  @extend .container-login
  background-color: white

.register-left-div
  padding: 25px 0
  width: 66%
  float: left
  background-color: white

.login-left-div
  @extend .register-left-div
  border-top: 3px solid $red
  padding-top: 30px

.login-right-div
  width: 34%
  float: left
  padding: 35px 30px
  font-size: $font-s
  color: $dark-gray
  background-color: #f0f0f0
  border-top: 3px solid #DA736E
  position: relative
  height: 270px

  p
    padding: 3px 0

.register-right-div
  @extend .login-right-div
  height: 398px

.register-nav
  font-size: $font-m
  color: white
  background-color: #DA736E
  +clearfix

  li
    float: left
    width: 33%
    padding: 5px
    margin: 0
    text-align: center
    position: relative

    &.end
      background-color: $red
      width: 34%

    &.active
      background-color: $red

    &:after
      position: absolute
      left: 100%
      top: 0
      content: ''
      width: 17px
      border-left: 17px solid transparent
      border-top: 17px solid transparent
      border-bottom: 17px solid transparent

    &.active:after
      border-left-color: $red

    &.end
      background-color: $red
      width: 34%


.register
  padding: 100px 150px
  font-size: $font-m
  +clearfix()

.register-img
  float: left

.register-text
  float: left
  padding-top: 5px
  padding-left: 15px
  vertical-align: bottom

  span
    color: #0F6FB0

.welcome-text
  color: #90B175

.hot-line
  @extend .font-s
  color: black

  span
    color: #1771AE

#register-now
  +link-colors($red)

.slogan
  @extend .font-s
  color: #1771AE
  margin-top: 40px

.user-icon
  float: left
  padding-right: 5px

.slogan-div
  position: absolute
  bottom: 25px
