.modal
  border-top: 4px solid #e7360d
  padding: 10px
  overflow: hidden
  border-radius: 0
  box-shadow: none
  width: 525px

  a
    color: $blue
    &:hover
      color: $red

  a.close-modal
    position: absolute
    top: 10px
    right: 10px
    display: block
    width: 25px
    height: 25px
    background: url(/static/images/close.png) no-repeat 0 0

.modal-title-bar
  line-height: 35px
  font-size: $font-xxl
  color: #666666
  width: 100%

.modal-header
  border-top: 5px solid dimgray
  padding: .2em

.question-number
  font-size: 4em
  color: #F15C00

.question-box
  float: left
  width: 33.3%

.question-container
  overflow: auto //generate a new BFC
  +inline-block //inline to make margin take effect

  width: 80%
  margin-left: 1em
  margin-top: 1em

.question-title
  font-size: 1.3em

.question-choice
  font-size: 1.2em
  line-height: 2

.modal--subtitle
  color: $red
  font-size: $font-m

.errMessage
  padding: 8px 10px 5px 10px
  line-height: normal

  .error
    line-height: normal
    padding: 0