@import susy
@import variables
@import layout

.login-nav
  display: inline-block
  color: black
  float: right

  ul li a
    +link-colors($color-emperor, $color-pomegranate)

.container-navigation
  width: $content-width
  margin: 0 auto
  line-height: 75px

  .row

    .span10
      margin-right: 0

.nav-items
  vertical-align: middle
  text-align: right

.nav-item
  +inline-block()

  font-size: $font-m
  text-align: center

  position: relative

  &.active .nav-item-anchor
    +link-colors($color-pomegranate)
    cursor: default

  &:first-child a.nav-item-anchor
    border-left: 0

  a.button-account-nav
    padding: 0 15px
    margin-left: 30px
    line-height: 30px
    color: #ffffff
    +border-radius(5px)

    &:hover
      color: #ffffff

.icon-free
  width: 29px
  height: 19px
  line-height: 16px
  color: white
  font-size: $font-xs
  background: url("/static/images/icon-public.png") no-repeat right -194px
  position: relative
  top: -15px
  left: -28px
  text-align: center

a.nav-item-anchor
  margin: 0 auto
  padding: 0 1em
  +unstyled-link
  +link-colors($color-text-d3, $color-pomegranate)
  cursor: pointer
  font-size: 16px
  line-height: 30px
  height: 30px
  display: inline-block
  &.left-line
    padding-left: 1.6em
    margin-left: .8em
    border-left: 1px solid #efefef
  &.right-line
    padding-right: 1.6em
    border-right: 1px solid #efefef
    margin-right: .8em

.security-nav
  display: inline-block
  height: 30px
  line-height: 30px
