@import susy
@import variables
@import layout

.login-nav
  display: inline-block
  color: black
  float: right

  ul li a
    +link-colors($dark-gray, $red)

.navigation
  width: 100%
  background-color: $red

.navigation-container
  width: $content-width
  margin: 0 auto
  +clearfix

.nav-items
  +inline-block()
  line-height: 35px

.nav-item
  padding: 0 2em
  +inline-block()

  font-size: 14px
  text-align: center

  &.active
    background: darken($red, 10%)

a.nav-item-anchor
  margin: 0 auto
  +unstyled-link
  +link-colors($white, $white)

