body
  background: url("/static/images/newUser/bg.jpg") center top no-repeat
  margin: 0
  padding: 0

.gold
  max-width: 1100px
  min-width: 1100px
  height: 1390px
  margin: 0 auto
  padding-top: 260px
  .red
    color: #ff6050
  .com
    background: url("/static/images/newUser/tubiao.png") no-repeat
  .dian
    background-position: -129px -7px
  .one
    background: -129px 100px
  #two
    background: url("/static/images/newUser/tubiao.png") no-repeat
    background-position: -128px -63px

  .xie
    position: absolute
    top: -171px
    left: 7%
    font-size: 40px
    color: #fff
    -webkit-transform: rotate(-4deg)
    -moz-transform: rotate(-4deg)
    span
      color: #febd1b
  .lan
    width: 262px
    height: 476px
    background: url("/static/images/newUser/zuoce.png") no-repeat
    position: absolute
    background-size: 100%
    top: -5px
    left: -18%
    color: #fff
    z-index: 3
    p
      line-height: 26px
      text-align: center
      font-size: 22px
      span
        display: block
        font-size: 14px
    b
      margin-left: 50px
      .yi
        display: inline-block
        width: 30px
        height: 30px
        margin-right: 10px
        margin-top: 10px
  .box
    width: 1000px
    height: 1280px
    padding-bottom: 20px
    background: #e85647
    margin: 0 auto
    position: relative
    top: 187px

    .small_box
      margin-left: 95px
      padding-top: 10px
      position: relative
      .sanjiao
        display: inline-block
        width: 0
        height: 0
        line-height: 0
        font-size: 0
        border-left: 25px solid #936a00
        border-top: 15px solid transparent
        position: absolute
        top: 139px
        left: 908px


      h2
        color: #fff
        font-size: 24px
        position: relative
        span
          display: inline-block
          width: 100px
          height: 100px
          background: url("/static/images/newUser/tubiao.png") no-repeat
          background-position: 0 -63px
        a
          position: relative
          top: -44px
          left: 15px
          cursor: default
      .neir
        width: 906px
        height: 132px
        background: #febd1b
        box-shadow: 1px 2px 14px #937C7A
        margin-left: 31px
        padding-top: 10px
        .jiang
          margin: 0
          padding: 0
          position: relative
          left: -10px
          li
            list-style: none
            margin: 0
            padding: 0
            clear: both
            span
              display: inline-block
              width: 96px
              height: 46px
              background: url("/static/images/newUser/tubiao.png") no-repeat
              background-position: -14px 0px
              line-height: 46px
              text-align: center
              color: #fff
              float: left
            p
              float: left
              width: 530px
              color: #fff
              border-bottom: 1px solid #ec9b5a
              padding-bottom: 10px

      .wu_box
        background: #e85647
        box-shadow: none
        width: 449px
        border-left: 2px solid #ee786c
        margin-left: 69px
        height: 134px

        .can
          position: relative
          top: -13px
          left: -15px
          li
            list-style: none
            margin: 0
            padding: 0
            clear: both
            position: relative
          b
            display: inline-block
            width: 30px
            height: 30px
            border-radius: 15px
            background: #ee786c
            line-height: 30px
            text-align: center
            color: #fff
            float: left
            margin-right: 10px
          .pp
            width: 408px
            float: left
            border: none
            position: relative
            top: -15px

    .zui
      position: relative
      height: 453px
      h2
        a
          position: relative
          top: 14px
          left: -398px
          cursor: default
      .wu_box2
        background: #e85647
        width: 490px
        box-shadow: none
        height: 300px

        ul
          position: relative
          top: -10px
          float: left
          li
            list-style: none
            color: #fff
        .weixin
          position: absolute
          top: 134px
          left: 629px

.footer
  width: 100%
  height: 140px
  position: relative
  top: 40px
  .jiao
    width: 100%
    margin-bottom: -8px
  .wang
    width: 100%
    height: 100%
    background: #2a0306
    position: relative
    z-index: 4
    padding-top: 20px
    .zhong
      width: 1000px
      height: 100%
      margin: 0 auto
      .footer-logo
        float: left
      .ban
        margin-left: 260px
        text-align: left
        height: 100px
        color: #905456
        position: absolute
        top: 11px


