@charset "utf-8"

.text-center
  text-align: center
.mt50px
  margin-top: 50px

.banner
  width: 100%
  height: 720px
  background: #f5462e url("/static/imgs/pc_activity/new_user/banner.jpg") center center no-repeat
  background-size: auto 100%

.main-part
  width: 824px
  margin: 100px auto 0
  background: url("/static/imgs/pc_activity/new_user/route.png") center 78px no-repeat
  padding-bottom: 80px
  .welfare-box
    font-size: 22px
    float: left
    .welfare-tit
      color: #d31b31
    .welfare-cont
      color: #845221
  .btn-box
    margin-top: 15px
  .red-btn
    display: inline-block
    width: 220px
    text-align: center
    color: #fff
    font-size: 22px
    background: #f5462e
    padding: 8px 0
    border-radius: 50px
    box-shadow: 0 3px 0 rgba(0,0,0,0.15)
    &:hover
      background: #e0402b
  .welfare-icon
    display: block
    width: 110px
    height: 100px
    background: url("/static/imgs/pc_activity/new_user/welfare-icon.png") no-repeat
  .welfare1,.welfare3
    .welfare-icon
      float: left
    .welfare-icon
      float: left
      margin-left: 58px
    .welfare-img
      float: right
      margin-right: 40px

  .welfare2
    margin-top: 132px
    position: relative
    .welfare-img
      float: left
      margin-right: 0
    .welfare-box
      position: absolute
      right: 180px
    .welfare-icon
      background-position: 0 -122px
      float: right
      margin-right: 50px
      width: 125px
      height: 130px
.rule-box
  width: 942px
  height: 479px
  margin: -5px auto 0
  background: url("/static/imgs/pc_activity/new_user/rule-bg.png") center top no-repeat
  padding-top: 70px
  .rule-tit
    font-size: 20px
    color: #304556
    text-align: center
  .rule-cont
    font-size: 16px
    color: #d97819
    margin: 10px 88px 0
    line-height: 32px
    .p2
      padding-left: 18px

.use-rule
  width: 730px
  margin: 70px auto
  color: #646464
  line-height: 24px
  .use-rule-tit
    font-size: 16px
