.xl-com
  background: url("/static/images/xunlei/money-3.png") no-repeat
.xl-one
  background-position: -16px -189px
.xl-two
  background-position: -177px -189px
.xl-three
  background-position: -336px -189px
.xl-four
  background-position: -496px -189px
.xl-five
  background-position: -657px -189px
.xl-six
  background-position: -16px  -326px
.xl-seven
  background-position: -179px -326px
.xl-eight
  background-position: -337px -326px
.xl-nine
  background-position: -486px -326px
.xl-ten
  background-position: -660px -326px


.biaoyu
  font-size: 24px
  color: #ff5252
  text-align: center
.new-btn
  background: #000

#new-xl-banner
  background: url("/static/images/xunlei/banner2.jpg") no-repeat center center
  height: 502px

.new-xl-big
  width: 1100px
  height: 2000px
  background: #cccccc
  margin: 0 auto
  .xl-time
    padding: 30px 0
    margin: 0
    font-weight: normal
    font-size: 24px
    color: #ea5152
    text-align:  center
  .xl-box1
    width: 100%
    height: 1200px
    background: #a6fff2
    .xl-jiang
      margin: 0
      padding: 0
      font-size: 24px
      font-weight: normal
      color: #aa1015
      text-align: center
      line-height: 40px
      .xl-center
        position: relative
        .xl-left
          position: absolute
          width: 488px
          .xl-hua
            display: inline-block
            width: 42px
            height: 24px
            background: url("/static/images/xunlei/hua1.jpg") no-repeat
            position: absolute
            left: 0
            top: 8px
          .line
            display: inline-block
            width: 432px
            border-bottom: 2px solid #aa1015
            position: absolute
            right: 15px
            top: 20px
            z-index: 3
          .xl-xin
            display: inline-block
            width: 16px
            height: 16px
            background: url("/static/images/xunlei/xin1.jpg") no-repeat
            position: absolute
            right: 0
            top: 15px
        .xl-right
          right: 0
          top: 0
          .xl-hua
            display: inline-block
            width: 16px
            height: 16px
            background: url("/static/images/xunlei/xin1.jpg") no-repeat
            position: absolute
            right: 0
            top: 15px
          .line
            display: inline-block
            width: 432px
            border-bottom: 2px solid #aa1015
            position: absolute
            right: 45px
            top: 20px
            z-index: 3
          .xl-xin
            display: inline-block
            width: 46px
            height: 24px
            background: url("/static/images/xunlei/hua2.jpg") no-repeat
            position: absolute
            right: 0
            top: 9px
    .xl-own
      font-size: 15px
      font-weight: normal
      color: #aa1015
    .xl-qi
      width: 248px
      height: 357px
      margin-top: 18px
      display: inline-block
      margin-right: 32px
    .qi1
      background: url("/static/images/xunlei/qi1.jpg") no-repeat
    .qi2
      background: url("/static/images/xunlei/qi2.jpg") no-repeat
    .qi3
      background: url("/static/images/xunlei/qi3.jpg") no-repeat
    .qi4
      background: url("/static/images/xunlei/qi4.jpg") no-repeat
    p
      text-align: center
      font-size: 16px
      position: relative
      top: 90px
    .xl-elite-left
      width: 283px
      height: 553px
      background: url("/static/images/xunlei/daqi.jpg") no-repeat
      float: left

    .xl-elite-right
      width: 790px
      height: 553px
      background: #ff0
      float: right
      .xl-elite-top
        width: 100%
        height: 140px
        background: url("/static/images/xunlei/money1.jpg") no-repeat top right
        .xiaoqi
          float: left
        .xl-explain
          width: 330px
          text-align: left
          position: relative
          top: 30px
          left: 10px
          font-size: 12px
          color: #333333
          b
            font-weight: normal
            color: #eb6262
      .xl-elite-bottom
        .xl-twice
          margin-top: 20px
        dl
          width: 142px
          height: 142px
          background: #67b7a6
          border-radius: 5px
          display: inline-block
          margin-right: 16px
          dt
            width: 100%
            height: 100%
            span
              color: #fff
              display: inline-block
              text-align: center
              width: 100%
              position: relative
              top: 115px
          dd
            text-align: center
            line-height: 30px
