.xl-com
  background: url("/static/images/xunlei/money-3.png") no-repeat
.xl-one
  background-position: -16px -189px
.xl-two
  background-position: -177px -189px
.xl-three
  background-position: -336px -189px
.xl-four
  background-position: -496px -189px
.xl-five
  background-position: -657px -189px
.xl-six
  background-position: -16px  -326px
.xl-seven
  background-position: -179px -326px
.xl-eight
  background-position: -337px -326px
.xl-nine
  background-position: -486px -326px
.xl-ten
  background-position: -660px -326px
.xl-ele
  background-position: -9px -4px
.xl-twe
  background-position: -758px 0px

.xl-text
  width: 364px
  height: 166px
  position: absolute
  left: 205px
  top: -170px
  display: none

.biaoyu
  font-size: 24px
  color: #ff5252
  text-align: center
.new-btn
  background: #000

#new-xl-banner
  background: url("/static/images/xunlei/banner2.jpg") no-repeat center center
  height: 502px

.new-xl-big
  width: 1100px
  height: auto
  //background: #cccccc
  margin: 0 auto
  position: relative
  .xl-backtop
    width: 50px
    height: 251px
    //background: #00f
    position: fixed
    right: 0px
    bottom: 100px
    z-index: 10
    cursor: default
    display: none
    span
      display: inline-block
      width: 100%
      height: 64px
    .backtop
      background: #b22621
      width: 27px
      //height: 89px
      color: #fff
      text-align: center
      padding: 10px 0
      margin: 10px 0 10px 10px
      border-radius: 15px
    .erweima
      width: 146px
      height: 186px
      position: absolute
      top: 73px
      left: -158px
      background: url("/static/images/xunlei/erweima.png") no-repeat center center
      display: none

  .xl-time
    padding: 30px 0
    margin: 0
    font-weight: normal
    font-size: 24px
    color: #ea5152
    text-align:  center
  .xl-box1
    width: 100%
    height: 1100px
    position: relative

    //background: #a6fff2
    .xl-jiang
      margin: 0
      padding: 0
      font-size: 24px
      font-weight: normal
      color: #aa1015
      text-align: center
      line-height: 40px
      .xl-center
        position: relative
        .xl-left
          position: absolute
          width: 488px
          .xl-hua
            display: inline-block
            width: 42px
            height: 24px
            background: url("/static/images/xunlei/hua1.jpg") no-repeat
            position: absolute
            left: 0
            top: 8px
          .line
            display: inline-block
            width: 432px
            border-bottom: 2px solid #aa1015
            position: absolute
            right: 15px
            top: 20px
            z-index: 3
          .xl-xin
            display: inline-block
            width: 16px
            height: 16px
            background: url("/static/images/xunlei/xin1.jpg") no-repeat
            position: absolute
            right: 0
            top: 15px
        .xl-right
          right: 0
          top: 0
          .xl-hua
            display: inline-block
            width: 16px
            height: 16px
            background: url("/static/images/xunlei/xin1.jpg") no-repeat
            position: absolute
            right: 0
            top: 15px
          .line
            display: inline-block
            width: 432px
            border-bottom: 2px solid #aa1015
            position: absolute
            right: 45px
            top: 20px
            z-index: 3
          .xl-xin
            display: inline-block
            width: 46px
            height: 24px
            background: url("/static/images/xunlei/hua2.jpg") no-repeat
            position: absolute
            right: 0
            top: 9px
    .xl-own
      font-size: 15px
      font-weight: normal
      color: #aa1015
    .xl-qi
      width: 248px
      height: 357px
      margin-top: 18px
      display: inline-block
      margin-right: 32px
    .qi1
      background: url("/static/images/xunlei/qi1.jpg") no-repeat
    .qi2
      background: url("/static/images/xunlei/qi2.jpg") no-repeat
    .qi3
      background: url("/static/images/xunlei/qi3.jpg") no-repeat
    .qi4
      background: url("/static/images/xunlei/qi4.jpg") no-repeat
    p
      text-align: center
      font-size: 16px
      position: relative
      top: 90px
    .xl-elite-left
      width: 283px
      height: 553px
      background: url("/static/images/xunlei/daqi.jpg") no-repeat
      float: left

    .xl-elite-right
      width: 790px
      height: 553px
      //background: #ff0
      float: right
      .xl-elite-top
        width: 100%
        height: 140px
        background: url("/static/images/xunlei/money1.jpg") no-repeat top right
        .xiaoqi
          float: left
        .xl-explain
          width: 330px
          text-align: left
          position: relative
          top: 30px
          left: 10px
          font-size: 12px
          color: #333333
          b
            font-weight: normal
            color: #eb6262
      .xl-elite-bottom
        .xl-twice
          margin-top: 20px
        dl
          width: 142px
          height: 142px
          background: #67b7a6
          border-radius: 5px
          display: inline-block
          margin-right: 16px
          dt
            width: 100%
            height: 100%
            span
              color: #fff
              display: inline-block
              text-align: center
              width: 100%
              position: relative
              top: 115px
          dd
            text-align: center
            line-height: 30px
        p
          b
            font-weight: normal
            color: #eb6262
    .content-process
      .content-pptv
        .process-list
          .triangle-start
            width: 126px
          #xl-triangle-center
            width: 149px
          .circle
            .circle-txt
              position: relative
              width: 200px
              left: -44px
            .circle-body
              width: 100px
              height: 100px
              border: 4px solid #dedede
              //+border-radius(50px)
              background: #fff url("/static/images/pptv/liucheng11.png") no-repeat
              -webkit-transition: all 3s
              -o-transition: all .3s ease-in-out
              transition: all .3s ease-in-out
              &:hover
                background-color: #ea5153
                border: 4px solid #ea5153
            .free
              background-position: 10px 10px
              &:hover
                background-position: 10px -63px
            .atte
              background-position: 10px -138px
              &:hover
                background-position: 10px -207px
            .recharge
              background-position: 12px -280px
              &:hover
                background-position: 12px -350px
            .tender
              background-position: 10px -423px
              &:hover
                background-position: 10px -495px
            .collec
              background-position: 10px -566px
              &:hover
                background-position: 10px -637px
    .xl-get
      width: 272px
      height: 290px
      display: inline-block
      margin-top: 30px
      .get1
        width: 100%
        height: 170px
        background: url("/static/images/xunlei/get1.jpg") no-repeat center
        span
          width: 100%
          text-align: center
          display: inline-block
          color: #ed6c66
          position: relative
          top: 116px
      p
        top: 20px
        font-size: 12px
        color: #000
      .get2
        background: url("/static/images/xunlei/get2.jpg") no-repeat center
      .get3
        background: url("/static/images/xunlei/get3.jpg") no-repeat center
      .get4
        background: url("/static/images/xunlei/get4.jpg") no-repeat center
    .xl-btn
      background: #ea5153
      color: #fff
      padding: 10px 30px
      border: none
      border-radius: 5px
      margin-left: 450px
      box-shadow: 0px 4px #b23820

    ul
      margin: 40px 0 0 20px
      li
        line-height: 25px
        color: #2f2f2f
        b
          font-weight: normal
          padding-left: 21px
    .san-span
      p
        top: 20px
        font-size: 12px
        color: #000
        b
          font-weight: normal
          color: #eb6262
    .xl-small-zc
      border: 2px solid #ea5152
      width: 341px
      border-radius: 5px
      background: #fff
      position: absolute
      z-index: 5
      left: 365px
      top: 439px
      display: none
      .xl-off
        display: inline-block
        width: 30px
        height: 30px
        border: 2px solid #ea5152
        border-radius: 15px
        background: #fff
        font-weight: bold
        color: #ea5152
        position: absolute
        text-align: center
        font-size: 30px
        line-height: 26px
        right: -13px
        top: -10px
        cursor: default

#xl-footer
  .footer-com
    background: url("/static/images/act-img/act-footer-com2.png") no-repeat
  .footer-one
    background-position: -1px 0px
  .footer-two
    background-position: -369px -67px
  .footer-three
    background-position: -411px -68px
  .footer-four
    background-position: -451px -67px
  .footer-five
    background-position: -355px 0px
  .footer-six
    background-position: 82px -108px
  .footer-seven
    background-position: -418px 0px
  .wry-act-footer
    width: 1100px
    height: 290px
    position: relative
    margin: 0 auto
    .wry-act-copy
      width: 682px
      height: 100%
      position: absolute
      .wry-footer-logo
        height: 112px
        width: 267px
        margin-bottom: 30px
        margin-top: 10px
      .act-hot
        font-size: 12px
        margin-left: 14px
        line-height: 40px
      p
        color: #666666
        span
          width: 43px
          height: 30px
          display: inline-block
          margin-left: 13px
    .wry-act-img
      width: 140px
      height: 62px
      position: absolute
      left: 682px
      top: 145px
      #belive
        display: inline-block
        width: 54px
        height: 62px
        background: #000
        //position: absolute
        //left: 682px
        //top: 145px

    .wry-act-sao
      width: 270px
      height: 96%
      position: absolute
      right: 0
      top: 12px
    .wry-act-copy,
    .wry-act-img,
    .wry-act-sao
      display: inline-block


