.panel-p2p-product
  @extend .panel
  overflow: visible
  padding: 5px
  position: relative
  border: 1px solid #e8e8e8
  cursor: pointer


  &:hover
    +box-shadow(#d9d9d9 2px 2px 10px)

    .panel-title-bar
      a
        color: #1f8ccd




  .panel-title-bar
    line-height: 55px
    border-bottom: 1px dashed $color-gainsboro
    font-size: $font-m
    color: $color-text-d2
    padding: 0 24px
    a
      font-size: 18px
      font-weight: normal
      line-height: 55px
      width: 620px
      display: inline-block
      &:hover
        color: #1f8ccd

  .panel-content
    border-bottom: 1px dashed $color-gainsboro
    color: $color-text-d4
    padding: 15px 24px
    line-height: 30px

    &:last-child
      border-bottom: 0

  em
    color: $color-text-d3
    font-size: 18px
    font-weight: normal
    font-family: Arial,Helvetica,sans-serif,"Microsoft YaHei","宋体"

    &.highlight
      color: $color-pomegranate
    &.font-xxll
      font-size: $font-xxll

  .panel-p2p--footer
    @extend .panel-content
    border-bottom: none
    padding-top: 0
    padding-bottom: 0
    line-height: 55px

.progress-container
  height: 12px
  border: 0px solid $color-pomegranate
  width: 100px
  padding: 0px
  display: inline-block
  position: relative
  top: 1px
  +border-radius(5px)
  background-color: #e8e8e8
  overflow: hidden




  .progress-indicator
    background: $color-pomegranate
    height: 100%
    +border-radius(5px)
    &.disabled
      background-color: #c8c8c8
      border: 1px solid #c8c8c8


.p2p-container
  +container
  background: $color-white

.p2p-detail-container
  +container
  color: $color-dusty-gray
  background: $color-white
  padding: 20px 30px

  h1
    font-size: $font-xl
    padding: 10px 0
    color: $color-emperor

.p2p-detail-bar
  padding-bottom: 10px
  font-size: $font-s

.p2p-detail-title
  font-size: $font-xxl
  color: $color-emperor

.p2p-warrant-way
  color: $color-sea-green
  padding-top: 11px
  margin-left: 15px

  .icon-shield
    width: 14px
    height: 16px
    background: url("/static/images/icon-top-bar.png") no-repeat left -62px
    margin-right: 5px
    margin-left: 10px
    top: -2px

.p2p-detail-endtime
  padding-top: 0px

.p2p-detail-content
  padding: 10px 0
  text-align: center
  font-size: $font-s
  .detail-icon
    display: inline-block
    width: 20px
    height: 20px
    background: url("/static/images/detail_icon_01.png") no-repeat 0px 6px
    margin: 0px 0 0 5px

.p2p-detail-footer
  font-size: $font-s
  margin: 10px 0
  padding: 15px 0
  border-top: dotted 1px $color-alto
  border-bottom: dotted 1px $color-alto

.p2p-detail-intro
  padding: 10px 0 0 0
  font-size: $font-s
  overflow: hidden

  dt
    float: left
    width: 70px

  dd
    float: left
    width: 588px
    color: $color-emperor

.p2p-detail-list
  margin: 10px 0
  padding-bottom: 20px
  line-height: 35px
  border-bottom: dotted 1px $color-alto

  &:last-child
    border-bottom: 0

  dl
    +pie-clearfix

  dt
    font-size: $font-s
    text-align: right
    color: #999999

  dd
    color: $color-text-d2
    text-align: justify
    font-size: 14px

  ul
    float: left
    width: 540px
    font-size: $font-s
    margin-left: 30px
    color: #999999

  .p2p-no-login
    @extend .span10-omega
    background: #f0f4f7
    height: 160px
    margin-top: 10px
    text-align: center

    li
      padding-top: 60px

.invest-form
  padding: 20px 30px 10px 30px
  background: #fafafa
  height: 320px
  font-size: $font-s
  color: $color-dusty-gray
  line-height: 40px

  .invest
    height: 35px
  .invest.submit-button
    line-height: 24px

  h1
    font-size: $font-xl
    color: $color-emperor

  .span4
    text-align: right
    padding-right: 15px

  button
    font-size: $font-m

.sold-out
  padding-top: 50px
  line-height: 25px

  button
    width: 200px
    margin: 0 auto

.guarantee-company
  border-bottom: solid 1px $color-alto

  table
    border: solid 1px $color-alto
    border-right: 0
    margin: 0 auto
    width: 100%

    caption
      border: solid 1px $color-alto
      border-bottom: 0
      text-align: center
      font-size: $font-l
      padding: 5px 0
      color: $color-emperor

    td
      border-bottom: solid 1px $color-alto
      border-right: solid 1px $color-alto
      padding: 5px 5px
      font-size: $font-s
      text-align: center

      &:first-child
        width: 180px

    span
      color: $color-sea-green

  .icon-approve
    width: 12px
    height: 12px
    background: url("/static/images/icon-top-bar.png") no-repeat left -85px
    margin-right: 5px
    top: -2px

.warrant-icon
  width: 18px
  height: 18px
  color: $color-white
  font-size: $font-xs
  line-height: 18px
  padding-left: 3px
  display: inline-block
  margin-right: 10px
  position: relative
  top: -2px
  background-color: $color-red
  +border-radius(8px)


.panel-p2p-stamp
  background: url("/static/images/stamp.png") no-repeat
  width: 70px
  height: 71px
  position: absolute
  right: 0px
  top: 0px

#get-validate-code-buy
  font-size: $font-s
  width: 100%
  padding: 11px 0
  &.disabled
    background-color: #eeeeee
    border: 1px solid #D9D9D9
    color: #666666
    cursor: default

.earning
  background: url("/static/images/earning.png") no-repeat 5px center

.period
  background: url("/static/images/period.png") no-repeat 5px center

.amount
  background: url("/static/images/amount.png") no-repeat 5px center

.p2pinfo-ul-box
  margin: 0

.p2pinfo-list-box
  margin: 0
  border-bottom: 1px solid #e8e8e8

  &:last-child
    border-bottom: 0

.p2pinfo-list-title
  +clearfix
  border-bottom: dotted 1px #eeeeee

.p2pinfo-title-number
  background: rgb(243, 96, 73)
  color: #fff
  border-radius: 10px
  width: 20px
  height: 20px
  display: inline-block
  text-align: center
  line-height: 20px
  float: left
  margin: 10px

.p2pinfo-title-number-2-3
  @extend .p2pinfo-title-number
  background: rgb(42, 145, 208)

.p2pinfo-title-number-4-5
  @extend .p2pinfo-title-number
  background: rgb(204, 204, 204)

.p2pinfo-title-content
  float: left
  margin: 10px 10px 10px 0
  font-size: $font-s

.p2pinfo-list
  clear: both
  margin: 10px 0 15px 0
  font-size: $font-s

.p2pinfo-ceil
  text-indent: 15px
  color: $color-text-d4
  display: inline-block

.p2pinfo-active
  color: rgb(243,96,73)

.position
  line-height: $space-xxxl
  font-size: $font-s