.panel-p2p-product
  @extend .panel-nopadding

  .panel-title-bar
    line-height: 55px
    border-bottom: 1px dotted $color-text-d4
    font-size: $font-m
    color: $color-text-d2

  .panel-content
    border-bottom: 1px dotted $color-text-d4
    color: $color-text-d2

    &:last-child
      border-bottom: 0
