@import susy
@import compass/css3

@import variables

.panel
  +container
  position: relative // Make panel as a container can has absolute position children
  margin-top: $space-s
  background: white
  min-height: 100px
  padding: 0 18px
  +border-radius(5px)

.space-vertical-s+.panel
  margin-top: 0

.space-vertical-m+.panel
  margin-top: 0

.space-vertical-l+.panel
  margin-top: 0

$header-height: 170px

.panel-header
  height: $header-height

.panel-bar
  +container
  line-height: 35px

.panel-bar-s
  +container
  line-height: 33px
  background: $panel-bar-background
  color: $panel-bar-color
  padding-left: 15px

  dl
    float: left

  dt
    +inline-block

  dd
    +inline-block
    margin-right: 20px

.panel-title-bar
  @extend .panel-bar

.panel-title-bar-s
  @extend .panel-bar-s
  background-color: $red
  color: white

.panel-title
  padding: 0
  font-size: $font-l
  margin-right: 1em
  +float-left

.panel-title-l
  @extend .panel-title
  font-size: $font-l

.panel-title-right-item
  +float-right
  margin-right: 20px

  +unstyled-link

.panel-inner
  display: block

.panel-footer
  position: absolute
  bottom: 0
  width: 100%

.panel-tabs
  +float-left

.panel-tab
  +float-left
  position: relative
  font-size: $font-s
  padding: 0 2em
  background-color: transparent

  &.active
    background-color: $red
    color: white

    a
      +link-colors(white, white)

  a
    +unstyled-link()
    +link-colors(black, $red)

.panel-sub-tabs
  background: white
  padding: 0 1em

a.panel-sub-tab
  display: inline-block
  padding: 10px 15px

  +unstyled-link

  &.active
    @extend .button
    @extend .button-mini
    @extend .button-orange

.panel-text
  padding: 20px
  font-size: 14px
