.reset-header-title
  padding: 1em
  font-size: 22px
  border-left: 1px solid #999
  margin-left: 2em
  color: #999

.reset-pass-steps
  width: 100%
  margin: auto

  .step
    display: inline-block
    width: 20%
    text-align: center
    padding: .3em
    margin: .5em
    background: #D4D4D4
    position: relative
    max-height: 24px
    color: #999999

    &.active
      background: $red
      color: white

    &:before
      position: absolute
      top: 0
      left: 101%
      background: white
      border-left: 12px solid white
      border-top: 12px solid #D4D4D4
      border-bottom: 12px solid #D4D4D4
      content: ' '
      width: 10px

    &:after
      position: absolute
      left: 100%
      top: 0
      content: ''
      border-left: 12px solid #d4d4d4
      border-top: 12px solid transparent
      border-bottom: 12px solid transparent

    &.active:after
      position: absolute
      left: 100%
      top: 0
      content: ''
      width: 12px
      border-left: 12px solid $red
      border-top: 12px solid transparent
      border-bottom: 12px solid transparent

    &.end:before
      border-left-color: transparent
      border-top-color: transparent
      border-bottom-color: transparent

    &.end:after
      border-left-color: transparent

    &.pre-active:before
      border-top-color: $red
      border-bottom-color: $red


.send-validate-button
  background: rgb(255, 244, 244)
  border: 1px solid #C66A57
  color: #C66A57
  padding: .2em 0
  box-shadow: 0 0 1px #C66A57
  border-radius: 4px
  margin-left: 1em

  &:hover
    background: lighten(rgb(255, 244, 244), 10%)

.form-password-reset
  font-size: $font-m
  color: #666666

.reset-form-label
  @extend .form-row-label
  @extend .ispan6
  text-align: right

.button-password-reset-next-step
  @extend .button-red
  @extend .button-large
  @extend .ispan4
  @extend .prefix6