.reset-header-title
  padding: 1em
  font-size: 22px
  border-left: 1px solid #999
  margin-left: 2em
  color: #999

.password-reset-container
  height: 300px
  text-align: center
  vertical-align: middle

  .span4
    line-height: 36px

.reset-pass-steps
  width: 100%
  margin: auto
  text-align: center

  .step
    display: inline-block
    width: 23%
    text-align: center
    padding: 1.3em
    margin: .5em
    background: #D4D4D4
    position: relative
    max-height: 48px
    color: #999999
    font-size: $font-s
    line-height: 15px

    &.active
      background: $color-orange
      color: white

    &:before
      position: absolute
      top: 0
      left: 102%
      background: white
      border-left: 24px solid white
      border-top: 24px solid #D4D4D4
      border-bottom: 24px solid #D4D4D4
      content: ' '
      width: 10px
      z-index: 1

    &:after
      position: absolute
      left: 100%
      top: 0
      content: ''
      border-left: 24px solid #d4d4d4
      border-top: 24px solid transparent
      border-bottom: 24px solid transparent
      z-index: 2

    &.active:after
      position: absolute
      left: 100%
      top: 0
      content: ''
      width: 24px
      border-left: 24px solid $color-orange
      border-top: 24px solid transparent
      border-bottom: 24px solid transparent
      z-index: 2

    &.end:before
      border-left-color: transparent
      border-top-color: transparent
      border-bottom-color: transparent
      background: transparent

    &.end:after
      border-left-color: transparent

    &.pre-active:before
      border-top-color: $color-orange
      border-bottom-color: $color-orange


.send-validate-button
  background: rgb(255, 244, 244)
  border: 1px solid #C66A57
  color: #C66A57
  padding: .2em 0
  box-shadow: 0 0 1px #C66A57
  border-radius: 4px
  margin-left: 1em
  cursor: pointer

  &.disabled
    cursor: default
  &:hover
    background: lighten(rgb(255, 244, 244), 10%)

.form-password-reset
  font-size: $font-s
  color: #666666
  p
    font-size: $font-s
    color: #666666
    span
      color: $color-red
.reset-form-label
  @extend .form-row-label
  @extend .ispan6
  text-align: right

.button-password-reset-next-step
  @extend .button-red
  @extend .button-middle
  @extend .ispan3
