.reset-pass-steps
  width: 80%
  margin: auto

  .step
    display: inline-block
    width: 20%
    text-align: center
    padding: .3em
    margin: .5em
    background: white

    &.active
      background: $red
      color: white

    &.done
      background: green
      color: white