.pay-container
  @extend .container
  margin-top: 85px
  padding: 35px 50px 100px 50px
  background-color: white

.pay-info
  width: 100%
  padding: 20px 35px
  background-color: $light-gray-background
  margin-top: 25px

  &:after
    content: " "
    visibility: hidden
    display: block
    height: 0
    clear: both

.pay-info-item
  width: 25%
  float: left