.phone_modify_main_wrap
  background: #fff
  margin-top: 15px
  display: inline-block
  width: 100%
  .main_title_top
    width: 100%
    color: #666
    line-height: 26px
    font-size: 18px
    padding: 38px 0 38px 50px
    .text
      display: inline-block
      line-height: 17px
      font-size: 13px
      color: #fd9827
      margin-left: 26px
      background: url("/static/images/account_safe/ico.png") no-repeat -58px -17px
      padding-left: 19px
      position: relative
      top: -2.5px
      left: 0
      display: none
    .true
      padding: 0 10px
      background: #fd9827
      border-radius: 10px
      font-size: 13px
      text-align: center
      line-height: 20px
      height: 20px
      display: inline-block
      color: #fff
      position: relative
      top: -2.5px
      margin-left: 20px
  .form_wrap
    padding-left: 168px
    font-size: 0
    margin-bottom: 90px
    .title_top
      line-height: 20px
      color: #999
      font-size: 12px
      padding-bottom: 10px
    form
      width: 100%
      .box
        width: 100%
        clear: both
        display: inline-block
        padding-bottom: 15px
        label
          width: 118px
          float: left
          display: block
          height: 36px
          line-height: 36px
          text-align: right
          margin-right: 20px
          span
            color: #e4371f
            font-size: 14px
            line-height: 36px
        .box_right
          float: left
          display: block
          .text
            line-height: 36px
            font-size: 14px
            color: #333
          .input_box
            position: relative
            left: 0
            top: 0
            height: 34px
            span
              text-align: center
              border: 1px #fd9827 solid
              background: #f5f5f5
              color: #fd9827
              line-height: 34px
              display: block
              width: 88px
              height: 34px
              font-size: 14px
              float: left
            .input
              position: absolute
              left: 0
              top: 0
              z-index: 2
              width: 88px
              height: 34px
              opacity: 0
          .input_phone
            width: 242px
            height: 38px
            line-height: 38px
            padding: 0 7px
            color: #666
            font-size: 14px
            float: left
          .input_right
            float: left
            margin-left: 10px
            line-height: 38px
            color: #999
            font-size: 12px
          .input_code
            width: 126px
            height: 38px
            line-height: 38px
            padding: 0 7px
            color: #666
            font-size: 14px
            float: left
          .get_code
            float: left
            display: block
            background: #fd9827
            border: 1px #fd9827 solid
            color: #fff
            font-size: 14px
            text-align:  center
            line-height: 36px
            width: 106px
            margin-left: 10px
            cursor: pointer
          .wait
            background: #999
            border-color: #fff
          .title
            color: #bfbfbf
            font-size: 12px
            line-height: 18px
            padding: 10px 0 0
            text-align: left
          .submit
            width: 244px
            height: 40px
            border: none
            text-align: center
            line-height: 40px
            color: #fff
            font-size: 16px
            background: #e4371f
            cursor: pointer
          .status
            height: 16px
            position: relative
            left: 0px
            top: 13px
            float: left
            display: block
            margin-left: 15px
            display: none
            font-size: 12px
            color: #999
            .true
              width: 12px
              height: 16px
              background: url("/static/images/account_safe/ico.png") no-repeat -58px -34px
              display: block
              float: left
            .false
              height: 16px
              background: url("/static/images/account_safe/ico.png") no-repeat -71px -34px
              display: block
              float: left
              padding-left: 13px
          .error_title
            clear: both
            width: 100%
            line-height: 18px
            color: #e4371f
            font-size: 12px
            background: url("/static/images/account_safe/ico.png") no-repeat -71px -34px
            padding-left: 13px
            display: none
            height: 18px
            position: relative
            top: 5px

          .error_right_title
            float: left
            line-height: 16px
            color: #e4371f
            font-size: 12px
            background: url("/static/images/account_safe/ico.png") no-repeat -71px -35px
            padding-left: 13px
            position: relative
            top: 10px
            left: 0
            margin-left: 5px
      .upload_img
        width: 158px
        display: none
        border: 1px #ebebeb solid
        margin: 13px 0
        img
          width: 100%
          display: block
