.portfolio-income-table
  table-layout: fixed
  width: 100%
  border: 1px solid #D6CEC6

  thead
    background: #D6CEC6

  tbody
    background: #F9F9F9

  th, td
    padding-left: .3em
    line-height: 30px
    height: 30px

.chart-annotation
  text-align: center
  color: #878787

$border-width: 2

.product-table
  table-layout: fixed
  width: 100%
  border: $border-width + px solid #E0E0E0

  th, td
    text-align: center
    line-height: 30px

  tbody tr:nth-child(odd)
    background: #F2F2F2

.product-table-message
  line-height: 240px
  text-align: center

.product-tab
  line-height: (30 - 2 * 2 * $border-width) + px
  height: 30px
  padding: 0 1em
  position: relative
  right: -$border-width + px
  border: $border-width + px solid transparent
  border-right: 0

  a
    vertical-align: middle
    padding: 0 1em
    +unstyled_link

  &.active
    background: white
    border-color: #E0E0E0

.icon-color
  display: inline-block
  min-width: 18px
  min-height: 18px
  vertical-align: middle

.earning-rate-panel
  height: 150px
  background: #ECECEC

.earning-rate-content
  position: absolute
  right: 0
  font-size: 20px
  padding-right: 50px
  padding-top: 20px

.numberpad
  height: 50px
  width: 35px
  font-size: 33px
  font-weight: bolder
  margin: 10px 3px
  background: white
  display: inline-block
  text-align: center
  color: $color-pomegranate
  +border-radius(5px)
  +box-shadow(0px 0px 3px gray)

.earning-text
  color: $color-pomegranate
  font-size: 33px

.huoqi
  height: 5px
  width: 40px
  background: #CCB4AA
  position: absolute
  bottom: 0
  left: 40px

.wanglibao-bar
  width: 40px
  height: 120px
  background: #DD8983
  position: absolute
  bottom: 0
  left: 100px
