$filter-item-width: 90px

.trust-filter-container
  border-collapse: collapse
  table-layout: fixed
  width: 100%
  font-size: $font-s

  thead
    background: rgb(236, 246, 253)
    line-height: 40px
  th
    text-align: center
  td
    vertical-align: top
    padding-top: $space-xs

.filter-conditions
  display: table-row
  height: 200px

.filter-header, .filter-condition
  display: table-cell
  border-bottom: 1px solid lightgray
  border-right: 1px dotted lightgray
  height: 40px
  line-height: 40px
  padding: 0 10px

  &:last-child
    border-right-width: 0

.vertical-filter-item
  margin: 5px auto

a.filter-condition-item
  font-size: $font-xs
  text-align: center
  border: 1px solid gray
  max-width: $filter-item-width
  display: block
  height: 20px
  line-height: 20px
  margin: auto

  +unstyled-link

  &.active
    background-color: #F60
    color: white
    border: 0
