.qixi-banner
  background: url("/static/imgs/pc_activity/qixi/banner2.jpg") no-repeat center center
  height: 499px
.qix-main
  width: 1103px
  height: 1200px
  margin: 60px auto
  .qixi-box1
    width: 100%
    height: 522px
    background: #ff80b7
    border-radius: 10px
    margin-top: 24px
    .qixi-time
      background: url("/static/imgs/pc_activity/qixi/time-bj.png") no-repeat center center
      height: 127px
      position: relative
      top: -24px
      h1
        font-size: 25px
        color: #fff
        text-align: center
        position: relative
        top: 56px
    .left
      width: 696px
      height: 364px
      background: #f7689e
      margin-left: 38px
      float: left
      .zhu
        font-size: 12px
        color: #fff
        text-align: center
        margin-top: 10px
      .left-box1
        width: 346px
        height: 311px
        padding-top: 42px
        display: inline-block
        margin-top: 10px
        h2
          height: 45px
          line-height: 45px
          font-size: 23px
          color: #0f78d3
          background: url("/static/imgs/pc_activity/qixi/h1-bj.jpg") no-repeat left center
          padding-left: 10px
          margin: 0 0 0 47px
          span
            color: #f9649b
        p
          font-size: 18px
          color: #fff
          margin-top: 30px
          margin-left: 47px
          b
            font-size: 15px
        .redpack
          width: 100%
          height: 105px
          background: url("/static/imgs/pc_activity/qixi/10redpack.jpg") no-repeat center bottom
        .redpack2
          width: 100%
          height: 105px
          background: url("/static/imgs/pc_activity/qixi/20redpack.jpg") no-repeat center bottom

    .right
      float: right
      width: 327px
      height: 364px
      background: #187ed3
      position: relative
      right: 30px
      .sao-text
        width: 184px
        font-size: 18px
        text-align: center
        margin: 38px auto
        color: #fff
        margin-bottom: 10px
      .reweima
        width: 184px
        height: 182px
        background: url("/static/imgs/pc_activity/qixi/erweima.jpg") no-repeat center center
        margin: 0 auto
      .xiazai
        width: 225px
        font-size: 12px
        text-align: center
        color: #fff
        margin: 10px auto
  .xl-box1
    margin-top: 57px
    .xl-center
      font-size: 25px
      color: #666666

    .content-process
      .content-pptv
        .process-list
          .triangle-start
            width: 130px
            .start-cont
              background: #C3C3C3
            .start-cont:after
              border-left: 12px solid #C3C3C3
          .triangle-center
            width: 147px
            .center-cont
              background: #C3C3C3
            .center-cont:after
              border-left: 12px solid #C3C3C3
          .triangle-end
            .end-cont
              background: #C3C3C3
            .end-cont:after
              border-left: 12px solid #C3C3C3
          .circle
            .circle-body
              background: #fff url("/static/images/pptv/liucheng11.png") no-repeat
              border: 4px solid #C3C3C3
              &:hover
                background-color: #ff80b7
                border: 4px solid #ff80b7
            .circle-txt
              position: relative
              left: -10px
              width: 126px
            .free
              background-position: 10px 10px
              &:hover
                background-position: 10px -63px
            .atte
              background-position: 10px -138px
              &:hover
                background-position: 10px -207px
            .recharge
              background-position: 12px -280px
              &:hover
                background-position: 12px -350px
            .tender
              background-position: 10px -423px
              &:hover
                background-position: 10px -495px
            .collec
              background-position: 10px -566px
              &:hover
                background-position: 10px -637px

  .xl-box1
    ul
      margin-top: 24px
      li
        color: #666666
        line-height: 25px
    .go
      width: 250px
      height: 60px
      background: #ff80b7
      color: #fff
      display: inline-block
      font-size: 24px
      line-height: 60px
      text-align: center
      border-radius: 10px
      margin: 70px 0 0 430px

