.security-container-gallery
  @extend .full-container
  background-color: $color-gallery

.security-container-white
  @extend .full-container
  background-color: white
  border-top: solid 1px $color-alto
  border-bottom: solid 1px $color-alto