$wrap: 1100px
$mt50: 50px

@mixin border-radius($r:10px)
  border-radius: $r
  -moz-border-radius: $r
  -webkit-border-radius: $r
@mixin height($h:40px)
  height: $h
  line-height: $h
@mixin transition($dom:all,$time:0.3s)
  transition: $dom $time
  -moz-transition: $dom $time
  -webkit-transition: $dom $time
@mixin light($dTime:0.25s)
  animation: light linear 0.5s $dTime infinite both
  -moz-animation: light linear 0.5s $dTime infinite both
  -webkit-animation: light linear 0.5s $dTime infinite both

@keyframes light
  0%
    opacity: 0
  50%
    opacity: 1

.text-center
  text-align: center

#sep_acticity_banner
  width: 100%
  height: 508px
  background: url("/static/imgs/pc_activity/september/sep-banner.jpg") center center
  overflow: hidden

//part common
.sep-part
  position: relative
  width: 100%
  .sep-part-bg
    background-position: center center
    background-repeat: repeat-x
    width: 100%
    height: 119px
    position: absolute
    left: 0
    top: -119px
  .sep-wrap
    width: $wrap
    margin: 0 auto
    padding: 80px 0 160px
    //title
    .sep-title
      font-size: 20px
      text-align: center
      +height(45px)
      .sep-num
        font-size: 30px
        font-weight: bold

    .sep-part-lft,
    .sep-part-rht
      width: 50%
      float: left
      text-align: center
      .money-box
        display: inline-block
        width: 75px
        +height(75px)
        text-align: center
        +border-radius(40px)
        font-size: 36px
        font-weight: bold
        i
          display: inline-block
          transform: rotate(-20deg)
          -webkit-transform: rotate(-20deg)
    // red btn
    .btn-box,
    .lft-main
      margin-top: $mt50
    .lft-main
      font-size: 26px
    .red-btn
      display: inline-block
      background-color: #ff5252
      +border-radius(5px)
      width: 194px
      text-align: center
      +height
      color: #fdd551
      font-size: 14px
    .promote
      color: #fff
      font-size: 14px
      line-height: 38px

.sep-part2
  margin-top: 119px

//01
.sep-part.sep-part1
  background: #fff
  .sep-wrap
    padding-bottom: 60px
  //left
  .lft-main
    margin-top: 30px
    height: 490px
  .prize-box
    width: 509px
    height: 571px
    background: url("/static/imgs/pc_activity/september/prize-box.png") left top no-repeat
    position: relative
    .prize-list
      position: absolute
      top: 27px
      left: 27px
      width: 455px
      height: 455px
      background: url("/static/imgs/pc_activity/september/prize-list.png") left top no-repeat
    .prize-light1, .prize-light2
      position: absolute
      width: 509px
      height: 509px
      left: 0
      top: 0
    .prize-light1
      background: url("/static/imgs/pc_activity/september/prize-light1.png") center center no-repeat
      +light
    .prize-light2
      background: url("/static/imgs/pc_activity/september/prize-light2.png") center center no-repeat
      +light(0s)
    .prize-arr
      width: 139px
      height: 150px
      position: absolute
      top: 174px
      left: 50%
      margin-left: -70px
      background: url("/static/imgs/pc_activity/september/prize-arr.png") center center no-repeat
  //right
  .winning-box
    width: 413px
    margin-top: 75px
    .winning-box-t
      width: 340px
      height: 519px
      background: #e73f3f
      overflow: hidden
      +border-radius(20px)
      margin: 0 auto
      padding: 15px
      box-shadow: 0 -4px 0 rgba(0,0,0,0.2) inset
      h2
        color: #fff
        font-size: 24px
        padding: 5px 0 10px
      .winning-list
        width: 310px
        background: #fff
        +border-radius(20px)
        box-shadow: 0 6px 0 rgba(0,0,0,0.1) inset
        padding: 9px 5px
        overflow: hidden
        .winning-item
          +height(42px)
          +border-radius(5px)
          font-size: 14px
          span
            font-size: 18px
            color: #ff5252
          &:nth-child(even)
            background: #eee
    .winning-box-b
      height: 52px
      width: 413px
      background: url("/static/imgs/pc_activity/september/winning-list-b.png") center top no-repeat
//02
.sep-part2
  background-color: #f4d048
  .sep-part-bg
    background-image: url("/static/imgs/pc_activity/september/yellow-t.png")
  .money-box
    background-color: #ff5a5a
    color: #fdde51
  .lft-main
    color: #ff5a5a
//03 04
.sep-part3,
.sep-part4
  .money-box
    background-color: #ebc92c
    color: #ff5a5a
  .lft-main
    color: #fff

//03
.sep-part3
  background-color: #fe8d8c
  .sep-part-bg
    background-image: url("/static/imgs/pc_activity/september/red-t.png")
  .sep-part-rht
    margin-top: -40px
//04
.sep-part4
  background-color: #598bf3
  .sep-part-bg
    background-image: url("/static/imgs/pc_activity/september/blue-t.png")
  .sep-part-rht
    margin-top: -50px
//05
.sep-part5
  background-color: #4dd7f7
  .sep-part-bg
    background-image: url("/static/imgs/pc_activity/september/l-blue-t.png")
  .sep-part5-mian
    padding: 50px 0 40px
    .sep-activity-info
      color: #267c90
      font-size: 12px
      line-height: 24px
      h3
        font-weight: bold
        font-size: 24px
        margin-bottom: 20px
      ol
        list-style: decimal outside
        padding-left: 16px
    .gold-dl-row
      width: 100%
      margin-top: 50px
      .san-span
        width: 33.33%
        float: left
        display: inline
        dt
          width: 140px
          height: 140px
          overflow: hidden
          margin: 0 auto
        .pp-zi
          text-align: center
          b
            color: #ea5152
            font-weight: normal

//footer
#sep-footer
  background: #80e1f7
  color: #2bb3d2
  #two-footer
    .footer-com
      background-image: url("/static/imgs/pc_activity/september/sep-footer-icon.png")

//backtop
.backtop
  position: fixed
  left: 50%
  margin-left: 560px
  bottom: 100px
  width: 50px
  text-align: center
  .inline-block
    display: inline-block
  .backtop-icon, .weixin-code, .weixin-icon, .footer-qq
    background-repeat: no-repeat
  .backtop-icon, .weixin-icon, .footer-qq
    background-image: url("/static/imgs/pc_activity/september/rht-icon.png")
  .weixin-icon, .footer-qq
    width: 50px
    height: 62px
  //backtop
  .backtop-box
    width: 100%
    text-align: center
    width: 30px
    opacity: 0
    +transition
    .backtop-icon
      background-position: -140px 0
      width: 21px
      height: 46px
    .backtop-txt
      width: 27px
      +border-radius(15px)
      background: #d64646
      color: #fff
      padding: 10px 0
      text-align: center
      font-size: 14px
      margin-top: 5px
  &.show-backtop
    .backtop-box
      opacity: 1
  //weixin
  .footer-weixin
    margin-top: 10px
    position: relative
    overflow: hidden
    .weixin-icon
      background-position: -70px 0
    .weixin-code
      position: absolute
      left: -150px
      top: -50px
      background: url("/static/imgs/pc_activity/september/code-bg.png") left top no-repeat
      width: 150px
      height: 186px
      opacity: 0
      *display: none
      +transition
    &:hover
      overflow: visible
      .weixin-code
        opacity: 1
        *display: inline-block

  //qq
  .footer-qq
    margin-top: 10px
    background-position: 0 0