.sidebar
  background: white
  margin-top: $space-ssm

.sidebar-title
  padding: 10px 20px
  color: #9d9d9d
  font-size: $font-m

.sidebar-item
  font-size: $font-m
  line-height: 45px
  border-top: 1px dotted lightgray
  padding: 0 20px
  text-align: left
  position: relative

  &:first-child
    border-top: 0

  &:hover ul
    display: block

  &.active
    border-left: 3px solid $color-pomegranate
    background: #F9FAF9

    a
      +link-colors($color-pomegranate, $color-pomegranate)
      cursor: pointer

  a
    +unstyled-link
    +link-colors(#666, #333)
    display: block
    text-align: center
    cursor: pointer

.sidebar-secondary
  .sidebar-item
    a
      color: #666
  .sidebar-item
    &.active
      a
        +link-colors($color-pomegranate, $color-pomegranate)

.sidebar-anchor
  +unstyled-link

.siderbar-div
  width: 24%
  float: left
  overflow: visible

  &:after
    content: " " /* Older browser do not support empty content */
    visibility: hidden
    display: block
    height: 0
    clear: both

.sidebar-secondary
  position: absolute
  left: 100%
  top: -1px
  width: 200px
  z-index: 999
  background-color: $color-alabaster
  display: none
  border: 1px dotted lightgray

  a
    +unstyled-link
    +link-colors(#666, $color-pomegranate)
    cursor: pointer

