.sidebar
  background: white

.sidebar-item
  font-size: $font-m
  line-height: 50px

  border-top: 1px solid lightgray
  margin-top: -1px
  padding: 0 1em
  text-align: center

  &:first-child
    border-top: 0

  &.active
    a
      +link-colors($red)

  a
    +unstyled-link
    +link-colors(#666, #333)

.sidebar-anchor
  +unstyled-link
