.logo1
  margin-top: 10px
  margin-bottom: -13px
  background: url("/static/imgs/pc_activity/singapore/singapore_logo.jpg") no-repeat
.nav-singapore
  ul
    .button-sing
      background: #FFFFFF
      color: #666

      &:hover
        color: #eb1300
.singapore-banner
  width: 100%
  height: 390px
  background: url("/static/imgs/pc_activity/singapore/singapore_banner.jpg") no-repeat center
.singapore-content
  width: 1100px
  margin: 0 auto
  .singapore-activitytop
    height: 309px
    width: 100%
    margin-top: 85px
    .activitytop-left
      width: 520px
      float: left
      h2
        font-size: 25px
        color: #ba8322
        line-height: 78px
      .line
        width: 100%
        height: 2px
        background: #f1e6d3 url("/static/imgs/pc_activity/singapore/line.jpg") no-repeat

      p
        font-size: 14px
        color: #ba8322
        text-indent: 2em
        line-height: 40px
    .activitytop-right
      float: left
      margin-left: 20px
      width: 540px
      height: 309px
      background: url("/static/imgs/pc_activity/singapore/singapore_pen.jpg") no-repeat center
  .singapore-activity
    clear: both
    width: 100%
    .activity-activity
      h3
        font-size: 25px
        color: #ba8322
        line-height: 80px
      .line
        width: 100%
        height: 2px
        background: #f1e6d3 url("/static/imgs/pc_activity/singapore/line.jpg") no-repeat
      p
        font-size: 14px
        color: #ba8322
        text-indent: 2em
        line-height: 40px
  .singapore-activitymiddle
    h4
      font-size: 25px
      color: #ba8322
      line-height: 80px
    .line
      width: 100%
      height: 2px
      background: #f1e6d3 url("/static/imgs/pc_activity/singapore/line.jpg") no-repeat
    .activitymiddle_middle
      width: 100%
      padding-top: 20px
      clear: both
      dl
        float: left
        height: 393px
        width: 250px
        border: 1px solid #ba8322
        margin-left: 25px

        .middle-to
          height: 288px
          width: 100%
        dd
          text-align: center
          width: 100%
          h3
            font-size: 25px
            color: #ba8322
            line-height: 45px

          p
            font-size: 14px
            color: #ba8322
            line-height: 18px
      .middle-to1
        background: url("/static/imgs/pc_activity/singapore/singapore_tu.png")  -22px -21px
      .middle-to2
        background: url("/static/imgs/pc_activity/singapore/singapore_tu.png")  -323px -21px
      .middle-to3
        background: url("/static/imgs/pc_activity/singapore/singapore_tu.png")  -623px -21px
      .middle-to4
        background: url("/static/imgs/pc_activity/singapore/singapore_tu.png")  -915px -21px
      .middle-to5
        background: url("/static/imgs/pc_activity/singapore/singapore_tu.png")  -22px -370px
      .middle-to6
        background: url("/static/imgs/pc_activity/singapore/singapore_tu.png")  -323px -370px
      .middle-to7
        background: url("/static/imgs/pc_activity/singapore/singapore_tu.png")  -626px -370px
      .middle-to8
        background: url("/static/imgs/pc_activity/singapore/singapore_tu.png")  -915px -370px


  .activity-zhong
    h3
      font-size: 20px
      color: #c51c29
      line-height: 80px
      background: url("/static/imgs/pc_activity/singapore/i.png") no-repeat  left center
      padding-left: 17px!important

    p
      font-size: 14px
      color: #ba8322
      text-indent: 2em
      line-height: 40px
      span
        color: #c51c29
  .activity-tut
    dl
      width: 50%
      height: 435px
      float: left
      .middle-tut
        height: 381px
        background: url("/static/imgs/pc_activity/singapore/singapore_tu1.jpg") no-repeat center
      .middle-tut1
        background: url("/static/imgs/pc_activity/singapore/singapore_tu2.jpg") no-repeat center
      .middle-tut2
        background: url("/static/imgs/pc_activity/singapore/singapore_tut1.jpg") no-repeat center
      .middle-tut3
        background: url("/static/imgs/pc_activity/singapore/singapore_tut2.jpg") no-repeat center
      .middle-tut4
        background: url("/static/imgs/pc_activity/singapore/singapore_tut3.jpg") no-repeat center
      .middle-tut5
        background: url("/static/imgs/pc_activity/singapore/singapore_tut4.jpg") no-repeat center
      dd
        text-align: center
        line-height: 30px
        color: #ba8322
        p
          font-size: 14px
  .activity-tut1
    dl
      width: 100%
      height: 435px
      .middle-tu12
        height: 381px
        background: url("/static/imgs/pc_activity/singapore/singapore_tu12.jpg") no-repeat center
      .middle-tu13
        height: 381px
        background: url("/static/imgs/pc_activity/singapore/singapore_tu13.jpg") no-repeat center
      dd
        text-align: center
        line-height: 40px
        color: #ba8322
        p
          font-size: 14px


