// This includes all styles used for style guide. It also build in final production css
// Consider separate it when it gets too chunky

.color-container
  width: 100px
  height: 60px
  display: inline-block
  text-align: center

.color
  width: 40px
  height: 40px
  display: inline-block

.color-pomegranate
  background: $color-pomegranate

.color-sea-green
  background: $color-sea-green

.color-orange
  background: $color-orange

.color-denim
  background: $color-denim

.color-red
  background: $color-pomegranate

.color-pink
  background: $color-pink

.color-cinderella
  background: $color-cinderella

.color-mine-shaft
  background: $color-mine-shaft

.color-tundora
  background: $color-tundora

.color-abbey
  background: $color-abbey

.color-emperor
  background: $color-emperor

.color-dove-gray
  background: $color-dove-gray

.color-shuttle-gray
  background: $color-shuttle-gray

.color-gray
  background: $color-gray

.color-dusty-gray
  background: $color-dusty-gray

.color-gray-chateau
  background: $color-gray-chateau

.color-alto
  background: $color-alto

.color-silver
  background: $color-silver

.color-iron
  background: $color-iron

.color-gallery
  background: $color-gallery

.color-wild-sand
  background: $color-wild-sand

.color-alabaster
  background: $color-alabaster

.color-white
  background: $color-white

.color-text-d1
  background: $color-text-d1

.color-text-d2
  background: $color-text-d2

.color-text-d3
  background: $color-text-d3

.color-text-d4
  background: $color-text-d4

.color-text-d5
  background: $color-text-d5

.color-text-d6
  background: $color-text-d6
