@import compass/css3
@import susy

@import variables

.sub-navbar
  background-color: $color-white
  line-height: 30px

.sub-navbar--list
  +container

  >ul
    list-style: none

.sub-navbar--list-item
  +float-left
  margin: 0 auto
  font-size: $font-s

  &:first-child .sub-navbar--anchor
    border-left: 0

a.sub-navbar--anchor
  border-left: 1px solid lightgray
  padding-left: 15px
  padding-right: 15px
  text-decoration: none
  +unstyled-link
  +link-colors($color-mine-shaft, $color-pomegranate)

  &.active
    +link-colors($color-pomegranate, $color-pomegranate)

