.tabs
  display: inline-block

.tab-item
  display: inline-block
  font-size: $font-s
  padding: 7px 1em
  position: relative

.tab-anchor
  +unstyled-link
  +link-colors(black, $red)

.tab-anchor.active
  font-weight: bold

.tab-arrow
  position: absolute
  bottom: -2px
  left: 37%
