@import susy
@import compass/typography/links
@import compass/css3
@import variables
@import layout

.top-bar
  background-color: $blue-gray
  height: $top-bar-height
  line-height: $top-bar-height
  overflow: auto

.top-bar-container
  +container

.top-bar-phone
  +float-left
  color: $black
  font-size: $font-m

.header-phone-text
  color: $light-gray-text

.user-info
  +float-right
  text-align: right
  padding-right: 10px
  font-size: $font-xs
  color: $light-gray-text

  a
    +hover-link
    +link-colors($light-yellow)
