.trust-table
  width: 100%
  table-layout: fixed
  border-collapse: collapse

  thead
    border-bottom: 1px solid #DADADA
    background-color: #EDF9FF

  th
    padding: 10px 0
    text-align: center

  td
    padding: 10px 0
    text-align: center

  tr:nth-child(even)
    background-color: #F2F2F2


.updown
  position: relative
  width: 14px
  height: 12px
  display: inline-block
  vertical-align: middle

.up
  position: absolute
  top: 0
  border: 3px solid transparent
  border-bottom-width: 5px
  border-top: 0
  border-bottom-color: gray

  &.active
    border-bottom-color: $red

.down
  position: absolute
  bottom: 0
  border: 3px solid transparent
  border-top-width: 5px
  border-bottom: 0
  border-top-color: gray

  &.active
    border-top-color: $red

.bordered-table
  width: 100%
  table-layout: fixed
  border-collapse: collapse

  th, td
    border: 1px solid lightgray
    padding: .5em 0

    &:first-child
      border-left: 0

    &:last-child
      border-right: 0

  th
    background: $table-th-bg
    text-align: center

  td
    background: white
    text-align: left
    padding: 1em

