
$header-background: #ECF6FD

.trust-table
  width: 100%
  table-layout: fixed
  border-collapse: collapse

  thead
    background-color: $header-background

  th
    padding: 10px 0
    text-align: center
    background: $header-background

  td
    padding: 10px 0
    text-align: center
    background: white

  tr
    border-bottom: 1px solid lightgray

.bordered-table
  width: 100%
  table-layout: fixed
  border-collapse: collapse

  th, td
    border: 1px solid gray
    padding: .5em 0

  th
    background: $header-background
    text-align: center

  td
    background: white
    text-align: left
    padding: 1em

