@import 'panel'

// Use absolute px before designer switch to grid system, otherwise, there are too many
// subtle flaws
.account-home-aside
  width: 230px
  float: left
  margin-right: 10px

.account-home-main
  float: left
  width: 860px

.money-card
  @extend .span4
  padding: 20px
  font-size: $font-s
  height: 70px

.account-home-panel__no-padding
  @extend .panel-padding
  padding: 0

.account-home-panel
  @extend .account-home-panel__no-padding
  padding: 20px

.account-home-panel--title-bar
  margin-top: 10px

.account-home-panel--title-bar__product
  border-bottom: 1px solid $color-text-d5
  padding: 20px 20px 5px 20px
  font-size: $font-m

.account-home-panel--action-bar
  @extend .row
  @extend .align-right
  padding-top: 10px
  padding-bottom: 10px

.total-asset-money-card
  float: left
  width: 180px
  padding: 10px

.sign-money-card
  float: left
  width: 30px
  line-height: 70px
  font-size: $font-xl
  text-align: center

%brief--basic
  float: left
  padding: 10px

%brief--basic__border
  border: 1px solid $color-text-d5
  &:hover
    border: 3px solid $color-text-d5

.brief--p2p-total-asset
  @extend %brief--basic
  @extend %brief--basic__border
  height: 70px
  width: 276px

.brief--fund-total-asset
  @extend %brief--basic
  @extend %brief--basic__border
  height: 70px
  width: 276px

.account-home-panel
  margin-top: 10px

.title-bar--tabs
  display: inline-block
  list-style: none
  line-height: 28px

.title-bar--tab
  display: inline-block
  width: 105px
  text-align: center

  &.active
    background: $color-primary

    .title-bar--tab--anchor
      +link-colors(white)

  .title-bar--tab--anchor
    +link-colors($color-text-d3)

.p2p-asset--detail-container
  float: left
  background: #FAFAFA

.p2p-asset--detail
  float: left
  width: 130px
  text-align: center
  padding: 10px 0

.nickname
  font-size: $font-m
  padding-right: 5px

.phone
  margin-left: 1em

.card-panel
  @extend .row
  border-left-width: 0
  width: 100%
  margin-top: 10px

.card-panel-gray
  background-color: $light-gray-background
  @extend .card-panel

.money-card--border
  border: 1px solid $color-text-d5

.card-panel__gray
  background-color: $light-gray-background
  border: 1px solid $light-gray-border

.gray-card
  padding: 25px 30px
  float: left
  font-size: $font-s
  border-left: 1px solid $light-gray-border

.gray-card3
  @extend .gray-card
  width: 33.33%

.gray-card4
  @extend .gray-card
  width: 25%

.big_number
  font-size: $font-xl

.card-category-bar
  @extend .info-bar

.bank-card
  width: 250px
  border: 1px solid #d3d3d3
  border-radius: 5px
  overflow: hidden
  margin-top: $space-m
  float: left
  margin-left: 10px

.add-bank-card
  @extend .bank-card
  height: 146px
  background: #F5F5F5

.bank-card--title-bar
  background: #F5F5F5
  line-height: 52px
  padding: 0 1em
  border-bottom: 1px solid #d3d3d3

.bank-card--bank-logo
  width: 40px
  height: 40px
  background: lightskyblue
  margin-top: 6px

.bank-card--bank-name
  font-size: $font-m

.bank-card--icon
  display: inline-block
  text-align: right

  img
    vertical-align: middle

.bank-card--info-row
  text-align: center
  font-size: $font-s
  padding: 35px 0
  +clearfix

.bank-card--info-title
  @extend .span2
  @extend .prefix1
  color: #999
  text-align: right

.bank-card--info-value
  @extend .span8
  color: #666
  text-align: left
  padding-left: 1em

.no-content
  text-align: center
  padding: 10px
  font-size: $font-m

$add-icon-large-size: 54px
$add-icon-large-width: 8px
.add-icon-large
  position: relative
  width: $add-icon-large-size
  height: $add-icon-large-size
  margin: 35px auto 15px auto

  &:before
    position: absolute
    left: ($add-icon-large-size - $add-icon-large-width)/2
    content: " "
    width: $add-icon-large-width
    height: $add-icon-large-size
    background-color: #D5D5D5

  &:after
    position: absolute
    top: ($add-icon-large-size - $add-icon-large-width)/2
    width: $add-icon-large-size
    height: $add-icon-large-width
    background-color: #D5D5D5
    content: " "

.add-card-text
  text-align: center
  font-size: $font-m
  color: $blue