@charset "utf-8"
// Color
$light-yellow: #EFA810

$orange: #F90
$red: #e7350d

$blue-gray: #626972
$blue: #1073B6

$gray-card-info-head: #4C5158
$gray-add-on-text: #666666
$gray-text: #999999

$light-gray-text: #C1C1C1
$light-gray-bar: #CCCCCC
$light-gray-card: #A4AAB0
$light-gray-add-on-bg: #EFEFEF
$light-gray-card-info-bg: #DEE0E1
$light-gray-background: #FAFAFA
$light-gray-border: #EFEFEF

$dark-gray: #535353
$gray: #828282
$dark-ddd: #DDDDDD

$background-color: #f0f0f0
$form-background-color: white
$table-th-bg: rgb(245, 245, 245)

$border-color: #CBCBCB

$black: #333
$white: #FFF

$panel-bar-background: #ECECEC
$panel-bar-color: #535353

// Space
$space-xs: 5px
$space-s: 14px
$space-sl: 20px
$space-m: 26px
$space-l: 30px
$space-xl: 40px
$space-xxl: 50px
$space-xxxl: 60px

// Font
$font-xs: 12px
$font-s: 14px
$font-m: 16px
$font-l: 18px
$font-xl: 20px
$font-xxl: 26px
$font-xxxl: 48px
$font-xxxxl: 58px
$font-xxxxxl: 68px

// Constant
$top-bar-height: 25px
$content-max-width: 980px
$footer-height: 230px

// Header total height
$header-height: 540px

// Border width
$border-width: 3px

// Logo width
$logo-width: 165px
$navigation-item-number: 5
$navigation-item-width: 100px
$sub-nav-background: white

$panel-title-height: 53px
$content-width: 1100px

//Home fund style
$hot-list-border-color: #E1E1E1
$hot-list-height: 363px
$hot-list-height-content: 280px
$hot-list-img-width: 160px
$hot-list-width-content: 940px
$hot-list-width-highlight: 500px
$hot-list-width-normal: 219px
