body .wrap
  background: #fbd79b url("/static/imgs/pc_activity/xingmei_movie/banner.png") center no-repeat
  height: 574px
.xingmei-com
  background: url("/static/imgs/pc_activity/xingmei_movie/com.png") no-repeat
.one
  background-position: -6px -17px
.two
  background-position: -344px -17px
.three
  background-position: -681px -17px
.four
  background-position: -21px -337px
.five
  background-position: -108px -325px
.six
  background-position: -223px -316px
.seven
  background-position: -342px -359px
.biaoyu
  color: #ff5252
  font-size: 24px
  text-align: center
#seven-center
  font-size: 28px
  color: #69666f
#aug-form-row-eroor
  color: red
  margin-top: 5px
.san-span b
  color: #ea5152
  font-weight: normal
.xingmei-content
  width: 1101px
  height: 1123px
  margin: -75px auto 0
  position: relative
  z-index: 3
  .xl-backtop
    width: 50px
    height: 251px
    //background: #00f
    position: fixed
    right: 0px
    bottom: 100px
    z-index: 999
    cursor: default
    display: none
    span
      display: inline-block
      width: 100%
      height: 64px
    .backtop
      background: #b22621
      width: 27px
      color: #fff
      text-align: center
      padding: 10px 0
      margin: 10px 0 10px 10px
      border-radius: 15px
    .sev-backtop
      background: #ff5252
      font-size: 14px
    .erweima
      width: 146px
      height: 186px
      position: absolute
      top: 73px
      left: -158px
      background: url("/static/images/xunlei/erweima.png") no-repeat center center
      display: none
    a
      display: inline-block
    .seven-ten
      background: url("/static/imgs/pc_activity/xunlei/seven/sev_com5.png") no-repeat -952px -95px
      display: inline-block
      width: 100%
      height: 64px
  .xingmei-tit
    font-size: 22px
    color: #eb4256
    text-align: center
    position: relative
    span
      display: inline-block
      position: absolute
      width: 55px
      height: 59px
      top: -11px
      right: 121px
  .xingmei-prize
    width: 309px
    height: 296px
    display: inline-block
    margin-top: 37px
    margin-right: 82px
    .prize
      width: 100%
      height: 247px
      position: relative
      p
        font-size: 18px
        color: #fff
        position: relative
        text-align: center
        top: 162px
        span
          color: #eb4256
        b
          font-size: 15px
    .btn
      text-align: center
      a
        width: 152px
        height: 43px
        background: #f24d59
        display: inline-block
        text-align: center
        color: #fff
        font-size: 18px
        border-radius: 5px
        line-height: 43px
  .xl-box1
    margin-top: 50px
    width: 100%
    position: relative
    .tu
      width: 86px
      height: 67px
      display: inline-block
      position: absolute
      right: 0
      top: -42px
    .tu2
      width: 82px
      height: 76px
      position: absolute
      right: 280px
      top: 34px
    .content-process
      .content-pptv
        .process-list
          .triangle-start
            width: 130px
            .start-cont
              background: #C3C3C3
            .start-cont:after
              border-left: 12px solid #C3C3C3
          .triangle-center
            width: 147px
            .center-cont
              background: #C3C3C3
            .center-cont:after
              border-left: 12px solid #C3C3C3
          .triangle-end
            .end-cont
              background: #C3C3C3
            .end-cont:after
              border-left: 12px solid #C3C3C3
          .circle
            .circle-body
              background: #fff url("/static/images/pptv/liucheng11.png") no-repeat
              border: 4px solid #C3C3C3
              &:hover
                background-color: #ea5153
                border: 4px solid #ea5153
            .circle-txt
              position: relative
              left: -10px
              width: 126px
            .free
              background-position: 10px 10px
              &:hover
                background-position: 10px -63px
            .atte
              background-position: 10px -138px
              &:hover
                background-position: 10px -207px
            .recharge
              background-position: 12px -280px
              &:hover
                background-position: 12px -350px
            .tender
              background-position: 10px -423px
              &:hover
                background-position: 10px -495px
            .collec
              background-position: 10px -566px
              &:hover
                background-position: 10px -637px
    ol
      list-style-type: decimal
      position: relative
      left: 20px
      top: 15px
      li
        line-height: 24px
        font-size: 14px
#xl-aug-success
  width: 300px
  height: 200px
  position: fixed
  top: 50%
  left: 50%
  margin-top: -150px
  margin-left: -100px
  border-radius: 10px
  background: #fff
  z-index: 1000
  border: 1px solid #ff5252
  display: none
  .first-xl-off2
    border-radius: 15px
    background: #fff
    font-weight: bold
    color: #ff5252
    position: absolute
    font-size: 21px
    right: 3px
    top: 2px
    cursor: default
    padding: 0 8px
  p
    font-size: 25px
    color: #ff5252
    text-align: center
    position: relative
    top: 60px
    span
      display: inline-block
      width: 40px
      height: 29px
      position: relative
      top: 5px
  .reg-btn
    width: 105px
    height: 40px
    background: #f04b58
    border-radius: 5px
    margin: 0 auto
    font-size: 18px
    color: #fff
    text-align: center
    line-height: 40px
    position: relative
    top: 100px
    cursor: default
#small-zc
  width: 100%
  height: 100%
  position: absolute
  background: rgba(0, 0, 0, 0.69)
  top: 0
  z-index: 999
  display: none



