body .wrap
  background: url("/static/imgs/pc_activity/xingmei/banner.jpg") center no-repeat
  height: 758px
body
  .san-new
    .san-new-content
      .san-span
        p
          color: #fff
.xingmei-com
  background: url("/static/imgs/pc_activity/xingmei_movie/com.png") no-repeat
.seven
  background-position: -342px -359px
.xm-com
  background: url("/static/imgs/pc_activity/xingmei/icon_com.png") no-repeat
.xm-icon1
  background-position: 15px -164px
.xm-icon2
  background-position: 0px -290px
.xm-icon3
  background-position: 14px -399px
.xm-icon4
  background-position: 0px 0px

.denglu-user
  width: 316px
  background: #fff
  position: absolute
  top: 40px
  right: 0
  border-radius: 5px
  z-index: 10
  height: 421px
  h1
    font-size: 24px
    color: #ff5252
    text-align: center
    margin-top: 77px
  p
    font-size: 16px
    color: #434343
    margin-top: 28px
    text-align: center
  .user-btn
    padding: 10px 10px
    border: none
    color: #fff
    background: #ff5252
    border-radius: 5px
    margin: 0 23px
    font-size: 18px
    text-align: center
    margin-top: 156px
    cursor: pointer
    a
      &:hover
      color: #fff
  span
    width: 151px
    height: 148px
    display: inline-block
    position: absolute
    top: 188px
    left: 79px

.biaoyu
  color: #ff5252
  font-size: 24px
  text-align: center
.seven-center
  font-size: 24px
  color: #fff
#aug-form-row-eroor
  color: red
  margin-top: 5px
.san-span b
  color: #ea5152
  font-weight: normal
.xingmei-content
  width: 1101px
  height: 1380px
  margin: -75px auto 0
  position: relative
  z-index: 3
  .xl-backtop
    width: 50px
    height: 251px
    //background: #00f
    position: fixed
    right: 0px
    bottom: 100px
    z-index: 999
    cursor: default
    display: none
    span
      display: inline-block
      width: 100%
      height: 64px
    .backtop
      background: #b22621
      width: 27px
      color: #fff
      text-align: center
      padding: 10px 0
      margin: 10px 0 10px 10px
      border-radius: 15px
    .sev-backtop
      background: #ff5252
      font-size: 14px
    .erweima
      width: 146px
      height: 186px
      position: absolute
      top: 73px
      left: -158px
      background: url("/static/imgs/pc_activity/xingmei_movie/weixin-nqr.png?v=353") no-repeat center center
      display: none
    a
      display: inline-block
    .seven-ten
      background: url("/static/imgs/pc_activity/xunlei/seven/sev_com5.png") no-repeat -952px -95px
      display: inline-block
      width: 100%
      height: 64px
  .xingmei-tit
    font-size: 22px
    color: #eb4256
    text-align: center
    position: relative
    span
      display: inline-block
      position: absolute
      width: 55px
      height: 59px
      top: -11px
      right: 121px
  .xm-prize
    width: 100%
    height: 394px
    position: relative
    top: -120px
    .prize
      width: 320px
      height: 221px
      background: rgba(255, 255, 255, 0.3)
      border-radius: 10px
      text-align: center
      display: inline-block
      margin-right: 66px
      b
        width: 198px
        height: 111px
        display: inline-block
        margin-top: 32px
      p
        font-size: 18px
        color: #fff
        line-height: 28px
        opacity: 1
        margin-top: 3px
        span
          color: #e7d243
    .xm-btn
      width: 210px
      height: 60px
      background: #fa5b5d
      border-radius: 5px
      font-size: 18px
      color: #fef9e3
      text-align: center
      line-height: 60px
      margin: 0 auto
      margin-top: 55px
      cursor: pointer


  .xl-box1
    .prize-liucheng
      width: 100%
      height: 272px
      margin-top: 45px
      background: url("/static/imgs/pc_activity/xingmei/liucheng.jpg") top center no-repeat
      position: relative
      .prize-tit
        width: 190px
        font-size: 32px
        color: #ff5252
        font-weight: bold
        position: absolute
        left: 86px
        top: 63px
        text-align: center
        span
          font-size: 12px
          color: #666
          font-weight: normal
          position: relative
          top: -21px
          display: inline-block
          width: 170px

  .xl-box1
    .san-new
      position: absolute
      bottom: 0
  .xl-box1
    width: 100%
    position: relative
    top: -122px
    .content-process
      .content-pptv
        .process-list
          .triangle-start
            width: 130px
            .start-cont
              background: #C3C3C3
            .start-cont:after
              border-left: 12px solid #C3C3C3
          .triangle-center
            width: 147px
            .center-cont
              background: #C3C3C3
            .center-cont:after
              border-left: 12px solid #C3C3C3
          .triangle-end
            .end-cont
              background: #C3C3C3
            .end-cont:after
              border-left: 12px solid #C3C3C3
          .circle
            .circle-body
              background: #fff url("/static/images/pptv/liucheng11.png") no-repeat
              border: 4px solid #C3C3C3
              &:hover
                background-color: #ea5153
                border: 4px solid #ea5153
            .circle-txt
              position: relative
              left: -10px
              width: 126px
              color: #fff
            .free
              background-position: 10px 10px
              &:hover
                background-position: 10px -63px
            .atte
              background-position: 10px -138px
              &:hover
                background-position: 10px -207px
            .recharge
              background-position: 12px -280px
              &:hover
                background-position: 12px -350px
            .tender
              background-position: 10px -423px
              &:hover
                background-position: 10px -495px
            .collec
              background-position: 10px -566px
              &:hover
                background-position: 10px -637px
    ol
      list-style-type: decimal
      position: relative
      left: 20px
      top: 15px
      li
        line-height: 24px
        font-size: 14px
        color: #fff

#xl-aug-success,#xl-aug-fail
  width: 400px
  height: 200px
  position: fixed
  top: 50%
  left: 50%
  margin-top: -150px
  margin-left: -200px
  border-radius: 10px
  background: #fff
  z-index: 1000
  border: 1px solid #ff5252
  display: none
  .first-xl-off2
    border-radius: 15px
    background: #fff
    font-weight: bold
    color: #ff5252
    position: absolute
    font-size: 21px
    right: 3px
    top: 2px
    cursor: default
    padding: 0 8px
  p
    font-size: 25px
    color: #ff5252
    text-align: center
    //left: 45px
    position: relative
    top: 60px
    //margin-top: 60px
    span
      display: inline-block
      width: 40px
      height: 29px
      position: relative
      top: 5px
  .reg-btn,.fail-btn
    width: 105px
    height: 40px
    background: #f04b58
    border-radius: 5px
    margin: 0 auto
    font-size: 18px
    color: #fff
    text-align: center
    line-height: 40px
    position: relative
    top: 100px
    cursor: default
#small-zc
  width: 100%
  height: 100%
  position: absolute
  background: #000
  opacity: 0.4
  filter: alpha(opacity=40)
  top: 0
  z-index: 999
  display: none



