

.xl-aug-com
  background: url("/static/imgs/pc_activity/xunlei/xunlei-august/com.png") no-repeat
.xl-aug-one
  background-position: -51px -32px
.xl-aug-two
  background-position: -468px -26px
.xl-aug-tit1
  background-position: -75px -319px
.xl-aug-tit2
  background-position: -520px -315px
.xl-aug-link1
  background-position: -85px -438px
.xl-aug-link2
  background-position: -350px -438px
.xl-aug-link3
  background-position: -616px -438px
.xl-aug-link4
  background-position: -879px -438px
.xl-aug-red
  background-position: -53px -584px
.xl-aug-card1
  background-position: -397px -584px
.xl-aug-card2
  background-position: -696px -584px
.xl-aug-card3
  background-position: -972px -571px
.xl-aug-small1
  background-position: -63px -767px
.xl-aug-small2
  background-position: -106px -767px
.xl-aug-small3
  background-position: -147px -767px
.xl-aug-small4
  background-position: -184px -767px
.xl-aug-btn1
  background-position: -445px -774px
#xunlei-aug-banner
  background: url("/static/imgs/pc_activity/xunlei/xunlei-august/banner.jpg") no-repeat center center
  height: 541px

.xl-aug-wrap
  background: #fff9eb
  position: relative
  top: -22px
  .xl-aug-gold
    background: none
    top: -90px
    .xl-aug-time
      height: 212px
      width: 100%
      position: relative
      span
        display: inline-block
        position: absolute
      .xl-aug-man
        width: 295px
        height: 199px
      .xl-aug-haixing1
        width: 204px
        height: 122px
        right: 85px
        bottom: 10px
      h1
        font-size: 25px
        color: #0aafb3
        text-align: center
        position: relative
        top: 141px
    .xl-aug-first
      width: 100%
      height: 596px
      h2
        width: 357px
        height: 68px
        margin: 0 auto
        text-align: center
        line-height: 76px
        font-size: 24px
        color: #fff
      .xl-aug-box1
        width: 100%
        height: 518px
        background: url("/static/imgs/pc_activity/xunlei/xunlei-august/bj1.jpg") no-repeat center center
        p
          font-size: 18px
          color: #22afb6
          text-align: center
          position: relative
          top: 80px
        .xl-aug-prize1
          width: 241px
          height: 253px
          position: relative
          top: 100px
          left: 39px
          text-align: center
          display: inline-block
          margin-right: 10px
          a
            display: inline-block
            width: 160px
            height: 72px
            margin: 0 auto
            font-size: 18px
            color: #fff
            line-height: 55px
          .xl-aug-jiang1
            width: 238px
            height: 139px
          .xl-aug-txt
            height: 28px
            width: 100%
            background: #ea5099
            position: relative
            top: 12px
            line-height: 28px
            padding-left: 22px
            color: #fff
            b
              font-weight: normal
              color: #ffff10
            span
              width: 25px
              height: 25px
              display: inline-block
              position: absolute
              left: 2px
      .xl-aug-box2
        width: 100%
        height: 573px
        background: url("/static/imgs/pc_activity/xunlei/xunlei-august/bj2.jpg") no-repeat center center
        padding-left: 84px
        p
          font-size: 18px
          color: #22afb6
          text-align: center
          position: relative
          top: 110px
        .xl-aug-three
          top: 136px
          dl
            margin-right: 80px
            border: none
            dd
              h3
                color: #ff5067
    .xl-aug-four
      top: 70px
      .xl-aug-peo
        top: 51px
        right: 48px
  .xl-box1
    .content-process
      .content-pptv
        .process-list
          .triangle-start
            width: 126px
          #xl-triangle-center
            width: 149px
          .circle
            .xl-aug-col
              color: #696461
  .xl-aug-rule
    ul
      li
        color: #696461



