

.xl-aug-com
  background: url("/static/imgs/pc_activity/xunlei/xunlei-august/com.png") no-repeat
.xl-aug-one
  background-position: -51px -32px
.xl-aug-two
  background-position: -468px -26px
.xl-aug-tit1
  background-position: -75px -319px
.xl-aug-tit2
  background-position: -520px -315px
.xl-aug-link1
  background-position: -85px -438px
.xl-aug-link2
  background-position: -350px -438px
.xl-aug-link3
  background-position: -616px -438px
.xl-aug-link4
  background-position: -879px -438px
.xl-aug-red
  background-position: -53px -584px
.xl-aug-card1
  background-position: -397px -584px
.xl-aug-card2
  background-position: -696px -584px
.xl-aug-card3
  background-position: -972px -571px
.xl-aug-small1
  background-position: -63px -767px
.xl-aug-small2
  background-position: -106px -767px
.xl-aug-small3
  background-position: -147px -767px
.xl-aug-small4
  background-position: -184px -767px
.xl-aug-btn1
  background-position: -445px -774px
.xl-aug-haixing2
  background-position: -849px -27px
.xl-aug-haixing3
  background-position: -744px -27px




#xl-aug-scroll
  height: 54px
  //border: 1px solid #ccc
  position: relative
  top: 65px
  left: 241px
  span
    font-size: 18px
    color: #fff
    position: relative
    top: -22px
  .scroll
    display: inline-block
    margin: 0 10px
    .view
      display: inline-block
      position: relative
      width: 38px
      height: 56px
      background: url("/static/imgs/pc_activity/xunlei/seven/bj.jpg") no-repeat center
      margin-right: 5px
      overflow: hidden
      hr
        position: relative
        top: 8px
        width: 38px
        border-top: 4px solid #ee4d4d
        z-index: 10
      .long
        position: absolute
        bottom: 0
        margin-bottom: 0
        li
          width: 38px
          height: 56px
          text-align: center
          line-height: 64px
          font-size: 50px
          color: #fff
          font-weight: bold
          margin-bottom: 2px

#xunlei-aug-banner
  background: url("/static/imgs/pc_activity/xunlei/xunlei-august/banner.jpg") no-repeat center center
  height: 541px

.xl-aug-wrap
  background: #fff9eb
  position: relative
  top: -22px
  .xl-aug-gold
    background: none
    top: -90px
    .xl-aug-time
      height: 212px
      width: 100%
      position: relative
      span
        display: inline-block
        position: absolute
      .xl-aug-man
        width: 295px
        height: 199px
      .xl-aug-haixing1
        width: 204px
        height: 122px
        right: 85px
        bottom: 10px
      h1
        font-size: 25px
        color: #0aafb3
        text-align: center
        position: relative
        top: 141px
    .xl-aug-first
      width: 100%
      height: 596px
      position: relative
      .haixing2
        width: 62px
        height: 45px
        position: absolute
        right: 251px
        top: 48px
      h2
        width: 357px
        height: 68px
        margin: 0 auto
        text-align: center
        line-height: 76px
        font-size: 24px
        color: #fff
      .xl-aug-box1
        width: 100%
        height: 518px
        background: url("/static/imgs/pc_activity/xunlei/xunlei-august/bj1.jpg") no-repeat center center
        p
          font-size: 18px
          color: #22afb6
          text-align: center
          position: relative
          top: 80px
        .xl-aug-prize1
          width: 241px
          height: 253px
          position: relative
          top: 100px
          left: 39px
          text-align: center
          display: inline-block
          margin-right: 10px
          a
            display: inline-block
            width: 160px
            height: 72px
            margin: 0 auto
            font-size: 18px
            color: #fff
            line-height: 55px
          .xl-aug-jiang1
            width: 238px
            height: 139px
          .xl-aug-txt
            height: 28px
            width: 100%
            background: #ea5099
            position: relative
            top: 12px
            line-height: 28px
            padding-left: 22px
            color: #fff
            b
              font-weight: normal
              color: #ffff10
            span
              width: 25px
              height: 25px
              display: inline-block
              position: absolute
              left: 2px
      .xl-aug-box2
        width: 100%
        height: 573px
        background: url("/static/imgs/pc_activity/xunlei/xunlei-august/bj2.jpg") no-repeat center center
        padding-left: 84px
        p
          font-size: 18px
          color: #22afb6
          text-align: center
          position: relative
          top: 110px
        .xl-aug-three
          top: 136px
          dl
            margin-right: 80px
            border: none
            dd
              h3
                color: #ff5067
    .xl-aug-four
      top: 70px
      background: url("/static/imgs/pc_activity/xunlei/xunlei-august/bj3.jpg") no-repeat center center
      .xl-aug-peo
        top: 51px
        right: 48px
        z-index: 99
      .haixing3
        width: 78px
        height: 61px
        position: absolute
        left: 140px
        top: -67px
      h1
        color: #ff4937
        a
          color: #ff4937
      p
        font-size: 18px
        text-align: center
        margin-left: 0
  .xl-box1
    .content-process
      .content-pptv
        .process-list
          .triangle-start
            width: 126px
          #xl-triangle-center
            width: 149px
          .circle
            .xl-aug-col
              color: #696461
  .xl-aug-rule
    ul
      li
        color: #696461

#small-zc
  display: none
  #aug-box1
    width: 400px
    height: 200px
    position: fixed
    top: 50%
    left: 50%
    margin-top: -100px
    margin-left: -200px
    border-radius: 10px
    background: #fff
    .first-xl-off2
      border-radius: 15px
      background: #fff
      font-weight: bold
      color: #999
      position: absolute
      font-size: 21px
      right: 3px
      top: 2px
      cursor: default
      padding: 0 8px
    p
      font-size: 24px
      margin-top: 50px
      text-align: center
      color: #738289
    a
      display: inline-block
      height: 40px
      text-align: center
      width: 80%
      background: #ff5252
      color: #fff
      line-height: 40px
      margin-left: 10%
      bottom: 20px
      font-size: 18px
      position: absolute
      border-radius: 5px
  #seven-success
    height: 210px
    margin-top: -105px
    .aug-happy
      margin: 40px 0 20px 70px
    .aug-happy-p
      text-align: center
      a
        text-decoration: underline
        color: #3ea7eb
  #first-redpack-fail
    .aug-fail-p
      font-size: 25px
      color: #738289
  #xl-aug-success
    width: 400px
    height: 200px
    position: fixed
    top: 50%
    left: 50%
    margin-top: -100px
    margin-left: -200px
    border-radius: 10px
    background: #fff
    display: none
    .first-xl-off2
      border-radius: 15px
      background: #fff
      font-weight: bold
      color: #999
      position: absolute
      font-size: 21px
      right: 3px
      top: 2px
      cursor: default
      padding: 0 8px
    p
      font-size: 24px
      margin-top: 50px
      text-align: center
      color: #738289
      span
        color: #ff5252
      b
        font-weight: normal
        font-size: 18px
    a
      display: inline-block
      padding: 8px 59px
      font-size: 20px
      background: #ff5252
      cursor: default
      border-radius: 5px
      color: #fff
      position: absolute
      bottom: 0
      left: 100px
      display: none

    ul
      position: absolute
      bottom: 10px
      left: 75px
      li
        width: 105px
        height: 40px
        line-height: 40px
        display: inline-block
        font-size: 14px
        background: #ff5252
        cursor: default
        border-radius: 5px
        color: #fff
        text-align: center
        margin-left: 15px
      .look
        background: #8bc34a
      .fast
        background: #ff5252
#aug-form-row-eroor
  color: red


