body .wrap
  background: url("/static/imgs/pc_activity/sept/banner.jpg") center no-repeat
  height: 519px
.biaoyu
  color: #ff5252
  font-size: 24px
  text-align: center
.setp-com
  background: url("/static/imgs/pc_activity/sept/com-prize.png") center no-repeat
.prize1
  background-position: -8px -6px
.prize2
  background-position: -204px -6px
.prize3
  background-position: -396px -6px
.setp-content
  width: 1100px
  //background: #a1c5ff
  margin: 0 auto
  .xl-box1
    margin-bottom: 50px
    .setp-left,.setp-right
      width: 547px
      height: 391px
      float: left
      //border: 1px solid #00f
    .setp-btn
      width: 140px
      height: 40px
      display: inline-block
      background: #449be2
      border-radius: 10px
      color: #fff
      line-height: 40px
      text-align: center
      margin-left: 198px
      margin-top: 10px
      font-size: 14px
    .zhu
      text-align: center
      color: #cccccc
      margin-top: 5px
    .setp-right
      background: url("/static/imgs/pc_activity/sept/money.png") center no-repeat
    .setp-left
      padding-top: 60px
      .prize
        width: 175px
        height: 250px
        display: inline-block
        dt
          width: 100%
          height: 179px
          margin-bottom: 25px
        dd
          text-align: center
          color: #449be2
          font-size: 12px
          font-weight: bold
          b
            color: #fe5353



    h1
      font-size: 29px
      color: #4396da
      text-align: center
      font-weight: bold
    ul
      margin-top: 40px
      li
        color: #80b5dd
        line-height: 25px