body .wrap
  background: url("/static/imgs/pc_activity/sept/banner.jpg") center no-repeat
  height: 519px
.biaoyu
  color: #ff5252
  font-size: 24px
  text-align: center
.setp-com
  background: url("/static/imgs/pc_activity/sept/com-prize.png") center no-repeat
.prize1
  background-position: -8px -6px
.prize2
  background-position: -204px -6px
.prize3
  background-position: -396px -6px
#aug-form-row-eroor
  color: red
  margin-top: 5px
.setp-content
  width: 1100px
  //background: #a1c5ff
  margin: 0 auto
  .xl-backtop
    width: 50px
    height: 251px
    //background: #00f
    position: fixed
    right: 0px
    bottom: 100px
    z-index: 999
    cursor: default
    display: none
    span
      display: inline-block
      width: 82%
      height: 64px
      background: url("/static/imgs/pc_activity/sept/top.png") center no-repeat
    .backtop
      background: #449be2
      width: 27px
      color: #fff
      text-align: center
      padding: 10px 0
      margin: 10px 0 10px 10px
      border-radius: 15px
    .sev-backtop
      background: #449be2
      font-size: 14px
    .erweima
      width: 146px
      height: 186px
      position: absolute
      top: 73px
      left: -158px
      background: url("/static/imgs/pc_activity/sept/sao.png") no-repeat center center
      display: none
    a
      display: inline-block
  .xl-box1
    margin-bottom: 50px
    .setp-left,.setp-right
      width: 547px
      height: 391px
      float: left
      //border: 1px solid #00f
    .setp-btn
      width: 140px
      height: 40px
      display: inline-block
      background: #449be2
      border-radius: 10px
      color: #fff
      line-height: 40px
      text-align: center
      margin-left: 198px
      margin-top: 10px
      font-size: 14px
    .zhu
      text-align: center
      color: #cccccc
      margin-top: 5px
    .setp-right
      background: url("/static/imgs/pc_activity/sept/money.png") center no-repeat
      margin-top: 40px
    .setp-left
      padding-top: 90px
      .prize
        width: 175px
        height: 250px
        display: inline-block
        dt
          width: 100%
          height: 179px
          margin-bottom: 25px
        dd
          text-align: center
          color: #449be2
          font-size: 12px
          font-weight: bold
          b
            color: #fe5353
    .game
      width: 100%
      height: 503px
      padding-top: 45px
      .game-le
        width: 680px
        height: 100%
        background: url("/static/imgs/pc_activity/sept/game.jpg") left no-repeat
        float: left
        position: relative
        .ring
          display: inline-block
          width: 178px
          height: 62px
          background: url("/static/imgs/pc_activity/sept/ring-1.png") center center no-repeat
          position: relative
          left: 177px
          top: -3px
        .rule
          color: #fff
          text-align: center
          width: 545px
          line-height: 24px
          margin-top: 10px
          b
            color: #ffee75
          a
            color: #ffee75
            text-decoration: underline
        .sum
          width: 363px
          height: 178px
          background: #fff
          border-radius: 15px
          position: relative
          left: 84px
          top: 12px
          .view
            width: 86px
            height: 100%
            border-right: 1px solid #2a6391
            position: relative
            overflow: hidden
            display: inline-block
            .long-sum
              width: 100%
              position: absolute
              bottom: 0
              span
                display: inline-block
                width: 100%
                height: 178px
                line-height: 178px
                text-align: center
                color: #0a45a0
                font-size: 79px
                font-weight: bold
        .side
          width: 70px
          height: 196px
          background: url("/static/imgs/pc_activity/sept/up.png") center center no-repeat
          position: absolute
          top: 85px
          right: 136px
        .side-down
          width: 70px
          height: 196px
          background: url("/static/imgs/pc_activity/sept/down.png") center center no-repeat
          position: absolute
          top: 85px
          right: 136px
        .game-btn
          width: 292px
          height: 86px
          background: url("/static/imgs/pc_activity/sept/btn-up.png") center center no-repeat
          position: absolute
          bottom: 23px
          left: 116px
        .game-btn-down
          width: 292px
          height: 86px
          background: url("/static/imgs/pc_activity/sept/btn-down.png") center center no-repeat
          position: absolute
          bottom: 10px
          left: 116px
      .game-ri
        width: 339px
        height: 100%
        background: #449be2
        float: right
        border-radius: 15px
        h2
          font-size: 24px
          color: #fff
          text-align: center
          margin: 24px 0 15px 0
        .setp-list
          width: 310px
          height: 374px
          background: #fff
          margin: 0 auto
          border-radius: 15px
          position: relative
          overflow: hidden
          .long-p
            width: 310px
            position: absolute
            .hight
              background: #eeeeee
            p
              height: 43px
              font-size: 14px
              line-height: 43px
              text-align: center
              span
                font-size: 18px
                color: #ff5252




    h1
      font-size: 29px
      color: #4396da
      text-align: center
      font-weight: bold
    ul
      margin-top: 40px
      li
        color: #80b5dd
        line-height: 25px

//模态窗样式
.model-com
  background: url("/static/imgs/pc_activity/sept/model-pic.png") no-repeat center center
.one
  background-position: 0px 15px
.two
  background-position: -284px 2px
#xl-aug-success,#xl-aug-fail,#xl-aug-prize,#xl-aug-login
  width: 565px
  height: 290px
  position: fixed
  top: 50%
  left: 50%
  margin-top: -145px
  margin-left: -285px
  border-radius: 0 0 10px 10px
  background: #fff
  z-index: 1000
  display: none
  .bj
    width: 100%
    height: 121px
    background: url("/static/imgs/pc_activity/sept/model-bj.png") no-repeat center center
    position: absolute
    top: -106px
  hr
    width: 95%
    border-top: 1px solid #5faae6
    position: relative
    margin: 0 auto
  .redpack
    width: 258px
    height: 158px
    position: absolute
    top: -158px
    left: 156px
  .man
    width: 173px
    height: 219px
    position: absolute
    bottom: 0
  .people
    width: 125px
    height: 161px
    position: absolute
    bottom: 0
    background: url("/static/imgs/pc_activity/sept/people.png") no-repeat center 14px
  p
    font-size: 24px
    color: #53a3e4
    font-weight: bold
    text-align: center
    margin-top: 76px
    span
      font-size: 18px
      font-weight: normal
      b
        color: #fe5353
  .first-xl-off2
    width: 55px
    height: 55px
    right: 38px
    top: -88px
    cursor: default
    background: url("/static/imgs/pc_activity/sept/no.jpg") no-repeat center center
    display: inline-block
    position: absolute
  .reg-btn
    width: 321px
    height: 60px
    background: #449be2
    border-radius: 5px
    margin: 0 auto
    font-size: 18px
    color: #fff
    text-align: center
    line-height: 60px
    position: relative
    top: 56px
    cursor: default
    font-weight: bold
#small-zc
  width: 100%
  height: 100%
  position: absolute
  background: rgba(0, 0, 0, 0.69)
  top: 0
  z-index: 999
  display: none