#Time
  font-size: 18px
  background: none
  border: none

.zuo
  float: left
.ju
  margin-bottom: 20px
.btn-cha
  padding: 10px 40px
  margin-top: 20px
.btn-cha2
  margin-left: 400px
  padding: 10px 40px
  margin-top: 20px