.right-content
  background: #fff
  min-height: 610px
  .auto-tender
    margin-top: 15px
    padding: 35px 40px 30px
    font-size: 18px
    color: #5a5a5a
    font-family: STHeiti,"Microsoft Yahei","微软雅黑",tahoma,arial,"Hiragino Sans GB",宋体,sans-serif
  .tender-form
    +clearfix
    .ul-style
      +clearfix
      .tender-ul-left
        width: 425px
        float: left
        margin-left: 40px
        li
          margin-bottom: 6px
          +clearfix
          label
            width: 100px
            display: inline-block
            line-height: 40px
            float: left
            text-align: right
          b,span
            line-height: 40px
            font-size: 14px
            color: #666666
          b.money-format
            color: #e7350d
          span.heng-style
            margin: 0 13px 0 5px
          input
            width: 130px
            height: 40px
            line-height: 40px
            vertical-align: middle
            margin-right: 5px
            border: 1px solid #c3c4c8
            color: #353333
          input.income-range
            width: 105px
            margin-right: 10px
          input.is_no
            height: 40px
            vertical-align: middle
            width: auto
            float: left
            margin: 0
          select
            width: 50px
            vertical-align: middle
            height: 25px
            border: 1px solid #d9d9d9
            background: #fff
            color: #000000
            padding: 0
            font-size: 12px
            margin-right: 5px
            width: 130px
            height: 40px
            line-height: 40px
            option
              color: #000000
              font-size: 12px
          .add-ben,.subtract
            background: url(/static/images/tenderIcon.gif) no-repeat center
            width: 42px
            height: 42px
            display: inline-block
            cursor: pointer
            vertical-align: middle
          .add-ben
            background-position: 0 0
            margin-right: 21px
            margin-left: 26px
          .subtract
            background-position: -45px 0
          em
            margin: 0 14px 0 27px
            color: #666666

      .tender-ul-right
        width: 300px
        float: left
        margin-left: 20px
        li
          line-height: 45px
          font-size: 14px
    .error-style
      text-align: center
      margin: 50px 0
      color: #e7350d
      font-size: 14px
      display: inline-block
      width: 100%
    .submit-div
      text-align: center
      .submit-style
        width: 210px
        height: 40px
        line-height: 40px
        display: inline-block
        cursor: pointer
        color: #fff
        background: #e7350d
        font-size: 16px