@charset "utf-8"
@import "partials/activityHeader"
.banner
  width: 100%
  background: url("/static/imgs/pc_activity/365_gu/banner.jpg") no-repeat top center
  height: 502px
  .main
    width: 1102px
    display: block
    margin: 0 auto
    height: 502px
    position: relative
    float: none
    .box
      position: absolute
      right: 0
      top: 55px
      z-index: 2
      width: 315px
      height: 420px
      background: rgba(255, 255, 255, 0.6)
      border-radius: 8px
      dl
        color: #ff5252
        padding: 62px 0 2px
        width: 100%
        text-align: center
        dt
          font-size: 32px
          font-weight: bold
          line-height: 44px
        dd
          font-size: 24px
          font-weight: bold
          line-height: 40px
      .button
        margin: 0 auto
        width: 265px
        height: 40px
        display: block
        background: url("/static/imgs/pc_activity/365_gu/registered_button.png") no-repeat
      .button:hover
        background: url("/static/imgs/pc_activity/365_gu/registered_button_hover.png") no-repeat
      .logo_img
        margin: 0 auto
        width: 265px
        height: 155px
        display: block
.wrap_main
  width: 1102px
  margin: 0 auto
  display: block
  .modular_title
    width: 100%
    height: 103px
    display: block
  .modular_title_1
    height: 219px
    padding: 70px 0 46px
  .modular_title_2
    height: 215px
    padding: 70px 0 42px
  .modular_title_3
    height: 213px
    padding: 60px 0 50px
  .act_wrap
    width: 100%
    position: relative
    height: 458px
    padding-bottom: 68px

    .box
      float: left
      width: 324px
      margin-right: 65px
      cursor: pointer

      .title_top
        width: 324px
        height: 75px
        display: block
        text-align: center
        color: #fff
        font-size: 24px
        line-height: 75px
      .title_top_1
        background: url("/static/imgs/pc_activity/365_gu/goods_title_1.png") no-repeat top center
      .title_top_2
        background: url("/static/imgs/pc_activity/365_gu/goods_title_2.png") no-repeat top center
      .title_top_3
        background: url("/static/imgs/pc_activity/365_gu/goods_title_3.png") no-repeat top center
      .main
        width: 100%
        padding-top: 6px
        height: 314px
        background: #fff
        border: 1px #dedede solid
        border-top: none
        border-radius: 0 0 5px 5px
        .title
          text-align: center
          font-size: 18px
          color: #738289
          font-weight: bold
          border-bottom: 1px #dedede solid
          padding: 0
          height: 54px
          line-height: 54px
        .goods_wrap
          width: 100%
          position: relative
          padding-top: 24px
          height: 172px
          .goods
            width: 132px
            height: 186px
            display: block
            p
              width: 100%
              color: #738289
              text-align: center
              font-size: 14px
              padding-top: 2px
              line-height: 18px
          .goods_left
            float: left
            margin-left: 10px
          .goods_right
            float: right
            margin-right: 10px
          .add_ico
            width: 20px
            height: 20px
            display: block
            position: absolute
            left: 50%
            top: 88px
    .box_3
      margin-right: 0px
      img
        width: 186px
        height: 150px
        margin: 0 auto
        display: block
      p
        width: 100%
        color: #738289
        text-align: center
        font-size: 14px
        padding-top: 15px
        height: 23px
        line-height: 18px
  #button_get
    width: 406px
    height: 80px
    display: block
    margin: 0 auto
    background: url("/static/imgs/pc_activity/365_gu/button.png") no-repeat top center
    cursor: pointer
    opacity: 1
  #button_get:hover
    opacity: 0.9
  .act_rule
    width: 100%
    padding: 0px 0 0 24px
    p
      width: 100%
      color: #a15825
      font-size: 16px
      line-height: 32px
      span.number_1
        width: 20px
        display: inline-block
      span.number_2
        width: 16px
        display: inline-block
      span.number_3
        width: 40px
        display: inline-block
    .demo
      width: 100%
      display: inline-block
      .left
        margin-left: 56px
        float: left
      .right
        margin-right: 56px
        float: right
  .introduction_wrap
    width: 100%
    padding: 0 23px 70px
    display: inline-block
    .box
      width: 258px
      float: left
      img
        display: block
        margin: 0 auto
        width: 130px
        height: 130px
      dl
        width: 100%
        text-align: center
        color: #bb9125
        dt
          font-size: 18px
          font-weight: bold
          padding-bottom: 7px
          line-height: 40px
        dd
          font-size: 14px
          line-height: 24px
.popup_bg
  background: #000
  opacity: 0.6
  position: fixed
  left: 0px
  top: 0px
  z-index: 97
  display: none
  width: 100%
  height: 100%
.popup
  position: fixed
  left: 50%
  top: 50%
  z-index: 98
  background: #fff
  border-radius: 5px
.get_red
  height: 420px
  padding: 42px 25px 50px
  width: 316px
  margin: -210px 0 0 -158px
  display: none
  .logo_img
    width: 115px
    height: 35px
    display: block
    margin: 0 auto
  .title_text
    width: 100%
    text-align: center
    font-size: 24px
    font-weight: bold
    color: #ff5252
    padding: 17px 0 4px
    line-height: 32px
  .code
    display: block
    margin: 0 auto
    width: 140px
    height: 140px
  .text
    font-size: 14px
    color: #3ea7eb
    text-align: center
    padding-bottom: 12px
    line-height: 18px
  .href
    width: 100%
    height: 38px
    border: 1px #dedede solid
    border-radius: 8px
    background: #ff5252
    text-align: center
    color: #fff
    font-size: 18px
    display: block
    line-height: 38px
  .href:hover
    background: #c34139
.close_ico
  width: 20px
  height: 20px
  background:  url("/static/imgs/pc_activity/365_gu/close_ico.png") no-repeat
  background-size: 100% 100%
  position: absolute
  right: 10px
  top: 10px
  z-index: 2
  cursor: pointer
.close_ico:hover
  background:  url("/static/imgs/pc_activity/365_gu/close_ico_hover.png") no-repeat
  background-size: 100% 100%
.register_wrap
  width: 316px
  padding: 26px 25px 25px
  margin: -197px 0 0 -158px
  display: none
.logo_img
  width: 115px
  margin: 0 auto
  display: block
#denglu
  padding-top: 5px
.xun-p
  font-size: 12px
  text-align: center
  margin-right: 12px
.xun-p a
  color: #3ea7e9
  text-decoration: underline
.xun-p a:hover
  color: #e7350d
#aug-code
  height: 100%
  left: 0
#aug-center
  left: 0
.form-row-error
  position: relative
  top: 5px
.space-vertical-m
  display: block
  padding: 20px 0 0 0
#ganjiwang-welcome
  top: 0
  padding: 0
  height: auto
  text-align: center
  width: 100%
  color: #ff5252
#ganjiwang-model
  background: #fff
  height: 100%
  position: absolute
  right: 0
  top: 0
.form-control-group
  display: inline-block
  width: 100%
.act_wrap
  .box:hover
    opacity: 0.8

