@charset "utf-8"
@import "partials/activityHeader"
#body_wrap
  position: relative
  width: 100%
.banner_1
  width: 100%
  background: url("/static/imgs/pc_activity/noviceDecember/banner_3.jpg") no-repeat top center
  height: 710px
.banner_2
  width: 100%
  background: url("/static/imgs/pc_activity/noviceDecember/banner_2.jpg") no-repeat top center
  height: 374px
  display: block
  float: none
  color: #fff
  font-size: 24px
  font-weight: bold
  line-height: 36px
  text-align: center
  position: absolute
  top: 710px
  left: 0
  z-index: -1
#body_main
  width: 1110px
  margin: 0 auto
  display: block
  padding-top: 146px
  .step_title
    width: 100%
    height: 126px
    padding-bottom: 66px
    .box
      float: left
      display: block
      width: 237px
      .num
        width: 55px
        height: 55px
        text-align: center
        line-height: 55px
        color: #fff
        font-size: 36px
        font-weight: bold
        background: #e76527
        border-radius: 50%
        font-style: italic
        float: left
      dl
        width: 182px
        padding-left: 8px
        float: left
        display: block
        color: #e76527
        dt
          padding-top: 2px
          height: 36px
          font-size: 30px
          line-height: 34px
        dd
          height: 20px
          font-size: 15px
          line-height: 20px
    .box_1
      padding-left: 15px
      dl
        width: 167px
    .box_3
      width: 227px
      dl
        width: 167px
    .box_4
      width: 247px
      dl
        width: 187px
    img
      float: left
      width: 53px
      height: 39px
      display: block
      padding: 21px 38px 0 0
  .step_wrap
    width: 100%
    height: 912px
    background:  url("/static/imgs/pc_activity/noviceDecember/step_bg.png") no-repeat
    padding-top: 146px
    font-size: 0
    padding-bottom: 10px
    .box_wrap
      width: 1051px
      margin-left: 41px
      display: block
      padding-top: 36px
      display: inline-block
    .box
      width: 345px
      float: left
      display: block
      .title
        background:  url("/static/imgs/pc_activity/noviceDecember/step_ico_2.png") no-repeat
        padding: 0 10px 0 0
        width: 143px
        height: 40px
        text-align: center
        color: #fff
        display: block
        font-size: 24px
        line-height: 40px
      p
        width: 100%
        font-size: 18px
        height: 50px
        color: #8a4b3d
        line-height: 50px
      img
        width: 345px
        height: 196px
        display: block
    .box_1
      float: none
      margin: 0 auto
      position: relative
      left: 19px
      top: 0
      .title
        background:  url("/static/imgs/pc_activity/noviceDecember/step_ico_1.png") no-repeat
        width: 101px
        margin-left: 35px
      p
        padding-left: 46px
      img
        height: 127px
        padding-top: 11px
    .box_2
      .title
        margin-left: 30px
      p
        padding-left: 38px
    .box_3
      .title
        margin-left: 50px
      p
        padding-left: 59px
    .box_4
      margin-left: 16px
      .title
        margin-left: 42px
      p
        padding-left: 50px
    .button
      width: 220px
      height: 48px
      background: #e76527
      text-align: center
      color: #fff
      font-size: 22px
      border-radius: 25px
      margin: 18px auto
      box-shadow: 0 2px 2px 2px #fad6b2
      display: block
      position: relative
      top: 0px
      clear: both
      left: -15px
      position: relative
      left: 10px
      line-height: 48px
    .line
      width: 1003px
      margin: 0 auto
      display: block
      height: 36px
      border-bottom: 1px #8a4b3d dashed
      padding-top: 35px
  .strategy_wrap
    width: 100%
    height: 676px
    margin-top: 70px
    padding-top: 152px
    background:  url("/static/imgs/pc_activity/noviceDecember/strategy_bg_hide.png") no-repeat center 82px
    position: relative
    top: 0px
    left: 0px
    .title_bg
      background:  url("/static/imgs/pc_activity/noviceDecember/title_bg.png") no-repeat
      width: 735px
      height: 121px
      padding-bottom: 37px
      text-align: center
      color: #fff
      font-size: 32px
      font-weight: bold
      display: block
      position: absolute
      left: 50%
      top: 0px
      z-index: 2
      margin-left: - 367px
      line-height: 84px
    .main
      width: 968px
      margin: 0 auto
      display: block
      float: none
      .act_rule
        width: 684px
        float: left
        height: 291px
        display: block
        float: left
      .text
        font-size: 16px
        color: #8a4b3d
        width: 100%
        clear: both
        line-height: 32px
        span
          width: 18px
          display: inline-block
        .click_rule
          width: auto
          color: #5ab1ed
          text-decoration: underline
          cursor: pointer
        .click_rule:hover
          color: #e76527
      .rule_red
        width: 100%
        padding-bottom: 30px
        display: none
      .title
        font-size: 24px
        text-align: center
        width: 100%
        padding: 0
        color: #8a4b3d
        font-wight: bold
        height: 38px
        line-height: 38px
      .max_red
        width: 100%
        clear: both
      .small_title
        width: 100%
        text-align: center
        margin-top: 20px
        color: #e76527
        font-size: 16px
        span
          display: inline-block
          width: 101px
          background: url("/static/imgs/pc_activity/noviceDecember/strategy_ico.png") no-repeat
          padding-right: 11px
          height: 40px
          text-align: center
          color: #fff
          margin-right: 12px
          line-height: 40px
  .strategy_wrap_show
    height: 878px
    background:  url("/static/imgs/pc_activity/noviceDecember/strategy_bg.png") no-repeat center 82px
    .main
      .rule_red
        width: 100%
        display: inline-block
        padding-bottom: 30px
  .recommend_send_red
    width: 100%
    height: 766px
    margin-top: 70px
    padding-top: 136px
    background:  url("/static/imgs/pc_activity/noviceDecember/recommend_send_red_hide.png") no-repeat center 82px
    position: relative
    top: 0px
    left: 0px
    font-size: 0
    .title_bg
      background:  url("/static/imgs/pc_activity/noviceDecember/title_bg.png") no-repeat
      width: 735px
      height: 121px
      padding-bottom: 37px
      text-align: center
      color: #fff
      font-size: 32px
      font-weight: bold
      display: block
      position: absolute
      left: 50%
      top: 0px
      z-index: 2
      margin-left: - 367px
      line-height: 84px
    .main
      width: 979px
      margin: 30px auto 0
      float: none
      .talbe
        width: 100%
        padding-top: 50px
        position: relative
      .title_text
        position: absolute
        left: 0
        top: 0
        text-align: center
        color: #8a4b3d
        font-size: 24px
        width: 100%
        height: 32px
        line-height: 32px
      .logo_img
        position: absolute
        left: 92px
        top: 0
        width: 122px
        height: 120px
        display: block
        z-index: 2
      ul
        float: left
        width: 325px
        li
          width: 100%
          height: 72px
          text-align: center
          font-size: 18px
          color: #e76527
          line-height: 72px
        .first
          background: #e76527
          font-size: 24px
          color: #fff
        .second
          color: #8a4b3d
        li:nth-child(2n+2)
          background: #fff
        li:nth-child(2n+3)
          background: #fddac9
      ul.second
        li:nth-child(2n+2)
          background: #f7f7f7
        li:nth-child(2n+3)
          background: #f5d3c3
        li.first
          background: #e76527
    .small
      width: 100%
      font-size: 14px
      color: #8a4b3d
      text-align: center
      height: 78px
      padding-bottom: 10px
      clear: both
      line-height: 68px
      span
        color: #5ab1ed
        text-decoration: underline
        cursor: pointer
      span:hover
        color: #e76527
    .red_use_rule
      width: 100%
      display: inline-block
      display: none
      .title
        padding: 0
        text-align: center
        width: 100%
        font-size: 24px
        color: #8a4b3d
        height: 36px
        line-height: 36px
      p
        width: 956px
        margin: 0 auto
        display: block
        font-size: 16px
        color: #8a4b3d
        height: 32px
        line-height: 32px
  .recommend_send_red_show
    height: 837px
    background: url("/static/imgs/pc_activity/noviceDecember/recommend_send_red_bg.png") no-repeat center 82px
    .red_use_rule
      display: inline-block
  .how_recommend
    padding-top: 53px
    width: 100%
    color: #8a4b3d
    .title
      width: 100%
      text-align: center
      font-size: 24px
      height: 56px
      padding: 0
      font-weight: bold
      line-height: 56px
    p
      width: 100%
      text-align: center
      font-size: 16px
      line-height: 30px
    .button
      width: 220px
      height: 48px
      font-size: 22px
      text-align: center
      display: block
      margin: 16px auto 43px
      background: #e76527
      color: #fff
      box-shadow: 0 2px 2px 2px #fad6b2
      border-radius: 25px
      line-height: 48px
    .step_img
      width: 966px
      margin: 0 auto 58px
      display: block
    .red_rule
      width: 966px
      margin: 0 auto
      display: block
      p
        font-size: 16px
        color: #8a4b3d
        width: 100%
        clear: both
        line-height: 32px
        span
          width: 18px
          display: inline-block
      .text
        text-align: left
      .small
        width: 100%
        padding-right: 8px
        text-align: right
        font-size: 12px
        font-weight: bold
        height: 44px
        line-height: 44px
.code_wrap
  width: 100%
  padding-top: 30px
  height: 320px
  clear: both
  position: relative
  left: 0
  top: 0
  .bg
    width: 100%
    height: 290px
    background: #333
  .main
    width: 1110px
    display: block
    height: 320px
    margin: 0 auto
    position: absolute
    left: 50%
    margin-left: -555px
    top: 0
    z-index: 2
    background: url("/static/imgs/pc_activity/noviceDecember/code_wrap_img.jpg") no-repeat
    .img
      float: right
      margin: 100px 102px 0 0
      width: 150px
      img
        width: 110px
        display: block
        height: 110px
        margin: 0 auto
      p
        text-align: center
        width: 100%
        font-size: 10px !important
        color: #fff
        line-height: 26px
.register_wrap
  width: 100%
  background: #fffcf4
  height: 128px
  line-height: 128px
  padding: 30px 0
  .button
    width: 310px
    height: 66px
    background: #e76527
    box-shadow: 0 2px 2px 2px #fad6b2
    text-align: center
    color: #fff
    font-size: 30px
    border-radius: 25px
    display: block
    margin: 0 auto
    line-height: 66px
.title_wrap
  width: 100%
  height: 100%
  position: fixed
  left: 0px
  top: 0px
  z-index: 999
  background: rgba(0,0,0,0.3)
  display: none
  .title_main
    width: 360px
    height: 200px
    position: absolute
    left: 50%
    top: 50%
    margin: -100px 0 0 -180px
    border-radius: 15px
    background: #fff
    .close
      width: 20px
      height: 20px
      position: absolute
      right: 11px
      top: 11px
      z-index: 2
      background: url("/static/imgs/pc_activity/noviceDecember/close_ico.png") no-repeat
      cursor: pointer
    .close:hover
      background: url("/static/imgs/pc_activity/noviceDecember/close_ico_hover.png") no-repeat
    .text
      width: 100%
      text-align: center
      color: #3f3f41
      font-size: 24px
      padding-top: 45px
      height: 111px
      line-height: 66px
    .button
      width: 200px
      height: 40px
      background: #e76527
      text-align: center
      color: #fff
      font-size: 18px
      box-shadow: 0 2px 2px 2px #fad6b2
      border-radius: 25px
      display: block
      margin: 0 auto
      line-height: 40px
body #body_wrap .button:hover,.button:hover
  background: #e63a59
  cursor: pointer
#user_static
  width: 0px
  height: 0px
  opacity: 0
  position: fixed
  left: 0px
  top: 0px
  z-index: -2










