#aug-center
  display: none
.wrap
  background: url(/static/imgs/pc_activity/xunlei_april/banner.jpg) center center no-repeat
  width: 100%
  height: 887px
  .hidden
    display: none
  .gold2
    width: 1100px
    margin: 0 auto
    .denelu-form
      width: 315px
      height: 420px
      background: #fff
      float: right
      margin-top: 55px
      border-radius: 5px
      padding: 30px 25px
      position: relative
      .biaoyu
        color: #ff5252
        font-size: 22px
        text-align: center
      .form-control-group
        width: 265px
        height: 38px
        line-height: 38px
        border: 1px solid #dedede
        border-radius: 5px
        margin-top: 4px
        input
          border: 0 none
          width: 260px
          height: 35px
          line-height: 35px
          padding-left: 30px
          margin-left: 10px
        input.tu1
          background: url(/static/imgs/pc_activity/activity_regist.png) -159px 5px no-repeat
    .voice
      .form-control-group
        border: 0 none
        .span6
          width: 155px
          border: 1px solid #dedede
          border-radius: 5px
        input.tu2
          background: url(/static/imgs/pc_activity/activity_regist.png) -159px -25px no-repeat
          width: 150px
        .button-orange
          background: #8bc34a
          border: 0 none
          width: 105px
          height: 40px
          height: 40px
          color: #fff
          border-radius: 5px
        .buttonDisabled
          background: #bababa
    .pwd-input
      input
        width: 265px
        height: 38px
        line-height: 38px
        border: 1px solid #dedede
        border-radius: 5px
        margin-top: 14px
        height: 35px
        line-height: 35px
        padding-left: 40px
      input.tu3
        background: url(/static/imgs/pc_activity/activity_regist.png) -147px -52px no-repeat
    .form-bottom-bar
      color: #8a969c
      font-size: 14px
      a
        color: #3ea7eb
      .xun-zhuce
        width: 265px
        height: 40px
        line-height: 40px
        color: #fff
        font-size: 18px
        text-align: center
        border: 0 none
        background: #ff5252
        border-radius: 5px
        cursor: pointer
    .form-row-error
      color: red
      font-size: 14px
      padding: 5px 0
  .xun-p
    font-size: 14px
    color: #434343
    text-align: center
    padding-top: 15px
    a
      color: #3ea7eb

#aug-center
  height: auto
  position: absolute
  top: 29%
  opacity: 1
  background: #fff
  border-radius: 5px
  display: none
  z-index: 10
  .off-form
    border-radius: 15px
    background: #fff
    font-weight: bold
    color: #999
    position: absolute
    font-size: 21px
    right: 3px
    top: 2px
    cursor: default
    padding: 0 8px
  .aut-form
    padding: 25px 13px
    .aut-error
      padding: 0
    .form-row
      .aut-captcha
        width: 123px
#aug-code
  width: 100%
  height: 420px
  border: 1px solid #000
  position: absolute
  z-index: 9
  background: #000
  opacity: 0.4
  filter: alpha(opacity=40)
  border-radius: 5px
  display: none
  top: 0
  left: 0

#ganjiwang-model
  background: rgba(0,0,0,0.7)
  filter: alpha(opacity=40)
  top: 63px
  width: 320px
  height: 256px
  right: 7px

#ganjiwang-welcome
  top: 50px
#register_submit
  height: 40px

.submit-code-img
  width: 80px
  height: 30px
  line-height: 30px
  color: #fff
  text-align: center
  background: red
  border-radius: 5px
  display: inline-block
  font-size: 14px
  margin-top: 20px
  cursor: pointer
.aut-error
  font-size: 14px
  color: red
  padding: 5px 0
#ganjiwang-model
  background: rgba(0,0,0,0.7)
  filter: alpha(opacity=40)
  width: 320px
  height: 256px
  float: right
  margin-top: 54px

   
#ganjiwang-welcome
  top: 50px
#register_submit
  height: 40px
.space-vertical-m
  width: 85%
  margin: 50px auto 0
  color: #fff
  .banner-form--title
    font-size: 18px
    padding-bottom: 10px
.align-center
  text-align: center
  .banner-form--button
    margin-bottom: 10px
    width: 240px
    height: 38px
    padding: 0px
    line-height: 38px
    display: inline-block
    background: #e7350d
