#bg
  width: 100%
  height: 100%
  background:   url("/static/imgs/pc_activity/celebrity/back.jpg?v=123") no-repeat center center
  background-size: cover
  position: fixed
  top: 0px
  left: 0
  z-index: -1
  animation: bg_animate 0.5s linear
#wrap_box
  .banner
    width: 100%
    position: relative
    .img
      width: 1100px
      display: block
      height: 814px
      margin: 0 auto
      background:  url("/static/imgs/pc_activity/celebrity/celebrity-banner.png") no-repeat
      .font
        position: absolute
        width: 1100px
        top: 750px
        left: 50%
        margin-left: -515px
        p
          text-align: center
          color: #FFFFFF
          font-size: 12px
          line-height: 18px
.celebrity-main
  width: 100%
  position: relative
  .arrow
    width: 100%
    height: 16px
    background: url("/static/imgs/pc_activity/celebrity/celebrity-arrow.png") no-repeat center center
  .main-top1
    width: 1100px
    margin: 0 auto
    h3
      font-size: 35px
      color: #FFFFFF
      line-height: 50px
      font-weight: bold
      padding-left: 34px
      b
        font-size: 40px
        font-weight: bold
        padding-right: 10px
    .ma
      font-size: 17px
      color: #FFFFFF
      padding-left: 63px
    .main-top2
      width: 970px
      margin: 0 auto
      .main
        width: 300px
        float: left
        margin-top: 12px
        dt
          .imgs
            width: 300px
            height: 200px
            position: relative
            background: #FFFFFF url("/static/imgs/pc_activity/celebrity/celebrity-main.png") no-repeat
            background-position: 9px 8px
            .tit
              position: absolute
              font-size: 12px
              top: 174px
              color: #352f2e
              left: 12px
          .imgs1
            background-position: -282px 8px
          .imgs2
            background-position: -575px 8px
        dd
          margin-top: 12px
          width: 100%
          .mai
            font-size: 12px
            color: #FFFFFF
            text-indent: 2em
            line-height: 22px
      .main0
        margin-left: 35px
  .arrow1
    clear: both
    width: 100%
    height: 60px
    background: url("/static/imgs/pc_activity/celebrity/celebrity-arrow.png") no-repeat center center
  .main-top3
    clear: both
    width: 100%
    background: #FFFFFF
    height: 650px
    .top3-left
      float: left
      width: 256px
      padding: 20px
      h4
        font-size: 35px
        color: #352f2e
        line-height: 60px
        font-weight: bold
        b
          font-size: 40px
          font-weight: bold
          padding-right: 11px
      .maa
        font-size: 15px
        color: #352f2e
        padding-left: 30px
      .mab
        font-size: 17px
        color: #352f2e
        padding: 80px 0 0 30px
      .line
        width: 172px
        border-bottom: 2px solid #352f2e
        margin: 10px 0 0 30px
    .top3-right
      float: left
      width: 844px
      .zhanshi
        margin-top: 12px
        dt
          margin-bottom: 10px
        dd
          width: 774px
          font-size: 14px
          color: #352f2e
          text-indent: 2em
          line-height: 25px
  .main-top31
    height: 620px
  .main-top4
    clear: both
    width: 100%
    height: 518px
    .top3-left
      float: left
      width: 256px
      padding: 20px
      h4
        font-size: 35px
        color: #FFFFFF
        line-height: 60px
        font-weight: bold
        b
          font-size: 40px
          font-weight: bold
          padding-right: 11px
      .maa
        font-size: 17px
        color: #FFFFFF
        padding-left: 30px
      .mab
        font-size: 17px
        color: #FFFFFF
        padding: 80px 0 0 30px
      .line
        width: 172px
        border-bottom: 2px solid #FFFFFF
        margin: 10px 0 0 30px
    .top3-right
      float: left
      width: 844px
      .zhanshi
        width: 758px
        dt
          margin-bottom: 10px
        dd
          width: 100%
          font-size: 14px
          color: #352f2e
          line-height: 25px
          text-align: center
      .zhanshi1
        margin-top: 12px
        background: #FFFFFF
        padding: 15px
      .zhanshi2
        margin-top: 12px
        background: #FFFFFF
        padding: 15px
        margin-bottom: 68px
  .main-top41
    height: 1540px
  .arrow3
    clear: both
    width: 100%
    height: 60px
    background: url("/static/imgs/pc_activity/celebrity/celebrity-arrow.png") no-repeat center center




