.body_wrap
  width: 100%
  max-width: 2560px
  margin: 0 auto
  display: block
  .clear
    clear: both
  #ganjiwang-banner
    width: 100%
    height: 701px
    background: url(/static/imgs/pc_activity/center_film_ticket/banner.jpg) no-repeat center top
    .gold2 .form-bottom-bar .xun-zhuce
      margin-left: 0px
      padding: 0
    .form-row, .form-row-m
      padding-top: 0
    .agreement
      margin-left: -10px
    .gold2 .denelu-form .form-control-group
      margin-top: 0
    .gold2 .denelu-form .biaoyu
      padding-bottom: 5px
    .gold2 .denelu-form .form-control-group input
      margin-left: 0
    #reg_password,#reg_password2
      border-radius: 5px
    .form-row
      width: 263px
    .button-orange
      float: right
    .gold2 .voice .form-control-group .span6
      width: 55% !important
    .span6-omega
      width: 43%
      position: relative
      top: 2px
      left: 0
    #agreement
      top: 2px !important
      margin-right: 2px !important
    .tc
      padding-bottom: 0
  #ganjiwang-model
    background: #fff
    margin-top: 115px
  #ganjiwang-welcome
    right: 0
    top: 115px
    position: absolute
    padding: 0
    .space-vertical-m
      color: #ff5252
      margin: 30px auto 0
  .section
    width: 100%
    clear: both
  .section_1
    height: 562px
    background: url(/static/imgs/pc_activity/center_film_ticket/section_1_bg.jpg) no-repeat center top
    .box_wrap
      width: 1100px
      margin: 0 auto 0
      display: block
      height: 308px
      padding-top: 127px
      .box
        float: left
        width: 222px
        display: block
        height: 308px
        margin: 0 21px
        img
          width: 180px
          height: 180px
          display: block
          margin: 0 auto
        .box_text
          line-height: 24px
          color: #ffc139
          font-size: 15px
          font-weight: bold
          padding-top: 25px
          text-align: center
      .hom
        width: 14px
        height: 308px
        background: url(/static/imgs/pc_activity/center_film_ticket/hom.png) no-repeat center 81px
        display: block
        float: left
  .section_button
    width: 242px
    height: 67px
    display: block
    margin: 0 auto
    background: url(/static/imgs/pc_activity/center_film_ticket/button.png) no-repeat
    text-align: center
    line-height: 60px
    font-size: 24px
    font-weight: bold
    color: #222
    text-shadow: 0 0 1px #705a1d
    cursor: pointer
  .section_button:active
    background: url(/static/imgs/pc_activity/center_film_ticket/button_active.png) no-repeat
    padding-top: 2px
  .section_2
    height: 748px
    background: #ffc139
    width: 100%
    .section_2_box
      width: 1102px
      margin: 35px auto 0
      display: block
      height: 601px
      background: url(/static/imgs/pc_activity/center_film_ticket/section_2_bg.png) no-repeat center top
      position: relative
      .section_2_text
        position: absolute
        z-index: 2
        color: #222
        font-size: 16px
        line-height: 24px
        font-weight: bold
        text-align: center
      .section_2_text1
        left: 220px
        top: 109px
      .section_2_text2
        left: 518px
        top: 109px
      .section_2_text3
        left: 774px
        top: 109px
      .section_2_text4
        left: 234px
        top: 330px
      .section_2_text5
        left: 514px
        top: 330px
      .section_2_text6
        left: 824px
        top: 330px
      .section_2_text7
        left: 101px
        top: 534px
  .title_big
    padding-top: 60px
    margin: 0 auto
    display: block
  .section_3
    height: 679px
    background: url(/static/imgs/pc_activity/center_film_ticket/section_3_bg.jpg) no-repeat center top
    width: 100%
    .section_3_box
      width: 1100px
      margin: 0 auto
      display: block
    .th
      padding-top: 80px
      line-height: 36px
      text-align: center
      width: 100%
      color: #222
      font-size: 30px
      font-weight: bold
    .percentage
      padding: 62px 89px 0
      line-height: 56px
      text-align: center
      width: 580px
      display: block
      margin: 0 auto
      .num
        color: #da483e
        font-size: 61px
        font-weight: bold
        width: 161px
        float: left
        text-align: center
        display: block
        line-height: 70px
        span
          font-size: 30px
      .num_1
        text-align: right
        padding-right: 31px
      .num_2
        text-align: left
        padding-left: 31px
      .line
        width: 80px
        height: 5px
        background: #da483e
        display: block
        float: left
        position: relative
        top: 30px
        left: 0
    .dl
      padding: 10px 0 110px
      text-align: center
      clear: both
      width: 100%
      dt
        line-height: 26px
        color: #da483e
        font-size: 18px
        font-weight: bold
      dd
        padding-top: 22px
        line-height: 22px
        color: #999999
        font-size: 14px
        font-weight: bold
  .section_4
    height: 452px
    background: #ffc139
    width: 100%
    .section_4_box
      width: 1100px
      margin: 0 auto
      display: block
      .box_wrap
        padding: 58px 10px 0
        height: 340px
        width: 100%
        .box
          float: left
          margin-right: 60px
          width: 225px
          img
            display: block
            margin: 0 auto
          .dl
            padding-top: 8px
            width: 100%
            text-align: center
            dt
              font-size: 18px
              font-weight: bold
              color: #212121
              line-height: 26px
              padding-bottom: 13px
            dd
              color: #333
              font-size: 14px
              line-height: 22px
        .last_box
          margin-right: 0px
  .section_5
    width: 100%
    height: 463px
    background: #222
    .section_5_box
      width: 1100px
      margin: 0 auto
      display: block
      padding-top: 50px
      .big_title
        font-size: 36px
        color: #ffc139
        line-height: 54px
        padding-bottom: 25px
      p
        line-height: 24px
        color: #ffc139
        font-size: 14px
        span
          color: #fb1f10
          text-decoration: underline
          cursor: pointer
        span.open
          color: #fff
      p.indent_1
        text-indent: 1em
      p.indent_2
        text-indent: 2em

      .slide_text
        display: none
        overflow: hidden
  .popup_box
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 999
    display: none
    background: rgba(0,0,0,0.7)
    .main
      width: 400px
      position: absolute
      left: 50%
      top: 50%
      margin: -50px 0 0 -200px
      float: none
      background: #fff
      border-radius: 20px
      z-index: 99
      padding-bottom: 35px
      .textairport
        width: 100%
        text-align: center
        line-height: 20px
        font-size: 18px
        padding: 75px 20px 46px
        color: #666
      .popup_button
        margin: 0 auto
        width: 100px
        height: 30px
        line-height: 30px
        text-align: center
        display: block
        background: #ff5252
        border-radius: 10px
        color: #fff
        font-size: 18px
      .close_popup
        position: absolute
        right: 10px
        top: 10px
        z-index: 999
        width: 20px
        height: 20px
        display: block
