.damai-wrap
  width: 100%
  position: relative
  .damaifu
    position: fixed
    width: 335px
    height: 447px
    background: url("/static/imgs/pc_activity/damai/damai-fu.png") no-repeat center center
    left: 20px
    bottom: 40px
    z-index: 2
  .damai-banner
    background: url("/static/imgs/pc_activity/damai/damai-banner.jpg") no-repeat center center
    height: 1248px
  .damai-line
    width: 100%
    position: absolute
    border-bottom: 1px dashed #c6af85
    top: 1499px
  .damai-main
    width: 1095px
    margin: 0 auto
    padding-top: 40px
    p
      font-size: 18px
      color: #c6af85
      text-align: center
      line-height: 33px
    h2
      font-size: 24px
      color: #c6af85
      text-align: center
      line-height: 42px
    .maitop
      margin-top: 23px
    h1
      font-size: 36px
      color: #c6af85
      line-height: 128px
      text-align: center
      margin-top: 40px
    .damai-button
      display: block
      background: url("/static/imgs/pc_activity/damai/damai-button1.png") no-repeat center center
      width: 396px
      height: 55px
      position: relative
      left: 50%
      margin-left: -198px
      font-size: 24px
      line-height: 55px
      text-align: center
      color: #c6af85
      &:hover
        background: url("/static/imgs/pc_activity/damai/damai-button2.png") no-repeat center center
  .damai-main1
    width: 100%
    margin-top: 76px
    background: url("/static/imgs/pc_activity/damai/damai-main.jpg") no-repeat center center
    height: 1196px
    border-top: 4px solid #000000
    .main1-song
      height: 1196px
      width: 1095px
      margin: 0 auto
    .main1-song1,.main1-song2,.main1-song3
      width: 365px
      height: 876px
      float: left
      dl
        margin-bottom: 20px
        .song1
          width: 100%
          height: 322px
          background: url("/static/imgs/pc_activity/damai/damai-song.png") no-repeat 11px 0px
          margin-top: 248px
        .song2
          background: url("/static/imgs/pc_activity/damai/damai-song.png") no-repeat -358px 0px
        .song3
          background: url("/static/imgs/pc_activity/damai/damai-song.png") no-repeat -743px 0px
        dd
          font-size: 24px
          text-align: center
          color: #c6af85
          margin-top: 20px
      .xuan1
        background: url("/static/imgs/pc_activity/damai/damaishu.png") no-repeat 350px
        .xuan-song1
          color: #c6af85
          font-size: 15px
          margin-top: 14px
          .one
            display: inline-block
            width: 184px
            height: 20px
            vertical-align: bottom
          input[type="radio"]
            margin: 3px 3px 0px 5px
            display: none
          label
            display: inline-block
            width: 20px
            height: 18px
            cursor: pointer
            background: url('/static/imgs/pc_activity/damai/damai-radio.png') no-repeat 0px -2px
            vertical-align: bottom
          #checked1
            background: url('/static/imgs/pc_activity/damai/damai-radio.png') no-repeat 0px -19px
          #checked2
            background: url('/static/imgs/pc_activity/damai/damai-radio.png') no-repeat 0px -19px
          #checked
            background: url('/static/imgs/pc_activity/damai/damai-radio.png') no-repeat 0px -19px
          .xuan-tiao1
            width: 78px
            height: 7px
            display: inline-block
            .tiao
              width: 0px
              background: #c6af85
              height: 4px
              border-radius: 5px
          span
            display: inline-block
            width: 42px
            text-align: right

    .tishi
      clear: both
      font-size: 15px
      color: #c85f26
      text-align: center
      margin-top: 30px

    .ww
      clear: both
      width: 174px
      height: 54px
      position: relative
      left: 50%
      margin-left: -87px
      background: url("/static/imgs/pc_activity/damai/damai-button3.png") no-repeat -4px 0px
      font-size: 24px
      line-height: 55px
      text-align: center
      color: #c6af85
      top: 10px
      &:hover
        background: url("/static/imgs/pc_activity/damai/damai-button3.png") no-repeat -191px 0px
    h4
      font-size: 18px
      color: #c6af85
      text-align: center
      line-height: 33px
    .toop
      margin-top: 38px
  .damai-main2
    width: 100%
    margin: 175px 0 98px 0
    background: url("/static/imgs/pc_activity/damai/damai-main1.jpg") no-repeat top center
    border-top: 4px solid #000000
    .fot
      width: 1095px
      margin: 0 auto
      ul
        margin-top: 200px
        li
          font-size: 18px
          color: #c6af85
          line-height: 33px
      .damai-lianhe
        color: #c6af85
        font-size: 18px
        margin-top: 20px
        .label1,.label3
          display: inline-block
        .label2
          width: 142px
          height: 47px
          display: inline-block
          background: url("/static/imgs/pc_activity/damai/damai-songbaio.png") no-repeat 0px 0px
        .label4
          width: 132px
          height: 47px
          display: inline-block
          background: url("/static/imgs/pc_activity/damai/damai-songbaio.png") no-repeat -133px 0px
      h5,p
        color: #c6af85
        font-size: 18px
        line-height: 33px
        span
          width: 32px
          height: 46px
          display: inline-block
          background: url("/static/imgs/pc_activity/damai/damai-songbaio.png") no-repeat -265px 0px






