.damai-wrap
  width: 100%
  position: relative
  .damia-back-voi
    position: relative
    width: 1100px
    left: 50%
    margin-left: -550px
    .damia-back-vo
      position: absolute
      width: 390px
      height: 264px
      top: 171px
      left: 616px
      .video-js .vjs-big-play-button
        line-height: 44px
        height: 48px
        width: 48px
        border-radius: 24px
      .video-js .vjs-big-play-button
        margin-top: -15px
        margin-left: -15px
      .vjs-big-play-button:before
        font-size: 20px
  .damaiback-banner
    background: url("/static/imgs/pc_activity/damai-back/damai-huigu.jpg") no-repeat center center
    height: 512px
  .damaiback-banner1
    background: url("/static/imgs/pc_activity/damai-back/damai-huigu1.jpg") no-repeat center center
    height: 580px
    .back
      width: 1100px
      margin: 0 auto
      height: 580px
      .back1
        width: 320px
        float: left
        margin: 390px 0 0 40px
        color: #e3d390
        .back-text1
          font-size: 12px
          text-indent: 2em
          line-height: 18px
        .back-text2
          text-align: center
        .text2
          margin-top: -5px
        .text3
          margin-top: 28px
        .text4
          margin-top: 49px

  .damaiback-banner2
    background: url("/static/imgs/pc_activity/damai-back/damai-huigu2.jpg") no-repeat center center
    height: 734px
    .banner-back
      height: 630px
      clear: both
      width: 1100px
      color: #e3d390
      margin: 0 auto
      p
        font-size: 13px
        line-height: 20px
        margin-left: 60px
      .topback
        padding-top: 58px
    .banner-back1
      clear: both
      width: 1100px
      color: #e3d390
      margin: 0 auto
      p
        font-size: 13px
        line-height: 20px
        text-align: center
      .topback
        padding-top: 20px
  .damaiback-banner3
    width: 100%
    position: relative
    .back-banner3
      background: url("/static/imgs/pc_activity/damai-back/damai-huigu3.jpg") no-repeat center center
      height: 812px
    .back-banner4
      background: url("/static/imgs/pc_activity/damai-back/damai-huigu4.jpg") no-repeat center center
      height: 419px
    .back-banner5
      background: url("/static/imgs/pc_activity/damai-back/damai-huigu5.jpg") no-repeat center center
      height: 699px
    .back-banner6
      background: url("/static/imgs/pc_activity/damai-back/damai-huigu6.jpg") no-repeat center center
      height: 696px
    .back-banner7
      background: url("/static/imgs/pc_activity/damai-back/damai-huigu7.jpg") no-repeat center center
      height: 696px
    .back-banner8
      background: url("/static/imgs/pc_activity/damai-back/damai-huigu8.jpg") no-repeat center center
      height: 693px
    .back-banner
      width: 1100px
      position: absolute
      left: 50%
      top: 0
      margin-left: -550px
      .main
        width: 1100px
        background: url("/static/imgs/pc_activity/damai-back/back-main.png") no-repeat
        height: 957px
      .main1
        width: 1100px
        background: url("/static/imgs/pc_activity/damai-back/back-main1.png") no-repeat
        height: 975px
      .main2
        width: 1100px
        background: url("/static/imgs/pc_activity/damai-back/back-main2.png") no-repeat
        height: 945px
      .main3
        width: 1100px
        background: url("/static/imgs/pc_activity/damai-back/back-main3.png") no-repeat
        height: 964px
      .main4
        width: 1100px
        background: url("/static/imgs/pc_activity/damai-back/back-main4.png") no-repeat
        height: 936px
      .main-main
        clear: both
        width: 1100px
        color: #e3d390
        height: 160px
        padding-top: 55px
        p
          font-size: 13px
          line-height: 20px
          text-align: center
      .main-main12
        height: 75px
        padding-top: 0px
      .back-button
        display: block
        width: 176px
        height: 40px
        background-color: #e3d390
        border-radius: 10px
        margin-left:  458px
        margin-top: -9px
        font-size: 21px
        text-align: center
        line-height: 40px
        box-shadow: 4px 5px 15px #232222
        -moz-box-shadow: 4px 5px 15px #232222
