.experience-detail-box
  width: 1100px
  margin: 0 auto
  .detail-box-one
    padding: 35px 60px 40px
    background: #fff
    position: relative
    margin-top: 40px
    .new-user-icon
      @include experience_detail-sprite(new_user)
      width: 91px
      height: 91px
      position: absolute
      left: 0
      top: 0
    .detail-one-left
      width: 600px
      float: left
      h3
        font-size: 18px
        color: #333
      ul
        padding: 20px 0
        li
          color: #4c4c4c
          text-align: left
          float: left
          span
            font-size: 30px
          label
            font-size: 18px
          .info-s
            font-size: 16px
            color: #a6a6a6
        li.one
          width: 230px
        li.two
          width: 250px
      .project-dec
        font-size: 14px
        color: #a6a6a6
        width: 552px
    .detail-one-right
      width: 360px
      float: right
      border-left: 1px solid #f2f2f2
      padding-left: 45px
      .profit
        font-size: 26px
        color: #474e5e
        span
          color: #db493f
      .down-fonts
        font-size: 16px
        color: #666666
      .ex-download-app
        border: 0 none
        height: auto
  .detail-box-two
    background: #fff
    padding: 0 40px 45px
    margin-top: 20px
    .look-rule
      height: 64px
      line-height: 64px
      text-align: right
      border-bottom: 1px solid #f0f0f0
      a
        font-size: 18px
        color: #4e7cda
        i
          @include experience_detail-sprite(more)
          width: 17px
          height: 18px
          display: inline-block
          vertical-align: middle
          margin-left: 9px
    h3
      padding: 40px 0 28px
      text-indent: 9px
    .describe-img
      float: left
    .img1
      @include experience_detail-sprite(qiandai)
      width: 82px
      height: 100px
      margin-left: 20px
    .img2
      @include experience_detail-sprite(jisuanqi)
      width: 70px
      height: 95px  
      margin-left: 30px
    .img3
      @include experience_detail-sprite(hkfs)
      width: 89px
      height: 113px
      margin-left: 30px
    .describe-fonts
      float: right
      width: 810px
      font-size: 18px
      color: #666666
      padding-top: 25px
      line-height: 30px
  .mb70
    margin-bottom: 70px

