.thanksgiving
  width: 100%
  height: 1000px
  .banner
    background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving.jpg') center center no-repeat
    height: 788px
    position: relative
    .bannerdong
      width: 100%
      background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-banner.png') center center no-repeat
      height: 607px
      position: absolute
      top: 0
      left: 0
  .thanksgiving-prize
    width: 100%
    background: #7c37e8 url('/static/imgs/pc_activity/thanksgiving/thanksgiving-prize.png') center bottom no-repeat
    padding-bottom: 271px
    .prize
      width: 1100px
      margin: 0 auto
      .prize-rotary
        background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-prized.png')no-repeat
        width: 100%
        height: 659px
        margin-bottom: 20px
      .prize-title
        font-size: 18px
        text-align: center
        line-height: 52px
        color: #FFFFFF
      .prize-title1
        font-size: 14px
        text-align: center
        line-height: 52px
        color: #FFFFFF
        .title1-a
          color: #12d0f1
          display: inline-block
          height: 39px
          background: url("/static/imgs/pc_activity/thanksgiving/xiahua.png") no-repeat bottom left
      .title1-guizhe
        display: none
        width: 84%
        height: 273px
        margin-left: 8%
        background: rgba(255, 255, 255, 0.33)
        border-radius: 6px
        h6
        font-size: 24px
        color: #646464
        padding-top: 10px
        line-height: 52px
        ul
          li
            font-size: 16px
            color: #646464
            margin-left: 11px
            line-height: 25px
  .thanksgiving-investment
    width: 100%
    background: #fd9d37 url('/static/imgs/pc_activity/thanksgiving/thanksgiving-investment.png') center bottom no-repeat
    padding-bottom: 163px
    position: relative
    .imgtu
      width: 100%
      background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jixiangwu.png') center center no-repeat
      position: absolute
      height: 493px
    .investment
      width: 1100px
      margin: 0 auto
      .investment-title
        font-size: 18px
        text-align: center
        line-height: 52px
        color: #FFFFFF
      .thanks
        clear: both
        display: block
        width: 188px
        height: 67px
        background: url("/static/imgs/pc_activity/thanksgiving/thanksgiving-off.png") no-repeat
        position: relative
        left: 50%
        margin-left: -94px
        font-size: 18px
        color: #FFFFFF
        text-align: center
        line-height: 65px
        cursor: pointer
        &:hover
          font-size: 20px
        &:active
          background: url("/static/imgs/pc_activity/thanksgiving/thanksgiving-down.png") bottom no-repeat
          font-size: 18px
          line-height: 65px
      .investment-title1
        font-size: 14px
        text-align: center
        line-height: 52px
        color: #FFFFFF
        .title1-a
          color: #12d0f1
          display: inline-block
          height: 39px
          background: url("/static/imgs/pc_activity/thanksgiving/xiahua.png") no-repeat bottom left
      .title1-guizhe1
        display: none
        width: 84%
        height: 273px
        margin-left: 8%
        background: rgba(255, 255, 255, 0.33)
        border-radius: 6px
        h6
        font-size: 24px
        color: #646464
        padding-top: 10px
        line-height: 52px
        ul
          li
            font-size: 16px
            color: #646464
            margin-left: 11px
            line-height: 25px
      .investment-rotary
        width: 100%
        height: 400px
        .rotary1
          width: 230px
          height: 372px
          float: left
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin.png') no-repeat -4px 0
          margin-left: 146px
          p
            font-size: 18px
            color: #FFFFFF
            text-align: center
            line-height: 20px
          h1
            font-size: 18px
            color: #FFFFFF
            text-align: center
            line-height: 30px
            margin-top: 13px
        .rotary2
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin.png') no-repeat  -238px 0
          margin-left: 60px
        .rotary3
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin.png') no-repeat  -474px 0
          margin-left: 60px
        .rotary4
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin.png') no-repeat  -711px 0
          margin-left: 0px
        .rotary5
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin.png') no-repeat  -946px 0
          margin-left: 60px
        .rotary6
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin.png') no-repeat  -1182px 0
          margin-left: 60px
        .rotary7
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin.png') no-repeat  -1419px 0
          margin-left: 60px
  .thanksgiving-main
    width: 100%
    background: #fff4d6
    padding-bottom: 50px
    .main-thank
      width: 1100px
      margin: 0 auto
      .thank
        width: 100%
        height: 256px
        .thank1
          width: 230px
          height: 222px
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin1.png') no-repeat  -6px 0
          float: left
          margin-left: 0
          h2
            font-size: 36px
            text-align: center
            color: #e1342f
            margin-top: 101px
            font-weight: bold
          p
            font-size: 18px
            color: #807e78
            text-align: center
          h3
            font-size: 30px
            text-align: center
            color: #e1342f
            margin-top: 120px
            font-weight: bold
        .thank2
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin1.png') no-repeat  -241px 0
          float: left
          margin-left: 60px
        .thank3
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin1.png') no-repeat  -477px 0
          float: left
          margin-left: 60px
        .thank4
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin1.png') no-repeat  -715px 0
          float: left
          margin-left: 60px
        .thank5
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin1.png') no-repeat  -952px 0
          float: left
          margin-left: 0px
        .thank6
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin1.png') no-repeat  -1189px 0
          float: left
          margin-left: 60px
        .thank7
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin1.png') no-repeat  -1424px 0
          float: left
          margin-left: 60px
        .thank8
          background: url('/static/imgs/pc_activity/thanksgiving/thanksgiving-jiangpin1.png') no-repeat  -1660px 0
          float: left
          margin-left: 60px
      .thank-title
        font-size: 18px
        color: #807e78
        text-align: center
        line-height: 55px
      .thanks
        clear: both
        display: block
        width: 188px
        height: 67px
        background: url("/static/imgs/pc_activity/thanksgiving/thanksgiving-off.png") no-repeat
        position: relative
        left: 50%
        margin-left: -94px
        font-size: 18px
        color: #FFFFFF
        text-align: center
        line-height: 65px
        cursor: pointer
        &:hover
          font-size: 20px
        &:active
          background: url("/static/imgs/pc_activity/thanksgiving/thanksgiving-down.png") bottom no-repeat
          font-size: 18px
          line-height: 65px
      .thanks1
        background: url("/static/imgs/pc_activity/thanksgiving/thanksgiving-no.png") no-repeat
        &:active
          background: url("/static/imgs/pc_activity/thanksgiving/thanksgiving-no.png") no-repeat
      .thank-title1
        font-size: 14px
        color: #807e78
        text-align: center
        line-height: 40px
      h6
        font-size: 24px
        color: #646464
        margin-top: 20px
        line-height: 52px
      ul
        li
          font-size: 16px
          color: #646464
          margin-left: 11px
          line-height: 25px

