.two-eleven
  width: 100%
  height: 1000px
  .banner
    background: url('/static/imgs/pc_activity/two-eleven/elevenbanner.png') center center no-repeat
    height: 813px
    position: relative
    .banner-title
      width: 576px
      height: 77px
      position: absolute
      top: 707px
      left: 50%
      margin-left: -288px
      p
        text-align: center
        font-size: 36px
        font-weight: bold
        line-height: 77px
        color: #cc3e38

  .eleven-main
    width: 1110px
    margin: 0 auto
    .main-title
      text-align: center
      font-size: 24px
      color: #cc3e38
      line-height: 44px
    .main-title1
      margin-top: 22px
    .main-img
      position: relative
      left: 50%
      margin: 20px 0 0 -196px
    .line
      width: 920px
      border-bottom: 2px solid #cc3e38
      position: relative
      top: 65px
      left: 50%
      margin-left: -460px
      .line-xian
        width: 184px
        height: 44px
        position: absolute
        top: -22px
        left: 50%
        margin-left: -92px
        background: #ffc50e
        p
          font-size: 36px
          color: #cc3e38
          text-align: center
          line-height: 44px
          font-weight: bold

    .main-img1
      margin-top: 114px
      width: 1110px
      position: relative
      .xiaoqing1,.xiaoqing2,.xiaoqing3,.xiaoqing4
        position: absolute
        color: #a75923
        width: 436px
        height: 179px
        h3
          font-size: 24px
          line-height: 40px
        p
          font-size: 18px
          line-height: 28px
      .xiaoqing1
        top: 38px
        left: 162px
      .xiaoqing2
        top: 230px
        left: 570px
      .xiaoqing3
        top: 410px
        left: 138px
      .xiaoqing4
        top: 659px
        left: 571px
        a
          color: #cc3e38
          text-decoration: underline
    .eleven-button
      width: 1110px
      height: 71px
      margin-top: 19px
      position: relative
      .button
        position: absolute
        left: 50%
        margin-left: -215px
        cursor: pointer
    .eleven-guizhe
      display: none
      width: 921px
      border-radius: 10px
      margin: 20px 0 0 95px
      background: #ffe298
      padding: 12px 0 12px 0
      h2
        font-size: 20px
        color: #cc3e38
        line-height: 40px
        text-align: center
      ul
        margin-left: 53px
        li
          font-size: 16px
          color: #a75923
          line-height: 28px
  .eleven-main2
    background: #ffd757
    margin-top: 40px
    .main2-eleven
      width: 1110px
      margin: 0 auto
      h1,h4
        font-size: 20px
        color: #cc3e38
        line-height: 40px
        text-align: center
      h1
        padding-top: 40px
      h4
        padding-top: 22px
      p
        font-size: 16px
        color: #a75923
        line-height: 28px
        text-align: center
      ul
        margin: 10px 132px 0 150px
        padding-bottom: 20px
        li
          font-size: 16px
          color: #a75923
          line-height: 28px
          a
            color: #cc3e38
            text-decoration: underline
      .mark
        font-size: 12px
        color: #999999
        padding: 0 0 40px 662px
      .footer-guizhe
        display: none

  .eleven-footer
    background: url('/static/imgs/pc_activity/two-eleven/elevenfooter.png') center center no-repeat
    height: 316px
.xl-backtop
  width: 50px
  height: 251px
  //background: #00f
  position: fixed
  right: 0px
  bottom: 100px
  z-index: 999
  cursor: default
  display: none
  span
    display: inline-block
    width: 100%
    height: 64px
  .backtop
    background: #b22621
    width: 27px
    color: #fff
    text-align: center
    padding: 10px 0
    margin: 10px 0 10px 10px
    border-radius: 15px
  .sev-backtop
    background: #ff5252
    font-size: 14px
  .erweima
    width: 146px
    height: 186px
    position: absolute
    top: 73px
    left: -158px
    background: url("/static/images/weixin-nqr.png") no-repeat center center
    display: none
  a
    display: inline-block
  .seven-ten
    background: url("/static/imgs/pc_activity/xunlei/seven/sev_com5.png") no-repeat -952px -95px
    display: inline-block
    width: 100%
    height: 64px