body .wrap
  background: url("/static/imgs/pc_activity/xunlei_three/xunlei-threebanner.jpg") center no-repeat
  height: 689px
.biaoyu
  color: #ff5252
  font-size: 24px
  text-align: center
#aug-form-row-eroor
  color: red
  margin-top: 5px
.setp-content
  width: 1100px
  margin: 0 auto
  .xl-backtop
    width: 50px
    height: 251px
    //background: #00f
    position: fixed
    right: 0px
    bottom: 100px
    z-index: 999
    cursor: default
    display: none
    span
      display: inline-block
      width: 82%
      height: 64px
      background: url("/static/imgs/pc_activity/xunlei_ten/red-top.png")  center center no-repeat
    .backtop
      background: #e1464c
      width: 27px
      color: #fff
      text-align: center
      padding: 10px 0
      margin: 10px 0 10px 10px
      border-radius: 15px

    .sev-backtop
      background: #e1464c
      font-size: 14px
    .erweima
      width: 146px
      height: 186px
      position: absolute
      top: 73px
      left: -158px
      background: url("/static/imgs/pc_activity/xunlei_ten/ewm1.png")  center center no-repeat
      display: none
    a
      display: inline-block
  .three-main
    width: 100%
    .three-mainflow
      width: 100%
      height: 300px
      position: relative
      .three-mainflow1
        width: 100%
        height: 230px
        position: absolute
        top: -60px
        .line
          border-bottom: 2px dashed #FFFFFF
          width: 80%
          position: absolute
          top: 101px
          left: 110px
        dl
          float: left
          margin-left: 18px
          position: relative
          .mainflow
            width: 256px
            height: 238px
            background: url("/static/imgs/pc_activity/xunlei_three/xunlei-threeman.png") no-repeat
            background-position: 0px 0px
          .mainflow1
            background-position: -253px 0px
          .mainflow2
            background-position: -491px  0px
          .mainflow3
            background-position: -733px  0px
          dd
            width: 206px
            position: absolute
            top: 199px
            p
              color: #d98d0e
              text-align: center
              font-size: 18px
              line-height: 30px
    .three-maindraw
      width: 100%
      height: 586px
      border: 1px solid #f0651f
      position: relative
      .maindraw-title
        width: 403px
        height: 74px
        background: url("/static/imgs/pc_activity/xunlei_three/xunlei-threetitle.png") no-repeat
        position: absolute
        left: 50%
        margin-left: -201px
        h1
          font-size: 36px
          text-align: center
          line-height: 60px
          color: #FFFFFF
      .titlexunlei
        font-size: 25px
        color: #d98d0e
        text-align: center
        line-height: 218px
        span
          color: #f24642
          text-decoration: underline
    .three-maindraw1
      width: 100%
      height: 478px
      //border: 1px solid #f0651f
      position: relative
      .maindraw-title1
        width: 403px
        height: 74px
        background: url("/static/imgs/pc_activity/xunlei_three/xunlei-threetitle.png") no-repeat
        position: absolute
        left: 50%
        margin-left: -201px
        h1
          font-size: 36px
          text-align: center
          line-height: 60px
          color: #FFFFFF
      dl
        float: left
        margin: 60px 0 0 30px
        dt
          height: 321px
          dl
            width: 280px
            height: 245px
            background: #FFFFFF
            border-radius: 5px
            dd
              font-size: 30px
              color: #f24642
              line-height: 80px
              text-align: center
            .drawtitle1
              width: 274px
              height: 245px
              margin-top: 20px
              background: url("/static/imgs/pc_activity/xunlei_three/xunlei-threefuli.png") no-repeat
              background-position: 7px 0px
            .drawtitle11
              background-position: -267px 0px
            .drawtitle12
              background-position: -537px 0px
        .ddraw
          background: url("/static/imgs/pc_activity/xunlei_three/xunlei-threebutton.png") no-repeat
          width: 191px
          height: 48px
          margin-left: 80px
          a
            display: inline-block
            width: 191px
            height: 48px
            text-align: center
            font-size: 18px
            color: #FFFFFF
            line-height: 48px
    .three-maindraw2
      clear: both
      width: 100%
      height: 416px
      border: 1px solid #FFDC79
      position: relative
      .maindraw-title2
        width: 403px
        height: 74px
        background: url("/static/imgs/pc_activity/xunlei_three/xunlei-threetitle.png") no-repeat
        position: absolute
        left: 50%
        margin-left: -201px
        h1
          font-size: 36px
          text-align: center
          line-height: 60px
          color: #FFFFFF
      ul
        margin-top: 106px
        li
          font-size: 16px
          line-height: 26px
          color: #d98d0e
