body .wrap
  background: url("/static/imgs/pc_activity/xunlei_one/xunleione-banner.jpg") center no-repeat
  height: 794px
.biaoyu
  color: #ff5252
  font-size: 24px
  text-align: center
#aug-form-row-eroor
  color: red
  margin-top: 5px
.setp-content
  width: 1100px
  margin: 0 auto
  .xl-backtop
    width: 50px
    height: 251px
    //background: #00f
    position: fixed
    right: 0px
    bottom: 100px
    z-index: 999
    cursor: default
    display: none
    span
      display: inline-block
      width: 82%
      height: 64px
      background: url("/static/imgs/pc_activity/xunlei_ten/red-top.png")  center center no-repeat
    .backtop
      background: #e1464c
      width: 27px
      color: #fff
      text-align: center
      padding: 10px 0
      margin: 10px 0 10px 10px
      border-radius: 15px

    .sev-backtop
      background: #e1464c
      font-size: 14px
    .erweima
      width: 146px
      height: 186px
      position: absolute
      top: 73px
      left: -158px
      background: url("/static/imgs/pc_activity/xunlei_ten/ewm1.png")  center center no-repeat
      display: none
    a
      display: inline-block
  .xl-box1
    margin: 50px 0 50px 0
    h1
      font-size: 29px
      color: #e1464c
      text-align: center
      font-weight: bold
    .game
      width: 100%
      height: 503px
      padding-top: 45px
      .game-le
        width: 680px
        height: 100%
        background: url("/static/imgs/pc_activity/xunlei_one/xunlei_yaojiang.png") left no-repeat
        float: left
        position: relative
        .ring
          display: inline-block
          width: 178px
          height: 62px
          background: url("/static/imgs/pc_activity/xunlei_one/ring-1.png") center center no-repeat
          position: relative
          left: 177px
          top: -3px
        .rule
          color: #fff
          text-align: center
          width: 545px
          line-height: 48px
          margin-top: 10px
          b
            color: #ffee75
          a
            color: #ffee75
            text-decoration: underline
        .sum
          width: 363px
          height: 178px
          border-radius: 15px
          position: relative
          left: 84px
          top: 12px
          .view
            width: 86px
            height: 100%
            position: relative
            overflow: hidden
            display: inline-block
            .long-sum
              width: 100%
              position: absolute
              bottom: 0
              span
                display: inline-block
                width: 100%
                height: 178px
                line-height: 178px
                text-align: center
                color: #575c62
                font-size: 79px
                font-weight: bold
        .side
          width: 70px
          height: 196px
          background: url("/static/imgs/pc_activity/xunlei_one/up.png") center center no-repeat
          position: absolute
          top: 85px
          right: 136px
        .side-down
          width: 70px
          height: 196px
          background: url("/static/imgs/pc_activity/xunlei_one/down.png") center center no-repeat
          position: absolute
          top: 85px
          right: 136px
        .game-btn
          width: 292px
          height: 86px
          background: url("/static/imgs/pc_activity/xunlei_one/btn-up.png") center center no-repeat
          position: absolute
          bottom: 23px
          left: 116px
        .game-btn-down
          width: 292px
          height: 86px
          background: url("/static/imgs/pc_activity/xunlei_one/btn-down.png") center center no-repeat
          position: absolute
          bottom: 10px
          left: 116px
      .game-ri
        width: 339px
        height: 100%
        background: #e1464c
        float: right
        border-radius: 15px
        h2
          font-size: 24px
          color: #fff
          text-align: center
          margin: 24px 0 15px 0
        .setp-list
          width: 310px
          height: 374px
          background: #fff
          margin: 0 auto
          border-radius: 15px
          position: relative
          overflow: hidden
          .long-p
            width: 310px
            position: absolute
            .hight
              background: #eeeeee
            p
              height: 43px
              font-size: 14px
              line-height: 43px
              text-align: center
              span
                font-size: 18px
                color: #ff5252
.xl-box2
  width: 100%
  background: #fbf0d0 url("/static/imgs/pc_activity/xunlei_one/xunleione-yuan.png") repeat-x top
  .xl-box3
    width: 1100px
    margin: 0 auto
    h1
      font-size: 29px
      color: #e1464c
      text-align: center
      font-weight: bold
      margin-top: 46px
    dl
      width: 366px
      margin-top: 30px
      float: left
      .setp-com
        width: 100%
        height: 197px
        background: url("/static/imgs/pc_activity/xunlei_one/xunleione-main.png") no-repeat
        background-position: 0 0
      .prize1
        background-position: -365px 0
      .prize2
        background-position: -731px 0
      dd
        width: 100%
        h2
          display: block
          width: 180px
          height: 40px
          background: #ef3e48
          text-align: center
          margin: 0 0 15px 93px
          line-height: 40px
          color: #FFFFFF
          font-size: 24px
        p
          text-align: center
          font-size: 18px
          color: #555555
          line-height: 28px
        .setp-btn
          display: block
          width: 222px
          height: 51px
          background: url("/static/imgs/pc_activity/xunlei_one/xunleione-button.png") no-repeat
          background-size: 100% 100%
          text-align: center
          color: #FFFFFF
          line-height: 46px
          font-size: 22px
          margin: 30px 0 76px 72px
          &:hover
            background: url("/static/imgs/pc_activity/xunlei_one/xunleione-button1.png") no-repeat
.xl-box4
  width: 100%
  height: 365px
  background: #FFFFFF url("/static/imgs/pc_activity/xunlei_one/xunleione-yuan1.png") repeat-x top
  .xl-box5
    width: 1100px
    margin: 0 auto
    h1
      font-size: 29px
      color: #e1464c
      text-align: center
      font-weight: bold
      margin-top: 46px
    .content-process
      .content-pptv
        .process-list
          .triangle-start
            width: 126px
          #xl-triangle-center
            width: 149px
          .circle
            .circle-txt
              position: relative
              width: 200px
              left: -44px
              color: #747474
            .circle-body
              width: 100px
              height: 100px
              border: 4px solid #dedede
              //+border-radius(50px)
              background: #fff url("/static/imgs/pc_activity/xunlei_one/liucheng12.png") no-repeat
              -webkit-transition: all 3s
              -o-transition: all .3s ease-in-out
              transition: all .3s ease-in-out
              &:hover
                background-color: #ea5153
                border: 4px solid #ea5153
            .free
              background-position: 10px 10px
              &:hover
                background-position: 10px -63px
            .atte
              background-position: 10px -138px
              &:hover
                background-position: 10px -207px
            .recharge
              background-position: 12px -280px
              &:hover
                background-position: 12px -350px
            .tender
              background-position: 10px -423px
              &:hover
                background-position: 10px -495px
            .collec
              background-position: 10px -566px
              &:hover
                background-position: 10px -637px
.xl-box6
  width: 100%
  background: #ef3e48 url("/static/imgs/pc_activity/xunlei_one/xunleione-yuan2.png") repeat-x top
  padding-bottom: 30px
  .xl-box7
    width: 1100px
    margin: 0 auto
    h1
      font-size: 29px
      color: #FFFFFF
      text-align: center
      font-weight: bold
      margin-top: 46px
    ul
      margin-top: 40px
      li
        line-height: 25px
        font-size: 14px
        color: #FFFFFF
.xl-box8
  width: 100%
  background: #dedede
  .xl-box9
    height: 300px
    width: 1100px
    margin: 0 auto
    dl
      width: 174px
      float: left
      margin: 30px 0 0 78px
      .dt
        width: 134px
        height: 142px
        background: url('/static/imgs/pc_activity/xunlei_one/xunlei.png') no-repeat
        background-position: 0 0
        margin-left: 20px
      .dt1
        background-position: -133px 0
      .dt2
        background-position: -267px 0
      .dt3
        background-position: -399px 0
      dd
        text-align: center
        color: #ef3e48
        h2
          font-size: 18px
          line-height: 28px
        p
          font-size: 14px
          line-height: 22px


//模态窗样式
.model-com
  background: url("/static/imgs/pc_activity/sept/model-pic.png") no-repeat center center
.one
  background-position: 0px 15px
.two
  background-position: -284px 2px
#xl-aug-success,#xl-aug-fail,#xl-aug-prize,#xl-aug-login
  width: 565px
  height: 290px
  position: fixed
  top: 50%
  left: 50%
  margin-top: -145px
  margin-left: -285px
  border-radius: 0 0 10px 10px
  background: #fff
  z-index: 1000
  display: none
  .bj
    width: 100%
    height: 121px
    background: url("/static/imgs/pc_activity/sept/model-bj.png") no-repeat center center
    position: absolute
    top: -106px
  hr
    width: 95%
    border-top: 1px solid #ff5252
    position: relative
    margin: 0 auto
  .redpack
    width: 258px
    height: 158px
    position: absolute
    top: -158px
    left: 156px
  .man
    width: 173px
    height: 219px
    position: absolute
    bottom: 0
  .people
    width: 125px
    height: 161px
    position: absolute
    bottom: 0
    background: url("/static/imgs/pc_activity/sept/people.png") no-repeat center 14px
  p
    font-size: 24px
    color: #ff5252
    font-weight: bold
    text-align: center
    margin-top: 76px
    span
      font-size: 18px
      font-weight: normal
      b
        color: #fe5353
  .first-xl-off2
    width: 55px
    height: 55px
    right: 38px
    top: -88px
    cursor: default
    background: url("/static/imgs/pc_activity/sept/no.jpg") no-repeat center center
    display: inline-block
    position: absolute
  .reg-btn
    width: 321px
    height: 60px
    background: #ff5252
    border-radius: 5px
    margin: 0 auto
    font-size: 18px
    color: #fff
    text-align: center
    line-height: 60px
    position: relative
    top: 56px
    cursor: default
    font-weight: bold
#small-zc
  width: 100%
  height: 100%
  position: absolute
  background: #000
  opacity: 0.4
  filter: alpha(opacity=40)
  top: 0
  z-index: 999
  display: none


.dengruhou
  .xunshang
    text-align: center
    color: #f00
    text-align: center
    font-size: 18px
  .xunleierwei
    width: 168px
    margin:  10px 0 0 74px
    .xunleiten
      font-size: 14px
      line-height: 24px
    .erweimaxunlei11
      width: 141px
      height: 141px
      //background: url("/static/imgs/pc_activity/xunlei_ten/xunleierwei.jpg") no-repeat center center
      background: url("/static/imgs/pc_activity/xunlei_ten/xunleishaoma.jpg") no-repeat
      background-size: 100% 100%
      margin-left: 13px
    .xunleitenma
      text-align: center
      font-size: 14px
      line-height: 24px
      color: #3ea7eb
  .prompt
    width: 240px
    margin-left: 38px
    .prompt-xunlei
      color: #ff5252
      font-size: 14px
      text-align: center
      margin-top: -14px
    .prompt-xunleiw
      margin-bottom: 10px

