

.i-area-banner
  width: 100%
  img
    display: block
    width: 100%
    height: auto


.area-main-push
  width: 540px
  height: 204px
  background: #ccc
  img
    display: block
    width: 100%
    height: 100%
.area-ac-name
  width: 373px
  height: 69px
  background: url("/static/imgs/pc/area/actvity_title.png") no-repeat center
  margin: 0 auto

.area-filter-nav
