


.c-message-table
  width: 100%
  border-collapse: collapse
  font-size: 14px
  thead
    tr
      background: #fafafa

  tr
    border-bottom:  1px solid #ebebeb
  th
    text-align: center
    padding: 12px 0
    color: #999
  td
    text-align: center
    padding: 12px 0
    color: #666
    font-size: 14px
    vertical-align: top
  .msg-center
    color: #333
    text-align: left
  .msg-cont
    display: none
  .active-msg
    td
      color: #999
