
.pro-means-head
  padding: 40px 0 25px 0

.c-profile-means,.c-profile-info
  font-size: 14px

.pro-layout
  width: 50%

.means-item
  +clearfix()
  margin-bottom: 10px
.means-title
  float: left
  width: 60px
  text-align: right
  color: #999
  margin-right: 20px

.means-content
  float: left
  width: 70%
  color: #666
.means-blue
  color: #2294e5

.pro-list
  padding: 20px 0
  border-bottom: 1px dashed #ebebeb
  .pro-list-left
    width: 470px
    max-width: 470px

  .pro-info-add
    margin-top: 60px
    .add-info
      color: #999
      margin-left: 14px
    i
      margin-right: 2px