


.center-pager
  padding: 20px 0
  margin: 0 auto
  ul
    +clearfix()
  li
    float: left
    width: 25px
    height: 25px
    border: 1px solid #bebebe
    color: #bebebe
  li.pager-prev

  li.active
    border: 1px solid $t-d16
    color: $t-d16