

@mixin secButton()
  display: inline-block
  width: 70px
  height: 30px
  line-height: 30px
  text-align: center
  border: 1px solid #477ced
  background: #f7f7f7
  color: #477ced
  border-radius: 2px
  &:hover
    color: #fff
    background: #477ced


.sec-last-login
  padding: 40px 0 50px 0

.c-security-lists
  font-size: 14px
  padding: 0 20px
  .c-sec-item
    padding: 27px 0
    border-bottom: 1px dashed #ebebeb
  .sec-item-head, .sec-item-status,.sec-item-info,.sec-item-button-warp
    margin-right: -3px
    +inline-block
  .sec-item-head
    width: 110px
    color: #333



  .sec-item-status
    width: 110px
    color: #fd9000
    i
      margin-right: 4px
  .active
    color: #9fcb58

  .sec-item-info
    width: 260px
    color: #999
    font-size: 12px

  .sec-item-button-warp
    width: 150px
    text-align: right
    .sec-item-button

      +secButton()
