

.c-invite-table
  width: 100%
  border: 1px solid #ebebeb
  tr

  td
    width: 25%
    padding: 25px 5px
    text-align: center
    border: 1px solid #f0f0f0
.c-invite-rules
  .rule-list
    line-height: 24px
