



.c-cash-table
  width: 100%
  border-collapse: collapse
  th,td
    font-size: 14px
    color: #999
  th
    width: 20%

    text-align: right
    padding: 24px 0
  td
    color: #333
    height: 80%
    padding: 24px 0 24px 24px
  .c-cash-blue
    font-size: $font-xs
    color: #2294e5
    &:hover
      text-decoration: underline
  .cash-phone-but
    +c-blue-button(100, 40, 14, #fff, #f0871d, #eb7500, #fff)
  .cash-submit-but
    