
.c-gold-head
  padding: 30px 0 20px 0

.c-gold-rockoning-warp
  background: #f5f5f5
  padding: 24px 0 20px 0
  margin-bottom: 50px

.open-gold-ac
  color: #333
  margin-left: 5px

  &:hover
    color: #2294e5
.c-gold-explain
  margin: 20px 0 0 20px
.gold-rules
  display: inline-block
  color: #2294e5
  a
    +unstyled-link
    text-decoration: underline

.c-gold-p2p
  width: 100%
  border: 1px solid #ebebeb
  thead
    background: #fafafa
  tr
    border-bottom: 1px solid #ebebeb
  td
    width: 25%
    padding: 25px 5px
    text-align: center
  th
    white-space: nowrap
    padding: 10px 0 10px 20px
    text-align: left
  a
    +unstyled-link

  .gold-submit
    display: inline-block
    width: 120px
    height: 40px
    line-height: 40px
    text-align: center
    background: #db493f
    color: #fff
    border-radius: 4px
    font-size: 16px
    cursor: pointer
    &:hover
      background: #D82F23
