
.pro-means-head
  padding: 40px 0 25px 0

.c-profile-means,.c-profile-info
  font-size: 14px

.pro-layout
  width: 50%
.add-address
  color: #477ced
  cursor: pointer
  &:link,&:visited
    color: #477ced
  i
    margin-right: 4px
.means-item
  +clearfix()
  margin-bottom: 10px
.means-title
  float: left
  width: 60px
  text-align: right
  color: #999
  margin-right: 20px

.means-content
  float: left
  width: 70%
  color: #666
.means-blue
  color: #2294e5

.pro-list
  padding: 20px 0
  border-bottom: 1px dashed #ebebeb
  .pro-list-left
    width: 470px
    max-width: 470px

  .pro-info-add
    margin-top: 60px
    .delete-add, .edit-address
      cursor: pointer
    .add-info
      color: #999
      margin-left: 14px
      &:hover
        .icon-edit
          color: #4b7fed
        .icon-jiaoyimima03
          color: #db493f
    i
      margin-right: 4px
      color: #ccc
    .moren
      color: #9fcb58




.c-profile-alert
  width: 580px
  text-align: center
  .c-profile-alert-form
    padding: 60px 0 20px 0

  .c-profile-alert-submit
    padding-bottom: 60px
  .alert-submit
    margin: 0px auto
    font-size: 16px
    padding: 10px 54px
    display: inline-block
    cursor: pointer
    background: #477ced
    color: #fff
    border-radius: 4px
    border: 0
    &:hover
      background: #3f6ed4
  .form-row
    width: 360px
    margin: 0 auto 20px auto
    text-align: left
    input.input-type-text
      width: 360px
      height: 40px
      line-height: 40px
      padding: 4px 50px 4px 15px
      font-size: 14px
      border: 1px solid #ccc

      &:focus
        border: 1px solid #4e7cda
        box-shadow: 0 0 4px #4e7cda
    .form-row-error
      color: #db493f
      text-align: left
