$c-border: #ebebeb


.mod-center
  .c-aside
    float: left
    width: 332px
    margin-right: 20px

  .c-main
    float: left
    width: 750px
    min-height: 745px
  .c-main-white
    background: #fff
  .c-auto-height
    min-height: 745px
  .c-layout
    padding: 0 40px

.space-vertical-l
  height: $space-l
.space-vertical-s
  height: 15px
.space-vertical-sm
  height: 20px
  background: #f4f4f4


//sidebar 左侧边栏
.sidebar-home
  border: 1px solid #ebebeb
  margin-bottom: 20px
  background: #fff
  padding: 30px
  color: #999
  font-size: 14px
  .h-user-img
    width: 72px
    height: 72px
    margin: 0 10px 0 20px
  .sidebar-h-binding
    padding: 20px 0 20px 5px
  .binding-item
    margin-right: 22px
    .icon
      color: #9dcc52
      font-size: 20px

  .le-process-item
    width: 120px
    height: 8px
    background: #e6e6e6
  .le-info,.le-link
    color: #999
  .le-link
    font-size: 12px
    text-decoration: underline
    &:hover
      color: #2294e5
  .low
    color: #f27261
    .process
      width: 33%
      height: 100%
      background: #f27261
  .centre
    color: #9dcc52
    .process
      width: 66%
      height: 100%
      background: #9dcc52
  .hight
    color: #5e8deb
    .process
      width: 100%
      height: 100%
      background: #5e8deb





.sidebar-warp
  border: 1px solid #ebebeb
  background: #fff
  .sidebar-title
    display: block
    background: #fafafa
    padding: 15px 0
    border-bottom: 1px solid #ebebeb
    &:hover
      color: #4e7cda
  .sidebar-list-title
    color: #b2b2b2
    padding: 20px 0 0 26px

  .sidebar-item
    margin: 20px 26px 22px 26px

    .sidebar-icon
      width: 56px
      height: 56px
      line-height: 56px
      border-radius: 50%
      margin-bottom: 8px
      background: #fff
      border: 1px solid #e8e8e8
      i
        display: inline-block
        font-size: 32px
        color: $t-d16

    &:link, &:visited
      .sidebar-icon
        i
          color: $t-d16
    &:hover, &:active
      .sidebar-icon
        background: $bg-d14
        border: 1px solid $bg-d14
        i
          color: #fff

  .sidebar-items-line
    height: 1px
    background: #f5f5f5

  .active
    .sidebar-icon
      background: $bg-d14
      border: 1px solid $bg-d14
      i
        color: #fff

    &:link, &:visited
      .sidebar-icon
        i
          color: #fff

//pager 分页
.c-pager
  padding: 30px 0
  text-align: center
  ul
    display: inline-block
    +clearfix()
  li
    float: left
    width: 25px
    height: 25px
    line-height: 25px
    text-align: center
    border: 1px solid #bebebe
    color: #bebebe
    border-radius: 50%
    margin-right: 10px
    cursor: pointer
    &:hover
      border: 1px solid $t-d16
      color: $t-d16
    i
      font-size: 12px
  li.active
    border: 1px solid $t-d16
    color: $t-d16

//form-public style 表单样式

.c-table
  width: 100%
  thead
    background: #fafafa
    color: $t-d19
  th,td
    padding: 10px 5px
    text-align: center
    border: 1px solid $c-border
  tbody
    tr
      &:hover
        background: #f5f5f5
  th
    white-space: nowrap
  td
    color: $t-d10
  a
    +unstyled-link

  .table-date
    min-width: 65px

  .table-product-name
    max-width: 160px
    +singleline-ellipsis()

//时间选择器
.fieldset__wrapper
  position: relative
.c-filter-date
  font-size: 14px

  input
    width: 105px
    height: 28px
    line-height: 28px
    border: 1px solid $c-border
    font-size: 13px
    color: #ccc
    text-align: center

  .c-line
    color: #ccc
    height: 28px
    line-height: 28px
    margin: 0 2px
  .filter-submit
    width: 60px
    height: 28px
    line-height: 28px
    color: #fff
    border-radius: 4px
    background: $bg-d14
    text-align: center
    margin-left: 20px



