
.g-footer-warp
  background: $bg-d10
.g-footer
  padding-top: 30px
  width: 1102px
  margin: 0 auto
.footer-container
  +clearfix()
  padding: 0 20px
  a
    margin-top: 13px
    display: block
    +unstyled-link
    &:link, &:visited
      color: $t-d14
    &:hover, &:active
      color: $t-d2
      cursor: pointer
  .about
    color: $t-d14
  .about-tit
    font-size: 14px
    color: #fff
  .about-list
    float: left
    margin-right: 40px
  .follow
    color: #fff
    .follow-list
      float: left
      margin-left: 20px
    .follow-title
      font-size: $font-s
      .icon
        font-size: $font-xxl
        margin-right: $space-s
      .green
        color: #e6e6e6
    .follow-img
      display: block
      width: 110px
      height: 110px
      margin-top: 10px
    .ft-dingyue
      @include footer-sprite(dingyue)
    .ft-fuwu
      @include footer-sprite(fwh)
    .ft-weibo
      display: block
      @include footer-sprite(weibo)

  .footer-ex-warp
    float: right
  .footer-ex
    float: left
    color: $t-d14
  .ft-kefu-text
    +inline-block
    font-size: $font-s
    @include footer-sprite(kefu)
    text-indent: 40px
    line-height: 40px
    margin-top: 0
  .ft-kefu-worktime
    margin-bottom: 20px
  .ft-kefu-phone-txt
    font-size: $font-m
  .ft-kefu-phone
    line-height: 1
    margin-bottom: 20px
    font-size: $font-xxlll
  .ft-adress
    margin-bottom: 5px
.atn-list
  margin: 0 auto
  padding: 70px 0
  text-align: center
  +clearfix()
  a
    display: inline-block
    vertical-align: middle
    width: 140px
    height: 50px
    margin-right: 8px
  .atn-ssl
    @include footer-sprite(footer_geotrust)
  .atn-internet
    @include footer-sprite(internet)
  .atn-trust
    @include footer-sprite(trust_update)
  .atn-anquan
    @include footer-sprite(footer_anquan)

.line-mod1
  padding-top: 12px

.follow-weibo
  +clearfix()
  margin-top: 20px

.erweima-dec
  font-size: 12px
  margin-bottom: 10px
  color: #d4d5d6


.g-footer-warp
  .popup_box
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 999
    display: none
    .main
      width: 400px
      position: absolute
      left: 50%
      top: 50%
      margin: -50px 0 0 -200px
      float: none
      background: #fff
      border-radius: 40px
      z-index: 99
      padding-bottom: 10px
      .textairport
        width: 100%
        text-align: center
        line-height: 20px
        font-size: 18px
        padding: 30px 0 20px
    .popup_button
      width: 100px
      height: 30px
      line-height: 30px
      text-align: center
      margin: 0 auto 10px
      display: block
      background: #db493f
      border-radius: 10px
      color: #fff
      font-size: 18px
      cursor: pointer

    .popup_bg
      width: 100%
      height: 100%
      background: #000
      filter: alpha(opacity=70)
      opacity: 0.7
      position: fixed
      left: 0
      top: 0
      z-index: 9
