
.g-footer-warp
  background: $bg-d10
.g-footer
  padding-top: 30px
.footer-container
  a
    margin-top: 13px
    display: block
    +unstyled-link
    &:link, &:visited
      color: $t-d14
    &:hover, &:active
      color: $t-d2
      cursor: pointer
  .follow
    .follow-title
      .icon
        font-size: $font-xxl
        margin-right: $space-s
    .follow-img
      display: block
      width: 110px
      height: 110px
      +border-radius(4px)
      background: #ccc
  .phone
    line-height: 1

.atn-list
  margin: 0 auto


