$g-nav-height: 80px

.g-nav-warp
  height: $g-nav-height
  background: $bg-d3
  top: -$g-nav-height
.g-logo-box
  width: 360px
  height: 55px
  margin-top: 12px
  float: left

.g-nav-box
  float: right
  overflow: hidden
  a
    float: left
    text-align: center
    font-size: $font-m
    padding: 0 20px
    +line-height(80)

.g-nav-fixed
  position: fixed
  width: 100%
  z-index: 10
  +box-shadow(0 2px 4px $bg-d11)

