@charset "utf-8"

// background color, the main theme color
$bg-d1: #474e5e
$bg-d2: #f5f5f5
$bg-d3: #fff
$bg-d4: #f9fafc
$bg-d5: #c7c7c7
$bg-d6: #db493f
$bg-d7: #e3e3e3
$bg-d8: #9cc657
$bg-d9: #689ad9
$bg-d10: #333333
$bg-d11: #cccccc
$bg-d11: #e6edf3
$bg-d12: #f3f3e6
$bg-d13: #f3e8e6
$bg-d14: #4e7cda
$bg-d15: #f2f2f2
$bg-d16: #e8e8e8
// Color for text with darkness level
$t-d1: #474e5e
$t-d2: #db493f
$t-d3: #cc2b27
$t-d4: #808080
$t-d5: #4c4c4c
$t-d6: #ffffff
$t-d7: #a6a6a6
$t-d8: #4d4d4d
$t-d9: #b6b6b6
$t-d10: #333333
$t-d11: #666666
$t-d12: #8c8c8c
$t-d13: #dc362b
$t-d14: #d4d5d6
$t-d15: #bdbebf
$t-d16: #4e7cda
$t-d17: #adadad
$t-d18: #f1f5fc
//border color
$br-d1: #477ced
$br-d2: #ebebeb
$br-d3: #f8f8f8


// Space
$space-xs: 5px
$space-s: 10px
$space-ssm: 15px
$space-sm: 20px
$space-m: 26px
$space-l: 30px
$space-xl: 40px
$space-xxl: 50px
$space-xxxl: 60px

// Font-size
$font-xs: 12px
$font-ss: 13px
$font-s: 14px
$font-m: 16px
$font-l: 18px
$font-xl: 20px
$font-ll: 22px
$font-xll: 24px
$font-xxl: 26px
$font-xxll: 30px
$font-xxlll: 38px
$font-xxxl: 48px
$font-xxxll: 58px

// font-family
$font-family: Helvetica, Arial, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif

// Constant
$content-width: 1102px



