.modal
  overflow: hidden
  border-radius: 0
  box-shadow: none
  display: none
  width: 435px
  background: #fff

  .close-modal
    content: "x"
    position: absolute
    display: block
    width: 30px
    height: 30px
    color: #c1c1c1
    top: 5px
    right: 10px
    text-indent: 0
    font-size: 24px
    text-align: center

.modal-title-bar
  line-height: 35px
  font-size: 18px
  color: #666666
  width: 100%
  padding: 5px 20px
  background-color: #FAFAFA

.modal-header
  padding: .2em

.modal-content-padding
  padding: 30px 60px

.question-number
  font-size: 4em
  color: #F15C00

.question-box
  float: left
  width: 33.3%

.question-container
  overflow: auto //generate a new BFC
  +inline-block //inline to make margin take effect

  width: 80%
  margin-left: 1em
  margin-top: 1em

.question-title
  font-size: 1.3em

.question-choice
  font-size: 1.2em
  line-height: 2

.modal--subtitle
  color:  #e7350d
  font-size: 16px

#login-modal
  width: 520px

.modal-container
  width: 470px
  height: 195px
  .modal-header
    text-align: left
    height: 50px
    line-height: 50px
    font-size: 18px
    background-color: #f1f1f1
    padding-left: 10px
    .icon-cancel
      font-size: 1.8em
      cursor: pointer
  .modal-content
    margin-top: 30px
    text-align: center
    font-size: 14px
    margin-bottom: 25px
    h2
      margin-bottom: 7px
    p
      color: #999
  .modal-footer
    text-align: center
    .button-confirm-ok
      margin-right: 20px
  .button-alert-ok
    padding: 8px 28px
    font-size: 14px
    cursor: pointer
    width: 150px
    margin: 0px auto
    display: block
    background: red
    color: white
input.captcha
  width: 160px
  margin-right: 10px
  border: 1px solid #d9d9d9
  font-size: 14px
  padding: 5px
  height: 40px
.captcha-img
  vertical-align: middle
  width: 80px
