.qiye
  padding: 20px 30px
  .qiye-h
    font-size: 18px
    color: #666666
    padding-bottom: 16px
  .qiye-bank-info
    border-top: 15px solid #e3e3e3
    margin-top: 30px
    padding-top: 20px
  table
    width: 100%
    td
      border: 1px solid #d3d3d3
      padding: 20px
      font-size: 14px
      input,select
        width: 228px
        height: 38px
        line-height: 38px
        border: 1px solid #d9d9d9
        font-size: 14px
        padding: 5px
      select
        border: 1px solid #e3e3e3
        background: #ffffff
      span
        width: 148px
        height: 98px
        line-height: 98px
        display: inline-block
        border: 1px solid #d3d3d3
        text-align: center
      a
        width: 98px
        height: 38px
        line-height: 38px
        display: inline-block
        font-size: 14px
        border: 1px solid #4a7fea
        text-align: center
        margin-left: 12px
        vertical-align: bottom
      a.voice-validate
        border: 0
        width: auto
        height: 20px
        line-height: 20px
        color: #4a7fea
        vertical-align: top
      a.upload
        color: #ffffff
        background: #4a7fea
      a.del
        color: #4a7fea
      .hidden
        display: none
      .button-orange
        font-size: 16px
        line-height: 40px
        padding: 0 1em
        background: #f90
        color: #fff
        border: 0 none
      .button-gray
        background: #d9d9d9
    td.td-left
      text-align: right
      color: #666666
      font-size: 12px
      width: 150px
  .qiye-btns
    text-align: center
    padding: 22px 0
    a
      width: 98px
      height: 38px
      line-height: 38px
      display: inline-block
      border: 1px solid #e7350d
      margin-right: 12px
      text-align: center
      color: #e7350d
      font-size: 14px
    a.save-btn
      background: #e7350d
      color: #ffffff

.modalStyle
  padding: 30px 20px
  .submit-code-img
    width: 100px
    height: 35px
    line-height: 35px
    display: inline-block
    color: #ffffff
    background : #ff0000
    margin-top: 20px
    font-size: 14px
  .code-img-error
    color: #ff0000
    text-indent: 88px
label.error
  font-size: 14px
  color: #e7350d
label.error:before
  content: "* "
