.register
  background: #ffffff
  padding: 19px 26px 86px
  width: 1097px
  margin: 30px auto 80px
  border: 1px solid #e3e3e3
  .login-href
    text-align: right
    font-size: $font-l
    color: $t-d10
    a
      color: #db493f
      margin-left: 7px
  .register_nav_min
    background: url(/static/imgs/pc/loginRegister/min_nav_1.jpg) center center no-repeat
    width: 915px
    height: 77px
    margin: 19px 65px 40px
  .register_nav_min2
    background: url(/static/imgs/pc/loginRegister/min_nav_2.jpg) center center no-repeat
  .register_nav_min3
    background: url(/static/imgs/pc/loginRegister/min_nav_3.jpg) center center no-repeat
  .register_nav_min4
    background: url(/static/imgs/pc/loginRegister/min_nav_4.jpg) center center no-repeat
  .register_box
    padding: 0 65px
    .login-form
      float: left
      width: 458px
      .register_welfare
        color: #477ced
        font-size: 18px
      .registerForm
        li
          height: 62px
          label
            width: 75px
            display: inline-block
            color: $t-d10
            font-size: 14px
            float: left
            height: 32px
            line-height: 32px
            text-align: left
          input
            float: left
            width: 261px
            height: 32px
            line-height: 32px
            border: 1px solid #cccccc
            text-indent: 5px
          input.w115
            width: 115px
            margin-right: 17px
          .captchaImg
            width: 126px
            height: 30px
          .getCodeBtn,.get-code-btn
            width: 100px
            height: 32px
            border: 0 none
            border-radius: 3px
            color: #ffffff
            background: #d9d9d9
          .getCodeBtn
            background: #db493f
          .buttonGray
            background: #d9d9d9
          .pop
            color: #b6b6b6
            font-size: 12px
            float: left
            width: 100%
            text-indent: 75px
          .error_span
            color: #e4371f
            font-size: 12px
            line-height: 32px
            i
              @include loginRegister-sprite(cha)
              width: 9px
              height: 9px
              display: inline-block
              margin:  0 5px
          &:last-child
            height: 32px
        .selectEdLi
          input
            border: 1px solid #a40035
        .select_style
          select
            width: 261px
            height: 32px
            line-height: 32px
            border: 1px solid #cccccc
            background: #ffffff
            font-size: 14px
            color: #b6b6b6
          .selected
            color: $t-d10
          .bankPop
            padding-left: 85px
            color: #666
            p
              margin-top: 5px
              display: none
      .tie-on-card
        li
          label
            width: 85px
            text-align: right
        .error-box
          margin: 20px 85px 0
          font-size: 14px
          color: red
      .form_bottom
        padding: 0 0 0 75px
        .checkboxDiv
          margin-bottom: 25px
          input
            vertical-align: -2px
          a
            font-size: 14px
            color: #666666
        .submitFormStyle,.rz-btn,.tie-on-card-btn
          @include loginRegister-sprite(register_btn)
          width: 124px
          height: 35px
          float: left
          cursor: pointer
          border: 0 none
        .rz-btn
          @include loginRegister-sprite(rz_bg)
          margin-top: 28px
        .tie-on-card-btn
          @include loginRegister-sprite(bk_btn)
          margin: 0 0 0 10px
          text-indent: 99999px
      .loginError
        margin: 0 75px
        font-size: 14px
        color: red
    .register_info
      width: 455px
      float: left
      border-left: 2px dotted #eaeaea
      padding-left: 100px
      min-height: 388px
      h3
        color: $t-d10
        font-size: $font-l
    .register-success
      text-align: center
      .max-text
        font-size: $font-ll
        line-height: 38px
      .min-text
        font-size: $font-l
        line-height: 38px
      .go-i-r
        margin: 10px 0 5px
        a
          color: #db493f
          margin-left: 5px
.reward-box
  @include loginRegister-sprite(reward_bg)
  height: 73px
  color: $t-d6
  margin-top: 15px
  width: 277px
  display: inline-block
  .reward-left
    width: 158px
    float: left
    padding: 21px 0 17px 34px
    font-size: $font-xs
    line-height: 20px
    span
      font-size: $font-xxl
      margin-right: 5px
  .reward-right
    width: 119px
    float: left
    font-size: $font-xl
    line-height: 73px
    text-align: center
.modal-containerNew
  border: 1px solid #666666
  border-radius: 5px
  width: 300px
  background: #ffffff
  .modal-header
    height: 30px
    line-height: 30px
    font-size: 18px
    padding: 10px
  .modal-content-inner
    text-align: left
    font-size: 16px
    padding: 40px 20px
  .modal-footer
    text-align: center
    padding-bottom: 20px
    .button-alert-ok
      background: #e7350d
      width: 100px
      height: 30px
      line-height: 30px
      color: #ffffff
      display: inline-block
      border-radius: 5px
      font-size: 14px
  .close-modal
    font-size: 28px
    position: absolute
    top: 0
    right: 10px
.recharge_alert
  border: 1px solid #666666
  border-radius: 20px
  width: 520px
  background: #ffffff
  padding-bottom: 50px
  position: relative
  .alert_title
    height: 62px
    line-height: 62px
    border-bottom: 1px solid #e3e3e3
    color: #3f3f41
    font-size: 18px
    i
      @include loginRegister-sprite(alert)
      width: 38px
      height: 37px
      display: inline-block
      margin: 0 12px 0 17px
      vertical-align: middle
  .alert_content
    padding: 40px 0 55px
    text-align: center
    color: #3f3f41
    font-size: 22px
    line-height: 48px
  .alert_btns
    text-align: center
    a
      width: 196px
      height: 48px
      line-height: 48px
      display: inline-block
      border-radius: 20px
      color: #ffffff
      font-size: 22px
    .go_help
      background: #85a5e9
    .finished_btn
      background: #fb7c00
      margin-left: 50px
  .close-modal
    position: absolute
    width: 29px
    height: 29px
    display: inline-block
    @include loginRegister-sprite(close)
    top: 16px
    right: 13px
    text-indent: 9999px



