.i-security-item
  width: $content-width
  margin: 0 auto
  color: $t-d11
.i-security-write
  background: $bg-d3
.i-security-banner
  height: 320px
  background: url("/static/imgs/pc/security/security_banner.jpg") no-repeat center
.i-security-item
  text-align: center
  .weight
    font-weight: bold
  .grid-img
    display: block
    width: 1030px
    height: 482px
    margin: 40px auto
  .grid2-img
    margin: 30px auto 60px auto
  .grid-text
    line-height: 2
  .font-text-icon
    font-weight: bold
    font-size: 70px
    color: #ddd
  .people-text
    padding: 60px 20px
  .text-36
    color: $t-d2
    font-size: $font-xxll
  .ask-text, .safe2-text
    margin-top: 100px

  .bazhuayu-img, .write-img, .ask-img, .safe2-img
    margin: 45px auto
    display: block
  .item-head-warp
    padding: 0 10px
  .item-head-circle
    width: 3%
    .head-circle
      width: 10px
      height: 10px
      +border-radius(5px)
      background: $bg-d14
      margin-top: 4px
  .circle-item
    width: 20px
    background: $bg-d14
    color: #fff
    margin-right: 5px
    +line-height(20)
    text-align: center
    display: inline-block
    +border-radius(10px)
  .safe-money-padding
    padding-left: 25px
  .about-safe-money
    line-height: 30px
    padding: 35px 0
  .item-head-text
    width: 97%
  .security-lock
    line-height: 32px
    margin-top: 30px
  .security-safe2
    line-height: 32px
    margin-top: 180px
    .safe2-mg
      margin-right: 80px
  .kongxin-circle
    position: relative
    top: 3px
    margin-right: 5px
    display: inline-block
    width: 16px
    height: 16px
    line-height: 16px
    border: 1px solid $bg-d14
    background: #fff
    +border-radius(8px)
    &:after
      content: ''
      position: absolute
      top: 2px
      left: 2px
      display: inline-block
      width: 10px
      height: 10px
      background: $bg-d14
      +border-radius(5px)
  .secuity-for-regist
    padding-bottom: 50px
    a
      display: block
      width: 190px
      height: 50px
      margin: 0 auto
      border: 3px solid #a6c0f5
      background: $bg-d14
      color: #fff
      line-height: 44px
      text-align: center
      font-size: $font-l
      +border-radius(25px)