-load formatters
-load mathfilters
doctype html
html
  head
    - with '安全保障' as title
    include include/common_head
    - endwith
    meta(name="keywords", content="安全保障")
    meta(name="description", content="没有最安全，只有更安全")
  body.white-background
    include include/header
    - with '安全保障' as activeItem
    include include/navigation
    - endwith

      .container
        .sub-nav
          span 首页
          span &gt;
          span 帮助中心
          span &gt;
          span 注册登录

        .help-menu
          ul
            li
              a(href="#") 热门问题
            li
              a(href="#") 注册登录
            li
              a(href="#") P2P
            li
              a(href="#") 货币基金
            li
              a(href="#") 安全保障

        .help-content
          h1 注册登录
          .list-container
            .list-item
              .list-item-title 为什么要进行实名认证
              .list-item-content 各种内容

    script.
        require(["/static/js/help.js"])
    - with 1 as no_footbar
    include include/footer
    - endwith
    include include/tracking
