- load formatters
doctype html
head
    - with '查询提现记录' as title
    include include/common_head
    - endwith
    body
        .panel
            .well
                .panel-title-bar__no-border
                    .panel-title P2P记录查询
                .space-vertical-s

                .panel-content.padding-l-r-sm
                    .space-vertical-l
                    a(href='/{{ "" | admin_address}}/pay/transaction')
                        button.button-home-action(type='submit') 返回
                    .space-vertical-l

                if message
                    .panel-content.padding-l-r-sm
                        label.error{{ message }}



            .account-home-panel--title-bar__product.padding-l-r-xl
                ul.title-bar--tabs
                    li.title-bar--tab.active
                        a.title-bar--tab--anchor(href='javascript:void(0)') 交易记录
                    li.title-bar--tab
                        a.title-bar--tab--anchor(href='/{{ "" | admin_address}}/pay/transaction/deposit?phone={{ phone }}') 充值记录
                    li.title-bar--tab
                        a.title-bar--tab--anchor(href='/{{ "" | admin_address}}/pay/transaction/withdraw?phone={{ phone }}') 提现记录
            .panel-container.padding-l-r-xl
                table.table
                    thead
                        tr
                            th 流水号
                            th 产品
                            th 时间
                            th 金额(元)
                            th 交易类型
                    tbody
                        if pay_records
                            each trade_record in pay_records
                                tr
                                    td {{trade_record.id}}
                                    td {{trade_record.product.short_name}}
                                    td {{trade_record.create_time | date:"Y-m-d H:i:s"}}
                                    td {{trade_record.amount}}
                                    td {{trade_record.catalog}}

                if pay_records
                    - with data=pay_records uri='/pay/transaction/p2p'
                    include include/pager_admin
                    - endwith
                else
                    p.callback-content
                        label.error {{ phone }} 用户没有记录
