- load formatters

doctype html
- with '支付' as title
include include/head
- endwith
body
  if message
    include include/header
    - with '首页' as activeItem
    include include/navigation
    - endwith

    .callback-container
      .callback-content
        if message
          .error-icon
          .callback-description
            h1 抱歉，充值失败。
            p {{message}}

    - with 1 as no_margin
    include include/footer
    - endwith
    include include/tracking

  if form
    url = form['url']
    form#huifu-pay(action='{{url}}', method='post')
      post = form['post']
      for name in post
        value = post[name]
        input(type='hidden', name='{{name}}', value='{{value}}')

    script(src='/static/js/pay_jump.js', data-main='/static/js/pay_jump')
