- load formatters

doctype html
- with '支付' as title
include include/head
- endwith
body
  include include/header
  - with '首页' as activeItem
  include include/navigation
  - endwith
  .pay-container
    .row
      .pull-left {{message}}

    if form
      url = form['url']
      form#huifu-pay(action='{{url}}', method='post')
        post = form['post']
        for name in post
          value = post[name]
          input(type='hidden', name='{{name}}', value='{{value}}')

  script.
    require(['/static/js/pay_jump.js'])

  - with 1 as no_margin
  include include/footer
  - endwith
  include include/tracking

