- load formatters
- load mathfilters
- load widget_tweaks

doctype html
- with '提现结果' as title
include include/head
- endwith
body
  include include/header
  - with '首页' as activeItem
  include include/navigation
  - endwith

  .callback-container
    .callback-content
      if result == '提现成功'
        .success-icon
        .callback-description
          h1 提现申请已成功提交！
          p 若审核通过，则预计到账时间在2~3个工作日之后
          p 您可以<a class='blue' href='/accounts/transaction/withdraw/'>查看交易记录</a>，或者<a class='blue' href='/accounts/home/'>返回我的账户</a>
      elif result == '提现失败'
        .error-icon
        .callback-description
          h1 提现申请失败
          p 如有问题，请拨打客服电话咨询：400-588-066
      else
        .error-icon
        .callback-description
          h1 提现申请异常
          p {{result}}
          p 请先查看<a class='blue' href='/accounts/transaction/withdraw/'>提现记录</a>,如果没有申请成功，请拨打客服电话咨询：400-588-066

  - with 1 as no_margin
  include include/footer
  - endwith
  include include/tracking
