- load formatters

doctype html
head
  - with '提现记录' as title
  include include/common_head
  - endwith
  link(rel="stylesheet", href="/static/stylesheets/jquery-ui.min.css")

body
  .panel
    .panel-content
      if payinfos
        table.table
          thead
            tr
              th 序号
              th 唯一编号
              th 用户手机号码
              th 用户姓名
              th 用户身份证
              th 金额
              th 类型
          tbody
          each payinfo, index in payinfos
            index = index + 1
            tr
              td {{index}}
              td {{payinfo.uuid}}
              td {{payinfo.user | safe_phone}}
              td {{payinfo.user.wanglibaouserprofile.name | safe_name}}
              td {{payinfo.user.wanglibaouserprofile.id_number | safe_id}}
              td {{payinfo.amount}}
              if payinfo.type == 'D'
                td 充值
              else
                td 提现
          tfoot
            tr
              td(align="right", colspan=5) 金额总计：
              td {{ total_amount }}
              td &nbsp;

        form.form(method="POST", action="?action=confirm")
          - csrf_token
          input(type="hidden", name="action", value="confirm")
          input(type="hidden", name="transaction_uuids", value="{{transaction_uuids}}")
          button.button-primary(type='submit', value='审核') 全部审核

      else
        form(method="POST", action="?action=preview").form
          - csrf_token
          input(type="hidden", name="action", value="preview")
          .form-row
            label 已审核的申请编码，用逗号分隔
            .row
              textarea(name="transaction_uuids", cols=80, rows=10)
          .form-row
            button.button-primary(type='submit', value='查询') 查询
