- load formatters
- load mathfilters
- load widget_tweaks

doctype html
head
  - with '提现' as title
  include include/common_head
  - endwith
  meta(http-equiv="content-type", content="text/html; charset=GBK")
body
  include include/header
  - with '首页' as activeItem
  include include/navigation
  - endwith
  .pay-container
    .row
      .pull-left 提现
      .pull-right << 返回上级


    form(action="/pay/withdraw/complete/", method='post')
      - csrf_token
      input#amount(type='text', name='amount', placeholder='金额', value='500.00')
      input#withdraw.button-red.button-l(type='submit', value='提现')

  - with 1 as no_margin
  include include/footer
  - endwith
  include include/tracking
