
.fuel-account-list
  display: -webkit-box
  -webkit-box-align: center
  height: rem(112)
  font-size: .75rem
  color: #666
  background: #fff
  padding: 0 1rem 0 .9rem
  .grey
    color: #9B9B9B
    font-size: .6rem
  @mixin icons($height, $width, $iconName)
    width: rem($height)
    height: rem($width)
    background: url('/static/imgs/mobile_fuelcard/account/#{$iconName}.png') no-repeat center
    background-size: 100%
    margin-right: .7rem
  .account-phone
    +icons(41, 41, 'phone')

  .account-authen
    +icons(40, 40, 'authentication')

  .account-balance
    +icons(40, 40, 'balance')

  .account-card
    +icons(40, 32, 'card')

  .account-login-password
    +icons(36, 40, 'login_password')

  .account-transaction-password
    +icons(36, 40, 'transaction_password')

  .account-forget-password
    +icons(38, 42, 'forget_password')
  .fuel-list-arrow
    +icons(22, 38, 'arrow')
    margin-right: 0

  .fuel-list-name
    -webkit-box-flex: 1

  .fuel-list-authen
    @extend .grey
    background: url('/static/imgs/mobile_fuelcard/account/authen_true.png') no-repeat left center
    background-size: .75rem
    line-height: 1.6
    padding-left: rem(35)

  .fuel-list-text
    @extend .grey

  .fuel-list-recharge
    display: block
    width: rem(112)
    height: rem(50)
    line-height: rem(50)
    color: #5DB5F2
    border: 1px solid #5DB5F2
    border-radius: .1rem
    font-size: .6rem
    text-align: center
    &:active
      background: #5DB5F2
      color: #fff

.fuel-account-sign
  color: #ccc
  font-size: .6rem
  text-align: center
  margin: 2rem 0

.fuel-account-space-10
  height: .25rem

.fuel-account-space-1
  height: 1px

.fuel-magin-right-15
  margin-right: 1.5rem

.fuel-magin-right-4
  margin-right: .4rem