.form-bank-limit
  background: url("/static/imgs/mobile/bank/limit.png") no-repeat left center
  background-size: .75rem
  font-size: .6rem
  color: #5DB5F2
  padding-left: 1rem
  line-height: 1.5
  margin-bottom: 0.6rem
  margin-left: .6rem


.limit-sign-warp
  display: none
  position: fixed
  top: 0
  bottom: 0  
  left: 0
  width: 100%
  height: 100%

  .limit-mask
    display: -webkit-box
    -webkit-box-align: center
    -webkit-box-pack: center
    position: relative
    width: 100%
    height: 100%
    background: rgba(0,0,0,.5)
    padding: 0 1rem
  .limit-body
    width: 100%
    font-size: .75rem
    color: #666
    background: #fff
    border-radius: .2rem
    text-align: center

  .limit-head
    padding: .65rem 0
    border-bottom: 1px solid #666

  .limit-close
    padding: .8rem 0
    color: #5DB5F2
    border-top: 1px solid #e5e5e5

  .limit-bank-item
    max-height: 10rem
    padding: 0 .75rem
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    text-align: left

  .limit-bank-list
    display: -webkit-box
    border-bottom: 1px solid #ccc
    padding: .6rem 0
  .limit-list-dec
    -webkit-box-flex: 1

  .limit-list-icon
    width: rem(70)
    height: rem(70)
    background-size: 100%
  .bank-name
    font-size: .7rem
    margin-bottom: .1rem
  .bank-limit
    font-size: .6rem
    color: #999
  .CIB
    background: url('/static/imgs/mobile/bank/CIB.png') no-repeat center
  .CMB
    background: url('/static/imgs/mobile/bank/CMB.png') no-repeat center
  .CMBC
    background: url('/static/imgs/mobile/bank/CMBC.png') no-repeat center

  .HXB
    background: url('/static/imgs/mobile/bank/HXB.png') no-repeat center
  .SPDB
    background: url('/static/imgs/mobile/bank/SPDB.png') no-repeat center
  .GDB
    background: url('/static/imgs/mobile/bank/GDB.png') no-repeat center
  .BOCOM
    background: url('/static/imgs/mobile/bank/BOCOM.png') no-repeat center
  .ICBC
    background: url('/static/imgs/mobile/bank/ICBC.png') no-repeat center
  .CCB
    background: url('/static/imgs/mobile/bank/CCB.png') no-repeat center
  .ABC
    background: url('/static/imgs/mobile/bank/ABC.png') no-repeat center
  .CITIC
    background: url('/static/imgs/mobile/bank/CITIC.png') no-repeat center
  .CEB
    background: url('/static/imgs/mobile/bank/CEB.png') no-repeat center
  .BOC
    background: url('/static/imgs/mobile/bank/BOC.png') no-repeat center
  .PSBC
    background: url('/static/imgs/mobile/bank/PSBC.png') no-repeat center
  .PINGAN
    background: url('/static/imgs/mobile/bank/PINGAN.png') no-repeat center