

.fuel-login-logos
  position: relative
  margin-bottom: 5rem
  .fuel-head-red-space
    height: 3rem
    background: #db493f

  .fuel-head-logo
    position: absolute
    width: 100%
    top: 0.5rem
    img
      display: block
      width: 5rem
      height: 5rem
      margin: 0 auto

.fuel-login-warp
  padding: 0 .5rem

.fuel-for-regist-warp
  font-size: .7rem
  color: #5db5f2
  text-align: center
  margin-top: .6rem
  a
    display: inline-block
    padding: .2rem