
.fuel-input-space
  margin-bottom: .5rem

//按钮
.fuel-password-submit
  +submit(rem(90), #fff, $buy-red)

//头部提示
.fuel-password-head
  height: 2rem
  line-height: 2rem
  color: #ccc
  font-size: .6rem

//登陆密码
.fuel-password-warp
  padding: 1.5rem .5rem 0 .5rem
  .login-input-name
    width: 3.1rem
  .fuel-submit-warp
    margin: 3rem 0 1rem 0


//交易密码

.fuel-transaction-warp
  padding: 0 .5rem

  .trans-input-name
    width: 4.55rem

  .fuel-transaction-submit-warp
    margin: 2rem 0 1rem 0

//实名认证

.fuel-authentication-warp
  padding: 0 .5rem
  .authentication-input-name
    width: 3.1rem
  .fuel-authentication-submit-warp
    margin: 2rem 0 1rem 0