

.fuel-product-dec-warp

  padding: 1rem
  font-size: .6rem

  .fuel-product-title
    display: inline-block
    background: url("/static/imgs/mobile_fuelcard/activity/title_bg.png") no-repeat center
    background-size: 100%
    color: #fff
    padding: .1rem 1rem .1rem .4rem

  .fuel-product-decimg
    display: block
    width: 100%
    height: auto
    margin: 1rem 0

  .fuel-product-cont
    color: #999
    max-height: 99999rem
    padding: .5rem 0