

@mixin submit($height: 2.5rem, $color: #fff, $background: #DB493F, $margin: 0 .5rem)
  height: $height
  line-height: $height
  text-align: center
  color: $color
  background: $background
  border-radius: .2rem
  margin: $margin
  font-size: rem(32)
  &:active
    box-shadow: 0px 10px 200px rgba(0,0,0,0.2) inset
