

.fuel-rechage-sumit-warp
  margin: 1.8rem 0
  padding: 0 .5rem

  .fuel-rechage-sumit
    +submit(rem(90), #fff, $buy-red)

.fuel-rechage-space
  margin-top: .25rem
  padding: 0 1rem
  border-radius: 0
