.records-default
  text-align: center
  font-size: 0.6rem
  color: #989898
  margin-top: 2rem
  img
    display: block
    width: 7rem
    height: 7rem
    margin: 0 auto
  p
    margin-top: .5rem

//购买记录
.records-item
  margin-top: rem(18)
  padding: 0 .25rem
  .records-list
    display: -webkit-box
    -webkit-box-align: center
    color: #fff
    padding: rem(26) 0 rem(26) 1rem
    margin-bottom: .5rem
  .records-list-blue
    background: url("/static/imgs/mobile_fuelcard/records/card_blue.png") no-repeat center
    background-size: 100%
  .records-list-grey
    background: url("/static/imgs/mobile_fuelcard/records/card_grey.png") no-repeat center
    background-size: 100%


  .records-card-amount
    margin-right: 2.8rem
    font-size: .75rem
    .amount
      font-size: 1.5rem

  .records-card-detail
    -webkit-box-flex: 1
    font-size: .6rem
    line-height: 1.65
    .records-name
      font-size: .75rem

//兑换记录

.records-exchange-item
  margin-top: rem(18)
  font-size: .6rem
  color: #666
  background: #fff
  .records-exchange-list
    display: -webkit-box
    -webkit-box-align: center
    height: 108px
    padding: 0 1rem
    border-bottom: 1px solid #e5e5e5
    &:last-child
      border-bottom: 0
  .records-card-date
    -webkit-box-flex: 1

  .records-show-card
    display: block
    color: #5DB5F2
    margin-left: 3rem
