

.fuel-rechage-sumit-warp
  margin: 1.8rem 0
  padding: 0 .5rem
  p
    color: #989898
    font-size: 0.7rem
    text-align: center
    margin-bottom: 1rem
  .fuel-rechage-sumit
    +submit(rem(90), #fff, $buy-red)

.fuel-rechage-space
  margin-top: .25rem
  padding: 0 1rem
  border-radius: 0
.recharge-loding
  font-size: 0.6rem
  color: #989898
  margin: 1rem 0
  text-align: center

.no-bank-sign
  font-size: .6rem
  text-align: left
  color: #666
  padding: 1rem
  .take-title
    font-size: .7rem
    color: #989898
    margin-bottom: 1rem
  p
    margin-bottom: 0.3rem
  .fuel-rechage-sumit
    margin-top: 1rem
    +submit(rem(90), #fff, $buy-red)
