

.error-sign
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 2.2rem
  line-height: 2.2rem
  text-align: center
  background: rgba(93,181,242,0.8)
  color: #fff
  font-size: 0.7rem
  -webkit-transform: translateY(-100%)
  transform: translateY(-100%)

.moveDown
  animation-name: moveDown
  -webkit-animation-name: moveDown
  animation-duration: 1500ms
  -webkit-animation-duration: 1500ms
  animation-timing-function: ease
  -webkit-animation-timing-function: ease
  animation-fill-mode: both
  -webkit-animation-fill-mode: both

@keyframes moveDown
  0%
    transform: translateY(-100%)
  20%
    transform: translateY(0%)
  90%
    transform: translateY(0%)
  100%
    transform: translateY(-100%)

@-webkit-keyframes moveDown
  0%
    -webkit-transform: translateY(-100%)
  20%
    -webkit-transform: translateY(0%)
  90%
    -webkit-transform: translateY(0%)
  100%
    -webkit-transform: translateY(-100%)
@keyframes fadeIn
  0%
    opacity: 0
    display: block
  20%
    opacity: 1
  90%
    opacity: 1
  100%
    opacity: 0
    display: none

@mixin regist-icons($height, $width, $iconName)
  width: rem($height)
  height: rem($width)
  background: url('/static/imgs/mobile_fuelcard/input_icon/#{$iconName}.png') no-repeat center
  background-size: 100%


.fuel-regist-warp
  padding: rem(46) .5rem

.regist-input-icon
  width: .9rem

  .phone
    +regist-icons(36, 45, 'phone')

  .captcha, .validation
    +regist-icons(37, 36, 'code')

  .password
    +regist-icons(36, 44, 'password')

  .token
    +regist-icons(36, 44, 'token')

  .name
    +regist-icons(36, 45, 'name')

  .idcard
    +regist-icons(36, 50, 'idcard')

  .bank
    +regist-icons(37, 36, 'bank')


  .card
    +regist-icons(36, 30, 'card')


.active
  .phone
    +regist-icons(36, 45, 'phone_active')

  .captcha, .validation
    +regist-icons(37, 36, 'code_active')

  .password
    +regist-icons(36, 44, 'password_active')

  .token
    +regist-icons(36, 44, 'token_active')

  .name
    +regist-icons(36, 45, 'name_active')

  .idcard
    +regist-icons(36, 50, 'idcard_active')

  .bank
    +regist-icons(37, 36, 'bank_active')

  .card
    +regist-icons(36, 30, 'card_active')

.fuel-regist-submit
  +submit(rem(90), #fff, $buy-red)


.fuel-bottom-warp
  display: -webkit-box
  color: #5DB5F2
  font-size: .75rem
  margin: 1rem .5rem
  .hook
    position: relative
    width: .9rem
    height: .9rem
    border: 1px solid #5DB5F2
    background: #fff
    margin-right: .5rem
    overflow: hidden
    &:before
      top: 1rem

    input
      display: block
      width: 100%
      height: 100%
      opacity: 0
  .agreement
    &:before
      content: ''
      position: absolute
      top: 0.05rem
      left: 0.25rem
      border: 3px solid #5db5f2
      border-left: 0
      border-top: 0
      width: 0.25rem
      height: 0.5rem
      -webkit-transform: rotateZ(45deg)


  .fuel-regist-agreement
    -webkit-box-flex: 1
    display: -webkit-box
    -webkit-box-align: center


.safe-space
  margin: .5rem 0 .25rem 0

.fuel-process-img
  padding: 0 1.5rem
  img
    display: block
    width: 100%
    height: auto

.fuel-process-imgspace-first
  margin: 3rem 0

.fuel-process-safespace-first
  margin: 2rem 0 .5rem 0
.fuel-process-imgspace-second
  margin: 3rem 0 2rem 0

.fuel-process-safespace-second
  text-align: center
  color: #50B143
  font-size: .6rem
  margin: 2rem 0 .5rem 0

.fuel-process-imgspace-three
  margin: 1.5rem 0 1rem 0

.regist-process-leo
  width: 15.75rem
  height: 11.25rem
  background: url("/static/imgs/mobile_fuelcard/input_icon/leo_icon.png") no-repeat center
  background-size: 100%
  margin: 0 auto
  text-align: center
  padding-top: 5.4rem
  .red
    font-size: 0.8rem
    color: #db493f
    line-height: 1.8
  .grey
    color: #999
    font-size: 0.6rem
    line-height: 1.4

.fuel-success-regist-warp
  margin: 1.5rem 0