
.regist-rules-warp
  font-size: .7rem
  padding:  .75rem

  h1, h2
    margin: .5rem 0
  p,li
    margin-bottom: .5rem
    line-height: 1.4
    overflow: hidden
  ul

  .agreement-number
    float: left
    width: 20%
  .agreement-line
    float: left
    width: 80%