


.fuel-statistics-head
  display: -webkit-box
  -webkit-box-pack: center
  -webkit-box-orient: vertical
  height: rem(220)
  background: #fff
  color: #666
  font-size: .6rem
  padding-left: 1rem
  .amount
    font-size: 1.6rem
    color: #DB493F

.fuel-statistics-item
  margin-top: .5rem
  background: #fff
  .fuel-statistics-list
    display: -webkit-box
    -webkit-box-align: center
    height: rem(198)
    padding: 0 1.6rem 0 1rem
    border-bottom: 1px solid #e5e5e5
  .product-type-name, .product-buy-number, .product-save-amount
    font-size: .75rem
    margin-bottom: .4rem
    color: #666
  .product-green
    color: #50B143
  .product-yellow
    color: #F5A623
  .product-red
    color: #DB493F
  .product-buy
    -webkit-box-flex: 1
    text-align: center
  .product-save
    text-align: right
  .product-dec
    color: #ccc
    font-size: .6rem