
.bank-main
  background: #fff
.bank-list
  display: -webkit-box
  -webkit-box-align: center
  border-bottom: 1px solid $color-grey-e8e8e8
  padding: .6rem 0 .6rem .75rem
  .bank-warp
    -webkit-box-flex: 1
  .set-bank, .set-bank-true
    color: #5db5f2
    font-size: .75rem
    padding: .4rem
    margin-right: .5rem

  p
    text-align: left
    &:first-child
      color: $color-grey-989898
      font-size: $font-size12
      margin-bottom: .25rem
    &:last-child
      color: $color-grey-6b6b6b
      font-size: $font-size18
  &:last-child
    border-bottom: 0
.bank-add-btn
  padding: .75rem
  a
    width: 100%
    border: 1px dashed $color-db493f
    display: block
    text-align: center
    background: #fff
    &:active
      box-shadow: $active-shadow
    .btn-icon
      display: inline-block
      height: 1rem
      width: 1rem
      line-height: .9rem
      text-align: center
      border: 1px solid $color-db493f
      background: #fff
      color: $color-db493f
      border-radius: .55rem
      margin-right: .3rem
    .btn-click
      display: inline-block
      color: $color-db493f
      font-size: $font-size18
      padding: .6rem 0
.no-authentication-sign
  padding: .75rem .75rem 0 .75rem
  color: $color-grey-989898
  font-size: $font-size14
  text-align: center
  .authentication-sign-btn
    margin-top: 1rem
    color: #fff
    display: block
    background: $color-db493f
    border-radius: $boder-radius
    padding: .6rem 0
    text-decoration: none
    &:visited
      color: #fff
    &:active
      box-shadow: $active-shadow

.bank-add-main
  background: #fff
  .add-row
    border-bottom: 1px solid $border-color
    height: 2.25rem
    display: -webkit-box
  .row-name
    width: 4rem
    padding-left: .75rem
    line-height: 2.25rem
    text-align: left
    font-size: $font-size12
    color: $color-grey-6b6b6b
  .add-select
    padding-right: .75rem
  select
    -webkit-appearance: none
    background: url("/static/imgs/mobile/select_icon.png") no-repeat right center #fff
    background-size: .9rem
    border: 0
    padding-left: .5rem
    line-height: 2.25rem
    height: 100%
    font-size: $font-size12
    color: $color-grey-6b6b6b
    width: 100%
    display: block

  .row-value
    -webkit-box-flex: 1
    line-height: 2.25rem
    padding-right: .75rem
    font-size: $font-size12
  .value-right
    text-align: right
    color: $color-grey-3e3e3e
  .value-input
    height: 100%
    width: 100%
    line-height: normal
    padding: .6rem 0
    border: 0
    display: inline-block
.bank-add-sign
  padding: .25rem .75rem
  color: $color-grey-989898
  font-size: $font-size12
.bank-add-btn
  padding: .5rem .75rem .75rem .75rem
  button
    width: 100%
    height: 2.45rem
    line-height: 2.45rem
    text-align: center
    color: #fff
    background: $color-db493f
    border-radius: $boder-radius
    font-size: $font-size16
    border: 0
    &:active
      box-shadow: $active-shadow

.set-bank-sign
  position: fixed
  top: 0
  bottom: 0
  width: 100%
  height: 100%
  display: none
  .set-body-mask
    display: -webkit-box
    -webkit-box-pack: center
    -webkit-box-align: center
    height: 100%
    width: 100%
    background: rgba(0,0,0,0.6)
    padding: 0 1.2rem
    font-size: 0.7rem

  .set-body
    background: #fff
    border-radius: 0.4rem
    overflow: hidden
    .bank-card-dec
      padding: 1rem
      color: #6b6b6b
    .name
      color: #4e7cda
    .no
      color: #5db5f2
    .sign-operation
      display: -webkit-box
      -webkit-box-align: center

      text-align: center
      border-top: 1px solid #e5e5e5
      .bank-confirm, .bank-cancel
        display: block
        -webkit-box-flex: 1
        width: 50%
        padding: .5rem 0
        color: #4e7cda
        &:first-child
          border-right: 1px solid #e5e5e5
        &:active
          background: #e5e5e5
      button
        height: 100%
        border: 0
        font-size: 0.7rem
        background: #fff


.take-dec-list
  font-size: .6rem
  padding: .5rem
  color: #666
  max-height: 9999rem
  p
    margin-bottom: .3rem



