.spinner
  margin: 0 auto
  width: 1.25rem
  height: 1.5rem
  text-align: center
  overflow: hidden

.spinner > div
  background-color: #67CF22
  height: 100%
  width: .15rem
  display: inline-block
  -webkit-animation: stretchdelay 1.0s infinite ease-in-out
  animation: stretchdelay 1.0s infinite ease-in-out

.spinner .rect2
  -webkit-animation-delay: -.9s
  animation-delay: -.9s

.spinner .rect3
  -webkit-animation-delay: -.8s
  animation-delay: -.8s

.spinner .rect4
  -webkit-animation-delay: -0.7s
  animation-delay: -0.7s

.spinner .rect5
  -webkit-animation-delay: -0.6s
  animation-delay: -0.6s

@-webkit-keyframes stretchdelay
  0%, 40%, 100%
    -webkit-transform: scaleY(0.4)
  20%
    -webkit-transform: scaleY(1.0)

@keyframes stretchdelay
  0%, 40%, 100%
    transform: scaleY(0.4)
    -webkit-transform: scaleY(0.4)
  20%
    transform: scaleY(1.0)
    -webkit-transform: scaleY(1.0)

