.service-redpack-activity
  background: url("/static/imgs/sub_weixin/redpack_activity/redpack_bg.png") center center no-repeat
  background-size: cover
  .top-tit
    text-align: center
    padding-top: rem(48)
    .top-photo
      display: -webkit-box
      -webkit-box-align: center
      -webkit-box-pack: center
      width: rem(67)
      height: rem(67)
      border-radius: rem(35)
      overflow: hidden
      margin-right: rem(20)
      vertical-align: middle
      background-color: #fff
      border: 1px solid #fff
      img
        width: 100%
    .top-tit
      display: inline-block
      position: relative
      background: #fff
      font-size: rem(28)
      line-height: rem(40)
      color: #ED4242
      padding: rem(4) rem(8)
      border-radius: rem(8)
      vertical-align: middle
      &:before
        display: block
        content: ''
        border: rem(10) dashed transparent
        border-right: rem(10) solid #fff
        position: absolute
        left: rem(-20)
        top: 50%
        margin-top: rem(-10)
        
        
