

.regist-succees-head
  text-align: center
  border-bottom-left-radius: 4rem
  border-bottom-right-radius: 4rem
  background: $color-db493f
  overflow: hidden
  img
    display: block
    margin: .8rem auto
    height: 5rem
    width: 5rem

  .succees-text-redpack
    color: #fff
    font-size: $font-size12
  .succees-text-link
    color: rgba(255, 255, 255, .5)
    font-size: .5rem
    margin: .5rem 0 1rem 0


.regist-succees-table
  width: 100%
  margin: .75rem 0
  img
    width: 100%

.regist-succees-buttons
  padding: 0 1rem
  a
    display: block
    width: 100%
    font-size: $font-size16
    color: #fff
    text-align: center
    padding: .9rem 0
    background: $color-db493f
    border-radius: .2rem
    border: 0
    margin-bottom: .75rem
    &:active
      box-shadow: $active-shadow

.succees
  background: #320e0d url('/static/imgs/mobile_activity/share/succees.jpg') center top no-repeat
  background-size: 100% auto
  position: absolute
  width: 100%
  height: 100%
  .wanglibao
    font-size: .9rem
    color: #ffffff
    text-align: center
    margin: 5% 0 5%
    line-height: 1.5rem
  .bonus-style
    text-align: center
    width: 100%
    img
      width: 11.625rem
  .total-font
    font-size: .6rem
    color: #ffffff
    text-align: center
    margin-top: 11%
  .haddle
    text-align: center
    padding-top: 0.2rem
    a
      width: 14.8rem
      height: 2.075rem
      line-height: 2.075rem
      text-align: center
      border-radius: .3rem
      font-size: .8rem
      color: #ffffff
      background: #cf473d
      display: inline-block
      text-decoration: none
      margin-top: .625rem
.alertWin
  position: relative
  z-index: 100
  .share-icon
    background: url('/static/imgs/mobile_activity/share/share.png') center top no-repeat
    position: fixed
    top: 0
    width: 7.425rem
    height: 4.025rem
    right: 1rem
    background-size: 100% auto
  .share-content
    width: 12.225rem
    margin: 0 auto
    text-align: center
    color: #f3e740
    font-size: .75rem
    text-align: left
    line-height: 1.5rem
    position: fixed
    left: 10%
    top: 20%
    span
      color: #ec6743
.page
  position: fixed
  top: 0
  left: 0
  opacity: 0.8
  background: rgb(0, 0, 0)
  width: 100%
  height: 100%
