.reward-card-warp
  padding: 1rem .5rem

.reward-card-list
  .reward-card-parent
    display: -webkit-box
    width: 100%
    height: 4.75rem
    font-size: $font-size14
    color: #fff
    margin-bottom: .6rem
    .reward-amount
      width: 31.4%
      height: 100%

  .reward-explain
    -webkit-box-flex: 1
    text-align: left
    padding-left: .8rem
    .reward-name
      padding: .75rem 0
    .reward-scope
      margin-bottom: .1rem
    .reward-scope, .reward-period
      font-size: $font-size12
      color: rgba(255, 255, 255, .8)

  .reward-amount
    font-size: 1.5rem
    display: -webkit-box
    -webkit-box-align: center
    -webkit-box-pack: center
    color: rgba(255, 255, 255, .8)
    em
      font-style: normal
      font-size: $font-size14

  .unused
    background: url("/static/imgs/sub_weixin/reward/ticket-unused.png") no-repeat center
    background-size: 100%
    &.red-packet
      background-image: url("/static/imgs/sub_weixin/reward/packet-unused.png")
  .used
    background: url("/static/imgs/sub_weixin/reward/ticket-used.png") no-repeat center
    background-size: 100%
    &.red-packet
      background-image: url("/static/imgs/sub_weixin/reward/packet-used.png")
  .expires
    background: url("/static/imgs/sub_weixin/reward/ticket-overdue.png") no-repeat center
    background-size: 100%
    &.red-packet
      background-image: url("/static/imgs/sub_weixin/reward/packet-overdue.png")

.reward-default
  margin-top: 4rem
  img
    display: block
    width: 7rem
    height: auto
    margin: 0 auto .5rem auto
  .reward-default-sign
    text-align: center
    color: #9B9B9B
    font-size: $font-size12
    line-height: 1.5