.security-thename
  border-bottom: 1px solid $border-color
  display: -webkit-box
  -webkit-box-orient: vertical
  padding-top: 0
  background: #fbfbfb
  .thename-one
    display: block
    padding-left: 0.75rem
    background: #ffffff
    color: #6b6b6b
    font-size: $body-fontSize
    line-height: 2.2rem
    height: 2.2rem
    position: relative
    .thename-notadd
      color: $head-backgroundColor
      margin-left: 1.05rem
    label
      position: absolute
      right: 0.705rem
    .thename-add
      @extend label
      font-weight: normal
      span
        width: 0
        height: 0
        border-bottom: 0.4rem solid transparent
        border-top: 0.4rem solid transparent
        border-left: 0.4rem solid #b6b6b6
        font-size: 0
        line-height: 0
        position: absolute
        right: 0
        top: 0.7rem
        .project-one-angle
          width: 0
          height: 0
          border-bottom: 0.3rem solid transparent
          border-top: 0.3rem solid transparent
          border-left: 0.3rem solid #FFFFFF
          font-size: 0
          line-height: 0
          position: absolute
          right: 0.1rem
          top: -0.3rem
  .line
    border-bottom: 1px solid $border-color
    margin-left: 0.75rem



