mixin list()
  .area-active-list.font-m
    .area-ac-ehn
      .area-ehn-name.es 新手专享580红包
      .area-ehn-banner
        img(src='/static/imgs/pc/area/list_banner.jpg')
        .area-ac-time.font-xs
          .area-tiem-body 已结束
          .area-tiem-bg
      .area-ac-date.font-xs.es 活动日期：2015年6月23-2016年9月22

    .area-ac-mask
      .area-mask-name.es.font-l 新手专享580红包
      .area-mask-date.font-xs.es 活动日期：2015年6月23-2016年9月22
      .area-mask-line
      .area-mask-dec 邀请好友注册网利宝，若好友注册后 ，投资3个月（含3个月）项目，则享有好友投资额3‰作为邀请佣金 ； 若好友再邀请其他人注册并投资3个月以上（含3个月）项目，可与好友一起享有投资额3‰作为邀请佣金；
      .area-mask-link.font-s
        a(href='#') 立即查看
+list()
+list()
+list()
+list()
+list()
+list()