-load formatters
doctype html
html
  head
    title 资金统计
    include include/fuel_head.jade
  body

    .fuel-statistics-head
      .fuel-save-amount
        counts = int(count)
        span.amount {{counts}}
        |元
      .fuel-save-date {{register_time | date:"Y-m-d" }} 注册至今累计节省

    .fuel-statistics-item
      if data
        each product in data
          .fuel-statistics-list
            .product-type
              .product-type-name.product-green {{product.product_amortization.product.name}}
              .product-dec 产品类型
            .product-buy
              .product-buy-number {{product.exchanged_count}}/{{product.buy_count}}
              .product-dec 生效/购买
            .product-save
              .product-save-amount {{product.total_revenue}}
              .product-dec 节省(元)
