doctype html
html
  head
    title 设置交易密码
    include include/fuel_head.jade
  body
    .fuel-transaction-warp

      .fuel-password-head ＊您尚未设置交易密码，请设置6位交易密码
      .fuel-input-public.fuel-input-space
        .fuel-input-name.trans-input-name 交易密码
        input(type='text', name='password', placeholder= '请设置交易密码').fuel-input-main
        .fuel-operation-icon.fuel-clear-input

      .fuel-input-public
        .fuel-input-name.trans-input-name 确认交易密码
        input(type='text', name='password', placeholder= '请确认交易密码').fuel-input-main
        .fuel-operation-icon.fuel-clear-input

      .fuel-transaction-submit-warp
        button(type='submit').fuel-password-submit 设置交易密码
