doctype html
html
  head
    title 银行卡
    include include/fuel_head.jade
  body
    .fuel-setbank-warp
      .fuel-input-public.fuel-input-space
        .fuel-input-icon.regist-input-icon
          .bank
        select(name="bank", type='select')
          option(value = '')  请选择银行
      .fuel-input-public.fuel-input-space
        .fuel-input-icon.regist-input-icon
          .card
        input(type='text', name='password', placeholder= '请设置密码').fuel-input-main
        .fuel-operation-icon.fuel-clear-input
      .fuel-input-public.fuel-input-space
        .fuel-input-icon.regist-input-icon
          .phone
        input(type='text', name='password', placeholder= '请输入手机号').fuel-input-main
      .fuel-input-double.fuel-input-space
        .fuel-input-public
          .fuel-input-icon.regist-input-icon
            .validation
          input(type='text', name='password', placeholder= '请输入验证码').fuel-input-main
        .fuel-validation
          button(type="button") 获取验证码
      .fuel-process-safespace-second 绑定银行卡后，该卡将作为您唯一充值提现的银行卡
      .fuel-authentication-regist-warp
        button(type='submit').fuel-password-submit 绑定银行卡
