doctype html
html
  head
    title 产品说明
    include include/fuel_head.jade
  body
    .fuel-product-dec-warp
      .fuel-product-title 产品描述

      .fuel-product-cont 加油包是基于消费者汽 使 习惯推出的 款消费 融产品。 户注册成为 利宝 户后可跳转  加油包产品  ,选择不同时间和 额的加油包产品。 户在期初向 利宝 付 定 额X,之后在每个月可以得到面值为Y的加油卡,其中Y>X/n,n为 份总数,购买不同的加油包可享受不同力度的折扣优惠。

      img(src='/static/imgs/mobile_fuelcard/activity/product_dec.png').fuel-product-decimg


      .fuel-product-title 产品原理

      .fuel-product-cont 投资对接等额本息产品, 值抵押,保证您的资金安全;将金融产品同消费产品对接,在保障安全的前提下,为用户提供更优惠的加油体验。

      .fuel-product-title 使用范围

      .fuel-product-cont 各期加油包的使 范围,会有所不同,请在购买时看清。 前加油包可在中石油合作加油站使 。

      .fuel-product-title 安全范围

      .fuel-product-cont 网利宝从业务模式和具体手段为投资者资金安全提供保障，双管齐下。业务模式上，网利宝在业内独创“产融结合”的业务模式，凭借丰富的金融行业经验、互联网优势，联合国内领先的金融机构、产业龙头进行战略合作，深耕每个细分的朝阳行业，一方面为优质的，但有借贷需要的中小企业解决资金短缺的难题，另一方面不断设计优质的信贷产品，为投资用户提供高收益、安全透明、期限灵活的理财产品。网利宝的业务模式执行360度全方位风险控制，强调把风险控制在贷前、打造风险闭环，确保理财产品安全可靠，为投资者财富增值保驾护航。具体手段上，网利宝为投资者资金安全提供三重保障：<br>
        |1、抵押物处置<br>
        |2、第三方合作/担保机构<br>
        |3、千万级风险准备金