doctype html
html
  head
    title 资金统计
    include include/fuel_head.jade
  body

    .fuel-statistics-head
      .fuel-save-amount
        span.amount 3000
        |元
      .fuel-save-date 2015-11-30注册至今累计节省

    .fuel-statistics-item
      .fuel-statistics-list
        .product-type
          .product-type-name.product-green 初级理财加油卡
          .product-dec 产品类型
        .product-buy
          .product-buy-number 2/3
          .product-dec 产品类型
        .product-save
          .product-save-amount 200
          .product-dec 节省(元)

      .fuel-statistics-list
        .product-type
          .product-type-name.product-yellow 中级理财加油卡
          .product-dec 产品类型
        .product-buy
          .product-buy-number 2/3
          .product-dec 产品类型
        .product-save
          .product-save-amount 200
          .product-dec 节省(元)

      .fuel-statistics-list
        .product-type
          .product-type-name.product-red 高级理财加油卡
          .product-dec 产品类型
        .product-buy
          .product-buy-number 2/3
          .product-dec 产品类型
        .product-save
          .product-save-amount 200
          .product-dec 节省(元)
