doctype html
html
  head
    title 购买记录
    include include/fuel_head.jade
  body
    nav.records-nav
      ul
        li.active
          a(href="/fuel_card/buy-record/auditing/") 审核中
        li
          a(href="/fuel_card/buy-record/done/") 已完成


    .records-item
      if data
        for list in data
          .records-list.records-list-blue
            .records-card-amount
              principal = int(list.principal)
              span.amount {{principal}}
              |元
            .records-card-detail
              .records-name {{list.product_amortization.product.name}}
              .records-dec
                span.records-propress-text 已得150元理财加油卡
                span.records-propress-num {{list.term}}/{{list.product_amortization.product.amortization_count}}
              .records-date {{list.term_date | date:"Y-m-d"}}

      else
        .records-default
          img(src='/static/imgs/mobile_fuelcard/public/default.png')
          p 暂无记录，快去投资吧！

