doctype html
html
  head
    title 实名认证
    include include/fuel_head.jade
  body
    .fuel-process-img.fuel-process-imgspace-three
      img(src='/static/imgs/mobile_fuelcard/input_icon/three.png')

    .fuel-authentication-warp

      .regist-process-leo
        p.red 恭喜您，成功完成新手任务
        p.grey 奖励已经放入您的帐户，<br>请查收,首次投资还有红包送哦

      .fuel-success-regist-warp
        button(type='submit').fuel-password-submit 查看加油卡
