doctype html
html
  head
    title 兑换记录
    include include/fuel_head.jade
  body
    nav.records-nav
      ul
        if status  == 'receiving'
          li.active
            a(href="/fuel_card/exchange-record/receiving/") 待收
          li
            a(href="/fuel_card/exchange-record/exchanging/") 已收到未领取
        else
          li
            a(href="/fuel_card/exchange-record/receiving/") 待收
          li.active
            a(href="/fuel_card/exchange-record/exchanging/") 已收到未领取

    .records-exchange-item
      if data
        for list in data
          .records-exchange-warp
            .records-exchange-list
              .records-card-date {{list.exchange_time | date:"Y-m-d"}}
              .records-card-count {{list.term_amount}}元{{list.class_name}} x {{list.exchange_parts}}
              if status == 'exchanging'
                a(href='javascript:void(0)').records-show-card 查看卡密
            if status == 'exchanging'
              ul.code-layout
                for val in list.reward
                  li 兑换号为: {{val.conversion_code}}

    script(src='/static/scripts/mobile_fuelcard/dev/vendor.zepto.js')
    script(src='/static/scripts/mobile_fuelcard/dev/records.js')

