doctype html
html
  head
    title 兑换记录
    include include/fuel_head.jade
  body
    nav.records-nav
      ul
        if status  == 'receiving'
          li.active
            a(href="/fuel_card/exchange-record/receiving/") 待收
          li
            a(href="/fuel_card/exchange-record/exchanging/") 已收到未领取
        else
          li
            a(href="/fuel_card/exchange-record/receiving/") 待收
          li.active
            a(href="/fuel_card/exchange-record/exchanging/") 已收到未领取
    .records-exchange-item
      if data
        for list in data
          .records-exchange-list
            .records-card-date {{list.exchange_time | date:"Y-m-d"}}
            .records-card-count 150元理财加油卡 x {{list.exchange_parts}}
            //a(href='#').records-show-card 查看卡密

