-load formatters
doctype html
html
  head
    title 购买
    include include/fuel_head.jade
  body
    .fuel-buy-title 产品详情

    .fuel-product-detail
      .fuel-detail-list
        .fuel-list-name 期限

        .fuel-list-value {{product.period}}{{product.pay_method | period_unit}}

      .fuel-detail-list
        .fuel-list-name 每月获得
        amount = int(product.equality_prize_amount)
        .fuel-list-value {{amount}}元
      .fuel-detail-list
        .fuel-list-name 使用范围
        .fuel-list-value {{using_range}}

      .fuel-detail-list
        .fuel-list-name 购买分数
        .fuel-list-value
          span.reduce-num.num-disabled -
          span.value-num 1
          span.add-num +

    .fuel-buy-title 支付信息

    .fuel-product-detail
      .fuel-detail-list
        .fuel-list-name 帐户余额
        .fuel-list-value.fuel-balance(data-balance='{{user.margin.margin}}') {{user.margin.margin | money_format}}元
      .fuel-detail-list
        .fuel-list-name 待支付金额
        per = int(product.limit_min_per_user)
        .fuel-list-value.fuel-list-value-red
         span.fuel-per(data-per='{{per}}') {{per}}
         |元

    .fuel-post-sumit-warp
      button(type='submit',data-id='{{product.id}}', ).fuel-post-sumit.fuel-buy 确认购买并支付
    include include/fuel_errorsign
    include include/fuel_confirm
    include include/fuel_alert
    script(src='/static/scripts/mobile_fuelcard/dev/vendor.zepto.js')
    script(src='/static/scripts/mobile_fuelcard/dev/buy.js')
