doctype html
html
  head
    title 购买
    include include/fuel_head.jade
  body
    //.fuel-account-list
      .fuel-list-icon.account-phone
      .fuel-list-name 手机号
      .fuel-list-authen 已认证
      .fuel-list-text 130****0575
      .fuel-list-recharge 充值
      .fuel-list-arrow

    .fuel-account-list
      .fuel-list-icon.account-phone
      .fuel-list-name 手机号
      .fuel-list-text 130****0575
    .fuel-account-space-1

    .fuel-account-list
      .fuel-list-icon.account-authen
      .fuel-list-name 实名认证
      .fuel-list-authen 已认证
      .fuel-list-unauthen 未认证
      .fuel-list-arrow


    .fuel-account-space-10

    .fuel-account-list
      .fuel-list-icon.account-balance
      .fuel-list-name 账户余额
      .fuel-list-text.fuel-magin-right-15 6000元
      a(href='/fuel/recharge/').fuel-list-recharge 充值
    .fuel-account-space-1

    a(href='/fuel/bank/').fuel-account-list
      .fuel-list-icon.account-card
      .fuel-list-name 银行卡
      .fuel-list-text.fuel-magin-right-4 2张
      .fuel-list-arrow

    .fuel-account-space-10

    a(href='/fuel/change/login-psw/').fuel-account-list
      .fuel-list-icon.account-login-password
      .fuel-list-name 修改登录密码
      .fuel-list-arrow
    .fuel-account-space-1

    a(href='/fuel/change/trans-psw/').fuel-account-list
      .fuel-list-icon.account-transaction-password
      .fuel-list-name 修改交易密码
      .fuel-list-arrow
    .fuel-account-space-1

    a(href='/fuel/set/trans-psw/').fuel-account-list
      .fuel-list-icon.account-forget-password
      .fuel-list-name 找回交易密码
      .fuel-list-arrow

    .fuel-account-sign 本账户余额可同时投资于网利宝平台产品