doctype html
html
  head
    title 兑换记录
    include include/fuel_head.jade
  body
    nav.records-nav
      ul
        if status  == 'receiving'
          li.active
            a(href="/fuel_card/exchange-record/receiving/") 待收
          li
            a(href="/fuel_card/exchange-record/exchanging/") 已收到未领取
        else
          li
            a(href="/fuel_card/exchange-record/receiving/") 待收
          li.active
            a(href="/fuel_card/exchange-record/exchanging/") 已收到未领取

    .records-exchange-item

      .records-exchange-warp
        .records-exchange-list
          .records-card-date 20151023
          .records-card-count 150元理财加油卡 x 1
          a(href='javascript:void(0)').records-show-card 查看卡密
        ul.code-layout
          li 兑换号为: 12313213
          li 兑换号为: 12313213


      .records-exchange-warp
        .records-exchange-list
          .records-card-date 20151023
          .records-card-count 150元理财加油卡 x 1
          a(href='javascript:void(0)').records-show-card 查看卡密
        ul.code-layout
          li 兑换号为: 12313213
          li 兑换号为: 12313213


    script(src='/static/scripts/mobile_fuelcard/dev/vendor.zepto.js')
    script(src='/static/scripts/mobile_fuelcard/dev/records.js')

