doctype html
html
  head
    title 充值
    include include/fuel_head.jade
  body
    .fuel-product-detail
      .fuel-detail-list
        .fuel-list-name 帐户余额
        .fuel-list-value 130****0575
      .fuel-detail-list
        .fuel-list-name 开户银行
        .fuel-list-value 招商银行
      .fuel-detail-list
        .fuel-list-name 银行卡号
        .fuel-list-value 6243*****4787

    .fuel-input-public.fuel-rechage-space
      .fuel-input-name 充值金额
      input(type='tel', name='recharge', placeholder= '请输入100的整数倍数金额').fuel-input-main

    .fuel-rechage-sumit-warp
      button(type='submit').fuel-rechage-sumit 立即充值