-load formatters
-load mathfilters
doctype html
html
  head
    title 购买
    include include/fuel_head.jade
  body

    .fuel-account-list
      .fuel-list-icon.account-phone
      .fuel-list-name 手机号

      .fuel-list-text {{user | display_name}}
    .fuel-account-space-1

    if user.wanglibaouserprofile.id_is_valid
      .fuel-account-list
        .fuel-list-icon.account-authen
        .fuel-list-name 实名认证
        .fuel-list-authen 已认证
    else
      a(href='/fuel_card/regist/authentication/').fuel-account-list
        .fuel-list-icon.account-authen
        .fuel-list-name 实名认证
        .fuel-list-unauthen 未认证
        .fuel-list-arrow

    .fuel-account-space-10

    .fuel-account-list
      .fuel-list-icon.account-balance
      .fuel-list-name 账户余额
      .fuel-list-text.fuel-magin-right-15 {{user.margin.margin | money_format}}元
      a(href='/fuel_card/recharge/').fuel-list-recharge 充值
    .fuel-account-space-1

    a(href='/fuel_card/bank/').fuel-account-list
      .fuel-list-icon.account-card
      .fuel-list-name 银行卡
      .fuel-list-text.fuel-magin-right-4 {{card_count}}张
      .fuel-list-arrow

    .fuel-account-space-10

    a(href='/fuel_card/change/login-psw/').fuel-account-list
      .fuel-list-icon.account-login-password
      .fuel-list-name 修改登录密码
      .fuel-list-arrow
    .fuel-account-space-1

    .fuel-logout-warp
      a(href='/accounts/logout?next=/fuel_card/index/').fuel-logout-submit 安全退出
    .fuel-account-sign 本账户余额可同时投资于网利宝平台产品