doctype html
html
  head
    title 加油卡
    include include/fuel_head.jade
  body
    .test 哈哈

    script(src='/static/scripts/mobile_fuelcard/lib/zepto.js')
    script(src='/static/scripts/mobile_fuelcard/index.js')