-load formatters
doctype html
html
  head
    title 资金统计
    include include/fuel_head.jade
  body

    .fuel-statistics-head
      .fuel-save-amount
        counts = int(count)
        span.amount {{counts}}
        |元
      .fuel-save-date {{register_time | date:"Y-m-d" }} 注册至今累计节省

    .fuel-statistics-item

      if data
        each product in data
          .fuel-statistics-list
            .product-type
              .product-type-name.product-green {{product.name}}
              .product-dec 产品类型
            .product-buy
              .product-buy-number 2/3
              .product-dec 产品类型
            .product-save
              .product-save-amount 200
              .product-dec 节省(元)

          //.fuel-statistics-list
            .product-type
              .product-type-name.product-yellow 中级理财加油卡
              .product-dec 产品类型
            .product-buy
              .product-buy-number 2/3
              .product-dec 产品类型
            .product-save
              .product-save-amount 200
              .product-dec 节省(元)

          //.fuel-statistics-list
            .product-type
              .product-type-name.product-red 高级理财加油卡
              .product-dec 产品类型
            .product-buy
              .product-buy-number 2/3
              .product-dec 产品类型
            .product-save
              .product-save-amount 200
              .product-dec 节省(元)
