doctype html
html
  head
    title 购买
    include include/fuel_head.jade
  body
    .fuel-product-detail
      .fuel-detail-list
        .fuel-list-name 帐户余额
        .fuel-list-value 130****0575
      .fuel-detail-list
        .fuel-list-name 开户银行
        .fuel-list-value 招商银行
      .fuel-detail-list
        .fuel-list-name 银行卡号
        .fuel-list-value 6243*****4787



    .fuel-post-sumit.fuel-buy 立即充值