-load formatters
doctype html
html
  head
    title 购买
    include include/fuel_head.jade
  body
    .fuel-section-head
      .fuel-head-user
        .fuel-head-left
          .fuel-save-number
            revenue = int(revenue_count)
            span.amount {{revenue}}
            span.text 元
          .fuel-save-text 累计节省
        .fuel-head-right
          if user.is_authenticated
            a(href='/fuel/account/').fuel-user {{user | display_name}}
          else
            a(href='/fuel/account/').fuel-user 立即登录
          .fuel-notice {{effect_count}}份理财加油卡生效中

      .fuel-nav-nav
        .fuel-nav-list.fuel-nav-around
          a(href='/fuel/records/product/').fuel-nac-buy 购买记录
        .fuel-nav-list.fuel-nav-center
          a(href='/fuel/records/exchange/').fuel-nac-take 兑换记录
        .fuel-nav-list.fuel-nav-around
          a(href='/fuel/about/').fuel-nac-about 关于我们
    .fuel-section-product
      .product-left-name 服务产品列表
      a(href='/fuel/dec/').product-right-dec 产品说明

    .fuel-product-item
      if products
        each product in products
          if product
            a(href='/fuel/buy/fuel_card/{{product.id}}').fuel-product-list
              .fuel-pdt-title
                .fuel-pdt-name(class='fuel-pdt-green') {{product.name}}
                .fuel-pdt-fiter {{product.car}}
              .fuel-pdt-cont
                .fuel-pdt-term.fuel-pdt-section
                  .pdt-date
                    span.pdt-date-num {{product.period}}
                    |{{product.pay_method | period_unit}}
                  .pdt-name 期限
                .fuel-pdt-amount.fuel-pdt-section
                  .pdt-date
                    amount = int(product.equality_prize_amount)
                    span.pdt-date-num {{amount }}
                    |元
                  .pdt-name 每月加油卡
                .fuel-pdt-buy
                  per = int(product.limit_min_per_user)
                  .fuel-buy-min {{per}}元即可获得
                  .fuel-buy-submit 立即选购


    script(src='/static/scripts/mobile_fuelcard/dev/vendor.zepto.js')
    script(src='/static/scripts/mobile_fuelcard/dev/index.js')