doctype html
- with '关于网利宝' as title
include include/head
- endwith
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
body
  include include/header
  include include/navigation
  .container.margin-bottom-xxl
    .siderbar-div
      - with '关于我们' as title
      include include/about_sidebar
      - endwith
    .panel-padding.span9-omega
      .well-s
        h1.about-title {{about_us.title}}
        |{{about_us.content|safe}}


  include include/footer
  include include/tracking
