doctype html
- with '关于网利宝' as title
include include/head
- endwith
body
  include include/header
  include include/navigation
  .container
    .panel-nopadding.siderbar-div
      - with '关于网利宝' as title
      include include/about_sidebar
      - endwith
    .panel-padding.span9-omega
      .well-s
        h1.title 关于网利宝
        h1.sub-title 关于网利宝
        p.para 网利宝是针对中国中产阶级人群的一站式网络理财服务平台，我们通过专业团队、稀缺投资资源以及优秀的互联网产品，为投资者提供全方位VIP关怀。
        br
        p.para 网利宝把国外传统的“私人银行”模式引入中国，我们通过独有的用户投资专业评估体系和个人理财数据分析算法，利用PC和移动互联网等方式，为客户提供个性化投资产品推荐，降低理财门槛，提高投资者的理财收益水平。
        br
        h1.sub-title 创始团队
        p.para 创始人 KC
        br
        p.para “友林网”创始人及CEO，2005年创业并发展成为全球最大 海外华人留学生SNS网站，后被红杉资本投资的占座网收购。拥有多年国内外顶级金融经验，曾任职摩根斯坦利、美林证券美国硅谷TMT总部，负责TMT M&A业务。毕业于伯克利大学，是最高荣誉毕业生。
        br
        p.para 联合创始人 王超
        br
        p.para 毕业于中国科学院，获硕士学位，曾就职于华夏基金，领导开发了华夏基金风控、交易等核心系统，对公募基金有深刻理解。
        h1.sub-title 投资人背景
        p.para 2014年2月，网利宝获得IDG资本的千万美元A轮投资。自1992年开始，作为最早进入中国市场的国际投资机构之一，IDG资本已投资包括百度、腾讯、携程等200家优秀企业，并已有超过60家企业在美国、中国香港、中国A股证券市场上市，或通过M&A成功退出。
  include include/footer
  include include/tracking
