doctype html
- with '我的账户' as title
include include/head
- endwith
body
  include include/header
  include include/navigation

  .row
    .span3
      ul.sidebar
        li.sidebar-item
          a.sidebar-anchor(href="/accounts/home/") 投资方案
        li.sidebar-item
          a.sidebar-anchor(href="/accounts/favorite/") 产品收藏
        li.sidebar-item.active
          a.sidebar-anchor(href="/accounts/setting/") 设置
    .span9-omega
      .panel
        .panel-title-bar
          .panel-title 修改密码

        form#passwordChangeForm.well-s(method="POST")
          .form-row.form-row-m
            label.form-row-label.span1 原始密码
            input#old-password.span5(type="password", name="old-password")

          .form-row.form-row-m
            label.form-row-label.span1 新密码
            input#new-password1.span5(type="password", name="new-password1")

          .form-row.form-row-m
            label.form-row-label.span1 再次输入
            input#new-password2.span5(type="password", name="new-password2")

          .form-row.form-row-m
            button#passwordChangeButton.button.button-middle.button-yellow(type="submit") 提交

  include include/footer

  script(src='/static/js/require.js', data-main='/static/js/account_setting')

  include include/tracking