doctype html
- with '我的账户' as title
include include/head
- endwith
body
  include include/header
  include include/navigation

  .row
    .span3
      - with '账务总览' as activeItem
      include include/user_center_sidebar
      - endwith

    .span9-omega
      .panel-padding
        p.font-m
          span.nickname {{ user.wanglibaouserprofile.nick_name }}
          下午好
          span.phone ({{user.wanglibaouserprofile.phone}})
        .row.panel-padding(style='background-color: #FAFAFA')
          .span4
            p 总资产
            p 123元
          .span4
            p 总资产
            p 123元
          .span4-omega
            p 总资产
            p 123元

      .panel-padding

  include include/footer
  include include/templates
  script(src="/static/js/require.js", data-main="/static/js/account_home")

  include include/tracking
