doctype html
- with '我的账户' as title
include include/head
- endwith
body
  include include/header
  include include/navigation

  .row
    .span3
      ul.sidebar
        li.sidebar-item.active
          a.sidebar-anchor(href="/accounts/home/") 投资方案
        li.sidebar-item
          a.sidebar-anchor(href="/accounts/favorite/") 产品收藏
        li.sidebar-item
          a.sidebar-anchor(href="/accounts/setting/") 设置
    .span9-omega
      .panel
        .panel-title-bar
          .panel-title 我的评估结果
          a.button.button-yellow.button-small(href="#") 重新评估

        .container
          .span2
            .card-icon
              dl
                dt 风险承受能力
                dd(data-bind="text: riskScore")
          .span2
            .card-icon
              dl
                dt 可投资资金
                dd(data-bind="text: asset() + '万'")
          .span2
            .card-icon
              dl
                dt 投资期限
                dd(data-bind="text: period() + '个月'")
      .panel
        .panel-title-bar
          .panel-title 资产配置方案

        .well-s
          // ko template: {name: 'portfolio-bar', data: portfolio}
          // /ko

  .space-vertical-m
  include include/footer
  include include/templates
  script(src="/static/js/require.js", data-main="/static/js/account_home")

  include include/tracking
