doctype html
- with '我的账户' as title
include include/head
- endwith
body
  include include/header
  include include/navigation

  .row
    .span3
      ul.sidebar
        li.sidebar-item
          a.sidebar-anchor(href="/accounts/home/") 投资方案
        li.sidebar-item
          a.sidebar-anchor(href="/accounts/favorite/") 产品收藏
        li.sidebar-item.active
          a.sidebar-anchor(href="/accounts/setting/") 设置
    .span9-omega
      .panel
        .panel-title-bar
          .panel-title 基本信息

        .well-s
          .form-row.form-row-middle
            span.ispan1 邮箱:
            span.ispan2.margin-right-s {{user.email}}
            a.ispan1.button.button-yellow.button-mini(href="#") 修改
          .form-row.form-row-middle
            span.ispan1 手机号码:
            if user.wanglibao_profile.phone_verified
              span.ispan2.margin-right-s 138xxxx2323
              a.button.button-yellow.button-mini(href="#") 修改
            else
              input.ispan2.margin-right-s(type="text")
              a.button.button-yellow.button-mini(href="#") 绑定

      .panel
        .panel-title-bar
          .panel-title 修改密码

        form#passwordChangeForm.well-s(method="POST")
          .form-row.form-row-middle
            label.form-row-label.span1 原始密码
            input#old-password.span5(type="password", name="old-password")

          .form-row.form-row-middle
            label.form-row-label.span1 新密码
            input#new-password1.span5(type="password", name="new-password1")

          .form-row.form-row-middle
            label.form-row-label.span1 再次输入
            input#new-password2.span5(type="password", name="new-password2")

          .form-row.form-row-middle
            button#passwordChangeButton.button.button-middle.button-yellow(type="submit") 提交

  .space-vertical-m
  include include/footer

  script(src='/static/js/require.js', data-main='/static/js/account_setting')