-load formatters

doctype html
html
  - with '注册成功' as title
  include include/head
  - endwith

  body
    include include/header
    - with '首页' as activeItem
    include include/navigation
    - endwith
    .panel-nopadding
      .panel-text
        欢迎您，邮箱验证成功。请<a href="/accounts/login/?&next=/">登录</a>

    include include/footer

    include include/tracking