doctype html
- with '注册协议' as title
include include/common_head
- endwith
body
  include global/g_nav
  .container
    .agreement-panel
      h1 {{about_us.title}}
      |{{about_us.content|safe}}
      br

  include global/g_footer