doctype html
- with '互联网金融公司排名_有哪些_网利宝理财平台100起投_网利宝' as title
include include/common_head
- endwith
meta(name="keywords", content="互联网金融,互联网金融公司排名,互联网金融公司有哪些,网利宝")
meta(name="description", content="网利宝（www.wanglibao.com）是中国领先的互联网金融p2p理财、p2p网贷平台。网利宝在国内互联网金融公司排名前百强，IDG资本+A股公司千万美元入股已经网利宝。")
body
  include global/g_nav
  .container.margin-bottom-xxl
    .siderbar-div
      - with '公司展示' as title
      include include/about_sidebar
      - endwith
    .panel-padding.span9-omega
      .well-s
        h1.about-title {{about_us.title}}
        |{{about_us.content|safe}}


  include global/g_footer
  include include/tracking
