doctype html
- with '个人理财' as title
include include/head
- endwith
body
  include include/header

  - with '免费定制个人方案' as activeItem
  include include/navigation
  - endwith

  .panel-padding
    .panel-title-bar
      .panel-title
        span 我的理财方案：
        span(data-bind="text: portfolioName")
    .panel-bar-s
      dl.ispan11
        dt 投资金额：
        dd(data-bind="text: asset() + '万'")
        dt 投资期限：
        dd(data-bind="text: period() + '个月'")

      .ispan1
        a#question-button.button-small-round.button-red(href="#question-form") 重新定制

    .panel-inner
      .row
        .span3
          #portfolio.portfolio-chart
          p.chart-annotation 全额配比分析图

        .span9-omega.margin-top-m
          .row
            .pull-right(style="width:80%")
              // ko template: {name: 'portfolio-product-table', data: dataTable}
              // /ko

            .pull-left(style="width:20%")
              ul(data-bind="foreach: productTypes()")
                li.product-tab.active(data-bind="css:{active: $data.productType == $root.productsType()}")
                  span.icon-color(data-bind="style:{background: color}")
                  a.product-tabs--cash(href="#", data-bind="text: productType, click:$root.selectProduct") 现金

      .row
        .well-s
          a#savePortfolio.button-red.button-large.pull-right(href="#", data-bind="click: savePortfolio") 保存我的投资方案

    .panel-title-bar
      .panel-title 收益预览
    .panel-bar-s 以下为该方案，您未来三个月的收益预览

    .row.margin-top-m
      .span6
        table.portfolio-income-table
          thead
            tr
              th 类型
              th 5月
              th 6月
              th 7月
          tbody(data-bind="foreach: productTypes()")
            tr
              td(data-bind="text: productType")
              td(data-bind="text: Math.floor($root.asset() * $data.percent / 100 * $data.earning_rate / 100 / 12 * 10000)")
              td(data-bind="text: Math.floor($root.asset() * $data.percent / 100 * $data.earning_rate / 100 / 12 * 2 * 10000)")
              td(data-bind="text: Math.floor($root.asset() * $data.percent / 100 * $data.earning_rate / 100 / 12 * 3 * 10000)")

        .row.padding-s
          i.icon-info.margin-right-s
          span 该数据为网利宝根据目前收益预测数据，仅供参考
      .span6-omega
        .earning-rate-panel(style="position: relative")
          .huoqi
            p(style="position: relative; top: -20px; text-align:center") 活期
          .wanglibao-bar(data-bind="style: {height: timesBankRate() * 5 + 'px'}")
            p(style="position: relative; top: -20px; text-align:center") 网利宝

          div.earning-rate-content
            p
              |是银行活期存款收益的
              span.numberpad(data-bind="text: Math.floor((timesBankRate()/10))") 2
              span.numberpad(data-bind="text: timesBankRate()%10") 8
              |倍
            p 该方案预期年收益
              span.earning-text(data-bind="text: Math.floor(portfolioEarningRate() / 100 * asset() * 10000)")
              |元

  form#question-form.order-form(style="display:none")
    .modal-title-bar
      span.modal-title 定制我的理财方案
      a.icon-cancel.pull-right(rel="modal:close")
    .padding-s
      //ko foreach: questions
      .form-row
        .ispan3
          label.align-right(data-bind="text:$data.question + '：'")

        .ispan7
          //ko if: _.has($data, 'options')
          select.ispan7(data-bind="options: $data.options, optionsText: 'title', optionsValue: 'value', value: $data.answer")
          // /ko

          //ko if: _.has($data, 'input')
          span(style="position:relative")
            input(type='text', data-bind="value: answer")
            span(style="position:absolute; right: 5px; line-height: 40px", data-bind="text: $data.input.suffix")
          // /ko
      // /ko

      div.margin-top-s.clearfix
        a.button-middle.button-red.prefix3.span6(data-bind="click: $root.finishSurvey") 定制方案

  include include/footer
  include include/templates

  script.
    require(["/static/js/consult.js"])

  include include/tracking