doctype html
- with '联系方式' as title
include include/common_head
- endwith
body
  include global/g_nav
  .container.margin-bottom-xxl
    .siderbar-div
      - with '联系方式' as title
      include include/about_sidebar
      - endwith

    .panel-padding.span9-omega
      .well-s
        |{{about_us.content|safe}}

  include global/g_footer
  include include/tracking
