doctype html
- with '联系方式' as title
include include/head
- endwith
body
  include include/header
  include include/navigation
  .container.margin-bottom-xxl
    .siderbar-div
      - with '联系方式' as title
      include include/about_sidebar
      - endwith

    .panel-padding.span9-omega
      .well-s
        div.contact-map
        br
        p.para 地址：北京市朝阳区霄云路天元港中心A座610室 邮编：100027
        br
        p.para 金融产品合作：licai@wanglibank.com
        br
        p.para 商务合作：bd@wanglibank.com
        br
        p.para 传真：010-8441 7763
        br
        p.para 电话：400-8588-066
  include include/footer
  include include/tracking
