doctype html
- with '联系方式' as title
include include/head
- endwith
body
  include include/header
  include include/navigation
  .container.margin-bottom-xxl
    .siderbar-div
      - with '联系方式' as title
      include include/about_sidebar
      - endwith

    .panel-padding.span9-omega
      .well-s
        |{{about_us.content|safe}}

  include include/footer
  include include/tracking
