- load formatters
doctype html
- with '基金产品详情' as title
include include/head
- endwith
body
  include include/header
  - with '基金产品' as activeItem
  include include/navigation
  - endwith
  .sub-navbar
    .sub-navbar--list
      ul
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{%url 'fund_home'%}") 基金首页
        li.sub-navbar--list-item
          a.sub-navbar--anchor.active(href="{% url 'fund_products' %}") 基金产品
  .container
    .span8.panel.panel-header
      .row
        .span8
          .panel-bar-s
            .panel-title-l {{ fund.name }}
          .well
            .row
              .span8
                dl.span6.key-value
                  dt 销售币种：
                  dd 人民币
                dl.span6-omega.key-value
                  dt 收益类型：
                  dd 浮动收益
            .row
              .span8
                dl.span6.key-value
                  dt 是否保本：
                  dd 不保本
                dl.span6-omega.key-value
                  dt 销售状态：
                  dd 在售
        .span4-omega
          .span6
            .card-icon
              dl
                dt 7日年化收益
                dd {{fund.profit_rate_7days | percentage}}
          .span6-omega
            .card-icon
              dl
                dt 产品期限
                dd 50天
        .row.panel-footer
          .well
            p.pull-left 银行客服电话: {{fund.issuer.phone}}
            if is_favorited != 1
              a#addToFavorite.pull-right(href="#", data-id="{{fund.id}}", data-is-favorited="{{is_favorited}}")收藏
            else
              a#addToFavorite.pull-right(href="#", data-id="{{fund.id}}", data-is-favorited="{{is_favorited}}")取消收藏

    .span4-omega.panel.panel-header
      .panel-title-bar-s
        span.panel-title 收益计算器
      form
        .form-row
          label.span3.form-row-label 投资额度
          input.span8(type="text")

  .panel
    .panel-title-bar
      .panel-tabs
        .panel-tab.active 产品详情
    .well
      p 购买信息
      table.bordered-table
        tbody
          tr
            th 发行银行
            td {{fund.hosted_bank}}
            th 发行对象
            td {{fund.target_user}}
            th 货币币种
            td {{fund.currency}}
          tr
            th 投资类型
            td {{fund.invest_type}}
            th 发行起始日期
            td {{fund.start_date | na_if_none}}
            th 发行终止日期
            td {{fund.end_date | na_if_none}}
          tr
            th 委托管理期限
            td {{fund.management_period | month}}
            th 委托币种起始金额
            td {{fund.management_threshold}}
            th 起购金额递增单位
            td {{fund.invest_step}}
          tr
            th 可否质押贷款
            td {{fund.pledgable | yes_no}}
            th 银行是否可提前终止
            td {{fund.bank_redeemable | yes_no}}
            th 客户是否可赎回
            td {{fund.client_redeemable | yes_no}}
          tr
            th 销售地区
            td(colspan="5") {{fund.available_region}}

      p 其他说明
      table.bordered-table
        tbody
          tr
            th(colspan="1") 收益说明
            td(colspan="5") {{fund.profit_description}}
          tr
            th(colspan="1") 申购条件说明
            td(colspan="5") {{fund.buy_description}}
          tr
            th(colspan="1") 银行提前终止条件
            td(colspan="5") {{fund.bank_redeem_condition}}
          tr
            th(colspan="1") 赎回规定说明
            td(colspan="5") {{fund.client_redeem_description}}
          tr
            th(colspan="1") 投资风险说明
            td(colspan="5") {{fund.risk_description}}


  .space-vertical-s
  include include/footer
  script(src="/static/js/require.js" data-main="/static/js/fund_detail")

  include include/tracking