doctype html
- with '招贤纳士' as title
include include/head
- endwith
body
  include include/header
  include include/navigation
  .container
    .siderbar-div
      - with '招贤纳士' as title
      include include/about_sidebar
      - endwith
    .panel-padding.span9-omega
      .well-s
        h1.about-title 招贤纳士
        p.para “网利宝，中国第一家互联网私人银行”招募核心创始团队成员，我们期待“热情阳光、充满激情、热爱奋斗、有能力、有自信的你”与我们并肩奋斗！
        br
        p.para 成员关爱工程：
        ul(style="list-style:decimal; margin-left:20px; font-size: 14px")
          li 期权、奖金、年度旅游，多重激励机制；
          li 五险一金、带薪年假、节日关怀、定期体检；
          li 良好的工作氛围和环境，弹性工作；
          li 完善的员工培养和职业发展体系，与企业同步成长；
          li 扁平化管理，充分尊重、信任、引导、鼓励员工；
          li 帅哥多、美女更多，708090后、团结奋斗、快乐成长！
        br
        p.para 工作地点：北京 有意者请将简历发送至<a href="mailto:hr@wanglibank.com">hr@wanglibank.com</a>
        p.para 诚聘以下职位：

        h1.sub-title 产品经理
        p.para 岗位职责：
        p.para 1、负责商业基础平台的规划、设计与实施，持续改善产品体验，提升网站效果；
        p.para 2、负责用户需求分析、竞品分析、行业分析等工作，拓展产品合作，规划产品演进；
        p.para 3、负责支付或用户类产品前后台的功能设计及流程优化，提升用户体验，优化运营效率；
        p.para 4、持续跟踪竞品，配合制定营销策略，对平台商业产品进行完善及创新；
        p.para 5、持续对企业数据进行挖掘，为营销分析及市场分析提供数据参考。
        p.para 任职要求：
        p.para 1、3年以上互联网产品经验；
        p.para 2、独立完成过大型网站的单一产品设计；
        p.para 3、有大型网站用户类产品（含PC及移动客户端）工作经验者的优先；
        p.para 4、有互联网金融行业、O2O工作经验的优先；
        p.para 5、具备很好的学习钻研能力，良好的商业道德和个人职业道德，工作能够服从安排，有很强的事业心和进取精神，能承受一定的工作压力。

        h1.sub-title PHP开发工程师
        p.para 岗位职责：
        p.para 1、协同完成网站产品的技术架构设计；
        p.para 2、独立完成公司网站产品的功能模块编码；
        p.para 3、负责网站平台相关业务模块的分析、设计；
        p.para 4、参于各项目中的编码工作；
        p.para 5、相关开发文档的整理与编写。
        p.para 任职要求：
        p.para 1、本科以上学历，有两年以上PHP开发经验，有大型网站或者电子商务网站开发经验者优先；
        p.para 2、熟练掌握XML、HTML/XHTML、CSS、javascript、AJAX、JSON等Web页面技术；
        p.para 3、精通PHP+MySQL程序设计及开发，拥有良好的代码习惯，要求结构清晰，命名规范，逻辑性强，代码冗余率低；
        p.para 4、熟练使用MySQL、Oracle数据库，可以写出高效的SQL语句；
        p.para 5、熟悉linux开发环境和SVN,bugzilla等类似的项目管理软件，能很快适应linux开发环境；
        p.para 6、具备很好的学习钻研能力，良好的商业道德和个人职业道德，工作能够服从安排，有很强的事业心和进取精神，能承受一定的工作压力。
        h1.sub-title Python开发工程师
        p.para 岗位职责：
        p.para 1、独立完成后台服务功能模块的设计与开发；
        p.para 2、配合团队其他成员进行模块开发及整合；
        p.para 3、维护所负责的服务模块，并不断持续优化功能系统；
        p.para 4、确保所负责的服务模块能够达到产品要求的质量标准（响应、错误率、不间断服务指标）。
        p.para 任职要求：
        p.para 1、本科以上学历，精通python，熟悉django或其他web框架，两年或以上python工作经验；
        p.para 2、熟悉restful，oauth等框架或者技术；
        p.para 3、有良好的代码编写习惯，熟悉使用git或hg等代码管理工具；
        p.para 4、有OpenSource项目经验加分；
        p.para 5、具备很好的学习钻研能力，良好的商业道德和个人职业道德，工作能够服从安排，有很强的事业心和进取精神，能承受一定的工作压力。
        h1.sub-title IOS开发工程师
        p.para 岗位职责：
        p.para 1、负责iOS平台产品研发工作；
        p.para 2、协助项目负责人制定需求、发布产品；
        p.para 3、参与用户反馈，持续优化产品。
        p.para 任职要求：
        p.para 1、计算机或相关专业本科及以上学历；
        p.para 2、2年以上iOS 平台开发经验，熟悉iOS框架和各种特性，在iTunes应用商店发布过产品的优先；
        p.para 3、扎实的数据结构及算法基础，理解面向对象设计的基本原则，熟悉常用的设计模式；
        p.para 4、具备很好的学习钻研能力，良好的商业道德和个人职业道德，工作能够服从安排，有很强的事业心和进取精神，能承受一定的工作压力。
        h1.sub-title Android开发工程师
        p.para 岗位职责：
        p.para 1、负责Android平台下的APP应用开发；
        p.para 2、负责根据产品需求完成模块设计、编码、编码集成工作；
        p.para 3、根据开发过程中的体验对产品提出改进意见；
        p.para 4、改善软件的易用性，提升用户使用体验。
        p.para 任职要求：
        p.para 1、本科以上学历，2年以上android应用开发经验，能够完整编写整个产品；
        p.para 2、熟练掌握常用android API ，深入理解android 平台架构、主要组成和工作模式；
        p.para 3、具有良好的计算机软件基础（数据结构算法，java，设计模式）及编程风格；
        p.para 4、主导或独立开发并发布至少1款成熟的android产品可加分；
        p.para 5、具备很好的学习钻研能力，良好的商业道德和个人职业道德，工作能够服从安排，有很强的事业心和进取精神，能承受一定的工作压力。
        h1.sub-title UI设计师
        p.para 岗位职责:
        p.para 1、负责公司产品UI设计和优化；
        p.para 2、负责公司产品界面UI研究，设计流行趋势分析；
        p.para 3、辅助设计总监的工作。
        p.para 任职要求:
        p.para 1、有1年以上移动互联网产品视觉设计工作经验；
        p.para 2、同时具备UI视觉设计、交互设计能力，视觉为主、交互可为辅， 能准确理解产品需求；
        p.para 3、协作能力强，能与产品汪、程序猿高效配合；
        p.para 4、有过金融软件产品经验的优先。
        p.para 5、具备很好的学习钻研能力，良好的商业道德和个人职业道德，工作能够服从安排，有很强的事业心和进取精神，能承受一定的工作压力。
        h1.sub-title 客服主管
        p.para 岗位职责：
        p.para 1、 负责完善呼叫中心和客户服务中心，同时监控及提升呼叫中心日常业务质量，处理现场突发事件；
        p.para 2、 定期对所受理的业务内容进行分析，并输出分析报告；
        p.para 3、 负责与相关部门协调，完善服务流程与服务规范；
        p.para 4、 团队建设，保证团队员工的积极工作心态；
        p.para 5、 保证各项KPI指标的达成；
        p.para 6、 结合实际业务，对业务流程、制度、系统提出合理化建议；
        p.para 7、 完成上级领导交办的临时工作。
        p.para 任职要求：
        p.para 1、 大专及以上学历；
        p.para 2、 3年呼叫中心工作经验，1年客服管理经验；
        p.para 3、 具有良好的沟通技能及协调能力；
        p.para 4、 具备快速准确的反应能力、敏锐的分析能力、较强的执行能力；
        p.para 5、 熟练使用office及各类办公软件,熟悉CRM系统操作与应用；
        p.para 6、具备很好的学习钻研能力，良好的商业道德和个人职业道德，工作能够服从安排，有很强的事业心和进取精神，能承受一定的工作压力。
        h1.sub-title 客服专员
        p.para 岗位职责：
        p.para 1、通过网络平台为客户提供快速、准确与专业的咨询服务，建立良好的客户关系；
        p.para 2、接听客服热线电话，及时解决客户问题；
        p.para 3、记录、上报、跟进、协调处理客户问题反馈；
        p.para 4、维护公司社交媒体账号，及时回答客户疑问。
        p.para 任职要求：
        p.para 1、大专及以上学历，专业不限，有金融从业经历者优先；
        p.para 2、性格活泼、开朗，沟通能力强，大方有亲和力；
        p.para 3、普通话标准、流利，口齿清楚、声音甜美，反应灵敏，优秀的语言表达能力和沟通能；
        p.para 4、较强的应变能力、协调能力，能独立处理紧急问题；
        p.para 5、良好的服务意识、耐心和责任心，工作积极主动；
        p.para 6、具备很好的学习钻研能力，良好的商业道德和个人职业道德，工作能够服从安排，有很强的事业心和进取精神，能承受一定的工作压力。
        h1.sub-title 市场经理
        p.para 岗位职责：
        p.para 1、根据金融产品分析用户群，拓展、管理、维护有效推广渠道；
        p.para 2、拟订并执行市场规划与预算；
        p.para 3、制定节日营销、专项市场推广计划，线上营销活动的策划和执行；
        p.para 4、对市场进行科学的预测和分析，并为产品的开发、生产及投放市场做出准备；
        p.para 5、跟进各项合作协议签署及结算。
        p.para 任职要求：
        p.para 1、3年以上互联网或金融行业市场营销经验，本科或以上学历；
        p.para 2、具备良好的团队合作意识、高度的责任心和诚信的工作作风，能独立、高效完成工作；
        p.para 3、较强的学习能力和适应新环境的能力，能承受较大工作压力。
        p.para 4、有知名公司工作经验者优先考虑。
        h1.sub-title PR专员
        p.para 岗位职责：
        p.para 1、拓展、管理、维护公司与媒体的良好关系；
        p.para 2、参与公关活动的策划、组织和执行；
        p.para 3、撰写相关宣传文章，发表媒体软文、新闻通稿，收集业内新闻资讯；
        p.para 4、收集行业会务信息，跟进公司参会及媒体报道、媒体专访；
        p.para 5、维护公司微博微信，负责公司品牌及形象推广；
        p.para 6、关注日常媒体等各个渠道的信息，舆情监控、危机公关。
        p.para 任职要求：
        p.para 1、有2年以上公关工作经验，有科技、金融媒体工作经验或行业资源者优先；
        p.para 2、较强的文字功底，思维活跃，对新事物敏感；
        p.para 3、较强的学习能力和适应新环境的能力，能承受较大工作压力；
        p.para 4、较强的亲和力、执行力、人际交往能力和应变能力；
        p.para 5、有知名公司工作经验者优先考虑；
        p.para 6、具备很好的学习钻研能力，良好的商业道德和个人职业道德，工作能够服从安排，有很强的事业心和进取精神，能承受一定的工作压力。
        h1.sub-title 社会媒体营销专员
        p.para 岗位职责：
        p.para 1、负责公司产品在各大社交媒体平台互动营销、口碑传播；
        p.para 2、对新事物敏感，擅于借助热点事件营销传播。
        p.para 3、负责对外宣传公益产品软文、推广文案、新闻撰写；
        p.para 4、协助配合网站、宣传资料的策划、编辑工作；
        p.para 5、能够按照公司要求，收集、分析任职领域的相关资料和信息。
        p.para 任职要求：
        p.para 1、中文、广告学、市场营销、经济管理等相关专业，本科或以上学历；
        p.para 2、活泼外向，思维活跃，善于创新，文笔好；
        p.para 3、擅长社会化媒体平台（微博、微信、QQ群、论坛）营销者优先考虑；
        p.para 4、具备良好的团队合作意识、高度的责任心和诚信的工作作风，能独立、高效完成工作；
        p.para 5、较强的学习能力和适应新环境的能力，能承受较大工作压力。
        p.para 6、2年以上微营销经验，有优秀成功营销案例者优先。
        h1.sub-title 金融产品经理
        p.para 职位描述：
        p.para 1、 负责与各金融机构、信托公司、银行、资管、券商等相关机构接洽、并展开合作；
        p.para 2、 负责与外部金融机构建立广泛的信息来源和良好的合作关系；
        p.para 3、 负责撰写项目建议书、可行性研究报告、商业计划书等；
        p.para 4、 负责参与投融资商务谈判，撰写相关报告和文件；
        p.para 5、 为公司产品设计合适方案，并推动实施。
        p.para 任职要求：
        p.para 1、三年以上金融机构个人理财产品的销售管理工作经验；
        p.para 2、本科或以上学历，营销、管理、金融等专业优先考虑；
        p.para 3、具有一定的信托、证券、资管和基金相关的金融基础知识；
        p.para 4、具备丰富的金融行业人脉，熟悉银行、信托、证券行业，有银行个人理财产品营销经验者优先考虑；
        p.para 5、具备良好的市场拓展能力，有丰富的高端客户资源和金融行业人脉；
        p.para 6、具备很好的学习钻研能力，良好的商业道德和个人职业道德，工作能够服从安排，有很强的事业心和进取精神，能承受一定的工作压力。
        h1.sub-title 理财产品销售专员
        p.para 职位描述：
        p.para 1、具备市场营销经验；
        p.para 2、能完成公司规定的销售任务和目标；
        p.para 3、准确把握客户需求，能够进行客户的开发与维护；
        p.para 4、对产品感悟性较好，能够进行项目运作；
        p.para 5、更多地挖掘客户的社会资源，积极拓宽市场。
        p.para 任职资格：
        p.para 1、大专以上学历，一年以上金融相关行业，如证券、基金、资产管理公司等销售经验；
        p.para 2、良好的沟通和表达能力,极具开拓精神；
        p.para 3、喜欢销售的相关工作；
        p.para 4、责任心强、工作积极主动、勤奋敬业；
        p.para 5、有良好的行业资源和客户资源者优先；
        p.para 6、具备很好的学习钻研能力，良好的商业道德和个人职业道德，工作能够服从安排，有很强的事业心和进取精神，能承受一定的工作压力。



  include include/footer
  include include/tracking
