doctype html
- with '招贤纳士' as title
include include/common_head
- endwith
body
  include global/g_nav
  .container.margin-bottom-xxl
    .siderbar-div
      - with '招贤纳士' as title
      include include/about_sidebar
      - endwith
    .panel-padding.span9-omega
      .well-s
        h1.about-title 招贤纳士
        p.para “网利宝，中国第一家互联网私人银行”招募核心创始团队成员，我们期待“热情阳光、充满激情、热爱奋斗、有能力、有自信的你”与我们并肩奋斗！

        br
        img(src="/static/images/hiring.jpg")
        br

        p.para 工作地点：北京
        p.para 有意者请将简历发送至 <a class="red-link" href="mailto:hr@wanglibank.com">hr@wanglibank.com</a>
        br
        p.para 诚聘以下职位：
        .seperator-gray-line

        ul.job-list
          for hiring in hirings
            li.job-item
              a(href="#job-{{ forloop.counter }}", data-role="modal") {{ hiring.name }}
              if hiring.is_urgent
                span.hot-gif
                  img(src="/static/images/hot.gif", alt="hot")

        for hiring in hirings
          .job-modal(id="job-{{forloop.counter}}", style="display:none")
            .modal-title-bar
              span.modal-title {{hiring.name}}
                if hiring.is_urgent
                  span.hot-gif
                    img(src="/static/images/hot.gif", alt="hot")
              a.icon-cancel.pull-right(rel="modal:close")

            .hiring-container
              .hiring-position 岗位职责：
              .hiring-content {{hiring.duties|safe}}
              .hiring-requirement 任职要求：
              .hiring-content {{hiring.requirements|safe}}

              .margin-top-m.align-center
                a.button-middle.button-red.padding-l-r-2em(href="mailto:hr@wanglibank.com") 发送简历
                a.red-link(href="mailto:hr@wanglibank.com") &nbsp;hr@wanglibank.com

  include global/g_footer
  script.
    require(["/static/js/hiring.js"])

  include include/tracking

