-load formatters
doctype html
html
    head
        - with '加入我们' as title
        include global/g_head
        - endwith
        meta(name="keywords", content="网利宝,网利宝官网,p2p金融,p2p理财,p2p网贷,P2p贷款,p2p平台,P2P网贷平台,互联网金融")
        meta(name="description", content="网利宝（www.wanglibao.com）是中国领先的互联网金融p2p理财、p2p网贷平台，网利宝官网提供安全、精准的网贷平台投资及互联网金融服务，大型机构100%本息担保，保障投资人资金安全，P2P投资理财网贷客户首选的互联网金融平台。")
    body
        include global/g_nav
        - with '加入我们' as title
        include include/about_sidebar
        - endwith
        .hiring_box
            .hiring_banner
            .hiring_content
                .company_email 有意者请将简历发送至：
                    a(href='mailto:hr@wanglibank.com') hr@wanglibank.com
                .job_info 标题请注明：
                    span 职位+名称
                .job_class
                    span.active 全部
                    span 技术类
                    span 产品类
                    span 运营类
                .job_list.clearfix
                    .job_title.clearfix
                        for hiring in hirings
                            .job_title_h.clearfix
                                span {{hiring.name}}
                                i
                            .job_detail.clearfix(style='display:none')
                                .job_address 工作地点：北京
                                .duty 岗位职责：
                                .clearfix {{hiring.duties|safe}}
                                .duty 任职要求：
                                .clearfix {{hiring.requirements|safe}}
        include global/g_footer
        script.
            require(["/static/src/pc/about.js?v=22222"])
        include include/tracking
