doctype html
- with '怎么选择合适的理财产品' as title
include include/head
- endwith
body
  include include/header
  include include/navigation
  .container
    .siderbar-div
      .panel-nopadding
        - with '选择理财产品' as title
        include include/about_sidebar
      .space-vertical-s
      .panel-nopadding
        include include/licai_sidebar
        - endwith

    .panel-padding.span9-omega
      .well-s
        h1.about-title 怎么选择合适的理财产品
        p.para 在选择理财产品之前，首先要明白：收益越高的投资，必然伴随着更高的风险。因此，投资在很大程度上是收益和风险之间的权衡。
        br
        p.para 如果你只有二十七八岁，月收入稳定，有一定的资金积累，在短时间内不需要大额投资，可以选择风险较大，但预期收益也更丰厚的投资组合：30%的美股投资、30% P2P贷款、20%公募基金、20%货币基金。
        br
        p.para 如果你四十多岁，月入稳定，需要还房屋贷款，父母的身体也不很好的情况下，就需要稳健一些的投资，需要准备一些流动性好的资产来应对可能的资金需求，比如：20%现金，20%货币基金，40%公募基金，20% P2P贷款。
        br
        p.para 针对用户复杂的财务需求，网利宝有个简单的线上投资风险测算系统（<a href="/portfolio/">http://www.wanglibao.com/portfolio/</a>），只要输入你的投资额和个人情况，系统就会给出相应的适合您的资产投资方案。
        br

  include include/footer
  include include/tracking

