-load formatters
-load mathfilters

doctype html
html
  head
    - with '网利宝' as title
    include include/common_head
    - endwith
    meta(name="keywords", content="网利宝")
    meta(name="description", content="网利宝是针对中国中产阶级人群的一站式网络理财服务平台，网利宝把国外传统的“私人银行”模式引入中国，我们通过独有的用户投资专业评估体系和个人理财数据分析算法，利用PC和移动互联网等方式，为客户提供个性化投资产品推荐，降低理财门槛，提高投资者的理财收益水平。")

  body
    include include/header
    - with '首页' as activeItem
    include include/navigation
    - endwith

    .full-container-home.clearfix
      .home-banner-1
      .home-banner-2
      ul.background-anchors
        li
          a.background-anchor.active(href="#") x
        li
          a.background-anchor(href="#") x
      .container-home
        .banner-form
          h1.banner-form--title 网利宝年化收益率
          p.banner-form--row 最高 <em class="highlight">13.24%</em>
          p.banner-form--row <span class="highlight">30</span>倍活期存款收益<span class="highlight">24</span>倍定期存款收益
          a.banner-form--button.full-width(href="#") 免费注册
          p.align-right
            span 已有账号？<a class="login-button" href="#">立即登录</a>

    .full-container-white
      .sales-data-container
        .row.align-center
          span 第三方担保，<em class="highlight">100元</em>起投，投标次日计息。
          span 每工作日 <em>10:30、14:30、20:00</em> 更新总额度。
        .row
          .span4
            span 投资人总收益：
            em 46,271,471.00
          .span4
            span 累计交易额：
            em 46,271,471.00
          .span4-omega
            span 年化收益率：
            em.highlight 10%-15%
    .container
      .row
        .span9
          for product in p2p_products
            .panel-p2p-product
              .panel-title-bar {{product.name}}
              .panel-content
                .row
                  .span3
                    p
                      em {{product.total_amount | money_format}}
                    p 融资金额(元)
                  .span2
                    p
                      em {{product.period}}个月
                    p 还款期限
                  .span2
                    p
                      em.highlight {{product.expected_earning_rate | percentage}}
                    p 年化收益
                  .span2
                    p
                      amount = product.total_amount - product.ordered_amount
                      em {{amount | money_format}}
                    p 可投资金额(元)
                  .span3-omega.align-right
                    p
                      if product.status == '正在招标'
                        a.button-primary(href="/p2p/detail/{{product.id}}/") 正在招标
                      else
                        a.button-disabled(href="javascript:void(0)", disabled) {{product.status}}
                    p 剩余时间：{{product.end_time | timedelta_now }}
              .panel-p2p--footer
                .row
                  .span4
                    span 进度：
                    .progress-container
                      percent = float(product.ordered_amount) / product.total_amount * 100
                      .progress-indicator(style="width:{{percent | percentage}}")
                    span.highlight &nbsp;&nbsp; {{percent | percentage}}
                  .span3.align-right
                    span 担保机构: &nbsp;&nbsp;
                    span {{product.warrant_company.name}}
                  .span3-omega.align-right
                    span 还款方式: &nbsp;&nbsp;
                    span {{product.pay_method}}

          a(href="#") 点击查看更多 >>

        .span3-omega
          .panel-nopadding
            .panel-title-bar__no-border
              .panel-title 媒体报道
            .panel-content-container.padding-l-r-s

          .panel-nopadding
            .panel-title-bar__no-border
             .panel-title 投资记录
            .panel-content-container.padding-l-r-s
              table.invest-history-table
                thead
                  tr
                    th 申购时间
                    th 投资人
                    th 金额
                tbody
                  mixin invest-entry(date, time, user, money)
                    tr
                      td
                        p=date
                        p=time
                      td
                        em=user
                      td
                        span.money-highlight=money
                        span 元
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')
                  +invest-entry('2014-04-10', '21:29:11', '138****1212', '3000')

    script(src="/static/js/require.js", data-main="/static/js/index")

    .space-vertical-m
    .full-container
      div(style="background:url('/static/images/footer-banner.jpg') no-repeat center; height:240px")
    - with 1 as no_margin
    include include/footer
    - endwith

    form#order-form.order-form(style="display:none")
      .modal-title-bar
          span.modal-title 填写个人信息
          a.icon-cancel.pull-right(rel="modal:close")
      .padding-xl
          div
              input#name_input.full-width(type="text", placeholder="姓名")
          div.margin-top-s
              input#phone_input.full-width(type="text", placeholder="电话")
          div.margin-top-s
              button#preorder_submit.button.button-middle.button-red.full-width(href="#", type="submit") 立即预约
          div.margin-top-s.light-gray-text.align-center
            预约成功后，我们将在第一时间联系您<br/>或直接拨打
            span.highlight 400-8588-066


    include include/tracking