-load formatters

doctype html
html
  head
    - with '网利宝' as title
    include include/common_head
    - endwith
    meta(name="keywords", content="网利宝")
    meta(name="description", content="网利宝是针对中国中产阶级人群的一站式网络理财服务平台，网利宝把国外传统的“私人银行”模式引入中国，我们通过独有的用户投资专业评估体系和个人理财数据分析算法，利用PC和移动互联网等方式，为客户提供个性化投资产品推荐，降低理财门槛，提高投资者的理财收益水平。")

  body
    include include/header
    - with '首页' as activeItem
    include include/navigation
    - endwith

    .full-container-home.clearfix
      banners_ = enumerate(banners)
      for index, banner in banners_
        if index == 0
          if banner.type == 'ad'
            a(href="{{banner.link}}")
              .home-banner(style="display:block; background-image:url('/media/{{banner.image}}')")
          else
            .home-banner(style="display:block; background-image:url('/media/{{banner.image}}')")
        else
          if banner.type == 'ad'
            a(href="{{banner.link}}")
              .home-banner(style="background-image:url('/media/{{banner.image}}')")
          else
            .home-banner(style="background-image:url('/media/{{banner.image}}')")
      ul.background-anchors
        banners_ = enumerate(banners)
        for index, banner in banners_
          li
            if index == 0
              a.background-anchor.active(href="#") x
            else
              a.background-anchor(href="#") x
      .container-home
        .portfolio-container
          table
            thead.portfolio-thead
              tr
                td(colspan='2', style='text-align: left') 我的理财方案
            tbody
              tr
                td 投资金额：
                td
                  .portfolio-td-last
                    input.portfolio-input#portfolio-asset(type='text' value='30')
                    span 万元
              tr
                td 投资期限：
                td
                  .portfolio-td-last
                    input.portfolio-input#portfolio-period(type='text' value='3')
                    span 个月
              tr
                td(colspan='2')
                  .portfolio-td-last
                    button.portfolio-submit(type='submit') 定制方案

    .space-vertical-m

    include include/hot_funds

    .space-vertical-m

    .container.hot-list.clearfix
      .hot-list-picture-title
        img(src="/static/images/home_trustfund.jpg", alt="信托产品")
      .hot-list-container
        .hot-list-content.trust-hot-list-content
          first_item = hot_trusts[0].trust
          .hot-item-highlight
            .hot-item-highlight-icon
            h1.hot-item-title
              a.hot-item-title-link(href="/trust/detail/{{first_item.id}}", target="_blank") {{first_item.short_name}}
            .hot-item-list.clearfix.hot-trust-info-container.lh-m
              dl
                dt 投资收益
                dd
                  span.hot-list-num-l {{first_item.expected_earning_rate | percentage}}
                dd
                  a.order-button.button.button-middle.button-red.button-l(href="#order-form", data-trust-id="{{first_item.id}}", data-trust-name="{{first_item.short_name}}") 立即预约

              ul
                li
                  产品期限：
                  span.dark-gray {{first_item.period | month}}
                li
                  起购金额：
                  span.dark-gray {{first_item.investment_threshold | money_to_10k}}
                li
                  投资行业：
                  span.dark-gray {{first_item.usage}}
                li
                  付息方式：
                  span.dark-gray {{first_item.interest_method}}
                li.no-border-bottom
                  信托公司：
                  span.dark-gray {{first_item.issuer.name}}

            .hot-item-comments
              点 评：{{first_item.brief}}

          - for index in 1|get_range:3
            item = hot_trusts[index].trust
            .hot-item-normal
              h1.hot-item-title
                a.hot-item-title-link(href="/trust/detail/{{item.id}}", target="_blank") {{item.short_name}}
              .hot-item-list.clearfix
                dl.hot-trust-info-container.lh-xs
                  dd 投资收益
                  dd.font-m
                    span.hot-list-num-m {{item.expected_earning_rate | percentage}}
                  dd 产品期限：
                    span.dark-gray {{item.period | month}}
                  dd 付息方式：
                    span.dark-gray {{item.interest_method}}
                  dd
                    a.order-button.button.button-middle.button-red.button-m(href="#order-form", data-trust-id="{{item.id}}", data-trust-name="{{item.short_name}}") 立即预约

              .hot-item-comments 点 评：{{item.brief}}

        .buy_process
          img(src="/static/images/home_trustfund_icon.jpg", alt="信托基金购买流程")

    .space-vertical-m

    - with 1 as no_margin
    include include/footer
    - endwith

    form#order-form.order-form(style="display:none")
      .modal-title-bar
          span.modal-title 填写个人信息
          a.icon-cancel.pull-right(rel="modal:close")
      .padding-xl
          div
              input#name_input.full-width(type="text", placeholder="姓名")
          div.margin-top-s
              input#phone_input.full-width(type="text", placeholder="电话")
          div.margin-top-s
              button#preorder_submit.button.button-middle.button-red.full-width(href="#", type="submit") 立即预约
          div.margin-top-s.light-gray-text.align-center
            预约成功后，我们将在第一时间联系您<br/>或直接拨打
            span.highlight 400-8588-066

    script.
      require(['/static/js/index.js'])

    include include/tracking