-load formatters
-load mathfilters

doctype html
html
  head
    - with '网利宝' as title
    include include/common_head
    - endwith
    meta(name="keywords", content="网利宝")
    meta(name="description", content="网利宝是针对中国中产阶级人群的一站式网络理财服务平台，网利宝把国外传统的“私人银行”模式引入中国，我们通过独有的用户投资专业评估体系和个人理财数据分析算法，利用PC和移动互联网等方式，为客户提供个性化投资产品推荐，降低理财门槛，提高投资者的理财收益水平。")

  body
    include include/header
    - with 'P2P' as activeItem
    include include/navigation
    - endwith

    .full-container-home.clearfix
      banners_ = enumerate(banners)
      for index, banner in banners_
        if index == 0
          if banner.type == 'ad'
            a(href="{{banner.link}}")
              .home-banner(style="display:block; background-image:url('/media/{{banner.image}}')")
          else
            .home-banner(style="display:block; background-image:url('/media/{{banner.image}}')")
        else
          if banner.type == 'ad'
            a(href="{{banner.link}}")
              .home-banner(style="background-image:url('/media/{{banner.image}}')")
          else
            .home-banner(style="background-image:url('/media/{{banner.image}}')")
      ul.background-anchors
        banners_ = enumerate(banners)
        for index, banner in banners_
          li
            if index == 0
              a.background-anchor.active(href="#") x
            else
              a.background-anchor(href="#") x
      .container-home
        .banner-form
          if user.is_authenticated
            .space-vertical-m
            h1.banner-form--title 欢迎来网利宝投资理财
            .space-vertical-s
            p.banner-form--row.font-s 您的登录账户:
              span.highlight {{user|display_name}}
            .space-vertical-m
            .banner-form--row.align-center
              a.banner-form--button(href="/accounts/home") 进入我的账户
          else
            h1.banner-form--title 网利宝年化收益率
            p.banner-form--row.font-s 最高 <em class="highlight">{{site_data.highest_earning_rate | percentage}}</em>
            p.banner-form--row.font-s <span class="highlight">{{site_data.demand_rate_times}}</span>倍活期存款收益<span class="highlight">{{site_data.one_year_times}}</span>倍定期存款收益
            a.banner-form--button.full-width.register-modal(href="#login-modal") 免费注册
            p.align-right.font-s
              span 已有账号？<a class="login-button login-modal" href="#login-modal">立即登录</a>

    .full-container-white
      .sales-data-container
        .row.sales-data-info
          .span6
            p 第三方担保，
              span.highlight{{site_data.invest_threshold}}
              元起投，投标次日计息。</br>每工作日&nbsp;10:30、14:30、20:00更新总额度。
          .span2
            .sales-data-box
              .sales-data-title 投资人总收益
              .sales-data-number-blue {{site_data.p2p_total_earning | money_format}}
          .span2
            .sales-data-box
              .sales-data-title 累计交易额
              .sales-data-number-blue {{site_data.p2p_total_trade | money_format}}
          .span2-omega
            .sales-data-box
              .sales-data-title 年化收益率
              .sales-data-number-red {{site_data.earning_rate}}
    .full-container-white-no-border
      .product-ad-container
        .row
          .span3
            .big-icon-container.income-high
            p.title 短期理财&nbsp;&nbsp;高收益
            p.content 年化收益是活期存款的
              span.highlight 50
              倍，</br>银行理财的
              span.highlight 2
              倍
          .span3
            .big-icon-container.sill-low
            p.title 灵活投资&nbsp;&nbsp;低门槛
            p.content
              span.highlight 100
              元起投，门槛低至银行理财的</br>千分之一，
              span.highlight 0
              手续费
          .span3
            .big-icon-container.security-more
            p.title 四层保障&nbsp;&nbsp;最安全
            p.content 担保机构担保，银行级风险防范，保障</br>
              span.highlight 本息安全
              ，联合信用评级
          .span3-omega
            .big-icon-container.wealth-share
            p.title 随时随地&nbsp;&nbsp;享财富
            p.content
              span.highlight 移动端
              支持随时随地乐享理财乐趣
    .container
      .row
        .span8
          for product in p2p_products
            .panel-p2p-product
              .panel-title-bar
                if product.warrant_company
                  .warrant-icon 担
                a(href="/p2p/detail/{{product.id}}") {{product.name}}
              .panel-content
                .row
                  .span3
                    p
                      em {{product.total_amount | money_format}}
                    p 融资金额(元)
                  .span2
                    p
                      em {{product.period}}
                      span.font-l 个月
                    p 还款期限
                  .span2
                    p
                      em.highlight.font-xxll {{product.expected_earning_rate | percentage_number}}
                      span.highlight.font-xll %
                    p 年化收益
                  .span2
                    p
                      amount = product.total_amount - product.ordered_amount
                      em {{amount | money_format}}
                    p 可投资金额(元)
                  .span3-omega.align-right
                    p
                      if product.status == '正在招标'
                        a.button-primary(href="/p2p/detail/{{product.id}}/") 正在招标
                      else
                        status = product.status
                        full = status.startswith(u'满标')
                        if full
                          status = '已满标'
                        a.button-disabled(href="javascript:void(0)", disabled) {{status}}

                    if product.status == '正在招标'
                      p(data-role="countdown", data-left="{{product.end_time | timedelta_now}}", data-target="#counter_{{product.id}}") 剩余时间：
                        span(id="counter_{{product.id}}") {{product.end_time | timedelta_now }}
                    else
                      p 剩余时间：
                        span 00:00:00

              .panel-p2p--footer
                .row
                  .span4
                    span 进度：
                    .progress-container
                      percent = float(product.ordered_amount) / product.total_amount * 100
                      .progress-indicator(style="width:{{percent | percentage}}")
                    span.highlight &nbsp;&nbsp; {{percent | percentage}}
                  .span4.align-right
                    span 担保机构: &nbsp;&nbsp;
                    span.d3-text {{product.warrant_company.name}}
                  .span4-omega.align-right
                    span 还款方式: &nbsp;&nbsp;
                    span.d3-text {{product.pay_method}}
              if product.status == '还款中' or product.status == '已完成'
                .panel-p2p-stamp

        .span4-omega
          div(data-role = "float")
            .panel
              .panel-title-bar__border-gray
                .panel-title 媒体报道
              .panel-content-container.padding-l-r-s
                ul.margin-top-s
                  for news in news_and_reports
                    li.media-item
                      if forloop.counter <= 3
                        i.media-caption.highlight {{forloop.counter | stringformat:"02d"}}
                      else
                        i.media-caption.gloomy {{forloop.counter | stringformat:"02d"}}
                      div.media-title.text-overflow-hidden
                        a.font-s(href="{{news.link}}" title="{{news.name}}", target='_blank') {{news.name}}

            .panel
              .panel-title-bar__no-border
                .panel-title 投资记录
              .panel-content-container.padding-l-r-sm
                table.invest-history-table
                  thead
                    tr
                      th 申购时间
                      th 投资人
                      th 金额
                  tbody
                    trade_records = trade_records
                    top = trade_records[:15]
                    rest = trade_records[15:]
                    for trade in top
                      tr
                        td
                          p {{trade.create_time | date:"Y-m-d"}}
                          p {{trade.create_time | date:"H:i:s"}}
                        td
                          em {{trade.user | safe_phone}}
                        td
                          span.money-highlight {{trade.amount}}
                          span 元
                    tbody(style="display:none")
                      for trade in rest
                        tr
                          td
                            p {{trade.create_time | date:"Y-m-d"}}
                            p {{trade.create_time | date:"H:i:s"}}
                          td
                            em {{trade.user | safe_phone}}
                          td
                            span.money-highlight {{trade.amount}}
                              span 元

    script.
      require(["/static/js/index.js"])

    .space-vertical-ssm
    .full-container-border
      .investment-process-container
        .row
          .span6.title 投资流程
          .span6-omega.info 选择网利宝，让您放心！跟随我们，开启您的互联网金融之旅
        .row
          .span1 &nbsp;
          .span2
            .middle-icon-container.first-step
            .process-title 第一步&nbsp;免费注册
            .process-content 30秒轻松免费注册成为会员
          .span2
            .middle-icon-container.second-step
            .process-title 第二步&nbsp;进行认证
            .process-content 完成实名认证
          .span2
            .middle-icon-container.third-step
            .process-title 第三步&nbsp;充值账户
            .process-content 在线充值，免收手续费
          .span2
            .middle-icon-container.fourth-step
            .process-title 第四步&nbsp;成功投标
            .process-content 按需筛选借款标并进行投标
          .span2
            .middle-icon-container.fifth-step
            .process-title 第五步&nbsp;自动收款
            .process-content 借款期满后自助回款
          .span1-omega &nbsp;
    .full-container-white-no-border
      .investment-process-container
        .title 合作伙伴
        div(style="background:url('/static/images/partner.png') no-repeat center; height:200px")
    - with 1 as no_margin
    include include/footer
    - endwith

    include include/tracking