-load formatters

doctype html
html
  - with '网利宝首页' as title
  include include/head
  - endwith

  body
    include include/header
    - with '首页' as activeItem
    include include/navigation
    - endwith

    .full-container-home
      .home-banner-1
      .home-banner-3
      ul.background-anchors
        li
          a.background-anchor.active(href="#") x
        li
          a.background-anchor(href="#") x
      .container-home
        .portfolio-container
          table
            thead.portfolio-thead
              tr
                td(colspan='2', style='text-align: left') 我的理财方案
            tbody
              tr
                td 投资金额：
                td
                  .portfolio-td-last
                    input.portfolio-input#portfolio-asset(type='text' placeholder='30')
                    span 万元
              tr
                td 投资期限：
                td
                  .portfolio-td-last
                    input.portfolio-input#portfolio-period(type='text' placeholder='3')
                    span 个月
              tr
                td 风险承受能力：
                td
                  .portfolio-td-last
                    select.portfolio-input#portfolio-risk
                      option(value='1') 不能承担任何风险
                      option(value='2') 可以承担极小的风险
                      option(value='3') 可以承担一定风险
                      option(value='4') 可以承担较大的风险来追求高收益
                      option(value='5') 绝对追求高收益
              tr
                td(colspan='2')
                  .portfolio-td-last
                    button.portfolio-submit(type='submit') 定制方案

    .space-vertical-m

    .container-card-holder
      span.font-l 热门产品
      ul.tabs
        li.tab-item
          a.tab-anchor.active(data-toggle="trust-products" href="#") 信托产品
        li.tab-item
          a.tab-anchor(data-toggle="financing-products" href="#") 银行理财
        li.tab-item
          a.tab-anchor(data-toggle="fund-products" href="#") 基金产品

    .space-vertical-xs

    .container-hidden#trust-products
      each hot_trust in hot_trusts
        -with hot_trust.trust as trust
        a(href='/trust/detail/{{trust.id}}')
          .card
            .card-top-container
              p.card-title 高收益精选
              .space-vertical-s
              img.card-annotation(src="/static/images/on-sale.png")
              img.bank-logo(src="/media/{{trust.issuer.logo}}")
              span.bank-name {{trust.short_name}}
            .card-detail-box
              dt 产品期限:
              dd.orange-text {{trust.period | month}}
              dt.profit-title 投资收益:
              dd.profit-text {{trust.expected_earning_rate | percentage}}
              .space-vertical-s
              .space-vertical-s.dashed-line
              dt 点评:
              dd.card-brief {{trust.brief}}
        -endwith
      .check-more
        a.button-round-mini.button-red(href="/trust/products") 查看更多

    .container-hidden#fund-products
      each hot_fund in hot_funds
        -with hot_fund.fund as fund
        a(href='/fund/detail/{{fund.id}}')
          .card
            .card-top-container
              p.card-title 高收益精选
              .space-vertical-s
              img.card-annotation(src="/static/images/on-sale.png")
              img.bank-logo(src="/media/{{fund.issuer.logo}}")
              span.bank-name {{fund.name}}
            .card-detail-box
              dt 基金公司:
              dd {{fund.issuer.name}}
              if fund.rate_7_days
                dt.profit-title 七日年化利率:
                dd.profit-text {{fund.rate_7_days | percentage}}
              else
                dt.profit-title 当日涨幅:
                dd.profit-text {{fund.rate_today | percentage}}

              .space-vertical-s
              .space-vertical-s.dashed-line
              dt 点评:
              dd.card-brief {{fund.brief}}
        -endwith
      .check-more
        a.button-round-mini.button-red(href="/fund/products") 查看更多

    .container-hidden#financing-products
      each hot_financing in hot_financings
        -with hot_financing.bank_financing as financing
        a(href='/financing/detail/{{financing.id}}')
          .card
            .card-top-container
              p.card-title 高收益精选
              .space-vertical-s
              img.card-annotation(src="/static/images/on-sale.png")
              img.bank-logo(src="/media/{{financing.bank.logo}}")
              span.bank-name {{financing.short_name}}
            .card-detail-box
              dt 产品期限:
              dd.orange-text {{financing.period | day}}
              dt.profit-title 七日年化利率:
              dd.profit-text {{financing.expected_rate | percentage}}
              .space-vertical-s
              .space-vertical-s.dashed-line
              dt 点评:
              dd.card-brief {{financing.brief}}
        -endwith
      .check-more
        a.button-round-mini.button-red(href="/financing/products") 查看更多

    .row
      img(src="http://wanglibao.oss-cn-hangzhou.aliyuncs.com/images/banner0.jpg", style="margin:0 auto; display: block")

    - with 1 as no_margin
    include include/footer
    - endwith

    script.
      require(['/static/js/index.js'])

    include include/tracking