-load formatters

doctype html
html
  head
    - with '网利宝' as title
    include include/common_head
    - endwith
    meta(name="keywords", content="网利宝")
    meta(name="description", content="网利宝是针对中国中产阶级人群的一站式网络理财服务平台，网利宝把国外传统的“私人银行”模式引入中国，我们通过独有的用户投资专业评估体系和个人理财数据分析算法，利用PC和移动互联网等方式，为客户提供个性化投资产品推荐，降低理财门槛，提高投资者的理财收益水平。")

  body
    include include/header
    - with '首页' as activeItem
    include include/navigation
    - endwith

    .full-container-home.clearfix
      .home-banner-1
      .home-banner-3
      ul.background-anchors
        li
          a.background-anchor.active(href="#") x
        li
          a.background-anchor(href="#") x
      .container-home
        .portfolio-container
          table
            thead.portfolio-thead
              tr
                td(colspan='2', style='text-align: left') 我的理财方案
            tbody
              tr
                td 投资金额：
                td
                  .portfolio-td-last
                    input.portfolio-input#portfolio-asset(type='text' value='30')
                    span 万元
              tr
                td 投资期限：
                td
                  .portfolio-td-last
                    input.portfolio-input#portfolio-period(type='text' value='3')
                    span 个月
              tr
                td 风险承受能力：
                td
                  .portfolio-td-last
                    select.portfolio-input#portfolio-risk
                      option(value='1') 不能承担任何风险
                      option(value='2') 可以承担极小的风险
                      option(value='3') 可以承担一定风险
                      option(value='4') 可以承担较大的风险来追求高收益
                      option(value='5') 绝对追求高收益
              tr
                td(colspan='2')
                  .portfolio-td-last
                    button.portfolio-submit(type='submit') 定制方案

    .space-vertical-m

    .container.hot-list.clearfix
      .hot-list-picture-title
        img(src="/static/images/home_moneyfund.jpg", alt="货币基金")
      .hot-list-container
        .hot-list-content
          .hot-item-highlight
            .hot-item-highlight-icon
            h1.hot-item-title 高收益南方货币
            .hot-item-list.clearfix
              dl
                dt 银行活期利率
                dd.font-m
                  span.hot-list-num-l 16.5
                  倍
                dd
                  七日年化收益：
                  span.dark-gray 5.42%
                dd
                  已有
                  span.dark-gray 421人
                  申购
                dd
                  a.order-button.button.button-middle.button-red.button-l(href="#order-form") 立即预约

              ul
                li
                  取现到帐：
                  span.dark-gray T+0实时到帐
                li
                  起购金额：
                  span.dark-gray 50万
                li
                  半年涨幅：
                  span.dark-gray 13%
                li
                  一年涨幅：
                  span.dark-gray 15%
                li
                  万元效益：
                  span.dark-gray 3000元

          .hot-item-normal
            h1.hot-item-title 高收益南方货币
            .hot-item-list.clearfix
              dl
                dt 银行活期利率
                dd.font-m
                  span.hot-list-num-l 16.5
                  倍
                dd
                  七日年化收益：
                  span.dark-gray 5.42%
                dd
                  已有
                  span.dark-gray 421人
                  申购
                dd
                  a.button.button-middle.button-gray.button-m(href="javascript:;") 售完

          .hot-item-normal
            h1.hot-item-title 高收益南方货币
            .hot-item-list.clearfix
              dl
                dt 银行活期利率
                dd.font-m
                  span.hot-list-num-l 16.5
                  倍
                dd
                  七日年化收益：
                  span.dark-gray 5.42%
                dd
                  已有
                  span.dark-gray 421人
                  申购
                dd
                  a.order-button.button.button-middle.button-red.button-m(href="#order-form") 抢购

        .buy_process
          img(src="/static/images/home_moneyfund_icon.jpg", alt="货币基金购买流程")

    .space-vertical-m

    .container.hot-list.clearfix
      .hot-list-picture-title
        img(src="/static/images/home_trustfund.jpg", alt="货币基金")
      .hot-list-container
        .hot-list-content
          .hot-item-highlight
            .hot-item-highlight-icon
            h1.hot-item-title 平安财富-结构类（非保本挂钩ET）
            .hot-item-list.clearfix
              dl
                dt 投资收益
                dd
                  span.hot-list-num-l 16.5%
                dd
                  a.order-button.button.button-middle.button-red.button-l(href="#order-form") 立即预约

              ul
                li
                  产品期限：
                  span.dark-gray 12个月
                li
                  起购金额：
                  span.dark-gray 100万
                li
                  投资行业：
                  span.dark-gray 房地产
                li
                  付息方式：
                  span.dark-gray 一次还清
                li.no-border-bottom
                  投资行业：
                  span.dark-gray 房地产？

            .hot-item-comments
              点 评：期限短，起点低，同类收益最高，保本浮动类型，稳健型首选
            //.hot-item-highlight-icon

          .hot-item-normal
            h1.hot-item-title 平安财富
            .hot-item-list.clearfix
              dl
                dd 投资收益
                dd.font-m
                  span.hot-list-num-m 16.6%
                dd
                  产品期限：
                  span.dark-gray 12个月
                dd
                  付息方式：
                  span.dark-gray 一次还清
                dd
                  a.order-button.button.button-middle.button-red.button-m(href="#order-form") 立即预约

            .hot-item-comments
                  点 评：期限短，起点低，同类收益最高，稳健型首选

          .hot-item-normal
            h1.hot-item-title 平安财富
            .hot-item-list.clearfix
              dl
                dd 投资收益
                dd.font-m
                  span.hot-list-num-m 12-17%
                dd
                  产品期限：
                  span.dark-gray 12个月
                dd
                  付息方式：
                  span.dark-gray 一次还清
                dd
                  a.order-button.button.button-middle.button-red.button-m(href="#order-form") 立即预约

            .hot-item-comments
                点 评：期限短，起点低，同类收益最高，稳健型首选

        .buy_process
                img(src="/static/images/home_trustfund_icon.jpg", alt="信托基金购买流程")

    .space-vertical-m

    - with 1 as no_margin
    include include/footer
    - endwith

    form#order-form.order-form(style="display:none")
      .modal-title-bar
          span.modal-title 填写个人信息
          a.icon-cancel.pull-right(rel="modal:close")
      .padding-xl
          div
              input#name_input.full-width(type="text", placeholder="姓名")
          div.margin-top-s
              input#phone_input.full-width(type="text", placeholder="电话")
          div.margin-top-s
              button#preorder_submit.button.button-middle.button-red.full-width(href="#", type="submit") 立即预约
          div.margin-top-s.light-gray-text 该产品限量发售，留下您的电话投资顾问火速协助抢购

    script.
      require(['/static/js/index.js'])
      require(['/static/js/trust_detail.js'])

    include include/tracking