{% extends "navigation_base.html" %}

{% load staticfiles %}

{% block content %}
  {{ block.super }}
  <div class="big-background">
    <div class="l-activity-panel">
      <div class="space-vertical-xl"></div>
      <div class="container">
        <div class="search-box pull-left">
          <div class="search-box-title"><span class="i-search-personal"></span><span class="search-box-title-text">个人理财</span></div>
          <div class="search-box-body">
            <p class="search-box-slug">输入您的资产净值</p>
            <div class="search-box-input-container">
              <input type="text" value=""><span class="search-box-add-on">万元</span>
              <button class="btn-search-box">找方案</button>
            </div>
            <p class="search-box-description">我们将推荐适合您的投资方案</p>
            <p class="font-m white-text">或者花1分钟时间，我们为您<a href="#" class="search-quicklink">私人定制</a></p>
          </div>
        </div>
        <div class="search-box pull-left">
          <div class="search-box-title"><span class="i-search-product"></span><span class="search-box-title-text">产品搜索</span></div>
          <div class="search-box-body">
            <p class="search-box-slug">输入投资金额</p>
            <div class="search-box-input-container">
              <input type="text" value=""><span class="search-box-add-on">万元</span>
              <button type="button" class="btn-search-box">搜 索</button>
            </div>
            <p class="search-box-description">120096款 在售理财产品任您搜</p>
            <p class="font-m orange"><a href="#" class="search-quicklink">100万元信托</a><a href="#" class="search-quicklink">10万元银行理财</a><a href="#" class="search-quicklink">100万元基金</a></p>
          </div>
        </div>
      </div>
      <div class="space-vertical-xl"></div>
    </div>
  </div>
  <div class="space-vertical-s"></div>
  <div class="container"><span class="font-l">热门推荐</span><a href="#">信托产品</a>
    <div class="space-vertical-s"></div>
    <div data-bind="foreach: rows" class="container">
      <!-- ko foreach: $data-->
      <div class="card card-trust">
        <div class="card-left">
          <div class="card-icon">
            <dl>
              <dt>预期收益</dt>
              <dd data-bind="text: expected_earning_rate">10%</dd>
            </dl>
          </div><a data-bind="attr: { href: url }" class="card-orderlink">预约</a>
        </div>
        <div class="card-right">
          <dl><span data-bind="text: name" class="card-title">网利宝金融平台信托产品</span>
            <div>
              <dt> 投资期限：</dt>
              <dd data-bind="text: period">12个月</dd>
            </div>
            <div>
              <dt>投资门槛：</dt>
              <dd data-bind="text: investment_threshold">100万</dd>
            </div>
            <div>
              <dt>点评:</dt>
              <dd data-bind="text: brief" class="product-brief">不可错过，只有这么抑制了，如果还不买，可能就没有了，以后也不一定会除了</dd>
            </div>
          </dl>
        </div>
      </div>
      <!-- /ko-->
    </div>
  </div>
  <div class="space-vertical-m"></div>

{% endblock %}

{% block javascript %}
  {{ block.super }}

  <script type="text/javascript" src="{% static "wanglibao/js/knockout-3.0.0.js" %}"></script>
<script type="text/javascript">
  var DataViewModel = function(){
    self = this;

    self.trusts = ko.observable([]);

    self.rows = ko.computed(function(){
      var trusts = self.trusts();
      trusts = trusts.slice(0, 6)
      var result = [];
      for (var i = 0; i < trusts.length; i += 3) {
        var row = [];
        for (var j = 0; j < 3; ++j) {
            if (trusts[i + j]) {
                row.push(trusts[i + j]);
            }
        }
        result.push(row);
      }
      return result;
    });
  };
  var model = new DataViewModel();
  ko.applyBindings(model);

  $.ajax('http://127.0.0.1:8000/api/trusts/.jsonp', {
    'dataType': 'jsonp'
  })
          .done(function(data){
            model.trusts(data.results);
          })
          .fail(function(xhr, status, error){
            alert(status + error)
          });
</script>

{% endblock %}
