-load formatters

doctype html
html
  - with '首页' as title
  include include/head
  - endwith

  body
    include include/header
    - with '首页' as activeItem
    include include/navigation
    - endwith

    .full-container-home
      .container-home
    .space-vertical-m

    .container-card-holder
      span.font-l 热门产品
      ul.tabs
        li.tab-item
          a.tab-anchor.active(data-toggle="trust-products" href="#") 信托产品
        li.tab-item
          a.tab-anchor(data-toggle="financing-products" href="#") 银行理财
        li.tab-item
          a.tab-anchor(data-toggle="fund-products" href="#") 基金产品

      .space-vertical-xs

      .container#trust-products
        each hot_trust in hot_trusts
          -with hot_trust.trust as trust
          .card.card-trust
            .card-left
              .card-icon
                dl
                  dt 预期收益
                  dd {{trust.expected_earning_rate | percentage}}
              a.card-orderlink(href="/trust/detail/{{trust.id}}") 预约

            .card-right
              dl
                span.card-title {{trust.name}}
                div
                  dt  投资期限：
                  dd {{trust.period | month}}
                div
                  dt 投资门槛：
                  dd {{trust.investment_threshold | money_to_10k}}
                div
                  dt 点评:
                  dd.product-brief {{trust.brief}}
          -endwith

      .container#fund-products
        each hot_fund in hot_funds
          -with hot_fund.fund as fund
          .card.card-trust
            .card-left
              .card-icon
                dl
                  dt 七日收益率
                  dd {{fund.rate_7_days | percentage}}
              a.card-orderlink(href="/fund/detail/{{fund.id}}") 预约
            .card-right
              dl
                span.card-title {{fund.name}}
                div
                  dt 点评:
                  dd.product-brief {{fund.brief}}
          -endwith

      .container#financing-products
        each hot_financing in hot_financings
          -with hot_financing.bank_financing as financing
          .card.card-trust
            .card-left
              .card-icon
                dl
                  dt 最高收益率
                  dd {{financing.expected_rate | percentage}}
              a.card-orderlink(href="/financing/detail/{{financing.id}}") 预约
            .card-right
              dl
                span.card-title {{financing.name}}
                div
                  dt 点评:
                  dd.product-brief {{financing.brief}}
          -endwith


    .space-vertical-m
    include include/footer

    script(src="/static/js/require.js" data-main="/static/js/index")

    include include/tracking