{% extends "base.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% url 'auth_password_reset' as auth_pwd_reset_url %}

{% block title %} 用户登录 - 网利宝 {% endblock %}

{% block content %}

   <div class="l-activity-panel">
      <div class="clearfix"><a href="index.html" title="网利宝" class="pull-left logo"> </a></div>
      <div class="well clearfix">
        <div class="pull-left account-background"></div>
        <div class="pull-right">
          <form class="form" method="post" action="{% url 'auth_login' %}?next={{next}}">
            <fieldset>
              {{  form.password.errors }}
              {{  form.email.errors }}
              {{  form.username.errors }}
              {% csrf_token %}
              <div class="form-title">
                <label class="font-l">用户登录</label>
              </div>
              <div class="form-row">
                {% render_field form.identifier class+="input-large" placeholder="请输入邮箱或手机号" title="请输入邮箱或手机号"%}
              </div>
              <div class="form-row">
                {% render_field form.password class+="input-large" placeholder="请输入密码" title="请输入密码"%}
              </div>
              <div class="form-row form-bottom-bar">
                <button type="submit" class="span8 button-error button-large">登 录</button>
                <div class="span4-omega"></div>
                <div class="space-s"></div><a href="/accounts/password/reset">忘记密码？</a>
              </div>
              <div class="space-vertical-s"></div>
              <div class="form-footer"><a href="/accounts/register/?next=/" class="button button-warning button-mini">注册</a>
                <div class="space-xs"></div><span>成为会员，我们将为您提供专业的理财建议</span>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
