doctype html
- with '网利宝大事记' as title
include include/common_head
- endwith
body
  include global/g_nav
  .container.margin-bottom-xxl
    .siderbar-div
      - with '网利宝大事记' as title
      include include/about_sidebar
      - endwith
    .panel-padding.span9-omega
      .well-s
        h1.about-title {{about_us.title}}
        |{{about_us.content|safe}}


  include global/g_footer
  include include/tracking
