doctype html
- with '网利宝大事记' as title
include include/head
- endwith
body
  include include/header
  include include/navigation
  .container.margin-bottom-xxl
    .siderbar-div
      - with '网利宝大事记' as title
      include include/about_sidebar
      - endwith
    .panel-padding.span9-omega
      .well-s
        h1.about-title 网利宝大事记
        p.para 2014年10月网利宝IOS APP移动客户端1.2版本发布
        p.para 2014年10月网利金融与洛克菲勒家族战略合作，共设罗斯洛克艺术品基金
        p.para 2014年10月网利宝与国强担保达成战略合作
        p.para 2014年9月网利宝P2P理财平台上线
        p.para 2014年9月网利宝与湖南恒大达成战略合作
        p.para 2014年8月网利宝与证大速贷达成战略合作
        p.para 2014年8月网利宝与联信汇业达成战略合作
        p.para 2014年8月网利宝与平安保险达成战略合作
        p.para 2014年8月网利宝安卓APP移动客户端1.0版本发布
        p.para 2014年7月网利宝与大秦保理达成战略合作
        p.para 2014年6月网利宝IOS APP移动客户端1.0版本发布
        p.para.highlight 2014年6月底，网利金融交易额突破13亿元
        p.para.highlight 2014年6月"网利金融"CEO赵润龙荣获2014第三届财经峰会最佳青年榜样奖
        p.para.highlight 2014年6月"网利金融"荣获中国财经峰会2014年度最佳创新典范奖
        p.para.highlight 2014年5月“网利金融”成为中国互联网金融行业协会会员
        p.para 2014年2月网利宝与联合信用达成战略合作
        p.para 2014年2月获IDG资本千万美金A轮投资


  include include/footer
  include include/tracking
