{% extends "base.html" %}

{% block content %}
  <!--Nav bar-->
  <div class="navigation">
    <div class="navigation-container">
      <div title="logo" class="logo"></div>
      <div class="nav-items">
        <ul>
          <li class="nav-item"><a href="/" class="nav-item-anchor">首页</a></li>
          <li class="nav-item"><a href="guwen.html" class="nav-item-anchor">个人理财</a></li>
          <li class="nav-item"><a href="{% url 'trust_home' %}" class="nav-item-anchor">信托产品</a></li>
          <li class="nav-item"><a href="bank.html" class="nav-item-anchor">银行理财</a></li>
          <li class="nav-item"><a href="fund.html" class="nav-item-anchor">基金产品</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}