doctype html
- with '理财小白必读' as title
include include/head
- endwith
body
  include include/header
  include include/navigation
  .container
    .panel-nopadding.siderbar-div
      - with '关于理财' as title
      include include/about_sidebar
      - endwith
    .panel-padding.span9-omega
      .well-s
        h1.title 理财小白必读
        p.para 工作三四年，攒了好几万，可这钱放手里没大用，存银行只等着贬值，想炒股又怕亏钱。余额宝的收益眼瞅着往下掉，P2P的收益高可是风险大，有没有更好的理财方法、更方便的投资途径，理财小白应该怎么办？
        br
        p.para 网利宝从成立的那天起，就为了帮助客户进行更专业的投资而努力。
        br
        p.para 在国外流行的“私人银行”模式被引入中国，网利宝将其进行了本土化改善。例如，美国的投资人可以进行全球股票投资，中国的投资人在很大程度上被限制在了国内A股市场；美国投资人有丰富的股票、债券、信托等产品选择，有专业的理财顾问提供意见建议；国内投资人却只能无奈的炒A股、炒黄金、炒绿豆、炒房子，政策一有风吹草动就风声鹤唳。
        br
        p.para 网利宝可以改变这种情况。
        br
        p.para 在网利宝上，初级投资者可以选择门槛较低的货币基金、P2P贷款；成熟投资者可以选择艺术品基金、上市公司定向增发、海外上市的中国公司的基金组合等回报更高（但风险相对更大）的理财产品，无论什么样的投资者，都可以各取所需，获取自己满意的回报。
        br
        p.para 因为理财产品更多样化，拥有更多的投资途径和国际化的资产配置机会，网利宝投资者拥有丰富的投资选择，这样比仅仅在国内投资股市和房产要获利更丰厚，风险也低的多。
        br
        p.para 还等什么，马上<a href="/accounts/register">注册网利宝</a>，开始你的投资之旅吧。
  include include/footer
  include include/tracking
