doctype html
- with '媒体报道' as title
include include/head
- endwith
body
  include global/g_nav
  .space-vertical-ssm
  .media-list-container
    .well
      .media-list-title
        h3 媒体报道
      .media-list-body
        h3.align-center {{news.name}}
        .content {{news.content|safe}}

  include global/g_footer
  include include/tracking
