doctype html
- with news.name as title
include include/head
- endwith
if news.keywords
  meta(name="keywords", content="{{news.keywords}}")
if news.description
  meta(name="description", content="{{news.description}}")
body
  include global/g_nav
  .space-vertical-ssm
  .media-list-container
    .well
      .media-list-title
        h3 媒体报道
      .media-list-body
        h3.align-center {{news.name}}
        .content {{news.content|safe}}

  include global/g_footer
  include include/tracking
