-load formatters
doctype html
html
    head
        - with news.name as title
        include global/g_head
        - endwith
        meta(name="keywords", content="{{news.keywords}}")
        meta(name="description", content="{{news.description}}")
    body
        include global/g_nav
        - with '媒体报道' as title
        include include/about_sidebar
        - endwith
        .section
            .page_nav
                a(href='/news/list', target="_blank") 媒体报道
                | >报道详情
            .media_box.detail_box.clearfix
                h3 {{news.name}}
                .media_coverage_time {{news.created_at|date:"Y-m-d H:i"}}
                .medil_detail {{news.content|safe}}
        include global/g_footer
        include include/tracking
                      