doctype html
- with '战略合作伙伴' as title
include include/common_head
- endwith
body
  include global/g_nav
  .container.margin-bottom-xxl
    .siderbar-div
      - with '战略合作伙伴' as title
      include include/about_sidebar
      - endwith
    .panel-padding.span9-omega
      .well-s
        h1.about-title 战略合作伙伴
        .partner-container.partner-container-about
          ul.partner-logo.partner-logo-about
            for partner in partners
              li
                a(href="{{partner.link}}",target="_blank", title="{{partner.name}}", rel="nofollow")
                  img(src="/media/{{partner.image}}", alt="{{partner.name}}")

  include global/g_footer
  include include/tracking
