- load widget_tweaks

doctype html
- with '密码重置' as title
include include/head
- endwith
body
  include include/header
  .l-activity-panel
    .well.clearfix
      .row
        ul.reset-pass-steps
          li.step.active 1 填写账户名
          li.step 2 验证身份
          li.step 3 设置密码
          li.step 4 完成
      .space-vertical-s
      .row(style="text-align:center")
        form.ispan4.form(method="post", action="{%url 'password_reset_validate'%}")
          - csrf_token
          fieldset
            - render_field form.identifier class+="input-large" placeholder="请输入邮箱或手机号" title="请输入邮箱或手机号"
            .form-row.form-bottom-bar
              button#submitButton.ispan3.pull-right.button-red.button-middle(type="submit") 下一步

  include include/footer

  script(src="/static/js/require.js", data-main="/static/js/password_reset")

  include include/tracking
