doctype html
html
  - with '用户注册' as title
  include include/head
  - endwith
  body
    include include/header
    .l-activity-panel
      div.clearfix
        a.pull-left.logo(href='index.html', title='网利宝')  
      div.well.clearfix
        .pull-left.account-background
        .pull-right
          form.form.login-form#register-form
            .form-title
              label.font-l 注册用户
            .form-row
              // id_identifier use the same name as django form id
              input#id_identifier.input-large(type='text', placeholder='请输入邮箱或手机号', title='请输入邮箱或手机号', name="identifier")
            div#validate-code-container.form-row
              input#id-validate-code(type='text', name='validate_code', placeholder='请输入验证码', title='请输入验证码', autocomplete='off')
              .space-m
              button.button.button-error.button-mini#button-get-validate-code(href="#") 获取
            .form-row
              input#password.input-large(type='password', placeholder='请输入密码', title='请输入密码', autocomplete='off' name="password")
            .form-row.form-bottom-bar
              span 已有账户请直接
              a(href='register.html') 登录
              button.pull-right.button-error.button-large(type='submit') 注 册
    include include/footer

    script(src='/static/js/lib/jquery.min.js')
    script(src='/static/js/lib/jquery.validate.min.js')
    script(src='/static/js/register.js')
