{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% url 'auth_password_reset' as auth_pwd_reset_url %}

{% block title %} 用户登录 - 网利宝 {% endblock %}

{% block content %}

  <div class="l-activity-panel">
      <div class="clearfix"><a href="/" title="网利宝" class="pull-left logo"> </a></div>
      <div class="well clearfix">
        <div class="pull-left account-background"></div>
        <div class="pull-right">
          <div class="form login-form">
            <form class="form-horizontal" method="post" action="/accounts/register/?next={{ next }}">
              {{  form.password.errors }}
              {{  form.email.errors }}
              {{  form.username.errors }}
              {% csrf_token %}
              {% render_field form.type class+="hidden" style="display:none" value=form.type.value %}
              <dl>
                <dt class="form-title">
                  <label class="font-l">注册用户</label>
                </dt>
                <dd class="input-group form-row"><span class="input-group-icon">
                  <div class="space-xs"></div><span title="请输入邮箱或手机号" class="icon i-people-white"></span></span>
                  {% render_field form.identifier class+="input-large" placeholder="请输入邮箱或手机" %}
                </dd>
                <dd id="validate-code-container" class="row table form-row"><span class="table-cell">检测到手机号码</span>
                  {% render_field form.validate_code class+="table-cell clear-margin" placeholder="请输入验证码" autocomplete='off' %}
                  <div class="table-cell"><a href="#" class="button button-error button-small">获取</a></div>
                </dd>
                <dd class="input-group row form-row"><span class="input-group-icon">
                  <div class="space-xs"></div><span title="请输入密码" class="i-lock"></span></span>
                  {% render_field form.password class+="input-large" placeholder="请输入密码" autocomplete='off' %}
                </dd>
                <div class="space-vertical-s"></div>
                <dd class="row form-row">
                  <button type="submit" class="span12 button-error button-large">注 册</button>
                </dd>
                <div class="space-vertical-m"></div>
                <div class="form-footer"><span class="inline-block"><span>已有账户</span></span>
                  <div class="space-xs"></div><a href="register.html" class="button button-warning button-small">登录</a>
                </div>
              </dl>
            </form>
          </div>
        </div>
      </div>
    </div>
<!--用户登录 start-->
{% endblock %}

{% block javascript %}
  {{  block.super }}
  <script src="{% static "wanglibao/js/jquery.min.js" %}"></script>
  <script src="{% static "wanglibao/javascripts/register.js" %}"></script>
{% endblock %}
