doctype html
- with '企业社会责任' as title
include include/head
- endwith
body
  include include/header
  include include/navigation
  .container.margin-bottom-xxl
    .siderbar-div
      - with '企业社会责任' as title
      include include/about_sidebar
      - endwith
    .panel-padding.span9-omega
      .well-s
        h1.about-title 企业社会责任
        h1.sub-title 普惠金融
        p.para ——让“私人理财”不仅服务于高净值人群，更能普惠中国大众老百姓！
        p.para 网利金融凭借资深行业经验、广泛国内外金融领域合作伙伴、核心专业团队，致力于将国际成熟、领先的私人财富管理理念和服务，不仅能为高净值富裕人群、同时更能为大众老百姓提供全方位专业化、国际化的顶级私人理财规划与财富管理顾问服务，普惠服务于中国高净值富裕人群和大众老百姓。
        p.para 网利金融将与国内外金融领域合作伙伴携手创新，借助互联网、移动互联网的飞速发展，打造“中国第一家互联网私人银行”——网利宝在线理财平台，联合“信托、券商、基金、银行理财、私募、公募、P2P、货币基金、保险”等金融机构和产品，让大众老百姓轻松实现“安全、便捷、高收益”贴心智能的一站式免费智能在线理财，让财富管理不再高大上，把原本属于土豪的高端私人银行服务通过互联网和移动互联网带给大众，让更多中国普通老百姓切实享受专属私人财富管理服务。

        h1.sub-title 热心公益、回馈社会
        p.para 网利金融倡导“热心公益、回馈社会”的核心价值观，企业带头并鼓励员工积极参与和关怀“社会公益、环境保护”等项目，希望员工在企业社会责任中发挥潜力，网利金融期待发挥更积极的企业影响力。
        br
        p.para 网利金融作为企业公民，也以身作则，积极倡导与社会、环境和谐共融，坚持履行社会责任，日常办公环境绿色低碳化，充分结合环保与节能技术，通过减少碳排放量实现可持续发展的企业战略，期待共建美好和谐的绿色家园。
        br

  include include/footer
  include include/tracking
