doctype html
html
  head
    - with '安全保障－网利宝' as title
    include global/g_head
    - endwith
  body
    - with '安全保障' as activeItem
    include global/g_nav
    - endwith
    .i-mod-warp
      .i-security-banner
    .i-mod-warp.i-security-write
      .i-security-item.t-d11
        .font-xxll.padding-xl
          span.weight 业务模式
          |— 打造风险闭环
        .font-s.jy.grid-text 网利宝在业内独创“产融结合”的业务模式，凭借丰富的金融行业经验、互联网优势，联合国内领先的金融机构、产业龙头进行战略合作，深耕每个细分的朝阳行业，一方面为优质的，但有借贷需要的中小企业解决资金短缺的难题，另一方面不断设计优质的信贷产品，为投资用户提供高收益、安全透明、期限灵活的理财产品。网利宝的业务模式执行360度全方位风险控制，强调把风险控制在贷前、打造风险闭环，确保理财产品安全可靠，为投资者财富增值保驾护航。
        img(src='/static/imgs/pc/security/security_grid.jpg').grid-img
        .security-item-two.clearfix.tl
          .span6
            .item-head-warp.clearfix
              .item-head-circle.fl
                .head-circle
              .item-head-text.fl.font-s 网利宝已在物流货运、金融仓储、车房抵押贷、供应链、艺术品、电商、珠宝贷等产业进行了全面布局，堪称“八爪鱼”模式。
            img(src='/static/imgs/pc/security/security_bazhuayu.jpg').bazhuayu-img
          .span6.padding-l-s
            .item-head-warp.clearfix
              .item-head-circle.fl
                .head-circle
              .item-head-text.fl.font-s 网利宝金融产品研发团队目前已覆盖全国20余个城市，执行360度全方位风险控制，为投资者财富增值保驾护航。
            img(src='/static/imgs/pc/security/security_map.jpg').bazhuayu-img
    .i-mod-warp
      .i-security-item
        .font-xxll.padding-xl
          span.weight IT风控数据系统“
          |— 确保贷前项目安全
        .it-head
          span.font-text-icon ”
          span.text-36.weight 三十六层
          span.font-m 把关只为换您一份安心，一百分努力只为看您投得开心！    安全，是我最好的承诺！    投我，是你最好的选择！
          span.font-text-icon ”
        .font-xxll.weight.tl 网利宝IT风控数据系统
        img(src='/static/imgs/pc/security/security_grid2.jpg').grid2-img
    .i-mod-warp.i-security-write
      .i-security-item
        .font-xxll.padding-xl
          span.weight 合作机构
          |— 严格筛选与管理
        .security-item-two.clearfix.br-b-d2
          .span6.font-s.tl.people-text
            .weight.font-l 合作机构筛选：
            p
              span.weight 选择:
              |权威评级前3%、具有担保资质的优秀机构。
            p
              span.weight 审核：
              |风控团队按月进行资质复核。
            p
              span.weight 授信额度制：
              |结合权威评级、资产规模、往期案例表现，综合评定、并给合作机构相应的授信额度。
            p
              span.weight 实时监控：
              |实时监控合作机构资产情况。
          .span6
            img(src='/static/imgs/pc/security/security_people.jpg')
        .security-item-two.clearfix.br-b-d2
          .span6
            img(src='/static/imgs/pc/security/security_write.jpg').write-img
          .span6.tl.font-s
            .weight.font-l.gm-t-l 合作机构对借款企业一级审核：
            p
              span.weight 实地考察：
              |实地考察借款人
            p
              span.weight 背景调查：
              |严格调查借款人背景
            p
              span.weight 资料审核：
              |详细审核企业提交的多种材料
            p
              span.weight 还款能力：
              |综合评估借款人还款能力
            .weight.font-l.gm-t-l 网利宝分站、总站先后进行第二、三级重审：
            p 实地考察
            p 审核合作机构
            p 审核借款人资料
            p 审核平台债权

        .security-item-two.clearfix
          .span6.font-s.tl
            .weight.font-l.ask-text 合作机构筛选：
            p 风控团队实行贷后实时跟踪管理；
            p 顶级风控团队进行全程信息把关；
            p 严格的年度审查；
          .span6
            img(src='/static/imgs/pc/security/security_ask.jpg').ask-img

    .i-mod-warp
      .i-security-item
        .font-xxll.padding-xl
          span.weight 资金安全
          |— 投资人本息保障制度
        .font-xxll.weight 阳光保险对资金账户承保
        img(src='/static/imgs/pc/security/security_safe.jpg')
        .about-safe-money.tl.font-m
          p.weight
            span.circle-item 1
            |平台是否自设资金池？
          p.safe-money-padding 招商银行对交易全程进行监管，给予资金链360°保障。
          p.weight
            span.circle-item 2
            |如何保证资金安全？
          p.safe-money-padding “汇付天下”提供专业的第三方支付，借款企业与投资者资金均在“汇付天下”设立的独立账户进出，网利宝不动用户1分钱。
          p.safe-money-padding 此外，网利宝账户资金安全由阳光保险承保。
          p.weight
            span.circle-item 3
            |如何保证借款企业按时还款？
          p.safe-money-padding 从借款之日起，网利宝就实时进行贷中监控，对可能产生逾期的借款人进行预警。在还款前几日，网利宝将采用多元化催收手段保证资金及时回流。
          p.safe-money-padding 此外，所有借款企业均要提供固定资产或流通货物质押，一旦无法按时还款，网利宝将对质押物进行强制处理。
          p.weight
            span.circle-item 4
            |借款逾期怎么办？
          p.safe-money-padding 网利宝将与每个合作机构签订无限连带担保责任还款协议，合作机构为自己推荐的每一笔借款提供100%连带责任担保，一旦逾期将对投资者本息进行全额赔付。
          p.weight
            span.circle-item 5
            |合作机构一定保证赔付吗？
          p.safe-money-padding 截至目前，网利宝的逾期率为0。
          p.safe-money-padding 网利宝独创“产融结合”的业务模式，所以合作伙伴大多是某个行业的龙头企业，彼此是基于足够的信赖、谋求长远发展进行战略合作的。网利宝将发挥在互联网、金融领域的双重优势帮助合作伙伴进行业务转型、巩固行业的龙头地位，所以合作伙伴也会对投资人的利益给予百分之百的保障。

    .i-mod-warp.i-security-write
      .i-security-item
        .font-xxll.padding-xl
          span.weight 网站建设
          |— 银行级别的安全保障
        .security-item-two.clearfix
          .span6.tl
            .security-lock
              .weight.font-m 全站信息加密，达到银行级保障
              p.font-s 最高256位全站加密方式，让你的账户无论登录或登出都一样安全
              p
                mixin kongxinlist(text)
                  span.mg-r-sm
                    i.kongxin-circle
                    =text
                +kongxinlist('99%游览器/设备兼容')
                +kongxinlist('最高256位加密')
                +kongxinlist('全站加密')
                +kongxinlist('三重防火墙')

          .span6
            img(src='/static/imgs/pc/security/security_lock.jpg')
        .security-item-two.clearfix
          .span6
            img(src='/static/imgs/pc/security/security_safe2.jpg').safe2-img
          .span6.tl
            .security-safe2
              .weight.font-m.safe2-text 网利宝对投资人或用户进行四重身份认证，保障账户安全
              p.font-s 账户资金对应唯一身份——理财资金同卡进出必须通过下述4重身份验证。
              p
                mixin safeItem(text)
                  span.safe2-mg
                    i.kongxin-circle
                    =text
                +safeItem('姓名')
                +safeItem('手机号')
                +safeItem('身份证')
                +safeItem('银行卡号')
        .secuity-for-regist
          a(href="/accounts/register/") 免费注册
    include global/g_footer