-load formatters
-load mathfilters

doctype html
html
  head
    - with '安全保障' as title
    include include/common_head
    - endwith
    meta(name="keywords", content="安全保障")
    meta(name="description", content="没有最安全，只有更安全")

  body.white-background
    include include/header
    - with '安全保障' as activeItem
    include include/navigation
    - endwith

      .security-container-banner

      //tabs start
      .security-bar
        .container
          a.active(href="#") 全平台保障策略
          a(href="#") P2P项目本息保障计划
      //tabs end

      //全平台保障策略
      //start
      .security-panel
        .security-panel-title
          .security-panel-center
            h2 全平台保障策略
      .security-panel-container
        .row
          .span5
            .security-content
              .security-num-01
              h3 综合完整理财业务，稳健个人资产增值强力保障
              p 真正意义上的资产配置。网利宝为投资人定制一对多综合投资模型，不将投资人的“鸡蛋放在同一个篮子”里，以分摊风险，实现投资人资产稳健增值。
          .span2 &nbsp;
          .span4
            .security-image.padding-top-xxxl
              img(src="/static/images/security/panel_01.jpg")

      .security-panel-container
        .row
          .span6
            .security-image.padding-top-xl
              img(src="/static/images/security/panel_02.jpg")
          .span5
            .security-content
              .security-num-02
              h3 4 重身份认证 锁定账户安全
              p 账户资金对应唯一身份——理财资金同卡进出/4重身份验证。
              p
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 姓名
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 手机号
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 身份证
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 银行卡号

      .security-panel-container
        .row
          .span7
            .security-content
              .security-num-03
              h3 权威机构合作 从源头控制风险
              p
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 与东源、苏州国信集团、数米基金网、联合信用等权威机构合作
              p
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 顶级风控团队：国际顶级投行、知名国内外银行及互联网金融领域团队协作把关信息
              p
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 精选优质理财产品，网利宝风控团队把关筛选，优中取精
              p
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 实地项目考察及全程监管
          .span4
            .security-image.padding-top-xxxl.align-center
              img(src="/static/images/security/panel_03.jpg")

      .security-panel-container
        .row
          .span6
            .security-image.padding-top-xxxl
              img(src="/static/images/security/panel_04.jpg")
          .span5
            .security-content
              .security-num-04
              h3 资金链360°保障，不动用户1分钱
              p
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 支付结算由汇付天下等第三方支付通道完成
              p
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 交易全程由民生银行监管
              p
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 资金托管与联动优势合作
              p
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 平安保险对用户资金账户全额承保

      .security-panel-container
        .row
          .span7
            .security-content
              .security-num-05
              h3 全站信息加密，银行级保障
              p 最高256位全站加密方式，让你的账户无论登录或登出都一样安全
              p
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 最高256位加密
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 99%浏览器/设备兼容
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 全站加密
                span.icon.icon-circle
                  span.icon.icon-check-mark
                i 三重防火墙
          .span4
            .security-image.padding-top-xxxl.align-center
              img(src="/static/images/security/panel_05.jpg")


      //end

      //项目本息担保计划
      //start
      .security-panel
        .security-panel-title
          .security-panel-center
            h2 项目本息担保计划
      //end



    script.
      require(["/static/js/index.js"])

    - with 1 as no_margin
    include include/footer
    - endwith

    include include/tracking