-load formatters
-load mathfilters

doctype html
html
  head
    - with '安全保障' as title
    include include/common_head
    - endwith
    meta(name="keywords", content="安全保障")
    meta(name="description", content="没有最安全，只有更安全")

  body.white-background
    include include/header
    - with '安全保障' as activeItem
    include include/navigation
    - endwith

      .security-container-banner

      //tabs start
      .security-bar
        .container
          a.active(href="#") 全平台保障策略
          a(href="#") P2P项目本息保障计划
      //tabs end

      //全平台保障策略
      //start
      .security-panel.hidden
        .security-panel-title
          .security-panel-center
            h2 全平台保障策略
      //end

      //项目本息担保计划
      //start
      .security-panel
        .security-panel-title
          .security-panel-center
            h2 项目本息担保计划

        .security-panel-content
          .security-panel-center
            .guarantee-container.orgarnization
              .guarantee-list-item.gurantee-container-title
                h3 机构筛选
                p 选择权威评级前10%优质小贷、担保等具有担保资质的机构为合作伙伴。

              .guarantee-list-item.gurantee-container-list
                ul
                  li
                    span.list-label
                      .list-icon.list-01
                      按月审核
                    span.list-content 网利宝平台风控团队审核合作机构“风控标准、风控流程、放款标准、贷后管理等”，按月审核合作机构资质。
                  li
                    span.list-label 授信额度制
                    span.list-content 对合作机构实行授信额度制，结合权威评级、机构资产规模、往期风控案例表现综合给定合作授信额度。

                  li
                    span.list-label 实时监控
                    span.list-content 网利宝风控团队实时监控合作机构资产情况。



      //end



    script.
      require(["/static/js/index.js"])

    - with 1 as no_margin
    include include/footer
    - endwith

    include include/tracking