-load formatters
-load mathfilters

doctype html
html
  head
    - with '安全保障' as title
    include include/common_head
    - endwith
    meta(name="keywords", content="安全保障")
    meta(name="description", content="没有最安全，只有更安全")

  body.white-background
    include include/header
    - with '安全保障' as activeItem
    include include/navigation
    - endwith

      .security-container-banner

      //tabs start
      //tabs end

      .container
        //全平台保障策略
        //start
        .security-panel
          .security-panel-title
            .security-panel-center
              h2 全平台保障策略
        //end

        //项目本息担保计划
        //start
        .security-panel
          .security-panel-title
            .security-panel-center
              h2 项目本息担保计划
        //end



    script.
      require(["/static/js/index.js"])

    - with 1 as no_margin
    include include/footer
    - endwith

    include include/tracking