doctype html
- with '管理团队' as title
include include/head
- endwith
body
  include include/header
  include include/navigation
  .container
    .siderbar-div
      - with '管理团队' as title
      include include/about_sidebar
      - endwith
    .panel-padding.span9-omega
      .well-s
        h1.about-title 管理团队
        .row
          h1.sub-title 创始合伙人/网利金融CEO 赵润龙
          .span3
            img(src="/static/images/ceo.jpg",alt="赵润龙")
          .span9-omega
            p.para 赵润龙先生在国际资本市场和国内外互联网行业有丰富经验。他曾在摩根斯坦利、美银美林从事TMT行业分析、投资、及兼并收购等工作，并参与了包括微软收购雅虎、中华电信、红孩子、无锡尚德、富力地产、天合太阳能、利郎男装等行业代表性资本交易。2012年赵润龙先生作为创始团队成员与前美银美林中国区主席刘二飞先生共同创办由中投和贝莱德为主要股东的中国概念基金。
            p.para 赵润龙先生曾于2004年在美国硅谷创办中国版的Facebook“友林网”并任CEO。友林网在其带领下发展成为全球最大的海外华人社交网络，后被红杉资本旗下占座网收购。赵润龙先生拥有互联网行业丰富的经验，对中国互联网现状及发展趋势有着深刻的理解。
            p.para 赵润龙先生不仅熟悉国际资本市场的运作方式，更是深耕于中国互联网行业、并集互联网创业、管理、投资、及收购等经验于一身。他相信基于深厚的互联网一线从业经验，加上国际资本市场的历练，我们能够更准确的洞察先机，抓住投资机遇，为股东创造出丰厚的投资回报。
            p.para 赵润龙先生曾就读于美国加州伯克利大学，并任伯克利大学华人学生会主席，获得经济学、及HAAS商学院最高荣誉双学位。

        .row
          h1.sub-title 联合创始人 王超
          .span3
            img(src="/static/images/chao.jpg",alt="王超")
          .span9-omega
            p.para 王超先生曾就职于华夏基金，领导开发了华夏基金风控、交易、安全等核心系统，对公募基金和风险控制有着深刻理解。
            p.para 王超先生曾于2011年创办北京中科融鑫信息科技有限公司并任CEO。中科融鑫信息科技公司为中关村高新技术企业，拥有多项专利，并在2013年获得科技部创新基金。中科融鑫立足于政府及企业的信息化服务、新技术开发、科技成果转化，服务众多企事业单位及大型金融机构，是国内领先的金融行业信息技术服务商。
            p.para 王超先生毕业于中国科学院，获硕士学位。
            br

        .row
          h1.sub-title 合伙人/投资总监 姜弘
          .span3
            img(src="/static/images/jianghong.jpg",alt="姜弘")
          .span9-omega
            p.para 姜弘先生在国际资本市场有超过12年的丰富经验。他曾经在英国资产管理公司Ecofin担任基金经理，负责管理Ecofin中国能源和基础设施基金(EcofinChina Power and Infrastructure Fund)，对水泥，机械，钢铁，煤炭，电力，太阳能，风能等周期行业有深刻的了解。
            p.para 姜弘先生还先后在JP Morgan资产管理公司纽约总部和位于纽约的宏观对冲基金TraxisPartners任分析师，从事全球宏观经济研究。TraxisPartners由华尔街传奇人物巴顿-比格斯创立。
            p.para 姜弘先生曾任职摩根斯丹利，并在上海办公室任副总裁期间对中国的食品饮料行业和百货行业进行了深入的研究。
            p.para 作为长期在国际资本市场工作的资深人员，姜弘先生非常熟悉国际资本市场的运作方式，也深刻地认识到大部分机构投资者运作的局限性。作为价值投资信徒，他相信以PE的方式进行二级市场的投资，必定能够创造出远远高于市场平均水平的投资回报。
            p.para 姜弘先生曾就读于Carnegie Mellon University, 获得计量金融硕士学位。
            br

        .row
          .span3
            img(src="/static/images/idg_logo.jpg", alt="IDG")
          .span9-omega
            p.para 2014年2月，网利宝获得国际知名风投IDG资本的千万美元A轮投资。自1992年开始，作为最早进入中国市场的国际投资机构之一，IDG资本已投资包括百度、腾讯、携程等200家优秀企业，并已有超过60家企业在美国、中国香港、中国A股证券市场上市，或通过M&A成功退出。
            br

  include include/footer
  include include/tracking
