doctype html
- with '注册协议' as title
include include/head
- endwith
body
  include include/header
  include include/navigation
  .container
    .agreement-panel
      h1 qqqq
      |qqq
      br

  include include/footer