{% extends "navigation_base.html" %}

{% block content %}
  {{ block.super }}
  <div class="sub-navbar">
    <div class="sub-navbar--list">
      <ul>
        <li class="sub-navbar--list-item"><a href="{% url 'trust_home' %}" class="sub-navbar--anchor">信托首页</a></li>
        <li class="sub-navbar--list-item"><a href="{% url 'trust_products' %}" class="sub-navbar--anchor">信托产品</a></li>
        <li class="sub-navbar--list-item"><a href="#" class="sub-navbar--anchor">信托公司</a></li>
      </ul>
    </div>
  </div>
{% endblock %}