{% extends "trust_base.html" %}

{% load formatters %}

{% block content %}
  {{ block.super }}

  <div class="space-vertical-s"></div>
  <div class="container">
    <div class="span8 panel detail-header">
      <div class="panel-title-bar">
        <div class="panel-title">{{ trust.name }}</div>
      </div>
      <div class="panel-inner">
        <div class="well">
          <div class="span7">
            <p>{{ trust.brief }}</p>
          </div>
          <div class="span5-omega">
            <div class="span4">
              <div class="card-icon">
                <dl>
                  <dt>预期收益</dt>
                  <dd>{{ trust.expected_earning_rate | percentage }}</dd>
                </dl>
              </div>
            </div>
            <div class="span4">
              <div class="card-icon">
                <dl>
                  <dt>销售门槛</dt>
                  <dd>{{ trust.investment_threshold | money_to_10k }}</dd>
                </dl>
              </div>
            </div>
            <div class="span4-omega">
              <div class="card-icon">
                <dl>
                  <dt>投资期限</dt>
                  <dd>{{ trust.period | month}}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span4-omega panel detail-header">
      <div class="panel-title-bar">
        <div class="panel-title">发售日期: {{ trust.issue_date | date:"Y年n月j日"}}</div>
      </div>
      <form class="order-form">
        <div class="form-row">
          <label class="span3 form-row-label">您的姓名:</label>
          <input type="text" class="span8">
        </div>
        <div class="form-row">
          <label class="span3 form-row-label">手机号码:</label>
          <input type="text" class="span8">
        </div>
        <div class="form-row">
          <div class="prefix3">
            <button type="submit" class="button button-small button-warning">立即预约</button>
            <p class="font-xs">预约成功后，我们将在第一时间联系您。</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="space-vertical-s"></div>
    <div class="panel">
      <div class="panel-title-bar">
        <div class="panel-title">产品详情</div>
      </div>
      <div class="well">
        <table class="bordered-table">
          <tbody>
            <tr>
              <th colspan="1">信托名称</th>
              <td colspan="2">{{ trust.name }}</td>
              <th colspan="1">预计发行规模</th>
              <td colspan="1">{{ trust.scale | money_to_10k }}</td>
            </tr>
            <tr>
              <th colspan="1">信托公司</th>
              <td colspan="2">{{ trust.issuer.name }}</td>
              <th colspan="1">预计年收益</th>
              <td colspan="1">{{ trust.expected_earning_rate | percentage }}</td>
            </tr>
            <tr>
              <th colspan="1">存续期</th>
              <td colspan="2">{{ trust.period | month}}</td>
              <th colspan="1">利息分配</th>
              <td colspan="1">{{ trust.payment }}</td>
            </tr>
            <tr>
              <th colspan="1">最低认购金额</th>
              <td colspan="2">{{ trust.investment_threshold | money_to_10k }}</td>
              <th colspan="1">信托类型</th>
              <td colspan="1">{{ trust.type }}</td>
            </tr>
            <tr>
              <th colspan="1">投资行业</th>
              <td colspan="2">{{ trust.usage }}</td>
              <th colspan="1">年化收益率</th>
              <td colspan="1">{{ trust.expected_earning_rate | percentage}}</td>
            </tr>
            <tr>
              <th colspan="1">收益说明</th>
              <td colspan="2">{{ trust.earning_description }}</td>
              <th colspan="1">抵押率</th>
              <td colspan="1">--</td>
            </tr>
            <tr>
              <th colspan="1">抵押物</th>
              <td colspan="4">车辆</td>
            </tr>
            <tr>
              <th colspan="1">产品说明</th>
              <td colspan="4">TODO</td>
            </tr>
            <tr>
              <th colspan="1">风险控制</th>
              <td colspan="4">{{ trust.risk }}</td>
            </tr>
            <tr>
              <th colspan="1">受托人</th>
              <td colspan="4">TODO</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="space-vertical-s"></div>
{% endblock %}

