doctype html
- with '信托产品详情' as title
include include/head
- endwith
body
  include include/header
  include include/navigation

  .sub-navbar
    .sub-navbar--list
      ul
        li.sub-navbar--list-item
          a.sub-navbar--anchor.active(href="#") 信托首页
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="#") 信托产品
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="#") 信托公司

  .space-vertical-s

  .container
    .span8.panel.detail-header
      .panel-title-bar
        #product_name.panel-title 胜于农业产业园

      .panel-inner
        .well
          .span7
            p 高收益，延安保障房项目，财政安排还款，国有土地抵押，国资委全资公司连带责任担保，风控完善，还款充裕！
          .span5-omega
            .span4
              .card-icon
                dl
                  dt 预期收益
                  dd(data-bind='text: expected_earning_rate') 10%
            .span4
              .card-icon
                dl
                  dt 销售门槛
                  dd 100万
            .span4-omega
              .card-icon
                dl
                  dt 投资期限
                  dd 18个月

    .span4-omega.panel.detail-header
      p.font-m.padding-left-s.padding-top-xs 发售日期: 2014-1-1

      form.order-form
        .form-row
          label.span3.form-row-label 您的姓名:
          input#name_input.span8(type="text")

        .form-row
          label.span3.form-row-label 手机号码:
          input#phone_input.span8(type="text")

        .form-row
          .prefix3
            a#preorder_submit.button.button-mini.button-warning(href="#", type="submit") 立即预约
            p.font-xs 预约成功后，我们将在第一时间联系您。

  .container
    .space-vertical-s
    .panel
      .panel-title-bar
        .panel-title 产品详情

      .well
        table.bordered-table
          tbody
            tr
              th(colspan="1") 信托名称
              td(colspan="2") 中航信托-天惠14号信贷及车贷结构化集合资金信托计划
              th(colspan="1") 预计发行规模
              td(colspan="1") 4800万
            tr
              th(colspan="1") 信托公司
              td(colspan="2") 甘肃信托
              th(colspan="1") 预计年收益
              td(colspan="1") 10%
            tr
              th(colspan="1") 存续期
              td(colspan="2") 24个月
              th(colspan="1") 利息分配
              td(colspan="1") 到期付息

            tr
              th(colspan="1") 最低认购金额
              td(colspan="2") 100万
              th(colspan="1") 信托类型
              td(colspan="1") 贷款类

            tr
              th(colspan="1") 投资行业
              td(colspan="2") 其他
              th(colspan="1") 年化收益率
              td(colspan="1") 10%

            tr
              th(colspan="1") 收益说明
              td(colspan="2") 100万及以上
              th(colspan="1") 抵押率
              td(colspan="1") -

            tr
              th(colspan="1") 抵押物
              td(colspan="4") 车辆

            tr
              th(colspan="1") 产品说明
              td(colspan="4") 受托人利用信托计划资金发放小微信贷和车辆抵押贷款，通过市场化的方式获得利息回报,以实现信托财产的保值增值，为优先级投资人获取稳定的投资收益

            tr
              th(colspan="1") 风险控制
              td(colspan="4") 结构化设计，优先：劣后=10:1 <br/> 借款人车辆抵押担保+宜信承担连带保证责任

            tr
              th(colspan="1") 受托人
              td(colspan="4") 中航信托股份有限公司的前身为江西江南信托股份有限公司,是经中国银监会批准设立的股份制非银行金融机构,是经中国商务部核准的外商投资企业。公司于2009年12月底完成重新登记开业,并于2010年12月底完成名称变更并乔迁新址。 公司由中国航空工业集团公司、中国航空技术深圳有限公司和引进的战略投资者新加坡华侨银行等5家单位共同发起组建,作为中航工业旗下中航工业投资公司成员单位,专注于具有行业优势和区域优势并能可持续发展、形成核心能力的产品和业务,实现公司"高起点、高境界、可持续、快发展",努力把公司建设成为研究水平和服务水平领先、特色鲜明的专业化信托公司。 2012-01-05经中国银监会批准,中航信托成功将注册资本增加到15亿元。本次增资是中航信托在2011年内完成的第二次增资。 经中国银监会批准和公司登记机关核准，公司经营下列人民币和外币业务：（一）资金信托；（二）动产信托；（三）不动产信托；（四）有价证券信托；（五）其他财产或财产权信托；（六）作为投资基金或者基金管理公司的发起人从事投资基金业务；（七）经营企业资产的重组、并购及项目融资、公司理财、财务顾问等业务；（八）受托经营国务院有关部门批准的证券承销业务；（九）办理居间、咨询、资信调查等业务；（十）代保管及保管箱业务；（十一）以存放同业、拆放同业、贷款、租赁、投资方式运用固有资产；（十二）以固有财产为他人提供担保；（十三）从事同业拆借；（十四）法律法规规定或中国银监会批准的其他业务。

  .space-vertical-s

  include include/footer

  script(src="/static/js/require.js" data-main="/static/js/trust_detail")