- load formatters

doctype html
- with '信托产品详情' as title
include include/head
- endwith
body
  include include/header

  - with '信托产品' as activeItem
  include include/navigation
  - endwith

  .sub-navbar
    .sub-navbar--list
      ul
        li.sub-navbar--list-item
          a.sub-navbar--anchor.active(href="{% url 'trust_home' %}") 信托首页
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{% url 'trust_product' %}") 信托产品
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{% url 'trust_company' %}") 信托公司

  .space-vertical-s

  .container
    .span8.panel.panel-header
      .panel-title-bar
        #product_name.panel-title {{ trust.name }}

      .panel-inner
        .well
          .span7
            p {{ trust.brief }}
          .span5-omega
            .span4
              .card-icon
                dl
                  dt 预期收益
                  dd {{ trust.expected_earning_rate | percentage }}
            .span4
              .card-icon
                dl
                  dt 销售门槛
                  dd {{ trust.investment_threshold | money_to_10k }}
            .span4-omega
              .card-icon
                dl
                  dt 投资期限
                  dd {{ trust.period | month}}

    .span4-omega.panel.panel-header
      p.font-m.padding-left-s.padding-top-xs 发售日期: {{ trust.issue_date | date:"Y年n月j日"}}

      form.order-form
        .form-row
          label.span3.form-row-label 您的姓名:
          input#name_input.span8(type="text")

        .form-row
          label.span3.form-row-label 手机号码:
          input#phone_input.span8(type="text")

        .form-row
          .prefix3
            a#preorder_submit.button.button-mini.button-warning(href="#", type="submit") 立即预约
            p.font-xs 预约成功后，我们将在第一时间联系您。

  .container
    .space-vertical-s
    .panel
      .panel-title-bar
        .panel-title 产品详情

      .well
        table.bordered-table
          tbody
            tr
              th(colspan="1") 信托名称
              td(colspan="2") {{ trust.name }}
              th(colspan="1") 预计发行规模
              td(colspan="1") {{ trust.scale | money_to_10k }}
            tr
              th(colspan="1") 信托公司
              td(colspan="2") {{ trust.issuer.name }}
              th(colspan="1") 预计年收益
              td(colspan="1") {{ trust.expected_earning_rate | percentage }}
            tr
              th(colspan="1") 存续期
              td(colspan="2") {{ trust.period | month}}
              th(colspan="1") 利息分配
              td(colspan="1") {{ trust.payment }}

            tr
              th(colspan="1") 最低认购金额
              td(colspan="2") {{ trust.investment_threshold | money_to_10k }}
              th(colspan="1") 信托类型
              td(colspan="1") {{ trust.type }}

            tr
              th(colspan="1") 投资行业
              td(colspan="2") {{ trust.usage }}
              th(colspan="1") 年化收益率
              td(colspan="1") {{ trust.expected_earning_rate | percentage}}

            tr
              th(colspan="1") 收益说明
              td(colspan="2") {{ trust.earning_description }}
              th(colspan="1") 抵押率
              td(colspan="1") TODO

            tr
              th(colspan="1") 抵押物
              td(colspan="4") TODO

            tr
              th(colspan="1") 产品说明
              td(colspan="4") TODO

            tr
              th(colspan="1") 风险控制
              td(colspan="4") {{ trust.risk }}

            tr
              th(colspan="1") 受托人
              td(colspan="4") TODO
  .space-vertical-s

  include include/footer

  script(src="/static/js/require.js" data-main="/static/js/trust_detail")