doctype html
- with '为什么要进行资产配置' as title
include include/head
- endwith
body
  include include/header
  include include/navigation
  .container
    .panel-nopadding.span3
      - with '关于理财' as title
      include include/about_sidebar
      - endwith
    .panel-padding.span9-omega
      .well-s
        h1.title 为什么要进行资产配置
        .release-time 发布时间：2014-03-05 14:23:50
        p.para 资产配置是成熟投资者必须掌握的一种投资方法，通过分散化自己的投资渠道和标的，以此来规避单一投资标的的不理性波动。
        br
        p.para 例如，在2007年下半年开始投资国内A股，那相信绝大多数投资者到现在还是在亏钱。如果配置成：20%A股、20%黄金、30%银行理财、30%百度股票。那这个投资组合到现在是大赚特赚的。
        br
        p.para 这仅是一个虚拟的例子，但也说明分散投资、资产合理配置的重要意义。
        br
        p.para 由于国内投资者投资渠道狭窄，而且绝大部分投资者并不了解复杂的金融投资产品，这样选择一家专业、具备全球投资能力的在线理财公司就显得很有必要。
        br
        p.para 为了帮助中国投资者，网利宝把全球领先的“互联网私人银行”模式引入中国，帮客户把资产进行专业投资、资产进行合理配置组合，取得更好的投资收益。
        br
        p.para 还等什么，马上<a href="/accounts/register">注册网利宝</a>，开始你的投资之旅吧。
  include include/footer
  include include/tracking
