-load formatters

.reward-card-warp
  .reward-card-list
    each pack in packages
      .reward-card
        .reward-explain
          .reward-name {{pack.name}}
          .reward-scope {{pack.invest_amount}}元元起用
          .reward-period {{pack.available_at | milldate_format}} 至 {{pack.unavailable_at | milldate_format}}
        .reward-amount {{pack.amount | percentage_number_two}}%
          em %
