.reward-card-warp
  .reward-card-list
    .reward-card
      .reward-explain
        .reward-name 逢8必发赠送加息券
        .reward-scope 100元起用
        .reward-period 2015.09.25至2015.10.31
      .reward-amount 0.8
        em %