-load formatters
-load mathfilters

for product in p2p_lists
  status = product.display_status
  if status == '抢购中'
    listClass = 'profit-blue'
    btnClass = 'btn-blue'
  elif status == '已还款'
    listClass = 'profit-hui'
    btnClass = 'btn-grey'
  elif status == '还款中'
    listClass = 'profit-hui'
    btnClass = 'btn-lightblue'
  else
    listClass = 'profit-hui'
    btnClass = 'btn-red'
  .list-section
    a(href="/weixin/view/detail/{{product.id}}/").section-head
      if product.category == '新手标'
        span.head-prompt  新手福利
      span.head-tit {{product.name}}
    .section-body
      a(href="/weixin/view/detail/{{product.id}}/").body-left
        .body-Profit
          span.profit-cont
            .profit-math(class=listClass)
              earning_rate = str(product.expected_earning_rate)
              span.profit-num {{earning_rate}}
              span.profit-sign %
              if product.activity
                span.prpfit-add +
                span.profit-addNum {{product.activity.rule.percent_text}}
                span.profit-addNumsign %
            .profit-tit 年化收益
        .body-time
          .time-num
            em.section-hui {{product.period}}
            |{{product.pay_method|period_unit}}
          .time-tit 还款期限
      .body-right
        a(href="/weixin/view/buy/{{product.id}}/?next=/weixin/list/").btn-body(class=btnClass) {{status}}
    percent = float(product.ordered_amount) / product.total_amount * 100
    if status == '抢购中'
      .section-progressd(style="width:{{percent | percentage}}")
