-load formatters
-load mathfilters

doctype html
html
  head
    - with '购买P2P，送钱还送礼' as title
      include include/common_head
      meta(name="keywords", content="购买P2P,送钱还送礼,网利宝")
      meta(name="description", content="购买P2P，送钱还送礼，11%年化收益 再贴1%，活动期间内，达到累计购买金额，即送“真爱大礼”")

  body.white-background
    script(type="text/javascript",src="http://ga.istreamsche.com/CPS/GEO_REACH.js")
    .full-container
        .container.activity-header.clearfix
          .pull-left
            a(href="/")
              img(src="/static/images/activity/logo.png")
          .pull-right.back-home
            a(href="/")
              span.icon.icon-home
              | 返回首页

      .full-container.activity-container
        .activity-banner
          p.container
            if user.is_authenticated
              a.buying(href="/#p2p",title="立即抢购",target="_blank")
            else
              a.buying(href="/accounts/register/?next=/#p2p",title="立即抢购",target="_blank")

      .container.activity-text
        .activity-line
          span
            img(src="/static/images/activity/text_1.png",alt="活动期间内，达到累计购买金额，即送“真爱大礼”")

      .container
        h3.activity-title 活动时间：即日起 - 2014.9.30

      .container
        ul.activity-list
          li.active
            span.icon.icon-box-arrow
            |累计购买满
            span.highlight 100万&nbsp;&nbsp;送
            | iPhone 6（16G 4.7寸 银色）
          li
            span.icon.icon-box-arrow
            |累计购买满
            span.highlight 40万&nbsp;&nbsp;&nbsp;&nbsp;送
            | iPad Air（16G WIFI版 白色）
          li.active
            span.icon.icon-box-arrow
            |累计购买满
            span.highlight 20万&nbsp;&nbsp;&nbsp;&nbsp;送
            | 1000元京东礼品卡
          li
            span.icon.icon-box-arrow
            |累计购买满
            span.highlight 10万&nbsp;&nbsp;&nbsp;&nbsp;送
            | 500元京东礼品卡
          li.active
            span.icon.icon-box-arrow
            |累计购买满
            span.highlight 1万-9万&nbsp;&nbsp;
            | 每满&nbsp;&nbsp;
            span.highlight 1万元&nbsp;&nbsp;
            | 就送50元话费
          p.trumpet-tip
            img(src="/static/images/activity/tips.png")


      .container.activity-text
        .activity-line
          span
            img(src="/static/images/activity/text_2.png",alt="有钱一起赚，邀请好友就赚钱")

      .container
        a.invite-friend(href="/accounts/invite/",title="邀请好友",target="_blank")
          img(src="/static/images/activity/invite_friends.png",alt="邀请好友")
        p.invite-text
          |邀请好友，多邀多送，上不封顶，有钱一起赚！
          |<br> &nbsp;&nbsp;&nbsp;&nbsp;好友投资成功，双方共享
          span.highlight 60元话费
          |（双方各30元话费）

      .full-container.make-money-guide
        .container
          img(src="/static/images/activity/make_money_guide.png",alt="赚钱引导流程")

      .container.activity-text
        .activity-line
          span
            img(src="/static/images/activity/text_3.png",alt="奖品发放")

      .container
        ul.activity-list
          li.active
            span.icon.icon-box-arrow
            | 奖品统一于活动结束后7个工作日内开始发放（由于iPhone 6上市时间问题，机型为港版）。
          li
            span.icon.icon-box-arrow
            | 由于实物奖品快递需要，满额度用户请提交真实“姓名、手机号、身份证、通讯地址”至
            span.highlight &nbsp;kefu@wanglibank.com 。
          li.active
            span.icon.icon-box-arrow
            | 京东礼品卡的密码和话费均发送到交易手机号。
          li
            span.icon.icon-box-arrow
            | 年化2%收益奖励，将随P2P理财项目每期还款发放。
          li.active
            span.icon.icon-box-arrow
            | 本活动不收取用户任何费用，谨防上当受骗。

      .full-container.activity-footer
        .weixin-img
          img(src="/static/images/activity/weixin.png",alt="扫一扫官方微信 获取更多理财咨询！")
          p 扫一扫官方微信 获取更多理财咨询！
        .wanglibao-logo
          img(src="/static/images/activity/wanglibao_logo.png",alt="网利宝")
        .share-icons
          span.icon.icon-share-weibo(title="新浪微博")
          span.icon.icon-share-weibo-qq(title="腾讯微博")
          span.icon.icon-share-qzone(title="QQ空间")
          span.icon.icon-share-renren(title="人人")
          span.icon.icon-share-email(title="邮箱")
        .weixin-qq-hotline
          span
            i.icon.icon-share-weixin
            | 官方微信：iwanglibao
          span
            i.icon.icon-share-qq
            | 官方QQ群：362121062
          span
            i.icon.icon-share-hotline
            | 理财热线预约：4008 588 066
        br
        p 此次活动解释权归网利宝官方网站所有


      include include/tracking