-load formatters
-load mathfilters

doctype html
html
  head
    - with '购买P2P，送钱还送礼' as title
      include include/common_head
      meta(name="keywords", content="购买P2P,送钱还送礼,网利宝")
      meta(name="description", content="购买P2P，送钱还送礼，11%年化收益 再贴2%，活动期间内，达到累计购买金额，即送“真爱大礼”")

  body.white-background
    .activity-invite-top
      .container
        a.invite-back-home(href="/")
        .buying-left
          img(src="/static/images/activity/rmb_100.png", alt="100元起投")
          if user.is_authenticated
            a.invite-buying(href="/#p2p",title="立即抢购",target="_blank")
              img(src="/static/images/activity/buy_bg.png", alt="立即购买")
          else
            a.invite-buying(href="/accounts/register/?next=/#p2p",title="立即抢购",target="_blank")
              img(src="/static/images/activity/buy_bg.png", alt="立即购买")

    .container.activity-text
      .activity-line
        span
          img(src="/static/images/activity/text_4.png",alt="削肾客的救赎，iPhone6还未上市，我们却早已按耐不住送礼的心")

    .container
      h2.activity-title 活动时间：即日起 - 2014年10月31日

    .container
      .activity-list-image
        ul
          li.list-image-active
            img(src="/static/images/activity/iphone6.jpg")
          p
            |累计购买满
            span.highlight 100万&nbsp;&nbsp;送
            | iPhone 6
          p （16G 4.7英寸 银色）
          .icon-activity-hot.icon-activity-hot1
        ul
          li.list-image-active
            img(src="/static/images/activity/ipad_air.jpg")
          p
            |累计购买满
            span.highlight 40万&nbsp;&nbsp;送
            | iPad Air
          p （16G WIFI版 白色）
          .icon-activity-hot.icon-activity-hot4
        ul
          li.list-image-active
            img(src="/static/images/activity/jd_1000.jpg")
          p
            |累计购买满
            span.highlight 20万&nbsp;&nbsp;送
            | 1000元
          p 京东礼品卡
          .icon-activity-hot.icon-activity-hot1
      .activity-list-image
        ul
          li.list-image-active
            img(src="/static/images/activity/jd_500.jpg")
          p
            |累计购买满
            span.highlight 10万&nbsp;&nbsp;送
            | 500元
          p 京东礼品卡
          .icon-activity-hot.icon-activity-hot2
        ul
          li.list-image-active
            img(src="/static/images/activity/mobile_50.jpg")
          p
            |累计购买满
            span.highlight 1万-9万&nbsp;
            | 每满 1万元&nbsp;
          p
            span.highlight 送&nbsp;
            | 50元话费
          .icon-activity-hot.icon-activity-hot1
        ul
          li.list-image-active
            img(src="/static/images/activity/mobile_60.jpg")
          p 邀请好友，多邀多送，上不封顶
          p
            span.highlight 双方共享
            | 60元话费
          .icon-activity-hot.icon-activity-hot3

    .container.activity-text
        .activity-line
          span
            img(src="/static/images/activity/text_2.png",alt="有钱一起赚，邀请好友就赚钱")

    .container
        a.invite-friend(href="/accounts/invite/",title="邀请好友",target="_blank")
          img(src="/static/images/activity/invite_friends.png",alt="邀请好友")
        p.invite-text
          |邀请好友，多邀多送，上不封顶，有钱一起赚！
          |<br> &nbsp;&nbsp;&nbsp;&nbsp;好友投资成功，双方共享
          span.highlight 60元话费
          |（双方各30元话费）

    .full-container.make-money-guide

    .container.activity-text
        .activity-line
          span
            img(src="/static/images/activity/text_3.png",alt="奖品发放")

    .container
        ul.activity-list
          li.active
            span.icon.icon-box-arrow
            | 奖品统一于活动结束后7个工作日内开始发放（iPhone 6在大陆正式上市后，最短时间内发放）。
          li
            span.icon.icon-box-arrow
            | 由于实物奖品快递需要，满额度用户请提交真实“姓名、手机号、身份证、通讯地址”至
            span.highlight &nbsp;kefu@wanglibank.com 。
          li.active
            span.icon.icon-box-arrow
            | 京东礼品卡的密码和话费均发送到交易手机号。
          li
            span.icon.icon-box-arrow
            | 年化2%收益奖励，将随P2P理财项目每期还款发放。
          li.active
            span.icon.icon-box-arrow
            | 本活动不收取用户任何费用，谨防上当受骗。

    .activity-footer-invite
      .container.align-center
        .padding-top-xl
          img(src="/static/images/activity/invite_footer.png")
        .space-vertical-s
        p.dark-text.font-s Copyright©2014 wanglibao.com Inc. All Right Reserved. 北京网利科技有限公司 此次活动解释权归网利宝官方网站所有


      include include/tracking