-load formatters
-load mathfilters
doctype html
html
  head
    - with '网利宝' as title
    include include/common_head
    - endwith
  body(style="background:#fff")
    .full-container
      .topbar
        .container.row
          .user-div
            i.icon-phone.font-l &nbsp;
            span 客服热线：
            span 4008-588-066

            span.margin-left-m 在线客服：
            a.topbar-anchor.icon.icon-qq#top-qq(href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAxODg4N18yMDU1NjlfNDAwODU4ODA2Nl8yXw", data-role="hover", target="_blank")

            span.margin-left-m 关注我们：
            a.topbar-anchor.icon.icon-weibo(href="http://weibo.com/u/5000682691", target="_blank", data-role="hover", data-target="#qrweibo-top")
            a.topbar-anchor.icon.icon-weixin(href="javascript:void(0)", data-role="hover", data-target="#qrcode-top")
            a#qrweibo-top.weibo-qr-code(href="http://weibo.com/u/5000682691", target="_blank", style="display:none", data-name="hoverbox")
              img(src="/static/images/weibo-nqr.png")
            img#qrcode-top.icon.weixin-qr-code(src="/static/images/weixin-nqr.png", style="display:none", data-name="hoverbox")
            span.mobile-app-top
              span.icon.icon-mobile-app
              span 手机网利宝
              .mobile-app-top-prompt
                div(style="height:30px; top:-20px; position:relative;")
                a.mobile-app-apple(href="https://itunes.apple.com/cn/app/wang-li-bao/id881326898?mt=8", target="_blank", title="iPhone版")
                a.mobile-app-android(href="https://www.wanglibao.com/static/wanglibao.apk", title="Android版")

    .full-container-white.fudong
      .container-navigation
        .row
          .span2
            a(href='/')
              .aiqiyi-logo
          .span10
            .nav-items.xiao-nav
              ul
                mixin nav-item(name, link, new_class, free)
                  if activeItem == name
                    li.nav-item.active
                      a.nav-item-anchor(href=link, class=new_class)= name
                      if free == 'yes'
                        span.icon.icon-free 免费
                  else
                    li.nav-item
                      a.nav-item-anchor(href=link, class=new_class)= name
                      if free == 'yes'
                        span.icon.icon-free 免费

                +nav-item('首页', '/', '', '')
                +nav-item('理财专区', '/p2p/list/', '', '')
                +nav-item('基金', '/fund/products', '', '')

                +nav-item('安全保障', '/security', 'left-line', '')
                +nav-item('帮助中心', '/help', '', '')
    .wrap.aiqiyi.pptv
      .gold2
        .denelu-form.aiqiyi-form
          h1.aiqiyi-biaoti 注册即送30元专享直抵红包
          form#register-modal-form.login-form.dale(method='post', action='/accounts/register/ajax/')
            - csrf_token
            .form-row
              .form-control-group
                .span12
                  input#reg_identifier.com-tu.tu1(type="text", name="identifier", placeholder="手机号码")
              .form-row-error
            .form-row.voice
              .span12-omega.hidden.show
                没有收到验证码？请尝试<a href="/api/ytx/send_voice_code/" class="voice-validate">语音验证</a>
              .form-control-group
                .span6
                   input#id_validate_code.com-tu.tu2(type="text", name="validate_code", placeholder="手机验证码", autocomplete='off', title="验证码")
                .span6-omega
                   button#button-get-validate-code-modal.button-large.pptv-huoqu-ma(type='button',style="width:100%;margin-left:0") 获取验证码
              .form-row-error

            .form-row
              input#reg_password.full-width.com-tu.tu3(type="password", name="password", placeholder="密码", autocomplete="off", maxlength="20")
              .password-strength-container
                span.password-strength-1
                span.password-strength-2
                span.password-strength-3
              .form-row-error
            .form-row
              input#reg_password2.com-tu.tu3(type="password", name="password2", placeholder="确认密码", autocomplete='off', title="确认密码", maxlength="20")
              .form-row-error
            .form-row.form-bottom-bar
              .agreement(style="padding:0 0 10px 0;text-align:left")
                label(for="agreement",style="position: relative;top: 3px;")
                  input(type="checkbox", name="agreement", checked="checked", id="agreement", data-value="agree")
                | 我同意<a href="/agreement/" target="_blank">《网利宝注册协议》</a>
                .form-row-error
              button#register_submit.button-account.span10.xun-zhuce(type='submit') 注 册
            .space-vertical-s
          p.xun-p 已有账号，
            a(href="/accounts/login/") 立即登录
    .san-new
      .san-new-content.container
        .row.gold-dl-row
          .san-span
            dl
             dt.com.com-trust
             dd.pp-zi
               h3 信赖
               p IDG资本投资
               p 第三方100%本息保障
          .san-span
            dl
             dt.com.com-security
             dd.pp-zi
               h3 安全
               p 招商银行全程监管
               p 账户资金安全由平安保险承保
          .san-span
            dl
             dt.com.com-authority
             dd.pp-zi
               h3 权威
               p 洛克菲勒家族
               p 全方位战略合作
    .aiqiyi-table
      .table-body
        .table-txt 超高收益
        .table-cont
          table.aiqiyi-table
            tr
              th 银行定期存款
              th.orgin-bg 网利宝
              th 宝宝们
            tr
              td.orgin-font 3%
              td.orgin-br.red-font 10% - 18%
              td.orgin-font 3%
            tr
              td.orgin-font 银行本息担保
              td.orgin-br.red-font 平安保险承保账户资金
              td.orgin-font 亏本风险较低
            tr
              td.orgin-font 一年以上
              td.orgin-br.red-font 多种期限任你选
              td.orgin-font 无限制
            tr(style="border:0")
              td
              td.orgin-bg
                a.register-btn 立即注册
              td
    .aiqiyi-text.aiqiyi-process
      .content-pptv
        .text-head
          span 操作流程
        p 1、注册网利宝账户即送30元专享直抵红包，
        p 2、账户实名认证后送7天爱奇艺会员，
        p 3、首次投资送1个月爱奇艺会员。
        .text-head.text-activity
          span 活动规则
        p 1. 手机号为网利宝唯一账户，每个身份证号只可绑定一个网利宝账户；
        p 2. 红包使用期限：2015年3月20日-2015年6月19日；
        p 3. 直抵30红包投资金额500元方可使用；
        p 4. 红包使用最多直抵30元。例：投资500元立减30元，实际支付470元；
        p 5. 新手红包均只能使用一次，使用后是否有余额红包即失效；
        p 6. 投资项目到期后本金+利息+红包金额可一并提现；
        p 7. 登录网利宝官网：
          b.note
            a(href="http://www.wanglibao.com") www.wanglibao.com
            |，或者使用app进行投资理财；
        p 8. 网利宝平台不收取任何费用，谨防上当受骗；
        p 9. 刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予兑现；
        p 10. 网利宝对此活动享有最终解释权

    .san-new.content-process
      .san-new-content.cshouontainer
        .row.gold-dl-row
          .san-span.si-span
            dl
             dt.slist.slist-trust
             dd.pp-zi
               h3 收益高
               p 40+倍银行收益
          .san-span.si-span
            dl
             dt.slist.slist-security
             dd.pp-zi
               h3 回本快
               p 按月付息款
               p 一次还本息，先息后本
          .san-span.si-span
            dl
             dt.slist.slist-authority
             dd.pp-zi
               h3 门槛低
               p 100元起，0元手续费，不用去
               p 银行排队，免费开户
          .san-span.si-span
            dl
             dt.slist.slist-last
             dd.pp-zi
               h3 周期短
               p 1个月，3个月
               p 6个月，9个月
    .aiqiyi-process
      .content-pptv
        .process-text 投资流程
        .process-list
          .circle-free.circle-float.aiqiyi-float
            .close.aiqiyi-close
            .last
            .next
            img(src="/static/images/pptv/free.jpg")
          .triangle-start
            .start-cont
          .circle
            .circle-body.free.aiqiyi-body
            .circle-txt 免费注册
          .triangle-center
            .center-cont
          .circle
            .circle-body.atte.aiqiyi-body
            .circle-txt 进行认证
          .triangle-center
            .center-cont
          .circle
            .circle-body.recharge.aiqiyi-body
            .circle-txt 充值账户
          .triangle-center
            .center-cont
          .circle
            .circle-body.tender.aiqiyi-body
            .circle-txt 成功投标
          .triangle-center
            .center-cont
          .circle
            .circle-body.collec.aiqiyi-body
            .circle-txt 自动收款
          .triangle-end
            .end-cont
    .pptv-bottom.content-process
      img(src="/static/images/pptv/pptv-bottom.png")
    script.
      require(['/static/js/hover.js','/static/js/aiqiyi_redpack.js'])