-load formatters
-load mathfilters
doctype html
html
    head
        - with '网利宝' as title
        include global/g_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/airport_operation.css?v=2015042102")
    body(style="background:#f7f7f7")
      include global/g_nav
      .banner
      h3.air_title_h3
        span 尊贵候机区 恍如在家一般舒适
        br
        span 尊贵候机区 恍如在家一样高兴
      p.air_text The distinguished waiting area at home like comfort.The distinguished lounge before boarding.
      h2.air_title_h2 你可以这样用
      dl.air_datails(data='{{type.user_id}}')
        dt
          img(src="/static/imgs/pc_activity/airport_operation/chuo.png")
        dd
          span.air_wire1
          h4 国内快速专用通道安检不排队
          p 北京、天津、山西、武汉、重庆、呼和浩特、郑州、合肥八城齐上线
          span.air_wire2
          ul
              li 高效、快捷的国内快速专用通道安检
              li 持卡验证通过后，即可享受免费通行
      dl.air_datails.datails2
        dt
        dd
          span.air_wire1
          h4 尊贵候机区
          p 恍如在家一般舒适
          span.air_wire2
          ul
              li 宁静、舒适的休息室环境
              li 冷热饮品、精美小吃
              li 互联网、最新报刊杂志阅览、电视
      dl.air_datails.datails3
        dt
        dd
          span.air_wire1
          h4 嘉宾全套出港服务
          p 在旅途，除了家人，最牵挂您的是我们
          span.air_wire2
          ul
              li 客人抵达贵宾区
              li 专人协助办理值机手续
              li 国内快速专用通道安检
              li 国内快速专用通道安检商务贵宾休息室/或直接登机
      span.air_btns 投资领取
      h2.air_title_h2(style="margin-top:40px") 投资仅需4步
      .content-pptv
          .triangle-start
            .start-cont
          .circle
            .circle-body.free
            .circle-txt 01.注册网利宝帐号
          .triangle-center#xl-triangle-center
            .center-cont
          .circle
            .circle-body.recharge
            .circle-txt 02.充值资金到账户
          .triangle-center#xl-triangle-center
            .center-cont
          .circle
            .circle-body.tender
            .circle-txt 03.选择投资标
          .triangle-center#xl-triangle-center
            .center-cont
          .circle
            .circle-body.collec
            .circle-txt 04.获得收益和奖励
          .triangle-end
            .end-cont
      h2.air_hd_explain <span></span>活动说明
      ul.air_explain
        li 1. 活动时间：
        li 2. 新用户在此页面注册为网利宝用户即得28888元体验金，体验金专享1天10%年化收益；新用户奖励
          ul
            li ① 活动期间新用户注册即送50元红包（满5000元可用，限1月及以上标期，领取之日起7天有效）
            li ② 用户首次投资满额送以下红包，红包3月标及以上使用，领取之日15天有效
            li a. 1000元≤首次投资＜5000元，送20元直抵红包（满2500元可直抵使用）
            li b. 5000元≤首次投资＜10000元，送100元直抵红包（满10000元可直抵使用）
            li c. 10000元≤首次投资，送220元直抵红包（满20000元可直抵使用）
        li 3. 新用户在此页面注册并单笔首次投资500元及以上即可体验国内快速专用通道安检一次；
        li 4. 新用户在此页面注册并单笔首次投资5000元及以或老用户单笔投资10000元及以上即可获得尊贵候机厅体验一次；
        li 5. 新用户在此页面注册并单笔首次投资10000元及以上或老用户单笔投资15000元即可获得贵宾全套出港服务一次；
        li 6. 活动期间内， 新用户单笔首投满足领取条件则按照最高奖励自动发放。老用户活动期间内单笔首次满足投资领取条件点击领取按钮按照最高奖励发放，新老用户若最高奖励发放完毕则按照下一级奖励发放；
        li 7. 满足条件用户请留意网利宝站内信及短信提示，并凭站内信兑换码到指定通道入口处的核销台验证；
        li 8. 手机号为网利宝唯一帐号，新老用户优惠仅可享受一次并且数量有限，送完即止；
        li 9. 本活动在法律允许范围内归网利科技所有。
      .popup_box
        .main
            .textairport
            .popup_button 我知道了
        .popup_bg
      include global/g_footer
   script.
       require(["/static/src/pc/airport_operation.js?v=2015042006"])













