-load formatters
-load mathfilters
doctype html
html
    head
        - with '网利宝' as title
        include global/g_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/airport_operation.css?v=20160501")
    body(style="background:#fff")
      include global/g_nav
      .banner
      h3.air_title_h3
        span 尊贵后继取 恍如在家一般舒适
        br
        span 尊贵后继取 恍如在家一样高兴
      p.air_text The sadh safass sdgdhgkajhjAD ASsfgjsdgui sdfsdfgusidas  asdghasdjas
      h2.air_title_h2 你可以这样用
      dl.air_datails
        dt
        dd