- load formatters
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    meta(content="telephone=no,email=no" ,name="format-detection")
    meta(content="yes" ,name="apple-mobile-web-app-capable")
    script.
        (function () {
            var b = navigator.userAgent;
            ipad = b.match(/(iPad).*OS\s([\d_]+)/) ? true : false;
            iphone = !ipad && b.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false;
            uc = navigator.userAgent.indexOf("UCBrowser") > -1 ? true : false;
            ios = ipad || iphone;
            var d = 1, a = 1, c;
            if (ios) {
                if (window.devicePixelRatio >= 2) {
                    d *= 0.5;
                    a *= 2
                }
            } else {
                if (uc) {
                    if (window.devicePixelRatio >= 2) {
                        d *= 0.5;
                        a *= 2
                    }
                }
            }
            c = '<meta name="viewport" content="initial-scale=' + d + ", maximum-scale=" + d + ", minimum-scale=" + d + ', width=device-width, user-scalable=no" />';
            document.write(c);
            document.documentElement.style.fontSize = 20 * a + "px"
        })();
    title 日榜活动
    link(rel="stylesheet",href="/static/css/wap/app_level.css")
  body
      .box
          img(src="/static/images/activity/level/app-banner.jpg").app_banner
          h1 活动时间：2015年6月14日—7月15日
          .content
              .activity
                  img(src="/static/images/activity/level/xiaoqi.png").activity-icon
                  label 擂台活动
              .activity-content
                  p.title 现金红包已垒好，等您来打擂赢取！
                  p.content-style 本擂馆每日
                    font 零点数据清零
                    ，用户可
                  p.content-style 每天重复参赛。用户每天的投标累
                  p.content-style 计金额
                    font ≥3万元
                    ，将获得网站每日
                  p.content-style 投资额外现金红包奖励。
                  img(src="/static/images/activity/level/xiaopai.png").activity-img
              ul.money-list.clearfix
                  li
                    img(src="/static/images/activity/level/jinbi1.png")
                    font ¥ 1000
                    label 第一名
                  li
                    img(src="/static/images/activity/level/jinbi2.png")
                    font ¥ 900
                    label 第二名
                  li
                    img(src="/static/images/activity/level/jinbi3.png")
                    font ¥ 800
                    label 第三名
                  li
                    img(src="/static/images/activity/level/jinbi4.png")
                    font ¥ 700
                    label 第四名
                  li.last
                    img(src="/static/images/activity/level/jinbi5.png")
                    font ¥ 600
                    label 第五名
              ul.money-list.clearfix
                  li
                    img(src="/static/images/activity/level/jinbi6.png")
                    font ¥ 500
                    label 第六名
                  li
                    img(src="/static/images/activity/level/jinbi7.png")
                    font ¥ 400
                    label 第七名
                  li
                    img(src="/static/images/activity/level/jinbi8.png")
                    font ¥ 300
                    label 第八名
                  li
                    img(src="/static/images/activity/level/jinbi9.png")
                    font ¥ 200
                    label 第九名
                  li.last
                    img(src="/static/images/activity/level/jinbi10.png")
                    font ¥ 100
                    label 第十名
              .notes-content.clearfix
                  span 注：
                  .notes-content-div
                      p 若出现两名或两名以上客户投标金额相同时，则按当日投标
                      p 时间先后排位;
                      p 每天投标累计金额
                        font ≥3
                        万元用户未排入前十名将各获得
                        font 60元
                        红包
              .activity
                  img(src="/static/images/activity/level/xiaoqi.png").activity-icon
                  label 红包规则
              .rule-content
                  p.clearfix
                    span 1
                    label 现金奖励在三个工作日内以红包形式发出，红包类型为现金红包；
                  p.clearfix
                    span 2
                    label 红包有效期
                          font 2015年6月14日-2015年9月12日
                          ；
                  p.clearfix
                    span 3
                    label 获奖红包以站内信形式通知，完成一次投资回款后即可取现；
                  p.clearfix
                    span 4
                    label 红包均只能使用一次，使用后是否有余额即失效；
                  p.clearfix
                    span 5
                    label 刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予兑现；
                  p.clearfix
                    span 6
                    label 本活动不收取任何费用，谨防上当受骗；
                  p.clearfix
                    span 7
                    label 网利宝对此活动享有最终解释权。
              p.url-style 详情关注网利宝官网：www.wanglibao.com
