- load formatters
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 邀请好友理财送话费
    link(rel="stylesheet",href="/static/css/wap/share_app.css")
    script(src="/static/js/require.js", data-main="/static/js/header")

  body
    if not reg
      header
      div.content
        p 你的朋友
          span.red {{ identifier|safe_phone_new }}
          | 邀请你使用网利宝理财，首次体验可获赠
          span.red 20元
          | 话费。
        #validate-modal-form
          - csrf_token
          .form-row
            .span8
              input#friend_identifier(type="hidden", name="friend_identifier", value="{{ identifier }}")
              input#my_identifier(type="number", data-clear-btn="false", name="identifier", pattern="[0-9]{*}", placeholder="请输入手机号", id="number-1", value="")
            .span4-omega
              button#button-get-validate-code-modal(type="button") 获取验证码
          .error-message
          .form-row
            input.css-checkbox(type="checkbox",id="agree",checked="true")
            label.css-label(for="agree")
              | 我同意
              a(href="/activity/wap/agreement/", target="_blank") 《网利宝用户注册协议》
      .why-select
        h1 为什么选择网利宝？
        .why-select-row.clearfix
          .why-span-icon
            .icon.icon-why-1
          dl
            dt 信赖
            dd IDG资本投资
            dd 100%本息保障
        .why-select-row.clearfix
          .why-span-icon
            .icon.icon-why-2
          dl
            dt 权威
            dd 洛克菲勒家族
            dd 全方位战略合作
        .why-select-row.clearfix
          .why-span-icon
            .icon.icon-why-3
          dl
            dt 高收益
            dd 30倍银行活期收益
            dd 100元起投 0手续费
        .why-select-row.clearfix
          .why-span-icon
            .icon.icon-why-4
          dl
            dt 安全
            dd 招商银行全程监管
            dd 平安保险全额承保
      footer
    else
      div.content
      if reg == "y"
        h3
          span.icon-register-ok
          | 注册成功
      else
        h3
          | 欢迎使用网利宝移动版
          br
          | 投资更方便
      div.download-image-container
        .download-image
      button.downloadApp.download-btn(type="button") 点击下载APP软件
      if reg == "y"
        p.padding-l-r-s
          | 完成首次单笔
          span.red 200元
          | （含）以上的P2P理财交易，您将获得
          span.red 30元
          | 话费。
        p.padding-l-r-s.gray 话费将在3个工作日内发放至您的注册手机号。

    script.
      var v = new Date().getTime()
      require(["/static/js/app_share.js?v="+v])
    include include/tracking
