- load formatters
doctype html
html
  head
    title 网利宝福袋
    include include/app_head
    style.
      .maimai-itme ul {
        margin-left: 1rem;
      }
      .maimai-itme li {
        list-style: none;
        max-height: 9999rem;
        text-align: inherit;
      }
  body
    .maimai-rule-warp
      .maimai-itme
        .maimai-title 使用规则
        ul
          li 活动时间：2016年5月18日至2016年5月28日
          li 注册送：活动期间内新用户注册为网利宝用户即可获得签证码一个
          li 认证送：活动期间内完成认证即可获得签证码两个
          li 首投送：活动期间内首次投资500元及以上即可获得签证码三个
          li 满额送：活动期间内单笔投资1000元及以上即可获得签证码一个
          li 注：该活动仅限通过本活动页面完成相关行为的用户领取，满足条件用户请查看网利宝站内信
    .maimai-rule-btn
      a(href="javascript:history.go(-1)").maimai-form-btn 我知道了

