- load formatters
doctype html
html(style="background:#fff")
  head
    title 伸手领钱
    include include/app_head
  body
    .extension-banner
      img(src='/static/imgs/mobile_activity/extension/extension.jpg')
    .extension-main
      .extension-title 夏日年中钜惠冲冲冲！
        br
        |网利宝四重特权回馈用户，力度空前，速速前往！
      .extension-step
        .step-title 网利宝联合特权
        .step-item-parent
          - var list = ['/static/imgs/mobile_activity/extension/extension_step1.png', '/static/imgs/mobile_activity/extension/extension_step2.png', '/static/imgs/mobile_activity/extension/extension_step3.png', '/static/imgs/mobile_activity/extension/extension_step4.png']
          each item in list
            .step-item-list
              img(src=item)

      .extension-submit
        .submit-body
          input(type='tel', name='iphone', placeholder="请输入手机号领取").submit-input#submit-put
          .submit-btn#submit-url 领特权
      .extension-report
        .report-title 拿到红包能做什么？
        .report-title-min 投资网利宝新手标，最高16%年化收益！<br/>还等什么，闲钱能挣钱，马上去投！！
        .step-title 高收益
        .report-circle
          img(src="/static/imgs/mobile_activity/extension/extension_circle.jpg")
          .report-rectangular 100起投
          .report-rectangular.green-rectangular 0手续费


        .report-showtime (投资10万，持有一年)
        .report-table
          img(src="/static/imgs/mobile_activity/extension/extension_table.jpg")
      .extension-process
        .step-title 投资流程
        .process-imgs
          img(src="/static/imgs/mobile_activity/extension/extension_process.jpg")
      .extension-rules
        .step-title 活动规则
        ol.rules-ol
          li 手机号为网利宝唯一账户；
          li 新用户注册即送300元现金红包，其中含50元的直抵红包和250元抵扣红包（投资满300元可使用50元红包，250元红包按投资额1%抵扣使用（比如投资25000元，即可满额使用250元红包）；
          li 首次充值100元起，送500元现金红包（包含5个100元）；满额5000元投资送100元现金红包。首冲和满额投资送红包均为折扣红包，按投资额的0.5%折扣使用；
          li 红包统一在获奖红包以站内信形式通知，完成一次投资回款后即可取现；
          li 红包有效期：2015年7月28日-2015年9月28日；
          li 本活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
          li 网利宝对此活动享有最终解释权。

      .extension-footer
        .footer-item
          img(src="/static/imgs/mobile_activity/extension/extension_xiu1.png")
          p <em>IDG资本</em>百亿市值<br/><em>A股上市公司</em>入股
        .footer-item
          img(src="/static/imgs/mobile_activity/extension/extension_xiu2.png")
          p 账户资金安全<br/>由<em>阳光保险</em>承保
        .footer-item
          img(src="/static/imgs/mobile_activity/extension/extension_xiu3.png")
          p 第三方<br/><em>100%</em>本息保障
      script.
        var inputDom = document.getElementById('submit-put'),
            urlDom = document.getElementById('submit-url') ;
          urlDom.addEventListener('touchend', function () {
            if (inputDom.value === '') {
              return alert('请输入手机号!');
            }
            window.location.href = '/weixin/regist/?phone='+inputDom.value;
          });

