- load formatters
doctype html
html(style="background:#ffc50e")
  head
    title 11.11
    include include/app_head
  body
    .eleven-banner
      img(src='/static/imgs/mobile_activity/app_two-eleven/app-elevenbanner.png')
    .app-eleven
      h3.elevenimg 单标加息1.11%
    .app-eleven-er
      p.eleven-er-title  任意投资后领1.11%加息券
      p.eleven-er-title  领券后追加投资可整标永久加息
      p.eleven-er-title  玩命加息，全面爆发
      p.eleven-er-title  理财也疯狂，仅限双十一活动三天
      img(src='/static/imgs/mobile_activity/app_two-eleven/app-elevenbao.png')
    .app-eleven-liu
      .eleven-liu
        p 攻略详解
    .app-eleven-main
      img(src='/static/imgs/mobile_activity/app_two-eleven/app-elevenxiaoqing.png')
      .dianji
    .app-eleven-guizhe0
      p 理财专区即可投资
    .app-eleven-guizhe
      .eleven-guizhe
        h2 【加息券规则】
        ul
          li  1. 加息券在电脑端、手机端均可使用，有效期限11月10日-12日；
          li 2. 购标时，选择加息券才会进行加息，没有选择则无法加息。请在购买时勾选相应的加息券，才能获得相应的加息；
          li 3. 投资一个项目时，加息券不可叠加使用，也不可与红包叠加使用；
          li 4. 使用加息券投资了一个项目，之后对同一项目再投资，无论投多少次，加息额度不变，也不用再次使用加息券；
          li 5. 使用加息券得到的加息收益，按照还款计划与基本利息一起发放，非在起息日时发放。
          li &nbsp;
    .app-eleven-main2
      h1 【加息券正确使用姿势】
      p 投资获得加息券→投标选择使用→
      p 投标成功加息生效→获得双11专享收益
      h4 【活动规则】
      ul(style=" margin-bottom: 1rem")
        li 1. 活动日期：仅限11月10日-12日0:00-23:59全天参与抢投赢取，活动期间每位用户限领一次；
        li 2. 双11专享单标加息福利详见攻略详解。投资所得加息券在电脑端、手机端均可使用，有效期限11月10日-12日，过期不补；
        li
          | 3. 加息券统一会以站内信通知，收到后可立即使用。详情请看
          a(href='javascript:void(0);')#jiaxi0 加息券使用规则
          |；
        li 4. 本活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；

      ul.footer-guizhe
        li  1. 加息券在电脑端、手机端均可使用，有效期限11月10日-12日；
        li 2. 购标时，选择加息券才会进行加息，没有选择则无法加息。请在购买时勾选相应的加息券，才能获得相应的加息；
        li 3. 投资一个项目时，加息券不可叠加使用，也不可与红包叠加使用；
        li 4. 使用加息券投资了一个项目，之后对同一项目再投资，无论投多少次，加息额度不变，也不用再次使用加息券；
        li 5. 使用加息券得到的加息收益，按照还款计划与基本利息一起发放，非在起息日时发放。
      p.mark * 网利宝对此活动享有最终解释权

    .app-footer-guizhe
      img(src='/static/imgs/mobile_activity/app_two-eleven/app-elevenfooter.png')
    script(src="/static/scripts/mobile_activity/two-eleven.js")
