- load formatters
doctype html
html.html1
  head
    title 小美到家
    include include/app_head
  body.body1
    .container
      .xunleipage.page1.page12
        img(src='/static/imgs/mobile_activity/app_xiaomei/jiantou.png').jiantou
        img(src='/static/imgs/mobile_activity/app_xiaomei/feiqi.png').feiqi.feiqi12
        img(src='/static/imgs/mobile_activity/app_xiaomei/xingxing-1.png').xingxing-1.xingxing-12
        img(src='/static/imgs/mobile_activity/app_xiaomei/xingxing-2.png').xingxing-2.xingxing-212
        img(src='/static/imgs/mobile_activity/app_xiaomei/qiandai.png').qiandai.qiandai12

      .xunleipage.page2
        img(src='/static/imgs/mobile_activity/app_xiaomei/jiantou.png').jiantou
        .xuxian
          .xuxian2
            .zhe
            .zhe2
          .xuxian3
            .zhe
          .xuxian4
            .zhe
            .zhe2
          .xuxian5
            .zhe
          .xuxian6
            .zhe
            .zhe2

      .xunleipage.page0
        .mei-instructions
          p 活动说明
        ul
          li 1. 活动时间：2015年11月13日—2015年11月26日；
          li  
            |2. 新用户注册送0.5%加息券，加息券规则见
            a(href='javascript:void(0);').meimeibutton 加息券规则
            |。用户单笔首次投资满2000元及以上加送168元身体舒压温灸调养项目卡；
          li 3. 项目卡自领取日起45天内有效，使用后无论是否有余额均失效；
          li 4. 本活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
          li#ios-hide 5. 网利宝对此活动享有最终解释权。
          li#ios-show(style="display:none") 5. 所有活动由网利宝提供，与苹果公司（Apple Inc.）无关 网利宝对此活动享有最终解释权。

        a(href='/weixin/regist/?promo_token=xmdj').xiaomei-button 立即注册
        .xiaomei-mengcheng
          .xiaomei-layer
            .layer-instructions
              p 加息券规则
            ul
              li 1. 购标时，选择加息券才会进行加息，没有选择则无法加息。请在购买时勾选相应的加息券，才能获得相应的加息；
              li 2. 投资一个项目时，加息券不可叠加使用，也不可与红包叠加使用；
              li 3. 使用加息券投资了一个项目，之后对同一项目再投资，无论投多少次，加息额度不变，也不用再次使用加息券；
              li 4. 使用加息券得到的加息收益，按照还款计划与基本利息一起发放，非在起息日时发放。
            .cheng-button
              p 我知道了




    script(src="/static/js/lib/jquery.min.js")
    script(src="/static/js/lib/jquery.touchSwipe.min.js")
    script.
      var ipad = navigator.userAgent.match(/(iPad).*OS\s([\d_]+)/) ? true : false,
                    iphone = !ipad && navigator.userAgent.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false,
                    ios = ipad || iphone;
            if (ios) {
                document.getElementById('ios-show').style.display = 'block';
                document.getElementById('ios-hide').style.display = 'none';
            }
      $('.meimeibutton').on('click',function(){
        $('.xiaomei-mengcheng').show();
      })
      $('.cheng-button').on('click',function(){
        $('.xiaomei-mengcheng').hide();
      })
      $(document).ready(
              function () {
                var nowpage = 0;
                $(".container").swipe(
                        {
                          swipe: function (event, direction, distance, duration, fingerCount) {
                            if (direction == "up")//当向上滑动手指时令当前页面记数器加1
                            {
                              nowpage = nowpage + 1;
                            }
                            else if (direction == "down")//当向下滑动手指时令当前页面记数器减1
                            {
                              nowpage = nowpage - 1;
                            }
                            if (nowpage > 2)//因本实例只有5张图片，所以当记数器大于4时令他返回4（从0开始记），避免溢出出错
                            {
                              nowpage = 2;
                            }
                            if (nowpage < 0)//道理同上
                            {
                              nowpage = 0;
                            }
                            if(nowpage == 1){
                              $('.xuxian').addClass('xuxian1');
                            }else{
                              $('.xuxian').removeClass('xuxian1');
                            }
                            $(".container").animate({"top": nowpage * -100 + "%"}, 400);//根据当前记数器滚动到相应的高度
                          }
                        }
                );
              }
      )
