- load formatters
doctype html
html(style="background: #FFF29A")
  head
    title 网利宝
    include include/app_head
  body
    .wechat-rule-warp
      mixin item(title, arrarylist)
        .wechat-rule-item
          .rule-im-title=title
          - each val in arrarylist
            p=val

      - var one = ['领取加息券 > 投标选择使用 > 投标成功加息生效 >', '获得收益和奖励']
      +item('【加息券使用流程】', one)

      - var two = ['1、加息券有效期：11月23日-12月5日', '2、加息券使用范围：限3月标（含）以上投资使用；', '3、购标时，选择加息券才会进行加息，没有选择则无法加息。请在购买时勾选相应的加息券，才能获得相应的加息；', '4、投资一个项目时，加息券不可叠加使用，也不可与红包叠加使用；','5、使用加息券投资了一个项目，之后对同一项目再投资，无论投多少次，加息额度不变，也不用再次使用加息券；', '6、使用加息券得到的加息收益，按照还款计划与基本利息一起发放，非在起息日时发放。']
      +item('【加息券使用规则】', two)

      - var three = ['1、活动时间：11月23日-11月29日', '2、1.0%加息券为微信专属福利，用户可免费领取，每人限领一次。加息券统一会以站内信通知，收到后可立即使用。详情请看使用规则。', '3、本活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑。', '4、网利宝对此活动享有最终解释权']
      +item('【活动规则】', three)

    .wechat-logo
