- load formatters

doctype html

html(style="background:#FFF6B7")
	head
		title 网利宝福袋
		include include/app_head
	body
		section {{share.content}}
		section {{share.url}}
		section {{share.title}}
		section.weChat-head
			img(src='/static/imgs/mobile_activity/app_wechat/super.png').super
			img(src='/static/imgs/mobile_activity/app_wechat/secure.png').secure

		section.weChat-conent
			block content

