- load formatters
doctype html
html(style="background:#77aa3f")
  head
    title 逢八必发
    include include/app_head
  body
    .m-gold-banner
      img(src='/static/imgs/mobile_activity/app_eight_gift_two/app_eight_two_banner.jpg')
    .app-eight-two
      p.app_eight_gift_two_onefont 投资满额，立送现金！
    p.app_eight_gift_two_twofont
          |投资满额送现金奖励，多投多送HIGH翻全场！奖励限
          span APP专享
          br
          |（活动期间内单笔投资额达到2万以上，即可获得现金奖励，不限次数多投多得）
    .app_eight_gift_two_one
      img(src='/static/imgs/mobile_activity/app_eight_gift_two/app_eight_two_zu.png')
    .app_eight_gift_two_two1
      img(src='/static/imgs/mobile_activity/app_eight_gift_two/erweima1.jpg')
    .app_eight_gift_two_three
      p.app_eight_gift_two_threesize
        span 注：
        |现金奖励在三个工作日内以红包形式发出，红包类型为现金红包，投资或取现不限门槛，真金白银敞开送！





    .app-eightfive.app-eightfive-app
      h3 活动规则
      p.app_eight_backone 1.活动时间：2015年8月26日-8月29日；
      p.app_eight_backone 2.投资满额送现金活动，现金发放形式为现金红包，红包统一以站内信形式通知，完成一次投资回款后即可取现，红包有效期至9月31日（例：用户投资10万元，立得700元现金红包，使用700元红包完成一次投资后，即可全额取现700元）；
      p.app_eight_backone 3.所有红包均只能使用一次，使用后是否有余额即失效；
      p.app_eight_backone 4.本活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
      p.app_eight_backone 5.网利宝对此活动享有最终解释权。
      p.app_eight_backone#ios-show(style="display:none")
        |6. 所有活动由网利宝提供，与苹果公司（Apple Inc.）无关 如有疑问请联系在线客服或拨打
        a(href='tel:4008-588-066') 4008-588-066
    script.
      var ipad = navigator.userAgent.match(/(iPad).*OS\s([\d_]+)/) ? true : false,
          iphone = !ipad && navigator.userAgent.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false,
          ios = ipad || iphone;
      if (ios) {
          document.getElementById('ios-show').style.display = 'block';
      }

