- load formatters
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    title 抠电影活动
    link(rel="stylesheet",href="/static/css/wap/app_movie.css")
  body
    .m-ban
      img(src="/static/images/movie/banner1.jpg")
    h1 投资送！
    .m-money
      //ul
      //  li.one
      //  li.two
      //  li.three(style="margin-right:0.5em")
      dl
        dt.one
        dd
          b 首次投资100元
          br
          |加送10元电影券
      dl
        dt.two
        dd
          b 首次投资≥500元
          br
          |加送20元电影券
      dl
        dt.three
        dd
          b 首次投资≥1000元
          br
          |加送50元电影券
    h1(style="border-top: 1px solid #dadada;margin-top: 0.5em;") 注册邀请好友送！
    .m-dl
      dl
        dt.left
        dd
          b 成功注册
          |网利宝会员
          br
          |即可得
          b 20元
          |现金红包
      dl
        dt.right
        dd
          b 成功邀请好友
          |注册网利宝
          br
          |即可共享
          b 60元
          |话费
    h1(style="border-top: 1px solid #dadada;margin-top: 0.5em;") 活动规则
    .m-rule
      ul
        li 1、所有抠电影用户均可以参加；
        li 2、手机号为网利宝唯一账户，每个身份证号只可绑定一个网利宝账号；
        li 3、红包使用期限：2015年5月13日-8月12日；
        li 4、投资项目到期后本金+利息+红包金额可一并提现；
        li 5、红包均只能使用一次，使用后是否有余额红包即失效；
        li 6、登陆网利宝官网：
          a(href="/",target="blank") www.wanglibao.com
          |，或者用APP进行投资理财；
        li 7、本活动不收取任何费用，谨防上当受骗；
        li 8、刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
        li 9、网利宝对此活动享有最终解释权。
    p 详情关注网利宝官网：
      a(href="/",target="blank") www.wanglibao.com