- load formatters
doctype html
html(style="background:#FBFCEF")
  head
    title 7月赚钱攻略
    include include/app_head
  body
    .banner
        img(src='/static/imgs/mobile_activity/app_july_act_two/banner_img.png')
    .banner
        img(src='/static/imgs/mobile_activity/app_july_act_two/banner_bottom.png')
    .talk_wrap
        img(src="/static/imgs/mobile_activity/app_july_act_two/user_talk1.png")
        img.user_talk2(src="/static/imgs/mobile_activity/app_july_act_two/user_talk2.png")
      .raiders
        img(src="/static/imgs/mobile_activity/app_july_act_two/label_img_1.jpg").label_img
        .main
            img(src="/static/imgs/mobile_activity/app_july_act_two/raiders_img1.png").raiders_img
            img(src="/static/imgs/mobile_activity/app_july_act_two/raiders_img2.png").raiders_img
            img(src="/static/imgs/mobile_activity/app_july_act_two/raiders_img3.png").raiders_img
            img(src="/static/imgs/mobile_activity/app_july_act_two/raiders_img4.png").raiders_img
            img(src="/static/imgs/mobile_activity/app_july_act_two/raiders_img5.png").raiders_img
    .act_welfare
        img(src="/static/imgs/mobile_activity/app_july_act_two/label_img_2.jpg").label_img
        .main
            a.left(href="/activity/advance/")
                img(src="/static/imgs/mobile_activity/app_july_act_two/act_img1.png").img
                img(src="/static/imgs/mobile_activity/app_july_act_two/take_img.png").label
            a.right(href="/activity/full_send/")
                img(src="/static/imgs/mobile_activity/app_july_act_two/act_img2.png").img
                img(src="/static/imgs/mobile_activity/app_july_act_two/take_img.png").label
            a.left(href="/")
                img(src="/static/imgs/mobile_activity/app_july_act_two/act_img3.png").img
                img(src="/static/imgs/mobile_activity/app_july_act_two/use_img.png").label
            a.right(href="/activity/investment/")
                img(src="/static/imgs/mobile_activity/app_july_act_two/act_img4.png").img
                img(src="/static/imgs/mobile_activity/app_july_act_two/take_img.png").label
    p.footer 详情关注网利宝官网www.wanglibao.com


