html
  head
    meta(name='format-detection', content='telephone=no,email=no')
    title
      | 万圣节恐怖夜...
    meta(charset='utf-8')
    meta(content='telephone=no,email=no', name='format-detection')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(content='yes', name='apple-mobile-web-app-capable')
    link(href='/static/styles/mobile_activity/app_halloween.css?v=2015102202', rel='stylesheet')
    script(src='/static/src/pc/lib/jquery.min.js')
    script(src='/static/src/pc/lib/jquery.animateNumber.min.js')
    script(src='/static/src/mobile_activity/app_halloween.js?v=2015102202')
  body
    .no_signal_wrap
      .no_signal
    #wrap
      .bg_after
      .bg_front_wrap
        .main
          img.title(src='/static/imgs/mobile_activity/app_halloween/title.png')
      .bat1
        img(src='/static/imgs/mobile_activity/app_halloween/bat1.png')
      .tree1_wrap
        .main
          img.tree1(src='/static/imgs/mobile_activity/app_halloween/tree_after1.png')
          .owl
          img.deadman(src='/static/imgs/mobile_activity/app_halloween/deadman.png')
      .tree2_wrap
        .main
          img.tree2(src='/static/imgs/mobile_activity/app_halloween/tree_after2.png')
          img.spider(src='/static/imgs/mobile_activity/app_halloween/spider.png')
      img.moon(src='/static/imgs/mobile_activity/app_halloween/moon.png')
      img.cloud(src='/static/imgs/mobile_activity/app_halloween/cloud.png')
      .gold_num_wrap
        .main
          img.bg(src='/static/imgs/mobile_activity/app_halloween/gold_num.png')
          img.star(src='/static/imgs/mobile_activity/app_halloween/gold_num_star.png')
          .gold_text.num-animate(data-num='50') 0
      .gold
        .img.twinkle
          img(src='/static/imgs/mobile_activity/app_halloween/gold1.png')
      .car
        .img.twinkle
          img(src='/static/imgs/mobile_activity/app_halloween/car1.png')
      .ghost.ghost_animate
        img.ghost_img(src='/static/imgs/mobile_activity/app_halloween/ghost.gif')
        img.ghost_hit(src='/static/imgs/mobile_activity/app_halloween/hit.gif')
      img.money_50.money_50_animate(src='/static/imgs/mobile_activity/app_halloween/50.png')
      .boy
        .main
          img.boy_stay(src='/static/imgs/mobile_activity/app_halloween/stay.gif')
          img.boy_run(src='/static/imgs/mobile_activity/app_halloween/run.gif')
      .girl_wrap.girl_come_animate
        img.girl_come(src='/static/imgs/mobile_activity/app_halloween/girl_come.gif')
        img.girl_cry(src='/static/imgs/mobile_activity/app_halloween/girl_cry.gif')
      img.sugar_want.sugar_want_animate(src='/static/imgs/mobile_activity/app_halloween/sugar_want.png')
      img.sugar(src='/static/imgs/mobile_activity/app_halloween/sugar.png')
      .choice
        .choice_step.choice_step1
          img.button.choice1(src='/static/imgs/mobile_activity/app_halloween/button1_1.png')
          img.button.choice2(src='/static/imgs/mobile_activity/app_halloween/button1_2.png')
        .choice_step.choice_step2
          img.button.choice1(src='/static/imgs/mobile_activity/app_halloween/button2_1.png')
          img.button.choice2(src='/static/imgs/mobile_activity/app_halloween/button2_2.png')
        .choice_step.choice_step3
          img.button.choice1(src='/static/imgs/mobile_activity/app_halloween/button3_1.png')
          img.button.choice2(src='/static/imgs/mobile_activity/app_halloween/button3_2.png')
