- load formatters
doctype html
html(style="background: #fff2d5")
    head
        title 网利宝
        include include/app_head
        link(href="/static/styles/mobile_activity/app_send_reward.css?v=123101", rel="stylesheet")
        - csrf_token
    body
        #body_wrap
            img.banner(src="/static/imgs/mobile_activity/app_send_reward/banner.jpg")

        script(src='/static/src/mobile/lib/weixin/wx.js')
        script(src="/static/scripts/mobile_activity/app_send_reward.js?v=120801")
        script.
            var ipad = navigator.userAgent.match(/(iPad).*OS\s([\d_]+)/) ? true : false,
                iphone = !ipad && navigator.userAgent.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false,
                ios = ipad || iphone;
            if (ios) {
                document.getElementById('ios-show').style.display = 'block';
            }