- load formatters
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no,email=no")
    title 累计加息
    link(rel="stylesheet",href="/static/css/wap/app_fullNew.css")
  body
      .raise-head
        img(src="/static/images/app_full/app_full_banner.jpg")
      .raise-act-time 活动时间： 2015年5月1日 - 2015年5月17日

      .raise-act-explain
        .explain-tab 疯狂加息！激情豪礼!
        .explain-tit
          em.highlight 注：
          |除了每个标的基本收益以外，满足以下条件还可多挣年化收益。
        .explain-table
          table
            thead
              tr
                th 单日同期限累计投资额（元）
                th 您获得奖励
            tbody
              mixin trList(leftTxt, shouyi)
                tr
                  td=leftTxt
                  td
                    em.highlight=shouyi
                    |年化收益
              +trList('200万（含）以上', '2.5% ')
              +trList('150万（含）- 200万', '2.0% ')
              +trList('100万（含）- 150万', '1.5% ')
              +trList('50万（含）- 100万', '1.0% ')
              +trList('20万（含）- 50万', '0.5% ')
      .raise-act-count
        p
          em.highlight 计算公式：
          |投资总额×赠送年化收益÷12×实际投标期限
        p
          em.highlight 详请关注网利宝官网：www.wanglibao.com

      .raise-act-rule
        dl
          dt 活动规则
          dd 1.活动时间：
            em.highlight 5月1日-5月17日
            |；
          dd 2.现金奖励在三个工作日内以红包形式发出，红包类型为现金红包；
          dd 3.红包有效期：
            em.highlight 2015年5月1日-2015年7月1日
            |；
          dd 4.红包均只能使用一次，请在一次投资内全部使用，使用后是否有余额即失效；
          dd 5.获奖红包以站内信形式通知，完成一次投资回款后即可取现；
          dd 6.网利宝对此活动享有最终解释权。
