doctype html
html(style="width: 100%;height: auto;position: relative")
  head
    title 网利宝开放日
    include include/app_head
    link(rel="stylesheet", href="/static/styles/mobile_activity/app_open_house.css")
  body(style="background:#f0f0f0;")
    .banner
      img(src="/static/imgs/mobile_activity/app_open_house/banner.jpg")
    .open_title
      img(src="/static/imgs/mobile_activity/app_open_house/title.jpg")
      p The Registration Window
      span
    ul.open_list
      li
        span.open_span1
        input(type="text", placeholder="请输入真实姓名")
      li
        span.open_span2
        input(type="text", placeholder="请输入网利宝注册手机号")
      li
        span.open_span3
        input(type="text", placeholder="请填写所在城市（如：北京）")
    a.open_btn 提交报名信息
    p.open_text 注：报名截止到2016年4月7日，工作人员将从报名者中选择10人组成“观察团”，并将通过预留的电话与您取得联系！具体活动安排，我们将在电话沟通时告知。
    .open_footers
      p *网利宝保留此次活动解释权，如果您在过程中有任何意见和建议，欢迎致电垂询：4008-588-066




