- load formatters
doctype html
html(style="background: #fff2d5")
    head
        title 网利宝
        include include/app_head
        link(href="/static/styles/mobile_activity/app_noviceDecember_h5.css?v=201511063", rel="stylesheet")
        - csrf_token
    body
        img.banner(src="/static/imgs/mobile_activity/app_noviceDecember_h5/banner.jpg")
        img.step_title(src="/static/imgs/mobile_activity/app_noviceDecember_h5/step_title_img.jpg")

        script(src='/static/src/mobile/lib/weixin/wx.js')o