doctype html
html
  head
    meta(name="format-detection" content="telephone=no,email=no")
    title 一周年
    meta(charset="utf-8")
    meta(content="telephone=no,email=no" ,name="format-detection")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(content="yes" ,name="apple-mobile-web-app-capable")
    link(href="/static/styles/mobile_activity/app_fullpage.css", rel="stylesheet")
  body
    .wp
      #play
      audio#music
        source(type="audio/mpeg", src="/static/imgs/mobile_activity/app_fullpage/better.mp3")
      .loadPage#loadPage
        .load-warp
          .logo
          .process

      .wp-inner#fullpage-warp
        .page.page1
          .sketch
          .mask.fadeIn

        .page.page2
          .sketch
          .people.fadeIn
          .mask.fadeIn
          .ele1.moveUp
          .ele2.fadeIn
          .title1.zoomIn
          .title2.moveUp

        .page.page3
          .sketch
          .people.fadeIn
          .mask.fadeIn
          .ele1.fadeIn
          .ele2.moveUp
          .title1.moveDown
          .title2.moveLeft

        .page.page4
          .sketch
          .people.fadeIn
          .mask.fadeIn
          .ele1.moveDown
          .ele2.fadeIn
          .title1.moveDown
          .title2.moveLeft

        .page.page5
          .sketch
          .people.fadeIn
          .mask.fadeIn
          .ele1.moveUp
          .title1.moveDown
          .title2.moveLeft

        .page.page6
          .sketch
          .people.fadeIn
          .mask.fadeIn
          .ele1.moveUp
          .ele2.moveDown
          .title1.moveDown
          .title2.moveLeft
          .title3.zoomIn

        .page.page7
          .sketch
          img(src='/static/imgs/mobile_activity/app_fullpage/last_logo.png').logo
          .footer-warp
            img(src='/static/imgs/mobile_activity/app_fullpage/last_titi2.png').last-title
            img(src='/static/imgs/mobile_activity/app_fullpage/last_erweima.png').last-erweima
            a(href='/activity/app_pc_download/').last-download
          img(src='/static/imgs/mobile_activity/app_fullpage/last_footer.png').last-footer

      span.start#arrow
        b
    script(src="/static/scripts/mobile_activity/lib/zepto.js")
    script(src="/static/scripts/mobile_activity/lib/zepto.fullpage.js")
    script(src="/static/scripts/mobile_activity/lib/peoload.js")
    script(data-init='fullpage' src="/static/scripts/mobile_activity/app_fullpage.js")
