- load formatters
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    title 清凉一夏
    link(rel="stylesheet",href="/static/css/wap/app_summer.css")
  body
    .box
      .top
          img(src="/static/images/summer/app_banner.jpg")
          p.time 活动时间: 2015年5月23日-2015年6月30日
      p.tit
        span.com.icon1
        |网利宝送你清凉一夏
      ul.sum-song
        li 1.累计购买满200万
          span 送全新Retina MacBook

        li 2.累计购买满160万
          span 送微软surface pro 3 ( 64G )
        li 3.累计购买满120万
          span 送乐视TV S50
        li 4.累计购买满80万
          span 送海尔智能WIFI空调（除甲醛）
        li 5.累计购买满50万
          span 送Apple Watch Sport
        li 6.累计购买满20万
          span 送德国太阳能车载空气净化器
        li 7.累计购买满10万
          span 送美的落地扇
        li 8.累计购买满1－9万
          span 每满1万元&nbsp&nbsp送10元现金
      p.tit
        span.com.icon2
        |奖品发放说明
      ul.sum-song
        li 1.网利宝账户以身份证号为唯一识别标识；
        li 2.奖品统一于活动结束后7个工作日内开始发放；
        li 3.由于实物奖品快递需要，满额度用户请在“我的账户”中提交真实收货地址；
        li 4.所有实物奖品可兑换等值现金，现金以红包形式发放，完成一次投资回款后即可取现；
        li 5.红包有效期2015年7月1日-2015年8月31日；
        li 6.红包均只能使用一次，请在一次投资内全部使用，使用后是否有余额即失效；
      .wanglibao-footer
          p
           a(href="https://www.wanglibao.com/", target="_blank")详情关注网利宝官网：www.wanglibao.com