- load formatters
doctype html
html(style="background:#fff")
  head
    title 全民淘金
    include include/app_head
  body
    .invite-banner-server
      img(src='/static/imgs/mobile_activity/app_invite/logo.png').logo
      img(src='/static/imgs/mobile_activity/app_invite/banner_server.png').server-banner
    .invite-server-message
      .messahe-head 获得佣金（元）
      .messahe-cont 200.00
    .tly-mod
      .invite-result-touch
        .invite-result-btn 立即邀请
    img(src='/static/imgs/mobile_activity/app_invite/grep_logo.png').invite-bottom-logo