- load formatters
doctype html
html(style="background:#fff")
  head
    title 全民淘金
    include include/app_head
  body
    .invite-banner-tly
      img(src='/static/imgs/mobile_activity/app_invite/logo.png').logo
      .data-item
        .data-text 累计投资(元)
        .data-num
          span 31
          span 亿
          span 9694
          span 万
        .data 已有 73 万小伙伴选择网利宝
    .tly-mod
      .invite-message
        .ivt-use
          img(src='/static/imgs/mobile_activity/app_invite/userimg.png')
        .ivt-message-body 网利宝送您<br>580元新人特权红包

      .invite-from
      .invite-agreement
      .invite-propagate
      .invite-company
