- load formatters
doctype html
html(style="background:#fff")
  head
    title 全民淘金
    include include/app_head
  body
    .invite-banner-tly
      img(src='/static/imgs/mobile_activity/app_invite/logo.png').logo
      .data-item
        .data-text 累计投资(元)
        .data-num
          span 31
          span 亿
          span 9694
          span 万
        .data 已有 73 万小伙伴选择网利宝
    .tly-mod
      .invite-message
        .ivt-use
          img(src='/static/imgs/mobile_activity/app_invite/userimg.png')
        .ivt-message-body 网利宝送您<br>580元新人特权红包

      .invite-from
        .mod-form
          input(type='tel', name='phone', placeholder='输入手机号',data-type='Phone',data-message='请输入正确的手机号', autocomplete = 'off').mod-phone
          .mod-check-body
            .mod-form-margin
            .phone-check
              input(type='tel', name='codeimg',data-type='Val',data-message='请输入图形验证码',  placeholder='输入验证码').check-input
              input(type='hidden', name='codeimg_key',value='')
              img(src='').check-img
            .mod-form-margin
            .phone-check
              input(type='tel', name='codenum',data-type='Val',data-message='请输入短信码', placeholder='输入短信码').check-input
              button(type="button").check-submit 短信验证码
          .mod-form-sign 请输入正确的手机号
          .mod-form-margin.mod-sign-margin
          input(type='button',name='submit' ,value="领 取",disabled=true).mod-form-submit

    .tly-title
      span 选择网利宝的优势
    //.tly-title 谁投资了我们
