- load formatters
doctype html
html(style="background:#FFF29A")
  head
    title 彩票领取
    include include/app_head
  body
    .lottery-banner
      img(src='/static/imgs/mobile_activity/app_lottery/lottery_banner.jpg')
    .lottery-content
      .lottery-cont-from-warp
        .lottery-cont-from
          .lottery-circle
            img(src='/static/imgs/mobile_activity/app_lottery/lottery_circle.png')
          .lottery-from-sign
            span 彩票已备好！输入手机号马上<br>领取，百万大奖在等着你！
          .lotter-from-btn
            input(type='tel', placeholder='请输入手机号', name='phone')
            button.lottery-submit 我要领彩票
          .lotter-from-rules 活动规则 >>
      .lottery-cont-bg
      .lottery-cont-logo
        img(src='/static/imgs/mobile_activity/app_lottery/lottery_bottom.png')

    .lottery-rules-warp
      .lottery-rules
        .lottery-rules-body
        h4 网利宝微信分彩活动规则
        p.rules-center 手机号为网利宝唯一账户，本次活动仅限微信端专享
        p 活动规则
        p 1.关注“网利宝”微信公众账号（wanglibao400）获取活动图文消息
        p 2.用户参加活动领取彩票一注，分享给好友，凑齐5人共同领取此注彩票，每注彩票多人共有；每送出一注彩票，申请人将默认领取该彩票税后奖金的随机比例，剩余比例将随机分配给好友，当领取人数达到要求，彩票领取成功
        p 3.每位用户仅有一次发起送彩票机会，每个微信号仅能领取一次别人分享的彩票
        p 4.完成注册／登录即可在活动页面领取彩票；好友领取彩票后查看详情需关注网利宝微信号
        p 5.用户可通过网利宝微信号回复关键字“我的彩票”查询彩票进度；回复“彩票提现”进行中奖奖金提现
        p 6.彩票详情、中奖结果、奖金提现等由合作方零彩宝提供，详情咨询零彩宝客服：400 088 7568
        p.red-rules 补充说明：零彩宝彩票中奖奖金提现规则
        p 1.为校验领奖人真实信息，奖金提现需提交相关身份信息
        p 2.提交信息时请使用真实有效的身份证件、姓名以及银行账户信息，并认真填写提款密码及预留手机号码，以上信息填写如非真实信息，造成的后果用户自行承担
        p 3.用户单次最低提现金额为2元，金额须为1元的整数倍递增，提现时将收取手续费：
        p.rules-center 2万元以下，每笔收取1元；
        p.rules-center 2万元以上（含）至5万元，每笔收取3元；
        p.rules-center 5万元以上（含），每笔收取5元。
        p 上述费用非我司收取，费用将从彩票提现金额中直接扣除，到账时间为三个工作日内。依照国家相关法律，整注奖金超过一万元，需按比例缴纳个人偶然所得税，用户到账的奖金均为缴纳税费之后的相应占比金额。
        p 刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
        p 网利宝对此活动享有最终解释权。
      .lottery-rulse-close 关闭

    script(data-init="lottery", src="/static/scripts/mobile_activity/dist/app_lottery.js?")