- load formatters
doctype html
html(style="background:#77aa3f")
  head
    title 推荐好友
    include include/app_head
  body(style='background:#1c2c39')
    .app-recom-banner
      img(src='/static/imgs/mobile_activity/app-recommended/app-recom-banner1.jpg')
    .app-recom-main
      img(src='/static/imgs/mobile_activity/app-recommended/app-rexom-piao.png').hong
      h3 30元红包
      p
        |邀请好友成功注册并投资，邀请人直送30元红包
      .app-recom-piao1
        img(src='/static/imgs/mobile_activity/app-recommended/app-rexom-piao1.png')
        h3 520元红包
        p 受邀成功被邀请人最高可获得520元红包
      .app-recom-liu
        img(src='/static/imgs/mobile_activity/app-recommended/app-rexom-liu.png?v=20151008')
    .app-recom-wai
      img(src='/static/imgs/mobile_activity/app-recommended/app-recom-woman.jpg')
    .app-recom-di
      .recom-di-zhanlue
        h3 推荐福利攻略
        ul
          li 1、被邀请人成功投资（100元起投），邀请人送30元现金红包（投资1000元可直减使用）；
          li 2、被邀请人注册并实名认证成功即获得20元红包（投资500元可直减使用）；
          li 3、被邀请人首次充值（充值金额≥100元）成功即获得100元红包（投资2000元可直减使用）；
          li 4、新手首次投资满额即可获得红包奖励，规则如下：
            p
              span &nbsp&nbsp&nbsp·
              |用户首次投资单笔达到10,000元以上（包含）即获得200元红包（二次投资20000元可直减使用）；
            p
              span &nbsp&nbsp&nbsp·
              |用户首次投资单笔达到20,000元以上（包含）即获得400元红包（二次投资40000元可直减使用）。
      .recom-di-guizhe
        h3 红包使用规则
        ul
          li 1、活动时间10月9日-10月31日；
          li 2、手机号为网利宝唯一账户，被邀请人完成注册并投资，即建立邀请关系；
          li 3、红包统一以站内信形式通知，完成一次投资回款后即可取现，每个红包仅限使用一次，无论是否有余额均失效；
          li 4、邀请所赠红包不限平台使用；被邀请人所获红包使用方法详情请见推荐福利攻略板块；
          li 5、被邀请人首次单笔投资满额所赠红包为直抵红包，二次投资时可用，红包有使用限额；
          li 6、红包有效期自发放日起15天内有效。
          li 7、本活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑。
          li.app_eight_backone#ios-show(style="display:none")
            |8. 所有活动由网利宝提供，与苹果公司（Apple Inc.）无关 如有疑问请联系在线客服或拨打
            a(href='tel:4008-588-066') 4008-588-066

    script.
      var ipad = navigator.userAgent.match(/(iPad).*OS\s([\d_]+)/) ? true : false,
          iphone = !ipad && navigator.userAgent.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false,
          ios = ipad || iphone;
      if (ios) {
          document.getElementById('ios-show').style.display = 'block';
      }