- load formatters
doctype html
html(style="background: #ffd200")
    head
        title 网利宝
        include include/app_head
        link(href="/static/styles/mobile_activity/app_august_phone.css?v=2015031002", rel="stylesheet")
        - csrf_token
    body
        .body_wrap.clear
            .banner
                img(src='/static/imgs/mobile_activity/app_august_phone/banner.jpg')
                p 想要问问你敢不敢<br>像我这样为爱疯狂<br>想要问问你敢不敢<br>像我这样个性张扬<br><br>花海烂漫的季节<br>所有关于青春和爱情的投资，都会在未来收获最多的美好
            img.title_img.title_img_1(src='/static/imgs/mobile_activity/app_august_phone/title_img_1.png')

        script(src='/static/src/mobile/lib/weixin/wx.js')
        script(src="/static/scripts/component/webview.js")
        script(src="/static/scripts/mobile_activity/app_august_phone.js?v=2015031102")
        script.
            var ipad = navigator.userAgent.match(/(iPad).*OS\s([\d_]+)/) ? true : false,
                iphone = !ipad && navigator.userAgent.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false,
                ios = ipad || iphone;
            if (ios) {
                document.getElementById('ios-show').style.display = 'block';
            }