doctype html
html
    head
        meta(name="format-detection" content="telephone=no,email=no")
        title 你最喜欢什么样的自己？
        meta(charset="utf-8")
        meta(content="telephone=no,email=no" ,name="format-detection")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(content="yes" ,name="apple-mobile-web-app-capable")
        link(href="/static/styles/mobile_activity/app_iPhone_6S.css?v=20150925", rel="stylesheet")
    body
        #wrap
            .bit_title iPhone 6S，来了！
            .small_title 投资满额100%送，更有百万红包约你来领！
            p 金九银十财神节，网利宝双节豪礼回馈，承包你的愿望清单！<br>iPhone6s plus、iPhone6s 、iPad air 2、千元现金红包均投资满额100%直接送，不限数量多投多得！
