- load formatters
doctype html
html(style="background: #ffeec3")
    head
        title 网利宝
        include include/app_head
        link(href="/static/styles/mobile_activity/app_365_gu.css?v=201511063", rel="stylesheet")
        - csrf_token
    body
        img.weixin_share(src="/static/imgs/mobile_activity/app_jucheng/300x300.jpg" style="display:none")
        img.banner(src="/static/imgs/mobile_activity/app_365_gu/banner.jpg")
        img.module_title(src="/static/imgs/mobile_activity/app_365_gu/module_1.png")
        .act_wrap
            .box.box_1
                .main
                    img.title_img(src="/static/imgs/mobile_activity/app_365_gu/goods_title_1.png")
                    .title_text 用户注册网利宝送
                    .goods_wrap
                        .goods.goods_left
                            img(src="/static/imgs/mobile_activity/app_365_gu/goods_1.jpg")
                            p 0.5千克<br>五常大米
                        img.add_ico(src="/static/imgs/mobile_activity/app_365_gu/add_ico.png")
                        .goods.goods_right
                            img(src="/static/imgs/mobile_activity/app_365_gu/goods_2.jpg")
                            p 110元365谷<br>代金券礼包
            a.button(href="")
                img(src="/static/imgs/mobile_activity/app_365_gu/button_1.png")
            .box
                .main
                    img.title_img(src="/static/imgs/mobile_activity/app_365_gu/goods_title_2.png")
                    .title_text 用户投资 ≥1000元送
                    .goods_wrap
                        .goods.goods_left
                            img(src="/static/imgs/mobile_activity/app_365_gu/goods_3.jpg")
                            p 4.5千克<br>五常长粒香米
                        img.add_ico(src="/static/imgs/mobile_activity/app_365_gu/add_ico.png")
                        .goods.goods_right
                            img(src="/static/imgs/mobile_activity/app_365_gu/goods_4.jpg")
                            p 210元365谷<br>代金券礼包
            a.button(href="")
                img(src="/static/imgs/mobile_activity/app_365_gu/button_2.png")
            .box.box_3
                .main
                    img.title_img(src="/static/imgs/mobile_activity/app_365_gu/goods_title_3.png")
                    .title_text 新用户最高可享有
                    .goods_wrap
                        img.goods_img(src="/static/imgs/mobile_activity/app_365_gu/goods_5.jpg")
                        p 580元网利宝现金红包
            a.button(href="")
                img(src="/static/imgs/mobile_activity/app_365_gu/button_3.png")
        .act_rule_button 活动规则 》
        .act_rule_wrap
            dl
                dt 1.
                dd 活动时间：待定；
            dl
                dt 2.
                dd 用户注册网利宝可获赠0.5千克五常大米 + 110元365谷代金券礼包，礼包包含80元代金券1张（满359元可用）、20元代金券1张（满119元可用）、5元代金券2张（全场通用）；








