- load formatters

doctype html

html(style="background:#FFF6B7;").wechat-html
    head
        title 网利宝福袋
        include include/app_head
    body
        section.weChat-head
            img(src='/static/imgs/mobile_activity/app_wechat/banner.png')

        section.weChat-conent
            block content

        footer.weChat-footer
            img(src='/static/imgs/mobile_activity/app_wechat/logo.png')

