- load formatters
doctype html
html(style="background:#fef4e0")
  head
    title 邀请好友
    include include/app_head
  body
    .m-gold-banner
      img(src='/static/imgs/mobile_activity/app_eight_gift/banner.jpg')