- load formatters
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 日榜活动
    link(rel="stylesheet",href="/static/css/wap/app_day.css")
  body
      .box
          .top
              img(src="/static/images/app_day/top.jpg").app_top
              p.timee 活动时间为:3月19日00:00:00至4月30日23:59:59。

          .footer-day
              p.rule 活动规则
              .line
              p.rule-one 参与时间00:00:00-23:59:59，零点数据清零，
              p.rule-two 用户可每天重复参赛。
              p.rule-three
                span 用户每天投标累计金额
                | ≥6
                span 万元，将获得网站投资奖励
              .day-minge
                  .people
                      .minge-one
                           p
                            |当日用户
                            br
                            |投标名额
                           span.triangle
                  .people-one
                      .minge-two
                           h5 投资奖励
                           span.triangle-one

              .namee
                  span.ranking 第一名
                  span.line-wai
                    span.line-boider(style="width: 96%;")
                  span.price-one
                    img(src="/static/images/app_day/bang.png").price-img
                    a.price ￥1000
              .namee
                  span.ranking 第二名
                  span.line-wai
                    span.line-boider(style="width: 90%;")
                  span.price-one
                    img(src="/static/images/app_day/bang.png").price-img
                    a.price ￥900
              .namee
                  span.ranking 第三名
                  span.line-wai
                    span.line-boider(style="width: 85%;")
                  span.price-one
                    img(src="/static/images/app_day/bang.png").price-img
                    a.price ￥800
              .namee
                  span.ranking 第四名
                  span.line-wai
                    span.line-boider(style="width: 80%")
                  span.price-one
                    img(src="/static/images/app_day/bang.png").price-img
                    a.price ￥700
              .namee
                  span.ranking 第五名
                  span.line-wai
                    span.line-boider(style="width: 75%")
                  span.price-one
                    img(src="/static/images/app_day/bang.png").price-img
                    a.price ￥600
              .namee
                  span.ranking 第六名
                  span.line-wai
                    span.line-boider(style="width: 70%")
                  span.price-one
                    img(src="/static/images/app_day/bang.png").price-img
                    a.price ￥500
              .namee
                  span.ranking 第七名
                  span.line-wai
                    span.line-boider(style="width: 65%")
                  span.price-one
                    img(src="/static/images/app_day/bang.png").price-img
                    a.price ￥400
              .namee
                  span.ranking 第八名
                  span.line-wai
                    span.line-boider(style="width: 60%")
                  span.price-one
                    img(src="/static/images/app_day/bang.png").price-img
                    a.price ￥300
              .namee
                  span.ranking 第九名
                  span.line-wai
                    span.line-boider(style="width: 55%")
                  span.price-one
                    img(src="/static/images/app_day/bang.png").price-img
                    a.price ￥200
              .namee
                  span.ranking 第十名
                  span.line-wai
                    span.line-boider(style="width: 6em;")
                  span.price-one
                    img(src="/static/images/app_day/bang.png").price-img
                    a.price ￥100
              .day-ul
                    ul
                      li.jin 每日买满额度（元）
                      li 50000-59999
                      li 40000-49999
                      li 30000-39999
                      li 20000-29999
                      li 10000-19999
                    ul
                      li.jin 送红包额度（元）
                      li 50
                      li 40
                      li 30
                      li 20
                      li 10
          .note
              p
               span 注：
               |若出现两名或两名以上客户投标金额相同时，
              p  则按当日投标时间先后排位；
              p
               |每天投标累计金额
               span ≥6
               |万元的用户未排入前十名
              p
               |将各获得
               span 60元
               |红包。
          p.rule 红包使用规则
              .line
          .rule-one
              p
               span 1
               label 红包有效期：
                 a 2015年3月19日-2015年6月17日；
              p
               span 2
               label 现金奖励在三个工作日内以红包形式发出，红包类型为直抵红包；
              p
               span 3
               label 获奖红包以站内信形式通知，完成一次投资回款后即可取现；
              p
               span 4
               label 红包均只能使用一次，使用后是否有余额即失效；
              p
               span 5
               label 刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
              p
               span 6
               label 本活动不收取任何费用，谨防上当受骗；
              p
               span 7
               label 网利宝对此活动享有最终解释权。

          .wanglibao-footer
              p
               a(href="https://www.wanglibao.com/", target="_blank")详情关注网利宝官网：www.wanglibao.com