- load formatters
doctype html
html(style="background: #3a2741")
    head
        title 网利宝
        include include/app_head
        link(href="/static/styles/mobile_activity/app_praise_reward.css?v=010402", rel="stylesheet")
        - csrf_token
    body
        .body_wrap
            .invitation_page
                .top_wrap
                    img.fly_img(src="/static/imgs/mobile_activity/app_praise_reward/work_bg.png")
                    img.man(src='{{wx_user.headimgurl}}')
                    .worker
                        .text 年终考核进行中……
                .operation_wrap
                    .reward_wrap
                        img.gold(src="/static/imgs/mobile_activity/app_praise_reward/gold.png")
                        .text 年终奖 - is_myself=[{{is_myself}}] - follow=[{{follow[0].from_openid}}]
                        .input_wrap
                            input#praise_num(type='text' disabled value='{{wx_user.annual_bonus}}')
                            span.num_top 已封顶
                            span.float +100
                        img.renovate.renovate_rotate(src="/static/imgs/mobile_activity/app_praise_reward/renovate.png")

                    .praise_wrap
                        .praise.praise_left
                            img.bg(src="/static/imgs/mobile_activity/app_praise_reward/praise_button.png")
                            img.zan(src="/static/imgs/mobile_activity/app_praise_reward/zan.png")
                            .text 赞TA
                        .praise.praise_right
                            img.bg(src="/static/imgs/mobile_activity/app_praise_reward/praise_button.png")
                            img.zan(src="/static/imgs/mobile_activity/app_praise_reward/cai.png")
                            .text 差评
                    if is_myself
                        .step_me
                            .title 不能够给自己点赞哦
                            .share_button 分享集赞
                            .now_use 立即使用
                    else
                        .take_mine_reward
                            input.phone#phone_number(type='text' placeholder='请输入手机号')
                            .take_mine_button 领取我的年终奖
                    .checkbox_wrap
                        span.checkbox.checkbox_select 我
                        span 已同意网利宝年终奖
                        span.rule 活动规则
                    .line 以下好友肯定了TA
                    #mycarousel.tab_wrap.jcarousel-skin-tango
                        ul.user_wrap
                            //for p2p in follow
                                li
                                    img.user(src="{{p2p.from_headimgurl}}")
                        .jcarousel-scroll
                            form(action="")
                                a#mycarousel-prev(href="#")
                                    img.prev_button(src="/static/imgs/mobile_activity/app_praise_reward/prev.png")
                                a#mycarousel-next(href="#")
                                    img.next_button(src="/static/imgs/mobile_activity/app_praise_reward/next.png")
                    if is_myself
                        .step_me
                            .line_bottom
                            .title_text1 每天签到拿网利宝体验金<br>随时查看账户收益
                            img.code_img(src="/static/imgs/mobile_activity/app_praise_reward/wechat_server.jpg")
                            .title_text2 长按二维码关注
                    img.footer_logo(src="/static/imgs/mobile_activity/app_praise_reward/footer_logo.png")
            .share_wrap
                .share_text
                    .main
                        img(src="/static/imgs/mobile_activity/app_praise_reward/share_text.png")
                        .text 分享征集朋友的肯定<br>多一个赞你将多得100的年终奖
                img.share_img1(src="/static/imgs/mobile_activity/app_praise_reward/arrow.png")
                .share_title1 点击右上角<br>分享给好友
                ul
                    li
                        span.img
                            img(src="/static/imgs/mobile_activity/app_praise_reward/friend_ico.png")
                        span.text 分享到朋友圈
                    li
                        span.img
                            img(src="/static/imgs/mobile_activity/app_praise_reward/share_ico.png")
                        span.text 发送给朋友
            .shine_wrap
                img.bg(src="/static/imgs/mobile_activity/app_praise_reward/shine.png")
                img.close(src="/static/imgs/mobile_activity/app_praise_reward/close.png")
                .title 助力好友年终奖，你也可以领
                .text 够努力，够会赚 ，赞TA<br>还需要继续努力，差评
            .friend_top
                .main
                    .text
                        span 您的朋友已获取全额年终奖
                        img.close(src="/static/imgs/mobile_activity/app_praise_reward/close.png")

        script(src='/static/src/mobile/lib/weixin/wx.js')
        script(src='/static/js/lib/jquery.min.js')
        script(src='/static/js/lib/jquery.jcarousel.min.js')
        script(src="/static/scripts/mobile_activity/app_praise_reward.js?v=010402")
