doctype html
html
  head
    title 邀请有奖
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="8月20日至9月5日，迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/css/wap/app_invite.css", rel="stylesheet", type="text/css")
  body
    header.invite-banner
      img(src="/static/images/invite-img/app-banner.jpg")
    p.time 活动时间：2015年6月20日—7月31日
    h1.prize 活动奖励
    .prize1
      img(src="/static/images/invite-img/prize1.jpg")
    .prize2
      img(src="/static/images/invite-img/prize2.jpg")
    h1.prize 红包使用规则：
    ul.rule
      li 1、红包在完成注册后即刻发放，请在我的账户里-红包里面查看；
      li 2、红包投资不可叠加使用，一次回款后可提现；
      li 3、50元直抵红包可在收到红包日起三个月期间内投资使用；
      li 4、每个红包只能使用一次，无论是否有余额即失效；
    h1.prize 活动规则：
    ul.rule
      li 1、手机号为网利宝唯一账户，每个身份证号只可绑定一个网利宝账号；
      li 2、被推荐人注册送50元直抵红包，投资满300元即可使用；
      li 3、邀请好友送话费。赠送条件：被推荐人首次交易
        b ≥200元
        |，推荐人送30元话费，多邀多送不封顶！
      li 4、奖品信息将发送至您的网利宝站内信，话费将充值进您的交易手机号；
      li 5、刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
      li 6、网利宝对此活动享有最终解释权。
    footer
      详请关注网利宝官网：
      a(href="https://www.wanglibao.com") www.wanglibao.com
