- load formatters
doctype html
html(style='background: #ffd9b4')
  head
    title 二月新手活动
    include include/app_head
    link(href="/static/styles/mobile_activity/app_two_novice.css?v=2022251455", rel="stylesheet")
    - csrf_token
  body
    #two-mov-ice
      .mov-ice
        p.mov
        a(href='javascript:void(0);').ice-button 我知道啦
    .two-novice-banner
      img(src='/static/imgs/mobile_activity/app_two_novice/app_two_banner.jpg')
    .two-novice-title
      h1 第一步：注册账户
    .two-novice-title1
      .title1
      .title2
        p 开启财富保值增值之旅
    .two-novice-main
      h2 30秒完成注册
      p 方便又快捷
      img(src='/static/imgs/mobile_activity/app_two_novice/app_two_main11.png')
      a(href='javascript:void(0);').two-button1.two-buttonn 立即注册
      h2 实名认证、绑定银行卡
      p 信息安全，资金保障
      img(src='/static/imgs/mobile_activity/app_two_novice/app_two_main11.png')
      a(href='javascript:void(0);').two-button1.two-buttonrenzheng 我要认证
      h2 账户充值、立即投资
      p 畅享15%高收益
      img(src='/static/imgs/mobile_activity/app_two_novice/app_two_main11.png')
      a(href='javascript:void(0);').two-button1.two-buttonmon 我要投资
    .two-novice-title.two-novice-title2
      h1 第二步：领取福利
    .two-novice-title1
      .title1
      .title2
        p 立即注册享三重福利
    .two-novice-main
      h2
        span 福利一&nbsp;&nbsp;
        |&nbsp;&nbsp;28888体验金
      p 我出本金你得收益，可提现！
      img(src='/static/imgs/mobile_activity/app_two_novice/app_two_main21.png')
      h2
        span 福利二&nbsp;&nbsp;
        |&nbsp;&nbsp;300元红包
      p 投资直减现金使用，真划算！
      img(src='/static/imgs/mobile_activity/app_two_novice/app_two_main22.png')
      h2
        span 福利三&nbsp;&nbsp;
        |&nbsp;&nbsp;最高100元奖励
      p 邀好友投资送红包，更能天天赚佣金！
      img(src='/static/imgs/mobile_activity/app_two_novice/app_two_main23.png')
      a(href='javascript:void(0);').two-button1.two-xiangqing 立即查看详情
      .beizhu
        p 备注：注册成功后，登录“我的账户” -- 体验金专区查看体验金；登录“我的账户” -- 理财券专区查看红包
    .two-novice-title.two-novice-title2
      h1 第三步：投资理财
    .two-novice-title1
      .title1
      .title2
        p 畅享安全高收益
    .two-novice-main
      h2 直接投标
      p 最高年化16%年化收益率
      p 1月、3月、6月等多种标期可供选择
      img(src='/static/imgs/mobile_activity/app_two_novice/app_two_main31.png')
      a(href='javascript:void(0);').two-button1.two-buttontt 立即投资
      h2 自动投标
      p 设置自动投标，省心又放心
      p 回款自动复投赚收益，利上加利
      img(src='/static/imgs/mobile_activity/app_two_novice/app_two_main32.png')
      a(href='javascript:void(0);').two-button1.two-bu 立即开启
      .beizhu
        p 投资流程：线上注册 -- 实名绑卡 -- 充值账户 -- 选标投资 -- 获得收益
    .two-novice-title.two-novice-title2
      h1 第四步：玩转掌上理财
    .two-novice-title00
    .two-novice-main
      img(src='/static/imgs/mobile_activity/app_two_novice/app_two_erwei.png').im
    .two-novice-footer
      img(src='/static/imgs/mobile_activity/app_two_novice/app_two_footer.jpg')

    script(src="/static/scripts/component/webview.js?v=233632")
    script(src="/static/scripts/mobile_activity/app_two_novice.js?v=13944552")

script.
