-load formatters

doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet",href="/static/css/wap/jquery.mobile.min.css")
    link(rel="stylesheet",href="/static/css/wap/share_app.css")
    script(src="/static/js/require.js", data-main="/static/js/header")
    script(src="/static/js/register_share_app.js")

  body
    div(data-role="page",id="stepRegister")
      h2 请设置登陆密码完成注册
      h2 账号：
        span.re_identifier
      form#register-modal-form(method='post', action='/activity/app_share/#stepRegister')
          .form-row
            .span8
              input#reg_identifier(type="number", data-clear-btn="false", name="identifier", pattern="[0-9]{*}", placeholder="请输入手机号", id="number-1", value="")
            .span4-omega
              button.button-get-validate-code-modal#button-get-validate-code-modal(type="button") 获取验证码
          .error-message
      footer

      div(data-role="content").align-center
        div(data-role="popup", id="popupDialog", data-dismissible="false", style="width:auto;")
          div(data-role="content").ui-content
            .popup-message
            a.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline.ui-btn-a#okButton(href="#",data-rel="back", data-transition="flow") 好的

