- load formatters
doctype html
html(style="background:#FFF29A")
  head
    title 下载APP
    include include/app_head
    style.
      #other-client{
        display: none;
      }
  body
    .pc_download-warp
      .pc-dw-logo
        img(src='/static/imgs/mobile_activity/app_pc_download/download_logo.png')
      .pc-dw-page
        img(src='/static/imgs/mobile_activity/app_pc_download/download_page.png')

      //.pc-dw-explan(style='border: 1px dotted #DB493F')
        span.dw-sign(style='background: #DB493F') 温馨提示
        p(style="color: #DB493F;font-size: .7rem") 如果您使用微信、QQ打开,点击下载无法跳转，请点击右上角选择在浏览器中打开
        p(style="color: #DB493F;font-size: .7rem") （iPhone用户选择Safari）

      .pc-dw-button#ios-android-client
        a(href="javascript:void(0)")#dw-button 下载网利宝手机APP
    script.
      var u = navigator.userAgent,
          ua = navigator.userAgent.toLowerCase(),
          target = document.getElementById('dw-button'),
          isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1,
          isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);

      target.onclick = function(){
        if (ua.match(/MicroMessenger/i) == "micromessenger") {
            window.location.href = 'http://a.app.qq.com/o/simple.jsp?pkgname=com.wljr.wanglibao&g_f=991653';
        }else{
          if(isiOS){
            window.location.href = 'https://itunes.apple.com/cn/app/wang-li-bao/id881326898?mt=8';
          }else if(isAndroid) {
            window.location.href = 'https://www.wanglibao.com/static/wanglibao1.apk';
          }
        }

      }
