doctype html
html(style="width: 100%;height: auto;position: relative")
  head
    title 国庆亿元让利
    include include/app_head
  body(style="background:#5f1e94;width: 100%;height: auto;position: relative")
    .national_continer
      .national_banner
        img(src="/static/imgs/mobile_activity/app_national/1.png")
      .national_xialu
        img(src="/static/imgs/mobile_activity/app_national/19.png")
      .national_textbox
        h4.national_titles
          img(src="/static/imgs/mobile_activity/app_national/4.png")
        p.national_texts
          span 国庆去哪儿？网利宝给你支招，哪儿加息就去哪儿！
          br
          span 单笔投资满额，即可获得专场加息券一张！多投多送哦！
        .national_interest.interest1
          h5 5000元≤单笔投资金额<10000元
          span 立送一张
          img.interest_imgs(src="/static/imgs/mobile_activity/app_national/8.png")
          a.national_btn
            img(src="/static/imgs/mobile_activity/app_national/0.png")
            .kkk
        .national_interest.interest2
          h5 10000元≤单笔投资金额<20000元
          span 立送一张
          img.interest_imgs(src="/static/imgs/mobile_activity/app_national/9.png")
          a.national_btn
            img(src="/static/imgs/mobile_activity/app_national/0.png")
            .kkk
        .national_interest.interest3
          h5 20000元≤单笔投资金额
          span 立送一张
          img.interest_imgs(src="/static/imgs/mobile_activity/app_national/10.png")
          a.national_btn
            img(src="/static/imgs/mobile_activity/app_national/0.png")
            .kkk
        p.national_rule 新老用户均可参与，单标投资额无上限，一券一标永久加息！加息券不限平台均可使用。
        h3.national_rule2#rule 加息券规则
          span
        #rulebox.national_rulebox.clear
          span 1.
          p 加息券有效期：9月28日-10月15日；
          span 2.
          p 加息券使用范围：加息券使用不限平台。
          span 3.
          p 购标时，选择加息券才会进行加息，没有选择则无法加息。请在购买时勾选相应的加息券，才能获得加息；
          span 4.
          p 投资一个项目时，加息券不可叠加使用，也不可与红包叠加使用；
          span 5.
          p 使用加息券投资了一个项目，之后对同一项目再投资，无论投多少次，加息额度不变，也不用再次使用加息券；
          span 6.
          p 使用加息券得到的加息收益，按照还款计划与基本利息一起发放，非在起息日时发放。
        h4.national_titles2
          img(src="/static/imgs/mobile_activity/app_national/12.png")
        .national_flow.clear
          .flow1
            .flow_border
            .flow_xian
            .flowbox.flowbox1
            span.flowtext 投资获得加息券
          .flow1
            .flow_border
            .flow_xian
            .flowbox.flowbox2
            span.flowtext 投标选择使用
          .flow1
            .flow_border
            .flow_xian
            .flowbox.flowbox3
            span.flowtext 投标成功加息生效
          .flow1
            .flow_border
            .flow_xian
            .flowbox.flowbox4
            span.flowtext 获得收益和奖励
            .flow_border2
        h4.national_titles2
          img(src="/static/imgs/mobile_activity/app_national/17.png")
        #rulebox2.national_rulebox2.clear
          span 1.
          p 活动时间：9月30日-10月8日；
          span 2.
          p 用户单笔投资满额，即可获得国庆专场加息券一张，加息券统一会以站内信通知，收到后可立即使用。详情请看
            a#btns 加息券使用规则;
          span 3.
          p 国庆专场加息券有效期至10月15日，请在有效期内使用，过期不补；
          span 4.
          p 在法律规定范围内，平台保留活动最终解释权。如有疑问请联系在线客服或拨打4008-588-066。
        #rulebox3.national_rulebox.clear
          span 1.
          p 加息券有效期：9月28日-10月15日；
          span 2.
          p 加息券使用范围：加息券使用不限平台。
          span 3.
          p 购标时，选择加息券才会进行加息，没有选择则无法加息。请在购买时勾选相应的加息券，才能获得加息；
          span 4.
          p 投资一个项目时，加息券不可叠加使用，也不可与红包叠加使用；
          span 5.
          p 使用加息券投资了一个项目，之后对同一项目再投资，无论投多少次，加息额度不变，也不用再次使用加息券；
          span 6.
          p 使用加息券得到的加息收益，按照还款计划与基本利息一起发放，非在起息日时发放。
        p.national_zhu *网利宝对此活动享有最终解释权
    .national_footer
      img(src="/static/imgs/mobile_activity/app_national/18.png")
script(src="/static/scripts/mobile_activity/app_national.js")