html
  head
    meta(name='format-detection', content='telephone=no,email=no')
    title 万圣节恐怖夜...
    meta(charset='utf-8')
    meta(content='telephone=no,email=no', name='format-detection')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(content='yes', name='apple-mobile-web-app-capable')
    link(href='/static/styles/mobile_activity/app_halloween.css?v=2015102908', rel='stylesheet')
  body
    img.weixin(src='/static/imgs/mobile_activity/app_halloween/weixin.jpg')
    .loading(style='width:100%; height:100%; background: #293966; position: fixed; z-index: 9999; left:0; top:0;')
      .main(style='position:absolute; top:30%; left:0; width:100%; display:block;')
          img(src='/static/imgs/mobile_activity/app_halloween/loading.gif' sytle='width:50%; margin:0 auto; display: block;')

    .no_signal_wrap(style='display:none')
      .no_signal
    #play.play_music
        audio#music(loop='loop',style='width:0;height:0;')
            source(type="audio/mpeg", src="/static/imgs/mobile_activity/app_halloween/music.mp3")
    #wrap(style='opacity:0')
      .bg_after
      .bg_front_wrap
        .main
          img.title(src='/static/imgs/mobile_activity/app_halloween/title.png')
      .bat1
        img(src='/static/imgs/mobile_activity/app_halloween/bat1.png')
      .tree1_wrap
        .main
          img.tree1(src='/static/imgs/mobile_activity/app_halloween/tree_after1.png')
          .owl
          img.deadman(src='/static/imgs/mobile_activity/app_halloween/deadman.png')
          .ghost.ghost_animate
            img.ghost_img(src='/static/imgs/mobile_activity/app_halloween/ghost.gif')
            img.ghost_hit(src='/static/imgs/mobile_activity/app_halloween/hit.gif')
      .tree2_wrap
        .main
          img.tree2(src='/static/imgs/mobile_activity/app_halloween/tree_after2.png')
          img.spider(src='/static/imgs/mobile_activity/app_halloween/spider.png')
      img.moon(src='/static/imgs/mobile_activity/app_halloween/moon.png')
      img.cloud(src='/static/imgs/mobile_activity/app_halloween/cloud.png')
      .gold_num_wrap
        .main
          img.bg(src='/static/imgs/mobile_activity/app_halloween/gold_num.png')
          img.star(src='/static/imgs/mobile_activity/app_halloween/gold_num_star.png')
          .gold_text.num-animate(data-num='50') 0
      .gold
        .img.twinkle
          img(src='/static/imgs/mobile_activity/app_halloween/gold1.png')
      .car
        .img.twinkle
          img(src='/static/imgs/mobile_activity/app_halloween/car1.png')
      img.money_50.money_50_animate(src='/static/imgs/mobile_activity/app_halloween/50.png')
      .boy
        .main
          .boy_go.boy_animate1
          //img.boy_go_one(src='/static/imgs/mobile_activity/app_halloween/go_one.gif')
          img.boy_stay(src='/static/imgs/mobile_activity/app_halloween/stay.gif')
          img.boy_run(src='/static/imgs/mobile_activity/app_halloween/run.gif')
      .girl_wrap
        .main
          img.girl_come(src='/static/imgs/mobile_activity/app_halloween/girl_come.gif')
          img.girl_cry(src='/static/imgs/mobile_activity/app_halloween/girl_cry.gif')
      img.sugar_want(src='/static/imgs/mobile_activity/app_halloween/sugar_want.png')
      img.sugar(src='/static/imgs/mobile_activity/app_halloween/sugar.png')
      .choice
        .choice_step.choice_step1
          img.button.choice1(src='/static/imgs/mobile_activity/app_halloween/button1_1.png')
          img.button.choice2(src='/static/imgs/mobile_activity/app_halloween/button1_2.png')
        .choice_step.choice_step2
          img.button.choice1(src='/static/imgs/mobile_activity/app_halloween/button2_1.png')
          img.button.choice2(src='/static/imgs/mobile_activity/app_halloween/button2_2.png')
        .choice_step.choice_step3
          img.button.choice1(src='/static/imgs/mobile_activity/app_halloween/button3_1.png')
          img.button.choice2(src='/static/imgs/mobile_activity/app_halloween/button3_2.png')
    .poor_wrap(style='display:none')
      .bg
      img.poor_boy(src='/static/imgs/mobile_activity/app_halloween/poor_boy.gif')
      img.poor_text(src='/static/imgs/mobile_activity/app_halloween/poor_text.png')
      .light.poor_light_animate
      a.button(href='https://www.wanglibao.com/weixin/regist/?next=/weixin/authentication/?promo_token=h5chuanbo')
        img(src='/static/imgs/mobile_activity/app_halloween/poor_button.png')
    .rich_wrap(style='display:none')
      .bg_front
      .rich_bg_after
      img.boy_img(src='/static/imgs/mobile_activity/app_halloween/fage.gif')
      img.rich_text(src='/static/imgs/mobile_activity/app_halloween/rich_text.png')
      .light.rich_light_animate
        img(src='/static/imgs/mobile_activity/app_halloween/rich_light_one.png')
      a.button(href='https://www.wanglibao.com/weixin/regist/?next=/weixin/authentication/?promo_token=h5chuanbo')
        img(src='/static/imgs/mobile_activity/app_halloween/rich_button.png')
    script(src='/static/src/pc/lib/jquery.min.js')
    script(src='/static/src/pc/lib/jquery.animateNumber.min.js')
    script(src='/static/src/mobile/lib/weixin/wx.js')
    script(src='/static/scripts/mobile_activity/dist/app_halloween.js?v=2015103001')
