- load formatters
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title app新手活动
    link(rel="stylesheet",href="/static/css/wap/app_new_user.css")
    script(src="/static/js/require.js", data-main="/static/js/header")
  body
    .wrap
      .top
        img(src="/static/images/app_img/app_ban.jpg").app_ban
      .down
        a#xiaz 立 即 下 载 A P P
        p 账户资金安全由平安保险全额承保

      .jiang
        dl
          dt
            img(src="/static/images/app_img/app_jiang.png").app_jiang
          dd
            p 1.注册送30元理财红包
            p 2.邀请好友，好友首次交易200元,再共享60元话费
            p 3.邀请双方可各享受：活动期间被邀请人理财总额度各0.3%的年化收益奖励（详见活动规则第8条）

      .zeng
        h1 活动期间（2月10日-3月16日），每个账户投资额达到以下额度，可获得相应奖品
        ul.zeng_ul
          li 1.累计购买满130万送iPhone 6 Plus（16G 5.5英寸）
          li 2.累计购买满100万送iPhone 6（16G 4.7英寸）
          li 3.累计购买满80万送华为mate7 4G版手机（16G）
          li 4.累计购买满50万送iPad Air 2（16G WLAN）
          li 5.累计购买满40万送iPad mini3（16G WLAN）
          li 6.累计购买满30万送1000元京东礼品卡
          li 7.累计购买满10万送300元京东礼品卡
          li 8.累计购买满1-9万每满1万元送30元话费

      .huodong
        h2 活动详情
        h3 如何参加：
        ul.huo_ul
          li 1. 点击“去下载”，或在各大应用商店搜索“网利宝”进行下载；
          li 2. 用手机号注册，注册即得30元红包；
          li 3. 30元红包可在首次投资时直接抵现；
          li 4. app端点击“邀请有奖”，邀请好友，好友首次交易200元，共享60元话费（各30元）；
          li 5. 邀请双方可获得好友活动期间累计理财额度0.3%的年化收益奖励，多邀多送不封顶！
        h3 活动规则
        ul.huo_ul
          li 1.手机号为网利宝唯一账户，每个身份证号只可绑定一个网利宝账号；
          li 2.登陆网利宝官网：
            a(href="https://www.wanglibao.com/", target="_blank") www.wanglibao.com，
              |或者用app进行投资理财；
          li 3.P2P年化收益奖励将随理财还款发放；
          li 4.奖品信息将发送至您的网利宝站内信，话费将充值进您的交易手机号；
          li 5.话费等奖品统一于活动结束后7个工作日内开始发放；还可关注微信公众号：iwanglibao，最新理财资讯一网打尽；
          li 6.由于实物奖品快递需要，满额度用户请提交真实“姓名、手机、身份证、通讯地址”至 kefu@wanglibank.com；
          li 7.充值未理财，提现需收取0.25%的手续费；
          li 8.邀请好友收益公式：好友活动期间理财总金额 * 0.6% * 标的投资期限(月) / 12(月)；
          li 9.本活动不收取任何费用，谨防上当受骗；
          li 10.网利宝对此活动享有最终解释权。
        p.footer(style="margin-top:1em") 官方客服电话：4008-588-066
        p.footer.ye
          a(href="https://www.wanglibao.com/", target="_blank") 详请关注网利宝官网： www.wanglibao.com

  script.
    var xz=document.getElementById("xiaz");
     var v = new Date().getTime()
      xz.onclick=function(v) {
        xz.className='hight';
        var android, iphone;
        console.log(navigator.userAgent);
        iphone = /iphone/i.test(navigator.userAgent.toLowerCase());
        android = /android/i.test(navigator.userAgent.toLowerCase());
        if (iphone) {
          window.location.href = "https://itunes.apple.com/cn/app/id881326898";
          return true;
        }else if (android) {
          window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.wljr.wanglibao";
          return true;
        } else {
          window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.wljr.wanglibao";
          return true;
        }
    };
