extends ./app_weChatBase


block content

  .webchat-redpack-detail
    if self_gift.amount > 10
        //体验金
        .webchat-tyj-bg
            .redpack-message
              em#amount {{self_gift.amount}}
              em.baifen 元
        .webchat-redpack-result
            p.result-amount 恭喜您抽到了
              span {{self_gift.amount}}
              |的体验金
            p.result-phone 体验金已存入
              span {{self_gift.phone}}
              |的账户下，注册登录后可查看
    else
        //加息券
        .webchat-bg
            .redpack-message
              em#amount {{self_gift.amount}}
              em.baifen %
        .webchat-redpack-result
            p.result-amount 恭喜您抽到了
              span {{self_gift.amount}}%
              |的加息券
            p.result-phone 加息券已存入
              span {{self_gift.phone}}
              |的账户下，注册登录后可查看
  .webchat-submit-end
    a(href="/activity/app_pc_download/").webpack-btn-red 立即使用
  .receive-peoples 已有 {{count}} 人领取 28888 元体验金
  .webchar-friend-list
    .webchar-list-head
      span 看朋友们手气如何
    .webchar-list-item
      if all_gift
        for gift in all_gift
          dl
            dt.item-start
              img(src='{{gift.img}}')
            dd.item-cont
              .friend-warp
                span.fried-name {{gift.name}}&nbsp
                span.take-time {{gift.time}}
              .friend-taking {{gift.message}}

            dd.item-right
              em#amount.friend-list {{gift.amount}}%
              if gift.amount > 10
                span.jiaxi-text 体验金
              else
                span.jiaxi-text 加息券

  script(src="/static/src/mobile/lib/weixin/wx.js")
  script(data-init='weChatDetail', src='/static/scripts/mobile_activity/dist/weChart_share.js?v=20151113')

