- load formatters
doctype html
html(style="background:#1f1f1d")
  head
    title 网利宝金融摇滚夜
    include include/app_head
  body
    .appdamai-banner
      img(src="/static/imgs/mobile_activity/app_damai/app-damai-banner.jpg")
      img(src="/static/imgs/mobile_activity/app_damai/app-damai-banner1.jpg")
    .appdamai-main
      ul
        li
          span
          |网利宝新用户注册获赠20元现金红包，单笔首次投资1000元送价值280元门票一张。
        li
          span
          |投资满额用户请留意网利宝站内信以及短信 ，每个注册号码仅有一次参与资格。
        li
          span
          |门票限800张，送完为止！来现场，更有乐队签名CD，签名t-shirt相送！
    .appdamai-main1
      h1 网利宝，好收益，开启多彩生活！
      a(href='/weixin/regist/?promo_token=dmw').appdamai-button 立即参与抢门票
      img(src="/static/imgs/mobile_activity/app_damai/app-damai-title.jpg")
      dl
        dt
          img(src="/static/imgs/mobile_activity/app_damai/app-damai-song.png")
        dd 简迷离乐队
      dl
        dt
          img(src="/static/imgs/mobile_activity/app_damai/app-damai-song1.png")
        dd 反光镜乐队
      dl
        dt
          img(src="/static/imgs/mobile_activity/app_damai/app-damai-song2.png")
        dd 小老虎乐队
      img(src="/static/imgs/mobile_activity/app_damai/app-damai-title1.jpg")
    .appdamai-main2
      ul
        li 1.活动日期：待定；
        li
          |2.演出时间：2016年1月16日 19:30
          br
          |（请于19：00前入场）

        li
          |3.活动地点：愚公移山
          br
          |（北京市东城区张自忠路3 -2号段祺瑞执政府旧址西院）。

        li 4.新用户注册送20元直抵红包 ，投资满1000元可抵扣使用 ，单笔首次投资满1000元加送价值280元门票一张；
        li 5.新用户仅有一次参与活动机会 ，多次投资不可重复参与领票；
        li 6.用户请留意网利宝站内信以及短信通知，打开站内信链接保存二维码，活动当天凭二维码扫码入场；
        li 7.本活动不收取任何费用，谨防上当受骗 ；刷奖、冒用他人身份证及其他信息者一经核实 ，取消活动资格，活动奖励不予承兑；
        li 8.此活动仅限当前页面参与有效，最终解释权在法律允许范围内归网利宝所有。



