- load formatters
doctype html
html(style='background: #ffdc79')
  head
    title 迅雷３月活动
    include include/app_head
    link(href="/static/styles/mobile_activity/app_xunleithree.css?v=2022251455", rel="stylesheet")
    - csrf_token
  body
    .xunleibanner
      img(src='/static/imgs/mobile_activity/app_xunleithree/app_bannerxunle.jpg')
    .xunleimain
      img(src='/static/imgs/mobile_activity/app_xunleithree/app_mainxunlei.png')
    .xunleidraw
      .xunltitle
        p 幸运大翻牌
      if user.is_authenticated
        p.fanzhuan
          |你有&nbsp;
          a(href='javascript:void(0);').signxun 0
          |&nbsp;次翻牌机会
      else
        p.fanzhuan
          |请
          a(href='javascript:void(0);').signxun.signxun1 立即登陆
          |，获取翻牌机会

    .xunleifanpai
      #vertical.brand
        a(href="javascript:void(0)").xun
          img( alt="" src="/static/imgs/mobile_activity/app_xunleithree/app_paixunlei.png").imgg
          img( alt="" src="/static/imgs/mobile_activity/app_xunleithree/app_paixunlei1.png").info
        a(href="javascript:void(0)").xun
          img( alt="" src="/static/imgs/mobile_activity/app_xunleithree/app_paixunlei.png").imgg
          img( alt="" src="/static/imgs/mobile_activity/app_xunleithree/app_paixunlei1.png").info
        a(href="javascript:void(0)").xun
          img( alt="" src="/static/imgs/mobile_activity/app_xunleithree/app_paixunlei.png").imgg
          img( alt="" src="/static/imgs/mobile_activity/app_xunleithree/app_paixunlei1.png").info
        a(href="javascript:void(0)").xun
          img( alt="" src="/static/imgs/mobile_activity/app_xunleithree/app_paixunlei.png").imgg
          img( alt="" src="/static/imgs/mobile_activity/app_xunleithree/app_paixunlei1.png").info
    .xunleifuli
      .xunltitle
        p 新用户专享福利
      h1 注册送
      img(src='/static/imgs/mobile_activity/app_xunleithree/app_mainxun.png')
      if user.is_authenticated
        a(href='javascript:void(0);').xunleibutton.xunleibutton0 立即注册
      else
        a(href='javascript:void(0);').xunleibutton.xunleibutton1 立即注册
      h1 首充送
      img(src='/static/imgs/mobile_activity/app_xunleithree/app_mainxun1.png')
      if user.is_authenticated
        a(href='/weixin/list/').xunleibutton 立即充值
      else
        a(href='javascript:void(0);').xunleibutton.xunleibutton2 立即充值
      h1 首投送
      img(src='/static/imgs/mobile_activity/app_xunleithree/app_mainxun2.png')
      if user.is_authenticated
        a(href='/weixin/list/').xunleibutton 立即投资
      else
        a(href='javascript:void(0);').xunleibutton.xunleibutton3 立即投资
      .xunltitle
        p 活动规则
    .huodongxunlei
      ul
        li 1、活动时间：2016年1月x日-2016年1月x日；
        li 2、手机号为网利宝唯一账户，本期迅雷活动新用户专享福利仅限于迅雷渠道新注册用户参与，幸运大翻牌网利宝新老用户均可参与；
        li 3、活动期间新用户注册即送28888元体验金，体验金专享1天10%年化收益； 
        li 4、新用户首次充值不低于100元即可获7天迅雷会员及50元直抵红包，50元直抵红包投资2000元即可抵扣使用，有效期自领取日起7天有效；
        li 5、新用户首次投资即可获得100元直抵红包，投资5000元即可抵扣使用，有效期自领取日起7天有效；
        li 6、新用户单笔首次投资不低于1000元附加获赠1年迅雷会员；
        li 7、幸运翻牌中奖用户获赠随机金额体验金及加息券，体验金专享1天10%年化收益，加息券自领取之日起7天有效；
        li 8、用户注册时建议根据注册提示登陆迅雷账号，以便迅雷会员奖励顺利发放；
        li 9、 红包统一以站内信形式通知，完成一次投资回款后即可取现，每个红包仅限使用一次且仅限散标使用，不可叠加使用，使用后无论是 否有余额均失效；
        li 10、 本活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
        li 11、 本活动最终解释权在法律允许范围内归网利宝所有。
        li#ios-show 12、 所有活动由网利宝提供，与苹果公司（Apple Inc.）无关 如有疑问请联系在线客服或拨打4008-588-066
    //script(src="/static/src/mobile/lib/weixin/wx.js")
    script(src="/static/scripts/mobile_activity/app_xunleithree.js?v=333333")
    script.
            var ipad = navigator.userAgent.match(/(iPad).*OS\s([\d_]+)/) ? true : false,
                    iphone = !ipad && navigator.userAgent.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false,
                    ios = ipad || iphone;
            if (ios) {
                document.getElementById('ios-show').style.display = 'block';
            }