- load formatters
doctype html
html(style="background: #3a2741")
    head
        title 网利宝
        include include/app_head
        link(href="/static/styles/mobile_activity/swiper.min.css", rel="stylesheet")
        link(href="/static/styles/mobile_activity/app_praise_reward.css?v=010503", rel="stylesheet")
        - csrf_token
    body
        .fix_wrap(style='width: 100%;height: 100%;background: #3a2741;position: fixed;left: 0;top: 0;z-index: 9999')
        .body_wrap
            .invitation_page
                .top_wrap
                    img.fly_img(src="/static/imgs/mobile_activity/app_praise_reward/work_bg.png")
                    img.man(src='{{wx_user.headimgurl}}')
                    .worker
                        .text 年终考核进行中……
                .operation_wrap
                    .reward_wrap
                        img.gold(src="/static/imgs/mobile_activity/app_praise_reward/gold.png")
                        .text 年终奖
                        .input_wrap
                            input#praise_num(type='text' disabled value='{{wx_user.annual_bonus}}')
                            span.num_top 已封顶
                            span.float +100
                        img.renovate(src="/static/imgs/mobile_activity/app_praise_reward/renovate.png")
                    .praise_wrap
                        .praise.praise_left
                            img.bg(src="/static/imgs/mobile_activity/app_praise_reward/praise_button.png")
                            img.zan(src="/static/imgs/mobile_activity/app_praise_reward/zan.png")
                            .text 赞TA
                        .praise.praise_right
                            img.bg(src="/static/imgs/mobile_activity/app_praise_reward/praise_button.png")
                            img.zan(src="/static/imgs/mobile_activity/app_praise_reward/cai.png")
                            .text 差评
                    if is_myself
                        .step_me
                            .title 不能够给自己点赞哦
                            .share_button 分享集赞
                            .now_use 立即使用
                    else
                        .take_mine_reward
                            input.phone#phone_number(type='text' placeholder='请输入手机号')
                            .take_mine_button 领取我的年终奖
                    .checkbox_wrap
                        span.checkbox.checkbox_select 我
                        span 已同意网利宝年终奖
                        span.rule 活动规则
                    .line.friends 以下好友肯定了TA
                    .gundong
                        .swiper-container
                            .swiper-wrapper
                        img.swiper-button-next(src="/static/imgs/mobile_activity/app_praise_reward/next.png")
                        img.swiper-button-prev(src="/static/imgs/mobile_activity/app_praise_reward/prev.png")
                    if is_myself
                        .step_me
                            .line_bottom
                            .title_text1 每天签到拿网利宝体验金<br>随时查看账户收益
                            // Will be modified in online - by hb on 2015-01-06
                            //img.code_img(src="/static/imgs/mobile_activity/app_praise_reward/wechat_server.jpg")
                            img.code_img(src="/static/imgs/admin/qrcode_for_gh_3b82a2651647_258.jpeg")
                            .title_text2 长按二维码关注
                    img.footer_logo(src="/static/imgs/mobile_activity/app_praise_reward/footer_logo.png")
            .share_wrap
                .share_text
                    .main
                        img(src="/static/imgs/mobile_activity/app_praise_reward/share_text.png")
                        .text 分享征集朋友的肯定<br>多一个赞你将多得100的年终奖
                img.share_img1(src="/static/imgs/mobile_activity/app_praise_reward/arrow.png")
                .share_title1 点击右上角<br>分享给好友
                ul
                    li
                        span.img
                            img(src="/static/imgs/mobile_activity/app_praise_reward/friend_ico.png")
                        span.text 分享到朋友圈
                    li
                        span.img
                            img(src="/static/imgs/mobile_activity/app_praise_reward/share_ico.png")
                        span.text 发送给朋友
            .shine_wrap
                img.bg(src="/static/imgs/mobile_activity/app_praise_reward/shine.png")
                img.close(src="/static/imgs/mobile_activity/app_praise_reward/close.png")
                .title 助力好友年终奖，你也可以领
                .text 够努力，够会赚 ，赞TA<br>还需要继续努力，差评
            .friend_top
                .main
                    .text
                        span 您的朋友已获取全额年终奖
                        img.close(src="/static/imgs/mobile_activity/app_praise_reward/close.png")
                        .regist_button 注册
            .rule_wrap
                .main
                    .text
                        .text_wrap
                            p.title 活动规则
                            div.info
                                dl
                                    dt 如何领取年终奖？
                                    dd 输入手机号领取，可获得由网利宝发出的28888（8888）元年终奖，可通过分享集赞，拿更多年终奖，一个好友点赞，将多得500。
                                dl
                                    dt 本次活动的年终奖为网利宝的理财体验金，未注册过网利宝的用户，最高可拿36888，已注册的老用户最高可拿8888。年终奖封顶后，赞和损可以继续点，但是年终奖金额将不再升高（变化）。
                                dl
                                    dt 年终奖如何使用？
                                    dd 领到的年终奖（网利宝理财体验金），可用在网利宝上投资使用，需投在指定的理财标，享受10%年化收益。
                                dl
                                    dt 年终奖有效期？
                                    dd 有效期自领取成功起15天内有效。
                                dl
                                    dt 年终奖是否可提现？
                                    dd 用年终奖（网利宝理财体验金）投资完成后，一天后，获得的现金收益可提现，也可继续投资。
                                    dd 如果是17点后投资的，两天后，方可提现。
                                dl
                                    dt 网利宝对此活动享有最终解释权。
                    img.close(src="/static/imgs/mobile_activity/app_praise_reward/close.png")
            .share_info.share_name {{share_name}}
            .share_info.share_img {{share_img}}
            .share_info.share_link {{share_link}}
            .share_info.share_title {{share_title}}
            .share_info.share_body {{share_body}}
            include include/tracking
        script(src='/static/src/mobile/lib/weixin/wx.js')
        script(src='/static/js/lib/jquery.min.js')
        script(src='/static/js/lib/swiper.min.js')
        script(src="/static/scripts/mobile_activity/app_praise_reward.js?v=010510")
