extends ./app_weChatBase


block content

  .default-user
    img(src='/static/imgs/mobile_activity/app_wechat/default_user.png').default-img
    .default-message
      .message-icon
      .message-body 哎呦你的手气还不错哦，快去使用吧，和我一起变身土豪。

  .webchat-redpack-detail
    img(src='/static/imgs/mobile_activity/app_wechat/redpack.png').detail-redpack
    .redpack-message
      em#amount 0.4
      em.baifen %
      .amount-name 加息券

  .webchat-redpack-result
    p.result-amount 恭喜您抽到了
      span 0.4%
      |的加息券
    p.result-phone 加息券已存入
      span 152*****407
      |的账户下，注册登录后可查看
  .webchat-submit-end
    a(href="/activity/app_wechatend/").webpack-btn-red 立即使用

  .webchar-friend-list
    .webchar-list-head
      span 看朋友们手气如何
    .webchar-list-item
      mixin items()
        dl
          dt.item-start
            img(src='/static/imgs/mobile_activity/app_wechat/default_user.png')
          dd.item-cont
            .friend-warp
              span.fried-name Are
              span.take-time 15.08.12. 10:49
            .friend-taking 随机的一句话
          dd.item-right
            em#amount.friend-list 0.4%
            span.jiaxi-text 加息券
      +items()
      +items()
      +items()
  .webchar-deatil-footer
    img(src='/static/imgs/mobile_activity/app_wechat/detail_footer.png')

  script(data-init='weChatDetail', src='/static/scripts/mobile_activity/weChart_share.js')