- load formatters
doctype html
html
  head
    title 网利宝福袋
    include include/app_head
  body
    .maimai-rule-warp
      mixin item(title, arrlist)
        .maimai-itme
          .maimai-title=title
          ul
            - each val in arrlist
              li=val

      - var acRule = ['红包统一以站内信形式通知，完成一次投资回款后即可取现；', '每个红包仅限使用一次，无论是否有余额均失效；', '活动所赠红包为直抵红包，二次投资满额即可直抵使用；', '网利宝对此活动享有最终解释权。']
      +item('活动说明', acRule)

      - var useRules = ['新手注册成功即获得120元红包；', '投资500元可直减20；', '投资2000元可直减100使用。']
      +item('使用规则', useRules)

    .maimai-rule-btn
      a(href="javascript:history.go(-1)").maimai-form-btn 我知道了
