- load formatters
doctype html
html(style="background:#f8f1d1")
  head
    title 全民淘金
    include include/app_head
  body
    .invite-banner-server
      img(src='/static/imgs/mobile_activity/app_invite/logo.png').logo
      img(src='/static/imgs/mobile_activity/app_invite/banner_server.png').server-banner
    .invite-server-message
      .messahe-head 获得佣金（元）
      .messahe-cont 200.00
    .tly-mod.invite-server-mb
      .invite-result-touch
        .invite-server-btn 立即邀请
    img(src='/static/imgs/mobile_activity/app_invite/grep_logo.png').invite-bottom-logo

    .invite-mask-share
      .invite-icon-warp
        img(src='/static/imgs/mobile_activity/app_invite/share_sign.png').invite-mask-icon
      .invite-mask-dec 给好友发送580元新手红包<br>每一位好友成功领取<br>你最高可获得80元红包奖励<br>还能坐享好友投资收益