- load formatters
doctype html
html
    head
        include include/app_header.jade
        link(href="/static/styles/mobile_activity/app.css?v=201604142231", rel="stylesheet")
        body()
            .mobilization-box
                img(src="/static/imgs/mobile_activity/app_april_mobilization/banner.jpg").banner
                .c-box
                    .activity
                        .activity-t
                            a(href="javascript:void(0)") 活动一
                        .activity-c
                            span
                                label
                                    p.mt2 千万体验金
                                    p 大放送！
                        .activity-b
                            span
                    .activity
                        .activity-t
                            a(href="javascript:void(0)") 活动二
                        .activity-c
                            span
                                label
                                    p.mt2 春暖花开季
                                    p 温故而加息
                        .activity-b
                            span
                    .activity
                        .activity-t
                            a(href="javascript:void(0)") 活动三
                        .activity-c
                            span
                                label
                                    p.mt2 满额加息
                                    p high翻全场
                        .activity-b
                            span
                    .activity-title
                        span 千万投资，送千万体验金
                    p.activity-time 活动时间:4月16日 0:00- 5月6日 23:59
                    p.describe 阳光温热，岁月静好，好是好，就是体验金送得太少。
                    p.describe 这次网利君开仓放“粮”，活动期间，投资就送体验金，多投多送。
                    .reward-list
                        ul.reward-left
                            li.th 单笔投资金额
                            li 100≤投资额＜5,000
                            li 5,000≤投资额＜10,000
                            li 10,000≤投资额＜20,000
                            li 20,000≤投资额＜30,000
                            li 30,000≤投资额＜40,000
                            li 40,000≤投资额＜50,000
                            li 50,000≤投资额＜80,000
                            li 80,000≤投资额＜100,000
                            li 投资额≥100,000
                        ul.reward-right
                            li.th 获得体验金奖励
                            li 500
                            li 5,000
                            li 10,000
                            li 20,000
                            li 30,000
                            li 40,000
                            li 60,000
                            li 90,000
                            li 100,000
                    .rule
                        h3 温馨小提示：
                        p 1、活动期间投资一月及以上标，即可获取体验金。
                        p 2、投资完成后，体验金实时发放到账户哦~，请登录“我的账户”-- 体验金专区查看体验金！
                    .activity-title
                        span 春暖花开季，温故而加息
                    p.activity-time 活动时间：4月18日 0:00-4月22日 23:59
                    p.it-s 活动期间，单笔购买金额满足网利君设定的条件，即可获得相应的加息券！
                    img(src="/static/imgs/mobile_activity/app_april_mobilization/table.png").table
                    .rule
                        h3 温馨小提示：
                        p 1、活动期间投资一月及以上标，即可获得加息券。
                        p 2、投资完成后，加息券实时发放到用户账户，登录“我的账户” -- 理财券专区查看。
                        p 3、加息券有效期7天，领取次日生效；限投一月及以上标期。
                    .activity-title
                        span 满额加息，High翻全场
                    p.activity-time 活动时间：4月16日 0:00-5月6日 23:59:59
                    .it-s 期间网利宝每周交易额达到1亿，网利宝为参与投资的小伙伴下发相应额度的加息券
                    .rule.gs
                        h3 活动概述：
                        p 1、第一周（4月16日 0:00-4月22日 23:59） 单周交易额突破一亿，在本周结束后3个工作日内（4.25-4.27），网利宝会为当周（4月16日 0:00-4月22日 23:59）参与投资用户下发一张1%加息券。
                        p 2、第二周（4月23日 0:00-4月29日 23:59），单周交易再次突破一亿，累计两周都有投资用户得到一张1.5%加息券，只有当周参与投资用户得到1%加息券。
                        p 3、第三周（4月30日 0:00-5月6日 23:59），单周交易额突破一亿，活动期间累计三周都有投资用户得到一张2%加息券，参与2周投资用户得到一张1.5%加息券，只有本周参与投资用户得到1%加息券。
                    .transaction 全站交易额
                    .transaction-time 16年4月15日零点至今
                    .transaction-counts
                    .reward-list.min-list
                        ul.reward-left
                            li.th 时间
                            li
                                p 第一周
                                p (4.16- 4.22)
                            li
                                p 第二周
                                p (4.23- 4.29)
                            li
                                p 第三周
                                p (4.30- 5.06)
                        ul.reward-right.tc
                            li.th 全站交易额
                            li 突破1亿
                            li 突破2亿
                            li 突破3亿
                        ul.reward-left.tc
                            li.th 配送加息券
                            li 1%
                            li 1.5%
                            li 2%
                        ul.reward-right.tc
                            li.th 加息状态
                            li 已加息
                            li 待加息
                            li 待加息
                    .rule
                        h3 温馨小提示：
                        p 1、活动期间，满足下发条件后，加息券于次周三个工作日内下发。
                        p 2、活动期间，满足下发条件后，每周每位用户限得一张加息券。
                        p 3、加息券使用门槛：2万起投，限三月及以上标；有效期7天，领取次日生效。
                        p 4、如交易额未达到指定额度，加息券则不予下发。
                    .activity-title
                        span 累计投资前10名实物奖励
                    p.activity-time.bt0 每周累计投资前10名用户，
                    p.activity-time 还可获得百元加油卡和超值电影票
                    .reward-list.min-list
                    .ranking-list
                        .ranking-box
                            h3 第一周用户投资排行榜（每逢半点更新）
                            table
                                thead
                                    tr
                                        th 用户名
                                        th 投资金额
                                        th 获得福利
                                tbody#list
                                    //tr
                                    //    td 139 XXXX 2453
                                    //    td 25,000 元
                                    //    td 5张百元加油卡+2张星美电影票

                            .explain
                                p 说明：
                                p 1、投资额相同的情况下，按照投资时间先后顺序进行排名。
                                p 2、当周结束后，三个工作日网利宝客服将以电子兑换码的形式将奖品以短信的形式告知用户。
                .botto-img
                .tz-btn
                    img(src="/static/imgs/mobile_activity/app_april_mobilization/tz.png")#investmentBtn
        script(src="/static/scripts/component/webview.js?v=2016041401")
        script(src="/static/scripts/mobile_activity/april_mobilization.js?v=20140414")
