- load formatters
doctype html
html(style="background:#fff")
  head
    title 黄金节
    include include/app_head
  body
    .extension-banner
      img(src="/static/imgs/mobile_activity/app_qixi/banner.jpg")
    .qixi-main(style="height:19.45rem")
      h3 投资流程
      .qixi-liucheng
    .qixi-main(style="height:19.45rem")
      h3 活动规则
      ul
        li 1、活动时间：2015年8月13日-8月21日；
        li 2、黄金节的主打产品为黄金宝，用户可以通过PC端和APP端参与活动投标；
        li 3、黄金宝所有标期均为2个月，全部标期均加息补贴，限量1亿元标量，先抢先得，抢完为止；
        li 4、本活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑
        li 5、网利宝对此活动享有最终解释权。
        li#ios-show(style="display:none") 6、所有活动由网利宝提供，与苹果公司（Apple Inc.）无关 如有疑问请联系在线客服或拨打4008-588-066
    script.
      var ipad = navigator.userAgent.match(/(iPad).*OS\s([\d_]+)/) ? true : false,
          iphone = !ipad && navigator.userAgent.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false,
          ios = ipad || iphone;
      if (ios) {
          document.getElementById('ios-show').style.display = 'block';
      }



