- load formatters
doctype html
html
  head
    title 网利宝福袋
    include include/app_head
    style.
      .maimai-itme ul {
        margin-left: 1rem;
      }
      .maimai-itme li {
        list-style: none;
        max-height: 9999rem;
      }
  body
    .maimai-rule-warp
      .maimai-itme
        .maimai-title 使用规则
        ul
          li 1. 新用户通过此页面注册为网利宝用户即得28888元体验金，体验金专享1天10%年化收益；
          li 2. 活动期间新用户注册即送50元红包(满5000元可用，限1月以上标期，领取之日起7天有效)；
          li 3. 用户首次投资满额送以下红包，红包3月标及以上使用，领取之日起15天有效；
          li a. 1000元≤首次投资＜5000元，送100元直抵红包（满15000元可直抵使用）
          li b. 5000元≤首次投资＜10000元，送150元直抵红包（满20000元可直抵使用）
          li c. 10000元≤首次投资，送250元直抵红包（满25000元可直抵使用）

    .maimai-rule-btn
      a(href="javascript:history.go(-1)").maimai-form-btn 我知道了

