- load formatters
doctype html
html(style="background: #b10012")
    head
        title 网利宝
        include include/app_head
        link(href="/static/styles/mobile_activity/app_double_eggs.css?v=122102", rel="stylesheet")
        - csrf_token
    body
        .body_wrap
            #id_ceshi(style='height:80px; color:#fff; font-size:1rem') ceshi
            img.banner(src="/static/imgs/mobile_activity/app_double_eggs/banner_1.jpg")
            img.banner(src="/static/imgs/mobile_activity/app_double_eggs/banner_2.png")
            .main_box.main_box_1
                img.main_title_img.banner(src="/static/imgs/mobile_activity/app_double_eggs/main_title_1.png")
                .main_top
                    img(src="/static/imgs/mobile_activity/app_double_eggs/main_top_1.png")
                    .text 活动期间单笔投资送翻倍理财金！<br>我出翻倍本金你得收益，所得可直接提现！
                .main
                    .red_wrap
                        .red_box
                            .title 1. 2000≤活动期间单笔投资＜5000
                            img.img(src="/static/imgs/mobile_activity/app_double_eggs/red_box_img_1.jpg")
                        .red_box
                            .title 2. 5000≤活动期间单笔投资＜8000
                            img.img(src="/static/imgs/mobile_activity/app_double_eggs/red_box_img_2.jpg")
                        .red_box
                            .title 3. 8000≤活动期间单笔投资＜10000
                            img.img(src="/static/imgs/mobile_activity/app_double_eggs/red_box_img_3.jpg")
                    .button.link_licai 立即投资领取
                    .remarks 备注：所有体验金10%年化、1天期限计算发放收益到账户余额。
                    .see_rule_button 点击查看理财金规则>>
                    .rule_wrap
                        .rule_title 【理财金领取和使用规则】
                        dl.rule_text
                            dt 1.
                            dd 活动期间内单笔投资满额即可获得定额翻倍理财金，理财金自动发放到相应账户并站内信通知；
                        dl.rule_text
                            dt 2.
                            dd 理财金只能在相关活动页投体验标使用，投标时不能使用其他理财券，理财金自发放日起15日内有效；
                        dl.rule_text
                            dt 3.
                            dd 理财金需用户手动投资，投资时系统将自动按理财金总额一次性投标完成，
                                span#tiyanjin 立即进入理财金投标页面；
                        dl.rule_text
                            dt 4.
                            dd 理财金投资完毕后，当日开始计算利息，到期日17点回款。还款本金系统自动回收，利息收益系统自动发放到用户账户；
                        dl.rule_text
                            dt 5.
                            dd 理财金利息收益和正常账户余额一样，可正常投资和提现。
                img.main_footer(src="/static/imgs/mobile_activity/app_double_eggs/main_footer.png")
            .main_box.main_box_2
                img.main_title_img.banner(src="/static/imgs/mobile_activity/app_double_eggs/main_title_2.png")
                .main_top
                    img(src="/static/imgs/mobile_activity/app_double_eggs/main_top_2.png")
                    .text 单笔投资满额，即送高额加息券，投资满额加息券翻倍！
                .main
                    .red_wrap
                        .red_box
                            .title 1万元≤单笔投资＜ 3万元
                            img.img(src="/static/imgs/mobile_activity/app_double_eggs/red_box_img_4.jpg")
                        .red_box
                            .title 3万元≤单笔投资＜6万元
                            img.img(src="/static/imgs/mobile_activity/app_double_eggs/red_box_img_5.jpg")
                        .red_box
                            .title 6万元≤单笔投资＜10万元
                            img.img(src="/static/imgs/mobile_activity/app_double_eggs/red_box_img_6.jpg")
                    .button.investment_button 立即投资领取
                    .remarks 备注：加息券不限标期均可使用，多投多得，上不封顶！
                    .see_rule_button 点击查看加息券规则>>
                    .rule_wrap
                        .rule_title 【加息券规则】
                        dl.rule_text
                            dt 1.
                            dd 加息券有效期：2015年12月22日-2016年1月3日23:59；
                        dl.rule_text
                            dt 2.
                            dd 加息券在电脑端和手机端均可使用，一券一标永久加息。投标时选择加息券才会进行加息，没有选择则无法加息。请在购买时勾选相应的加息券，才能获得相应的加息；
                        dl.rule_text
                            dt 3.
                            dd 投资一个项目时，加息券不可叠加使用，也不可与红包叠加使用；
                        dl.rule_text
                            dt 4.
                            dd 使用加息券投资了一个项目，之后对同一项目再投资，无论投多少次，加息额度不变，也不用再次使用加息券；
                        dl.rule_text
                            dt 5.
                            dd 使用加息券得到的加息收益，按照还款计划与基本利息一起发放，非在起息日时发放。
                img.main_footer(src="/static/imgs/mobile_activity/app_double_eggs/main_footer.png")
            .main_box.main_box_3
                img.main_title_img.banner(src="/static/imgs/mobile_activity/app_double_eggs/main_title_3.png")
                .main_top
                    img(src="/static/imgs/mobile_activity/app_double_eggs/main_top_3.png")
                    .text 充8500元直送8500元组合红包！<br>多充多得多投多赚，年度仅此一次！组合如下：
                .main
                    .red_wrap
                        .red_box
                            .title 1. 单笔投满10万元可直抵现金使用
                            img.img(src="/static/imgs/mobile_activity/app_double_eggs/red_box_img_7.jpg")
                        .red_box
                            .title 2. 单笔投满30万元可直抵现金使用
                            img.img(src="/static/imgs/mobile_activity/app_double_eggs/red_box_img_8.jpg")
                        .red_box
                            .title 3. 单笔投满50万元可直抵现金使用
                            img.img(src="/static/imgs/mobile_activity/app_double_eggs/red_box_img_9.jpg")
                    .button.recharge_button 立即充值领取
                    .remarks 备注：多充多送上不封顶、翻倍充翻倍送！
                    .see_rule_button 立即查看红包规则>>
                    .rule_wrap
                        .rule_title 【红包规则】
                        dl.rule_text
                            dt 1.
                            dd 红包有效期：2015年12月22日-2016年1月3日23:59；
                        dl.rule_text
                            dt 2.
                            dd 红包翻倍专场所赠红包限投3月（含）以上标期，活动多充多送上不封顶；
                        dl.rule_text
                            dt 3.
                            dd 红包为直抵现金红包，统一以站内信形式通知，完成一次投资回款后即可取现，每个红包仅限使用一次，不可叠加使用，使用后无论是否有余额均失效；
                        dl.rule_text
                            dt 4.
                            dd 投资一个项目时，红包不可叠加使用，也不可与加息券叠加使用。
                img.main_footer(src="/static/imgs/mobile_activity/app_double_eggs/main_footer.png")
            .main_box.main_box_4
                img.main_title_img.banner(src="/static/imgs/mobile_activity/app_double_eggs/main_title_4.png")
                .main_top
                    img(src="/static/imgs/mobile_activity/app_double_eggs/main_top_4.png")
                    .text 活动期间，累计投资额最高的前10名，<br>可获得相对应的排名奖励。
                .main
                    .prize_wrap
                        .prize_box.prize_box_1
                            .title 第1名： MacBook Pro
                            img(src="/static/imgs/pc_activity/double_eggs/prize_img_1.jpg")
                            .text 13.3英寸Retina屏笔记本电脑 256GB
                        .prize_box.prize_box_2
                            .title 第2~3名：iPad Pro
                            img(src="/static/imgs/pc_activity/double_eggs/prize_img_2.jpg")
                            .text 12.9英寸&nbsp;&nbsp;4G+128G
                        .prize_box.prize_box_3
                            .title 第4~5名：iPhone 6 Plus
                            img(src="/static/imgs/pc_activity/double_eggs/prize_img_3.jpg")
                            .text (A1524)&nbsp;&nbsp;16GB
                        .prize_box.prize_box_4
                            .title 第6~7名： iPad Air 2
                            img(src="/static/imgs/pc_activity/double_eggs/prize_img_4.jpg")
                            .text (A1524)&nbsp;&nbsp;16GB
                        .prize_box.prize_box_5
                            .title 第8~10名：Apple Watch Sport
                            img(src="/static/imgs/pc_activity/double_eggs/prize_img_5.jpg")
                            .text 智能手表
                        .prize_box.prize_box_6
                            img(src="/static/imgs/pc_activity/double_eggs/prize_logo.png")
                    .button.investment_button 立即投资
                    .remarks 备注：累计排名奖在活动结束后7个工作日内公布并电话通知请留意网站公告。
                img.main_footer(src="/static/imgs/mobile_activity/app_double_eggs/main_footer.png")
            .main_box.main_box_5
                img.main_title_img.banner(src="/static/imgs/mobile_activity/app_double_eggs/main_title_5.png")
                .main_top
                    img(src="/static/imgs/mobile_activity/app_double_eggs/main_top_5.png")
                    .text 上标早知道，无需下载安装，微信自动上标推送消息。
                .main
                    .text 立即关注网利宝微信服务号<br>抢标投标不用愁！快来扫一扫>>
                    img.code(src="/static/imgs/mobile_activity/app_double_eggs/code_big.jpg")
                img.main_footer(src="/static/imgs/mobile_activity/app_double_eggs/main_footer.png")
            .act_rule
                .title 【活动规则】
                dl.rule_text
                    dt 1.
                    dd 活动时间：2015年12月22日-2016年1月3日；
                dl.rule_text
                    dt 2.
                    dd 活动期间，新老用户均可参加活动，加息劵和红包限投散标使用，不可用于债转或月利宝标期；
                dl.rule_text
                    dt 3.
                    dd 符合累计排名送大奖的中奖客户，在活动结束后7个工作日内会有客服MM与您联系，具体沟通您的收货信息。奖品会在1月15日前完成奖品发放，请保持手机畅通；
                dl.rule_text
                    dt 4.
                    dd 所有奖品不兑换现金，不可替换。活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑。
                dl(style="display:none")#ios-show.rule_text
                    dt 5.
                    dd 所有活动由网利宝提供，与苹果公司（Apple Inc.）无关。
            .code_wrap(style="display: none")
                img.bg(src="/static/imgs/mobile_activity/app_double_eggs/code_wrap_bg.png")
                img.img(src="/static/imgs/mobile_activity/app_double_eggs/code_img.jpg")
                img.text(src="/static/imgs/mobile_activity/app_double_eggs/code_text.png")
        script(src='/static/src/mobile/lib/weixin/wx.js')
        script(src="/static/scripts/component/webview.js?v=20151215")
        script(src="/static/scripts/mobile_activity/dist/app_double_eggs.js?v=122208")
        script.
            var ipad = navigator.userAgent.match(/(iPad).*OS\s([\d_]+)/) ? true : false,
                iphone = !ipad && navigator.userAgent.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false,
                ios = ipad || iphone;
            if (ios) {
                document.getElementById('ios-show').style.display = 'block';
            }