doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body
      header
      div.content
        p 你的朋友
          span.red
          | 邀请你使用网利宝理财，首次体验可获赠
          span.red 30元
          | 话费。
        form#validate-modal-form(method='post', action='/activity/app_share_reg/')
          .form-row
            .span8
              input#friend_identifier(type="hidden", name="friend_identifier", value="")
              input#my_identifier(type="number", data-clear-btn="false", name="identifier", pattern="[0-9]{*}", placeholder="请输入手机号", id="number-1", value="")
            .span4-omega
              button#button-get-validate-code-modal(type="button") 获取验证码
          .error-message
          .form-row
            input.css-checkbox(type="checkbox",id="agree",checked="true")
            label.css-label(for="agree")
              | 我同意
              span.blue 《网利宝用户注册协议》
      .why-select
        h1 为什么选择网利宝？
        .why-select-row.clearfix
          .why-span-icon
            .icon.icon-why-1
          dl
            dt 信赖
            dd IDG资本投资
            dd 100%本息保障
        .why-select-row.clearfix
          .why-span-icon
            .icon.icon-why-2
          dl
            dt 权威
            dd 洛克菲勒家族
            dd 全方位战略合作
        .why-select-row.clearfix
          .why-span-icon
            .icon.icon-why-3
          dl
            dt 高收益
            dd 30倍银行活期收益
            dd 100元起投 0手续费
        .why-select-row.clearfix
          .why-span-icon
            .icon.icon-why-4
          dl
            dt 安全
            dd 招商银行全程监管
            dd 平安保险全额承保
      footer

