- load formatters
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    title 抠电影活动
    link(rel="stylesheet",href="/static/css/wap/app_movie.css")
  body
    .m-ban
      img(src="/static/images/movie/banner1.jpg")
    h1 投资送！
    .m-money
      //ul
      //  li.one
      //  li.two
      //  li.three(style="margin-right:0.5em")
      dl
        dt.one
        dd
          b 首次投资100元
          |起
          br
          |送10元电影券
      dl
        dt.two
        dd
          b 首次投资≥500元
          |起
          br
          |送20元电影券
      dl
        dt.three
        dd
          b 首次投资≥1000元
          |起
          br
          |送50元电影券
    h1(style="border-top: 1px solid #dadada;margin-top: 0.5em;") 注册邀请好友送！
    .m-dl
      dl
        dt.left
        dd
          b 成功注册
          |网利宝
          br
          |即可得
          b 20元
          |现金红包
      dl
        dt.right
        dd
          b 成功邀请好友
          |首次投资网利宝
          br
          |即可共享
          b 60元
          |话费
    h1(style="border-top: 1px solid #dadada;margin-top: 0.5em;") 活动规则
    .m-rule
      ul
        li 1. 所有抠电影用户均可以参加；
        li 2. 手机号为网利宝唯一账户，每个身份证号只可绑定一个网利宝账号；
        li 3. 首次投资100以上（含100）即可获赠抠电影价值10元的电影券；
        li 4. 首次投资500以上（含500）即可获赠抠电影价值20元的电影券；
        li 5. 首次投资1000以上（含1000）即可获赠抠电影价值50元的电影券；
        li 6. 电影券不累计，即投资500及以上者享用20元电影券而不再享用10元电影券，投资1000者亦然；
        li 7. 注册获取的红包使用期限：2015年5月13日-8月12日；
        li 8. 抠电影电影券的使用期限：2015年5月13日-6月30日；
        li 9. 邀请好友首次投资200以上（含200）即可与好友分别享用30元话费；
        li 10. 红包只能使用一次投资项目到期后本金+利息+红包金额可一并提现；
        li 11. 点击下方红色文字注册并投资即可参加活动；
        li 12. 本活动不收取任何费用，谨防上当受骗；
        li 13. 刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
        li 14. 网利宝对此活动享有最终解释权。
    p
      a(href="https://www.wanglibao.com/activity/ko_movie/?promo_token=koudianying") 点击参加活动
