- load formatters
doctype html
html(style="background:#fff")
  head
    title 伸手领钱
    include include/app_head
  body
    .extension-banner
      img(src='/static/imgs/mobile_activity/ele/banner.jpg')
      p.ele-p 最高免费送2周，还有现金红包得，值了！
    .ele-main
      h1 超级福利
      .ele-sorry
        img(src="/static/imgs/mobile_activity/ele/ku.jpg").ku
        span 对不起，我们来晚啦！
          br
          |真的免费吃？没错！
        p 网利宝联合饿了么推出送早餐活动

          