- load formatters
doctype html
html(style="background: #fff")
    head
        title 网利宝
        include include/app_head
        link(href="/static/styles/mobile_activity/app_open_day_review.css?v=2015031002", rel="stylesheet")
        - csrf_token
    body
        input(type='hidden',value='{{user.is_authenticated}}')#authenticated
        .body_wrap.clear
            img.banner(src='/static/imgs/mobile_activity/app_open_day_review/banner.png')
            .section.section_1
                .big_title.big_title_1 “产业银行”的业务模式
                .line_red
                p.text.text_1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网利宝凭借丰富的金融行业经验、互联网优势，在业内创立了“产业银行”的商业模式，即以产业为切入点、在细分领域深耕，通过产融结合的方式，挖掘产业链中优质中小企业的融资需求。与消费信贷相比，网利宝在获取优质资产方面的优势主要体现在两个方面。一是网利宝不依靠传统的担保、小贷公司推荐债权，而是借助产业龙头的行业积累主动挖掘，建立一条稳定、可靠的渠道;二是在中国个人征信不健全的环境下，网利宝专注企业贷，通过管控质押物，更易确保借款企业按时还款，保证用户资金安全。
                p.text.text_2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014 年 8 月上线来，网利宝在车房贷、物流货运、红木、珠宝、金融仓储等细分产业进行了深度布局，建立了一个稳定的、挖掘优质资产的渠道，先后服务近 2000 家中小企业，截至4月末完成了 50 多亿交易额，拥有近 150 万用户。
            .section.section_2
                .big_title.big_title_1 木材为网利宝重点深耕产业之一
                .line_red
                .small_title.small_title_1 为什么深耕木材行业？
                .line_gray
                img.advantage_wrap(src='/static/imgs/mobile_activity/app_open_day_review/advantage_wrap.png')
            .section.section_1
                .small_title.small_title_2 主要业务范围？
                .line_gray
                img.map(src='/static/imgs/mobile_activity/app_open_day_review/map.png')
                .section_text.section_text_1!='全国 4 大木材生产集散地:  <br><span>1、 河北大城&nbsp;&nbsp;&nbsp;2、浙江东阳&nbsp;&nbsp;&nbsp;3、福建仙游&nbsp;&nbsp;&nbsp;4、广东观澜</span>'
            .section.section_2
                .small_title.small_title_2 企业有哪些借款需求？
                .line_gray
                img.section_box4(src='/static/imgs/mobile_activity/app_open_day_review/section_box4.png')
            .section.section_1
                .small_title.small_title_2 如何让借款者按时还款？
                .line_gray
                img.section_box5(src='/static/imgs/mobile_activity/app_open_day_review/section_box5.png')
                .section_text.section_text_2!='网利宝以<span>质押物</span>为核心制定了严密的风控手段。<br>此外，平台金盾计划设立债权转让专项资金，<br>进一步维护用户权益。'
            .section.section_2
                .small_title.small_title_2 如何评估质押物？
                .line_gray
                .section_box6
                    .box
                        img(src='/static/imgs/mobile_activity/app_open_day_review/iconfont_team.png')
                        .text 内部风控团队评估
                    .box
                        img(src='/static/imgs/mobile_activity/app_open_day_review/iconfont_expert.png')
                        .text 第三方专家评估
                    .box
                        img(src='/static/imgs/mobile_activity/app_open_day_review/iconfont_form.png')
                        .text 参考国家级木材价格指数<br>——鱼珠价格指数
                    .box
                        img(src='/static/imgs/mobile_activity/app_open_day_review/iconfont_inquiry.png')
                        .text 意向回购企业询价
            .section.section_1
                .small_title.small_title_2 质押物如何管理处置？
                .line_gray
                .section_box7
                    .box.box_1
                        img(src='/static/imgs/mobile_activity/app_open_day_review/Group-2.png')
                        .text 与行业内知名金融仓储企业<br>合作，建立仓库;
                    .box.box_2
                        img(src='/static/imgs/mobile_activity/app_open_day_review/Group-3.png')
                        .text 合作伙伴提供专业质押物<br>仓储监管服务;
                    .box.box_2
                        img(src='/static/imgs/mobile_activity/app_open_day_review/Group-4.png')
                        .text 合作伙伴提供<br>质押物回购服务;
        script(src='/static/src/mobile/lib/weixin/wx.js')
        script(src="/static/scripts/component/webview.js")
        script(src="/static/scripts/mobile_activity/app_open_day_review.js?v=2015031102")
        script.
            var ipad = navigator.userAgent.match(/(iPad).*OS\s([\d_]+)/) ? true : false,
                iphone = !ipad && navigator.userAgent.match(/(iPhone\sOS)\s([\d_]+)/) ? true : false,
                ios = ipad || iphone;
            if (ios) {
                document.getElementById('ios-show').style.display = 'block';
            }