-load formatters
-load mathfilters
doctype html
html
  head
    - with '网利宝' as title
    include global/g_head
    - endwith
    link(rel="stylesheet",href="/static/styles/pc_activity/bid.css?v=20151118")
  body(style="background:#f6b300")
    include global/g_nav
    .bid
      .banner
        .banner-title
          p 一马当先排头兵
      .bid-main
        p.bid-main-title  在活动期间内，单标最先三位完成投标的三位用户即可获得
        .main-img
          .main-img1
            p 1.6%加息券
          .main-img2
            p 1.2%加息券
          .main-img3
            p 0.8%加息券
        .bidmain-img1
          .img1
            a(href='/p2p/list/', target="_blank")
             span 立即抢投赢取
        .bidmain-img2
          .img2-ribbon
            p 压轴大戏终结者
          h1 在活动期间内，单标最后一位完成投标的用户即可获得
          .bid-platform
        .bidmain-img1
          .img1
            a(href='/p2p/list/', target="_blank")
             span 立即抢投赢取
        .bidmain-img2
          .img2-ribbon
            p 当仁不让争霸赛
          h1 单标累计投资金额排前三，且投资金额达到10万元的用户即可获得
          .bid-platform1
        .bidmain-img1
          .img1
            a(href='/p2p/list/', target="_blank")
             span 立即抢投赢取
          h2 备注：新老用户均可参与，一劵一标永久加息，所得加息券不限标期不限门槛。
            br
            a(href='javascript:void(0);').bidjiaxi 立即查看加息券规则

        .bid-guizhe.bid-yangshi
          h2 【加息券规则】
          ul
            li 1、加息券使用不限平台均可使用，自领取日起10天内有效，请在有效期内使用；
            li 2、购标时，选择加息券才会进行加息，没有选择则无法加息。请在购买时勾选相应的加息券，才能获得相应的加息；
            li 3、投资一个项目时，加息券不可叠加使用，也不可与红包叠加使用；
            li 4、使用加息券投资了一个项目，之后对同一项目再投资，无论投多少次，加息额度不变，也不用再次使用加息券；
            li 5、使用加息券得到的加息收益，按照还款计划与基本利息一起发放，非在起息日时发放。
        .bid-guizhe
          h2 【活动规则】
          ul
            li 1、活动时间2015年11月18日0:00-23日23:59；
            li 2、投标有奖活动不限标期均可投资赢取，所得加息券自满足获奖条件后自动发放，统一以站内信的形式通知；
            li 3、当仁不让称霸赛，如出现数位相同最高累计投资金额用户，按投标顺序，先投先得。
            li 4、在活动时间前上标或在活动时间后满标，不符合活动时间内的标期，部分奖项将不会触发发放，奖励发放以时间节点为准。
            li 5、加息券有效期自领取日起10天内有效，请在有效期内使用；
            li 6、网利宝对此活动享有最终解释权。
      .bid-footer
      include global/g_footer
      include include/tracking
      .xl-backtop(style="z-index:99")
          span.seven-com.seven-ten
          .backtop.sev-backtop 回到顶部
          img(src="/static/imgs/pc_activity/xunlei/seven/sev_weixin.png")#xl-weixin
          a(href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAxODg4N18yMDU1NjlfNDAwODU4ODA2Nl8yXw" target="_blank")
            img(src="/static/imgs/pc_activity/xunlei/seven/sev_qq.png",style="margin-top:10px")#xl-qq
          .erweima

    script.
      require.config({
        paths: {
          jquery: "lib/jquery.min"
        }
      });
      require(["jquery"], function ($) {
        function toggles(obj) {
          obj.slideToggle()
        }
        $(".bidjiaxi").on("click", function () {
          toggles($(".bid-yangshi"));
        })
        //固定回到顶部
        function backtop() {
          var k = document.body.clientWidth,
                  a = k - 100
          return a;
        }

        var left2 = backtop();
        //浏览器大小改变触发的事件
        window.onresize = function () {
          left2 = backtop();
        };
        //赋值
        $('.xl-backtop').css({'left': left2});
        //显示微信二维码
        $('#xl-weixin').on('mouseover', function () {
          $('.erweima').show();
        });
        $('#xl-weixin').on('mouseout', function () {
          $('.erweima').hide();
        })
        //返回顶部
        $(window).scroll(function () {
          if ($(document).scrollTop() > 0) {
            $(".xl-backtop").fadeIn();
          } else {
            $('.xl-backtop').stop().fadeOut();
          }
        });
        $('.backtop').on('click', function () {
          $('body,html').animate({scrollTop: 0}, 600);
          return false
        })
      })
