-load formatters
-load mathfilters
doctype html
html
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/broken_million.css?v=2015121601")
        - csrf_token
    body(style='background: #fff')
        include global/g_nav
        #body_wrap.clear
            .banner
                .text
                    p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在2015年即将步入尾声之际，网利宝迎来了用户规模突破百万的重要时刻，也迎来平台发展的一个重要里程碑。
                    p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;互联网金融从2007年发展至今，在政府引导、行业监管下慢慢进入了规范发展的轨道。从互联网金融火爆两会、《指导意见》出台到互联网金融被写入《十三五规划》，政府今年多次鼓励创新、创业给行业发展带来了多重利好。从政府屡次出台的政策、李克强总理在诸多会议的讲话来看，国家对互联网金融行业寄予了很高的期望。如今，中国经济正处于“转速变档”的关键时期，互联网金融作为新兴产业迅速崛起，不仅是促进实体经济发展、推动传统产业转型升级的新动力，更将是振兴中国经济的新引擎。
                    p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为2014年8月诞生的互联网金融平台，网利宝专注于企业信贷，通过给产业中下游优质的、有资金困难的中小企业融资，用心服务实体经济。目前，平台经过一年多的稳健运营已把近40亿资金输入进中国实体经济，累计帮助中国1000多个中小企业实现了正常运转，解决了百万用户的多元化投资需求。
                    p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;截至2015年12月13日，网利宝注册用户超过1,000,000人，这是网利宝发展史上的一个里程碑，这代表着网利宝已经收获了一百万份来自用户的信任。这每一份弥足珍贵的信任，都让我们在前进的道路走得更加笃定。感谢每一位普通或者不普通的你，一路走来，网利有你！
                .down_ico
            img.white_title(src="/static/imgs/pc_activity/broken_million/white_title.png")
            .white_main
                dl.one
                    dt 2014年2月
                    dd.first 获IDG资本千万美金A轮融资
                dl.two
                    dt 2014年6月
                    dd.first IOS APP移动客户端1.0版本发布
                dl.three
                    dt 2014年8月
                    dd.first 安卓APP移动客户端1.0版本发布
                dl.four
                    dt 2014年9月
                    dd.first P2P理财平台上线
                dl.big.five
                    dt 2014年10月
                    dd.first 注册用户突破1万人
                dl.big.six
                    dt 2015年3月
                    dd.first 网利宝CEO赵润龙上榜福布斯2015年
                    dd 中国30位30岁以下创业者
                dl.big.seven
                    dt 2015年5月
                    dd.first 获鸿利光电拟共计4000万美元B轮融资
                dl.big.eight
                    dt 2015年8月
                    dd.first 日交易额突破3200万，排名全国第三；
                    dd 同月，网利宝入围“北上广前十名P2P平台”，新版网站上线
                dl.big.nine
                    dt 2015年7月
                    dd.first 荣获"中国互联网行业百强企业"权威认证
                dl.big.ten
                    dt 2015年9月
                    dd.first 荣获“中国最具竞争力领军品牌”
                dl.big.eleven
                    dt.space 2015年10月
                    dd.first 与中信银行合作，设立千万级风险准备金；
                    dd 网利宝亮相“第十一届北京国际金融博览会”
        include global/g_footer
//script.
//    require(['/static/js/broken million.js?v=2015121402'])
                                                                    