-load formatters
-load mathfilters
doctype html
html
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/broken_million.css?v=2015121601")
        - csrf_token
    body(style='background: #fff')
        include global/g_nav
        #body_wrap.clear
            .banner
                .text
                    p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在2015年即将步入尾声之际，网利宝迎来了用户规模突破百万的重要时刻，也迎来平台发展的一个重要里程碑。
                    p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;互联网金融从2007年发展至今，在政府引导、行业监管下慢慢进入了规范发展的轨道。从互联网金融火爆两会、《指导意见》出台到互联网金融被写入《十三五规划》，政府今年多次鼓励创新、创业给行业发展带来了多重利好。从政府屡次出台的政策、李克强总理在诸多会议的讲话来看，国家对互联网金融行业寄予了很高的期望。如今，中国经济正处于“转速变档”的关键时期，互联网金融作为新兴产业迅速崛起，不仅是促进实体经济发展、推动传统产业转型升级的新动力，更将是振兴中国经济的新引擎。
                    p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为2014年8月诞生的互联网金融平台，网利宝专注于企业信贷，通过给产业中下游优质的、有资金困难的中小企业融资，用心服务实体经济。目前，平台经过一年多的稳健运营已把近40亿资金输入进中国实体经济，累计帮助中国1000多个中小企业实现了正常运转，解决了百万用户的多元化投资需求。
                    p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;截至2015年12月13日，网利宝注册用户超过1,000,000人，这是网利宝发展史上的一个里程碑，这代表着网利宝已经收获了一百万份来自用户的信任。这每一份弥足珍贵的信任，都让我们在前进的道路走得更加笃定。感谢每一位普通或者不普通的你，一路走来，网利有你！
                .down_ico
            img.white_title(src="/static/imgs/pc_activity/broken_million/white_title.png")
            .white_main
                dl.one
                    dt 2014年2月
                    dd.first 获IDG资本千万美金A轮融资
                dl.two
                    dt 2014年6月
                    dd.first IOS APP移动客户端1.0版本发布
                dl.three
                    dt 2014年8月
                    dd.first 安卓APP移动客户端1.0版本发布
                dl.four
                    dt 2014年9月
                    dd.first P2P理财平台上线
                dl.big.five
                    dt 2014年10月
                    dd.first 注册用户突破1万人
                dl.big.six
                    dt 2015年3月
                    dd.first 网利宝CEO赵润龙上榜福布斯2015年
                    dd 中国30位30岁以下创业者
                dl.big.seven
                    dt 2015年5月
                    dd.first 获鸿利光电拟共计4000万美元B轮融资
                dl.big.eight
                    dt 2015年8月
                    dd.first 日交易额突破3200万，排名全国第三；
                    dd 同月，网利宝入围“北上广前十名P2P平台”，新版网站上线
                dl.big.nine
                    dt 2015年7月
                    dd.first 荣获"中国互联网行业百强企业"权威认证
                dl.big.ten
                    dt 2015年9月
                    dd.first 荣获“中国最具竞争力领军品牌”
                dl.big.eleven
                    dt.space 2015年10月
                    dd.first 与中信银行合作，设立千万级风险准备金；
                    dd 网利宝亮相“第十一届北京国际金融博览会”
                dl.big.twelve
                    dt.last 2015年12月13日
            .black_wrap
                .black_main
                    .down_ico
                        .ico
                    .big_title
                    .title.title_one
                    .big_people_wrap
                        dl.people_wrap.man
                            dt 61.06%
                            dd.man_1
                            dd.man_1
                            dd.man_1
                            dd.man_1
                            dd.man_1
                            dd.man_1
                            dd.man_2
                            dd.man_2
                            dd.man_2
                            dd.man_2
                        dl.people_wrap.woman
                            dt 38.94%
                            dd.woman_1
                            dd.woman_1
                            dd.woman_1
                            dd.woman_1
                            dd.woman_2
                            dd.woman_2
                            dd.woman_2
                            dd.woman_2
                            dd.woman_2
                            dd.woman_2
                    .black_box.black_box_top
                        .box.box_one
                            .left_info
                            ul.right_info
                                li.one
                                    span.long
                                    span.num 2.76%
                                li.two
                                    span.long
                                    span.num 40.89%
                                li.three
                                    span.long
                                    span.num 25.81%
                                li.four
                                    span.long
                                    span.num 14.05%
                                li.five
                                    span.long
                                    span.num 10.03%
                                li.six
                                    span.long
                                    span.num 6.46%
                        .box.box_two
                            .left_info
                            ul.right_info
                                li.one
                                    span.long
                                    span.num 10.45%
                                li.two
                                    span.long
                                    span.num 71.64%
                                li.three
                                    span.long
                                    span.num 14.93%
                                li.four
                                    span.long
                                    span.num 2.98%
                        .box.box_three
                            .box_three_main
                                .left_info
                                ul.right_info
                                    li.one
                                        span.long
                                        span.num 33.33%
                                    li.two
                                        span.long
                                        span.num 15.95%
                                    li.three
                                        span.long
                                        span.num 14.49%
                                    li.four
                                        span.long
                                        span.num 10.15%
                                    li.five
                                        span.long
                                        span.num 2.89%
                                    li.six
                                        span.long
                                        span.num 1.45%
                                    li.seven
                                        span.long
                                        span.num 4.35%
                                    li.eight
                                        span.long
                                        span.num 17.39%
                    .box_wrap
                        .box_left
                            .box.box_four
                              .title
                              .img
                            .box.box_five
                              .title
                              .img
                            .box.box_six
                              .title
                              .img
                        .box_right
                            .box.box_seven
                                .title
                                .left_info
                                ul.right_info
                                    li.one
                                        span.long
                                        span.num 20.64%
                                    li.two
                                        span.long
                                        span.num 15.77%
                                    li.three
                                        span.long
                                        span.num 43.75%
                                    li.four
                                        span.long
                                        span.num 19.84%
                            .box.box_eight
                                .title
                                dl
                                    dt.one
                                    dd 15:00-17:00
                                dl
                                    dt.two
                                    dd 20:00-21:00
                            .box.box_nine
                                .title
                                .best_people.best_people_one
                                    .img
                                    ul
                                        li 最土豪：
                                        li 辽宁省  张先生
                                        li 投资额：29368700元
                                .best_people.best_people_two
                                    .img
                                    ul
                                        li 最勤劳：
                                        li 上海市 汪先生  
                                        li 投资次数：2388次
                                .best_people.best_people_three
                                    .img
                                    ul
                                        li 最年轻：
                                        li 北京市  肖小姐
                                        li 年龄：刚满18岁
                                .best_people.best_people_four
                                    .img
                                    ul
                                        li 人脉最广：
                                        li 江苏省  蒋女士
                                        li 邀请好友：252人
            .bottom_text_main
                .down_bg
                    .down_ico
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;股市波动太大，储蓄利率太低，银行理财用户体验差，互联网金融已经被越来越多的人垂青，成为收益稳健，风险较低的新选择。
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;调查结果显示，网利宝用户覆盖的年龄层非常广泛，大家最看重的是收益和网站口碑。所有产品中，3个月以上期限的标的最受欢迎，而且越来越多的人喜欢通过App进行投资。大多数用户会将投资获得的收益及本金继续放在网利宝进行复投。
                p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;可以看出，投资网利宝已经变成一种习惯融入在了用户的生活中，它是一种生活方式，也是一种生活态度。在消费水平日益飞涨的今天，选择一个安全可靠的理财平台已成为保证品质生活的必要选择。
        include global/g_footer
                                                                    