-load formatters
-load mathfilters
doctype html
html
  head
    - with '网利宝' as title
    include include/common_head
    - endwith
    link(rel="stylesheet",href="/static/styles/pc_activity/celebrity.css?v=20151123")
  body(style="background:#fff")
    include global/g_nav
    #bg
    #wrap_box
      .banner
        .img
          .font
            p 柯迪斯音乐学院才子、钢琴王子“张昊辰”
            p 携手网利宝资产端运营副总裁杨军、战略合作总监季楠带用户听音乐、聊投资、赏收藏，
            p 一起畅聊“财艺”人生。
      .celebrity-main
        .arrow
        .main-top1
          h3
            b ·
            |重磅嘉宾
           p.ma Important guests
          .main-top2
            dl.main
              dt
                .imgs
                  p.tit 张昊辰：青年钢琴家
              dd
                p.mai 作为一名来自中国的、擅长演奏西方古典音乐的钢琴家，张昊辰11岁就师从中国著名钢琴教育家但昭义，15岁时考入世界著名的柯迪斯音乐学院，在全球115名考生中以最好成绩成为当年唯一被录取的中国选手，并被美国著名的钢琴大师、钢琴教育家、柯迪斯院长格拉夫曼（曾是霍洛维茨的门生）收为弟子。

            dl.main.main0
              dt
                .imgs.imgs1
                  p.tit 杨军：网利宝资产端运营副总裁
              dd
                p.mai 具有深厚的金融从业经验，先后在银行、保险、小贷、融资担保领域工作多年，目前全面负责网利宝的风控工作，尤其擅长管理风险，挖掘、管理优质资产，在汽车、房贷、物流货运等细分领域均有着较深的行业积累、资源积累。
            dl.main.main0
              dt
                .imgs.imgs2
                  p.tit 季楠：网利宝战略合作总监
              dd
                p.mai 香港中文大学本科毕业，随后赴美读研，毕业后顺利留美，先后就职于兴业银行以及全球最大的20家对冲基金之一“Fortress Investment Group”，从事金融产品设计工作。
          .arrow1
          .main-top3
            .top3-left
              h4
                b ·
                |上半场活动
              p.maa First half activity
              p.mab 金融主题
              .line
            .top3-right
              dl.zhanshi
                dt
                  img(src='/static/imgs/pc_activity/celebrity/celebrity-main1.png')
                dd 杨军结合“藏石斋项目”介绍了平台的风控模式，从平台背景、运营成本、资金流动性、项目合理性等方面指导用户辨别某个平台或项目是否安全，又从个人承受风险的能力方面指导用户如何正确投资理财。
                dd 季楠介绍了平台的发展情况，结合他在华尔街的金融从业经验，为用户进行家庭理财、优化资产配置提出了合理建议。
                dd 用户就平台风控模式、平台发展方向积极提问，就“如何根据个人风险承受能力进行理财”的问题向季楠和杨军请
          .arrow3
          .main-top4
            .top3-left
              h4
                b ·
                |中间休息
              p.maa interludes
              p.mab 品尝甜点
              .line
            .top3-right
              dl.zhanshi
                dt
                  img(src='/static/imgs/pc_activity/celebrity/celebrity-main2.png')
          .arrow3
          .main-top3.main-top31
            .top3-left
              h4
                b ·
                |下半场活动
              p.maa Activity in the second half
              p.mab 艺术主题
              .line
            .top3-right
              dl.zhanshi
                dt
                  img(src='/static/imgs/pc_activity/celebrity/celebrity-main3.png')
                dd 活动下半场，张昊辰与用户进行面对面交流，不仅回忆了自己20多年学琴的难忘生涯，还认真讲述了他在每个阶段的学习状态、心路历程，结合孩子教育问题与家长进行了深入地探讨。
          .arrow3
          .main-top4
            .top3-left
              h4
                b ·
                |现场演奏
              p.maa Field performance
            .top3-right
              dl.zhanshi.zhanshi1
                dt
                  img(src='/static/imgs/pc_activity/celebrity/celebrity-main.jpg')
                dd 张昊辰现场弹奏，让大家一饱耳福
          .arrow3
          .main-top3.main-top31
            .top3-left
              h4
                b ·
                |参观与讲解
              p.maa Visit and explanation
              p.mab 万般艺博馆
              .line
            .top3-right
              dl.zhanshi
                dt
                  img(src='/static/imgs/pc_activity/celebrity/celebrity-main5.png')
                dd 活动结束前，用户在万般艺博馆讲解员的带领下，一同参观了具有几百年历史的欧洲高端艺术品，让用户充分感受到了西方古典文化的悠久与神秘。
          .arrow3
          .main-top4.main-top41
            .top3-left
              h4
                b ·
                |演奏会
              p.maa Concert
            .top3-right
              dl.zhanshi.zhanshi1.zhanshi2
                dt
                  img(src='/static/imgs/pc_activity/celebrity/celebrity-main1.jpg')
                 dd 12月6日，张昊辰钢琴演奏会在北京音乐厅完美落下帷幕，精彩表演赢得观众掌声连连，
                 dd 张昊辰三次返场，向观众致谢
              dl.zhanshi.zhanshi1.zhanshi2
                dt
                  img(src='/static/imgs/pc_activity/celebrity/celebrity-main2.jpg')
                 dd 演奏会结束之后，张昊辰与粉丝亲切合影
              dl.zhanshi
                dt
                  img(src='/static/imgs/pc_activity/celebrity/celebrity-main4.png')

    include global/g_footer
