-load formatters
-load mathfilters
doctype html
html.no-js(lang="en-gb")
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/center_film_ticket.css?v=2016050401")
        - csrf_token
    body(style="background:#222")
        include global/g_nav
        .body_wrap.clear
            .banner
                .banner_main
                    .form_wrap
            .section.section_1
                .box_wrap
                    .box
                        img(src='/static/imgs/pc_activity/center_film_ticket/img_1.png')
                        .box_text 1.轻松注册<br>注册网利宝并完成实名认证
                    .hom
                    .box
                        img(src='/static/imgs/pc_activity/center_film_ticket/img_2.png')
                        .box_text 2.充值到账<br>充值资金到网利宝账号
                    .hom
                    .box
                        img(src='/static/imgs/pc_activity/center_film_ticket/img_3.png')
                        .box_text 3.首次投资<br>首次投资金额≥3000元
                    .hom
                    .box
                        img(src='/static/imgs/pc_activity/center_film_ticket/img_4.png')
                        .box_text 4.领取2张通兑券(仅限200张)<br>投资成功后网利宝站内信发送
                .clear
                .section_button 立即领取
            .section.section_2
                img.title_big(src='/static/imgs/pc_activity/center_film_ticket/section_title_1.png')
                .section_2_box

        include global/g_footer
script.
    require(['/static/js/center_film_ticket.js?v=2016050401'])

                                                                    