-load formatters
-load mathfilters
doctype html
html
  head
    - with '网利宝' as title
    include global/g_head
    - endwith
    link(rel="stylesheet",href="/static/styles/pc_activity/damai.css?v=20151123")
  body(style="background:#1f1f1d")
    include global/g_nav
    .damai-wrap
      .damaifu
      .damai-line
      .damai-banner
      .damai-main
        p 网利宝新用户注册获赠20元现金红包，单笔首次投资1000元送价值280元门票一张
        p 投资满额用户请留意网利宝站内信以及短信，每个注册号码仅有一次参与资格
        h2.maitop 门票限800张，送完为止！
        h2 来现场，更有乐队签名CD，签名t-shirt相送！
        h1 网利宝，好收益，开启多彩生活！
        a(href='/accounts/register/?promo_token=dmw', target="_blank").damai-button 立即参与抢门票
      .damai-main1
        .main1-song
          - csrf_token
          .main1-song1
            dl
              dt.song1
              dd 简迷离乐队
            form(name="myForm").xuan1
              .xuan-song1
                input(name="point", type="radio", value="简迷离乐队-怪兽不跳舞").frm1
                label(name="cba").labelone
                i.one 《怪兽不跳舞》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
              .xuan-song1
                input(name="point", type="radio", value="简迷离乐队-太阳系小孩").frm1#nba
                label(name="nba" for="nba").labelone
                i.one 《太阳系小孩》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
              .xuan-song1
                input(name="point", type="radio", value="简迷离乐队-达芬奇密码").frm1#aba
                label(name="aba" for="aba").labelone
                i.one 《达芬奇密码》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
              .xuan-song1
                input(name="point", type="radio", value="简迷离乐队-私人生活").frm1#sba
                label(name="sba" for="sba").labelone
                i.one 《私人生活》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
              .xuan-song1
                input(name="point", type="radio", value="简迷离乐队-甜蜜蜜").frm1#hba
                label(name="hba" for="hba").labelone
                i.one 《甜蜜蜜》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
          .main1-song2
            dl
              dt.song1.song2
              dd 反光镜乐队
            form(name="myForm1").xuan1
              .xuan-song1
                input(name="point1", type="radio", value="反光镜乐队-You Are My Sunshine").frm2
                label(name="cba1").labelone1
                i.one  《You Are My Sunshine》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
              .xuan-song1
                input(name="point1", type="radio", value="反光镜乐队-晚安北京").frm2
                label(name="nba1").labelone1
                i.one 《晚安北京》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
              .xuan-song1
                input(name="point1", type="radio", value="反光镜乐队-我们的歌").frm2
                label(name="aba1").labelone1
                i.one 《我们的歌》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
              .xuan-song1
                input(name="point1", type="radio", value="反光镜乐队-新长征路上的摇滚").frm2
                label(name="sba1").labelone1
                i.one 《新长征路上的摇滚》
                .xuan-tiao1
                  .tiao
                span 00
                b 票

              .xuan-song1
                input(name="point1", type="radio", value="反光镜乐队-冲").frm2
                label(name="hba1").labelone1
                i.one 《冲》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
          .main1-song3
            dl
              dt.song1.song3
              dd 小老虎乐队
            form(name="myForm2" style='background: none').xuan1
              .xuan-song1
                input(name="point2", type="radio", value="小老虎乐队-说唱艺术").frm3
                label(name="cba2").labelone2
                i.one 《说唱艺术》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
              .xuan-song1
                input(name="point2", type="radio", value="小老虎乐队-为你出生入死九十九次").frm3
                label(name="nba2").labelone2
                i.one 《为你出生入死九十九次》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
              .xuan-song1
                input(name="point2", type="radio", value="小老虎乐队-逍遥客").frm3
                label(name="aba2").labelone2
                i.one 《逍遥客》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
              .xuan-song1
                input(name="point2", type="radio", value="小老虎乐队-尿在红尘里").frm3
                label(name="sba2").labelone2
                i.one 《尿在红尘里》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
              .xuan-song1
                input(name="point2", type="radio", value="小老虎乐队-北京咳嗽").frm3
                label(name="hba2").labelone2
                i.one 《北京咳嗽》
                .xuan-tiao1
                  .tiao
                span 00
                b 票
          .tishi
          .ww.toupiao 投票
          h4.toop 每人有一次投票机会，每支乐队限投一首歌曲
          h4 投票截止日期：2016年1月5日
      .damai-main2
        .fot
          ul
            li 1. 活动日期：待定；
            li 2. 演出时间：2016年1月16日 19:30（请于19：00前入场）
            li 3. 活动地点：愚公移山（北京市东城区张自忠路3-2号段祺瑞执政府旧址西院）
            li 4. 新用户注册送20元直抵红包，投资满1000元可抵扣使用，单笔首次投资满1000元加送价值280元门票一张；
            li 5. 新用户仅有一次参与活动机会，多次投资不可重复参与领票；
            li 6. 用户请留意网利宝站内信以及短信通知，打开站内信链接保存二维码，活动当天凭二维码扫码入场；
            li 7. 本活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
            li 8. 此活动仅限当前页面参与有效，最终解释权在法律允许范围内归网利宝所有。
          p.damai-lianhe
           label.label1 主办方：
           label.label2
           label.label3 联合主办方：
           label.label4
          h5
           span
           |关于网利宝
          p 网利宝已经获得IDG资本、百亿市值A 股上市公司共超4000万美金的战略投资，并荣获“2014最佳创新典范奖”、“中国十佳互联网金融机构”“中国互联网金融行业百强企业”等多项行业大奖，成为了中国互联网金融行业成长最快的领跑者。
    include global/g_footer
    include include/tracking
  script.
      var v = new Date().getTime()
      require(['/static/js/damai.js?v='+v])
