-load formatters
-load mathfilters
doctype html
html
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        meta(name="keywords", content="网利宝")
        meta(name="description", content="网利宝是针对中国中产阶级人群的一站式网络理财服务平台，网利宝把国外传统的“私人银行”模式引入中国，我们通过独有的用户投资专业评估体系和个人理财数据分析算法，利用PC和移动互联网等方式，为客户提供个性化投资产品推荐，降低理财门槛，提高投资者的理财收益水平。")
        link(rel="stylesheet",href="/static/stylesheets/day.css")
    body.white-background
        .top
          .row
            .day-logo.span6
            .day-nav.span4
              ul
                li
                  a(href="https://www.wanglibao.com/", target="_blank") 网利宝官网
                li
                  a#xiaz 下载APP
                if user.is_authenticated
                  li
                    a(href="/accounts/home") {{user | display_name}} 的账户
                  li
                    a.logout(href="/accounts/logout?next={{ request.path }}") 退出
                else
                  li
                    a(href="/accounts/login/?next=/", target="_blank") 登录
                  li
                    a(href="/accounts/register/?next=/", target="_blank") 注册
        .day-banner
        .day-time
          .day-ing
            h1.top-time 3.24-4.30
            p.top-p 具体活动时间为——3月24日00:00:00至4月30日23:59:59，数据零点清零，用户可每天重复参赛。
            .day-head
              h1(style="margin-right:188px").h1-hight 1、活动前准备
              h1(style="margin-right:209px") 2、活动开始中
              h1(style="margin-right:0") 3、活动结束
            ul.ing
              li.ing-hight
                b.day-com.one
              li
                b.day-com.one
              li
                b.day-com.one
                span.day-com.horologe

        .day-wrap
          .day-big
            h1.rule
              b.day-com.two
              |历史榜单
              b.day-com.three
            .day-box1(style="padding:0;height:500px")
              span.day-b-user.day-com.five 上榜用户
              .day-left
                h1.left-h1.day-com.six#left-h1 －－3月17日用户榜单－－
                .left-ul
                  span.left-bj
                  ul.dan#dan
                    li.day-user-hight
                      span 榜单
                      span 用户
                      span 投标金额
                    //li
                    //  span.day-user-hight2 1
                    //  span 139XXXX2456
                    //  span 25,000元
                  ul.dan.shuang#shuang
                    li.day-user-hight
                      span 榜单
                      span 用户
                      span 投标金额
                    //li
                    //  span.day-user-hight2 2
                    //  span 139XXXX2456
                    //  span 25,000元
              .day-right
                h1.left-h1.day-com.seven －－点击历史查看相应榜单－－
                .day-tap
                  .tap-top
                    span.mon 3 月
                    span.day-com.left-btn.day-btn
                    span.day-com.right-btn.day-btn
                  .tap-view
                    .day-long
                       .day-yue.day-san
                          ul
                            li.tab-hight
                              span SUN
                              span MON
                              span TUE
                              span WED
                              span THU
                              span FRI
                              span SAT
                            li
                              span 1
                              span 2
                              span 3
                              span 4
                              span 5
                              span 6
                              span 7
                            li
                              span 8
                              span 9
                              span 10
                              span 11
                              span 12
                              span 13
                              span 14
                            li
                              span 15
                              span 16
                              span 17
                              span 18
                              span 19
                              span 20
                              span 21
                            li
                              span 22
                              span 23
                              span 24
                              span 25
                              span 26
                              span 27
                              span 28
                            li
                              span 29
                              span 30
                              span 31
                       .day-yue.day-si
                          ul
                            li.tab-hight
                              span SUN
                              span MON
                              span TUE
                              span WED
                              span THU
                              span FRI
                              span SAT
                            li
                              span
                              span
                              span
                              span 1
                              span 2
                              span 3
                              span 4
                            li
                              span 5
                              span 6
                              span 7
                              span 8
                              span 9
                              span 10
                              span 11
                            li
                              span 12
                              span 13
                              span 14
                              span 15
                              span 16
                              span 17
                              span 18
                            li
                              span 19
                              span 20
                              span 21
                              span 22
                              span 23
                              span 24
                              span 25
                            li
                              span 26
                              span 27
                              span 28
                              span 29
                              span 30



            h1.rule
              b.day-com.two
              |活动规则
              b.day-com.three
            .day-box1(style="margin-bottom:40px")
              ul.day-xijie
                li
                  span 1
                  |用户每天投标累计金额
                  b.red ≥6
                  |万元，将获得网站投资奖励；
                li
                  span 2
                  |每天投标累计金额
                  b.red ≥6
                  |万元的用户未排入前十名将各获得
                  b.red 60元
                  |红包；
                li
                  span 3
                  |若出现两名或两名以上客户投标金额相同时，则按当日投标时间先后排位；
            //h1.day-history
            //  a 历史榜单
          .day-footer
            .footer-img
                #login-modal(style="display:none")
                  .padding-s
                    ul.login-modal-tab
                     li#tab-login.active 用户登录
                     li#tab-register 用户注册

                  include include/login_form
                  include include/register_form


    script.
      var xz=document.getElementById("xiaz");
       var v = new Date().getTime()
        xz.onclick=function(v) {
          xz.className='hight';
          var android, iphone;
          console.log(navigator.userAgent);
          iphone = /iphone/i.test(navigator.userAgent.toLowerCase());
          android = /android/i.test(navigator.userAgent.toLowerCase());
          if (iphone) {
            window.location.href = "https://itunes.apple.com/cn/app/id881326898";
            return true;
          }else if (android) {
            window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.wljr.wanglibao";
            return true;
          } else {
            window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.wljr.wanglibao";
            return true;
          }
      };
    script.
          require(['/static/js/hover.js','/static/js/login_modal.js?v='+v,'/static/js/day.js'])



