-load formatters
-load mathfilters

doctype html
html
  head
    link(rel="stylesheet",href="/static/stylesheets/activity.css")
    - with '网利宝' as title
    include include/common_head
    - endwith

  body(style="background:#fff")
    .full-container
      .topbar
        .container.row
          .user-div
            i.icon-phone.font-l &nbsp;
            span 客服热线：
            span 4008-588-066

            span.margin-left-m 在线客服：
            a.topbar-anchor.icon.icon-qq#top-qq(href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAxODg4N18yMDU1NjlfNDAwODU4ODA2Nl8yXw", data-role="hover", target="_blank")

            span.margin-left-m 关注我们：
            a.topbar-anchor.icon.icon-weibo(href="http://weibo.com/u/5000682691", target="_blank", data-role="hover", data-target="#qrweibo-top")
            a.topbar-anchor.icon.icon-weixin(href="javascript:void(0)", data-role="hover", data-target="#qrcode-top")
            a#qrweibo-top.weibo-qr-code(href="http://weibo.com/u/5000682691", target="_blank", style="display:none", data-name="hoverbox")
              img(src="/static/images/weibo-nqr.png")
            img#qrcode-top.icon.weixin-qr-code(src="/static/images/weixin-nqr.png", style="display:none", data-name="hoverbox")
            span.mobile-app-top
              span.icon.icon-mobile-app
              span 手机网利宝
              .mobile-app-top-prompt
                div(style="height:30px; top:-20px; position:relative;")
                a.mobile-app-apple(href="https://itunes.apple.com/cn/app/wang-li-bao/id881326898?mt=8", target="_blank", title="iPhone版")
                a.mobile-app-android(href="https://www.wanglibao.com/static/wanglibao.apk", title="Android版")

    .full-container-white.fudong
      .container-navigation
        .row
          .span2
            a(href='/')
              .logo
          .span10
            .nav-items.xiao-nav
              ul
                mixin nav-item(name, link, new_class, free)
                  if activeItem == name
                    li.nav-item.active
                      a.nav-item-anchor(href=link, class=new_class)= name
                      if free == 'yes'
                        span.icon.icon-free 免费
                  else
                    li.nav-item
                      a.nav-item-anchor(href=link, class=new_class)= name
                      if free == 'yes'
                        span.icon.icon-free 免费

                +nav-item('首页', '/', '', '')
                +nav-item('理财专区', '/p2p/list/', '', '')
                +nav-item('基金', '/fund/products', '', '')

                +nav-item('安全保障', '/security', 'left-line', '')
                +nav-item('帮助中心', '/help', '', '')
    .wrap(style="height:494px;background:url(/static/images/full-img/day-zc-ban2.jpg) center center")
      //img(src="/static/images/xunlei-denglu/xun-banner5.jpg").te1
      .gold2
         //img(src="/static/images/xunlei-denglu/xun-wang.png").xun-wang
         .denelu-form
            h1.biaoti 轻松拿50元现金红包
            //.align-center
            //  a.font-s.blue(href="http://act.vip.xunlei.com/vip/2015/p2pcash/#wlb") 【立即领取】
            form#register-modal-form.login-form.dale(method='post', action='/accounts/register/ajax/')
              - csrf_token
              .form-row
                .form-control-group
                  .span12
                    input#reg_identifier.com-tu.tu1(type="text", name="identifier", placeholder="请输入手机号")
                .form-row-error
              .form-row.voice
                .span12-omega.hidden.show
                  没有收到验证码？请尝试<a href="/api/ytx/send_voice_code/" class="voice-validate">语音验证</a>
                .form-control-group
                  .span6
                     input#id_validate_code.com-tu.tu2(type="text", name="validate_code", placeholder="请输入验证码", autocomplete='off', title="请输入验证码")
                  .span6-omega
                     button#button-get-validate-code-modal.button-orange.button-large.huoqu-ma(type='button',style="top:-2px") 获取验证码
                .form-row-error

              .form-row
                input#reg_password.full-width.com-tu.tu3(type="password", name="password", placeholder="请输入密码", autocomplete="off", maxlength="20")
                .password-strength-container
                  span.password-strength-1
                  span.password-strength-2
                  span.password-strength-3
                .form-row-error
              .form-row
                input#reg_password2.com-tu.tu3(type="password", name="password2", placeholder="请再次输入密码", autocomplete='off', title="请确认密码", maxlength="20")
                .form-row-error
              .form-row.form-bottom-bar
                button#register_submit.button-account.span10.xun-zhuce(type='submit') 注 册
                .agreement(style="padding-top:5px")
                  label(for="agreement")
                    input(type="checkbox", name="agreement", checked="checked", id="agreement", data-value="agree")
                  | 我同意<a href="/agreement/" target="_blank">《网利宝注册协议》</a>
                  .form-row-error
              .space-vertical-s

            p.xun-p 已有账号,
              a(href="/accounts/login/") 立即登录
    .san(style="background:#05d6b4")
      .container.high-bigger.high-bigger2
        .day-zc-time
          p 具体活动时间为——3月30日00:00:00至 4月30日23:59:59，数据零点清零，用户可每天重复参赛。
        .row.gold-dl-row
          .span4
            dl
             dt.com.com-trust
             dd.te-zi
               h3 信赖
               p IDG资本投资
               p 第三方100%本息保障
          .span4
            dl
             dt.com.com-security
             dd.te-zi
               h3 安全
               p 招商银行全程监管
               p 账户资金安全由平安保险承保
          .span4
            dl
             dt.com.com-authority
             dd.te-zi
               h3 权威
               p 洛克菲勒家族
               p 全方位战略合作

    .gold(style='margin-top:20px;background:#fff')
      a(href="/#p2p")
      .container-title
          h2.black 高收益
      .content-desc
        .row
          .span12
             img(src="/static/images/xunlei-denglu/xunlei-hight-gaoshouyi.png")
      .space-vertical-l
      .container-title
          h2.black 多种选择
          .space-vertical-s
          .row.xun-select
            .span4
              h3
               img(src="/static/images/xunlei-denglu/xunlei-gaoshouyi.jpg")
              div.shouyi-tu(style="height:316px")
                img(src="/static/images/xunlei-denglu/xunlei-gaoshouyi-tu.png").wai.zheng
                p
                  span
                    img(src="/static/images/xunlei-denglu/xunlei-anquan.png").tu-zi
                  |100%本息保障
            .span4
              h3
               img(src="/static/images/xunlei-denglu/xunlei-zhouqiduan.jpg")
              div.shouyi-tu
                img(src="/static/images/xunlei-denglu/zhou1.png").zheng
                p
                  span
                    img(src="/static/images/xunlei-denglu/xunlei-anquan.png").tu-zi
                  |100%本息保障
            .span4
              h3
               img(src="/static/images/xunlei-denglu/xunlei=-huiben.jpg")
              div.shouyi-tu
                img(src="/static/images/xunlei-denglu/hui-tu.png")
                p
                  span
                    img(src="/static/images/xunlei-denglu/xunlei-anquan.png").tu-zi
                  |100%本息保障
            .span4
              h3
               img(src="/static/images/xunlei-denglu/xunlei-dimenkan.jpg")
              div.shouyi-tu
                img(src="/static/images/xunlei-denglu/men-tu.png")
                p
                  span
                    img(src="/static/images/xunlei-denglu/xunlei-anquan.png").tu-zi
                  |100%本息保障
      .space-vertical-l
      .space-vertical-s
    .dingwei(style="background:url(/static/images/full-img/day-zc-bj.jpg) center center")
      .container-title
          .xl-zc-tit
            .xl-zc-le
              h2.black 零点数据清零，用户可每天重复参赛
              p 用户每天的投标累计金额
                span.xl-yell ≥6万元
                |，将获得网站投资奖励。
            .xl-zc-r
              p
                span.xl-yell 注：
                |若出现两名或两名以上客户投标金额相同，则按当日投标时间先后排位；
                br
                |每天投标累计金额
                span.xl-yell ≥6万元
                |的用户未排入前十名将获得
                span.xl-yell 60元
                |现金。
          .space-vertical-s
          .row.xun-select
            .span7
              img(src="/static/images/xunlei-denglu/xl-zc-bang2.jpg")
            .span4
              ul.xl-zc-ul
                li(style="border-bottom:none")
                  span.xl-zc-hight(style="border-right:1px solid #fff") 每日买满额度（元）
                  span.xl-zc-hight 送现金额度（元）
                li
                  span 50000-59999
                  span 50
                li
                  span 40000-49999
                  span 40
                li
                  span 30000-39999
                  span 30
                li
                  span 20000-29999
                  span 20
                li
                  span 10000-19999
                  span 10
    .space-vertical-l
    .space-vertical-s
    .gold(style="background:#fff")
      .gold-footer(style="background:#fff;padding-left:0")
        .gold-declare(style="border-bottom:none;padding-left:0")
          dl.beijing
            dt.hei 活动规则
            dd 1、手机号为网利宝唯一账户，每个身份证号只可绑定一个网利宝账户；
            dd 2、现金奖励在三个工作日内以红包形式发出，红包类型为现金红包；
            dd 3、获奖红包以站内信形式通知，完成一次投资回款后即可取现；
            dd 4、红包有效期2015年4月1日-2015年6月30日 ；
            dd 5、直抵50红包投资金额500元方可使用；红包使用最多直抵50元；
            dd &nbsp&nbsp&nbsp&nbsp&nbsp例：投资500元立减50元，实际支付450元；
            dd 6、新手红包均只能使用一次，使用后是否有余额红包即失效；
            dd 7、本活动不收取任何费用，谨防上当受骗；
            dd 8、刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予兑现；
            dd 9、此次活动最终解释权归网利宝官方所有。

      .bai
        .aiqiyi-process
          .content-pptv
            .process-text 投资流程
            .process-list
              .circle-free.circle-float.aiqiyi-float
                .close.aiqiyi-close
                .last
                .next
                img(src="/static/images/pptv/free.jpg")
              .triangle-start
                .start-cont
              .circle
                .circle-body.free.aiqiyi-body
                .circle-txt.day-zc-txt 免费注册账号
              .triangle-center
                .center-cont
              .circle
                .circle-body.atte.aiqiyi-body
                .circle-txt.day-zc-txt 实名认证
              .triangle-center
                .center-cont
              .circle
                .circle-body.recharge.aiqiyi-body
                .circle-txt.day-zc-txt 充值
              .triangle-center
                .center-cont
              .circle
                .circle-body.tender.aiqiyi-body
                .circle-txt.day-zc-txt 投标
              .triangle-center
                .center-cont
              .circle
                .circle-body.collec.aiqiyi-body
                .circle-txt.day-zc-txt 获得收益和奖励
              .triangle-end
                .end-cont

    .warp-footer(style='background:#05d6b4;margin-top:40px')
      include include/activityFooter
      include include/tracking

      script.
          var v = new Date().getTime()
          require(['/static/js/hover.js','/static/js/aiqiyi_redpack.js?v='+v])


