-load formatters
-load mathfilters
doctype html
html
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/double_eggs.css?v=2015122101")
        - csrf_token
    body(style="background:#b10012")
        include global/g_nav
        #body_wrap.clear
            .banner_1
            .body_wrap
                .banner_2
                .main_box.main_box_1
                    .main_top 活动期间单笔投资送翻倍理财金！<br>我出翻倍本金你得收益，所得可直接提现！
                    .main
                        .red_wrap
                            .red_box
                                .title 1. 2000≤活动期间单笔投资＜5000
                                .red_text
                                    dl
                                        dt 4000
                                            span 元
                                        dd 体验金
                            .red_box
                                .title 2. 5000≤活动期间单笔投资＜8000
                                .red_text
                                    dl
                                        dt 10000
                                            span 元
                                        dd 体验金
                            .red_box
                                .title 3. 8000≤活动期间单笔投资＜10000
                                .red_text
                                    dl
                                        dt 16000
                                            span 元
                                        dd 体验金
                        .button.recharge_button 立即投资领取
                        .remarks 备注：所有体验金10%年化、1天期限计算发放收益到账户余额。
                            span.see_rule_button 点击查看理财金规则>>
                        .rule_wrap
                            .rule_title 【理财金领取和使用规则】
                            dl.rule_text
                                dt 1.
                                dd 活动期间内单笔投资满额即可获得定额翻倍理财金，理财金自动发放到相应账户并站内信通知；
                            dl.rule_text
                                dt 2.
                                dd 理财金只能在相关活动页投体验标使用，投标时不能使用其他理财券，理财金自发放日起15日内有效；
                            dl.rule_text
                                dt 3.
                                dd 理财金需用户手动投资，投资时系统将自动按理财金总额一次性投标完成，
                                    a(href='/activity/experience/gold/') 立即进入理财金投标页面；
                            dl.rule_text
                                dt 4.
                                dd 理财金投资完毕后，当日开始计算利息，到期日16点回款。还款本金系统自动回收，利息收益系统自动发放到用户账户；
                            dl.rule_text
                                dt 5.
                                dd 理财金利息收益和正常账户余额一样，可正常投资和提现。
                    .main_footer
                .main_box.main_box_2
                    .main_title_img
                    .main_top 单笔投资满额，即送高额加息券，投资满额加息券翻倍！
                    .main
                        .red_wrap
                            .red_box
                                .title 1万元≤单笔投资＜ 3万元
                                .red_text
                                    dl
                                        dt 0.8%
                            .red_box
                                .title 3万元≤单笔投资＜6万元
                                .red_text
                                    dl
                                        dt 1.2%
                            .red_box
                                .title 6万元≤单笔投资＜10万元
                                .red_text
                                    dl
                                        dt 1.6%
                        .button.investment_button 立即投资领取
                        .remarks 备注：加息券不限标期均可使用，多投多得，上不封顶！
                            span.see_rule_button 点击查看加息券规则>>
                        .rule_wrap
                            .rule_title 【加息券规则】
                            dl.rule_text
                                dt 1.
                                dd 加息券有效期：2015年12月22日-2015年1月3日23:59；
                            dl.rule_text
                                dt 2.
                                dd 加息券在电脑端和手机端均可使用，一券一标永久加息。投标时选择加息券才会进行加息，没有选择则无法加息。请在购买时勾选相应的加息券，才能获得相应的加息；
                            dl.rule_text
                                dt 3.
                                dd 投资一个项目时，加息券不可叠加使用，也不可与红包叠加使用；
                            dl.rule_text
                                dt 4.
                                dd 使用加息券投资了一个项目，之后对同一项目再投资，无论投多少次，加息额度不变，也不用再次使用加息券；
                            dl.rule_text
                                dt 5.
                                dd 使用加息券得到的加息收益，按照还款计划与基本利息一起发放，非在起息日时发放。
                    .main_footer
                .main_box.main_box_3
                    .main_title_img
                    .main_top 充8500直送8500元组合红包！<br>多充多得多投多赚，年度仅此一次！组合如下：
                    .main
                        .red_wrap
                            .red_box
                                .title 1. 单笔投满10万元可直抵现金使用
                                .red_text
                                    dl
                                        dt 800
                                            span 元
                                        dd 红包
                            .red_box
                                .title 2. 单笔投满30万元可直抵现金使用
                                .red_text
                                    dl
                                        dt 2700
                                            span 元
                                        dd 红包
                            .red_box
                                .title 3. 单笔投满50万元可直抵现金使用
                                .red_text
                                    dl
                                        dt 5000
                                            span 元
                                        dd 红包
                        .button.recharge_button 立即充值领取
                        .remarks 备注：多充多送上不封顶、翻倍充翻倍送！
                            span.see_rule_button 立即查看红包规则>>
                        .rule_wrap
                            .rule_title 【红包规则】
                            dl.rule_text
                                dt 1.
                                dd 红包有效期：2015年12月22日-2015年1月3日23:59；
                            dl.rule_text
                                dt 2.
                                dd 红包翻倍专场所赠红包限投6月（含）以上标期，活动多充多送上不封顶；
                            dl.rule_text
                                dt 3.
                                dd 红包为直抵现金红包，统一以站内信形式通知，完成一次投资回款后即可取现，每个红包仅限使用一次，不可叠加使用，使用后无论是否有余额均失效；
                            dl.rule_text
                                dt 4.
                                dd 投资一个项目时，红包不可叠加使用，也不可与加息券叠加使用。
                    .main_footer
                .main_box.main_box_4
                    .main_title_img
                    .main_top 活动期间，累计投资额最高的前10名，<br>可获得相对应的排名奖励。
                    .main
                        .prize_wrap
                            .prize_box.prize_box_1
                                .title 第1名： MacBook Pro
                                img(src="/static/imgs/pc_activity/double_eggs/prize_img_1.jpg")
                                .text 13.3英寸Retina屏笔记本电脑&nbsp;&nbsp;256GB
                            .prize_box.prize_box_2
                                .title 第2~3名：iPad Pro
                                img(src="/static/imgs/pc_activity/double_eggs/prize_img_2.jpg")
                                .text 12.9英寸&nbsp;&nbsp;4G+128G
                            .prize_box.prize_box_3
                                .title 第4~5名：iPhone 6 Plus
                                img(src="/static/imgs/pc_activity/double_eggs/prize_img_3.jpg")
                                .text (A1524)&nbsp;&nbsp;16GB
                            .prize_box.prize_box_4
                                .title 第6~7名： iPad Air 2
                                img(src="/static/imgs/pc_activity/double_eggs/prize_img_4.jpg")
                                .text (A1524)&nbsp;&nbsp;16GB
                            .prize_box.prize_box_5
                                .title 第8~10名：Apple Watch Sport
                                img(src="/static/imgs/pc_activity/double_eggs/prize_img_5.jpg")
                                .text 智能手表
                            .prize_box.prize_box_6
                                img(src="/static/imgs/pc_activity/double_eggs/prize_logo.png")
                        .button.investment_button 立即投资
                        .remarks 备注：累计排名奖在活动结束后7个工作日内公布并电话通知，请留意网站公告。
                    .main_footer
                .main_box.main_box_5
                    .main_title_img
                    .main_top 上标早知道，无需下载安装，微信自动上标推送消息。
                    .main
                        .text 立即关注网利宝微信服务号，抢标投标不用愁！快来扫一扫>>
                        img.code(src="/static/imgs/pc_activity/double_eggs/code_big.jpg")
                    .main_footer
                .act_rule
                    .title 【活动规则】
                    dl.rule_text
                        dt 1.
                        dd 活动时间：2015年12月22日-2016年1月3日；
                    dl.rule_text
                        dt 2.
                        dd 活动期间，新老用户均可参加活动，加息劵和红包限投散标使用，不可用于债转或月利宝标期；
                    dl.rule_text
                        dt 3.
                        dd 符合累计排名送大奖的中奖客户，在活动结束后7个工作日内会有客服MM与您联系，具体沟通您的收货信息。奖品会在1月15日前完成奖品发放，请保持手机畅通；
                    dl.rule_text
                        dt 4.
                        dd 所有奖品不兑换现金，不可替换。活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑。
                        dd.statement 网利宝对此活动享有最终解释权。
                .code_wrap
                    .bg
                    .main
                        img.code(src="/static/imgs/pc_activity/double_eggs/code.jpg")
                        .text 手机扫一下也许就能赚钱
        include global/g_footer
script.
    require(['/static/js/double_eggs.js?v=2015122101'])
                                                                    