-load formatters
-load mathfilters
doctype html
html.no-js(lang="en-gb")
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/european_cup.css?v=2016061602")
        - csrf_token
    body(style="background:#fafafa")
        include global/g_nav
        .body_wrap.clear
            .banner
                .banner_main
                    dl
                        dt 一. 活动时间
                        dd 6月15日－7月11日
                    dl
                        dt 二. 参与方式：
                        dd 从2016年6月15日起，凡是在网利宝平台投资加息标签为“为X队助威”或“为X队加油”的用户，表示您竞猜该队在次日欧洲杯当次比赛中获胜（不含平局）。
                        dd.s（※参与竞猜活动的产品，在标签处均会体现“为X队助威”或“为X队加油”字样，如标签无相关内容，则该标不参与本次活动）
            .men_top
            .section
                .section_main
                    .men_center
                        .qiu
                        dl
                          dt 活动时间：
                          dd 6月15日－6月23日
                        dl
                          dt 加息助威：
                          dd 平台每天会以正在进行的小组赛球队命名相应标的加息标签，平台加息额度0.5%。投资人可选择自己支持的球队进行投标。
                        dl
                          dt 胜者得利：
                          dd 凡投资人所投球队在小组赛中当次比赛胜出（不含平局），平台将于标的满标后2个工作日内，奖励以该球队命名的标的所有投资人2%加息券。
                        dl.small
                            dt 注：
                            dd 1. 加息券仅适用于30天以内及一月期标的。 2. 加息券使用截止期限：自发送之日起2日内有效。3. 投资1000元及以上，方可使用加息券。4. 如赛期遇国 家法定节假日，则加息券发放自动顺延至节后第一个工作日。5. 单个标的仅发放一张加息券，不根据投资次数累计。
                        a.qiu_button(href='/p2p/list/') 我要助威
                        .qiu.qiu_2
                        dl
                          dt 活动时间：
                          dd 1/8决赛：6月25日－6月28日
                          dd 1/4决赛：7月1日－7月4日
                          dd 半决赛：7月7日－7月8日
                          dd 总决赛：7月11日
                        dl.long
                          dt 加息及时雨：
                          dd 比赛前一天，平台将随机派发次日参赛球队专属特供加息券，加息券额度2.3%，投资人可选择自己支持的球队，使用加息券进行投标。
                        dl
                          dt 大赢“加”：
                          dd 凡投资人所投资当次参赛球队命名的标的，在比赛结束之前满标，且该球队在当次比赛中获胜（不含平局），则平台对该标的再次加息0.5%。（注：未满标或球队未胜即不加息）
                        dl.small
                            dt 注：
                            dd 1.当日发放的2.3%加息券仅适用于该球队（即同一名称球队）特供标的。2.投资人没有收到随机加息券，可致电网利宝客服，由理财师专门发放。3.加息券有效期截止于球队比赛开赛后两小时内。4.投资1000元及以上，方可使用加息券。
                        a.qiu_button(href='/p2p/list/') 我要竞猜
                        .qiu.qiu_3
                        p.white 在活动期间，凡参与投资欧冠球队标的，累计投资球队标的投资额达100万以上，且至少猜中1/8决赛后所有比赛中的4场胜出结果（含决赛冠军），将获得2000元直抵投资红包。
                        dl.small
                            dt 注：
                            dd 1.红包将于活动结束后的5个工作日内发送至用户账户。2.红包有效期截止于发放之日起14日内。3.投资10000元及以上，方可使用红包。4.红包仅限投资3月及以上标期标的。5.猜中的4场胜出结果，必须包含决赛胜出球队。
                        a.qiu_button(href='/p2p/list/') 我要中奖
                        p.yellow * 如您有任何疑问，请拨打客服电话4008-588-066进行咨询。

                    .men_bottom

        include global/g_footer
