- load formatters
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 邀请好友理财送话费
    link(rel="stylesheet",href="/static/css/wap/share_app.css")

  body
    header.activity-app-header
    .activity-app-content
      h2 2015年1月5日00:00-2015年2月1日23:59
      p 公司木有年终奖？别人家送的太低端？苹果高配笔记本，高大上的茅台酒。小清新乐视tv+盒子，打包求抱走！天天送不停，周周都有新花样！
      p 活动期间，每天按照投资额度的前3名获得日榜奖品，每周按照投资额度的前3名获得周榜奖品。活动结束后，统计总榜得奖用户。
    .space-line
    .activity-app-content
      h3 活动规则：
      p 1、奖品统一于活动结束后7个工作日内分批发放；
      p 2、由于实物奖品快递需要，获奖用户请提交真实“姓名、手机号、身份证号、通讯地址”至 kefu@wanglibao.com；
      p 3、每日获奖名单请在pc端活动页面查看，或关注微信公众号：iwanglibao；
      p 4、本活动不收取任何费用，谨防上当受骗；
      p 5、网利宝对此活动享有最终解释权。
      p 6、该活动与 Apple 公司无关。
      a(href="https://www.wanglibao.com/", target="_blank")
        .activity-app-footer 详请关注网利宝官网：www.wanglibao.com
    include include/tracking
