-load formatters
-load mathfilters

doctype html
html
  head
    title 火币会员独享
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="baidu-site-verification", content="iBKXouRC1a")
    meta(name="keywords", content="火币网,网利宝")
    meta(name="description", content="火币网+网利宝，比特币+超幸福大奖”")
    link(href="/static/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")

  body
    .firecoin
      .banner
        a.go-home(href="/#p2p") 返回首页
        .row.inner
        a.register-now(href="https://www.huobi.com/account/register.php?utm_source=wanglibao", target="_blank") 立即注册火币网

      .firecoin-container
        h2.note 活动时间：即日起-2015年1月31日
        p 火币VIP5白金会员及比特币赠送，详情如下：
        p
          |若累计充值0~9999元人民币，
          span.highlight 送
          | 0.001比特币；
        p
          | 若累计充值10000~19999元人民币，
          span.highlight 送
          | 0.01比特币；
        p
          | 若累计充值20000~29999元人民币，
          span.highlight 送
          | 0.02比特币；
        p
          | 若累计充值30000~39999元人民币，
          span.highlight 送
          | 0.03比特币；
        p
          | 依此类推，
          span.highlight 最高送1比特币
          | ，赠送比特币将在2个工作日内发到火币网注册用户账户；比特币最新价格请见火币网（www.huobi.com）。
        p 比特币不代表该产品未来的真实收益水平及该产品由火币网独立运营，用户购买该产品而产生的法律责任以用户与火币网的协议约定为准，网利宝不为此提供任何形式的担保；
        .invite-container.row
          a(href="https://www.huobi.com/account/register.php?utm_source=wanglibao", target="_blank").invite-btn 立即注册
        .space-vertical-l
        hr
        .space-vertical-s
        .firecoin-item.row(onclick="show_firecoin('firecoin-tab1')")
          .span10
            h2 比特币怎么玩？新技能GET
          .span2-omega
            span#firecoin-tab1 展开
            span#firecoin-tab1-icon.icon.firecoin-arr
        .content-desc
          .how-to#firecoin-tab1-content
            p 1、直接在火币网售出，兑换成人民币（单个比特币历史最高价达到了8000元，聪明的小伙伴会懂的），充值可获得更多BTC赠送；
            p 2、注册火币旗下BitVC（www.bitvc.com），将BTC转账到BITVC进行期货交易，赢取抽奖机会，现有5位Q号、6位Q号、iphone6、27寸显示器、红米note、彩票等多种奖品，100%中奖。活动链接：
              a.blue(href="https://www.bitvc.com/topic/futures_lucky", target="_blank") https://www.bitvc.com/topic/futures_lucky
            p BitVC期货开仓交易比特币或莱特币的用户，交易量排行前100名者，100%获得火币送出的礼品，包括奔驰Smart 、iMac等诸多大奖！活动链接：
              a.blue(href="https://www.bitvc.com/topic/futures_1111", target="_blank") https://www.bitvc.com/topic/futures_1111
        .space-vertical-l
        hr
        .space-vertical-s
        .firecoin-item.row(onclick="show_firecoin('firecoin-tab2')")
          .span10
            h2 BTC理财，助你走向财富巅峰
          .span2-omega
            span#firecoin-tab2 展开
            span#firecoin-tab2-icon.icon.firecoin-arr

        .content-desc
          .how-to#firecoin-tab2-content
            p BTC是什么？
            p BTC是依据特定算法，通过大量的计算产生的一种P2P形式的数字货币。比特币可以购买网络虚拟产品以及实物商品（限于接受BTC支付的商家），也可通过平台进行交易，赚取人民币。
        .space-vertical-l
        hr
        .space-vertical-s
        .firecoin-item.row(onclick="show_firecoin('firecoin-tab3')")
          .span10
            h2 火币网简介
          .span2-omega
            span#firecoin-tab3 展开
            span#firecoin-tab3-icon.icon.firecoin-arr

        .content-desc
          .how-to#firecoin-tab3-content
            p 火币网是全球领先的比特币交易平台，致力于为投资者提供专业、安全、诚信的数字货币交易服务，上线至今得到了广大投资者的信赖与支持。2014年3月，火币网日均比特币交易量超过10万个，日均交易金额超过5亿人民币。3月4日，日交易量超过35万个，交易金额达15亿人民币，创造了全球比特币交易平台里的最高记录。火币网拥有全球比特币交易市场50%的份额，是目前全球交易量领先的数字货币交易平台。

        .space-vertical-l
        hr
        .space-vertical-s

        h2.note 有钱一起赚，别怪我没喊你来！

        .content-desc
          | 邀请好友，好友首次理财超过1000元，奖励：
          | 双方各得30元话费，邀请双方可获得好友活动期间累计理财额度各0.3%的年化收益奖励，多邀多送不封顶！

      .xunlei-02
      .firecoin-container
        .invite-container.row
          a(href="/accounts/invite/").invite-btn 邀请好友
        hr
        h2 赚钱引导流程

      .investment-process-container
        .row
          .step.first-step
            span.icon.icon-first-step
            .process-title 第一步&nbsp;免费注册
            .process-content 30秒轻松免费注册成为会员
          .step-arrow
            ins
          .step.second-step
            span.icon.icon-second-step
            .process-title 第二步&nbsp;进行认证
            .process-content 完成实名认证
          .step-arrow
            ins
          .step.third-step
            span.icon.icon-third-step
            .process-title 第三步&nbsp;充值账户
            .process-content 在线充值，免收手续费
          .step-arrow
            ins
          .step.fourth-step
            span.icon.icon-fourth-step
            .process-title 第四步&nbsp;成功投标
            .process-content 按需筛选借款标并进行投标
          .step-arrow
            ins
          .step.fifth-step
            span.icon.icon-fifth-step
            .process-title 第五步&nbsp;自动收款
            .process-content 借款期满后自动回款

      .gold-footer
        .gold-version

  script(src="/static/js/lib/jquery.min.js")
  script.
    function show_firecoin(str) {
      if($("#"+str).html()=='展开')
      {
        $('#'+str+'-content').show()
        $('#'+str).html('收起')
        $('#'+str+'-icon').removeClass('firecoin-arr')
        $('#'+str+'-icon').addClass('firecoin-arr-active')
      } else {
        $('#'+str+'-content').hide()
        $('#'+str).html('展开')
        $('#'+str+'-icon').removeClass('firecoin-arr-active')
        $('#'+str+'-icon').addClass('firecoin-arr')
      }
    }

  include include/tracking