-load formatters
-load mathfilters

doctype html
html
  head
    title 满就送
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="baidu-site-verification", content="iBKXouRC1a")
    meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
    link(rel="stylesheet",href="/static/stylesheets/full.css")
  body
    .act-full-container
      .act-topbar
        .container.row
          .act-user-div
            i.act-icon-phone.font-l &nbsp;
            span 客服热线：
            span 4008-588-066
            span.act-margin-left-m 关注我们：
            a.topbar-anchor.act-icon.act-icon-weibo(href="http://weibo.com/u/5000682691", target="_blank", data-role="hover", data-target="#qrweibo-top")
            a.topbar-anchor.act-icon.act-icon-weixin(href="javascript:void(0)", data-role="hover", data-target="#qrcode-top")
            a#qrweibo-top.weibo-qr-code(href="http://weibo.com/u/5000682691", target="_blank", style="display:none", data-name="hoverbox")
              img(src="/static/images/weibo-nqr.png")
            img#qrcode-top.icon.weixin-qr-code(src="/static/images/weixin-nqr.png", style="display:none", data-name="hoverbox")
            span.act-mobile-app-top
              span.act-icon.act-icon-mobile-app
              span 手机网利宝
              .act-mobile-app-top-prompt
                div(style="height:30px; top:-20px; position:relative;")
                a.act-mobile-app-apple(href="https://itunes.apple.com/cn/app/wang-li-bao/id881326898?mt=8", target="_blank", title="iPhone版")
                a.act-mobile-app-android(href="https://www.wanglibao.com/static/wanglibao1.apk", title="Android版")
    .activity-nav
      .act-container-login-nav
        a(href='/')
          .act-logo
        .login-nav
          include include/nav_common
    .kuaipan-container
      .gold
        a(href="/#p2p")
          .banner.banner-song
            .row.inner
        p.full-song 全新MacBook  iPhone6 Plus  iPhone6   Apple Watch等你来拿，你理财我送礼！
          span.highlight 平安保险对用户账户资金安全全额承保。
        h1.highlight 活动时间: 2015年3月25日-2015年4月30日
        .content-title
          .title-inner-line
            h2.highlight 没心，没肺，没节操的送！
        .content-desc
          p
            span.highlight 奖励计划第二波：
            | 活动期间，单日投资额达到以下额度，可获得相应奖品
          .space-vertical-s
          .row.gold-row
           .span3
              dl.full-jiang
                span.full-huangtou
                h3.full-h 单日投资200万
                dt.full-com.full-one
                dd
                  span 送
                  |全新Retina MacBook
           .span3
             dl.full-jiang
               span.full-huang
               h3.full-h 单日投资150万
               dt.full-com.full-two
               dd
                 span 送
                 |iPhone 6 Plus ( 16G )
           .span3
             dl.full-jiang
               span.full-huang
               h3.full-h 单日投资100万
               dt.full-com.full-three
               dd
                 span 送
                 |iPhone 6 ( 16G )
           .span2
             dl.full-jiang
               span.full-huang
               h3.full-h 单日投资50万
               dt.full-com.full-four
               dd
                 span 送
                 |Apple Watch Sport
        .space-vertical-l
        .invite-container.row
          a(href="/p2p/list/", target="_blank").invite-btn   立即赚钱

        .content-title
          .title-inner-line
            h2 赚钱引导流程
        .investment-process-container
          .row
            .step.first-step
              span.icon.icon-first-step
              .process-title 第一步&nbsp;免费注册
              .process-content 30秒轻松免费注册成为会员
            .step-arrow
              ins
            .step.second-step
              span.icon.icon-second-step
              .process-title 第二步&nbsp;进行认证
              .process-content 完成实名认证
            .step-arrow
              ins
            .step.third-step
              span.icon.icon-third-step
              .process-title 第三步&nbsp;充值账户
              .process-content 在线充值，免收手续费
            .step-arrow
              ins
            .step.fourth-step
              span.icon.icon-fourth-step
              .process-title 第四步&nbsp;成功投标
              .process-content 按需筛选借款标并进行投标
            .step-arrow
              ins
            .step.fifth-step
              span.icon.icon-fifth-step
              .process-title 第五步&nbsp;自动收款
              .process-content 借款期满后自动回款

        .gold-footer
          .gold-declare
            dl
              dt 奖品发放说明
              dd 1.网利宝账户以身份证号为唯一识别标识。
              dd 2.活动奖励将在活动期结束后发放。
              dd 3.单日奖励的投资时间为当日的0:00分到23:59分。
              dd 4.奖品信息将发送至您的网利宝账号，话费将充值进您的交易手机号。
              dd 5.奖品以苹果官方网站采购到货起，7个工作日开始发放。
              dd 6.由于实物奖品快递需要，满额度用户请提交真实“姓名、手机、身份证、通讯地址” 至
                a(href="mailto:kefu@wanglibank.com")
                  span.highlight kefu@wanglibank.com
          .gold-version
        include include/tracking
  script(src="/static/js/lib/jquery.min.js")
  script.
    $('.act-mobile-app-top').bind('mouseenter', function(e) {
      return $('.act-mobile-app-top-prompt').show();
    }).bind('mouseleave', function(e) {
      return $('.act-mobile-app-top-prompt').hide();
    });
    $('.act-mobile-app-top-prompt').bind('mouseenter', function(e) {
      return $(this).show();
    }).bind('mouseleave', function(e) {
      return $(this).hide();
    });