-load formatters
-load mathfilters
doctype html
html
  head
    title 累计加息
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="baidu-site-verification", content="iBKXouRC1a")
    meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
    link(rel="stylesheet",href="/static/stylesheets/full.css")
  body
    .act-full-container
      .act-topbar
        .container.row
          .act-user-div
            i.act-icon-phone.font-l &nbsp;
            span 客服热线：
            span 4008-588-066
            span.act-margin-left-m 关注我们：
            a.topbar-anchor.act-icon.act-icon-weibo(href="http://weibo.com/u/5000682691", target="_blank", data-role="hover", data-target="#qrweibo-top")
            a.topbar-anchor.act-icon.act-icon-weixin(href="javascript:void(0)", data-role="hover", data-target="#qrcode-top")
            a#qrweibo-top.act-weibo-qr-code(href="http://weibo.com/u/5000682691", target="_blank", style="display:none", data-name="hoverbox")
              img(src="/static/images/weibo-nqr.png")
            img#qrcode-top.act-icon.act-weixin-qr-code(src="/static/images/weixin-nqr.png", style="display:none", data-name="hoverbox")
            span.act-mobile-app-top
              span.act-icon.act-icon-mobile-app
              span 手机网利宝
              .act-mobile-app-top-prompt
                div(style="height:30px; top:-20px; position:relative;")
                a.act-mobile-app-apple(href="https://itunes.apple.com/cn/app/wang-li-bao/id881326898?mt=8", target="_blank", title="iPhone版")
                a.act-mobile-app-android(href="https://www.wanglibao.com/static/wanglibao1.apk", title="Android版")
    .activity-nav
      .act-container-login-nav
        a(href='/')
          .act-logo
        .login-nav
          include include/nav_common
    .kuaipan-container
      .gold
        a(href="/#p2p")
          .banner.full-getNewBanner
            .row.inner
        h1.highlight-fullNew 活动时间: 2015年5月1日-2015年5月17日
        .content-title
          .title-inner-line
            h2.highlight-fullNew 疯狂加息！ 激情豪礼！
        .content-desc
          .space-vertical-s
          .full-newtabletit
            em 注：
            |除了每个标的基本收益以外，满足以下条件还可多挣年化收益。
          .row.gold-row
            .full-newTable
              table
                thead
                  tr
                    th 单日同期限累计投资额（元）
                    th 您获得奖励
                tbody
                  mixin trList(leftTxt, shouyi)
                    tr
                      td=leftTxt
                      td
                        em.full-emhighlight=shouyi
                        |年化收益
                  +trList('200万（含）以上', '2.5% ')
                  +trList('150万（含）- 200万', '2.0% ')
                  +trList('100万（含）- 150万', '1.5% ')
                  +trList('50万（含）- 100万', '1.0% ')
                  +trList('20万（含）- 50万', '0.5% ')
              .table-right-icon
                img(src='/static/images/full-img/full-table-icon.png')
          .full-count-icon
            img(src='/static/images/full-img/full-count.png')
          .full-count-tit
            em 计算公式：
            |投资总额×赠送年化收益÷12×实际投标期限
          .full-count-liucheng
            img(src='/static/images/full-img/full-count-liucheng2.jpg')
            .aShouyi
              em.full-emhighlight A标收益计算公式：
              |1,000,000×1.5%÷12×6=7500元
            .bShouyi
              em.full-emhighlight B标收益计算公式：
              |1,000,000×1.5%÷12×3=3750元
        .invite-container.row
          a(href="/p2p/list/", target="_blank").invite-btn.btnBg-fullNew   立即赚钱
        .content-title
          .title-inner-line
            h2 赚钱引导流程
        .investment-process-container
          .row
            .step.first-step
              span.icon.icon-first-step
              .process-title 第一步&nbsp;免费注册
              .process-content 30秒轻松免费注册成为会员
            .step-arrow
              ins
            .step.second-step
              span.icon.icon-second-step
              .process-title 第二步&nbsp;进行认证
              .process-content 完成实名认证
            .step-arrow
              ins
            .step.third-step
              span.icon.icon-third-step
              .process-title 第三步&nbsp;充值账户
              .process-content 在线充值，免收手续费
            .step-arrow
              ins
            .step.fourth-step
              span.icon.icon-fourth-step
              .process-title 第四步&nbsp;成功投标
              .process-content 按需筛选借款标并进行投标
            .step-arrow
              ins
            .step.fifth-step
              span.icon.icon-fifth-step
              .process-title 第五步&nbsp;自动收款
              .process-content 借款期满后自动回款
        .gold-footer
          .gold-declare
            dl
              dt 活动规则
              dd 1.活动时间：
                em.full-footEmhighlight 5月1日-5月17日
                |；
              dd 2.现金奖励在活动结束后的三个工作日内以红包形式发出，红包类型为现金红包；
              dd 3.红包有效期
                em.full-footEmhighlight 2015年5月1日-2015年7月1日
                |；
              dd 4.红包均只能使用一次，请在一次投资内全部使用，使用后是否有余额即失效；
              dd 5.获奖红包以站内信形式通知，完成一次投资回款后即可取现；
              dd 6.网利宝对此活动享有最终解释权。
          .fullNew-footer
            img(src="/static/images/gold/fullNew-footer.jpg")
        include include/tracking
  script(src="/static/js/lib/jquery.min.js")
  script.
    $('.act-mobile-app-top').bind('mouseenter', function (e) {
      return $('.act-mobile-app-top-prompt').show();
    }).bind('mouseleave', function (e) {
      return $('.act-mobile-app-top-prompt').hide();
    });
    $('.act-mobile-app-top-prompt').bind('mouseenter', function (e) {
      return $(this).show();
    }).bind('mouseleave', function (e) {
      return $(this).hide();
    });
    $('.act-icon-weixin').bind('mouseenter', function () {
      $('#qrcode-top').show();
    }).bind('mouseleave', function () {
      $('#qrcode-top').hide();
    })
    $('#qrcode-top').bind('mouseenter', function (e) {
      return $(this).show();
    }).bind('mouseleave', function (e) {
      return $(this).hide();
    });
    $('.act-icon-weibo').bind('mouseenter', function () {
      $('#qrweibo-top').show();
    }).bind('mouseleave', function () {
      $('#qrweibo-top').hide();
    })
    $('#qrweibo-top').bind('mouseenter', function (e) {
      return $(this).show();
    }).bind('mouseleave', function (e) {
      return $(this).hide();
    });
