-load formatters
-load mathfilters

doctype html
html
  head
    - with '网利宝' as title
    include include/common_head
    - endwith
    //meta(http-equiv="content-type", content="text/html; charset=utf-8")
    //meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //meta(name="baidu-site-verification", content="iBKXouRC1a")
    //meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
    link(rel="stylesheet",href="/static/stylesheets/full.css")
  body(style='background:#ffffff')
    .full-container
      .topbar
        .container.row
          .user-div
            i.icon-phone.font-l &nbsp;
            span 客服热线：
            span 4008-588-066

            span.margin-left-m 在线客服：
            a.topbar-anchor.icon.icon-qq#top-qq(href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAxODg4N18yMDU1NjlfNDAwODU4ODA2Nl8yXw", data-role="hover", target="_blank")

            span.margin-left-m 关注我们：
            a.topbar-anchor.icon.icon-weibo(href="http://weibo.com/u/5000682691", target="_blank", data-role="hover", data-target="#qrweibo-top")
            a.topbar-anchor.icon.icon-weixin(href="javascript:void(0)", data-role="hover", data-target="#qrcode-top")
            a#qrweibo-top.weibo-qr-code(href="http://weibo.com/u/5000682691", target="_blank", style="display:none", data-name="hoverbox")
              img(src="/static/images/weibo-nqr.png")
            img#qrcode-top.icon.weixin-qr-code(src="/static/images/weixin-nqr.png", style="display:none", data-name="hoverbox")
            span.mobile-app-top
              span.icon.icon-mobile-app
              span 手机网利宝
              .mobile-app-top-prompt
                div(style="height:30px; top:-20px; position:relative;")
                a.mobile-app-apple(href="https://itunes.apple.com/cn/app/wang-li-bao/id881326898?mt=8", target="_blank", title="iPhone版")
                a.mobile-app-android(href="https://www.wanglibao.com/static/wanglibao.apk", title="Android版")

    .full-container-white.fudong
      .container-navigation
        .row
          .span2
            a(href='/')
              .logo
          .span10
            .nav-items.xiao-nav
              ul
                mixin nav-item(name, link, new_class, free)
                  if activeItem == name
                    li.nav-item.active
                      a.nav-item-anchor(href=link, class=new_class)= name
                      if free == 'yes'
                        span.icon.icon-free 免费
                  else
                    li.nav-item
                      a.nav-item-anchor(href=link, class=new_class)= name
                      if free == 'yes'
                        span.icon.icon-free 免费

                +nav-item('首页', '/', '', '')
                +nav-item('理财专区', '/p2p/list/', '', '')
                +nav-item('基金', '/fund/products', '', '')

                +nav-item('安全保障', '/security', 'left-line', '')
                +nav-item('帮助中心', '/help', '', '')
    #bannery
    .kuaipan-container(style='background:#ffffff')

      .gold
        h1.highlight 活动时间：2015-04-15至2015-06-19
        .space-vertical-l
        .frenda
            .frenda-left
                p.bigg
                label(style='font-size: 50px;color: #FFFFFF') 30
                span(style='font-size: 20px;color: #FFFFFF') 元折扣红包
                p(style='font-size: 16px;color: #ffafab') (30元0.5%折扣红包)
            .frenda-left
                p.bigg
                span(style='font-size: 20px;color: #FFFFFF') 共享
                label(style='font-size: 50px;color: #FFFFFF') 60
                span(style='font-size: 20px;color: #FFFFFF') 元话费
                p(style='font-size: 16px;color: #ffafab') (各30元)



        .content-title
          .title-inner-line
            h2 新手投资流程
        .investment-process-container
          .row
            .step.first-step
              span.icon.icon-first-step
              .process-title 第一步&nbsp;免费注册
              .process-content 30秒轻松免费注册成为会员
            .step-arrow
              ins
            .step.second-step
              span.icon.icon-second-step
              .process-title 第二步&nbsp;进行认证
              .process-content 完成实名认证
            .step-arrow
              ins
            .step.third-step
              span.icon.icon-third-step
              .process-title 第三步&nbsp;充值账户
              .process-content 在线充值，免收手续费
            .step-arrow
              ins
            .step.fourth-step
              span.icon.icon-fourth-step
              .process-title 第四步&nbsp;成功投标
              .process-content 按需筛选借款标并进行投标
            .step-arrow
              ins
            .step.fifth-step
              span.icon.icon-fifth-step
              .process-title 第五步&nbsp;自动收款
              .process-content 借款期满后自动回款

        .gold-footer
          .gold-declare
            dl
              dt 红包使用规则：
              dd 1、红包在完成注册后即刻发放，请在我的账户里-红包里面查看；
              dd 2、红包投资不可叠加使用，一次回款后可提现；
              dd 3、30元折扣红包可在4月15日-7月15日期间投资使用；
               //span(style='color: #f54337') 4月8日-5月10日
               //|；
              dd 4、每个红包只能使用一次，无论是否有余额即失效；
              // span(style='color: #f54337') 4月8日-6月8日
              // |；
              //dd 5.每个红包只能使用一次，无论是否有余额即失效；
            dl(style='margin-top: 40px;')
              dt 活动规则:
              dd 1、手机号为网利宝唯一账户，每个身份证号只可绑定一个网利宝账号；
              dd 2、注册即送30元折扣红包，按投资金额的0.5%折扣使用。例如投资6000元，即可使用30元红包；
              dd 3、邀请好友，好友首次交易200元，共享60元话费（各30元），多邀多送不封顶！
              dd 4、奖品信息将发送至您的网利宝站内信，话费将充值进您的交易手机号；
              dd 5、刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
              dd 6、网利宝对此活动享有最终解释权。
             // dd 6.由于实物奖品快递需要，满额度用户请提交真实“姓名、手机、身份证、通讯地址” 至
                a(href="mailto:kefu@wanglibank.com")
                  span.highlight kefu@wanglibank.com
          .gold-version
        include include/tracking

  script.
   var v = new Date().getTime()
   require(['/static/js/hover.js','/static/js/aiqiyi_redpack.js?v='+v])
