-load formatters
-load mathfilters
doctype html
html
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(rel="stylesheet",href="/static/stylesheets/fun_tuan.css?v=201511121")
    body(style="background:#fff")
        include global/g_nav
        #bg
        #wrap_box
          .banner
              .left_bg
              .right_bg
              .img
          .introduction
            .down_ico
                  .ico
            img.logo_img(src="/static/imgs/pc_activity/fun_tuan/logo_img.png")
            p.text 懂得理财的人，一定热爱生活。<br>我们负责创造有意思的活动，<br>让每一个爱理财、爱生活、爱网利宝的你，<br>“团”在一起！<br>在这里，认识新自己；<br>在这里，结交新朋友；<br>在这里，让好收益，<br>开启我们的多彩生活！

        include global/g_footer
