-load formatters
-load mathfilters
doctype html
html
  head
    - with '网利宝' as title
    include include/common_head
    - endwith
    //link(rel="stylesheet",href="/static/stylesheets/activity.css")
    link(rel="stylesheet",href="/static/css/bootstrap.min.css")
    link(rel="stylesheet",href="/static/stylesheets/ganjiwang.css")

  body(style="background:#fff")
    include include/activityTop2
    .wrap#ganjiwang-banner
      .gold2
    .gjw-wrap
      .gjw-big
      .gjw-gold
        h1.gjw-h 活动时间：2015年7月17日——2015年9月15日
        p.gjw-p
          span.gjw-font-com.gjw-font-one
          br
          |首次充值网利宝，即可获得领取特权会员奖励！每位新注册用户可任意选择1个好礼领取。
        .gjw-number-one
          .gjw-prize.gjw-prize-com.gjw-prize-one
            a 点击领取
            p 特权一：注册送
              b 800
              |元现金红包
          .gjw-prize.gjw-prize-com.gjw-prize-two
            a 点击领取
            p 特权二：首次充值送特权会员
          .gjw-prize.gjw-prize-com.gjw-prize-three
            a 点击领取
            p(style="bottom:0") 特权三：单笔投资
              b ≥3000
              |元，送赶
              br
              |集网
              b 100
              |元充值
          .gjw-prize.gjw-prize-com.gjw-prize-four(style="margin-right:0")
            a 点击领取
            p 特权四：满额投资就送
              b(style="color:#f22527") 夏日双人游
        p(style="top:127px").gjw-p
          span.gjw-font-com.gjw-font-two
          br
          |首次充值网利宝，即可获得领取特权会员奖励！每位新注册用户可任意选择1个好礼领取。
        .gjw-girl.gjw-people-com.gjw-people-one
        .gjw-number-two
           .gjw-recharge
              .gjw-title1.gjw-tit-com.gjw-tit-one
              .gjw-title2.gjw-tit-com.gjw-tit-two
              h2.gjw-h2 100G快盘容量
              .gjw-center.gjw-tit-com.gjw-center-one
           .gjw-recharge
              .gjw-title1.gjw-tit-com.gjw-tit-one
              .gjw-title2.gjw-tit-com.gjw-tit-two
              h2.gjw-h2 七天爱奇艺会员
              .gjw-center.gjw-tit-com.gjw-center-two
           .gjw-recharge(style="margin-right:0")
              .gjw-title1.gjw-tit-com.gjw-tit-one
              .gjw-title2.gjw-tit-com.gjw-tit-two
              h2.gjw-h2 抠电影10元代
                br
                |金券
              .gjw-center.gjw-tit-com.gjw-center-three
           .gjw-recharge
              .gjw-title1.gjw-tit-com.gjw-tit-one
              .gjw-title2.gjw-tit-com.gjw-tit-two
              h2.gjw-h2 抠电影20元代
                br
                |金券
              .gjw-center.gjw-tit-com.gjw-center-four
           .gjw-recharge
              .gjw-title1.gjw-tit-com.gjw-tit-one
              .gjw-title2.gjw-tit-com.gjw-tit-two
              h2.gjw-h2 一个月风行会员
              .gjw-center.gjw-tit-com.gjw-center-five
           .gjw-recharge(style="margin-right:0")
              .gjw-title1.gjw-tit-com.gjw-tit-one
              .gjw-title2.gjw-tit-com.gjw-tit-two
              h2.gjw-h2 一年迅雷会员
              .gjw-center.gjw-tit-com.gjw-center-six





  .footer(style="background:#f8f2ce;margin-top:0")
    include include/activityFooterTwo

    include include/tracking
  #small-zc
    .wrap(style="background:none")
      .gold2
        .xl-box1#box1
          .xl-small-zc
            span.first-xl-off ×
            .denelu-form(style="top:20px;left:32px")
              h1.biaoyu  领取1000元现金红包
              //.align-center
              //  a.font-s.blue(href="http://act.vip.xunlei.com/vip/2015/p2pcash/#wlb") 【立即领取】
              form#register-modal-form2.login-form.dale(method='post', action='/accounts/register/ajax/')
                .form-row
                  .form-control-group
                    .span12
                      input#reg_identifier2.com-tu.tu1(type="text", name="identifier", placeholder="请输入手机号")
                  .form-row-error
                .form-row.voice
                  .span12-omega.hidden.show
                    没有收到验证码？请尝试<a href="/api/ytx/send_voice_code/" class="voice-validate">语音验证</a>
                  .form-control-group
                    .span6
                      input#id_validate_code2.com-tu.tu2(type="text", name="validate_code", placeholder="请输入验证码", autocomplete='off', title="请输入验证码")
                    .span6-omega
                      button#button-get-validate-code-modal2.button-orange.button-large.huoqu-ma.new-btn(type='button',style="top:-2px") 获取验证码
                  .form-row-error
                .form-row
                  input#reg_password4.full-width.com-tu.tu3(type="password", name="password", placeholder="请输入密码", autocomplete="off", maxlength="20")
                  .password-strength-container
                    span.password-strength-1
                    span.password-strength-2
                    span.password-strength-3
                  .form-row-error
                .form-row
                  input#reg_password3.com-tu.tu3(type="password", name="password2", placeholder="请再次输入密码", autocomplete='off', title="请确认密码", maxlength="20")
                  .form-row-error
                .form-row.form-bottom-bar
                  .agreement(style="padding:0 0 10px 10px;text-align:left")
                    label(for="agreement")
                      input(type="checkbox", name="agreement", checked="checked", id="agreement2", data-value="agree",style="position: relative;top: 3px;margin-right: 10px;width: 16px;")
                    | 我同意<a href="/agreement/" target="_blank">《网利宝注册协议》</a>
                    .form-row-error
                  button#register_submit2.button-account.span10.xun-zhuce(type='submit') 立即注册
                p.xun-p(style="font-size:14px;margin-top:9px") 已有账号,
                  a(href="/accounts/login/") 立即登录
                .space-vertical-s
        .seven-success#seven-success
          span.first-xl-off2 ×
          span.seven-happy.seven-com.seven-nine 亲，恭喜您
            br
            b 今天伸手领钱成功
          p 1000元现金组合红包已发送到亲的账户，
            br
            |落袋为安妥妥哒！
            br
            |7月钜惠季，全场加息3%即刻用起！
          .first-money
          a(href="/").first-user 立即使用
        #first-redpack-fail
          span.first-xl-off2 ×
          p 不符合参加条件


  script.
      var v = new Date().getTime()
      require(['/static/js/xun-newzhuce.js?v='+v,'/static/js/advance.js'])

