-load formatters
-load mathfilters

doctype html
html
  head
    title 迅雷会员独享
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="baidu-site-verification", content="iBKXouRC1a")
    meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")

  body
    .gold
      .banner
        .row.inner
          a(href="/").home
          a(href="https://www.wanglibao.com/#p2p").get-money
            h2 立即赚钱
            span 100元起投

      h1.note 活动时间: 11月1日-12月31日

      .content-title
        .title-inner-line
          h2 奖品就像High潮, 一波未平一波又来袭

      .content-desc
        p
          span.note 奖励计划第一波：
          投资就拿迅雷白金会员, 每个账户在活动期间限领取一次; 迅雷付费会员再投资，收益马上就高人一等


      .xunlei-01


      .content-title
        .title-inner-line
          h2.note 没心！没肺！没节操的送！

      .content-desc
        p
          span.note 奖励计划第二波：
          活动期间，每个账户投资达到以下额度，可获得相应奖品。

      .xunlei-levels
        table
          tr
            td 1.累计购买满120万
            td
              span.note 送
              iphone 6 plus(16G 5.5英寸)
          tr
            td 2.累计购买满100万
            td
              span.note 送
              iphone 6 (16G 4.7英寸)
          tr
            td 3.累计购买满50万
            td
              span.note 送
              iPad Air 2(16G WLAN)

          tr
            td 4.累计购买满40万
            td
              span.note 送
              iPad mini 3(16G WLAN)
          tr
            td 5.累计购买满20万
            td
              span.note 送
              &nbsp;1000元京东礼品卡
          tr
            td 6.累计购买满10万
            td
               span.note 送
               iphone 500元京东礼品卡

          tr
            td 7.累计购买满1万-9万 每满1万元
            td
              span.note 送
              iphone 6 plus(16G 5.5英寸)


      .content-title
        .title-inner-line
          h2.note 有钱一起赚，别怪我没喊你你来！

      .content-desc
        p
          span.note 奖励计划第三波：
          邀请好友，多邀多送，上不封顶，有钱一起赚，好友投资成功，双方共享60元话费（双方各30元话费）
        p.note 邀请好友，好友首次理财超过1000元，邀请人可一次性获得好友理财额度年度收益0.5%的奖励。

      .xunlei-02

      .invite-container.row
        a(href="/accounts/invite/").invite-btn
          邀请好友


      .content-title
        .title-inner-line
          h2 赚钱引导流程

      .investment-process-container
        .row
          .step.first-step
            span.icon.icon-first-step
            .process-title 第一步&nbsp;免费注册
            .process-content 30秒轻松免费注册成为会员
          .step-arrow
            ins
          .step.second-step
            span.icon.icon-second-step
            .process-title 第二步&nbsp;进行认证
            .process-content 完成实名认证
          .step-arrow
            ins
          .step.third-step
            span.icon.icon-third-step
            .process-title 第三步&nbsp;充值账户
            .process-content 在线充值，免收手续费
          .step-arrow
            ins
          .step.fourth-step
            span.icon.icon-fourth-step
            .process-title 第四步&nbsp;成功投标
            .process-content 按需筛选借款标并进行投标
          .step-arrow
            ins
          .step.fifth-step
            span.icon.icon-fifth-step
            .process-title 第五步&nbsp;自动收款
            .process-content 借款期满后自动回款

      .gold-footer
        .gold-declare
          dl
            dt 奖品发放说明
            dd 1. 奖品统一于活动结束后7个工作日内开始发放（iPhone 6在大陆正式上市后，最短时间内发放)
            dd 2. 由于实物奖品快递需要，满额度用户请提交真实“姓名、手机、身份证、通讯地址”至 kefu@wanglibao.com
            dd 3. 京东礼品卡的密码和话费均发送到交易手机号。
            dd 4. 年化2%收益奖励，将随P2P理财项目每期还款发放。

        .gold-version



      include include/tracking