-load formatters
-load mathfilters
doctype html
html
head
    - with '网利宝' as title
    include include/common_head
    - endwith
    link(rel="stylesheet",href="/static/stylesheets/gold_season.css?v=20150918")

    - csrf_token
body(style="background: #ffe6a6")
    include include/activityTop2
    .goldSeason
        img.goldSeasonBanner(src='/static/imgs/pc_activity/gold_season/banner.jpg')
        .rankingList
            ul.table
                li.one 排行
                li.two 用户
                li.three 累计佣金
            .list
                ul.one
                    li
                        span.one
                    li
                        span.two
                    li
                        span.three
                    li
                        span.round 4
                    li
                        span.round 5
                    li
                        span.round 6
                    li
                        span.round 7
                    li
                        span.round 8
                    li
                        span.round 9
                    li
                        span.round 10
                ul.two
                    - var item1 = ['','','','','','','','','','']
                    each item in item1
                        li= item
                ul.three
                    li.front 0 元
                    li.front 0 元
                    li.front 0 元
                    - var item1 = ['0 元','0 元','0 元','0 元','0 元','0 元','0 元']
                    each item in item1
                        li= item
        img.label(src='/static/imgs/pc_activity/gold_season/label1.png')

        .order
            .box
                img(src='/static/imgs/pc_activity/gold_season/orderImg1.png')
                dl
                    dt 访问网利宝官网
                    dd https://www.wanglibao.com
            .arrow
            .box
                img(src='/static/imgs/pc_activity/gold_season/orderImg2.png')
                dl
                    dt 进入个人账户页面
                    dd "登录" -- "我的账户"
            .arrow
            .box
                img(src='/static/imgs/pc_activity/gold_season/orderImg3.png')
                dl
                    dt 分享专属链接
                    dd 个人账户页面 -- "全民淘金" -- 分享<br>专属邀请码或专属链接给好友
            .arrow
            .box
                img(src='/static/imgs/pc_activity/gold_season/orderImg4.png')
                dl
                    dt 坐享佣金
                    dd 好友通过邀请码或专属链接<br>注册登录后投资三个月(含<br>三个月)以上的投资项目,即<br>可坐享丰厚佣金。
        .explain
            .main
                dl
                    dt 1、活动时间： 2015年6月23日-2016年6月30日
                dl
                    dt 2、活动说明:
                    dd &nbsp;&nbsp;&nbsp;&nbsp;- 邀请好友注册网利宝，若好友注册后，投资3个月以上（含3个月）项目，则享有好友投资额3‰作为邀请佣金；若好友再邀请他人注册并投资3个月以上（含3个月）项目，可与好友一起享有投资额的3‰作为邀请佣金；
                    dd!=' &nbsp;&nbsp;&nbsp;&nbsp;-  例如：用户A邀请新用户B注册并投资，则A享有B在活动时间内<span>每笔投资额3‰</span>的邀请佣金；用户B再邀请新用户C注册并投资，则A与B同时享有C在活动时间内<span>每笔投资额3‰</span>的邀请佣金； 用户C再邀请新用户D注册并投资，则Ｂ与C同时享有D在活动时间内<span>每笔投资额3‰</span>的邀请佣金； A不再享有D的佣金。以此类推。（其中B、C、D每笔投资项目期限须<span>≥3个月</span>）；'
                .example
                    img.leftImg(src='/static/imgs/pc_activity/gold_season/chestnutsImg.png')
                    .rightMain
                        p.title 活动期内用户A邀请用户B注册并投资3个月标10万元，用户B又邀请用户C注册并投资3个月标10万元。则用户A获得邀请佣金为：10万元*3‰+10万*3‰=600元，用户B获得邀请佣金为: 10万元*3‰=300元。
                        .example1
                            p.text 用户A的邀请佣金 ( 元 ):
                            .number
                                span.bold 600 &nbsp;=
                                dl
                                    dt.bold 300
                                    dd 用户B投资所得的佣金<br>10万*3‰
                                span.add.bold +
                                dl
                                    dt.bold 300
                                    dd 用户C投资所得的佣金<br>10万*3‰
                        .example2
                            p.text 用户B的邀请佣金 ( 元 ):
                            .number
                                dl.right
                                    dt 300
                                    dd 用户C投资所得的佣金<br>10万*3‰
                dl
                    dd &nbsp;&nbsp;&nbsp;&nbsp;-  被邀请人注册时须使用邀请人提供的专属链接或专属邀请码，活动邀请关系方成立，网利宝仅以此确认邀请关系；
                    dd &nbsp;&nbsp;&nbsp;&nbsp;-  活动期间内，邀请人获得的邀请佣金累计无上限；被邀请人受邀注册后，可获得28888元体验金及最高300元现金红包。
                dl
                    dt 3、本活动可与网利宝其他优惠活动同时享用。
                dl
                    dt 4、刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予兑现，网利宝对此活动享有最终解释权。
        img.label(src='/static/imgs/pc_activity/gold_season/label2.png')
        .cheats
            .text1.text 间接邀请佣金：810000
            .text2.text 直接邀请佣金：27000
            .title 邀请佣金共为：837000
            .rule
                p!='如果你邀请了30个好友，他们每人在活动期间内投资3个月标10万元共3次，那你的直接邀请佣金为：<span class="calculation">27000=30*10万元*3次投资*0.3%</span>'
                p <br>如果你邀请的30个好友每人又邀请了30人，那么你就拥有900个间接邀请人。同样，他们每人在活动期间内投资3个月标10万元共3次，那你的间接邀请佣金为：
                p.calculation 810000=900*10万元*3次投资*0.3%
        .fixBox
            a.button.clear(href='/accounts/invite/') 立即邀请好友
    include global/g_footer

script.
    require(['/static/js/gold_season.js?v=20150918'])
                                                        