-load formatters
-load mathfilters
doctype html
html
  head
    title 融资项目
    include include/app_head
  body(style="background:#3e7ce3;").financing
    .banner
      img(src="/static/imgs/mobile/financing/banner.png")
    .f-form#financeForm
      - csrf_token
      p.form-item
        input.txt-input.placeholderInput.name-inp(placeholder="请输入您的姓名",title="请输入您的姓名",maxlength="128")
      p.form-item
        input.txt-input.placeholderInput.checkMobile(placeholder="请输入您的手机号",title="请输入您的手机号",maxlength="20")
      .relative1.select-box
        p.form-item.relative.js-select
          input.txt-input.city-inp(placeholder="选择您的所在城市",title="选择您的所在城市",readonly="true")
          span.arr-box
            i.arr-top
        .select-cont.js-select-skin(style="display:none;")
          p.form-item.relative.js-select-top
            input.txt-input.city-inp(placeholder="选择您的所在城市",title="选择您的所在城市",readonly="true")
            span.arr-box
              i.arr-bottom
          .form-cont
            .form-list.clearfix
              a(href="javascript:;") 北京
              a(href="javascript:;") 上海
              a(href="javascript:;") 中山
              a(href="javascript:;") 深圳
              a(href="javascript:;") 天津
              a(href="javascript:;") 长沙
              a(href="javascript:;") 武汉
              a(href="javascript:;") 贵阳
              a(href="javascript:;") 西安
              a(href="javascript:;") 青岛
              a(href="javascript:;") 石家庄
              a(href="javascript:;") 海口
              a(href="javascript:;") 郑州
              a(href="javascript:;") 重庆
              a(href="javascript:;") 其它
            .form-promot *如上若无您所在城市，请选择就近城市或其它城市
      .relative2.select-box
        p.form-item.relative.js-select
          input.txt-input.home-inp(placeholder="我有车/我有房",title="我有车/我有房",readonly="true")
          span.arr-box
            i.arr-top
        .select-cont.js-select-skin(style="display:none;")
          p.form-item.relative.js-select-top
            input.txt-input.home-inp(placeholder="我有车/我有房",title="我有车/我有房",readonly="true")
            span.arr-box
              i.arr-bottom
          .form-cont
            .form-list.clearfix.three-item
              a(href="javascript:;",data-val="1") 我有车
              a(href="javascript:;",data-val="0") 我有房
              a(href="javascript:;",data-val="2") 其它
      .relative3.select-box
        p.form-item.relative.js-select
          input.txt-input.money-inp(placeholder="选择您要贷款的金额",title="选择您要贷款的金额",readonly="true")
          span.arr-box
            i.arr-top
        .select-cont.js-select-skin(style="display:none;")
          p.form-item.relative.js-select-top
            input.txt-input.money-inp(placeholder="选择您要申请的金额",title="选择您要申请的金额",readonly="true")
            span.arr-box
              i.arr-bottom
          .form-cont
            .form-list.clearfix.three-item
              a(href="javascript:;") 3-10万
              a(href="javascript:;") 10-30万
              a(href="javascript:;") 30万以上
      p.error-box(style="display:none;")#errorBox
      p.submitFormStyle.font-l.wx-btn#financeSub 快速申请
    .f-part1.clearfix
      .part-item
        p.img-box
          img(src="/static/imgs/mobile/financing/info-icon1.png")
        p.big-tit 门槛低
        p 有车有房<br />即可申请
      .part-item
        p.img-box
          img(src="/static/imgs/mobile/financing/info-icon2.png")
        p.top-tit 额度高
        p 单笔最高<br />600万
      .part-item
        p.img-box
          img(src="/static/imgs/mobile/financing/info-icon3.png")
        p.top-tit 放款快
        p 手续齐全<br />当天放款
    .reply-box
      .top-tit.text-center 申请流程
      .clearfix
        .reply-item
          p.img-box.relative
            img(src="/static/imgs/mobile/financing/step-icon1.png")
            i.arr-left
          p 线上<br />申请
        .reply-item
          p.img-box.relative
            img(src="/static/imgs/mobile/financing/step-icon2.png")
            i.arr-left
          p 专员回访<br />办理手续
        .reply-item
          p.img-box.relative
            img(src="/static/imgs/mobile/financing/step-icon3.png")
          p 审核通过<br />融资放款
      .reply-info
        .info-tit 申请条件：
        p 18-60周岁；<br />在所在城市有稳定住所；<br />在所在城市有收入来源。
        .info-tit.mt1 所需资料：
        p 二代身份证；近期征信报告；<br />工作收入证明（银行流水、纳税单或相关证明）<br />抵押物相关证件（车辆、房屋产权等相关证件）
    .now-project
      .top-tit.text-center 当前融资项目
      .project-item.cl
        i.project-icon1
        .project-info
          p.p-tit 车贷
          p 个人或企业名下有车；信用记录良好<br />贷款额度：3—180万
      .project-item.cl
        i.project-icon2
        .project-info
          p.p-tit 房贷
          p 个人或企业名下有房产；信用记录良好<br />贷款额度：3—600万
    .alt-pages#alt-pages
    .alt-box#alt-box
      p#alt-promote 您已提交成功,请您耐心等待
      p.promote <span id="times-box">3秒</span>后将关闭
    script(src="/static/js/require.js", data-main="/static/js/header")
    script.
      require(["/static/src/pc/financing.js"])
