-load formatters
-load mathfilters
doctype html
html.h5_lifestyle_html
  head
    title 网利宝是一种生活方式
    include include/app_head
  body.h5_lifestyle
    .page-loading#page-loading
      .page-main
        .load-img-box
          img(src="/static/imgs/mobile_activity/h5_lifestyle/load-an-bg.png",style="height:4.925rem").an-bg
          img(src="/static/imgs/mobile_activity/h5_lifestyle/load-an.png",style="height:3.1rem").an-img
        .load-num-box
          .load-txt#load-txt 0%
          .load-line-box
            .load-now(style="width:0")
    .next-box#next-box
      i.cicle-item
      i.cicle-item
      i.cicle-item
      //img(src="/static/imgs/mobile_activity/h5_lifestyle/arr-btm.png",style="height:0.6rem")
    .page-swipe#page-swipe
      .swiper-wrapper
        .swiper-slide.page1
          img(src="/static/imgs/mobile_activity/h5_lifestyle/page1.jpg",style="width:100%")
        .swiper-slide.page2
          .page-main
            .page-main-box
              .page-tit 理财是爱好，赚钱不忘身边人
              .page-img
                img(src="/static/imgs/mobile_activity/h5_lifestyle/p1.png" style="width:4.925rem")
              .page-txt 我是江苏人，可能是受地域影响，很早就开始投资理财了，市面上能看到的投资形式，基本都尝试过。所以当P2P刚火起来的时候我就关注了。
              .page-txt 我在能源行业工作，薪酬还算丰厚，支付家里的日常开销绰绰有余，所以拿出一部分资金专门做投资理财。2014年年底的时候，我偶然接触到了网利宝。从刚开始的小试牛刀，到网利宝B轮融资时加大投资，再到现在，投资额已超过百万。对网利宝的实地考察也让我踏实不少，我很期待它以后的发展。
              .page-txt 手里有钱做事不慌，其实有钱并不是最好的，能让钱动起来才是一个好的态度。我也把网利宝介绍给了身边的朋友，不光能帮他们赚钱还能获得一部分佣金，何乐而不为呢？
            .page-btm
        .swiper-slide.page3
          .page-main
            .page-main-box
              .page-tit 创业和投资，都是为了更好的生活
              .page-img
                img(src="/static/imgs/mobile_activity/h5_lifestyle/p2.png" style="width:4.925rem")
              .page-txt 我是来自东北的天蝎男，已过而立之年。2008来到北京。几年的奋斗打拼，终于在去年实现创业，和朋友一起创立了一家生鲜O2O的公司。就在那时，我偶然接触到了网利宝。
              .page-txt 一开始我没敢投资，而是先去上网查了资料。我了解到网利宝的管理团队以及IDG的A轮融资背景，作为创业者的我对IDG这种大的投资机构非常敏感。后来我还和朋友一起来参加了“初冬燕席”和“名人下午茶”，也算是来公司实地考察一下。我觉得网利宝是一个做踏踏实实做事的团队，这大大增加了我的投资信心！
              .page-txt 创业和投资两条腿走路，才能让我的生活变得更惬意，让老婆能在我身上能看到一个她想要的未来。我们下一步打算要一个小宝宝，这样我们的小家庭才会更圆满，这也是我继续奋斗下去的理由。
            .page-btm
        .swiper-slide.page4
          .page-main
            .page-main-box
              .page-tit 80后老师，努力给女儿一份保障
              .page-img
                img(src="/static/imgs/mobile_activity/h5_lifestyle/p3.png" style="width:4.925rem")
              .page-txt 我是郑州古荥镇一个农村的普通80后教师。毕业后，我没像其他人一样去大城市拼搏，而是选择回到农村做了一名老师。
              .page-txt 虽然我有一份稳定的工作，但是结婚后，就有了压力。对于理财，我非常谨慎，在农村理财选择不多，刚开始把钱存农村信用社，后来慢慢买银行理财。再后来才开始尝试P2P。
              .page-txt 2015年我接触到了网利宝，虽然之前投过其它平台，但是谨慎的我还是从最低额度100元开始尝试。现在我大部分的投资都放在网利宝，还号召朋友参加领佣金的活动，佣金虽不多，但也是一笔额外收益。
              .page-txt 今年的投资收益，我准备全取出来，给女儿买一份保险，本金还是按照原计划继续投资网利宝，希望手中的钱像滚雪球一样滚起来，通过我的努力给我们这个小家庭一个更温暖的未来。
            .page-btm
        .swiper-slide.page5
          .page-main
            .page-main-box
              .page-tit 人生需要责任，投资也不得马虎
              .page-img
                img(src="/static/imgs/mobile_activity/h5_lifestyle/p4.png" style="width:4.925rem")
              .page-txt 今年我三十岁，已经是两个孩子的爸爸。我的两个孩子相继出生的时候，那种为人父的责任感告诉我，我一定要给他们最好的生活。
              .page-txt 在此之前我的理财方式基本是银行理财，收益5%左右，乍一下看到网利宝12%以上的项目，有点不太敢相信。后来我发现有一个项目是竟然自己信任的公司做担保的，于是决定试试，投了100块。我想有很多人都是从100开始投的吧。虽然刚开始投的少，但是每笔回款都有短信提醒，让我感觉比较靠谱。等本息到帐后我又逐渐加大了投资。
              .page-txt 2015年过去了，我想对网利宝说一声谢谢，是投资理财让我的生活更体面；16年我的愿望是去上海创业，趁有精力为家人拼一把，让孩子和老婆过上舒坦的生活。
            .page-btm
        .swiper-slide.page6
          .page6-mian
            .page6-tit
              img(src="/static/imgs/mobile_activity/h5_lifestyle/page6-tit.png" style="width:13rem")
            .page6-tab-nav
              .tab-nav.active 网利宝CEO 赵润龙
              .tab-nav 网利宝总裁 陆晓野
            .tab-cont
              .cont-item.active
                video(controls="controls",id="media1",poster="https://www.wanglibao.com/static/imgs/pc_activity/lifestyle/kc.jpg")
                  source(src="https://wanglibao1.oss-cn-beijing.aliyuncs.com/media/wlb_kevin.ogg",type="video/ogg")
                  source(src="https://wanglibao1.oss-cn-beijing.aliyuncs.com/media/wlb_kevin.mp4",type="video/mp4")
                  | 您的浏览器不支持
                .video-bg
                  span.video-btn
              .cont-item
                video(controls="controls",id="media2",poster="https://www.wanglibao.com/static/imgs/pc_activity/lifestyle/lu.jpg")
                  source(src="https://wanglibao1.oss-cn-beijing.aliyuncs.com/media/wlb_luxy.ogg",type="video/ogg")
                  source(src="https://wanglibao1.oss-cn-beijing.aliyuncs.com/media/wlb_luxy.mp4",type="video/mp4")
                  | 您的浏览器不支持
                .video-bg
                  span.video-btn

    script(src="/static/src/mobile/lib/weixin/wx.js")
    script(src='/static/scripts/component/webview.js')
    script(src='/static/scripts/app/swiper/swiper.min.js?v=20151218')
    script(src='/static/scripts/mobile_activity/h5_lifestyle.js?v=2016021621')
