-load formatters
-load mathfilters
doctype html
html(style="width: 100%;height: auto;position: relative")
  head
    title 金盾计划
    include include/app_head
    link(rel="stylesheet", href="/static/styles/mobile_activity/h5_shield_plan.css")
  body(style="background:#fff;").h5-shield-plan
    .sp-banner
      img(src="/static/imgs/mobile_activity/shield_plan/banner_jdjh_h5.png")
    .sp-part2
      .yellow-circle
      .part-tit 什么是金盾计划
      .part-info 金盾计划是网利宝设立的债权转让专项资金。此专项资金由第三方合作机构拟提，委托网利宝代为管理，用于收购第三方合作机构所推荐的线上逾期或违约债权，用以维护广大投资用户的权益。未来，随着网利宝平台交易量的不断增加，会有更多第三方机构与部分融资客户自愿加入“金盾”计划，拟提专项资金，扩充这项资金的储备额度。
      .part-guide
        img(src="/static/imgs/mobile_activity/shield_plan/eye_jdjh.png")
      .part-num.part-num1
        .num-box.num1
          a(href="javascript:;").num 1
          .txt 线上项目<br />逾期或违约
        .num-box.num2
          a(href="javascript:;").num 2
          .txt 判断金盾计划<br />是否介入
        .num-box.num3
          a(href="javascript:;").num 3
          .txt 金盾计划<br />启动准备
      .part-num.part-num2
        .num-box.num4
          a(href="javascript:;").num 4
          .txt 金盾计划收购<br />逾期或违约债权
        .num-box.num5
          a(href="javascript:;").num 5
          .txt 返还用户本息
    .sp-part3
      .tit-box
        .tit-lft 金盾计划参与项目
        a(href="/p2p/list/").tit-more 更多项目 >>
      .list-box
        .item-tit {{p2p.name}}
        .item-tit-lft
        .item-tit-rht
        .item-body
          earning_rate = str(p2p.expected_earning_rate)
          .item-price {{earning_rate}}%
            if p2p.activity
              |+<span class="blue">{{p2p.activity.rule.percent_text}}%</span>
          .item-detail 预计年化收益
          ul.item-info
            li.item-li.item-li1
              .day {{p2p.period}}{{p2p.pay_method|period_unit}}
              .detail 投资期限
            li.item-li.item-li2
              .day 100元
              .detail 起投金额
            li.item-li.item-li3
              amount = p2p.total_amount - p2p.ordered_amount
              .day {{amount | money_format_int}}元
              .detail 可投金额
          status = p2p.display_status
          if status == '抢购中'
            status = '立即抢购'
          a(href="javascript:void(0);",data-src="/weixin/view/buy/{{p2p.id}}/").item-btn.js-go-buy {{status}}
          .item-promote <i class="icon_bao"></i>账户资金安全由阳光保险承保
    .sp-part4
      .tit-box
        .tit-lft 金盾计划专项资金
        a(href="javascript:void(0);").tit-more.js-file 查看相关文件 >>
      .circle-box.js-circle-box
        .circle-bg
        //.circle-alt.js-circle-alt
        //  .circle-alt-lft
        //  .circle-alt-rht

        .circle-txt-box
          .circle-num 12,329,222.06
          .circle-promote 可启动资金(元)
    .sp-part5
      .tit1 【定位】“金盾计划”的推出对平台的风控体系有什么影响？
      .detail 尽管监管层禁止平台自担保，但一直鼓励平台采取有效措施保证投资用户的利益。“金盾计划”与业内常规的担保手段不同，是以维护用户权益为目的推出的专项资金，专门用于收购线上逾期或违约的不良项目。做为风险处理的方式之一，金盾计划与平台其他风控手段共同作用，尽可能降低用户投资的风险。
      .tit1 【优势】常规的风控手段相比，金盾计划有什么不同之处？
      ul.detail
        li 金盾计划的资金由第三方合作机构拟提，委托网利宝代为管理，专门用于收购第三方合作机构所推荐的线上逾期债权或违约权；
        li 金盾计划适用于第三方合作机构所推荐的所有借款项目，覆盖范围更广；
        li 金盾计划的资金存放在招商银行的指定账户，确保资金独立、专项使用；
        li 金盾计划的资金额度将在每月定期披露，受所有用户监督，透明度更高；
        li 金盾计划的资金厚度、收购逾期或违约债权的反应速度将优于常规的保证金制度，可以更有效得维护投资用户的权益；
      .tit1 【使用】金盾计划是如何使用的？
      .detail 如果线上项目发生违约，金盾计划最迟将在该项目到期之日之后的第30个自然日当日收购该项目债权。在收购不良债权的动作发生之前，期间利息按照该项目原定的年化收益率支付投资人。为提升这笔专项资金的透明度，网利宝会每月定期披露金盾计划的具体金额，供投资人监督。
      .tit1 【规模】金盾计划在上线之初有多少资金？资金规模是否可以覆盖风险？
      .detail 金盾计划上线初期，网利宝针对成功撮合的借款项目，根据每笔借款项目的风险等级，按成交金额的一定比例向合作机构拟提了超1千万的专项资金保证该计划顺利运行。在此专项资金可覆盖风险的范围内，金盾计划将最大限度降低不良债权给相关投资用户带来的损失，后续随着平台交易量的不断增加，网利宝会在此基础上建立、健全此专项资金收购不良债权的各项机制，吸引更多第三方机构、优质融资客户自愿加入 “金盾计划”，扩充此专项资金的储备额度，尽力维护网利宝投资用户的权益。
    //.js-num-box(style="position:fixed; top:0; left:0; width:100%; height:8rem; background:#000; color:#fff;")
    .sp-alt
      img(src="/static/imgs/mobile_activity/shield_plan/file.jpg")

    script(src="/static/src/subMobile/lib/weixin/jweixin-1.0.0.js")
    script(src='/static/scripts/component/webview.js')
    script(src='/static/scripts/mobile_activity/shield_plan.js?v=2016051301')