-load formatters
-load mathfilters
doctype html
html
  head
    - with '网利宝' as title
    include include/common_head
    - endwith

  body(style="background:#fff")
    .full-container
      .topbar
        .container.row
          .user-div
            i.icon-phone.font-l &nbsp;
            span 客服热线：
            span 4008-588-066

            span.margin-left-m 在线客服：
            a.topbar-anchor.icon.icon-qq#top-qq(href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAxODg4N18yMDU1NjlfNDAwODU4ODA2Nl8yXw", data-role="hover", target="_blank")

            span.margin-left-m 关注我们：
            a.topbar-anchor.icon.icon-weibo(href="http://weibo.com/u/5000682691", target="_blank", data-role="hover", data-target="#qrweibo-top")
            a.topbar-anchor.icon.icon-weixin(href="javascript:void(0)", data-role="hover", data-target="#qrcode-top")
            a#qrweibo-top.weibo-qr-code(href="http://weibo.com/u/5000682691", target="_blank", style="display:none", data-name="hoverbox")
              img(src="/static/images/weibo-nqr.png")
            img#qrcode-top.icon.weixin-qr-code(src="/static/images/weixin-nqr.png", style="display:none", data-name="hoverbox")
            span.mobile-app-top
              span.icon.icon-mobile-app
              span 手机网利宝
              .mobile-app-top-prompt
                div(style="height:30px; top:-20px; position:relative;")
                a.mobile-app-apple(href="https://itunes.apple.com/cn/app/wang-li-bao/id881326898?mt=8", target="_blank", title="iPhone版")
                a.mobile-app-android(href="https://www.wanglibao.com/static/wanglibao.apk", title="Android版")

    .full-container-white.fudong
      .container-navigation
        .row
          .span2
            a(href='/')
              .wlb-logo
          .span10
            .nav-items.xiao-nav
              ul
                mixin nav-item(name, link, new_class, free)
                  if activeItem == name
                    li.nav-item.active
                      a.nav-item-anchor(href=link, class=new_class)= name
                      if free == 'yes'
                        span.icon.icon-free 免费
                  else
                    li.nav-item
                      a.nav-item-anchor(href=link, class=new_class)= name
                      if free == 'yes'
                        span.icon.icon-free 免费

                +nav-item('首页', '/', '', '')
                +nav-item('理财专区', '/p2p/list/', '', '')
                +nav-item('基金', '/fund/products', '', '')

                +nav-item('安全保障', '/security', 'left-line', '')
                +nav-item('帮助中心', '/help', '', '')
    .wrap.koMovie
      .gold2
        .denelu-form
          h1.biaoti 注册即送20元红包
          form#register-modal-form.login-form.dale(method='post', action='/accounts/register/ajax/')
            - csrf_token
            .form-row
              .form-control-group
                .span12
                  input#reg_identifier.com-tu.tu1(type="text", name="identifier", placeholder="手机号")
              .form-row-error
            .form-row.voice
              .span12-omega.hidden.show
                没有收到验证码？请尝试<a href="/api/ytx/send_voice_code/" class="voice-validate">语音验证</a>
              .form-control-group
                .span6
                   input#id_validate_code.com-tu.tu2(type="text", name="validate_code", placeholder="验证码", autocomplete='off', title="验证码")
                .span6-omega
                   button#button-get-validate-code-modal.button-large.pptv-huoqu-ma.greenBtn(type='button',style="width:100%;margin-left:0") 获取验证码
              .form-row-error

            .form-row
              input#reg_password.full-width.com-tu.tu3(type="password", name="password", placeholder="密码", autocomplete="off", maxlength="20")
              .password-strength-container
                span.password-strength-1
                span.password-strength-2
                span.password-strength-3
              .form-row-error
            .form-row
              input#reg_password2.com-tu.tu3(type="password", name="password2", placeholder="确认密码", autocomplete='off', title="确认密码", maxlength="20")
              .form-row-error
            .form-row.form-bottom-bar
              .agreement(style="padding:0 0 10px 0;text-align:left")
                label(for="agreement",style="position: relative;top: 3px;")
                  input(type="checkbox", name="agreement", checked="checked", id="agreement", data-value="agree")
                | 我同意<a href="/agreement/" target="_blank">《网利宝注册协议》</a>
                .form-row-error
              button#register_submit.button-account.span10.xun-zhuce(type='submit') 注 册
            .space-vertical-s
          p.xun-p 已有账号，
            a(href="/accounts/login/") 立即登录
    .present-content
        .register-present
            .register-h
                span.register-title.icon1
            .register-image
                span.register-span
            p.register-font
                b 成功注册
                网利宝会员,即可得
                b 20元
                网利宝现金红包
        .register-present.second-content
            .invest-h
                span.register-title.icon2
            p.second-font
                b 首次投资100元起,
                加送10元电影券一张
            p.invest-image
                span.invest-money.money10
            p.second-font
                b 首次投资≥500元,
                加送20元电影券一张
            p.invest-image
                span.invest-money.money20
            p.second-font
                b 首次投资≥1000元,
                加送50元电影券一张
            p.invest-image
                span.invest-money.money50
        .register-present
            .invitation-h
                span.register-title.icon3
            .telephone-charge
                span.telephone-img
            p.invitation-welfare
              b 成功邀请好友
              注册网利宝会员,即可共享
              b 60元
              话费
    .san-new
      .san-new-content.container
        .row.gold-dl-row
          .san-span
            dl
             dt.com.com-trust
             dd.pp-zi
               h3 信赖
               p IDG资本投资
               p 第三方100%本息保障
          .san-span
            dl
             dt.com.com-security
             dd.pp-zi
               h3 安全
               p 招商银行全程监管
               p 账户资金安全由平安保险承保
          .san-span
            dl
             dt.com.com-authority
             dd.pp-zi
               h3 权威
               p 洛克菲勒家族
               p 全方位战略合作
    .content-process
      .content-pptv
        .process-text 投资流程
        .process-list
          .circle-free.circle-float
            .close
            .last
            .next
            img(src="/static/images/pptv/free.jpg")
          .triangle-start
            .start-cont
          .circle
            .circle-body.free
            .circle-txt 免费注册
          .triangle-center
            .center-cont
          .circle
            .circle-body.atte
            .circle-txt 进行认证
          .triangle-center
            .center-cont
          .circle
            .circle-body.recharge
            .circle-txt 充值账户
          .triangle-center
            .center-cont
          .circle
            .circle-body.tender
            .circle-txt 成功投标
          .triangle-center
            .center-cont
          .circle
            .circle-body.collec
            .circle-txt 自动收款
          .triangle-end
            .end-cont
    .san-new
      .pptv-list
        .gold-footer
            dl.beijing
              dt.hei 活动规则
              dd 1. 所有抠电影用户均可以参加；
              dd 2. 手机号为网利宝唯一账户，每个身份证号只可绑定一个网利宝账号；
              dd 3. 红包使用期限：2015年5月13日-8月12日；
              dd 4. 投资项目到期后本金+利息+红包金额可一并提现；
              dd 5. 红包均只能使用一次，使用后是否有余额红包即失效；
              dd 6. 登陆网利宝官网：www.wanglibao.com，或者用APP进行投资理财；
              dd 7. 本活动不收取任何费用，谨防上当受骗：
              dd 8. 刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
              dd 9. 网利宝对此活动享有最终解释权。

    .pptv-bottom.content-process
      img(src="/static/images/pptv/pptv-bottom.png")
    script.
      require(['/static/js/hover.js','/static/js/pptv_redpack.js'])



