-load formatters
-load mathfilters
doctype html
html
  head
    - with '网利宝' as title
    include global/g_head
    - endwith
    link(href="/static/styles/pc/video-js.min.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet",href="/static/styles/pc_activity/life_style.css")


  body(style="background:#eefaff")
    #fullpage
      .section
        include global/g_nav
        .banner.clearfix
      .section
        .life_nav.clearfix
          ul
            li
              span.life-com.icon1
              |你可能踩过的雷
              img(src="/static/imgs/pc_activity/life_style/lei_click.jpg")
            li
              span.life-com.icon2
              |他们怎么说
              img(src="/static/imgs/pc_activity/life_style/them_click.jpg",style="left:85px")
            li
              span.life-com.icon3
              |贴心答疑
              img(src="/static/imgs/pc_activity/life_style/heart_click.jpg",style="left:98px")
        .main-box#main-box.clearfix
          .fp-prev.prev
          .fp-next.next
          .ul-point(data-num="lei-box")
            ul
          .slide-long#lei-box
            .slide-div
              .lei-box
                h1 案例一：超高息利诱，漂洋过海来骗钱
                h2 月收益高达30%，岂料本金难收回
                p(style="float:left") 自从当了全职妈妈，刘女士的生活就围着孩子转，闲下来的时候也想赚钱减轻下家里的负担。
                p 2015年9月份有一次上网搜索怎么投资能赚钱，看到了一个广告，就点了进去。看了一下起投金额不是很高，才60元就能投资，而且还能帮助别人解决困难。刘女士还加进官方QQ群，看里面的投资人聊，慢慢了解了该网站产品的投资流程：平台发行一种虚拟物品XXX，投资人需先以“提供帮助者”的身份去购买，投入资金最低60元最高6万元，固定收益都是每月30%的利息。看到群里的人都赚了钱，自然心痒痒。
                img(src="/static/imgs/pc_activity/life_style/lei_icon1.jpg")
                p(style="width:670px") 于是刘女士尝试着先投了1000元，30天后在在平台提出申请，别人打款给你。当时很快就有人“帮助”了，等她把本金和利息转回银行卡，才算吃下一颗定心丸。每次投资大概都在30天左右，时间很短，想着钱很快就能出来，所以她加大了投资额，还帮老公开通了一个账户，领推荐奖励，前前后后加起来大概投了10多万。后来看到有人提醒这种投资风险比较大，就想着年前赚一笔，年后再换别的投资，谁知道12月中旬的时候平台奖金被冻结，用老公的号打钱秒配，也没办法提现，联系客服也只是让等一等。后来群里只有投资人在讨论维权，还不知道能不能把本金追讨回来。
                p 这属于典型的“庞氏骗局”，通过高息利诱投资人“投资”，很多人也明知道有风险，但是由于贪婪，于是带着投机的心理进去玩儿玩儿，认为能捞一把是一把。不要忘了：当你以为自己是个聪明人捞金的时候，你怎么知道自己不是别人的“接盘侠”？不是最后垫底的那个？
                p.lie-p 骗局解析：
                p
                  span 1、 这种平台没有真实的投资项目，也不是虚拟货币，算不上真正的投资、理财形式。
                  br
                  span 2、高额利息是利用新投资人的钱来向老投资者支付，随着时间的推移，出场的人越来越多，进场的人越来越少，那么自然资
                  br
                  b 金链就会断裂，游戏崩塌，没离场的投资人全部都会血本无归。
                  br
                  span 3、此外，该形式是个人针对个人打款，若利用打款记录去起诉收款人，A追查B，B追查C，可AB、BC间并无直接联系，取证难度大。
            .slide-div
              .lei-box
                h1 案例二：薅羊毛需谨慎，小心下面藏老虎
                h2 一不小心打了新，一不小心财离身
                p(style="float:left") 小张是一家私企的高管，很早就接触投资理财，在2014年就接触过互联网金融，在工资之外赚了不少外快。
                p 2014年6月26日晚上23点左右，世界杯还没开始，小张闲的无聊，就打开了手机里的XX宝，通过浏览小张得知有一家网贷平台明天新开业，前三天都可以打新，每人限额两万，收益也挺让人满意的。
                p 为此，小张仔细研究了那家新的平台，从网站的第一印象来讲：制作不够精美。联系该平台客服，客服直说：平台是自己团队研发非外包，后期会慢慢完善起来精致起来。小张就没有再纠结，得出：还OK，能赚钱就行！
                .left-div(style="width:619px;float:left")
                  p 接下来，他继续调查了一下公司的资质证书，实力也不错，注册资本5000万，网站备案系统也完善，均可以网上查到。但小张发现，唯一不足的是平台只有打新标，没有其它标的。平台客服解释说：公司上线前三天主推打新标，之后会陆续更新正常标的。
                  p 又和客服了解了一下别的问题，很快球赛马上就开始了，平台明天也准备开标了，小张想投吧不就两万，平台实力还不错，另外还可以随时提现，应该可以让人放心，大不了发现问题及时提出来。
                .img
                  img(src="/static/imgs/pc_activity/life_style/lei_icon2.jpg",style="float:right")
                p 可是万万没想打，次日平台开业，小张问客服要平台老板的身份证，结果客服答曰“老板不在”。紧接着上午就有人反映提现没到，下午群里就炸开了锅，有人说平台跑路了！小张还是第一次遇到平台跑路，而且还是短短上线半天时间就跑路的平台，简直猝不及防。
                p 小张通过两万元得到了深刻的教训，同时也建议投资新手们：打新不可匆忙上阵，起码要冷静几天，羊毛虽厚，说不定下面藏着的是老虎！
                p.lie-p 骗局解析：
                p
                  span 1、  有些骗子平台打着圈钱就跑的心态，推出高息标的吸引投资者投资，坐等投资人上钩。
                  br
                  span 2、 互联网金融发展迅猛，几乎每天都有几家P2P平台上线，对于新平台的甄别，不仅要看线上展示的资质，更要深入调查，如果能实地考察更佳
            .slide-div
              .lei-box
                h1 案例三：秒标看上去很美好，千万不要贪多
                h2 聪明反被聪明误，天上掉馅饼变陷阱
                p(style="float:left") 已经对P2P理财较为熟悉的投资者都知道秒标，小刘就是一个专门投资秒标的“秒客”。
                p 所谓秒标是平台为招揽人气发放的高收益、超短期限的借款标的，通常是网站虚构一笔借款，由投资者竞标并打款，网站在满标后很快就连本带息还款。
                p 小刘在各大论坛寻找秒标的相关信息，上班的时候有朋友告知一家平台有新的秒标，于是就打开网站也没怎么考察，直接投了1万元，作为一个职业“秒客”，他相信进得早出得快，就不会有问题。
                .left-div(style="width:619px;float:left")
                  p 还没下班，他就收到了本息一共10750元，简直就是天上掉馅饼了。回到家后，发现该平台又有新的秒标，于是进行复投。
                  p 秒标在一般平台都有限制，但是这个平台几乎天天都有秒标，小刘和朋友轮流盯平台上标动态，基本都能抢到，于是把其它平台的投资的资金一股脑都投到了这家网站，从最初的1万逐渐增长到了几十万，加上朋友的钱，超过了一百万。
                  p 突然有一天朋友告诉小刘网站不能投标了，他登录网站发现根本登不上，客服也联系不到，投进去的本金和收到利息都还未到提现期限，根本无法提现，只是一堆漂亮的虚拟数字。
                .img
                  img(src="/static/imgs/pc_activity/life_style/lei_icon3.jpg",style="float:right")
                p(style="width:1014px") 小刘懊恼不已，从此见到秒标退避三舍，也不再耍“秒客”的小聪明，因为不想吃馅饼的时候，一脚踩进陷阱！
                br
                p.lie-p 骗局解析：
                p
                  span 1、 疯狂发布“秒标”的平台要提高警惕，平台通过高息秒标吸引充值投资。
                  br
                  span 2、如果发秒标平台规定账户中的资金在几个月内不能提现，就要远离，可能会在提现锁定期内跑路。
                  span 3、某些P2P网贷平台的“秒标”可能就是庞氏骗局，给投资者以诱饵，利用新投资者的钱向老投资者支付利息和短期回报，制造赚钱的假象，进而骗取更多投资。
          .slide-long#them-box
            .slide-div
              .lei-box
                h2 理财是爱好，赚钱不忘身边人
                .left-div(style="width:563px;float:left")
                  p 我是江苏人，可能是受地域影响吧，很早就开始投资理财了，市面上能看到的投资形式，基本都尝试过。
                  p 所以当P2P刚火起来的时候我就关注了，所以对P2P一边是海水一边是火焰的的发展感触颇深。要想在P2P行业赚一份安稳钱，必须要选对平台才可以，不能只看收益不看安全。
                  p 我在能源行业工作，薪酬还算丰厚，支付家里的日常开销绰绰有余，所以拿出一部分资金专门做投资理财，目前信托、股票、基金、P2P都有。理财算是我的爱好，遇到新的理财方式总想尝试一把。从最初的学习，再到分散投资、阶梯投资，现在我已摸索出属于自己的投资策略。
                .img(style="width:442px;height:320px;position:relative;top:8px")
                  img(src="/static/imgs/pc_activity/life_style/peple_one.jpg",style="float:right")
                p 2014年年底的时候，在搜APP的时候偶然看到了网利宝，比较好奇就下载了解了下，算是资历比较老的用户。去年还自费去网利宝总部参观考察了一番，重新认识下投资的平台工作团队，领导层专门接待还解答了问题，顺便看一看聊过天还见过面的网利妹妹。
                p 从刚开始的小试牛刀，到网利宝B轮融资时加大投资，再到现在，投资额已超过百万，虽然是闲钱，但还是要对自己负责。实地考察让我踏实不少，能看到网利宝员工日常的工作状态，我发现这是一支年轻的做实事的团队，期待以后的发展。
                p 在网利宝各种组织里基本上都能看到我的身影，现在我大部分时间活跃在网利宝的QQ官方交流群里。参加的活动多了，投资经验也比较丰富，一般的问题都能帮着解答，都快成专业的“客服”了，还被新入群的朋友问过是不是工作人员，我也只能笑笑不解释。
                p 也有人问过关于复投的问题，我投资的钱基本都会复投，因为自己本身消费比较理性，家庭开销这部分也不靠收益，我算是个例。其实在平台靠谱又无需着急用钱的时候，完全可以复投，使自己的收益最大化，当然也要和自身的用钱安排结合起来，搭配出适合自己的理财方案。
                p 手里有钱做事不慌，其实有钱并不是最好的，能让钱动起来才是一个好的态度。我也把网利宝介绍给了身边的朋友，不光能帮他们赚钱还能获得一部分佣金，何乐而不为呢？
            .slide-div
              .lei-box
                h2 创业和投资，都是为了更好的生活
                .left-div(style="width:663px;float:right")
                  p 我是来自东北的天蝎男，已过而立之年。都说天蝎座感觉敏锐、深谋远虑，其实来北京我只是趁还年轻闯一闯，不拼一把谁知道明天会怎样呢？
                  p 2008奥运之年我就来北京了，当时在北京的同学不少，想着一起创业打下属于我们的一片天地。由于种种原因，没能直接创业，找了一份销售的工作，先在北京站住脚再说。
                  p 当时手里存不下什么钱，好不容易攒下来点钱，和朋友吃顿饭就没了。精神上始终有一根弦支撑，才让我一直坚持下来，慢慢的有了一部分积蓄。我属于那种闲不下来的人，有了钱就琢磨着怎么把这部分钱变更多，也买过股票，就当是当初交了学费吧。后来又换了其它的理财方式，还是以稳健为主。
                  p 来北京后我也收获了属于自己的爱情，都说成家立业，既已成家当然还是想立业，而且政府也大力支持创业。当初创业的激情还在，于是去年和朋友一起创业开了天爱好膳乐施荟，主要做生鲜食材类的O2O尝试，在用一款软件看招聘信息的时候，收到一份来自网利宝的红包，这是我和网利宝第一次相遇。
                .img(style="width:334px;height:475px;position:relative;top:8px;float:left")
                  img(src="/static/imgs/pc_activity/life_style/them_people2.jpg")
                p 当时就点进来注册了网利宝，发现原来是一家P2P公司，一开始没敢投资。后来上网搜网利宝的信息，看到公司的管理团队十分强大，而且还获得了IDG的A轮融资，由于自己本身也创业，对IDG这种大的投资机构比较敏感。
                p 经过几个月的观察，2015年十一之后才开始正式投资，也正好赶上平台有线下活动，创业初期不是太忙，我就和朋友一起来参加了“初冬燕席”和“名人下午茶”，也算是来公司实地考察一下。来过之后，发现整体还不错，是一个做踏踏实实做事的团队，也大大增加了我的投资信心！
                p 虽然之前做个其它投资，但网利宝开拓了我的投资视野，现在固定投了两三个P2P平台，多种理财方式互为补充，把自己的用钱需求和投资需求有效结合，避免资源浪费。获得的收益基本用来个人消费，主要是维护自己的朋友圈，也减轻了不少创业的压力。
                p 创业和投资两条腿走路，才能让我的生活变得更舒服惬意，让老婆能在我身上能看到一个她想要的未来。我下一步打算就是要一个小宝宝，这样我们的小家庭才会更圆满，这也是我继续奋斗下去的理由。
                p 回顾走过的这些年，我很庆幸2008年就来到了北京，再就是善用投资理财，解决了很多财物上的后顾之忧。世界这么大，总归有人折腾，为什么这个人不是我呢？所以，北京，我还在！
            .slide-div
              .lei-box
                h2 80后老师，努力给女儿一份保障
                .left-div(style="width:643px;float:right")
                  p 我是郑州古荥镇一个农村的普通教师，按年龄属于80后，可是由于工作原因，一直保留着心底的那一份童真。
                  p 现在大家都喜欢给自己或者别人贴标签，可我不太喜欢用一两个字或者词来定义一个人，我们身边的人可能都很普通，如果用心去交流会发现他们都与众不同。我喜欢听乡音说家长里短，喜欢孩子们天真无邪的笑声，我热爱脚下的这片土地，并心怀感激。
                  p 就像艾青写过的一首诗“为什么我的眼里常含泪水？因为我对这土地爱得深沉”，所以毕业后，没像其他人一样离开家乡去大城市拼搏，而是选择回到农村做了一名老师，和小朋友们打交道。
                  p 大城市的车水马龙灯红酒绿我并不羡慕，因为看到孩子们开心的样子，我就已经十分满足，我是他们的潘老师，更是他们的大朋友。我可以让手里的一张纸迅速变成一朵花、一只纸鹤、一个小星星......看着孩子们闪亮的眼睛，我发现老师并不只是一份工作，更是一种责任！
                .img(style="width:351px;height:499px;position:relative;top:8px;float:left")
                  img(src="/static/imgs/pc_activity/life_style/them_people3.jpg")
                p 其实，刚开始工作的时候我对金钱没太多的概念，留在家乡也比较安逸，生活压力并不大。而且经常和小朋友们在一起，工作也很快乐。
                p 在家里，有一份稳定的工作，很快就会面临结婚生子的问题。结婚后，就有了压力，算是自己给自己定的任务，不求大富大贵但要让老婆过上衣食无忧的生活，这也成了我更加认真工作、努力赚钱的动力。
                p 对于理财，我还是谨慎的，在农村理财选择不多，刚开始把钱存农村信用社，后来慢慢买银行理财。一直听说炒股能赚钱，可对于我来讲，股市风险比较大，就算在股市最疯狂的时候，也没敢尝试。
                p 平时也会上网看一些别人分享的理财经验，学以致用。在2014年7、8月份的时候吧，偶然发现了P2P，发现投资后会有固定收益，而且比银行高很多，尤其是加上新手奖励更加丰厚，所以就进行了尝试。
                p 投了两个平台后，也算稍有经验，甚至可以给亲戚、朋友分享一些投资心得。2015年开始接触网利宝，虽然已投过其它平台，但是谨慎的我还是从最低额度100元开始尝试。现在大部分的投资都放在网利宝，还号召朋友参加领佣金的活动，虽然佣金不多，但是也是一笔额外收益。
                p 这两年没有什么大的开销，本金继续投资，投资的收益会拿出来放在银行，买一些活期产品，化零为整把收益攒起来也算我的乐趣之一了。如果有活动，也会把积攒的收益拿来投资参加活动。
                p 现在我们家妞妞快两岁了，她是我这辈子最大的宝贝，之前我是为了赚钱而投资，每天我都很珍惜和妞妞在一起的时光。我终于知道我投资的意义，绝对不是为了赚更多的钱，而是给妞妞一个更好的生活，给她的未来一个更好的保障。
                p 所以，今年的投资收益，我准备全取出来，给女儿买一份保险，这是一份最基础的保障，希望她能够快乐无忧的生活，我也会在她的成长之路上一直陪伴。
                p 投资的本金我暂时不会动，还是按照原计划继续投资网利宝，希望像滚雪球一样让手中的钱滚起来，靠自己的不断努力给我们这个小家庭一个更温暖的未来。
            .slide-div
              .lei-box
                h2 人生需要责任，投资也不得马虎
                p(style="float:left") 我不是传统意义上的好学生，但是我想做传统意义上的好男人，让老婆轻松，让孩子快乐。
                p 今年我就三十岁了，已经是两个孩子的爸爸，都说我是顾家的好男人，可是上学那会，真算不上好学生。大学还没毕业就跑到上海打工，找工作的时候才知道学历的重要性，但是拗着一股劲迎难而上，工作日去工作，周末就去上海电视大学充电，很快从普通工人就变成了管理人员。
                p 我身上的一股执拗劲儿一直没改过，直到2009年5月11号上午11点25分，大女儿出生了，当我抱着她的那一刻，突然眼泪就流了下来，从我抱她的那一刻起，我就要对她以后的生活负全责了，一种责任感代替了我身上的执拗。
                p(style="margin-bottom:0px;float:left") 我连自己的生日都会忘记，很奇怪把女儿的生日记得那么清楚，还有一个时间记得比较清楚，就是2014年10月。20114年我准备
                .left-div(style="width:478px;float:left")
                  p 自己创业，于是来到了云南、贵州一带包项目，没想到创业比自己想得难多了，最终以失败告终，一下就没了收入来源。突然想到了10月份看到的网利宝，那时候钱基本是做银行理财，收益5%左右，乍一下看到网利宝12%以上的项目，有点不太敢相信。后来慢慢了解，发现有一个项目是自己信任的公司做担保，于是先拿了100块试试，我想有很多人都是从100开始投的吧。
                  p 虽然投的少，但是每笔回款都有短信提醒，感觉还是比较靠谱的，等本息到帐后逐渐加大了投资。由于家庭的一些情况，2015年就没怎么出去工作，唯一的收入就是投资理财的收益，其中网利宝占了很大一部分，所以我关注网利宝比一般人要关注得更多。
                  p(style="margin-bottom:0px") 后来逛网利宝的贴吧，看到有些问题还没来得及解答的时
                .img(style="width:526px;height:420px;position:relative;top:8px")
                  img(src="/static/imgs/pc_activity/life_style/them_people4.jpg",style="float:right")
                p 候，我就帮着解答，因为都是一些琐碎的小问题，自己都有实操经验，正好用得上。回答得多了，渐渐的竟然成了“专家”，好多人加我来问投资的问题。
                p(style="float:left") 他们不只问网利宝，也会问其他平台，为了对自己的言行负责，我都会去他们说的平台好好了解一番，才给出最终答案。
                p 去年几个有雷的平台，基本上都有人问过，我也告诉他们要谨慎对待，现在想想自己也有点后怕，万一给的建议不对，别人因为自己踩了雷怎么办？所以每一次我回答都十分认真对待，抓住细节不放，对别人更是对自己负责！
                p 2015年过去了，我想对网利宝说一声谢谢，是投资理财让我的生活更体面；16年还是想去上海创业，趁有精力为家人拼一把，让孩子和老婆过上舒坦的生活。
          .slide-long#heart-box
            .slide-div
              .lei-box
                h2 P2P 网贷的资金池指的是什么？如何判断平台是否有资金池？
                p.tit-strong(style="float:left") ① 何为“资金池”？
                p 所谓资金池，是指先归集资金、再寻找借款对象等方式，使放贷人资金进入平台的中间账户，产生资金池。从法律上讲，资金池极容易导致非法吸收公众存款犯罪行为的发生。具体来说，平台在吸收投资人资金的时间节点，是不存在真实的借款人主体的，这也导致平台作为实质的借款主体吸收了投资者的资金而无法解释其居间信息中介的特性，即便在吸收资金后匹配了真实的借款项目，但平台实质上已经背离了中介特性，做的是类银行的吸储放贷的工作。这种资金池行为将极易导致非法吸收公众存款的犯罪行为。

                .left-div(style="width:566px;float:left")
                  p.tit-strong.no-margin ② 投资者如何甄别资金池或自融等平台风险?
                  p.no-margin 一、是远离高息平台。
                    br
                    span 对于提供高额利息的平台须保持谨慎心态，因为这种平台很有可能通过高息为诱饵吸收投资者资金，做的却是借新还旧、庞氏骗局的事情。
                  p.no-margin 二、是要看平台的客户集中度。
                    br
                    span 倘若平台发标高度集中到几个借款大户时，投资者要格外注意，因为这可能存在一定关联性自融的风险。
                  p 三、是仔细阅读平台对于借款标的的描述。
                    br
                    span 如果对标的的描述含糊、不清晰时，有可能标的还不存在，平台有可能通过先吸收资金再找借款项目，这时平台做的即是资金池的事。吸收资金后不找借款项目，此时平台就涉嫌自融自用。
                .img(style="width:438px;height:308px;position:relative;top:80px")
                  img(src="/static/imgs/pc_activity/life_style/heart_icon1.jpg",style="float:right")
                p.h-p 与第三方支付通道合作有什么作用？
                p 资金托管的含义就是资金流运行在第三方托管公司，而不经过平台的银行账户。从而避免平台因为经营不善导致挪用交易资金而给交易双方带来风险。
                p 举个例子，网利宝与汇付天下、易宝、快钱三家知名的第三方支付平台合作，投资人的资金将直接投放到第三方支付账户中，然后再由第三方支付平台转给借贷人，这样就避免了平台自建资金池的风险，大大提高了平台投资资金的透明度;同时由于资金的使用会在第三方支付平台上留下支付凭证，这样也给行业和政府管理网贷提供了便捷。
            .slide-div
              .lei-box
                h2 怎么判断P2P网贷平台会不会跑路？ 有没有什么征兆？
                p.tit-strong(style="float:left") （1）P2P平台的信息透明度低
                p(style="float:left") 很多投资人通过P2P平台去投资，只是把钱转到了P2P平台上，但实际并不清楚钱最终是投资到哪些项目中了。
                p.no-margin 在跑路的平台中，大多数是没有建立第三方资金保管账户的平台，投资人的资金通常都是直接打到P2P平台。P2P平台对资金流向有控制权，资金流向不明确，平台很容易跑路。 而在正规的P2P平台，投资人需要在第三方支付平台开设账户，对自个的账户具有控制权，可以进行检查、充值、提现等操作。
                .left-div(style="width:568px;float:right")
                  p.tit-strong(style="float:left;margin-bottom:20px") （2）超乎寻常的高收益率
                  p(style="margin-bottom:20px") 所有不给高收益的P2P平台都是耍流氓，但承诺给你超乎寻常得高收益的，也可能是给你下圈套。因为P2P平台的最终目的是为了盈利，而某些P2P平台为了提高市场占有率，加上投资人推广成本的迅速提高，基本上把所有的利润空间都让利给了投资人，以致平台本身无法盈利，陷入无法持续发展的危机中。
                  p(style="margin-bottom:20px") 因此，利息过高或过低的平台都不太靠谱，要么有集资的风险、要么无法持续发展、要么就是平台本身吸收了大部分的收益。
                  p.tit-strong(style="float:left;margin-bottom:20px") （3）短时间内出现大量大额标的
                  p 如发现一个平台近期发布都是一月标和天标，或者突然频频发布大额标，这就需要投资者留心了，说明投资平台也许需要许多资金，这也是近期平台跑路前多呈现的情况。
                .img(style="width:435px;height:385px;position:relative;top:8px;float:left")
                  img(src="/static/imgs/pc_activity/life_style/heart_icon2.jpg")
                p.tit-strong(style="float:left;width:100%") （4）平台频现负面信息
                p 负面信息对一个P2P平台是致命的，这里边所指的负面音讯除了平台自身的，还有政策法规，平台地点地域有关行业的信息，一旦负面音讯传来一定要多加留心。
                p.tit-strong(style="float:left") （5）出现提现困难
                p 正常情况下，投资人在P2P平台购买的产品到期后，就应该能正常的支取资金，包括本金和收益。但P2P公司资金链紧张的时候，可能就会出现支取延期困难。当然并不是所有的延期都是代表着公司要跑路，存在延期，至少说明资金可能出现了错配，所以投资人应该多加注意。特别是当出现和P2P公司失联时，那很有可能就是公司跑路了。
            .slide-div
              .lei-box
                h2 如何考量一个P2P平台是否靠谱？
                p.tit-strong(style="float:left") 第一点，要看平台的资质。
                p(style="float:left") 营业执照，组织机构代码证，注册资金等要仔细核对，很多平台的资质是造假的，不仔细核对容易上当，相关信息可以到当地工商管理局网站上去查看核对。如果有条件的话，可以实地考察平台。
                .left-div(style="width:565px;float:left")
                  p.tit-strong(style="float:left;margin-bottom:20px") 第二点，查看项目情况。
                  p(style="margin-bottom:20px") 绝大多数投资人很难对项目的安全性做出专业判断。这方面建议投资人看看平台披露的信息是否全面。通常来讲，平台本着对投资人负责的态度，会对融资项目情况进行最大程度的披露，比如融资方是谁，做什么业务，资金用途是什么，还款保障有哪些，相关合同是否齐全等等。这些信息披露得越全面，平台的透明度越高，也说明平台是真心诚意地在做事情。
                  p.tit-strong(style="float:left;margin-bottom:20px") 第三点，网站体验如何。
                  p 平台要想长远发展，必须有一支实力强大的产品技术团队，包括产品经理、技术人员和设计师等。如果网站不是自主开发的，没有一支像样的产品技术团队，要么说明平台不想好好做，要么说明平台的技术能力薄弱。不管是哪种情况，对于投资人的资金安全来说都不是一件好事。
                .img(style="width:439px;height:385px;position:relative;top:8px;float:right")
                  img(src="/static/imgs/pc_activity/life_style/heart_icon3.jpg")
                p.tit-strong(style="float:left;width:100%") 第四点，看看是否有资金托管。
                p 资金托管是保障投资人资金不被挪用的最重要方式之一，平台可以与第三方支付机构或银行进行合作。资金托管需要支付费用，十亿以上交易额的平台，在支付方面的费用预计能够达到百万量级。平台对待资金托管及费用承担的态度在一定程度上能说明问题。
                p.tit-strong(style="float:left") 第五点：看平台的整体收益情况
                p 金融行业是个风险定价的行业，高风险高收益、低风险低收益。正规的平台收益都不会太高，一般在6%-15%左右，只有刚上线的平台为了人气才会发收益稍等提高点，但一般情况下也不会超20%。遇到一些收益特别高的平台，最好还是远离吧。
      .section.view-show
        .show-box
          h1
          .tv-box1.video-js
            video( id="really-cool-video", class="video-js vjs-default-skin vjs-big-play-centered", controls, preload="auto", width="504", height="339", poster="/static/imgs/pc/life_style/black.png", data-setup='{"language":"zh"}' )
              source( src="https://wanglibao1.oss-cn-beijing.aliyuncs.com/media/wlb_kevin.mp4", type='video/mp4')
              source( src="https://wanglibao1.oss-cn-beijing.aliyuncs.com/media/wlb_kevin.ogg", type='video/ogg')
              p.vjs-no-js 你的浏览器不支持该播放器，请用高级浏览器打开(chrome,firefox,safari,ie9以上等)！
          .tv-box2
            video( id="really-cool-video2", class="video-js vjs-default-skin vjs-big-play-centered", controls, preload="auto", width="504", height="339",poster="/static/imgs/pc/life_style/black.png", data-setup='{"language":"zh"}' )
              source( src="https://wanglibao1.oss-cn-beijing.aliyuncs.com/media/wlb_luxy.mp4", type='video/mp4')
              source( src="https://wanglibao1.oss-cn-beijing.aliyuncs.com/media/wlb_luxy.ogg", type='video/ogg')
              p.vjs-no-js 你的浏览器不支持该播放器，请用高级浏览器打开(chrome,firefox,safari,ie9以上等)！
          p.leader(style="margin-right:54px")
            span 网利宝CEO
            &nbsp&nbsp
            |赵润龙
          p.leader
            span 网利宝总裁
            &nbsp&nbsp
            |陆晓野



  script.
      var v = new Date().getTime()
      require(['/static/src/pc/life_style.js?v=20160126'])


