-load formatters
-load mathfilters
doctype html
html
  head
    - with '网利宝' as title
    include include/common_head
    - endwith
    meta(name="keywords", content="网利宝")
    meta(name="description", content="网利宝是针对中国中产阶级人群的一站式网络理财服务平台，网利宝把国外传统的“私人银行”模式引入中国，我们通过独有的用户投资专业评估体系和个人理财数据分析算法，利用PC和移动互联网等方式，为客户提供个性化投资产品推荐，降低理财门槛，提高投资者的理财收益水平。")
    link(rel="stylesheet",href="/static/stylesheets/day.css")
    link(rel="stylesheet",href="/static/stylesheets/activity.css")
  body.white-background
    .top
      .row
        .day-logo.span6
        .day-nav.span4
          ul
            li
              a(href="https://www.wanglibao.com/", target="_blank") 网利宝官网
            li
              a#xiaz 下载APP
            if user.is_authenticated
              li
                a(href="/accounts/home") {{user | display_name}} 的账户
              li
                a.logout(href="/accounts/logout?next={{ request.path }}") 退出
            else
              li
                a(href="/accounts/login/?next=/", target="_blank") 登录
              li
                a(href="/accounts/register/?next=/", target="_blank") 注册
    .list-banner
    .list-wrap
      h1 活动时间：2015年5月23日00:00:00—2015年6月10日23:59:59
        span.list-com.list-one
        span.list-com.list-two
      h2.list-com.list-three 历史榜单
      .day-box1(style="padding:0;height:500px")
        .day-left
          span.tu.list-com.list-thirteen
          h1.left-h1.day-com.six#left-h1 3月17日用户榜单
          .left-ul
            span.left-bj
            span.left-bar.list-com.list-twelve
            ul.dan#dan
              li.day-user-hight
                span 榜单
                span 用户
                span 投标金额
              //li
              //  span.day-user-hight2 1
              //  span 139XXXX2456
              //  span 25,000元
            ul.dan.shuang#shuang
              li.day-user-hight
                span 榜单
                span 用户
                span 投标金额
              //li
              //  span.day-user-hight2 2
              //  span 139XXXX2456
              //  span 25,000元
        .day-right
          span.tu.list-com.list-thirteen
          h1.left-h1.day-com.seven 点击历史查看相应榜单
          .day-tap
            .tap-top
              span.mon 3 月
              span.left-btn
              span.right-btn
              ul.sty
                li
                li
                li
                li
                li
                li
            .tap-view
              .day-long
                .day-yue.day-san(data-num="0")
                  ul
                    li.tab-hight
                      span SUN
                      span MON
                      span TUE
                      span WED
                      span THU
                      span FRI
                      span SAT
                    li
                      span 1
                      span 2
                      span 3
                      span 4
                      span 5
                      span 6
                      span 7
                    li
                      span 8
                      span 9
                      span 10
                      span 11
                      span 12
                      span 13
                      span 14
                    li
                      span 15
                      span 16
                      span 17
                      span 18
                      span 19
                      span 20
                      span 21
                    li
                      span 22
                      span 23
                      span 24
                      span 25
                      span 26
                      span 27
                      span 28
                    li
                      span 29
                      span 30
                      span 31
                .day-yue.day-si(data-num="1")
                  ul
                    li.tab-hight
                      span SUN
                      span MON
                      span TUE
                      span WED
                      span THU
                      span FRI
                      span SAT
                    li
                      span
                      span
                      span
                      span 1
                      span 2
                      span 3
                      span 4
                    li
                      span 5
                      span 6
                      span 7
                      span 8
                      span 9
                      span 10
                      span 11
                    li
                      span 12
                      span 13
                      span 14
                      span 15
                      span 16
                      span 17
                      span 18
                    li
                      span 19
                      span 20
                      span 21
                      span 22
                      span 23
                      span 24
                      span 25
                    li
                      span 26
                      span 27
                      span 28
                      span 29
                      span 30
                .day-yue.day-wu(data-num="2")
                  ul
                    li.tab-hight
                      span SUN
                      span MON
                      span TUE
                      span WED
                      span THU
                      span FRI
                      span SAT
                    li
                      span
                      span
                      span
                      span
                      span
                      span 1
                      span 2
                    li
                      span 3
                      span 4
                      span 5
                      span 6
                      span 7
                      span 8
                      span 9
                    li
                      span 10
                      span 11
                      span 12
                      span 13
                      span 14
                      span 15
                      span 16
                    li
                      span 17
                      span 18
                      span 19
                      span 20
                      span 21
                      span 22
                      span 23
                    li
                      span 24
                      span 25
                      span 26
                      span 27
                      span 28
                      span 29
                      span 30
                    li
                      span 31
                .day-yue.day-liu(data-num="3")
                  ul
                    li.tab-hight
                      span SUN
                      span MON
                      span TUE
                      span WED
                      span THU
                      span FRI
                      span SAT
                    li
                      span
                      span 1
                      span 2
                      span 3
                      span 4
                      span 5
                      span 6
                    li
                      span 7
                      span 8
                      span 9
                      span 10
                      span 11
                      span 12
                      span 13
                    li
                      span 14
                      span 15
                      span 16
                      span 17
                      span 18
                      span 19
                      span 20
                    li
                      span 21
                      span 22
                      span 23
                      span 24
                      span 25
                      span 26
                      span 27
                    li
                      span 28
                      span 29
                      span 30
    .list-wrap
      h2.list-com.list-three 红包规则
      ul.list-redpack
        li
          span 1
          |用户每天投标累计金额
          em ≥6
          |万元，将获得网站投资奖励；
        li
          span 2
          |每天投标累计金额
          em ≥6
          |万元的用户未排入前十名将各获得
          em 60元
          |红包；
        li
          span 3
          |若出现两名或两名以上客户投标金额相同时，则按当日投标时间先后排位。


    .list-footer(style='background:#6dbcdd;margin-top:40px')
      include include/activityFooter

  script(src="/static/js/lib/jquery.min.js")
  script.
      var xz=document.getElementById("xiaz");
       var v = new Date().getTime()
        xz.onclick=function(v) {
          xz.className='hight';
          var android, iphone;
          console.log(navigator.userAgent);
          iphone = /iphone/i.test(navigator.userAgent.toLowerCase());
          android = /android/i.test(navigator.userAgent.toLowerCase());
          if (iphone) {
            window.location.href = "https://itunes.apple.com/cn/app/id881326898";
            return true;
          }else if (android) {
            window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.wljr.wanglibao";
            return true;
          } else {
            window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.wljr.wanglibao";
            return true;
          }
      };
      for(var i={{top_len}}+1;i<=10;i++){
         if(i<=3){
           if (i==1){
              var str="<li class='list-day-user-hight'><span class='list-day-user-hight2'><b class='list-com list-nine'></b>"+i+"</span><span>虚位以待</span><span>虚位以待</span></li>";
           }
           if (i==2){
              var str="<li class='list-day-user-hight'><span class='list-day-user-hight2'><b class='list-com list-ten'></b>"+i+"</span><span>虚位以待</span><span>虚位以待</span></li>";
           }
           if (i==3){
              var str="<li class='list-day-user-hight'><span class='list-day-user-hight2'><b class='list-com list-even'></b>"+i+"</span><span>虚位以待</span><span>虚位以待</span></li>";
           }
           //var str="<li class='list-day-user-hight'><span class='list-day-user-hight2'>"+i+"</span><span>虚位以待</span><span>虚位以待</span></li>";
         } else {
           var str="<li><span>"+i+"</span><span>虚位以待</span><span>虚位以待</span></li>";
         }
         $('#list-day-user').append(str);
      }
  script.
    var v = new Date().getTime()
    require(['/static/js/hover.js','/static/js/list_day.js'])
