
html
  head
    link(rel="stylesheet",href="/static/stylesheets/activity.css")
  body
    include include/activityTop
    .gold(style='width:1100px;margin:0 auto;padding-right:0;')
      include include/activityRule
      .space-vertical-l
      include include/activityJiangRule
      .space-vertical-l
      include include/activityACTRule
      .space-vertical-l
    .footer(style='background:#000')
        include include/activityFooter