-load formatters
-load mathfilters
doctype html
html
  head
    - with '网利宝官网' as title
    include include/common_head
    - endwith
    link(rel="stylesheet",href="/static/styles/pc/pc.css")
    link(rel="stylesheet",href="/static/stylesheets/new_user.css")
  body(style="background:#ffd200")
    include global/g_nav

    .banner.pc-banner#banner
    .main-part
      .welfare1.clearfix
        span.welfare-icon
        .welfare-box
          p.welfare-tit 福利一：
          p.welfare-cont
            | 新手注册并实名即送20元红包 <br />
            | ①注册 &nbsp;&nbsp; ②实名认证
          p.btn-box
            if user.is_authenticated
              a(href="javascript:void(0);").red-btn.receive-red 实名领红包
            else
              a(href="/accounts/register/?next=/accounts/register/first/").red-btn.for-red 注册领红包
        img(src="/static/imgs/pc_activity/new_user/welfare-img1.png").welfare-img

      .welfare2.clearfix
        img(src="/static/imgs/pc_activity/new_user/welfare-img2.png").welfare-img
        .welfare-box
          p.welfare-tit 福利二：
          p.welfare-cont
            | 注册后首次完成充值， <br />
            | 即送100元红包。
          p.btn-box
            if user.is_authenticated
              a(href="javascript:void(0);").red-btn.recharge 注册充值
            else
              a(href="/accounts/register/?next=/activity/new_user/").red-btn 注册充值
        span.welfare-icon

      .welfare3.clearfix
        span.welfare-icon
        .welfare-box
          p.welfare-tit 福利三：
          p.welfare-cont
            | 新手投资理财最高送400元红包 <br />
            | 首次单笔投资≥10000元 送200元 <br />
            | 首次单笔投资≥20000元 送400元
          p.btn-box
            if user.is_authenticated
              a(href="javascript:void(0);").red-btn.manage-money 我要理财
            else
              a(href="/accounts/register/?next=/activity/new_user/").red-btn 我要理财
        img(src="/static/imgs/pc_activity/new_user/welfare-img3.png").welfare-img
    .rule-box
      .rule-tit 【新手任务攻略】
      .rule-cont
        p.p1 1、活动期间注册并实名认证成功即获得20元红包（投资500元可直减使用）；
        p.p1 2、注册后首次充值（充值金额≥100元）成功即获得100元红包（投资2000元可直减使用）；
        p.p1 3、注册后首次投资满额即可获得红包奖励，规则如下（奖励二选一）：
        p.p2 a).注册后首次投资单笔达到10,000元以上（包含）即获得200元红包（二次投资20000元既可直减使用）；
        p.p2 b).注册后首次投资单笔达到20,000元以上（包含）即获得400元红包（二次投资40000元既可直减使用）。
      .rule-tit.mt50px 【投资流程】
      .rule-cont
        p.text-center 注册网利宝账号——充值资金到账户——选择投资标——获得收益和奖励
    .use-rule
      .use-rule-tit 【红包使用规则】
      .use-rult-cont
        p 1、活动时间： 2015年9月22日-2015年10月31日；
        p 2、手机号为网利宝唯一账户，通过网利宝电脑官网、手机客户端、官方微信号主动新注册用户均可享受活动红包福利；
        p 3、红包统一以站内信形式通知，完成一次投资回款后即可取现，每个红包仅限使用一次，无论是否有余额均失效；
        p 4、首次单笔投资满额所赠红包为直抵红包，二次投资满额即可直抵使用。红包有效期自发放日起15天内有效。
        p 5、部分合作渠道来源用户无法享受此活动奖励，网利宝对此活动享有最终解释权。

    include global/g_footer
    include include/tracking

    .alert-page#alert-page
    //不是新用户 您不符合参加规则
    .alert-box.no-new-user
      span.alert-close
      .alert-cont.pt Sorry~您不是新用户
      p.txt-center.mt1r
        a(href="javascript:void(0)").alert-btn.close-per 我知道了

    //实名认证后
    .alert-box.to-realName
      span.alert-close
      .alert-cont.pt 实名认证后，奖励自动发放
      p.txt-center.mt1r
        a(href="/accounts/register/first/").alert-btn 去实名认证

    //充值后
    .alert-box.go-money
      span.alert-close
      .alert-cont.pt 充值后，奖励自动发放
      p.txt-center.mt1r
        a(href="/pay/banks/").alert-btn 去充值

    //投资后
    .alert-box.to-invest
      span.alert-close
      .alert-cont.pt 投资后，奖励自动发放
      p.txt-center.mt1r
        a(href="/p2p/list/").alert-btn 去投资

    //奖励已发放
    .alert-box.running
      span.alert-close
      .alert-cont 奖励已发放， <br />
        | 请在<a href="/accounts/message/" class="blue-txt">站内信</a>中查看。
      p.txt-center.mt1r
        a(href="javascript:void(0)").alert-btn.close-per 我知道了

    //back top
    .backtop
      a(href="javascript:;").backtop-box.inline-block.xl-backtop
        i.backtop-icon.inline-block
        span.backtop-txt.inline-block 回到顶部
      a.footer-weixin.inline-block
        span.weixin-code.inline-block
        span.weixin-icon.inline-block
      a(href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAxODg4N18yMDU1NjlfNDAwODU4ODA2Nl8yXw" target="_blank").footer-qq.inline-block

    script.
      require(['/static/js/new_user_activity.js'])

