-load formatters
-load mathfilters
doctype html
html
  head
    title 新手活动
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="baidu-site-verification", content="iBKXouRC1a")
    meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/stylesheets/newuser.css", media="screen, projection", rel="stylesheet", type="text/css")
  body
    .gold
      .box
        h2.xie
          b 活动时间 :
            span 4月7日—5月5日
        .lan
          p(style="margin-top: 32px") 网利宝
          p(style="margin-top: 26px") 高收益
            span 收益是银行30+倍活期收益
          p(style="margin-top: 0px") 低门槛
            span 100 元起理财, 0手续费
          p(style="margin-top: 0px") 更安全
            span 8 重保障,安全理财
          p 平安保险全额承保
          b
            i.yi.com.dian
            | 4008-588-066
        .small_box
          b.sanjiao
          h2
            span.com.one
            a 活动内容:
          .neir
            ul.jiang
              li
                span 一重礼
                p 1.注册送
                  a.red 30元
                  |理财红包
              li
                span 二重礼
                p 2.邀请好友,好友首次交易200元,再共享
                  a.red 40元话费

        .small_box
          h2
            span.com#two
            a 如何参加:
          .neir.wu_box
            ul.jiang.can
              li
                b 01
                p.pp 在官网或者APP用手机号注册，注册即得30元红包；
              li
                b 02
                p.pp 30元红包可在3月16日 - 6月15日期间投资使用；
              li
                b 03
                p.pp 好友首次交易200元，共享40元话费（各20元）；
        .small_box.zui
          h2
            a 活动规则:
          .neir.wu_box2
            ul
              li 1.手机号为网利宝唯一账户，每个身份证号只可绑定一个网利宝账号；
              li 2.使用期限：2015年3月16日 - 6月15日，新手红包不能提现；
              li 3.新手红包均只能使用一次，使用后是否有余额红包即失效；
              li 4.新手红包使用时最多抵扣投资金额的0.5%。例如投资10000元，即可使用50元红包；
              li 5.登陆网利宝官网：www.wanglibao.com，或者用APP进行投资理财
              li 6.奖品信息将发送至您的网利宝站内信，话费将充值进您的交易手机号；
              li 7.可关注微信公众号：iwanglibao，最新理财资讯一网打尽；
              li 8.本活动不收取任何费用，谨防上当受骗；
              li 9.刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
              li 10.网利宝对此活动享有最终解释权。
            img(src="/static/images/newUser/weixin2.png").weixin


    .footer
      img(src="/static/images/newUser/xiaduan.png").jiao
      .wang
        .zhong
          img(src="/static/images/newUser/footer-logo.png").footer-logo
          .ban
            p 关于网利宝 用户许可协议 联系我们 公司招聘 客服中心 网站地图
            p 北京网利科技有限公司 (北京市朝阳区霄云路天元港中心 A 座 610 室)
            p Copyright 2014 wanglibao.com Inc. All Right Reserved. 京 ICP 备 14014548号-1


