-load formatters
-load mathfilters
doctype html
html
  head
    title 新手活动
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="baidu-site-verification", content="iBKXouRC1a")
    meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/stylesheets/newuser.css", media="screen, projection", rel="stylesheet", type="text/css")
  body
    .gold
      h1.xie
        b 活动时间 :
          span 2月10日—3月16日
      .lan
        p(style="margin-top: 42px") 网利宝
        p(style="margin-top: 26px") 高收益
          span 收益是银行40+倍活期收益
        p(style="margin-top: -10px") 低门槛
          span 100 元起理财, 0手续费
        p(style="margin-top: -13px") 更安全
          span 8 重保障,安全理财
        p 平安保险全额承保
        b
          i.yi.com.dian
          | 4008-588-066
      .box
        .small_box
          h2
            span.com.one
            a 活动内容:
          .neir
            ul.jiang
              li
                span 一重礼
                p 1.注册送
                  a.red 10元
                  |理财红包
              li
                span 二重礼
                p 2.首次投资100元送
                  a.red 20元
                  |理财红包
              li
                span 三重礼
                p 3.邀请好友,好友首次交易200元,再共享
                  a.red 60元话费
              li
                span 四重礼
                p 4.邀请双方可各享受:活动期间被邀请人理财总额度各
                  a.red 0.3%
                  |的年化收益奖励(详见活动规则第7条)

        .small_box
          h2
            span.com.two
            a 如何参加:
          .neir.wu_box
            ul.jiang.can
              li
                b 01
                p.pp 在官网或者APP用手机号注册，注册即得10元红包，首次投资100元再送20元红包；
              li
                b 02
                p.pp 10元红包可在首次投资时直接抵现，20元红包可在投资2000元（含）以上时抵现用；
              li
                b 03
                p.pp 好友首次交易200元，共享60元话费（各30元）；
              li
                b 04
                p.pp 邀请双方可获得好友活动期间累计理财额度各0.3%的年化收益奖励，多邀多送不封顶！

