-load formatters
-load mathfilters

doctype html
html
  head
    - with '送，就要壕爽！' as title
      include include/common_head
      meta(name="description", content="天天送不停，周周都有新花样！送，就要壕爽！")

  body
    .full-container
      .new-year-head
        .container.activite-nav
          a(href="/", target="_blank") 网利宝官网
          a(href="/", target="_blank") 下载APP
          a(href="/") 注册
      .container
        .new-year-time
        .row.relative-top
          .span6.purple-bg
            .new-year-list-item
              span.icon.icon-big-trophy
              | 日榜奖品
            .day-trophy-list
              .day-tropht-image
                img(src="/static/images/newyear/trophy_001.jpg")
                span.day-trophy-num 01
              ul
                li 贵州茅台
                li.highlight
                  span.font-s 价格：￥
                  span.font-xxll 868
            .space-vertical-l
            .day-trophy-list
              .day-tropht-image
                img(src="/static/images/newyear/trophy_001.jpg")
                span.day-trophy-num 02
              ul
                li 贵州茅台
                li.highlight
                  span.font-s 价格：￥
                  span.font-xxll 868
            .space-vertical-l
            .day-trophy-list
              .day-tropht-image
                img(src="/static/images/newyear/trophy_001.jpg")
                span.day-trophy-num 03
              ul
                li 贵州茅台
                li.highlight
                  span.font-s 价格：￥
                  span.font-xxll 868
            .space-vertical-l

          .span6-omega.purple-bg
            .day-box-item
              span.font-xxl 日榜：
              | 每天统计一次投资金额，及时更新；前3名有奖；次日清零
            table.trophy-table(cellspacing="1")
              thead
                tr
                  th(width="10%").font-xl 今日榜单
                  th(width="45%") 用户
                  th(width="45%") 理财金额
              tbody
                for day in day_tops
                  if forloop.counter < 4
                    tr.color-orange
                      td
                        if forloop.counter == 1
                          .table-top-list-bg.table-top-list-bg1
                            span.icon.icon-day-top1
                            span.top-num {{forloop.counter}}
                        elif forloop.counter == 2
                          .table-top-list-bg.table-top-list-bg2
                            span.icon.icon-day-top2
                            span.top-num {{forloop.counter}}
                        elif forloop.counter == 3
                          .table-top-list-bg.table-top-list-bg3
                            span.icon.icon-day-top3
                            span.top-num {{forloop.counter}}

                      td {{day.phone | safe_phone_new}}
                      td {{day.amount_sum}}元
                  else
                    tr
                      td
                        .table-top-list-bg
                          span.icon.icon-day-top-arr
                          span.top-num {{forloop.counter}}
                      td {{day.phone | safe_phone_new}}
                      td {{day.amount_sum}}

            table.trophy-table(cellspacing="1")
              thead
                tr
                  th(width="100").font-xl 昨日榜单
                  th 用户
                  th 理财金额
              tbody
                for lastday in lastday_tops
                  if forloop.counter < 4
                    tr.color-orange
                      td
                        if forloop.counter == 1
                          .table-top-list-bg
                            span.icon.icon-day-top1
                            span.top-num {{forloop.counter}}
                        elif forloop.counter == 2
                          .table-top-list-bg
                            span.icon.icon-day-top2
                            span.top-num {{forloop.counter}}
                        elif forloop.counter == 3
                          .table-top-list-bg
                            span.icon.icon-day-top3
                            span.top-num {{forloop.counter}}

                      td {{lastday.phone | safe_phone_new}}
                      td {{lastday.amount_sum}}元
                  else
                    tr
                      td
                        .table-top-list-bg
                          span.icon.icon-day-top-arr
                          span.top-num {{forloop.counter}}
                      td {{lastday.phone | safe_phone_new}}
                      td {{lastday.amount_sum}}
        .space-vertical-xl
        .row.relative-top
          .span6.purple-bg
            .new-year-list-item
              span.icon.icon-big-trophy
              | 周榜奖品
            .week-trophy-list
              .row
                .span4
                  img(src="/static/images/newyear/trophy_week_001.jpg")
                  p ipad air 1
                  p.highlight 价格：￥2888
                .span4
                  img(src="/static/images/newyear/trophy_week_001.jpg")
                  p ipad air 1
                  p.highlight 价格：￥2888
                .span4-omega
                  img(src="/static/images/newyear/trophy_week_001.jpg")
                  p ipad air 1
                  p.highlight 价格：￥2888
            .space-vertical-l

          .span6-omega.purple-bg
            .day-box-item
              span.font-xxl 周榜：
              | 每周统计一次投资金额，前3名有奖，下周清零.
            table.trophy-table(cellspacing="1")
              thead
                tr
                  th(width="10%").font-xl 一周榜单
                  th(width="45%") 用户
                  th(width="45%") 理财金额
              tbody
                for week in week_tops
                  if forloop.counter < 4
                    tr
                      td
                        if forloop.counter == 1
                          .table-top-list-bg
                            span.icon.icon-week-top1
                            span.top-num {{forloop.counter}}
                        elif forloop.counter == 2
                          .table-top-list-bg
                            span.icon.icon-week-top2
                            span.top-num {{forloop.counter}}
                        elif forloop.counter == 3
                          .table-top-list-bg
                            span.icon.icon-week-top3
                            span.top-num {{forloop.counter}}

                      td {{week.phone | safe_phone_new}}
                      td {{week.amount_sum}}元
                  else
                    tr
                      td
                        .table-top-list-bg
                          span.icon.icon-day-top-arr
                          span.top-num {{forloop.counter}}
                      td {{week.phone | safe_phone_new}}
                      td {{week.amount_sum}}



        .space-vertical-xl
        .row.relative-top
          .span6.purple-bg
            .new-year-list-item
              span.icon.icon-big-trophy
              | 总榜奖品
            .week-trophy-list
              .row
                .span4
                  img(src="/static/images/newyear/trophy_week_001.jpg")
                  p ipad air 1
                  p.highlight 价格：￥2888
                .span4
                  img(src="/static/images/newyear/trophy_week_001.jpg")
                  p ipad air 1
                  p.highlight 价格：￥2888
                .span4-omega
                  img(src="/static/images/newyear/trophy_week_001.jpg")
                  p ipad air 1
                  p.highlight 价格：￥2888
            .space-vertical-l

          .span6-omega.purple-bg
            .day-box-item
              span.font-xxl 总榜：
              | 在活动期间内，在活动期间按照投资额排序，前3名有奖
            table.trophy-table(cellspacing="1")
              thead
                tr
                  th(width="10%").font-xl 月总榜单
                  th(width="45%") 用户
                  th(width="45%") 理财金额
              tbody
                for month in month_tops
                  if forloop.counter < 4
                    tr
                      td
                        if forloop.counter == 1
                          .table-top-list-bg
                            span.icon.icon-week-top1
                            span.top-num {{forloop.counter}}
                        elif forloop.counter == 2
                          .table-top-list-bg
                            span.icon.icon-week-top2
                            span.top-num {{forloop.counter}}
                        elif forloop.counter == 3
                          .table-top-list-bg
                            span.icon.icon-week-top3
                            span.top-num {{forloop.counter}}

                      td {{month.phone | safe_phone_new}}
                      td {{month.amount_sum}}元
                  else
                    tr
                      td
                        .table-top-list-bg
                          span.icon.icon-day-top-arr
                          span.top-num {{forloop.counter}}
                      td {{month.phone | safe_phone_new}}
                      td {{month.amount_sum}}

        .space-vertical-xl
        .row.history-top

          .history-top-bar
            获奖用户
            .top-bar-icon

          .history-top-week
            .history-week-label 第一周
            .history-week-days

              .days-container

                .day-top
                  .day-dot
                  .day-label 星期一

                .day-top
                  .day-dot
                  .day-label 星期二

                .day-top
                  .day-dot
                  .day-label 星期三

                .day-top
                  .day-dot
                  .day-label 星期四

                .day-top
                  .day-dot
                  .day-label 星期五

                .day-top
                  .day-dot
                  .day-label 星期六

                .day-top
                  .day-dot
                  .day-label 星期日


    include include/tracking

    script(src="/static/js/lib/jquery.min.js")
    script(src="/static/js/tops.js")
