-load formatters
-load mathfilters
doctype html
html.no-js(lang="en-gb")
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/open_day_review.css?v=2015050402")
        - csrf_token
    body(style="background:#fafafa")
        include global/g_nav
        .body_wrap.clear
            .banner
            .section.section_1
                .big_title.big_title_1 “产业银行”的业务模式
                .line_red
                p.text.text_1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网利宝凭借丰富的金融行业经验、互联网优势,在业内创立了“产业银行”的商业模式,即以产业为切入点、在细分领域深耕,通过产融结合的方式,挖掘产业链中优质中小企业的融资需求。与消费信贷相比,网利宝在获取优质资产方面的优势主要体现在两个方面。一是网利宝不依靠传统的担保、小贷公司推荐债权,而是借助产业龙头的行业积累主动挖掘,建立一条稳定、可靠的渠道;二是在中国个人征信不健全的环境下, 网利宝专注企业贷,通过管控质押物,更易确保借款企业按时还款,保证用户资金安全。
                p.text.text_2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014 年 8 月上线来,网利宝在车房贷、物流货运、红木、珠宝、金融仓储等细分产业进行了深度布局,建立了一个稳定的、挖掘优质资产的渠道,先后服务近 2000 家中小企业,截至4月末完成了 50 多亿交易额,拥有近 150 万用户。
            .section.section_2
                .big_title.big_title_4 木材为重点深耕产业之一
                .line_red
                .small_title.small_title_1 为什么深耕木材行业？
                .line_gray
                .advantage_wrap
                    .box.box_1.box_hover
                        .text 木材行业交易量：约6000亿/年<br>红木行业交易量：约1000亿/年
                        .img.img_1
                        .title_text 行业市场
                    .box.box_2
                        .text 传统金融机构很少涉足
                        .img.img_2
                        .title_text 金融渗透
                    .box.box_3
                        .text 资金灵活
                        .img.img_3
                        .title_text 市场周转周期
                    .box.box_4
                        .text 行业内存在相对较高利润率的木材品种
                        .img.img_4
                        .title_text 盈利空间
                    .box.box_5
                        .text 团队拥有多年专业积累、产业资源积累
                        .img.img_5
                        .title_text 木材风控团队
            .section.section_1
                .small_title.small_title_2 主要业务范围？
                .line_gray
                .map_img
                .section_text.section_text_1!='全国 4 大红木生产集散地:  <span>1、 河北大城&nbsp;&nbsp;&nbsp;2、浙江东阳&nbsp;&nbsp;&nbsp;3、福建仙游&nbsp;&nbsp;&nbsp;4、广东观澜</span>'
            .section.section_2
                .small_title.small_title_3 企业有哪些借款需求？
                .line_gray
                .section_box4
                    .box.box_1.box_hover
                        .img.img_1
                        p 其一，常规经营资金周转、扩大经营资金周转；
                    .box.box_2
                        .img.img_2
                        p 其二，原材料储备资金需求；
            .section.section_1
                .small_title.small_title_4 如何让借款者按时还款？
                .line_gray
                .section_box5
                    .box.box_1.box_hover
                        .img.img_1
                        .text.text_1 1、必须提供实物质押
                    .box.box_2
                        .img.img_2
                        .text.text_2 2、质押物种类易流通
                    .box.box_3
                        .img.img_3
                        .text.text_3 3、质押物所属品种价格平稳
                    .box.box_4
                        .text.text_4 6、逾期启动质押物<br>处置偿付机制
                        .img.img_4
                    .box.box_5
                        .text.text_5 5、每月跟踪评估价格,<br>下跌 15%及时补仓
                        .img.img_5
                    .box.box_6
                        .text.text_6 4、质押率控制在3－5成
                        .img.img_6
                .section_text.section_text_2!='网利宝以<span>质押物</span>为核心制定了严密的风控手段。<br>此外，平台金盾计划设立债权转让专项资金，进一步维护用户权益。'
            .section.section_2
                .small_title.small_title_5 如何评估质押物？
                .line_gray
                .section_box6
                    .box.box_hover
                        .img.img_1
                        .text 内部风控团队评估
                    .box
                        .img.img_2
                        .text 第三方专家评估
                    .box
                        .img.img_3
                        .text 参考国家级木材价格指数<br>——鱼珠价格指数
                    .box
                        .img.img_4
                        .text 意向回购企业询价
                .section_text.section_text_3 网利宝在对质押物评估时,力求精准,综合参考多个数据,<br>一般木材及家具的质押率控制在 3-5 成。
            .section.section_1
                .small_title.small_title_6 质押物如何管理处置？
                .line_gray
                .section_box7
                    .box.box_hover
                        .img.img_1
                        .text 与行业内知名金融仓储企业<br>合作,建立仓库;
                    .box
                        .img.img_2
                        .text 合作伙伴提供专业质押物<br>仓储监管服务;
                    .box
                        .img.img_3
                        .text 合作伙伴提供<br>质押物回购服务;
            .red_box
                .text 2016 年 4 月 9 日,网利宝以“木材专场”为主题开展了开放日活动。 <br>当日,用户不仅在总部与平台高管进行了面对面交流,还乘坐专车来到廊坊大城县,<br>实地参观了平台在合作机构设立的质押物仓储。
            .section.section_2
                .big_title.big_title_2 用户代表实地考察
                .line_red
                .small_title.small_title_7 参观合作机构
                .line_gray
                .slide_phone
                    .big_photo
                        img.big_photo_img(src='/static/imgs/pc_activity/open_day_review/bkfr_img_-01.jpg')
                    .small_box.small_box_1
                        .img.choose(data-src='/static/imgs/pc_activity/open_day_review/bkfr_img_-01.jpg')
                            img.photo(src='/static/imgs/pc_activity/open_day_review/kfr_img_-1.jpg')
                        .img(data-src='/static/imgs/pc_activity/open_day_review/bkfr_img_-02.jpg')
                            img.photo(src='/static/imgs/pc_activity/open_day_review/kfr_img_-2.jpg')
                        .img(data-src='/static/imgs/pc_activity/open_day_review/bkfr_img_-03.jpg')
                            img.photo(src='/static/imgs/pc_activity/open_day_review/kfr_img_-3.jpg')
                    .photo_text 在廊坊大城县,用户代表不仅与合作机构负责人进行了亲切交流,<br>还参观了仓储的监控室。
            .section.section_1
                .small_title.small_title_8 考察木材质押物
                .line_gray
                .slide_phone
                    .big_photo
                        img.big_photo_img(src='/static/imgs/pc_activity/open_day_review/bkfr_img_-04.jpg')
                    .small_box.small_box_2
                        .img.choose(data-src='/static/imgs/pc_activity/open_day_review/bkfr_img_-04.jpg')
                            img.photo(src='/static/imgs/pc_activity/open_day_review/kfr_img_-4.jpg')
                        .img(data-src='/static/imgs/pc_activity/open_day_review/bkfr_img_-05.jpg')
                            img.photo(src='/static/imgs/pc_activity/open_day_review/kfr_img_-5.jpg')
                        .img(data-src='/static/imgs/pc_activity/open_day_review/bkfr_img_-06.jpg')
                            img.photo(src='/static/imgs/pc_activity/open_day_review/kfr_img_-6.jpg')
                        .img(data-src='/static/imgs/pc_activity/open_day_review/bkfr_img_-07.jpg')
                            img.photo(src='/static/imgs/pc_activity/open_day_review/kfr_img_-7.jpg')
                    .photo_text 合作机构负责人带领用户实地参观了两个质押物的所在仓储,<br>并详细讲述了质押物的管控模式。
            .section.section_2
                .small_title.small_title_8 参观木材体验馆
                .line_gray
                .slide_phone
                    .big_photo
                        img.big_photo_img(src='/static/imgs/pc_activity/open_day_review/bkfr_img_-08.jpg')
                    .small_box.small_box_2
                        .img.choose(data-src='/static/imgs/pc_activity/open_day_review/bkfr_img_-08.jpg')
                            img.photo(src='/static/imgs/pc_activity/open_day_review/kfr_img_-8.jpg')
                        .img(data-src='/static/imgs/pc_activity/open_day_review/bkfr_img_-09.jpg')
                            img.photo(src='/static/imgs/pc_activity/open_day_review/kfr_img_-9.jpg')
                        .img(data-src='/static/imgs/pc_activity/open_day_review/bkfr_img_-10.jpg')
                            img.photo(src='/static/imgs/pc_activity/open_day_review/kfr_img_-10.jpg')
                        .img(data-src='/static/imgs/pc_activity/open_day_review/bkfr_img_-11.jpg')
                            img.photo(src='/static/imgs/pc_activity/open_day_review/kfr_img_-11.jpg')
                    .photo_text 用户代表来到木材家具体验馆,<br>切身感受原木经过加工、安装、打磨、抛光等环节最终到成品的巨大变化。
            .section.section_1
                .big_title.big_title_3 实地考察后,用户怎么说?
                .line_red
                .talk_wrap
                    .box
                        .people_box.people_1
                            img.people(src='/static/imgs/pc_activity/open_day_review/people_img_1.png')
                            .people_name 余 女 士
                        .woman_talk 我是带着远方朋友的嘱托对平台和质押物进行的实地考察,不论是在总部与CEO交流,还是在参观质押物过程中与仓储机构负责人交流, 对于我这个门外汉所提的疑问,他们都耐心地做了解答。个人感觉,公司要想做大做强,靠的不是手段,而是制度和精神。通过这次活动,我感觉网利宝CEO赵润龙先生是想做一番事业的人。
                    .box
                        .man_talk 安全性是整个平台的重中之重,作为投资人,十分想了解自己的钱究竟用在了哪些地方,听了网利宝高管的讲解,心里踏实了许多, 也学习了很多投资方面的知识,可以说实地考察不虚此行,我觉得任何行业如果都有这种觉悟和企业理念,就不会出现种种骗局。希望网利宝以后可以多举办一些这样的互动活动或在线讲座等。
                        .people_box.people_2
                            img.people(src='/static/imgs/pc_activity/open_day_review/people_img_2.png')
                            .people_name 曹 先 生
                    .box
                        .people_box.people_3
                            img.people(src='/static/imgs/pc_activity/open_day_review/people_img_3.png')
                            .people_name 小 轩
                        .woman_talk 网利宝木材专场开放日活动回答了两个我最想问的问题,一是网利宝的模式,二是网利宝的风控,个人感觉网利宝是一家比较靠谱的公司,通过足值实物质押,不私设资金池,最大程度保护了投资人的利益,在实地考察质押物后,这一感触更深。希望网利宝发展得越来越好,为投资人带来更多收益。
                    .box
                        .man_talk 感谢网利宝开设木材仓储专项活动,赵总、杨总和曹总详细讲述了公司业务的开展流程、风险控制等投资者最想了解的问题。在P2P的大领域里,网利宝选择精耕细作自己擅长的细分领域,不仅让平台避免了同质化竞争,还有效保证了公司收入和投资人的利益,应该为网利宝公司点赞。
                        .people_box.people_4
                            img.people(src='/static/imgs/pc_activity/open_day_review/people_img_4.png')
                            .people_name 黄 先 生
                    .box
                        .people_box.people_5
                            img.people(src='/static/imgs/pc_activity/open_day_review/people_img_5.png')
                            .people_name 小 蒙
                        .woman_talk 这次活动中CEO赵润龙和各位高管以专业角度给我们讲述了平台的风控模式和业务流程,让我学习到了业内更深层面的知识,尤其木材专场让我更直观得看到了平台的专业能力和综合实力,收获颇丰。以前对网利宝一知半解,现在是更有信心!
                    .box
                        .man_talk 一天的考察结束了,在回来的路途中我想了很多。互联网金融的关健是做好风控、保护投资者利益,而网利宝的高层都是从事金融行业多年,术有专攻这方面让投资者放心。通过实地考察木材质押物、 参观家具成品,让我体会到了木材之所以经久不衰,带给我们的不仅仅是美,更多的是工艺与智慧的传承,让我们期待网利宝做得更好!
                        .people_box.people_6
                            img.people(src='/static/imgs/pc_activity/open_day_review/people_img_6.png')
                            .people_name 苏 先 生


        include global/g_footer
script.
    require(['/static/js/open_day_review.js?v=2015050401'])

                                                                    