-load formatters
-load mathfilters
doctype html
html.no-js(lang="en-gb")
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/open_day_review.css?v=2015042201")
        - csrf_token
    body(style="background:#fafafa")
        include global/g_nav
        .body_wrap.clear
            .banner
            .section.section_1
                .big_title.big_title_1 “产业银行”的业务模式
                .line_red
                p.text.text_1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网利宝凭借丰富的金融行业经验、互联网优势,在业内创立了“产业银行”的商业模式,即以产业为切入点、在细分领域深耕,通过产融结合的方式,挖掘产业链中优质中小企业的融资需求。与消费信贷相比,网利宝在获取优质资产方面的优势主要体现在两个方面。一是网利宝不依靠传统的担保、小贷公司推荐债权,而是借助产业龙头的行业积累主动挖掘,建立一条稳定、可靠的渠道;二是在中国个人征信不健全的环境下, 网利宝专注企业贷,通过管控质押物,更易确保借款企业按时还款,保证用户资金安全。
                p.text.text_2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014 年 8 月上线来,网利宝在车房贷、物流货运、红木、珠宝、金融仓储等细分产业进行了深度布局,建立了一个稳定的、挖掘优质资产的渠道,先后服务近 2000 家中小企业,截至4月末完成了 50 多亿交易额,拥有近 150 万用户。
            .section.section_2
                .big_title.big_title_4 木材为重点深耕产业之一
                .line_red
                .small_title.small_title_1 为什么深耕木材行业？
                .line_gray
        include global/g_footer
script.
    require(['/static/js/open_day_review.js?v=2015042901'])

                                                                    