-load formatters
-load mathfilters
doctype html
html.no-js(lang="en-gb")
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/august_phone.css?v=2015042201")
        - csrf_token
    body(style="background:#ffd200")
        include global/g_nav
        .body_wrap.clear
            .banner

//include global/g_footer
script.
    require(['/static/js/august_phone.js?v=2015042901'])

                                                                    