-load formatters
-load mathfilters
doctype html
html
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(href="/static/stylesheets/activity.css", media="screen, projection", rel="stylesheet", type="text/css")
        link(href="/static/stylesheets/pan_gold.css", media="screen, projection", rel="stylesheet", type="text/css")
    body
        .act-full-container
            .act-topbar
                .container.row
                    .act-user-div
                        i(style="padding:0px;margin:0px;border:0px;font:inherit;").act-icon-phone.font-l &nbsp;
                        span 客服热线：
                        span 4008-588-066
                        span.act-margin-left-m 关注我们：
                        a.topbar-anchor.act-icon.act-icon-weibo(href="http://weibo.com/u/5000682691", target="_blank", data-role="hover", data-target="#qrweibo-top")
                        a.topbar-anchor.act-icon.act-icon-weixin(href="javascript:void(0)", data-role="hover", data-target="#qrcode-top")
                        a#qrweibo-top.act-weibo-qr-code(href="http://weibo.com/u/5000682691", target="_blank",  data-name="hoverbox",style="display:none")
                            img.act-weibo-qr-code(src="/static/images/weibo-nqr.png")
                        img#qrcode-top.act-icon.act-weixin-qr-code(src="/static/images/weixin-nqr.png", style="display:none",data-name="hoverbox")
                        span.act-mobile-app-top
                            span.act-icon.act-icon-mobile-app
                            span 手机网利宝
                            .act-mobile-app-top-prompt
                                div(style="height:30px; top:-20px; position:relative;")
                                a.act-mobile-app-apple(href="https://itunes.apple.com/cn/app/wang-li-bao/id881326898?mt=8", target="_blank", title="iPhone版")
                                a.act-mobile-app-android(href="https://www.wanglibao.com/static/wanglibao1.apk", title="Android版")
        .activity-nav
            .act-container-login-nav
                a(href='/')
                    img.wanglibaologo(src="/static/images/logo.png")
                .login-nav
                    include include/nav_common
        .pan-gold
        .pan-gold-content
            .reward
            .content1.clearfix
            .content2.clearfix
            .pan-gold-h.clearfix
                span 壹
                label 活动细则
            .content-div
                p.pan-gold-number1 1、邀请规则：
                p — 邀请人资格：网利宝注册用户
                p — 被邀请人资格：需在注册时使用邀请人提供的专属链接或专属邀请码，网利宝仅以此确认邀请关系
                p — 邀请关系：活动截止之日前产生的邀请关系均可享受活动邀请奖金
                p.pan-gold-number 2、邀请奖金规则：
                p — 用户A邀请新用户B，并享有新用户B每笔投资额3‰的邀请奖金
                p — 用户B再邀请新用户C，则用户B享有新用户C每笔交易额3‰的邀请奖金。
                p.text-indent 同时，用户A也可以享有新用户C每笔投资额3‰的邀请奖金。
                p — 用户C再邀请新用户D，则用户C享有新用户D每笔投资额3‰的邀请奖金。
                p.text-indent 同时，用户B也可以享有新用户D每笔投资额3‰的邀请奖金。此时，用户A不再享有新用户D的邀请奖金，以此类推。
                p.pan-gold-number 3、奖金结算：
                p — 按照受邀请人在活动期间每笔投资额的3‰实时计算
                p — 受邀请人投资标满起息日，邀请奖金发放至邀请人账户
                p — 邀请人可在网利宝账户中邀请奖励下，查看奖金明细
                p — 邀请人所获奖金可提现可投资。
            .example
                p.example-title 示例：
                p.lh30 活动期内用户小王新邀请好友30名。30名受邀人活动期内每人投资3月标10万元共三次，同时这些人每人再邀请30人，被邀请（30*30）= 900人每位投资3月标10万元共三次。小王可获邀请奖金：30 x 10 万元 x 3次 x 3‰ + 30 x 30 x 10万元 x 3次 x 3‰ = 837,000元
                p.example-bottom 如果您有300邀请好友，呵呵………… 您的奖金将是81,270,000元！
            .pan-gold-h.clearfix
                span 贰
                label 活动规则
            p.text-indent.pl32 活动有效期 2015年6月23日-2016年6月30日;
            p.text-indent.pl32 本活动可与网利宝其他优惠活动共享;
            p.text-indent.pl32 网利宝一月期以下的投资产品不参加本活动;
            p.text-indent.pl32 刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予兑现;
            p.text-indent.pl32 本活动不收取任何费用，谨防上当受骗;
            p.text-indent.pl32 两个月（含两个月）以下的投资项目不参与全民淘金活动;
            p.text-indent.pl32 网利宝对此活动享有最终解释权。
        .bottom
            include include/activityFooterTwo.jade

    //script(src="/static/js/require.js", data-main="/static/js/header")
    script(src="/static/js/lib/jquery.min.js")
    //script(src="/static/js/login_modal.js")
    script.
        $('.act-mobile-app-top').bind('mouseenter', function (e) {
            return $('.act-mobile-app-top-prompt').show();
        }).bind('mouseleave', function (e) {
            return $('.act-mobile-app-top-prompt').hide();
        });
        $('.act-mobile-app-top-prompt').bind('mouseenter', function (e) {
            return $(this).show();
        }).bind('mouseleave', function (e) {
            return $(this).hide();
        });
        $('.act-icon-weixin').bind('mouseenter', function () {
            $('#qrcode-top').show();
        }).bind('mouseleave', function () {
            $('#qrcode-top').hide();
        })
        $('#qrcode-top').bind('mouseenter', function (e) {
            return $(this).show();
        }).bind('mouseleave', function (e) {
            return $(this).hide();
        });
        $('.act-icon-weibo').bind('mouseenter', function () {
            $('#qrweibo-top').show();
        }).bind('mouseleave', function () {
            $('#qrweibo-top').hide();
        })
        $('#qrweibo-top').bind('mouseenter', function (e) {
            return $(this).show();
        }).bind('mouseleave', function (e) {
            return $(this).hide();
        });
        $('.nologin').on('click',function(){
          {% if user.is_authenticated == False %}
            window.location.href='/accounts/home/'
          {% endif %}
          {% if user.is_authenticated == True %}
            window.location.href='/accounts/login/'
          {% endif %}
        });
