-load formatters
-load mathfilters
doctype html
html
  head
    - with '网利宝' as title
    include include/common_head
    - endwith
    link(rel="stylesheet",href="/static/stylesheets/qixi.css")
  body(style="background:#fff")
    include include/activityTop2
    .qixi-banner
    .qix-main
      .qixi-box1#saoma
        .qixi-time
          h1 活动时间：2015年8月18日 -- 2015年8月21日
        .left
          .left-box1(style="border-right:1px solid #ff80b7")
            h2 新用户
              span 专享
            p 注册送10元现金
              br
              b 活动期间内通过APP注册网利宝，送10元
                br
                |现金红包
            .redpack
          .left-box1
            h2 用户
              span 福利
            p 投1000元，送20元现金
              br
              b 活动期间内在APP端首次投资满1000元，
                br
                |送20元现金红包
            .redpack2
          p.zhu 注：限活动期间内首次投资赠送，现金以红包的形式发送。
        .right
          p.sao-text 扫描下方二维码，下载
            br
            |网利宝APP立即投资吧
          .reweima
          p.xiazai 若无法扫描，Android用户前往应用宝
           br
           |下载，IOS用户请前往APP store下载。

      .xl-box1
        span.tu.xingmei-com.five
        h2.xl-jiang
          .xl-center#seven-center
            | 投资流程
        .content-process
          .content-pptv(style="background:#fff;max-width:1101px")
            .process-text(style="height:32px;padding:0")
            .process-list
              .circle-free.circle-float
                .close
                .last
                .next
                img(src="/static/images/pptv/free.jpg")
              .triangle-start
                .start-cont
              .circle
                .circle-body.free
                .circle-txt 注册网利宝账号
                .circle-txt2
              .triangle-center(style="width:0px")
              .triangle-center#xl-triangle-center
                .center-cont
              .circle
                .circle-body.recharge
                .circle-txt 充值资金到账户
              .triangle-center#xl-triangle-center
                .center-cont
              .circle
                .circle-body.tender
                .circle-txt 选择投资标
              .triangle-center#xl-triangle-center
                .center-cont
              .circle
                .circle-body.collec
                .circle-txt 获得收益和奖励
              .triangle-end(style="width:120px")
                .end-cont

      .xl-box1(style="margin-top:0")
        span.tu.xingmei-com.five
        h2.xl-jiang
          .xl-center#seven-center
            | 红包规则
        ul
          li 1. 手机号为网利宝唯一账户，本次活动福利仅限APP端专享，新用户为未投资用户；
          li 2. 活动期间内通过APP注册网利宝，送10元现金红包。在活动期间内用户首次投资满1000元送20元现金红包。此现金红包为直抵红包；
          li 3. 奖励红包有效期到2015年9月30日。红包统一以站内信形式通知，完成一次投资回款后即可取现；
          li 4. 本活动不收取任何费用，谨防上当受骗；刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
          li 5. 网利宝对此活动享有最终解释权。
        a.go#go 立即参与
    .footer(style="background:#0b4ea4;margin-top:0")
      include include/activityFooter
    include include/tracking
    script(src="/static/js/lib/jquery.min.js")
    script.
      $('#go').on('click',function(){
        var re_top=$('#saoma').offset().top;
        $('body,html').animate({scrollTop:re_top}, 600);
        return false
      })
