- load formatters
doctype html
html
  head
    title 网利宝金融摇滚夜门票
    include include/app_head
  body
   img(src="/media/{{img}}", style="width: 12rem;position: absolute;left: 50%;top: 50%;margin: -6rem 0 0 -6rem;")