- load formatters
doctype html
html(style="background:#090c0b")
    head
        meta(name="format-detection" content="telephone=no,email=no")
        title 网利红包
        meta(charset="utf-8")
        meta(content="telephone=no,email=no" ,name="format-detection")
        meta(content="yes" ,name="apple-mobile-web-app-capable")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no")
        link(href="/static/styles/mobile_activity/wx_share.css", rel="stylesheet")
        body
            .share
                a(href='/activity/share/index/').wx
                    img(src='/static/imgs/mobile_activity/share/href2.png').href
                .logo
                    img(src='/static/imgs/mobile_activity/share/logo.png')
                p.profit 给100%努力的你
                p.profit 再多16%的收获
                p.code-remarks 长按二维码 关注网利宝公众账号
                p.code-img
                    img(src='/static/imgs/mobile_activity/share/code.jpg')

    