- load formatters
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title 疯狂盛宴 拿奖拿到手抽筋！
    link(rel="stylesheet",href="/static/css/wap/share_app.css")

  body
    header.crazy-feast-header
    .activity-app-content
      h2 活动时间：2015年2月1日-2015年3月15日
      p 活动期间，每个账户投资额达到以下额度，可获得相应奖品。
      p 1、累计购买满130万 送iPhone 6 Plus（16G 5.5英寸）
      p 2、累计购买满100万 送iPhone 6（16G 4.7英寸）
      p 3、累计购买满80万  送华为mate7（16G 6英寸 4G版）
      p 4、累计购买满50万  送iPad Air 2（16G WLAN）
      p 5、累计购买满40万  送iPad mini3（16G WLAN）
      p 6、累计购买满30万  送1000元东京礼品卡
      p 7、累计购买满10万  送300元京东礼品卡
      p 8、累计购买满1万-9万 每满1万元 送30元话费
    .space-line
    .activity-app-content
      h3 奖品发放说明：
      p 1、网利宝账户以身份证号为唯一识别标识。
      p 2、话费均发送到交易手机号。
      p 3、奖品统一于活动结束后7个工作日内开始发放。
      p 4、由于实物奖品快递需要，满额度用户请提交真实“姓名、手机、身份证、通讯地址”至  kefu@wanglibank.com
      p 5、本活动不收取任何费用，谨防上当受骗。
      p 6、网利宝对此活动享有最终解释权。
      p 7、该活动与Apple公司无关。
      a(href="https://www.wanglibao.com/", target="_blank")
        .activity-app-footer 详请关注网利宝官网：www.wanglibao.com
    include include/tracking
