-load formatters
-load mathfilters
doctype html
html
  head
    title 清凉一夏
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="baidu-site-verification", content="iBKXouRC1a")
    meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
    link(rel="stylesheet",href="/static/stylesheets/full.css")

  body(style="background:#fff")
    .act-full-container
      .act-topbar
        .container.row
          .act-user-div
            i.act-icon-phone.font-l &nbsp;
            span 客服热线：
            span 4008-588-066
            span.act-margin-left-m 关注我们：
            a.topbar-anchor.act-icon.act-icon-weibo(href="http://weibo.com/u/5000682691", target="_blank", data-role="hover", data-target="#qrweibo-top")
            a.topbar-anchor.act-icon.act-icon-weixin(href="javascript:void(0)", data-role="hover", data-target="#qrcode-top")
            a#qrweibo-top.act-weibo-qr-code(href="http://weibo.com/u/5000682691", target="_blank", style="display:none", data-name="hoverbox")
              img(src="/static/images/weibo-nqr.png")
            img#qrcode-top.act-icon.act-weixin-qr-code(src="/static/images/weixin-nqr.png", style="display:none", data-name="hoverbox")
            span.act-mobile-app-top
              span.act-icon.act-icon-mobile-app
              span 手机网利宝
              .act-mobile-app-top-prompt
                div(style="height:30px; top:-20px; position:relative;")
                a.act-mobile-app-apple(href="https://itunes.apple.com/cn/app/wang-li-bao/id881326898?mt=8", target="_blank", title="iPhone版")
                a.act-mobile-app-android(href="https://www.wanglibao.com/static/wanglibao1.apk", title="Android版")
    .activity-nav
      .act-container-login-nav
        a(href='/')
          .act-logo
        .login-nav
          include include/nav_common
    .wrap.pptv#summer
      .gold2
        h3.sum-time 活动时间: 2015年5月23日-2015年6月30日
    .san-new(style="background:#3fd3fd")
      .sum
        .gold(style="background:#3fd3fd")
          .content-desc
            .space-vertical-s
            .row.gold-row
             .span3
                dl.full-jiang#sum-song
                  span.full-huang
                  h3.full-h 累计投资满200万
                  dt.sum-com.sum-five
                  dd
                    span 送
                    |全新Retina MacBook
             .span3
               dl.full-jiang#sum-song
                 span.full-huang
                 h3.full-h 累计投资满160万
                 dt.sum-com.sum-six
                 dd
                   span 送
                   |微软surface pro 3 ( 64G )
             .span3
               dl.full-jiang#sum-song
                 span.full-huang
                 h3.full-h 累计投资满120万
                 dt.sum-com.sum-seven
                 dd
                   span 送
                   |乐视TV S50
             .span2
               dl.full-jiang#sum-song
                 span.full-huang
                 h3.full-h 累计投资满80万
                 dt.sum-com.sum-eight
                 dd
                   span 送
                   |海尔智能WIFI空调（除甲醛）
          .content-desc
            .space-vertical-s
            .row.gold-row
             .span3
                dl.full-jiang#sum-song
                  span.full-huang
                  h3.full-h 累计投资满50万
                  dt.sum-com.sum-nine
                  dd
                    span 送
                    |Apple Watch Sport
             .span3
               dl.full-jiang#sum-song
                 span.full-huang
                 h3.full-h 累计投资满20万
                 dt.sum-com.sum-ten
                 dd
                   span 送
                   |德国太阳能车载空气净化器
             .span3
               dl.full-jiang#sum-song
                 span.full-huang
                 h3.full-h 累计投资满10万
                 dt.sum-com.sum-ele
                 dd
                   span 送
                   |美的落地扇
             .span2
               dl.full-jiang#sum-song
                 span.full-huang
                 h3.full-h 单日投资1－9万
                 dt.sum-com.sum-tw
                 dd 每满1万元
                   span 送
                   |10元现金
          .space-vertical-l
          .invite-container.row
            a(href="/p2p/list/", target="_blank").invite-btn   立即赚钱
          .space-vertical-l
          .content-title
            .title-inner-line(style="border:none")
              h2#sum-liucheng
                span.sum-com.sum-one
                |赚钱引导流程
                span.sum-com.sum-two
          .investment-process-container
            .row
              .step.first-step
                span.icon.icon-first-step
                .process-title 第一步&nbsp;免费注册
                .process-content 30秒轻松免费注册成为会员
              .step-arrow
                ins
              .step.second-step
                span.icon.icon-second-step
                .process-title 第二步&nbsp;进行认证
                .process-content 完成实名认证
              .step-arrow
                ins
              .step.third-step
                span.icon.icon-third-step
                .process-title 第三步&nbsp;充值账户
                .process-content 在线充值，免收手续费
              .step-arrow
                ins
              .step.fourth-step
                span.icon.icon-fourth-step
                .process-title 第四步&nbsp;成功投标
                .process-content 按需筛选借款标并进行投标
              .step-arrow
                ins
              .step.fifth-step
                span.icon.icon-fifth-step
                .process-title 第五步&nbsp;自动收款
                .process-content 借款期满后自动回款
          .space-vertical-l
          .content-title
            .title-inner-line(style="border:none")
              h2#sum-liucheng
                span.sum-com.sum-three
                |奖品发放说明
                span.sum-com.sum-four
          .gold-footer(style="background:#3fd3fd")
            .gold-declare#sum-jiang(style="border:none")
              dl
                dd 1.网利宝账户以身份证号为唯一识别标识；
                dd 2.奖品统一于活动结束后7个工作日内开始发放；
                dd 3.由于实物奖品快递需要，满额度用户请在“我的账户”中提交真实收货地址；
                dd 4.所有实物奖品可兑换等值现金，现金以红包形式发放，完成一次投资回款后即可取现；
                dd 5.红包有效期2015年7月1日-2015年8月31日；
                dd 6.红包均只能使用一次，请在一次投资内全部使用，使用后是否有余额即失效；
                dd 7.网利宝对此活动享有最终解释权。
            //.gold-version
          include include/tracking

    .pptv-bottom.content-process#sum-bottom
      img(src="/static/images/summer/bottom.jpg")
    script(src="/static/js/lib/jquery.min.js")
  script.
    $('.act-mobile-app-top').bind('mouseenter', function(e) {
      return $('.act-mobile-app-top-prompt').show();
    }).bind('mouseleave', function(e) {
      return $('.act-mobile-app-top-prompt').hide();
    });
    $('.act-mobile-app-top-prompt').bind('mouseenter', function(e) {
      return $(this).show();
    }).bind('mouseleave', function(e) {
      return $(this).hide();
    });
    $('.act-icon-weixin').bind('mouseenter',function(){
      $('#qrcode-top').show();
    }).bind('mouseleave',function(){
      $('#qrcode-top').hide();
    })
    $('#qrcode-top').bind('mouseenter', function(e) {
      return $(this).show();
    }).bind('mouseleave', function(e) {
      return $(this).hide();
    });
    $('.act-icon-weibo').bind('mouseenter',function(){
      $('#qrweibo-top').show();
    }).bind('mouseleave',function(){
      $('#qrweibo-top').hide();
    })
    $('#qrweibo-top').bind('mouseenter', function(e) {
      return $(this).show();
    }).bind('mouseleave', function(e) {
      return $(this).hide();
    });



