//
   Created by taohe on 14-9-22.
-load formatters
doctype html
html
  head
  include include/admin_head_meta

  body(role="document")

    include include/admin_menu
    #wrapper
      nav.navbar.navbar-default.navbar-static-top(role="navigation", style="margin-bottom:0px")
        .navbar-header
          a.navbar-brand(href="?") 网利宝统计数据

        - with '日周月榜名单' as activeItem
        include include/admin_menu
        - endwith

      #page-wrapper

        .row
          .col-lg-12
            h1.page-header 日周月榜名单

        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading 日榜名单

              .panel-body
                .row

                  form
                    .col-lg-6
                      .form-group
                        .input-daterange.input-group#datepicker
                          input(type="text",name="today",value="{{today}}").input-sm.form-control
                    .col-lg-6
                      .form-group
                        button(type="submit").btn.btn-default 查询

                .table-responsive
                  table.table.table-striped.table-bordered.table-hover
                    thead
                      tr
                        th(rowspan="1") 排名
                        th(rowspan="1") 用户id
                        th(rowspan="1") 电话号
                        th(rowspan="1", colspan="1") 购买额度
                    tbody
                      for l in result
                        tr
                          td {{ forloop.counter}}
                          td {{ l.id}}
                          td {{ l.phone }}
                          td {{ l.amount_sum }}

            .panel.panel-default
              .panel-heading 周榜名单

              .panel-body
                .row

                  form
                    .col-lg-6
                      .form-group
                        .input-group
                          第
                          input(type="text",name="week",value="{{week}}").input-sm.form-control
                          周
                    .col-lg-6
                      .form-group
                        button(type="submit").btn.btn-default 查询

                .table-responsive
                  table.table.table-striped.table-bordered.table-hover
                    thead
                      tr
                        th(rowspan="1") 排名
                        th(rowspan="1") 用户id
                        th(rowspan="1") 电话号
                        th(rowspan="1", colspan="1") 购买额度
                    tbody
                      for week in week_tops
                        tr
                          td {{ forloop.counter}}
                          td {{ week.id}}
                          td {{ week.phone }}
                          td {{ week.amount_sum }}

            .panel.panel-default
              .panel-heading 月榜名单

              .panel-body

                .table-responsive
                  table.table.table-striped.table-bordered.table-hover
                    thead
                      tr
                        th(rowspan="1") 排名
                        th(rowspan="1") 用户id
                        th(rowspan="1") 电话号
                        th(rowspan="1", colspan="1") 购买额度
                    tbody
                      for all in all_tops
                        tr
                          td {{ forloop.counter}}
                          td {{ all.id}}
                          td {{ all.phone }}
                          td {{ all.amount_sum }}


script.
  require(["/static/js/tops_admin.js"])
