<html>
<head>
    <title>video</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1,user-scalable=no">
    <script type="text/javascript" src="/static/test/zepto.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/test/flowplayer-3.2.13.min.js" charset="utf-8"></script>
    <style>
        video{
            width: 100%;
        }
    </style>
</head>
<body>
<div class="player" id="player">

</div>
<script type="text/javascript">
    function IsPC() {
    var userAgentInfo = navigator.userAgent;
    var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
    var flag = true;
    for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
            flag = false;
            break;
        }
    }
    return flag;
}

 if (navigator.userAgent.indexOf("Safari") > -1 &&  navigator.userAgent.indexOf("Chrome") == -1 ) {
     console.log(11)
 	var str= '<video  autoplay webkit-playsinline controls id="video" src="http://damai.hlslive.ks-cdn.com/live/hd_1/index.m3u8">';
 	$('#player').append(str);
 }else if(!IsPC()){
    var str= '<video  autoplay webkit-playsinline controls id="video" src="http://damai.hlslive.ks-cdn.com/live/hd_1/index.m3u8">';
 	$('#player').append(str);
 }else{
 	var w = $('#player').width();
 	var h = w * 9/16;
 	$('#player').height(h);
 	flowplayer("player", "https://staging.wanglibao.com/static/test/flowplayer-3.2.18.swf",{
		clip:{
			url:'hd_1',
	        provider: 'rtmp',
	        live:true
	    },

	    plugins:{
			rtmp:{
			   // use latest RTMP plugin release
			    url: "https://staging.wanglibao.com/static/test/flowplayer.rtmp-3.2.13.swf",
			    netConnectionUrl: 'rtmp://damai.rtmplive.ks-cdn.com/live/'
			}
	    }
	}).play();
 }
</script>
</body>

</html>