-load formatters
-load mathfilters

doctype html
html
  head
    - with '网利宝' as title
    include include/common_head
    - endwith
    title 迅雷会员登录
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="baidu-site-verification", content="iBKXouRC1a")
    meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")

  body(style='background:#fff')
    include include/header
    - with '首页' as activeItem
    include include/navigation
    - endwith

    .wrap
      .denelu-form
        h1.biaoti 轻松拿70元话费
        form
          ul.dl-com
            li
              input.com-tu.tu1(type="text" placeholder="手机号码" )
            li
              input.com-tu.tu2.yanzheng(type="text" placeholder="手机验证码" )
              input(type="button" value="获取验证码" ).huoqu-ma
            li
              input.com-tu.tu3(type="text" placeholder="密码" )
            li
              input.com-tu.tu3(type="text" placeholder="确认密码" )
            li
              input.com-tu.tu1(type="text" placeholder="邀请码(选填)" )
            li
              input(type="checkbox").inp-che
              b.i-do  我同意
                i  《网利宝注册协议》
            li
              input(type="button" value="立即注册").xun-zhuce
        p.xun-p 已有账号,
          a(href="#") 立即登录
      .container.high-bigger.high-bigger2
        .row.gold-dl-row
          .span4
            dl
             dt.com.com-trust
             dd.te-zi
               h3 信赖
               p IDG资本投资
               p 第三方100%本息保障
          .span4
            dl
             dt.com.com-security
             dd.te-zi
               h3 安全
               p 招商银行全程监管
               p 账户资金安全由平安保险承保
          .span4
            dl
             dt.com.com-authority
             dd.te-zi
               h3 权威
               p 洛克菲勒家族
               p 全方位战略合作

    .gold(style='margin-top:20px;background:#fff')
      a(href="/#p2p")
            //.get-money
            //  h2 立即赚钱
            //  span 100元起投
      .container-title
          h2.black 高收益
      .content-desc
        .row
          .span12
             img(src="/static/images/xunlei-denglu/xunlei-hight-gaoshouyi.png")
      .space-vertical-l
      .container-title
          h2.black 多种选择
          .space-vertical-s
          .row.xun-select
            .span4
              h3
               img(src="/static/images/xunlei-denglu/xunlei-gaoshouyi.jpg")
              div.shouyi-tu
                img(src="/static/images/xunlei-denglu/xunlei-gaoshouyi-tu.png").wai.zheng
                p
                  span
                    img(src="/static/images/xunlei-denglu/xunlei-anquan.png").tu-zi
                  |100%本息保障
            .span4
              h3
               img(src="/static/images/xunlei-denglu/xunlei-zhouqiduan.jpg")
              div.shouyi-tu
                img(src="/static/images/xunlei-denglu/zhou1.png").zheng
                p
                  span
                    img(src="/static/images/xunlei-denglu/xunlei-anquan.png").tu-zi
                  |100%本息保障
            .span4
              h3
               img(src="/static/images/xunlei-denglu/xunlei=-huiben.jpg")
              div.shouyi-tu
                img(src="/static/images/xunlei-denglu/hui-tu.png")
                p
                  span
                    img(src="/static/images/xunlei-denglu/xunlei-anquan.png").tu-zi
                  |100%本息保障
            .span4
              h3
               img(src="/static/images/xunlei-denglu/xunlei-dimenkan.jpg")
              div.shouyi-tu
                img(src="/static/images/xunlei-denglu/men-tu.png")
                p
                  span
                    img(src="/static/images/xunlei-denglu/xunlei-anquan.png").tu-zi
                  |100%本息保障
      .space-vertical-l
      .space-vertical-s
      .content-title
          h2.h2-da 没心，没肺，没节操的送！
            p 活动期间，每个账户投资额达到以下额度，可获得相应奖品
      .content-desc(style="margin-top:40px")
        .space-vertical-s
        .row.gold-row
           .span6
             img(src="/static/images/gold/awards_bg.jpg").gold-jiangli
           .span6-omega
             ul.font-m.li-linghight
               li 1、 累计购买满130万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span.highlight 送
                  |iPhone 6 Plus（16G 5.5英寸）
               li 2、 累计购买满100万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span.highlight 送
                  |iPhone 6（16G 4.7英寸）
               li 3、 累计购买满80万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span.highlight 送
                  |华为mate7 4G版手机（16G）
               li 4、 累计购买满50万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span.highlight 送
                  |iPad Air 2（16G WLAN）
               li 5、 累计购买满40万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span.highlight 送
                  |iPad mini3（16G WLAN）
               li 6、 累计购买满30万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span.highlight 送
                  |1000元京东礼品卡
               li 7、 累计购买满10万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span.highlight 送
                  |300元京东礼品卡
               li 8、 累计购买满1万-9万
                  &nbsp
                  |每满1万元
                  &nbsp
                  span.highlight 送
                  |30元话费
      .space-vertical-l
      .gold-footer(style="background:#fff;padding-left:0")
        .gold-declare(style="border-bottom:none;padding-left:0")
          dl.beijing
            dt.hei 奖品发放说明
            dd 1.网利宝账户以身份证号为唯一识别标识。
            dd 2.P2P理财年化收益活动奖励将随P2P理财项目还款发放。
            dd 3.京东礼品卡密码、迅雷会员激活码和话费均发送到交易手机号。
            dd 4.奖品统一于活动结束后7个工作日内开始发放。
            dd 5.由于实物奖品快递需要，满额度用户请提交真实“姓名、手机、身份证、通讯地址”至
               b.note <a href="mailto:kefu@wanglibank.com">kefu@wanglibank.com</a>
            dd 6.此次活动的最终解释权归网利宝官方所有

      .content-title
          h2.hei 投资流程
        .investment-process-container
          .row
            .step.first-step
              span.icon.icon-first-step
              .process-title 免费注册账号
            .step-arrow
              ins
            .step.second-step
              span.icon.icon-second-step
              .process-title 实名认证
            .step-arrow
              ins
            .step.third-step
              span.icon.icon-third-step
              .process-title 充值
              .process-content 送
                 b.note  10元
                 |话费 +
                 b.note 7天
                 |迅雷会员
            .step-arrow
              ins
            .step.fourth-step
              span.icon.icon-fourth-step
              .process-title 投资
              .process-content 送
                b.note 30元
                |话费
            .step-arrow
              ins
            .step.fifth-step
              span.icon.icon-fifth-step
              .process-title 获得投资和奖励
      .invite-container.row
          a(href="/accounts/invite/").invite-btn 立即注册

    .warp-footer

      include include/tracking