doctype html
html
  head
    title 迅雷活动页
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="8月20日至9月5日，迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/css/wap/activity.css", rel="stylesheet", type="text/css")
  body
    header
    main
      h1 活动时间：2014年11月1日-2014年12月31日

      dl.list
        dt 01
        dd &gt;&nbsp;迅雷会员理财，额外享最多1%年化收益奖励;
      dl.list
        dt 02
        dd &gt;&nbsp;理财100-999元，获赠1个月迅雷白金会员;
        dd &gt;&nbsp;理财1000-49999元，获赠6个月迅雷白金会员;
        dd &gt;&nbsp;理财50000元以上，获赠1年迅雷白金会员;

      dl
        dt.note 活动说明：
        dd 1、将于2015年1月12日前发放至您的网利宝账户。

      footer
        详请关注网利宝官网：
        a(href="https://www.wanglibao.com") www.wanglibao.com