doctype html
html
  head
    title 迅雷活动页
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="8月20日至9月5日，迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/css/wap/activity.css", rel="stylesheet", type="text/css")
  body
    header.xunlei_02
    main
      h1 活动时间：3月17日—4月7日
      p.desc 邀请好友，好友首次理财超过200元，共享60元话费(各30元）

      dl
        dt.note 活动说明：
        dd 1、小伙伴邀请以身份证号为唯一识别标识。
        dd 2、登录网利宝网站个人中心获取邀请码，邀请小伙伴。
        dd 3、小伙伴完成首次单笔200元（含）以上P2P理财。
        dd 4、赠送话费将于好友理财成功后3个工作日内发放。
        dd 5、此次活动解释权归网利宝官网所有。
        dd 6、该活动与 Apple 公司无关。

      footer
        详请关注网利宝官网：
        a(href="https://www.wanglibao.com") www.wanglibao.com
