doctype html
html
  head
    title 迅雷活动页
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="8月20日至9月5日，迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/css/wap/activity.css", rel="stylesheet", type="text/css")
  body
    header.xunlei_03
    main
      h1 活动时间：2014年11月1日-2014年12月31日

      dl.bottom-line
        dt 每个账户投资P2P理财达到以下额度，可获得相应奖品：
        dd 1.累计购买满120万      <span class="note">送</span> iPhone 6 Plus(16G 5.5英寸)
        dd 2.累计购买满100万      <span class="note">送</span> iPhone 6 (16G 4.7英寸)
        dd 3.累计购买满50万       <span class="note">送</span> iPad Air 2(16G WLAN)
        dd 4.累计购买满40万       <span class="note">送</span> iPad mini 3(16G WLAN)
        dd 5.累计购买满20万       <span class="note">送</span> 1000元京东礼品卡
        dd 6.累计购买满10万       <span class="note">送</span> 500元京东礼品卡
        dd 7.累计购买满1万-9万    每满1万元       <span class="note">送</span> 50元话费


      dl
        dt.note 活动说明：
        dd 1、小伙伴邀请以身份证号为唯一识别标识。
        dd 2、登录网利宝网站个人中心获取邀请码，邀请小伙伴。
        dd 3、小伙伴完成首次单笔1000元（含）以上P2P理财。
        dd 4、赠送话费将于好友理财成功后3个工作日内发放。现金奖励将于2015年1月12日前发放至您的网利宝账户。
        dd 5、此次活动解释权归网利宝官网所有。

      footer
        详请关注网利宝官网：
        a(href="https://www.wanglibao.com") www.wanglibao.com