doctype html
html
  head
    title 邀请有奖
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="8月20日至9月5日，迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/css/wap/activity.css", rel="stylesheet", type="text/css")
    style.
      dd{line-height: 1.7em;}
      .note{margin-bottom: 10px;}
  body
    header.xunlei_02
    main
      h1 活动时间：4月15日—6月19日
      p.desc 邀请好友，好友首次理财超过200元，共享60元话费(各30元）

      dl
        dt.note 红包使用规则：
        dd  1.红包在完成注册后即刻发放，请在我的账户里-红包里面查看；
        dd  2.红包投资不可叠加使用，一次回款后可提现；
        dd  3.30元折扣红包可在4月15日-7月15日期间投资使用；
        dd  4.每个红包只能使用一次，无论是否有余额即失效；
      dl
        dt.note 活动规则:
        dd  1、手机号为网利宝唯一账户，每个身份证号只可绑定一个网利宝账号；
        dd  2、注册即送30元折扣红包，按投资金额的0.5%折扣使用。例如投资6000元，即可使用30元红包；
        dd  3、邀请好友，好友首次交易200元，共享60元话费（各30元），多邀多送不封顶！
        dd  4、奖品信息将发送至您的网利宝站内信，话费将充值进您的交易手机号；
        dd  5、刷奖、冒用他人身份证及其他信息者一经核实，取消活动资格，活动奖励不予承兑；
        dd  6、网利宝对此活动享有最终解释权。

      footer
        详请关注网利宝官网：
        a(href="https://www.wanglibao.com") www.wanglibao.com
