doctype html
html
  head
    title 迅雷活动页
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords", content="迅雷,网利宝,狂欢节")
    meta(name="description", content="8月20日至9月5日，迅雷+网利宝狂欢节，错过绝对会后悔”")
    link(href="/static/css/wap/activity.css", rel="stylesheet", type="text/css")
  body
    header
    main
      h1 活动时间：即日起-2015年3月15日

      dl.list
        dt 01
        dd &gt;&nbsp;迅雷会员理财，额外享最多1%年化收益奖励;
      dl.list
        dt 02
        dd &gt;&nbsp;充值免费得7天迅雷白金会员;
        dd &gt;&nbsp;首次投资送1个月迅雷白金会员;

      dl
        dt.note 活动说明：
        dd 1、迅雷白金会员激活码将以站内信的形式通知，激活码有效期至2015年12月21日。
        dd 2、该活动与 Apple 公司无关。

      footer
        详请关注网利宝官网：
        a(href="https://www.wanglibao.com") www.wanglibao.com