@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	list-style: none
}

body {
	position: relative;
	font-family: "微软雅黑";
	margin: 0 auto
}
.no_signal_wrap{
	height: 100%;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 9999;
}
.no_signal_wrap_animate{
	-webkit-animation-name: no_signal_wrap_animate;
	animation-name: no_signal_wrap_animate;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes no_signal_wrap_animate {
	0% {
		opacity:1;
	}

	50% {
		opacity:1;
	}

	100% {
		opacity:0;
	}
}

@keyframes no_signal_wrap_animate {
	0% {
		opacity:1;
	}

	50% {
		opacity:1;
	}

	100% {
		opacity:0;
	}
}
.no_signal{
	background: url("/static/imgs/mobile_activity/app_halloween/no_signal.jpg");
	background-size: cover;
	background-position: 0% 0%;
	height: 100%;
	width: 100%;
	-webkit-animation-name: no_signal;
	animation-name: no_signal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: steps(1, start);
	animation-timing-function: steps(1, start);
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}

@-webkit-keyframes no_signal {
	0% {
		background-position: 0 0
	}

	20% {
		background-position: -320px 0
	}

	40% {
		background-position: -640px 0
	}

	60% {
		background-position: -960px 0
	}

	80% {
		background-position: -1280px 0
	}

	100% {
		background-position: 0 0
	}
}

@keyframes no_signal {
	0% {
		background-position: 0 0
	}

	20% {
		background-position: -320px 0
	}

	40% {
		background-position: -640px 0
	}

	60% {
		background-position: -960px 0
	}

	80% {
		background-position: -1280px 0
	}

	100% {
		background-position: 0 0
	}
}
#wrap {
	position: relative;
	width: 100%;
	height:100%;
	overflow: hidden;
	box-shadow: 0 0 #000 inset;
	display: none;
}

.title {
	position: absolute;
	left: 3%;
	top: 20%;
	z-index: 2;
	width: 28.2%;
	display: block;
}

.title_animate {
	-webkit-animation-name: title_animate;
	animation-name: title_animate;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}

@-webkit-keyframes title_animate {
	0% {
		transform: translateX(0px);
		opacity: 1
	}

	100% {
		transform: translateX(-50%);
		opacity: 0
	}
}

@keyframes title_animate {
	0% {
		transform: translateX(0px);
		opacity: 1
	}

	100% {
		transform: translateX(-50%);
		opacity: 0
	}
}

.moon {
	position: absolute;
	right: 7.5%;
	top: 0%;
	width: 32%;
	z-index: 1;
	display: block;
}

@-webkit-keyframes moon {
	0% {
		transform: translateX(0px)
	}

	100% {
		transform: translateX(-30px)
	}
}

@keyframes moon {
	0% {
		transform: translateX(0px)
	}

	100% {
		transform: translateX(-30px)
	}
}

.cloud {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 300%;
	z-index: 3;
	display: block;
}

.bg_after {
	background: url("/static/imgs/mobile_activity/app_halloween/bg_after.jpg");
	background-size: 100% 100%;
	width: 300%;
	height: 100%;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.bg_after_animate1{
	-webkit-animation-name: bg_after_animate1;
	animation-name: bg_after_animate1;
	-webkit-animation-duration: 4.5s;
	animation-duration: 4.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes bg_after_animate1 {
	0% {
		-webkit-transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(-15%);
	}
}

@keyframes bg_after_animate1 {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-15%);
	}
}
.bg_front_wrap {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
	background: url("/static/imgs/mobile_activity/app_halloween/bg_front.png") no-repeat;
	background-size: 100% 100%;
	background-position: 0% 0%;
	height: 100%;
	width: 300%;
	overflow: hidden;
	box-shadow: 0 0 120px #000 inset;
}
.bg_front_wrap_animate1{
	-webkit-animation-name: bg_front_wrap_animate1;
	animation-name: bg_front_wrap_animate1;
	-webkit-animation-duration: 4.5s;
	animation-duration: 4.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes bg_front_wrap_animate1 {
	0% {
		-webkit-transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(-15%);
	}
}

@keyframes bg_front_wrap_animate1 {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-15%);
	}
}
.bg_front_wrap .main {
	width: 100%;
	height: 100%;
	position: relative
}

.bat1{
	position: absolute;
	left: 8%;
	top: 22%;
	z-index: 2;
	width: 54%;
	display: none;
	-webkit-transform: translate(150%, 120%);
	transform: translate(150%, 120%);
	opacity: 1;
}
.bat1_animate{
	-webkit-animation-name: bat1;
	animation-name: bat1;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.bat1 img {
	width: 100%;
	display: block
}

@-webkit-keyframes bat1 {
	0% {
		-webkit-transform: translate(150%, 120%);
		opacity: 1
	}

	100% {
		-webkit-transform: translate(-150%, -150%);
		opacity: 1
	}
}

@keyframes bat1 {
	0% {
		transform: translate(150%, 120%);
		opacity: 1
	}

	100% {
		transform: translate(-150%, -150%);
		opacity: 1
	}
}

.tree1_wrap {
	position: absolute;
	left: 125%;
	bottom: 11%;
	z-index: 1;
	width: 95%;
	display: block;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	display: none
}

.tree1_wrap_animate {
	-webkit-animation-name: tree1_wrap;
	animation-name: tree1_wrap;
	-webkit-animation-duration: 4.8s;
	animation-duration: 4.8s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 3.2s;
	animation-delay: 3.2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}

@-webkit-keyframes tree1_wrap {
	0% {
		-webkit-transform: translateX(0)
	}

	100% {
		-webkit-transform: translatex(-120%)
	}
}

@keyframes tree1_wrap {
	0% {
		-webkit-transform: translateX(0)
	}

	100% {
		transform: translatex(-120%)
	}
}

.tree1_wrap .tree1 {
	width: 100%;
	display: block
}

.tree1_wrap .main {
	width: 100%;
	height: 100%;
	position: relative
}

.tree1_wrap .owl {
	position: absolute;
	top: 0;
	right: 14.26573%;
	width: 9%;
	height: 50%;
	display: block;
	background: url("/static/imgs/mobile_activity/app_halloween/owl1.png") no-repeat;
	background-size: 100%
}

.tree1_wrap .deadman {
	width: 7.55245%;
	display: block;
	position: absolute;
	bottom: 25.28217%;
	right: 26.01399%
}

.tree2_wrap {
	position: absolute;
	left: 112%;
	bottom: 11.8%;
	z-index: 1;
	width: 64.4%;
	display: block;
	-webkit-transform: translateX(0);
	transform: translateX(0)
}

.tree2_wrap_animate {
	-webkit-animation-name: tree2_wrap;
	animation-name: tree2_wrap;
	-webkit-animation-duration: 4.8s;
	animation-duration: 4.8s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 3.2s;
	animation-delay: 3.2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}

@-webkit-keyframes tree2_wrap {
	0% {
		-webkit-transform: translateX(0)
	}

	100% {
		-webkit-transform: translatex(-120%)
	}
}

@keyframes tree2_wrap {
	0% {
		-webkit-transform: translateX(0)
	}

	100% {
		transform: translatex(-120%)
	}
}

.tree2_wrap .tree2 {
	width: 100%;
	display: block
}

.tree2_wrap .main {
	width: 100%;
	height: 100%;
	position: relative
}

.tree2_wrap .main .tree2 {
	width: 100%;
	display: block
}

.tree2_wrap .main .spider {
	width: 10.55901%;
	display: block;
	position: absolute;
	top: 21.89441%;
	right: 5.7971%
}

.boy {
	width: 145px;
	height: 240px;
	position: absolute;
	z-index: 3;
	left: 8.75%;
	bottom: 14%;
	background: url("/static/imgs/mobile_activity/app_halloween/renzou.png") no-repeat 0 0;
	background-size: auto 100%;
	-webkit-transform: scale(0.5) translateY(115px);
	transform: scale(0.5) translateY(140px);
}

@media screen and (min-width:700px) and (min-height:700px){
	.boy{
		-webkit-transform: scale(1.1) translateY(0px);
		transform: scale(1.1) translateY(0px);
	}
}
.boy .main{
	position: relative;
	width:100%;
}
.boy .boy_stay {
	display: block;
	width: 100%
}

.boy_animate1 {
	-webkit-animation-name: boy_animate1;
	animation-name: boy_animate1;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-timing-function: steps(1, start);
	animation-timing-function: steps(1, start);
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes boy_animate1 {
	0% {
		background-position: 0 0
	}

	5% {
		background-position: -145px 0
	}

	10% {
		background-position: -290px 0
	}

	15% {
		background-position: -435px 0
	}

	20% {
		background-position: -580px 0
	}

	25% {
		background-position: -725px 0
	}

	30% {
		background-position: -870px 0
	}

	35% {
		background-position: -1015px 0
	}

	40% {
		background-position: -1160px 0
	}

	45% {
		background-position: -1305px 0
	}

	50% {
		background-position: 0 0
	}
	55% {
		background-position: -145px 0
	}

	60% {
		background-position: -290px 0
	}

	65% {
		background-position: -435px 0
	}

	70% {
		background-position: -580px 0
	}

	75% {
		background-position: -725px 0
	}

	80% {
		background-position: -870px 0
	}

	85% {
		background-position: -1015px 0
	}

	80% {
		background-position: -1160px 0
	}

	90% {
		background-position: -1305px 0
	}

	95% {
		background-position: 0 0
	}
	100% {
		background-position: 0 0
	}
}

@keyframes boy_animate1 {
	0% {
		background-position: 0 0
	}

	5% {
		background-position: -145px 0
	}

	10% {
		background-position: -290px 0
	}

	15% {
		background-position: -435px 0
	}

	20% {
		background-position: -580px 0
	}

	25% {
		background-position: -725px 0
	}

	30% {
		background-position: -870px 0
	}

	35% {
		background-position: -1015px 0
	}

	40% {
		background-position: -1160px 0
	}

	45% {
		background-position: -1305px 0
	}

	50% {
		background-position: 0 0
	}
	55% {
		background-position: -145px 0
	}

	60% {
		background-position: -290px 0
	}

	65% {
		background-position: -435px 0
	}

	70% {
		background-position: -580px 0
	}

	75% {
		background-position: -725px 0
	}

	80% {
		background-position: -870px 0
	}

	85% {
		background-position: -1015px 0
	}

	80% {
		background-position: -1160px 0
	}

	90% {
		background-position: -1305px 0
	}

	95% {
		background-position: 0 0
	}
	100% {
		background-position: 0 0
	}
}

.boy_animate2 {
	-webkit-animation-name: boy_animate2;
	animation-name: boy_animate2;
	-webkit-animation-duration: 4.8s;
	animation-duration: 4.8s;
	-webkit-animation-timing-function: steps(1, start);
	animation-timing-function: steps(1, start);
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes boy_animate2 {
	0% {
		background-position: 0 0
	}

	10% {
		background-position: -145px 0
	}

	20% {
		background-position: -290px 0
	}

	30% {
		background-position: -435px 0
	}

	40% {
		background-position: -580px 0
	}

	50% {
		background-position: -725px 0
	}

	60% {
		background-position: -870px 0
	}

	70% {
		background-position: -1015px 0
	}

	80% {
		background-position: -1160px 0
	}

	90% {
		background-position: -1305px 0
	}

	100% {
		background-position: 0 0
	}
}

@keyframes boy_animate2 {
	0% {
		background-position: 0 0
	}

	10% {
		background-position: -145px 0
	}

	20% {
		background-position: -290px 0
	}

	30% {
		background-position: -435px 0
	}

	40% {
		background-position: -580px 0
	}

	50% {
		background-position: -725px 0
	}

	60% {
		background-position: -870px 0
	}

	70% {
		background-position: -1015px 0
	}

	80% {
		background-position: -1160px 0
	}

	90% {
		background-position: -1305px 0
	}

	100% {
		background-position: 0 0
	}
}
.boy_run{
	position:absolute;
	left:-35%;
	top:30%;
	z-index: 4;
	width:80%;
	display: none;
}
.choice {
	position: fixed;
	left: 0;
	bottom: 2.5%;
	z-index: 999;
	width: 76%;
	padding: 5px 12%;
	display: block;
}
.choice_step{
	width:100%;
	position: relative;
	display: none;
	opacity: 0;	
}
.choice_step_show{
	-webkit-animation-name: choice_step_show;
	animation-name: choice_step_show;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 6.5s;
	animation-delay: 6.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes choice_step_show {
	0% {
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes choice_step_show {
	0% {
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.choice_step_hide{
	-webkit-animation-name: choice_step_hide;
	animation-name: choice_step_hide;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes choice_step_hide {
	0% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes choice_step_hide {
	0% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.button {
	width: 33.8%;
	display: block;
	opacity: 0.8;
}
.choice1 {
	float: left;
}
.choice2 {
	float: right;
}
.choice_animate{
	-webkit-animation-name: choice_animate;
	animation-name: choice_animate;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes choice_animate {
	0% {
		-webkit-transform: scale(1);
		opacity: 0.8;
	}
	50% {
		-webkit-transform: scale(1.1);
		opacity: 1;
	}
	100%{
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@keyframes choice_animate {
	0% {
		transform: scale(1);
		opacity: 0.8;
	}
	50% {
		transform: scale(1.1);
		opacity: 1;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}
.gold_num_wrap{
	position: absolute;
    left: 2.6%;
    top: 1.4%;
    z-index: 1;
    width: 41.7%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
    z-index: 999;
    display: none;
}
.gold_num_wrap_animate{
	-webkit-animation-name: gold_num_wrap_animate;
	animation-name: gold_num_wrap_animate;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-delay: 10s;
	animation-delay: 10s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;	
}
@-webkit-keyframes gold_num_wrap_animate {
	0% {
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes gold_num_wrap_animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}
.gold_num_wrap .main {
    width: 100%;
    height: 100%;
    position: relative;
}
.gold_num_wrap .main .bg{
	width: 100%;
	display: block;
}
.gold_num_wrap .main .star{
	position:absolute;
	width:11.1%;
	display:block;
	top:6.86%;
	left:23%;
}
.gold_text{
	position:absolute;
	left:34%;
	top:27%;
	color: #fff;
	font-size:20px;
	width:55%;
	text-align: center;
}
@media screen and (min-width:700px) and (min-height:700px){
	.gold_text{
		font-size:40px;
	}
}
.car{
	position: absolute;
    left: 0%;
    bottom: 11.8%;
    z-index: 4;
    -webkit-transform: translateX(165%);
    transform: translateX(165%);
    width: 65%;
    display: block;
    z-index: 3;
    background: url("/static/imgs/mobile_activity/app_halloween/car.png") no-repeat 0 0;
	background-size: 100% auto;
}
.car .img{
	background: url("/static/imgs/mobile_activity/app_halloween/car.png") no-repeat 0 0;
	background-size: 100% auto;
	width:100%;
	height:100%;
}
.car img{
	width:100%;
	display:block;
	opacity: 0;
}
.car_animate{
	-webkit-animation-name: car_animate;
	animation-name: car_animate;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes car_animate {
	0% {
		-webkit-transform: translateX(165%);
	}
	60%{
		-webkit-transform: translateX(0);
	}
	80%{
		-webkit-transform: translateX(0);
	}
	100%{
		-webkit-transform: translateX(-105%);
	}
}

@keyframes car_animate {
	0% {
		transform: translateX(165%);
	}
	60%{
		transform: translateX(0);
	}
	80%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(-105%);
	}
}
.twinkle{
	-webkit-animation-name: twinkle;
	animation-name: twinkle;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: steps(1, start);
	animation-timing-function: steps(1, start);
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes twinkle {
	0% {
		background-position: 0 top;
	}
	50% {
		background-position: 0 bottom;
	}
	100%{
		background-position: 0 top;
	}
}

@keyframes twinkle {
	0% {
		background-position: 0 top;
	}
	50% {
		background-position: 0 bottom;
	}
	100%{
		background-position: 0 top;
	}
}
.gold{
	position: absolute;
    right: 0%;
    bottom: 14.2%;
    z-index: 3;
    -webkit-transform: translateX(128.5%);
    transform: translateX(128.5%);
    width: 28.5%;
    display: none;
}
.gold .img{
	background: url("/static/imgs/mobile_activity/app_halloween/gold.png") no-repeat 0 0;
	background-size: 100% auto;
	width:100%;
	height:100%;
}
.gold img{
	width:100%;
	display:block;
	opacity: 0;
}
.gold_animate{
	-webkit-animation-name: gold_animate;
	animation-name: gold_animate;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes gold_animate {
	0% {
		-webkit-transform: translateX(128.5%);
	}
	100%{
		-webkit-transform: translateX(-30%);
	}
}

@keyframes gold_animate {
	0% {
		transform: translateX(128.5%);
	}
	100%{
		transform: translateX(-30%);
	}
}
.gold_hide{
	-webkit-animation-name: gold_hide;
	animation-name: gold_hide;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.gold_hide2{
	-webkit-animation-name: gold_hide;
	animation-name: gold_hide;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes gold_hide {
	0% {
		-webkit-transform: translate(-30%,0);
		opacity: 1;
	}
	100%{
		-webkit-transform: translate(-30%,-20%);
		opacity: 0;
	}
}

@keyframes gold_hide {
	0% {
		transform: translate(-30%,0);
		opacity: 1;
	}
	100%{
		transform: translate(-30%,-20%);
		opacity: 0;
	}
}
.money_50{
	width:16.5%;
	position: absolute;
	left:25%;
	bottom:40%;
	z-index: 3;
	-webkit-transform: translateY(40%);
	transform: translateY(40%);
	opacity: 0;
	display: none;
}
@media screen and (min-width:700px) and (min-height:700px){
	.money_50{
		left:11%;
	}
}
.money_50_animate{
	-webkit-animation-name: money_50_animate;
	animation-name: money_50_animate;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-delay: 8s;
	animation-delay: 8s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes money_50_animate {
	0% {
		-webkit-transform: translateY(40%);
		opacity: 0;
	}
	20% {
		-webkit-transform: translateY(20%);
		opacity: 1;
	}
	70%{
		-webkit-transform: translateY(0);
		opacity: 1;	
	}
	100%{
		-webkit-transform: translateY(-60%);
		opacity: 0;
	}
}

@keyframes money_50_animate {
	0% {
		-webkit-transform: translateY(40%);
		opacity: 0;
	}
	20% {
		-webkit-transform: translateY(20%);
		opacity: 1;
	}
	70%{
		transform: translateY(0);
		opacity: 1;	
	}
	100%{
		transform: translateY(-60%);
		opacity: 0;
	}
}
.girl_wrap{
	width:22.4%;
	position: absolute;
	right: 2.6%;
	bottom: 12.2%;
	z-index: 3;
	-webkit-transform: translateX(125%);
	transform: translateX(125%);
	display: none;
}
.girl_wrap img{
	width:100%;
	display: block;
}
.girl_come_animate{
	/*-webkit-animation-name: girl_come_animate;
	animation-name: girl_come_animate;
	-webkit-animation-duration: 2.3s;
	animation-duration: 2.3s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;	*/
}
@-webkit-keyframes girl_come_animate {
	0% {
		-webkit-transform: translateX(125%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

@keyframes girl_come_animate {
	0% {
		transform: translateX(125%);
	}
	100% {
		transform: translateX(0%);
	}
}
.girl_wrap .girl_cry{
	display: none;
}
.sugar_want{
	position: absolute;
	right:20%;
	bottom:35%;
	width:25%;
	z-index: 3;
	opacity:0;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
}
.sugar_want_animate{
	/*-webkit-animation-name: sugar_want_animate;
	animation-name: sugar_want_animate;
	-webkit-animation-duration: 2.3s;
	animation-duration: 2.3s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;	*/
}
@-webkit-keyframes sugar_want_animate {
	0% {
		opacity:0;
		-webkit-transform: translateY(-20px);
	}
	100% {
		opacity:1;
		-webkit-transform: translateY(0px);
	}
}

@keyframes sugar_want_animate {
	0% {
		opacity:0;
		transform: translateY(-20px);
	}
	100% {
		opacity:1;
		transform: translateY(0px);
	}
}
.sugar{
	position: absolute;
	right: 38.5%;
    bottom: 22%;
	width:20.5%;
	z-index: 3;
	display: none;
}
@media screen and (min-width:700px) and (min-height:700px){
	.sugar{
		right: 54.5%;
		width: 16.5%;
	}
}
.ghost{
	position:absolute;
	right:30%;
	top:40%;
	z-index: 3;
	width:19%;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
	display: none;
}
.ghost_animate{
	-webkit-animation-name: ghost_animate;
	animation-name: ghost_animate;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
@-webkit-keyframes ghost_animate {
	0% {
		opacity:0;
		-webkit-transform: translateY(-20px);
	}
	100% {
		opacity:1;
		-webkit-transform: translateY(0px);
	}
}

@keyframes ghost_animate {
	0% {
		opacity:0;
		transform: translateY(-20px);
	}
	100% {
		opacity:1;
		transform: translateY(0px);
	}
}
.ghost .main{
	position: relative;
	width:100%;
}
.ghost .ghost_img{
	width:100%;
	display: block;
}
.ghost .ghost_hit{
	position:absolute;
	left:0%;
	top:40%;
	width:90%;
	display: block;
}