* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    list-style: none;
}
body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: Microsoft YaHei;
    background: #ffe6a6;
    font-size: 62.5%;
}
@media screen and (min-width: 700px) and (min-height: 700px) {
    body {font-size: 110%;}
}
input:focus,input:active,a {
	outline: none;
}

a {
	text-decoration: none;
}
body .clear {
	clear: both
}
.goldSeason {
    width:100%;
}
.goldSeason .goldSeasonBanner {
	width: 100%;
	display: block;

}
.goldSeason .rankingList {
	width: 100%;
	display: inline-block;
    position: relative;
    margin-top:0.5em;
}
.goldSeason .rankingList .bg1{
    width:100%;
    display:block;
}
.wrap_list{
    width:100%;
    background:url('/static/imgs/mobile_activity/app_gold_season/rankingList2.png');
    display:inline-block;
    background-size:100% 100%;
    position:relative;
}
.goldSeason .rankingList .table {
    width:100%;
    padding:0 0 0 5.3%;
}
.goldSeason .rankingList .table li {
	float: left;
	font-size: 1.4em;
	color: #666;
	height: 4em;
	line-height: 4em;
	text-align: center
}
.goldSeason .rankingList .table li.one {
	width: 16.2666667%
}
.goldSeason .rankingList .table li.two {
	width: 48.6666667%; padding-left:8%;
}
.goldSeason .rankingList .table li.three {
	width: 24%;
}
.goldSeason .rankingList .list {
	clear: both;
	width: 94.7%;
	margin-left:5.3%;
}
.goldSeason .rankingList .list ul {
	float: left
}
.goldSeason .rankingList .list ul li {
	width: 100%;
	height: 4em;
	line-height: 4em;
	text-align: center;
	color: #333;
	font-size: 1em;
}

.goldSeason .rankingList .list ul li:nth-child(odd) {
	background-color: #eee
}
.goldSeason .rankingList .list ul li.front {
	color: #ff4300
}
.goldSeason .rankingList .list ul li.back {
	color: #999
}
.goldSeason .rankingList .list ul.one {
	width: 16.2666667%
}
.goldSeason .rankingList .list ul.two {
	width: 48.6666667%;
}
.goldSeason .rankingList .list ul.two li{
    padding-left:16.7123288%;
}
.goldSeason .rankingList .list ul.three {
	width: 29%;
}
.goldSeason .rankingList .list ul.one span {
	display: block;
	margin: 0 auto;
	width: 2em;
	position: relative;
	z-index: 1;
}
.goldSeason .rankingList .list ul.one span.one {
	background: url(/static/imgs/pc_activity/gold_season/ico.png) no-repeat center 0;
	height: 32px;
	top: 4px;
}

.goldSeason .rankingList .list ul.one span.two {
	background: url(/static/imgs/pc_activity/gold_season/ico.png) no-repeat center -32px;
	height: 32px;
	top: 4px;
}
.goldSeason .rankingList .list ul.one span.three {
	background: url(/static/imgs/pc_activity/gold_season/ico.png) no-repeat center -64px;
	height: 32px;
	top: 4px;
}
@media screen and (min-width: 700px) and (min-height: 700px) {
    .goldSeason .rankingList .list ul.one span.one {
        top: 20px;
    }
    .goldSeason .rankingList .list ul.one span.two {
        top: 20px;
    }
    .goldSeason .rankingList .list ul.one span.three {
        top: 20px;
    }
}
.goldSeason .rankingList .list ul.one .round {
	text-align: center;
	border-radius: 50%;
	background: #ccc;
	top: 1em;
    font-size:1em;
	color: #fff;
	height: 2em;
	line-height: 2em;
}
.goldSeason .rankingList .bg3{
    width:100%;
    display:block;
    position: relative;
    top:-1.2em;
}
.goldSeason img.label {
	margin: 1em auto;
	display: block;
    width:60%;
}
.goldSeason .order {
	width: 100%;
	margin: 0 auto;
    display:inline-block;
}
.goldSeason .order .box {
	width: 18.75%;
	display: block;
	float: left
}
.goldSeason .order .one{
    margin-left:2.6666667%;
}
.goldSeason .order .box img {
	padding-bottom: 0.7em;
    width:95%;
	margin: 0 auto;
	display: block
}
.goldSeason .order .box dl {
	width: 100%;
}
.goldSeason .order .box dl dt {
	font-size: 1.3em;
	line-height: 1.6em;
    color: #e8471b;
    text-align: center;
}
.goldSeason .order .box dl dd {
	color: #666;
    padding-top:0.5em;
	font-size: 1em;
	line-height: 1.4em;
}
.goldSeason .order .arrow {
	margin: 0 2.1%;
	float: left;
	width: 2.2%;
	padding-top: 8%;

}
.explain{
    width:100%;
    margin-top:3.5em;
    font-size:0;
}
.explain .bg1{
    width:100%;
    display:block;
}
.explain .main{
    padding: 0.8rem 5.3%;
    width:100%;
    background: url(/static/imgs/mobile_activity/app_gold_season/explain2.png);
    display:inline-block;
    background-size: 100% 100%;
    font-size:0;
}
.explain .main dl{
    display:inline-block;
}
.goldSeason .explain .main dt,.goldSeason .explain .main dd {
	color: #666;
	padding: 0 0.2rem;
	font-size: 0.6rem;
    line-height: 1.2rem;
}
.goldSeason .explain .main dt span,.goldSeason .explain .main dd span {
	color: #ec551d
}
.goldSeason .example {
	clear: both;
	border: 0.1em #f0651f solid;
	border-radius: 1.4em;
	width: 100%;
	margin: 0.6em auto;
	display: inline-block;
}
.goldSeason .exampleImg{
    width:100%;
    display:inline-block;
    padding:0.8rem 0;
}
.goldSeason .example .leftImg {
	float: left;
	display: block;
	position: relative;
	top: 4.1em;
	left: -0.1em;
	z-index: 1;
    width:25.8258258%;
}
.goldSeason .example .rightMain {
	float: left;
	display: block;
	margin-left: 1.2em;
	width: 69%;
}
.goldSeason .example .rightMain p.title {
    padding-top:0.5em;
	line-height: 1.6em;
	font-size: 1em;
	text-align: left;
    color:#666;
}
.goldSeason .example .rightMain p.text {
	font-size: 1.1em;
	line-height: 2.6em;
    color:#666;
    font-weight: bold;
}
.goldSeason .example .rightMain .number span {
	float: left;
    font-weight: bold;
	display: block;
	font-size: 1.5em;
	color: #666;
	line-height: 3em;
}
.goldSeason .example .rightMain .number span.add {
}
.goldSeason .example .rightMain .number dl {
	float: left;
	display: block;
	text-align: center;
    margin-left:0.5em;
}
body .goldSeason .example .rightMain .number dl dt {
	font-size: 1.5em;
	color: #666;
	line-height: 3em;
	font-weight: bold;
	padding: 0
}
.goldSeason .example .rightMain .number dl dd {
	padding-top: 1em;
	font-size: 1em;
	color: #f0651f;
	line-height: 1.8em;
}
.goldSeason .example .rightMain .number dl.right {
	position: relative;
	left: 3em;
	width: 18em;
	z-index: 1
}
.goldSeason .example .rightMain .example1 {
	width: 100%;

}
.goldSeason .example .rightMain .example1 .number {
	margin-left: 3em
}
.goldSeason .example .rightMain .example2 {
	width: 100%; clear:both;
}
.goldSeason .example .rightMain .example2 .number{
    position: relative;
    top:-1.5em;
}
.goldSeason .example .rightMain .example2 dl {
	float: none;
	margin: 0 auto
}
.goldSeason .cheats {
	width: 100%;
    font-size:0;
}
.goldSeason .cheats .img{
    position:relative;
    display: block;
    width:100%;
}
.goldSeason .cheats .bg1 {
    display:inline-block;
	width: 100%;
}

.goldSeason .cheats .title {
	width: 29.3%;
    text-align: center;
    height: 2.6em;
    position: absolute;
    right: 8.8%;
    top: 13.6147541%;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0;
    line-height: 1.4em;
}
.goldSeason .cheats .text {
	position: absolute;
	color: #ec551d;
	font-size: 1.1em;
	height: 3em;
	line-height: 3em
}
.goldSeason .cheats .text1 {
	left: 6.9333333%;
	top: 5.1349693%;
}
.goldSeason .cheats .text2 {
	left: 12.2666667%;
	top: 22.6639344%;
}
.goldSeason .cheats .rule {
	background: url(/static/imgs/mobile_activity/app_gold_season/cheats_bg2.png);
    background-size: 100% 100%;
    display: inline-block;
    width:100%;
    padding: 1rem 4.75% 0;
}
.goldSeason .cheats .rule p {
	color: #666;
	line-height: 1.2rem;
    max-height: 999999999rem;
	font-size: 0.6rem;
}
.goldSeason .cheats .rule .calculation {
	color: #ec551d
}
.g-footer-warp {
	margin-top: 1.5em
}
.footer{
    margin-top:2.5em;
    padding:1em 0;
    width:100%;
    background:#db3b0f;
    text-align: center;
    color: #fff;
    font-size:1.2em;
    line-height: 1.6em;
}
@media screen and (min-width: 700px) and (min-height: 700px) {
    .explain .main{
        padding: 0.8rem 5.3%;
    }
    .goldSeason .explain .main dt, .goldSeason .explain .main dd {
        padding: 0 0.4rem;
        font-size: 1.2rem;
        line-height: 2.4rem;
    }
    .goldSeason .cheats .rule p {
        line-height: 1.67rem;
        font-size: 1.2rem;
    }
}