doctype html
- with '银行理财产品搜索' as title
include include/head
- endwith
body
  include include/header

  - with '银行理财' as activeItem
  include include/navigation
  - endwith
  .sub-navbar
    .sub-navbar--list
      ul
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{%url 'financing_home'%}") 理财首页
        li.sub-navbar--list-item
          a.sub-navbar--anchor.active(href="{%url 'financing_products'%}") 理财产品
  .panel
    .panel-title-bar
      .panel-title 筛选条件
    .container(data-bind="foreach: filters")
      .filter-container
        span.filter-name(data-bind="text: name + ':'") 名字
        // ko foreach: values
        a.filter-item(href="#", data-bind="text: name, css: {active: $root.activeFilters().indexOf($data) != -1}, click: $root.clickOnFilter") 名字
        // /ko
  .panel
    .panel-title-bar
      .panel-title 筛选结果
    .panel-content
      // ko template: {name: 'data-table', data: financingTable}
      // /ko

    // ko template: {name: 'pager', data: pager}
    // /ko

  include include/footer
  include include/templates

  script.
    require(['/static/js/financing_products.js'])

  include include/tracking
