doctype html
- with '银行理财' as title
include include/head
- endwith
body
  include include/header

  - with '银行理财' as activeItem
  include include/navigation
  - endwith
  .sub-navbar
    .sub-navbar--list
      ul
        li.sub-navbar--list-item
          a.sub-navbar--anchor.active(href="{%url 'financing_home'%}") 理财首页
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{%url 'financing_products'%}") 理财产品
  .container
    .ad-panel
  .space-vertical-s
  .panel
    .panel-title-bar
      .panel-title 热门产品
      a.panel-title-right-item(href="#") 更多
    .container
      .card-financing
        .card-top-container
          p.card-financing-title 高收益精选
          .space-vertical-s
          img.card-annotation(src="/static/images/on-sale.png")
          img.bank-logo(src="/static/images/pingan-logo.png")
          .space-vertical-s
          .card-financing-product-name 平安财富-结构类（非保本 挂钩ET）
        dl.card-detail-box
          dt 投资收益:
          dd.orange-text 12%
          dt 产品期限:
          dd.orange-text 90天
          .space-vertical-s
          .space-vertical-s.dashed-line
          dt 点评:
          dd 期限短，起点低，同类收益最高，保本浮动类型，稳健型首选

      .card-financing
        .card-top-container
          p.card-financing-title 高收益精选
          .space-vertical-s
          img.card-annotation(src="/static/images/on-sale.png")
          img.bank-logo(src="/static/images/pingan-logo.png")
          .space-vertical-s
          .card-financing-product-name 平安财富-结构类（非保本 挂钩ET）
        dl.card-detail-box
          dt 投资收益:
          dd.orange-text 12%
          dt 产品期限:
          dd.orange-text 90天
          .space-vertical-s
          .space-vertical-s.dashed-line
          dt 点评:
          dd 期限短，起点低，同类收益最高，保本浮动类型，稳健型首选

      .card-financing
        .card-top-container
          p.card-financing-title 高收益精选
          .space-vertical-s
          img.card-annotation(src="/static/images/on-sale.png")
          img.bank-logo(src="/static/images/pingan-logo.png")
          .space-vertical-s
          .card-financing-product-name 平安财富-结构类（非保本 挂钩ET）
        dl.card-detail-box
          dt 投资收益:
          dd.orange-text 12%
          dt 产品期限:
          dd.orange-text 90天
          .space-vertical-s
          .space-vertical-s.dashed-line
          dt 点评:
          dd 期限短，起点低，同类收益最高，保本浮动类型，稳健型首选

      .card-financing
        .card-top-container
          p.card-financing-title 高收益精选
          .space-vertical-s
          img.card-annotation(src="/static/images/on-sale.png")
          img.bank-logo(src="/static/images/pingan-logo.png")
          .space-vertical-s
          .card-financing-product-name 平安财富-结构类（非保本 挂钩ET）
        dl.card-detail-box
          dt 投资收益:
          dd.orange-text 12%
          dt 产品期限:
          dd.orange-text 90天
          .space-vertical-s
          .space-vertical-s.dashed-line
          dt 点评:
          dd 期限短，起点低，同类收益最高，保本浮动类型，稳健型首选

  .space-vertical-s
  .panel
    .panel-title-bar
      .panel-title 在售产品收益排行
      // ko template: { name: 'tabs', data: tab }
      // /ko

    // ko template: {name: 'sub-tabs', data: subTab }
    // /ko

    .panel-content
      // ko template: { name: 'data-table', data: financingTable }
      // /ko

  .space-vertical-m
  include include/footer
  include include/templates

  script(src="/static/js/require.js", data-main="/static/js/financing_home")

  include include/tracking
