mixin sidebar-item(name, link, expected_title, page)
  if page == ''
      styles = 'about_sidebar_a'
  else
      styles = ''
  if title == expected_title
    a(href=link,class=styles).active= name
  else
    a(href=link,class=styles)= name

.about_sidebar.clearfix
    .about_sidebar_div
        +sidebar-item('关于我们', '/about', '关于我们')
        +sidebar-item('媒体报道', '/news/list', '媒体报道')
        +sidebar-item('网利动态', '/milestone', '网利动态')
        +sidebar-item('网站公告', '/announcement', '网站公告')
        +sidebar-item('加入我们', '/hiring', '加入我们', 'last')

//ul.sidebar
//  p.sidebar-title 理财建议
//  div
//    +sidebar-item('理财小白必读', '/newbie', '理财小白必读')
//    +sidebar-item('怎么选择理财产品', '/howto', '怎么选择理财产品')
//    +sidebar-item('为什么需要资产配置', '/why_portfolio', '为什么需要资产配置')
