mixin sidebar-item(name, link, expected_title)
  if title == expected_title
    li.sidebar-item.active
      a(href=link)= name
  else
    li.sidebar-item
      a(href=link)= name

ul.sidebar
  div
    +sidebar-item('关于我们', '/about', '关于我们')
    +sidebar-item('核心团队', '/team', '核心团队')
    +sidebar-item('公司展示', '/company', '公司展示')
    +sidebar-item('战略合作伙伴', '/partner', '战略合作伙伴')
    +sidebar-item('网利宝大事记', '/milestone', '网利宝大事记')
    +sidebar-item('企业社会责任', '/responsibility', '企业社会责任')
    +sidebar-item('网站公告', '/announcement', '网站公告')
    +sidebar-item('媒体报道', '/news/list', '媒体报道')
    +sidebar-item('招贤纳士', '/hiring', '招贤纳士')
    +sidebar-item('联系方式', '/contact_us', '联系方式')

//ul.sidebar
//  p.sidebar-title 理财建议
//  div
//    +sidebar-item('理财小白必读', '/newbie', '理财小白必读')
//    +sidebar-item('怎么选择理财产品', '/howto', '怎么选择理财产品')
//    +sidebar-item('为什么需要资产配置', '/why_portfolio', '为什么需要资产配置')
