meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="baidu-site-verification", content="iBKXouRC1a")
meta(name="apple-itunes-app",content="app-id=881326898 affiliate-data=, app-argument=")
if title != '网利宝' and request.path != '/'
  title {{title}}-网利宝
else
  title {{title}}
link(rel='shortcut icon', href='/static/images/favicon-128.png')
link(rel="stylesheet", href="{{host}}/static/stylesheets/jquery.modal.css",type="text/css",media="screen")
link(href="{{host}}/static/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
link(href="{{host}}/static/stylesheets/print.css", media="print", rel="stylesheet", type="text/css")
// if IE
  link(rel="stylesheet", href="{{host}}/static/stylesheets/iealert/style.css",type="text/css",media="screen")
  link(href="{{host}}/static/stylesheets/ie.css", media="screen, projection", rel="stylesheet", type="text/css")
  link(href="{{host}}/static/stylesheets/pie.css", rel="stylesheet", type="text/css")
script(src="/static/js/lib/modernizr.js")
script(src="/static/js/require.js", data-main="/static/js/header")
