-load formatters
-load widget_tweaks

mixin innerFooter()
  .container
    .footer-section--container.row
      dl.footer-section
        img(src="/static/images/logo-footer.png")
      dl.footer-section
        dt.section--title 关于网利宝
        dd.section--item
          a(href="/about") 关于我们
        dd.section--item
          a(href="/team") 管理团队
        dd.section--item
          a(href="/hiring") 招贤纳士
        dd.section--item
          a(href="/contact_us") 联系方式

      dl.footer-section
        dt.section--title 关于理财
        dd.section--item
          a(href="/newbie") 理财小白必读
        dd.section--item
          a(href="/howto") 怎么选择理财产品
        dd.section--item
          a(href="/why_portfolio") 为什么需要资产配置

      dl.footer-section
        dt.section--title 关注我们
        dd.section--item
          span 官方QQ讨论群
        dd.section--item
          span 362121062

      dl.footer-section.contact-section
        .icon-phone-footer.font-xxxl
        .footer--phone 4008-588-066
        p 客服热线 9:00 - 21:00

        .space-vertical-s
        a.weibo-button(href="http://weibo.com/u/5000682691", target="_blank")
        .space-s
        a.weixin-button(href="javascript:void(0)", data-role="hover", data-target="#qrcode")
          img#qrcode.footer--weixin-qr-code(src="/static/images/weixin-qr.png", style="display:none")

  .footer-line
  .footer-bottom
    .footer-copyright Copyright&copy;2014 wanglibao.com Inc. All Right Reserved. 北京网利科技有限公司

  #login-modal(style="display:none")
    .padding-s
      ul.login-modal-tab
        li#tab-login.active 用户登录
        li#tab-register 用户注册

      include include/login_form
      include include/register_form


if no_margin
  .footer-no-margin
    +innerFooter()
else
  .footer
    +innerFooter()

script.
  require(['/static/js/hover.js','/static/js/login_modal.js'])
