mixin innerFooter()
  .container
    .footer-section--container.row
      dl.footer-section
        img(src="/static/images/logo-footer.png")
      dl.footer-section
        dt.section--title 关于网利宝
        dd.section--item
          a(href="/about") 关于我们
        dd.section--item
          a 顾问团队
        dd.section--item
          a 媒体报道
        dd.section--item
          a(href="/hiring") 招贤纳士


      dl.footer-section
        dt.section--title 关于理财
        dd.section--item
          a(href="/howto") 怎么选择理财产品？
        dd.section--item
          a(href="/newbie") 理财小白必读
        dd.section--item
          a(href="/why_portfolio") 为什么需要资产配置？

      dl.footer-section
        dt.section--title 关注我们
        dd.section--item
          span 官方QQ讨论群
        dd.section--item
          span 362121062

      dl.footer-section.contact-section
        img(src="/static/images/icon-phone.png")
        .phone 4008-588-066
        p 客服热线 9:00 - 21:00

        .space-vertical-s
        a.weibo-button(href="http://weibo.com/u/5000682691?topnav=1&wvr=5") 微博
        .space-s
        a.weixin-button(href="#", data-role="hover", data-target="#qrcode") 微信
          img#qrcode.footer--weixin-qr-code(src="/static/images/weixin-qr.png", style="display:none")

  .footer-line
  .footer-bottom
    .footer-copyright Copyright&copy;2014 wanglibao.com Inc. All Right Reserved. 北京网利科技有限公司

if no_margin
  .footer-no-margin
    +innerFooter()
else
  .footer
    +innerFooter()

script.
  require(['/static/js/hover.js'])
