mixin innerFooter()
  .container
    .row
      dl.span4.padding-s
        dt.section--title 关于理财
        dd.section--item
          a(href="/newbie") 理财小白必读
        dd.section--item
          a(href="/why_portfolio") 为什么需要资产配置？
        dd.section--item
          a(href="/howto") 怎么选择理财产品？
      dl.span4.padding-s
        dt.section--title 关于网利宝
        dd.section--item
          a(href="/about") 关于我们
        dd.section--item
          a 顾问团队
        dd.section--item
          a 媒体报道
      dl.span4-omega.padding-s
        dt.section--title 联系方式
        dd.section--item
          span 地址：<a href="/contact_us">北京市霄云路天元港中心A座610</a>
        dd.section--item
          span 电话：<a href="tel:400 8588 066">400-8588-066</a>
        dd.section--item
          span 邮箱：<a href="mailto:support@wanglibao.com">support@wanglibao.com</a>

  .footer-line
  .footer-copyright
    p
      a(href="http://www.wanglibao.com/")<strong>网利金融-网利宝</strong>
      为客户提供个性化投资产品推荐个人理财。信托产品，银行理财，基金产品，现金类理财
  .footer-copyright Copyright&copy;2014 wanglibao.com Inc. All Right Reserved. 北京网利科技有限公司

if no_margin
  .footer-no-margin
    +innerFooter()
else
  .footer
    +innerFooter()

