mixin innerFooter()
  .container
    .row
      dl.span4.padding-s
        dt.section--title 关于理财
        dd.section--item
          a(href="/newbie") 理财小白必读
        dd.section--item
          a(href="/why_portfolio") 为什么需要资产配置？
        dd.section--item
          a(href="/howto") 怎么选择理财产品？
      dl.span4.padding-s
        dt.section--title 关于网利宝
        dd.section--item
          a(href="/about") 关于我们
        dd.section--item
          a(href="/about") 顾问团队
        dd.section--item
          a(href="/about") 媒体报道
      dl.span4-omega.padding-s
        dt.section--title 联系方式
        dd.section--item
          span 地址：<a href="/contact_us">北京市霄云路天元港中心A座610</a>
        dd.section--item
          span 电话：<a href="tel:010 8441 7393">010-8441 7393</a>
        dd.section--item
          span 邮箱：<a href="mailto:support@wanglibao.com">support@wanglibao.com</a>

  .footer-line
  .footer-copyright Copyright&copy;2014 wanglibao.com Inc. All Right Reserved.

if no_margin
  .footer-no-margin
    +innerFooter()
else
  .footer
    +innerFooter()

