// 页尾 start
.footer
  .footer--container
    dl.footer--section
      dt.section--title 关于理财
      dd.section--item 怎么选择合适的理财产品？
      dd.section--item 为什么需要资产配置？
      dd.section--item 如何做资产配置？
    dl.footer--section
      dt.section--title 关于网利宝
      dd.section--item 关于我们
      dd.section--item 顾问团队
      dd.section--item 媒体报道
    dl.footer--section__last
      dt.section--title 联系方式
      .section--row
        dd.contact-location.section--column
          i.i-location
          span 北京市霄云路40号10-1000
        dd.contact-phone.section--column
          i.i-pad
          span 13810250118
      .section--row
        dd.contact-tel.section--column
          i.i-phone-icon
          span 010-67873388
        dd.contact-email.section--column
          i.i-mail
          span master@wanglibao.com