-load formatters
-load widget_tweaks

mixin innerFooter()
  .container
    .footer-section--container.row
      dl.footer-section
        img(src="/static/images/logo-footer.png")
      dl.footer-section
        dt.section--title 关于网利宝
        dd.section--item
          a(href="/about") 关于我们
        dd.section--item
          a(href="/team") 管理团队
        dd.section--item
          a(href="/hiring") 招贤纳士
        dd.section--item
          a(href="/contact_us") 联系方式

      dl.footer-section
        dt.section--title 关于理财
        dd.section--item
          a(href="/newbie") 理财小白必读
        dd.section--item
          a(href="/howto") 怎么选择理财产品
        dd.section--item
          a(href="/why_portfolio") 为什么需要资产配置

      dl.footer-section
        dt.section--title 关注我们
        dd.section--item
          span 官方QQ讨论群
        dd.section--item
          span 362121062

      dl.footer-section.contact-section
        .icon-phone-footer.font-xxxl
        .footer--phone 4008-588-066
        p 客服热线 9:00 - 21:00

        .space-vertical-s
        a.weibo-button(href="http://weibo.com/u/5000682691", target="_blank")
        .space-s
        a.weixin-button(href="javascript:void(0)", data-role="hover", data-target="#qrcode")
          img#qrcode.footer--weixin-qr-code(src="/static/images/weixin-qr.png", style="display:none")

  .footer-line
  .footer-bottom
    .footer-copyright Copyright&copy;2014 wanglibao.com Inc. All Right Reserved. 北京网利科技有限公司

  #login-modal(style="display:none")
    .padding-s
      ul.login-modal-tab
        li#tab-login.active 用户登录
        li#tab-register 用户注册
      form#login-modal-form.login-form(method='POST', action='/accounts/login/ajax/')
        .form-row
          input#login_identifier.full-width(type="text", name="identifier", placeholder="请输入手机号")
          .errMessage
        .form-row
          input#login_password.full-width(type="password", name="password", placeholder="请输入密码")
          .errMessage
        .form-row
          input#id_captcha_0(type="hidden", name="captcha_0", autocomplete="off")
          input#id_captcha_1.captcha(type="text", name="captcha_1", autocomplete="off", placeholder="请输入验证码", maxlength="4")
          img.captcha.captcha-img(alt="captcha", src="")
          button.captcha-refresh.refresh-button(type="button", title="点击刷新验证码") &nbsp;&nbsp;&nbsp;&nbsp;
          .errMessage
        .form-row.form-bottom-bar
          button#login_submit.span12.button-red.button-middle(type='submit') 登 录
          .remember-me
            a.forgot-password(href='{% url "password_reset" %}') 忘记密码？
        .space-vertical-s

      form#register-modal-form.login-form(method='post', action='/accounts/register?next={{ next }}')
        .form-row
          input#reg_identifier.full-width(type="text", name="identifier", placeholder="请输入手机号")
          .errMessage
        #validate-code-container.form-row
          input#id_validate_code.ispan6.clear-margin(name="validate_code", placeholder="请输入验证码", autocomplete='off', title="请输入验证码")
          button.ispan4-omega#button-get-validate-code.button.button-red.button-mini(type='button') 获取
          .errMessage
        .form-row
          input#reg_password.full-width(type="password", name="password", placeholder="请输入密码")
          .password-strength-container
            span.password-strength-1 低
            span.password-strength-2 中
            span.password-strength-3 高
          .errMessage
        .form-row
          input#reg_password2.input-large(type="password", name="password2", placeholder="请确认密码", autocomplete='off', title="请确认密码")
          .errMessage
        .form-row.form-bottom-bar
          button#register_submit.span12.button-red.button-middle(type='submit') 注 册
          .agreement.clearfix
            label(for="agreement")
              input(type="checkbox", name="agreement", checked="checked", id="agreement")
              | 我同意《网利宝注册协议》
        .space-vertical-s


if no_margin
  .footer-no-margin
    +innerFooter()
else
  .footer
    +innerFooter()

script.
  require(['/static/js/hover.js','/static/js/login_modal.js'])
