mixin innerFooter()
  .container
    .footer-section--container.row
      dl.footer-section
        img(src="/static/images/logo-footer.png")
      dl.footer-section
        dt.section--title 关于网利宝
        dd.section--item
          a(href="/about") 关于我们
        dd.section--item
          a(href="/team") 管理团队
        dd.section--item
          a(href="/hiring") 招贤纳士
        dd.section--item
          a(href="/contact_us") 联系方式

      dl.footer-section
        dt.section--title 关于理财
        dd.section--item
          a(href="/newbie") 理财小白必读
        dd.section--item
          a(href="/howto") 怎么选择理财产品
        dd.section--item
          a(href="/why_portfolio") 为什么需要资产配置

      dl.footer-section
        dt.section--title 关注我们
        dd.section--item
          span 官方QQ讨论群
        dd.section--item
          span 362121062

      dl.footer-section.contact-section
        img(src="/static/images/icon-phone.png")
        .footer--phone 4008-588-066
        p 客服热线 9:00 - 21:00

        .space-vertical-s
        a.weibo-button(href="http://weibo.com/u/5000682691", target="_blank") 微博
        .space-s
        a.weixin-button(href="javascript:void(0)", data-role="hover", data-target="#qrcode") 微信
          img#qrcode.footer--weixin-qr-code(src="/static/images/weixin-qr.png", style="display:none")

  .footer-line
  .footer-bottom
    .footer-copyright Copyright&copy;2014 wanglibao.com Inc. All Right Reserved. 北京网利科技有限公司

  #login-modal-form(style="display:none")
    .modal-title-bar
      span.modal-title 用户登录
      a.icon-cancel.pull-right(rel="modal:close")
    .padding-s
      form#login-form.login-form(method='post', action='/accounts/login/ajax/')
        - csrf_token
        .form-row
          input#id_identifier.identifier.full-width(type="text", name="identifier", placeholder="请输入手机号")
        .form-row
          input#id_password.password.full-width(type="password", name="password", placeholder="请输入密码")
        .form-row.form-bottom-bar
          button#login_submit.span8.button-red.button-middle(type='submit') 登 录
          .span4-omega
          .space-s
          a(href='{% url "password_reset" %}') 忘记密码？
        .space-vertical-s

  #register-modal-form(style="display:none")
    .modal-title-bar
      span.modal-title 用户注册
      a.icon-cancel.pull-right(rel="modal:close")
    .padding-s
      form#register-form.login-form(method='post', action='/accounts/register?next={{ next }}')
        - csrf_token
        .form-row
          input.identifier.full-width(type="text", name="identifier", placeholder="* 请输入手机号")
        #validate-code-container.form-row
          input#id_validate_code.validate_code.ispan6.clear-margin(placeholder="* 请输入验证码", autocomplete='off', title="* 请输入验证码")
          button.ispan4-omega#button-get-validate-code.button.button-red.button-mini(type='button') 获取
        .form-row
          input.password.full-width(type="password", placeholder="请输入密码")
          .password-strength-container
            span.password-strength-1 低
            span.password-strength-2 中
            span.password-strength-3 高
        //.form-row
          input.input-large(type="password", name="password2", placeholder="* 请确认密码", autocomplete='off', title="* 请确认密码")
        .form-row.form-bottom-bar
          button#register_submit.span12.button-red.button-middle(type='submit') 注 册
          .span4-omega
          .space-s
        .space-vertical-s

if no_margin
  .footer-no-margin
    +innerFooter()
else
  .footer
    +innerFooter()



script.
  require(['/static/js/hover.js','/static/js/footer.js'])
