.full-container
  .logo-bar
    .logo-div
      a(href="/")
        .logo

    .search-bar
      .input-bar
        span.input-title 投资金额
        .header-asset
          input.header-input-base.header-asset-input(type='text', size=20)
          span#header-asset-unit 万元
        span.input-title 期限:
        select.header-input-base.header-select
          option(value='0-3') 3个月以内
          option(value='3-6') 3-6个月
          option(value='6-12') 6-12个月
          option(value='12-36') 1-3年
          option(value='>36') 3年以上
        select.header-input-base.header-select
          option(value='portfolio') 个人理财
          option(value='trust') 信托理财
          option(value='financing') 银行理财
          option(value='fund') 基金产品
          option(value='cash') 现金理财
        a.header-button(href='#') 搜索

    .user-info
      if user.is_authenticated
        a(href="/portfolio") 我的投资方案
        .user-center
          #username {{ user.wanglibaouserprofile.nick_name }}
          ul#user-items
            li
              a(href="/accounts/favorite/") 产品收藏
            li
              a(href="/accounts/setting/") 修改密码
        a.logout(href="/accounts/logout?next={{ request.path }}") 退出
      else
        a(href="/accounts/login?next={{ request.path }}") 登录
        a(href="/accounts/register") 注册

  script(src="/static/js/require.js", data-main="/static/js/header")
