- load formatters
.full-container
  .top-invite-bar
    if user.is_authenticated
      a#invite_top_bar(href="/accounts/invite")
    else
      a#invite_top_bar(href="/activity/full_xin/",target="_blank")

