.full-container
  .topbar
    .container
      i.icon-phone.font-l &nbsp;
      span 客服热线：
      span 4008-588-066

      span.margin-left-m 关注我们：
      a.topbar-anchor.icon.icon-weibo(href="javascript:void(0)")
      a.topbar-anchor.icon.icon-weixin(href="javascript:void(0)")

      .user-info.white#user-info-ajax
        if user.is_authenticated
          span
            a(href="/accounts/home") {{ user.wanglibaouserprofile.nick_name }} 的个人中心
          a.logout(href="/accounts/logout?next={{ request.path }}") 退出
        else
          a.login-modal.user-info--login(href="#login-modal") 登录
          a.register-modal.user-info--register(href="#login-modal") 注册