.full-container
  .topbar
    .container
      span 客服热线：
      span 4008-588-066

      span 关注我们：
      a(href="javascript:void(0)") 微信
      a(href="javascript:void(0)") 微博
      .user-info
        if user.is_authenticated
          span {{ user.wanglibaouserprofile.nick_name }}
          a.logout(href="/accounts/logout?next={{ request.path }}") 退出
        else
          a(href="/accounts/login?next={{ request.path }}") 登录
          a(href="/accounts/register?next={{ request.path }}") 注册
