.container
  .common-inform.off
    div.inform-head
      a#topNotice.top-notice-expanded
        span.website-notice-icon
        span.w-n-l-i-title 网利宝国庆节期间工作安排及发标公告
      span.w-n-l-i-date 2014-09-30

    ul
      li 尊敬的网利宝用户：您好！
      li 根据国家国庆节放假有关规定和公司实际情况，国庆节假期将做如下安排：
      li 1、10月1日至10月7日休息，9月30日正常上班，10月8日正式上班。
      li 2、9月26日15点后货币基金暂停申购及赎回操作。（当日15点前申购仍可享国庆假期收益）10月8日起恢复申购及赎回操作，请大家提前安排。
      li 3、由于支付机构节假日期间不受理提现业务，因此国庆节期间（10月1日—10月7日）提现业务暂停。有提现需求的客户，请在9月30日(周二)14:00前递交申请，我们将及时受理；14:00后发出的提现申请，我们会在假期结束后第一个工作日（10月8日）进行处理。
      li 4、节假日期间，用户可将问题反馈至kefu@wanglibank.com，客服人员将于2014年10月8日上班后统一处理。
      li.notice 发标公告：10月8日发布，企业资金周转100万元，3个月，年化收益11%+2%，第三方本息保障。

