.full-container-top-bar
  .container
    .top-bar-service
      span.icon.icon-service-line
      客服热线：4008-588-066
      &nbsp;&nbsp;关注我们：
      a(href="http://weibo.com/u/5000682691", target="_blank")
        span.icon.icon-weibo(title="新浪微博")
      span.icon.icon-weixin(title="微信")
    .top-bar-login.white#user-info-ajax
      if user.is_authenticated
        a(href="/accounts/home/") {{ user.wanglibaouserprofile.nick_name }} 的个人中心
        a.logout(href="/accounts/logout?next={{ request.path }}") 退出
      else
        a.login-modal(href="#login-modal") 登录
        a.register-modal(href="#login-modal") 注册

.full-container-white
  .container-login-nav
    a(href='/')
      .logo
    .login-nav
      include include/nav_common
