.nav-items
  ul
    mixin nav-item(name, link)
      if activeItem == name
        li.nav-item.active
          a.nav-item-anchor(href=link)= name
      else
        li.nav-item
          a.nav-item-anchor(href=link)= name

    +nav-item('首页', '/')
    +nav-item('个人理财', '/portfolio')
    +nav-item('信托产品', '/trust/home')
    +nav-item('银行理财', '/financing/home')
    +nav-item('基金产品', '/fund/products')
    +nav-item('现金类理财', '/cash/products')

script(src="/static/js/require.js", data-main="/static/js/header")