.nav-items
  ul
    mixin nav-item(name, link, new_class, free)
      if activeItem == name
        li.nav-item.active
          a.nav-item-anchor(href=link, class=new_class)= name
          if free == 'yes'
            span.icon.icon-free 免费
      else
        li.nav-item
          a.nav-item-anchor(href=link, class=new_class)= name
          if free == 'yes'
            span.icon.icon-free 免费

    +nav-item('首页', '/', '', '')
    +nav-item('理财专区', '/p2p/list/', '', '')
    +nav-item('自动投标', '/accounts/auto_tender/ ', '', '')

    +nav-item('安全保障', '/security', 'left-line', '')
    +nav-item('帮助中心', '/help', '', '')

    if user.is_authenticated
      +nav-item('我的账户', '/accounts/home', 'button button-red button-account-nav')
    else
      +nav-item('我的账户', '/accounts/home', 'button button-red button-account-nav nologin')