.navigation
  .navigation-container
    .logo(title="logo")
    .nav-items
      ul
        li.nav-item
          if activeItem == '首页'
            a.nav-item-anchor.active(href="{% url 'index' %}") 首页
          else
            a.nav-item-anchor(href="{% url 'index' %}") 首页

        li.nav-item
          if activeItem == '个人理财'
            a.nav-item-anchor.active(href="{% url 'portfolio_home' %}") 个人理财
          else
            a.nav-item-anchor(href="{% url 'portfolio_home' %}") 个人理财

        li.nav-item
          if activeItem == '信托产品'
            a.nav-item-anchor.active(href="{% url 'trust_home' %}") 信托产品
          else
            a.nav-item-anchor(href="{% url 'trust_home' %}") 信托产品
        li.nav-item
          if activeItem == '银行理财'
            a.nav-item-anchor.active(href="{% url 'financing_home' %}") 银行理财
          else
            a.nav-item-anchor(href="{% url 'financing_home' %}") 银行理财
        li.nav-item
          if activeItem == '基金产品'
            a.nav-item-anchor.active(href="{% url 'fund_home' %}") 基金产品
          else
            a.nav-item-anchor(href="{% url 'fund_home' %}") 基金产品
