.full-container-white
  .container-navigation
    .row
      .span2
        a(href='/')
          .logo
      .span8
        include include/nav_common
      .span2-omega.align-right
        a.button-primary(href="/accounts/home/") 我的账户