- load formatters

.pager
  ul
    if data.has_previous
      li.pager-prev
        a.pager-anchor(href='{{uri}}&page={{data.previous_page_number}}') <
    else
      li.pager-prev.disabled
        a.pager-anchor(href='javascript:void(0)') <

    if data.paginator.num_pages <= 10
      num_pages = data.paginator.num_pages + 1
      - for index in 1|get_range:num_pages
        if data.number == index
          li.pager-page-number.active
            a.pager-anchor(href='{{uri}}&page={{index}}') {{index}}
        else
          li.pager-page-number
            a.pager-anchor(href='{{uri}}&page={{index}}') {{index}}
    else
      - for index in 1|get_range:3
        if data.number == index
          li.pager-page-number.active
            a.pager-anchor(href='{{uri}}&page={{index}}') {{index}}
        else
          li.pager-page-number
            a.pager-anchor(href='{{uri}}&page={{index}}') {{index}}

      num_pages_minus = data.paginator.num_pages - 1
      if data.number > 2 and data.number < num_pages_minus
        span ...
        li.pager-page-number.active
          a.pager-anchor(href='{{uri}}&page={{data.number}}') {{data.number}}
        span ...
      else
        span ...

      num_pages_add = data.paginator.num_pages + 1
      - for index in num_pages_minus|get_range:num_pages_add
        if data.number == index
          li.pager-page-number.active
            a.pager-anchor(href='{{uri}}&page={{index}}') {{index}}
        else
          li.pager-page-number
            a.pager-anchor(href='{{uri}}&page={{index}}') {{index}}

    if data.has_next
      li.pager-next
        a.pager-anchor(href='{{uri}}&page={{data.next_page_number}}') >
    else
      li.pager-next.disabled
        a.pager-anchor(href='javascript:void(0)') >
