script(type="text/html", id="data-table")
  table.trust-table
    thead
      tr(data-bind="foreach: columns")
        // ko if: sortable
        th(data-bind="attr:{colspan: colspan}")
          a.unstyled(href="#", data-bind="click: $parent.sortHandler")
            span(data-bind="text:name")
            .updown
              .up(data-bind="css:{active: $parent.sortedColumn().column == $data && $parent.sortedColumn().order == 'asc'}")
              .down(data-bind="css:{active: $parent.sortedColumn().column == $data && $parent.sortedColumn().order == 'dsc'}")

        // /ko

        // ko if: !sortable
        th(data-bind="attr:{colspan: colspan}, text: name")
        // /ko

    tbody(data-bind="foreach: {data: data, as:'item'}")

      tr(data-bind="foreach: $parent.columns")
        td(data-bind="attr:{colspan: colspan}, html: text(item, $parentContext.$index())")

script(type="text/html", id="portfolio-product-table")
  table.product-table
    thead
      tr(data-bind="foreach: columns")
        // ko if: sortable
        th(data-bind="attr:{colspan: colspan}")
          a.unstyled(href="#", data-bind="click: $parent.sortHandler")
            span(data-bind="text:name")
            .updown
              .up(data-bind="css:{active: $parent.sortedColumn().column == $data && $parent.sortedColumn().order == 'asc'}")
              .down(data-bind="css:{active: $parent.sortedColumn().column == $data && $parent.sortedColumn().order == 'dsc'}")

        // /ko

        // ko if: !sortable
        th(data-bind="attr:{colspan: colspan}, text: name")
        // /ko

    tbody(data-bind="foreach: {data: data, as:'item'}")

      tr(data-bind="foreach: $parent.columns")
        td(data-bind="attr:{colspan: colspan}, html: text(item, $parentContext.$index())")



script(type="text/html", id="pager")
  .pager
    ul
      li.pager-prev(data-bind="css:{disabled: currentPageNumber() == 1}")
        a.pager-anchor(href="#", data-bind="click: decreasePageNumber") <

      // ko if: totalPageNumber() <= 10

      // ko foreach: ko.utils.range(1, totalPageNumber())
      li.pager-page-number(data-bind="css:{active: $parent.currentPageNumber() == $data}")
        a.pager-anchor(href="#", data-bind="text: $data, click: $parent.pageNumberChanged") 1
      // /ko

      // /ko

      // ko if: totalPageNumber() > 10

      // ko foreach: ko.utils.range(1, 2)
      li.pager-page-number(data-bind="css:{active: $parent.currentPageNumber() == $data}")
        a.pager-anchor(href="#", data-bind="text: $data, click: $parent.pageNumberChanged") 1
      // /ko


      // ko if: currentPageNumber() > 2 && currentPageNumber() < totalPageNumber() - 1
      span ......

      li.pager-page-number.active
        a.pager-anchor(href="#", data-bind="text: currentPageNumber(), click: pageNumberChanged") 1

      span ......
      // /ko

      // ko if: currentPageNumber() <= 2 || currentPageNumber() >= totalPageNumber() - 1
      span ......
      // /ko

      // ko foreach: ko.utils.range(totalPageNumber() - 1, totalPageNumber())
      li.pager-page-number(data-bind="css:{active: $parent.currentPageNumber() == $data}")
        a.pager-anchor(href="#", data-bind="text: $data, click: $parent.pageNumberChanged") 1
      // /ko

      // /ko

      li.pager-next(data-bind="css:{disabled: _currentPageNumber() == totalPageNumber()}")
        a.pager-anchor(href="#", data-bind="click: increasePageNumber") >

script(type="text/html", id="tabs")
  .panel-tabs(data-bind="foreach: tabs")
    .panel-tab(data-bind="css: {active: name == $parent.selectedTab().name}")
      a(href="#" data-bind="text: name, click: $parent.tabSelected") 名字

script(type="text/html", id="sub-tabs")
  .panel-sub-tabs(data-bind="foreach: tabs")
    a.panel-sub-tab(href="#", data-bind="text: name, css: {active: name == $parent.selectedTab().name}, click: $parent.tabSelected") 名字
