mixin sidebar-item(name, link, target)
  unless target
    target = '_self'
  if activeItem == name
    li.sidebar-item.active
      a(href=link, target=target)= name
  else
    li.sidebar-item
      a(href=link, target=target)= name

ul.sidebar
  +sidebar-item('账务总览', '/accounts/home/')
  +sidebar-item('充值', '/pay/banks/')
  +sidebar-item('取现', '/pay/withdraw/')
  +sidebar-item('交易记录', '/accounts/transaction/p2p/')
  +sidebar-item('银行卡', '/accounts/bankcard/')

ul.sidebar
  +sidebar-item('实名认证', '/accounts/id_verify/')
  +sidebar-item('我的理财方案', '/portfolio/', '_blank')
  +sidebar-item('我的收藏', '/accounts/favorite/')
  +sidebar-item('修改密码', '/accounts/setting/')

