@import compass/utilities/sprites/base

// General Sprite Defaults
// You can override them before you import this file.
$images-original-sprite-base-class: ".images-original-sprite" !default
$images-original-sprite-dimensions: false !default
$images-original-position: 0% !default
$images-original-spacing: 0 !default
$images-original-repeat: no-repeat !default
$images-original-prefix: "" !default
$images-original-clean-up: true !default
$images-original-layout: vertical !default
$images-original-inline: false !default

// These variables control the generated sprite output
// You can override them selectively before you import this file.

$images-original-blue-arrow-down-position: $images-original-position !default
$images-original-blue-arrow-down-spacing: $images-original-spacing !default
$images-original-blue-arrow-down-repeat: $images-original-repeat !default

$images-original-collection-position: $images-original-position !default
$images-original-collection-spacing: $images-original-spacing !default
$images-original-collection-repeat: $images-original-repeat !default

$images-original-consult-position: $images-original-position !default
$images-original-consult-spacing: $images-original-spacing !default
$images-original-consult-repeat: $images-original-repeat !default

$images-original-gray-bg-position: $images-original-position !default
$images-original-gray-bg-spacing: $images-original-spacing !default
$images-original-gray-bg-repeat: repeat-x !default

$images-original-help-position: $images-original-position !default
$images-original-help-spacing: $images-original-spacing !default
$images-original-help-repeat: $images-original-repeat !default

$images-original-keyboard-position: $images-original-position !default
$images-original-keyboard-spacing: $images-original-spacing !default
$images-original-keyboard-repeat: $images-original-repeat !default

$images-original-location-position: $images-original-position !default
$images-original-location-spacing: $images-original-spacing !default
$images-original-location-repeat: $images-original-repeat !default

$images-original-lock-position: $images-original-position !default
$images-original-lock-spacing: $images-original-spacing !default
$images-original-lock-repeat: $images-original-repeat !default

$images-original-logo-no-text-position: $images-original-position !default
$images-original-logo-no-text-spacing: $images-original-spacing !default
$images-original-logo-no-text-repeat: $images-original-repeat !default

$images-original-logo-position: $images-original-position !default
$images-original-logo-spacing: $images-original-spacing !default
$images-original-logo-repeat: $images-original-repeat !default

$images-original-mail-position: $images-original-position !default
$images-original-mail-spacing: $images-original-spacing !default
$images-original-mail-repeat: $images-original-repeat !default

$images-original-order-red-position: $images-original-position !default
$images-original-order-red-spacing: $images-original-spacing !default
$images-original-order-red-repeat: $images-original-repeat !default

$images-original-order-yellow-position: $images-original-position !default
$images-original-order-yellow-spacing: $images-original-spacing !default
$images-original-order-yellow-repeat: $images-original-repeat !default

$images-original-pad-position: $images-original-position !default
$images-original-pad-spacing: $images-original-spacing !default
$images-original-pad-repeat: $images-original-repeat !default

$images-original-people-white-position: $images-original-position !default
$images-original-people-white-spacing: $images-original-spacing !default
$images-original-people-white-repeat: $images-original-repeat !default

$images-original-people-position: $images-original-position !default
$images-original-people-spacing: $images-original-spacing !default
$images-original-people-repeat: $images-original-repeat !default

$images-original-phone-icon-position: $images-original-position !default
$images-original-phone-icon-spacing: $images-original-spacing !default
$images-original-phone-icon-repeat: $images-original-repeat !default

$images-original-phone-position: $images-original-position !default
$images-original-phone-spacing: $images-original-spacing !default
$images-original-phone-repeat: $images-original-repeat !default

$images-original-phone_small-position: $images-original-position !default
$images-original-phone_small-spacing: $images-original-spacing !default
$images-original-phone_small-repeat: $images-original-repeat !default

$images-original-quick-response-position: $images-original-position !default
$images-original-quick-response-spacing: $images-original-spacing !default
$images-original-quick-response-repeat: $images-original-repeat !default

$images-original-search-2-position: $images-original-position !default
$images-original-search-2-spacing: $images-original-spacing !default
$images-original-search-2-repeat: $images-original-repeat !default

$images-original-search-3-position: $images-original-position !default
$images-original-search-3-spacing: $images-original-spacing !default
$images-original-search-3-repeat: $images-original-repeat !default

$images-original-search-position: $images-original-position !default
$images-original-search-spacing: $images-original-spacing !default
$images-original-search-repeat: $images-original-repeat !default

$images-original-window-position: $images-original-position !default
$images-original-window-spacing: $images-original-spacing !default
$images-original-window-repeat: $images-original-repeat !default

$images-original-yellow-dot-position: $images-original-position !default
$images-original-yellow-dot-spacing: $images-original-spacing !default
$images-original-yellow-dot-repeat: $images-original-repeat !default

$images-original-yellow_star-position: $images-original-position !default
$images-original-yellow_star-spacing: $images-original-spacing !default
$images-original-yellow_star-repeat: $images-original-repeat !default

$images-original-sprites: sprite-map("images-original/*.png", $images_original_blue_arrow_down_position: $images-original-blue-arrow-down-position, $images_original_blue_arrow_down_spacing: $images-original-blue-arrow-down-spacing, $images_original_blue_arrow_down_repeat: $images-original-blue-arrow-down-repeat, $images_original_collection_position: $images-original-collection-position, $images_original_collection_spacing: $images-original-collection-spacing, $images_original_collection_repeat: $images-original-collection-repeat, $images_original_consult_position: $images-original-consult-position, $images_original_consult_spacing: $images-original-consult-spacing, $images_original_consult_repeat: $images-original-consult-repeat, $images_original_gray_bg_position: $images-original-gray-bg-position, $images_original_gray_bg_spacing: $images-original-gray-bg-spacing, $images_original_gray_bg_repeat: $images-original-gray-bg-repeat, $images_original_help_position: $images-original-help-position, $images_original_help_spacing: $images-original-help-spacing, $images_original_help_repeat: $images-original-help-repeat, $images_original_keyboard_position: $images-original-keyboard-position, $images_original_keyboard_spacing: $images-original-keyboard-spacing, $images_original_keyboard_repeat: $images-original-keyboard-repeat, $images_original_location_position: $images-original-location-position, $images_original_location_spacing: $images-original-location-spacing, $images_original_location_repeat: $images-original-location-repeat, $images_original_lock_position: $images-original-lock-position, $images_original_lock_spacing: $images-original-lock-spacing, $images_original_lock_repeat: $images-original-lock-repeat, $images_original_logo_no_text_position: $images-original-logo-no-text-position, $images_original_logo_no_text_spacing: $images-original-logo-no-text-spacing, $images_original_logo_no_text_repeat: $images-original-logo-no-text-repeat, $images_original_logo_position: $images-original-logo-position, $images_original_logo_spacing: $images-original-logo-spacing, $images_original_logo_repeat: $images-original-logo-repeat, $images_original_mail_position: $images-original-mail-position, $images_original_mail_spacing: $images-original-mail-spacing, $images_original_mail_repeat: $images-original-mail-repeat, $images_original_order_red_position: $images-original-order-red-position, $images_original_order_red_spacing: $images-original-order-red-spacing, $images_original_order_red_repeat: $images-original-order-red-repeat, $images_original_order_yellow_position: $images-original-order-yellow-position, $images_original_order_yellow_spacing: $images-original-order-yellow-spacing, $images_original_order_yellow_repeat: $images-original-order-yellow-repeat, $images_original_pad_position: $images-original-pad-position, $images_original_pad_spacing: $images-original-pad-spacing, $images_original_pad_repeat: $images-original-pad-repeat, $images_original_people_white_position: $images-original-people-white-position, $images_original_people_white_spacing: $images-original-people-white-spacing, $images_original_people_white_repeat: $images-original-people-white-repeat, $images_original_people_position: $images-original-people-position, $images_original_people_spacing: $images-original-people-spacing, $images_original_people_repeat: $images-original-people-repeat, $images_original_phone_icon_position: $images-original-phone-icon-position, $images_original_phone_icon_spacing: $images-original-phone-icon-spacing, $images_original_phone_icon_repeat: $images-original-phone-icon-repeat, $images_original_phone_position: $images-original-phone-position, $images_original_phone_spacing: $images-original-phone-spacing, $images_original_phone_repeat: $images-original-phone-repeat, $images_original_phone_small_position: $images-original-phone_small-position, $images_original_phone_small_spacing: $images-original-phone_small-spacing, $images_original_phone_small_repeat: $images-original-phone_small-repeat, $images_original_quick_response_position: $images-original-quick-response-position, $images_original_quick_response_spacing: $images-original-quick-response-spacing, $images_original_quick_response_repeat: $images-original-quick-response-repeat, $images_original_search_2_position: $images-original-search-2-position, $images_original_search_2_spacing: $images-original-search-2-spacing, $images_original_search_2_repeat: $images-original-search-2-repeat, $images_original_search_3_position: $images-original-search-3-position, $images_original_search_3_spacing: $images-original-search-3-spacing, $images_original_search_3_repeat: $images-original-search-3-repeat, $images_original_search_position: $images-original-search-position, $images_original_search_spacing: $images-original-search-spacing, $images_original_search_repeat: $images-original-search-repeat, $images_original_window_position: $images-original-window-position, $images_original_window_spacing: $images-original-window-spacing, $images_original_window_repeat: $images-original-window-repeat, $images_original_yellow_dot_position: $images-original-yellow-dot-position, $images_original_yellow_dot_spacing: $images-original-yellow-dot-spacing, $images_original_yellow_dot_repeat: $images-original-yellow-dot-repeat, $images_original_yellow_star_position: $images-original-yellow_star-position, $images_original_yellow_star_spacing: $images-original-yellow_star-spacing, $images_original_yellow_star_repeat: $images-original-yellow_star-repeat, $layout: $images-original-layout, $cleanup: $images-original-clean-up)

// All sprites should extend this class
// The images-original-sprite mixin will do so for you.
@if $images-original-inline
  #{$images-original-sprite-base-class}
    background-image: inline-sprite($images-original-sprites)
@else
  #{$images-original-sprite-base-class}
    background: $images-original-sprites no-repeat

//sass functions to return the dimensions of a sprite image as units

@function images-original-sprite-width($name)
  $file: sprite_file($images-original-sprites, $name)
  @return image-width($file)

@function images-original-sprite-height($name)
  $file: sprite_file($images-original-sprites, $name)
  @return image-height($file)

// Use this to set the dimensions of an element
// based on the size of the original image.
=images-original-sprite-dimensions($name)
  +sprite-dimensions($images-original-sprites, $name)

// Move the background position to display the sprite.
=images-original-sprite-position($name, $offset-x: 0, $offset-y: 0)
  +sprite-background-position($images-original-sprites, $name, $offset-x, $offset-y)

// Extends the sprite base class and set the background position for the desired sprite.
// It will also apply the image dimensions if $dimensions is true.
=images-original-sprite($name, $dimensions: $images-original-sprite-dimensions, $offset-x: 0, $offset-y: 0)
  @extend #{$images-original-sprite-base-class}
  +sprite($images-original-sprites, $name, $dimensions, $offset-x, $offset-y)

=images-original-sprites($sprite-names, $dimensions: $images-original-sprite-dimensions, $prefix: sprite-map-name($images-original-sprites), $offset-x: 0, $offset-y: 0)
  +sprites($images-original-sprites, $sprite-names, $images-original-sprite-base-class, $dimensions, $prefix, $offset-x, $offset-y)

// Generates a class for each sprited image.
=all-images-original-sprites($dimensions: $images-original-sprite-dimensions, $prefix: sprite-map-name($images-original-sprites), $offset-x: 0, $offset-y: 0)
  +images-original-sprites(blue-arrow-down collection consult gray-bg help keyboard location lock logo-no-text logo mail order-red order-yellow pad people-white people phone-icon phone phone_small quick-response search-2 search-3 search window yellow-dot yellow_star, $dimensions, $prefix, $offset-x, $offset-y)
