doctype html

head
  meta(http-equiv="content-type", content="text/html; charset=utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="baidu-site-verification", content="iBKXouRC1a")
  title 网利宝 样式指引
  link(rel="stylesheet", href="/static/stylesheets/jquery.modal.css",type="text/css",media="screen")
  link(rel="stylesheet", href="/static/stylesheets/iealert/style.css",type="text/css",media="screen")
  link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
  link(href="/static/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
  link(href="/static/stylesheets/print.css", media="print", rel="stylesheet", type="text/css")
  // if IE
    link(href="/static/stylesheets/ie.css", media="screen, projection", rel="stylesheet", type="text/css")
    link(href="/static/stylesheets/pie.css", rel="stylesheet", type="text/css")

  style.
    section{
      margin-bottom: 20px;
    }

body.font-m
  .full-container

    section
      .container
        h1 字体
        p 全站的默认字体设置为
        .panel
          .well
            h1 Arial, "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif

        p 默认的字体大小为 xs

        .panel
          .well
            h1 h1. 标题
            h2 h2. 标题
            h3 h3. 标题
            h4 h4. 标题
            h5 h5. 标题
            h6 h6. 标题

        h2 文本对齐
        .panel
          .well
            p (无)左对齐
            .align-right .align-right 右对齐
            .align-center .align-center 中对齐

    section
      .container
        h1 颜色
      .panel
        .well
          .color-container
            p.font-xs .color-pomegranate
            .color.color-pomegranate
          .color-container
            p.font-xs .color-sea-green
            .color.color-sea-green


          .color-container
            p.font-xs .color-orange
            .color.color-orange

          .color-container
            p.font-xs .color-denim
            .color.color-denim

          .color-container
            p.font-xs .color-pink
            .color.color-pink

          .color-container
            p.font-xs .color-cinderella
            .color.color-cinderella

          .color-container
            p.font-xs .color-red
            .color.color-red

          .color-container
            p.font-xs .color-mine-shaft
            .color.color-mine-shaft

          .color-container
            p.font-xs .color-tundora
            .color.color-tundora

          .color-container
            p.font-xs .color-abbey
            .color.color-abbey

          .color-container
            p.font-xs .color-emperor
            .color.color-emperor

          .color-container
            p.font-xs .color-dove-gray
            .color.color-dove-gray

          .color-container
            p.font-xs .color-shuttle-gray
            .color.color-shuttle-gray

          .color-container
            p.font-xs .color-gray
            .color.color-gray

          .color-container
            p.font-xs .color-dusty-gray
            .color.color-dusty-gray

          .color-container
            p.font-xs .color-gray-chateau
            .color.color-gray-chateau

          .color-container
            p.font-xs .color-alto
            .color.color-alto

          .color-container
            p.font-xs .color-silver
            .color.color-silver

          .color-container
            p.font-xs .color-iron
            .color.color-iron

          .color-container
            p.font-xs .color-gallery
            .color.color-gallery

          .color-container
            p.font-xs .color-wild-sand
            .color.color-wild-sand

          .color-container
            p.font-xs .color-alabaster
            .color.color-alabaster

          .color-container
            p.font-xs .color-white
            .color.color-white

          .color-container
            p.font-xs .color-text-d1
            .color.color-text-d1

          .color-container
            p.font-xs .color-text-d2
            .color.color-text-d2

          .color-container
            p.font-xs .color-text-d3
            .color.color-text-d3

          .color-container
            p.font-xs .color-text-d4
            .color.color-text-d4

          .color-container
            p.font-xs .color-text-d5
            .color.color-text-d5

          .color-container
            p.font-xs .color-text-d6
            .color.color-text-d6

    section
      .container
        h1 按钮
        p button由两个class共同控制，大小形状 + 颜色风格，例如，.button-small.button-primary就会创建一个颜色为主色调的小按钮
          a.button-small.button-red.margin-left-s(href="#") 这样
        p 如果需要调整按钮的padding，可以在sass中extend .button-small，再设置padding: 1em
          a.button-primary.margin-left-s.margin-right-s(href="#") 这样
          | .button-primary 扩展自 .button .button-red
        .panel
          .well
            .row.margin-top-m
              a.button-small-round.button-red(href="#") .button-small-round
              .space-m
              a.button-small-round.button-red(href="#") 小圆角
              .space-l
              a.button-small.button-red(href="#") .button-small
              .space-m
              a.button-small.button-red(href="#") 小按钮
              .space-l
              a.button-small.button-red(href="#") .button-small
              .space-m
              a.button-small.button-red(href="#") 小按钮
              .space-l
              a.button-middle.button-red(href="#") .button-middle
              .space-m
              a.button-middle.button-red(href="#") 中按钮
              .space-l
              a.button-large.button-red(href="#") .button-large
              .space-m
              a.button-large.button-red(href="#") 大按钮
              .space-l

              a.button-large-round.button-red(href="#") .button-large-round
              .space-m
              a.button-large-round.button-red(href="#") 大圆角

        .space-vertical-s
        .panel
          .well
            mixin buttons
              .row
                a.button-small.margin-right-s(class!=attributes.class, href="javascript:void(0)")=attributes.class
                a.button-middle.margin-right-s(class!=attributes.class, href="javascript:void(0)")=attributes.class
                a.button-large.margin-right-s(class!=attributes.class, href="javascript:void(0)")=attributes.class
                a.button-large-round.margin-right-s(class!=attributes.class, href="javascript:void(0)")=attributes.class
              .space-vertical-s

            +buttons(class="button-red")
            +buttons(class="button-pink")
            +buttons(class="button-white")
            +buttons(class="button-gray")

    section
      .container
        h1 图标
        p 当前本站的图标有两种类型，图片以及图标字体。为了代码的维护性与用户体验，所有图片的图标都会转为图标字体。图标字体分为标准图标字体以及
          | 自定义图标字体。
        h2 自定义图标字体
          p TODO 补充如何添加新图标
          .panel
            .well
              .row
                i.icon-phone .icon-phone
              .row
                i.icon-weibo .icon-weibo
              .row
                i.icon-weibo-circle .icon-weibo-circle
              .row
                i.icon-weixin .icon-weixin
              .row
                i.icon-weixin-circle .icon-weixin-circle
              .row
                i.icon-cancel .icon-cancel
              .row
                i.icon-check .icon-check
              .row
                i.icon-approve .icon-approve
              .row
                i.icon-check-shield .icon-check-shield
              .row
                i.icon-check-square .icon-check-square
              .row
                i.icon-info .icon-info
              .row
                i.icon-refresh .icon-refresh
              .row
                i.icon-star .icon-star

    section
      .container
        h1 容器/布局
        p 比较普遍的容器是.panel，是一个白色背景，有阴影的容器，用来作为页面区域分割

        .panel
          .well
            p .panel作为页面的顶级容器，可以被extend，比如.aside .main

        .aside
          .well
            p .aside

        .main
          .well
            p .main

    section
      .container
        h1 顶栏
      .topbar
        .container
          p Top bar


    section
      .container
        h1 表单
        p 表单出现在多个地方，登陆注册，购买产品等。他们的风格都要保持一致。label以及input的宽度使用.span或者其他可以指定宽度的class来控制。
        | 当前所有的input高度为30px form-row的line-height为40px

        .panel
          .well
            form.form.span4
              .form-title 普通表单
              .form-row
                .span3
                  label(for="first_input") 卡号
                .span9-omega
                  input#first_input(type="text", placeholder="请输入银行卡号")

                .form-row-error
                  label.error.prefix3.span9-omega 卡号错误

              .form-row
                .span3
                  label(for="banks-select") 银行
                .span9-omega
                  select#banks-select
                    option 请选择银行
                    option(value="40") 工商银行

              .form-row
                .span3
                  label(for="captcha") 验证码
                .span6
                  input#captcha(type="text")
                .span3-omega
                  span 8826

                .form-row-error
                  label.error.prefix3.span9-omega 验证码错误
              .form-row
                .prefix3.span9-omega
                  input#default_card(type="checkbox", name="default_card", value="1")
                  label(for="default_card") 设为默认银行卡
              .form-row
                button.prefix3.span3.button-middle.button-red 提交

        .panel
          .well
            form.form.span4
              .form-title 无标题的表单
              .form-row
                .prefix1.span11
                  input#first_input(type="text", placeholder="输入框")
