extends account_home_base

-load formatters

block head
  - with '交易记录' as title
    include include/head

block sidebar
  - with '交易记录' as activeItem
    include include/user_center_sidebar

block main
  .panel
    .account-home-panel--title-bar__product
      ul.title-bar--tabs
        li.title-bar-tab.active
          a.title-bar--tab--anchor(href="javascript:void(0)") 货币基金

    .panel-container
      table.table
        thead
          tr
            th 产品名称
            th 金额(元)
            th 份额
            th 操作
            th 状态
            th 时间
        tbody
          if transactions
            each transaction in transactions
              tr
                td {{transaction.fund_name}}
                td {{transaction.amount}}
                td {{transaction.shares}}
                td {{transaction.business_type_to_cn}}
                td {{transaction.status_to_cn}}
                td {{transaction.apply_date_time}}
          else
            tr
              td(colspan='5')
                if message
                  {{message}}
                else
                  无交易记录

      - with data=transactions uri='/accounts/transaction/fund/'
        include include/pager
