extends account_home_base

block head
  - with '收藏产品' as title
    include include/head

block sidebar
  - with '我的收藏' as activeItem
    include include/user_center_sidebar

block main
  .panel
    .well
      .panel-title-bar__no-border
        .panel-title 我的产品收藏
      .panel-container(style="clear:both")
        // ko template: {name: 'tabs', data: tab}
        // /ko
      .panel-container(style="clear:both")
        //ko template: {name: 'data-table', data: dataTable}
        // /ko

block script
  script.
    require(['/static/js/account_favorite.js'])
