extends account_home_base

-load formatters

block head
  - with '理财交易记录' as title
    include include/head

block sidebar
  - with '彩票' as activeItem
    include include/user_center_sidebar

block main
  .panel.p2p-record
    h1 彩票详情
    .caipiao-detail-main
      p.detail-tit 双色球第2015148期 中奖号码
      ul.detail-num
        li 90
        li 30
        li 02
        li 10
        li 37
        li 12
        li.hight 30
      p.caipiao-jiang
        b 中奖
        span 90
        span 30
        span.caipiao-blank 02
        span 10
        span.caipiao-blank 37
        span 12
        span.caipiao-blue 30
      ul.list
        li 中奖金额:
          span 100,000元
          |（税后）
        li 我的投注:
          span 1注 2元
        li 开奖时间:
          span 2015-7-31
        li 获赠时间:
          span 2015-7-31
      a.go-btn 去领奖
      p.talk 彩票由零彩宝提供，领奖进度查询请联系零彩宝客服：
        span 400 088 7568

    //- with data=trade_records uri='/accounts/transaction/p2p/'
    ////include include/pager
    //- endwith
