extends account_home_base

block head
  - with '收藏产品' as title
    include include/head

block sidebar
  - with '我的收藏' as activeItem
    include include/user_center_sidebar

block main
  .panel-standard
    .panel-product-title-no-border 我的产品收藏
    .panel-title-bar-gray
      // ko template: {name: 'tabs', data: tab}
      // /ko
    .panel-container
      //ko template: {name: 'data-table', data: dataTable}
      // /ko

block script
  script.
    require(['/static/js/account_favorite.js'])
