extends account_home_base

block head
  - with '密码管理' as title
    include include/head

block sidebar
  - with '密码管理' as activeItem
    include include/user_center_sidebar

block main
  .panel
    .well
      .panel-title-bar__no-border
        .panel-title 密码管理
    .pwd-management
        .pwd-div.clearfix
            span.span1
            .info-fonts
                p.p1 登录密码
                p.p2 账户登录使用，定期修改可提升账户安全性
            a(href='/accounts/update/') 修改
        .pwd-div.pwd-div2.clearfix
            span.span2
            .info-fonts
                p.p1 交易密码
                p.p2 6位数字，投资、提现时使用，保证账户资金安全
            .btns
                p.old(style='display:none')
                    a(href='/accounts/trading/back/') 找回
                    a(href='/accounts/trading') 修改
                p.new(style='display:none')
                    a(href='/accounts/trading/setting/').bg 设置
block script
  script.
    require(['/static/js/account_setting.js'])
