-load formatters

doctype html
block head

body
  include global/g_nav
  include announcement_block
  .space-vertical-s
  .row
    .aside
      block sidebar

    .main
      block main

  .space-vertical-xl
  block script
  include global/g_footer
  include include/templates
  include include/tracking
