-load formatters

doctype html
- with '交易记录' as title
include include/head
- endwith
body
  include include/header
  include include/navigation
  .row
    .span3
      - with '交易记录' as activeItem
      include include/user_center_sidebar
      - endwith

    .span9-omega.panel-padding
      .space-vertical-s
      .panel-title-bar-gray
        .panel-tab.active
          货币基金
      .panel-container
        table.trust-table
          thead
            tr
              th 产品名称
              th 金额
              th 操作
              th 状态
              th 时间
          tbody
            if transactions
              each transaction in transactions
                tr
                  td {{transaction.fund_name}}
                  td {{transaction.shares}}元
                  td {{transaction.business_type}}{{transaction.business_type_to_cn}}
                  td {{transaction.status}}{{transaction.status_to_cn}}
                  td {{transaction.apply_date_time}}
            else
              tr
                td(colspan='5')
                  if message
                    {{message}}
                  else
                    无交易记录

      - with data=transactions uri='/accounts/transactions/'
      include include/pager
      - endwith


  include include/footer
  include include/templates

  include include/tracking
