extends account_home_base
- load formatters
- load mathfilters
block head
    include include/head
block sidebar
    //- with '账户总览' as activeItem
    include include/user_center_sidebar
block main
    .main_wrap.main_wrap_1
        .main_title_top 身份信息
        .info_box
            .img.img_1
            dl
                dt
                    .text 手机号
                    .ico.is_set_ico
                    span.is_set_text 已绑定
                dd 180*****274
            .button 修改
        .info_box
            .img.img_2
            dl
                dt
                    .text 实名认证
                    .ico.no_set_ico
                    span.no_set_text 待认证
                dd 您尚未进行实名认证！
            .button 修改



    //include global/g_footer
    //script.
        require(["/static/js/account_safe.js"])
    include include/tracking