extends account_home_base

- load formatters
- load mathfilters

block head
  - with '我的账户' as title
    include include/head

block sidebar
  - with '账户总览' as activeItem
    include include/user_center_sidebar

block main
  .account-home-panel
    .account-home-panel--title-bar
      span.nickname {{user | safe_phone}}
      if user.wanglibaouserprofile.id_is_valid
        span.verified 已实名认证
      else
        span
          a#name-hight(href="/accounts/id_verify/") 还未进行实名认证
      //|&nbsp;&nbsp;&nbsp;
      //if xunlei_vip.isvip == True
      //  span.icon.xunlei-vip-yes(title="已绑定迅雷会员")
      //else
      //  a.xunlei-binding-modal(href="#xunlei-binding-modal")
      //    span.icon.xunlei-vip-no(title="未绑定迅雷会员")

    .card-panel
      .total-asset-money-card
        p.align-center
          span#total_asset.big_number(data-p2p="{{p2p_total_asset}}") {{total_asset|money_format}}
        p.align-center 总资产(元)
      .sign-money-card
        =
      if mode == 'p2p'
        .brief--p2p-total-asset.active
          a(href="/accounts/home/")
            p.align-center
              span.big_number {{p2p_total_asset|money_format}}
            p.align-center 理财专区(元)
        .sign-money-card
          +
      else
        .brief--p2p-total-asset
          a(href="/accounts/home/")
            p.align-center
              span.big_number {{p2p_total_asset|money_format}}
            p.align-center 理财专区(元)
        .sign-money-card
          +
      if mode == 'p2p'
        .brief--fund-total-asset
          a(href="/accounts/home/fund/")
            p.align-center
              span#fund_total_asset_title.big_number
            p.align-center 货币基金(元)
      else
        .brief--fund-total-asset.active
          a(href="/accounts/home/fund/")
            p.align-center
              span#fund_total_asset_title.big_number
            p.align-center 货币基金(元)

  if mode == 'p2p'
    .account-home-panel__no-padding
      .account-home-panel--title-bar__product
        ul.title-bar--tabs
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href="javascript:void(0)") 理财专区
          li.title-bar--tab
            a.title-bar--tab--anchor(href="/accounts/home/fund/") 货币基金
        a.pull-right.align-right.detail-view(href='/accounts/transaction/p2p/') 查看交易记录
      .clamp-xl
        .account-home-panel--action-bar
          a.button-home-action(href="/pay/banks/") 充值
          a.button-home-action.margin-left-m(href="/pay/withdraw/") 取现

        .row
          .total-asset-money-card
            p.align-center
              span.big_number {{p2p_total_asset|money_format}}
            p.align-center.desc 理财专区资产(元)

          .sign-money-card
            =

          .p2p-asset--detail-container
            .p2p-asset--detail
              p
                span.big_number {{user.margin.margin | money_format}}
              p.desc 余额
            .sign-money-card
              +
            .p2p-asset--detail
              p
                span.big_number {{p2p_unpay_principle|money_format}}
              p.desc 待收本金
            .sign-money-card
              +
            .p2p-asset--detail
              p
                span.big_number {{margin_freeze|money_format}}
              p.desc 投资中冻结金额
            .sign-money-card
              +
            .p2p-asset--detail
              p
                span.big_number {{margin_withdrawing|money_format}}
              p.desc 提现中冻结金额

        //.space-vertical-s
        //.row
        //  .xunlei-tip-container
        //    span.p2p-xunlei-icon
        //    if user.is_authenticated and xunlei_vip.isvip == True
        //      您已是绑定迅雷会员，投资即可获额外收益。
        //    else
        //      只要在满标之前<a href="#xunlei-binding-modal" class="blue xunlei-binding-modal">绑定迅雷会员</a>，即可获额外收益。
        .space-vertical-s

        table.table
          thead
            tr
              th 投标时间
              th 产品名称
              th 投资金额
              th 状态
              th 已收益/预期收益
              th 活动收益
              th 还款计划
              th 借款合同
          tbody
            if result
              for row in result
                tr
                  td {{row.equity.created_at | date:"Y-m-d H:i:s"}}
                  td
                    p
                      a(href="/p2p/detail/{{row.equity.product.id}}/") {{row.equity.product.short_name}}
                    p 年化收益：{{row.equity.product.expected_earning_rate}}%
                    p 期限：{{row.equity.product.period}}个月
                  td {{row.equity.equity | money_format}}

                  if row.equity.product.display_status != '还款中'
                    td {{row.equity.product.display_status}}
                  else
                    td {{row.equity.product.display_status}}{{row.equity.term}}/{{row.equity.product.amortization_count}}

                  if row.equity.product.display_status == '还款中' or row.equity.product.display_status == '已完成'
                    td <span class="highlight">{{row.equity.paid_interest | money_format}}</span> / {{row.equity.total_interest | money_format}}
                  else
                    td -

                  td
                    if row.earning
                      p.highlight {{row.earning.amount | money_format}}
                      p {{row.earning.product.activity.name}}
                      p 已发放
                    else
                      | -

                  if row.equity.product.display_status == '还款中' or row.equity.product.display_status == '已完成'
                    td
                      a.button.button-small.button-pink(href="/accounts/p2p/amortization/{{row.equity.product.id}}/") 还款计划
                    td
                      a.button.button-small.button-pink(href="/accounts/p2p/contract/{{row.equity.product.id}}/" target="_blank") 合同
                  else
                    td -
                    td -
            else
              tr
                td(colspan='8') 无持仓记录

        .space-vertical-m

  else
    .account-home-panel__no-padding
      .account-home-panel--title-bar__product
        ul.title-bar--tabs
          li.title-bar--tab
            a.title-bar--tab--anchor(href="/accounts/home/") 理财专区
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href="javascript:void(0)") 货币基金
        a.pull-right.align-right.detail-view(href='/accounts/transaction/fund/') 查看交易记录
      .clamp-xl
        .space-vertical-s
        .row.total-money
          .gray-card4
            p
              span#fund_total_asset.big_number
            p 总资产(元)
          .gray-card4
            p
              span#total_income.big_number
            p 累积收益(元)
          .gray-card4
            p
              span#fund_income_week.big_number
            p 近一周收益(元)
          .gray-card4
            p
              span#fund_income_month.big_number
            p 近一月收益(元)
        .space-vertical-s

        table.table
          thead
            tr
              th 产品名称
              th 金额(元)
              th 收益(元)
              th 操作
          tbody#fund_detail_body
            if fund_hold_info
              each fund in fund_hold_info
                tr
                  td
                    a(href="/fund/detail/{{fund.id}}/") {{fund.fund_name}}
                  td {{fund.current_remain_share}}
                  td {{fund.unpaid_income}}
                  td
                    a.button.button-small.button-pink(href="/shumi/oauth/check_oauth_status/?fund_code={{fund.fund_code}}&action=purchase" target="_blank") 继续购买
                    &nbsp;
                    a.button.button-small.button-pink(href="/shumi/oauth/check_oauth_status/?fund_code={{fund.fund_code}}&action=redeem" target="_blank") 赎回
            else
              tr
                td(colspan='4') 无持仓记录

        .space-vertical-m

  if not xunlei_vip.isvip
        #xunlei-binding-modal(style="display:none;")
          .modal-header
            .modal-title-bar
              .modal-title 绑定迅雷会员
          .modal-body
            .modal-content-padding
              p.align-center
                img(src="/static/images/activity/xunlei_wanglibao.png")
              ul.clearfix
                li &bull; 绑定迅雷会员后，投资指定P2P产品，即可额外获得
                  span.blue 1%
                  |年化收益！
                li &bull; 奖励收益将在满标后2个工作日内发放。
              .space-vertical-l
              .row
                .span7
                  a.button.button-account(href='/accounts/login/xunlei', target="_blank")
                    span.font-s.padding-l-r-m 立即绑定迅雷会员
                .span5-omega.padding-top-xs.align-center.font-s
                  span 我还不是会员，
                  a.blue(href="http://act.vip.xunlei.com/vip/2014/xlhyk/?referfrom=wlb", target="_blank") 立即开通
            .space-vertical-s

block script
  script.
    require(["/static/js/account_home.js"])
