-load formatters

doctype html
block head

body(style='background: #e3e3e3;')
  include global/g_nav
  include announcement_block
  .space-vertical-s
  .row.clearfix
    .aside
      block sidebar

    .main
      block main

  .space-vertical-xl
  block script
  include global/g_footer
  include include/tracking
