extends account_home_base

-load formatters

block head
  - with '我的银行卡' as title
    include include/head

block sidebar
  - with '银行卡管理' as activeItem
    include include/user_center_sidebar

block main
  .panel-padding.clearfix
    .bank-card-manage.bankManage 银行卡管理
        span.cardsEd(style="display:none") 您已成功绑定银行卡，今后可通过该卡进行提现。
    .bank-card-manage.bankTitle(style='display:none') 绑定银行卡
        span 绑定的银行卡持卡人，需同身份认证的个人信息保持一致
    .banks-list
        - csrf_token
        .manage-pop.noCards(style="display:none") 为了您的资金安全，网利宝实行了新的
            a(href='/announcement/detail/479/',target='_blank') 银行卡管理制度
            | ，请您通过网页版再次对APP已绑定银行卡进行认证。
        .manage-pop.noCards(style="display:none") 已经在APP绑定银行卡的用户，仍可通过APP进行充值、提现等操作。
        .row.padding-l-r-m#bank-List
          //if p2p_cards
          //  each card in p2p_cards
          //    .bank-card
          //      .bank-card--title-bar.row
          //        .bank-card--bank-name
          //          label.bankname(title='{{card.bank.name}}') {{card.bank.name}}
          //          span 待绑定
          //          //.bank-card--bank-name.span9 {{card.bank.name}}
          //          //    span 待绑定
          //
          //        .bank-card--icon.span3-omega
          //          img(src='/static/images/bank_card.png')
          //      .row
          //        dl.bank-card--info-row
          //          dt.bank-card--info-title 账号
          //          dd.bank-card--info-value {{card.no | bank_card}}
          //      .binding-card(data-card='{{card.no}}') 绑定该卡
          //    a#del-card.pull-right.del-bank-card(card_id='{{card.id}}') 删除
          //else
          //  a#add-card-button(href='#add-card-form')
          //    .add-bank-card
          //      .add-icon-large
          //      p.add-card-text 添加一张银行卡
        .kindly-reminder
            .kindly-reminder-m
                p
                    b 温馨提示
                p 1. 出于账号安全性考虑，每个账户，只能绑定一张银行卡，实行同卡进出原则。
                p 2. 绑卡成功后，将自动为您开通快捷支付功能，方便您通过APP行充值提现。
                p 3. 绑卡成功后，您的提现资金将统一打到该银行卡。
                p 4. 如需取消绑卡或者更换银行卡，请提交资料至邮箱：jiesuan@wanglibank.com，详情
                p
                    a(href='https://www.wanglibao.com/announcement/detail/359/',target='_blank') https://www.wanglibao.com/announcement/detail/359/。

      include include/add_card
  #bindingOldCard.bindingOldCard(style='display:none')
    .binding-alert-title 绑定银行卡
    .binding-alert-content
        p 您正在绑定
            span.bankInfo 交通银行尾号2832
            | 的银行卡，
        p 之前已通过APP绑定过该卡，
        p 如果确认绑定该卡，则
            label 该卡将作为您的唯一提现银行卡。
    .binding-alert-btn
        a(href='javascript:void(0)').ok-btn 确定绑卡
        a(href='javascript:void(0)').no-btn 绑定其它卡片
    script.
        require(['/static/js/add_card.js?v=2016011501','/static/js/bank_list.js'])