extends account_home_base

- load formatters
- load mathfilters

block head
  - with '我的账户' as title
    include include/head

block sidebar
  - with '账务总览' as activeItem
    include include/user_center_sidebar

block main
  .account-home-panel
    .account-home-panel--title-bar
      span.nickname {{user | safe_phone}}
      if user.wanglibaouserprofile.id_is_valid
        span.verified 已实名认证
      else
        span
          a(href="/accounts/id_verify/") 还未进行实名认证

    .card-panel
      .total-asset-money-card
        p.align-center
          span.big_number {{total_asset|money_format}}
        p.align-center 总资产(元)
      .sign-money-card
        =
      .brief--p2p-total-asset
        a(href="/accounts/home/")
          p.align-center
            span.big_number {{p2p_total_asset|money_format}}
          p.align-center P2P资产(元)
      .sign-money-card
        +
      .brief--fund-total-asset
        a(href="/accounts/home/fund/")
          p.align-center
            span.big_number {{fund_total_asset|money_format}}
          p.align-center 货币基金(元)

  if mode == 'p2p'
    .account-home-panel__no-padding
      .account-home-panel--title-bar__product.clamp-xl
        ul.title-bar--tabs
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href="javascript:void(0)") P2P
          li.title-bar--tab
            a.title-bar--tab--anchor(href="/accounts/home/fund/") 货币基金
        a.pull-right.align-right(href='/accounts/transaction/p2p/') 查看交易记录
      .clamp-xl
        .account-home-panel--action-bar
          a.button-home-action(href="/pay/banks/") 充值
          a.button-home-action.margin-left-m(href="/pay/withdraw/") 取现

        .row
          .total-asset-money-card
            p.align-center
              span.big_number {{p2p_total_asset|money_format}}
            p.align-center P2P资产(元)

          .sign-money-card
            =

          .p2p-asset--detail-container
            .p2p-asset--detail
              p
                span.big_number {{user.margin.margin | money_format}}
              p P2P余额
            .sign-money-card
              +
            .p2p-asset--detail
              p
                span.big_number {{p2p_unpay_principle|money_format}}
              p 待收本金
            .sign-money-card
              +
            .p2p-asset--detail
              p
                span.big_number {{margin_freeze|money_format}}
              p 投资中冻结金额
            .sign-money-card
              +
            .p2p-asset--detail
              p
                span.big_number {{margin_withdrawing|money_format}}
              p 提现中冻结金额

        .space-vertical-s

        table.table
          thead
            tr
              th 投标时间
              th 产品名称
              th 投资金额
              th 状态
              th 已收益/预期收益
              th 还款计划
              th 借款合同
          tbody
            if p2p_equities
              each equity in p2p_equities
                tr
                  term = equity.term
                  total_income = equity.total_interest

                  td {{equity.product.publish_time | date:"Y-m-d H:i:s"}}
                  td
                    p <a href="/p2p/detail/{{equity.product.id}}/">{{equity.product.short_name}}</a>
                    p 年化收益：{{equity.product.expected_earning_rate}}%
                    p 期限：{{equity.product.period}}个月
                  td {{equity.equity | money_format}}

                  if equity.product.status != '还款中'
                    if equity.product.status != '流标'
                      td 募集中
                    else
                      td {{equity.product.status}}
                  else
                    td {{equity.product.status}}{{term}}/{{equity.product.amortization_count}}
                  if equity.product.status == '还款中'
                    td <span class="highlight">{{equity.paid_interest | money_format}}</span> / {{total_income | money_format}}
                  else
                    td -
                  if equity.product.status == '还款中' or equity.product.status == '已完成'
                    td
                      a.button.button-small.button-pink(href="/accounts/p2p/amortization/{{equity.product.id}}/") 还款计划
                    td
                      a.button.button-small.button-pink(href="/accounts/p2p/contract/{{equity.product.id}}/" target="_blank") 合同
                  else
                    td -
                    td -
            else
              tr
                td(colspan='7') 无持仓记录

        .space-vertical-m

  else
    .account-home-panel__no-padding
      .account-home-panel--title-bar__product.clamp-xl
        ul.title-bar--tabs
          li.title-bar--tab
            a.title-bar--tab--anchor(href="/accounts/home/") P2P
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href="javascript:void(0)") 货币基金
        a.pull-right.align-right(href='/accounts/transaction/fund/') 查看交易记录
      .clamp-sm
        .space-vertical-s
        .row.total-money
          .gray-card4
            p
              span.big_number {{fund_total_asset|money_f_2}}
            p 总资产(元)
          .gray-card4
            p
              span.big_number {{total_income|money_f_2}}
            p 累积收益(元)
          .gray-card4
            p
              span.big_number {{fund_income_week|money_f_2}}
            p 近一周收益(元)
          .gray-card4
            p
              span.big_number {{fund_income_month|money_f_2}}
            p 近一月收益(元)
        .space-vertical-s

        table.table
          thead
            tr
              th 产品名称
              th 金额(元)
              th 收益(元)
              th 操作
          tbody
            if fund_hold_info
              each fund in fund_hold_info
                tr
                  td
                    a(href="/fund/detail/{{fund.id}}/") {{fund.fund_name}}
                  td {{fund.current_remain_share}}
                  td {{fund.unpaid_income}}
                  td
                    a.button.button-small.button-pink(href="/shumi/oauth/check_oauth_status/?fund_code={{fund.fund_code}}&action=purchase" target="_blank") 继续购买
                    &nbsp;
                    a.button.button-small.button-pink(href="/shumi/oauth/check_oauth_status/?fund_code={{fund.fund_code}}&action=redeem" target="_blank") 赎回
            else
              tr
                td(colspan='4') 无持仓记录

        .space-vertical-m

block script
  script.
    require(["/static/js/account_home.js"])
