extends account_home_base
- load formatters
- load mathfilters
block head
    include include/head
block sidebar
    //- with '账户总览' as activeItem
    include include/user_center_sidebar
block main
    .phone_modify_main_wrap.main_wrap_1
        .main_title_top 身份信息
            .text 人工修改手机号申请已提交，申请进展会以短信形式发送到您的新手机，请留意。
            .true 手机号修改成功

        .info_box.is_open
            .img.img_1
            if phone
                dl
                    dt
                        .text 手机号
                        .ico.is_set_ico
                        span.is_set_text 已绑定
                    dd {{phone}}
                .button 修改
            else
                dl
                    dt
                        .text 手机号
                        .ico.no_set_ico
                        span.no_set_text 未绑定
                    dd {{phone}}
                .button 修改
        .phone_change_wrap
            .line
            .wrap_box.sms_wrap
                .img
                dl
                    dt 短信认证
                    dd 原手机可收取短信
            .wrap_box.people_wrap
                .img
                dl
                    dt 人工审核
                    dd 原手机无法收取短信
        .info_box
            .img.img_2
            if id_is_valid
                dl
                    dt
                        .text 实名认证
                        .ico.is_set_ico
                        span.is_set_text 已认证
                    dd *永明 370125**********
            else
                dl
                    dt
                        .text 实名认证
                        .ico.no_set_ico
                        span.no_set_text 待认证
                    dd 您尚未进行实名认证！
                .button 实名认证
    .phone_modify_main_wrap.main_wrap_2
        .main_title_top 密码管理
        .info_box
            .img.img_3
            dl
                dt
                    .text 登录密码
                    .ico.is_set_ico
                    span.is_set_text 已设置
                dd 账户登录使用，定期修改可提升账户安全性
            .button 修改
        .info_box
            .img.img_4
            if trade_pwd
                dl
                    dt
                        .text 交易密码
                        .ico.is_set_ico
                        span.is_set_text 已设置
                    dd 6位数字，投资、提现时使用，保证账户资金安全
                .button 修改
                .button.button_change 找回
            else
                dl
                    dt
                        .text 交易密码
                        .ico.no_set_ico
                        span.no_set_text 未设置
                    dd 6位数字，投资、提现时使用，保证账户资金安全
                .button 设置



    script.
        require(["/static/js/account_safe.js"])