doctype html
- with '我的账户' as title
include include/head
- endwith
body
  include include/header
  include include/navigation
  .row
    .span3
      - with '银行卡' as activeItem
      include include/user_center_sidebar
      - endwith
    .span9-omega
      .panel-padding
        .space-vertical-s
        .bar
          .card-category-bar 基金专用账户

        if cards
          each card in cards
            .bank-card.span6
              .bank-card--title-bar.row
                .bank-card--bank-name.span6 card.bank_name
                .bank-card--actions.span3-omega
                  a(href="#") 解除绑定
              .row.margin-top-m
                dl.bank-card--info-row
                  dt.bank-card--info-title 账号
                  dd.bank-card--info-value {{card.no}}
        else
          p.no-content 无绑定银行卡

  include include/footer
  include include/templates
  script(src="/static/js/require.js", data-main="/static/js/account_home")
  include include/tracking
