extends account_home_base

- load formatters
- load mathfilters

block head
  - with '我的账户' as title
    include include/head

block sidebar
  - with '账户总览' as activeItem
    include include/user_center_sidebar

block main
  .account-home-panel
    .account-home-panel--title-bar
      span.nickname {{user | safe_phone}}
      if user.wanglibaouserprofile.id_is_valid
        span.verified 已实名认证
      else
        span
          a#name-hight(href="/accounts/register/first/") 立即进行实名认证

    .card-panel
      .total-asset-money-card
        p.align-center
          span#total_asset.big_number(data-p2p="{{p2p_total_asset}}") {{total_asset|money_format}}
        p.align-center 总资产(元)
      .sign-money-card
        =
      if mode == 'p2p'
        .brief--p2p-total-asset.active
          a(href="/accounts/home/")
            p.align-center
              span.big_number {{p2p_total_asset|money_format}}
            p.align-center 理财专区(元)
        .sign-money-card
          //+
      else
        .brief--p2p-total-asset
          a(href="/accounts/home/")
            p.align-center
              span.big_number {{p2p_total_asset|money_format}}
            p.align-center 理财专区(元)
        .sign-money-card
      //    +
      //if mode == 'p2p'
      //  .brief--fund-total-asset
      //    a(href="/accounts/home/experience/")
      //      p.align-center
      //        span.big_number {{experience_account.unpaid_interest}}
      //      p.align-center 体验金(元)
      //else
      //  .brief--fund-total-asset.active
      //    a(href="/accounts/home/experience/")
      //      p.align-center
      //        span.big_number {{experience_account.unpaid_interest}}
            p.align-center 体验金(元)
  if mode == 'p2p'
    .account-home-panel__no-padding
      .account-home-panel--title-bar__product
        ul.title-bar--tabs
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href="javascript:void(0)") 理财专区
          li.title-bar--tab
            a.title-bar--tab--anchor(href="/accounts/home/experience/") 体验金专区
            i
        a.pull-right.align-right.detail-view(href='/accounts/transaction/p2p/') 查看交易记录
      .clamp-xl
        .account-home-panel--action-bar
          a.button-home-action(href="/pay/banks/") 充值
          a.button-home-action.margin-left-m(href="/pay/withdraw/") 取现

        .row
          .total-asset-money-card
            p.align-center
              span.big_number {{p2p_total_asset|money_format}}
            p.align-center.desc 理财专区资产(元)

          .sign-money-card
            =

          .p2p-asset--detail-container
            .p2p-asset--detail
              p
                span.big_number {{user.margin.margin | money_format}}
              p.desc 余额
            .sign-money-card
              +
            .p2p-asset--detail
              p
                span.big_number {{p2p_unpay_principle|money_format}}
              p.desc 待收本金
            .sign-money-card
              +
            .p2p-asset--detail
              p
                span.big_number {{margin_freeze|money_format}}
              p.desc 投资中冻结金额
            .sign-money-card
              +
            .p2p-asset--detail
              p
                span.big_number {{margin_withdrawing|money_format}}
              p.desc 提现中冻结金额
        .space-vertical-s

        table.table
          thead
            tr
              th 投标时间
              th 产品名称
              th 投资金额
              th 状态
              th 已收益/预期收益
              th 活动收益
              th 还款计划
              th 借款合同
          tbody
            if result
              for row in result
                tr
                  td {{row.equity.created_at | date:"Y-m-d H:i:s"}}
                  td
                    p
                      a(href="/p2p/detail/{{row.equity.product.id}}/") {{row.equity.product.short_name}}
                    p 年化收益：{{row.equity.product.expected_earning_rate}}%
                    p 期限：{{row.equity.product.period}}{{row.equity.product.pay_method | period_unit}}
                  td {{row.equity.equity | money_format}}

                  if row.equity.product.display_status != '还款中'
                    td {{row.equity.product.display_status}}
                  else
                    td {{row.equity.product.display_status}}{{row.equity.term}}/{{row.equity.product.amortization_count}}

                  if row.equity.product.display_status == '还款中' or row.equity.product.display_status == '已完成'
                    paid_interest = row['equity'].paid_interest + row['equity'].paid_coupon_interest
                    total_interest = row['equity'].total_interest + row['equity'].total_coupon_interest
                    td <span class="highlight">{{paid_interest | money_format}}</span> / {{total_interest | money_format}}
                  else
                    td -

                  td
                    if row.earning
                      p.highlight {{row.earning.amount | money_format}}
                      p {{row.earning.product.activity.name}}
                      p 已发放
                    else
                      | -

                  if row.equity.product.display_status == '还款中' or row.equity.product.display_status == '已完成'
                    td
                      a.button.button-small.button-pink(href="/accounts/p2p/amortization/{{row.equity.product.id}}/") 还款计划
                    td
                      a.button.button-small.button-pink(href="/accounts/p2p/contract/{{row.equity.product.id}}/" target="_blank") 合同
                  else
                    td -
                    td -
            else
              tr
                td(colspan='8') 无持仓记录

        .space-vertical-m

  else
    .account-home-panel__no-padding
      .account-home-panel--title-bar__product
        ul.title-bar--tabs
          li.title-bar--tab
            a.title-bar--tab--anchor(href="/accounts/home/") 理财专区
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href="javascript:void(0)") 体验金专区
            i
        a.pull-right.align-right.detail-view(href='/activity/experience/gold/', target="_blank")
            i
            | 查看体验金活动
      .account-home-panel__no-padding
          .clamp-xl
              .row.tyjRow
                  .total-asset-money-card
                      p.align-center
                          span.big_number {{experience_account.total_experience_amount | money_format}}
                      p.align-center.desc 体验金总资产（元）
                  .total-asset-money-card
                      p.align-center
                          span.big_number {{experience_account.experience_amount | money_format}}
                      p.align-center.desc 体验金余额（元）
                  .total-asset-money-card
                      p.align-center
                          span.big_number {{experience_account.paid_interest | money_format}}
                      p.align-center.desc 到账收益（元）
                  .total-asset-money-card
                      p.align-center
                          span.big_number {{experience_account.unpaid_interest | money_format}}
                      p.align-center.desc 待收收益（元）
              p.tyjMark 注：体验金投资获取收益可以提现，提现操作会优先从体验金到账收益余额里扣除，
                a(href="javascript:void(0)") 体验金领取及使用说明。
              .project_div.clearfix
                h5 专属福利体验标
                ul.project_detail.clearfix
                    li.li_one
                      if experience_amount == 0
                        label.rzje 28,888元
                      else
                        label {{experience_amount}}元
                      span 融资金额
                    li.li_two
                        label {{product.expected_earning_rate}}%
                        span 年化收益
                    li.li_three
                        label {{product.period}}天
                        span 投资期限
                    li.li_four
                        if experience_amount > 0
                            a(href='javascript:void(0)').investBtn 立即投资
                        else
                            a.invest_ed 立即投资
              if user.is_authenticated and experience_amortization
                  .look_more_detail
                    .more_btn
                        label 查看历史投资项目
                        span
              table.table.tableNew(style="display:none")
                  thead
                      tr
                          th 投标时间
                          th 产品名称
                          th 投资金额
                          th 年化收益
                          th 项目期限
                          th 已收益／预期收益
                  tbody
                    if experience_amortization
                      for amo in experience_amortization
                        tr
                          td {{amo.created_time}}
                          td {{amo.product.name}}
                          td {{amo.principal}}
                          td {{amo.product.expected_earning_rate}}%
                          td {{amo.product.period}}
                          if amo.settled
                            td {{amo.interest | money_format}}/{{amo.interest | money_format}}（（元）
                          else
                            td 0.00/{{amo.interest | money_format}}（元）
                    else
                        tr
                            td 暂无记录
    .explain_box
        .explain_box_img
            .explain_content_box
                p.title_ex 体验金领取及使用说明
                ul
                    li.clearfix
                        span
                        .explain_content
                            p.name 如何领取？
                            p 1、新用户通过注册（老用户通过邀请等活动奖励）获得体验金后，体验金自动放入相应账户并发送站内信通知。
                    li.clearfix
                        span
                        .explain_content
                            p.name 如何使用？
                            p 1、体验金只能在相关活动页投资体验标，投资时不能使用其它理财券。体验金有效期自发放日起15天内有效。
                            p 2、体验金需要用户手动投资，投资时系统将自动按体验金总额一次性投资完毕。例如，用户A注册获得10000元体验金，未使用，之后该用户通过参与活动获得5000元体验金，此时用户选择投资体验标时（两笔体验金均在有效期内），系统默认将15000元体验金全部投资。
                    li.clearfix
                        span
                        .explain_content
                            p.name 体验金是否可提现？
                            p 1、体验金投资项目，17点前投资当日计息，17点后投资次日计息，项目到期日17点回款。还款本金系统自动收回，利息收益自动以余额形式发放至投资人的理财专区账户。例如，新手28888元体验金，计息日为1天（含节假日），今天16：50分投资，项目立即计息，今天17：00体验金投资收益会发放到您个人账户。
                            p 2、体验金利息收益与正常账户余额一样，可用来投资和提现。
                            p.mt40 部分合作渠道来源用户无法享受此活动奖励，网利宝对此活动享有最终解释权。
block script
  script.
    require(["/static/js/account_home.js"])
