extends account_home_base

block head
  - with '修改密码' as title
    include include/head

block sidebar
  - with '修改密码' as activeItem
    include include/user_center_sidebar

block main
  .panel
    .well
      .panel-title-bar__no-border
        .panel-title 修改密码

      .panel-inner.font-s
        form#passwordChangeForm.well-s(method="POST")
          table
            tr
              td 原始密码
              td
                input#old-password(type="password", name="old-password", autocomplete="off")
            tr
              td 新密码
              td
                input#new-password1(type="password", name="new-password1", autocomplete="off")
            tr
              td 再次输入
              td
                input#new-password2(type="password", name="new-password2", autocomplete="off")
            tr
              td
              td
                button#passwordChangeButton.button-primary(type="submit") 提交

block script
  script.
    require(['/static/js/account_setting.js'])
