extends account_home_base

- load formatters
- load mathfilters

block head
  - with '我的账户' as title
    include include/head

block sidebar
  - with '账户总览' as activeItem
    include include/user_center_sidebar

block main
  .account-home-panel
    .account-home-panel--title-bar
      span.nickname {{user | safe_phone}}
      if user.wanglibaouserprofile.id_is_valid
        span.verified 已实名认证
      else
        span
          a#name-hight(href="/accounts/id_verify/") 立即进行实名认证

    .card-panel
      .total-asset-money-card
        p.align-center
          span#total_asset.big_number(data-p2p="{{p2p_total_asset}}") {{total_asset|money_format}}
        p.align-center 总资产(元)
      .sign-money-card
        =
      if mode == 'p2p'
        .brief--p2p-total-asset.active
          a(href="/accounts/home/")
            p.align-center
              span.big_number {{p2p_total_asset|money_format}}
            p.align-center 理财专区(元)
        .sign-money-card
          +
      else
        .brief--p2p-total-asset
          a(href="/accounts/home/")
            p.align-center
              span.big_number {{p2p_total_asset|money_format}}
            p.align-center 理财专区(元)
        .sign-money-card
          +
      if mode == 'p2p'
        .brief--fund-total-asset
          a(href="/accounts/home/fund/")
            p.align-center
              span#fund_total_asset_title.big_number
            p.align-center 货币基金(元)
      else
        .brief--fund-total-asset.active
          a(href="/accounts/home/fund/")
            p.align-center
              span#fund_total_asset_title.big_number
            p.align-center 货币基金(元)

  if mode == 'jiuxian'
    .account-home-panel__no-padding
      .account-home-panel--title-bar__product
        ul.title-bar--tabs
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href="/accounts/home/jiuxian/") 众筹选项
          li.title-bar--tab
            a.title-bar--tab--anchor(href="/accounts/home/") 理财专区
          li.title-bar--tab
            a.title-bar--tab--anchor(href="/accounts/home/fund/") 货币基金
        a.pull-right.align-right.detail-view(href='/accounts/transaction/p2p/') 查看交易记录
      .clamp-xl
        .space-vertical-s
        h3 酒仙众筹产品选择
        .space-vertical-s
        form.form(name="jiuxian_selected", method="post")
          table.table
            thead
              tr
                th 还款期限/月
                th 年化收益
                th 投资总额/元
                th 预期收益
                th 收益类型
            tbody
              if equity_jiuxian
                wine_num = equity_jiuxian.equity_amount / 100
                tr
                  td {{equity_jiuxian.product.period}}{{row.equity.product.pay_method | period_unit}}
                  td {{equity_jiuxian.product.expected_earning_rate}}%
                  td {{equity_jiuxian.equity_amount | money_format}}
                  if equity_jiuxian.product.display_status == '还款中' or equity_jiuxian.product.display_status == '已完成'
                    td {{equity_jiuxian.equity.total_interest | money_format}}
                  else
                    td -
                  td
                    if equity_jiuxian.selected_type == 'wine'
                      | 酒 {{wine_num}} 瓶 + 收益
                    else
                      | 投资金额 + 收益
              else
                tr
                  td(colspan='5') 无酒仙众筹标持仓记录
          .space-vertical-s
          if equity_jiuxian
            if equity_jiuxian.product.display_status == '正在招标'
              if not jiuxian_selected
                - csrf_token
                .form-row
                  label.span4(for="principal")
                    input(type="radio", name="select_type", id="principal", checked="checked", value="principal")
                    | 投资金额 + 收益
                  label.span5(for="wine")
                    input(type="radio", name="select_type", id="wine", value="wine")
                    | 酒 {{wine_num}} 瓶 + 收益（选择后请填写
                    a(href="/accounts/address/", target="_blank") 收货地址
                    |）
                .space-vertical-s
                .form-row
                  button.span3.button-primary(type="submit") 确定
              .space-vertical-s
            h5 注：众筹项目仅限选择一次，选择后单标累计投资额均默认单标初次选项
          .space-vertical-s
          h3 众筹说明
          ul.font-s.margin-top-s.lh-l
            li 1、本金抵扣的酒为52°智慧舍得酒，市面价值299元
            li 2、此选项仅限选择一次，选择后无法更改
            li 3、1000元本金等同10瓶52°智慧舍得酒，选择酒后抵扣相应的本金
            li 4、选择“酒+收益”，项目到期后由酒仙网快递相应数量的52°智慧舍得酒，利息照常返还至网利宝账户.
            li 5、选择"本金+收益” 无礼品赠送，项目到期后按正常理财产品收益计算
            li 6、满标后未做选择，系统默认用户选择“本金+收益”
            li 7、网利宝对此众筹活动享有最终解释权
            li 8、本众筹不参与网利宝其它活动。
          .space-vertical-l
  elif mode == 'p2p'
    .account-home-panel__no-padding
      .account-home-panel--title-bar__product
        ul.title-bar--tabs
          if tab_jiuxian
            li.title-bar--tab
              a.title-bar--tab--anchor(href="/accounts/home/jiuxian/") 众筹选项
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href="javascript:void(0)") 理财专区
          li.title-bar--tab
            a.title-bar--tab--anchor(href="/accounts/home/fund/") 货币基金
        a.pull-right.align-right.detail-view(href='/accounts/transaction/p2p/') 查看交易记录
      .clamp-xl
        .account-home-panel--action-bar
          a.button-home-action(href="/pay/banks/") 充值
          a.button-home-action.margin-left-m(href="/pay/withdraw/") 取现

        .row
          .total-asset-money-card
            p.align-center
              span.big_number {{p2p_total_asset|money_format}}
            p.align-center.desc 理财专区资产(元)

          .sign-money-card
            =

          .p2p-asset--detail-container
            .p2p-asset--detail
              p
                span.big_number {{user.margin.margin | money_format}}
              p.desc 余额
            .sign-money-card
              +
            .p2p-asset--detail
              p
                span.big_number {{p2p_unpay_principle|money_format}}
              p.desc 待收本金
            .sign-money-card
              +
            .p2p-asset--detail
              p
                span.big_number {{margin_freeze|money_format}}
              p.desc 投资中冻结金额
            .sign-money-card
              +
            .p2p-asset--detail
              p
                span.big_number {{margin_withdrawing|money_format}}
              p.desc 提现中冻结金额
        .space-vertical-s

        table.table
          thead
            tr
              th 投标时间
              th 产品名称
              th 投资金额
              th 状态
              th 已收益/预期收益
              th 活动收益
              th 邀请加息
              th 还款计划
              th 借款合同
          tbody
            if result
              for row in result
                tr
                  td {{row.equity.created_at | date:"Y-m-d H:i:s"}}
                  td
                    p
                      a(href="/p2p/detail/{{row.equity.product.id}}/") {{row.equity.product.short_name}}
                    p 年化收益：{{row.equity.product.expected_earning_rate}}%
                    p 期限：{{row.equity.product.period}}{{row.equity.product.pay_method | period_unit}}
                  td {{row.equity.equity | money_format}}

                  if row.equity.product.display_status != '还款中'
                    td {{row.equity.product.display_status}}
                  else
                    td {{row.equity.product.display_status}}{{row.equity.term}}/{{row.equity.product.amortization_count}}

                  if row.equity.product.display_status == '还款中' or row.equity.product.display_status == '已完成'
                    td <span class="highlight">{{row.equity.paid_interest | money_format}}</span> / {{row.equity.total_interest | money_format}}
                  else
                    td -

                  td
                    if row.earning
                      p.highlight {{row.earning.amount | money_format}}
                      p {{row.earning.product.activity.name}}
                      p 已发放
                    else
                      | -
                  td
                    p {{row.hike}}

                  if row.equity.product.display_status == '还款中' or row.equity.product.display_status == '已完成'
                    td
                      a.button.button-small.button-pink(href="/accounts/p2p/amortization/{{row.equity.product.id}}/") 还款计划
                    td
                      a.button.button-small.button-pink(href="/accounts/p2p/contract/{{row.equity.product.id}}/" target="_blank") 合同
                  else
                    td -
                    td -
            else
              tr
                td(colspan='8') 无持仓记录

        .space-vertical-m

  else
    .account-home-panel__no-padding
      .account-home-panel--title-bar__product
        ul.title-bar--tabs
          if tab_jiuxian
            li.title-bar--tab
              a.title-bar--tab--anchor(href="/accounts/home/jiuxian/") 众筹选项
          li.title-bar--tab
            a.title-bar--tab--anchor(href="/accounts/home/") 理财专区
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href="javascript:void(0)") 货币基金
        a.pull-right.align-right.detail-view(href='/accounts/transaction/fund/') 查看交易记录
      .clamp-xl
        .space-vertical-s
        .row.total-money
          .gray-card4
            p
              span#fund_total_asset.big_number
            p 总资产(元)
          .gray-card4
            p
              span#total_income.big_number
            p 累积收益(元)
          .gray-card4
            p
              span#fund_income_week.big_number
            p 近一周收益(元)
          .gray-card4
            p
              span#fund_income_month.big_number
            p 近一月收益(元)
        .space-vertical-s

        table.table
          thead
            tr
              th 产品名称
              th 金额(元)
              th 收益(元)
              th 操作
          tbody#fund_detail_body
            if fund_hold_info
              each fund in fund_hold_info
                tr
                  td
                    a(href="/fund/detail/{{fund.id}}/") {{fund.fund_name}}
                  td {{fund.current_remain_share}}
                  td {{fund.unpaid_income}}
                  td
                    a.button.button-small.button-pink(href="/shumi/oauth/check_oauth_status/?fund_code={{fund.fund_code}}&action=purchase" target="_blank") 继续购买
                    &nbsp;
                    a.button.button-small.button-pink(href="/shumi/oauth/check_oauth_status/?fund_code={{fund.fund_code}}&action=redeem" target="_blank") 赎回
            else
              tr
                td(colspan='4') 无持仓记录

        .space-vertical-m

block script
  script.
    require(["/static/js/account_home.js"])
