doctype html
- with '我的账户' as title
include include/head
- endwith
body
  include include/header
  include include/navigation

  .row
    .span3
      - with '账务总览' as activeItem
      include include/user_center_sidebar
      - endwith

    .span9-omega
      .panel-padding
        .space-vertical-s
        p.font-m
          span.nickname {{ user.wanglibaouserprofile.nick_name }}
          {{greeting}}
          span.phone ({{user.wanglibaouserprofile.phone}})
        .card-panel
          .gray-card3
            p 总资产
            p
              span.big_number 123
              元
          .gray-card3
            p 累计收益
            p
              span.big_number 123
              元
          .gray-card3
            p 加权收益率
            p
              span.big_number 123
              %

      .panel-padding
        .panel-product-title-red
          货币基金
          a.button-mini.pull-right(href='/accounts/transaction/') 交易记录
        .card-panel
          .gray-card4
            p 总资产
            p
              span.big_number 123
              元
          .gray-card4
            p 累积收益
            p
              span.big_number 123
              元
          .gray-card4
            p 近一周收益
            p
              span.big_number 123
              元
          .gray-card4
            p 近一月收益
            p
              span.big_number 123
              元

        .space-vertical-s

        table.trust-table
          thead
            tr
              th 产品名称
              th 金额
              th 未付收益
              th 操作
          tbody
            if fund_hold_info
              each fund in fund_hold_info
                tr
                  td {{fund.fund_name}}
                  td {{fund.current_remain_share}}元
                  td {{fund.unpaid_income}}元
                  td
                    a.button.button-mini.button-pink(href="/shumi/oauth/check_oauth_status/?fund_code={{fund.fund_code}}&action=purchase" target="_blank") 继续购买
                    &nbsp;
                    a.button.button-mini.button-pink(href="/shumi/oauth/check_oauth_status/?fund_code={{fund.fund_code}}&action=redeem" target="_blank") 赎回
            else
              tr
                td(colspan='4') 无持仓记录


  include include/footer
  include include/templates
  script(src="/static/js/require.js", data-main="/static/js/account_home")

  include include/tracking
