-load formatters

doctype html
html
  - with '注册成功' as title
  include include/head
  - endwith

  body
    include include/login_nav
    .full-container-login
      .container-login
        .register
          img.register-img(src='/static/images/register_done.png')
          .register-text
            p <span>恭喜您，注册成功，欢迎加入网利宝！</span>
             请&nbsp;<a href="/accounts/login/?&next=/">登录</a>

    - with 1 as no_margin
    include include/footer
    - endwith
    include include/tracking