-load formatters

doctype html
html
  - with '注册成功' as title
  include include/head
  - endwith

  body
    include include/login_nav
    .full-container-login
      .container-login
        .register-nav
          ol
            li 1 设置账户及密码
            li 2 进入邮箱验证
            li.active.end 3 恭喜！注册成功
        .register
          p 欢迎您，邮箱验证成功。请&nbsp;<a href="/accounts/login/?&next=/">登录</a>

    - with 1 as no_margin
    include include/footer
    - endwith
    include include/tracking