extends center_base
-load formatters


block head
  - with '个人资料' as title
  include global/g_head
  -endwith


block sidebar
  - with '个人资料' as activeItem
  include include/center_sidebar
  -endwith


block main
  .c-main-white.c-auto-height.c-layout
    .c-profile-mask
      .c-profile-alert
        .c-profile-alert-head
          .alert-title 添加/修改收货信息
        .c-profile-alert-form
          form()
            input(placeholder='收货人地址', type='text')
            input(placeholder='收货人地址', type='text')
            input(placeholder='收货人地址', type='text')

        .c-profile-alert-submit
          input(type='button', value='确认添加')
        .c-alert-close





    .c-profile-means

      .pro-means-head
        .t-d10.font-m 认证资料

      .pro-means-content.clearfix
        .fl.pro-layout
          .means-item
            .means-title 真实姓名
            if user.wanglibaouserprofile.name
              .means-content {{user.wanglibaouserprofile.name | safe_name}}
            else
              a(href='').means-content.means-blue 立即实名
          .means-item
            .means-title 手机号码
            .means-content {{user | display_name}}
          .means-item
            .means-title 银行卡号
            .means-content 中国工商银行 尾号449

        .fl.pro-layout
          .means-item
            .means-title 身份证号
            if user.wanglibaouserprofile.id_number
              .means-content {{user.wanglibaouserprofile.id_number | safe_id}}
            else
              a().means-content.means-blue 立即实名


    .c-profile-info

      .pro-means-head.clearfix
        .t-d10.font-m.fl 收货信息
        .add-info.fr.t-d20
           i.iconfont.icon-greenRight
            |添加

      .pro-info-lists
        for address in address_list
          .pro-list.clearfix
            .fl.pro-list-left
              .means-item
                .means-title 收货人
                .means-content {{address.name}}
              .means-item
                .means-title 联系电话
                .means-content {{address.phone_number}}
              .means-item
                .means-title 收货地址
                .means-content {{address.address}}
            .fr
              .pro-info-add
                .add-info.fr
                  i.iconfont.icon-jiaoyimima03.font-s
                  |删除
                .add-info.fr
                  i.iconfont.icon-greenRight.font-s
                  |修改
                if address.is_default == True
                  .add-info.fr
                    i.iconfont.icon-greenRight.font-s.t-d2
                    |默认
                else
                  .add-info.fr
                    i.iconfont.icon-greenRight.font-s
                    |默认


