extends center_base
-load formatters
block head
  - with '账户总览' as title
  include global/g_head
  -endwith
block sidebar
  - with '账户总览' as activeItem
  include include/center_sidebar
  -endwith
block main
  .c-main-white.c-auto-height.c-layout

    .c-h-fund-head.clearfix
      .span8.clearfix.balance-mod

        .c-h-l.span8
          .tc.inline-block
            .c-h-balance.tc
              .font-lll.t-d10.lh 20,534
                span.font-xxl .25
                .font-s.t-d24.mg-t-xs.mg-b-sm 账户余额(元)
            .c-h-opeartion.clearfix.inline-block
              .recharge-link.fl.mg-r-s
                a(href='') 充值
              .trade-link.fl
                a(href='') 投资

        .c-h-r.span4
          .c-h-earning
            .font-l.t-d11 +10.58
            .font-s.t-d24 昨日到账收益(元)
          .c-h-earning.mg-t-ssm
            .font-l.t-d11 1900.58
            .font-s.t-d24 累计收益(元)

      .span4
        .h-notice-mod
          .h-notice-title.mg-b-s 通知中心
            .notice-num 2
          .h-notice-list
            a().h-notice-cont.t-d11 参与活动送红包
            .h-notice-date 2015-06-17
          .h-notice-list
            a().h-notice-cont.t-d24 参与活动送红包参与活动送红包
            .h-notice-date 2015-06-17
          .h-notice-list
            a().h-notice-cont.t-d24 参与活动送红包
            .h-notice-date 2015-06-17
          .h-notice-list
            a().h-notice-cont.t-d24 参与活动送红包
            .h-notice-date 2015-06-17


    .c-h-fund
      .h-fund-item.fl
        .fund-amount 10,000
          span.fund-point .00
        .fund-explain 账户总资产(元)

      .h-fund-item.fl
        .fund-amount 500
          span.fund-point .00
        .fund-explain 待收本息(元)
      .h-fund-item.fl.h-fund-item-unmagin
        .fund-amount 95,000
          span.fund-point .00
        .fund-explain 暂冻结资金(元)

    .font-m.t-d10 投资分布
    .c-h-echarts.clearfix
      .c-spread-type.fl.echarts-list
        #type(style="width: 160px;height:250px;")
      .c-spread-limit.fl.echarts-list
        #limit(style="width: 160px;height:250px;")
      .c-spread-earning.fl.echarts-list.un-mg
        #earning(style="width: 160px;height:250px;")


    .font-m.t-d10 回款计划
    .c-h-filter-warp.clearfix.mg-b-sm.mg-t-s
      .fr
        include  include/center_filter_date
    table.c-h-table.c-table
      thead
        tr
          th 回款时间
          th 项目名称
          th 汇款期数
          th 应收本息(元)
          th 回款状态
      tbody
        mixin tr()
          tr
            td 2015-10-30 14:00
            td ZWS-APP推荐标测试短名称
            td 1/2
            td 5,867.00
            td 回款中
        +tr()
        +tr()
        +tr()
        +tr()
        +tr()
    .c-h-pager
      include include/center_pager
  script.
    require(["/static/src/pc/transaction.js?v=2"])
