extends center_base
-load formatters
block head
  - with '充值' as title
  include global/g_head
  -endwith
block sidebar
  - with '充值' as activeItem
  include include/center_sidebar
  -endwith
block main
  .center-main-white.center-auto-height
    .center-transaction-bar
      a(href='/accounts/recharge/huifu/').active-bar 汇付天下
      a(href='/accounts/recharge/yipay/') 易宝支付
      a(href='/accounts/recharge/kuaijie/') 快捷支付

    .center-racharge-warp.center-layout

      .racharge-head.clearfix.mg-b-sm.mg-t-l
        .racharge-head-title.font-s.t-d11.fl 选择银行:
        .racharge-bank-limit.fr 银行限额提示
      .racharge-bank-list
        ul
          li(style="background: url('/static/imgs/pc/center/banks_default.png')").active
          li(style="background: url('/static/imgs/pc/center/banks_default.png')")
          li(style="background: url('/static/imgs/pc/center/banks_default.png')").active
          li(style="background: url('/static/imgs/pc/center/banks_default.png')").un-margin-right
          li(style="background: url('/static/imgs/pc/center/banks_default.png')").active
      table.withdraw-table
        tbody
          tr
            th 充值金额:
            td
              input(type='text', placeholder='请输入充值金额').withdraw-input
              span.t-d19.font-m.mg-l-s 元
          tr
            th
            td
              input(type='button', value='立即充值').withdraw-submit

