extends center_base
-load formatters
block head
  - with '充值' as title
  include global/g_head
  -endwith
block sidebar
  - with '充值' as activeItem
  include include/center_sidebar
  -endwith
block main
  .center-main-white.center-from-opeartion
    .center-transaction-bar
      a(href='').active-bar 汇付天下
      a(href='') 易宝支付
      a(href='') 快捷支付

