extends center_base
-load formatters

block head
  - with '安全认证' as title
  include global/g_head
  -endwith

block sidebar

  - with '安全认证' as activeItem
  include include/center_sidebar
  -endwith

block main
  .c-main-white 22