extends center_base
-load formatters

block head
  - with '投资记录' as title
  include global/g_head
  -endwith
block sidebar
  - with '投资记录' as activeItem
  include include/center_sidebar
  -endwith
block main
  .c-main-white.c-from-opeartion.c-auto-height
    .c-transaction-bar
      a(href='/accounts/transaction/').active-bar 散标投资
      a(href='') 月利宝

    .c-from-opeartion.c-layout
      .space-vertical-l

      .c-transaction-filter.clearfix
        .c-filter-checkbox.fl
          input(type='hidden', name='p2p_status', value="{{p2p_status}}")
          input(type='hidden', name='startDate', value="{{start_date}}")
          input(type='hidden', name='endDate', value="{{end_date}}")
          ul
            if p2p_status == '' or p2p_status == 'all'
              li.active-on
                a(href="/accounts/transaction/?start_date={{start_date}}&end_date={{end_date}}") 全部
            else
              li
                a(href="/accounts/transaction/?start_date={{start_date}}&end_date={{end_date}}") 全部
            if p2p_status == 'purchase'
              li.active-on
                a(href="/accounts/transaction/?p2p_status=purchase&start_date={{start_date}}&end_date={{end_date}}") 投标中
            else
              li
                a(href="/accounts/transaction/?p2p_status=purchase&start_date={{start_date}}&end_date={{end_date}}") 投标中
            if p2p_status == 'repayment'
              li.active-on
                a(href="/accounts/transaction/?p2p_status=repayment&start_date={{start_date}}&end_date={{end_date}}") 还款中
            else
              li
                a(href="/accounts/transaction/?p2p_status=repayment&start_date={{start_date}}&end_date={{end_date}}") 还款中
            if p2p_status == 'finish'
              li.active-on
                a(href="/accounts/transaction/?p2p_status=finish&start_date={{start_date}}&end_date={{end_date}}") 已还款
            else
              li
                a(href="/accounts/transaction/?p2p_status=finish&start_date={{start_date}}&end_date={{end_date}}") 已还款
        .fr
          include include/center_filter_date

      .space-vertical-s
      table.c-table
        thead
          tr
            th 投资时间
            th 项目名称
            th 投资金额(元)
            th 应收本息(元)
            th 状态
            th 汇款账单
            th 借款合同
        tbody
          for equity in p2p_equities
            tr
              td
                span.table-date {{equity.created_at | date:'Y-m-d'}}
                .t-d19  {{equity.created_at | date:'H:i:s'}}
              td
                .tl.padding-l-sm
                  .table-product-name
                    a(href="/p2p/detail/{{equity.product.id}}/", target="_blank") {{equity.product.short_name}}
                  .t-d19 年化收益:{{equity.product.expected_earning_rate}}%
                  .t-d19 投资期限:{{equity.product.period}}{{equity.product.pay_method | period_unit}}
              td
                span {{equity.equity | money_format}}
              td
                if equity.product.display_status == '还款中' or equity.product.display_status == '已完成'
                  total_principal_interest = equity.equity + equity.total_interest + equity.total_coupon_interest
                  span {{total_principal_interest | money_format}}
                else
                  span -
              td
                span {{equity.product.display_status}}
              if equity.product.display_status == '还款中' or equity.product.display_status == '已完成'
                td
                  span.t-d20 账单
                td
                  .t-d20
                    a(href="/accounts/p2p/contract/{{equity.product.id}}/", target="_blank") 合同
              else
                td -
                td -
    url_params = "/accounts/transaction/?p2p_status=" + p2p_status + "&start_date=" + start_date + "&end_date=" + end_date
    - with data=p2p_equities uri=url_params
    include include/center_pager
    - endwith

  .c-transaction-bill
  script.
    require(["/static/src/pc/uc.transaction.js?v=2"])



