extends center_base
-load formatters
block head
  - with '修改交易密码' as title
  include global/g_head
  -endwith
block sidebar
  - with '账户安全' as activeItem
  include include/center_sidebar
  -endwith
block main
  .c-main-white.c-auto-height.c-layout
    .t-d10.font-l.padding-top-xl 密码管理 > 修改交易密码
    table.c-psw-modify.c-cash-table
      tbody
        tr
          th 原交易密码
          td
            input(type='text', placeholder='请输入交易密码').cash-input
        tr
          th 新交易密码
          td
            input(type='text', placeholder='请输入新交易密码').cash-input
        tr
          th 新交易密码
          td
            input(type='text', placeholder='重复输入新交易密码').cash-input
        tr
          th
          td
            .c-cash-submit
              input(type='button', value='修改交易密码').cash-submit-but
