extends center_base
-load formatters
block head
  - with '充值' as title
  include global/g_head
  -endwith
block sidebar
  - with '充值' as activeItem
  include include/center_sidebar
  -endwith
block main
  .c-main-white.c-auto-height
    .c-transaction-bar
      a(href='/accounts/recharge/huifu/') 汇付天下
      a(href='/accounts/recharge/yipay/') 易宝支付
      a(href='/accounts/recharge/kuaijie/').active-bar 快捷支付
    .c-racharge-warp.recharge-kuaijie-layout

      .recharge-bank-item
        .bank-icon(style="background: url('/static/imgs/pc/center/bank_default.png')")
        span.bank-info
          .bank-name.t-d10.font-l 中国工商银行 | 6222****283
          .font-sm.t-d19 单笔限额2000元，单日限额2万元



      table.withdraw-table
        tbody
          tr
            th 充值金额:
            td
              input(type='text', placeholder='请输入充值金额').withdraw-input
              span.t-d19.font-m.mg-l-s 元
          tr
            th 交易密码:
            td
              input(type='text', placeholder='请输入交易密码').withdraw-input
              span.racharge-back-password.mg-l-s
                a(href='') 找回交易密码
          tr
            th
            td
              input(type='button', value='立即充值').withdraw-submit
                                          