extends center_base
-load formatters


block head
  - with '站内信' as title
  include global/g_head
  -endwith

block sidebar
  - with '站内信' as activeItem
  include include/center_sidebar
  -endwith

block main
  .c-main-white.c-auto-height.c-layout
    .c-message-status
      if list_type == 'all' or not list_type
        a(href="/accounts/message/?listtype=all").active 全部
      else
        a(href="/accounts/message/?listtype=all") 全部

      if list_type == 'unread'
        a(href='/accounts/message/?listtype=unread').active 未读
      else
        a(href='/accounts/message/?listtype=unread') 未读

      if list_type == 'read'
        a(href='/accounts/message/?listtype=read').active 已读
      else
        a(href='/accounts/message/?listtype=read') 已读


    table.c-message-table
      thead
        tr
          th 类型
          th 标题
          th 时间
      tbody
        for msg in messageList
          if msg.read_status == True
            readStatue = 'read-active'
          else
            readStatue = ''
          tr(class=readStatue ,id="msg_{{msg.id}}", data-read-status="{{msg.read_status}}", data-show="False", data-msg-id="{{msg.id}}")
            td(width='20%') {{ msg.message_text.display_mtype }}
            td.msg-center(width='60%')
              .msg-head {{ msg.message_text.title }}
              .msg-cont
                | 亲爱的{{user | display_name}}您好：
                br
                | {{ msg.message_text.content | safe }}
            td(width='20%')
              span {{ msg.message_text.format_time | date:'Y-m-d' }}
                i.iconfont.icon-circle-add.icon-opeartion


    .c-message-pager
      - var uri = '/accounts/message/?listtype=' + list_type
      - with data=messageList uri=uri
      include include/center_pager
      - endwith
  script.
      require(['/static/src/pc/message.js?v=2'])