extends center_recharge_base

-load formatters

block rechargeBar
  .c-transaction-bar
    a(href='/accounts/recharge/huifu/') 汇付天下
    a(href='/accounts/recharge/yipay/').active-bar 易宝支付

block bankList

  .racharge-bank-list
    ul
      li(style="background: url('/static/imgs/pc/center/banks_default.png')")
      li(style="background: url('/static/imgs/pc/center/banks_default.png')")
      li(style="background: url('/static/imgs/pc/center/banks_default.png')")
      li(style="background: url('/static/imgs/pc/center/banks_default.png')").un-margin-right
      li(style="background: url('/static/imgs/pc/center/banks_default.png')").active
      li(style="background: url('/static/imgs/pc/center/banks_default.png')")
      li(style="background: url('/static/imgs/pc/center/banks_default.png')").active
      li(style="background: url('/static/imgs/pc/center/banks_default.png')").un-margin-right
      li(style="background: url('/static/imgs/pc/center/banks_default.png')").active
      li(style="background: url('/static/imgs/pc/center/banks_default.png')")

