extends center_base
-load formatters

block head
  - with '理财券' as title
  include global/g_head
  -endwith

block sidebar
  - with '理财券' as activeItem
  include include/center_sidebar
  -endwith

block main
  .c-main-white.c-auto-height
    .c-redpack-mod.tc
      .redpack-exchange-warp
        .redpack-head.font-m.t-d11.tl.mg-b-s 加息券/红包
        .redpack-body.clearfix
          input(type='text', placeholder='请输入兑换码').redpack-input.fl.mg-r-s
          .c-blue-button.fl 兑换
    .space-vertical-sm
    .c-redpack-mod
      block redpack
