extends center_base
-load formatters
block head
  - with '充值' as title
  include global/g_head
  -endwith
block sidebar
  - with '充值' as activeItem
  include include/center_sidebar
  -endwith
block main
  .center-main-white.center-auto-height
    .center-transaction-bar
      a(href='/accounts/recharge/huifu/') 汇付天下
      a(href='/accounts/recharge/yipay/') 易宝支付
      a(href='/accounts/recharge/kuaijie/').active-bar 快捷支付
    .center-racharge-warp.center-layout

      .rechar-bank


      table.withdraw-table
        tbody
          tr
            th 充值金额:
            td
              input(type='text', placeholder='请输入充值金额').withdraw-input
              span.t-d19.font-m.mg-l-s 元
          tr
            th 交易密码:
            td
              input(type='text', placeholder='请输入交易密码').withdraw-input
              span.racharge-back-password.mg-l-s
                a(href='') 找回交易密码
          tr
            th
            td
              input(type='button', value='立即充值').withdraw-submit
                                          