extends center_recharge_base

block rechargeBar
  .c-transaction-bar
    a(href='/accounts/recharge/huifu/').active-bar 汇付天下
    a(href='/accounts/recharge/yipay/') 易宝支付


block bankList
  .racharge-bank-list
    ul
      li(style="background: url('/static/imgs/pc/center/banks_default.png')").active
      li(style="background: url('/static/imgs/pc/center/banks_default.png')")
      li(style="background: url('/static/imgs/pc/center/banks_default.png')").active
      li(style="background: url('/static/imgs/pc/center/banks_default.png')").un-margin-right
      li(style="background: url('/static/imgs/pc/center/banks_default.png')").active

