-load formatters

doctype html
html
  - with '财经道用户登录' as title
  include include/head
  - endwith
  body
    .full-container-cjdao
      .container.container-cjdao
        .cjdao-logo
          img(src="/static/images/wanglibao.png")
          img(src="/static/images/cjdao.png")
          h3 投资预约
          p 您在财经道填写的信息已提交至网利宝，请继续完善信息，以便顺利投资网利宝优质项目。
        form#login-cjdao-form.cjdao-form(method='POST', action='/accounts/login/ajax/')
          - csrf_token
          .form-login-title
            span.cjdao-form-item 登录信息
          .form-row
            .span1.align-right 用户名
            .span5
              input#login_identifier(type="text", name="identifier", placeholder="* 请输入用户名", autocomplete='off', title="* 请输入用户名", readonly="readonly", value="{{ phone }}")
              .form-row-error.error
          .form-row
            .span1.align-right 密码
            .span5
              input(type="password", name="password", placeholder="请输入6-20位密码，建议英文、数字的组合", autocomplete='off', title="请输入密码")
              a.forget-password.blue(href="/accounts/password/reset/identifier/") 忘记密码？
              .form-row-error
          .form-row
            .span1.align-right 验证码
            .span5
              input#id_captcha_0(type="hidden", name="captcha_0", autocomplete="off")
              input#id_captcha_1.captcha(type="text", name="captcha_1", autocomplete="off", placeholder="ccc请输入答案", maxlength="4")
              img.captcha.captcha-img(alt="captcha", src="", style="width:100px;height:40px")
              a.captcha-refresh(type="button", title="点击刷新验证码")
              .form-row-error
          .form-row
            .span1.align-right &nbsp;
            .span5
              button#login_submit.button.button-account.span12(type='submit') 立即登录
                
    script.
      require(["/static/js/login_cjdao.js"])

    include include/tracking