extends account_home_base

-load formatters

block head
  - with '优惠券' as title
    include include/head

block sidebar
  - with '优惠券' as activeItem
  include include/user_center_sidebar
  - endwith

block main
  .account-home-panel
    include include/coupon_exchange

  .account-home-panel__no-padding
    .account-home-panel--title-bar__product
      ul.title-bar--tabs
        li.title-bar--tab
          a.title-bar--tab--anchor(href="/accounts/redpacket/unused") 红包
        li.title-bar--tab.active
          a.title-bar--tab--anchor(href="/accounts/coupon/unused") 加息券
    
    .account-home-panel--title-bar__product
      ul.title-bar--tabs
        if status == 'unused'
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href="/accounts/coupon/unused") 可使用
        else
          li.title-bar--tab
            a.title-bar--tab--anchor(href="/accounts/coupon/unused") 可使用
        if status == 'used'
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href='/accounts/coupon/used/') 已使用
        else
          li.title-bar--tab
            a.title-bar--tab--anchor(href='/accounts/coupon/used/') 已使用
        if status == 'expires'
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href='/accounts/coupon/expires/') 已过期
        else
          li.title-bar--tab
            a.title-bar--tab--anchor(href='/accounts/coupon/expires/') 已过期
    .panel-container.padding-xl(style="padding-top:0px")
      table.table
        thead
          tr
            th 加息券名称
            th 金额
            th 使用次数
            th 使用限额
            th 使用门槛
            th(width='20%') 有效期
            if status == 'used'
              th 使用详情
            else
              th 使用范围
        tbody
          each coupon in coupons
            tr
              td {{coupon.name}}
              if coupon.method == '-'
                td {{coupon.amount}}元
              else
                td {{coupon.highest_amount}}元
              td 仅限一次
              if coupon.method == '-'
                td {{coupon.amount}}元
              else
                td 加息{{coupon.amount | percentage_number_two}}%
              if coupon.invest_amount == 0
                td 无
              else
                td {{coupon.invest_amount}}元
              td {{coupon.available_at | milldate_format}} 至 {{coupon.unavailable_at | milldate_format}}
              if status == 'used'
                td {{coupon.product}} <br/> {{coupon.apply_at | milltime_format }}
              else
                td P2P理财


    script.
      var v = new Date().getTime()
      require(['/static/js/accounts_redpack.js?v='+v])
