-load formatters

doctype html
html
  - with '邮件已发送' as title
  include include/head
  - endwith

  body
    include include/header
    - with '首页' as activeItem
    include include/navigation
    - endwith
    .panel
      .panel-text 验证邮件已发送，请查看您的收件箱并根据邮件指示完成注册。

    include include/footer

    include include/tracking