-load formatters

doctype html
html
  - with '邮件已发送' as title
  include include/head
  - endwith

  body
    include include/login_nav
    .full-container-login
      .container-login
        .register-nav
          ol
            li 1 设置账户及密码
            li.active 2 进入邮箱验证
            li 3 恭喜！注册成功
        .register
          img.register-img(src='/static/images/email_sent.png')
          p.register-text 验证邮件已发送至 <span>{{email}}</span>，请查看您的收件箱并根据邮件指示完成注册。

    - with 1 as no_margin
    include include/footer
    - endwith
    include include/tracking