- load formatters
doctype html
html
  head
    title 中间页
    include include/app_head
    style.
      html { font-family:Helvetica; color:#222; }
      .logLine { border-bottom:1px solid #ccc; padding:4px 2px; font-family:courier; font-size:1rem; }
  body
    section.weChat-conent 中间页获取数据
    div#log(style='color:#000')
    {{next}}
    input(name='next',type='hidden',value='{{next}}')
    script(data-init='test', src='/static/scripts/mobile_activity/fetchtoken.js')

