extends account_home_base
- load formatters
- load mathfilters
block head
  - with '邀请奖励' as title
    include include/head
block sidebar
  - with '邀请奖励' as activeItem
    include include/user_center_sidebar
block main
  .account-home-panel
    .well-s.lh-m
      dl.font-s
        dt.font-xl.dark-text 邀请小伙伴理财，共享60元话费

        dd 活动时间：2015年3月17日- 2015年4月7日。
        dd 1、小伙伴邀请以身份证号为唯一识别标识。
        dd 2、通过以下任一方式邀请，小伙伴需通过邀请链接注册网利宝，或注册时输入您的邀请码。
        dd.highlight 3、小伙伴购买理财产品，完成首次单笔200元（含）以上交易，邀请关系建立。
        dd 4、邀请成功后你和小伙伴可共享60元话费（各30元）
        dd 5、赠送话费将于好友理财成功后3个工作日内发放至您的交易手机号。
        dd 6、此次活动解释权归网利宝官网所有。

      .space-vertical-l
      .invite-container.clearfix
        .pull-left.invite-num-circle
          span 1
          h3 专属邀请码
        .pull-right.invite-content
          .invite-title-bgcolor 这是您的专用邀请码，您可点击【复制】按钮分享给朋友，让他们注册帐号时输入您的邀请码：
          .invite-input
            {{user.promotiontoken.token}}
          input.button.button-red.inviteCopyButton(type="button",value="复制",data-target="invite-input")
      .space-vertical-l
      .invite-container.clearfix
        .pull-left.invite-num-circle
          span 2
          h3 专属链接
        .pull-right.invite-content
          .invite-title-bgcolor 这是您的专用邀请链接，您可点击【复制】按钮，将本文粘贴并发送给您的好友：
          .invite-textarea
            |我刚刚注册了网利宝，IDG投资理财平台，3倍余额宝年化收益，100%本息保障，100元起投资，现在理财得30元话费，还有iPhone6，1000元京东卡...快来看看吧～
            |戳这里>>
            span.blue https://www.wanglibao.com/?promo_token={{user.promotiontoken.token}}
          input.pull-right.button.button-red.inviteCopyButton(type="button",value="复制",data-target="invite-textarea")
      .space-vertical-l
      .invite-container.clearfix
        .pull-left.invite-num-circle
          span 3
          h3 分享社区
        .pull-right.invite-content
          .invite-title-bgcolor 快速分享到社区
          .invite-share
            a.wlb_tsina(href="#",title="分享到新浪微博")
              span.icon.icon-invite-tsina
              i 新浪微博
            a.wlb_kaixin001(href="#",title="分享到开心网")
              span.icon.icon-invite-kaixin
              i 开心
            a.wlb_douban(href="#",title="分享到豆瓣网")
              span.icon.icon-invite-douban
              i 豆瓣网
            a.wlb_renren(href="#",title="分享到人人网")
              span.icon.icon-invite-renren
              i 人人网
            a.wlb_qzone(href="#",title="分享到QQ空间")
              span.icon.icon-invite-qzone
              i QQ空间
  .account-home-panel
    h3.border-b 邀请列表
    table.table.margin-top-m
      thead
        tr
          th 用户名
          th 手机号
          th 好友注册时间
       body
        for friend in friends
          tr
            td
              is_valid = friend.user.wanglibaouserprofile.id_is_valid
              if is_valid
                | {{friend.user.wanglibaouserprofile.name | safe_name}}
              else
                | 未认证
            td {{friend.user.wanglibaouserprofile.phone | safe_phone_new}}
            td {{friend.created_at}}
    .row
      - with data=friends uri='/accounts/invite/'
      include include/pager
      - endwith

  script(src="/static/js/lib/jquery.min.js")
  script(src="/static/js/lib/jquery.zclip.min.js")
  script(src="/static/js/lib/jquery.modal.min.js")
  script.
    var _share_title = encodeURI('“邀请好友送话费”活动');
    var _share_content = encodeURI('我刚刚注册了网利宝，IDG投资理财平台，3倍余额宝年化收益，100%本息保障，100元起投资，现在理财得30元话费，还有iPhone6，1000元京东卡...快来看看吧～ 戳这里>>https://www.wanglibao.com/?promo_token={{user.promotiontoken.token}}');
    var _activity_url = encodeURIComponent('https://www.wanglibao.com/activity/invite/');
    var _share_url = encodeURIComponent('https://www.wanglibao.com/?promo_token={{user.promotiontoken.token}}');
    var _share_pic = 'https://staging.wanglibao.com/static/images/share_pic.jpg';
    var _share_site = 'https://www.wanglibao.com';
    $(document).ready(function(){
      $(".wlb_tsina").click(function(){
        window.open("http://v.t.sina.com.cn/share/share.php?url=&title="+_share_content);
      });
      $(".wlb_kaixin001").click(function(){
        window.open("http://www.kaixin001.com/repaste/share.php?rurl=&rcontent="+_share_content);
      });
      $(".wlb_douban").click(function(){
        window.open("http://www.douban.com/recommend/?url="+_share_url+"&title="+_share_content);
      });
      $(".wlb_renren").click(function(){
        window.open("http://widget.renren.com/dialog/share?resourceUrl="+_share_url+"&title="+_share_title+"&pic="+_share_pic+"&description="+_share_content);
      });
      $(".wlb_qzone").click(function(){
        window.open("http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url="+_share_url+"&title="+_share_title+"&pics="+_share_pic+"&desc="+_share_content);
      });
      if(navigator.plugins){
        var isFlashPlugin = 0;
        $.each(navigator.plugins, function(x,y){
          if(navigator.plugins[x].name == "Shockwave Flash") {
            isFlashPlugin = 1;
          }
        });
        if(isFlashPlugin == 1){
          $(".inviteCopyButton[data-target='invite-textarea']").zclip({
            path: "/static/images/ZeroClipboard.swf",
            copy: $.trim($('.invite-textarea').text()),
            afterCopy:function(){
              $('#copyed_modal').modal();
            }
          });
          $(".inviteCopyButton[data-target='invite-input']").zclip({
            path: "/static/images/ZeroClipboard.swf",
            copy: $.trim($('.invite-input').text()),
            afterCopy:function(){
              $('#copyed_modal').modal();
            }
          });
        } else {
          $(".inviteCopyButton").click(function(){
            $('#no_copyed_modal').modal();
          });
        }
      }
    });

  #copyed_modal(style="display:none").modal
    .copyed-ok
      p 复制成功！
      p 你可以粘贴到QQ或论坛中发送给好友

  #no_copyed_modal(style="display:none").modal
    .copyed-ok
      p 你的浏览器不支持直接复制。
      p 请选中文案后点击鼠标右键复制。
