extends loginAndRegister

- load formatters
- load mathfilters

block loginFormPage
    .minNax
        a(href='/accounts/login/').font-l.padding-l-r-s.fl.minNavLeft.curr 快速登录
        .borderStyle.fl.mg-t-s
        a(href='/accounts/register/').font-l.padding-l-r-s.fl.minNavRight 十秒注册
    form#loginForm.login-form(method='post', action='/accounts/login/ajax/')
        - csrf_token
        .logonFormDiv
            ul.loginForm.padding-top-xl
                li
                    i.icon.iconfont.icon-mobile.ml19
                    input#loginMobile.placeholderInput.checkMobile(type="text", name="identifier", placeholder="请输入手机号", autocomplete='off', title="请输入手机号")
                li
                    i.icon.iconfont.icon-key.mg-l-sm
                    input#loginPwd.placeholderInput.checkPwd(type="password", name="password", placeholder="请输入密码", autocomplete='off', title="请输入密码")
                li.w145
                    i.icon.iconfont.icon-paper-plane.ml17
                    input#id_captcha_0(type="hidden", name="captcha_0", autocomplete="off")
                    input#loginCode.placeholderInput.w92.checkCode(type="text", name="captcha_1", placeholder="验证码", autocomplete='off', title="验证码")
                    img.captchaImg.fl(alt="captcha", src="")
                    i#loginRefresh.icon.iconfont.icon-cycle.captchaRefresh.fl
                li.checkboxDiv
                    label.fl
                        input#remember_me.checkboxStyle(type="checkbox", name="remember_me" )
                        | 一周内自动登录
            .loginError
            .submitFormStyle.tc.font-l#loginSubmit 登录
            .findPwd.tc
                a(href='/accounts/password/reset/identifier/') 忘记密码？