extends account_home_base
- load formatters
- load mathfilters
block head
    include include/head
block sidebar
    //- with '账户总览' as activeItem
    include include/user_center_sidebar
block main
    .phone_modify_main_wrap
        .panel
            .well
                .panel-title-bar__no-border
                    .panel-title 身份信息-人工审核修改手机号
                .form_wrap
                    .title_top 为保证您的账户安全，请输入以下信息：
                    form.form-group(enctype="multipart/form-data", content_type="multipart/form-data", action="/api/manual_modify/phone/", method="post")
                        -csrf_token
                        .box
                            label 账户登录密码
                            .box_right
                                .input_box
                                    <input id='password' class="input_phone" type="text" onfocus="this.type='password'" placeholder="请输入账户登录密码" autocomplete="off" disableautocomplete>
                                    .status.status_1
                                        .true
                                        .false 账户登录密码有误
                        .box
                            label 实名身份证号
                            .box_right
                                .input_box
                                    <input id='id_number' class="input_phone" type="text" placeholder="请输入实名认证身份证号" autocomplete="off">
                                    .status.status_2
                                        .true
                                        .false 身份证信息有误
                        if is_bind_card
                            .box
                                label 银行卡号
                                .box_right
                                    .input_box
                                        <input id='' class="input_phone bind_card" type="text" placeholder="请输入已绑定银行卡号" autocomplete="off">
                                        .status.status_3
                                            .true
                                            .false 银行卡号码有误
                        .box
                            label
                            .box_right
                                <input class="submit button" type="button" value="下一步"/>
                                .error_title.error_form
    //include global/g_footer
    script.
        require(["/static/js/manual_audit.js?v=2016011903"])
    include include/tracking