extends account_home_base
- load formatters
- load mathfilters
block head
  - with '站内信' as title
    include include/head
block sidebar
  - with '站内信' as activeItem
    include include/user_center_sidebar
block main
  .panel
    .account-home-panel--title-bar__product
      ul.title-bar--tabs
        li.title-bar--tab.active
          a.title-bar--tab--anchor(href="javascript:void(0)") 全部
        li.title-bar--tab
          a.title-bar--tab--anchor(href='/accounts/message/unread/') 未读
        li.title-bar--tab
          a.title-bar--tab--anchor(href='/accounts/message/read/') 已读
    .panel-container.padding-l-r-xl
      table.message-table
        thead
          tr
            th(width="20%") 类型
            th(width="55%") 标题
            th(width="15%") 时间
            th(width="10%")
        tbody
          tr
            td 提现通知
            td.align-left
              p.blue 提现通知提现通知
              p.message-content(style="display:none")
                | 提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知
            td 2014-11-07
            td
              span.icon.icon-msg-arrow-down
          tr
            td 提现通知
            td.align-left
              p 提现通知提现通知
              p.message-content
                | 提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知
            td 2014-11-07
            td
              span.icon.icon-msg-arrow-up
          tr
            td 提现通知
            td.align-left
              p.blue 提现通知提现通知
              p.message-content(style="display:none")
                | 提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知提现通知
            td 2014-11-07
            td
              span.icon.icon-msg-arrow-down