extends account_home_base
- load formatters
- load mathfilters
block head
  - with '站内信' as title
    include include/head
block sidebar
  - with '站内信' as activeItem
    include include/user_center_sidebar
block main
  .panel
    .account-home-panel--title-bar__product
      // ko template: {name: 'tabs', data: tab}
      // /ko
    .panel-container.padding-l-r-xl
      //ko template: {name: 'data-table', data: dataTable}
      // /ko

block script
  script.
    require(['/static/js/accounts_message.js'])