extends account_home_base
- load formatters
- load mathfilters

block head
  title_str = equity.product.short_name + '(' + equity.product.serial_number + ')' + u'还款计划表'
  - with title_str as title
    include include/head
block sidebar
  - with '账务总览' as activeItem
    include include/user_center_sidebar
block main
  .account-home-panel
    .account-home-panel--title-bar
      title_str = equity.product.name + '(' + equity.product.serial_number + ')' + u'还款计划表'
      h3 {{title_str}}
    .space-vertical-m

    table.table
      tr
        th 还款时间
        th 本金
        th 利息
        th 加息
        th 总计

      for amortization in amortizations
        tr
          td {{amortization.term_date | date:"y-m-d"}}
          amount_principal = amortization.principal
          td {{amount_principal | money_format}}
          amount_interest = amortization.interest
          td {{amount_interest | money_format}}
          coupon_interest = amortization.coupon_interest
          td {{coupon_interest | money_format}}
          amount = amount_principal + amount_interest + coupon_interest
          td {{amount | money_format}}
