- load widget_tweaks
- load formatters
doctype html
- with '密码重置' as title
include include/common_head
- endwith
body
  include global/g_nav
  .space-vertical-l
  .white-container
    .well.clearfix
      h3.padding-l-r-ssm 找回密码
      .space-vertical-ssm
      .row
        ul.reset-pass-steps
          li.step.begin.pre-active 1、填写账户名
          li.step.active 2、验证身份
          li.step 3、设置密码
          li.step.end 4、完成
      .space-vertical-s
      .row.password-reset-container
        .ispan7.form-password-reset.margin-top-xxxl
          .form-row
            .span4.font-s.align-right 已验证手机：
            .span8-omega(style="line-height:36px")
              span {{user_to_reset | safe_phone}}
              button#sendValidateCodeButton.ispan4.send-validate-button(type="button", data-url="/accounts/password/reset/send_validate_code/", data-phone="{{user_to_reset}}") 点击获取验证码
          form#validate_form
            .form-row.voice.hidden
              .reset-inner.margin-left-sm
                没有收到验证码？请尝试<a href="/api/ytx/send_voice_code/2/" class="voice-validate">语音验证</a>
            .form-row
              .span4.font-s.align-right 短信验证码：
              .span8-omega
                input(placeholder="验证码", title="验证码", name="validate_code", type="text", style="width:136px;")
            .space-vertical-s
            .form-row
              .span4 &nbsp;
              .span8-omega
                button#nextStep.ispan4.button-red.button-large.button-radius(type="button", data-url="/accounts/password/reset/validate_phone_code/") 下一步
  .space-vertical-l

  include global/g_footer

  script.
    require(['/static/js/resetPasswordValidateUser.js'])

  include include/tracking