- load widget_tweaks

doctype html
- with '密码重置' as title
include include/common_head
- endwith
body
  include global/g_nav
  .space-vertical-l
  .white-container
    .well.clearfix
      h3.padding-l-r-ssm 找回密码
      .space-vertical-ssm
      .row
        ul.reset-pass-steps
          li.step.begin.active 1、填写账户名
          li.step 2、验证身份
          li.step 3、设置密码
          li.step.end 4、完成
      .space-vertical-s
      .row.password-reset-container
        form#identifier.ispan4(method="post", action="{%url 'password_reset_validate'%}")
          - csrf_token
          fieldset.margin-top-xxxl
            .span4.font-s.align-right 请输入手机号：
            .span8-omega
              - render_field form.identifier  placeholder="请输入手机号" title="请输入手机号"
            .space-vertical-s
            .form-row.form-bottom-bar.margin-top-l
              .span4 &nbsp;
              .span8-omega
                button#submitButton.ispan6.button-red.button-large.button-radius(type="submit") 下一步
  .space-vertical-l
  include global/g_footer

  script.
    require(["/static/js/password_reset.js"])

  include include/tracking
