- load widget_tweaks
- load formatters
doctype html
- with '密码重置' as title
include include/common_head
- endwith
body
  include global/g_nav
  .space-vertical-l
  .white-container
    .well.clearfix
      h3.padding-l-r-ssm 找回密码
      .space-vertical-ssm
      .row
        ul.reset-pass-steps
          li.step.begin 1、填写账户名
          li.step.pre-active 2、验证身份
          li.step.active 3、设置密码
          li.step.end 4、完成
        .space-vertical-s
        .row.password-reset-container
          .margin-top-xxxl
            form.ispan4.form-password-reset(method="POST", action="{% url 'password_reset_set_password' %}")
              - csrf_token
              .form-row
                .span4.align-right 输入新密码：
                .span8-omega
                  input#new_password1(placeholder="密码长度为6-20位", title="新密码", name="new_password1", type="password", autocomplete="off")
              .form-row
                .span4.align-right 确认密码：
                .span8-omega
                  input#new_password2(placeholder="再次输入密码", title="新密码2", name="new_password2", type="password", autocomplete="off")
              .form-row
                .span4 &nbsp;
                .span8-omega
                  button#setPasswordButton.ispan6.button-red.button-large.button-radius(type="button") 下一步
  .space-vertical-l

  include global/g_footer
  script.
    require(["/static/js/set_password.js"])
  include include/tracking