- load widget_tweaks
- load formatters
doctype html
- with '密码重置' as title
include include/head
- endwith
body.white-background
  .full-container
  .logo-bar
    a(href="/")
      .logo
    span.reset-header-title 找回密码
  .l-activity-panel
    .row
      ul.reset-pass-steps
        li.step.begin 填写账户名
        li.step.active 验证身份
        li.step 设置密码
        li.step.end 完成
    .space-vertical-s
    .row
      .prefix3.span6.form-password-reset
        if user_to_reset.email and user_to_reset.wanglibaouserprofile.phone_verified
          .row
            label.reset-form-label 请选择验证身份方式：
            select#validate_method
              option(value="邮箱") 邮箱
              option(value="手机") 手机
          .row
            label.reset-form-label 昵称：
            span {{user_to_reset.wanglibaouserprofile.nick_name}}

        if user_to_reset.email
          #email-form
            span.font-m 发送重置步骤到 {{user_to_reset | safe_mail}}
            button#sendMailButton.ispan3.button-red.button-middle(type="button", data-url="/accounts/password/reset/send_mail/") 确认发送
            #sendMailDone.form-row(style="display:none")
              p.font-m 验证邮件发送成功，请您到邮箱查看。

        if user_to_reset.wanglibaouserprofile.phone_verified
          #phone-form(style="{{user_to_reset.email | not_bool_to_display}}")
            .row
              label.reset-form-label 已验证手机：
              span {{user_to_reset | safe_phone}}
              button#sendValidateCodeButton.ispan2.send-validate-button(type="button", data-url="/accounts/password/reset/send_validate_code/") 发送验证码
            form
              - csrf_token
              .row
                label.reset-form-label 短信验证码：
                input.ispan3(placeholder="验证码", title="验证码", name="validate_code", type="text")

            button#nextStep.prefix6.ispan2.margin-top-m.button-red.button-middle(type="button", data-url="/accounts/password/reset/validate_phone_code/") 下一步

  include include/footer

  script(src="/static/js/require.js", data-main="/static/js/resetPasswordValidateUser")

  include include/tracking