<<<<<<< HEAD
- load widget_tweaks
doctype html
html
    head
        - with '网利宝' as title
        include include/common_head
        - endwith
        link(rel="stylesheet",href="/static/styles/pc_activity/fileinput.css?v=201512")
        - csrf_token
    body(style="background: #ffe6a6")
        include global/g_nav
        .form-group
            {{form.id_front_image}}
            {{form.id_back_image}}
            {{form.id_user_image}}
        include global/g_footer
        script.

        include include/tracking
