extends account_home_base

-load formatters

block head
  - with '红包' as title
    include include/head

block sidebar
  - with '红包' as activeItem
  include include/user_center_sidebar
  - endwith

block main
  .account-home-panel
    h1(style="font-size:16px;margin-bottom:20px;") 兑换红包
    .row
      input(type="text", placeholder="请输入兑换码", style="display:inline-block;width:240px", name="token")
      input(type="button", value="兑换", style="height:40px;margin-left:10px").submit-button.button-primary.button-middle.exchange

  .account-home-panel__no-padding
    .account-home-panel--title-bar__product
      ul.title-bar--tabs
        if status == 'unused'
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href="/accounts/redpacket/unused") 可使用
        else
          li.title-bar--tab
            a.title-bar--tab--anchor(href="/accounts/redpacket/unused") 可使用
        if status == 'used'
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href='/accounts/redpacket/used/') 已使用
        else
          li.title-bar--tab
            a.title-bar--tab--anchor(href='/accounts/redpacket/used/') 已使用
        if status == 'expires'
          li.title-bar--tab.active
            a.title-bar--tab--anchor(href='/accounts/redpacket/expires/') 已过期
        else
          li.title-bar--tab
            a.title-bar--tab--anchor(href='/accounts/redpacket/expires/') 已过期
    .panel-container.padding-l-r-xl
      table.table
        thead
          tr
            th 红包
            th 可用额度
            th 有效期
            th 使用详情
        tbody
          each red_packet in red_packets
            tr
              td {{red_packet.name}}
              td {{red_packet.amount}}
              td {{red_packet.available_at | milltime_format }} 至 {{red_packet.unavailable_at | milltime_format }}
              if status == 'used'
                td {{red_packet.product}} <br/> {{red_packet.apply_at | milltime_format }}
              else
                td --


    script.
      var v = new Date().getTime()
      require(['/static/js/accounts_redpack.js?v='+v])
