extends loginAndRegister

- load formatters
- load mathfilters

block registerFormPage
    .minNax
        a(href='/accounts/login/').font-l.padding-l-r-s.fl.minNavLeft 快速登录
        .borderStyle.fl.mg-t-s
        a(href='/accounts/register/').font-l.padding-l-r-s.fl.minNavRight.curr 十秒注册
    form#registerForm.login-form
        .registerFormDiv
            ul.registerForm
                li
                    i.icon.iconfont.icon-mobile.ml19
                    if phone
                      input#registerMobile.placeholderInput.checkMobile(value='{{ phone }}', type="text",  name="identifier", title="请输入手机号")
                    else
                      input#registerMobile.placeholderInput.checkMobile(type="text", name="identifier", placeholder="请输入手机号", autocomplete='off', title="请输入手机号")
                li.w145
                    i.icon.iconfont.icon-paper-plane.ml17
                    input(type="hidden", name="captcha_0", autocomplete="off")
                    input#registerCode.w92.placeholderInput.checkCode(type="text", name="captcha_1", placeholder="请输入验证码", autocomplete='off', title="请输入验证码")
                    img.captchaImg.fl(alt="captcha", src="")
                    i#registerRefresh.icon.iconfont.icon-cycle.captchaRefresh.fl
                li.pwdLi
                    i.icon.iconfont.icon-key.mg-l-sm
                    input#registerPwd.placeholderInput.checkPwd(type="password", name="password", placeholder="请输入密码", autocomplete='off', title="请输入密码")
                    i.pwdStatus.fl.icon.iconfont.icon-eye03.font-xll
                li.w145.SMELI
                    i.icon.iconfont.icon-lock.ml18
                    input#registerSMSCode.w92.placeholderInput.checkSEMCode(type="text", name="button-get-validate-code", placeholder="请输入验证码", autocomplete='off', title="请输入验证码")
                    button.getCodeBtn.t-d6.font-s.tc.buttonGray(type='button') 获取验证码
                li.voice(style='display:none')
                    没有收到验证码？请尝试<a href="javascript:void(0)" class="voiceValidate">语音验证</a>
                li
                    i.icon.iconfont.icon-share.ml16
                    input#invitecode.placeholderInput(type="text", name="invitecode", placeholder="邀请码（选填）", autocomplete='off', title="邀请码（选填）")
            .loginError
            .submitFormStyle.tc.font-l#registerSubmit 注册
            ul.xieyi
                li.checkboxDiv
                    label.fl
                        input#agreement.checkboxStyle(type="checkbox", name="",checked='checked')
                        | 我同意
                        a(href='/agreement/',target='_blank') 《网利宝注册协议》

