-load formatters
-load mathfilters
doctype html
html
    head
        - with '网利宝官网' as title
        include global/g_head
        - endwith
    body
        include global/g_nav
        - csrf_token
        .register
            .login-href 暂不实名，回到
                a(href='/') 首页
            .register_nav_min.register_nav_min2
            .register_box.clearfix
                #registerForm.login-form
                    .registerFormDivgit
                        ul.registerForm
                            li.clearfix
                                label 姓名：
                                input#userName.placeholderInput(type="text", name="name", placeholder="请输入您的姓名", autocomplete='off', title="请输入您的姓名")
                                span.error_span
                            li.clearfix
                                label 身份证号：
                                input#nameId.placeholderInput(type="text", name="idcard", placeholder="请输您的身份证号", autocomplete='off', title="请输您的身份证号")
                                span.error_span
                        .error-box
                        .form_bottom
                            .rz-btn#realName
                .register_info
                   h3 新手大礼包，你来我就送！
                    .reward-box
                        .reward-left
                            p
                                span 28888
                                | 元
                            p 注册即送
                        .reward-right 体验金
                    .reward-box
                        .reward-left
                            p
                                span 50
                                | 元
                            p 首次投资送现金红包
                        .reward-right 红包
    include global/g_footer
    script.
      require(["/static/src/pc/register_next.js?v=20151202"])

