-load formatters
-load widget_tweaks

doctype html
html
  - with '注册' as title
  include include/head
  - endwith
  body
    include include/header
    .l-activity-panel
      form#register-form.form.login-form.prefix3.span6(method='post', action='/accounts/register/?next=/accounts/email/sent/')
        - csrf_token
        .form-title
          label.font-l 注册用户
        .form-row
          - render_field form.nickname class+="input-large" placeholder="昵称"
          #{ form.nickname.errors }
        .form-row
          - render_field form.identifier class+="input-large" placeholder="请输入邮箱或手机"
          #{ form.identifier.errors }
        #validate-code-container.form-row(style="display:none")
          - render_field form.validate_code class+="table-cell clear-margin" placeholder="请输入验证码" autocomplete='off'
          #{ form.password.errors }
          .space-s
          button#button-get-validate-code.button.button-red.button-mini(type='button') 获取
        .form-row
          - render_field form.password class+="input-large" placeholder="请输入密码" autocomplete='off'
        .form-row.form-bottom-bar
          span 已有账户请直接
          a(href='/accounts/login/?next=/') 登录
          button#button-submit.pull-right.button-red.button-middle(type='submit') 注 册

    include include/footer

    script(src="/static/js/require.js" data-main="/static/js/register")

    include include/tracking