-load formatters
-load mathfilters
doctype html
html
    head
        - with '网利宝官网' as title
        include global/g_head
        - endwith
    body
        include global/g_nav
        - csrf_token
        .register
            .register_nav_min.register_nav_min4
            .register_box.clearfix
                .register-success
                    .max-text 恭喜您，
                    .max-text 成功获得新手大礼包！
                    .clearfix
                        .reward-box
                            .reward-left
                                p
                                    span 28888
                                    | 元
                                p 注册即送
                            .reward-right 体验金
                    .min-text.go-i-r 您可以
                        a(href='/activity/experience/gold/') 投资体验金
                        | ，或者
                        a(href='/p2p/list/') 投资使用红包
                    .max-text 首次充值还有红包赠送！
                    .clearfix
                        .reward-box
                            .reward-left
                                p
                                    span 80
                                    | 元
                                p 首次充值送现金红包
                            .reward-right 红包
                    .min-text 投资金额≥100元即可获得
    include global/g_footer

