extends account_home_base

- load formatters
- load mathfilters
- load widget_tweaks

block head
  - with '密码管理' as title
  include include/common_head
  - endwith

block sidebar
  - with '密码管理' as activeItem
  include include/user_center_sidebar
  - endwith

block main
  .panel
    .well
        .panel-title-bar__no-border
            .panel-title 密码管理 > 找回交易密码
    .setTradingPwd.back-div
<<<<<<< HEAD
        ul#backOne(style="display:none")
=======
        ul
>>>>>>> feature: cherry_pick交易密码 by qijinjin
            li
                label.label1 第1/2步:
                span 身份认证
            li.mt10
                label 真实姓名
                span {{user_profile.name}}
            li
                label 身份证号码
<<<<<<< HEAD
                input(type='text',placeholder="请输入身份证号码",name='id').sfz#citizen_id
=======
                input(type='text',placeholder="请输入身份证号码",name='id').sfz
>>>>>>> feature: cherry_pick交易密码 by qijinjin
                em(style='display:none')#sfzError
                    i
                    |
            li
                label 绑定银行卡
<<<<<<< HEAD
                span#bindingEdInfo
                input(type='hidden' id='bankIsNoBind')
            li.mt28
                label
                a(href='javascript:void(0)',data-phone="{{user.wanglibaouserprofile.phone}}").nextBtn#nextBtn 下一步
        ul#backTwo(style="display:none")
            li
                p(style="display:none")
                    label.label1 第2/2步:
                    span 重置交易密码
                p.textIn 请设置6位数字作为交易密码，如：246802
            li
                label 新交易密码
                input(type='password',placeholder="请输入交易密码",name='new_trade_pwd').sfz#pwd1
                em(style='display:none')#sfzError
                    i
                    |
            li
                label 确认交易密码
                input(type='password',placeholder="请输入交易密码",name='new_trade_pwd').sfz#pwd2
                em(style='display:none')#yzmError
                    i
            li.mt28
                label
                a(href='javascript:void(0)',tag='1').nextBtn.confirmBtn 确认
=======
                select#card-select1.withdraw-select(name='card_id1')
                  option(value='') 请选择银行卡
                  for card in cards
                    option(value='{{card.id}}') {{card | card_info}}
                em(style='display:none')#yhkError
                        i
            li
                .aa.clearfix
                    label 银行卡号
                    input(type='text',placeholder="请输入银行卡号").yhkh
                    em(style='display:none')#yhkhError
                        i
            li.mt28
                label
                a(href='javascript:void(0)').nextBtn 下一步
>>>>>>> feature: cherry_pick交易密码 by qijinjin
  script.
    require(['/static/js/back.js?v=20151023'])


