extends account_home_base

- load formatters
- load mathfilters
- load widget_tweaks

block head
  - with '我的账户' as title
  include include/head
  - endwith

block sidebar
  - with '实名认证' as activeItem
  include include/user_center_sidebar
  - endwith


block main
  .panel
    .well
      .panel-title-bar__no-border
        .panel-title 实名认证

      .space-vertical-s
      .panel-content.padding-l-r-sm
        if user.wanglibaouserprofile.id_is_valid
          .form-row
            label.span2.font-s 真实姓名
            span {{user.wanglibaouserprofile.name | safe_name}}
          .form-row
            label.span2.font-s 身份证号
            span {{user.wanglibaouserprofile.id_number | safe_id}}
        else
          .panel-annotation
            p 根据法律，网上投资必须进行实名认证。
            p 请花15秒钟完成免费的实名认证，以方便日后投资理财。

          if counter >= 3
            p 验证次数到达限额。请拨打客服电话进行人工验证。4008-588-066

          .space-vertical-l
          .row
            form#validate_id_form.form.span5(method="POST")
              - csrf_token
              .form-row
                .span3(style="line-height:40px")
                  label 真实姓名
                .span9-omega
                  input#id_name(type='text', name='name', placeholder='真实姓名')
                  .form-row-error
              .form-row
                .span3(style="line-height:40px")
                  label 身份证号
                .span9-omega
                  input#id_id_number(type='text', name='id_number', placeholder='身份证号')
                  .form-row-error
              .form-row
                .span3(style="line-height:40px")
                .span9-omega
                  input#id_captcha_0(type="hidden", name="captcha_0", autocomplete="off")
                  input#id_captcha_1.captcha(type="text", name="captcha_1", autocomplete="off", placeholder="请输入验证码", maxlength="4",style="width:100px")
                  img.captcha.captcha-img(alt="captcha", src="")
                  a.captcha-refresh(type="button", title="点击刷新验证码")
                  .form-row-error
              .form-row
                button#validate_id_button.button-primary.prefix3.span9-omega(type="submit") 提交
        .space-vertical-xl
  script.
      require(["/static/js/verifyId.js"])