extends account_home_base

- load formatters
- load mathfilters
- load widget_tweaks

block head
  - with '我的账户' as title
  include include/head
  - endwith

block sidebar
  - with '实名认证' as activeItem
  include include/user_center_sidebar
  - endwith


block main
  .account-home-panel
    .account-home-panel--title-bar
      span.nickname 实名认证

    .space-vertical-m

    if user.wanglibaouserprofile.id_is_valid
      .form-row
        label.span2.font-s 真实姓名
        span {{user.wanglibaouserprofile.name | safe_name}}
      .form-row
        label.span2.font-s 身份证号
        span {{user.wanglibaouserprofile.id_number | safe_id}}

    else
      .panel-annotation
        p 根据法律，网上投资必须进行实名认证。
        p 请花15秒钟完成免费的实名认证，以方便日后投资理财。

      .row
        form.form.span5(method="POST")
          - csrf_token
          .error
            {{form.non_field_errors}}
          .form-row-m.row
            {{form.name.errors}}
            label.span3.font-s 真实姓名
            - render_field form.name class+="font-l span9-omega"
          .form-row-m.row
            {{form.id_number.errors}}
            label.span3.font-s 身份证号
            - render_field form.id_number class+="font-l span9-omega"
          .form-row-m.row
            button.button-primary.prefix3.span9-omega(type="submit") 提交
    .space-vertical-xl
