extends account_home_base

- load formatters
- load mathfilters
- load widget_tweaks

block head
  - with '提现' as title
  include include/common_head
  - endwith

block sidebar
  - with '提现' as activeItem
  include include/user_center_sidebar
  - endwith

block main
  .panel
    .well
      .withdraw-title.padding-l-r-m 提现

      form#withdraw-form.padding-l-r-m(action="/api/withdraw/", method='post')
        - csrf_token
        input(type="hidden",name="card_id")
        table.withdraw-table
          tr
            th 持卡人
            td {{user_profile.name}}
          tr
            th 提现至银行卡
            td.goBindingBtn
                p.noCard(style='display:none')
                    label 您尚未绑卡，无法提现。请
                    a(href='/accounts/bankcard/') 绑定银行卡
                p.bindingCard
                p.bindingError
          tr
            th 可用余额(元)
            td.red-text
          tr
            th 提现金额(元)
            td
              .span5
                input.withdraw-input#withdraw-input(type='text', name='amount', placeholder='金额', data-balance='{{margin}}', data-role='fee-calculator', data-rate='{{fee.management_fee.fee_rate}}', data-target-fee='#fee', data-target-actual='#actual-amount',data-count='{{fee.fee.free_times_per_month}}',data-interval='{{fee.fee.amount_interval}}',data-switch='{{fee.switch}}',data-poundage='#poundage')
                label.error
              .span6(style="line-height:40px") 50元起，如果账户余额少于50元，可一次性取完
          tr
            th 提现费用(元)
            td
              span.orange-text#poundage 0.00
              if fee.switch == 'on'
                a(href='javascript:void(0)').poundageF 收费说明
              else
                | &nbsp;&nbsp;优惠期内，暂时不收取手续费
          tr
            th 实际到账金额(元)
            td
              span#actual-amount 0.00
          tr
            th 手机验证码
            td
              .row
                .span5
                  input.withdraw-input(type='text', name='validate_code', placeholder='请输入验证码')
                .span4
                  button.ispan4-omega.button-orange.button-large#button-get-code-btn(type='button', data-phone="{{user.wanglibaouserprofile.phone}}",tag="1") 获取验证码
              .row.voice.hidden
                .span12-omega
                  没有收到验证码？请尝试<a href="/api/ytx/send_voice_code/2/" class="voice-validate">语音验证</a>
          tr
            th 交易密码 {{user_profile.cards_number}}
            td
              .row
                .aa.trade_pwd_is_set(style='display:none')
                    .span5
                      input.withdraw-input(type='text', name='trade_pwd', placeholder='请输入交易密码')
                    a(href='javascript:void(0)',tag='1').forget-pwd 忘记交易密码？
                .bb.trade_pwd_is_set_no(style='display:none')
                    .bank-counts(style='display:none')
                        a(href='javascript:void(0)',tag='2').forget-pwd 设置交易密码
                        span.pop-msg 成功设置交易密码后，才能进行提现操作!
                    .bank-count(style='display:none')
                        a.add-card-button.blue.margin-top-m(href='/accounts/bankcard/') 绑定银行卡

          tr
            td.opt(colspan=2)
              .withdraw-td
                input.withdraw-button.trade_pwd_is_set(type='button', value='申请提现',style='display:none')
                input.withdraw-button.no-click.trade_pwd_is_set_no(type='button', value='申请提现',style='display:none')
                p.d4-text 申请通过后 3 个工作日内（此为预估时间，具体实际到账为准）

      .space-vertical-xl
      .withdraw-notice.margin-left-m.margin-right-m
        p 温馨提示
        p 1. 提款申请提交后，您的提现金额将从可用金额中扣除，无法再进行出借。
        p 2. 为防止信用卡套现、洗钱等违法行为，网站将针对异常提款（包括提取无消费充值资金）进行严格审核，审核时间在 15 个工作日之后。
        p 3. 提现银行账号的开户名必须与银行卡名一致， 否则提现失败。
        p 4. 提现最高限额：单笔限额50万（民生银行单笔限额5万），单日不限次数
    #img-code-div2(style="display:none")
        form#img-code-form.img-code-form(method='post', action='',tag='')
            .form-row
                label.img-code-label 请输入验证码：
                input#id_captcha_0(type="hidden", name="captcha_0", autocomplete="off")
                input#id_captcha_1.captcha(type="text", name="captcha_1", autocomplete="off", placeholder="请输入计算结果", maxlength="4")
                img.captcha.captcha-img(alt="captcha", src="")
                button.captcha-refresh(type="button" style='color:rgb(16, 93, 195)') 刷新
            .code-img-error
            .clearfix.tc
                span.submit-code-img#submit-code-img4 确定
    #poundageExplain(style="display:none")
        p.explainTitle 温馨提示
        .poundageExplain.clearfix
            p.p1 客户在网利宝提现，将收取一定比例的手续费，具体收取规则如下：
            p.p2 提现手续费=基本手续费 + 额外手续费
            p.clearfix
                span 1、
                label 基本手续费。每个月前2次提现免收基本手续费，超过2次后的提现基本手续费如下：
            p.clearfix.pl 提现金额小于等于1万：2元/笔
            p.clearfix.pl 提现金额大于1万，小于等于5万：3元/笔
            p.clearfix.pl 提现金额大于5万，5元/笔
            p.clearfix
                span 2、
                label 额外手续费。充值未投资的资金如需要提现，将额外收取提现金额的0.3%，此部分手续费不包含免费范围内。
    #setTradingPwd(style='display:none')
        .setTradingPwd.setTradingPwd1
            .setTitle
                span 找回交易密码
            ul
                li
                    label.label1 第1/2步:
                    span 身份认证
                li.mt10
                    label 真实姓名
                    span {{user_profile.name}}
                li
                    label 身份证号码
                    input(type='text',placeholder="请输入身份证号码",name='id').sfz#citizen_id
                    em(style='display:none')#sfzError
                        i
                        |
                li
                    label 绑定银行卡
                    span#bindingEdInfo
                    input(type='hidden' id='bankIsNoBind')
                li.mt28
                    label
                    a(href='javascript:void(0)',data-phone="{{user.wanglibaouserprofile.phone}}").nextBtn#nextBtn 下一步
    #setTradingPwd2(style='display:none')
        .setTradingPwd.setTradingPwd2
            .setTitle
                span 找回交易密码
            ul
                li
                    p
                        label.label1 第2/2步:
                        span 重置交易密码
                    p.textIn 请设置6位数字作为交易密码，如：246802

                li
                    label 新交易密码
                    input(type='password',placeholder="请输入交易密码",name='new_trade_pwd').sfz#pwd1
                    em(style='display:none')#sfzError
                        i
                        |
                li
                    label 确认交易密码
                    input(type='password',placeholder="请输入交易密码",name='new_trade_pwd').sfz#pwd2
                    em(style='display:none')#yzmError
                        i
                li.mt28
                    label
                    a(href='javascript:void(0)',tag='1').nextBtn.confirmBtn 确认
    #backTradingPwd(style='display:none')
        .setTradingPwd.setTradingPwd2
            .setTitle
                span 设置交易密码
                label 为了您的资金安全，请设置交易密码
            ul
                li
                    p.mb20
                        span.spanHL 设置交易密码
                        span.spanHL.textIn 请设置6位数字作为交易密码，如：246802
                li
                    label 交易密码
                    input(type='password',placeholder="请输入交易密码",name='new_trade_pwd').sfz#pwd1
                    em(style='display:none')#sfzError
                        i
                        |
                li
                    label 确认交易密码
                    input(type='password',placeholder="请输入交易密码",name='new_trade_pwd').sfz#pwd2
                    em(style='display:none')#yzmError
                        i
                li.mt28
                    label
                    a(href='javascript:void(0)',tag='2').nextBtn.confirmBtn 确认
    #goBindingBackWin.goBindingBackWin(style='display:none')
        p.title 温馨提示
        p 请先绑卡，再设置交易密码
        p
            a(href='javascript:void(0)').no#temporaryNot 暂不绑卡
            a(href='/accounts/bankcard/').yes 去绑卡
  script.
    require(['/static/js/withdraw.js?v=20160110', '/static/js/add_card.js'])
