/*公共样式 start*/* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body,div,h1,p,h2,header,ul,li,dl,dt,dd,ol,nav,input,footer{ margin:0; padding:0;}
body{ color:#000;font-family:Arial, Helvetica,microsoft yahei, sans-serif;}
body,html{ height:100%;-webkit-touch-callout: none;-webkit-user-select:none;}
@media screen and (max-width:479px){
body{font-size:10px;-webkit-text-size-adjust: none;}
input{font-size:10px;}
}
@media screen and (min-width:480px) and (max-width:639px){
body{font-size:15px;-webkit-text-size-adjust: none;}
input{font-size:15px;}
}
@media screen and (min-width:640px) and (max-width:719px){
body{font-size:20px;-webkit-text-size-adjust: none;}
input{font-size:20px;}
}
@media screen and (min-width:720px){
body{font-size:22.5px;-webkit-text-size-adjust: none;}
input{font-size:22.5px;}
}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;font-size:100%; font-weight:normal;}
ul,li{ list-style:none;}
html{-webkit-text-size-adjust:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
img{border:none; vertical-align:middle; width:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both;}
.clearfix{ *zoom:1;}
input{ font-family:Arial, Helveetica, sans-serif;}
a{ text-decoration:none; }
a:hover{ text-decoration:none;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both;}
.clearfix{ *zoom:1;}
/*公共样式 end*/

.wrap{
    width: 100%;
<<<<<<< HEAD
=======
    background: #fffafb;
>>>>>>> 8dbfe507ad79978eea48083b82370f3727795285
}

.top{
    width: 100%;
    /*height: 480px;*/
    /*background: url("/static/images/app_img/app_ban.jpg") no-repeat;*/
    /*background-size: 100%;*/
}

.app_ban{
    width: 100%;
}

.down{
    width: 100%;
    margin-top: 1em;
}

.down a{
    width: 80%;
    display: inline-block;
    height: 2.5em;
    background: #ea274f;
    margin-left: 10%;
    border-radius: 0.5em;
    font-size: 2em;
    color: #fff;
    line-height: 2.5em;
    text-align: center;
    box-shadow: 1px 1px 10px 1px rgba(20%,20%,40%,0.4);
}

.down a.hight{
    background:#ea274f url("/static/images/app_img/app_zhiw.png") no-repeat;
    background-position: 3em 0;
    background-size: 4em;

}

.down p{
    color: #ea274f;
    text-align: center;
    line-height: 3em;
    font-size: 1em;
}

.jiang{
    width: 100%;
    padding-left: 2em;
    margin-top: 1em;
}

.jiang dl{
    width: 69%;
    display: -webkit-box;
    box-orient: horizontal;
}

.jiang dl dt{
    width: 39%;
    padding-right: 1em;
}

.jiang dl dt img{
    width: 100%;
}


.jiang dl dd p{
    font-size: 1em;
    color: #ea274f;
    line-height: 1.6em;
}


.zeng{
    padding-left: 2em;
    /*font-size: 1.5em;*/
}
.zeng h1{
    font-size: 1em;
    line-height: 2em;
    padding:1em 0.5em;
    /*text-align: center;*/
}

.zeng_ul li{
    line-height: 2em;
    font-size: 1em;

}

.huodong{
    background: #53aa3f;
}

h2{
    font-size: 2.5em;
    font-weight: bold;
    color: #fed350;
<<<<<<< HEAD
    line-height: 2.5em;
    background: url("/static/images/app_img/app_bj.jpg") repeat-x;
    padding-left: 0.8em;
    margin-top: 1em;
    height: 1.5em;
}

=======
    line-height: 2em;
    background: #53aa3f;
    padding-left: 0.8em;

    height: 1.5em;
}

.ban{
    margin-top: 1em;
}

>>>>>>> 8dbfe507ad79978eea48083b82370f3727795285
.huodong h3{
    font-size: 2em;
    color: #fed350;
    padding-left: 1em;
    line-height: 2em;
    padding-top: 0.5em;
}

.huo_ul{
    padding:0 2em;
    color: #fff;
}

.huo_ul li{
    line-height: 1.5em;
    font-size: 1em;
}
.huo_ul li a{
    color: #fff;
    font-size: 1em;
}

.footer{
    font-size: 1em;
    line-height: 1.8em;
    text-align: center;
    color: #fff;

}

.ye{
    padding: 0 0 3em 0;
    color: #fed350;
}

.ye a{
    color: #fed350;
}