html {
  font-family: Helvetica, Arial, "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #333
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
  color: #333333;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
ul,ol,li,dl,dt,dd {list-style: none; padding: 0; margin: 0;}

input[type="checkbox"].css-checkbox {
	position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}
input[type="checkbox"].css-checkbox + label.css-label {
	padding-left: 20px;
	height: 15px;
	display: inline-block;
  background-repeat: no-repeat;
  background-position: -505px -160px;
  font-size: 12px;
  line-height: 16px;
  vertical-align: middle;
  cursor: pointer;
}
input[type="checkbox"].css-checkbox:checked + label.css-label {
	background-position: -505px -195px;
}
label.css-label {
	background-image:url("/static/images/icon-public.png");
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input[type="text"],
input[type="number"],
input[type="password"],
button[type="button"] {
  border: solid 1px #e3e3e3;
  background: #F9F9F9;
  border-radius: 5px;
  height: 40px;
  width: 96%;
  padding: 0 5px;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
body {
  max-width: 414px;
  text-align: center;
  background-color: #fdfbef;
}
h1 {
  padding: 1em 0em 1em;
  font-size: 1.2em;
  color: #b01d15;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  text-align: center;
}
header {
  background: #ffffff url("/static/images/wap/share_header_bg.jpg") no-repeat left top;
  background-size: 100% 100%;
}
.activity-app-header {
  background: url("/static/images/wap/activity_header.jpg") no-repeat left top;
  background-size: 100% 100%;
}
.download-image {
  background: url("/static/images/wap/download_bg.png") no-repeat center;
  height: 13.5em;
  background-size: 100% 100%;
}
.crazy-feast-header {
  background: url("/static/images/wap/crazy_h5.jpg") no-repeat center;
  height: 13.5em;
  background-size: 100% 100%;
}
.activity-app-content h2 {
  font-size: 100%;
}
@media screen and (max-width: 320px) {
  header {
    height: 13em;
  }
  .crazy-feast-header {
    height: 10.7em;
  }
  .activity-app-header {
    height: 14.3em;
  }
  .download-image {
    height: 13.5em;
  }
  .activity-app-content h2 {
    font-size: 100%;
  }
}
@media screen and (min-width: 360px) {
  header {
    height: 15.3em;
  }
  .crazy-feast-header {
    height: 12.4em;
  }
  .activity-app-header {
    height: 15.8em;
  }
  .download-image {
    height: 15.5em;
  }
  .activity-app-content h2 {
    font-size: 115%;
  }
}
@media screen and (min-width: 414px) {
  header {
    height: 17.3em;
  }
  .crazy-feast-header {
    height: 13.9em;
  }
  .activity-app-header {
    height: 18.5em;
  }
  .download-image {
    height: 17.5em;
  }
  .activity-app-content h2 {
    font-size: 140%;
  }
}
footer {
  background: #F6F6F6 url("/static/images/wap/wlb_footer_logo.png") no-repeat center;
  border-top: solid 1px #e3e4e9;
  height: 4em;
}
.red {
  color: red;
}
.form-row {
  clear: both;
  height: 40px;
  padding: 0 0 10px 0;
}
.form-row .span8 {
  float: left;
  width: 56%;
}
.form-row .span4-omega {
  float: right;
  width: 40%;
}
.form-row .span4-omega button {
  background-color: #ff8c2f;
  color: #ffffff;
  font-weight: normal;
  width: 100%;
  height: 42px;
  border: solid 1px #ff8c2f;
}
.form-row .span4-omega button:focus {
  background-color: #ff4c2e;
  color: #ffffff;
  border: solid 1px #ff8c2f;
}
.form-row .span4-omega button:disabled {
  background-color: #eeeeee;
  color: #999999;
  border: solid 1px #eeeeee;
}
button[type="button"].download-btn {
  background-color:#ff4c2e;
  color:#ffffff;
  font-size: 1.2em;
  height: 2.5em;
  line-height: 2.5em;
}
button[type="button"].download-btn:focus {
  background-color:#cc0000;
}
.space-s {
  height: .8em;
}
.why-select {
  background: #F6F6F6;
  text-align: left;
}
.why-select h1 {
  color: #333;
}
.why-select-row {
  padding: 1.2em 0;
}
.why-span-icon {
  float: left;
  width: 38%;
  text-align: center;
}
.icon {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  top: 5px;
  left: 10px;
}
.icon-why-1 {
  width: 50px;
  height: 50px;
  background: url("/static/images/icon-public.png") no-repeat -492px -100px;
}
.icon-why-2 {
  width: 50px;
  height: 50px;
  background: url("/static/images/icon-public.png") no-repeat -724px -100px;
}
.icon-why-3 {
  width: 50px;
  height: 53px;
  background: url("/static/images/icon-public.png") no-repeat -566px -100px;
}
.icon-why-4 {
  width: 50px;
  height: 50px;
  background: url("/static/images/icon-public.png") no-repeat -647px -100px;
}
.why-select-row dl {
  float: left;
}
.why-select-row dl dt {
  font-size: 1.2em;
  font-weight: 800;
  color: #FA6048;
}
.error-message {
  color: red;
  padding-bottom: 10px;
}
.align-center {
  text-align: center;
}
.margin-auto {
  margin: 15px auto 0 auto;
  width: 66px;
}
.content,
.download-content {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  text-align: left;
}
.download-content h3 {
  margin-top: 1.2em;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5em;
}

.download-image-container {
  width: 60%;
  margin: 1em auto 1.5em auto;
}
.content h2 {
  font-weight: normal;
  line-height: 1em;
  font-size: 1em;
  padding-top: 10px;
}
.padding-l-r-s {
  padding: 0 1em;
  text-align: left;
}
.gray {
  color: #999999;
}
.blue {
  color: #008DE3;
}
.icon-register-ok {
  display: inline-block;
  position: relative;
  top: 17px;
  width: 41px;
  height: 41px;
  background: url("/static/images/wap/reg_ok.png") no-repeat;
  background-size: 80% 80%;
}
.activity-app-content {
  background: #532399;
  color: #fbfefc;
  padding: 20px;
  text-align: left;
  font-size: 0.86em;
  line-height: 1.9em;
}
.activity-app-content h2 {
  background: #2b0364;
  margin: 0 0 20px 0;
  padding: 5px 0;
  text-align: center;
  color: #fcc92f;
}
.activity-app-content h3 {
  font-size: 1.4em;
  font-weight: normal;
  margin-top: 0;
}
.activity-app-content p {
  margin: 0;
  padding: 0;
}
.space-line {
  border-top: solid 1px #7851BC;
  background: #260E40;
  height: 1px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.activity-app-footer {
  color: #ffc619;
  padding: 20px 0;
  text-align: center;

}

.mainn{
  width: 100%;
  background: #fafafa;
  border-top: 1px solid #e8e8e8;
}
.mainn dl{
  width: 49%;
  display: inline-block;
  border: 0;
  margin: 0.5em 0;
}
.mainn dl dt{
  text-align: center;
}
.mainn dl dt>img{
  width: 5em;
}
.mainn dl dd{
  text-align: center;
}
.mainn dl dd>h3{
    font-weight: normal;
  font-size: 20px;
  color: #212121;
  line-height: 20px;
  margin:4px 0 8px 0;
}
.mainn dl dd>p{
  font-size: 14px;
  color: #b1b1b1;
  margin: 4px 0;
}