- load formatters
include include/activityTop2
.wrap#ganjiwang-banner
  .gold2
    if user.is_authenticated
      #ganjiwang-model
      .banner-form#ganjiwang-welcome
        .space-vertical-m
          h1.banner-form--title 欢迎来网利宝投资理财
          .space-vertical-s
          p.banner-form--row.font-s 您的登录账户:
            span {{user|display_name}}
          .space-vertical-m
          .banner-form--row.align-center
            a.banner-form--button(href="/accounts/home") 进入我的账户
    else
        .denelu-form#denglu
            #aug-center
                .off-form#off-form ×
                form#img-code-form.img-code-form.aut-form(method='post', action='')
                    .form-row
                        input#id_captcha_0(type="hidden", name="captcha_0", autocomplete="off")
                        input#id_captcha_1.captcha.aut-captcha(type="text", name="captcha_1", autocomplete="off", placeholder="请输入计算结果", maxlength="4")
                        img.captcha.captcha-img(alt="captcha", src="")
                        button.captcha-refresh(type="button" style='color:rgb(16, 93, 195)') 刷新
                    .code-img-error.aut-error
                    .clearfix.tc
                        span.submit-code-img#submit-code-img1 确定
            #aug-code
            h1.biaoyu
            form#register-modal-form.login-form.dale(method='post', action='')
              - csrf_token
              .form-row
                .form-control-group
                  .span12
                    input#reg_identifier.com-tu.tu1(type="text", name="identifier", placeholder="请输入手机号")
                .form-row-error
              .form-row.voice
                .span12-omega.hidden.show
                  没有收到验证码？请尝试<a href="/api/ytx/send_voice_code/" class="voice-validate">语音验证</a>
                .form-control-group
                  .span6
                    input#id_validate_code.com-tu.tu2(type="text", name="validate_code", placeholder="请输入验证码", autocomplete='off', title="请输入验证码")
                  .span6-omega
                    button#button-get-validate-code-modal.button-orange.button-large.huoqu-ma.new-btn(type='button',style="display:none") 获取验证码
                    button#img-code.button-orange.button-large.huoqu-ma.new-btn(type='button',style="top:-2px;margin-left:13px") 获取验证码
                .form-row-error
              .form-row
                input#reg_password.full-width.com-tu.tu3(type="password", name="password", placeholder="请输入密码", autocomplete="off", maxlength="20")
                .form-row-error
              .form-row
                input#reg_password2.com-tu.tu3(type="password", name="password2", placeholder="请再次输入密码", autocomplete='off', title="请确认密码", maxlength="20")
                .form-row-error#aug-form-row-eroor
              .form-row.form-bottom-bar
                .agreement(style="padding:0 0 10px 10px;text-align:left")
                  label(for="agreement")
                    input(type="checkbox", name="agreement", checked="checked", id="agreement", data-value="agree",style="position: relative;top: 3px;margin-right: 10px;width: 16px;")
                  | 我同意<a href="/agreement/" target="_blank">《网利宝注册协议》</a>
                  .form-row-error
                button#register_submit.button-account.span10.xun-zhuce(type='button') 立即注册
              .space-vertical-s
            p.xun-p 已有账号,
              a(href="/accounts/login/") 立即登录