
.acartiety-top

  h3.avariety 【多种选择】
  .avariety-a
    .avariety-s
      .tu-one
        .font-zi
      div.avariety-tu
          .avariety-tu1
             .circle
                p 7%
             .circle.circle-two
                p 10%
             .circle.circle-three
                p 11%
             .circle.circle-four
                p 13%
             .circle.circle-five
                p 15%
        p
          span
            img(src="/static/images/xunlei-denglu/xunlei-anquan.png")
          |100%本息保障
    .avariety-s
      .tu-one.tu-two
        .font-zi.zi-on
      div.avariety-tu
          .avariety-tu1
              .datea
                  p(style='border-right: 1px solid #dedede')
                   span 1
                   |个月
                  p
                   span(style='color: #7360ff') 2
                   |个月
                  p(style='border-right: 1px solid #dedede')
                   span(style='color: #3ea7eb') 3
                   |个月
                  p
                   span(style='color: #ffaa19') 4
                   |个月
              h5.xia 多重选择，从心开始

        p
          span
            img(src="/static/images/xunlei-denglu/xunlei-anquan.png")
          |100%本息保障
    .avariety-s
      .tu-one.tu-three
        .font-zi.zi-oa
      div.avariety-tu
          .avariety-tu1
             .datea
                 dl(style='border-right: 1px solid #dedede')
                    dt
                    dd 按月付息还款
                 dl
                    dt.dt-one
                    dd 等额本息还款
                 dl(style='border-right: 1px solid #dedede')
                    dt.dt-two
                    dd 一次还本付息
                 dl
                    dt.dt-three
                    dd 先息后本
        p
          span
            img(src="/static/images/xunlei-denglu/xunlei-anquan.png")
          |100%本息保障
    .avariety-s
      .tu-one.tu-four
        .font-zi.zi-ob
      div.avariety-tu
          .avariety-tu1
             .datea
                 dl(style='border-right: 1px solid #dedede')
                    dt.dt-onea
                    dd 按月付息还款
                 dl
                    dt.dt-oneb
                    dd 等额本息还款
                 dl(style='border-right: 1px solid #dedede')
                    dt.dt-twoa
                    dd 一次还本付息
                 dl
                    dt.dt-threea
                    dd 先息后本
        p
          span
            img(src="/static/images/xunlei-denglu/xunlei-anquan.png")
          |100%本息保障