
.act-iphone
  .act-iphone-tit
    .act-iphone-le
      h2.black 没心！没肺！没节操的送！
      p 活动期间，单日投资额达到以下额度，可获得相应奖品 。
    .act-iphone-r
  .row.act-iphone-row
   .span3
      dl.act-iphone-jiang
        span.act-iphone-huang
        h3.act-iphone-h2 单日投资200万
        dt.act-iphone-com2.act-iphone-one
        dd(style="color:#e9573f")
          span(style="background:#e9573f") 送
          |全新Retina MacBook
   .span3
     dl.act-iphone-jiang
       span.act-iphone-huang
       h3.act-iphone-h2 单日投资150万
       dt.act-iphone-com2.act-iphone-two
       dd(style="color:#e9573f")
         span(style="background:#e9573f") 送
         |iPhone 6 Plus ( 16G )
   .span3
     dl.act-iphone-jiang
       span.act-iphone-huang
       h3.act-iphone-h2 单日投资100万
       dt.act-iphone-com2.act-iphone-three
       dd(style="color:#e9573f")
         span(style="background:#e9573f") 送
         |iPhone 6 ( 16G )
   .span2
     dl.act-iphone-jiang
       span.act-iphone-huang
       h3.act-iphone-h2 单日投资50万
       dt.act-iphone-com2.act-iphone-four
       dd(style="color:#e9573f")
         span(style="background:#e9573f") 送
         |Apple Watch Sport
