
- load formatters
.act-full-container
  .act-topbar
    .container.row
      .act-user-div
        i.act-icon-phone.font-l &nbsp;
        span 客服热线：
        span 4008-588-066
        span.act-margin-left-m 关注我们：
        a.topbar-anchor.act-icon.act-icon-weibo(href="http://weibo.com/u/5000682691", target="_blank", data-role="hover", data-target="#qrweibo-top")
        a.topbar-anchor.act-icon.act-icon-weixin(href="javascript:void(0)", data-role="hover", data-target="#qrcode-top")
        a#qrweibo-top.act-weibo-qr-code(href="http://weibo.com/u/5000682691", target="_blank", style="display:none" , data-name="hoverbox")
          img(src="/static/images/weibo-nqr.png")
        img#qrcode-top.act-icon.act-weixin-qr-code(src="/static/images/weixin-nqr.png", data-name="hoverbox")
        span.act-mobile-app-top
          span.act-icon.act-icon-mobile-app
          span 手机网利宝
          .act-mobile-app-top-prompt
            div(style="height:30px; top:-20px; position:relative;")
            a.act-mobile-app-apple(href="https://itunes.apple.com/cn/app/wang-li-bao/id881326898?mt=8", target="_blank", title="iPhone版")
            a.act-mobile-app-android(href="https://www.wanglibao.com/static/wanglibao1.apk", title="Android版")
.activity-nav
  .act-container-login-nav
    a(href='/')
      .act-logo
    .login-nav
      include include/nav_common

  script(src="/static/js/lib/jquery.min.js")
  script.
    $('.act-mobile-app-top').bind('mouseenter', function(e) {
      return $('.act-mobile-app-top-prompt').show();
    }).bind('mouseleave', function(e) {
      return $('.act-mobile-app-top-prompt').hide();
    });
    $('.act-mobile-app-top-prompt').bind('mouseenter', function(e) {
      return $(this).show();
    }).bind('mouseleave', function(e) {
      return $(this).hide();
    });
    $('.act-icon-weixin').bind('mouseenter',function(){
      $('#qrcode-top').show();
    }).bind('mouseleave',function(){
      $('#qrcode-top').hide();
    })
    $('#qrcode-top').bind('mouseenter', function(e) {
      return $(this).show();
    }).bind('mouseleave', function(e) {
      return $(this).hide();
    });

    $('.act-icon-weibo').bind('mouseenter',function(){
      $('#qrweibo-top').show();
    }).bind('mouseleave',function(){
      $('#qrweibo-top').hide();
    })
    $('#qrweibo-top').bind('mouseenter', function(e) {
      return $(this).show();
    }).bind('mouseleave', function(e) {
      return $(this).hide();
    });

