.process-content
    .process
        .process-top 投资流程
        .process-imgg
            .circle-free.circle-float.aiqiyi-float
                .close.aiqiyi-close
                .last
                .next
                img(src="/static/images/pptv/free.jpg")
            .process-start
                .process-cont
            .process-circle
                .process-body.one-free
                .process-txt 免费注册
            .process-center
                .process-cont
            .process-circle
                .process-body.two-atte
                .process-txt 进行认证
            .process-center
                .process-cont
            .process-circle
                .process-body.three-recharge
                .process-txt 充值账户
            .process-center
                .process-cont
            .process-circle
                .process-body.four-tender
                .process-txt 成功投标
            .process-center
                .process-cont
            .process-circle
                .process-body.five-collec
                .process-txt 自动收款
            .process-end
                .processend-cont
    script(src="/static/js/lib/jquery.min.js")
    script.
      var pptvUntil = {
        dataImg:["free","atte","recharge","tender","collec"],
        newUrl:[{"x":"10px","y":"-63px"},{"x":"10px","y":"-207px"},{"x":"12px","y":"-350px"},{"x":"10px","y":"-495px"},{"x":"10px","y":"-637px"}],
        $float: $(".circle-float"),
        initIndex: null,
        Timer: null,
        init:function(){
           var that = this;
           var isHover = false,setTimeHover;
           $(".process-circle").hover(function(){
                clearTimeout(that.Timer)
                that.initIndex = $(this).index()/2-1
                var imgUrl = "/static/images/pptv/"+that.dataImg[that.initIndex]+".jpg"
                that.$float.find("img").attr("src",imgUrl)
                $(".process-circle").find(".process-body").removeAttr("style")
                that.$float.show()
            },function(){
              that.Timer=setTimeout(function(){
                 that.$float.hide()
               },800)
            })
            $(".circle-float").hover(function(){
                clearTimeout(that.Timer)
                isHover = true;
            },function(){
                isHover &&  that.close()
                isHover = false;
            })
            $(".last").on("click",function(){
                that.last(that.changHover)
            })
            $(".next").on("click",function(){
                that.next(that.changHover)
            })
            $(".close").on("click",function(){
                that.close()
            })
            $(".register-btn").on("click",function(){
                 $('html,body').animate({scrollTop: '0px'}, 600);
            })
        },
        next:function(callback){
            this.initIndex === 4 ? this.initIndex = 0: this.initIndex++;
            callback(this.initIndex)
        },
        last:function(callback){
            this.initIndex === 0 ? this.initIndex = 4: this.initIndex--;
            callback(this.initIndex)
        },
        close:function(){
            this.$float.hide();
            $(".process-circle").find(".process-body").removeAttr("style")
        },
        changHover:function(index){
            var imgUrl = "/static/images/pptv/"+pptvUntil.dataImg[index]+".jpg"
            pptvUntil.$float.find("img").attr("src",imgUrl)
            $(".process-circle").find(".process-body").removeAttr("style")
            $(".process-circle").eq(index).find(".process-body").attr("style", "background-position:" + pptvUntil.newUrl[pptvUntil.initIndex].x + " " + pptvUntil.newUrl[pptvUntil.initIndex].y + ";background-color:#448aff;border:4px solid #448aff")
        }
      }
      pptvUntil.init();