.process-content
    .process
        .process-top 投资流程
        .process-imgg
            .process-start
                .process-cont
            .process-circle
                .process-body.one-free
                .process-txt 免费注册
                .process-txt2 送
                  em 50
                  |元红包
            .process-center
                .process-cont
            .process-circle
                .process-body.two-atte
                .process-txt 进行认证
                .process-txt2 送
                  em 1
                  |个月PPTV会员
            .process-center
                .process-cont
            .process-circle
                .process-body.three-recharge
                .process-txt 充值账户
            .process-center
                .process-cont
            .process-circle
                .process-body.four-tender
                .process-txt 成功投标
            .process-center
                .process-cont
            .process-circle
                .process-body.five-collec
                .process-txt 自动收款
            .process-end
                .processend-cont