.pro-left
  .content-title
    h2.hei(style="font-size:24px") 投资流程
  .pro-left-container
    .row
      .pro-left-step.pro-left-first-step
        span.pro-left-icon.pro-left-icon-first-step
        .pro-left-process-title 免费注册账号
        .pro-left-process-content {{result.teacher_desc.0}}
      .pro-left-step-arrow
        ins
      .pro-left-step.pro-left-second-step
        span.pro-left-icon.pro-left-icon-second-step
        .pro-left-process-title 实名认证
        .pro-left-process-content {{result.teacher_desc.1}}
      .pro-left-step-arrow
        ins
      .pro-left-step.pro-left-third-step
        span.pro-left-icon.pro-left-icon-third-step
        .pro-left-process-title 充值
        .pro-left-process-content {{result.teacher_desc.2}}
      .pro-left-step-arrow
        ins
      .pro-left-step.pro-left-fourth-step
        span.pro-left-icon.pro-left-icon-fourth-step
        .pro-left-process-title 投资
        .pro-left-process-content {{result.teacher_desc.3}}
      .pro-left-step-arrow
        ins
      .pro-left-step.pro-left-fifth-step
        span.pro-left-icon.pro-left-icon-fifth-step
        .pro-left-process-title 获得投资和奖励
        .pro-left-process-content {{result.teacher_desc.4}}