
.wry-act-footer#two-footer
  .wry-act-copy
    div
      .wry-footer-logo.footer-com.footer-one
      p(style="color:#666;margin:0")
        span.footer-com.footer-two
        |官方微信：iwanglibao
        span.footer-com.footer-three
        |在线客服：4008 588 066
        span.footer-com.footer-four
        |客服电话：4008 588 066
      p(style="color:#666").act-hot Copyright&copy;2014-2015 wanglibao.com Inc. All Rigth Reserved. 北京网利科技有限公司 此次活动解释权归网利宝官方网站所有
  .wry-act-img
    a.footer-com.footer-five.dif-footer(href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1091876832", target="_blank")
    a.footer-com.footer-seven.dif-footer(style="width: 80px;height: 60px;",href="http://www.instantssl.com/wildcard-ssl.html", target="_blank")
  .wry-act-sao.footer-com.footer-six(style="position: absolute;top:26px;right；0;height:190px")
