
.act-money
  .act-money-tit
    .act-money-le
      h2.act-money-black 零点数据清零，用户可每天重复参赛
      p 用户每天的投标累计金额
        span.act-money-yell ≥6万元
        | ，将获得网站投资奖励。
    .act-money-r
      p
        span.act-money-yell 注：
        | 若出现两名或两名以上客户投标金额相同，则按当日投标时间先后排位；
        br
        | 每天投标累计金额
        span.act-money-yell ≥6万元
        | 的用户未排入前十名将获得
        span.act-money-yell 60元
        | 现金。
  .space-vertical-s
  .row.act-money-select
    .span7
      img(src="/static/images/xunlei-denglu/xl-zc-bang2.jpg")
    .span4
      ul.act-money-ul
        li(style="border-bottom:none")
          span.act-money-hight(style="border-right:1px solid #fff") 每日买满额度（元）
          span.act-money-hight 送现金额度（元）
        li
          span 50000-59999
          span 50
        li
          span 40000-49999
          span 40
        li
          span 30000-39999
          span 30
        li
          span 20000-29999
          span 20
        li
          span 10000-19999
          span 10