.process-content
    .process
        .process-top 投资流程
        .process-imgg
            .process-start
                .process-cont
            .process-circle
                .process-body.one-free
                .process-txt 免费注册
                .process-txt2 送
                  em 50
                  |元红包
            .process-center
                .process-cont
            .process-circle
                .process-body.two-atte
                .process-txt 进行认证
                .process-txt2 送
                  em 1
                  |个月PPTV会员
            .process-center
                .process-cont
            .process-circle
                .process-body.three-recharge
                .process-txt 充值账户
            .process-center
                .process-cont
            .process-circle
                .process-body.four-tender
                .process-txt 成功投标
            .process-center
                .process-cont
            .process-circle
                .process-body.five-collec
                .process-txt 自动收款
            .process-end
                .processend-cont
    script(src="/static/js/lib/jquery.min.js")
    script.
      var pptvUntil = {
        dataImg:["free","atte","recharge","tender","collec"],
        newUrl:[{"x":"10px","y":"-63px"},{"x":"10px","y":"-207px"},{"x":"12px","y":"-350px"},{"x":"10px","y":"-495px"},{"x":"10px","y":"-637px"}],
        $float: $(".circle-float"),
        initIndex: null,
        init:function(){
           var that = this;
           var isHover = false,setTimeHover;
           $(".circle").hover(function(){
                that.initIndex = $(this).index()/2-1
                var imgUrl = "/static/images/pptv/"+that.dataImg[that.initIndex]+".jpg"
                that.$float.find("img").attr("src",imgUrl)
                $(".circle").find(".circle-body").removeAttr("style")
                that.$float.show()
            })
            $(".circle-float").hover(function(){
                isHover = true;
            },function(){
                isHover &&  that.close()
                isHover = false;
            })
            $(".last").on("click",function(){
                that.last(that.changHover)
            })
            $(".next").on("click",function(){
                that.next(that.changHover)
            })
            $(".close").on("click",function(){
                that.close()
            })
            $(".register-btn").on("click",function(){
                 $('html,body').animate({scrollTop: '0px'}, 600);
            })
        },
        next:function(callback){
            this.initIndex === 4 ? this.initIndex = 0: this.initIndex++;
            callback(this.initIndex)
        },
        last:function(callback){
            this.initIndex === 0 ? this.initIndex = 4: this.initIndex--;
            callback(this.initIndex)
        },
        close:function(){
            this.$float.hide();
            $(".circle").find(".circle-body").removeAttr("style")
        },
        changHover:function(index){
            var imgUrl = "/static/images/pptv/"+pptvUntil.dataImg[index]+".jpg"
            pptvUntil.$float.find("img").attr("src",imgUrl)
            $(".circle").find(".circle-body").removeAttr("style")
            $(".circle").eq(index).find(".circle-body").attr("style", "background-position:" + pptvUntil.newUrl[pptvUntil.initIndex].x + " " + pptvUntil.newUrl[pptvUntil.initIndex].y + ";background-color:#94bf48;border:4px solid #94bf48")
        }
      }
      pptvUntil.init();