
if results
  for activity in results
    a(href="{{activity.detail_link}}").area-list
      .area-ac-head {{activity.title}}
      .area-ac-banner
        div( class="lazy img-responsive", data-original="/media/{{activity.banner}}")
      .area-ac-milepost-footer
        .area-milepost-time {{activity.done_date}}
        .area-milepost-link 立即查看
else
  .unactivty 暂无大事件
