div(class="spinner")
  div(class="spinner-container container1")
    div(class="circle1")
    div(class="circle2")
    div(class="circle3")
    div(class="circle4")

  div(class="spinner-container container2")
    div(class="circle1")
    div(class="circle2")
    div(class="circle3")
    div(class="circle4")

  div(class="spinner-container container3")
    div(class="circle1")
    div(class="circle2")
    div(class="circle3")
    div(class="circle4")
   
 