.account-balance
  padding: 1rem 0 0 0.75rem
  display: -webkit-flex
  width: 100%
  height: 3.4rem
  border-bottom: 1px solid $border-color
  background: #FFFFFF
  .account-balance-one
    line-height: 1rem
    width: 50%
    .balance-one-money
      color: #989898
      font-size: $body-fontSize
    .balance-one-yuan
      color: $head-backgroundColor
      font-size: 0.805rem
  .account-balance-two
    -webkit-flex: 1
    .account-withdrawal
      display: block
      width: 3.35rem
      height: 1.75rem
      border-radius: 5px
      text-align: center
      line-height: 1.75rem
      border: 1px solid #abccf7
      font-size: $body-fontSize
      color: #abccf7
      display: none
  .account-balance-three
    -webkit-flex: 1
    .account-top-up
      display: block
      width: 3.35rem
      height: 1.75rem
      border-radius: 5px
      text-align: center
      line-height: 1.75rem
      border: 1px solid #9cd292
      font-size: $body-fontSize
      color: #9cd292
.account-assets
  @extend .account-balance
  height: 4.25rem
  .account-assets-one
    @extend .account-balance-one
    width: 100%
    .assets-one-monery
      @extend .balance-one-money
    .assets-one-yuan
      @extend .balance-one-yuan
    .assets-one-earnings
      font-size: $body-fontSize
      color: #989898
      strong
        font-weight: normal
        display: inline-block
        span
          color: #6b6b6b
.account-project
  //@extend .account-balance
  padding-left: 0.75rem
  background: #ffffff
  border-top: 1px solid $border-color
  margin-top: 0.55rem
  -webkit-flex-flow: column
  padding-top: 0
  .project-one
    color: #6b6b6b
    font-size: $body-fontSize
    line-height: 2.22rem
    height: 2.22rem
    position: relative
    b
      font-weight: normal
      color: #B5B1B1
      position: absolute
      right: 1.5rem
    span  //三角
      width: 0
      height: 0
      border-bottom: 0.4rem solid transparent
      border-top: 0.4rem solid transparent
      border-left: 0.4rem solid #b6b6b6
      font-size: 0
      line-height: 0
      position: absolute
      right: 0.705rem
      top: 0.7rem
      .project-one-angle
        width: 0
        height: 0
        border-bottom: 0.3rem solid transparent
        border-top: 0.3rem solid transparent
        border-left: 0.3rem solid #FFFFFF
        font-size: 0
        line-height: 0
        position: absolute
        right: 0.1rem
        top: -0.3rem
  .line
    border-bottom: 1px solid $border-color
.account-exit
  @extend .account-project
  height: 2.22rem
  padding: 0
  .account-exit-exit
    display: block
    overflow: hidden
    text-align: center
    line-height: 2.22rem
    font-size: 0.85rem
    color: #898989
    &:active
      box-shadow: $active-shadow

.account-pop-up
  width: 100%
  height: 100%
  background: rgba(0,0,0,0.2)
  position: absolute
  top: 0
  display: none
  .account-pop-up-up
    width: 86%
    background: #FFFFFF
    border: 1px solid $border-color
    border-radius: 0.5rem
    margin: 5rem 0 0 7%
    form
      p
        color: $list-titColor
        font-size: 0.5rem
        line-height: 2.325rem
        text-align: center
        span
          color: #4e7cda
      input
        border: none
        width: 80%
        height: 1.7rem
        border: 1px solid $border-color
        margin-left: 10%
        font-size: 0.5rem
        margin-top: 0.2rem
      label
        font-size: 0.3rem
        margin-left: 12%
        line-height: 0.825rem
        color: $head-backgroundColor
        //display: none
      .account-footer
        display: -webkit-flex
        margin-top: 0.2rem
        padding-bottom: 0.2rem
        a
          -webkit-flex: 1
          text-align: center
          font-size: 0.6rem
          line-height: 1.9rem
        .line-line
          border-left: 1px solid $border-color


