.authentication-from-one,.authentication-from-two
  position: relative
  width: 92%
  height: 2.2rem
  line-height: normal
  margin-left: 4%
  border-radius: 0.3rem
  border: $border-color 1px solid
  background: #ffffff
  label
    font-size: 0.6rem
    color: #ababab
    margin-left: 0.65rem
  input
    margin-top: 0.35rem
    height: 1.5rem
    line-height: 1.5rem
    border: none
    font-size: $body-fontSize
    padding-left: 0.65rem
    background: #ffffff
.authentication-from-error
  width: 92%
  height: 1rem
  .error-name,.error-card
    font-size: 0.6rem
    margin-left: 16%
    line-height: 1rem
    color: $head-backgroundColor
.authentication-from-four
  height: 2.45rem
  width: 92%
  margin-left: 4%
  background: $head-backgroundColor
  border-radius: 0.3rem
  text-align: center
  margin-top: 1rem
  &:active
    box-shadow: $active-shadow
  .from-four-complete
    display: block
    line-height: 2.45rem
    color: #FFFFFF
    font-size: 0.85rem
