.buy-invest
  height: 7rem
  width: 100%
  background: #c3352c
  color: #FFFFFF
  padding-left: 0.75rem
  .invest-one
    font-size: 0.7rem
    line-height: 1rem
    height: 2.6rem
    padding-top: 0.75rem
    display: block
  .invest-two
    font-size: 0.6rem
    line-height: 1.5rem
  h2
    font-size: 1.275rem
    line-height: 2.1rem
.buy-balance
  width: 92%
  border: 1px solid $border-color
  background: #FFFFFF
  margin: 0.55rem 0 0 4%
  .buy-balance-one,.buy-balance-two,.buy-balance-three
    display: -webkit-box
    height: 2.2rem
    line-height: 2.2rem
    border-bottom: 1px solid $border-color
    .balance-left
      font-size: 0.6rem
      display: block
      width: 3.25rem
      margin-left: 0.625rem
      color: #989898
    .balance-middle
      font-size: 0.7rem
      display: block
      height: 100%
      -webkit-box-flex: 1
      border: none
      color: #6b6b6b
      background: #fff
    .balance-right
      font-size: 0.6rem
      margin-right: 0.625rem
      color: #989898
  .buy-balance-three
    .balance-middle
      .balance-middle-select
        position: relative
        overflow: hidden
        background-color: transparent
        width: 100%
        padding-right: .625rem
        .balance-middle-select-select
          -webkit-appearance: none
          width: 100%
          border: 0
          display: block
          overflow: hidden
          line-height: 2.15rem
          height: 2.15rem
          background: url("/static/imgs/mobile/detail/buyjiantou.png") no-repeat right center
          background-size: 0.95rem 0.525rem
          color: #6b6b6b
.buy-earnings
  width: 92%
  margin-left: 4%
  font-size: 0.6rem
  line-height: 1.2rem
  color: #989898
  em
    font-style: normal
    color: $color-db493f
  .redpack-sign
    text-align: right
    display: none
  .earnings
    text-align: right
  .redpack-for-amount
    text-align: right
    color: $color-db493f
    display: none
  .redpack-investamount
    @extend .redpack-for-amount
.buy-snap-up
  height: 2.45rem
  width: 92%
  margin-left: 4%
  border-radius: 0.3rem
  overflow: hidden
  text-align: center
  color: #FFFFFF
  .snap-up
    display: block
    background: $head-backgroundColor
    line-height: 2.45rem
    font-size: 0.85rem
    &:active
      box-shadow: $active-shadow
  p
    line-height: 2.45rem
    color: #F0EEEE
    background: #C8C5C5
    font-size: 0.85rem
.is_invested-sign
  width: 92%
  margin: .5rem 0 0 4%
  color: #1f8ccd
  font-size: $font-size12
.buy-sufficient
  display: none
  position: absolute
  height: 2.2rem
  width: 100%
  left: 0
  top: 2.2rem
  text-align: center
  background: rgba(62, 62, 62, 0.9)
  p
    color: #FFFFFF
    line-height: 2.2rem
    a
      color: #68a45c

