.login-top-top
  width: 100%
  height: 3.5rem
  background: $head-backgroundColor
.login-top-main
  width: 100%
  height: 5.8rem
  position: relative
  .login-top-circle
    width: 5.325rem
    background: #FFFFFF
    border-radius: 50%
    position: absolute
    top: -50%
    left: 34.5%
    .img-one
      width: 5rem
      margin: 0.1625rem 0 0 0.1625rem
  .img-two
    width: 5.225rem
    position: absolute
    top: 50%
    left: 35%
.login-farom
  .login-from-one,.login-from-two,.login-from-three
    input
      width: 84%
      height: 1.95rem
      border: none
      border: $border-color 1px solid
      border-radius: 0.3rem
      //margin-top: 0.55rem
      font-size: 0.5rem
      background: url('/static/imgs/mobile/detail/logininput.png') no-repeat left 0.65rem center #FFFFFF
      background-size: 1.1rem
      line-height: 1.95rem
      margin-left: 8%
      padding-left: 2.6rem
  .login-from-two
    input
      margin-top: 0.55rem
  .login-from-three
    display: -webkit-flex
    .login-refresh
      margin-top: 0.55rem
      width: 54%
    .login-validation
      margin-top: 0.55rem
      width: 22%
      margin-left: 8%
      background: #fff
      border-radius: 0.3rem
      border: $border-color 1px solid
      height: 1.95rem
  .login-from-four
    button
      font-size: 0.85rem
      color: #FFFFFF
      background: $head-backgroundColor
      width: 84%
      height: 2.2rem
      line-height: 2.2rem
      text-align: center
      border: none
      border-radius: 0.3rem
      margin: 1.05rem 0 0 8%
  .login-footer
    display: -webkit-flex
    width: 84%
    margin-left: 8%
    font-size: .6rem
    line-height: 2.3rem
    .login-middle
      width: 2%
      color: #bbbab7
      text-align: center
    .login-left,.login-right
      -webkit-flex: 1
      text-align: center
      color: #bbbab7














