

.wx-login-logos
  position: relative
  margin-bottom: 5rem
  .wx-head-red-space
    height: 3rem
    background: #db493f

  .wx-head-logo
    position: absolute
    width: 100%
    top: 0.5rem
    img
      display: block
      width: 5rem
      height: 5rem
      margin: 0 auto

.wx-login-warp
  padding: 0 .5rem
.wx-login-input-space
  margin-bottom: .6rem
.wx-login-submit
  +submit(rem(110), #fff, #DB493F)

.wx-for-regist-warp
  font-size: .7rem
  color: #5db5f2
  text-align: center
  margin: 1rem 0
  a
    display: inline-block
    padding: .2rem

.bank-safe
  text-align: center
  span
    background: url("/static/imgs/mobile/login/bank_safe.png") no-repeat left center
    font-size: $font-size12
    color: #50B143
    background-size: 1.1rem
    line-height: 1.5rem
    padding-left: 1.2rem
    display: inline-block