
//页面字体大小，背景颜色
$body-fontSize: .6rem
$body-backgroundColor: #efeff4

//下边距
$margin-bottom: 0.5rem

//头部颜色、高度、字体大小
$head-backgroundColor: #db493f
$head-fontColo: #fff
$header-height: 2.2rem
$header-fontSize: 0.85rem

//list 进度条颜色
$progress-backgroundColor: #abccf7
$list-titColor: #6b6b6b

//list页四种状态颜色
$protucd-blue: #abccf7 //抢购中
$protucd-red: #fac3c3 //满标审核
$protucd-lightblue: #aee4f0 //还款中
$protucd-grey: #dadada //已还款

//detail
$borderColor: #e8e8e8
$toggleTabColor: #6b6b6b
//四种状态颜色
$footerBtn-buy: #db493f //抢购中
$footerBtn-red: #fac3c3 //满标审核
$footerBtn-lightblue: #aee4f0 //还款中
$footerBtn-grey: #dadada //已还款

