
//页面字体大小，背景颜色
$body-fontSize: .6rem
$body-fontColor: .6rem
$body-backgroundColor: #efeff4

//下边距
$margin-bottom: 0.55rem

//头部颜色、高度、字体大小
$head-backgroundColor: #4e7cda
$head-fontColo: #fff
$header-height: 2.2rem
$header-fontSize: 0.85rem

//list 进度条颜色
$progress-backgroundColor: #abccf7
$list-titColor: #6b6b6b



