.recharge-loding
  font-size: $font-size12
  color: $color-grey-989898
  margin-top: 1rem
  text-align: center
.sanjiao
  width: 0
  height: 0
  border-bottom: 0.4rem solid transparent
  border-top: 0.4rem solid transparent
  border-left: 0.4rem solid #b6b6b6
  font-size: 0
  line-height: 0
  position: relative
  a
    width: 0
    height: 0
    border-bottom: 0.3rem solid transparent
    border-top: 0.3rem solid transparent
    border-left: 0.3rem solid #fff
    font-size: 0
    line-height: 0
    position: absolute
    right: 0.1rem
    top: -0.3rem
.center
  display: -webkit-box
  -webkit-box-pack: center
  -webkit-box-align: center

.recharge-binding-bank
  background: #ffffcb
  font-size: $font-size12
  color: $color-grey-6b6b6b
  padding: .25rem .75rem
  display: -webkit-box
  margin-bottom: .75rem
  .binding-sign
    -webkit-box-flex: 1
  .close-binding
    width: 3.1rem
    display: -webkit-box
    -webkit-box-align: center
    -webkit-box-pack: end
    img
      width: 1.1rem
      height: 1.1rem
.recharge-body
  padding: 0 .75rem

  .recharge-count
    display: -webkit-box
    -webkit-box-align: center
    border-radius: $boder-radius
    height: 2.2rem
    font-size: $font-size12
    color: $color-grey-989898
    background: #fff
    border: 1px solid $border-color
    text-align: center
    margin-bottom: $margin-bottom
    .count-txt-left
      width: 4rem
    .count-input
      display: block
      -webkit-box-flex: 1
      height: 100%
      line-height: normal
      text-align: left
      border: 0
      background: #fff
      -webkit-appearance: none
      &::-webkit-input-placeholder
        color: $color-grey-b6b6b6
    .count-txt-right
      width: 2.2rem
    .recharge-select
      color: $color-grey-b6b6b6
      background: url("/static/imgs/mobile/select_icon.png") no-repeat right .75rem center #fff
      background-size: .9rem
  .recharge-btn
    color: #fff
    font-size: $font-size18
    height: 2.45rem
    line-height: 2.45rem
    text-align: center
    background: $color-db493f
    border-radius: $boder-radius
    &:active
      box-shadow: $active-shadow
  .binding-bank-href
    margin-bottom: 1rem
    color: $color-4e7cda
    font-size: $font-size12
    text-align: right

.recharge-bank-edit
  padding-left: .75rem
  background: #fff
  margin-bottom: .75rem
  .bank-count
    display: -webkit-box
    -webkit-box-align: center
    border-radius: $boder-radius
    height: 2.2rem
    font-size: $font-size12
    color: $color-grey-989898
    background: #fff
    border-bottom: 1px solid $border-color
    text-align: center
    &:last-child
      border-bottom: none
  .bank-txt-left
    width: 4rem
    text-align: left
  .bank-input
    -webkit-box-flex: 1
    display: block
    height: 100%
    line-height: normal
    text-align: left
    border: 0
    background: #fff
  .recharge-select
    color: $color-grey-989898   
    -webkit-appearance: none
    margin-left: -.1rem
    background: url("/static/imgs/mobile/select_icon.png") no-repeat right .75rem center #fff
    background-size: .9rem
  .bank-txt-right
    width: 2.2rem
    height: 100%
    @extend .center
    img
      width: .9rem
      height: 1rem
      margin-right: .15rem
    span
      display: block
      @extend .sanjiao
.recharge-none-card
  padding-top: .75rem
.card-hide
  display: none

.recharge-select-bank
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0,0,0,.6)
  display: -webkit-box
  -webkit-box-pack: center
  -webkit-box-align: center
  padding: 0 1rem
  .select-bank-body
    border-radius: .6rem
    background: #fff
    border: 1px solid $color-grey-e8e8e8
    padding: 0 .25rem
    width: 100%
    font-size: $font-size12
    color: $color-grey-989898
  .select-bank-tit
    text-align: center
    height: 2.5rem
    line-height: 2.5rem
  .select-bank-list
    display: -webkit-box
    -webkit-box-pack: center
    padding: .5rem 0
    border-top: 1px solid $color-grey-e8e8e8
  .bank-type
    width: 2.5rem
    height: 2.5rem
    line-height: 2.5rem
    text-align: center
  .bank-img
    @extend .bank-type
  .bank-cont
    -webkit-box-flex: 1
    text-align: left
    p:first-child
      font-size: $font-size14




