.regist-process-img
  padding:  1.5rem
  img
    display: block
    width: 100%
    height: auto

.regist-process-dec
  text-align: center
  color: $color-db493f
  font-size: $font-size12
  margin-top: 1rem
.back-index-warp
  padding: 1rem 0
  text-align: center
  font-size: $font-size14
  color: #5DB5F2


@mixin bgitem($name, $imgName)
  .#{$name}
    background: url("/static/imgs/mobile/process/#{$imgName}.png") no-repeat
    background-size: 100%

  .#{$name}-active
    background: url("/static/imgs/mobile/process/#{$imgName}_active.png") no-repeat
    background-size: 100%


.regist-process-form

  //实名认证姓名
  .authentication-name
    width: rem(36)
    height: rem(45)
  +bgitem('name-icon', 'name')

  //实名认证身份证
  .authentication-card
    width: rem(36)
    height: rem(50)

  +bgitem('idcard-icon', 'idcard')

  .form-mg-first
    height: .9rem

  .binding-bank
    width: rem(37)
    height: rem(36)
  +bgitem('bank-icon', 'bank')

  .binding-bankcard
    width: rem(37)
    height: rem(29)
  +bgitem('bankcard-icon', 'card')

  .binding-bankphone
    width: rem(36)
    height: rem(45)
  +bgitem('bankphone-icon', 'phone')

  .binding-validation
    width: rem(37)
    height: rem(36)
  +bgitem('validation-icon', 'code')

  .binding-amount
    width: rem(37)
    height: rem(31)
  +bgitem('amount-icon', 'money')