.reward-card-warp
  padding: 1rem .5rem

.reward-card-list

  .reward-card
    color: #fff
  @media screen and (max-device-width: 374px)
    .reward-card
      color: #000


  .unused
  .used
  .expired
