

.tran-warp,.tran-alert-error, .tran-alert-entry, .tran-alert-lock
  display: none
  position: fixed
  top: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0,0,0,.3)
  .tran-mask, .tran-alert-mask
    height: 100%
    display: -webkit-box
    -webkit-box-pack: center
    -webkit-box-align: center
    padding: 0 1rem
  .tran-main,.alert-main
    position: relative
    width: 100%
    background: #fff
    border-radius: .2rem
    overflow: hidden
  .tran-loading
    display: none
    -webkit-box-align: center
    position: absolute
    top: 0
    bottom: 0
    width: 100%
    height: 100%
    background: rgba(255,255,255,.8)
    z-index: 99
  .tran-head
    display: -webkit-box
    -webkit-box-align: center
    color: #666
    font-size: .8rem
    border-bottom: 1px solid #5DB5F2
    padding: .6rem .75rem
  .head-title
    -webkit-box-flex: 1
  .tran-close
    width: .7rem
    height: .7rem
    background: url("/static/imgs/mobile/password/close.png") no-repeat center
    background-size: 100%

  .tran-sign
    text-align: center
    font-size: .75rem
    color: #999
    margin: 1.5rem 0
    line-height: 2

  .tran-input
    position: relative
    padding: 0 rem(14) rem(63) rem(14)
    overflow: hidden
    input
      position: absolute
      top: 0
      left: -9999rem
      outline: 0
    .six-digt-password
      position: relative
      height: 2.5rem
      border: 1px solid #E5E5E5
      border-radius: .2rem

      i,span, label
        position: relative
        display: inline-block
        width: 16.66%
        height: 100%
        border-left: 1px solid #E5E5E5
        &:first-child
          border-left: 0
      span
        visibility: hidden
        pointer-events: none
        position: absolute
        top: 0
        left: 0
        border: 1px solid rgba(82, 168, 236, .8)
        -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.75), 0 0 .3rem rgba(82, 168, 236, 0.6)
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 .3rem rgba(82, 168, 236, 0.6)
        border-radius: .2rem
        transition: -webkit-transform 0ms linear
        -webkit-transform: translate3d(0, 0,0)
      b
        position: absolute
        top: 50%
        left: 50%
      .circle
        display: none
        width: .5rem
        height: .5rem
        border-radius: .3rem
        background: rgba(0,0,0, .5)
        margin: -.25rem 0 0 -.25rem
      .line
        width: .1rem
        height: 1rem
        background: rgba(0,0,0,.5)
        margin: -.5rem 0 0 -.05rem
        -webkit-animation-duration: 600ms
        animation-duration: 600ms
        -webkit-animation-fill-mode: both
        animation-fill-mode: both
        -webkit-animation-iteration-count: infinite
        animation-iteration-count: infinite
        opacity: 0
    .active
      .line
        -webkit-animation-name: activeLine
        animation-name: activeLine
@-webkit-keyframes activeLine
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes activeLine
  0%
    opacity: 0
  100%
    opacity: 1


.tran-alert-error,.tran-alert-entry, .tran-alert-lock
  font-size: .75rem
  text-align: center
  .tran-dec
    color: #666
    padding: 1.25rem 0 .75rem 0
    img
      display: block
      width: rem(142)
      height: rem(142)
      margin: 0 auto  .75rem auto
    .error, .success
      display: none
  .tran-dec-entry
    padding: 2rem 0
  .alert-bottom
    padding: .8rem 0
    color: #5DB5F2
    border-top: 1px solid #e5e5e5
  .lock-bottom
    display: -webkit-box
    border-top: 1px solid #e5e5e5
    color: #5DB5F2
    .lock-close, .lock-back
      -webkit-box-flex: 1
      width: 50%
      padding: .8rem 0
    .lock-close
      border-right: 1px solid #e5e5e5

.trade-warp
  padding: 0 .5rem
  font-size: .75rem
  color: #666
  text-align: center
  .trade-head

    margin: rem(90) 0 rem(60) 0
  .no-mag
    margin-bottom: 0

  .trade-bank-dec
    text-align: left
    padding-left: .5rem
    font-size: .6rem
    line-height: 1.9
    color: #ccc
  .trade-dec-safe
    margin: 2rem 0 1rem 0
    span
      background: url("/static/imgs/mobile/password/beat.png") no-repeat left center
      background-size: 1rem
      font-size: .6rem
      padding: .2rem 0 .2rem 1.2rem
