.value-information
  border-bottom: 1px solid $border-color
  -webkit-flex-flow: column
  padding-top: 0
  background: #fbfbfb
  .information-one
    padding-left: 0.75rem
    background: #ffffff
    color: #989898
    font-size: $body-fontSize
    line-height: 2.2rem
    height: 2.2rem
    position: relative
    label
      margin-left: 1.1rem
      color: #6b6b6b
  .line
    border-bottom: 1px solid $border-color
    margin-left: 0.75rem
.value-main
  padding: 0.55rem .75rem
  .value-input-check-main
    margin-top: 0.55rem
    display: -webkit-box
    .value-input-check-body
      -webkit-box-flex: 1
    .value-input-check
      width: 5rem
      font-size: $font-size12
      text-align: right
    .request-check
      display: inline-block
      width: 4.75rem
      height: $regitst-input-height
      line-height: $regitst-input-height
      text-align: center
      background: #fff
      color: $color-4e7cda
      border-radius: $regitst-border-radius
      border: 1px solid $color-grey-e8e8e8
      font-size: 0.6rem
      &:active
        box-shadow: $active-shadow
    .alreay-request
      border: 1px solid #addaa5
      color: $color-grey-989898
  .value-input-body
    display: -webkit-box
    padding: .3rem .75rem
    height: $regitst-input-height
    border-radius: $regitst-border-radius
    border: 1px solid $color-grey-e8e8e8
    background: #fff
  .value-input-public
    -webkit-box-flex: 1
    width: 100%
    height: 1.5rem
    line-height: 1.5rem
    border: 0
    display: block
    font-size: $font-size14
    &::-webkit-input-placeholder
      font-size: $font-size10
      color: $color-grey-b6b6b6
  .value-input-name
    font-size: $font-size12
    color: $color-grey-989898
    width: $regitst-inputName-width
    line-height: 1.5rem
    height: 1.5rem
    text-align: left
  .value-submit
    margin-top: 0.55rem
    .value-submit-body
      background: $color-db493f
      font-size: .85rem
      color: #fff
      height: 2.45rem
      width: 100%
      line-height: 2.45rem
      text-align: center
      border-radius: $regitst-border-radius
      border: 0
      &:active
        box-shadow: $active-shadow

