.body_wrap
  font-size: 0
.banner
  width: 100%
  display: block
  height: auto
.small_title
  font-size: 0.6rem
  line-height: 0.85rem
  color: #fff
  text-shadow: 1px 1px #810812
  text-align: center
  max-height: 99999rem
.big_title_1
  margin: 0 auto
  display: block
  width: 72.8%
  max-height: 99999rem
.small_title_2
  padding: 0.65rem
  line-height: 0.75rem
  font-size: 0.6rem
  color: #fff
  text-align: center
  text-shadow: 1px 1px #980700
  max-height: 99999rem
.main_wrap
  width: 95%
  margin: 0 auto
  display: block
  .title_top
    padding: 0.65rem
    line-height: 0.75rem
    font-size: 0.6rem
    color: #fff
    text-align: center
    text-shadow: 1px 1px #980700
    max-height: 99999rem
  .red_wrap
    width: 100%
    display: inline-block
    .red_box
      width: 46%
      display: block
    .red_box_1
      float: left
    .red_box_2
      float: right
    .red_box_3
      margin: 1rem auto
      clear: both
  .button
    width: 40.5%
    display: block
    margin: 0 auto
  .title_bottom
    width: 100%
    line-height: 1.25rem
    padding: 0.5rem 0 0
    text-align: center
    font-size: 0.6rem
    color: #fff
    max-height: 99999rem
    @media screen and (max-device-width: 371px)
      font-size: 0.5rem
    span
      cursor: pointer
      color: #00ffb4
    .select
      color: #fff
  .rule_wrap
    width: 100%
    background: #bc0a00
    border-radius: 0.25rem
    padding: 0 0.375rem
    display: block
    margin: 0 auto 0
    height: 0
    overflow: hidden
    position: relative
    left: 0
    top: 0.5rem
    .title
      padding-top: 0.3rem
      font-size: 0.7rem
      color: #fff
      line-height: 1.05rem
      max-height: 99999rem
      text-align: center
    p
      font-size: 0.6rem
      color: #fff
      line-height: 0.8rem
      max-height: 99999rem
      #go_experience
        cursor: pointer
        color: #00ffb4
    .last
      height: 0.625rem
.big_title_2
  margin: 0.875rem auto 0
  display: block
  width: 51.6%
.reward_wrap
  width: 100%
  display: block
  .reward_box
    width: 46%
    padding-bottom: 0.875rem
  .reward_box_left
    float: left
  .reward_box_right
    float: right
.act_rule
  width: 95%
  display: block
  margin: 0 auto
  padding: 0.4rem 0.375rem 0.575rem
  .title
    width: 100%
    text-align: center
    font-size: 0.9rem
    color: #fff
    font-weight: bold
    max-height: 99999rem
    line-height: 2.375rem
  p
    width: 100%
    line-height: 0.85rem
    font-size: 0.6rem
    color: #fff
    max-height: 99999rem