.mid-gold
  width: 95%
  background: #273071
  border-radius: 1rem
  margin: 0 auto
  margin-top: 0.85rem
  padding-bottom: 0.575rem
  .title
    font-size: 0.625rem
    color: #fff
    text-align: center
    font-weight: bold
    line-height: 2rem
    max-height: 99999rem
  .mid-img
    width: 90%
    margin: 0 auto
    //background: url("/static/imgs/mobile_activity/app-mid-autumn/free.jpg") no-repeat center center
    img
      width: 100%
  .git-btn
    width: 8.425rem
    height: 2rem
    font-size: 0.85rem
    color: #fff
    background: #ea463c
    border-radius: 1rem
    text-align: center
    line-height: 2rem
    margin: 0.675rem auto
    font-weight: bold
    box-shadow: 0px 5px 0px #c2150b
  .quan-rule
    width: 3rem
    height: 1.5rem
    margin: 0 auto
    font-size: 0.6rem
    color: #f26515
    font-weight: bold
    background: url("/static/imgs/pc_activity/mid-autumn/biao.jpg") no-repeat center bottom
  .ul-rule
    font-size: 0.55rem
    margin-top: 1rem
    padding: 0 0.5rem
    display: none
    li
      line-height: 1rem
      color: #b66626
  .touzi1
    font-size: 0.525rem
    color: #ea463a
    text-align: center
    span
      color: #faea58
  .quan1
    width: 10.35rem
    height: 4.85rem
    margin: 1rem auto
    img
      width: 100%
  .zhu
    font-size: 0.575rem
    line-height: 1.25rem
    width: 90%
    margin: 0 auto
    color: #fff

.mid-tit
  width: 95%
  height: 2.85rem
  background: url("/static/imgs/mobile_activity/app-mid-autumn/tit2.jpg") no-repeat center center
  margin: 0 auto
  margin-top: 0.5rem
  background-size: 100% 100%

