@charset "utf-8"
html
  font-size: 20px
  background: #efeff4
html *
  outline: none
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-box-sizing: border-box
html,body
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td,hr,button,article,aside,footer,header,hgroup,menu,nav,section
  margin: 0
  padding: 0
input,select,textarea
  font-size: 100%
table
  border-collapse: collapse
  border-spacing: 0
img
  border: 0
ol,ul
  list-style: none
h1,h2,h3,h4,h5,h6
  font-size: 100%
  font-weight: 500
a
  text-decoration: none
  cursor: auto
  color: inherit
  &:visited
    color: inherit

body
  background: #fc9300
.banner
  position: relative
  img
    width: 100%
  .receive_box
    position: absolute
    width: 100%
    text-align: center
    bottom: .45rem
    padding: 0 1.825rem
.my_experience_gold
  margin-top: 1rem
  border-top: 2px dashed #d56900
.title
  padding: 1.325rem 3.25rem 1.475rem
  text-align: center
  .title_img
    background: url(/static/imgs/mobile_activity/app_experience/title.png)
    background-size: 100% 100%
    color: #ffffff
    font-size: .9rem
    height: 2.35rem
    line-height: 2.075rem
.assets_list
  display: -webkit-box
  padding: .8rem
  .assets_box
    -webkit-box-flex: 1
    margin: .5rem 1rem 0
    width: 50%
    .box
      margin-top: .5rem
      background: #ffeed3
      border-radius: .25rem
      padding: .925rem 0
      p
        text-align: center
      .pt
        color: #d0314b
        font-size: .6rem
      .pb
        font-size: .825rem
        color: #f45e37
        font-family: '[FZLTTHK]'
        margin-top: .6rem
.project
  padding: 1rem .8rem
  .project_detail
    background: #ffeed3
    border-radius: .25rem
    h5
      padding: .75rem 0 .75rem .65rem
      color: #d0314b
      font-size: .75rem
    .detail_font_box
      display: -webkit-box
      padding-bottom: 1.3rem
      .detail_font
        -webkit-box-flex: 1
        text-align: center
        line-height: .875rem
      .p2
        -webkit-box-flex: 1.5
      .pt
        color: #f45e37
        font-size: .75rem
      .pb
        color: #fc8f02
        font-size: .5rem
    .project_btn
      text-align: center
      padding-bottom: 1.3rem
      a
        background: #f45e37
        color: #ffffff
        font-size: .75rem
        display: inline-block
        width: 5.85rem
        height: 1.95rem
        line-height: 1.95rem
        text-decoration: none
        border-radius: .25rem
.look_more
  text-align: center
  color: #c66032
  font-size: .5rem
  span
    display: inline-block
    i
      background: url(/static/imgs/mobile_activity/app_experience/more.png) center no-repeat
      background-size: cover
      width: .65rem
      height: .5rem
      display: inline-block
.history-list
  padding: 0 .8rem
  height: 0
  overflow: hidden
  .border-top
    height: .2rem
    background: #7c3109
    border-radius: .2rem
  .table_box
    -moz-box-shadow: 0px 5px 5px #d8be97 inset
    -webkit-box-shadow: 0px 5px 5px #d8be97 inset
    box-shadow: 0px 5px 5px #d8be97 inset
    margin: -0.1rem .2rem 0
    padding: 0.5rem .45rem 0
    background: #ffeed3
    border-bottom-left-radius: .25rem
    border-bottom-right-radius: .25rem
    table
      font-size: .246rem
      width: 100%
      table-layout: fixed
      border-collapse: collapse
      width: 100%
      thead
        background: #f7deb6
        padding: .35rem 0
        th.last
          width: 2.725rem

      tr:nth-child(even)
        background: #fffaf1
      td
        text-align: center
        color: #3e3e3e
        padding: .35rem 0
.re_box
  padding: 1.825rem 0 2.55rem
  .rule_list
    position: relative
    img
      width: 100%
      position: absolute
      margin-bottom: 2rem
    ul
      width: 100%
      position: absolute
      left: 0
      top: 0
      font-size: .4rem
      max-height: 99999999999rem
      padding: 2rem 1.5rem
      li
        list-style-type: inherit
        display: -webkit-box
        margin-bottom: 1rem
        span
          display: block
          width: .675rem
          height: .725rem
          background: url(/static/imgs/mobile_activity/app_experience/jinbi.png) center no-repeat
          background-size:  cover
          margin-right: .7rem
        .rule_content
          -webkit-box-flex: 1
          line-height: .75rem
          .rule_content_top
            color: #624838
          .rule_content_bt
            color: #705848
          .p_last
            margin-top: 1.175rem
            color: #705848
      .title
        text-align: center
        color: #d03144
        font-size: .5rem
        display: block
        padding: 0








