.body_wrap
  font-size: 0
.banner
  width: 100%
  display: block
  height: auto
.big_title
  font-size: 0.6rem
  line-height: 0.85rem
  color: #fff
  text-shadow: 1px 1px #810812
  text-align: center
.big_title_1
  padding: 0.175rem 0 0.15rem
.title_img_1
  margin: 0 auto
  display: block
  width: 72.8%





