.clear:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden; }

html, body {
  width: 100%;
  height: auto;
  position: relative; }

.continer {
  width: 100%;
  height: auto; }

.scratch_continer {
  width: 100%;
  height: auto; }
  .scratch_continer .img_banner {
    width: 100%;
    height: auto; }
  .scratch_continer .scratch_logo {
    width: 2.25rem;
    height: 2.85rem;
    background: url("/static/imgs/mobile_activity/app_scratch/gg_logo.png") no-repeat;
    background-size: 100% auto;
    position: absolute;
    left: 20px;
    top: 0; }

.scratch_box {
  width: 100%;
  height: auto;
  background: url("/static/imgs/mobile_activity/app_scratch/gg_beijing.png") no-repeat;
  background-size: 100% 100%;
  margin-top: -36%;
  position: relative;
  padding-top: 20%; }
  .scratch_box .scratch_envelope {
    width: 92%;
    height: auto;
    margin-left: 4%; }
    .scratch_box .scratch_envelope .img_envelope {
      width: 100%;
      height: auto; }
  .scratch_box .unAuthenticated {
    width: 92%;
    height: 3.75rem;
    background: #df9e02;
    border-radius: 10px;
    margin-left: 4%;
    margin-top: 0.75rem;
    line-height: 3.75rem;
    text-align: center;
    color: #fff;
    font-weight: bold; }
  .scratch_box .scratch_tub {
    width: 92%;
    height: 3.75rem;
    background: #df9e02;
    border-radius: 10px;
    margin-left: 4%;
    margin-top: 0.75rem;
    padding-top: 30px; }
    .scratch_box .scratch_tub .sceatch_text {
      width: 52%;
      height: 2.2rem;
      background: #fff;
      border-radius: 10px;
      margin-left: 25px;
      padding-top: 0.5rem;
      float: left; }
      .scratch_box .scratch_tub .sceatch_text .tub {
        width: 0.8rem;
        height: 1.2rem;
        background: url("/static/imgs/mobile_activity/app_scratch/gua_tub.png") no-repeat;
        background-size: 100% auto;
        display: block;
        margin-left: 0.5rem;
        float: left; }
      .scratch_box .scratch_tub .sceatch_text .txt {
        width: 75%;
        height: 1.2rem;
        font-size: 0.57rem;
        border: none;
        float: left;
        margin-left: 0.25rem; }
    .scratch_box .scratch_tub .scratch_btn {
      width: 30%;
      height: 2.2rem;
      display: block;
      background: #dc493f;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      float: right;
      margin-right: 25px;
      color: #fff;
      text-align: center;
      line-height: 2.2rem;
      font-size: 0.7rem; }
  .scratch_box .sceatch_opportunity {
    width: 80%;
    height: 2.2rem;
    background: #36123e;
    color: #fff;
    text-align: center;
    line-height: 2.2rem;
    font-size: 0.7rem;
    border-radius: 10px;
    margin: 30px 10%; }
  .scratch_box .sceatch_mouth {
    width: 90%;
    height: auto;
    margin-left: 5%; }
    .scratch_box .sceatch_mouth img {
      width: 100%;
      height: auto; }
  .scratch_box .main {
    width: 80%;
    height: auto;
    margin-left: 10%;
    position: relative;
    margin-top: -40px; }
    .scratch_box .main .demo {
      width: 100%;
      height: auto; }
      .scratch_box .main .demo .imgs {
        width: 100%;
        height: auto; }
      .scratch_box .main .demo .spans {
        width: 100%;
        position: absolute;
        top: 50%;
        z-index: 0;
        font-size: 30px;
        color: red;
        font-weight: bold;
        display: block;
        margin-top: -25px;
        text-align: center; }
  .scratch_box .sceatch_continue {
    width: 7.5rem;
    height: 2.2rem;
    background: #dc493f;
    border-radius: 10px;
    display: block;
    margin: 25px auto;
    color: #fff;
    text-align: center;
    line-height: 2.2rem;
    font-size: 0.65rem; }
  .scratch_box .sceatch_information {
    width: 100%;
    height: auto;
    border-top: 1px #d49200 solid;
    padding-top: 30px;
    margin-top: 25px; }
    .scratch_box .sceatch_information img {
      width: 90%;
      height: auto;
      margin-left: 5%; }
    .scratch_box .sceatch_information .textbox {
      width: 90%;
      height: auto;
      margin-left: 5%;
      line-height: 36px;
      font-size: 0.55rem;
      color: #aa6e00; }
      .scratch_box .sceatch_information .textbox span {
        width: 10%;
        display: inline-block;
        float: left;
        font-size: 0.75rem; }
      .scratch_box .sceatch_information .textbox p {
        width: 90%;
        float: left; }
  .scratch_box .sceatch_foot {
    width: 100%;
    height: 3.5rem;
    background: #cc9102;
    margin-top: 0.5rem; }
    .scratch_box .sceatch_foot .foot_copyright {
      width: 30%;
      height: auto;
      display: block;
      float: left;
      margin-left: 20px;
      margin-top: 30px; }
      .scratch_box .sceatch_foot .foot_copyright img {
        width: 100%; }
    .scratch_box .sceatch_foot .foot_crbtn {
      width: 45%;
      height: auto;
      background: #DB493F;
      float: right;
      margin-right: 20px;
      margin-top: 30px;
      position: relative;
      font-size: 0.6rem;
      color: #fff;
      line-height: 2rem;
      border-radius: 10px;
      text-indent: 10%; }
      .scratch_box .sceatch_foot .foot_crbtn img {
        width: 15%;
        height: auto;
        position: absolute;
        top: 10px;
        left: 10px; }

.dask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none; }
  .dask .delog {
    width: 300px;
    height: 200px;
    background: url("/static/imgs/mobile_activity/app_scratch/delog.png") no-repeat;
    background-size: 100% 100%;
    padding: 5px 25px;
    position: absolute;
    min-height: 300px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px; }
    .dask .delog h3 {
      font-size: 26px;
      color: #aa6e00;
      text-align: center;
      line-height: 40px; }
    .dask .delog a {
      width: 60%;
      height: auto;
      background: #DB493F;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      display: block;
      text-align: center;
      line-height: 60px;
      color: #ffffff;
      margin: 0 auto;
      margin-top: 30px; }
    .dask .delog .close {
      width: 50px;
      height: 50px;
      background: url("/static/imgs/mobile_activity/app_scratch/guanb.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
      right: -30px;
      top: 0; }

/*# sourceMappingURL=app_scratch.css.map */
