.body_wrap
  .clear
    clear: both
  .section
    width: 100%
  .section_1
    background: #a4c23f
    padding: 0.55rem 0
    img
      position: absolute
      width: 11.5%
      left: 12.5%
      top: 25.5%
      display: block

  .popup_box
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 999
    display: none
    background: rgba(0,0,0,0.7)
    .main
      width: 60%
      position: absolute
      left: 50%
      top: 50%
      margin: -3rem 0 0 -30%

      float: none
      background: #fff
      border-radius: 0.5rem
      z-index: 99
      padding-bottom: 0.9rem
      .textairport
        width: 100%
        text-align: center
        line-height: 0.85rem
        font-size: 0.6rem
        padding: 1.875rem 1rem 1.15rem
        color: #222
      .popup_button
        margin: 0 auto
        width: 53%
        height: 1.25rem
        line-height: 1.25rem
        text-align: center
        display: block
        background: #a4c23f
        border-radius: 0.5rem
        color: #fff
        font-size: 0.6rem
      .close_popup
        position: absolute
        right: 0.375rem
        top: 0.275rem
        z-index: 999
        width: 4.5%
        min-width: 0.5rem
        min-height: 0.5rem
        display: block