.body_wrap
  font-size: 0
  width: 100%
  overflow: hidden
  .banner
    width: 100%
    display: inline-block
    background: url("/static/imgs/mobile_activity/app_european_cup/banner_bg.jpg")
    font-size: 0
    .banner_img_2
      background: url("/static/imgs/mobile_activity/app_european_cup/banner_img2.jpg") no-repeat center top
      background-size: 100%
      width: 100%
      display: inline-block
      padding-bottom: 0.8rem

      .banner_main
        width: 89.6%
        display: block
        margin: 0 auto
        background: rgba(0,0,0,0.1)
        border-radius: 0.75rem
        position: relative
        padding: 0.75rem 0.55rem 0.35rem 1rem
        img
          width: 20.9%
          display: block
          position: absolute
          right: 6.6%
          top: 0.5rem
        dl
          width: 100%
          padding-bottom: 0.35rem
          dt
            color: #fdfeaf
            font-size: 0.65rem
            line-height: 1.1rem
            max-height: 9999rem
          dd
            color: #fff
            font-size: 0.55rem
            line-height: 0.95rem
            max-height: 9999rem
          dd.s
            padding-top: 0.35rem
            color: #b3d465
            font-size: 0.5rem
            line-height: 0.9rem
            max-height: 9999rem
  .men_top
    width: 100%
    display: block
  .section
    width: 100%
    background: url("/static/imgs/mobile_activity/app_european_cup/cao.jpg") center top
    background-size: 100%
    display: inline-block
    font-size: 0
    .section_main
      width: 100%
      padding: 0 8.75%

      margin: 0 auto
      display: inline-block
      padding-top: 0.8rem
      background: url("/static/imgs/mobile_activity/app_european_cup/cao_line.png") center top
      background-size: 100% 100%

      dl
        width: 100%
        margin: 0 auto 0.65rem
        display: block
        clear: both
        position: relative

        dt
          color: #fdfeaf
          font-size: 0.65rem
          line-height: 1rem
          position: absolute
          left: 0
          top: 0
          width: 3.5rem

          z-index: 2
          font-weight: bold
          max-height: 9999rem

        dd
          width: 100%

          padding-left: 3.5rem
          color: #fffffe
          font-size: 0.65rem
          line-height: 1rem
          max-height: 9999rem
      .small
        color: #fffdb4
        font-size: 0.5rem
        line-height: 0.9rem
        padding: 0 0 0.8rem
        max-height: 9999rem
      dl.long
        dt
          width: 4.1rem
        dd
          padding-left: 4.1rem

      .qiu_img_2
        width: 38%
        display: block
        margin: 0 auto 0.75rem
      .big
        color: #fff
        font-size: 0.65rem
        line-height: 1.05rem
        max-height: 9999rem
        padding-bottom: 0.5rem

      .qiu_button
        width: 35%
        height: 1.2rem
        line-height: 1.2rem
        color: #fff
        text-align: center
        font-size: 0.6rem
        border-radius: 0.5rem
        background: #eca909
        box-shadow: 0 5px #eca909
        display: block
        margin: 0 auto 0.8rem

      .small_2
        color: #a4c23f
        font-size: 0.45rem
        line-height: 0.9rem
        padding: 0 0 0.25rem
        max-height: 9999rem
        width: 100%
        text-align: center
    .men_bottom
      width: 100%
      display: block
      padding-bottom: 2rem







