.body_wrap
  font-size: 0
  width: 100%
  overflow: hidden
  .banner
    width: 100%
    display: block
    position: relative
  .section
    width: 100%
    display: inline-block
    .box
      width: 100%
    .section_button
      display: block
      margin: 0 auto 1.25rem
      width: 48.2%
  .section_1
    background: url("/static/imgs/mobile_activity/app_center_film_ticket/section_1_bg.jpg") no-repeat
    background-size: 100% 100%
    .title_big
      padding-top: 1.25rem
      width: 26.4%
      display: block
      margin: 0 auto
    .box_wrap
      width: 100%
      padding: 1.4rem 0 0 0
      display: inline-block
      font-size: 0
      .img
        width: 100%
        display: block
        clear: both
      .img_ico
        padding-bottom: 1.01rem
      .text_box
        width: 100%
        display: inline-block
        padding: 0.6rem 4% 1.3rem
        .text
          color: #ffc139
          line-height: 0.85rem
          font-size: 0.6rem
          float: left
          width: 50%
          text-align: center
          display: block
          @media screen and (max-device-width: 370px)
            font-size: 0.5rem
          @media screen and (max-width: 370px)
            font-size: 0.5rem
  .section_2
    background: #ffc139
    .title_big
      padding-top: 1rem
      width: 46.1%
      display: block
      margin: 0 auto
    .box_wrap
      width: 100%
      padding: 1.15rem 0 1.5rem 0
      display: inline-block
      font-size: 0
      .img
        width: 100%
        display: block
        clear: both
  .section_3
    background: url("/static/imgs/mobile_activity/app_center_film_ticket/section_3_bg.jpg") no-repeat
    background-size: 100% 100%
    .title_big
      padding-top: 1rem
      width: 46.1%
      display: block
      margin: 0 auto
    .box_wrap
      padding-top: 1rem
      .percentage_box
        width: 77.3%
        display: block
        margin: 0 auto
        .th
          width: 100%
          background: #ffc139
          border-top-left-radius: 0.2rem
          border-top-right-radius: 0.2rem
          height: 2rem
          line-height: 2rem
          border-bottom: 2rem solid #e09a00
          color: #222
          font-weight: bold
          font-size: 0.9rem
          text-align: center
        .percentage_main
          background: #fff
          padding-top: 0.9rem
          width: 100%
          display: inline-block
          border-bottom-left-radius: 0.2rem
          border-bottom-right-radius: 0.2rem
          .num
            color: #da483e
            font-size: 1.7rem
            font-weight: bold
            width: 42%
            text-align: center
            float: left
            display: block
            line-height: 1.8rem
            span
              font-size: 0.85rem
          .num_1
            text-align: right
            padding-right: 7%
          .num_2
            text-align: left
            padding-left: 7%
          .line
            width: 15.5%
            height: 0.15rem
            background: #da483e
            display: block
            float: left
            position: relative
            top: 0.85rem
            left: 0
          .dl
            padding: 0.35rem 0 0.6rem
            text-align: center
            clear: both
            width: 100%
            dt
              line-height: 0.75rem
              color: #da483e
              font-size: 0.6rem
              font-weight: bold
            dd
              padding: 0.6rem 0 0.4rem
              line-height: 0.8rem
              color: #999999
              font-size: 0.5rem
              font-weight: bold
      .section_button
        padding-top: 2.15rem
  .section_4
    background: #ffc139
    .title_big
      padding: 1rem 0 0.75rem
      width: 45.8%
      display: block
      margin: 0 auto
    .box_wrap
      padding: 0 5% 1.375rem
      width: 100%
      display: inline-block
      @media screen and (max-device-width: 370px)
        padding: 0 3% 1.375rem
      @media screen and (max-width: 370px)
        padding: 0 3% 1.375rem

      .box
        float: left
        width: 50%
        padding-top: 0.75rem
        img
          display: block
          margin: 0 auto
        .dl
          padding-top: 0.2rem
          width: 100%
          text-align: center
          dt
            font-size: 0.75rem
            font-weight: bold
            color: #212121
            line-height: 0.95rem
            padding-bottom: 0.125rem
          dd
            color: #333
            font-size: 0.6rem
            line-height: 0.875rem
            @media screen and (max-device-width: 370px)
              font-size: 0.52rem
            @media screen and (max-width: 370px)
              font-size: 0.52rem
  .section_5
    width: 100%
    background: #222
    padding: 0.75rem 0 2.6rem
    .section_5_box
      width: 93.5%
      margin: 0 auto
      display: block
      .big_title
        font-size: 0.8rem
        color: #ffc139
        line-height: 1.3rem
        padding-bottom: 0.65rem
        max-height: 9999rem
      p
        line-height: 0.875rem
        color: #ffc139
        font-size: 0.6rem
        max-height: 9999rem
        span
          color: #fb1f10
          text-decoration: underline
          cursor: pointer
        span.open
          color: #fff
      p.indent_1
        text-indent: 1em
      p.indent_2
        text-indent: 2em
      .slide_text
        height: 0
        overflow: hidden



