.experience-detail-box
  margin: 1rem
  .detail-boxs
    position: relative
    .new-user-icon
      position: absolute
      width: 4.35rem
      height: 4.35rem
      background: url(/static/imgs/mobile_activity/app_experience_detail/iconfront_label_tyj.png) no-repeat
      background-size: cover
      right: 0
      top: 0
    .boxs-bg
      img
        width: 100%
        display: block
    .box1-content
      background: #fff
      padding: 0 8.5%
      p
        color: #9B9B9B
        font-size: .6rem
        text-align: center
        span
          font-size: 1.2rem
        label
          font-size: .45rem
      p.p3
        padding: .3rem 0
      .line
        background: url(/static/imgs/mobile_activity/app_experience_detail/line.jpg) center no-repeat
        background-size: cover
        width: 100%
        height: .2rem
        margin: 0 auto
      .mt1
        margin-top: 1rem
      .tyj
        text-align: center
        color: #FF4C2E
        padding: 1.5rem 0
        span
          font-size: 2.5rem
        label
          font-size: .9rem
      .account-info
        padding: 1rem 0
        height: 3.3rem
        line-height: 1.25rem
        border-bottom: 1px solid #E5E5E5
        span
          float: left
          color: #666
          font-size: .6rem
        a
          color: #FF4C2E
          border: 1px solid #FF4C2E
          text-align: center
          border-radius: .3rem
          display: inline-block
          width: 4rem
          height: 1.25rem
          line-height: 1.25rem
          float: right
          font-size: .6rem
      .tyj-info
        padding: 1rem .5%
        .money-info
          height: 1rem
          span
            font-size: .6rem
            color: #666
            i
              color: #FF4C2E
              font-style: normal
          .fl
            float: left
          .fr
            float: right
        .end-times
          padding: .5rem 0 1rem
          font-size: .6rem
          color: #666
          text-align: center
        .tyj-pop
          font-size: .9rem
          color: #FF4C2E
      .investment-btn
        margin-top: -1px
        a
          width: 100%
          height: 2.5rem
          line-height: 2.5rem
          color: #fff
          font-size: .75rem
          background: #FF4C2E
          display: inline-block
          text-align: center
          border-radius: 10px
  .rule-box
    margin-top: 1.5rem
    .rule-content
      background: #fff
      padding: 0 8.5%
      .rule-detail
        text-align: right
        color: #5DB5F2
        font-size: .6rem
        border-bottom: 1px solid #E5E5E5
        padding-bottom: .5rem
        a
          i
            background: url(/static/imgs/mobile_activity/app_experience_detail/more.png) center no-repeat
            background-size: cover
            width: .625rem
            height: .625rem
            display: inline-block
            vertical-align: middle
            margin: 0 0 0 .3rem
      h3
        font-size: .6rem
        color: #666
        margin-top: .75rem
      .rule-c
        display: -webkit-box
        padding: .5rem 0 1rem
        .rule-icon
          -webkit-box-flex: 1
          width: 2.5rem
        .rule-d
          -webkit-box-flex: 1
          font-size: .6rem
          color: #666
          padding-left: 1rem
      .line
        background: url(/static/imgs/mobile_activity/app_experience_detail/line.jpg) center no-repeat
        background-size: cover
        width: 100%
        height: .2rem
        margin: 0 auto




