.banner
    width: 100%
    img
        width: 100%
        height: auto
.open_title
    width: 30%
    margin-left: 35%
    margin-top: 2rem
    img
        width: 100%
    p
        font-size: 0.425rem
        color: #585858
        text-align: center
        line-height: 1.6rem
    span
        width: 1.6rem
        height: 0.15rem
        background: #ea5d58
        margin: 0 auto
        display: block
.open_list
    width: 80%
    height: auto
    margin: 22px 10% 0 10%

    li
        width: 100%
        height: 1.875rem
        border-bottom: 1px solid #585858
        span
            width: 1.125rem
            height: 1.75rem
            display: block
            float: left
            margin-right: 30px
            img
                width: 100%
        input
            width: 55%
            height: 1rem
            background: transparent
            border: none
            color: #888888
            font-size: 0.5rem
        a
            width: 3.75rem
            height: .625rem
            color: red
            line-height: .85rem
            font-size:  .45rem
            margin-left: .125rem
.open_btn
    width: 6.15rem
    height: 1.175rem
    background: #ea5d58
    -webkit-border-radius: .5875rem
    -moz-border-radius: .5875rem
    -ms-border-radius: .5875rem
    -o-border-radius: .5875rem
    border-radius: .5875rem
    display: block
    color: #ffffff
    font-size: .675rem
    text-align: center
    line-height: 1.175rem
    font-weight: bold
    margin: 1.2rem auto

    
.open_text
    width: 80%
    margin-left: 10%
    line-height: .65rem
    font-size: .45rem
    color: #888888
.open_footers
    width: 100%
    height: 2rem
    background: #303030
    margin-top: 60px
    padding-top: .25rem
    p
        font-size: .45rem
        color: #ffffff
        line-height: .65rem
        width: 80%
        margin-left: 10%
        text-align: center
.mesg
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: #000000
    opacity: .5
    z-index: 9
    display: none
.dialog
    width: 10rem
    height: 5rem
    background: #ffffff
    position: fixed
    left: 50%
    top: 50%
    margin-left: -5rem
    margin-top: -2.5rem
    z-index: 99
    display: none
    p
        margin: 1rem .5rem
        font-size: .35rem
        text-align: center
    a
        width: 3.75rem
        height: .75rem
        background: red
        color: #ffffff
        text-align: center
        line-height: .75rem
        margin: 0 auto
        display: block
        font-size: .35rem

