.banner
  width: 100%
  display: block
.body_main
  width: 100%
  .top_title
    width: 100%
    padding: 0 6% 0.85rem
    text-align: center
    font-size: 0.5rem
    color: #ebc92c
    height: 1.6rem
    line-height: 0.75rem
  .big_title
    width: 100%
    text-align: center
    font-size: 0.9rem
    color: #1bfdea
    height: 1.35rem
    line-height: 1.35rem
  .act_text
    width: 90%
    margin-left: 5%
    text-align: center
    font-size: 0.6rem
    color: #ebc92c
    padding-bottom: 0.875rem
    line-height: 1.05rem
  .red_wrap
    width: 100%
    padding: 0 2.5% 1rem
    position: relative
    display: inline-block
    .red_box
      float: left
      width: 28%
      display: block
      text-align: center
      .red_img
        width: 100%
        display: block
    .first
      float: left
    .last
      float: right
    .second
      position: absolute
      left: 50%
      margin-left: -14%
    .text
      font-size: 0.4rem
      color: #fff
      height: 0.55rem
      line-height: 0.55rem
  .button
    clear: both
    width: 34.5%
    display: block
    margin: 0 auto
    img
      width: 100%
      display: block
  .button_text
    width: 90%
    margin-left: 5%
    text-align: center
    font-size: 0.5rem
    color: #fff
    padding: 0.4rem 0 0
    line-height: 0.8rem
    max-height: 99999rem
  dl.rule
    padding-bottom: 0.65rem
    width: 90%
    margin: 0 auto
    display: block
    color: #ccc
    dt
      width: 100%
      font-size: 0.85rem
      font-weight: bold
      height: 2.75rem
      line-height: 2.75rem
      max-height: 99999rem
    dd
      width: 100%
      font-size: 0.5rem
      line-height: 0.7rem
      max-height: 99999rem