.banner
  width: 100%
  display: block
.module_title
  width: 100%
  padding: 1.2rem 0.5rem 0.85rem
  display: block
.act_wrap
  width: 100%
  padding: 0 2.5rem

  .box
    width: 100%
    display: block
    padding-top: 1rem
    .title_img
      width: 100%
      display: block
    .main
      width: 100%
      border: 1px #dedede solid
      border-top: none
      border-radius: 0 0 5px 5px
      background: #fff
      .title_text
        margin-bottom: 0.75rem
        height: 2rem
        border-bottom: 1px #dedede solid
        text-align: center
        color: #738289
        font-size: 0.7rem
        font-weight: bold
        line-height: 2rem
      .goods_wrap
        width: 100%
        padding: 0 0.2rem 1.2rem
        position: relative
        display: inline-block
        .goods
          width: 46%
          display: block
          img
            width: 100%
            display: block
          p
            text-align: center
            font-size: 0.7rem
            color: #738289
            padding-top: 0.2rem
            line-height: 0.75rem
        .goods_left
          float: left
        .goods_right
          float: right
        .add_ico
          position: absolute
          left: 50%
          top: 34%
          z-index: 2
          width: 6%
          margin: -3% 0 0 -3%
  .box_1
    padding-top: 0
  .box_3
    .goods_img
      width: 58%
      margin: 0 auto
      display: block
    p
      width: 100%
      text-align: center
      font-size: 0.7rem
      padding-top: 0.2rem
      color: #738289
      line-height: 2.45rem
  .button
    width: 60%
    display: block
    margin: 1rem auto 0.4rem
    img
      width: 100%
      display: block
.act_rule_button
  width: 25%
  text-align: center
  display: block
  font-size: 0.75rem
  margin: 0 auto
  line-height: 1.4rem
.act_rule_wrap
  width: 100%
  padding: 0 0.5rem
  color: #a15825
  max-height: 99999rem
  dl
    width: 100%
    display: inline-block
    clear: both
    font-size: 0.7rem
    color: #a15825
    dt
      float: left
      display: block
      width: 1rem
      line-height: 1.125rem
    dd
      float: left
      display: inline-block
      width: 90%
      line-height: 1.125rem











