.banner {
  width: 100%;
  display: block; }

.step_title {
  width: 100%;
  display: block; }

.step_wrap {
  width: 100%;
  position: relative;
  padding-top: 1.5rem;
  display: inline-block; }
  .step_wrap .title_bg {
    width: 100%;
    display: block; }
  .step_wrap .main {
    padding: 0.5rem 0 0.5rem;
    background: url("/static/imgs/mobile_activity/app_noviceDecember_h5/step_wrap_bg.png") no-repeat;
    background-size: 100% 100%; }
    .step_wrap .main .box {
      width: 100%;
      display: block;
      padding-top: 0.75rem; }
      .step_wrap .main .box .text_wrap {
        width: 100%;
        padding-left: 2rem;
        line-height: 50px; }
        .step_wrap .main .box .text_wrap .title {
          background: url("/static/imgs/mobile_activity/app_noviceDecember_h5/step_ico.png") no-repeat;
          background-size: cover;
          padding: 0 0.275rem 0 0;
          width: 3.3rem;
          height: 1.25rem;
          text-align: center;
          color: #fff;
          display: inline-block;
          font-size: 0.8rem;
          line-height: 1.25rem; }
        .step_wrap .main .box .text_wrap .title_long {
          background: url("/static/imgs/mobile_activity/app_noviceDecember_h5/step_ico_long.png") no-repeat;
          background-size: cover;
          padding: 0 0.275rem 0 0;
          width: 4.85rem;
          height: 1.25rem;
          text-align: center;
          color: #fff;
          display: inline-block;
          font-size: 0.7rem;
          line-height: 1.25rem; }
        .step_wrap .main .box .text_wrap p {
          font-size: 0.55rem;
          display: inline-block;
          height: 50px;
          color: #8a4b3d;
          line-height: 1.25rem; }
      .step_wrap .main .box img {
        display: block;
        width: 54%;
        margin: 0 auto;
        padding: 1rem 0 0.25rem; }
    .step_wrap .main .button {
      width: 5.5rem;
      height: 1.2rem;
      background: #e76527;
      text-align: center;
      color: #fff;
      font-size: 0.65rem;
      border-radius: 25px;
      box-shadow: 0 2px 2px 2px #fad6b2;
      margin: 0.375rem auto 0;
      line-height: 1.2rem; }
    .step_wrap .main .line {
      width: 86%;
      margin: 0 auto;
      display: block;
      height: 1px;
      border-bottom: 1px #8a4b3d dashed;
      margin-top: 0.65rem; }
    .step_wrap .main .zhuyi {
      width: 100%;
      text-align: center;
      color: #333;
      font-size: 0.6rem;
      height: 0.8rem;
      line-height: 0.8rem; }

.strategy_wrap {
  width: 100%;
  position: relative;
  padding-top: 1.5rem;
  font-size: 0; }
  .strategy_wrap .title_bg {
    width: 100%;
    display: block; }
  .strategy_wrap .main {
    padding: 0.5rem 0 0.5rem;
    background: url("/static/imgs/mobile_activity/app_noviceDecember_h5/strategy_wrap_bg.png") no-repeat;
    background-size: 100% 100%;
    display: inline-block; }
    .strategy_wrap .main .act_rule {
      width: 100%;
      padding: 0 7% 1.2rem 10%;
      display: inline-block;
      position: relative; }
      .strategy_wrap .main .act_rule .logo {
        position: absolute;
        right: 6%;
        bottom: -0.5rem;
        z-index: 2;
        width: 2.875rem; }
    .strategy_wrap .main dl {
      width: 100%;
      display: inline-block;
      clear: both;
      color: #8a4b3d;
      max-height: 99999rem; }
      .strategy_wrap .main dl dt {
        float: left;
        display: block;
        font-size: 0.6rem;
        width: 0.65rem;
        line-height: 1.05rem; }
      .strategy_wrap .main dl dd {
        float: left;
        display: inline-block;
        width: 90%;
        max-height: 99999rem;
        font-size: 0.6rem;
        color: #8a4b3d;
        line-height: 1.05rem; }
      .strategy_wrap .main dl .space {
        padding-left: 0.65rem; }
    .strategy_wrap .main p {
      width: 100%;
      display: inline-block;
      clear: both;
      color: #8a4b3d;
      max-height: 99999rem;
      font-size: 0.6rem;
      line-height: 1.05rem; }
      .strategy_wrap .main p span {
        color: #5ab1ed;
        font-size: 0.6rem;
        line-height: 1.05rem; }
    .strategy_wrap .main .rule_red {
      width: 100%;
      padding: 0 7% 1.2rem 10%;
      padding-bottom: 0.75rem;
      display: none; }
      .strategy_wrap .main .rule_red .title {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        color: #8a4b3d;
        line-height: 1.15rem; }
    .strategy_wrap .main .max_red {
      width: 100%;
      padding: 0.5rem 7% 0.75rem 10%; }
      .strategy_wrap .main .max_red .title {
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        color: #8a4b3d;
        line-height: 1.15rem; }
    .strategy_wrap .main .small_title {
      width: 100%;
      padding: 0.5rem 7% 1rem 10%;
      text-align: center;
      margin-top: 0.5rem;
      color: #e76527;
      font-size: 0.65rem;
      line-height: 1.25rem; }
      .strategy_wrap .main .small_title span {
        display: inline-block;
        width: 4.3rem;
        font-size: 0.65rem;
        background: url("/static/imgs/mobile_activity/app_noviceDecember_h5/small_title_ico.png") no-repeat;
        background-size: cover;
        padding-right: 0.275rem;
        height: 1.25rem;
        text-align: center;
        color: #fff;
        margin-right: 3px;
        line-height: 1.25rem; }

.strategy_wrap_show .main {
  background: url("/static/imgs/mobile_activity/app_noviceDecember_h5/strategy_wrap_bg_show.png") no-repeat;
  background-size: 100% 100%; }
  .strategy_wrap_show .main .rule_red {
    display: block; }

.recommend_send_red {
  width: 100%;
  position: relative;
  padding-top: 1.5rem;
  font-size: 0; }
  .recommend_send_red .title_bg {
    width: 100%;
    display: block; }
  .recommend_send_red .main {
    padding: 0.5rem 0 0.5rem;
    background: url("/static/imgs/mobile_activity/app_noviceDecember_h5/send_red_bg.png") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    width: 100%; }
    .recommend_send_red .main .talbe {
      width: 78%;
      height: 13.8rem;
      position: relative;
      margin: 0 auto;
      display: block; }
      .recommend_send_red .main .talbe .title_text {
        text-align: center;
        color: #8a4b3d;
        font-size: 0.65rem;
        width: 100%;
        padding-bottom: 0.6rem;
        display: inline-block;
        height: 1.8rem;
        line-height: 1.2rem; }
      .recommend_send_red .main .talbe .logo_img {
        position: absolute;
        left: 9.375%;
        top: 1.2rem;
        display: block;
        z-index: 2;
        width: 2.3rem; }
      .recommend_send_red .main .talbe ul {
        float: left;
        width: 33.33%; }
        .recommend_send_red .main .talbe ul li {
          width: 100%;
          height: 2rem;
          text-align: center;
          font-size: 0.6rem;
          color: #e76527;
          line-height: 2rem; }
        .recommend_send_red .main .talbe ul .first {
          background: #e76527;
          font-size: 0.6rem;
          color: #fff; }
        .recommend_send_red .main .talbe ul .second {
          color: #8a4b3d; }
        .recommend_send_red .main .talbe ul li.second {
          padding: 0.2rem 0;
          line-height: 0.8rem; }
        .recommend_send_red .main .talbe ul li:nth-child(2n+2) {
          background: #fff; }
        .recommend_send_red .main .talbe ul li:nth-child(2n+3) {
          background: #fddac9; }
      .recommend_send_red .main .talbe ul.second li:nth-child(2n+2) {
        background: #f7f7f7; }
      .recommend_send_red .main .talbe ul.second li:nth-child(2n+3) {
        background: #f5d3c3; }
    .recommend_send_red .main .small {
      width: 78%;
      margin: 1.2rem auto 0;
      display: block;
      font-size: 0.55rem;
      color: #8a4b3d;
      text-align: center;
      padding-bottom: 0.8rem;
      clear: both;
      line-height: 0.9rem; }
      .recommend_send_red .main .small span {
        color: #5ab1ed;
        text-decoration: underline;
        cursor: pointer; }
      .recommend_send_red .main .small span:hover {
        color: #e76527; }
    .recommend_send_red .main .red_use_rule {
      width: 100%;
      display: inline-block;
      display: none; }
      .recommend_send_red .main .red_use_rule .title {
        width: 100%;
        padding: 0;
        text-align: center;
        font-size: 0.8rem;
        color: #8a4b3d;
        line-height: 1.15rem; }
      .recommend_send_red .main .red_use_rule p {
        display: inline-block;
        width: 100%;
        max-height: 99999rem;
        font-size: 0.6rem;
        color: #8a4b3d;
        line-height: 1.05rem; }

.recommend_send_red_show .main {
  background: url("/static/imgs/mobile_activity/app_noviceDecember_h5/send_red_bg_show.png") no-repeat;
  background-size: 100% 100%; }
  .recommend_send_red_show .main .red_use_rule {
    display: block;
    width: 78%;
    margin: 0 auto;
    padding-bottom: 0.4rem; }

.how_recommend {
  width: 100%;
  color: #8a4b3d;
  padding: 1.2rem 1rem 0.75rem; }
  .how_recommend .title {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: #8a4b3d;
    line-height: 1.15rem; }
  .how_recommend p {
    max-height: 99999rem;
    font-size: 0.6rem;
    color: #8a4b3d;
    line-height: 1.05rem; }
  .how_recommend .button {
    width: 5.5rem;
    height: 1.2rem;
    font-size: 0.55rem;
    text-align: center;
    display: block;
    margin: 0.4rem auto 1rem;
    background: #e76527;
    color: #fff;
    box-shadow: 0 2px 2px 2px #fad6b2;
    border-radius: 25px;
    line-height: 1.2rem; }
  .how_recommend .step_img {
    width: 100%;
    margin: 0.75rem auto 1rem;
    display: block; }
  .how_recommend .red_rule {
    width: 100%;
    display: block; }
    .how_recommend .red_rule dl {
      width: 100%;
      clear: both;
      color: #8a4b3d;
      max-height: 99999rem; }
      .how_recommend .red_rule dl dt {
        float: left;
        display: block;
        font-weight: normal;
        font-size: 0.6rem;
        width: 0.65rem;
        line-height: 1.05rem; }
      .how_recommend .red_rule dl dd {
        float: left;
        display: inline-block;
        width: 90%;
        font-weight: normal;
        max-height: 99999rem;
        font-size: 0.6rem;
        color: #8a4b3d;
        text-align: left;
        line-height: 1.05rem; }
    .how_recommend .red_rule p {
      font-size: 0.6rem;
      color: #8a4b3d;
      width: 100%;
      clear: both;
      line-height: 0.8rem; }
    .how_recommend .red_rule .small {
      width: 100%;
      padding-right: 0.2rem;
      text-align: right;
      font-size: 0.6rem;
      font-weight: bold;
      height: 1.1rem;
      line-height: 1.1rem; }

.code_wrap {
  width: 100%;
  clear: both;
  position: relative;
  left: 0;
  top: 0;
  display: none; }
  .code_wrap .bg {
    width: 100%;
    display: block; }
  .code_wrap .img {
    position: absolute;
    top: 35.638%;
    right: 5.0666%;
    display: block;
    width: 14.666%; }
  .code_wrap .text {
    position: absolute;
    top: 79.574%;
    right: 5.0666%;
    display: block;
    width: 14.666%; }

.register_wrap {
  width: 100%;
  background: #fffcf4;
  height: 2.2rem;
  padding: 0.5rem 0; }
  .register_wrap .button {
    width: 5.5rem;
    height: 1.2rem;
    font-size: 0.65rem;
    text-align: center;
    display: block;
    margin: 0 auto;
    background: #e76527;
    color: #fff;
    box-shadow: 0 2px 2px 2px #fad6b2;
    border-radius: 25px;
    line-height: 1.2rem; }

.title_wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
  display: none; }
  .title_wrap .title_main {
    width: 48%;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -24%;
    border-radius: 15px;
    background: #fff; }
    .title_wrap .title_main .close {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 11px;
      top: 11px;
      z-index: 2;
      background: url("/static/imgs/pc_activity/noviceDecember/close_ico.png") no-repeat;
      cursor: pointer; }
    .title_wrap .title_main .close:hover {
      background: url("/static/imgs/pc_activity/noviceDecember/close_ico_hover.png") no-repeat; }
    .title_wrap .title_main .text {
      width: 100%;
      text-align: center;
      color: #3f3f41;
      font-size: 24px;
      padding-top: 45px;
      height: 111px;
      line-height: 66px; }
    .title_wrap .title_main .button {
      width: 200px;
      height: 40px;
      background: #e76527;
      text-align: center;
      color: #fff;
      font-size: 18px;
      border-radius: 25px;
      display: block;
      margin: 0 auto;
      box-shadow: 0 2px 2px 2px #fad6b2;
      line-height: 40px; }

/*# sourceMappingURL=app_noviceDecember_h5.css.map */
