html,body
    width: 100%
    height: auto
    background: #ffffff
.banner
    width: 100%
    height: auto
    img
        width: 100%
.open_title
    width: 30%
    margin-left: 35%
    margin-top: 1.15rem
    img
        width: 100%
    p
        font-size: 0.425rem
        color: #585858
        text-align: center
        line-height: 1rem
        margin-bottom: .45rem
    p.open_p1
        color: #ffffff
    span
        width: 1.6rem
        height: 0.15rem
        background: #ea5d58
        margin: 0 auto
        display: block
.open_title2
    margin-top: 0
.h5_house_text
    width: 84%
    text-align: center
    margin-left: 8%
    margin-top: .75rem
    font-size: .45rem
    color: #565757
.introbox
    width: 90%
    height: auto
    margin: .875rem auto 0 auto
    display: -webkit-box
    display: -moz-box
    display: -ms-box
    display: -o-box
    display: box
    -webkit-box-pack: justify
    -moz-box-pack: justify
    -ms-box-pack: justify
    -o-box-pack: justify
    box-pack: justify
    dl

        dt
            width: 2.5rem
            height: 2.8rem
            text-align: center
            margin: 0 auto
            img
                width: 100%
        dd
            font-size: .35rem
            text-align: center
            color: #565757
    dl.intro_dls1
        width: 21%
    dl.intro_dls2
        width: 21%
        dd
            width: 150%
            margin-left: -25%
    dl.intro_dls3
        width: 21%
    span
        width: 2rem
        height: .5rem
        display: block
        margin-top: .5rem
        img
            width: 100%
.intro_dls
    width: 4.625rem
    margin: .825rem auto .95rem auto
    dt
        width: 2.5rem
        text-align: center
        margin: 0 auto
        background: redw
        img
            width: 100%
    dd
        font-size: 14px
        text-align: center
        color: #565757
.triangle
    width: .5rem
    height: 1.5rem
    display: block
    margin: 0 auto
    img
        width: 100%
        margin: auto auto
.triangle2
    margin: 0 auto
.triangle3
    margin-top: -1rem
.h_arrange
    width: 100%
    height: auto
    background: #eee
    -webkit-box-sizing: border-box
    padding-top: 1.15rem
.h_arrange_ul
    width: 74%
    margin: .95rem 13% 0 13%
    li
        width: 12.25rem
        font-size: .4rem
        color: #585757
        a
            width: 2.125rem
            display: inline-block
        span
            width: 10rem
            display: inline-block
        .span2
            margin-left: 2.125rem
.h_house_login
    width: 100%
    height: auto
    background: url("/static/imgs/mobile_activity/h5_open_house/bg_tu.jpg") no-repeat center center
    background-size: 100%
    padding-top: 1.125rem

.open_list
    width: 80%
    height: auto
    margin: .55rem 10% 0 10%
    li
        width: 100%
        height: 1.875rem
        border-bottom: 1px solid #fff
        span
            width: 1.125rem
            height: 1.75rem
            display: block
            float: left
            margin-right: 30px
            img
                width: 100%
        input
            width: 55%
            height: 1rem
            background: transparent
            border: none
            color: #ffffff
            font-size: 0.5rem
        a
            width: 3.75rem
            height: .625rem
            color: red
            line-height: .85rem
            font-size:  .35rem
            margin-left: .125rem
.open_btn
    width: 6.15rem
    height: 1.175rem
    background: #ea5d58
    -webkit-border-radius: .5875rem
    -moz-border-radius: .5875rem
    -ms-border-radius: .5875rem
    -o-border-radius: .5875rem
    border-radius: .5875rem
    display: block
    color: #ffffff
    font-size: .675rem
    text-align: center
    line-height: 1.175rem
    font-weight: bold
    margin: 1.2rem auto
.zhuxiao_text
    width: 80%
    margin-left: 10%
    line-height: .65rem
    font-size: .45rem
    color: #ffffff
.wlb_text
    font-size: .45rem
    width: 80%
    margin: .75rem 10% 0 10%
    color: #565757
.wlb_box
    width: 80%
    height: auto
    margin: 50px 10% 0 10%
    display: -webkit-box
    -webkit-box-pack: justify
    dl
        width: 35%
        dt
            width:  2.5rem
            height: 3rem
            text-align: center
            line-height: 1.75rem
            margin: 0 auto
            img
                width: 100%
        dd
            h6
                text-align: center
                font-size: .6rem
            p
                text-align: center
                font-size: .5rem
    dl.wlb_dls3 dt
        width: 3rem
    dl.wlb_dls4 dt
        width: 4.5rem

    span
        width: 2rem
        height: .5rem
        display: block
        margin-top: .5rem
        img
            width: 100%
.wlb_xian
    width: 60%
    height: auto
    margin: 0 20%
    img
        width: 100%
.open_footers
    width: 100%
    height: 2rem
    background: #303030
    margin-top: 60px
    padding-top: .25rem
    p
        font-size: .45rem
        color: #ffffff
        line-height: .65rem
        width: 80%
        margin-left: 10%
        text-align: center
.mesg
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: #000000
    opacity: .5
    z-index: 9
    display: none
.dialog
    width: 10rem
    height: 5rem
    background: #ffffff
    position: fixed
    left: 50%
    top: 50%
    margin-left: -5rem
    margin-top: -2.5rem
    z-index: 99
    display: none
    p
        margin: 1rem .5rem
        font-size: .35rem
        text-align: center
    a
        width: 3.75rem
        height: .75rem
        background: red
        color: #ffffff
        text-align: center
        line-height: .75rem
        margin: 0 auto
        display: block
        font-size: .35rem
