.load_wlb
  background: #FE524C
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  .ld-banner
    width: 100%
    height: 74%
    background: url("/static/imgs/mobile_activity/load_wlb/load_bg_t.png")
    background-size: 100% 100%
    position: relative
    z-index: 1
    img
      display: none
  .ld-logo-box
    position: absolute
    top: 0.5rem
    left: 1rem
    z-index: 2
    img
      width: 5.25rem
  .ld-btn-box
    position: absolute
    text-align: center
    width: 100%
    bottom: -0.5rem
    z-index: 2
    .load-btn
      background: #fff
      display: inline-block
      width: 80%
      border-radius: 1.2rem
      height: 2.35rem
      line-height: 2.35rem
      color: #F03032
  .ld-load-info
    background: #FE524C
    margin-top: 1.25rem
    padding: 0 1rem
    display: -webkit-box
    text-align: center
    font-size: 0.6rem
    color: #F8E3AB
    line-height: 0.85rem
    .ld-info-item
      -webkit-box-flex: 1
    .item-icon
      width: 80%
      margin: 0 auto
      height: 2.5rem
      background: url("/static/imgs/mobile_activity/load_wlb/idg.png") center center no-repeat
      background-size: contain
    .item-txt
      margin-top: 0.4rem
    .item-icon2
      background-image: url("/static/imgs/mobile_activity/load_wlb/hongli.png")
    .item-icon3
      background-image: url("/static/imgs/mobile_activity/load_wlb/xiaohuoban.png")
    .item-icon4
      background-image: url("/static/imgs/mobile_activity/load_wlb/money.png")


