*
  margin: 0
  padding: 0
  box-sizing: border-box
.share
  background: url('/static/imgs/mobile_activity/share/bg.jpg') center center
  background-size: 100% 100%
  position: absolute
  width: 100%
  height: 100%
  min-height: 30.15rem
  .wx
    width: 6rem
    position: fixed
    right: -.6rem
    top: -.5rem
    display: inline-block
    height: 6.025rem
  .href
    width: 6rem
  .logo
    width: 100%
    text-align: center
    margin: 6rem 0 1rem
    img
      width: 3.35rem
  .money-style
    font-size: .9rem
    color: #ffffff
    text-align: center
  .operation
    width: 100%
    text-align: center
    margin-top: 4.825rem
    input,a
      width: 14.8rem
      height: 2.075rem
      line-height: 2.075rem
      text-align: center
      border-radius: .3rem
      font-size: .8rem
    input
      color: #999999
      border: 0 none
    p
      text-align: center
      height: 1.2rem
      line-height: 1.2rem
      font-size: .6rem
      color: #ffffff
    a
      color: #ffffff
      background: #cf473d
      display: inline-block
      text-decoration: none
  .fonts-style
    font-size: .6rem
    color: #ffffff
    text-align: center
    margin-top: .375rem
  .invitation
    width: 14.8rem
    font-size: .6rem
    color: #ffffff
    margin: 1rem auto 0
    line-height: 1rem
  .rule
    width: 100%
    position: absolute
    bottom: .675rem
    text-align: center
    label
      color: #ffffff
      font-size: .6rem
      span
        background: url('/static/imgs/mobile_activity/share/checked.png') center center
        width: .65rem
        height: .65rem
        vertical-align: -.1rem
        margin-right: .3rem
        display: inline-block
      .noChecked
        background: url('/static/imgs/mobile_activity/share/checkbox.png') center center
    a
      font-size: .6rem
      color: #cf473d
  .profit
    font-size: .9rem
    color: #ffffff
    text-align: center
    line-height: 1.5rem
  .code-remarks
    font-size: 0.6rem
    color: #ffffff
    text-align: center
    margin: 3.5rem 0 .5rem
  .code-img
    text-align: center
    img
      width: 8.475rem

.new-user
  background: #320e0d url('/static/imgs/mobile_activity/share/bg_new.jpg') center top no-repeat
  background-size: 100% auto
  position: absolute
  width: 100%
  height: 100%
  .wanglibao
    font-size: .9rem
    color: #ffffff
    text-align: center
    margin: 2.5rem 0 4.5rem
    line-height: 1.5rem
  .voucher
    text-align: center
    img
      width: 13.775rem
  .bonus
    text-align: center
    font-size: .65rem
    color: #ffffff
    margin: 1rem 0 2rem
    span
      color: #cf473d
      font-size: .7rem
  .download
    text-align: center
    a
      color: #edc844
      font-size: .65rem
  .go-register
    text-align: center
    margin-top: .825rem
    a
      width: 14.8rem
      height: 2.075rem
      line-height: 2.075rem
      text-align: center
      border-radius: .3rem
      font-size: .8rem
      color: #ffffff
      background: #cf473d
      display: inline-block
      text-decoration: none
.rule-win-content
  .title
    color: #ec6a18
    font-size: 0.8rem
  p
    color: #b66626
    font-size: 0.6rem
    margin-top: 0.575rem
.alertWin
  position: relative
  z-index: 100
  .share-icon
    background: url('/static/imgs/mobile_activity/share/share.png') center top no-repeat
    position: absolute
    right: 1rem
    top: 0
    width: 7.425rem
    height: 4.025rem
    background-size: 100% auto
  .share-content
    width: 12.225rem
    margin: 0 auto
    text-align: center
    color: #f3e740
    font-size: .75rem
    text-align: left
    line-height: 1.5rem
    padding-top: 10.25rem
    span
      color: #ec6743
.page
  position: fixed
  top: 0
  left: 0
  opacity: 0.8
  background: rgb(0, 0, 0)
  width: 100%
  height: 100%

.alertFont
  text-align: center
  font-size: .9rem
  color: #ec6a18



