doctype html

html
  head
    include include/common_head

  body
    include include/header
    include include/navigation
    .container
      .callback-content
        if true
          .success-icon
          h1 购买成功
          p
            您申购的
            span.highlight 10000
            元 银河货币基金，将在2-3个交易日内完成确认

        else
          .error-icon
          h1 购买失败
          p
            您申购的
            span.highlight 10000
            元 银河货币基金，购买失败，请尝试重新购买

        p
          您可以查看
          a.blue(href="#",title="全部购买记录") 全部购买记录
          ，或者回到
          a.blue(href="/",title="首页") 首页

        p.txt-info 客服电话：4008-588-066

    include include/footer
    include include/tracking