/*
Syntax error: The line was indented 2 levels deeper than the previous line.
        on line 5 of /Users/snow/Documents/project/wanglibao-backend/static/scss/pc_activity/partials/_bid.sass
        from line 2 of /Users/snow/Documents/project/wanglibao-backend/static/scss/pc_activity/bid.sass

1: /Users/snow/Documents/project/wanglibao-backend/static/scss/pc_activity/bid.sass

Backtrace:
/Users/snow/Documents/project/wanglibao-backend/static/scss/pc_activity/partials/_bid.sass:5
/Users/snow/Documents/project/wanglibao-backend/static/scss/pc_activity/bid.sass:2
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:457:in `tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:345:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:274:in `to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Library/Ruby/Gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Library/Ruby/Gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Library/Ruby/Gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:139:in `block in compile'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:138:in `compile'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:118:in `compile_if_required'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `each'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `block in run'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:100:in `run'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/commands/update_project.rb:45:in `perform'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/bin/compass:30:in `block in <top (required)>'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/bin/compass:44:in `call'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: The line was indented 2 levels deeper than the previous line.\A         on line 5 of /Users/snow/Documents/project/wanglibao-backend/static/scss/pc_activity/partials/_bid.sass\A         from line 2 of /Users/snow/Documents/project/wanglibao-backend/static/scss/pc_activity/bid.sass\A \A 1: /Users/snow/Documents/project/wanglibao-backend/static/scss/pc_activity/bid.sass"; }
