/*
Syntax error: Invalid property: "font-weight:" (no value).
        on line 201 of /Users/snow/Documents/project/wanglibao-backend/static/scss/pc_activity/january_reward.sass

Backtrace:
/Users/snow/Documents/project/wanglibao-backend/static/scss/pc_activity/january_reward.sass:201
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:612:in `parse_property'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:597:in `parse_property_or_rule'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:578:in `parse_line'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:471:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:490:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:480:in `block in build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:473:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:473:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:490:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:480:in `block in build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:473:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:473:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:490:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:480:in `block in build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:473:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:473:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:490:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:480:in `block in build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:473:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:473:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:490:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:480:in `block in build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:473:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:473:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:490:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:489:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:345:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Library/Ruby/Gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Library/Ruby/Gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Library/Ruby/Gems/2.0.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:139:in `block in compile'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:138:in `compile'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:118:in `compile_if_required'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `each'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `block in run'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/compiler.rb:100:in `run'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/commands/update_project.rb:45:in `perform'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/bin/compass:30:in `block in <top (required)>'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/bin/compass:44:in `call'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.3/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid property: \"font-weight:\" (no value).\A         on line 201 of /Users/snow/Documents/project/wanglibao-backend/static/scss/pc_activity/january_reward.sass"; }
