html
  head
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="baidu-site-verification", content="iBKXouRC1a")
    title 网利宝
    script(src="/static/js/src/require.js")
    script(src="/static/js/src/test.js")
  body
    .test
      h1 hello
