doctype html
html
  head
    - with '网利宝' as title
    title 网利宝
    - endwith
    meta(name="keywords", content="网利宝")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    meta(name="format-detection", content="telephone=no")
    link(rel="stylesheet",href="/static/stylesheets/weixin.css")
  body
      .top-i
          a.jiao
            img(src='/static/m_images/weixin_img/sanjiao.png')
          p 输入登入密码
      include m_include/weixin_kehuduan
      form.wei_deng
          label 登入密码
          input(type='text' placeholder='请输入密码')
      a.wei_hui 找回密码
      .wei_buttonn
        a 登入
      .wei_kefu
          p
           |客服电话
           label 4008-588-066

  script(src="/static/m_js/m_lib/jquery.min.js")
  script(src="/static/m_js/weixin.js")