doctype html
html
  head
    - with '网利宝' as title
    title 网利宝
    - endwith
    meta(name="keywords", content="网利宝")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    meta(name="format-detection", content="telephone=no")
    link(rel="stylesheet",href="/static/m_stylesheets/weixin.css")

  body(style='background: url(/static/m_images/weixin_img/ban.jpg) no-repeat;background-size:cover;')
      .top-i
          a.jiao
            img(src='/static/m_images/weixin_img/sanjiao.png')
          p 登录
      include m_include/weixin_kehuduan
      article
        img.wei_loge(src='/static/m_images/weixin_img/loginn.png')
        p 您&nbsp;&nbsp;的&nbsp;&nbsp;私&nbsp;&nbsp;人&nbsp;&nbsp;理&nbsp;&nbsp;财&nbsp;&nbsp;专&nbsp;&nbsp;家
        img(src='/static/m_images/weixin_img/yao.png').wei_zi
        .grent
            p 注册立享100元理财包+30元话费
        form(action='/mobile/account/redirect/' method='get' ).wei_for
            input(type='tel' placeholder='请输入手机号进行注册或登录', name='identifier').ipon
            button.judge 下一步
      script(src="/static/m_js/m_lib/jquery.min.js")
      script(src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js")
      script(src="/static/m_js/weixin.js?v=324j4jkj431112")
