doctype html
html
  head
    - with '网利宝' as title
    title 网利宝
    - endwith
    meta(name="keywords", content="网利宝")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    meta(name="format-detection", content="telephone=no")
    link(rel="stylesheet",href="/static/stylesheets/weixin.css")
  body(style='background: url(/static/m_images/weixin_img/ban.jpg) no-repeat; background-size: 100% 100%;')
      .top-i
          a.jiao
            img(src='/static/m_images/weixin_img/sanjiao.png')
          p 网利宝手机客户端
      include m_include/weixin_kehuduan
      .wei_ma
          h3 互联网私人银行
          h4 为了您的交易安全请到APP端进行投资
          img(src='/static/m_images/weixin_img/app.png')
      .download
          a 下&nbsp;载&nbsp;A&nbsp;P&nbsp;P















