doctype html
html
  head
    - with '网利宝' as title
    title 网利宝
    - endwith
    meta(name="keywords", content="网利宝")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    meta(name="format-detection", content="telephone=no")
    link(rel="stylesheet",href="/static/m_stylesheets/weixin.css")
  body(style='background:#fafafa; background-size:cover;')
      .top-i
          a.jiao
            img(src='/static/m_images/weixin_img/sanjiao.png').wei_fann
          p 账户注册
      include m_include/weixin_kehuduan
      form.wei_pss
          label 设置密码
          input(type='password', placeholder='请输入密码', maxlength='20').wei_pass#input
          //
          .line
          label 确认密码
          input(type='password', placeholder='请再次输入密码', maxlength='20').wei_quepass#input
      h2.weixin_ti
      form.wei_pss
          label &nbsp;&nbsp;验证码
          input(type='text' placeholder='短信验证码').wei_yan
          span(data-num="0")#btn 获取验证码
      h2.weixin_tq
      input(type='hidden' value='weixin')
      .wei_agree
          input(type='checkbox' checked='checked')#id
          label
              |我同意
              span
               a(href='/mobile/weixin_xieyi/') 网利宝用户协议
      h2.weixin_tw
      .wei_buttonn#wei_button
        a 完成
      //#wx-mobel-box
      //  #box
      //    //span#off ×
      //    p(style="border-bottom:none") 您已注册成功，请到网利宝官网进行投资理财
      //      br
      //      |官网网址：www.wanglibao.com
          //h1
          // a(href='tel:4008-588-066') 拨打电话 4008-588-066

      script(src="/static/m_js/m_lib/jquery.min.js")
      script(src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js")
      script(src="/static/m_js/weixin.js?v201504201")
