doctype html
html
  head
    - with '网利宝' as title
    title 网利宝
    - endwith
    meta(name="keywords", content="网利宝")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    meta(name="format-detection", content="telephone=no")
    link(rel="stylesheet",href="/static/stylesheets/weixin.css")
  body(style='background:#fafafa; background-size:cover;')
      .top-i
          a.jiao
            img(src='/static/m_images/weixin_img/sanjiao.png')
          p 邀请好友理财送...
      include m_include/weixin_kehuduan
      form.wei_pss
          input(type='hidden', name='identifier', value='{{ identifier }}')
          input(type='hidden', name='invite_code', value='{{ invite_code }}')
          label(style='width: 54%;') 请设置登入密码完成注册
          br
          label.phone_a 账号:{{ identifier }}
      form.wei_pss
          label(style='width: 20%;') &nbsp;&nbsp;验证码
          input(type='text' placeholder='短信验证码').yanma
          label(style='width: 30%;').wei_xin
      h2.weixin_ti
      form.wei_pss
          label(style='width: 20%;') 登入密码
          input(type='password' placeholder='请设置您的登入密码').passwordd
      h2.weixin_tq
      .wei_buttonn
        a 注册
      script(src="/static/m_js/m_lib/jquery.min.js")
      script(src="/static/m_js/weixin.js")