doctype html
html
  head
    - with '网利宝' as title
    title 网利宝
    - endwith
    meta(name="keywords", content="网利宝")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    meta(name="format-detection", content="telephone=no")
    link(rel="stylesheet",href="/static/stylesheets/weixin.css")
  body
      .top-i
          a.jiao
            img(src='/static/m_images/weixin_img/sanjiao.png')
          p 关于我们
      include m_include/weixin_kehuduan
      .wei_actice
          h2 网利金融
          p 网利金融是一家专注于中国市场的创新型金融机构，核心业务涵盖投资银行、私募基金、私人银行、财富管理、互联网金融等全金融产业链。我们的核心团队来自高盛、摩根斯坦利、美林等顶级国际投行，以及花旗、汇丰、星展银行等著名外资银行，拥有丰富的国内外金融行业经验，致力于为客户提供优质创新的金融服务。
          h2 网利宝
          p 网利宝（www.wanglibao.com）是北京网利科技有限公司旗下在线理财平台，致力于打造“中国第一家互联网私人银行”。以用户各自不同的理财需求为基础，根据每个用户的风险偏好、财务状况、家庭结构等因素，为用户量身定制出不同的理财配置方案。
          p.wei_shangtop 网利宝将凭借丰富的金融行业资源及互联网优势，联合“信托、券商、基金、银行理财、私募、公募、P2P、货币基金、保险”等类上下游金融机构进行业务合作，为用户提供一站式“安全、便捷、最优收益”的在线理财服务，致力于为客户的资产增值保驾护航。网利金融拥有自己的投行业务及金融产品研发团队，还将推出自主研发及发行的稀缺投资理财服务。
          .wei_idg
              img(src='/static/m_images/weixin_img/idg.png')
              b 2014年2月，网利宝获得国际知名风投IDG资本的千万美元A轮投资。自1992年开始，作为最早进入中国市场的国际投资机构之一，IDG资本已投资包括百度、腾讯、携程等200家优秀企业，并已有超过60家企业在美国、中国香港、中国A股证券市场上市，或通过M&A成功退出。













