.prize-all
       .span6
           img(src="/static/images/gold/awards_bg.jpg").prize-jiangli
       .span6-omega
           ul.prize-all-right
               li 1、 累计购买满130万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span 送
                  |iPhone 6 Plus（16G 5.5英寸）
               li 2、 累计购买满100万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span 送
                  |iPhone 6（16G 4.7英寸）
               li 3、 累计购买满80万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span 送
                  |华为mate7 4G版手机（16G）
               li 4、 累计购买满50万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span 送
                  |iPad Air 2（16G WLAN）
               li 5、 累计购买满40万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span 送
                  |iPad mini3（16G WLAN）
               li 6、 累计购买满30万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span 送
                  |1000元京东礼品卡
               li 7、 累计购买满10万
                  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  span 送
                  |300元京东礼品卡
               li 8、 累计购买满1万-9万
                  &nbsp
                  |每满1万元
                  &nbsp
                  span 送
                  |30元话费