
.wry-act-footer
  .wry-act-copy
    div
      .footer-logo.footer-com.footer-one
      p
        span.footer-com.footer-two
        |官方微信：iwanglibao
        span.footer-com.footer-three
        |在线客服：4008 588 066
        span.footer-com.footer-four
        |客服电话：4008 588 066
      p.act-hot Copyright&copy;2014-2015 wanglibao.com Inc. All Rigth Reserved. 北京网利科技有限公司 此次活动解释权归网利宝官方网站所有
  .wry-act-img.footer-com.footer-five
  .wry-act-sao.footer-com.footer-six
