
style.
  .footer-down{display: -webkit-box; -webkit-box-align: center; position: fixed; bottom: 0; left: 0; width: 100%;
    color: #fff; background: rgba(0,0,0,.6); padding: .375rem 1.25rem .375rem .75rem;}
  .down-logo {width: 2.25rem; height: 2.25rem; margin-right: .375rem;}
  .down-logo img { display: block; width: 100%; height: 100%;}
  .down-desc{ -webkit-box-flex: 1;}
  .down-desc .company-name { font-size: .7rem}
  .down-desc .down-message{width: 6.5rem; height: .8rem; background: url("/static/imgs/mobile/footer_download/download-message.png") no-repeat center; background-size: 100%; }
  .down-btn { width: 3.75rem;}
  .down-btn p {font-size: .6rem; width: 100%; background: #DB493F; border-radius: .15rem; text-align: center; padding: .2rem 0;}
  .down-btn p:active{background: #C73026;}
  .down-close { position: absolute; right: 0; top: 0; width: .8rem; height: .8rem; background: url("/static/imgs/mobile/footer_download/close.png") no-repeat center; background-size: 100%; }

.footer-down#footer-down
  .down-logo
    img(src='/static/imgs/mobile/footer_download/logo.png')
  .down-desc
    p.company-name 网利宝
    p.down-message
  .down-btn#down-btn
    p 立即下载
  .down-close#close

script.
  (function(){
      var
          u = navigator.userAgent,
          close  =  document.getElementById('close'),
          down  =  document.getElementById('down-btn'),
          footer  =  document.getElementById('footer-down'),
          isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1,
          isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);

      close.onclick = function(){
          footer.style.display = 'none';
      }

      down.onclick = function(){
          if(isiOS){
            window.location.href = 'http://a.app.qq.com/o/simple.jsp?pkgname=com.wljr.wanglibao&g_f=991653';
          }else if(isAndroid){
            window.location.href = 'http://a.app.qq.com/o/simple.jsp?pkgname=com.wljr.wanglibao';
          }
      }
  })();

