
.center-pager
  ul
    li.pager-prev
      i.iconfont.icon.icon-flip
    li.pager-page-number 1
    li.pager-page-number 2
    li.pager-page-ellipsis ...
    li.pager-next
      i.iconfont.icon.icon-flip-right