
.center-pager
  ul
    li.pager-prev
      i.iconfont.icon.icon-flip-left
    li.pager-page-number.active 1
    li.pager-page-number 2
    li.pager-page-number 3
    li.pager-page-number 4
    li.pager-page-number 5
    li.pager-page-ellipsis ...
    li.pager-page-number 10
    li.pager-next
      i.iconfont.icon.icon-flip-right