- load formatters

for amo in amo_list
  tr
    td {{amo.term_date}}
    td {{amo.product_name}}
    td {{amo.term}}/{{amo.term_total}}
    td {{amo.total_interest}}
    td {{amo.settlement_status}}

