h1(style="font-size:16px;margin-bottom:20px;") 兑换优惠券
.row
  input(type="text", placeholder="请输入兑换码", style="display:inline-block;width:240px", name="token", autocomplete="off")
  input(type="button", value="兑换", style="height:40px;margin-left:10px").submit-button.button-primary.button-middle.exchange

