form.form#login-modal-form.login-form(method='POST', action='/accounts/login/ajax/')
  .form-row
    input#login_identifier.full-width(type="text", name="identifier", placeholder="请输入手机号")
    .form-row-error

  .form-row
    input#login_password.full-width(type="password", name="password", placeholder="请输入密码", autocomplete="off", maxlength=20)
    .form-row-error

  .form-row
    input#id_captcha_0(type="hidden", name="captcha_0", autocomplete="off")
    input#id_captcha_1.captcha(type="text", name="captcha_1", autocomplete="off", placeholder="请输入验证码", maxlength="4")
    img.captcha.captcha-img(alt="captcha", src="")
    //a.captcha-refresh(type="button", title="点击刷新验证码")
    button.captcha-refresh(type="button" style='color:rgb(16, 93, 195)') 刷新
    .form-row-error

  .form-row
    input(type="checkbox", name="remember_me")
    span.font-m.d3-text 记住我，一周内自动登录

  .form-row.form-bottom-bar
    button#login_submit.span12.button-account(type='submit') 登 录
    .remember-me
      a.forgot-password(href='{% url "password_reset" %}') 忘记密码？
  .space-vertical-s
