form#register-modal-form.login-form(method='post', action='/accounts/register/ajax/')
  - csrf_token
  .form-row
    .form-control-group
      .span7
        input#reg_identifier(type="text", name="identifier", placeholder="请输入手机号")
      .span5-omega
        button#button-get-validate-code-modal.button-orange.button-large(type='button',style="top:-2px") 获取验证码
    .form-row-error
  .form-row.voice.hidden
    .span12-omega
      没有收到验证码？请尝试<a href="/api/ytx/send_voice_code/" class="voice-validate">语音验证</a>
  #validate-code-container.form-row
    input#id_validate_code(type="text", name="validate_code", placeholder="请输入短信验证码", autocomplete='off', title="请输入短信验证码")
    .form-row-error
  .form-row
    input#reg_password.full-width(type="password", name="password", placeholder="请输入密码", autocomplete="off", maxlength="20")
    .password-strength-container
      span.password-strength-1 低
      span.password-strength-2 中
      span.password-strength-3 高
    .form-row-error
  .form-row
    input#reg_password2(type="password", name="password2", placeholder="请再次输入密码", autocomplete='off', title="请确认密码", maxlength="20")
    .form-row-error
  .form-row
    input#reg_password2(type="text", name="invitecode", placeholder="邀请码（选填）", autocomplete='off', title="邀请码")
    .form-row-error
  .form-row
    input#id_captcha_0(type="hidden", name="captcha_0", autocomplete="off")
    input#id_captcha_1.captcha(type="text", name="captcha_1", autocomplete="off", placeholder="请输入计算结果", maxlength="4")
    img.captcha.captcha-img(alt="captcha", src="")
    button.captcha-refresh(type="button" style='color:rgb(16, 93, 195)') 刷新
    .form-row-error
  .form-row.form-bottom-bar
    button#register_submit.button-account.span12(type='submit') 注 册
    .agreement
      label(for="agreement")
        input(type="checkbox", name="agreement", checked="checked", id="agreement", data-value="agree")
      | 我同意<a href="/agreement/" target="_blank">《网利宝注册协议》</a>
      .form-row-error
  .space-vertical-s
