mixin sidebar-item(name, link, target)
  unless target
    target = '_self'
  if activeItem == name or activeSubItem == name
    li.sidebar-item.active
      a(href=link, target=target)= name
  else
    li.sidebar-item
      a(href=link, target=target)= name

ul.sidebar
  +sidebar-item('账户总览', '/accounts/home/')
  +sidebar-item('充值', '/pay/banks/')
  +sidebar-item('红包', '/accounts/redpacket/unused/')
  +sidebar-item('提现', '/pay/withdraw/')

  - var classes = ['sidebar-item']
  if activeItem == '交易记录' or activeItem == '货基交易记录'
    classes = ['sidebar-item', 'active']
  li(class=classes)#sidebar-second
    a(href='/accounts/transaction/p2p/') 交易记录
  - var didplay = 'display:none'
  if activeItem == '交易记录' or activeItem == '货基交易记录'
      display = 'display:block'
  ul.sidebar-secondary(style=display)
    +sidebar-item('理财交易记录', '/accounts/transaction/p2p/')
    +sidebar-item('货基交易记录', '/accounts/transaction/fund/')

  +sidebar-item('银行卡', '/accounts/bankcard/')
  +sidebar-item('自动投标', '/accounts/auto_tender/')

ul.sidebar
  +sidebar-item('邀请奖励', '/accounts/invite/')
  +sidebar-item('实名认证', '/accounts/id_verify/')
  +sidebar-item('站内信', '/accounts/message/')
  +sidebar-item('我的收藏', '/accounts/favorite/')
  +sidebar-item('修改密码', '/accounts/setting/')
  +sidebar-item('激活迅雷会员', 'http://act.vip.xunlei.com/vip/2014/xlhyk/', '_blank')
  +sidebar-item('收货地址', '/accounts/address/')

