- load formatters

  if p2p and p2p.category == '票据'
    .p2p-detail-list.bill-note
      h1 常见问题

      dl
        dt 1.什么是银行承兑汇票？
        dd 银行承兑汇票是汇票的一种。是由在承兑银行开立存款账户的存款人出票，向开户银行申请并经银行审查同意承兑的，承兑银行承诺在指定日期无条件支付确定的金额给收款人或持票人的票据。对出票人签发的汇票进行承兑是银行基于对出票人资信的认可而给予的信用支持。
        dt 2.什么叫无条件兑付？
        dd 根据《票据法》相关规定：汇票是出票人签发的，委托付款人在指定日期无条件支付确定的金额给收款人或者持票人的票据。网利宝的银行票据项目中票据是银行承兑汇票，由承兑银行于票据到期后无条件兑付.
        dt 3. 银行票据项目安全吗？
        dd 安全。企业以合法持有的银行承兑汇票担保，票据到期后，承兑银行无条件兑付该银行承兑汇票，资金有保障。
        dt 4.项目没有募集成功怎么办？
        dd 网利宝将投资人因认购票据理财项目冻结的资金返还至投资人的网利宝账户。
        dt 5.银行承兑汇票由谁验真伪？
        dd 银行。
        dt 6.票据由谁保管？
        dd 银行。网利宝平台银行票据项目中银行承兑汇票均交由银行托管。
        dt 7.项目募集成功后，资金如何给到借款客户？
        dd 项目满标后，网利宝合作第三方支付机构将资金统一支付给借款客户。
        dt 8.项目到期后，投资人如何收回资金及收益？
        dd 借款客户还款或项目对应票据经托收解付后所得款项存入指定还款账户，由网利宝合作第三方支付机构将还款金额（包括本金及收益）返还至投资人网利宝账户。
        dt 9.到期以后多少天可以收到回款？
        dd 到期日后三个工作日以内。
