
.g-banner-warp
  .g-banner
    .test-banner(src='/static/imgs/pc/banner.jpg')
  .g-banner-login-warp.mod
    .g-banner-login
      .g-banner-bg
      .g-banner-cont
        .g-landed

        .g-unlanded
          .font-xxxll.t-d2.lh 13.0%
          .font-m.t-d4 平均年化收益率
          .font-m.t-d5.mg-t-s.mg-b-sm 账户资金由民生银行全额托管
          .unlanded-btn.font-m
            a(href="").unlanded-for-regist.mg-r-sm 快速注册
            a(href="").unlanded-for-login 登陆



