

.g-footer-warp
  .g-footer.mod
    .footer-container
      .span3.ft-mod
        .about
          .about-list
            .about-tit 关于网利宝
            a(href="/team") 管理团队
            a(href="/company") 公司展示
            a(href="/partner") 战略合作伙伴
            a(href="/milestone") 网利宝大事记
            a(href="/security") 安全保障
            a(href="/announcement") 网站公告
          .about-list
            .about-tit 加入网利宝
            a(href="/responsibility") 企业社会责任
            a(href="/hiring") 招贤纳士
            a(href="/contact_us") 联系方式
      .span4.ft-mod
        .follow
          .follow-list
            .follow-title
              i.icon.iconfont.icon-weixins
              |关注微信
            .follow-img.ft-weixin
          .follow-list
            .follow-title
              i.icon.iconfont.icon-weibos
              |关注微博
            a(href="http://weibo.com/u/5000682691").follow-img.ft-weibo
      .span5.ft-mod
        .footer-ex-warp
          .footer-ex
            .footer-kefu
              a(href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAxODg4N18yMDU1NjlfNDAwODU4ODA2Nl8yXw", target='_blank').ft-kefu-text 在线客服
            .ft-kefu-worktime 工作时间 9:00 - 20:00（法定节假日除外）
            .ft-kefu-phone-txt 客服服务热线：
            .ft-kefu-phone 4008-588-066
            .ft-adress 地址：北京市朝阳区东三环北路乙2号海南航空大厦A座7层（三元桥地铁站旁）
            .ft-adress Copyright©2015 wanglibao.com Inc. All Right Reserved.
            div 北京网利科技有限公司   京 ICP 备 14014548号-1

    .footer-authentication
      .atn-list
        a(href='https://www.instantssl.com/wildcard-ssl.html', class='atn-ssl', target='_blank')
        a(href='http://www.itrust.org.cn/Home/Index/itrust_certifi?wm=1091876832', class='atn-internet', target='_blank')
        a(href='https://credit.szfw.org/CX20150611010303010832.html', class='atn-trust', target='_blank')
