

.g-footer-warp
  .g-footer.mod
    .footer-container
      .span3.ft-mod.line-mod1
        .about
          .about-list
            .about-tit 公司信息
            a(href="/about") 关于我们
            a(href="/team") 媒体报道
            a(href="/company") 网利动态
            a(href="/announcement") 网站公告
            a(href="/hiring") 加入我们
          .about-list
            .about-tit 商务合作
            a(href="http://lianmeng.wanglibao.com/") 网利联盟
            a(href="/finance/") 贷款专区
      .span5.ft-mod.line-mod2
        .follow.clearfix
          .follow-list
            .follow-title
              i.icon.iconfont.icon-weixins.green
              | 关注订阅号
            .follow-img.ft-dingyue
          .follow-list
            .follow-title
              i.icon.iconfont.icon-weixins.green
              | 关注服务号
            .follow-img.ft-fuwu
          .follow-list
            .follow-title
              i.icon.iconfont.icon-weibos.green
              | 关注微博
            a(href="http://weibo.com/u/5000682691").follow-img.ft-weibo
        //.follow.follow-weibo
          .follow-list
            .follow-title
              i.icon.iconfont.icon-weibos
              a(href="http://weibo.com/u/5000682691").ft-weibo 网利宝官方微博
      .span4.ft-mod.line-mod3
        .footer-ex-warp
          .footer-ex
            .footer-kefu
              a(href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAxODg4N18yMDU1NjlfNDAwODU4ODA2Nl8yXw", target='_blank').ft-kefu-text 在线客服
            .ft-kefu-worktime 工作时间 9:00 - 20:00（法定节假日除外）
            .ft-kefu-phone-txt 客服服务热线：
            .ft-kefu-phone 4008-588-066
            .ft-adress 北京市朝阳区东三环北路乙2号海南航空大厦A座7层<br>(三元桥地铁站旁)
            .ft-adress Copyright©2015 wanglibao.com Inc. All Right Reserved.
            div 北京网利科技有限公司   京 ICP 备 14014548号-1

    .footer-authentication
      .atn-list
        a(href='https://www.instantssl.com/wildcard-ssl.html', class='atn-ssl', target='_blank')
        a(href='http://www.itrust.org.cn/Home/Index/itrust_certifi?wm=1091876832', class='atn-internet', target='_blank')
        a(href='https://credit.szfw.org/CX20150611010303010832.html', class='atn-trust', target='_blank')
        a(key ="564e795befbfb0089e77490e",logo_size="124x47", logo_type="business", href="http://www.anquan.org", id='safes')
          span#kx-mask-safes
          script( src="https://static.anquan.org/static/outer/js/aq_auth.js")
        style.
          .kx-verify-warp{position: relative;display: inline-block;margin-left: -3px;}
          #kx_verify img{height: 50px;}
          #kx-mask, #kx-mask-safes{position: absolute; top: 0; left: 0; display:inline-block; width:128px; height:50px;background: #000;opacity: 0.3;filter: alpha(opacity=70); cursor: pointer;z-index: 22;}
          #safes {position: relative}
          #kx-mask-safes{width: 140px}
          #safes img{width: 100%;display: block;height:100%;}
        span.kx-verify-warp
          span#kx-mask
          span#kx_verify
          script.

            (function (){var _kxs = document.createElement('script');_kxs.id = 'kx_script';_kxs.async = true;_kxs.setAttribute('cid', 'kx_verify');_kxs.src = ('https:' == document.location.protocol ? 'https://ss.knet.cn' : 'http://rr.knet.cn')+'/static/js/icon3.js?sn=e151125110108615827egl000000&tp=icon3';_kxs.setAttribute('size', 0);var _kx = document.getElementById('kx_verify');_kx.parentNode.insertBefore(_kxs, _kx);})();
            document.getElementById('kx-mask').onclick = function(){
              document.getElementById("kx_verify_link").click()
            };
          script.
            require(['/static/src/pc/footer.js?v=201602019'])
