

.g-footer-warp.mg-t-xl
  .g-footer.mod
    .footer-container.clearfix.padding-l-r-sm
      .span3.fl
        .about.t-d14
          .about-list.fl
            .t-d6.font-s 关于网利宝
            a(href="") 管理团队
            a(href="") 公司展示
            a(href="") 战略合作伙伴
            a(href="") 网利宝大事记
            a(href="") 安全保障
            a(href="") 网站公告
          .about-list.fl.mg-l-xl
            .t-d6.font-s 加入网利宝
            a(href="") 企业社会责任
            a(href="") 招贤纳士
            a(href="") 联系方式
      .span4
        .follow.t-d14
          .follow-list.fl.mg-l-sm
            .follow-title.font-s
              i.icon.iconfont.icon-weixin
              |关注微信
            .follow-img.ft-weixin
          .follow-list.fl.mg-l-sm
            .follow-title.font-s
              i.icon.iconfont.icon-weibo
              |关注微博
            .follow-img.ft-weibo
      .span5
        .footer-ad-warp.fr
          .footer-ad.fl.t-d14
            .footer-kefu.mg-b-s
              span.ft-kefu-icon
              span.font-s.ft-kefu-text 在线客服
            .mg-b-sm 工作时间 9:00 - 20:00（法定节假日除外）
            .font-m 7x24小时服务热线：
            .font-xxlll.phone.mg-b-sm 4008-588-066
            .mg-b-xs 地址：北京市朝阳区东三环北路乙2号海南航空大厦A座7层（三元桥地跌站旁）
            .mg-b-xs Copyright©2015 wanglibao.com Inc. All Right Reserved.
            div 北京网利科技有限公司   京 ICP 备 14014548号-1

    .footer-authentication
      .atn-list
        mixin atnlist(classname)
          a(href="/", class=classname)
        +atnlist('atn-report')
        +atnlist('atn-bank')
        +atnlist('atn-baidu')
        +atnlist('atn-goodcm')
        +atnlist('atn-wosign')
