if title != '网利宝' and request.path != '/'
  title {{title}}-网利宝
else
  title {{title}}
meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="baidu-site-verification", content="iBKXouRC1a")
meta(name="apple-itunes-app",content="app-id=881326898 affiliate-data=, app-argument=")
link(rel="dns-prefetch" href="//images.wanglibao.com")
link(rel='shortcut icon', href='/favicon.ico')
link(href="/static/styles/pc/iconfont.css", rel="stylesheet", type="text/css")
link(href="/static/styles/pc/pc.css?v=201512221", rel="stylesheet", type="text/css")
script(src="/static/src/pc/lib/require.js", data-main="/static/src/pc/config")
