if title != '网利宝' and request.path != '/'
  title {{title}}-网利宝
else
  title {{title}}
meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="baidu-site-verification", content="iBKXouRC1a")
meta(name="apple-itunes-app",content="app-id=881326898 affiliate-data=, app-argument=")
link(rel="dns-prefetch" href="//images.wanglibao.com")
meta(name="keywords", content="网利宝，网利宝官网，p2p金融，p2p理财，p2p网贷,P2p贷款,p2p平台，P2P网贷平台，互联网金融")
meta(name="description", content="网利宝（www.wanglibao.com）是中国领先的互联网金融p2p理财、p2p网贷平台，网利宝官网提供安全、精准的网贷平台投资及互联网金融服务，大型机构100%本息担保，保障投资人资金安全，P2P投资理财网贷客户首选的互联网金融平台。")
link(rel='shortcut icon', href='/static/images/favicon-128.png')
link(href="/static/styles/pc/iconfont.css", rel="stylesheet", type="text/css")
link(href="/static/styles/pc/pc.css?v=20150907", rel="stylesheet", type="text/css")
script(src="/static/src/pc/lib/require.js", data-main="/static/src/pc/config")
