
.g-nav-warp
  .g-nav
    a(href="/").g-logo-box
      img(src="/static/imgs/pc/logo/logo.jpg?v=2", alt='logo')
    .g-user-warp
      .g-user
        if activeItem == "我的账户"
          myacount = 'highlight'
        a(href="/accounts/home", class='{{myacount}}').user-nav
          i.icon.iconfont.icon-user
          span.user-text 我的账户
          i.icon.iconfont.icon-down
        ul.g-nav-user-nav
          mixin liItem(url, text)
            li
              a(href=url)=text
          +liItem('/pay/banks/', '我要充值')
          +liItem('/pay/withdraw/', '我要提现')
          +liItem('/accounts/auto_tender/', '自动投标')
          +liItem('/accounts/transaction/p2p/', '交易记录')
          if user.is_authenticated
            li
              a(href='/accounts/logout?next=/') 退出
    .g-nav-box
      mixin nav-item(name, link)
        if activeItem == name
            a.highlight(href=link)= name
        else
            a(href=link)= name
      +nav-item('首页', '/')
      +nav-item('理财专区', '/p2p/list/')
      +nav-item('新手指引', '/pc_guide/')
      +nav-item('安全保障', '/security')
      +nav-item('帮助中心', '/help')


