-load formatters
-load mathfilters

.i-mod-wrap.g-small-nav-warp

  .g-small-nav
    .g-samll-start
      .samll-nav-hotline 客服热线 ： 400-858-8066

      .samll-nav-wechat.samll-nav-animate 关注有惊喜
        .samll-wechat-hover
          .wechat-hover-body
            .wechat-hover-san
            img(src='/static/imgs/pc/nav/wechat_server.jpg')
            .wechat-hover-dec 关注网利宝微信

      .samll-nav-app.samll-nav-animate 网利宝APP
        .samll-wechat-hover
          .wechat-hover-body
            .wechat-hover-san
            img(src='/static/imgs/pc/nav/app_download_new.jpg')
            .wechat-hover-dec 下载网利宝APP

    .g-samll-end
      a(href='/data_cube/',target="_blank").samll-nav-guide 平台数据
      a(href='/pc_guide/').samll-nav-guide 新手指引
      a(href='/help/').samll-nav-guide 帮助中心
      if user.is_authenticated
        a(href='/accounts/home/').samll-nav-user {{user | display_name}}
        a(href='/accounts/logout?next=/').samll-nav-logout 退出
      else
        a(href='/accounts/login/').samll-nav-user 登录
        a(href='/accounts/register/').samll-nav-logout 免费注册

.g-nav-warp
  .g-nav
    a(href="/").g-logo-box
      img(src="/static/imgs/pc/logo/logo_80.jpg", alt='网利宝', class='logo_l')
      img(src="/static/imgs/pc/logo/logo_60.jpg", alt='网利宝', class='logo_s')
    .g-user-warp
      .g-user
        if activeItem == "我的账户"
          myacount = 'highlight'
        a(href="/accounts/home", class='{{myacount}}').user-nav
          i.icon.iconfont.icon-user
          span.user-text 我的账户
          i.icon.iconfont.icon-down
        ul.g-nav-user-nav
          mixin liItem(url, text)
            li
              a(href=url)=text
          +liItem('/pay/banks/', '我要充值')
          +liItem('/pay/withdraw/', '我要提现')
          +liItem('/accounts/auto_tender/', '自动投标')
          +liItem('/accounts/transaction/p2p/', '交易记录')

    .g-nav-box
      mixin nav-item(name, link, news)
        if activeItem == name
            a.highlight(href=link)= name
              if news
                img(src='/static/imgs/pc/nav/new.png').nav-news
        else
            a(href=link)= name
              if news
                img(src='/static/imgs/pc/nav/new.png').nav-news



      +nav-item('首页', '/')
      +nav-item('理财专区', '/p2p/list/')
      +nav-item('贷款专区', '/finance/')
      +nav-item('活动专区', '/activity/area/', 'new')
      +nav-item('安全保障', '/security')


