//-load formatters
doctype html
html.hight-total
  head
    title 首页
    include include/service_head.jade
  body.service-redpack-activity
    .top-tit
      .top-photo
        img(src="/static/imgs/sub_weixin/redpack_activity/iconfont_popup@2x.png")
      .top-tit 红包雨天天下 接多少看自己

