doctype html
- with '信托产品' as title
include include/head
- endwith
body
  include include/header

  - with '信托产品' as activeItem
  include include/navigation
  - endwith
  .sub-navbar
    .sub-navbar--list
      ul
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{% url 'trust_home' %}") 信托首页
        li.sub-navbar--list-item
          a.sub-navbar--anchor.active(href="{% url 'trust_product' %}") 信托产品
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{% url 'trust_company' %}") 信托公司

  .space-vertical-s

  .panel
    .panel-title-bar
      .panel-title 筛选条件
    table.trust-filter-container
      thead
        tr(data-bind="foreach: filters")
          th(colspan="1", data-bind="text: name, attr: {colspan: $data.values.length > 7 ? '2' : '1'}") 名字
      tbody
        tr(data-bind="foreach: filters")
          td(colspan="1")
            ul(data-bind="foreach: values.slice(0, 7)")
              li.vertical-filter-item
                a.filter-condition-item(href="#", data-bind="text: name, css:{active: $root.isFilterActive($data)}, click:$root.clickOnFilter") name
          // ko if: $data.values.length > 7
          td(colspan="1")
            ul(data-bind="foreach: values.slice(7)")
              li.vertical-filter-item
                a.filter-condition-item(href="#", data-bind="text: name, css:{active: $root.isFilterActive($data)}, click:$root.clickOnFilter") name
          // /ko

  .space-vertical-s
  .panel
    .panel-title-bar
      .panel-title 筛选结果

    .panel-content
      // ko template: {name: 'data-table', data: trustTable}
      // /ko

    // ko template: {name: 'pager', data: pager}
    // /ko

  .space-vertical-m
  include include/footer
  include include/templates

  script.
    require(['/static/js/trust_products.js'])

  include include/tracking