- load formatters

doctype html
- with '信托产品详情' as title
include include/head
- endwith
body
  include include/header

  - with '信托产品' as activeItem
  include include/navigation
  - endwith

  .sub-navbar
    .sub-navbar--list
      ul
        li.sub-navbar--list-item
          a.sub-navbar--anchor.active(href="{% url 'trust_home' %}") 信托首页
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{% url 'trust_product' %}") 信托产品
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{% url 'trust_company' %}") 信托公司

  .container
    .span8.panel-nopadding.panel-header
      .panel-product-title-bar
        #product_name.panel-product-title {{ trust.name }}
          if is_favorited != 1
            a#addToFavorite.button.button-pink.button-mini.pull-right(href="#", data-id="{{trust.id}}", data-is-favorited="{{is_favorited}}") 收藏
          else
            a#addToFavorite.button.button-pink.button-mini.pull-right(href="#", data-id="{{trust.id}}", data-is-favorited="{{is_favorited}}") 取消收藏

      .panel-inner
        .row
          .span5
            .padding-s {{ trust.brief }}
          .span7-omega
            .span4
              .card-icon
                dl
                  dt 预期收益
                  dd.highlight {{ trust.expected_earning_rate | percentage }}
            .span4
              .card-icon
                dl
                  dt 销售门槛
                  dd {{ trust.investment_threshold | money_to_10k }}
            .span4-omega
              .card-icon
                dl
                  dt 投资期限
                  dd {{ trust.period | month}}

    .span4-omega.panel-nopadding.panel-header.panel-preorder
      p.font-m 发售日期: {{ trust.issue_date | date:"Y年n月j日"}}
      a#order-button.button-round-large.button-red.padding-l-r-2em(href="#order-form") 立即预约
      p.font-xs 预约成功后，我们将在第一时间联系您。

  .container
    .space-vertical-s
    .panel-nopadding
      .panel-product-title-bar
        .panel-product-title 产品详情
      table.bordered-table.margin-top-m1
        tbody
          tr
            th(colspan="1") 信托名称
            td(colspan="2") {{ trust.name }}
            th(colspan="1") 预计发行规模
            td(colspan="1") {{ trust.scale | money_to_10k }}
          tr
            th(colspan="1") 信托公司
            td(colspan="2") {{ trust.issuer.name }}
            th(colspan="1") 预计年收益
            td(colspan="1") {{ trust.expected_earning_rate | percentage }}
          tr
            th(colspan="1") 存续期
            td(colspan="2") {{ trust.period | month}}
            th(colspan="1") 利息分配
            td(colspan="1") {{ trust.payment | linebreaksbr }}

          tr
            th(colspan="1") 最低认购金额
            td(colspan="2") {{ trust.investment_threshold | money_to_10k }}
            th(colspan="1") 信托类型
            td(colspan="1") {{ trust.type }}

          tr
            th(colspan="1") 投资行业
            td(colspan="2") {{ trust.usage | linebreaksbr }}
            th(colspan="1") 年化收益率
            td(colspan="1") {{ trust.expected_earning_rate | percentage}}

          tr
            th(colspan="1") 收益说明
            td(colspan="2") {{ trust.earning_description | linebreaksbr }}
            th(colspan="1") 抵押率
            td(colspan="1") {{ trust.mortgage_rate }}

          tr
            th(colspan="1") 抵押物
            td(colspan="4") {{ trust.mortgage | linebreaksbr }}

          tr
            th(colspan="1") 产品说明
            td(colspan="4") {{ trust.product_description | linebreaksbr }}

          tr
            th(colspan="1") 风险控制
            td(colspan="4") {{ trust.risk_management | linebreaksbr }}

          tr
            th(colspan="1") 受托人
            td(colspan="4") {{ trust.consignee }}

  include include/footer

  form#order-form.order-form(style="display:none")
    .modal-title-bar
      span.modal-title 填写个人信息
      a.icon-cancel.pull-right(rel="modal:close")
    .padding-xl
      div
        input#name_input.full-width(type="text", placeholder="姓名")
      div.margin-top-s
        input#phone_input.full-width(type="text", placeholder="电话")
      div.margin-top-s
        button#preorder_submit.button.button-middle.button-red.full-width(href="#", type="submit") 立即预约
      div.margin-top-s.light-gray-text 该产品限量发售，留下您的电话投资顾问火速协助抢购

  script.
    require(['/static/js/trust_detail.js'])

  include include/tracking
