doctype html
- with '信托' as title
include include/head
- endwith
body
  include include/header

  - with '信托产品' as activeItem
  include include/navigation
  - endwith

  .sub-navbar
    .sub-navbar--list
      ul
        li.sub-navbar--list-item
          a.sub-navbar--anchor.active(href="{% url 'trust_home' %}") 信托首页
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{% url 'trust_product' %}") 信托产品
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{% url 'trust_company' %}") 信托公司

  .panel-nopadding
    .panel-title-bar
      .panel-title 最新信托产品
      a.panel-title-right-item(href="#") 更多
    // ko template: {name: 'data-table', data: trustTable}
    // /ko

  .panel-nopadding
    .panel-title-bar
      .panel-title 排行榜
      // ko template: {name: 'tabs', data: tab}
      // /ko
    // ko template: {name: 'sub-tabs', data: subTab}
    // /ko
    .panel-content
      // ko template: {name: 'data-table', data: filteredTable}
      // /ko

  include include/footer
  include include/templates

  script.
    require(['/static/js/trust_home.js'])

  include include/tracking