doctype html
- with '信托产品' as title
include include/head
- endwith
body
  include include/header

  - with '信托产品' as activeItem
  include include/navigation
  - endwith
  .sub-navbar
    .sub-navbar--list
      ul
        li.sub-navbar--list-item
          a.sub-navbar--anchor(href="{% url 'trust_home' %}") 信托首页
        li.sub-navbar--list-item
          a.sub-navbar--anchor.active(href="{% url 'trust_product' %}") 信托产品

  .panel-nopadding
    .panel-title-bar
      .panel-title 筛选条件
    .container(data-bind="foreach: {data: filters, afterRender: hookExpandButton}")
      .filter-container(data-bind="css:{expandable: _.has($data, 'expandable')}")
        span.filter-name(data-bind="text: name + ':'") 名字
        // ko foreach: values
        a.filter-item(href="#", data-bind="text: name, css: {active: $root.activeFilters().indexOf($data) != -1}, click: $root.clickOnFilter") 名字
        // /ko

        // ko if: _.has($data, 'expandable')
        a.button-mini.button-pink.absolute-pos.pos-r-s.pos-b-10px(href="#", data-role="expand", data-toggle="expand") 展开
        // /ko

  .panel-nopadding
    .panel-title-bar
      .panel-title 筛选结果

    .panel-content
      // ko template: {name: 'data-table', data: trustTable}
      // /ko

    // ko template: {name: 'pager', data: pager}
    // /ko

  include include/footer
  include include/templates

  script.
    require(['/static/js/trust_products.js'])

  include include/tracking