doctype html
html
  - with '信托公司' as title
  include include/head
  - endwith
  body
    include include/header

    - with '信托产品' as activeItem
    include include/navigation
    - endwith

    .sub-navbar
      .sub-navbar--list
        ul
          li.sub-navbar--list-item
            a.sub-navbar--anchor(href="{% url 'trust_home' %}") 信托首页
          li.sub-navbar--list-item
            a.sub-navbar--anchor(href="{% url 'trust_product' %}") 信托产品

    .panel-nopadding
      .panel-title-bar
        .panel-title 全国信托公司

      div.company-name-list
        a.block-link.float-left(href="#") 安信信托

    include include/footer

    include include/tracking