doctype html
-load formatters

- with '信托' as title
include include/head
- endwith
body
  include include/header

  -with '信托' as activeItem
    include include/navigation

  .space-vertical-m
  .container.hot-list.clearfix
    .hot-list-picture-title
      img(src="/static/images/home_trustfund.jpg", alt="信托产品")
    .hot-list-container
      .hot-list-content.trust-hot-list-content
        first_item = hot_trusts[0].trust
        .hot-item-highlight
          .hot-item-highlight-icon
          h1.hot-item-title
            a.hot-item-title-link(href="/trust/detail/{{first_item.id}}", target="_blank") {{first_item.short_name}}
          .hot-item-list.clearfix.hot-trust-info-container.lh-m
            dl
              dt 投资收益
              dd
                span.hot-list-num-l {{first_item.expected_earning_rate | percentage}}
              dd
                a.order-button.button.button-middle.button-red.button-l(href="#order-form", data-trust-id="{{first_item.id}}", data-trust-name="{{first_item.short_name}}") 立即预约
            ul
              li
                产品期限：
                span.dark-gray {{first_item.period | month}}
              li
                起购金额：
                span.dark-gray {{first_item.investment_threshold | money_to_10k}}
              li
                投资行业：
                span.dark-gray {{first_item.usage}}
              li
                付息方式：
                span.dark-gray {{first_item.interest_method}}
              li.no-border-bottom
                信托公司：
                span.dark-gray {{first_item.issuer.name}}
          .hot-item-comments
            点 评：{{first_item.brief}}
        - for index in 1|get_range:3
          item = hot_trusts[index].trust
          .hot-item-normal
            h1.hot-item-title
              a.hot-item-title-link(href="/trust/detail/{{item.id}}", target="_blank") {{item.short_name}}
            .hot-item-list.clearfix
              dl.hot-trust-info-container.lh-xs
                dd 投资收益
                dd.font-m
                  span.hot-list-num-m {{item.expected_earning_rate | percentage}}
                dd 产品期限：
                  span.dark-gray {{item.period | month}}
                dd 付息方式：
                  span.dark-gray {{item.interest_method}}
                dd
                  a.order-button.button.button-middle.button-red.button-m(href="#order-form", data-trust-id="{{item.id}}", data-trust-name="{{item.short_name}}") 立即预约
            .hot-item-comments 点 评：{{item.brief}}
        .buy_process
          img(src="/static/images/home_trustfund_icon.jpg", alt="信托基金购买流程")
    .space-vertical-m

  .panel
    .panel-title-bar
      .panel-title 排行榜
      // ko template: {name: 'tabs', data: tab}
      // /ko
    // ko template: {name: 'sub-tabs', data: subTab}
    // /ko
    .panel-content
      // ko template: {name: 'data-table', data: filteredTable}
      // /ko

  include include/footer
  include include/templates

  form#order-form.order-form(style="display:none")
      .modal-title-bar
          span.modal-title 填写个人信息
          a.icon-cancel.pull-right(rel="modal:close")
      .padding-xl
          div
            input#name_input.full-width(type="text", placeholder="姓名")
          div.margin-top-s
            input#phone_input.full-width(type="text", placeholder="电话")
          div.margin-top-s
            button#preorder_submit.button.button-middle.button-red.full-width(href="#", type="submit") 立即预约
          div.margin-top-s.d3-text.align-center
            预约成功后，我们将在第一时间联系您<br/>或直接拨打
            span.highlight 400-8588-066

  script.
    require(['/static/js/trust_home.js'])

  include include/tracking